<form class="fidelity-popup-form" style="font-size: 0.9rem!important;" [formGroup]="armDisarmForm" customForm>
  <div>
    <div>
      <div class="view-box">
        <div class="container-fluid">
          <div class="header-row row" style="font-size: 1rem;white-space: nowrap;flex-wrap: nowrap;">
            <div class="col-4">Day</div>
            <div class="col-2">Disarm Start</div>
            <div class="col-2"> Disarm End </div>
            <div class="col-2">Arm Start</div>
            <div class="col-2"> Arm End </div>
          </div>
        </div>
        <div class="" formArrayName="armDisarmList"
          *ngFor="let obj of armDisarmForm?.get('armDisarmList')?.controls;let i=index">
          <div class="row mt-2">
            <div class="container-fluid">
              <div class="children-row row mb-2" style="flex-wrap: nowrap;" [formGroupName]="i">
                <div class="col-4">
                  <input type="text" value="{{obj.get('dayName')?.value}}" class="form-control fidelity-form-input "
                    name="Date" disabled>
                </div>
                <div class="col-2">
                  <div class="  p-relative">
                    <div class="form-group p-relative">
                      <p-calendar [timeOnly]="true" formControlName="disarmStartTime" [style]="{'width':'100%'}"
                        [minDate]="minDate" hourFormat="12" [readonlyInput]="true" appendTo="body"
                        [disabled]="obj.get('disarmStartTime')?.value ? true: true">
                      </p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group p-relative">
                    <p-calendar [timeOnly]="true" formControlName="disarmEndTime" [style]="{'width':'100%'}"
                      hourFormat="12" [readonlyInput]="true" [disabled]="obj.get('disarmEndTime')?.value ? true: true"
                      appendTo="body">
                    </p-calendar>
                  </div>
                </div>
                <div class="col-2">
                  <div class="  p-relative">
                    <div class="form-group p-relative">
                      <p-calendar [timeOnly]="true" formControlName="armStartTime" [style]="{'width':'100%'}"
                        [minDate]="minDate" hourFormat="12" [readonlyInput]="true" appendTo="body"
                        [disabled]="obj.get('armStartTime')?.value ? true: true">
                      </p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group p-relative">
                    <p-calendar [timeOnly]="true" formControlName="armEndTime" [style]="{'width':'100%'}"
                      hourFormat="12" [readonlyInput]="true" [disabled]="obj.get('armEndTime')?.value ? true: true"
                      appendTo="body">
                    </p-calendar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix" style="margin-top: 20px;">
      <div class="text-center">
        <button (click)="onSubmitArmDisarm()" type="button"
          class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Reschedule</button>
        <button (click)="close()" class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
      </div>
    </div>
  </p-footer>
</form>