<div class="page-heading ">
    <h1 class="page-title no-border">View Item Mapping</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuartion</li>
        <li class="breadcrumb-item"><a (click)="redirectToListPage()">Item Mapping List</a>
        </li>
        <li class="breadcrumb-item">View Item Mapping</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a title="Edit" (click)="Edit()"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            id="pricinf_edit_btn">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <p-scrollPanel [style]="{height: '35vh'}" styleClass="custom">
                    <div class="ibox-body brown-border white-bg">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row line-height">
                                    <div class="col-lg-6">
                                        <div id="key_Purchase_Order">Item Category</div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div id="value_orderNumber"><b>{{itemMappingAddEditModel?.itemCategoryName}}</b>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row line-height">
                                    <div class="col-lg-4">
                                        <div id="key_Return_Supplier">Items</div>
                                        <!-- <div id="key_Supplier_Name">Status</div> -->
                                    </div>
                                    <div class="col-lg-7">
                                        <div id="value_supReturnNumber">
                                            <p-scrollPanel [style]="{height: '30vh'}" styleClass="custom">
                                                <b>{{itemNames}}</b>
                                            </p-scrollPanel></div>                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>
