<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="statsConfigForm" (ngSubmit)="onSubmit()">

        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border sm-inputs">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Group Name<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="20"
                                    placeholder="Enter Group Name" formControlName="groupName">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*
                                    </span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAStringOnly' minlength="10" maxlength="100"
                                    placeholder="Enter Description" formControlName="description">
                                 </textarea>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group" id="main_area_con">
                                <label>Alarm Type<span class="mandatory-field">*
                                    </span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="statsConfigAlarmTypesList" multiple placeholder="Select Alarm">
                                    <mat-option value="" #allSelectedAlarm *ngIf="alarmTypeDropDown.length > 0"
                                        (click)="toggleAllAlarm()" selected>All Alarm</mat-option>
                                    <mat-option *ngFor="let item of alarmTypeDropDown" [value]="item.id"
                                        (click)="toggleAlarmOne(allSelectedAlarm?.viewValue)">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group" id="main_area_con">
                                <label>Event Type<span class="mandatory-field">*
                                    </span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="statsConfigEventTypesList" multiple placeholder="Select Event">
                                    <mat-option value="" #allSelectedEvent *ngIf="eventTypeDropDown.length > 0"
                                        (click)="toggleAllEvent()" selected>All Event</mat-option>
                                    <mat-option *ngFor="let item of eventTypeDropDown" [value]="item.id"
                                        (click)="toggleEventOne(allSelectedEvent?.viewValue)">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round active"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </p-scrollPanel>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{statsConfigId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/event-configuration' [queryParams]="{tab:23}">Cancel</button>
        </div>

    </form>
</div>