.custom-table {
  width: 100%;
  overflow: scroll;
  thead {
    background-color: #115943 !important;
    border-top: none;
    color: #fff;
  }
  td,
  th {
    border-top: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
    font-size: 11px;
  }
}

::ng-deep .custom-table {
  p-table {
    thead {
      background-color: #115943 !important;
      border-top: none;
      color: #fff;
    }
  }
}






