
.search-input {
    margin-right: 15px;
  }
  ::ng-deep .mat-autocomplete-panel .mat-option .mat-option-text {
    font-size: 0.9rem!important;
  }
  ::ng-deep .search-input .mat-form-field {
    border-radius:8px!important
  }
  // ::ng-deep .search-input .mat-form-field-infix {
  //     padding:5px!important
  // }
  
  ::ng-deep .search-input  {
  mat-form-field.mat-form-field.global-search-field {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
  
    .global-search-field .mat-form-field-infix input {
      padding: 0!important;
      border-radius: 0!important;
      border: none!important;
    }
  
    .mat-form-field-suffix {
      top: 6px !important;
      right: -35px !important;
    }
  
  }
  }
  
  
  i.fa.fa-times.clear{
    position: absolute !important;
      right: 7px !important;
      top: 9px !important;
  }
  
  .close {
    opacity: 1;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
  }
  
  
  .icons-extension{
    border: 1px solid #ddd;
      border-radius: 50%;
      padding: 7px;
      background: #21755b;
      color: #fff !important;
  }
  .icons-extension-inactive{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 7px;
    color: #8A8A8A !important;
  }
  
  .main-extensions{
    border-radius: 10px;
      cursor: pointer;
      border: 1px solid rgb(221, 221, 221);
      padding: 2px 10px 7px 10px !important;
      font-weight: 600 !important;
      color: #868e96 !important;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .status-indicator-call {
    height: 11px !important;
    width: 11px !important;
  }
  
  .disabled-tick{
    color: #569e8733 !important;
  }
  
  .tick-green{
    color : #21755b
  }
  