<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
[breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox white-bg" style="height: auto;">
    <p-scrollPanel [style]="{height: '73vh'}" styleClass="custom">
      <div class="ibox-body partition-info-page">
        <form customForm [formGroup]="adhocPriceAddEditForm" (ngSubmit)="openDialog()">
          <div class="row">
            <div class="col-2">
              <div class="form-group">
                <label>Region<span class="mandatory-field">*</span></label>
                <select name="Region" class="form-control fidelity-form-input" formControlName="regionId">
                  <option value="" disabled>Select Region</option>
                  <option *ngFor="let Region of regionList" [value]="Region.id">
                    {{Region.displayName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Division<span class="mandatory-field">*</span></label>
                <p-multiSelect [options]="divisionDropDown" [defaultLabel]="'Select Division'" formControlName="divisionIds" styleClass="w-100"></p-multiSelect>
              </div>
              <span *ngIf="division"
                style="position: absolute;bottom: -22px!important;top:61px;z-index: 10!important;width: 100%;">
                <span class="duplicate" style="font-size: 0.73em !important;">
                  Division is required
                </span>
              </span>
            </div>
            <div class="col-2">
              <div class="float-left">
                <div class="float-left"></div>
                <button type="submit" style="margin-left: 15px;
                                        margin-top: 27px;" class="btn btn-md-fidelity fidelity-btn-brown">
                  Add
                </button>
              </div>
            </div>
          </div>
          <div class="" *ngIf="priceIncreaseList.length > 0">
            <div class="row">
              <div class="col-2">
                <label>District </label>
              </div>
              <div class="col-2">
                <label>Stock Id</label>
              </div>
              <div class="col-2">
                <label>Service</label>
              </div>
              <div class="col-2">
                <label>Price Increase %</label>
              </div>
              <div class="col-2">
                <label>Price Increase Amount</label>
              </div>
            </div>
            <div class="row" *ngFor="let data of priceIncreaseList">
              <div class="col-2">
                <input class="form-control fidelity-form-input disabled" type="text" value="{{data.districtName}}" />
              </div>
              <div class="col-2">
                <input class="form-control fidelity-form-input disabled" type="text" value="{{data.stockIdName}}" />
              </div>
              <div class="col-2">
                <input class="form-control fidelity-form-input disabled" type="text" value="{{data.serviceName}}" />
              </div>
              <div class="col-2">
                <input class="form-control fidelity-form-input disabled" type="text"
                  value="{{data.priceIncreasePercentage}}" />
              </div>
              <div class="col-2">
                <input class="form-control fidelity-form-input disabled" type="text"
                  value="{{data.priceIncreaseAmount}}" />
              </div>
              <div class="col-2">
                <a matTooltip="edit" id="delete_record" class="delete-row " (click)="openDialog(data)"><i
                    aria-hidden="true" class="icon icon-edit"></i>
                </a>
                <a style="margin-left: 10px;" matTooltip="Delete" id="delete_record" class="delete-row "
                  (click)="removeRecord(data)"><i aria-hidden="true" class="icon icon-delete"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:24px;">
            <div class="col-4">
            </div>
            <div class="col-4">
              <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="button"
                (click)="next()">Next</button>
              <button mat-button class="btn btn-md-fidelity fidelity-btn-grey"
                [routerLink]="['/billing/price-increase-configuration']" [queryParams]="{tab:4}"
                type="button">Cancel</button>
            </div>
            <div class="col-4">
            </div>
          </div>
        </form>
      </div>
    </p-scrollPanel>
  </div>
</div>
