  .columns-p-table{
      width: 150px !important;
      padding: 2px;
      .fidelity-form-input{
        font-size: 15px !important;
      }
  }

  .columns-p-table-full-width{
    width: 200px !important;
    padding: 2px;
    .fidelity-form-input{
      font-size: 15px !important;
    }
}

  ::ng-deep .custom-table p-table{
    .ui-table-thead{
      background-color: #00644a;
      color: #fff !important;
      .columns-p-table{
        padding-left: 12px !important;
      }
    }
  }
