<div class="fidelity-popup-heading container-fluid p-relative">Price Increase Config - Site Type
  <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<div *ngIf="data.pricingConfigSiteTypeId" class="grid-icons-con  customer-info-btns float-right mt-2"
  (click)="editPage()">
  <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
    id="pricinf_edit_btn" title="Edit"><i aria-hidden="true" class="icon icon-edit"></i>
  </a>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content *ngIf="!data.pricingConfigSiteTypeId">
  <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
    <form customForm class="fidelity-popup-form billing-model" [formGroup]="priceIncreaseConfigAddEditForm"
      (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Site Type <span class="mandatory-field">*</span></label>
            <p-multiSelect [options]="siteTypeList" [defaultLabel]="'Select Site Type'" formControlName="siteTypeIds" styleClass="w-100"></p-multiSelect>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Price Limit Desc<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" formControlName="priceLimitDescription"
              placeholder="Select Price Limit Desc" type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Lower Limit<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" [validateInput]="isADecimalOnly"
              formControlName="lowerLimit" placeholder="Select Lower Limit" type="text"
              [validateInput]="isADecimalOnly" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Upper Limit<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" [validateInput]="isADecimalOnly"
              formControlName="upperLimit" placeholder="Select Upper Limit" type="text"
              [validateInput]="isADecimalOnly" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Price Increase %<span class="mandatory-field ">*</span></label>
            <input class="form-control fidelity-form-input" max="99" [dropSpecialCharacters]="false" mask="percent.2"
              formControlName="priceIncreasePercentage" placeholder="Select Price Increase %" type="text" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
              <label class="d-block">Status<span class="mandatory-field">*</span></label>
              <label class="switch add-stack-status">
                  <input type="checkbox" formControlName="isActive">
                  <span class="slider round active"></span>
              </label>
          </div>
      </div>
      </div>
      <hr>
      <mat-dialog-actions align="end">
        <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
          cdkFocusInitial>Save</button>
        <button type="button" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
          [mat-dialog-close]="true">Cancel</button>
      </mat-dialog-actions>
    </form>
  </p-scrollPanel>
</mat-dialog-content>
<mat-dialog-content *ngIf="data.pricingConfigSiteTypeId">
  <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
    <form customForm class="fidelity-popup-form billing-model" [formGroup]="priceIncreaseConfigAddEditForm"
      (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Region</label>
            <input value="{{priceDetails?.regionName}}" class="form-control fidelity-form-input disabled" type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Division</label>
            <input value="{{priceDetails?.divisionName}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>District</label>
            <input value="{{priceDetails?.districtName}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Branch</label>
            <input value="{{priceDetails?.branchName}}" class="form-control fidelity-form-input disabled" type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Business Area</label>
            <input value="{{priceDetails?.businessArea}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Site Type</label>
            <input value="{{priceDetails?.siteTypeName}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Price Limit Desc<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" formControlName="priceLimitDescription"
              [ngClass]="{'disabled': !isEdit}" placeholder="Select Price Limit Desc" type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Lower Limit<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" [ngClass]="{'disabled': !isEdit}"
              [validateInput]="isADecimalOnly" formControlName="lowerLimit" placeholder="Select Lower Limit" type="text"
              [validateInput]="isADecimalOnly" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Upper Limit<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" [ngClass]="{'disabled': !isEdit}"
              [validateInput]="isADecimalOnly" formControlName="upperLimit" placeholder="Select Upper Limit" type="text"
              [validateInput]="isADecimalOnly" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Price Increase %<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" [ngClass]="{'disabled': !isEdit}" max="99"
              [dropSpecialCharacters]="false" mask="percent.2" formControlName="priceIncreasePercentage"
              placeholder="Select Price Increase %" type="text" />
          </div>
        </div>
      </div>
      <hr>
      <mat-dialog-actions align="end">
        <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
          cdkFocusInitial>Save</button>
        <button type="button" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
          [mat-dialog-close]="true">Cancel</button>
      </mat-dialog-actions>
    </form>
  </p-scrollPanel>
</mat-dialog-content>
