<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
    (buttonClicked)="onCRUDRequested($event)" [selectedTabIndex]="0">
</app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body">
                <app-view-page [col]="2" [viewDetail]="incentiveCalculationDetail" [template]="3"
                    [marginClass]="'p-0'"></app-view-page>
                <div class="row" *ngIf="techIncentiveDetails?.approvals?.length > 0">
                    <div class="col-12 page-sub-title mt-2 mb-2">APPROVALS</div>
                </div>
                <div class="row" *ngIf="techIncentiveDetails?.approvals?.length > 0">
                    <div class="col-12">
                        <div class="col-12" style="background: #e5e5e5;">
                            <div class="row">
                                <div class="col-3">
                                    <strong> Role Name</strong>
                                </div>
                                <div class="col-2">
                                    <strong> Approver Name</strong>
                                </div>
                                <!-- <div class="col-2">
                                         <strong> Approved By</strong>
                                      </div> -->
                                <!-- <div class="col-2">
                                        <strong> Amount </strong>
                                     </div> -->
                                <div class="col-3">
                                    <strong> Status</strong>
                                </div>
                                <div class="col-4">
                                    <strong> Comments</strong>
                                </div>
                            </div>
                            <p-scrollPanel [style]="{height: '20vh'}" styleClass="custom">
                                <div class="row" *ngFor="let item of techIncentiveDetails?.approvals">
                                    <div class="col-3">
                                        {{item?.roleName ? item?.roleName : '--'}}
                                    </div>
                                    <div class="col-2">
                                        {{item?.approverName ? item?.approverName : '--'}}
                                    </div>
                                    <!-- <div class="col-2">
                                            {{item?.approvedByName ? item?.approvedByName : '--'}}
                                        </div> -->
                                    <!-- <div class="col-2">
                                            {{item?.approvedAmount ? item?.approvedAmount : '--'}}
                                        </div> -->
                                    <div class="col-3">
                                        {{item?.techIncentiveStatusName ? item?.techIncentiveStatusName : '--'}}
                                    </div>
                                    <div class="col-4">
                                        {{item?.approvalComments ? item?.approvalComments : '--'}}
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
    <ng-container *ngIf="techIncentiveApprovalId">
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="cancel()">Back</button>
        </div>
    </ng-container>
</div>