<div class="page-heading ">
  <h1 class="page-title d-inline-block">{{alarmSystemModelTypeId ? 'Update': 'Create'}} Model Type</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
    <li class="breadcrumb-item">
      <a>Configuration</a>
    </li>
    <li class="breadcrumb-item">
      <a>Billing Configuration</a>
    </li>
    <li class="breadcrumb-item">
      <a>Purchase Of Alarm System</a>
    </li>
    <li class="breadcrumb-item" (click)="navigateToList()">
      <a>Model Type</a>
    </li>
    <li class="breadcrumb-item" (click)="navigateToView()" *ngIf="alarmSystemModelTypeId">
      <a>View Model Type</a>
    </li>
    <li class="breadcrumb-item">
      {{alarmSystemModelTypeId ? 'Update': 'Create'}} Model Type
    </li>
  </ol>
</div>
<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">
      <form class="fidelity-popup-form" customForm [formGroup]="modelTypeAddEditConfigForm" (ngSubmit)="onSubmit()">
        <div class="ibox" style="height: auto;">
          <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body mb-3">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label>Model Type<span class="mandatory-field">*</span></label>
                    <input class="form-control fidelity-form-input" type="text"
                      formControlName="alarmSystemModelTypeName" name="Model Type" [minlength]="formConfigs.one"
                      [maxlength]="formConfigs.firstNameMaxLength" />
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">{{alarmSystemModelTypeId ? 'Update':
            'Create'}}</button>
          <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
            (click)="navigateToList()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>