.filter-dropdwon-con {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px #cccccc61;
    top: 65px;
    right: 0px;
    z-index: 5;

    .form-group {
        width: 80%;
    }

    ::ng-deep .date-picker {
        mat-form-field.mat-form-field {
            border-radius: 7px;
        }

        .mat-form-field-appearance-legacy .mat-form-field-infix {
            padding: 9px 0!important;
        }
    }

    ::ng-deep .fidelity-date-picker-con {
        mat-form-field.mat-form-field {
            width: 90% !important;
        }
    }

    ::ng-deep .leads-category-con {
        mat-form-field.mat-form-field {
            border: none!important;
        }

        .mat-form-field-infix .mat-select {
            padding: 8.2px 8px;
        }
    }
}

::ng-deep .call-status-table p-table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body {
    max-height: 43vh !important;
}
