.key {
    display: inline-block;
    width: 42%;
    color: #8A8A8A;
    word-wrap: break-word;
  }
  
  .value {
    width: 58%;
    word-wrap: break-word;
  
    ::ng-deep .status-label-yellow.status-label {
        width: 32%;
        font-size: 0.8rem;
    }
  
  }
  
  ::ng-deep .close-button.mat-icon-button {
    color: #fff;
    opacity: 1;
    top: 5px;
    right: 10px;
    padding: 0!important;
    position: absolute!important;
  
    .mat-button-wrapper {
      color: #fff!important;
    }
  }
  
  ::ng-deep .close-button.mat-icon-button:hover {
    color: #fff!important;
    opacity: 1;
    padding: 0!important;
  }