<div class="fidelity-popup-heading container-fluid">Menu {{btnName}}
    <button mat-icon-button class="close-button " style="float: right;margin-top: -3px;margin-right: -20px;" (click)="closeDialog(false)">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="menuConfigForm" customForm (ngSubmit)="onSubmit()" [formGroup]="menuConfigForm">
    <div class="p-4">
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="regionId">Menu Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input-custom-control [autocomplete]="'off'"  [maxlength]="100" formControlName="menuName"></input-custom-control>
             </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="divisionId">Feature Type<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <select-custom-control [loopableArray]='featureTypes'
                [defaultOptionValue]="null" formControlName="menuCategoryId">
            </select-custom-control>
             </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="districtId">URL (Optional)</label>
            <div class="col-md-12">
                <input autocomplete="off" class="form-control fidelity-form-input" placeholder="URL"
               formControlName="url" name='URL' />
             </div>
        </div>

        <div class="form-group row mb-2" *ngIf="isSmallIconIsRequired">
            <label class="col-md-12 col-form-label" for="branchName">Icon<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input-custom-control [autocomplete]="'off'" formControlName="smallIcon"></input-custom-control>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="branchName">Sort Order<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input-custom-control [autocomplete]="'off'" formControlName="sortOrder"></input-custom-control>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="branchName">Do you want to include a module list?</label>
            <div class="col-md-12">
                <mat-radio-group aria-label="Select status"
                [formControl]="menuConfigForm?.controls['isRoleModuleMapping']">
                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                </mat-radio-button>
                <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                </mat-radio-button>
            </mat-radio-group>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="branchName">Is Active</label>
            <div class="col-md-12">
                <mat-radio-group aria-label="Select status"
                [formControl]="menuConfigForm?.controls['isActive']">
                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">True
                </mat-radio-button>
                <mat-radio-button class="fidelity-radio-btn" [value]="false">False
                </mat-radio-button>
            </mat-radio-group>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="branchName">Staff Registration Screen?</label>
            <div class="col-md-12">
                <mat-radio-group aria-label="Select status"
                [formControl]="menuConfigForm?.controls['isRoleModuleMapping']">
                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                </mat-radio-button>
                <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                </mat-radio-button>
            </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">{{btnName}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="closeDialog(false)">Cancel</button>

    </div>
</form>
