<div class="page-heading">
  <h1 class="page-title">Menu Configuration</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i aria-hidden="true" class="fa fa-home"></i> </a>
    </li>
    <li class="breadcrumb-item"><a>IT Management</a></li>
    <li class="breadcrumb-item">Menu Configuration</li>
  </ol>
  <div class="grid-icons-con float-right pr-0">
    <a id="add_new_role_btn" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
      (click)="onOpenMenuConfigPopup('new parent')" matTooltip="Add New">
      <i aria-hidden="true" data-icon="b" class="icon"></i></a>
  </div>
  <div class="clearfix"></div>
</div>

<div class="ibox white-bg">
  <div class="ibox-head d-none">
    <div class="ibox-title">Line tabs</div>
  </div>

  <div class="ibox-body1">
    <div class="row pr-3">
      <div class="col-md-11 p-relative">
        <input [(ngModel)]="searchText" validateInput class="form-control fidelity-form-input"
          (keyup)="searchText$.next(searchText)" type="text" autocomplete="off" placeholder="Search"
          id="role_search_input" />
        <mat-icon [ngStyle]="{'visibility':searchText?'visible':'hidden'}" matTooltip="clear search" 
          class="p-absolute close-icon cursor-pointer" style="right: 25px;top: 7px;"
          (click)="searchText='';searchText$.next(searchText)" color="#fff">close</mat-icon>
      </div>
      <button class="col-md-1 btn btn-default" (click)="getMenuConfigurations()">Refresh</button>
    </div>
    <div class="body-content" style="height: 54vh;
    margin-top: 12px;">
      <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
        <mat-tree [dataSource]="dataSource" [treeControl]="flatTreeControl">
          <!-- Without Children -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <li style="width: 100%;">
              <div class="tree-node">
                <button id="single-{{node.menuName}}" mat-icon-button disabled>
                </button>
                {{node.menuName}}
                <span class="icon-con" *ngIf="caption!=='Employee Creation'">
                  <button id="single{{node.menuName}}" class="circle-edit-btn"
                    (click)="onOpenMenuConfigPopup('edit first level child',node)" matTooltip="Edit"
                    style="top: 0px;left: 7px;"><i aria-hidden="true" class="icon icon-edit"></i></button>
                  <button id="single_add{{node.menuName}}" class="circle-plus-btn"
                    (click)="onOpenMenuConfigPopup('add first level child',node)" matTooltip="Add"
                    style="top: 0px;left: 10px;"><i aria-hidden="true" class="icon trash" data-icon="b"></i></button>
                  <button id="single_delete{{node.menuName}}" class="circle-plus-btn"
                    (click)="onOpenMenuConfigPopup('delete first level child',node)" matTooltip="Delete"
                    style="top: 0px;left: 15px;"><i aria-hidden="true" class="icon icon-delete"
                      data-icon="b"></i></button>
                </span>
                <span class="icon-con" *ngIf="caption=='Employee Creation'">
                  <button (click)="onRoleSelection(node)" type="button"
                    class="btn btn-md-fidelity btn-default">Select</button>
                </span>
              </div>
            </li>
          </mat-tree-node>
          <!-- With Children -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <li style="width: 100%;">
              <div class="mat-tree-node"><span class="child-role">
                  <button id="nested-{{node.menuName}}" mat-icon-button matTreeNodeToggle>
                    <span class="font-icon"
                      [className]="flatTreeControl.isExpanded(node)?'fa fa-caret-down' : 'fa fa-caret-right' "></span>
                  </button> {{node.menuName}}
                  <span class="icon-con" *ngIf="caption!=='Employee Creation'">
                    <button id="nested{{node.menuName}}" class="circle-edit-btn"
                      (click)="onOpenMenuConfigPopup('edit nested level child',node)" matTooltip="Edit"
                      style="top: 0px;left: 7px;"><i aria-hidden="true" class="icon icon-edit"></i></button>
                    <button id="nested_add{{node.menuName}}" class="circle-plus-btn"
                      (click)="onOpenMenuConfigPopup('add nested level child',node)" matTooltip="Add"
                      style="top: 0px;left: 10px;"><i aria-hidden="true" class="icon trash" data-icon="b"></i></button>
                    <button id="single_delete{{node.menuName}}" class="circle-plus-btn"
                      (click)="onOpenMenuConfigPopup('delete nested level child',node)" matTooltip="Delete"
                      style="top: 0px;left: 15px;"><i aria-hidden="true" class="icon icon-delete"
                        data-icon="b"></i></button>
                  </span>
                  <span class="icon-con" *ngIf="caption=='Employee Creation'">
                    <button (click)="onRoleSelection(node)" type="button"
                      class="btn btn-md-fidelity btn-default">Select</button>
                  </span>
                </span>
              </div>
            </li>
          </mat-tree-node>

        </mat-tree>
        <div class="no-records-found" *ngIf="dataSource.data?.length === 0&&menuCategories.length>0">
          <h4 class="text-muted"><i>No Records Found</i></h4>
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>
