.icon-con {
  visibility: hidden;
  }
  
  .mat-tree-node + ul > .mat-nested-tree-node li{
    font-size: 12px!important;
    color: #8A8A8A;
  }
  
  mat-tree-node.mat-tree-node {
    height: 36px!important;
    li {
      .icon-con {
        .fidelity-btn-circle {
          width: 25px !important;
          height: 25px !important;
          font-size: 0.8rem;
        }
      }
      &:hover {
        .icon-con {
          visibility: visible;
        }
      }
    }
  }
  span.child-role:hover> .icon-con{
    visibility: visible;
  }
  
  mat-nested-tree-node.mat-nested-tree-node > li {
    .mat-tree-node {
      li {
        .icon-con {
          .fidelity-btn-circle {
            width: 25px !important;
            height: 25px !important;
            font-size: 0.8rem;
          }
        }
        &:hover {
          .icon-con {
            visibility: visible;
          }
        }
      }
    }
  }
  
    .mat-tree-node {
      min-height: 30px!important;
    }
  
    .mat-icon-button {
        height: 30px;
        line-height: 26px;
  
        ::ng-deep .mat-button-wrapper {
          vertical-align: top!important;
      }
    }
  
  
    ul,
  li {
    list-style-type: none;
    margin: 0;
  }
  
  
