<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{viewStatus ? 'View' : 'Update'}} Tech Stock Take Time Allocations</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Technical</a>
        </li>
        <li class="breadcrumb-item" (click)="navigateToList()">
            <a>Stock Take Time Allocations List</a>
        </li>
        <li class="breadcrumb-item" (click)="naviagetToViewpage()">
            <a>Stock Take Time Allocations View</a>
        </li>
        <li class="breadcrumb-item" *ngIf="!viewStatus">
            Stock Take Time Allocations Update
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2" *ngIf="viewStatus">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="naviagetToEditpage()">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <div class="ibox-body" *ngIf="viewStatus">
            <app-view-page [col]="2" [viewDetail]="stockTakeAllocationDetail">
            </app-view-page>
        </div>
        <div class="ibox-body" *ngIf="!viewStatus">
            <form customForm [formGroup]="stockTakeTimeAllocationsForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Region </label>
                            <input class="form-control fidelity-form-input disabled"
                                [value]="stockTimeAllocationsDetails?.region" placeholder="Region">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label> Division </label>
                            <input class="form-control fidelity-form-input disabled"
                                [value]="stockTimeAllocationsDetails?.division" placeholder="Division">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label> District </label>
                            <input class="form-control fidelity-form-input disabled"
                                [value]="stockTimeAllocationsDetails?.district" placeholder="District">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label> Branch </label>
                            <input class="form-control fidelity-form-input disabled"
                                [value]="stockTimeAllocationsDetails?.branch" placeholder="Branch">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label> Tech Area </label>
                            <input class="form-control fidelity-form-input disabled"
                                [value]="stockTimeAllocationsDetails?.techarea" placeholder="Tech area">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label> Scheduled Time(From) <span class="mandatory-field">*</span></label>
                            <div class="p-relative">
                                <div class="form-group p-relative">
                                    <p-calendar [timeOnly]="true" formControlName="scheduledFrom"
                                        [style]="{'width':'100%'}" [minDate]="minDate">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label> Scheduled Time(To) <span class="mandatory-field">*</span></label>
                            <div class="p-relative">
                                <div class="form-group p-relative">
                                    <p-calendar [timeOnly]="true" formControlName="scheduledTo"
                                        [style]="{'width':'100%'}" [minDate]="minDate">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- (onSelect)="onSelectFirstTime($event, null, 'filter')" -->
                    <div class="col-4">
                        <div class="form-group">
                            <label class="d-block"> Status <span class="mandatory-field">*</span> </label>
                            <select name="status" class="form-control fidelity-form-input" formControlName="status">
                                <option value="null" disabled>Select status</option>
                                <option [value]="item.value" *ngFor="let item of statusDropdown; let i=index">
                                    {{item.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        (click)="navigateToList()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>