<div class="fidelity-popup-heading container-fluid p-relative">Quote Decline
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>   
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm (ngSubmit)="onSubmit()" [formGroup]="declinedReasonAddEditForm">
    <mat-dialog-content>
        <div class="col-12">
            <div class="form-group">
                <label>Do you confirm that you would like to Decline the quote {{data?.quotationNumber}}</label>
                </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label>Reason <span class="mandatory-field">*</span></label>
                <select name="Reason" class="form-control fidelity-form-input"
                    formControlName="outcomeReasonId">
                    <option value='' disabled>Select Reason</option>
                    <option *ngFor="let type of outComeReason" [value]="type.id">
                        {{type.displayName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label>Notes<span class="mandatory-field">*</span></label>
                <textarea formControlName="comments" name="" class="form-control fidelity-form-input" rows="3" name="Note"
                     maxlength="500"></textarea>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="submit">Yes</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button" [mat-dialog-close]="true" >No</button>
    </mat-dialog-actions>
</form>