<div class="page-heading ">
    <!-- <h1 class="page-title no-border">{{warehouseStockTakeInitiationId ? 'Update' : 'Add'}} Stock Take Scheduling</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item"> Inventory Management </li>
        <li class="breadcrumb-item"> Stock Take </li>
        <li class="breadcrumb-item"><a (click)="redirectToList()">Stock Take Scheduling List</a>
        </li>
        <li class="breadcrumb-item" *ngIf="warehouseStockTakeInitiationId"><a (click)="redirectToView()">View Stock Take Scheduling</a>
        </li>
        <li class="breadcrumb-item">{{warehouseStockTakeInitiationId ? 'Update' : 'Add'}} Stock Take Scheduling</li>
    </ol> -->
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)">
   </app-page-header>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="stockInitiateForm" (ngSubmit)="submitStockInitiation()">
        <div class="ibox white-bg" style="height: auto;">
            <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                <div class="ibox-body">
                    <div>
                        <div class="row">
                            <div class="col-5">
                                <div class="form-group">
                                    <label>Warehouse<span class="mandatory-field">*</span></label>
                                    <div class="form-group fidelity-multiselect-dropdown-con" style="display: flex;flex-wrap: wrap;">
                                      <mat-select-autocomplete
                                           class="input-width-medium" id="stockWarehouse"
                                           name="Warehouse"
                                           [formControl]="stockInitiateForm?.controls['warehouseId']"
                                           [placeholder]="'Select Warehouse'" [options]="warehouseList"
                                           [display]="'display'" [multiple]='true' [value]="'value'"
                                          ngDefaultControl [disabled]="warehouseStockTakeInitiationId">
                                      </mat-select-autocomplete>    
                                      <span class="text-danger" *ngIf="(stockInitiateForm?.controls['warehouseId']?.touched && stockInitiateForm?.controls['warehouseId']?.invalid)">
                                        Warehouse is required
                                    </span>                             
                                  </div>                                  
                                </div>
                            </div>

                            <div class="col-4">
                            <div class="form-group">
                                <label>Scheduled Date<span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" name="" formControlName="warehouseScheduleDateId">
                                    <option value="">--Scheduled Date--</option>
                                    <option *ngFor="let scheduledDateData of scheduledDateList"
                                    [value]="scheduledDateData?.id">
                                        {{scheduledDateData?.displayName}}
                                    </option>
                                </select>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-center mt-3">
            <button  class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{warehouseStockTakeInitiationId ? 'Update' : 'Save'}}</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
            (click)="redirectToList()">Cancel</button>
        </div>
    </form>



</div>
