<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
[breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox" style="height: auto;">

    <form [formGroup]="priceIncreaseExclusionForm" customForm (ngSubmit)="onSubmit()">
      <p-scrollPanel [style]="{height: '66vh'}" styleClass="custom">
        <div class="ibox-body">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Region</label>
                <select name="Region" class="form-control fidelity-form-input" formControlName="regionId">
                  <option value="" disabled>Select Region</option>
                  <option *ngFor="let region of regions" [value]="region.id">
                    {{region.displayName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Division</label>
                <select name="division" class="form-control fidelity-form-input" formControlName="divisionId">
                  <option value="" disabled>Select Division</option>
                  <option *ngFor="let division of divisions" [value]="division.id">
                    {{division.displayName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>District</label>
                <select name="district" class="form-control fidelity-form-input" formControlName="districtId">
                  <option value="" disabled>Select District</option>
                  <option *ngFor="let district of districts" [value]="district.id">
                    {{district.displayName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Branch Name</label>
                <select name="branch" class="form-control fidelity-form-input" formControlName="branchId">
                  <option value="" disabled>Select Branch</option>
                  <option *ngFor="let branch of branches" [value]="branch.id">
                    {{branch.displayName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <mat-tab-group (selectedIndexChange)="onTabChanged($event)" [selectedIndex]="selectedIndex"
          class="fidelity-tab-group mat-tab-body-padding-0">
          <mat-tab label="Area" class="bg-gray">
            <div class="ibox-body">
              <div class="row">
                <ng-container>
                  <div class="col-4 mb-3">
                    <div class="col-12 mb-2 p-0">Debtor Code</div>
                    <div class="col-12 p-0">
                      <mat-form-field class="find_address_autocomplete">
                        <input formControlName="debtorName" #DC matInput (input)="changeDebtorCode()" name="Debtor Code"
                          [matAutocomplete]="DC" class="fidelity-address-con">
                      </mat-form-field>
                      <mat-autocomplete #DC="matAutocomplete">
                        <ng-container>
                          <mat-option *ngFor="let debtor of debtorList" [value]="debtor.displayName"
                            (onSelectionChange)="onSelectedDebtorCode($event.source.selected, debtor,debtor.id)">
                            <span>{{ debtor.displayName }}</span>
                          </mat-option>
                        </ng-container>
                      </mat-autocomplete>
                      <span class="text-danger"
                        *ngIf="priceIncreaseExclusionForm?.get('debtorName')?.touched && priceIncreaseExclusionForm?.get('debtorName')?.errors?.required">
                        Debtor Code is required
                      </span>
                    </div>
                  </div>
                  <div class="col-4 mb-3">
                    <div class="col-12 mb-2 p-0">Business Area</div>
                    <div class="col-12 p-0">
                      <mat-form-field class="find_address_autocomplete">
                        <input formControlName="businessAreaName" #BA matInput name="Business Area"
                          [matAutocomplete]="BA" class="fidelity-address-con">
                      </mat-form-field>
                      <mat-autocomplete #BA="matAutocomplete">
                        <ng-container>
                          <mat-option *ngFor="let businessArea of businessAreaList" [value]="businessArea.displayName"
                            (onSelectionChange)="onSelectedBusinessArea($event.source.selected, businessArea,businessArea.id)">
                            <span>{{ businessArea.displayName }}</span>
                          </mat-option>
                        </ng-container>
                      </mat-autocomplete>
                      <span class="text-danger"
                        *ngIf="priceIncreaseExclusionForm?.get('businessAreaName')?.touched && priceIncreaseExclusionForm?.get('businessAreaName')?.errors?.required">
                        Business Area is required
                      </span>
                    </div>
                  </div>
                  <div class="col-4 mb-3">
                    <div class="col-12 mb-2 p-0">Sub Area</div>
                    <div class="col-12 p-0">
                      <mat-form-field class="find_address_autocomplete">
                        <input formControlName="subAreaName" #SA matInput name="Sub Area" [matAutocomplete]="SA"
                          class="fidelity-address-con">
                      </mat-form-field>
                      <mat-autocomplete #SA="matAutocomplete">
                        <ng-container>
                          <mat-option *ngFor="let subArea of subAreaList" [value]="subArea.displayName"
                            (onSelectionChange)="onSelectedSubArea($event.source.selected, subArea, subArea.id)">
                            <span>{{ subArea.displayName }}</span>
                          </mat-option>
                        </ng-container>
                      </mat-autocomplete>
                      <span class="text-danger"
                        *ngIf="priceIncreaseExclusionForm?.get('subAreaName')?.touched && priceIncreaseExclusionForm?.get('subAreaName')?.errors?.required">
                        Sub Area is required
                      </span>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label class="d-block">Save Offer Processed</label>
                      <label class="switch add-stack-status">
                        <input type="checkbox" formControlName="isSaveOfferProcessed">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Price Lower Limit</label>
                      <input class="form-control fidelity-form-input" placeholder="Price Lower Limit" type="number"
                        [validateInput]='numberConfig' formControlName="priceLowerLimit" />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Price Upper Limit</label>
                      <input class="form-control fidelity-form-input disabled" placeholder="Price Upper Limit"
                        formControlName="priceUpperLimit" />
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Business Classification" class="bg-gray">
            <div class="ibox-body">
              <ng-container>
                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label>Category</label>
                      <select name="Category" class="form-control fidelity-form-input" formControlName="categoryId">
                        <option value="" disabled>Select Category</option>
                        <option *ngFor="let category of categoryList" [value]="category.id">
                          {{category.displayName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Origin</label>
                      <select name="Origin" class="form-control fidelity-form-input" formControlName="originId">
                        <option value="" disabled>Select Origin</option>
                        <option *ngFor="let origin of originList" [value]="origin.id">
                          {{origin.displayName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Install Origin</label>
                      <select name="Install Origin" class="form-control fidelity-form-input"
                        formControlName="installOriginId">
                        <option value="" disabled>Select Install Origin</option>
                        <option *ngFor="let installOrigin of installOriginList" [value]="installOrigin.id">
                          {{installOrigin.displayName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Sub Category</label>
                      <select name="Sub Category" class="form-control fidelity-form-input"
                        formControlName="subCategoryId">
                        <option value="" disabled>Select Sub Category</option>
                        <option *ngFor="let subCategory of subCategoryList" [value]="subCategory.id">
                          {{subCategory.displayName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4 mb-3">
                    <div class="col-12 mb-2 p-0">Business Area</div>
                    <div class="col-12 p-0">
                      <mat-form-field class="find_address_autocomplete">
                        <input formControlName="businessAreaId1" #BAA matInput name="Business Area"
                          [matAutocomplete]="BAA" class="fidelity-address-con">
                      </mat-form-field>
                      <mat-autocomplete #BAA="matAutocomplete">
                        <ng-container>
                          <mat-option *ngFor="let businessArea of businessAreaList" [value]="businessArea.displayName"
                            (onSelectionChange)="onSelectedBusinessArea($event.source.selected, businessArea,businessArea.id)">
                            <span>{{ businessArea.displayName }}</span>
                          </mat-option>
                        </ng-container>
                      </mat-autocomplete>
                      <span class="text-danger"
                        *ngIf="priceIncreaseExclusionForm?.get('businessAreaId1')?.touched && priceIncreaseExclusionForm?.get('businessAreaId1')?.errors?.required">
                        Business Area is required
                      </span>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-tab>
          <mat-tab label="Services" class="bg-gray">
            <div class="ibox-body">
              <div class="row">
                <ng-container>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Stock ID</label>
                      <select name="Stock ID" class="form-control fidelity-form-input" formControlName="stockId">
                        <option value="" disabled>Select Stock ID</option>
                        <option *ngFor="let stockId of stockIdList" [value]="stockId.id">
                          {{stockId.displayName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Contract Types</label>
                      <select name="Contract Types" class="form-control fidelity-form-input"
                        formControlName="contractTypeId">
                        <option value="" disabled>Select Contract Types</option>
                        <option *ngFor="let types of contractTypes" [value]="types.value">
                          {{types.display}}
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </p-scrollPanel>
      <div class="text-center mt-3">
        <button id="search_btn" type="submit" [disabled]="isSearchBtnDisabled"
          class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown">Save</button>
        <button class="btn btn-md-fidelity fidelity-btn-default btn-md-fidelity btn-default"
          type="button">Clear</button>
        <button type="button" style="margin-left: 15px;" [routerLink]="['/billing/price-increase-configuration']"
          [queryParams]="{tab:2}" class="btn btn-md-fidelity fidelity-btn-brown">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
