::ng-deep .add-stack-status {
    .slider.round:after {
        content: "Inactive";
    }

    input:checked + .slider:after {
        content: "Active";
    }
}

.find_address_autocomplete {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    line-height: 20px;

    .mat-form-field-flex .mat-form-field-infix {
        line-height: 38px;
        padding-bottom: 0!important;
    }
  }

mat-form-field.mat-form-field-invalid#find_address_autocomplete {
    border: 1px solid #dc3545 !important;
}
