<!-- Email modal -->
<div class="fidelity-popup-heading container-fluid p-relative">Update Price Increase Config - Exclusion
  <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<div *ngIf="data?.pricingIncreaseExclusionId" class="grid-icons-con  customer-info-btns float-right mt-2"
  (click)="editPage()">
  <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
    id="pricinf_edit_btn" title="Edit"><i aria-hidden="true" class="icon icon-edit"></i>
  </a>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
  <p-scrollPanel [style]="{height: '45vh'}" styleClass="custom">
    <form customForm class="fidelity-popup-form" [formGroup]="priceIncreaseExclusionForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Region</label>
            <input value="{{priceDetails?.regionName}}" class="form-control fidelity-form-input disabled" type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Division</label>
            <input value="{{priceDetails?.divisionName}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>District</label>
            <input value="{{priceDetails?.districtName}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Branch</label>
            <input value="{{priceDetails?.branchName}}" class="form-control fidelity-form-input disabled" type="text" />
          </div>
        </div>
      </div>
      <div class="row" *ngIf="priceDetails?.isArea">
        <ng-container>
          <div class="col-4 mb-3">
            <div class="col-12 mb-2 p-0">Debtor Code</div>
            <div class="col-12 p-0">
              <mat-form-field id="find_address_autocomplete"
                style="padding: 9px 8px 1px 16px; border-radius: 8px;text-align: left;"
                [ngClass]="{'disabled': isDisabled}">
                <input (keyup)="onDebtorKeyUp($event)" formControlName="debtorId" #DC matInput name="Debtor Code"
                  [matAutocomplete]="DC" class="fidelity-address-con">
              </mat-form-field>
              <mat-autocomplete #DC="matAutocomplete">
                <ng-container>
                  <mat-option *ngFor="let debtor of debtorList" [value]="debtor.displayName"
                    (onSelectionChange)="onSelectedDebtorCode($event.source.selected, debtor,debtor.id)">
                    <span>{{ debtor.displayName }}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
              <span class="text-danger"
                *ngIf="priceIncreaseExclusionForm?.get('debtorId')?.touched && priceIncreaseExclusionForm?.get('debtorId')?.errors?.required">
                Debtor Code is required
              </span>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="col-12 mb-2 p-0">Business Area</div>
            <div class="col-12 p-0">
              <mat-form-field id="find_address_autocomplete"
                style="padding: 9px 8px 1px 16px; border-radius: 8px;text-align: left;"
                [ngClass]="{'disabled': isDisabled}">
                <input (keyup)="onBusinessAreaKeyUp($event)" formControlName="businessAreaId" #BA matInput
                  name="Business Area" [matAutocomplete]="BA" class="fidelity-address-con">
              </mat-form-field>
              <mat-autocomplete #BA="matAutocomplete">
                <ng-container>
                  <mat-option *ngFor="let businessArea of businessAreaList" [value]="businessArea.displayName"
                    (onSelectionChange)="onSelectedBusinessArea($event.source.selected, businessArea,businessArea.id)">
                    <span>{{ businessArea.displayName }}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
              <span class="text-danger"
                *ngIf="priceIncreaseExclusionForm?.get('businessAreaId')?.touched && priceIncreaseExclusionForm?.get('businessAreaId')?.errors?.required">
                Business Area is required
              </span>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="col-12 mb-2 p-0">Sub Area</div>
            <div class="col-12 p-0">
              <mat-form-field id="find_address_autocomplete"
                style="padding: 9px 8px 1px 16px; border-radius: 8px;text-align: left;"
                [ngClass]="{'disabled': isDisabled}">
                <input (keyup)="onSubAreaKeyUp($event)" formControlName="subAreaId" #SA matInput name="Sub Area"
                  [matAutocomplete]="SA" class="fidelity-address-con">
              </mat-form-field>
              <mat-autocomplete #SA="matAutocomplete">
                <ng-container>
                  <mat-option *ngFor="let subArea of subAreaList" [value]="subArea.displayName"
                    (onSelectionChange)="onSelectedSubArea($event.source.selected, subArea, subArea.id)">
                    <span>{{ subArea.displayName }}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
              <span class="text-danger"
                *ngIf="priceIncreaseExclusionForm?.get('subAreaId')?.touched && priceIncreaseExclusionForm?.get('subAreaId')?.errors?.required">
                Sub Area is required
              </span>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="d-block">Save Offer Processed</label>
              <label class="switch add-stack-status" [ngClass]="{'disabled': isDisabled}">
                <input type="checkbox" formControlName="isSaveOfferProcessed">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Price Lower Limit</label>
              <input class="form-control fidelity-form-input" placeholder="Price Lower Limit" type="number"
                [validateInput]='numberConfig' formControlName="priceLowerLimit" [ngClass]="{'disabled': isDisabled}" />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Price Upper Limit</label>
              <input class="form-control fidelity-form-input disabled" placeholder="Price Upper Limit" type="number"
                [validateInput]='numberConfig' formControlName="priceUpperLimit" [ngClass]="{'disabled': isDisabled}" />
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row" *ngIf="priceDetails?.isBusinessClassification">
        <div class="col-4">
          <div class="form-group">
            <label>Category</label>
            <select name="Category" class="form-control fidelity-form-input" formControlName="categoryId"
              [ngClass]="{'disabled': isDisabled}">
              <option value="" disabled>Select Category</option>
              <option *ngFor="let category of categoryList" [value]="category.id">
                {{category.displayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Origin</label>
            <select name="Origin" class="form-control fidelity-form-input" formControlName="originId"
              [ngClass]="{'disabled': isDisabled}">
              <option value="" disabled>Select Origin</option>
              <option *ngFor="let origin of originList" [value]="origin.id">
                {{origin.displayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Install Origin</label>
            <select name="Install Origin" class="form-control fidelity-form-input" formControlName="installOriginId"
              [ngClass]="{'disabled': isDisabled}">
              <option value="" disabled>Select Install Origin</option>
              <option *ngFor="let installOrigin of installOriginList" [value]="installOrigin.id">
                {{installOrigin.displayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Sub Category</label>
            <select name="Sub Category" class="form-control fidelity-form-input" formControlName="subCategoryId"
              [ngClass]="{'disabled': isDisabled}">
              <option value="" disabled>Select Sub Category</option>
              <option *ngFor="let subCategory of subCategoryList" [value]="subCategory.id">
                {{subCategory.displayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-4 mb-3">
          <div class="col-12 mb-2 p-0">Business Area</div>
          <div class="col-12 p-0">
            <mat-form-field id="find_address_autocomplete">
              <input (keyup)="onBusinessAreaKeyUp($event)" formControlName="businessAreaId" #BAA matInput
                name="Business Area" [matAutocomplete]="BAA" [ngClass]="{'disabled': isDisabled}"
                class="fidelity-address-con">
            </mat-form-field>
            <mat-autocomplete #BAA="matAutocomplete">
              <ng-container>
                <mat-option *ngFor="let businessArea of businessAreaList" [value]="businessArea.displayName"
                  (onSelectionChange)="onSelectedBusinessArea($event.source.selected, businessArea,businessArea.id)">
                  <span>{{ businessArea.displayName }}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
            <span class="text-danger"
              *ngIf="priceIncreaseExclusionForm?.get('businessAreaId')?.touched && priceIncreaseExclusionForm?.get('businessAreaId')?.errors?.required">
              Business Area is required
            </span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="priceDetails?.isServices">
        <ng-container>
          <div class="col-4">
            <div class="form-group">
              <label>Stock ID</label>
              <select name="Stock ID" class="form-control fidelity-form-input" formControlName="stockId"
                [ngClass]="{'disabled': isDisabled}">
                <option value="" disabled>Select Stock ID</option>
                <option *ngFor="let stockId of stockIdList" [value]="stockId.id">
                  {{stockId.displayName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Contract Types</label>
              <select name="Contract Types" class="form-control fidelity-form-input" formControlName="contractTypeId"
                [ngClass]="{'disabled': isDisabled}">
                <option value="" disabled>Select Contract Types</option>
                <option *ngFor="let types of contractTypes" [value]="types.value">
                  {{types.display}}
                </option>
              </select>
            </div>
          </div>
        </ng-container>
      </div>
      <hr>
      <mat-dialog-actions align="end">
        <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
          cdkFocusInitial [disabled]="isDisabled">Save</button>
        <button type="button" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
          [mat-dialog-close]="true">Cancel</button>
      </mat-dialog-actions>
    </form>
  </p-scrollPanel>
</mat-dialog-content>
