<div class="page-heading ">
    <h1 class="page-title no-border">{{districtId&&leadGroupLink ? 'Update' : 'Add'}} Item Pricing Parameter Configuration </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item" ><a routerLink='/configuration/sales/items' [queryParams]="{tab:0}"
            skipLocationChange>Items</a></li>
            <li class="breadcrumb-item" ><a routerLink='/configuration/sales/items' [queryParams]="{tab:0}"
                skipLocationChange>Item Price Parameter</a></li>
                <li class="breadcrumb-item" *ngIf="districtId && leadGroupLink " ><a (click)="redirectToViewPage()">View Item Price Parameter</a></li>
        <li class="breadcrumb-item">{{districtId&&leadGroupLink ? 'Update' : 'Add'}} Item Price Parameter
        </li></ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="itemPriceParameterForm" (ngSubmit)="submit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body">
                    <div>
                        <!-- Headings Only -->
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label>District<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Lead Group<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Price List Code<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Labour Rate<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Material Markup<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Consumable Markup<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="" formArrayName="itemParameter"
                            *ngFor="let itemParameterObj of itemPriceParameterForm?.get('itemParameter')?.controls;let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-2 p-relative">
                                    <div class="form-group">
                                        <select class="form-control fidelity-form-input" id="districtId" name="District"
                                            placeholder="Select District" formControlName="districtId"
                                            (change)="bindingLeadGroupDropdown($event.target.value,i)">
                                            <option disabled selected value="">Select District</option>
                                            <option *ngFor="let district of districtList" [value]="district.id">
                                                {{district.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <select class="form-control fidelity-form-input" id="leadGroupLink"
                                            name="Lead Group" placeholder="Select Lead Group"
                                            formControlName="leadGroupLink" (change)="OnLeadGroupChange(i)" >
                                            <option disabled selected value="">Select Lead Group</option>
                                            <option *ngFor="let leadGroup of leadGroupList[i]" [value]="leadGroup.id">
                                                {{leadGroup.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input name="priceListCode" [validateInput]='isAnAlphaNumericOnly'
                                            class="form-control fidelity-form-input" #name id="priceListCode"
                                            type="text" formControlName="priceListCode" maxlength="10"
                                            (change)="onPriceListCodeChange($event,i)"
                                            />
                                        <span class="text-danger" *ngIf="chkPrice">
                                            <span>Item Price List Code Already Exists</span>
                                        </span>

                                    </div>
                                </div>        
                                <div class="col-2">
                                    <div class="form-group">
                                        <input name="Labour Rate" [validateInput]="decimalConfig" 
                                             class="form-control fidelity-form-input"
                                            id="labourRate"  formControlName="labourRate" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input name="Material Markup" [validateInput]="decimalConfig"  class="form-control fidelity-form-input"
                                            id="materialMarkup"  formControlName="materialMarkup" />
                                    </div>
                                </div>
                                 <div class="col-2">
                                    <div class="form-group p-relative custom-position" style="width: 75%;">
                                        <input name="Consumable Markup"[validateInput]="decimalConfig" class="form-control fidelity-form-input"
                                            id="consumableMarkup"  formControlName="consumableMarkup" />
                                    </div>
                                </div>
                                <div *ngIf="!(districtId&&leadGroupLink)" class="p-absolute d-flex" style="right:0px">
                                    <button
                                        style="right:28px" *ngIf="(itemPriceParameterForm?.get('itemParameter')?.controls.length-1===i)"
                                        type="submit"
                                        class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                        (click)="addItemParameter()" title="Add" matTooltip="Add">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                    <a  style="right:6px" *ngIf="i!==0 || itemParameter.length>1" matTooltip="Delete"
                                        id="delete_record" class="delete-row " (click)="removeItemParameter(i)"><i
                                            aria-hidden="true" class="icon icon-delete"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="text-center mt-3">
                        <button (click)="submit()"  id="btn-item-price-param"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3 ng-invalid">Save</button>
                        <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                            (click)="actionOnLeavingComponent()">Cancel</button>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
    </form>



</div>

