<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="alarmTypeAddEditForm" (ngSubmit)="onSubmit()">

        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Name <span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text" name="Name" formControlName="alarm"
                                    [validateInput]='isHypenOnly' [maxLength]="formConfigs.maxLengthTwenty" placeholder="Enter Name"
                                    (change)="ValidateIfOnlySpecialCharacters($event.target.value)">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control fidelity-form-input" rows="1" placeholder="description"
                                    formControlName="description" [maxLength]="formConfigs.generalNameLengthTwoFifty"></textarea>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Cancel Alarm</label>
                                <p-dropdown #dd [options]="cancelAlarmsValues" formControlName="cancelAlarm" [style]="{'width':'100%'}"
                                    filter="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        {{(item.label) ? 'Select' : item.label}}
                                    </ng-template>
                                    <ng-template let-alarm pTemplate="selectedItem">
                                        <div class="item-drop1">
                                            <mat-list-item>
                                                <span *ngIf="alarm?.value != 'Select'">{{alarm.label}}</span>
                                            </mat-list-item>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Zone Type <span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" formControlName="zoneTypeId">
                                    <option value="" selected disabled>Select</option>
                                    <option [value]="item.id" *ngFor="let item of zoneTypeDropdown; let i=index">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Actions <span class="mandatory-field">*</span></label>
                                <select name="Actions" class="form-control fidelity-form-input" formControlName="alarmActionId">
                                    <option value="" selected disabled>Select</option>
                                    <option [value]="item.id" *ngFor="let item of alarmActionDropdown; let i=index">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Priority <span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" formControlName="priority">
                                    <option value="" selected disabled>Select</option>
                                    <option [value]="item" *ngFor="let item of priorityDropdown; let i=index">{{item}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Phone-in </label><br>
                                <label class="switch pos-top">
                                    <input type="checkbox" formControlName="canPhoneIn" value=true />
                                    <span class="slider slider2 round blue"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Allow Tagging </label><br>
                                <label class="switch pos-top">
                                    <input type="checkbox" formControlName="allowTag" value=true />
                                    <span class="slider slider2 round blue"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button id="create_new_leads_btn" type="submit"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="save_btn">{{alarmTypeId ?
                'Update': 'Save'}}</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                id="cancel" routerLink='/signal-translator/configuration' [queryParams]="{tab:4}">Cancel</button>
        </div>
    </form>
</div>