<div class="fidelity-popup-heading container-fluid p-relative">
    Acknowledge Of Dept
    <button mat-icon-button class="close-button p-absolute" type="button" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="ibox view-box" style="height: auto;">
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
        <form class="fidelity-popup-form" customForm [formGroup]="technicianStockTakeModalForm" (ngSubmit)="onSubmit()">
            <div class="ibox-body">
                <div class="col-12 mt-2">
                    <b> PER3 </b> 
                </div> 
                <div class="col-12 mt-2">
                    <b> NOTIFICATION OF DEDUCTIONS </b> 
                </div>
                <div class="col-lg-12 mt-3">
                    <div class="d-flex">
                      <span id="" class="key"> DATE </span>
                      <span id="" class="value">
                        <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.techSignatureDate ? (stockTakeDetailsModalsData?.techSignatureDate | date):'-'}} </b> </span>
                      </span>
                    </div>
                </div>
                <div class="col-lg-12 mt-1">
                    <div class="d-flex">
                      <span id="" class="key"> EMPLOYEE'S NAME </span>
                      <span id="" class="value">
                        <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.employeeName ? stockTakeDetailsModalsData?.employeeName:'-'}} </b> </span>
                      </span>
                    </div>
                </div>
                <div class="col-lg-12 mt-1">
                    <div class="d-flex">
                      <span id="" class="key"> EMPLOYEE'S NUMBER </span>
                      <span id="" class="value">
                        <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.employeeNumber ? stockTakeDetailsModalsData?.employeeNumber:'-'}} </b> </span>
                      </span>
                    </div>
                </div>

                <div class="col-lg-12 mt-2">
                    <p> You are hereby advised that deductions to the value of <b> R{{stockTakeDetailsModalsData?.aodAmount ? stockTakeDetailsModalsData?.aodAmount: ''}} </b> will be made from your
                    salary due to the following reason: </p>
                </div>
                <div class="col-lg-12">
                    <textarea class="form-control fidelity-form-input disabled" id="comments" 
                    placeholder="Short comments" [value]="stockTakeDetailsModalsData?.comments ? stockTakeDetailsModalsData?.comments : '-'" maxlength="500"> </textarea>            
                </div>
                <div class="col-lg-12 mt-1">
                    <p> If in your opinion the deductions are unfair, you are expected to submit in writing
                    representations as to why the deductions should not be made. </p>
                </div>
                <div class="col-12 mt-2"> <b> ACKNOWLEDGEMENT OF RECEIPT </b> </div>

                <!-- <div *ngIf="showRequestType == 'Approver' || showRequestType == 'View'"> -->
                    <div class="col-lg-12 mt-3">
                        <div class="d-flex mb-2">
                          <span id="" class="key"> TECHNICIAN SIGNATURE </span>
                          <div id="" class="value">
                            <a href="{{stockTakeDetailsModalsData?.techSignaturePath}}">
                                <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg" id="docName"> 
                                {{stockTakeDetailsModalsData?.techSignature}} </span>
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-1">
                        <div class="d-flex">
                          <span id="" class="key"> EMPLOYEE'S NAME </span>
                          <span id="" class="value">
                            <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.employeeName ? stockTakeDetailsModalsData?.employeeName:'-'}} </b> </span>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-1">
                        <div class="d-flex">
                          <span id="" class="key"> DATE </span>
                          <span id="" class="value">
                            <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.techSignatureDate ? (stockTakeDetailsModalsData?.techSignatureDate | date) :'-'}} </b> </span>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-1">
                        <div class="d-flex">
                          <span id="" class="key"> WITNESS' NAME </span>
                          <span id="" class="value">
                            <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.witnessName ? stockTakeDetailsModalsData?.witnessName:'-'}} </b> </span>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-1">
                        <div class="d-flex mb-2">
                          <span id="" class="key"> WITNESS' SIGNATURE </span>
                          <div id="" class="value">
                            <a href="{{stockTakeDetailsModalsData?.witnessSignaturePath}}">
                                <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg" id="docName"> 
                                {{stockTakeDetailsModalsData?.witnessSignature}} </span>
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-1">
                        <div class="d-flex">
                          <span id="" class="key"> COPY TO </span>
                          <span id="" class="value">
                            <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.copyTo ? stockTakeDetailsModalsData?.copyTo:'-'}} </b> </span>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-1">
                        <div class="d-flex">
                          <span id="" class="key"> BRANCH </span>
                          <span id="" class="value">
                            <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.branchName ? stockTakeDetailsModalsData?.branchName:'-'}} </b> </span>
                          </span>
                        </div>
                    </div>

                    <div class="col-12 mt-1"> <b> APPROVER DETAILS </b> </div>

                    <div *ngIf="techStockTakeApprovalType == 'approved'">
                        <div class="col-12 mt-3">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label> APPROVER NAME <span class="mandatory-field">*</span> </label>
                                        <input type="text" class="fidelity-form-input form-control" formControlName="approverName">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label> APPROVER SIGNATURE </label>
                                    <div class="sigPad">
                                        <span class="icon icon-refresh p-absolute d-flex justify-content-center align-items-center" (click)="clearPad()"  style="border-radius: 50%;
                                        height: 20px; width: 20px; top: 3px; right: 14px; background-color: #F35665; cursor: pointer;"></span>
                                        <signature-pad [options]="signaturePadOptions"(onEndEvent)="drawComplete()"></signature-pad>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-1">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label> APPROVAL DATE </label>
                                        <input type="text" class="fidelity-form-input form-control disabled" [value]="stockTakeDetailsModalsData?.approvalDate ? (stockTakeDetailsModalsData?.approvalDate | date) : '-'">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="techStockTakeApprovalType == 'request'">
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex">
                              <span id="" class="key"> APPROVER NAME </span>
                              <span id="" class="value">
                                <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.approverName ? stockTakeDetailsModalsData?.approverName:'-'}} </b> </span>
                              </span>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-1">
                            <div class="d-flex mb-2">
                              <span id="" class="key"> APPROVER SIGNATURE </span>
                              <div id="" class="value">
                                <a href="{{stockTakeDetailsModalsData?.approverSignaturePath}}">
                                    <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg" id="docName"> 
                                    {{stockTakeDetailsModalsData?.approverSignature}} </span>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-1">
                            <div class="d-flex">
                              <span id="" class="key"> APPROVAL DATE </span>
                              <span id="" class="value">
                                <span class="d-inline-block"> <b> {{stockTakeDetailsModalsData?.approvalDate ? (stockTakeDetailsModalsData?.approvalDate | date) :'-'}} </b> </span>
                              </span>
                            </div>
                        </div>
                    </div>

                <div class="col-12" *ngIf="techStockTakeApprovalType == 'approved'">
                    <div class="ui-dialog-buttonpane ui-helper-clearfix pt-3">
                        <div class="text-center">
                            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-brown"> Save </button>
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3" type="button" [mat-dialog-close]="false"> Cancel </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </p-scrollPanel>
</div>