<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="page-content fade-in-up" *ngIf="!id">
  <form autocomplete="off" [formGroup]="radioSystemSetupAddForm" customForm class="fidelity-popup-form"
    style="font-size: 0.9rem!important;">
    <div class="ibox" style="height: auto;">
      <div class="ibox-body brown-border">
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label>Item Type<span class="mandatory-field">*</span></label>
              <select formControlName="itemTypeConfigId" class="form-control fidelity-form-input">
                <option value="" selected disabled> Select Item Type</option>
                <option *ngFor="let item of itemTypeList; let i=index" [value]="item.id">
                  {{item.displayName}} {{item.id}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Stock Code<span class="mandatory-field">*</span></label>
              <div class="form-group" style="height: 39px;">
                <mat-form-field class="fidelity-form-input" style="height: 39px;width: 100%!important;">
                  <input matInput type="text" id="find_address_autocomplete" #autoStockCode
                    (input)="onChangeStockCode($event,'stock-code')" [matAutocomplete]="autoStockCode"
                    formControlName="itemCode" style="height: 37px;" name="stockCode">
                </mat-form-field>
                <mat-autocomplete #autoStockCode="matAutocomplete"
                  (optionSelected)="onStatucCodeSelected($event.option.value, 'stock-code')">
                  <mat-option *ngIf="isLoading" class="is-loading">
                    <mat-spinner diameter="50"></mat-spinner>
                  </mat-option>
                  <ng-container>
                    <mat-option *ngFor="let filtStockCode of filteredStockCodes" [value]="filtStockCode.displayName">
                      <span>{{ filtStockCode.displayName }}</span>
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Stock Description</label>
              <input class="form-control fidelity-form-input" type="text" name="stockDescription"
                formControlName="itemName" />
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>Reason</label>
              <input class="form-control fidelity-form-input" type="text" name="reason" formControlName="reason" />
            </div>
          </div>
          <div class="col-1">
            <button type="submit" class="circle-plus-btn" (click)="addItem()" matTooltip="Add"
              style="margin-top: 22px;margin-left:4px;">
              <i aria-hidden="true" class="icon" data-icon="b"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox">
      <div class="ibox-body brown-border second-ibox-container" style="height: 21vw !important;">
        <div class="row p-relative">
          <div class="col-3">
            <div class="form-group">
              <label> <b>Item Type</b> </label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label> <b>Stock Code</b> </label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label> <b>Stock Description</b> </label>
            </div>
          </div>

          <div class="col-2">
            <div class="form-group">
              <label> <b>Reason</b> </label>
            </div>
          </div>
        </div>
        <div class="" formArrayName="radioSystemSetupAddEdit"
          *ngFor="let obj of radioSystemSetupAddForm?.get('radioSystemSetupAddEdit')?.controls;let i=index">
          <div class="row p-relative" [formGroupName]="i">
            <div class="col-3">
              <div class="form-group">
                <input maxlength="100" class="form-control fidelity-form-input" id="itemTypeConfigId"
                  formControlName="itemTypeConfigVal" type="text" disabled placeholder="Enter item" />
              </div>
              </div>
            <div class="col-3">
              <div class="form-group">
                <input maxlength="100" class="form-control fidelity-form-input" id="itemCode" formControlName="itemCode"
                  type="text" disabled placeholder="Enter item code" />
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <input maxlength="100" class="form-control fidelity-form-input" id="itemName" formControlName="itemName"
                  type="text" disabled placeholder="Enter item name" />
              </div>
            </div>

            <div class="col-2">
              <div class="form-group">
                <input maxlength="100" class="form-control fidelity-form-input" id="itemTypeConfigId"
                  formControlName="reason" type="text" disabled placeholder="Enter reason" />
              </div>
            </div>
            <div class="col-1">
              <button type="button" class="circle-minus-btn" matTooltip="Delete" id="delete_record"
                (click)="removeStockOrderItems(i)">
                <i aria-hidden="true" class="icon icon-delete"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="margin-top: 15px;">
        <div class="text-center">
          <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-3"
           (click)="onSubmit()">Save</button>
          <button (click)="navigate()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
            type="button">Cancel</button>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="page-content fade-in-up" *ngIf="id">
  <div class="ibox" style="height: auto;">
    <div class="ibox-body brown-border">
      <form autocomplete="off" [formGroup]="radioSystemSetupEditForm" customForm class="fidelity-popup-form"
        (ngSubmit)="update()" style="font-size: 0.9rem!important;">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Item Type<span class="mandatory-field">*</span></label>
              <select formControlName="itemTypeConfigId" class="form-control fidelity-form-input">
                <option value="" selected disabled> Select Item Type</option>
                <option *ngFor="let item of itemTypeList; let i=index" [value]="item.id">
                  {{item.displayName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-4" *ngIf="id">
            <div class="form-group">
              <label>Created By</label>
              <input disabled class="form-control fidelity-form-input" [value]="radioSystemDetails?.createdBy"
                type="text" name="createdBy" />
            </div>
          </div>
          <div class="col-4" *ngIf="id">
            <div class="form-group">
              <label>Created Date</label>
              <input disabled class="form-control fidelity-form-input"
                [value]="radioSystemDetails?.createdDate ?  (radioSystemDetails?.createdDate | date) : ''" type="text"
                name="createdDate" />
            </div>
          </div>
          <div class="col-4" *ngIf="id">
            <div class="form-group">
              <label>Stock Code</label>
              <input disabled class="form-control fidelity-form-input"
                [value]="radioSystemDetails?.itemCode ?  radioSystemDetails?.itemCode : ''" type="text"
                name="stockCode" />
            </div>
          </div>
          <div class="col-4" *ngIf="id">
            <div class="form-group">
              <label>Stock Description</label>
              <input disabled class="form-control fidelity-form-input"
                [value]="radioSystemDetails?.itemName ? radioSystemDetails?.itemName : ''" type="text"
                name="stockDescription" />
            </div>
          </div>
          <div class="col-4" *ngIf="id">
            <div class="form-group">
              <label>Reasons</label>
              <input class="form-control fidelity-form-input" formControlName="reason" type="text" name="reason" />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Status<span class="mandatory-field">*</span></label>
              <select class="form-control fidelity-form-input" name="status" formControlName="isActive">
                <option value="null" selected disabled>Select Status</option>
                <option [value]="item.id" *ngFor="let item of statusList; let i=index">
                  {{item.displayName}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <div class="text-center">
            <button type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
              [label]="'Update'"></button>
            <button (click)="navigate()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
              type="button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showPopup" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
  <p-header>
    Confirmation
  </p-header>
  <div class="confirm-msg">
    <p style="font-size: 15px;">Are you sure want to remove stock code <b>{{stockCode}}</b> from list ?</p>
  </div>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <div class="text-center">
      <button type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3" [label]="'Yes'"
        (click)="deletePopup()"></button>
      <button (click)="cancelPopup()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
        type="button">No</button>
    </div>
  </div>
</p-dialog>
