<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="close()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <div class="fidelity-popup-form">
        <div>
            <div>
                <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                    <div class="ibox-body" *ngIf="config?.data?.prItemDetails?.length > 0">

                        <div class="row header-row" style="font-size: 1rem;">
                            <div class="col-2">Stock Code</div>
                            <div class="col-2">Stock Description</div>
                            <div class="col-1">Stock Type</div>
                            <div class="col-1">UOM</div>
                            <div class="col-2">Amount Excl Vat</div>
                            <div class="col-2">Amount Incl Vat</div>
                            <div class="col-1">QTY Required</div>
                            <div class="col-1"></div>
                        </div>
                        <div *ngFor="let obj of config?.data?.prItemDetails;let i=index">

                            <div class="row children-row mb-1" style="font-size: 1rem;">
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.itemCode}}" />
                                </div>
                                <div class="col-2" title="{{obj?.itemName}}">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.itemName}}" />
                                    <!-- <a class="form-control fidelity-form-input "  title="{{obj.get('itemName').value}}" >{{obj.get('itemName').value}}</a>
                                        <a   title="{{obj.get('itemName').value}}" >{{obj.get('itemName').value}}</a> -->

                                </div>
                                <div class="col-1">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.stockType}}" />
                                </div>
                                <div class="col-1">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.uomName}}" />
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.exclVAT?.toString() ? (obj?.exclVAT | formatNumber) : '-'}}" style="text-align: right;" />

                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.inclVAT?.toString() ? (obj?.inclVAT | formatNumber) : '-'}}" style="text-align: right;" />
                                </div>
                                <div class="col-1">
                                    <input class="form-control fidelity-form-input disabled" type="text" name="QTY"
                                        value="{{obj?.qtyRequired}}" />
                                </div>
                            </div>
                        </div>
                        <div class="row children-row mb-1 justify-content-end" style="font-size: 1rem;">
                            <!-- <div class="col-10"> <b></b></div> -->
                            <div class="col-2">
                                <b>Total Excl. Vat</b>
                            </div>
                            <div class="col-2">
                                <input class="form-control fidelity-form-input disabled" type="text"
                                    value="{{totalDiffFormat}}" style="text-align: right;" />
                            </div>
                        </div>
                    </div>
                    <div class="ibox-body" *ngIf="config?.data?.prItemDetails?.length == 0">
                        <p style="text-align: center;" class="no-data-msg mt-2">No Data Available</p>
                    </div>

                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>
