<!-- set height to 450px while opening popup-->
<div class="fidelity-popup-heading container-fluid p-relative"> Stock Info
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="false" >
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <!-- <div class="row"> -->
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Stock Code</span>
                    <span id="" class="value">
                            <span class="d-inline-block">{{popupData.stockDetails.stockCode}}</span>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Stock Description</span>
                    <span id="" class="value">
                            <span class="d-inline-block">{{popupData.stockDetails.stockDesc}}</span>
                    </span>
                </div>
            </div>

        </div>
    <div class="row mt-2">
        <div class="col-12">
            <label>Serial Number :</label>
        </div>
    </div>
    <ng-container  *ngFor="let item of popupData.list">
            <div class="row mt-2">
                <div class="col-10" >
                    <input type="text" class="fidelity-form-input form-control disabled" [value]="item.barcode">
                </div>
                <div class="col-1" *ngIf="popupData.isDelete">
                    <button type="button" matTooltip="Delete" class=" circle-minus-btn delete-row" style="top: 5px;" (click)="deleteSerialNumbers(item)"><i aria-hidden="true" class="icon icon-delete"></i>
                    </button>
                </div>
            </div>
    </ng-container>
    <ng-container *ngIf="popupData.list.length == 0">
        <div class="col-12">
            <label>No Record Found :</label>
        </div>

    </ng-container>
    <br>
<!-- </div> -->


</mat-dialog-content>

