  .file-input-container {
    width: 100%;
    height: 40px;
    z-index: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .file-input-ctrl {
    margin-top: 33px;
    height: 40px;
    width: 100%;
  }
  
  .file-input-text {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .file-input-btn {
    height: 40px;
    padding: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .file-remove-btn {
    width: 82px;
    margin-left: -8px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .file-download-container {
    height: 40px !important;
    font-size: 18px;
  }
  .fa-exclamation-triangle{
    display: flex;
    justify-content: center;
    font-size: 83px;
    color: #ffbc42;
  }
  .center-content{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 13px;
  }
  ::ng-deep tr:last-child { 
    font-weight: 900;
  }
  ::ng-deep .file-input-ctrl{
     background-color: #fff !important;
  }
  ::ng-deep .pl-3 {
      padding-left: unset!important; 
  }
  ::ng-deep .ibox-body .cust-info-key {
    width: 70% !important;
  }