<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="thirdPartyDetailsAddEditForm" (ngSubmit)="onSubmit()">

        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row sm-inputs">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Company Name<span class="mandatory-field">*</span></label>
                                <input name="Company Name" class="form-control fidelity-form-input" type="text"
                                    formControlName="companyName" [validateInput]='isAnAlphaNumericOnly' minlength="3"
                                    maxlength="15" placeholder="Enter Company Name">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Monitoring Center Number<span class="mandatory-field">*</span></label>
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <div class="form-group" style="width: 100%!important;">
                                            <select class="form-control fidelity-form-input pad-right"
                                                style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                formControlName="monitoringCenterNumberCountryCode">
                                                <option *ngFor="let countryCode of countryCodes"
                                                    [value]="countryCode.displayName">
                                                    {{countryCode.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-8 pl-0">
                                        <div class="form-group" style="width: 84%!important;">
                                            <input id="mobileNumber2"  #input
                                                style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                formControlName="monitoringCenterNumber"
                                                [title]="thirdPartyDetailsAddEditForm?.get('monitoringCenterNumberCountryCode')?.value"
                                                appPhoneMask
                                                class="form-control fidelity-form-input "
                                                name="Monitoring Center Number" placeholder="Enter Monitoring Center Number" />
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Division<span class="mandatory-field">*</span></label>
                                <select id="divsion" class="form-control fidelity-form-input" name="Division"
                                    placeholder="Select Division" formControlName="divisionId">
                                    <option value="" disabled>Select Division</option>
                                    <option *ngFor="let division of divisionDropDown" [value]="division.id">
                                        {{division.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Contact Person Name<span class="mandatory-field">*</span></label>
                                <input placeholder="Enter Contact Person Name" [validateInput]='isAnAlphaNumericOnly'
                                    minlength="3" maxlength="15" class="form-control fidelity-form-input" type="text"
                                    formControlName="contactPersonName">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Office Contact Number<span class="mandatory-field">*</span></label>
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <div class="form-group" style="width: 100%!important;">
                                            <select class="form-control fidelity-form-input pad-right"
                                                style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                formControlName="officeContactNumberCountryCode">
                                                <option *ngFor="let countryCode of countryCodes"
                                                    [value]="countryCode.displayName">
                                                    {{countryCode.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-8 pl-0">
                                        <div class="form-group" style="width: 84%!important;">
                                            <input  #input
                                                style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                formControlName="officeContactNumber"
                                                [title]="thirdPartyDetailsAddEditForm?.get('officeContactNumberCountryCode')?.value"
                                                appPhoneMask
                                                class="form-control fidelity-form-input "
                                                name="Office Contact Number" placeholder="Enter Office Contact Number" />
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Type<span class="mandatory-field">*</span></label>
                                <select id="type" class="form-control fidelity-form-input" name="Type"
                                    placeholder="Select Type" formControlName="thirdPartyTypeId">
                                    <option value="" disabled>Select Type</option>
                                    <option *ngFor="let type of thirdPartyDropDown" [value]="type.id">
                                        {{type.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round active"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <h1 class="page-sub-title ext-padd mt-3">Address Info</h1>
                    <div class="row sm-inputs">
                       <div class="mb-10 col-md-8 pr-0">
                        <div class="row ">
                            <div style="width: 70%;" class="mb-10 col-md-9 p-relative">
                                <label class="d-block">Find Address<span
                                        class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete-custom-control [name]="'Find Address'"
                                        [matOptionValueProperty]="'fullAddress'"
                                        [matOptionViewProperty]="'fullAddress'"
                                        formControlName="fullAddress"
                                        [customInputGroupStyle]="{'margin-top':'29px'}"
                                        [customButtonHeightStyle]="{'height':'38px'}"
                                        [shouldShowPlaceHolder]="true"
                                        [getLoopableObjectRequestObservable]="getLoopableObjectRequestObservable"
                                        (emitSelectedOption)="onSelectedItemOption($event)">
                                    </mat-select-autocomplete-custom-control>
                            </div>
                        </div>

                    </div>    
                        <div class="col-4">
                            <div class="form-group">
                                <label>Location Pin</label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input readonly class="form-control fidelity-form-input input-disabled" type="text"
                                        name="Location Pin" placeholder="Enter Location Pin" maxlength="102"
                                        formControlName="locationPin">
                                    <div class="input-group-append">
                                        <button class="text-white" type="button"><i aria-hidden="true"
                                                class="icon icon-location"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Building Name</label>
                                <input readonly [validateInput]='stringConfig' id="bldng_name"
                                    [minlength]="formConfigs?.buildingNameMinLength"
                                    [maxlength]="formConfigs?.buildingNamemaxlength"
                                    class="form-control fidelity-form-input" type="text"
                                    placeholder="Enter Building Name" formControlName="buildingName">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Building No</label>
                                <input readonly mask="0*" id="bldng_no" class="form-control fidelity-form-input"
                                    [minlength]="formConfigs?.buildingNumberMinLength"
                                    [maxlength]="formConfigs?.buildingNumbermaxlength" type="text"
                                    placeholder="Enter Building No" formControlName="buildingNumber">
                            </div>

                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Street Number</label>
                                <input id="st_no" class="form-control fidelity-form-input" type="text"
                                    placeholder="Enter Street Number" maxlength="250" readonly
                                    formControlName="streetNumber">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Street Address</label>
                                <input id="st_no" class="form-control fidelity-form-input" type="text"
                                    placeholder="Enter Street Address" maxlength="250" readonly
                                    formControlName="streetAddress">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Suburb</label>
                                <input id="st_no" class="form-control fidelity-form-input" type="text" readonly
                                    placeholder="Enter Suburb" maxlength="50" formControlName="suburbName">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>City / Town</label>
                                <input id="st_no" class="form-control fidelity-form-input" type="text"
                                    [validateInput]='stringConfig' readonly placeholder="Enter City / Town"
                                    maxlength="50" formControlName="cityName">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Province</label>
                                <input id="st_no" class="form-control fidelity-form-input" type="text" readonly
                                    [validateInput]='stringConfig' placeholder="Enter Province" maxlength="50"
                                    formControlName="provinceName">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input id="postal_code" mask="0*" class="form-control fidelity-form-input" readonly
                                    name="Postal Code" type="text" [minlength]="4" [maxlength]="4"
                                    placeholder="Enter Postal Code" formControlName="postalCode">
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{thirdPartyId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/event-configuration' [queryParams]="{tab:20}">Cancel</button>
        </div>

    </form>
</div>
