::ng-deep .mat-tab-body-wrapper{
  height: 75vh !important;
}
::ng-deep .date-field-custom p-calendar{
  span{
      width: 100% !important;
  }
}
.block-service h1{
  font-weight: 700 !important;
}
.fw-bold{
  font-weight: 600;
}
.block-service{
  display: flex;
    align-items: center;
}
.alignItem{
  display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    top: 6px;
}