<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="primeng-table-wrapper">
  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
    <mat-tab [label]="tables.caption" [disabled]="tables.disabled"
      *ngFor='let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index'>
      <form [formGroup]="columnFilterForm" *ngIf="selectedTabIndex !=3">
        <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
          [(selection)]="selectedRows" [scrollable]="true" scrollHeight="327px" [autoLayout]="true"
          [resizableColumns]="tables?.resizableColumns" (onLazyLoad)="loadPaginationLazy($event)" [loading]="loading"
          [value]="dataList" [dataKey]="tables.dataKey" [paginator]="(totalRecords == 0) ? false : true" [rows]="10"
          [totalRecords]="totalRecords" [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null" [responsive]="true"
          columnResizeMode="expand" [reorderableColumns]="tables?.reorderableColumns">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left">
              <div class="row">
                <div class="col-md-5" style="padding-left: 0;">
                  <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"
                    style="margin-right: 0.5em;" *ngIf="tables?.enableExportCSV"></button>
                  <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                    (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"
                    *ngIf="tables?.enableExportExcel"></button>
                  <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only"
                    (click)="dt.exportCSV({selectionOnly:true})" style="margin-right: 0.5em;" class="ui-button-warning"
                    *ngIf="tables?.enableExportCSVSelected"></button>
                  <button type="button" pButton icon="pi pi-undo" iconPos="left" label="Reset" (click)="dt.reset()"
                    style="margin-right: 0.5em;" class="ui-button-secondary" *ngIf="tables?.enableReset"></button>
                </div>
                <div class="col-md-7" style="    padding-right: 0;">
                  <form [formGroup]="searchForm">
                    <div style="text-align: right; float: right;"
                      *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="30" placeholder="Global Filter"
                        formControlName="searchKeyword" style="width:auto">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
              <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
              <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr class="first-row">
              <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
              </th>
              <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}" *ngIf="tables?.enableRowDelete">
                Action
              </th>
            </tr>
            <tr *ngIf="tables?.enableFieldsSearch">
              <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
              </th>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input [formControlName]="col.field" [validateInput]='isAnAlphaNumericOnly'
                  *ngIf="col.field != 'isActive' && col.field != 'division' && col.field != 'isStatus' && col.field != 'isProRataRequired' && (!col.field.toLowerCase().includes('date') || col.field =='proRataCutOffDate') && i == selectedTabIndex"
                  pInputText type="text">
                <p-calendar [formControlName]="col.field" [utc]='true' [maxDate]="today"
                  *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex && col.field !='proRataCutOffDate'" [readonlyInput]="true"
                  (onClearClick)="dt.filter($event.value,col.field, null)">
                </p-calendar>
                <p-dropdown [formControlName]="col.field"
                  *ngIf="(col.field == 'isActive' || col.field == 'isStatus') && i == selectedTabIndex" appendTo="body"
                  [options]="status" placeholder="Select Status" [style]="{'width':'75%'}" [showClear]="true">
                </p-dropdown>
                <p-dropdown [formControlName]="col.field"
                  *ngIf="(col.field == 'isProRataRequired') && i == selectedTabIndex" appendTo="body"
                  [options]="proData" placeholder="Select" [style]="{'width':'75%'}" [showClear]="true">
                </p-dropdown>
              </th>
              <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}" *ngIf="tables?.enableRowDelete"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns" let-expanded="expanded">
            <tr [pSelectableRow]="rowData">
              <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
                <a href="#" [pRowToggler]="rowData" *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                  <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
                <ng-container
                  *ngIf="(col.header == 'Status' || col.field.toLowerCase().includes('date') && col.header != 'Pro Rata CutOff' ); then thenTemplate; else elseTemplate">
                </ng-container>
                <ng-template #thenTemplate>
                  <ng-container *ngIf="col.header == 'Status'">
                    <span *ngIf="!tables.enableStatusActiveAction" class="status-label pos-top" style="cursor: pointer;"
                      [ngClass]="(col.field == 'isActive' || col.field == 'isStatus')  ? (rowData[col.field] == true? 'status-label-green' : 'status-label-pink') :  rowData.cssClass">
                      {{(col.field == 'isActive' || col.field == 'isStatus') ? (rowData[col.field] == true? 'Active' :
                      'InActive') : rowData[col.field] ? rowData[col.field] :'-'}}
                    </span>
                    <p-dropdown *ngIf="tables.enableStatusActiveAction" [options]="status" appendTo="body"
                      [(ngModel)]="rowData[col.field]" [ngModelOptions]="{standalone: true}" placeholder="Select Status"
                      [style]="{'width':'100%'}" (onChange)="onChangeStatus(rowData,ri)">
                    </p-dropdown>
                  </ng-container>
                  <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                    {{rowData[col.field] ? (rowData[col.field] | date) : '--'}}
                  </ng-container>
                </ng-template>
                <ng-template #elseTemplate>
                  <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                    <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                      (click)="onCRUDRequested('edit',rowData)">
                      {{rowData[col.field] ? rowData[col.field] : '--'}}
                    </a>
                  </ng-container>
                  <ng-container *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                    <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                      (click)="onCRUDRequested('edit',rowData)">
                      {{rowData[col.field] ? rowData[col.field] : '--'}}
                    </a>
                  </ng-container>
                  <ng-container
                    *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                    {{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No'
                    : rowData[col.field] ? rowData[col.field] : '--'}}
                  </ng-container>
                </ng-template>
              </td>
              <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                  class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length" style="text-align: center;">
                No records found
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
              <td [attr.colspan]="columns.length + 1">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px;background: #fff;">
                  <div class="ui-g-12 ui-md-9">
                    <div class="ui-g">

                      <div class="ui-g-12">
                        <b>Area Name:</b>
                        {{rowData?.areaName ? rowData?.areaName : '--'}}
                      </div>
                      <div class="ui-g-12">
                        <b>Division Name:</b>
                        {{rowData?.stackAreaConfigDivisions ?
                        rowData?.stackAreaConfigDivisions : '--'}}
                      </div>
                      <div class="ui-g-12" style="    text-align: right;">
                        <button style="margin: 0 10px;" pButton type="button" icon="pi pi-pencil" class="ui-button-info"
                          (click)="onCRUDRequested('edit')"></button>
                        <button style="margin: 0 10px;" pButton type="button" icon="pi pi-trash"
                          class="ui-button-danger" (click)="onCRUDRequested('delete')"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
              {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows * (state.page +
                1) : totalRecords}} of <strong>{{totalRecords ? totalRecords : pageSize}}</strong> entries
            </p>
          </ng-template>
        </p-table>
      </form>
      <form class="fidelity-popup-form" *ngIf="selectedTabIndex == 3" customForm [formGroup]="serviceMappingForm"
        (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-4 block-service">
            <h3 class="fw-bold">Risk Watch</h3>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="col-md-12 col-form-label" for="serviceId">Select Services<span
                  class="mandatory-field">*</span></label>
              <div class="col-md-12">
                <p-multiSelect [options]="serviceList" name="Services" [defaultLabel]="'Select Service'" formControlName="serviceId"
                styleClass="w-100"></p-multiSelect>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="alignItem">
              <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
            </div>
          </div>
        </div>
      </form>
      <form class="fidelity-popup-form" *ngIf="selectedTabIndex == 3" customForm
        [formGroup]="safeEntryserviceMappingForm" (ngSubmit)="onSubmitSafeEntry()">
        <div class="row ">
          <div class="col-md-4 block-service">
            <h3 class="fw-bold">Safe Entry</h3>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="col-md-12 col-form-label" for="serviceId">Select Services<span
                  class="mandatory-field">*</span></label>
              <div class="col-md-12">
                <p-multiSelect [options]="serviceList" name="Services" [defaultLabel]="'Select Service Type'" formControlName="serviceId"
                styleClass="w-100"></p-multiSelect>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <div class="alignItem">
              <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
            </div>
          </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
