<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)">
</app-page-header>
<div class="ibox white-bg sm-inputs" style="height: auto;">
    <div class="ibox-body brown-border">
        <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [loading]="loading"
        [dataList]="dataList" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
        (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
        </app-page-list-table>
        <p-scrollPanel [style]="{height: '45vh'}" styleClass="custom">
            <form autocomplete="off" [formGroup]="requestReinstatementForm" customForm class="fidelity-popup-form"
                (ngSubmit)="onSubmit()" style="font-size: 0.9rem!important;">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group p-relative">
                            <label>Customer Re-instatement</label>
                            <div class="form-group" style="width: 100%;">
                                <label for="file" class="sr-only">File</label>
                                <div class="file-input-container">
                                    <input class="file-input-ctrl" #fileInput type="file" name="file"
                                        placeholder="Customer Re-instatement"
                                        (change)="onFileSelected($event.target.files,'customer-reinstatement')" />
                                </div>
                                <div style="width: 100%; z-index: 1000;">
                                    <div class="input-group" style="height: 40px;">
                                        <input type="text" name="filename" [(ngModel)]="customerReinstatementRequestFileName"
                                            [ngModelOptions]="{standalone: true}" class="form-control file-input-text"
                                            placeholder="No file selected" readonly>
                                        <span class="input-group-btn">
                                            <div class="btn custom-file-uploader file-input-btn">
                                                Browse
                                            </div>
                                        </span>
                                    </div><br>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group p-relative">
                         <div>
                            <label>Banking Details<span class="mandatory-field">*</span></label>
                         </div>
                        <p-radioButton name="bad_debit_name" class="ml-2" [value]="true" label="Existing" formControlName="isExistingBankDetails"></p-radioButton>
                        <p-radioButton name="bad_debit_name" class="ml-2" [value]="false" label="New" formControlName="isExistingBankDetails"></p-radioButton>
                        </div>
                    </div>
                </div>
                <div  class="row">                    
                    <div class="col-4">
                        <div class="form-group p-relative">
                            <label>Proof Of Banking Details</label>
                            <div class="form-group" style="width: 100%;">
                                <label for="file" class="sr-only">File</label>
                                <div class="file-input-container">
                                    <input class="file-input-ctrl" #fileInput type="file" name="file"
                                        placeholder="Customer Re-instatement"
                                        (change)="onFileSelected($event.target.files,'bank-detail')" />
                                </div>
                                <div style="width: 100%; z-index: 1000;">
                                    <div class="input-group" style="height: 40px;">
                                        <input type="text" name="filename" [(ngModel)]="bankDetailFileName"
                                            [ngModelOptions]="{standalone: true}" class="form-control file-input-text"
                                            placeholder="No file selected" readonly>
                                        <span class="input-group-btn">
                                            <div class="btn custom-file-uploader file-input-btn">
                                                Browse
                                            </div>
                                        </span>
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                        <label>Notes</label>
                        <input class="form-control fidelity-form-input" type="text" name="notes" formControlName="notes"/>
                        </div>
                    </div>  
                </div>
                <div class="row">        
                    <div class="text-center" style="display: flex;justify-content: center;width: 100%;">
                        <div class="">
                        <button  type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
                        [label]="'Submit'" ></button>
                        <button  class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"  (click)="btnCloseClick()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </p-scrollPanel>
    </div>
</div>
