<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<form customForm *ngIf="showFilterForm" [formGroup]="capacityConfigurationFilterForm" (ngSubmit)="submitFilter()"
    class="p-absolute" style="top: 50px;right: 68px; z-index: 10;">
    <div class="page-heading p-relative">
        <div class="filter-dropdwon-con" style="width: 77vw;">
            <div class="row">
                <div class="col-4">
                    <div class="form-group leads-category-con">
                        <label class="d-block">Branch</label>
                            <p-multiSelect  formControlName="branchId" dataKey="value"
                            appendTo="body" [defaultLabel]="'Select Single/Multiple'" autoWidth="false"
                            optionLabel="display" optionValue="value"
                            [style]="{'width':'100%','height': '38px'}" [options]="branchList">
                            </p-multiSelect>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Branch Status<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" formControlName="branchStatus">
                            <option value='' selected disabled> Select Branch status</option>
                            <option *ngFor="let s of status" [value]="s.value">
                                {{s.label}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Tech Area Status<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" formControlName="techAreaStatus">
                            <option value='' selected disabled> Select Tech Area Status </option>
                            <option *ngFor="let s of status" [value]="s.value">
                                {{s.label}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                    <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                        (click)="resetForm()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form customForm *ngIf="showAllocationFilterForm" [formGroup]="allocationCapacityFilterForm" (ngSubmit)="submitFilter()"
    class="p-absolute" style="top: 50px;right: 68px; z-index: 10;">
    <div class="page-heading p-relative">
        <div class="filter-dropdwon-con" style="width: 77vw;">
            <div class="row">
                <div class="col-3">
                    <div class="form-group leads-category-con">
                        <label class="d-block">Tech Area</label>
                        <p-multiSelect  formControlName="boundryId" dataKey="value"
                        appendTo="body" [defaultLabel]="'Select Single/Multiple'" autoWidth="false"
                        optionLabel="display" optionValue="value"
                        [style]="{'width':'100%','height': '38px'}" [options]="filterTechAreaList">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label> Tech Area Description </label>
                        <input class="form-control fidelity-form-input" type="text" placeholder="Enter"
                            formControlName="description">
                    </div>
                </div>
                <div class="col-3" *ngIf="selectedTabIndex == 1">
                    <div class="form-group">
                        <label> Allocation Capacity Config </label>
                        <input class="form-control fidelity-form-input" type="text" placeholder="Enter"
                            formControlName="allocationCapacity">
                    </div>
                </div>
                <div class="col-2" *ngIf="selectedTabIndex == 2">
                    <div class="form-group">
                        <label> First Appt Time </label>
                        <p-calendar  formControlName="firstApptTime"  styleClass="w-100" [timeOnly]="true" [readonlyInput]="true">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-2" *ngIf="selectedTabIndex == 2">
                    <div class="form-group">
                        <label> Last Appt End Time </label>
                        <p-calendar  formControlName="lastApptTime"  styleClass="w-100" [timeOnly]="true" [readonlyInput]="true">
                        </p-calendar>

                    </div>
                </div>
                <div class="col-4" *ngIf="selectedTabIndex == 3">
                    <div class="form-group">
                        <label> Advance Booking(in Months) </label>
                        <select class="form-control fidelity-form-input" name="" formControlName="monthId">
                            <option value="" disabled> Select Months </option>
                            <option *ngFor="let item of monthsDropdown" [value]="item.id">
                                {{item.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-3" *ngIf="selectedTabIndex != 3">
                    <div class="form-group">
                        <label> Status </label>
                        <select class="form-control fidelity-form-input" formControlName="isActive">
                            <option value='false' selected disabled> Select Status </option>
                            <option *ngFor="let data of status" [value]="data.value">
                                {{data.label}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Filter</button>
                    <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                        (click)="resetForm()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
<app-page-tab [selectedIndex]="selectedTabIndex"
    [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList" (tabClicked)="onTabChange($event)">
</app-page-tab>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [first]="first" [reset]="reset"
    [searchFirst]="true" (onActionSubmited)="onActionSubmited($event)" *ngIf="selectedTabIndex == 0">
</app-page-list-table>
<div class="page-content fade-in-up">
    <form class="fidelity-popup-form" customForm [formGroup]="allocationCapacityAddEditForm"
        (ngSubmit)="onAllocationSubmit()">
        <div class="ibox view-box" *ngIf="selectedTabIndex != 0">
            <div class="ibox-body">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label> Tech Area <span class="mandatory-field">*</span></label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label> Tech Area Description </label>
                        </div>
                    </div>
                    <div class="col-3" *ngIf="selectedTabIndex == 1">
                        <div class="form-group">
                            <label> Allocation Capacity Config(%) </label>
                        </div>
                    </div>
                    <div class="col-2" *ngIf="selectedTabIndex == 2">
                        <div class="form-group">
                            <label> First Appt Time </label>
                        </div>
                    </div>
                    <div class="col-2" *ngIf="selectedTabIndex == 2">
                        <div class="form-group">
                            <label> Last Appt End Time </label>
                        </div>
                    </div>
                    <div class="col-3" *ngIf="selectedTabIndex == 3">
                        <div class="form-group">
                            <label> Advance Booking(in Months) <span class="mandatory-field"> </span> </label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <label> Status </label>
                        </div>
                    </div>
                </div>
                <div>
                    <p-scrollPanel [style]="{height: '45vh'}" styleClass="custom">
                        <div class="" formArrayName="allocationCapacityDetails"
                            *ngFor="let groupObj of getAllocationGroupFormArray?.controls;let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-3 fidelity-autocomplete-dropdown-con">
                                    <div class="form-group">
                                        <input matInput type="text" id="find_address_autocomplete"
                                            class="fidelity-form-input disabled" name="Technical Area"
                                            formControlName="boundaryName">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <textarea class="form-control fidelity-form-input disabled" type="text" rows="2"
                                            placeholder="Enter description" formControlName="description"></textarea>
                                    </div>
                                </div>
                                <div class="col-3" *ngIf="selectedTabIndex == 1">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input" type="text" placeholder="Enter"
                                            maxlength="6" [validateInput]="isADecimalWithConfig"
                                            formControlName="allocationCapacity">
                                    </div>
                                </div>
                                <div class="col-2" *ngIf="selectedTabIndex == 2">
                                    <div class="form-group cal-adjust-width">
                                      <p-calendar  formControlName="firstApptTime"  styleClass="w-100" [timeOnly]="true" [readonlyInput]="true">
                                      </p-calendar>

                                    </div>
                                </div>
                                <div class="col-2" *ngIf="selectedTabIndex == 2">
                                    <div class="form-group cal-adjust-width">
                                      <p-calendar  formControlName="lastApptTime"  styleClass="w-100" [timeOnly]="true" [readonlyInput]="true">
                                      </p-calendar>

                                    </div>
                                </div>
                                <div class="col-3" *ngIf="selectedTabIndex == 3">
                                    <div class="form-group">
                                        <select class="form-control fidelity-form-input" name=""
                                            formControlName="monthId">
                                            <option value="null" disabled> Select Months </option>
                                            <option *ngFor="let item of monthsDropdown" [value]="item.id">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-1" *ngIf="selectedTabIndex == 1">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            placeholder="Enter"
                                            [value]="groupObj.get('isActive').value ? 'Active' : 'Inactive'">
                                    </div>
                                </div>
                                <div class="col-1" *ngIf="selectedTabIndex != 1">
                                    <div class="form-group">
                                        <label class="switch add-stack-status">
                                            <input type="checkbox" formControlName="isActive">
                                            <span class="slider round active"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="no-data-msg" *ngIf="allocationCapacityDetails?.controls?.length == 0 && !isLoading">
                            No data available</div>
                    </p-scrollPanel>
                </div>
            </div>
            <div class="text-center mt-3">
                <span class="float-left ml-4 mt-2">Total Records - <strong>{{totalRecords ? totalRecords :
                        0}}</strong></span>
                <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">
                    Save </button>
                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"> Cancel </button>
            </div>
        </div>
    </form>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="false" [(visible)]="alertDialog" [showHeader]="false"
    [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <div style="text-align: center;padding: 16px;" *ngIf="!showDialogSpinner">
        <img src="./assets/img/confirmation.png" alt="" style="height: 100px; width: 100px;">
        <h5 style="margin-top: 5px;color: #000;font-weight: 500;margin-bottom: 5px;">Are you sure you want to update the
            status to <span
                [ngStyle]="{'color': rowData ? rowData[changedStatus?.field] ? 'green' : 'red' : ''}">{{rowData ?
                rowData[changedStatus?.field] ? 'Active' : 'Inactive' : ''}}</span>?</h5>
    </div>
    <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;" *ngIf="!showDialogSpinner">
        <div class="ui-g-6">
            <button style="padding: 0.429em 1em;" type="button" pButton (click)="emitChangeStatus()" label="Yes"
                class="ui-button-success"></button>
        </div>
        <div class="ui-g-6">
            <button style="padding: 0.429em 1em;" type="button" pButton (click)="close()" label="Cancel"
                class="ui-button-secondary"></button>
        </div>
    </div>
    <div style="text-align: center;padding: 16px;" *ngIf="showDialogSpinner">
        <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="3" animationDuration=".5s">
        </p-progressSpinner>
        <h5>Please wait...</h5>
        <p> Status {{row ? row[changedStatus?.field] ? 'Active' : 'In-Active' : ''}} processing...</p>
    </div>
</p-dialog>
