<div class="page-content fade-in-up">
  <form customForm [formGroup]="ContractAddEditForm" (ngSubmit)="submit()">
    <p-scrollPanel [style]="{height: '61vh'}" styleClass="custom">
      <div class="row">
        <div class="col-11">
        </div>
        <div class="col-1">
          <a title="Edit" (click)="Edit()"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            id="pricinf_edit_btn">
            <i aria-hidden="true" class="icon icon-edit"></i>
          </a>
        </div>
      </div>
      <div class=" white-bg" *ngIf="editSection">
        <div class="ibox-body">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Contract ID </label>
                <input readonly name="Contract Number" formControlName="contractNumber" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Contract Number" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isContractRefNo">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="contractRefNoComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>First Name </label>
                <input readonly name="First Name" formControlName="firstName" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="First Name" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isFirstName">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="firstNameComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />
              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Last Name </label>
                <input readonly name="Last Name" formControlName="lastName" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Last Name" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isLastName">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="lastNameComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Contract Type </label>
                <input readonly name="Contract Type" formControlName="contractType" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Contract Type" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isContractType">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="contractTypeComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Created On </label>
                <input readonly name="Created On" formControlName="createdOn" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Created On" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isCreatedOn">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="createdOnComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Contract Start Date </label>
                <input readonly name="Contract Start Date" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255"
                  placeholder="Contract Start Date" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isContractStartDate">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="contractStartDateComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Contract End Date </label>
                <input readonly name="Contract End Date" formControlName="contractEndDate"
                  [validateInput]='stringConfig' class="form-control fidelity-form-input" type="text" maxlength="255"
                  placeholder="Contract End Date" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isContractEndDate">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="contractEndDateComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Sales REP </label>
                <input readonly name="Sales REP" formControlName="salesRep" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Sales REP" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isSalesRep">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="salesRepComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Region </label>
                <input readonly name="Region" formControlName="region" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Region" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isRegion">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="regionComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Division </label>
                <input readonly name="Division" formControlName="division" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Division" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isDivision">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="divisionComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>District </label>
                <input readonly name="District" formControlName="district" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="District" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isDistrict">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="districtComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Branch </label>
                <input readonly name="Branch" formControlName="branch" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Branch" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isBranch">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="branchComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Business Area </label>
                <input readonly name="Bus Area" formControlName="busArea" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Bus Area" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isBusinessArea">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="businessAreaComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Bill Stock ID </label>
                <input readonly name="Bill Stock ID" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Bill Stock ID" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isBillStockId">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="billStockIdComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Categories </label>
                <input readonly name="Categories" formControlName="categories" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Categories" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isCategory">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="categoryComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Origin </label>
                <input readonly name="Origin" formControlName="origin" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Origin" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isOrgin">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="orginComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>


            <div class="col-4">
              <div class="form-group">
                <label>Install Origin </label>
                <input readonly name="Install Origin" formControlName="installOrigin" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Install Origin" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isInstallOrgin">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="installOrginComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Service Category </label>
                <input readonly name="Service Category" formControlName="serviceCategory" [validateInput]='stringConfig'
                  class="form-control fidelity-form-input" type="text" maxlength="255" placeholder="Service Category" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isServiceCategory">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="serviceCategoryComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Service Description </label>
                <input readonly name="Service Description" formControlName="serviceDescription"
                  [validateInput]='stringConfig' class="form-control fidelity-form-input" type="text" maxlength="255"
                  placeholder="Service Description" />
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Status </label> <br>
                <mat-radio-group formControlName="isServiceDescription">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Failed
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Comments </label>
                <input formControlName="serviceDescriptionComments" class="form-control fidelity-form-input" type="text"
                  maxlength="255" placeholder="Comments" />

              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button id="btn-item-price-param" type="submit"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity  btn-brown mr-3">Update</button>
        </div>
      </div>
      <div class=" white-bg" *ngIf="!editSection">
        <app-view-page [col]="2" [viewDetail]="viewData"></app-view-page>
      </div>
    </p-scrollPanel>
  </form>
</div>
