
<div class="page-content fade-in-up" *ngIf="!editSection">
    <div class="ibox view-box p-relative">
        <div class="grid-icons-con p-absolute" style="right:0;top:0;z-index: 10;">
            <a (click)="editPageOpen()" class="fidelity-btn-circle fidelity-brown-btn" matTooltip="Edit">
                <i aria-hidden="true" class="icon icon-edit"></i>
            </a>
        </div>
        <div class="ibox-body">

            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Account Holder Name</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.accountHolderName}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Account Holder Proof </span>
                        <span id="" class="value">
                            <a href="{{paymentDetails?.accountHolderProof}}" target="_blank">Document</a>
                            <!-- <span class="d-inline-block">{{paymentDetails?.accountHolderProof}}</span> -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Account Holding Signature</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.accountHoldingSignature}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Account Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.accountType}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Preferred Debit Order Date</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.preferredDebitOrderDate}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Bank Name</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.bankName}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">BDI No</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.bdiNo}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Branch Code</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.branchCode}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Monthly Service Fee</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.monthlyServiceFee}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Payment Method</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.paymentMethod}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Payment Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{paymentDetails?.paymentType}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
		</div>
</div>
<div class="page-content fade-in-up" *ngIf="editSection">
    <form customForm  (ngSubmit)="submit()" [formGroup]="PaymentAddEditForm">
        <div class="ibox white-bg" style="height: auto;">
                <div class="ibox-body1 brown-border mt-3 red-padding-tab-con">
                    <p-scrollPanel [style]="{height: '53vh'}" styleClass="custom">
                  <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Payment Method</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.paymentMethod}}" />
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isPaymentMethod">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="paymentMethodComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>BDI Number</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text"  value="{{paymentDetails?.bdiNo}}" />
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isBDINo">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="bdiNoComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Payment Type</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.paymentType}}"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isPaymentType">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="paymentTypeComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Preffered Debit Order Date</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.preferredDebitOrderDate}}" />
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isPreferredDebitOrderDate">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="preferredDebitOrderDateComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Name Of The Account Number</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.accountHolderName}}"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isAccountHolderName">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="accountHolderNameComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Account Holder Proof</label>
                            <!-- <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.accountHolderName}}"/> -->
                                <div>
                                    <a href="{{paymentDetails?.accountHolderProof}}" target="_blank">Document</a>
                                </div>

                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isAccountHolderProof">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="accountHolderProofComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Bank Name</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.bankName}}"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isBankName">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="bankNameComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Type Of Account</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.accountType}}"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isTypeofAccountStatus">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="typeofAccountComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Branch Code</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.branchCode}}"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isBranchCode">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="branchCodeComments" />
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Monthly Service Fee</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.isMonthlyServiceFee}}"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isMonthlyServiceFee">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="monthlyServiceFeeComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Account Holding Signature</label>
                            <input
                                class="form-control fidelity-form-input disabled" placeholder=""
                                type="text" value="{{paymentDetails?.accountHoldingSignature}}"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Status</label>
                        <div class="form-group mt-2">
                            <mat-radio-group aria-label="Select an option" formControlName="isAccountHoldingSignature">
                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Comments</label>
                            <input
                                class="form-control fidelity-form-input" placeholder=""
                                type="text" formControlName="accountHoldingSignatureComments"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Customer Signature</label>
                            <textarea class="form-control fidelity-form-input"></textarea>
                        </div>
                    </div>
                  </div>
                </p-scrollPanel>
                  <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown">Update</button>
                    <!-- <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button> -->
                </div>
                </div>


                <!-- <div class="text-center mt-3">
                    <button id="btn-item-price-param" type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity  btn-brown mr-3">Save</button>
                    <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()">Cancel</button>
                </div> -->

        </div>
    </form>
</div>
