<div class="page-content fade-in-up">
  <form customForm [formGroup]="siteInfoaddEditForm" (ngSubmit)="submit()">
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
      <div class="row" *ngIf="!editSection">
        <div class="col-11"> </div>
        <div class="col-1">
          <a title="Edit" (click)="Edit()"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            id="pricinf_edit_btn">
            <i aria-hidden="true" class="icon icon-edit"></i>
          </a>
        </div>
      </div>
      <div class="white-bg" *ngIf="editSection">
        <div class="ibox-body1 brown-border mt-3 red-padding-tab-con">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Distress Word</label>
                <input formControlName="disstressWord" class="form-control fidelity-form-input disabled" placeholder=""
                  type="text" />
              </div>
            </div>
            <div class="col-4">
              <label>Status</label>
              <div class="form-group mt-2">
                <mat-radio-group formControlName="isDistressWord" aria-label="Select an option">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Comments</label>
                <input formControlName="distressWordComments" class="form-control fidelity-form-input" placeholder=""
                  type="text" />
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Instruction</label>
                <input formControlName="instruction" class="form-control fidelity-form-input disabled" placeholder=""
                  type="text" />
              </div>
            </div>
            <div class="col-4">
              <label>Status</label>
              <div class="form-group mt-2">
                <mat-radio-group formControlName="isInstruction" aria-label="Select an option">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Comments</label>
                <input formControlName="instructionComments" class="form-control fidelity-form-input" placeholder=""
                  type="text" />
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Medical Instructions</label>
                <input formControlName="medicalInstructions" class="form-control fidelity-form-input disabled"
                  placeholder="" type="text" />
              </div>
            </div>
            <div class="col-4">
              <label>Status</label>
              <div class="form-group mt-2">
                <mat-radio-group formControlName="isMedicalInstructions" aria-label="Select an option">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Passed
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">Failed </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Comments</label>
                <input formControlName="medicalInstructionComments" class="form-control fidelity-form-input"
                  placeholder="" type="text" />
              </div>
            </div>
            <div class="col-4">
              <label>Dogs On Site</label>
              <div class="form-group">
                <mat-radio-group formControlName="isDogsOnSite" aria-label="Select an option">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div *ngIf="siteInfoaddEditForm?.get('isDogsOnSite').value" class="col-4">
              <div class="form-group">
                <label>No of Dogs</label>
                <input formControlName="noOfDogs" class="form-control fidelity-form-input" placeholder="" type="text"
                  disabled />
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <button id="cancel_new_leads_btn" type="submit"
              class="btn btn-md-fidelity fidelity-btn-brown">Update</button>
          </div>
        </div>
      </div>
      <div class="white-bg" *ngIf="!editSection">
        <app-view-page [col]="2" [viewDetail]="viewData"></app-view-page>
      </div>
    </p-scrollPanel>
  </form>
</div>
