<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" ></app-page-header>
<!-- //risk watch form -->
<div class="page-content fade-in-up">
    <div class="">
            <div class="ibox-body partition-info-page">
                <form customForm [formGroup]="GuardingdashboardReportForm">
                    <div class="row">
                        <div class="col-12 page-sub-title">Risk Watch Completed Requests</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-4 fidelity-date-picker-con p-relative">
                            <div class="form-group date-field-custom">
                                <label class="d-block">From Date</label>

                                <p-calendar [utc]='true' [readonlyInput]="true" appendTo="body" formControlName="fromDate" autocomplete="off"
                                    name="dateFrom2"></p-calendar>
                            </div>
                        </div>
                        <div class="col-4 fidelity-date-picker-con p-relative">
                            <div class="form-group date-field-custom">
                                <label class="d-block">To Date</label>

                                <p-calendar [utc]='true'[readonlyInput]="true"  appendTo="body" formControlName="toDate" autocomplete="off"
                                    name="dateFrom1"></p-calendar>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Type</label>
                                <select #input id="dashboardreport" formControlName="Status"
                                    class="form-control fidelity-form-input" name="Type" placeholder="Select Type"
                                    (change)="onSelectChange()">
                                    <option value="">Select Type</option>
                                    <option>COMPLETED</option>
                                    <option>CANCELLED</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="button" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
                            (click)="showRecordByFilter()">Show</button>
                    </div>
                </form>
            </div>
    </div>
</div>
<div style="overflow:auto; height: 55vh;">
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [isShowNoRecord]="isShowNoRecords" [totalRecords]="totalRecords" (onActionSubmited)="onActionSubmited($event)" >
</app-page-list-table>
</div>
