<form customForm [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-12">
            <div class="form-group leads-category-con">
                <p-autoComplete formControlName="search" [suggestions]="customersList" field="customerName" [size]="30"
                    placeholder="Search Customer" (onSelect)="onSelectionChanged($event)" [minLength]="1">
                </p-autoComplete>
            </div>
        </div>
        <div class="col-12">
            <div class="row mt-2 mb-4" *ngIf="selectedCustomerObject">
                <div class="col-12 mt-2">
                    <span class="text-grey-1">Name : </span>
                    <span class="value">{{selectedCustomerObject?.customerName}}</span>
                </div>
                <div class="col-12 mt-2">
                    <span class="text-grey-1">Code : </span>
                    <span class="value">{{selectedCustomerObject?.customerRefNo}}</span>
                </div>
                <div class="col-12 mt-2">
                    <span class="text-grey-1">Email : </span>
                    <span class="value">{{selectedCustomerObject?.email}}</span>
                </div>
                <div class="col-12 mt-2">
                    <span class="text-grey-1">Mobile1 : </span>
                    <span class="value">+27{{selectedCustomerObject?.mobile1}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-12  align-items-center" style="    margin-top: 15px;text-align: center;">
            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Link Call to
                Customer</button>
            <button type="button" class="btn btn-md-fidelity mr-4" (click)="close()">No</button>
        </div>
    </div>
    <div class="clearfix"></div>
</form>