<div class="page-heading ">
    <h1 class="page-title d-inline-block">SubContractor Maintenance Update</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            Inventory
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/radio-removal/radio-removal-admin' >  Radio Removal Admin WorkList
                </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/radio-removal/radio-removal-admin/subcontractor-maintaince'>SubContractor Maintenance</a>
        </li>
        <li class="breadcrumb-item"  class="breadcrumb-item"> Update -
            {{maintainceDetails?.subContractor ? maintainceDetails?.subContractor : '--'}}</li>
    </ol>
</div>

<div class="page-content fade-in-up">
    <form customForm [formGroup]="maintainceForm" (ngSubmit)="onSubmit()">

        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row">

                        <div class="col-4">
                            <div class="form-group">
                                <!-- <label>Message<span class="mandatory-field">*</span></label> -->
                                <input class="form-control fidelity-form-input disabled" type="text" name="Message"
                                    value="SubContractor Claim Status" minlength="3"
                                    maxlength="20" placeholder="Distance">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <!-- <label class="d-block">Status<span class="mandatory-field">*</span></label> -->
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="claimStatus">
                                    <span class="slider round enabled active"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <!-- <label for="">From Date </label> -->
                                <div class="row">
                                    <div class="col-12 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <p-calendar [minDate]="startTodayDate" formControlName="claimStatusDate"[readonlyInput]="true"  [showTime]="true" styleClass="w-100"></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-4">
                            <div class="form-group">
                                <!-- <label>Message<span class="mandatory-field">*</span></label> -->
                                <input class="form-control fidelity-form-input disabled" type="text" name="Message"
                                    value="SubContractor View Status" minlength="3"
                                    maxlength="20" placeholder="Distance">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <!-- <label class="d-block">Status<span class="mandatory-field">*</span></label> -->
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="viewStatus">
                                    <span class="slider round enabled active"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <!-- <label for="">From Date </label> -->
                                <div class="row">
                                    <div class="col-12 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <p-calendar [minDate]="startTodayDate" formControlName="viewStatusDate"[readonlyInput]="true" [showTime]="true" styleClass="w-100"></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </p-scrollPanel>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Update</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/radio-removal/radio-removal-admin/subcontractor-maintaince' >Cancel</button>
        </div>

    </form>
</div>
