<div class="page-heading ">
    <h1 class="page-title no-border">Request ID{{addressRequestModel?.newAddressRequestRefNo}}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item">
            <a (click)="redirectToListPage()">New Address Request List</a>
        </li>
        <li class="breadcrumb-item">New Address Request Approval</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body sm-form-grp">
            <form>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Unit/Building Number</label>
                            <input-custom-control [extraClassNames]="'disabled'"
                                [value]="addressRequestModel?.buildingNo">
                            </input-custom-control>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Building Name</label>
                            <input-custom-control [extraClassNames]="'disabled'"
                                [value]="addressRequestModel?.buildingName">
                            </input-custom-control>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Erf/Stand/Street Number</label>
                            <input-custom-control [extraClassNames]="'disabled'"
                                [value]="addressRequestModel?.streetNo">
                            </input-custom-control>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Street Name</label>
                            <input-custom-control [extraClassNames]="'disabled'"
                                [value]="addressRequestModel?.streetName">
                            </input-custom-control>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Province</label>
                            <input-custom-control [extraClassNames]="'disabled'"
                                [value]="addressRequestModel?.provinceName">
                            </input-custom-control>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Town/City</label>
                            <input-custom-control [extraClassNames]="'disabled'"
                                [value]="addressRequestModel?.cityName">
                            </input-custom-control>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Suburb</label>
                            <input-custom-control [extraClassNames]="'disabled'"
                                [value]="addressRequestModel?.suburbName">
                            </input-custom-control>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <input-custom-control [extraClassNames]="'disabled'"
                                [value]="addressRequestModel?.postalCode">
                            </input-custom-control>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Motivation Reason</label>
                            <text-area-custom-control [extraClassNames]="'disabled'"
                                [value]="addressRequestModel?.comments">
                            </text-area-custom-control>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3" *ngIf="addressRequestModel?.status=='Pending'">
                    <button id="create_new_leads_btn" type="button" (click)="onSubmit('approve')"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                        id="add_sales_type_btn">Approve</button>
                    <button id="test_run_config_cancel_btn" type="button" (click)="onSubmit('decline')"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Decline</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--decline reason modal-->
<div class="modal" #decline_reason id="decline_reason" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Decline : {{addressRequestModel?.newAddressRequestRefNo}}</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <p style="text-align: center;
                        font-weight: 800;
                        margin-bottom: 0px;">{{message}}</p>
                    <div class="col-12">
                        <div class="form-group" style="width: 100%;">
                            <label>Decline Reason<span class="mandatory-field">*</span></label>
                            <textarea name="Decline Reason" rows="5" [(ngModel)]="declineReason"
                                [ngModelOptions]="{standalone: true}"
                                class="form-control fidelity-form-input"></textarea>
                        </div>
                    </div>
                </mat-dialog-content>
            </div>
            <div class="modal-footer text-center" style="justify-content: center">
                <button [disabled]="declineReason==''" (click)="onFormSubmit('decline')" data-dismiss="modal"
                    type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Yes
                </button>
                <button type="button" class="btn btn-md-fidelity btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>