
<div class="page-heading">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" ></app-page-header>

    <form *ngIf="showFilterForm && stockManagementFilterForm" customForm [formGroup]="stockManagementFilterForm" class="p-absolute" style="top: 50px;right: 68px; z-index: 10;width: 52%;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">     
                <div class="row">   
                    <div class="col-6">
                        <div class="form-group ">
                            <label class="d-block"> Warehouse </label>
                            <mat-select-autocomplete ngDefaultControl
                                [id]="'warehouseId'"
                                [formControl]="stockManagementFilterForm?.controls['warehouseId']"
                                [placeholder]="'Select Single/Multiple'"
                                [options]="warehouseList"
                                (selectionChange)="applyFilterWarehouse($event)"
                                [multiple]='true' [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group ">
                            <label class="d-block"> Storage Location </label>
                            <mat-select-autocomplete ngDefaultControl
                                [id]="'stockOrderId'"
                                [formControl]="stockManagementFilterForm?.controls['stockOrderId']"
                                [placeholder]="'Select Single/Multiple'"
                                [options]="storageLocationList"
                                [multiple]='true' [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3" *ngIf="!viewable">
                    <button id="initiate_order_btn" type="submit"
                        class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4" (click)="submitFilter()"> Filter </button>
                    <button id="cancel_order_btn" class="btn btn-md-fidelity btn-default"
                      (click)="resetForm()"  >Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>

<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [customScroll]="false" 
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>

