.text-align-left {
    text-align: left
}
.text-align-right {
    text-align: right
}
.padding-left {
    padding-left: 0;
}
.margin-right {
    margin-right: 0.5em;
}
.margin-left {
    margin-left: 0px;
}
.btnmargin{
    margin: 0 10px;
}
.cursor {
    cursor: pointer;
}
.dropdown-width {
    width: 100%;
}
.dropdown-width-cus {
    width: 75%;
}
.rowexpansion-div{
    font-size:16px;padding:20px;background: #fff;
}
.search-form {
    padding-right: 0;
}
.search-form-subdiv {
    text-align: right; float: right;
}
.fa-search {
    margin:4px 4px 0 0
}
.width-auto {
    width:auto;
}
.green {
  color:  #00644A;
}