<div class="page-heading ">
    <h1 class="page-title no-border">Approval Info</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">
            <a routerLink='/user/leave-user/approval-list'>Leave Management Approver List</a>
        </li>
        <li class="breadcrumb-item">Approval Info</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
            <h1 class="page-sub-title ext-padd">BASIC INFO</h1>
            <div class="ibox-body">
                <div class="basic-info-con">
                    <div class="row">
                        <div class="col-6 d-flex">
                            <div class="item-view-key1" id="key_Employee_Name">Employee ID</div>
                            <div class="item-view-value1" id="value_Employee_Name"><strong>{{leavePermissionModel.employeeNo}}</strong></div> 
                        </div>
                        <div class="col-6 d-flex">
                            <div class="item-view-key1" id="key_Request_Type">Employee Name</div> 
                            <div class="item-view-value1" id="value_Employee_Name"><strong>{{leavePermissionModel.resquestedBy}}</strong></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 d-flex">
                            <div class="item-view-key1" id="key_Request_Type">Request Type</div> 
                            <div class="item-view-value1" id="value_Request_Type"><strong>{{leavePermissionModel.requestTypeName}}</strong></div>
                        </div>
                        <div class="col-6 d-flex">
                            <div class="item-view-key1" id="key_Period">Period</div> 
                            <div class="item-view-value1" id="value_Period"><strong>{{leavePermissionModel.period}}</strong></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 d-flex">
                            <div class="item-view-key1" id="key_Reason">Reason</div>
                            <div class="item-view-value1" id="value_Reason"><strong>{{leavePermissionModel.reason}}</strong></div>
                        </div>
                        
                        <div class="col-6 d-flex">
                            <div class="item-view-key1" id="key_Created On">Created On</div>
                            <div class="item-view-value1" id="value_Created On"><strong>{{leavePermissionModel.createdDate|date}}</strong></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 d-flex">
                            <div class="item-view-key1" id="key_req_type" *ngIf= "leavePermissionModel.requestTypeName==='Leave'">Leave Type</div> 
                            <div class="item-view-value1" id="value_Apply_Type" *ngIf= "leavePermissionModel.requestTypeName==='Leave'"><strong>{{leavePermissionModel.leaveType}}</strong></div>
                        </div>
                        <div class="col-6 d-flex">
                            <div class="item-view-key1" id="key_req_type" *ngIf= "leavePermissionModel.requestTypeName==='Out Of Office'">Apply Type</div>
                            <div class="item-view-value1" id="value_Apply_Type" *ngIf= "leavePermissionModel.requestTypeName==='Out Of Office'"><strong>{{leavePermissionModel.applyType}}</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="page-sub-title ext-padd mt-3">APPROVAL</h1>
            <form customForm [formGroup]="permissionApprovalForm">
            <div class="ibox-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Nomination To</label>
                            <select id="nomination_type" class="form-control fidelity-form-input" formControlName="assignedUserId" [attr.disabled]="!approvalStatus ? null : 'disabled'">
                                <option value="" disabled>Select User</option>
                                <option *ngFor="let data of uxUsers" value="{{data.id}}">
                                    {{data.displayName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Status <span class="mandatory-field">*</span></label>
                            <select id="req_approval_type" class="form-control fidelity-form-input" 
                            formControlName="specialPermissionStatusId" (change)="Statuschange($event)" 
                            [attr.disabled]="!approvalStatus ? null : 'disabled'">
                                <option value="" disabled>Select Status</option>
                                <option *ngFor="let data of uxSpecialPermissionStatus" value="{{data.id}}">
                                {{data.displayName}}
                                </option>
                            </select>
                            <span class="text-danger" *ngIf="selectStatus">
                                Please select a status.
                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Approve/Decline Reason</label>
                            <textarea name="" class="form-control fidelity-form-input" id="req_approval_comments" 
                            cols="30" rows="2" formControlName="doaComment" (keyup)="validateApproveDeclineReason()"
                            [attr.disabled]="!approvalStatus ? null : 'disabled'"></textarea>
                            <span class="text-danger" *ngIf="selectStatusDeclined">
                                Please enter comments.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </p-scrollPanel>
    </div>
    <div class="text-center mt-2 mb-3">
        <button class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4" 
        [disabled]="isButtonDisabled || this.permissionApprovalForm?.invalid || this.leavePermissionModel.status === 'Approved'" 
        (click)="Save()">
           Save
        </button>
        <button class="btn btn-md-fidelity btn-default" routerLink='/user/leave-user/approval-list'>Cancel</button></div>
</div>


