<div class="page-heading">
    <h1 class="page-title d-inline-block">Return Request View</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/inventory/dashboard'>Inventory Management</a></li>
        <li class="breadcrumb-item"><a>Stock Return</a></li>
        <li class="breadcrumb-item"><a routerLink='/inventory/suppliers/return'>Return to Supplier</a></li>
        <li class="breadcrumb-item">Return Request View</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEdit()"
            *ngIf="suppReturn.status == 'Draft' || suppReturn.status == 'For Supplier'">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a>
        <button  (click)="print()"
            class="fidelity-btn-circle fidelity-white-btn"
            matTooltip="Export" style="top: 2px;">
            <i class="fa fa-download" aria-hidden="true"></i>
        </button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <div class="ibox-body mb-3 view-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Return Supplier No</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.supReturnNumber?suppReturn?.supReturnNumber:'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Warehouse</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.warehouseName?suppReturn?.warehouseName:'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Request Type</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.returnType?suppReturn?.returnType:'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">PO Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{suppReturn?.poNumber?suppReturn?.poNumber:'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Supplier Name</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.supplierName?suppReturn?.supplierName:'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">PO Barcode</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{suppReturn?.barcode?suppReturn?.barcode:'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Supporting Document</span>
                            <div id="" class="">
                                <div class="input-group fidelity-file-upload"
                                    style=" display: flex; flex-wrap: inherit;">
                                    <input type="text" name="filename" id="fileName" class="input-box form-control"
                                        placeholder="Attach files" readonly>
                                    <span class="input-group-btn">
                                        <div class="btn custom-file-uploader">
                                            <input #fileInput multiple type="file" name="file"
                                                [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                                                (change)="uploadFiles($event)" />
                                            Browse
                                        </div>
                                    </span>
                                </div>
                                <div class="uploaded-file-con mt-2">
                                    <div class="col-md-12">
                                        <!-- <div class="custom-scroll1" style="overflow-x: auto;height: 15vh"> -->
                                        <div class="row" *ngFor="let selected of documentsDetails; let i = index">
                                            <div class="col-md-8">
                                                <div class="p-relative d-inline">
                                                    <a class="doc-name mr-2 pt-0">{{selected?.docName}}</a>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="circle-minus-btn"
                                                    (click)="removeSelectedFile(selected.docRepId, i)">
                                                    <i class="icon icon-close-icon"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- </div> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex">
                            <span id="" class="key">Address</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.supplierAddress?suppReturn?.supplierAddress:'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <div class="d-flex">
                            <span id="" class="key">Location Pin</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.latitude?suppReturn?.latitude:'-'}},{{suppReturn?.longitude?suppReturn?.longitude:'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex">
                            <span id="" class="key">Status</span>
                            <span id="" class="">
                                <span class="d-inline-block"><span
                                        class="status-label {{suppReturn?.cssClass}}">{{suppReturn?.status?suppReturn?.status:'-'}}</span></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-body mb-3 view-box">
                <div class="header-row row mb-2 mt-3">
                    <div class="col-2">
                        <label for="">Stock Code</label>
                    </div>
                    <div class="col-3">
                        <label for="">Stock Description</label>
                    </div>
                    <div class="col-2">
                        <label for="">Serial Number</label>
                    </div>
                    <div class="col-2">
                        <label for="">New Serial Number</label>
                    </div>
                    <div class="col-1">
                        <label for="">Received Qty</label>
                    </div>
                    <div class="col-1">
                        <label for="">Returned Qty</label>
                    </div>
                    <div class="col-1">
                        <label for="">Credit Note</label>
                    </div>
                </div>
                <div class="children-row row mb-1" *ngFor="let item of suppReturn?.supplierReturnItems">
                    <div class="col-2">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control" [value]="item?.itemCode"
                                readonly>
                        </div>
                    </div>
                    <div class="col-3">
                        <input type="text" class="fidelity-form-input form-control disabled" [value]="item?.itemName">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            [value]="item?.serialNumber? item?.serialNumber : '-'">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            [value]="item?.newSerailNumber?item?.newSerailNumber:'-'">
                    </div>
                    <div class="col-1">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            [value]="item?.receivedQty">
                    </div>
                    <div class="col-1">
                        <input type="text" class="fidelity-form-input form-control disabled" [value]="item?.quantity">
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <label class="switch add-stack-status">
                                <input type="checkbox" [checked]="item?.isCreditNote"
                                    (change)="changeCreditNoteChnges($event, item)">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content fade-in-up" style="visibility: hidden">
    <div class="ibox" id="print-section">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <div class="ibox-body mb-3 view-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Return Supplier No</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.supReturnNumber?suppReturn?.supReturnNumber:'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Warehouse</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.warehouseName?suppReturn?.warehouseName:'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Request Type</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.returnType?suppReturn?.returnType:'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">PO Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{suppReturn?.poNumber?suppReturn?.poNumber:'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Supplier Name</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.supplierName?suppReturn?.supplierName:'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">PO Barcode</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{suppReturn?.barcode?suppReturn?.barcode:'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Supporting Document</span>
                            <div id="" class="value">
                                <div class="uploaded-file-con mt-2">
                                    <div *ngFor="let selected of documentsDetails; let i = index">
                                        <div class="col-12">
                                            <div class="p-relative d-inline">
                                                <a class="doc-name mr-2 pt-0">{{selected?.docName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Address</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.supplierAddress?suppReturn?.supplierAddress:'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Location Pin</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{suppReturn?.latitude?suppReturn?.latitude:'-'}},{{suppReturn?.longitude?suppReturn?.longitude:'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Status</span>
                            <span id="" class="">
                                <span class="d-inline-block"><span
                                        class="status-label {{suppReturn?.cssClass}}">{{suppReturn?.status?suppReturn?.status:'-'}}</span></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-body mb-3 view-box">
                <div class="header-row row mb-2 mt-3">
                    <div class="col-2">
                        <label for="">Stock Code</label>
                    </div>
                    <div class="col-3">
                        <label for="">Stock Description</label>
                    </div>
                    <div class="col-2">
                        <label for="">Serial Number</label>
                    </div>
                    <div class="col-2">
                        <label for="">New Serial Number</label>
                    </div>
                    <div class="col-1">
                        <label for="">Received Qty</label>
                    </div>
                    <div class="col-1">
                        <label for="">Returned Qty</label>
                    </div>
                    <div class="col-1">
                        <label for="">Credit Note</label>
                    </div>
                </div>
                <div class="children-row row mb-1" *ngFor="let item of suppReturn?.supplierReturnItems">
                    <div class="col-2">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control" [value]="item?.itemCode"
                                readonly>
                        </div>
                    </div>
                    <div class="col-3">
                        <input type="text" class="fidelity-form-input form-control disabled" [value]="item?.itemName">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            [value]="item?.barcode?item?.barcode:item.serialNumber">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            [value]="item?.newSerailNumber?item?.newSerailNumber:'-'">
                    </div>
                    <div class="col-1">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            [value]="item?.receivedQty">
                    </div>
                    <div class="col-1">
                        <input type="text" class="fidelity-form-input form-control disabled" [value]="item?.quantity">
                    </div>
                    <div class="col-1">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            [value]="item?.isCreditNote">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>