<app-lead-lifecycle-breadcrumb-icon-actions-header [breadCrumb]="breadCrumb" (onEmittedEvent)="onEmittedEvent($event)">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up">
  <div class="ibox view-box lead-view-customer-info">
    <div class="ibox-body brown-border mt-3 p-relative">
      <div>
        <p-scrollPanel [style]="{height: '68vh'}" styleClass="custom lead-info-scroll-con">
          <div class="container-fluid">
            <div class="row">
              <div class="page-sub-title col">BASIC INFO</div>
            </div>
            <app-lead-lifecycle-header-container [shouldShowLeadRefNoLink]=false>
            </app-lead-lifecycle-header-container>
            <div class="row">
              <div class="page-sub-title col">CUSTOMER DETAILS</div>
            </div>
            <div>
              <div class="main-container">
                <div class="row mt-1">
                  <div class="col-lg-6">
                    <div class="d-flex">
                      <span id="" class="key">Customer ID</span>
                      <span id="" class="value">
                        <span class="d-inline-block">
                          <a style="color: #116fbf;"
                            (click)="onRedirectToCustomerViewPage()">{{leadInfo?.customerInformation?.customerRefNo?
                            leadInfo?.customerInformation?.customerRefNo :
                            '-'}}</a></span>
                      </span>
                    </div>

                    <div class="d-flex">
                      <span id="" class="key">Customer Type</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.customerInformation?.customerType?
                          leadInfo?.customerInformation?.customerType : '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex" *ngIf="leadInfo?.isCPAExemptRequired">
                      <span id="" class="key">CPA Exempt</span>
                      <span id="" class="value">
                        <span class="d-inline-block">
                          <a style="color: #116fbf;"
                            (click)="openExemptPopup()">{{leadInfo?.isCPAExempt?'Yes':'No'}}</a></span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Current Services</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.customerInformation?.service
                          ? leadInfo?.customerInformation?.service : '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Billing Frequency</span>
                      <span id="" class="value">
                        <span class="d-inline-block"
                          *ngIf="leadInfo?.customerInformation?.billingInfo?.length>0; else noRecordsTemplate">
                          <span *ngFor="let billInfo of leadInfo?.customerInformation?.billingInfo;index as i">
                            <span *ngIf="billInfo?.contractRefNo" matTooltip="{{billInfo?.serviceCode}}"
                              style="color: #116fbf; cursor:pointer">
                              {{billInfo?.contractRefNo+(i==leadInfo.customerInformation.billingInfo.length-1?'':',')}}</span></span>
                        </span>
                        <ng-template #noRecordsTemplate> - </ng-template>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">District</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.siteInformation?.districtName
                          ? leadInfo?.siteInformation?.districtName : '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Contract Expiry Date</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.customerInformation?.contractExpiryDates
                          ? (leadInfo?.customerInformation?.contractExpiryDates): '-'}}
                        </span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Response Vehicle</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.siteInformation?.responseVechicle
                          ? leadInfo?.siteInformation?.responseVechicle : '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Total Lead's Service Fee</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.customerInformation?.currentFee
                          ? (leadInfo?.customerInformation?.currentFee | wholeNumberToDecimal)
                          : '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Technical Installation Area</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.siteInformation?.technicalInstallationArea
                          ? leadInfo?.siteInformation?.technicalInstallationArea:
                          '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">System Ownership</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.customerInformation?.ownerShipType
                          ? leadInfo?.customerInformation?.ownerShipType : '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Sales Area</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.siteInformation?.salesArea
                          ? leadInfo?.siteInformation?.salesArea:'-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Technical Service Area</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.siteInformation?.technicalServiceArea
                          ? leadInfo?.siteInformation?.technicalServiceArea: '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Outstanding Balance</span>
                      <span id="" class="value">
                        <span class="d-inline-block">
                          <a style="color: #116fbf;">Value Info</a>
                        </span>
                      </span>
                    </div>

                    <div class="d-flex">
                      <span id="" class="key">System Type</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.siteInformation?.systemType
                          ? leadInfo?.siteInformation?.systemType: '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Last Technical Call Date</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.customerInformation?.technicalCallDate
                          | date}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">Last Signal Date</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.siteInformation?.lastSignalDate
                          | date}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">BDI Number</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.customerInformation?.bdiNumber
                          ? leadInfo?.customerInformation?.bdiNumber : '-'}}</span>
                      </span>
                    </div>
                    <div class="d-flex">
                      <span id="" class="key">LSS Area</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{leadInfo?.siteInformation?.lssArea ?
                          leadInfo?.siteInformation?.lssArea : '-'}}</span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6" style="margin-top: -22px; border-left: 2px solid #ccc;">
                    <div class="row">
                      <div class="page-sub-title col">NOTES</div>
                    </div>
                    <div *ngIf="leadNotes?.length === 0" style="font-size: 1rem;">
                      No notes found
                    </div>
                    <div *ngFor="let note of leadNotes">
                      <div class="row mb-2">
                        <div class="col-12 notes-header">
                          <div>Updated by: </div>
                          <a style="color: #116fbf;">{{note?.assignedBy ? note.assignedBy:
                            '-'}}</a>
                          <div>{{note.createdDate | date}}</div>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length==0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-content" *ngIf="note?.dataRef == leadNotesDataRefEnum.LEAD_CALLBACK">
                          <p class="mt-1 mb-1 pb-2">
                            Callback ID:
                            <a style="color: #116fbf;" (click)="openScheduleCallbackViewComponent(note?.callbackId)">
                              {{note?.callbackRefNo?note.callbackRefNo:'-'}}
                            </a>
                          </p>
                          <p class="mt-1 mb-1 pb-2">
                            Callback Date And Time: {{note.callbackDatetime}}
                          </p>
                          <p class="mt-1 mb-1 pb-2">
                            Callback Comments:
                            {{note.callbackComments?note.callbackComments:'-'}}
                          </p>
                          <p class="mt-1 mb-1 pb-2">
                            Email Text:
                            <label [innerHTML]="note?.emailNotificationText ? note?.emailNotificationText:'-'"></label>
                          </p>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length==0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-header" *ngIf="note.viewedBy">
                          <div>Viewed By: {{note?.viewedBy}}, Viewed Date:
                            {{note?.ViewedDate | date}}</div>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length==0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-content" *ngIf="note.dataRef == leadNotesDataRefEnum.LEAD_ASSIGNED_USERS">
                          <p class="mt-1 mb-1 pb-2">
                            Lead assign to: {{note.leadAssignedTo ? note.leadAssignedTo:
                            '-'}}
                          </p>
                          <p class="mt-1 mb-1 pb-2" *ngIf="note.groupName">
                            Group Name: {{note.groupName ? note.groupName : '-'}}
                          </p>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length==0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-content" *ngIf="note.dataRef == leadNotesDataRefEnum.SMS_NOTIFICATIONS">
                          <p class="mt-1 mb-1 pb-2">
                            SMS To:
                            {{note.smsNotificationTo?(note.smsNotificationTo|phoneMask):"-"}}
                          </p>
                          <p class="mt-1 mb-1 pb-2">
                            SMS Text:
                            <label [innerHTML]="note?.smsNotificationText ? note?.smsNotificationText:'-'"></label>
                          </p>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length==0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-content"
                          *ngIf="note?.dataRef == leadNotesDataRefEnum.EMAIL_NOTIFICATIONS">
                          <p class="mt-1 mb-1 pb-2">
                            Email To: {{note.emailNotificationTo}}
                          </p>
                          <p class="mt-1 mb-1 pb-2" *ngIf="note.emailNotificationCC">
                            Email CC: {{note.emailNotificationCC ?
                            note.emailNotificationCC:'-'}}
                          </p>
                          <p class="mt-1 mb-1 pb-2">
                            Email Subject: {{note.emailNotificationSubject ?
                            note.emailNotificationSubject:'-'}}
                          </p>
                          <p class="mt-1 mb-1 pb-2">
                            Email Text:
                            <label [innerHTML]="note?.emailNotificationText ? note?.emailNotificationText:'-'"></label>
                          </p>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length==0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-content" *ngIf="note?.dataRef == leadNotesDataRefEnum.NEW_QUOTE_REQUEST">
                          <p class="mt-1 mb-1 pb-2">
                            New Quote Comments:
                            <label
                              [innerHTML]="note?.newQuoteRequestComments ? note?.newQuoteRequestComments:'-'"></label>
                          </p>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length==0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-content" *ngIf="note?.dataRef == leadNotesDataRefEnum.APPOINTMENTS">
                          <div class="d-flex">
                            <span id="" class="key">Appointment Date:</span>
                            <span id="" class="value">
                              <span class="d-inline-block">{{note.appointmentDate |
                                date}}</span>
                            </span>
                          </div>
                          <div class="d-flex">
                            <span id="" class="key">Appointment Time:</span>
                            <span id="" class="value">
                              <span class="d-inline-block">{{note.appointmentTime
                                }}</span>
                            </span>
                          </div>
                          <div class="d-flex">
                            <span id="" class="key">Seller Name:</span>
                            <span id="" class="value">
                              <span class="d-inline-block">{{note.sellerName}}</span>
                            </span>
                          </div>
                          <div class="d-flex">
                            <span id="" class="key">Seller Email:</span>
                            <span id="" class="value">
                              <span class="d-inline-block">{{note.sellerEmail}}</span>
                            </span>
                          </div>
                          <div class="d-flex">
                            <span id="" class="key">Seller Number:</span>
                            <span id="" class="value">
                              <span
                                class="d-inline-block">{{note.sellerContactNumber?(note.sellerContactNumber|phoneMask):"-"}}</span>
                            </span>
                          </div>
                          <div class="d-flex">
                            <span id="" class="key">Appointment Status:</span>
                            <span id="" class="value">
                              <span
                                style="box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16); width: auto;font-size: 1rem;">{{note.appointmentStatusName
                                ? note.appointmentStatusName : '-'}}</span>
                            </span>
                          </div>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length==0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-content" *ngIf="note?.dataRef == leadNotesDataRefEnum.LEAD_NOTES">
                          <p class="mt-1 mb-1 pb-2">
                            Lead Notes: {{note.leadNotes?note.leadNotes:'-'}}
                          </p>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length>0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-content" *ngIf="note?.documentDetailsList?.length > 0">
                          <span>Attachments: </span>
                          <span *ngFor="let doc of note?.documentDetailsList; let i=index">
                            <a target="_blank" href="{{doc?.documentPath}}">
                              {{doc.documentName}}</a>
                            <span *ngIf="i != note?.documentDetailsList?.length-1">,</span>
                          </span>
                        </div>
                        <div
                          [ngStyle]="note?.documentDetailsList?.length==0&&{'border-bottom': '1px solid rgba(0, 0, 0, 0.1)'}"
                          class="col-12 notes-content"
                          *ngIf="note?.dataRef == leadNotesDataRefEnum.APPOINTMENT_ESCALATION">
                          <div class="d-flex">
                            <span id="" class="key">Escalation Date:</span>
                            <span id="" class="value">
                              <span>{{note.appointmentDate |
                                date}}</span>
                            </span>
                          </div>
                          <div class="d-flex">
                            <span id="" class="key">Escalation Time:</span>
                            <span id="" class="value">
                              <span>{{note.appointmentTime? note.appointmentTime : '-'}}</span>
                            </span>
                          </div>
                          <div class="d-flex">
                            <span id="" class="key">Escalated To:</span>
                            <span id="" class="value">
                              <span>{{note.leadAssignedTo? note.leadAssignedTo : '-'}}</span>
                            </span>
                          </div>
                          <div class="d-flex">
                            <span id="" class="key">Escalation Reason:</span>
                            <span id="" class="value">
                              <span>{{note.appointmentComments ? note.appointmentComments : '-'}}</span>
                            </span>
                          </div>
                          <div class="d-flex">
                            <span id="" class="key">Notes:</span>
                            <span id="" class="value">
                              <span>{{note.leadNotes? note.leadNotes : '-'}}</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="quickaction_sidebar" class="quick-action-sidebar">
                <div class="quick-action-sidebar-header d-flex justify-content-between align-items-center">
                  <span>Quick Action</span>
                  <span class="icon icon-close-icon" (click)="closeNav()"></span>
                </div>
                <div class="quick-action-sidebar-body p-relative">
                  <div class="p-relative open-btn-con">
                    <button class="btn open-btn p-absolute" (click)="openNav()">|||</button>
                  </div>
                  <ul class="quick-action-menu-con">
                    <li class="quick-action-menu mb-1" (click)="updateLeadInfo()">
                      <a>Update Lead Info</a>
                    </li>
                    <li class="quick-action-menu mb-1">
                      <a (click)="openBookAppoinmentHistory()">Appointment History</a>
                    </li>
                    <li class="quick-action-menu mb-1" (click)="teleSaleCall()">
                      <a>Tele Sales Call</a>
                    </li>
                    <li class="quick-action-menu mb-1" (click)="openScheduleAppointment()">
                      <a>Schedule Appointment</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <button style="float: right;" class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
              (click)="rxjsService.navigateToLeadListPage()">Exit Lead</button>
          </div>
        </p-scrollPanel>
      </div>
    </div>
  </div>
</div>

<!--open exempt modal-->
<div class="modal" #exempt_modal id="exempt_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header fidelity-popup-heading">
        <h4 class="modal-title">CPA Exempt</h4>
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
      </div>
      <app-popup-loader></app-popup-loader>
      <div class="modal-body existing-cust-con">
        <mat-dialog-content>
          <div class="d-flex flex-column text-center">
            <p>Asset value or annual turnover more than R2 million per anum ?</p>
            <mat-radio-group [(ngModel)]="isCpaExempt" name="Type Of Fee">
              <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="fidelity-radio-btn" [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-dialog-content>
      </div>
      <div class="modal-footer text-center justify-content-center">
        <button (click)="saveCpaExempt()" type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
          Save
        </button>
        <button type="button" class="btn btn-md-fidelity btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
