<app-lead-lifecycle-breadcrumb-icon-actions-header [shouldShowHeaderContainerOnly]="true" [breadCrumb]="breadCrumb">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="mb-10 col-md-12">
            <div class="ibox white-bg create-lead-stage1-con space-saving-con" style="height: auto!important;">
                <p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
                    <div class="ibox-body">
                        <form [formGroup]="leadForm" *ngIf="leadForm" customForm (ngSubmit)="onSubmit()">
                            <fieldset [disabled]="areFieldsDisabled">
                                <div class="row">
                                    <div class="mb-10 col-md-8"><label class="page-sub-title">Customer Data</label>
                                    </div>
                                    <div class="mb-10 col-md-4"><label class="page-sub-title">Contact
                                            Information</label></div>
                                </div>
                                <fieldset [disabled]="isDataFetchedFromSelectedCustomerProfile">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <ng-container formGroupName="basicInfo">
                                                    <div class="mb-10 col-md-6">
                                                        <div class="form-group">
                                                            <label>Customer Type<span
                                                                    class="mandatory-field">*</span></label>
                                                            <select-custom-control [loopableArray]='customerTypes'
                                                                [defaultOptionValue]="null"
                                                                formControlName="customerTypeId">
                                                            </select-custom-control>
                                                        </div>
                                                    </div>
                                                    <div class="mb-10 col-md-6">
                                                        <div class="form-group">
                                                            <label>Title<span class="mandatory-field">*</span></label>
                                                            <select-custom-control [loopableArray]='titles'
                                                                [defaultOptionValue]="null" formControlName="titleId">
                                                            </select-custom-control>
                                                        </div>
                                                    </div>
                                                    <div class="mb-10 col-md-6">
                                                        <div class="form-group">
                                                            <label>First Name<span
                                                                    class="mandatory-field">*</span></label>
                                                            <input-custom-control formControlName="firstName"
                                                                (blur)="getExistingLeads()">
                                                            </input-custom-control>
                                                        </div>
                                                    </div>
                                                    <div class="mb-10 col-md-6">
                                                        <div class="form-group">
                                                            <label>Surname<span class="mandatory-field">*</span></label>
                                                            <input-custom-control formControlName="lastName"
                                                                [name]="'Surname'" [placeholder]="'Enter LastName'"
                                                                (blur)="getExistingLeads()">
                                                            </input-custom-control>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-container formGroupName="contactInfo">
                                                    <div class="mb-10 col-md-6">
                                                        <div class="form-group">
                                                            <label>Email Address<span
                                                                    class="mandatory-field">*</span></label>
                                                            <input-custom-control [extraClassNames]="'fidelity_email'" formControlName="email"
                                                                (blur)="getExistingLeads()">
                                                            </input-custom-control>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-container formGroupName="basicInfo">
                                                    <div class="mb-10 col-md-6"
                                                        *ngIf="customerTypeName==residentialCustomerType">
                                                        <div class="form-group">
                                                            <label>SA ID</label>
                                                            <input-custom-control [name]="'SA ID'"
                                                                [placeholder]="'Enter SA ID'" formControlName="said">
                                                            </input-custom-control>
                                                        </div>
                                                    </div>
                                                    <ng-container *ngIf="customerTypeName==commercialCustomerType">
                                                        <div class="mb-10 col-md-6">
                                                            <div class="form-group">
                                                                <label>Register Number</label>
                                                                <input-custom-control formControlName="companyRegNo">
                                                                </input-custom-control>
                                                            </div>
                                                        </div>
                                                        <div class="mb-10 col-md-12">
                                                            <div class="form-group" style="width: 90%;">
                                                                <label>Company Name<span
                                                                        class="mandatory-field">*</span></label>
                                                                <input-custom-control formControlName="companyName">
                                                                </input-custom-control>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <ng-container formGroupName="contactInfo">
                                                    <div class="mb-10 col-md-12">
                                                        <label>Mobile1 <span class="mandatory-field">*</span> </label>
                                                        <div class="row">
                                                            <div class="mb-10 col-md-3 pr-0">
                                                                <div class="form-group" style="width: 100%!important;">
                                                                    <select disabled
                                                                        class="form-control fidelity-form-input pad-right"
                                                                        style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                                        formControlName="mobile1CountryCode">
                                                                        <option *ngFor="let countryCode of countryCodes"
                                                                            [value]="countryCode.displayName">
                                                                            {{countryCode.displayName}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="mb-10 col-md-8 pl-0">
                                                                <div class="form-group" style="width: 84%!important;">
                                                                    <input id="mobileNumber1"
                                                                        style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                                        [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                        [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                        appPhoneMask
                                                                        [title]="contactInfoFormGroupControls?.get('mobile1CountryCode')?.value"
                                                                        formControlName="mobile1"
                                                                        class="form-control fidelity-form-input"
                                                                        name="Mobile Number 1"
                                                                        placeholder="Mobile Number1" [ngClass]="{'is-mobile-invalid': contactInfoFormGroupControls?.get('mobile1')?.value|findDuplicate:contactInfoFormGroupControls:
                                                        'mobile1'}" (blur)="getExistingLeads()" />
                                                                    <span class="duplicate"
                                                                        *ngIf="contactInfoFormGroupControls.get('mobile1')?.value|findDuplicate:contactInfoFormGroupControls:'mobile1'">
                                                                        Mobile Number1 should be different
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-10 col-md-12">
                                                        <label>Mobile2<span
                                                                *ngIf="(!contactInfoFormGroupControls.get('mobile2')?.value && !contactInfoFormGroupControls.get('officeNo')?.value &&
                                                !contactInfoFormGroupControls.get('premisesNo')?.value)&&isFormSubmitted"
                                                                class="mandatory-field">*</span><b
                                                                style="font-size:13px">
                                                                ( Either Mobile2 / Office / Premises is mandatory )</b>
                                                        </label>
                                                        <div class="row">
                                                            <div class="mb-10 col-md-3 pr-0">
                                                                <div class="form-group" style="width: 100%!important;">
                                                                    <select
                                                                        class="form-control fidelity-form-input pad-right"
                                                                        style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                                        formControlName="mobile2CountryCode">
                                                                        <option *ngFor="let countryCode of countryCodes"
                                                                            [value]="countryCode.displayName">
                                                                            {{countryCode.displayName}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="mb-10 col-md-8 pl-0">
                                                                <div class="form-group" style="width: 84%!important;">
                                                                    <input id="mobileNumber2" #input
                                                                        style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                                        appPhoneMask
                                                                        [title]="contactInfoFormGroupControls?.get('mobile2CountryCode')?.value"
                                                                        formControlName="mobile2"
                                                                        [ngClass]="{'is-mobile-invalid': contactInfoFormGroupControls?.get('mobile2')?.value|findDuplicate:contactInfoFormGroupControls:
                                                            'mobile2': contactInfoFormGroupControls?.get('mobile2CountryCode')?.value}"
                                                                        class="form-control fidelity-form-input"
                                                                        name="Mobile Number 2"
                                                                        placeholder="Mobile Number2" />
                                                                    <span class="duplicate"
                                                                        *ngIf="contactInfoFormGroupControls.get('mobile2')?.value|findDuplicate:contactInfoFormGroupControls:
                                                            'mobile2':contactInfoFormGroupControls.get('mobile2CountryCode')?.value">
                                                                        Mobile Number2 should be different
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-10 col-md-12">
                                                        <label>Office<span
                                                                *ngIf="(!contactInfoFormGroupControls.get('mobile2')?.value && !contactInfoFormGroupControls.get('officeNo')?.value &&
                                                !contactInfoFormGroupControls.get('premisesNo')?.value)&&isFormSubmitted"
                                                                class="mandatory-field">*</span> </label>
                                                        <div class="row">
                                                            <div class="mb-10 col-md-3 pr-0">
                                                                <div class="form-group" style="width: 100%!important;">
                                                                    <select disabled
                                                                        class="form-control fidelity-form-input pad-right"
                                                                        style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                                        formControlName="officeNoCountryCode">
                                                                        <option *ngFor="let countryCode of countryCodes"
                                                                            [value]="countryCode.displayName">
                                                                            {{countryCode.displayName}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="mb-10 col-md-8 pl-0">
                                                                <div class="form-group" style="width: 84%!important;">
                                                                    <input id="officeNumber"
                                                                        style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                                        [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                        [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                        [title]="contactInfoFormGroupControls?.get('officeNoCountryCode')?.value"
                                                                        appPhoneMask formControlName="officeNo"
                                                                        [ngClass]="{'is-mobile-invalid': contactInfoFormGroupControls?.get('officeNo')?.value|findDuplicate:contactInfoFormGroupControls:
                                                            'officeNo'}" class="form-control fidelity-form-input"
                                                                        name="Office Number"
                                                                        placeholder="Office Number" />
                                                                    <span class="duplicate"
                                                                        *ngIf="contactInfoFormGroupControls.get('officeNo')?.value|findDuplicate:contactInfoFormGroupControls:'officeNo'">
                                                                        Office number should be different
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-10 col-md-12">
                                                        <label>Premises<span
                                                                *ngIf="(!contactInfoFormGroupControls.get('mobile2')?.value && !contactInfoFormGroupControls.get('officeNo')?.value &&
                                                !contactInfoFormGroupControls.get('premisesNo')?.value)&&isFormSubmitted"
                                                                class="mandatory-field">*</span> </label>
                                                        <div class="row">
                                                            <div class="mb-10 col-md-3 pr-0">
                                                                <div class="form-group" style="width: 100%!important;">
                                                                    <select disabled
                                                                        class="form-control fidelity-form-input pad-right"
                                                                        style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                                        formControlName="premisesNoCountryCode">
                                                                        <option *ngFor="let countryCode of countryCodes"
                                                                            [value]="countryCode.displayName">
                                                                            {{countryCode.displayName}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="mb-10 col-md-8 pl-0">
                                                                <div class="form-group" style="width: 84%!important;">
                                                                    <input id="premises"
                                                                        style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                                        [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                        [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                        [title]="contactInfoFormGroupControls?.get('premisesNoCountryCode')?.value"
                                                                        appPhoneMask [ngClass]="{'is-mobile-invalid': contactInfoFormGroupControls?.get('premisesNo')?.value|findDuplicate:contactInfoFormGroupControls:
                                                            'premisesNo'}" formControlName="premisesNo"
                                                                        class="form-control fidelity-form-input"
                                                                        name="Premises Number"
                                                                        placeholder="Premises Number" />
                                                                    <span class="duplicate"
                                                                        *ngIf="contactInfoFormGroupControls.get('premisesNo')?.value|findDuplicate:contactInfoFormGroupControls:'premisesNo'">
                                                                        Premises number should be different
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <ng-container formGroupName="addressInfo">
                                    <fieldset [disabled]="isLeadGroupUpgrade"
                                        [ngStyle]="shouldShowLocationPinBtn&&{'pointer-events':'none' }">
                                        <div class="row">
                                            <div class="mb-10 col-md-8"><label class="page-sub-title">Address
                                                    Data</label></div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-10 col-md-12">
                                                <div class="form-group">
                                                    <div class="d-block">
                                                        <mat-checkbox formControlName="isAddressComplex"
                                                            class="fidelity-checkbox fidelity-checkbox-header mr-3">
                                                            Complex
                                                        </mat-checkbox>
                                                        <mat-checkbox formControlName="isAddressExtra"
                                                            class="fidelity-checkbox fidelity-checkbox-header mr-3">
                                                            Address Extra
                                                        </mat-checkbox>
                                                        <mat-checkbox formControlName="isAfrigisSearch"
                                                            class="fidelity-checkbox fidelity-checkbox-header mr-3">
                                                            Afrigis Search
                                                        </mat-checkbox>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-10 col-md-8 pr-0">
                                                <div class="row ">
                                                    <div style="width: 70%;" class="mb-10 col-md-9 p-relative">
                                                        <label class="d-block">Find Address<span *ngIf="(addressInfoFormGroupControls.get('isAddressComplex').value
                                                            || addressInfoFormGroupControls.get('isAddressExtra').value ||
                                                            addressInfoFormGroupControls.get('isAfrigisSearch').value)"
                                                                class="mandatory-field">*</span></label>
                                                        <mat-select-autocomplete-custom-control [name]="'Find Address'"
                                                            [matOptionValueProperty]="addressInfoFormGroupControls.get('isAfrigisSearch').value?'description'
                                                            :'fullAddress'" [matOptionViewProperty]="addressInfoFormGroupControls.get('isAfrigisSearch').value?'description'
                                                            :'fullAddress'" [formGroup]="addressInfoFormGroupControls"
                                                            formControlName="formatedAddress"
                                                            [minLength]="formConfigs.three"
                                                            [customInputGroupStyle]="{'margin-top':'19px'}"
                                                            [customButtonHeightStyle]="{'height':'34px'}"
                                                            [selectedOptionSearchkeywordProperty]="addressInfoFormGroupControls.get('isAfrigisSearch').value?'description'
                                                            :'fullAddress'"
                                                            (clearDependentFormControlValues)="clearAddressFormGroupValues()"
                                                            [getLoopableObjectRequestObservable]="getLoopableObjectRequestObservable"
                                                            (emitSelectedOption)="onSelectedItemOption($event)">
                                                        </mat-select-autocomplete-custom-control>
                                                    </div>
                                                    <div class="mb-10 col-md-3" style="margin-top: 20px;">
                                                        <button type="button"
                                                            class="btn btn-md-fidelity fidelity-btn-grey btn-default ml-2"
                                                            (click)="openAddressPopup();">New
                                                            Address</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 pr-0">
                                                <div class="row align-items-center">
                                                    <div [ngClass]="shouldShowLocationPinBtn?'col-7':'col-11'"
                                                        class="form-group pr-0" style="width: 90%;">
                                                        <label>Location<span class="mandatory-field">*</span></label>
                                                        <div>
                                                            <input #location formControlName="latLong" readonly
                                                                class="form-control fidelity-form-input"
                                                                name="Latitude Longitude">
                                                        </div>
                                                    </div>
                                                    <div class="mb-10 col-md-5" *ngIf="shouldShowLocationPinBtn">
                                                        <button style="margin-top: 17px;"
                                                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2"
                                                            type="button" (click)="openFindPinMap()" type="button">
                                                            Find Pin
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="addressInfoFormGroupControls.get('isAddressComplex')?.value"
                                                class="mb-10 col-md-12">
                                                <b style="font-size:13px">
                                                    ( Either Unit/Building Numbe or Building Number is mandatory )</b>
                                            </div>
                                            <div class="mb-10 col-md-4">
                                                <div class="form-group">
                                                    <label>Unit/Building Number</label>
                                                    <input-custom-control formControlName="buildingNo">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="mb-10 col-md-4">
                                                <div class="form-group">
                                                    <label>Building Name</label>
                                                    <input-custom-control formControlName="buildingName">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="mb-10 col-md-4">
                                                <div class="form-group">
                                                    <label>Street Number</label>
                                                    <input-custom-control formControlName="streetNo">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="mb-10 col-md-4">
                                                <div class="form-group">
                                                    <label>Street Name</label>
                                                    <input-custom-control formControlName="streetName">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="mb-10 col-md-4">
                                                <div class="form-group">
                                                    <label>Suburb</label>
                                                    <input-custom-control formControlName="suburbName">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="mb-10 col-md-4">
                                                <div class="form-group">
                                                    <label>City/Town<span class="mandatory-field">*</span></label>
                                                    <input-custom-control formControlName="cityName">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="mb-10 col-md-4">
                                                <div class="form-group">
                                                    <label>Province<span class="mandatory-field">*</span></label>
                                                    <input-custom-control formControlName="provinceName">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="mb-10 col-md-4">
                                                <div class="form-group p-relative">
                                                    <label>Postal Code</label>
                                                    <input-custom-control formControlName="postalCode">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-10 col-md-12">
                                                <div class="page-sub-title">Address Extra<b
                                                        *ngIf="addressInfoFormGroupControls?.get('isAddressExtra')?.value"
                                                        style="color:#000;font-size:13px">
                                                        ( Either Estate Street Number or Street Name or Estate Name is
                                                        mandatory )</b></div>
                                            </div>
                                            <div class="mb-10 col-md-8">
                                                <div class="row">
                                                    <div class="mb-10 col-md-6">
                                                        <div class="form-group">
                                                            <label>Estate Street Number<span
                                                                    *ngIf="(addressInfoFormGroupControls.get('isAddressExtra')?.value && (!addressInfoFormGroupControls.get('estateStreetName')?.value &&
                                                    !addressInfoFormGroupControls.get('estateName')?.value&&isFormSubmitted))"
                                                                    class="mandatory-field">*</span></label>
                                                            <input-custom-control formControlName="estateStreetNo">
                                                            </input-custom-control>
                                                        </div>
                                                    </div>
                                                    <div class="mb-10 col-md-6">
                                                        <div class="form-group">
                                                            <label>Estate Street Name<span
                                                                    *ngIf="(addressInfoFormGroupControls.get('isAddressExtra')?.value && (!addressInfoFormGroupControls.get('estateStreetNo')?.value &&
                                                     !addressInfoFormGroupControls.get('estateName')?.value&&isFormSubmitted))"
                                                                    class="mandatory-field">*</span></label>
                                                            <input-custom-control formControlName="estateStreetName">
                                                            </input-custom-control>
                                                        </div>
                                                    </div>
                                                    <div class="mb-10 col-md-12">
                                                        <div class="form-group" style="width: 90%;">
                                                            <label>Estate Name<span
                                                                    *ngIf="(addressInfoFormGroupControls.get('isAddressExtra')?.value&&(!addressInfoFormGroupControls.get('estateStreetNo')?.value &&
                                                    !addressInfoFormGroupControls.get('estateStreetName')?.value&&isFormSubmitted))"
                                                                    class="mandatory-field">*</span></label>
                                                            <input-custom-control formControlName="estateName">
                                                            </input-custom-control>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-10 col-md-4">
                                                <div class="row">
                                                    <div class="mb-10 col-md-12">
                                                        <div class="form-group">
                                                            <label>Conf Level</label>
                                                            <input-custom-control
                                                                formControlName="addressConfidentLevel">
                                                            </input-custom-control>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </ng-container>
                                <div class="row">
                                    <div class="mb-10 col-md-12">
                                        <div class="page-sub-title">Lead and Site Type</div>
                                    </div>
                                    <div class="col-4" [ngStyle]="{'pointer-events': areFieldsDisabled?'none':'all'}">
                                        <div class="form-group fidelity-multiselect-dropdown-con"
                                            style="width: 100%;display: flex;flex-direction: column;">
                                            <label>Leads Category<span class="mandatory-field">*</span></label>
                                            <p-multiSelect  formControlName="leadCategoryId" dataKey="id"
                                            appendTo="body" [defaultLabel]="'Select Categories'" autoWidth="false"
                                            optionLabel="displayName" optionValue="id"
                                            [style]="{'width':'100%','height': '38px'}" [options]="leadCategories">
                                            </p-multiSelect>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group mat-form  mat-select-single-selection-option-group">
                                            <label>Source Type<span class="mandatory-field">*</span></label>
                                            <mat-form-field style="width:80%">
                                                <select matNativeControl formControlName="sourceId">
                                                    <option value="null" disabled>-- Select Source Type --</option>
                                                    <optgroup *ngFor="let sourceType of sourceTypes"
                                                        [label]="sourceType.sourceGroupName">
                                                        <option *ngFor="let source of sourceType.sources"
                                                            value="{{source.id}}">{{source.displayName}}</option>
                                                    </optgroup>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="mb-10 col-md-4">
                                        <div class="form-group">
                                            <label>Site Type<span class="mandatory-field">*</span></label>
                                            <select-custom-control [loopableArray]='siteTypes'
                                                [defaultOptionValue]="null" formControlName="siteTypeId">
                                            </select-custom-control>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="text-center mt-3">
                                <button type="submit" [disabled]="areFieldsDisabled||isFormSubmitted"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2">{{leadId
                                    ? 'Update': 'Create'}}</button>
                                <button type="button" (click)="nextOrPrevStepper('previous')"
                                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>
<!-- use existing Lead modal -->
<div class="modal" #existing_lead_modal id="existing_lead_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width: 90%;">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Found Existing Customer Profile</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <div class="modal-body existing-cust-con">
                <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
                    <form [formGroup]="columnFilterForm">
                        <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true"
                            [lazyLoadOnInit]="false" [(selection)]="selectedRows" [scrollable]="true"
                            scrollHeight="420px" (onLazyLoad)="loadPaginationLazy($event)" [totalRecords]="totalRecords"
                            [loading]="loading" [value]="dataList" [dataKey]="tables.dataKey" [paginator]="false"
                            [responsive]="true" [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"
                            [reorderableColumns]="tables?.reorderableColumns">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col *ngFor="let col of columns">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr class="first-row">
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                        pReorderableColumn [pSortableColumnDisabled]="(col.header=='Open Lead' || col.header=='Select' ||
                                     col.header=='Mobile No')?true:false">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                            ariaLabelDesc="Activate to sort in descending order"
                                            ariaLabelAsc="Activate to sort in ascending order">
                                        </p-sortIcon>
                                    </th>
                                </tr>
                                <tr *ngIf="tables?.enableFieldsSearch">
                                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input [formControlName]="col.field"
                                            *ngIf="col.header !== 'Select'&&col.header !== 'Open Lead'" pInputText
                                            type="text" [value]="dt.filters[col.field]?.value"
                                            (input)="dt.filter($event.target.value, col.field, 'contains')">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                                let-expanded="expanded">
                                <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
                                    <td *ngFor="let col of columns;index as i" class="ui-resizable-column"
                                        pReorderableRowHandle>
                                        <ng-container *ngIf="col.header == 'Select'">
                                            <mat-radio-group aria-label="Select an option"
                                                (change)="onChangeCustomerSelection(rowData)">
                                                <mat-radio-button [value]="col['isChecked']"
                                                    [checked]="rowData['isChecked']==true" style="margin-left:20px">
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </ng-container>
                                        <ng-container *ngIf="col.header != 'Lead ID'&&col.header !== 'Select'">
                                            <span pTooltip="{{rowData[col.field]}}" tooltipPosition="top">
                                                {{col.field=='mobile1'?rowData['mobile1CountryCode']+'
                                                '+(rowData['mobile1'] | phoneMask)
                                                :col.field=='isOpenLeads'?(rowData[col.field]?'Exist':'No'):rowData[col.field]
                                                ? rowData[col.field] : '--'}}
                                            </span>
                                        </ng-container>
                                        <ng-container *ngIf="col.header == 'Lead ID'">
                                            <a style="color: #00644A;cursor: pointer;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top"
                                                (click)="onCRUDRequested('edit','leadId',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <p *ngIf="totalRecords == 0">No records found</p>
                            </ng-template>
                            <ng-template pTemplate="paginatorleft" let-state>
                                <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                                    {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ?
                                        state.rows * (state.page + 1) : totalRecords}} of <strong>{{totalRecords ?
                                        totalRecords : pageSize}}</strong> entries
                                </p>
                            </ng-template>
                        </p-table>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center" style="justify-content: center;">
                <button [disabled]="!selectedExistingCustomerProfile?.hasOwnProperty('customerId')"
                    (click)="onExistingCustomerPopupBtnClick('Use Existing Customer')" type="button"
                    data-dismiss="modal" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Use Existing Customer
                </button>
                <button [disabled]="selectedExistingCustomerProfile?.isOpenLeads==false"
                    (click)="onExistingCustomerPopupBtnClick('Use Existing Lead')" type="button" data-dismiss="modal"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Continue Existing Lead
                </button>
                <button [disabled]="!selectedExistingCustomerProfile?.hasOwnProperty('customerId')"
                    (click)="onExistingCustomerPopupBtnClick('Use Existing Customer Detail')" type="button"
                    data-dismiss="modal" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Navigate to Profile
                </button>
                <button [disabled]="isNewProfileBtnDisabled" (click)="onExistingCustomerPopupBtnClick('New Profile')"
                    type="button" data-dismiss="modal" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    New Profile
                </button>
                <button [disabled]="isResetBtnDisabled" (click)="onResetFilter('reset')" type="button"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Reset
                </button>
            </div>
        </div>
    </div>
</div>
<!--link existing address modal-->
<div class="modal" #existing_address_footprint_modal id="existing_address_footprint_modal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Use Existing Customer Address</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <div class="d-flex flex-column">
                        <div>
                            <img src="" alt="">
                        </div>
                        <p>{{addressModalMessage}}</p>
                    </div>
                </mat-dialog-content>
                <ng-container *ngIf="existingAddresses.length>1">
                    <div class="row children-row mt-3" *ngFor="let existingAddress of existingAddresses">
                        <div class="col-1 col-1 d-flex justify-content-center">
                            <mat-radio-button class="fidelity-radio-btn" [value]="existingAddress.isSelected"
                                (change)="onSelectExistingCustomerAddress(existingAddress)"></mat-radio-button>
                        </div>
                        <div class="mb-10 col-md-11">
                            <div class="form-group">
                                {{existingAddress.fullAddress}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="modal-footer text-center">
                <button (click)="onLinkExistingAddress()"
                    [disabled]="!existingCustomerAddress&&existingAddresses.length>0" type="button"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    proceed
                </button>
                <button type="button" class="btn btn-md-fidelity btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--link existing address's installed services and products modal-->
<div class="modal" #existing_address_modal_installed_items id="existing_address_modal_installed_items"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Address Confirmation</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <div class="d-flex flex-column">
                        <div>
                            <img src="" alt="">
                        </div>
                        <p>This address exists in Fidelity database. Would you like to associate the address to the new
                            customer?</p>
                        <label class="page-sub-title mb-1">INSTALLED SYSTEMS(SELECT TO AVAIL)</label>
                    </div>
                </mat-dialog-content>
                <div class="row children-row mt-3" *ngFor="let installedItem of installedRentedItems;">
                    <div class="col-1 col-1 d-flex justify-content-center">
                        <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"
                            [value]="installedItem.isChecked" (change)="onChangeInstalledItems(installedItem)">
                        </mat-checkbox>
                    </div>
                    <div class="mb-10 col-md-11">
                        <div class="form-group">
                            {{installedItem.itemName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button (click)="onSelectedInstalledItems()" [disabled]="selectedInstalledRentedItems.length===0"
                    type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    proceed
                </button>
                <button type="button" class="btn btn-md-fidelity btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--confirm reconnection modal-->
<div class="modal" #confirm_reconnection_modal id="confirm_reconnection_modal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Address Confirmation - Reconnection</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <div class="d-flex flex-column">
                        <p>{{reconnectionMessage}}</p>
                    </div>
                </mat-dialog-content>
            </div>
            <div class="modal-footer text-center" style="justify-content: center">
                <button (click)="leadForm.get('leadGroupId').setValue(leadGroupTypes.RECONNECTION);onSubmit()"
                    data-dismiss="modal" type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Proceed as Reconn Lead
                </button>
                <button type="button" (click)="reconnectionMessage=''" class="btn btn-md-fidelity btn-default"
                    data-dismiss="modal">No, Change address</button>
            </div>
        </div>
    </div>
</div>
<!-- reconnection for new customer modal -->
<div class="modal" #reconn_new_customer_modal id="reconn_new_customer_modal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width: 90%;">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Address Confirmation: Reconnection</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <div class="modal-body existing-cust-con">
                <div
                    *ngFor="let tables of secondPrimengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
                    <form [formGroup]="columnFilterFormTwo">
                        <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true"
                            [lazyLoadOnInit]="false" [(selection)]="selectedRows" [scrollable]="true"
                            scrollHeight="420px" (onLazyLoad)="loadPaginationLazy($event)" [totalRecords]="totalRecords"
                            [loading]="loading" [value]="dataList" [dataKey]="tables.dataKey" [paginator]="false"
                            [responsive]="true" [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"
                            [reorderableColumns]="tables?.reorderableColumns">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col *ngFor="let col of columns">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr class="first-row">
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                        pReorderableColumn
                                        [pSortableColumnDisabled]="(col.header=='Select' || col.field=='isSiteSpecific' ||
                                        col.field=='isRelocationNoticeRaised' || col.field=='isMovingCancellations')?true:false">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                            ariaLabelDesc="Activate to sort in descending order"
                                            ariaLabelAsc="Activate to sort in ascending order">
                                        </p-sortIcon>
                                    </th>
                                </tr>
                                <tr *ngIf="tables?.enableFieldsSearch">
                                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input [formControlName]="col.field"
                                            *ngIf="col.header !== 'Select'&&col.header !== 'Open Lead'" pInputText
                                            type="text" [value]="dt.filters[col.field]?.value"
                                            (input)="dt.filter($event.target.value, col.field, 'contains')">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                                let-expanded="expanded">
                                <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
                                    <td *ngFor="let col of columns;index as i" class="ui-resizable-column"
                                        pReorderableRowHandle>
                                        <ng-container *ngIf="col.header == 'Select'">
                                            <mat-radio-group aria-label="Select an option"
                                                (change)="onChangeReconnNewCustomerSelection(rowData)">
                                                <mat-radio-button [value]="col['isChecked']"
                                                    [checked]="rowData['isChecked']==true" style="margin-left:20px">
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </ng-container>
                                        <ng-container *ngIf="col.field !== 'customerRefNo'&&col.header !== 'Select'">
                                            <span pTooltip="{{rowData[col.field]}}" tooltipPosition="top">
                                                {{(col.field=='isSiteSpecific' || col.field=='isRelocationNoticeRaised'
                                                ||
                                                col.field=='isMovingCancellations')?(rowData[col.field]?'Yes':'No'):rowData[col.field]
                                                ? rowData[col.field] : '--'}}
                                            </span>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'customerRefNo'">
                                            <a style="color: #00644A;cursor: pointer;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top"
                                                (click)="onCRUDRequested('edit','customerRefNo',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorleft" let-state>
                                <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                                    {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ?
                                        state.rows * (state.page + 1) : totalRecords}} of <strong>{{totalRecords ?
                                        totalRecords : pageSize}}</strong> entries
                                </p>
                            </ng-template>
                        </p-table>
                    </form>
                </div>
            </div>
            <h5 class="text-center" *ngIf="selectedReconnCustomerProfile?.customerId">
                <strong>The details that you entered for this customer is not the same, Do you wish to update the
                    fields?</strong>
            </h5>
            <div class="modal-footer text-center" style="justify-content: center;">
                <button [disabled]="!selectedReconnCustomerProfile.isProceedAsReconnectionLead" (click)="leadForm.get('leadGroupId').setValue(leadGroupTypes.RECONNECTION);
                onSubmit('new customer reconnection')" data-dismiss="modal" type="button"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Proceed as Reconn Lead
                </button>
                <button (click)="leadForm.get('leadGroupId').setValue(leadGroupTypes.NEW);
                    onSubmit('new lead')" type="button" data-dismiss="modal"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Create New Lead
                </button>
            </div>
        </div>
    </div>
</div>