<app-lead-lifecycle-breadcrumb-icon-actions-header [breadCrumb]="breadCrumb">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up">
    <div class="ibox view-box lead-view-customer-info">
        <div class="ibox-body brown-border mt-3 p-relative">
            <app-lead-lifecycle-header-container>
            </app-lead-lifecycle-header-container>
            <div>
                <p-scrollPanel [style]="{height: '43vh'}" styleClass="custom">
                    <div class="container-fluid">
                        <div class="container-fluid support-document-con">
                            <div>
                                <div class="page-sub-title pt-3">SALES DOCUMENTS</div>
                                <div class="folder-row-con d-flex mb-4">
                                    <ng-container *ngFor="let doc of supportDocumentObj?.quotations">
                                        <button class="img-button d-flex flex-column align-items-center mr-5"
                                            (click)="clickDoc(doc)">
                                            <span class="folder-img-con"><i class="fa fa-folder-open"
                                                    aria-hidden="true"></i></span>
                                            <span class="folder-name">{{doc.quotationRefNo}}</span>
                                        </button>
                                    </ng-container>
                                </div>
                                <div class="no-data-msg mt-2" style="font-weight: 700;text-align:center;" *ngIf="supportDocLength === 0">
                                    No Data Found
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showList">
                            <div class="container-fluid mt-3">
                                <div class="row-box-con mb-3">
                                    <div class="page-sub-title">QUOTATION</div>
                                    <div class="d-flex quotation-row" *ngFor="let quotation of quotationList">
                                        <div class="quotation-report d-flex justify-content-between align-center mt-3">
                                            <div class="d-flex flex-column">
                                                <span class="big-font">{{quotation.quotationRefNo}}</span>
                                                <span>Contract ID</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span class="big-font">{{quotation.billingIntervalName}}</span>
                                                <span>Service Period</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span class="big-font">{{quotation.serviceTotal}}</span>
                                                <span>Per Month</span>
                                            </div>
                                            <div class="d-flex flex-column text-center p-relative green-filled">
                                                <div style="margin-top: 21px;line-height: 15px;">
                                                    <a href="{{quotation.documentPath}}" style="color: white;"
                                                        target="_blank">
                                                        <i class="icon icon-pdf p-absolute"
                                                            style="left: 4vw;top: 8px;font-size: 25px;"></i>
                                                    </a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-box-con mb-3">
                                    <div class="page-sub-title">SERVICE AGREEMENT</div>
                                    <div class="d-flex quotation-row" *ngFor="let service of serviceAgreements">
                                        <div class="quotation-report d-flex justify-content-between align-center mt-3">
                                            <div class="d-flex flex-column">
                                                <span class="big-font">{{service.contractRefNo}}</span>
                                                <span>Contract ID</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span class="big-font">{{service.serviceCount}}</span>
                                                <span>Services</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span class="big-font">{{service.productCount}}</span>
                                                <span>Products</span>
                                            </div>
                                            <div class="d-flex flex-column" *ngIf="service.partitionName">
                                                <span
                                                    class="big-font">{{service.partitionName}}({{service.partitionCode}})</span>
                                                <span>Partition Name</span>
                                            </div>
                                            <div class="d-flex flex-column text-center p-relative blue-filled">
                                                <div style="margin-top: 21px;line-height: 15px;">
                                                    <a href="{{service.documentURL}}" style="color: white;"
                                                        target="_blank">

                                                        <span class="big-font mt-3">
                                                            <i class="icon icon-pdf p-absolute"
                                                                style="left: 4vw;top: -4px;font-size: 25px;"></i>Service
                                                            Agreement
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-box-con mb-3">
                                    <div class="page-sub-title">SALES & INSTALLATION AGREEMENT</div>
                                    <div class="d-flex quotation-row" *ngFor="let install of installationAgreements">
                                        <div class="quotation-report d-flex justify-content-between align-center mt-3">
                                            <div class="d-flex flex-column">
                                                <span class="big-font">{{install.contractRefNo}}</span>
                                                <span>Contract ID</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span class="big-font">{{install.serviceCount}}</span>
                                                <span>Services</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span class="big-font">{{install.productCount}}</span>
                                                <span>Products</span>
                                            </div>
                                            <div class="d-flex flex-column" *ngIf="install.partitionName">
                                                <span
                                                    class="big-font">{{install.partitionName}}({{install.partitionCode}})</span>
                                                <span>Partition Name</span>
                                            </div>
                                            <div class="d-flex flex-column text-center p-relative blue-filled">
                                                <div style="margin-top: 21px;line-height: 15px;">
                                                    <a href="{{install.documentURL}}" style="color: white;"
                                                        target="_blank">
                                                        <span class="big-font mt-3">

                                                            <i class="icon icon-pdf p-absolute"
                                                                style="left: 4vw;top: -4px;font-size: 25px;"></i>Sales &
                                                            Installation Agreement
                                                        </span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>