<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body"
cdkDragHandle>
   {{ this.screen }}
    <button  class="close-button p-absolute" type="button" (click)="btnCloseClick()">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
  </div>
  <app-popup-loader></app-popup-loader>
  <div class="fdt-dialog-body">
        <div *ngIf="isScreen == 'add' ">
            <form autocomplete="off" [formGroup]="notesForm"  class="fidelity-popup-form set-names-upload"  customForm class="fidelity-popup-form" (ngSubmit)="onSubmit()"
            style="font-size: 0.9rem!important;">
                <div>
                <div >
                    <div class="mr-3">
                        <div class="form-group">
                            <label class="d-block mb-3">Add Notes <span class="mandatory-field">*</span></label>
                            <!-- <textarea rows="3" name="add-notes" formControlName="comments"[maxLength]="1000" class="form-control fidelity-form-input" required></textarea> -->
                            <text-area-custom-control [name]="'Add Notes'" placeholder="Add Notes"
                            formControlName="customerNotes" [maxlength]="'1500'">
                            </text-area-custom-control>

                        </div>
                    </div>
                </div>
                </div>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <div class="text-center">
                        <button   type="submit"  pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
                        [label]="'Submit'" ></button>
                        <button  (click)="btnCloseClick()"  class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button">Cancel</button>
                    </div>
                </div>
        </form>
        </div>
        <div *ngIf="isScreen == 'view' ">
            <div class="custom-scroll1" style="overflow-x: auto;height: 60vh">
                <div *ngFor="let notes of notesList" class="notes-div">
                    <p class="displayName"> {{notes.displayName}}    </p>
                    <span class="customerNotes">{{notes.customerNotes}} </span>
                </div>
                <div *ngIf="notesList && notesList.length != 0" class="ui-dialog-buttonpane ui-helper-clearfix">
                    <div class="text-center">
                        <button  (click)="btnCloseClick()"  class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button">Close</button>
                    </div>
                </div>
                <div class="no-data-msg mt-2" *ngIf="notesList && notesList.length == 0">
                    <p >No Data found</p>
                </div>
            </div>
        </div>


  </div>
