.btn-action {
  width: 30px !important;
  height: 30px !important;
  background-color: #00644a  !important;
  color:#fff !important;
}
.col-action-button{
  margin-left: -8% !important;
    margin-top: 2% !important;
}
.action-button-margin{
// margin-top: 35% !important;
}
