<div class="page-heading">
  <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" >
</app-page-header>
  <div class="grid-icons-con pr-0" style="height: 140px;">
    <div class="ibox-body">
      <div class="row mt-1">
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Model Type :&nbsp;</span>
            <span id="" class="value">
              <span class="d-inline-block"><b>{{ammortizationData?.alarmSystemModelTypeName ?
                  ammortizationData.alarmSystemModelTypeName :
                  '-'}}</b></span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Amortization Period(in months):&nbsp;</span>
            <span id="" class="value">
              <span class="d-inline-block"
                style="width: auto;"><b>{{ammortizationData?.alarmSystemAmmortizationPeriodMonth
                  ?
                  ammortizationData.alarmSystemAmmortizationPeriodMonth : '-'}}</b></span>
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Region :&nbsp;</span>
            <span id="" class="value">
              <span class="d-inline-block"><b>{{ammortizationData?.inlandRegion.regionName ?
                  ammortizationData.inlandRegion.regionName : '-'}}</b></span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Region :&nbsp;</span>
            <span id="" class="value">
              <span class="d-inline-block"><b>{{ammortizationData?.coastalRegion?.regionName ?
                  ammortizationData.coastalRegion.regionName :
                  '-'}}</b></span>
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Cost To Be Ammortized :&nbsp;</span>
            <span id="" class="value">
              <span class="d-inline-block"><b>{{(ammortizationData?.inlandRegion?.totalAmmortizedAmount?
                  ammortizationData.inlandRegion.totalAmmortizedAmount:0)|
                  wholeNumberToDecimal}}</b></span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Cost To Be Ammortized :&nbsp;</span>
            <span id="" class="value">
              <span class="d-inline-block"><b>{{(ammortizationData?.coastalRegion?.totalAmmortizedAmount?
                  ammortizationData.coastalRegion.totalAmmortizedAmount:0)|
                  wholeNumberToDecimal}}</b></span>
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">72 Months Amortization :&nbsp;</span>
            <span id="" class="value">
              <span class="d-inline-block"><b>{{(ammortizationData?.inlandRegion?.monthlyAmmortizedAmount?
                  ammortizationData.inlandRegion.monthlyAmmortizedAmount:0)|
                  wholeNumberToDecimal}}</b></span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">72 Months Amortization :&nbsp;</span>
            <span id="" class="value">
              <span class="d-inline-block"><b>
                  {{(ammortizationData?.coastalRegion?.monthlyAmmortizedAmount?
                  ammortizationData.coastalRegion.monthlyAmmortizedAmount:0)|
                  wholeNumberToDecimal}}
                </b></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index" style="margin-top: 30px;">
  <form>
    <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false" [scrollable]="true"
      scrollHeight="420px" (onLazyLoad)="loadPaginationLazy($event)" [totalRecords]="totalRecords" [loading]="loading"
      [value]="dataList" [dataKey]="tables.dataKey" [rows]="10" [reorderableColumns]="tables?.reorderableColumns"
      [responsive]="true" [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand" [paginator]="false"
      [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
          <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
          <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr class="first-row">
          <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn
            [pSortableColumnDisabled]="dataList?.length==0">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns" let-expanded="expanded">
        <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
          <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
            <ng-container *ngIf="col.field=='month'">
              <span pTooltip="{{rowData[col.field]}}" tooltipPosition="top"> {{rowData[col.field] ? rowData[col.field]
                :'--'}}
              </span>
            </ng-container>
            <ng-container *ngIf="col.field!=='month'">
              <span pTooltip="R {{rowData[col.field]}}" tooltipPosition="top"> {{rowData[col.field] |
                wholeNumberToDecimal}}</span>
            </ng-container>
          </td>
          <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
            <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
              class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p *ngIf="totalRecords == 0" class="no-data-msg">No Data found</p>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
        <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
          {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows * (state.page + 1) : totalRecords}} of
          <strong>{{totalRecords ? totalRecords : pageSize}}</strong> entries
        </p>
      </ng-template>
    </p-table>
  </form>
</div>