
<div class="page-heading">
    <h1 class="page-title d-inline-block">{{ stockOrderId ? 'Update' : 'Create' }} Stock Order Approval</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Technical Management</a></li>
        <li class="breadcrumb-item" *ngIf="screenType=='stock-order-query'"><a (click)="navigateQuery()">Stock Order Query</a></li>
        <li class="breadcrumb-item" *ngIf="screenType=='task-list'"><a (click)="navigateQuery()">Task List</a></li>
        <li class="breadcrumb-item" *ngIf="screenType=='stock-order-approval'"><a (click)="navigateToList()">Stock Order Approval List</a></li>
        <li class="breadcrumb-item" *ngIf="stockOrderId && screenType=='stock-order-approval'"><a (click)="navigateToViewPage()">View Stock Order Approval</a></li>
        <li class="breadcrumb-item"> {{ stockOrderId ? 'Update' : 'Create' }} Stock Order Approval</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="ibox-body brown-border">
                        <form class="fidelity-popup-form" customForm [formGroup]="stockOrderCreationForm">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-4" *ngIf="stockOrderId">
                                        <div class="form-group">
                                            <label> Stock Order Number <span class="mandatory-field">*</span></label>
                                            <input disabled class="form-control fidelity-form-input" type="text" placeholder="Enter Stock Order Number"
                                            formControlName="orderNumber" value="Standard">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label> Issuing Warehouse <span class="mandatory-field">*</span></label>
                                            <select [attr.disabled]="stockOrderId ? true : null" class="form-control fidelity-form-input" id="warehouseId" formControlName="warehouseId" *ngIf="!stockOrderId">
                                                <option value="" selected disabled> Select warehouse </option>
                                                <option *ngFor="let werehouse of werehouseDropDown; let i=index" [value]="werehouse.id">
                                                    {{werehouse.displayName}}
                                                </option>
                                            </select>
                                            <span class="form-control fidelity-form-input disabled" *ngIf="stockOrderId"> {{ stockOrderDetailsData?.issuingWarehouse ? stockOrderDetailsData?.issuingWarehouse : '-' }} </span>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="!stockOrderId">
                                        <div class="form-group">
                                            <label> Requesting Location <span class="mandatory-field">*</span></label>
                                            <select [attr.disabled]="stockOrderId ? true : null" class="form-control fidelity-form-input" id="locationId" formControlName="locationId">
                                                <option value="" selected disabled> Select location </option>
                                                <option *ngFor="let location of locationDropDown" [value]="location.id">
                                                    {{location.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="stockOrderId">
                                        <div class="form-group">
                                            <label> Requesting Location <span class="mandatory-field">*</span></label>
                                            <span class="form-control fidelity-form-input disabled"> {{ stockOrderDetailsData?.requestingLocation ? stockOrderDetailsData?.requestingLocation : '-' }} </span>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="!stockOrderId">
                                        <div class="form-group">
                                            <label> Requesting Location Name <span class="mandatory-field">*</span></label>
                                            <select [attr.disabled]="stockOrderId ? true : null" class="form-control fidelity-form-input" id="technicianId" formControlName="technicianId">
                                                <option value="" selected disabled> Select location </option>
                                                <option *ngFor="let request of requestDropDown" [value]="request.id">
                                                    {{request.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="stockOrderId">
                                        <div class="form-group">
                                            <label> Requesting Location Name <span class="mandatory-field">*</span></label>
                                            <span class="form-control fidelity-form-input disabled"> {{ stockOrderDetailsData?.requestingLocationName ? stockOrderDetailsData?.requestingLocationName : '-' }} </span>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="stockOrderId">
                                        <div class="form-group">
                                            <label> Actioned By <span class="mandatory-field">*</span></label>
                                            <input disabled class="form-control fidelity-form-input" type="text" placeholder="Enter Actioned By"
                                            formControlName="actionedBy">
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="stockOrderId">
                                        <div class="form-group">
                                            <label> Actioned Date <span class="mandatory-field">*</span></label>
                                            <span class="form-control fidelity-form-input disabled"> {{ stockOrderDetailsData?.actionedDate ? (stockOrderDetailsData?.actionedDate | date) : '-'}} </span>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="stockOrderId">
                                        <div class="form-group">
                                            <label> Created By <span class="mandatory-field">*</span></label>
                                            <input disabled class="form-control fidelity-form-input" type="text" placeholder="Enter Created By"
                                            formControlName="createdBy">
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="stockOrderId">
                                        <div class="form-group">
                                            <label> Created Date <span class="mandatory-field">*</span></label>
                                            <span class="form-control fidelity-form-input disabled"> {{ stockOrderDetailsData?.createdDate | date}} </span>
                                        </div>
                                    </div>

                                    <div class="col-4" *ngIf="!stockOrderId">
                                        <div class="form-group">
                                            <label> Priority <span class="mandatory-field">*</span></label>
                                            <input disabled class="form-control fidelity-form-input" type="text" placeholder="Enter Priority"
                                            formControlName="priority">
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="stockOrderId">
                                        <div class="form-group">
                                            <label> Priority <span class="mandatory-field">*</span></label>
                                            <select class="form-control fidelity-form-input" id="priorityId"  formControlName="priorityId">
                                                <option value="" selected disabled> Select location </option>
                                                <option *ngFor="let priority of priorityDropDown" [value]="priority.id">
                                                    {{priority.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="stockOrderId">
                                        <div class="form-group">
                                            <label> Status <span class="mandatory-field">*</span></label>
                                            <span class="form-control fidelity-form-input disabled"> {{ stockOrderDetailsData?.status ? stockOrderDetailsData?.status : '-'}} </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label> <b>Stock Code</b> <span class="mandatory-field">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label> <b>Stock Description</b> </label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label> <b>Consumable</b> </label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label> <b>Requested Qty</b> <span class="mandatory-field">*</span> </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- START -->
                                <div class="row p-relative" [formGroup]="stockOrderCreationForm?.get('addForm')" >

                                  <div class="col-2 fidelity-autocomplete-dropdown-con">
                                      <div class="form-group p-relative stock-code-con">
                                          <mat-form-field class="fidelity-form-input">
                                              <input matInput type="text" id="find_address_autocomplete" class="fidelity-form-input" [matAutocomplete]="auto"
                                              formControlName="stockCode" name="stockCode" (input)="inputChangeStockCodeFilter(0,true)">
                                          </mat-form-field>
                                          <mat-autocomplete #auto="matAutocomplete">
                                              <mat-option *ngIf="isLoading" class="is-loading">
                                                  <mat-spinner diameter="50"></mat-spinner>
                                              </mat-option>
                                              <ng-container *ngIf="!isLoading">
                                                  <mat-option *ngFor="let filtStockCode of filteredStockCodes"
                                                  (onSelectionChange)="onStockCodeSelected(filtStockCode, 'stockCode', 0,true)"
                                                  [value]="filtStockCode.displayName">
                                                      <span>{{ filtStockCode.displayName }}</span>
                                                  </mat-option>
                                              </ng-container>
                                          </mat-autocomplete>
                                          <span class="text-danger" *ngIf="getAddForm?.get('stockCode')?.touched && getAddForm?.get('stockCode')?.errors?.required">
                                              Stock Code is required
                                          </span>
                                          <span class="text-danger" *ngIf="showStockCodeError && isAddForm">
                                            {{stockCodeErrorMessage}}
                                        </span>

                                      </div>
                                  </div>

                                  <div class="col-4 fidelity-autocomplete-dropdown-con">
                                      <div class="form-group">
                                          <mat-form-field class="fidelity-form-input">
                                              <input matInput type="text" id="find_address_autocomplete" class="fidelity-form-input"
                                              [matAutocomplete]="auto1" name="stockDescription"
                                              formControlName="stockDescription" (input)="inputChangeStockDescriptionFilter(0,true)">
                                          </mat-form-field>
                                          <mat-autocomplete #auto1="matAutocomplete">
                                              <mat-option *ngIf="isLoading" class="is-loading">
                                                  <mat-spinner diameter="50"></mat-spinner>
                                              </mat-option>
                                              <ng-container *ngIf="!isLoading">
                                                  <mat-option *ngFor="let filtStockCode of filteredStockDescription"
                                                  (onSelectionChange)="onStockCodeSelected(filtStockCode, 'stockDescription', 0,false)"
                                                  [value]="filtStockCode.displayName">
                                                      <span>{{ filtStockCode.displayName }}</span>
                                                  </mat-option>
                                              </ng-container>
                                          </mat-autocomplete>
                                          <span class="text-danger" *ngIf="getAddForm?.get('stockDescription')?.touched && getAddForm?.get('stockDescription')?.errors?.required">
                                              Stock Description is required
                                          </span>
                                          <span class="text-danger" *ngIf="showStockDescError && isAddForm">
                                              {{StockDescErrorMessage}}
                                          </span>
                                      </div>
                                  </div>

                                  <div class="col-2">
                                      <div class="form-group">
                                          <input maxlength="100" readonly [validateInput]='stringConfig' name="Yes/No" class="form-control fidelity-form-input"
                                              id="consumable" type="text" placeholder="Auto fetch" formControlName="consumable"/>
                                      </div>
                                  </div>

                                  <div class="col-2">
                                      <div class="form-group p-relative">
                                          <input maxlength="5" [validateInput]='isANumberOnly' name="quantity" class="form-control fidelity-form-input"
                                              id="quantity" type="text" placeholder="Enter value" formControlName="quantity"/>
                                      </div>
                                  </div>

                                  <div class="col-2">
                                      <button type="button" class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                      (click)="addTechnicianStockOrderItem()" title="Add" matTooltip="Add" style="right: -6px;top: 3px;">
                                      <i aria-hidden="true" class="icon" data-icon="b"></i></button>

                                  </div>
                              </div>
                              <!-- END -->
                                <div class="" formArrayName="technicianStockOrderItems"
                                    *ngFor="let obj of stockOrderCreationForm?.get('technicianStockOrderItems')?.controls;let i=index">
                                    <div class="row p-relative" [formGroupName]="i" *ngIf="!obj.get('isDeleted')?.value">

                                        <div class="col-2 fidelity-autocomplete-dropdown-con">
                                            <div class="form-group p-relative stock-code-con">
                                                <mat-form-field class="fidelity-form-input">
                                                    <input matInput type="text" id="find_address_autocomplete" class="fidelity-form-input" [matAutocomplete]="auto"
                                                    formControlName="stockCode" name="stockCode" (input)="inputChangeStockCodeFilter(i)">
                                                </mat-form-field>
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngIf="isLoading" class="is-loading">
                                                        <mat-spinner diameter="50"></mat-spinner>
                                                    </mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let filtStockCode of filteredStockCodes"
                                                        (onSelectionChange)="onStockCodeSelected(filtStockCode, 'stockCode', i)"
                                                        [value]="filtStockCode.displayName">
                                                            <span>{{ filtStockCode.displayName }}</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                                <span class="text-danger" *ngIf="stockOrderCreationForm?.get('stockCode')?.touched && stockOrderCreationForm?.get('stockCode')?.errors?.required">
                                                    Stock Code is required
                                                </span>
                                                <span class="text-danger" *ngIf="showStockCodeError && selectedIndex == i">
                                                    {{stockCodeErrorMessage}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-4 fidelity-autocomplete-dropdown-con">
                                            <div class="form-group">
                                                <mat-form-field class="fidelity-form-input">
                                                    <input matInput type="text" id="find_address_autocomplete" class="fidelity-form-input"
                                                    [matAutocomplete]="auto1" name="stockDescription"
                                                    formControlName="stockDescription" (input)="inputChangeStockDescriptionFilter(i)">
                                                </mat-form-field>
                                                <mat-autocomplete #auto1="matAutocomplete">
                                                    <mat-option *ngIf="isLoading" class="is-loading">
                                                        <mat-spinner diameter="50"></mat-spinner>
                                                    </mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let filtStockCode of filteredStockDescription"
                                                        (onSelectionChange)="onStockCodeSelected(filtStockCode, 'stockDescription', i)"
                                                        [value]="filtStockCode.displayName">
                                                            <span>{{ filtStockCode.displayName }}</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                                <span class="text-danger" *ngIf="stockOrderCreationForm?.get('stockDescription')?.touched && stockOrderCreationForm?.get('stockDescription')?.errors?.required">
                                                    Stock Description is required
                                                </span>
                                                <span class="text-danger" *ngIf="showStockDescError && selectedIndex == i">
                                                    {{StockDescErrorMessage}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <input maxlength="100" readonly [validateInput]='stringConfig' name="Yes/No" class="form-control fidelity-form-input"
                                                    id="consumable" type="text" placeholder="Auto fetch" formControlName="consumable"/>
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group p-relative">
                                                <input maxlength="5" [validateInput]='isANumberOnly' name="quantity" class="form-control fidelity-form-input"
                                                    id="quantity" type="text" placeholder="Enter value" formControlName="quantity"/>
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <!-- <button *ngIf="i==0" type="submit" class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                            (click)="addTechnicianStockOrderItem()" title="Add" matTooltip="Add" style="right: -6px;top: 3px;">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i></button> -->

                                            <button type="button" class="circle-minus-btn"  matTooltip="Delete" id="delete_record"
                                                (click)="removeStockOrderItems(i)">
                                                <i aria-hidden="true" class="icon icon-delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 page-sub-title mt-2">ACTION INFO</div>


                                    <div class="col-4">
                                        <div class="row">
                                            <label class="col-12"> Request Action <span class="mandatory-field">*</span> </label>
                                            <div class="col-12">
                                                <div class="form-group d-flex justify-content-start align-items-center p-relative req-action-con">

                                                    <mat-radio-group class="fidelity-checkbox"
                                                    aria-labelledby="example-radio-group-label"
                                                    class="example-radio-group"
                                                    formControlName="rqnStatusId">
                                                        <mat-radio-button style="margin-left:16px"class="fidelity-radio-btn"
                                                        *ngFor="let season of statusDropDown" [value]="season.id">
                                                            {{season.displayName}}
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-4" *ngIf="approvalStatusName=='Cancelled'||approvalStatusName=='Rejected'">
                                        <div class="form-group">
                                            <label> Reason <span class="mandatory-field">*</span></label>
                                            <textarea rows="5" formControlName="reason" class="form-control" type="text" name="reason"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" *ngIf="!stockOrderId" (click)="beforeOnSubmit('Save as Draft')"> Save as Draft </button>
                                <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="beforeOnSubmit('create')"> {{ stockOrderId ? 'Update' : 'Create'}} </button>
                                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button>
                            </div>
                        </form>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>
