<!-- Email modal -->
<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{customerPreferenceSiteCustomCallFlowId ? 'Update' : 'Add'}} Site Call Flow
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="dialogClose()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<!-- <form  class="fidelity-popup-form" > -->
<div class=" p-3">
    <p-scrollPanel [style]="{ height: '65vh'}">
        <form class="fidelity-popup-form" customForm [formGroup]="siteCustomCallFlowAddEditForm"
            (ngSubmit)="onSubmit()">
            <div class="row mt-2" style="border-bottom: 2px dotted black;">
                <div class="col-6">
                    <div class="form-group">
                        <label class="d-block">Signals</label>
                        <label class="switch add-stack-status">
                            <input type="checkbox" formControlName="isSignals" (change)="isSignalsChanged($event)">
                            <span class="slider round active"></span>
                        </label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Signals<span class="mandatory-field" *ngIf="isSignals">*</span></label>
                        <p-multiSelect appendTo="body" [defaultLabel]="'Select Signal'" autoWidth="false"
                            [style]="{'width':'100%'}" [options]="signalDropDown"
                            formControlName="alarmTypeList">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">

                        <label class="d-block">Days</label>
                        <label class="switch add-stack-status">
                            <input type="checkbox" formControlName="isDays" (change)="isDaysChanged($event)">
                            <span class="slider round active"></span>
                        </label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Days<span class="mandatory-field" *ngIf="isDays">*</span></label>
                        <p-multiSelect appendTo="body" [defaultLabel]="'Select Days'" autoWidth="false"
                            [style]="{'width':'100%'}" [options]="daysDropDown"
                            formControlName="dayList">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">

                        <label class="d-block">Time Range</label>
                        <label class="switch add-stack-status">
                            <input type="checkbox" formControlName="isTimeRange" (change)="isTimeRangeChanged($event)">
                            <span class="slider round active"></span>
                        </label>
                    </div>
                </div>
                <div class="col-3 fidelity-date-picker-con p-relative cust-banner-date-con">
                    <div class="form-group">
                        <label>Start Time<span *ngIf="isTimeRange" class="mandatory-field">*</span></label>
                        <p-calendar #weekdays timeOnly="true" class="custom-class-for-p-calendar"
                            formControlName='timeFrom' >
                        </p-calendar>
                    </div>
                </div>
                <div class="col-3 fidelity-date-picker-con p-relative cust-banner-date-con">
                    <div class="form-group">
                        <label>End Time<span *ngIf="isTimeRange" class="mandatory-field">*</span></label>
                        <p-calendar #weekdays timeOnly="true" class="custom-class-for-p-calend"
                            formControlName='timeTo'>
                        </p-calendar>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Description<span class="mandatory-field">*</span></label>
                        <textarea class="form-control fidelity-form-input" type="text"
                            [validateInput]='isAnAlphaNumericOnly' minlength="10" maxlength="150"
                            placeholder="Enter Description" formControlName="description"></textarea>
                    </div>
                </div>
                <div class="col-6" style="margin-top: 40px;">
                    <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button
                        type="submit">{{customerPreferenceSiteCustomCallFlowId ? 'Update' : 'Save'}}</button>
                    <button type="button" id="Feature_cancel_btn" (click)="dialogClose()"
                        class="btn btn-md-fidelity fidelity-btn-grey" mat-button>Cancel</button>
                </div>
            </div>
            <h1 class="page-sub-title ext-padd mt-3">KeyHOLDER INFO</h1>
            <br>
            <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
            [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex"
            [totalRecords]="totalRecords" (onActionSubmited)="onActionSubmited($event)" [status]="status"
            (onSelectedRows)="onSelectedRows($event)">
        </app-page-list-table>
        </form>
    </p-scrollPanel>
</div>
<!-- </form> -->
