<app-popup-loader></app-popup-loader>
<div class="ui-g ui-fluid">
    <div class="ui-g-12" style="padding: 16px;">
        <div class="img-con" style="text-align: center;">
            <img src="assets/img/icons/vehicle_dispatch.svg" />
        </div>
        <p style="margin-top: 10px;text-align: center;">Are you sure you want to finish?</p>

        <div class="ui-g-8 ui-g-offset-2">
            <div class="ui-g-6">
                <label for="">Client</label>
            </div>
            <div class="ui-g-6">
                <strong> {{config?.data?.clientName}} </strong>
            </div>
        </div>
        <div class="ui-g-8 ui-g-offset-2">
            <div class="ui-g-6">
                <label for="">OB Number</label>
            </div>
            <div class="ui-g-6">
                <strong> {{config?.data?.obNumber}} </strong>
            </div>
        </div>

        <div class="ui-g-12" style="margin-bottom: 5px;text-align: center;">
            <div class="ui-g-6">
                <button type="submit" (click)="onSubmit()" class="btn btn-md-fidelity"
                    style="background: #115943!important;color: #fff;">Yes</button>
            </div>
            <div class="ui-g-6">

                <button (click)="close()" class="btn btn-md-fidelity fidelity-btn-grey btn-default">No</button>
            </div>
        </div>

    </div>
</div>
