<div id="print-section">
  <div *ngFor="let bcValue of printcodes;let i = index">
    <ngx-barcode [bc-element-type]="elementType" [bc-value]="bcValue" [bc-format]="format" [bc-line-color]="lineColor"
                 [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
                 [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
                 [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight">
    </ngx-barcode>
  </div>
</div>
<!--<button printSectionId="print-section" ngxPrint>print</button>-->
<div class="text-center">
  <button class="btn fidelity-btn-grey" mat-button [mat-dialog-close]="true">Close</button>
</div>
