<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="ibox" style="height: 65vh;">
  <div class="ibox-body brown-border">
    <div class="form-group row mb-2">
      <div class="col-4">
        <div class="form-group p-relative">
          <label>Attachment</label>
          <div class="input-group fidelity-file-upload">
            <input class="input-box form-control " type="text" name="Upload Document" placeholder="Attach a file"
              maxlength="102" [(ngModel)]="fileName" readonly>
            <span class="input-group-btn">
              <div class="btn custom-file-uploader" id="documentName">
                <input #fileInput type="file" name="file" [accept]="['.csv']" (change)="uploadFiles($event)" />Browse
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <button class="btn btn-md-fidelity fidelity-btn-brown " style="margin-top:2.4rem !important" type="submit"
          (click)="onSubmit()">View</button>
      </div>
    </div>
    <p-scrollPanel [style]="{height: '53vh'}" styleClass="custom">
      <div class="primeng-table-wrapper">
        <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
          <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
            [(selection)]="selectedRows" [scrollable]="true" scrollHeight="327px" [autoLayout]="true"
            [totalRecords]="totalRecords" [loading]="loading" [value]="dataList" [dataKey]="tables.dataKey"
            [paginator]="(totalRecords == 0) ? false : true" [rows]="10"
            [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null" [responsive]="true"
            [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"
            [reorderableColumns]="tables?.reorderableColumns" (onLazyLoad)="loadPaginationLazy($event)">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix" style="text-align: left">
                <div class="row">
                  <div class="col-md-5" style="    padding-left: 0;">
                    <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                      (click)="dt.exportCSV()" style="margin-right: 0.5em;" *ngIf="tables?.enableExportCSV"></button>
                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                      style="margin-right: 0.5em;" class="ui-button-success" *ngIf="tables?.enableExportExcel">
                    </button>
                    <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only"
                      (click)="dt.exportCSV({selectionOnly:true})" class="ui-button-warning"
                      *ngIf="tables?.enableExportCSVSelected"></button>
                  </div>
                  <div class="col-md-7" style="    padding-right: 0;">
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr class="first-row">
                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                  </p-sortIcon>
                </th>
                <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}" *ngIf="tables?.enableRowDelete">
                  Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns" let-expanded="expanded">
              <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
                <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
                  <a href="#" [pRowToggler]="rowData" *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
                  <ng-container
                    *ngIf="col.header == 'Status' || col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                  </ng-container>
                  <ng-template #thenTemplate>
                    <ng-container *ngIf="col.header == 'Status'">
                      <span *ngIf="!tables.enableStatusActiveAction" class="status-label pos-top"
                        style="cursor: pointer;"
                        [ngClass]="col.field == 'isActive' ? (rowData[col.field] == true? 'status-label-green' : 'status-label-pink') :  rowData.cssClass">
                        {{col.field =='isActive' ? (rowData[col.field] == true? 'Active' : 'InActive') :
                        rowData[col.field] ? rowData[col.field] :'-'}}
                      </span>
                      <p-dropdown *ngIf="tables.enableStatusActiveAction" [options]="status" appendTo="body"
                        [(ngModel)]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                        placeholder="Select Status" [style]="{'width':'100%'}">
                      </p-dropdown>
                    </ng-container>
                    <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                      {{rowData[col.field] ? (rowData[col.field] | date) : '--'}}
                    </ng-container>
                  </ng-template>
                  <ng-template #elseTemplate>
                    <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                      <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                        (click)="onCRUDRequested('edit',rowData)">
                        {{rowData[col.field] ? rowData[col.field] : '--'}}
                      </a>
                    </ng-container>
                    <ng-container *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                      <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                        (click)="onCRUDRequested('edit',rowData)">
                        {{rowData[col.field] ? rowData[col.field] : '--'}}
                      </a>
                    </ng-container>
                    <ng-container
                      *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                      {{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No' : rowData[col.field] ?
                      rowData[col.field] : '--'}}
                    </ng-container>
                  </ng-template>
                </td>
                <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                  <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                    class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div class="ui-g ui-fluid" style="font-size:16px;padding:20px;background: #fff;">
                    <div class="ui-g-12 ui-md-9">
                      <div class="ui-g">
                        <div class="ui-g-12">
                          <b>Area Name:</b> {{rowData?.areaName ? rowData?.areaName : '--'}}
                        </div>
                        <div class="ui-g-12">
                          <b>Division Name:</b>
                          {{rowData?.stackAreaConfigDivisions ? rowData?.stackAreaConfigDivisions : '--'}}
                        </div>
                        <div class="ui-g-12" style="    text-align: right;">
                          <button style="margin: 0 10px;" pButton type="button" icon="pi pi-pencil"
                            class="ui-button-info" (click)="onCRUDRequested('edit')"></button>
                          <button style="margin: 0 10px;" pButton type="button" icon="pi pi-trash"
                            class="ui-button-danger" (click)="onCRUDRequested('delete')"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td></td>
                <td>{{totalRecords}}</td>
                <td>{{dataList && dataList.length!=0 ? 'R ' +dataList[0].totalAmount:'R 0'}}</td>
                <td></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <p *ngIf="totalRecords == 0" class="no-data-msg">No Data found</p>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              <p style="    margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                {{state.rows * (state.page + 1)}} of
                <strong>{{totalRecords}}</strong> entries
              </p>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-scrollPanel>
  </div>
  <div class="text-center mt-2" *ngIf="dataList.length !=0">
    <button type="button" class="btn btn-md-fidelity fidelity-btn-brown" (click)="reconciliation()">Reconcile to Bank
      Statement</button>
    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey mr-3" (click)="goBack()">Cancel</button>
  </div>
