<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div style="text-align: center;padding: 16px;">
            <div class="img-con">
 
                <i style="font-size: 5rem;
                color: #F35665;" class="icon icon-cancel"></i>
            </div>
            <p style="margin-top: 10px;">Password Incorrect</p>
            <div class="ui-g-12">
              
            </div>

        </div>
    </div>
</div>
<div style="margin-bottom: 5px;text-align: center;">
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class=" text-center">
            <button (click)="close()" type="button" pButton class="ui-button-success mr-4"
                style="display: inline-block;background: #115943!important;" label="Acknowledge"></button>
        </div>
    </div>
</div>
<br>
