<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" ></app-page-header>

<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh"> 
                    <div class="ibox-body mb-3">
                        <app-view-page [col]="2" [viewDetail]="FaultyProcessviewDetail" [template]="1"></app-view-page>                     
                    </div>
                    <div class="ibox-body">
                        <div class="row header-row">
                            <div class="col">Stock Code</div>
                            <div class="col">Temp Stock Code</div>
                            <div class="col">Stock Description</div>                            
                            <div class="col">Serial Number</div>
                            <div class="col">Warrenty Status</div>
                            <div class="col">Qty</div>
                            <div class="col">Action</div>
                            <div class="col">Comments</div>
                            <div class="col">Item Status</div>
                        </div>
                        <div class="row children-row mb-1" *ngFor = "let item of faultyProcessDetails?.warehouseAssistantWorkListItemDetails; let index=i">
                            <div class="col">
                                <input class="form-control fidelity-form-input disabled" type="text" style="color: #166DFF;cursor: pointer;" [value]="item?.stockCode" (click)="showSerialNo()"/>
                            </div>
                            <div class="col">
                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item?.tempStockCode"/>
                            </div>
                            <div class="col">
                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item?.stockDescription"/>
                            </div>
                            <div class="col">
                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item?.serialNumber"/>
                            </div>
                            <div class="col">
                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item?.warrentyStatus"/>
                            </div>
                            <div class="col">
                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item?.qty"/>
                            </div>
                            <div class="col">
                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item?.faultyWorklistActionStatusName"/>
                            </div>
                            <div class="col">
                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item?.comments"/>
                            </div>
                            <div class="col">
                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item?.itemStatus"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>