
<div class="page-heading ">
    <h1 class="page-title d-inline-block">Technician Receiving</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']">Inventory Management</a></li>
        <li class="breadcrumb-item"   *ngIf="screenType == 'job-selection'"><a (click)="navigateToJobSelection()">Job Selection</a></li>
        <li class="breadcrumb-item"   *ngIf="screenType != 'job-selection'"><a (click)="navigateToList()">Receiving List</a></li>
        <!-- <li *ngIf="isActiveNew == false" class="breadcrumb-item"><a (click)="View()">Technician Receiving View</a></li> -->
        <li class="breadcrumb-item">Technician Receiving</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="custom-scroll1" style="overflow-x: auto;height: 62vh">
        <div class="ibox">
            <form customForm class="fidelity-popup-form" [formGroup]="orderReceiptVerifyForm" (ngSubmit)="onSubmit()">
                <div class="ibox-body view-box space-saving-con">
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">QR Code</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{order?.qrCode ? order?.qrCode : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Reference Number</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{order?.referenceNumber ? order?.referenceNumber : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Service Call Number</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{order?.serviceCallNumber ? order?.serviceCallNumber : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Receiving Type</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{order?.orderTypeName ? order?.orderTypeName : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Warehouse</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{order?.warehouseName ? order?.warehouseName : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Tech Stock Location</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{order?.technicianStockLocation ? order?.technicianStockLocation : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Tech Stock Location Name</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{order?.technicianStockLocationName ? order?.technicianStockLocationName : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-body mt-2 space-saving-con">
                    <div class="custom-scroll1 custom-col" style="overflow-x: auto;height: 23vh">
                        <div class="row header-row nowrap" style="font-size: 0.9rem;">
                            <div class="col-2 col-md-3">Stock Code</div>
                            <div class="col-5 col-md-2">Stock Description</div>
                            <div class="col-2 col-md-2">Unit of Measure</div>
                            <div class="col-1 col-md-2">Return Qty</div>
                            <div class="col-1 col-md-2">Received Qty</div>
                            <div class="col-1 col-md-2">Variance Qty</div>
                        </div>
                        <div class="row children-row mb-1 nowrap" *ngFor="let items of order?.orderItems; let i = index">
                            <div class="col-2 col-md-3">
                                <button type="button" class="form-control fidelity-form-input"
                                    (click)="barcodeScan(items?.itemCode, items?.itemName, items)" style="cursor: pointer;
                                    color: #166DFF!important;text-decoration: underline; background-color: #ECECEC !important;">
                                    {{items?.itemCode}}
                                </button>
                            </div>
                            <div class="col-5 col-md-2">
                                <input class="form-control fidelity-form-input disabled" type="text" value="{{items?.itemName}}"/>
                            </div>
                            <div class="col-2 col-md-2">
                                <input class="form-control fidelity-form-input disabled" type="text" value="{{items?.unitOfMeasure}}"/>
                            </div>
                            <div class="col-1 col-md-2">
                                <input class="form-control fidelity-form-input disabled" type="text" value="{{items?.returnedQuantity}}"/>
                            </div>
                            <div class="col-1 col-md-2">
                                <input class="form-control fidelity-form-input disabled" type="text" value="{{items?.receivedQty}}"/>
                            </div>
                            <div class="col-1 col-md-2">
                                <input class="form-control fidelity-form-input disabled" type="text" value="{{items?.varianceQty}}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-body mt-2 space-saving-con">
                    <div class="row sm-inputs">
                        <div class="col-12 page-sub-title">TECHNICIAN INFO</div>
                        <div class="col-5">                        
                            <label class="p-relative d-block"> Technician signature <span class="mandatory-field">*</span> </label>                            
                            <div class="sigPad">
                                <span class="icon icon-refresh p-absolute d-flex justify-content-center align-items-center" (click)="clearPad()" style="border-radius: 50%;
                                height: 20px; width: 20px; top: 3px; right: 14px; background-color: #F35665; cursor: pointer;"></span>
                                <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
                            </div>                   
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="p-relative"> Comments <span class="mandatory-field">*</span> </label>
                                <textarea name="" class="form-control fidelity-form-input" formControlName="comments" rows="3"></textarea>
                            </div>                    
                        </div>                    
                    </div>
                </div>
                <div class="text-center mt-3 mb-3">
                    <!-- <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToFaultyPage()">Previous</button> -->
                    <button type="submit" [disabled]="isButtonDisabled" class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToFaultyPage()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isStockInfoDialogModal" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header> Serial Info </p-header>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Code </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.stockCode ? modalDetails?.stockCode : '-'}}</b>
                </div>
            </div>
        </div>            
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Description </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.stockDescription ? modalDetails?.stockDescription : '-'}} </b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Serial Number</label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.isSerialized && modalDetails?.serialNumbers ? modalDetails?.serialNumbers.length : '0'}}</b>
                </div>
            </div>
        </div>
        <div class="col-12" >
            <div class="custom-scroll1" style="overflow-x: auto;height: 25vh"> 
                <div class="row" *ngIf="modalDetails?.isSerialized">
                    <div class="col-12" *ngFor="let items of modalDetails?.serialNumbers; let i = index">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control" readonly [value]="items?.serialNumber"
                            matTooltip="{{items?.serialNumber}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>