.height-auto {
    height: auto !important;
}
.custom-scroll-faulty {
    overflow-x: auto;
    height: 62vh;
}
@media only screen and (min-width: 600px) and (max-width: 1180px) {
    .custom-stock-detail{
        overflow-x: auto;
    }
    .nowrap{
        flex-wrap: nowrap;
    }
    .col-md-3, .col-md-2 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
}   
  
