::ng-deep .sigPad{
    border: 1px solid gray;
    signature-pad canvas {
        height: 90px!important;
        width: 580px!important;
    }
}
.no-discrepancy-msg {
    border: 1px solid lightgray;
    padding: 12px;
    background: #ddd;;
}
.custom-file-label::after {
  background-color: #0d4131!important;
  border-color: #0d4131 !important;
  cursor: pointer;
}

.mb15 {
    margin-bottom: 15px;
}

@media print {
    ng-scrollbar{
        max-height: none !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
    .custom-col .col-md-3, .custom-col .col-md-4 , .custom-col .col-md-2{
        padding-right: 0px !important;
    }
    .custom-stock-detail{
        overflow-x: auto;
        height: 38vh;
    }
    .col-md-3, .col-md-2 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
    ::ng-deep .sigPad {
        border: 1px solid gray;
      
        signature-pad canvas {
          height: 60px !important;
          width: 150px !important;
        }
    }
}
@media only screen and (min-width: 800px) and (max-width: 1180px) {
    .custom-col .col-md-3, .custom-col .col-md-4 , .custom-col .col-md-2{
        padding-right: 0px !important;
    }
    .custom-stock-detail{
        overflow-x: auto;
        height: 27vh;
    }
    .col-md-3, .col-md-2 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
    ::ng-deep .sigPad {
        border: 1px solid gray;
      
        signature-pad canvas {
          height: 60px !important;
          width: 300px !important;
        }
    }
}
.nowrap{
    flex-wrap: nowrap;
}