<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class=" white-bg" style="padding: 12px;">
        <p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
            <div class="ibox-body brown-border">
                <form customForm [formGroup]="loginNonArForm">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Main Area<span class="mandatory-field">*</span></label>
                                <select id="main_area" class="form-control fidelity-form-input" name="Main Area"
                                    placeholder="Select Main Area" formControlName="MainAreaId">
                                    <option value="" disabled>Select Main Area</option>
                                    <option *ngFor="let area of mainAreaList" [value]="area.id">
                                        {{area.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4 d-flex align-items-center mt-2">
                            <button class="btn btn-md-fidelity btn-default" (click)="searchFianlSignal()">
                                Search
                            </button>
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
                                (click)="clearSearch()">
                                Clear
                            </button>
                        </div>
                    </div>

                </form>
                <hr>
                <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
                    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
                    (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
                </app-page-list-table>
            </div>
        </p-scrollPanel>
    </div>
</div>
<hr>

<div class="text-center mt-3">
    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
        routerLink='/event-management/supervisor-dashboard' [queryParams]="{tab:7}">Back</button>
</div>