<div class="fidelity-popup-heading container-fluid">{{districtModel?.districtId?'Update':'Create'}} District

    <button mat-icon-button class="close-button " style="float: right;margin-top: -10px;" (click)="dialogClose()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" [formGroup]="districtAddEditForm" customForm (ngSubmit)="onSubmit()">
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="regionId">Region Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <select (change)="regionChange()" name="Region name" class="form-control fidelity-form-input"
                    formControlName="regionId">
                    <option value="" disabled>-- Select Region Name --</option>
                    <option *ngFor="let Region of regionList" [value]="Region.id">
                        {{Region.displayName}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="divisionId">Division Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12 fidelity-multiselect-dropdown-con">
                <p-multiSelect
                    formControlName="divisionId" [defaultLabel]="'Select Divisions'"
                    [style]="{width:'100%'}"
                    [options]="divisionDropDown">
                </p-multiSelect>



            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="districtName">District Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input validateInput class="form-control fidelity-form-input" id="divisionName" name="Division Name" type="text"
                    placeholder="Division Name (required)" [minlength]="formConfigs.minLengthTwo" [maxlength]="20"
                    formControlName="districtName" />

            </div>
        </div>


    <div class="text-center">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"
            type="submit">{{districtModel?.districtId?'Update':'Save'}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="dialogClose()"
            >Cancel</button>

    </div>
</form>
