<div class="page-heading">
    <h1 class="page-title d-inline-block">View Technician Collection Job</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a [routerLink]="['/inventory', 'dashboard']">Inventory Management</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/inventory', 'purchase-order']">Purchase Order List</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/inventory', 'purchase-order', 'view']"
            [queryParams]="{id: technicianCollectionJobDetailsModel?.purchaseOrderId}">View Purchase Order</a></li>
        <li class="breadcrumb-item">View Technician Collection Job</li>
    </ol>
    <div *ngIf="checkStatus(technicianCollectionJobDetailsModel?.technicianStockCollectionStatusName)" class="grid-icons-con  customer-info-btns float-right mt-2">
        <a (click)="navigateToEdit()" class="fidelity-btn-circle fidelity-white-btn">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a> 
    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                <div class="ibox-body brown-border mb-3">
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="tcjNumberLabel" class="key">TCJ Number</span>
                                <span id="tcjNumberValue" class="value">
                                    <span class="d-inline-block">
                                        {{(technicianCollectionJobDetailsModel?.technicianStockCollectionJobNumber)? (technicianCollectionJobDetailsModel?.technicianStockCollectionJobNumber):'-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="collectionNumberLabel" class="key">Collection Address</span>
                                <span id="collectionNumberValue" class="value">
                                    <span class="d-inline-block">
                                        <span>
                                            {{(technicianCollectionJobDetailsModel?.collectionAddress)? (technicianCollectionJobDetailsModel?.collectionAddress) : '-'}}
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="createdDateLabel" class="key">Created Date</span>
                                <span id="createdDateValue" class="value">
                                    <span class="d-inline-block">
                                        {{(technicianCollectionJobDetailsModel?.createdDate)? (technicianCollectionJobDetailsModel?.createdDate| date):'-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="locationPointLabel" class="key">Location Point</span>
                                <span id="locationPointValue" class="value">
                                    <span class="d-inline-block">
                                        {{(technicianCollectionJobDetailsModel?.locationPoint)? (technicianCollectionJobDetailsModel?.locationPoint) : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="supplierLabel" class="key">Supplier</span>
                                <span id="supplierValue" class="value">
                                    <span class="d-inline-block">
                                        {{(technicianCollectionJobDetailsModel?.purchaseOrderDetailsView?.supplierName)? (technicianCollectionJobDetailsModel?.purchaseOrderDetailsView?.supplierName) : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="collectionDateLabel" class="key">Collection Date</span>
                                <span id="collectionDateValue" class="value">
                                    <span class="d-inline-block">
                                        {{(technicianCollectionJobDetailsModel?.collectionDate)? (technicianCollectionJobDetailsModel?.collectionDate| date):'-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="collectionWarehouseLabel" class="key">Warehouse</span><!-- Collection -->
                                <span id="collectionWarehouseValue" class="value">
                                    <span class="d-inline-block">
                                        {{(technicianCollectionJobDetailsModel?.purchaseOrderDetailsView?.warehouseName)? (technicianCollectionJobDetailsModel?.purchaseOrderDetailsView?.warehouseName) : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="poNumberLabel" class="key">PO Number</span>
                                <span id="poNumberValue" class="value">
                                    <span class="d-inline-block">
                                        {{(technicianCollectionJobDetailsModel?.purchaseOrderDetailsView?.orderNumber)? (technicianCollectionJobDetailsModel?.purchaseOrderDetailsView?.orderNumber) : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                  
                    <div class="row mt-2" *ngIf="technicianCollectionJobDetailsModel?.technicianStockCollectionStatusName?.toLowerCase() == 'cancelled' || technicianCollectionJobDetailsModel?.technicianStockCollectionStatusName?.toLowerCase() == 'rejected'">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="reasonLabel" class="key">Reason</span> 
                                <span id="reasonValue" class="value">
                                    {{(technicianCollectionJobDetailsModel?.reason)?
                                    (technicianCollectionJobDetailsModel?.reason):'-'}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="technicianWarehouseLabel" class="key">Technician Warehouse</span>
                                <span id="technicianWarehouseValue" class="value">
                                    {{(technicianCollectionJobDetailsModel?.warehouseName)? (technicianCollectionJobDetailsModel?.warehouseName):'-'}}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="technicianLabel" class="key">Technician</span>
                                <span id="technicianValue" class="value">
                                    <span class="d-inline-block"> <!-- blue-text -->
                                        {{(technicianCollectionJobDetailsModel?.technicianName)? (technicianCollectionJobDetailsModel?.technicianName):'-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="statusLabel" class="key">Status</span>
                                <span id="statusValue" class="value">
                                    <span class="d-inline-block status-label"
                                        [ngClass]="technicianCollectionJobDetailsModel?.cssClass" style="width: auto;font-size: 1rem;"> <!--status-label-yellow-->
                                        {{(technicianCollectionJobDetailsModel?.technicianStockCollectionStatusName)? (technicianCollectionJobDetailsModel?.technicianStockCollectionStatusName):'-'}}
                                    <!-- Partial Received -->
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="supportDocumentLabel" class="key">Support Document</span>
                                <span id="supportDocumentValue" class="value d-block">
                                        <span class="d-block"  *ngFor="let stockCollectionDoc of technicianCollectionJobDetailsModel?.technicianStockCollectionDocumentList">
                                            <a class="d-block blue-text" [href]="stockCollectionDoc['path']">
                                                {{ (stockCollectionDoc?.docName) ? (stockCollectionDoc?.docName) : '-'}}
                                            </a>
                                        </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-header mb-2 mt-5" style="font-size: 1rem;white-space: nowrap;">
                        <div class="col-2">Stock Code</div>
                        <div class="col-2">Stock Description</div>
                        <div class="col-2">Unit Of Measure</div>
                        <div class="col-2">Qty to Collect</div>
                        <div class="col-2">Qty Collected</div>
                        <div class="col-2">Serialized/Barcode</div>
                    </div>
                    <div class="row child-row mb-2" *ngFor="let stock of technicianCollectionJobDetailsModel?.technicianStockCollectionStockList">
                        <div class="col-2">
                            <div class="form-group blue-text">
                                <button type="button" class="form-control fidelity-form-input"
                                    (click)="stockInfoModal(stock['stockOrderItemId'])"
                                    [ngClass]="!stock.isSerialized ? 'disabled' : 'model-color'">{{stock.itemCode}}
                                </button>
                            </div>
                        </div>
                        <div class="col-2">
                            <input-custom-control  [extraClassNames]="'disabled'" [value]="stock.itemName"></input-custom-control>
                        </div>
                        <div class="col-2">
                            <input-custom-control  [extraClassNames]="'disabled'" [value]="stock.uomName"></input-custom-control>
                        </div>
                        <div class="col-2">
                            <input-custom-control [extraClassNames]="'disabled'" [value]="stock.technicianStockCollectionQtyToCollect"></input-custom-control>
                        </div>
                        <div class="col-2">
                            <input-custom-control [extraClassNames]="'disabled'" [value]="stock.technicianStockCollectionReceivedQty"></input-custom-control>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"
                            [checked]="stock.isSerialized" disabled>
                            </mat-checkbox>
                        </div>
                    </div>
                    <div *ngIf="technicianCollectionJobDetailsModel?.technicianStockCollectionStockList?.length <= 0" class="col-12 mt-3">
                        <div class="text-center text-muted no-records-found-con">
                            <span><b>No Records Found</b></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="stockDetailListDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header> Stock Code Info </p-header>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Code </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{stockDetails?.StockCode ? stockDetails?.StockCode : '-'}}</b>
                </div>
            </div>
        </div>            
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Description </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{stockDetails?.StockDescription ? stockDetails?.StockDescription : '-'}} </b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label> Serial Number</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label> Total: {{stockDetails['ReceivedQuantity']}}/{{stockDetails['TotalQuantity']}} </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div *ngFor="let items of stockDetails?.serialNumbers; let i = index">
                <div class="form-group">
                    <input type="text" class="fidelity-form-input form-control" readonly [value]="items"
                    matTooltip="{{items}}">
                </div>
            </div>
        </div>
        <div *ngIf="stockDetails?.serialNumbers?.length <= 0" class="col-12 mt-3">
            <div class="text-center text-muted no-records-found-con">
                <span><b>No Records Found</b></span>
            </div>
        </div>
    </div>
</p-dialog>