.fa {
    font-size: 17px !important;
    margin-top: 11px !important;
    margin-left: 8px !important;
}
.icon-barcode{
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  margin-top: 5px;
}
.custom-scroll1{
  width: 100vw;overflow-x: auto;
}
.barcode_icon{
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.shelf-and-bin-tab-custom {
  height: 32vh;overflow-y: auto;
}
::ng-deep .shelf-in-bin-box span.fa.fa-ban {
    position: absolute;
    top: 4px;
    right: 2px;
    font-size: 11px;
    color: white;
    display: none;
    background-color: red;
    border-radius: 13px;
    padding: 3px 4px;
    text-align: center;
}
.bin-color{
    color:grey !important;
  }
  .shelf-disable{
    background-color: #eaeaea !important;
  }