<div class="page-heading">
    <h1 class="page-title d-inline-block"> Radio Removal Receiving </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a><i class="fa fa-home" aria-hidden="true"></i> </a>
      </li>
      <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']"> Inventory </a> </li>
      <li class="breadcrumb-item"><a (click)="navigateToList()"> Radio Removal Receiving List</a></li>
      <li class="breadcrumb-item"> Radio Removal Receiving View </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right" *ngIf="radioRemovalSystemDetails?.basicInfo?.status != 'Received'">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEditPage()" matTooltip="Edit">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
    
<div class="page-content fade-in-up ">
    <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
        <div class="ibox white-bg">
            <div class="ibox-body brown-border view-box mt-3">
                <h1 class="page-sub-title ext-padd">BASIC INFO</h1>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Receiving ID </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{ radioRemovalSystemDetails?.basicInfo?.receivingId ? radioRemovalSystemDetails?.basicInfo?.receivingId : '-' }}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Receiving Barcode </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{ radioRemovalSystemDetails?.basicInfo?.receivingBarcode ? radioRemovalSystemDetails?.basicInfo?.receivingBarcode :'-'}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Warehouse </span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{ radioRemovalSystemDetails?.basicInfo?.warehouse ? radioRemovalSystemDetails?.basicInfo?.warehouse :'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Receiving Clerk </span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{ radioRemovalSystemDetails?.basicInfo?.receivingClerk ? radioRemovalSystemDetails?.basicInfo?.receivingClerk:'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Received On </span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{ radioRemovalSystemDetails?.basicInfo?.receivedOn ? radioRemovalSystemDetails?.basicInfo?.receivedOn : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Radio Removal User </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{ radioRemovalSystemDetails?.basicInfo?.radioRemovalUser ? radioRemovalSystemDetails?.basicInfo?.radioRemovalUser :'-'}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Tech Stock Location </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{ radioRemovalSystemDetails?.basicInfo?.techStockLocation ? radioRemovalSystemDetails?.basicInfo?.techStockLocation :'-'}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Tech Stock Location Name </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{ radioRemovalSystemDetails?.basicInfo?.techStockLocationName ? radioRemovalSystemDetails?.basicInfo?.techStockLocationName :'-'}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Status</span>
                            <span id="" class="">
                                <span class="d-inline-block">
                                    <span class="status-label" 
                                        [ngClass]="radioRemovalSystemDetails?.basicInfo?.status != null ? radioRemovalSystemDetails?.basicInfo?.cssClass : '' " >
                                        {{ radioRemovalSystemDetails?.basicInfo?.status ? radioRemovalSystemDetails?.basicInfo?.status : '-'}}
                                    </span>
                                </span>                                    
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="page-sub-title ext-padd mt-3"> STOCK INFO </h1>
            <div class="ibox-body brown-border view-box mt-3">
                <mat-tab-group [selectedIndex]="selectedTabIndex" class="fidelity-tab-group stock-order-view-tab mat-tab-body-padding-0 mat-tab-no-arrows mt-3">
                    <mat-tab label="TO BE TESTED" class="bg-gray">
                        <div class="container-fluid">
                            <div class="row row-header mb-2">
                                <div class="col-2"> Stock Code </div>
                                <div class="col-5"> Stock Description </div>
                                <div class="col-2"> Qty on Hand  </div>
                                <div class="col-2"> Received Qty </div>
                            </div>
                            <div class="row child-row mb-2" *ngFor="let data of radioRemovalSystemDetails?.testedItems; let i = index">
                                <div class="col-2">
                                    <div class="form-group" style="display: flex;" >
                                    <input  class="form-control fidelity-form-input model-color" type="text" (click)="openSerialInfoPopup(data)"
                                        [value]=data?.itemCode readonly/>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <input-custom-control [extraClassNames]="'disabled'" value={{data?.itemName}}></input-custom-control>
                                </div>
                                <div class="col-2">
                                    <input-custom-control [extraClassNames]="'disabled'" value={{data?.qtyOnHand}}></input-custom-control>
                                </div>
                                <div class="col-2">
                                    <input-custom-control [extraClassNames]="'disabled'" value={{data?.receivedQty}}></input-custom-control>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 no-records-found" *ngIf="radioRemovalSystemDetails?.testedItems?.length == 0">
                            <h4>No Records Found</h4>
                        </div>
                    </mat-tab> 
                    {{radioRemovalSystemDetails?.disposedItems?.length}}--{{radioRemovalSystemDetails?.disposedItems}}
                    <mat-tab label="TO BE DISPOSED" class="bg-gray">
                        <div class="container-fluid">
                            <div class="row row-header mb-2">
                                <div class="col-2"> Stock Code </div>
                                <div class="col-5"> Stock Description </div>
                                <div class="col-2"> Qty on Hand  </div>
                                <div class="col-2"> Received Qty </div>
                            </div>
                            <div class="row child-row mb-2" *ngFor="let data of radioRemovalSystemDetails?.disposedItems; let i = index">
                                <div class="col-2">
                                    <div class="form-group" style="display: flex;" >
                                    <input  class="form-control fidelity-form-input model-color" type="text" (click)="barcodeScan(data)"
                                        [value]=data?.itemCode readonly/>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <input-custom-control [extraClassNames]="'disabled'" value={{data?.itemName}}></input-custom-control>
                                </div>
                                <div class="col-2">
                                    <input-custom-control [extraClassNames]="'disabled'" value={{data?.qtyOnHand}}></input-custom-control>
                                </div>
                                <div class="col-2">
                                    <input-custom-control [extraClassNames]="'disabled'" value={{data?.receivedQty}}></input-custom-control>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 no-records-found" *ngIf="radioRemovalSystemDetails?.disposedItems?.length == 0">
                            <h4>No Records Found</h4>
                        </div>
                    </mat-tab> 
                </mat-tab-group>
            </div>
            <div class="ibox-body brown-border view-box mt-3">
                <div class="row mt-2" style="height: 70px;">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Comments </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{ radioRemovalSystemDetails?.basicInfo?.comments ? radioRemovalSystemDetails?.basicInfo?.comments :'-'}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Signature </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    <a href="">
                                        {{radioRemovalSystemDetails?.basicInfo?.documentTypeName}}
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="stockDetailListDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header> Serial Info </p-header>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Code </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{stockDetails?.stockCode ? stockDetails?.stockCode : '-'}}</b>
                </div>
            </div>
        </div>            
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Description </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{stockDetails?.stockDescription ? stockDetails?.stockDescription : '-'}} </b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label> Serial Number</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label> Customer </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row" *ngFor="let items of stockDetails?.serialNumbers; let i = index">
                <div class="col-6">
                    <div class="form-group">
                        <input type="text" class="fidelity-form-input form-control" readonly [value]="items?.serialNumber"
                        matTooltip="{{items?.serialNumber}}">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <input type="text" class="fidelity-form-input form-control" readonly [value]="items?.customer"
                        matTooltip="{{items?.customer}}">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="stockDetails?.serialNumbers?.length <= 0" class="col-12 mt-3">
            <div class="text-center text-muted no-records-found-con">
                <span><b>No Records Found</b></span>
            </div>
        </div>
    </div>
</p-dialog>