<div class="fidelity-popup-heading  p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.data?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
  </div>
  <app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="nfcSiteTagConfigForm" (ngSubmit)="onSubmit()">
    <div style="padding: 16px;">
        <div>
            <div class="view-box">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Tag Id<span class="mandatory-field">*</span></label>
                            <input type="text" class="form-control fidelity-form-input" formControlName="tagId"
                                placeholder="Enter Tag Id" minlength="3" maxlength="25">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Description<span class="mandatory-field">*</span></label>
                            <input type="text" class="form-control fidelity-form-input" formControlName="description"
                                placeholder="Enter Description" minlength="10" maxlength="250">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group p-relative fix-error-msg" style="width: 100%!important;">
                            <label>Location<span class="mandatory-field">*</span></label>
                            <div class="input-group fidelity-input-addon mb-3">
                                <input [style]="{'width':'100%'}" class="form-control fidelity-form-input " type="text"
                                    placeholder="Enter Location" maxlength="120" minlength="3"
                                    formControlName="location">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group p-relative fix-error-msg" style="width: 100%!important;">
                            <label>Latitude<span class="mandatory-field">*</span></label>
                            <div class="input-group fidelity-input-addon mb-3">
                                <input class="form-control fidelity-form-input" type="text" formControlName="latitude"
                                    placeholder="Latitude" readonly>
                                <div class="input-group-append">
                                    <button class="text-white" type="button" (click)="openMap()"
                                        style="cursor: pointer;"><i aria-hidden="true"
                                            class="icon icon-location"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group p-relative fix-error-msg" style="width: 100%!important;">
                            <label>Longitude<span class="mandatory-field">*</span></label>
                            <div class="input-group fidelity-input-addon mb-3">
                                <input class="form-control fidelity-form-input" type="text" formControlName="longitude"
                                    placeholder="Longitude" readonly>
                                <div class="input-group-append">
                                    <button class="text-white" (click)="openMap()" style="cursor: pointer;"
                                        type="button"><i aria-hidden="true" class="icon icon-location"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 5px;text-align: center;">
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
              <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown  btn-md-fidelity btn-brown mr-4"
                 >Save</button>
              <button type="button" (click)="close()" class="btn btn-md-fidelity fidelity-btn-grey">Cancel</button>
            </div>
          </div>
    </div>
</form>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="openMapDialog" [responsive]="true"
    [resizable]="false" [modal]="true" [style]="{width: '750px'}" appendTo="body">

    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <!-- <p-gmap [options]="options"  [overlays]="overlays" [style]="{'width':'100%','height':'520px'}" ></p-gmap> -->

            <p-gmap #gmap (onMapReady)="setMap($event)" [options]="options" [overlays]="overlays"
                (onMapClick)="handleMapClick($event)" [style]="{ width: '100%', height: '520px' }"></p-gmap>

        </div>
    </div>
</p-dialog>
