::ng-deep .slider.round.req_ack:after {
    content: "No";
    font-size: 0.9rem!important;
    right: 25px !important;
        top: 4px !important;
}

::ng-deep input:checked + .slider.req_ack:after {
    content: "Yes";
    right: 18px !important;
}

.fidelity-btn-circle {
    width: 30px !important;
    height: 30px !important;
    font-size: 1rem;
    position: relative;
    top: 4px;
}

.ibox .delete-row {
    width: 30px !important;
    height: 30px !important;
    font-size: 0.9rem;
    color: #cccccc !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ibox .delete-row:hover {
    background-color: #ed4a4a;
    border-radius: 50% !important;
    i {
        color: #ffffff;
    }
  }
  .form-group {
      width: 100%;
  }