<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Waste Diposal Request Approval </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Inventory Management</a>
        </li>
        <li class="breadcrumb-item">
            <a> Waste Disposal </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Waste Diposal Request Approval List </a>
        </li>
        <li class="breadcrumb-item">
            Waste Diposal Request Approval View
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a  class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToViewPage()">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a> 
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box">        
        <div class="ibox-body">
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> WD Request Number </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{wdRequestApprovalDetails?.wdRequestNumber ? wdRequestApprovalDetails?.wdRequestNumber : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Warehouse </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{wdRequestApprovalDetails?.warehouse ? wdRequestApprovalDetails?.warehouse : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Created By </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{wdRequestApprovalDetails?.createdBy ? wdRequestApprovalDetails?.createdBy : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Created Date & Time</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{wdRequestApprovalDetails?.createdDate ? (wdRequestApprovalDetails?.createdDate | date) : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Actioned By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{wdRequestApprovalDetails?.actionedBy ? wdRequestApprovalDetails?.actionedBy : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Actioned Date & Time</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{wdRequestApprovalDetails?.actionedDate ? (wdRequestApprovalDetails?.actionedDate | date) : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Waste Disposal Company</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{wdRequestApprovalDetails?.companyName ? wdRequestApprovalDetails?.companyName : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Collected By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{wdRequestApprovalDetails?.collectedBy ? wdRequestApprovalDetails?.collectedBy : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2"> 
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Collected Date & Time</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{wdRequestApprovalDetails?.collectedDate ? (wdRequestApprovalDetails?.collectedDate | date) : '-'}}
                            </span>
                        </span>
                    </div>
                </div>               
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Status</span>
                        <span id="" class="">
                            <span class="d-inline-block">                                    
                                <span class="status-label" [ngClass]="wdRequestApprovalDetails?.status != null ? wdRequestApprovalDetails?.cssClass : '' ">
                                    {{wdRequestApprovalDetails?.status ? wdRequestApprovalDetails?.status : '-'}}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-body brown-border mt-3" style="height: auto;z-index: 1000;">
            <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabClicked($event)" class="fidelity-tab-group mat-tab-body-padding-0 mat-tab-no-arrows">
                <mat-tab label="ASSETS" class="bg-gray">
                    <div>
                        <div class="custom-scroll1" style="overflow-x: auto;height: 30vh">
                            <div class="container-fluid p-relative warehouse-con">
                                <div class="custom-scroll1" style="overflow-x: auto;">
                                    <div class="row sm-padding mb-2" style="flex-wrap: nowrap;">
                                        <div class="col-2"> Stock Code </div>
                                        <div class="col-4"> Stock Description </div>
                                        <div class="col-2"> Qty </div>
                                        <div class="col-2"> Moving Average Price (R) </div>
                                        <div class="col-2"> Write Off Value (R) </div>
                                        <div class="col-2"> Level 1 Action </div> 
                                        <div class="col-2"> Level 1 Reason </div>
                                        <div class="col-2"> Level 2 Action </div>
                                        <div class="col-2"> Level 2 Reason </div>
                                    </div>                                        
                                    <div class="" *ngFor="let control of wdRequestApprovalDetails?.assetItems;let i=index">
                                        <div class="row sm-padding" style="flex-wrap: nowrap;">
                                            <div class="col-2">
                                                <div class="form-group" style="cursor: pointer;" (click)="openModelSerialPopup('assets', control?.itemId, control?.itemCode, control?.itemName)">
                                                    <input type="text" class="fidelity-form-input form-control disabled model-color" [value]="control['itemCode']">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="control['itemName']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="control['quantity']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input class="fidelity-form-input form-control disabled" [value]="control['movingAveragePrice']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="control['writeOffValue']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="control['level1Action']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="control['level1Reason']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="form-control fidelity-form-input disabled" [value]="control['level2Action']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="control['level2Reason']"> 
                                                </div>
                                            </div>                                                     
                                        </div>                                        
                                    </div> 
                                     
                                    <div *ngIf="wdRequestApprovalDetails?.assetItems?.length <= 0" class="col-12 mt-3">
                                        <div class="text-center">
                                            <span><b>No Records Found</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row sm-padding">
                            <div class="col-2"></div>
                            <div class="col-4"></div>
                            <div class="col-2"></div>
                            <div class="col-2">Total Write Off Value :</div>
                            <div class="col-2"><b> {{totalAssetWriteValue}} </b></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                    
                </mat-tab>
                <mat-tab label="CONSUMABLES" class="bg-gray">
                    <div>
                        <div class="custom-scroll1" style="overflow-x: auto;height: 30vh">
                            <div class="container-fluid p-relative warehouse-con">
                                <div class="custom-scroll1" style="overflow-x: auto;">
                                    <div class="row sm-padding mb-2" style="flex-wrap: nowrap;">
                                        <div class="col-2"> Stock Code </div>
                                        <div class="col-4"> Stock Description </div>
                                        <div class="col-2"> Qty </div>
                                        <div class="col-2"> Moving Average Price (R) </div>
                                        <div class="col-2"> Write Off Value (R) </div>
                                        <div class="col-2"> Level 1 Action </div> 
                                        <div class="col-2"> Level 1 Reason </div>
                                        <div class="col-2"> Level 2 Action </div>
                                        <div class="col-2"> Level 2 Reason </div>
                                    </div>                                        
                                    <div class="" *ngFor="let consumable of wdRequestApprovalDetails?.consumableItems;let i=index">
                                        <div class="row sm-padding" style="flex-wrap: nowrap;">
                                            <div class="col-2">
                                                <div class="form-group" style="cursor: pointer;" (click)="openModelSerialPopup('consumable', consumable?.itemId, consumable?.itemCode, consumable?.itemName)">
                                                    <input type="text" class="fidelity-form-input form-control disabled model-color" [value]="consumable['itemCode']">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="consumable['itemName']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="consumable['quantity']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input class="fidelity-form-input form-control disabled" [value]="consumable['movingAveragePrice']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="consumable['writeOffValue']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="consumable['level1Action']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="consumable['level1Reason']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="form-control fidelity-form-input disabled" [value]="consumable['level2Action']">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control disabled" [value]="consumable['level2Reason']"> 
                                                </div>
                                            </div>                                                     
                                        </div>
                                    </div>
                                     
                                    <div *ngIf="wdRequestApprovalDetails?.consumableItems?.length <= 0" class="col-12 mt-3">
                                        <div class="text-center">
                                            <span><b>No Records Found</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row sm-padding">
                            <div class="col-2"></div>
                            <div class="col-4"></div>
                            <div class="col-2"></div>
                            <div class="col-2">Total Write Off Value :</div>
                            <div class="col-2"><b> {{totalConsumeWriteValue}} </b></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isWasteDisposalDialogModal" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header> Serial Info </p-header>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Code </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.stockCode ? modalDetails?.stockCode : '-'}}</b>
                </div>
            </div>
        </div>            
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Description </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.stockDescription ? modalDetails?.stockDescription : '-'}} </b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Serial Number</label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.serialNumbers ? modalDetails?.serialNumbers.length : '0'}}</b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12" *ngFor="let items of modalDetails?.serialNumbers; let i = index">
                    <div class="form-group">
                        <input type="text" class="fidelity-form-input form-control" readonly [value]="items['serialNumber']"
                        matTooltip="{{items.serialNumber}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>