<div class="page-heading">
    <h1 class="page-title d-inline-block">Tech Testing Config</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/technical-management/dashboard'>Technicial Management</a></li>
        <li class="breadcrumb-item"><a >Tech testing</a></li>
        <!-- <li class="breadcrumb-item" *ngIf="requisitionId"><a routerLink='/inventory/requisitions/stock-orders/requisition-view' [queryParams]="{requisitionId:requisitionId}">View Requisition</a></li>
        <li class="breadcrumb-item"> {{breadCrumbTitle}} Requisition </li> -->
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">

                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <form customForm [formGroup]="techTestConfigForm" > <!--(ngSubmit)="createRequisition()"-->
                        <div class="ibox-body mb-3">
                <h3 class="page-sub-title mb-0">Tech Testing Values</h3>
                            
                            <div class="row header-row">
                                <div class="col-3">Test Delay</div>
                                <div class="col-6">Midway Notification</div>
                                <div class="col-2">Final Notification</div>
                                <div class="col-1"></div>
                            </div>
                            <div class="mt-2" >
                                
                                    <div class="row stock-order">
                                        <div class="col-3">
                                            <input type="text" class="fidelity-form-input form-control" placeholder="Enter (Minutes)" [validateInput]='isNumberOnly' formControlName="testDelay" > <!--formControlName="requestedOty"  [validateInput]="numberConfig"-->

                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="fidelity-form-input form-control" placeholder="Enter (Minutes)" [validateInput]='isADecimalOnly' formControlName="midwayNotification" >

                                        </div>
                                        <div class="col-2">
                                            <input type="text" class="fidelity-form-input form-control" placeholder="Enter (Minutes)" [validateInput]='isADecimalOnly'  formControlName="finalNotification" >
                                        </div>
                                        <div class="col-1">
                                            <button  class="circle-plus-btn fidelity-brown-btn" matTooltip="Add" (click)="addTechTestConfig()" style="right: -19px;top: 4px;">
                                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                                            </button>
                                        </div>
                                    </div>
                                
                            </div>
                                <div class="mt-2" formArrayName="techTestConfigList">
                                    <div class="row stock-order mb-1" *ngFor="let control of getTechTestCofigFormArray?.controls; let i = index" [formGroupName]="i">
                                        <div class="col-3">
                                            <input type="text" class="fidelity-form-input form-control" placeholder="Enter (Minutes)" [validateInput]='isNumberOnly' formControlName="testDelay"> <!--formControlName="requestedOty"  [validateInput]="numberConfig"-->
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="fidelity-form-input form-control" placeholder="Enter (Minutes)" [validateInput]='isADecimalOnly' formControlName="midwayNotification" >

                                        </div>
                                        <div class="col-2">
                                            <input type="text" class="fidelity-form-input form-control" placeholder="Enter (Minutes)" [validateInput]='isADecimalOnly'
                                            formControlName="finalNotification" >
                                        </div>
                                        <div class="col-1">
                                            <button type="button" matTooltip="Edit" class="circle-edit-btn delete-row" style="top: 5px;" (click)="editTechTestConfig(i)"><i aria-hidden="true" class="icon icon-edit"></i>
                                            </button>
                                            
                                            <button type="button" matTooltip="Delete" class="circle-minus-btn delete-row" style="top: 5px;" (click)="deleteTechTestConfig(i)"><i aria-hidden="true" class="icon icon-delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    
                    
                        <div class="text-center mt-3">
                            
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2" (click)="submitTechTestConfig()">
                                Save
                            </button>
                            
                            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" 
                                (click)="CancelRequisition()" >Cancel
                            </button>
                        </div>
                    </form>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>
