<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
    </app-page-header>
</div>
<div class="page-content fade-in-up ">
    <div class="ibox" style="height: auto;">
        <div class="ibox-body brown-border white-bg">
            <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
                <form customForm class="fidelity-popup-form" [formGroup]="reinstatementForm" (ngSubmit)="onSubmit()">
                    <div class="row mt-2">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Incentive Structure</label>
                                <select class="form-control fidelity-form-input"
                                    formControlName="incentiveStructureConfigId">
                                    <option value="null">Select</option>
                                    <option *ngFor="let item of incentiveStructureList" [value]="item?.id">
                                        {{item?.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Maximum Earning Potential </label>
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="maximumEarningPotential" />
                            </div>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-8">
                            <div class="form-group">
                                <label class="form-label">Primary Incentive Criteria </label>
                                <textarea name="primaryIncentiveComments" formControlName="primaryIncentiveComments"
                                    rows="5" class="form-control" type="text"></textarea>
                            </div>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <h1 class="page-sub-title ext-padd">QUALIFIES ON REINSTATEMENT COUNT (PER INSTATEMENT)</h1>
                    <div class="row mt-1">
                        <div class="col-2">
                            <div class="form-group">
                                <label>0-10 </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>11-20 </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>21-30</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>31-35 </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>36-40 </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>40+ </label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row mt-2">
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input"
                                type="text" [value]="targetDetails?.percentage30Days" disabled name='30Days' />                           
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input"
                                type="text"  [value]="targetDetails?.percentage60Days" disabled name='60Days' />                           
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input"
                                type="text"  [value]="targetDetails?.percentage90Days" disabled name='90Days' />                           
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input"
                                type="text"  [value]="targetDetails?.percentage120Days" disabled name='120Days' />                           
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input"
                                type="text"  [value]="targetDetails?.percentage120PlusDays" disabled name='120DaysPlus' />                           
                            </div>
                        </div>
                     </div> -->
                    <div class="row mt-2">
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="primaryIncentive010" name='0-10' />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="primaryIncentive1120" name='11-20' />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="primaryIncentive2130" name='21-30' />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="primaryIncentive3135" name='31-35' />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="primaryIncentive3640" name='35-40' />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="primaryIncentive41" name='41Plus' />
                            </div>
                        </div>
                    </div>
                    <h1 class="page-sub-title ext-padd">ADDITIONAL TOP UP INCENTIVE</h1>
                    <div class="row mt-2">
                        <div class="col-4">
                            <div class="form-group">
                                <!-- font-weight-bold -->
                                <label class="form-label">Additional Current Top up Incentive Criteria</label>
                                <textarea name="additionalTopUpIncentiveComments"
                                    formControlName="additionalTopUpIncentiveComments" rows="5" class="form-control"
                                    type="text"></textarea>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Additional Current Top Up Incentive</label>
                                        <input class="form-control fidelity-form-input" type="text"
                                            formControlName="additionalCurrentToupIncentive"
                                            name='additionalCurrentToupIncentive' />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Additional Current Top Up Earning %</label>
                                        <input class="form-control fidelity-form-input" type="text"
                                            formControlName="additionalCurrentToupEarningPerc"
                                            name='additionalCurrentToupEarningPerc' />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Additional Top Up Reinstatement Target >=</label>
                                        <input class="form-control fidelity-form-input" type="text"
                                            formControlName="additionalToupReinstatementTarget"
                                            name='additionalToupReinstatementTarget' />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Additional Current Top Up Productivity %>=</label>
                                        <input class="form-control fidelity-form-input" type="text"
                                            formControlName="additionalCurrentToupProductivity"
                                            name='additionalCurrentToupProductivity' />
                                    </div>
                                </div>

                                
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Additional Current Earning Potential </label>
                                    <input class="form-control fidelity-form-input" type="text"
                                        formControlName="additionalCurrentEarningPotential"
                                        name='additionalCurrentEarningPotential' />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Additional Top Up Earning Potential </label>
                                    <input class="form-control fidelity-form-input" type="text"
                                        formControlName="additionalEarningPotential"
                                        name='additionalEarningPotential' />
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-4" style="margin-top: -180px !important;">
                            <div class="form-group">
                                <label>Additional Top Up Incentive Criteria 
                                </label>
                                <!-- <input class="form-control fidelity-form-input" type="text"
                                    formControlName="additionalToupIncentive" name='additionalToupIncentive' /> -->
                                    <textarea name="additionalToupIncentive"
                                    formControlName="additionalToupIncentive" rows="5" class="form-control"
                                    type="text"></textarea>
                                </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="initiate_order_btn" type="submit"
                            class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Save</button>
                        <button id="cancel_order_btn" type="button" (click)="navigate()"
                            class="btn btn-md-fidelity btn-default">Cancel</button>
                    </div>
                </form>
            </p-scrollPanel>
        </div>
    </div>
</div>