<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.header}}
    <button class="close-button p-absolute" type="button" (click)="close()">
        <i class="fa fa-close" aria-hidden="true"></i>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form [formGroup]="cancellationForm" (ngSubmit)="onSubmit()">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body mb-3">
                <app-view-page [col]="2" [viewDetail]="SMWSCancellationDetails" [template]="1"></app-view-page>
                <div class="row mt-2">
                    <div class="col-6">
                        <app-sm-ws-action-arrival [customerId]="config?.data?.rowData?.customerId"
                            [customerAddressId]="config?.data?.rowData?.addressId"></app-sm-ws-action-arrival>
                    </div>
                    <div class="col-6">
                        <app-sm-ws-technician-feedback [customerId]="config?.data?.rowData?.customerId"
                            [customerAddressId]="config?.data?.rowData?.addressId"></app-sm-ws-technician-feedback>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <label>Request Note<span class="mandatory-field">*</span></label>
                        <textarea class="form-control fidelity-form-input" name="Comments" disabled
                            value="{{requestNotes?.currentNotes}}" rows="4"></textarea>
                    </div>
                    <div class="col-6">
                        <label>Feedback Note<span class="mandatory-field">*</span></label>
                        <textarea class="form-control fidelity-form-input" name="Comments"
                            formControlName="districtManagerComments" rows="4"></textarea>
                        <span *ngIf="cancellationForm?.get('districtManagerComments')?.touched && cancellationForm?.get('districtManagerComments')?.errors?.required">
                            Comments is required
                        </span>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
        <div class="text-center py-3">
            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Approve</button>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="onSubmit(false)"
                label="Resend Reminder SMS">Decline</button>
        </div>
    </form>
</div>