.add-btn-disable { 
    opacity:0.5;
    pointer-events: none;
}
.add-btn-enable { 
    opacity:1;
    pointer-events: auto;
}
.audit-cycle-ibox {
    height: calc(100vh - 42vh);
}
::ng-deep .fdt-pdropdown-con label.ui-dropdown-label.ui-inputtext.ui-corner-all.ui-placeholder {
    height: auto !important;
}