<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
  cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
  {{config.header}}
  <button mat-icon-button class="close-button p-absolute" type="button" (click)="cancel()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<div class="page-content fade-in-up" style="padding: 10px;">
    <form *ngIf="type=='Add' || type=='Edit'" autocomplete="off" [formGroup]="reductionAddEditForm" customForm (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Reduction Type<span class="mandatory-field">*</span></label>
                    <input formControlName="reductionType" class="form-control fidelity-form-input" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Reduction Type Description<span class="mandatory-field">*</span></label>
                    <input formControlName="reductionTypeDescription" class="form-control fidelity-form-input"
                        type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Status</label>
                <div class="form-group">
                    <label class="switch add-stack-status">
                        <input type="checkbox" formControlName="isActive">
                        <span class="slider round active"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
                    [label]="'Save'"></button>
                <button (click)="cancel()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    type="button">Cancel</button>
            </div>
        </div>
    </form>
    <div *ngIf="type=='View'">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Reduction Type</span>
                    <span id="" class="value">
                        <span class="d-inline-block">{{reductionDetails ? reductionDetails.incentiveReductionTypeName :
                            '-'}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Reduction Type Description</span>
                    <span id="" class="value">
                        <span class="d-inline-block">{{reductionDetails ? reductionDetails.description : '-'}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Status</span>
                    <span id="" class="value">
                        <span class="status-label"
                            [ngClass]="reductionDetails?.isActive == true ? 'status-label-green' : 'status-label-pink' ">{{
                            reductionDetails?.isActive ? 'Active' : 'Inactive '}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center" style="margin-top: 14px;">
                <button (click)="edit()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    type="button">Edit</button>
                <button (click)="cancel()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>
