<div class="page-heading ">
    <h1 class="page-title no-border">{{weeklyTestRunId ? 'Update' : 'Add'}} Weekly Test Run</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Billing</li>
        <li class="breadcrumb-item"><a routerLink='/configuration/recurring-billing' [queryParams]="{tab:1}"
                skipLocationChange> Weekly Test Run List</a>
        </li>
        <li class="breadcrumb-item">{{weeklyTestRunId ? 'Update' : 'Add'}} Weekly Test Run</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body sm-form-grp">
                <form [formGroup]="WeeklyTestRunForm" customForm (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block"> Division <span class="mandatory-field">*</span></label>
                                <p-multiSelect [options]="divisionList" [defaultLabel]="'Select Division'" formControlName="divisionIds" styleClass="w-100"></p-multiSelect>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con" id="date_field">
                                <label>Run Time <span class="mandatory-field">*</span></label>
                                <p-calendar formControlName="runTime" styleClass="w-100"></p-calendar>
                            </div>
                        </div>

                    </div>
                    <div class="text-center mt-3">
                        <button id="create_new_leads_btn" type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                            id="add_lead_type_btn">{{weeklyTestRunId ? 'Update' : 'Add'}}</button>
                        <button id="cancel_new_leads_btn" type="button"
                            routerLink="/configuration/recurring-billing" [queryParams]="{tab:1}" skipLocationChange
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                            id="cancel_lead_type_btn">Cancel</button>
                    </div>

                </form>

            </div>
        </p-scrollPanel>
    </div>
</div>
