<div class="fidelity-popup-heading container-fluid">Add Event</div>
<form customForm class="fidelity-popup-form" [formGroup]="calenderEventForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <p-scrollPanel [style]="{ height: '40vh'}">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Action Type <span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" name="Appoinment Category "
                            formControlName="actionTypeId">
                            <option value="">Select Action Type </option>
                            <option *ngFor="let appointmentCategory of appointmentCategoryList"
                                [value]="appointmentCategory.id">
                                {{appointmentCategory.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col fidelity-date-picker-con p-relative cust-banner-date-con">
                            <div class="form-group">
                                <label class="example-input-wrapper">
                                    Start Date <span class="mandatory-field">*</span> </label>
                                     <p-calendar  [minDate]="minDate" formControlName="start"    [readonlyInput]="true" styleClass="w-100">
                              </p-calendar>

                            </div>
                        </div>
                        <div class="col fidelity-date-picker-con p-relative cust-banner-date-con">
                            <div class="form-group">
                                <label class="example-input-wrapper">
                                    End Date<span class="mandatory-field">*</span> </label>
                                     <p-calendar  [minDate]="calenderEventForm.get('start').value" formControlName="end" [readonlyInput]="true" styleClass="w-100">
                              </p-calendar>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-6">
                    <div class="form-group">
                        <label>Seller Name<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" name="Seller Name"
                            formControlName="assignedToId" (change)="OnChange($event.target.value)">
                            <option value="">Select Name </option>
                            <option *ngFor="let sellerName of sellerNameList" [value]="sellerName.id">
                                {{sellerName.sellerName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Contact Number</label>
                        <input readOnly type="text" class="form-control fidelity-form-input"
                            formControlName="contactNumber">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Status<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" name="Status"
                            formControlName="appointmentStatusId">
                            <option value="">Select Status</option>
                            <option *ngFor="let appointmentStatus of appointmentStatusList"
                                [value]="appointmentStatus.id">
                                {{appointmentStatus.displayName}}
                            </option>
                        </select>
                    </div>
                </div> -->

                <div class="col-12">
                    <div class="form-group">
                        <label>Description<span class="mandatory-field">*</span></label>
                        <textarea class="form-control fidelity-form-input" name="Description"  [validateInput]='isAnAlphaNumericOnly'
                            formControlName="title" maxlength="500" id="" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="end">
        <button id="Feature_create_btn" class="btn fidelity-btn-brown mr-2" mat-button type="submit"
            cdkFocusInitial>Save</button>
        <button id="Feature_cancel_btn" class="btn fidelity-btn-grey" mat-button
            [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>
