<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="openCloseSetupConfigForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">

                    <div class="row sm-inputs">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Open Closing Setup Name<span class="mandatory-field">*</span></label>

                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="25"
                                    placeholder="Enter Name" formControlName="openCloseSetupName">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*
                                    </span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAStringOnly' minlength="10" maxlength="250"
                                    placeholder="Enter Description" formControlName="description">
                                 </textarea>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Division<span class="mandatory-field">*</span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="openCloseSetupDivisionList" multiple placeholder="Select Division">
                                    <mat-option value="" #allSelectedDivision *ngIf="divisionDropDown.length > 0"
                                        (click)="toggleAllDivisions()" selected>All Divisions</mat-option>
                                    <mat-option *ngFor="let item of divisionDropDown" [value]="item.id"
                                        (click)="toggleDivisionOne()">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Disarming Window (Minutes)<span class="mandatory-field">*
                                    </span></label>
                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isANumberOnly' placeholder="Enter Disarming Window"
                                    formControlName="disArmingWindow">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Arming Window (Minutes)<span class="mandatory-field">*
                                    </span></label>
                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isANumberOnly' placeholder="Enter Arming Window"
                                    formControlName="armingWindow">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Fail To Open Alarm Type<span class="mandatory-field">*
                                    </span></label>
                                <select class="form-control fidelity-form-input"
                                    formControlName="failToOpenAlarmTypeId">
                                    <option value="" selected>--Select Fail To Open--</option>
                                    <option [value]="item.id"
                                        *ngFor="let item of alarmTypeWithDescription; let i=index">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Fail To Close Alarm Type<span class="mandatory-field">*
                                    </span></label>
                                <select class="form-control fidelity-form-input"
                                    formControlName="failToCloseAlarmTypeId">
                                    <option value="" selected>--Select Fail To Close--</option>
                                    <option [value]="item.id"
                                        *ngFor="let item of alarmTypeWithDescription; let i=index">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round active"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <h1 class="page-sub-title ext-padd mt-3">ARM (CLOSING)</h1>
                    <br>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-2">Signal Recieved <span class="mandatory-field">*</span></div>
                        <div class="col-md-2">Unscheduled Close<span class="mandatory-field">*</span></div>
                        <div class="col-md-2">Close Early<span class="mandatory-field">*</span></div>
                        <div class="col-md-2">Close Late<span class="mandatory-field">*</span></div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="" formArrayName="openCloseSetupArmList"
                        *ngFor="let obj of openCloseSetupConfigForm?.get('openCloseSetupArmList')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-2">
                                <div class="form-group">
                                    <select #input class="form-control fidelity-form-input" (change)="onChange()"
                                        formControlName="signalReceivedAlarmId">
                                        <option value="" selected>--Select Signal--</option>
                                        <option [value]="item.id"
                                            *ngFor="let item of alarmTypeWithDescription; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <select #input class="form-control fidelity-form-input"
                                        formControlName="unscheduledCloseAlarmId">
                                        <option value="" selected>--Select Unscheduled--</option>
                                        <option [value]="item.id"
                                            *ngFor="let item of alarmTypeWithDescription; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <select #input class="form-control fidelity-form-input"
                                        formControlName="closeEarlyAlarmId">
                                        <option value="" selected>--Select Unscheduled--</option>
                                        <option [value]="item.id"
                                            *ngFor="let item of alarmTypeWithDescription; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <select #input class="form-control fidelity-form-input"
                                        formControlName="closeLateAlarmId">
                                        <option value="" selected>--Select Close Late--</option>
                                        <option [value]="item.id"
                                            *ngFor="let item of alarmTypeWithDescription; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button"  *ngIf="i==0" id="add_cmc-sms-group_btn" class="circle-plus-btn"
                                    (click)="addArmList()" title="add">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button type="button"  *ngIf="openCloseSetupConfigForm?.get('openCloseSetupArmList')?.controls.length>1" class="circle-minus-btn" (click)="removeArmList(i)"
                                    title="Delete"><i aria-hidden="true" class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <h1 class="page-sub-title ext-padd mt-3">DISARM (OPENING)</h1>
                    <br>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-2">Signal Recieved <span class="mandatory-field">*</span></div>
                        <div class="col-md-2">Open Early<span class="mandatory-field">*</span></div>
                        <div class="col-md-2">Open Late<span class="mandatory-field">*</span></div>
                        <div class="col-md-2">After Hours<span class="mandatory-field">*</span></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="" formArrayName="openCloseSetupDisarmList"
                        *ngFor="let obj of openCloseSetupConfigForm?.get('openCloseSetupDisarmList')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-2">
                                <div class="form-group">
                                    <select #input1 class="form-control fidelity-form-input" (change)="onChange()"
                                        formControlName="signalReceivedAlarmId">
                                        <option value="" selected>--Select Signal--</option>
                                        <option [value]="item.id"
                                            *ngFor="let item of alarmTypeWithDescription; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <select #input1 class="form-control fidelity-form-input"
                                        formControlName="openEarlyAlarmId">
                                        <option value="" selected>--SelectOpen Early--</option>
                                        <option [value]="item.id"
                                            *ngFor="let item of alarmTypeWithDescription; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <select #input1 class="form-control fidelity-form-input"
                                        formControlName="openLateAlarmId">
                                        <option value="" selected>--Select Open Late--</option>
                                        <option [value]="item.id"
                                            *ngFor="let item of alarmTypeWithDescription; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <select #input1 class="form-control fidelity-form-input"
                                        formControlName="afterHoursAlarmId">
                                        <option value="" selected>--Select After Hours--</option>
                                        <option [value]="item.id"
                                            *ngFor="let item of alarmTypeWithDescription; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button"  *ngIf="i==0" id="add_cmc-sms-group_btn" class="circle-plus-btn"
                                    (click)="addDisArmList()" title="add">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button type="button"  *ngIf="openCloseSetupConfigForm?.get('openCloseSetupDisarmList')?.controls.length>1" class="circle-minus-btn" (click)="removeDisArmList(i)"
                                    title="Delete"><i aria-hidden="true" class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{openCloseSetupId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/event-configuration' [queryParams]="{tab:35}">Cancel</button>
        </div>
    </form>
</div>