<style>
    .pos-top {
        top: 0
    }
  </style>
  <div class="page-heading">
    <h1 class="page-title">Roles & Permission</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/user/dashboard'>IT Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/user/roles'>Roles & Permission</a></li>
        <li class="breadcrumb-item">Add/Update</li>
    </ol>
  
    <div class="clearfix"></div>
  </div>
  
  <div class="ibox white-bg">
      <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
          <div class="ibox-body">
              <div class="basic-info-inner">
                  <label class="col-form-label">
                      <h5>Basic Info</h5>
                  </label>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-4" id="divParent" *ngIf="divParent">
                            <label class="col-form-label" for="parentRoleId" id="divlblParent" *ngIf="divlblParent">Parent
                              Role</label>
                              <input type="hidden" [(ngModel)]="parentRoleId" id="parentRoleId">
                              <input validateInput class="form-control fidelity-form-input fidelity-mask-input pt-disabled"
                               id="parentRoleName" [(ngModel)]="parentRoleName" type="text" placeholder="Parent Role Name (required)"
                                minlength="5" maxlength="50" readonly>
                          </div>
  
                        <div class="col-md-4">
                            <label class="col-form-label" for="childRoleId">Role Name <span
                                    class="mandatory-field">*</span></label>
  
                            <input type="hidden" [(ngModel)]="childRoleId" id="childRoleId">
                            <input [validateInput]="isAlphaSpecialCharterOnly"
                                [ngClass]="{'is-invalid': isFormSubmitted&&!childRoleName }"
                                class="form-control fidelity-form-input fidelity-mask-input" id="childRoleName"
                                [(ngModel)]="childRoleName" type="text" placeholder="Role Name (required)" minlength="5"
                                maxlength="50">
                            <span class="text-danger" *ngIf="isFormSubmitted&&!childRoleName">
                                Role Name is required
                            </span>
                        </div>
                        <div class="col-md-4"></div>
                        <ng-container *ngIf="componentAction=='add'">
                            <div class="col-md-2">
                                <label class="col-form-label" for="cloneRole">Clone Role </label>
                                <br>
                                <p-checkbox [binary]="true" [(ngModel)]="isCloneRole" id="cloneRole"></p-checkbox>
                            </div>
                            <div class="col-md-4" *ngIf="isCloneRole">
                                <label class="col-form-label" for="childRoleId">Select Role to be cloned <span
                                        class="mandatory-field">*</span></label>
                                <select [(ngModel)]="cloneRoleId" (change)="onCloneableRoleChanged()"
                                    class="form-control fidelity-form-input fidelity-mask-input"
                                    [ngClass]="{'is-invalid': isFormSubmitted&&!cloneRoleId&&isCloneRole }">
                                    <option value="null" disabled>Select Role</option>
                                    <option *ngFor="let role of cloneableRoles" [value]="role.id">{{role.displayName}}
                                    </option>
                                </select>
                                <span class="text-danger" *ngIf="isFormSubmitted&&!cloneRoleId&&isCloneRole">
                                    Clone role name is required
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="access-control-label d-flex">
                    <div class="col-md-5 p-0">
                        <label class="col-form-label">
                            <h5>Access Control</h5>
                        </label>
                        <div class="float-right">
                            <button id="expand_all_btn" class="btn btn-md-fidelity fidelity-btn-brown mr-4"
                                (click)="expandOrCollapseAllDescendantNodes('expand','available modules')">Expand
                                All</button>
                            <button id="collapse_all_btn" class="btn btn-md-fidelity fidelity-btn-brown mr-4"
                                (click)="expandOrCollapseAllDescendantNodes('collapse','available modules')">Collapse
                                All</button>
                        </div>
                    </div>
                    <div class="col-md-6 p-0">
                        <div class="float-right">
                            <button [disabled]="assignedModulesCopy.length==0" id="expand_select_all_btn"
                                class="btn btn-md-fidelity fidelity-btn-brown mr-4"
                                (click)="expandOrCollapseAllDescendantNodes('expand','assigned modules')">Expand
                                All</button>
                            <button [disabled]="assignedModulesCopy.length==0" id="collapse_select_all_btn"
                                class="btn btn-md-fidelity fidelity-btn-brown"
                                (click)="expandOrCollapseAllDescendantNodes('collapse','assigned modules')">Collapse
                                All</button>
                        </div>
                    </div>
                </div>
                <div class="basic-info-availablerole">
                    <div class="row ml-4">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="basic-info-available-modules">
                                        <div class="basic-info-available-modules-margin">
                                            <!-- <h6>Available Modules</h6> -->
                                            <label class="form-label page-sub-title"
                                                style="font-size: 1.2rem;margin-top: 5px;">
                                                Available Modules
                                            </label>
                                        </div>
                                    </div>
                                    <div class="available-box-container">
                                        <div><input validateInput type="text"
                                            [(ngModel)]="availableModulesSearch"
                                                (keyup)="availableModulesSearchText$.next(availableModulesSearch)"
                                                class="col-sm-12 border border-secondary border-bottom-0 role-search"
                                                id="available_module_search" name="search" placeholder="Search"></div>
                                        <div class="roles-container border border-secondary p-4">
                                            <ul class="ulClass">
                                                <ng-template #recursiveListForAvailableModules let-availableModules
                                                    let-spanClassForCheckbox='spanClassForCheckbox'
                                                    let-spanClassForMenuHeader='spanClassForMenuHeader'
                                                    let-ulClass='ulClass'>
                                                    <li *ngFor="let item of availableModules; let i = index;trackBy:trackByMenuId">
                                                        <label class="check-container">
                                                            <input id="avail_{{item.menuId}}" type="checkbox"
                                                                [name]="item.menuName" [(ngModel)]="item.isSelected"
                                                                (change)="onClickedRecursionItem('Available Modules',item)">
                                                            <span [ngClass]="spanClassForCheckbox"></span>
                                                        </label>
                                                        <i class="fa"
                                                            [ngClass]="{'fa-caret-right': item.isClosed,'fa-caret-down': !item.isClosed}"
                                                            *ngIf="item.subMenu?.length"
                                                            (click)="expandCollapseDescendants('Available Modules',item)"></i>
                                                        <span
                                                            [ngClass]="spanClassForMenuHeader">{{item.menuName}}</span>
  
                                                        <ul *ngIf="item.subMenu?.length > 0 && !item.isClosed"
                                                            class="ulClass">
                                                            <ng-container *ngTemplateOutlet="recursiveListForAvailableModules; context:{ $implicit: item.subMenu,
                                                        spanClassForCheckbox:'checkmark assigned-role round',
                                                        spanClassForMenuHeader:'',ulClass:''}"></ng-container>
                                                        </ul>
                                                    </li>
                                                </ng-template>
                                                <ng-container
                                                    *ngTemplateOutlet="recursiveListForAvailableModules; context:{ $implicit: availableModules,
                                                    spanClassForCheckbox:'checkmark assigned-role',
                                                    spanClassForMenuHeader:'font-weight-bold',ulClass:'list-unstyled role-tree'}">
                                                </ng-container>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 d-flex justify-content-center align-items-center">
                                    <div class="navigation-container mt-5 text-center">
                                        <div id="move-left-btn"
                                            class="move-left align-middle go-forward transfer-btn not-filled"
                                            matTooltip="Move Right"
                                            (click)="moveDataBetweenAvailableAndAssignedModules('leftToRight')"><i
                                                class="fa fa-angle-right" size="18px"></i>
                                        </div>
                                        <!-- <span>5 of 30</span> -->
                                        <div id="move-right-btn"
                                            [ngStyle]="assignedModulesCopy.length==0&&{'pointer-events':'none'}"
                                            class="move-right align-middle go-backward transfer-btn not-filled"
                                            matTooltip="Move Left"
                                            (click)="moveDataBetweenAvailableAndAssignedModules('rightToLeft')"><i
                                                class="fa fa-angle-left" size="22px"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="basic-info-available-modules">
                                        <div class="basic-info-available-modules-margin">
                                            <!-- <h6>Assigned Modules</h6> -->
                                            <label class="form-label page-sub-title"
                                                style="font-size: 1.2rem;margin-top: 5px;">Assigned
                                                Modules</label>
                                        </div>
                                    </div>
  
                                    <div class="available-box-container">
                                        <div><input [disabled]="assignedModulesCopy.length==0" validateInput
                                            [(ngModel)]="assignedModulesSearch"
                                                (keyup)="assignedModulesSearchText$.next(assignedModulesSearch)"
                                                type="text"
                                                class="col-sm-12 border border-secondary border-bottom-0 role-search"
                                                name="search" placeholder="Search"></div>
                                        <div class="roles-container border border-secondary p-4">
                                            <ul class="ulClass">
                                                <ng-template #recursiveListForAssignedModules let-assignedModules
                                                    let-spanClassForCheckbox='spanClassForCheckbox'
                                                    let-spanClassForMenuHeader='spanClassForMenuHeader'
                                                    let-ulClass='ulClass'>
                                                    <li *ngFor="let item of assignedModules; let i = index;trackBy:trackByMenuId">
                                                        <label class="check-container">
                                                            <input id="avail_{{item.menuId}}" type="checkbox"
                                                                [name]="item.menuName" [(ngModel)]="item.isSelected"
                                                                (change)="onClickedRecursionItem('Assigned Modules',item)">
                                                            <span [ngClass]="spanClassForCheckbox"></span>
                                                        </label>
                                                        <i class="fa"
                                                            [ngClass]="{'fa-caret-right': item.isClosed,'fa-caret-down': !item.isClosed}"
                                                            *ngIf="item.subMenu?.length"
                                                            (click)="expandCollapseDescendants('Assigned Modules',item)"></i>
                                                        <span
                                                            [ngClass]="spanClassForMenuHeader">{{item.menuName}}</span>
  
                                                        <ul *ngIf="item.subMenu?.length > 0 && !item.isClosed"
                                                            class="ulClass">
                                                            <ng-container *ngTemplateOutlet="recursiveListForAssignedModules; context:{ $implicit: item.subMenu,
                                                        spanClassForCheckbox:'checkmark assigned-role round',
                                                        spanClassForMenuHeader:'',ulClass:''}"></ng-container>
                                                        </ul>
                                                    </li>
                                                </ng-template>
                                                <ng-container
                                                    *ngTemplateOutlet="recursiveListForAssignedModules; context:{ $implicit: assignedModules,
                                                    spanClassForCheckbox:'checkmark assigned-role',
                                                    spanClassForMenuHeader:'font-weight-bold',ulClass:'list-unstyled role-tree'}">
                                                </ng-container>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="text-center" style="margin-top: 3vh;">
        <button [disabled]="assignedModulesCopy.length==0" id="role_permission_save_btn"
            class="btn btn-md-fidelity fidelity-btn-brown mr-4" (click)="onSubmit()">Save</button>
        <button id="role_permission_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey mr-4"
            (click)="backToRoleView()">Cancel</button>
    </div>
  
  