<app-dealer-service-agreement-header [pageHeading]="pageHeading" [currentStep]="currentStep">
</app-dealer-service-agreement-header>

<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <form customForm [formGroup]="finduForm" (ngSubmit)="onSubmit()">
            <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
                <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
                    <p-scrollPanel [style]="{height: '41vh'}" styleClass="custom">
                            <div class="container-fluid">
                                <div class="row align-items-center mb-2">
                                    <div class="col-10 page-sub-title">
                                        {{pageHeading}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Mobile Number1<span class="mandatory-field">*</span></label>
                                            <div class="row fidelity-ph-no-field">
                                                <div class="col-3 pr-0">
                                                    <div class="form-group">
                                                        <select style="width: 100%;"
                                                            class="form-control fidelity-form-input" disabled
                                                            formControlName="mobileNoCountryCode">
                                                            <option *ngFor="let countryCode of countryCodes"
                                                                [value]="countryCode.displayName">
                                                                {{countryCode.displayName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-8 pl-0">
                                                    <div class="form-group">
                                                        <input autocomplete="new-password"
                                                            [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                            [title]="finduForm?.get('mobileNoCountryCode')?.value"
                                                            [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                            appPhoneMask class="form-control fidelity-form-input"
                                                            name="" formControlName="mobileNo"
                                                            placeholder="Mobile Number" style="
                                                            width: 83%;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Email<span class="mandatory-field">*</span></label>
                                            <input autocomplete="new-password" (focusout)="checkDuplication()" class="form-control fidelity-form-input fidelity_email"
                                                [maxlength]="50" formControlName="email" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Title<span class="mandatory-field">*</span></label>
                                            <select id="sel_title" class="form-control fidelity-form-input"
                                                formControlName="title">
                                                <option value="" disabled>Select Title</option>
                                                <option *ngFor="let title of titles" [value]="title.displayName">
                                                    {{title.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
    
                                    <div id="password-eye-password-flow" class="col-6">
                                        <div class="form-group">
                                            <label>Password
                                                <span class="mandatory-field">*</span>
                                            </label>
                                            <input autocomplete="new-password" name="password"
                                                class="form-control fidelity-form-input"
                                                [type]="isPasswordShow?'text':'password'" [maxLength]="25"
                                                formControlName="password"  />
                                            <div *ngIf="finduForm?.get('password')?.value"
                                                (mouseout)="isPasswordShow=false">
                                                <a (click)="isPasswordShow=!isPasswordShow">
                                                    <i [ngClass]="!isPasswordShow?'fa fa-eye-slash':'fa fa-eye'"
                                                        class="fa fa-eye" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>First Name<span class="mandatory-field">*</span></label>
                                            <input class="form-control fidelity-form-input"
                                                [validateInput]="stringConfig" [maxlength]="50"
                                                formControlName="firstName" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group fidelity-date-picker-con p-relative">
                                            <label class="d-block">Date of Birth<span class="mandatory-field">*</span></label>
                                            <mat-form-field>
                                                <input matInput [max]="maxDate" [matDatepicker]="dateFrom1"
                                                    formControlName="dob" placeholde="Birth Date">
                                                <mat-datepicker-toggle matSuffix [for]="dateFrom1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dateFrom1></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Last Name<span class="mandatory-field">*</span></label>
                                            <input class="form-control fidelity-form-input"
                                                [validateInput]="stringConfig" [maxlength]="50"
                                                formControlName="lastName" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Company Name</label>
                                            <input class="form-control fidelity-form-input"
                                                [validateInput]="stringConfig" [maxlength]="50"
                                                formControlName="companyName" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Address 1</label>
                                            <input class="form-control fidelity-form-input"
                                                [validateInput]="stringConfig" [maxlength]="100"
                                                formControlName="address1" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <select class="form-control fidelity-form-input" formControlName="gender"
                                                name="">
                                                <option value="">Select Gender</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Vehicle Reg.</label>
                                            <input class="form-control fidelity-form-input" [maxlength]="25"
                                                formControlName="vechicleRegistrationNo" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Address 2</label>
                                            <input class="form-control fidelity-form-input"
                                                [validateInput]="stringConfig" [maxlength]="100"
                                                formControlName="address2" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Height</label>
                                            <input class="form-control fidelity-form-input" [maxlength]="25"
                                                formControlName="height" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Vehicle Make</label>
                                            <select class="form-control fidelity-form-input" [maxlength]="25"
                                                formControlName="vechicleMake" name="">
                                                <option disabled value="">Select Vehicle Make</option>
                                                <option *ngFor="let item of makeList" [value]="item.id">
                                                    {{item.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Address 3</label>
                                            <input class="form-control fidelity-form-input"
                                                [validateInput]="stringConfig" [maxlength]="100"
                                                formControlName="address3" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Build</label>
                                            <input class="form-control fidelity-form-input"
                                                [validateInput]="stringConfig" [maxlength]="50" formControlName="build"
                                                type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Vehicle Body Type</label>
                                            <input class="form-control fidelity-form-input" [maxlength]="25"
                                                [validateInput]="stringConfig" formControlName="vechicleBodyType"
                                                type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Town</label>
                                            <input class="form-control fidelity-form-input" [maxlength]="25"
                                                [validateInput]="stringConfig" formControlName="cityId" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Race</label>
                                            <input class="form-control fidelity-form-input" formControlName="race"
                                                [validateInput]="stringConfig" [maxlength]="25" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Vehicle Colour</label>
                                            <input class="form-control fidelity-form-input" [maxlength]="25"
                                                [validateInput]="stringConfig" formControlName="vechicleColour"
                                                type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Language</label>
                                            <input class="form-control fidelity-form-input" formControlName="language"
                                                [validateInput]="stringConfig" [maxlength]="25" type="text" />
                                        </div>
                                    </div>
    
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Nationality</label>
                                            <input class="form-control fidelity-form-input" [maxlength]="25"
                                                [validateInput]="stringConfig" formControlName="nationality"
                                                type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Medical Info</label>
                                            <input class="form-control fidelity-form-input" [maxlength]="50"
                                                [validateInput]="stringConfig" formControlName="medicalInfo"
                                                type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Medical Symptoms</label>
                                            <input class="form-control fidelity-form-input" [maxlength]="100"
                                                [validateInput]="stringConfig" formControlName="medicalSymptoms"
                                                type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Medical Deseases</label>
                                            <input class="form-control fidelity-form-input" [maxlength]="100"
                                                [validateInput]="stringConfig" formControlName="medicalDiseases"
                                                type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col page-sub-title">
                                        Additional User
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 additional-user-con">
                                        <div class="container-fluid">
                                            <div class="" formArrayName="additionalUsers"
                                                *ngFor="let obj of finduForm?.get('additionalUsers')?.controls;let i=index">
                                                <div class="row" [formGroupName]="i">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label>First Name<span
                                                                    class="mandatory-field">*</span></label>
                                                            <input class="form-control fidelity-form-input"
                                                                [maxlength]="50" formControlName="firstName"
                                                                type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label>Last Name<span
                                                                    class="mandatory-field">*</span></label>
                                                            <input class="form-control fidelity-form-input"
                                                                [maxlength]="50" formControlName="lastName"
                                                                type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group" style="width: 100%;">
                                                            <label>Mobile Number<span
                                                                    class="mandatory-field">*</span></label>
                                                            <div class="row fidelity-ph-no-field">
                                                                <div class="col-3 pr-0">
                                                                    <div class="form-group">
                                                                        <select
                                                                            class="form-control fidelity-form-input disabled pad-right"
                                                                            formControlName="mobileNoCountryCode">
                                                                            <option
                                                                                *ngFor="let countryCode of countryCodes"
                                                                                [value]="countryCode.displayName">
                                                                                {{countryCode.displayName}}
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-8 pl-0">
                                                                    <div class="form-group">
                                                                        <input autocomplete="new-password"
                                                                            (keyup)="OnChange(i)"
                                                                            [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                            [title]="additionalUsers?.controls[i]?.get('mobileNoCountryCode')?.value"
                                                                            [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                            appPhoneMask
                                                                            class="form-control fidelity-form-input"
                                                                            name="" formControlName="mobileNo"
                                                                            placeholder="Mobile Number" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Purchasing Account</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                formControlName="noOfUserCount" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </p-scrollPanel>
                    <div class="text-center mt-3">
                        <button type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                        <button type="button" (click)="onArrowClick('next')"
                            class="btn btn-md-fidelity fidelity-btn-brown">Next</button>
                        <button type="button" (click)="onArrowClick('previous')"
                            class="btn btn-md-fidelity fidelity-btn-brown">Back</button>
                        <button type="button" (click)="onArrowClick('agreement summary')"
                            class="btn btn-md-fidelity fidelity-btn-brown">Back To Agreement
                            Summary
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>