<app-dealer-service-agreement-header [pageHeading]="pageHeading" [currentStep]="currentStep">
</app-dealer-service-agreement-header>

<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <form customForm *ngIf="accessPremisesForm" [formGroup]="accessPremisesForm" (ngSubmit)="onSubmit()">
            <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
                <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
                    <div class="row align-items-center mb-2">
                        <div class="col-10 page-sub-title">
                            {{pageHeading}}
                        </div>
                    </div>
                    <p-scrollPanel [style]="{height: '38vh'}" styleClass="custom">
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox"
                                                formControlName="isArmedResponsePadlock">Armed Response Padlock
                                                on Gate</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <ng-container>
                                    <div class="col-5">
                                        <div class="form-group" style="display: flex;flex-direction: column;">
                                            <mat-radio-group formControlName="isPadlockOnGate"
                                                aria-label="Select an option" id="PadlockOnGate">
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    Door
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="true" ml-4
                                                    style="margin-left:50px">Gate
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                formControlName="padlockDescription">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox"
                                                formControlName="isBarrelLockFitted">Barrel Lock Fitted
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <ng-container>
                                    <div class="col-5">
                                        <div class="form-group" style="display: flex;flex-direction: column;">
                                            <mat-radio-group formControlName="isBarrelLockFittedOnGate"
                                                aria-label="Select an option" id="barellelDoor">
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    Door
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="true" ml-4
                                                    style="margin-left:50px">Gate
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                formControlName="barrelLockFittedDescription">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox" formControlName="isDigipadOnGate">
                                                Digipad Fitted</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <ng-container *ngIf="accessPremisesForm?.value?.isDigipadOnGate">
                                        <div class="" formArrayName="digipads"
                                            *ngFor="let obj of accessPremisesForm?.get('digipads')?.controls;index as i">

                                            <div class="row children-row" [formGroupName]="i">
                                                <div class="col-4">
                                                    <div class="form-group" style="width: 100%;">
                                                        <input class="form-control fidelity-form-input"
                                                            autocomplete="new-password" #input placeholder="Gate Name"
                                                            formControlName="gateName" type="text"
                                                            style="width: 100%;" />

                                                    </div>
                                                </div>
                                                <div id="password-eye" class="col-4">
                                                    <div class="form-group">
                                                        <input style="width: 100%;" autocomplete="new-password" #input
                                                            class="form-control fidelity-form-input"
                                                            [type]="getDigiPadListArray.controls[i].get('isPasswordShow').value?'text':'password'"
                                                            [minlength]="formConfigs.four"
                                                            [maxlength]="formConfigs.maxLengthTwentyFive"
                                                            formControlName="digipadAccessCode" name="Access Code" />
                                                        <div *ngIf="getDigiPadListArray.controls[i].get('digipadAccessCode').value"
                                                            (mouseout)="getDigiPadListArray.controls[i].get('isPasswordShow').setValue(false)">
                                                            <a style="top: 3px;
                                                                    right: 56px;"
                                                                (click)="getDigiPadListArray.controls[i].get('isPasswordShow').setValue(!getDigiPadListArray.controls[i].get('isPasswordShow').value)">
                                                                <i [ngClass]="!getDigiPadListArray.controls[i].get('isPasswordShow').value?'fa fa-eye-slash':'fa fa-eye'"
                                                                    class="fa fa-eye" aria-hidden="true"></i></a>
                                                        </div>
                                                        <button style="top: -30px;
                                            right: -150px;" *ngIf="i !=0 || digipads.length > 1" type="button"
                                                            matTooltip="Delete" class="circle-minus-btn"
                                                            (click)="removeDigipad(i)">
                                                            <i aria-hidden="true" class="icon icon-delete"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <button style="height: 28px;" type="button" *ngIf="i==0"
                                                    (click)="addDigipad()"
                                                    class="btn btn-md-fidelity fidelity-btn-brown">
                                                    {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                            formControlName="digipadDescription">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox" formControlName="isLockBox">
                                                Lockbox</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <ng-container *ngIf="accessPremisesForm?.value?.isLockBox">

                                        <div class="" formArrayName="lockBoxes"
                                            *ngFor="let obj of accessPremisesForm?.get('lockBoxes')?.controls;let i=index">

                                            <div class="row children-row" [formGroupName]="i">
                                                <div class="col-4">
                                                    <div class="form-group" style="width: 100%;">
                                                        <input class="form-control fidelity-form-input"
                                                            autocomplete="new-password" #input placeholder="Gate Name"
                                                            formControlName="gateName" type="text"
                                                            style="width: 100%;" />

                                                    </div>
                                                </div>
                                                <div id="password-eye" class="col-4">
                                                    <div class="form-group">
                                                        <input style="width: 100%;" autocomplete="new-password" #input
                                                            class="form-control fidelity-form-input"
                                                            [type]="getLockBoxesListArray.controls[i].get('isPasswordShow').value?'text':'password'"
                                                            [minlength]="formConfigs.four"
                                                            [maxlength]="formConfigs.maxLengthTwentyFive"
                                                            formControlName="lockBoxAccessCode" name="Access Code" />
                                                        <div *ngIf="getLockBoxesListArray.controls[i].get('lockBoxAccessCode').value"
                                                            (mouseout)="getLockBoxesListArray.controls[i].get('isPasswordShow').setValue(false)">
                                                            <a style="top: 3px;
                                                                    right: 56px;"
                                                                (click)="getLockBoxesListArray.controls[i].get('isPasswordShow').setValue(!getLockBoxesListArray.controls[i].get('isPasswordShow').value)">
                                                                <i [ngClass]="!getLockBoxesListArray.controls[i].get('isPasswordShow').value?'fa fa-eye-slash':'fa fa-eye'"
                                                                    class="fa fa-eye" aria-hidden="true"></i></a>
                                                        </div>
                                                        <button style="top: -30px;
                                            right: -150px;" *ngIf="i !=0 || lockBoxes.length > 1" type="button"
                                                            matTooltip="Delete" class="circle-minus-btn"
                                                            (click)="removeLockBox(i)">
                                                            <i aria-hidden="true" class="icon icon-delete"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <button style="height: 28px;" type="button" *ngIf="i==0"
                                                    (click)="addLockBox()"
                                                    class="btn btn-md-fidelity fidelity-btn-brown">
                                                    {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>

                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                            formControlName="lockBoxDescription">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox" formControlName="isSecureGate">
                                                Secure Gate</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <input class="fidelity-form-input form-control " placeholder="Transmitter Id"
                                            disabled formControlName="transmitterId">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                            formControlName="secureGateDescription">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group d-flex justify-content-start align-items-center">
                                        <mat-checkbox class="fidelity-checkbox"
                                            formControlName="isArmedResponseReceiverOnGate">Armed Response
                                            Receiver on Gate</mat-checkbox>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <input class="fidelity-form-input form-control" placeholder="Receiver Id"
                                            disabled formControlName="receiverId">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                            formControlName="armedResponseReceiverOnGateDescription">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group d-flex justify-content-start align-items-center">
                                        <mat-checkbox class="fidelity-checkbox" formControlName="isAuthroziedNoAccess">
                                            Authorised No Access
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="col-5"></div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <!-- <textarea name="" formControlName="authroziedNoAccessDescription"
                                                class="form-control fidelity-form-input" rows="2"></textarea> -->
                                        <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                            formControlName="authroziedNoAccessDescription">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group d-flex justify-content-start align-items-center">
                                        <mat-checkbox class="fidelity-checkbox" formControlName="isUnProtectWall">
                                            Unprotect Wall</mat-checkbox>
                                    </div>
                                </div>

                                <div class="col-5">
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                            formControlName="unProtectWallDescription">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group d-flex justify-content-start align-items-center">
                                        <mat-checkbox class="fidelity-checkbox" formControlName="isOpenAccess">
                                            Open Access</mat-checkbox>
                                    </div>
                                </div>
                                <div class="col-5">
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                            formControlName="openAccessDescription">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="">Site Instruction for AR officer</label>
                                        <text-area-custom-control [maxlength]="formConfigs.threeHundred"
                                            formControlName="siteInstructionForAROfficer">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </p-scrollPanel>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                        <button type="button" (click)="onArrowClick('next')"
                            class="btn btn-md-fidelity fidelity-btn-brown">Next</button>
                        <button type="button" (click)="onArrowClick('previous')"
                            class="btn btn-md-fidelity fidelity-btn-brown">Back</button>
                        <button type="button" (click)="onArrowClick('agreement summary')"
                            class="btn btn-md-fidelity fidelity-btn-brown">Back To Agreement
                            Summary
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
