<app-dealer-service-agreement-header [pageHeading]="pageHeading" [currentStep]="currentStep">
</app-dealer-service-agreement-header>

<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <form autocomplete="off" customForm *ngIf="passwordsForm" [formGroup]="passwordsForm" (ngSubmit)="onSubmit()">
            <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
                <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
                    <p-scrollPanel [style]="{height: '41vh'}" styleClass="custom">
                        <div class="container-fluid">
                            <div class="page-sub-title">
                                Password Special Instructions
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group" style="width: 90%;">
                                        <label>Special Instruction
                                        </label>
                                        <text-area-custom-control formControlName="customerSpecialInstructions">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                                <div id="password-eye-password-flow" class="col-4">
                                    <div class="form-group">
                                        <label>Distress Word
                                            <span class="mandatory-field">*</span>
                                        </label>
                                        <input autocomplete="new-password" name="distressWord"
                                            class="form-control fidelity-form-input"
                                            [type]="isPasswordShowForDistressWord?'text':'password'" [maxLength]="25"
                                            formControlName="distressWord" style="width: 100%;" />
                                        <div *ngIf="passwordsForm.get('distressWord').value"
                                            (mouseout)="isPasswordShowForDistressWord=false">
                                            <a (click)="isPasswordShowForDistressWord=!isPasswordShowForDistressWord">
                                                <i [ngClass]="!isPasswordShowForDistressWord?'fa fa-eye-slash':'fa fa-eye'"
                                                    class="fa fa-eye" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="password-eye-password-flow" class="col-4">
                                    <div class="form-group">
                                        <label>Alarm Cancellation Password
                                            <span class="mandatory-field">*</span>
                                        </label>
                                        <input autocomplete="new-password" name="alarmCancellationPassword"
                                            class="form-control fidelity-form-input"
                                            [type]="isPasswordShow?'text':'password'" [maxLength]="25"
                                            formControlName="alarmCancellationPassword" style="width: 100%;" />
                                        <div *ngIf="passwordsForm.get('alarmCancellationPassword').value"
                                            (mouseout)="isPasswordShow=false">
                                            <a (click)="isPasswordShow=!isPasswordShow">
                                                <i [ngClass]="!isPasswordShow?'fa fa-eye-slash':'fa fa-eye'"
                                                    class="fa fa-eye" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-start align-items-end">
                                    <div class="form-group d-flex justify-content-start align-items-center">
                                        <mat-checkbox class="fidelity-checkbox"
                                            matTooltip="The use of a numeric password will simplify and optimise the VAS interaction"
                                            formControlName="isVAS">Virtual Agent Service</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="ext-padd d-block mt-2">Dog On Site<span
                                                class="mandatory-field">*</span></label>
                                        <radio-group-custom-control [loopableArray]="['Yes','No']"
                                            formControlName="isDogs">
                                        </radio-group-custom-control>

                                    </div>
                                </div>
                                <div class="col-4" *ngIf="passwordsForm?.getRawValue().isDogs">
                                    <div class="row header-row">
                                        <div class="col-10">
                                            <div class="form-group">
                                                <label>Number Of Dogs</label>
                                                <input *ngIf="passwordsForm?.value?.contractId"
                                                    class="form-control fidelity-form-input" readonly
                                                    [validateInput]="isANumberOnly" type="text"
                                                    formControlName="noOfDogs" style="width: 100%;" />
                                                <input *ngIf="!passwordsForm?.value?.contractId"
                                                    class="form-control fidelity-form-input" (input)="addItem($event)"
                                                    [validateInput]="isANumberOnly" type="text"
                                                    [maxlength]="formConfigs.two" formControlName="noOfDogs"
                                                    style="width: 100%;" />
                                            </div>
                                        </div>
                                    </div>

                                    <ng-container>
                                        <div class="" formArrayName="dogTypes"
                                            *ngFor="let obj of passwordsForm?.get('dogTypes')?.controls;let i=index">
                                            <div class="row" [formGroupName]="i">
                                                <div class="col-10">
                                                    <label>Dog {{i + 1}}</label>
                                                    <select #input [ngClass]="{'disabled': details?.contractId}"
                                                        class="form-control fidelity-form-input"
                                                        formControlName="dogTypeId" name="">
                                                        <option value="" disabled>-- Select Dog Type --
                                                        </option>
                                                        <option *ngFor="let dogType of dogTypesList"
                                                            [value]="dogType.id">
                                                            {{dogType.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-2 d-flex align-items-center justify-content-start"
                                                    *ngIf="!details?.contractId">
                                                    <button matTooltip="Delete" class="circle-minus-btn" type="button"
                                                        (click)="deleteDogType(i)">
                                                        <i aria-hidden="true" class="icon icon-delete"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="ext-padd d-block mt-2">Dog's Description
                                          <span class="mandatory-field" *ngIf="isDogDescriptionRequired">*</span>
                                        </label>
                                        <textarea maxlength="formConfigs.thousands"
                                            class="form-control fidelity-form-input" rows="2"
                                            formControlName="dogDescription" placeholder="Enter  Dogs Description">
                                                </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center" style="margin-top: 10px;">
                                <div class="col-4 page-sub-title">Medical Instructions</div>
                                <div class="col-2 d-flex align-items-center">
                                    <button type="button" (click)="addMedicalItem()"
                                        class="btn btn-md-fidelity fidelity-btn-brown">
                                        {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                    </button>
                                </div>
                            </div>
                            <div class="" formArrayName="medicalConditions"
                                *ngFor="let obj of passwordsForm?.get('medicalConditions')?.controls;let i=index">
                                <div class="row children-row" [formGroupName]="i">
                                    <div class="col-4">
                                        <div class="form-group" style="width: 100%;">
                                            <label>Medical</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="medicalCondition" type="text" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <div class="col-2 d-flex align-items-center">
                                        <button matTooltip="Delete" class="circle-minus-btn" type="button" *ngIf="i>0"
                                            (click)="deleteMedical(i)" style="top: 10px;">
                                            <i aria-hidden="true" class="icon icon-delete"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                        <button type="button" (click)="onArrowClick('next')"
                            class="btn btn-md-fidelity fidelity-btn-brown">Next</button>
                        <button type="button" (click)="onArrowClick('previous')"
                            class="btn btn-md-fidelity fidelity-btn-brown">Back</button>
                        <button type="button" (click)="onArrowClick('agreement summary')"
                            class="btn btn-md-fidelity fidelity-btn-brown">Back To Agreement
                            Summary
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
