::ng-deep .mat-tab-label {
  padding: 0 5px !important;
  min-width: 100px !important;
  background-color: #8080806b !important;
  margin: 0 10px 0 2px !important;
}

::ng-deep .fidelity-date-picker-con.findu-date-con
  .mat-form-field-appearance-legacy
  .mat-form-field-infix {
  padding: 4px 0 !important;
}

::ng-deep .fidelity-ph-no-field {
  ng-component {
    position: absolute!important;
    bottom: -18px;
  }
}

.domestic-workers-table.fidelity-table tbody tr td {
  padding: 8px;
}

.additional-user-con {
  input.fidelity-form-input {
    width: 100%;
  }
}

.domestic-workers-con {
  .children-row .form-control {
    width: 75%;
  }
}

.form-group.full-width {
  width: 100%;
}

.mat-tab-label {
  margin-right: 6px !important;
}

.fidelity-table {
  thead {
    th {
      padding: 8px;
      &:nth-child(1) {
        border-top-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 10px 0px;

        button {
          cursor: pointer !important;
        }
      }
    }
  }
}

.modal-dialog .modal-content {
  border-radius: 7px;

  .close {
    opacity: 1;
    color: #fff;
  }

  .modal-footer {
    border-top: none;
    justify-content: center;
  }
}

div#password-eye-password-flow.col-4 div.form-group a {
  position: absolute;
  top: 25px;
  right: 25px !important;
}

div#password-eye-password-flow.col-6 div.form-group a {
  position: absolute;
  top: 25px;
  right: 25px !important;
}


