<div class="fidelity-popup-heading container-fluid">{{btnName}} SpecialPermission</div>
<form (ngSubmit)="save()" [formGroup]="specialPermissionAddEditForm" class="fidelity-popup-form">
    <mat-dialog-content>

        <div class="row p-4">
            <div class="col-md-12">
                <div class="form-group row mb-2">
                    <div class="col-md-12">
                        <label class="col-md-12 col-form-label" for="userId">User</label>
                        <div class="col-md-12">
                            <select class="form-control fidelity-form-input" id="userId" required minlength="3" formControlName="userId"
                                [ngClass]="{'is-invalid': (specialPermissionAddEditForm?.get('userId')?.touched || specialPermissionAddEditForm?.get('userId')?.dirty) && !specialPermissionAddEditForm?.get('userId')?.valid }">
                                <option value="" disabled>Select User (required)</option>
                                <option *ngFor="let user of userList" value="{{user.id}}">{{user.displayName}}</option>
                            </select>
                            <span class="invalid-feedback">
                                <span *ngIf="specialPermissionAddEditForm?.get('userId').errors?.required">
                                    Please select user.
                                </span>
                                <span *ngIf="specialPermissionAddEditForm?.get('userId').errors?.minlength">
                                    The user id must be longer than 3 characters.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-md-6">
                        <label class="col-md-12 col-form-label" for="roleId">Role</label>
                        <div class="col-md-12">
                            <select class="form-control fidelity-form-input" id="roleId" formControlName="roleId" required
                                [ngClass]="{'is-invalid': (specialPermissionAddEditForm?.get('roleId')?.touched || specialPermissionAddEditForm?.get('roleId')?.dirty) && !specialPermissionAddEditForm?.get('roleId')?.valid }">
                                <option value="" disabled>Select Role</option>
                                <option *ngFor="let role of roleList" value="{{role.id}}">{{role.displayName}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                <span *ngIf="specialPermissionAddEditForm?.get('roleId').errors?.required">
                                    Please select role.
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="col-md-12 col-form-label" for="specialPermissionStatusId">Status</label>
                        <div class="col-md-12">
                            <select class="form-control fidelity-form-input" id="specialPermissionStatusId" required minlength="3"
                                formControlName="specialPermissionStatusId"
                                [ngClass]="{'is-invalid': (specialPermissionAddEditForm?.get('specialPermissionStatusId')?.touched || specialPermissionAddEditForm?.get('specialPermissionStatusId')?.dirty) && !specialPermissionAddEditForm?.get('specialPermissionStatusId')?.valid }">
                                <option value="" disabled>Select status (required)</option>
                                <option *ngFor="let status of statusList" value="{{status.id}}">{{status.displayName}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                <span
                                    *ngIf="specialPermissionAddEditForm?.get('specialPermissionStatusId').errors?.required">
                                    Please select status.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <div class="col-md-6">
                        <label class="col-md-12 col-form-label" for="validFromDate">Valid From</label>
                        <div class="col-md-12">
                            <mat-form-field class="form-control fidelity-date-picker">
                                <input matInput required [matDatepicker]="frompicker" class="fidelity-form-input" id="validFromDate"
                                    formControlName="validFromDate" placeholder="mm/dd/yyyy" [min]="minDate"
                                    (dateInput)="FromDateChange('input', $event)"
                                    (dateChange)="FromDateChange('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                                <mat-datepicker #frompicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="col-md-12 col-form-label" for="validToDate">Valid To</label>
                        <div class="col-md-12">
                            <mat-form-field class="form-control fidelity-date-picker">
                                <input matInput required [matDatepicker]="topicker" class="fidelity-form-input" id="validToDate"
                                    formControlName="validToDate" placeholder="mm/dd/yyyy" [min]="maxDate"
                                    (dateInput)="FromDateChange('input', $event)"
                                    (dateChange)="FromDateChange('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                                <mat-datepicker #topicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit"
            [disabled]="specialPermissionAddEditForm?.invalid">{{btnName}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>