<div>
    <p-scrollPanel [style]="{width: '100%', height: '46vh'}" styleClass="custom">
        <div class="container-fluid">
            <div class="row header-row p-relative" style="font-size: 0.9rem;">
                <div class="col-2">
                    <div class="form-group">
                        <label>Project Name</label>
                        <input class="form-control fidelity-form-input disabled" style="color: #00b7df;cursor: pointer;"
                        type="text" [value]="(specialProjectDataModel?.specialProjectName)? (specialProjectDataModel?.specialProjectName):'-'" />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Project Type</label>
                        <input class="form-control fidelity-form-input disabled" type="text"
                        [value]="(specialProjectDataModel?.specialProjectTypeName) ? (specialProjectDataModel?.specialProjectTypeName) :'-'" />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Project Start Date</label>
                        <input class="form-control fidelity-form-input disabled" type="text"
                        [value]="(specialProjectDataModel?.projectStartDate)? (specialProjectDataModel?.projectStartDate | date) :'-'" />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Project End Date</label>
                        <input class="form-control fidelity-form-input disabled" type="text"
                        [value]="(specialProjectDataModel?.projectEndDate)? (specialProjectDataModel?.projectEndDate | date) :'-'"/>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                        <label>SP Service Call Count</label>
                        <input class="form-control fidelity-form-input disabled" type="text"
                        [value]="(specialProjectDataModel?.spServiceCallCount)? (specialProjectDataModel?.spServiceCallCount) :'-'"/>
                    </div>
                </div>
                <!-- <div class="col-2 p-relative">
                    <label>% To Completion</label>
                    <div class="progress mt-3" style="height:10px;width: 60%;">
                        <div class="progress-bar" style="width:20%;height:10px"></div>
                    </div>
                    <span class="p-absolute" style="right: 50px;bottom: 27px;font-size: 0.8rem;">20%</span>
                </div> -->
                <div class="col-2 p-relative">
                    <label>% To Completion</label>
                    <div class="progress mt-3" style="height:10px;width: 60%;">
                        <div class="{{specialProjectDataModel?.cssClass ? specialProjectDataModel?.cssClass : ''}}" [ngStyle]="{'width.%' : specialProjectDataModel?.completionPercentage, 'height':'10px'}"></div>
                        <!-- style="width:20%;height:10px" -->
                    </div>
                    <span class="p-absolute" style="right: 50px;bottom: 27px;font-size: 0.8rem;">
                        {{ (specialProjectDataModel?.completionPercentage)? (specialProjectDataModel?.completionPercentage) :'0' }}%
                    </span>
                    <!--20%-->
                </div>
                <div class="col-1">
                    <button  type="button" class="circle-plus-btn p-absolute" matTooltip="Add" style="right: 68px;top: 0px;"
                    (click)="openPopUp(true)">
                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                    </button>
                </div>
                
            </div>
        </div>
        <div class="custom-scroll" style="overflow-x: auto;">
            <div class="container-fluid">
                <div class="row header-row mt-3"
                    style="font-size: 1rem;flex-wrap: nowrap;font-family: 'Calibri_Bold', sans-serif;">
                    <div class="col-1">Region</div>
                    <div class="col-1">Division</div>
                    <div class="col-1">District</div>
                    <div class="col-1">Branch</div>
                    <div class="col-1">Tech Area</div>
                    <div class="col-1">Co-Ordinator</div>
                    <div class="col-1">SP Service Call Count</div>
                    <div class="col-1">% To Completion</div>
                    <div class="col-1">Projected Completion Date</div>
                    <div class="col-1">SP Service Open Calls</div>
                    <div class="col-1">New</div>
                    <div class="col-1">Scheduled</div>
                    <div class="col-1">Temp Done</div>
                    <div class="col-1">Invoiced</div>
                    <div class="col-1">Voided</div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <!-- <div class="col-1">
                        <button class="circle-plus-btn" matTooltip="Add" style="top: -4px;">
                            <i aria-hidden="true" class="icon icon-edit"></i>
                        </button>
                    </div> -->
                </div>
            </div>
            
            <div class="container-fluid">
                <div class="row children-row mb-4" style="font-size: 1rem; flex-wrap: nowrap;" *ngFor="let coordinatorData of specialProjectCoordinatorDataModel; let index = index">
                    <div class="col-1" matTooltip="{{coordinatorData?.region?coordinatorData?.region:''}}">{{  (coordinatorData?.region) ? (coordinatorData?.region) : '-' }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.division?coordinatorData?.division:''}}">{{  (coordinatorData?.division) ? (coordinatorData?.division) : '-' }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.district?coordinatorData?.district:''}}">{{  (coordinatorData?.district) ? (coordinatorData?.district) : '-' }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.branch?coordinatorData?.branch:''}}">{{  (coordinatorData?.branch) ? (coordinatorData?.branch) : '-' }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.techArea?coordinatorData?.techArea:''}}">{{  (coordinatorData?.techArea) ? (coordinatorData?.techArea) : '-' }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.coordinator?coordinatorData?.coordinator:''}}">{{  (coordinatorData?.coordinator) ? (coordinatorData?.coordinator) : '-' }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.spServiceCallCount?.toString()?coordinatorData?.spServiceCallCount:''}}">{{  coordinatorData?.spServiceCallCount }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.percentageToCompletion?.toString()?coordinatorData?.percentageToCompletion:''}}">{{  coordinatorData?.percentageToCompletion }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.projectionCompletionDate ? (coordinatorData?.projectionCompletionDate | date: 'isDate' ) :''}}"><label class="{{coordinatorData?.cssClass ? coordinatorData?.cssClass :''}}">{{  (coordinatorData?.projectionCompletionDate) ? (coordinatorData?.projectionCompletionDate| date : 'isDate') : '-' }}</label></div>
                    <div class="col-1" matTooltip="{{coordinatorData?.spServiceOpenCall?.toString()?coordinatorData?.spServiceOpenCall:''}}">{{  coordinatorData?.spServiceOpenCall }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.new?.toString()?coordinatorData?.new:''}}">{{  coordinatorData?.new }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.scheduled?.toString()?coordinatorData?.scheduled:''}}">{{  coordinatorData?.scheduled }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.tempDone?.toString()?coordinatorData?.tempDone:''}}">{{  coordinatorData?.tempDone }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.invoiced?.toString()?coordinatorData?.invoiced:''}}">{{  coordinatorData?.invoiced }}</div>
                    <div class="col-1" matTooltip="{{coordinatorData?.voided?.toString()?coordinatorData?.voided:''}}">{{  coordinatorData?.voided }}</div>
                    <div class="col-1 p-relative">
                        <button matTooltip="Edit" class="circle-plus-btn p-absolute" style="left: 16px;top: -3px;" type="button" (click)="openPopUp(false, coordinatorData?.specialProjectTechnicalCoOrdinatorAllocationId)">
                            <i aria-hidden="true" class="icon icon-edit"></i>
                        </button>
                    </div>
                    <div class="col-1 p-relative">
                        <button matTooltip="Delete" class="circle-minus-btn p-absolute" type="button"
                        (click)="deleteCoordinator(index)" style="left: -7px;top: -4px;">
                            <i aria-hidden="true" class="icon icon-delete"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- <div class="row children-row mb-1" style="font-size: 1rem;flex-wrap: nowrap;"> -->
            
            <div class="no-records-found" *ngIf="specialProjectCoordinatorDataModel?.length == 0">
                <h4>No Records Found</h4>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                    (click)="redirectToList()">Cancel</button>
            </div>
        </div>
    </p-scrollPanel>
</div>