<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [captionFontSize]="primengTableConfigProperties.captionFontSize"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox white-bg">
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
      <div class="ibox-body brown-border">
        <app-view-page [col]="2" [viewDetail]="viewDetails"></app-view-page>
        <div class="row mt-2 pl-3" *ngFor="let download of documentDetails">
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">DocumentName</span>
              <span id="" class="value">
                <span class="d-inline-block">{{download?.documentName ?
                  download?.documentName : '-'}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key"></span>
              <span id="" class="value">
                <span class="d-inline-block"><a class="text-primary" [href]="download.documentPath"><i
                      class="fa fa-download" style="font-size: 13pt;"></i>&nbsp;</a></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </p-scrollPanel>
    <div class="text-center mt-3">
      <button type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
        routerLink='/collection/call-wrap-up-codes/proof-of-payment'>Back</button>
    </div>
  </div>
