
.key {
    display: inline-block;
    width: 38%;
    color: #8A8A8A;
    word-wrap: break-word;
}

.value {
    width: 62%;
    word-wrap: break-word;

    span {
        width: 100%;
        border:none;
        font-family: 'Calibri_Bold', sans-serif!important;
        font-size: 1.3rem;
    }
}

.supplier-info-con {
    .form-group {
        width: 80%;
    }
}

.header-row.row {
    div {
        font-size: 1.1rem;
    }
}

.sig-pad {
    border: 1px solid #ddd;
    border-radius: 8px;
}
