<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Purchase Of Alarm System</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/customer/dashboard">Customer Management:Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/customer/manage-customers/view/{{queryParams?.customerId}}'
                [queryParams]="getQueryParms()" skipLocationChange>View Customer</a>
        </li>
        <li class="breadcrumb-item">
            <a>Purchase Of Alarm System</a>
        </li>
        <li class="breadcrumb-item">
            <a>Cancellation Fee - {{purchaseOfAlarmSystemDetail?.ownershipType}}</a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <form>
            <div class="ibox-body mt-3 p-relative pt-1">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="row sm-inputs">
                        <div class="col-4">
                            <label>Contract ID</label>
                            <div class="form-group" id="contractID">
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input disabled [value]="purchaseOfAlarmSystemDetail?.contractRefNo?
                                    purchaseOfAlarmSystemDetail.contractRefNo:'-'"
                                        class="form-control fidelity-form-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Region</label>
                            <div class="form-group" id="Region">
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input disabled [value]="purchaseOfAlarmSystemDetail?.regionName?
                                    purchaseOfAlarmSystemDetail.regionName:'-'"
                                        class="form-control fidelity-form-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Contract Period</label>
                            <div class="form-group" id="contractPeriod">
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input disabled [value]="purchaseOfAlarmSystemDetail?.contractPeriod?
                                    purchaseOfAlarmSystemDetail.contractPeriod:'0'"
                                        class="form-control fidelity-form-input">
                                </div>
                            </div>
                        </div>
                        <div style="pointer-events:none;margin-bottom:1rem;"
                            class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                            <label class="d-block" for="">Contract Start Date</label>
                            <p-calendar placeholder="Select Contract Start Date" [(ngModel)]="purchaseOfAlarmSystemDetail.contractStartDate"
                                [ngModelOptions]="{standalone: true}">
                            </p-calendar>
                        </div>
                        <div style="pointer-events:none;margin-bottom:1rem;"
                            class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                            <label class="d-block" for="">Contract End Date</label>
                            <p-calendar placeholder="Select Contract End Date" [(ngModel)]="purchaseOfAlarmSystemDetail.contractEndDate"
                                [ngModelOptions]="{standalone: true}" >
                            </p-calendar>
                        </div>
                        <div style="pointer-events:none;margin-bottom:1rem;"
                            class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                            <label class="d-block" for="">Cancellation Date</label>
                            <p-calendar placeholder="Select Cancellation Date" [(ngModel)]="purchaseOfAlarmSystemDetail.cancellationDate"
                                [ngModelOptions]="{standalone: true}">
                            </p-calendar>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Alarm Ownership</label><br>
                                <mat-radio-group disabled [(ngModel)]="purchaseOfAlarmSystemDetail.ownershipType"
                                    [ngModelOptions]="{standalone: true}">
                                    <mat-radio-button class="fidelity-radio-btn mr-3" [value]="'Owned'">
                                        Owned
                                    </mat-radio-button>
                                    <mat-radio-button class="fidelity-radio-btn" [value]="'Rented'">Rented
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Model Type</label>
                                <select
                                    [disabled]="purchaseOfAlarmSystemDetail?.isScheduleAlarmSystemRemovalAppointment==true"
                                    name="modelType" class="form-control fidelity-form-input"
                                    [(ngModel)]="alarmSystemModelTypeId" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="onModelTypeValueChanged()"
                                    [ngClass]="{'is-invalid': isFormSubmitted&&!alarmSystemModelTypeId}">
                                    <option value="" disabled>Select Model Type</option>
                                    <option *ngFor="let modelType of modelTypes" [value]="modelType.id">
                                        {{modelType.displayName}}
                                    </option>
                                </select>
                                <span class="duplicate" *ngIf="isFormSubmitted&&!alarmSystemModelTypeId">
                                    Model Type is required
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Scheduled alarm system removal appointment</label>
                            <div class="form-group">
                                <mat-radio-group
                                    [disabled]="purchaseOfAlarmSystemDetail?.isScheduleAlarmSystemRemovalAppointmentActualValue!==null"
                                    aria-label="Select an option"
                                    [(ngModel)]="purchaseOfAlarmSystemDetail.isScheduleAlarmSystemRemovalAppointment"
                                    [ngModelOptions]="{standalone: true}"
                                    [ngClass]="{'is-invalid': isFormSubmitted&&!purchaseOfAlarmSystemDetail.isScheduleAlarmSystemRemovalAppointment}">
                                    <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                                    </mat-radio-button>
                                    <mat-radio-button class="fidelity-radio-btn" [value]="false">no
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <span style="margin-top: -15px !important;" class="duplicate" *ngIf="isFormSubmitted&&purchaseOfAlarmSystemDetail?.isScheduleAlarmSystemRemovalAppointmentActualValue==null&&
                                purchaseOfAlarmSystemDetail.isScheduleAlarmSystemRemovalAppointment==null">
                                Scheduled alarm system removal appointment is required
                            </span>
                        </div>
                        <div class="col-4">
                            <label>Monthly Ammortization</label>
                            <div class="form-group" id="contractPeriod">
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input disabled
                                        [value]="purchaseOfAlarmSystemAmountDetail.monthlyAmmortizationAmount | wholeNumberToDecimal"
                                        class="form-control fidelity-form-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Ammortization Release</label>
                            <div class="form-group" id="contractPeriod">
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input disabled
                                        [value]="purchaseOfAlarmSystemAmountDetail.ammortizationReleaseAmount | wholeNumberToDecimal"
                                        class="form-control fidelity-form-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Cancellation Fee</label>
                            <div class="form-group" id="contractPeriod">
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input disabled
                                        [value]="purchaseOfAlarmSystemAmountDetail.cancellationAmount| wholeNumberToDecimal"
                                        class="form-control fidelity-form-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Cancellation Fee as a % of cost</label>
                            <div class="form-group" id="contractPeriod">
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input disabled
                                        [value]="purchaseOfAlarmSystemAmountDetail.cancellationPercentage+' %'"
                                        class="form-control fidelity-form-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Average RPU - Direct</label>
                            <div class="form-group" id="contractPeriod">
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input [disabled]="!alarmSystemModelTypeId" class="form-control fidelity-form-input"
                                        [(ngModel)]="purchaseOfAlarmSystemAmountDetail.averageRPUAmount"
                                        (ngModelChange)="onAverageRPUValueChanged()"
                                        [ngModelOptions]="{standalone: true}" [validateInput]='numberWithDecimalConfig'
                                        type="text" name="averageRPUAmount" [minlength]="formConfigs.one"
                                        [ngClass]="{'is-invalid': isFormSubmitted&&(isRPUValueInvalid||isRPUValueRequired)&&alarmSystemModelTypeId}"
                                        [maxlength]="formConfigs.ten" />
                                </div>
                                <span class="duplicate"
                                    *ngIf="isFormSubmitted&&isRPUValueInvalid&&alarmSystemModelTypeId">
                                    Average RPU Direct value is invalid
                                </span>
                                <span class="duplicate"
                                    *ngIf="isFormSubmitted&&isRPUValueRequired&&alarmSystemModelTypeId">
                                    Average RPU Direct value is required
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Average RPU - Direct %</label>
                            <div class="form-group" id="contractPeriod">
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input disabled [value]="(purchaseOfAlarmSystemAmountDetail.averageRPUPercentage?
                                    purchaseOfAlarmSystemAmountDetail.averageRPUPercentage:0)+' %'"
                                        class="form-control fidelity-form-input">
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
            <div *ngIf="(purchaseOfAlarmSystemObj?.isScheduleAlarmSystemRemovalAppointment==false &&
            (purchaseOfAlarmSystemObj?.isPurchaseOfAlarmCreated==false || purchaseOfAlarmSystemObj?.isPurchaseOfAlarmApproved==false)&&
            purchaseOfAlarmSystemDetail.cancellationDate) || isCancel"
                class="text-center mt-2">
                <button (click)="onSubmit('waive PAS charge')" type="submit"
                    class="btn btn-md-fidelity fidelity-btn-brown">Waive PAS Cancellation Fee</button>
                <button type="submit" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    (click)="onSubmit('generate invoice')">Generate Invoice</button>
            </div>
        </form>
    </div>
</div>