<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="cancelServiceForm" customForm [formGroup]="cancelServiceForm"
  (ngSubmit)="onSubmit()">
  <div class="row mt-4">
    <div class="col-lg-5 text-right text-grey">Debtor</div>
    <div class="col-lg-5 text-left">{{riskWatchDetails?.debtorRefNo}}<br>({{riskWatchDetails?.debtorName}})</div>
    <div class="col-lg-2 text-left"></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-5 text-right text-grey">Cycle and End Date</div>
    <div class="col-lg-5 text-left">{{riskWatchDetails?.planEndDate}}</div>
    <div class="col-lg-2 text-left"></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-5 text-right text-grey">Shif used in cycle</div>
    <div class="col-lg-5 text-left">R {{riskWatchDetails?.shiftUsed}}</div>
    <div class="col-lg-2 text-left">
      <p-checkbox name="groupname" [binary]="true" formControlName="isAcknowledgedShiftUsedIncycle"></p-checkbox>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-5 text-right text-grey">Out standing amount due</div>
    <div class="col-lg-5 text-left">R {{riskWatchDetails?.totalAmount}}</div>
    <div class="col-lg-2 text-left">
      <p-checkbox name="groupname" [binary]="true" formControlName="isAcknowledgedOutStandingDueAmount"></p-checkbox>
    </div>
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Submit</button>
    <button class="btn btn-md-fidelity fidelity-btn-grey" (click)="dialogClose(true)">Cancel</button>
  </div>
</form>
