
<div class="fidelity-popup-heading container-fluid p-relative">
    {{data['type'].toLowerCase()=='folder'?'Create Folder': (data['type'].toLowerCase()=='file')? 'Upload File': 'Rename Folder'}}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>

    <mat-dialog-content>
        <form #f="ngForm" class="fidelity-popup-form">
            <div class="d-flex flex-column  mt-3 mb-3" *ngIf="data['type']=='folder' || data['type']=='rename'">
                <p id="parentContainer" class="text-center"></p>
                <div class="form-group">
                    <label>Name<span class="mandatory-field">*</span></label>
                    <input type="text" id="directoryName" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;" class="form-control" placeholder="Enter Name" name="directoryName" [(ngModel)]="directoryName" #CancelName="ngModel" required maxlength="25">
                    <span class="text-danger" *ngIf="CancelName.invalid && CancelName.touched">
                        Name is required
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div *ngIf="data['type']=='file'">
                        <!-- <label>Supporting Document</label> -->
                        <div class="input-group  fidelity-file-upload">
                            <input type="text" name="filename" id="" 
                            class="form-control" placeholder="" readonly>
                            <span class="input-group-btn">
                                <div class="btn custom-file-uploader"  id="">
                                    <input multiple #fileInput type="file" name="file" [accept]="['.pdf']"
                                    (change)="onFileChange($event)"/>Browse
                                </div>
                                <!-- [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']" -->
                            </span>
                        </div>
                        <!-- <div style="height: 100px;">
                            <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                                <div class=""  *ngFor="let fileData of technicianCollectionJobDetailsModel['technicianStockCollectionDocumentList']; let ind = index">
                                    <div class="d-flex align-items-center mb-1 mt-1">
                                        <a class="doc-name mr-2 blue-text" [href]="fileData['path']">{{fileData['docName']}}</a>
                                        <button type="button" class="circle-minus-btn" (click)="removeDocument('uploaded', ind, fileData['technicianStockCollectionDocumentId'])" style="width: 20p;height: 20px;font-size: 0.8rem;top: 1px;"><i class="icon icon-close-icon"></i></button>
                                    </div>                    
                                </div>
                            </p-scrollPanel>
                        </div> -->
            
                        <div style="height: 100px;">
                            <p-scrollPanel [style]="{height: '25vh'}" styleClass="custom">
                                <div class="" *ngFor="let fileData of selectedFiles; let ind = index">
                                    <div class="d-flex align-items-center mb-1 mt-1">
                                        <a class="doc-name mr-2 blue-text">{{fileData['name']}}</a>
                                        <button type="button" class="circle-minus-btn" (click)="removeDocument(ind)" style="width: 20p;height: 20px;font-size: 0.8rem;top: 1px;"><i class="icon icon-close-icon"></i></button>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                    </div>
                </div>
            </div>            
            <mat-dialog-actions align="end">
                <!-- <button mat-button class="btn btn-md-fidelity fidelity-btn-brown mt-3 mb-3" type="button"
                *ngIf="data['buttons']['create']" [mat-dialog-close]="directoryName" [disabled]="f.invalid"> -->
                <button mat-button class="btn btn-md-fidelity fidelity-btn-brown mt-3 mb-3" type="button"
                *ngIf="data['buttons']['create'] && (data['type']=='folder' || data['type']=='rename')" [mat-dialog-close]="true" [disabled]="f.invalid" (click)="createRepositoy()">{{data['buttons']['create']}}</button>
                <button mat-button class="btn btn-md-fidelity fidelity-btn-brown mt-3 mb-3" type="button"
                *ngIf="data['buttons']['create'] && data['type']=='file'" [mat-dialog-close]="true"
                [disabled]="selectedFiles?.length <= 0" (click)="createRepositoy()">{{data['buttons']['create']}}</button>
                <button mat-button class="btn btn-md-fidelity fidelity-btn-grey mt-3 mb-3" [mat-dialog-close]="false"
                *ngIf="data['buttons']['cancel']">{{data['buttons']['cancel']}}</button>
            </mat-dialog-actions>
        </form>
        
    </mat-dialog-content>
    
