<app-page-header class="row ml-2" [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex">
</app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body brown-border mt-2">
            <p-scrollPanel [style]="{ height: '62vh'}">
                <form class="fidelity-popup-form p-relative" [formGroup]="saveOfferForm">
                    <div class="row sm-inputs" *ngIf="saveOfferId && saveOfferForm?.get('isFreeMonths').value">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Number of Free Months<span class="mandatory-field" *ngIf="saveOfferForm?.get('isFreeMonths').value">*</span></label>
                                <select class="form-control fidelity-form-input" name="numberOfFreeMonthId"
                                    formControlName="numberOfFreeMonthId">
                                    <option value="" selected disabled>Select Free Month</option>
                                    <option *ngFor="let group of freeMonthList" value="{{group?.id}}">
                                        {{group?.id}}
                                    </option>
                                </select>
                                <span class="text-danger"
                                    *ngIf="saveOfferForm?.get('numberOfFreeMonthId')?.touched && saveOfferForm?.get('numberOfFreeMonthId')?.errors?.required">
                                    Number of Free Months is required
                                </span>
                            </div>
                        </div>
                        <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                            <div class="form-group">
                                <label>Start Date<span class="mandatory-field" *ngIf="saveOfferForm?.get('isFreeMonths').value">*</span></label>
                                <p-calendar formControlName="numberOfFreeMonthStartDate" [minDate]="startTodayDate"
                                    [maxDate]="startMaxTodayDate" [readonlyInput]="true" styleClass="w-100" (onMonthChange)="updateDisabledDates($event)" ></p-calendar>
                                <span class="text-danger"
                                    *ngIf="saveOfferForm?.get('numberOfFreeMonthStartDate')?.touched && saveOfferForm?.get('numberOfFreeMonthStartDate')?.errors?.required">
                                    Start Date is required
                                </span>
                                <span class="text-danger"
                                    *ngIf="saveOfferForm?.get('numberOfFreeMonthEndDate')?.touched && saveOfferForm?.get('numberOfFreeMonthEndDate')?.errors?.lesserGreaterThan">
                                    Start Date is must be lesser than End Date
                                </span>
                            </div>
                        </div>
                        <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                            <div class="form-group">
                                <label>End Date<span class="mandatory-field" *ngIf="saveOfferForm?.get('isFreeMonths').value">*</span></label>
                                <p-calendar formControlName="numberOfFreeMonthEndDate" [minDate]="endTodayDate" [readonlyInput]="true" styleClass="w-100"></p-calendar>
                                <span class="text-danger"
                                    *ngIf="saveOfferForm?.get('numberOfFreeMonthEndDate')?.touched && saveOfferForm?.get('numberOfFreeMonthEndDate')?.errors?.required">
                                    End Date is required
                                </span>
                                <span class="text-danger"
                                    *ngIf="saveOfferForm?.get('numberOfFreeMonthEndDate')?.touched && saveOfferForm?.get('numberOfFreeMonthEndDate')?.errors?.lesserGreaterThan">
                                    End Date is must be greater than Start Date
                                </span>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="saveOfferId && saveOfferForm?.get('isDiscountServiceMonthlyFee').value">
                        <div style="font-size: 0.9rem;">
                            <p-scrollPanel [style]="{ width: '100%', height: '30vh'}">
                                <div class="row parent-row flex-nowrap">
                                    <div class="col-2">Service Category</div>
                                    <div class="col-1">Fixed</div>
                                    <div class="col-1">%</div>
                                    <div class="col-2">Value</div>
                                    <div class="col-2">Sub Total</div>
                                    <div class="col-2">Disc Value</div>
                                    <div class="col-2">Adjusted Total</div>
                                    <div class="col-1">VAT</div>
                                    <div class="col-2">Total</div>
                                </div>
                                <div class="col-12 p-0">
                                    <app-page-form-array [pageForm]="saveOfferForm"
                                        [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                                        [selectedIndex]="selectedTabIndex" [isLoading]="loading" [isShowNoData]="false"
                                        [isSubmitted]="submitted" (changeEvent)="onChangeFormArray($event)">
                                    </app-page-form-array>
                                </div>
                            </p-scrollPanel>
                        </div>
                        <div class="row" formGroupName="saveOfferDiscountSummary">
                            <div class="col-12 page-sub-title">DISCOUNT SUMMARY</div>
                            <!-- <div class="col-12">
                                <div class=" p-3" style="border: 1px solid #000;border-radius: 4px;">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span>Current Monthly Inst</span>
                                        <input class="col-8 form-control fidelity-form-input bg-white border-0 text-right"
                                            formControlName="currentMonthlyInst" type="text" />
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span>Percentage of Deduction</span>
                                        <input class="col-8 form-control fidelity-form-input bg-white border-0 text-right"
                                            formControlName="percentageOfDeduction" type="text" />
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span>Deduction Amount</span>
                                        <input class="col-8 form-control fidelity-form-input bg-white border-0 text-right"
                                            formControlName="deductionAmount" type="text" />
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span>Future Monthly Inst</span>
                                        <input class="col-8 form-control fidelity-form-input bg-white border-0 text-right"
                                            formControlName="futureMonthlyInst" type="text" />
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-4">
                                <div class="form-group text-left">
                                    <label>Deduction Amount<span class="mandatory-field">*</span></label>
                                    <input class="form-control fidelity-form-input" type="text"
                                        formControlName="deductionAmount" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group text-left">
                                    <label>Current Monthly Inst<span class="mandatory-field">*</span></label>
                                    <input class="form-control fidelity-form-input" type="text"
                                        formControlName="currentMonthlyInst" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group text-left">
                                    <label>Percentage<span class="mandatory-field">*</span></label>
                                    <input class="form-control fidelity-form-input" type="text"
                                        formControlName="percentageOfDeduction" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group text-left">
                                    <label>Future Monthly Inst<span class="mandatory-field">*</span></label>
                                    <input class="form-control fidelity-form-input" type="text"
                                        formControlName="futureMonthlyInst" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group text-left">
                                    <label>Free Services<span class="mandatory-field">*</span></label>
                                    <input class="form-control fidelity-form-input" type="text"
                                        formControlName="freeServices" />
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-12 d-flex align-items-center justify-content-end mt-3">
                        <div class="mr-3">DOA Approval level</div>
                        <label class="fdt-background-primary px-4 py-1 text-white save-offer-level-label">
                            Level {{saveOfferForm.get('doaApprovalLevel')?.value ? saveOfferForm.get('doaApprovalLevel')?.value : 0}}
                        </label>
                    </div>
                </form>
            </p-scrollPanel>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="button" id="btnApprove" class="btn btn-md-fidelity fidelity-btn-brown btn-brown"
                (click)="onApprove()" [disabled]="submitted || saveOfferForm?.invalid">Approve</button>
            <button id="btnDecline" class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                (click)="onDecline()" [disabled]="submitted || saveOfferForm?.invalid">Decline</button>
        </div>
    </div>
</div>
