<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"> </app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="dispatchExceptionForm" (ngSubmit)="onSubmit()">

        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border sm-inputs">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Dispatch Exception Name<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="20"
                                    placeholder="Enter Dispatch Exception Name" formControlName="dispatchExceptionName">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*
                                    </span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAStringOnly' minlength="10" maxlength="150"
                                    placeholder="Enter Description" formControlName="description">
                                 </textarea>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group" id="main_area_con">
                                <label>Select Division <span class="mandatory-field">*
                                    </span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="dispatchExceptionDivisionsList" multiple
                                    placeholder="Select Division">
                                    <mat-option value="" #allSelectedDivision *ngIf="divisionDropDown?.length > 0"
                                        (click)="toggleAllDivisions()" selected>All Divisions</mat-option>
                                    <mat-option *ngFor="let item of divisionDropDown" [value]="item.id"
                                        (click)="toggleDivisionOne(allSelectedDivision?.viewValue)">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Distance (Mts)<span class="mandatory-field">*
                                    </span></label>
                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isANumberOnly' placeholder="Enter Distance(Meters)"
                                    formControlName="distance">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Time<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="dispatchTime" [validateInput]='isANumberOnly'
                                    placeholder="Enter Seconds">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </p-scrollPanel>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{dispatchExceptionId
                ? 'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/ro-configuration' [queryParams]="{tab:1}">Cancel</button>
        </div>

    </form>
</div>