<div class="fidelity-popup-heading  p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
  {{config?.data?.header}}
  <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="GprsSignalForm" (ngSubmit)="onSubmit()">
  <div style="padding: 16px;">
    <div>
      <div class="view-box">
        <div class="row">
          <div class="col-6">
            <div class="form-group"><label>Contract ID</label>
              <select class="form-control fidelity-form-input" (change)="onChangeContract()"
                formControlName="contractId">
                <option disabled value=""> Select Contract</option>
                <option *ngFor="let contract of contractData" [value]="contract?.id"> {{contract?.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group"><label>Stock ID</label>
              <select class="form-control fidelity-form-input" (change)="onChangeStockId()"
              formControlName="stockId">
                <option disabled value=""> Select Stock ID</option>
                <option *ngFor="let stock of stockIdDropdown" [value]="stock?.stockId"> {{stock?.stockIdName}}</option>
              </select>
              <!-- <input class="form-control fidelity-form-input" type="text" placeholder="Stock ID"> -->
            </div>
          </div>
          <div class="col-6">
            <div class="form-group"><label>Service Type</label>
              <select class="form-control fidelity-form-input"
                formControlName="serviceCategoryId">
                <option disabled value=""> Select Service Type</option>
                <option *ngFor="let service of stockIdDropdown" [value]="service?.serviceCategoryId"> {{service?.serviceCategoryName}}
                </option>
              </select>
              <!-- <input class="form-control fidelity-form-input" type="text" placeholder="Stock ID"> -->
            </div>
          </div>

          <div class="col-6">
            <div class="form-group"><label>Debtor Code</label>
              <input class="form-control fidelity-form-input disabled" type="text" placeholder="Debtor Code" formControlName="debtorRefNO">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group"><label>Debtor Name</label>
              <input class="form-control fidelity-form-input disabled" type="text" placeholder="Debtor Name" formControlName="debtorName">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group"><label>Monthly Charge Incl VAT</label>
              <input class="form-control fidelity-form-input" type="text" placeholder="Monthly Charge Incl VAT" formControlName="monthlyChargeInclVAT">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Reason For Selecting Radio</label>
              <select class="form-control fidelity-form-input" formControlName="radioRecurringFeeId">
                <option disabled value=""> Select Reason</option>
                <option *ngFor="let fee of feeDropdown" [value]="fee.radioRecurringFeeId"> {{fee?.reason}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Submit</button>
    <button type="button" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" (click)="btnCloseClick()">Cancel</button>
  </div>
</form>
