<!-- Zone modal -->
<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    Add Zone
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="dialogClose()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="customerZoneAddEditForm" (ngSubmit)="getValidateDecoders()">
    <p-scrollPanel [style]="{ height: '50vh'}">
        <div class="view-box">
            <div class="row p-2">
                <div class="col-6" *ngIf="config?.data?.isShowPartition">
                    <div class="form-group">
                        <label>Partition</label>
                        <select id="zone" class="form-control fidelity-form-input" name="Partition"
                            placeholder="Select Partition" formControlName="partitionId">
                            <option value="" disabled>Select Partition</option>
                            <option *ngFor="let partition of partitionsDropDown" [value]="partition.id">
                                {{partition?.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Zone Code<span class="mandatory-field">*</span></label>
                        <select id="zone" class="form-control fidelity-form-input" name="Zone Code"
                            placeholder="Select Zone Code" formControlName="zoneId"><!-- (change)="onChangeZone($event)"-->
                            <option value="" disabled>Select Zone</option>
                            <option *ngFor="let zone of zoneDropDown" [value]="zone.zoneId">
                                {{zone.zoneCode}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Zone Name<span class="mandatory-field">*</span></label>
                        <input class="form-control fidelity-form-input" type="text" formControlName="zoneName"
                            minlength="2" maxlength="12" placeholder="Zone Name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="stockCode">Stock Description<span class="mandatory-field">*</span></label>
                        <p-dropdown [options]="equipmentDropDown" formControlName="itemId" appendTo="body"
                            placeholder="Select" [filter]="true" name="Stock Description" [virtualScroll]="true"
                            [itemSize]="20" [filter]="false" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Serial Number<span class="mandatory-field" *ngIf="customerZoneAddEditForm?.get('isTechnician')?.value">*</span></label>
                        <input class="form-control fidelity-form-input" type="text" formControlName="serialNo"
                            minlength="2" maxlength="20" placeholder="Serial Number">
                    </div>
                </div>
                <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                    <div class="form-group">
                        <label>Install Date<span class="mandatory-field">*</span></label>
                        <p-calendar formControlName="installDate" [dateFormat]="getDateFormat()" [baseZIndex]="5200"
                            styleClass="w-100">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Ownership<span class="mandatory-field">*</span></label>
                        <select id="ownership" class="form-control fidelity-form-input" name="Ownership"
                            placeholder="Select Ownership" formControlName="itemOwnershipTypeId">
                            <option value="" disabled>Select Ownership</option>
                            <option *ngFor="let ownership of ownershipTypesDropDown" [value]="ownership.id">
                                {{ownership.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Service Call<span class="mandatory-field" *ngIf="customerZoneAddEditForm?.get('isTechnician')?.value">*</span></label>
                        <select class="form-control fidelity-form-input" name="Service Call"
                            formControlName="callInitiationId">
                            <option value="" disabled>Select </option>
                            <option [value]="item.id" *ngFor="let item of serviceCallList; let i=index">
                                {{item.displayName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </p-scrollPanel>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="text-center mt-2">
            <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button
                type="submit">Submit</button>
            <button type="button" id="Feature_cancel_btn" (click)="dialogClose()"
                class="btn btn-md-fidelity fidelity-btn-grey" mat-button>Cancel</button>
        </div>
    </div>
</form>

<!-- </form> -->