<div class="fidelity-popup-heading container-fluid">{{btnName}} Industry Category</div>
<form class="fidelity-popup-form" (ngSubmit)="save()" [formGroup]="industryTypeAddEditForm">
    <mat-dialog-content>
        <div class="row p-4">
            <div class="col-md-12">
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="industryCategoryName">Industry Type</label>
                    <div class="col-md-12">
                        <input class="form-control" id="industryCategoryName" type="text" placeholder="Industry Type Name (required)"
                            required minlength="3" formControlName="industryCategoryName"
                            [ngClass]="{'is-invalid': (industryTypeAddEditForm?.get('industryCategoryName')?.touched || industryTypeAddEditForm?.get('industryCategoryName')?.dirty) && !industryTypeAddEditForm?.get('industryCategoryName')?.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="industryTypeAddEditForm?.get('industryCategoryName').errors?.required">
                                Please enter indusytry Category name.
                            </span>
                            <span *ngIf="industryTypeAddEditForm?.get('industryCategoryName').errors?.minlength">
                                The iindusytry Category name must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="description">Description</label>
                    <div class="col-md-12">
                        <textarea rows="5" formControlName="description" class="form-control" type="text" name="textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="submit" cdkFocusInitial [disabled]="industryTypeAddEditForm?.invalid">{{btnName}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>
