<style>
    .pos-top {
        top: 0
    }
  </style>
  <div class="page-heading">
    <h1 class="page-title">Industry Category</h1>
  
  </div>
  <div class="page-content fade-in-up">
    <div class="ibox">
       <div class="grid-icons-con text-right">
            <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="removeSelected()"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="openAddDialog('')"><i class="fa fa-plus"></i></a>
        </div>
        <div class="ibox-body user-grid-table-con">
  
            <div class="mat-elevation-z8">
                <table class="fidelity-table" mat-table [dataSource]="dataSource" matSort>
  
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"
                                (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox class="fidelity-checkbox" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <!-- Display Name-->
                    <ng-container matColumnDef="industryTypeName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
                        <td mat-cell *matCellDef="let element"><a
                                (click)="openAddDialog(element.industryCategoryId)">{{element.industryCategoryName}}</a>
                        </td>
                    </ng-container>
  
                    <!-- Description -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
  
                    <!-- Created Date -->
                    <ng-container matColumnDef="createdDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdDate| date}} </td>
                    </ng-container>
  
                    <!-- IsActive Column -->
                    <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let element"> <label class="switch pos-top">
                                <input type="checkbox" [checked]="element.isActive"
                                    (change)="enableDisableSelected(element.industryCategoryId,$event)">
                                <span class="slider round"></span>
                            </label></td>
                    </ng-container>
  
  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table>
  
                <mat-paginator #paginator [length]="totalLength" [pageSize]="limit" [pageSizeOptions]="pageLimit"
                    (page)="changePage($event)"></mat-paginator>
  
            </div>
  
  
        </div>
  
    </div>
  </div>
  
