@import '../../../../../../variables.scss';

.filter-dropdwon-con {
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px #cccccc61;
    top: 40px;
    right: -20px;
    z-index: 1;
    .form-group {
        width: 100%;
        margin-bottom: 0!important;
    }
   
    ::ng-deep #filter_multi_select mat-form-field.mat-form-field {
        width: 100%!important;
        border: none!important;

        .mat-form-field-infix .mat-select {
            padding: 5.2px 8px;
        }

        .mat-select-placeholder {
            color: #495057;
            font-size: 1rem;
            font-family: $fidelity-font-regular;
        }
    }
    ::ng-deep select.form-control.filter-single-select {
        height: 30px!important;
        line-height: 15px;
        font-size: 1rem;
        padding: 0px 10.5px!important;
        font-family: $fidelity-font-regular;
    }
    
    select#StorageLocationId.form-control {
        height: 34px !important;
        font-size: 1rem;
        font-family: $fidelity-font-regular;
        line-height: 15px;
    }

    ::ng-deep .leads-category-con {
        mat-form-field.mat-form-field {
            border: none!important;
        }
    
        .mat-form-field-infix .mat-select {
            padding: 8.2px 8px;
        }
    }
}
::ng-deep body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item {
    margin: 3px !important;
    height: 30px !important;
}