<div class="fidelity-popup-heading container-fluid p-relative" mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle> {{ popupData['requisitionId'] ? 'Updating Requisition
    Request': 'Requisition Creation' }}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <div class="row mt-4">
        <div class="col align-items-center justify-content-center flex-column text-center">

            <p id="parentContainer"></p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <form>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown mt-3 mb-3"
            *ngIf="popupData['buttons']['create']" [mat-dialog-close]="true">{{popupData['buttons']['create']}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey mt-3 mb-3" [mat-dialog-close]="false"
            *ngIf="popupData['buttons']['cancel']">{{popupData['buttons']['cancel']}}</button>
    </form>

</mat-dialog-actions>
