@import "../../../../../../variables.scss";

::ng-deep .ibox-body.requisition-create-tabs {
  padding: 10px !important;
}
::ng-deep mat-select-trigger {
  font-weight: 600;
  font-size: 13px !important;
  color: #495057 !important;
  font-family: "Calibri_Regular", sans-serif !important;
}
::ng-deep .supplier-form-group .mat-form-field-infix .mat-select {
  padding: 0px !important;
}
::ng-deep .is-danger{
  color: red !important;
  font-size: 11px;
}
.text-right-cus {
  margin-left: -65px !important;
}
::ng-deep input[type="text"] {
  font-size: 16px!important;
}
.disabled{
  background-color: #e9ecef;
}
select.form-control.fidelity-form-input {
  background-image: unset !important;
}
.supplier-form-group {
    border: 1px solid lightgrey;
    border-radius: 8px;
    height: 32px;
}
*:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.requisition-create-tabs {
  ::ng-deep .mat-tab-body.mat-tab-body-active {
    padding: 20px 0px;
  }

  .full-list-header-row {
    div[class^="col"] {
      font-size: 0.8rem;
    }
  }
}
::ng-deep mat-select-autocomplete > .mat-form-field {
  border: none !important;
}
::ng-deep mat-select-autocomplete .mat-select {
  padding: 6px 8px !important;
}
::ng-deep .stock-order .mat-form-field {
  border: none !important;
  padding-left: 0 !important;
}
::ng-deep .stock-order .mat-input-element {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  padding: 10px !important;
}

.row.children-row.sm-padding {
  ::ng-deep div[class^="col"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.row.children-row {
  ::ng-deep div[class^="col"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.model-color {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}

#reqStockOrderNumber {
  ::ng-deep mat-form-field.mat-form-field.ng-pristine.ng-touched {
    .mat-form-field-wrapper {
      border: 1px solid #dc3545 !important;
    }
  }

  ::ng-deep mat-form-field.mat-form-field.mat-form-field-invalid.ng-invalid {
    .mat-form-field-wrapper {
      border: 1px solid #dc3545 !important;
    }
  }
}
.custom-file-uploader {
  position: relative;
  background: #00644a;
  color: #fff;

  input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

::ng-deep .ibox-body {
  height: auto;
}

.child-row .col-1, .child-row .col-3 {
  padding: 0px 5px;
}
table {
  display: block;
}

thead, tbody {
  display: block;
}
thead {
  font-size: 13px !important;
  font-weight: 700;
  font-family: "Calibri_Bold", sans-serif;
}
tbody {
  position: absolute;
  height: 57vh;
  overflow-y: scroll;
}
td, th {
  min-width: 100px !important;
  height: 25px !important;
  text-overflow: ellipsis !important;
  max-width: 100px !important;
}
::ng-deep .requisition-create-tabs .mat-tab-body.mat-tab-body-active {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden !important;
  z-index: 1;
  height: 57vh;
  flex-grow: 1;
}