<div class="fidelity-popup-heading container-fluid  p-relative" mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>Stock Available in Other Branches
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<form customForm class="fidelity-popup-form" [formGroup]="interbranchRequestForm" (ngSubmit)="createIBTorder()">
    <mat-dialog-content>
        <div class="row mb-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="">Stock Code</label>
                    <input type="text" class="fidelity-form-input form-control disabled" formControlName="stockCode">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="">Stock Description</label>
                    <input type="text" class="fidelity-form-input form-control disabled"
                        formControlName="stockDescription">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="">Required Qty</label>
                    <input type="text" disabled class="fidelity-form-input form-control" formControlName="requiredQty">
                </div>
            </div>
        </div>

        <!-- <div class="row mb-2"> -->
        <!-- Table goes here -->
        <div class="row full-list-header-row d-flex mb-2" *ngIf="warehouseDetailsFormArray?.controls?.length > 0">
            <div class="col-6">Warehouse</div>
            <div class="col-3">Available Qty</div>
            <div class="col-3">Selected Qty</div>
        </div>
        <div class="child-row" formArrayName="interBranchWarehouses">
            <ng-container *ngIf="warehouseDetailsFormArray?.controls?.length > 0; else noWarehouse">
                <div class="row" *ngFor="let control of warehouseDetailsFormArray?.controls; let i = index"
                    [formGroupName]="i">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                formControlName="warehouse">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                formControlName="availableQty">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="text" name="selectedQty" class="fidelity-form-input form-control" mask="0*"
                                [dropSpecialCharacters]="false" formControlName="Quantity">
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noWarehouse>
                <h4 class="text-center">No warehouse found</h4>
            </ng-template>
        </div>
        <!-- </div> -->

        <div *ngIf="isDiscrepancy">
            <div class="page-sub-title mb-2">INCORRECT STOCK QTY</div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="d-block">Reason for Discrepancy</label>
                        <textarea rows="2" class="fidelity-form-input form-control"
                            formControlName="reasonForDiscrepancy" maxlength="100"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <span class="text-danger" *ngIf="isSelectedQtyGreater">
            Total Selected quantity should not be greater than Required quantity
        </span>
        <span class="text-danger" *ngIf="isTotalQtyGreaterThanZero">
            Total Selected quantity should be greater than zero
        </span>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn fidelity-btn-brown" type="submit"
            [disabled]="!(warehouseDetailsFormArray?.controls?.length > 0)">Submit</button><!-- mat-dialog-close-->
        <button mat-button class="btn fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>
