<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex">
</app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox" style="height: auto;">
    <div class="ibox-body mt-1 mb-3">
      <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
        <app-view-page [col]="3" [viewDetail]="customerDetails" [template]="3" (onLinkClicked)="onLinkClick($event)">
        </app-view-page>
        <app-view-page [col]="1" [viewDetail]="addressDetails" [template]="1">
        </app-view-page>
        <app-view-page [col]="3" [viewDetail]="contactDetails" [template]="3" (onLinkClicked)="onLinkClick($event)">
        </app-view-page>
        <div class="basic-info-con view-box ml-3">
          <div class="row mb-3">
            <div class="page-sub-title col">KEY HOLDER DETAILS</div>
          </div>
          <div class="row mt-1">
            <div class="col-md-6 col-lg-6" *ngFor="let item of keyHolderDetails;let i=index">
              <div class="row mb-3">
                <div class="key-holder-title col">Key Holder {{i+1}}</div>
              </div>
              <div class="row mt-1 mb-3">
                <div class="col-md-12">
                  <span class="key d-inline-block">Name</span>
                  <span class="value">{{item?.customerName ? item?.customerName : '-'}}</span>
                </div>
                <div class="col-md-12">
                  <span class="key d-inline-block">Contact Number</span>
                  <span class="value">{{item?.mobile1 ? item?.mobile1 : item?.mobile2 ? item?.mobile2
                    : item?.officeNo ? item?.officeNo : item?.premisesNo ? item?.premisesNo : '-'}}
                    <button type="button" class="circle-plus-btn" (click)="keyHolderCallDial(item)"
                      *ngIf="showKeyHolderNumber(item)" matTooltip="Dial" style="right: -5px;top: 1px;">
                      <i class="icon icon-call"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>