  .lead-services-table thead  {
    th:nth-child(1) {
        width: 20%;
    }
    th:nth-child(2) {
        width: 20%;
    }
    th:nth-child(3) {
        width: 20%;
    }
    th:nth-child(4) {
        width: 15%;
    }
    th:nth-child(5) {
        width: 15%;
    }
    th:nth-child(6) {
        width: 10%;
    }
    
  }

  ::ng-deep .lead-stage1-con {
    position: relative;

    mat-form-field.mat-form-field-invalid#find_address_autocomplete {
        border: 1px solid #dc3545 !important;
    }
    ng-component {
        position: absolute !important;
        bottom: -22px !important;
        left: 150px !important;
    }

    #find_address_autocomplete {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        line-height: 20px;

        .mat-form-field-flex .mat-form-field-infix {
            line-height: 30px;
            padding-bottom: 0!important;
        }
      }
}

::ng-deep #noOfPartition{
    ng-component {
        position: absolute !important;
        top:40px !important;
    }
}

.form-group {
    width: 80%;
}

.custom-file-uploader {
    position: relative;
    background:#00644A;
    color:#fff;

    input[type='file'] {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  ::ng-deep .support-doc-upload-file {
    ng-component {
      position: absolute !important;
      bottom: -22px;
      z-index: 10;
    }

  }

  