<div class="page-heading">
    <h1 class="page-title d-inline-block">Balance Of Contract</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/customer/dashboard">Customer Management:Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToViewCustomer()">View Customer</a>
                
        </li>
        <li class="breadcrumb-item">
            <a (click)="backToBalanceOfContractPage()">Balance Of Contract</a>
        </li>
        <li class="breadcrumb-item">
            <a>Upload documents</a>
        </li>
    </ol>
</div>

<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <form customForm [formGroup]="documentUploadForm" (ngSubmit)="onSubmit()">
            <div class="ibox-body mt-3 p-relative pt-1">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="row">
                        <div class="page-sub-title col">Required Documents</div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label>Transaction Notes<span class="mandatory-field">*</span></label>
                                <textarea #textAreaField name="Notes" formControlName="notes"
                                    class="form-control fidelity-form-input" type="text"
                                    [maxlength]="formConfigs.twoFifty"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <select #selectField class="form-control fidelity-form-input" name="documentation type"
                                    formControlName="documentConfigId">
                                    <option value="" disabled>--Select Documentation Type--</option>
                                    <option *ngFor="let documentationType of documentationTypes"
                                        [value]="documentationType.id">
                                        {{documentationType.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group p-relative support-doc-upload-file">
                                <div class="input-group" style="height: 40px;">
                                    <input #inputField type="text" name="filename" id="fileName"
                                        style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;"
                                        class="form-control" placeholder="Upload a file" formControlName="documentName"
                                        readonly>
                                    <span class="input-group-btn" style="right: 0px;">
                                        <div class="btn custom-file-uploader" id="fileName"
                                            style="height: 40px; padding: 12px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;background-color: #00644A;">
                                            <input #fileInput type="file" name="file" [accept]="accept"
                                                (change)="uploadFile($event)" style="width: 86px;" />
                                            Browse
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button"
                                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                (click)="addDocument()" title="Add" matTooltip="Add">
                                <i aria-hidden="true" class="icon" data-icon="b"></i></button>
                        </div>
                    </div>
                    <table style="width: 100%;" class="fidelity-table lead-services-table mt-2 service-table"
                        *ngIf="balanceOfContractDocuments.length>0">
                        <thead>
                            <th>Document Config Type</th>
                            <th>Document</th>
                            <th>Action</th>
                        </thead>
                        <tbody *ngIf="balanceOfContractDocuments.length>0">
                            <ng-container
                                *ngFor="let balanceOfContractDocument of balanceOfContractDocuments;index as i">
                                <tr>
                                    <td>{{balanceOfContractDocument.documentConfigId==4?'Telephone Call Recording':
                                        balanceOfContractDocument.documentConfigId==5?'Additional Attachment':
                                        balanceOfContractDocument.documentConfigId==6?'Cancellation
                                        Documentation':'Telephone Call Recording'}}</td>
                                    <td>{{balanceOfContractDocument.documentName}}</td>
                                    <td>
                                        <div>
                                            <a id="delete_record" class="delete-row ml-1" (click)="removeDocument(i)"
                                                title="Delete"><i aria-hidden="true" class="icon icon-delete"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </p-scrollPanel>
            </div>
            <div class="text-center mt-3">
                <button id="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                    type="submit">Submit</button>
                <button id="cancel" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    (click)="backToBalanceOfContractPage()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<!--approval request modal-->
<!-- <div class="modal" #approval_request id="approval_request" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Approval Request</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <p style="text-align: center;
                        font-weight: 800;
                        margin-bottom: 0px;" [innerHTML]="message"></p>
                </mat-dialog-content>
            </div>
            <div class="modal-footer text-center" style="justify-content: center" *ngIf="!isFormSubmittedSuccessfully">
                <button (click)="onSubmitAfterConfirmation()" type="button"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Submit
                </button>
                <button type="button" class="btn btn-md-fidelity btn-default" data-dismiss="modal">Cancel</button>
            </div>
            <div class="modal-footer text-center" style="justify-content: center" *ngIf="isFormSubmittedSuccessfully">
                <button type="button" (click)="onAcceptedResponse()" class="btn btn-md-fidelity btn-default"
                    data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div> -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isApprovalRequest" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '600px'}" (onShow)="showDialog()" (onHide)="closeDialog()">
    <p-header>
        Approval Request
    </p-header>
    <app-popup-loader></app-popup-loader>
    <div>
        <div class="view-box p-3">
            <div class="row mt-1">
                <p style="text-align: center;
              font-weight: 800;
              margin-bottom: 0px;" [innerHTML]="message"></p>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button (click)="onSubmitAfterConfirmation()" type="button" *ngIf="!isFormSubmittedSuccessfully"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Submit
                </button>
                <button type="button" class="btn btn-md-fidelity btn-default" (click)="isApprovalRequest = false"
                    *ngIf="!isFormSubmittedSuccessfully">Cancel</button>
                <button type="button" (click)="onAcceptedResponse()" class="btn btn-md-fidelity btn-default"
                     *ngIf="isFormSubmittedSuccessfully">Ok</button>
            </div>
        </div>
    </p-footer>
</p-dialog>