<div class="page-content fade-in-up">
    <form customForm [formGroup]="decoderAccountConfigForm" (ngSubmit)="onSubmit()" autocomplete="off" runat="server">
        <div class="">
            <div class="">
                <div class="row m-0">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Ownership</label>
                            <select id="ownership" class="form-control fidelity-form-input" name="Ownership"
                                placeholder="Select Ownership" formControlName="itemOwnershipId">
                                <option value="null" disabled>Select Ownership</option>
                                <option *ngFor="let division of ownershipList" [value]="division.id">
                                    {{division.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Rental Alarm</label>
                            <select id="rentalAlarm" class="form-control fidelity-form-input" name="Rental Alarm"
                                placeholder="Select Division" formControlName="rentedAlarmId">
                                <option value="" disabled>Select Rental Alarm</option>
                                <option *ngFor="let division of rentedTypeList" [value]="division.id">
                                    {{division.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Panel Type</label>
                          <p-dropdown class="panel-type"
                          [options]="panelTypeList" 
                          formControlName="panelTypeConfigId"
                           placeholder="Select a Panel Type"
                             [showClear]="true" filter="true"
                              [virtualScroll]="true" [itemSize]="5"
                              ></p-dropdown>

                            <!-- <mat-select-autocomplete ngDefaultControl class="t" id="mat-panellist-id" *ngIf="panelTypeList?.length"
                                [placeholder]="'Select Panel Type'" [options]="panelTypeList" [display]="'display'" [multiple]='false'
                                [value]="'value'" [formControl]="decoderAccountConfigForm?.controls['panelTypeConfigId']">
                            </mat-select-autocomplete> -->
                        </div>
                    </div>


                    <div class="col-4">
                        <div class="form-group video-password-eye">
                            <label>Videofied Sim</label>
                            <div class="p-relative">
                                <input class="form-control fidelity-form-input" name="Videofied Sim"
                                [type]="isPasswordShow?'text':'password'"
                                formControlName="videofiedSim" [validateInput]='isANumberOnly'
                                placeholder="Enter Videofied Sim" runat="server" autocomplete="new-password">
                                <div *ngIf="decoderAccountConfigForm.get('videofiedSim').value"
                                    (mouseout)="isPasswordShow=false">
                                    <a (click)="isPasswordShow=!isPasswordShow">
                                        <i [ngClass]="!isPasswordShow?'fa fa-eye-slash':'fa fa-eye'"
                                            class="fa fa-eye" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group video-password-eye">
                            <label>Fidelity ADT Sim</label>
                            <div class="p-relative">
                                <input class="form-control fidelity-form-input" name="Fidelity ADT Sim"
                                    [type]="isAdtSimPasswordShow?'text':'password'"
                                    formControlName="adtSim" [validateInput]='isANumberOnly'
                                    placeholder="Enter Fidelity ADT Sim" runat="server" autocomplete="new-password">
                                <div *ngIf="decoderAccountConfigForm.get('adtSim').value"
                                    (mouseout)="isAdtSimPasswordShow=false">
                                    <a (click)="isAdtSimPasswordShow=!isAdtSimPasswordShow">
                                        <i [ngClass]="!isAdtSimPasswordShow?'fa fa-eye-slash':'fa fa-eye'"
                                            class="fa fa-eye" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group video-password-eye">
                            <label>Installer Code</label>
                            <div class="p-relative">
                                <input class="form-control fidelity-form-input" name="Installer Code"
                                    [type]="isInstallerPasswordShow?'text':'password'"
                                    formControlName="installerCode" [validateInput]='isANumberOnly'
                                    placeholder="Enter Installer Code" runat="server" autocomplete="new-password">
                                <div *ngIf="decoderAccountConfigForm.get('installerCode').value"
                                    (mouseout)="isInstallerPasswordShow=false">
                                    <a (click)="onInstallerCodeView()">
                                        <i [ngClass]="!isInstallerPasswordShow?'fa fa-eye-slash':'fa fa-eye'"
                                            class="fa fa-eye" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{decoderAccountConfigId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
