div.video-password-eye .p-relative div a {
    position: absolute;
    top: 5px;
    right: 12px;
}

::ng-deep .panel-type .ui-dropdown-label {
    color: #333!important;
    font-size: 11px;
    font-weight: 600;
}