<div class="page-heading">
  <h1 class="page-title d-inline-block">User Level Mapping</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
    <li class="breadcrumb-item">
      <a> Configuration</a>
    </li>
    <li class="breadcrumb-item">
      <a (click)="goBack()"> IT Management </a>
    </li>
    <li class="breadcrumb-item">
      Add User Level Mapping
    </li>
  </ol>
  <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
  <div class="ibox" style="height: auto;">
    <div class="ibox-body brown-border white-bg">
      <div class="row p-relative">
        <div class="col-3">
          <div class="form-group">
            <label class="col-form-label">User Level<span class="mandatory-field">*</span></label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group fidelity-multiselect-dropdown-con" style="margin-top: 2px;">
            <label class="col-form-label">Roles<span class="mandatory-field">*</span></label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label class="col-form-label" for="description">Description</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label class="col-form-label">Status<span class="mandatory-field">*</span></label>
          </div>
        </div>

      </div>
    <form *ngIf="userLevelMappingForm && !userLevelRoleId" customForm [formGroup]="userLevelMappingForm" (ngSubmit)="onSubmit()">
      <div class="row p-relative">
        <div class="col-3">
          <div class="form-group">
            <select class="form-control fidelity-form-input" name="User Level" formControlName="userLevelId">
              <option value="">Select User Level</option>
              <option *ngFor="let uLevel of userLevelsList" [value]="uLevel.userLevelId">
                {{uLevel.userLevelName}}</option>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group fidelity-multiselect-dropdown-con" style="margin-top: 2px;">
            <p-multiSelect appendTo="body" [filter]="true" [style]="{'width':'100%'}" [options]="rolesList" name="role"
              [defaultLabel]="'Select Roles'" formControlName="roleID"></p-multiSelect>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <textarea rows="1" maxlength="500" class="form-control fidelity-form-input" formControlName="description"
              type="text" name="Description"></textarea>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <select class="form-control fidelity-form-input" name="Role" formControlName="isActive">
              <option value="" disabled>Select Stattus</option>
              <option *ngFor="let st of status" [value]="st.value">{{st.label}}</option>
            </select>
          </div>
        </div>
        <div class="col-1">
          <a *ngIf="!userLevelRoleId"
            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute mt-0" style="margin-top:5%" (click)="addUserLevel()"
            title="add"><i aria-hidden="true" class="icon" data-icon="b"></i></a>

        </div>
      </div>
    </form>

    <form *ngIf="userLevelMappingAddEditForm" customForm [formGroup]="userLevelMappingAddEditForm"
      (ngSubmit)="onSubmit()">
        <div class="tab-content">
          <div class="tab-pane fade show active">
            <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
              <div class="" formArrayName="userLevelMappingArray"
                *ngFor="let userLevel of userLevelMappingAddEditForm?.get('userLevelMappingArray')?.controls;let i=index">
                <div class="row p-relative" [formGroupName]="i">
                  <div class="col-3">
                    <div class="form-group">
                      <select class="form-control fidelity-form-input" name="User Level" formControlName="userLevelId">
                        <option value="">Select User Level</option>
                        <option *ngFor="let uLevel of userLevelsList" [value]="uLevel.userLevelId">
                          {{uLevel.userLevelName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group fidelity-multiselect-dropdown-con" style="margin-top: 2px;">
                      <p-multiSelect appendTo="body" [filter]="true"   [style]="{'width':'100%'}" [options]="rolesList"
                        name="role" [defaultLabel]="'Select Roles'" formControlName="roleID"></p-multiSelect>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <textarea rows="1" maxlength="500" class="form-control fidelity-form-input"
                        formControlName="description" type="text"    name="Description"></textarea>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <select class="form-control fidelity-form-input"   name="Role" formControlName="isActive">
                        <option value="" disabled>Select Stattus</option>
                        <option *ngFor="let st of status" [value]="st.value">{{st.label}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-1">
                    <a id="delete_record" *ngIf="!userLevelRoleId" class="delete-row ml-1 delete-icon-margin text-grey-1"
                      (click)="removeUserLevel(i)" title="Delete"><i aria-hidden="true" class="icon icon-delete"></i>
                    </a>
                  </div>
                </div>
              </div>
            </p-scrollPanel>
          </div>
        </div>

      <div class="text-center mt-4">
        <button class="btn btn-md-fidelity fidelity-btn-brown" [disabled]="getuserLevelMappingArray?.length==0" type="submit">{{userLevelRoleId ? 'Update' :
          'Save'}}</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
  </div>
</div>
