.login-bg-con {
    background-image: url("../../../../assets/img/new-login-bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  .form-signin {
    max-width: 350px;
    padding: 15px 35px 30px;
    margin: 0 6% 0 auto;
    background-color: #ffffffeb;
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;
    top: 30vh;
    left: -3vw;
    border-radius: 5px;

    .col-form-label {
        color: #8A8A8A;
    }

    .form-control {
      padding: 8px 10px;
    }


    .form-signin-heading {
      img {
        max-width: 75%;
      }
    }

    .form-signin-heading,
      .checkbox {
        margin: 10px 0px;
        font-size: 1rem;
        color: #8A8A8A;
      }


      .checkbox {
        font-weight: normal;
      }

      .checkbox + .text-center {
          font-size: 1rem;
      }

      .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;

          &:focus {
            z-index: 2;
          }
      }

      input[type="text"] {
        margin-bottom: -1px;
        border-radius: 8px;
      }

      input[type="password"] {
        margin-bottom: 10px;
        border-radius: 8px;
      }
  }

  #sign_in_btn {
      border-radius: 8px;
      background-color: #00644A;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #00644A!important;
      }

      &:focus {
        background-color: #00644A!important;
      }

  }

  #rememberMe {
      vertical-align: middle;
  }

  .text-danger {
    position: relative;
    top: -22px;
    font-size: 1rem;
    text-align: center;
  }
  }

  .login-progress-bar{
    left: 0px;
    position: absolute;
    width: 100%;
    top: 0px;
  }

  .login-spinner {
    width: 25px;
    height: 25px;
    right: 10px;
    top: 4px;
  }

  @keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #EAB027;
    }
    40% {
        stroke: #EAB027;
    }
    66% {
        stroke: #EAB027;
    }
    80%,
    90% {
        stroke: #EAB027;
    }
}

#fidelity_password{
  font-family: text-security-disc;
  -webkit-text-security: disc;
}

@font-face{
  font-family: text-security-disc;
  src: url("https://raw.githubusercontent.com/noppa/text-security/master/dist/text-security-disc.woff");
}