<div class="fidelity-popup-heading container-fluid">{{btnName}} Navigation
    <span id="Navigation_close_modal" class="float-right btn-appearance" [mat-dialog-close]="true"><i
            class="icon icon-close-icon"> </i>
    </span>
</div>
<!-- BEGIN PAGE LOADER -->
<app-popup-loader [isLoading]="isDialogLoaderLoading"></app-popup-loader>
<!-- END PAGE LOADER -->
<form (ngSubmit)="save()" [formGroup]="navigationAddEditForm">
    <mat-dialog-content>
        <div class="row p-4">
            <div class="col-md-12">

                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="moduleId">Module</label>
                    <div class="col-md-12">
                        <select class="form-control fidelity-form-input" id="moduleId" (change)="OnModuleChange($event)"
                            required minlength="3" formControlName="moduleId"
                            [ngClass]="{'is-invalid': (navigationAddEditForm?.get('moduleId')?.touched || navigationAddEditForm?.get('moduleId')?.dirty) && !navigationAddEditForm?.get('moduleId')?.valid }">
                            <option value="" disabled>Select Module (required)</option>
                            <option *ngFor="let item of ListX" value="{{item.id}}">{{item.displayName}}</option>
                        </select>
                        <span class="invalid-feedback">
                            <span *ngIf="navigationAddEditForm?.get('moduleId').errors?.required">
                                Please select Module.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" >
                        <mat-checkbox id="check_Add_Sub_Navigation" class="fidelity-checkbox fidelity-checkbox-header"
                            [checked]="enableChildNavigation" (change)="enableSubNavigation($event)">
                        </mat-checkbox>
                        <span>Add Sub Navigation</span>
                    </label>
                </div>

                <div class="form-group row mb-2" *ngIf="enableChildNavigation">
                    <label class="col-md-12 col-form-label" for="parentNavigationId">Navigation</label>
                    <div class="col-md-12">
                        <select class="form-control fidelity-form-input" id="parentNavigationId"
                            formControlName="parentNavigationId" [attr.disabled]="enabledisableNavigation?'true':null"
                            [required]="enableChildNavigation"
                            [ngClass]="{'is-invalid': (navigationAddEditForm?.get('parentNavigationId')?.touched || navigationAddEditForm?.get('parentNavigationId')?.dirty) && !navigationAddEditForm?.get('parentNavigationId')?.valid }">
                            <option value="" disabled>Select navigation (required)</option>
                            <option *ngFor="let navigation of NavigationList" value="{{navigation.id}}">
                                {{navigation.displayName}}
                            </option>
                        </select>
                        <span class="invalid-feedback">
                            <span *ngIf="navigationAddEditForm?.get('parentNavigationId').errors?.required">
                                Please select navigation.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="navigationName">Name</label>
                    <div class="col-md-12">
                        <input validateInput class="form-control fidelity-form-input" id="navigationName" type="text"
                            placeholder="Navigation Name (required)" required minlength="3"
                            formControlName="navigationName" maxlength="100"
                            [ngClass]="{'is-invalid': (navigationAddEditForm?.get('navigationName')?.touched || navigationAddEditForm?.get('navigationName')?.dirty) && !navigationAddEditForm?.get('navigationName')?.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="navigationAddEditForm?.get('navigationName').errors?.required">
                                Please enter navigation name.
                            </span>
                            <span *ngIf="navigationAddEditForm?.get('navigationName').errors?.minlength">
                                The navigation name must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="navigationUrl">Url</label>
                    <div class="col-md-12">
                        <input validateInput class="form-control fidelity-form-input" maxlength="500" id="navigationUrl"
                            type="text" placeholder="" minlength="3" formControlName="navigationUrl"
                            [ngClass]="{'is-invalid': (navigationAddEditForm?.get('navigationUrl')?.touched || navigationAddEditForm?.get('navigationUrl')?.dirty) && !navigationAddEditForm?.get('navigationUrl')?.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="navigationAddEditForm?.get('navigationUrl').errors?.required">
                                Please enter navigation url.
                            </span>
                            <span *ngIf="navigationAddEditForm?.get('navigationUrl').errors?.minlength">
                                The navigation url must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="sortOrder">Sort Order</label>
                    <div class="col-md-12">
                        <input validateInput class="form-control fidelity-form-input" id="sortOrder"
                            (keypress)="numericOnly($event)" placeholder="" minlength="1" maxlength="2"
                            formControlName="sortOrder"
                            [ngClass]="{'is-invalid': (navigationAddEditForm?.get('sortOrder')?.touched || navigationAddEditForm?.get('sortOrder')?.dirty) && !navigationAddEditForm?.get('sortOrder')?.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="navigationAddEditForm?.get('sortOrder').errors?.required">
                                Please enter Sort Order.
                            </span>
                            <span *ngIf="navigationAddEditForm?.get('sortOrder').errors?.minlength">
                                The sort order must be longer than 1 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="description">Description</label>
                    <div class="col-md-12">
                        <textarea validateInput rows="5" id="Navigation_Description"
                            class="form-control fidelity-form-input" maxlength="500" formControlName="description"
                            type="text" name="textarea"></textarea>
                    </div>
                </div>


            </div>


        </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="end">
        <button mat-button type="submit" [disabled]="navigationAddEditForm?.invalid" id="Navigation_create_btn"
            class="btn btn-md-fidelity fidelity-btn-brown" cdkFocusInitial>{{btnName}}</button>
        <button mat-button [mat-dialog-close]="true" id="Navigation_cancel_btn"
            class="btn btn-md-fidelity fidelity-btn-grey">Cancel</button>
    </mat-dialog-actions>
</form>