.model-color {
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
  }
::ng-deep .reduce-padding-row {
  [class*="col-"]:not(:last-child) {
    padding: 0 5px;
  }
}

::ng-deep p-scrollPanel.bom-custom .custom .ui-scrollpanel-content {
  padding-right: 0px !important;
}

::ng-deep p-scrollPanel.bom-custom1 .custom .ui-scrollpanel-content {
  padding-right: 22px !important;
}
::ng-deep .bom-checkbox .mat-checkbox-layout .mat-checkbox-inner-container-no-side-margin {
  margin-bottom: 10px !important;
}