<div class="page-heading">
    <h2 class="page-title">Dispatch Map</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a>
                <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item"> <a>Transformer</a> </li>
        <li class="breadcrumb-item">Dispatch Map</li>
    </ol>
    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-relative"
                (click)="getForkJoinRequests('initial')">
                <i class="icon icon-refresh-2" matTooltip="Refresh Map"></i>
            </a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-relative"
                (click)="onIconClicked('details')">
                <i class="icon icon-directions" matTooltip="Address Search By Details"></i>
            </a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-relative"
                (click)="onIconClicked('dispatcher area')">
                <i class="icon icon-location" matTooltip="Dispatcher Area"></i>
            </a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-relative"
                (click)="onIconClicked('layers')">
                <i class="fa fa-database" matTooltip="Layers"></i>
            </a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-relative">
                <i aria-hidden="true" class="icon icon-notification"
                    (click)="onIconClicked('notification');isNotificationBtnClicked=!isNotificationBtnClicked"
                    matTooltip="Unallocated Addresses"></i>
                <div class="unlocated-con p-absolute" [ngClass]="isNotificationBtnClicked?'d-block':'d-none'"
                    style="background-color: #fff;z-index: 100000;">
                    <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
                        <form>
                            <div class="unlocated-header">Unlocated Client</div>
                            <div class="data-box-con d-flex justify-content-between align-items-start">
                                <div class="data-box">
                                    <div>Vehicle <span>N0012</span></div>
                                    <div>At<span>10:26</span></div>
                                    <div>Address</div>
                                </div>
                                <div class="data-box d-flex align-items-center justify-content-between">
                                    <div class="txt-con">
                                        <div>Alarm <span>ALM (Alarm)</span></div>
                                        <div>Client<span>Edward Snowden</span></div>
                                        <div>505 15t road, Randjespark, Midrand, 1234</div>
                                    </div>
                                    <div class="btn-con">
                                        <button
                                            class="btn btn-sm-fidelity fidelity-btn-brown pl-2 pr-2">Escalate</button>
                                    </div>
                                </div>
                            </div>
                            <div class="data-box-con d-flex justify-content-between align-items-start">
                                <div class="data-box">
                                    <div>Vehicle <span>N0012</span></div>
                                    <div>At<span>10:26</span></div>
                                    <div>Address</div>
                                </div>
                                <div class="data-box d-flex align-items-center justify-content-between">
                                    <div class="txt-con">
                                        <div>Alarm <span>ALM (Alarm)</span></div>
                                        <div>Client<span>Edward Snowden</span></div>
                                        <div>505 15t road, Randjespark, Midrand, 1234</div>
                                    </div>
                                    <div class="btn-con">
                                        <button
                                            class="btn btn-sm-fidelity fidelity-btn-brown pl-2 pr-2">Escalate</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p-scrollPanel>
                </div>
            </a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-relative"
                (click)="shouldShowLegend=!shouldShowLegend">
                <i class="icon icon-tile" matTooltip="Show or hide legend"></i>
            </a>
            <div class="legend-con p-absolute" [ngClass]="shouldShowLegend?'d-block':'d-none'">
                <div class="legend-con-header d-flex justify-content-between align-items-center">
                    <span>Legend</span>
                </div>
                <div>
                    <p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
                        <div class="legend-con-body p-4">
                            <table class="table table-bordered">
                                <tbody>
                                    <ng-container *ngFor="let property of legendItems | keyvalue">
                                        <tr *ngIf="property.key!=='dispatcherMapLegend'">
                                            <td colspan="2" class="row-header">{{property.key}}</td>
                                        </tr>
                                        <ng-container *ngIf="property.key!=='dispatcherMapLegend'">
                                            <tr *ngFor="let legendItem of legendItems[property.key];">
                                                <td>
                                                    <div class="img-con">
                                                        <img
                                                            src="{{PREFIX_IMAGE_RELATIVE_PATH}}{{legendItem.iconName}}">
                                                    </div>
                                                </td>
                                                <td>{{legendItem.dispatcherMapLegendName}}</td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </p-scrollPanel>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: 88vh !important;">
        <div class="ibox-body p-0" style="height: 100% !important;">
            <ng-container>
                <app-event-mgmt-leaf-let (onOpenPopup)="onOpenPopup($event)" [caption]="'Dispatcher Map View'"
                    [zoomInOptions]="zoomInOptions" [zoomInOptionsForDispatcherArea]="zoomInOptionsForDispatcherArea"
                    [polyLayersObject]="polyLayersObject"
                    (afterDataRenderedInMapAction)="afterDataRenderedInMapAction($event)" class='d-block'
                    style="height: calc(100% - 40px);">
                </app-event-mgmt-leaf-let>
            </ng-container>
        </div>
    </div>
</div>

<!--search free text modal-->
<div class="modal" #search_free_text_modal id="search_free_text_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">Search by Details</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal('search by details')"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <form *ngIf="searchDetailsForm" customForm [formGroup]="searchDetailsForm"
                (ngSubmit)="onSubmit('search by details')" class="fidelity-popup-form">
                <mat-dialog-content>
                    <div class="row">
                        <div class="col-12">
                            <label>Search by Details</label>
                            <div class="row">
                                <div class="col-4">
                                    <mat-radio-group (change)="onRadioBtnSelected('Search by Details',$event)"
                                        [(ngModel)]="searchByDetailModel" [ngModelOptions]="{standalone: true}"
                                        name="Search by Details">
                                        <mat-radio-button checked class="fidelity-radio-btn mr-3" [value]="'Vehicle'">
                                            Vehicle
                                        </mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" [value]="'Address'">
                                            Address
                                        </mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" [value]="'Site'">
                                            Site
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group p-relative lead-stage1-con">
                                <mat-select-autocomplete-custom-control [name]="'Find Address'"
                                    [matOptionValueProperty]="searchByDetailModel=='Address'?'fullAddress'
                                    :'displayName'" [matOptionViewProperty]="searchByDetailModel=='Address'?'fullAddress'
                                    :'displayName'" [formGroup]="searchDetailsForm" formControlName="formatedAddress"
                                    [minLength]="searchByDetailModel=='Address'?formConfigs.three:null"
                                    [customInputGroupStyle]="{'margin-top':'0px'}"
                                    [customButtonHeightStyle]="{'height':'40px'}" [selectedOptionSearchkeywordProperty]="searchByDetailModel=='Address'?'fullAddress'
                                    :'displayName'"
                                    [getLoopableObjectRequestObservable]="getLoopableObjectRequestObservable"
                                    (emitSelectedOption)="onSelectedItemOption($event)">
                                </mat-select-autocomplete-custom-control>
                            </div>
                        </div>
                    </div>
                </mat-dialog-content>
                <div class="text-center mt-4 mb-2">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Search</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                        (click)="onCloseBootstrapModal('search by details')" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--search dispatcher area modal-->
<div class="modal" #search_dispatcher_area_modal id="search_dispatcher_area_modal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">Search by Dispatcher Area</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal('dispatcher area')"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <form class="fidelity-popup-form">
                <mat-dialog-content>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" style="width: 100%;">
                                <label>Select Dispatcher Area</label>
                                <select id="occurrence_detail" [(ngModel)]="customerDistance"
                                    [ngClass]="{ 'is-invalid':  !customerDistance&&isFormSubmitted}"
                                    class="form-control fidelity-form-input" [ngModelOptions]="{standalone: true}">
                                    <option value="" disabled>-- Select Dispatcher Area --</option>
                                    <option *ngFor="let dispatcherAddress of dispatcherAddresses"
                                        [value]=dispatcherAddress.id>
                                        {{dispatcherAddress.displayName}}
                                    </option>
                                </select>
                                <div *ngIf="!customerDistance&&isFormSubmitted" class="invalid-feedback">
                                    <div>Dispatcher area is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-dialog-content>
                <div class="text-center mt-4 mb-2">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" (click)="onSubmit('dispatcher area')"
                        type="submit">Proceed</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                        (click)="onCloseBootstrapModal('dispatcher area')" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--search layers modal-->
<div class="modal" #search_layers_modal id="search_layers_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">Search by Layers</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal()"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <form class="fidelity-popup-form">
                <mat-dialog-content>
                    <div class="row">
                        <div class="col-12">
                            <span>Select Layer</span>
                            <div class="row" style="margin-top: 10px;" *ngIf="mapLayerTypes.length>0">
                                <div class="col-4">
                                    <mat-radio-group (change)="onRadioBtnSelected('Search by Layers',$event)" checked
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="searchByDetailModel"
                                        name="Layers">
                                        <mat-radio-button *ngFor="let mapLayerType of mapLayerTypes;index as i"
                                            class="fidelity-radio-btn primary" [ngClass]="{'mr-3':i==0}"
                                            [value]="mapLayerType.id">
                                            {{mapLayerType.displayName}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="d-block">
                                            <mat-checkbox [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="showLayerLabelName"
                                                class="fidelity-checkbox fidelity-checkbox-header mr-3">
                                                Show Layer Label Name
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-dialog-content>
                <div class="text-center mt-4 mb-2">
                    <button [disabled]="mapLayerTypes?.length==0" class="btn btn-md-fidelity fidelity-btn-brown"
                        (click)="onSubmit('layers')" type="submit">Proceed</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                        (click)="onCloseBootstrapModal()" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--selected vehicle summary modal-->
<div class="modal" #selected_vehicle_summary_modal id="selected_vehicle_summary_modal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">{{selectedVehicleObject?.status}} - Vehicle</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal()"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <form class="fidelity-popup-form">
                <mat-dialog-content>
                    <div class="row">
                        <a class="col-12" style="border-bottom: 1px solid #c8c8c8;padding: 0px 10px 10px 20px;">
                            <img *ngFor="let actionIcon of actionIconsForVehicle"
                                (click)="onClickPopupIcon('vehicle',actionIcon,selectedVehicleObject)"
                                src="{{PREFIX_IMAGE_RELATIVE_PATH}}{{actionIcon}}"
                                style="width: 20px;height: 20px;margin-right: 15px;">
                        </a>
                        <div class="col-12">
                            <label style="font-weight: 600;">Driver</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.responseOfficerName?selectedVehicleObject.responseOfficerName:'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Reg No</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.vehicleRegistrationNumber?selectedVehicleObject.vehicleRegistrationNumber:'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Vehicle Code</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.vehicleCode?selectedVehicleObject.vehicleCode:'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Vehicle Status</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.vehicleStatus?selectedVehicleObject.vehicleStatus:'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Address</label>
                        </div>
                        <div class="col-12">
                            <span>{{selectedVehicleObject?.fullAddress?selectedVehicleObject.fullAddress:'-'}}
                            </span>
                        </div>
                    </div>
                </mat-dialog-content>
            </form>
        </div>
    </div>
</div>

<!--selected customer alarm summary modal-->
<div class="modal" #selected_customer_alarm_summary_modal id="selected_customer_alarm_summary_modal"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 *ngIf="selectedVehicleObject?.legentType=='Site'" class="modal-title">
                    {{selectedVehicleObject?.displayText}}</h4>
                <h4 *ngIf="selectedVehicleObject?.legentType=='Vehicle'" class="modal-title">
                    {{selectedVehicleObject?.status}} - Vehicle</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal()"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <form class="fidelity-popup-form">
                <mat-dialog-content>
                    <div class="row">
                        <a class="col-12" style="border-bottom: 1px solid #c8c8c8;padding: 0px 10px 10px 20px;">
                            <img *ngFor="let actionIcon of actionIconsForCustomer"
                                (click)="onClickPopupIcon('site',actionIcon,selectedVehicleObject)"
                                src="{{PREFIX_IMAGE_RELATIVE_PATH}}{{actionIcon}}"
                                style="width: 20px;height: 20px;margin-right: 15px;">
                        </a>
                        <div class="col-12">
                            <label style="font-weight: 600;">Cust Desc</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.customerName?selectedVehicleObject.customerName:'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Zone Detail</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.zoneName?selectedVehicleObject.zoneName:'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Physical Address</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.fullAddress?selectedVehicleObject.fullAddress:'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Signal Time</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.firstSignalDateTime?(selectedVehicleObject.firstSignalDateTime
                                | date : 'HH:mm:ss'):'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Dispatched Vehicle(s)</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.vehicleCode?selectedVehicleObject.vehicleCode:'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Dispatch Time</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{
                                selectedVehicleObject?.dispatchedTime?(selectedVehicleObject.dispatchedTime| date :
                                'HH:mm:ss'):'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">Arrival Time</label>
                        </div>
                        <div class="col-12" style="border-bottom: 1px solid #c8c8c8;">
                            <span>{{selectedVehicleObject?.arrivedTime?selectedVehicleObject.arrivedTime:'-'}}</span>
                        </div>
                        <div class="col-12">
                            <label style="font-weight: 600;">OB Number</label>
                        </div>
                        <div class="col-12">
                            <span>{{selectedVehicleObject?.occurrenceBookNumber?selectedVehicleObject.occurrenceBookNumber:'-'}}</span>
                        </div>
                    </div>
                </mat-dialog-content>
            </form>
        </div>
    </div>
</div>

<!--dispatch unallocated vehicle modal-->
<div class="modal" #dispatch_unallocated_vehicle id="dispatch_unallocated_vehicle" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal()"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <form>
                        <mat-tab-group #tabGroup [selectedIndex]="selectedUnAllocatedVehicleIndex"
                            (selectedIndexChange)="onMatTabChanged('action from RO vehicle',$event)">
                            <mat-tab label="Reassign">
                                <div>
                                    <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Driver</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.responseOfficerName?selectedVehicleObject.responseOfficerName:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Reg No</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.vehicleRegistrationNumber?selectedVehicleObject.vehicleRegistrationNumber:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Division</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.divisionName?selectedVehicleObject.divisionName:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Working Area</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.vehicleCode?selectedVehicleObject.vehicleCode:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Vehicle Status</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.vehicleStatus?selectedVehicleObject.vehicleStatus:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Current OB</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.occurrenceBookNumber?selectedVehicleObject.occurrenceBookNumber:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group" style="width: 100%;">
                                                    <label> Reason <span class="mandatory-field">*</span> </label>
                                                    <textarea rows="3" class="form-control fidelity-form-input"
                                                        type="text" [(ngModel)]="declineReason"
                                                        [ngModelOptions]="{standalone: true}"
                                                        placeholder="Reassign Reason" maxlength="100"
                                                        [ngClass]="{'is-invalid': !declineReason&&isFormSubmitted }"></textarea>
                                                </div>
                                                <span class="text-danger" *ngIf="!declineReason&&isFormSubmitted">
                                                    Reassign reason is required
                                                </span>
                                            </div>
                                            <div style="width: 100%;" class="d-flex align-items-center">
                                                <div class="col-10">
                                                    <div class="form-group" style="width: 100%;">
                                                        <label></label>
                                                        <select id="occurrence_detail" [(ngModel)]="customerDistance"
                                                            [ngClass]="{ 'is-invalid':  !customerDistance&&isFormSubmitted}"
                                                            class="form-control fidelity-form-input"
                                                            [ngModelOptions]="{standalone: true}">
                                                            <option value="" disabled>-- Select customer alarm --
                                                            </option>
                                                            <option *ngFor="let distance of distances"
                                                                [value]=distance.id>
                                                                {{distance.displayName}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="!customerDistance&&isFormSubmitted"
                                                            class="invalid-feedback">
                                                            <div>Customer alarm is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2"
                                                    [ngStyle]="{'margin-top':!customerDistance&&isFormSubmitted?'-10px':'9px'}">
                                                    <button style="background-color: #00644A !important;
                                                    color: #fff !important;    padding: 11px 30px !important;"
                                                        class="btn btn-md-fidelity fidelity-btn-grey fa fa-refresh"
                                                        matTooltip="refresh" [disabled]="distances?.length==0"
                                                        (click)="getNearByCustomerDistances('reassign')"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </div>
                            </mat-tab>
                            <mat-tab label="Cancel Dispatch">
                                <div class="container-fluid">
                                    <div class="row sm-inputs-payments-popup">
                                        <div class="col-12">
                                            <div class="form-group" style="width: 100%;">
                                                <label></label>
                                                <textarea rows="3" class="form-control fidelity-form-input" type="text"
                                                    [(ngModel)]="declineReason" [ngModelOptions]="{standalone: true}"
                                                    placeholder="Cancel Dispatch Reason" maxlength="100"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Make Available">
                                <div class="container-fluid">
                                </div>
                            </mat-tab>
                            <mat-tab label="Manual Dispatch">
                                <div class="container-fluid">
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </form>
                </mat-dialog-content>
            </div>
            <div class="modal-footer text-center" style="justify-content: center">
                <button (click)="onSubmit('action from RO vehicle')" class="btn btn-md-fidelity fidelity-btn-grey"
                    type="submit" style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">{{actionBtnName}}</span>
                </button>
                <button (click)="onCloseBootstrapModal()" data-dismiss="modal"
                    class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                    style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--dispatch allocated vehicle to address modal-->
<div class="modal" #dispatch_allocated_vehicle_to_address id="dispatch_allocated_vehicle_to_address"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">Dispatch to address</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal()"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <form>
                        <div>
                            <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Driver</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.responseOfficerName?selectedVehicleObject.responseOfficerName:'-'" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Reg No</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.vehicleRegistrationNumber?selectedVehicleObject.vehicleRegistrationNumber:'-'" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Working Area</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.vehicleCode?selectedVehicleObject.vehicleCode:'-'" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Vehicle Status</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.vehicleStatus?selectedVehicleObject.vehicleStatus:'-'" />
                                        </div>
                                    </div>
                                    <div style="width: 100%;" class="d-flex align-items-center">
                                        <div class="col-10">
                                            <div class="form-group" style="width: 100%;">
                                                <label></label>
                                                <select id="occurrence_detail" [(ngModel)]="customerDistance"
                                                    [ngClass]="{ 'is-invalid':  !customerDistance&&isFormSubmitted}"
                                                    class="form-control fidelity-form-input"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option value="" disabled>-- Select customer alarm --</option>
                                                    <option *ngFor="let distance of distances" [value]=distance.id>
                                                        {{distance.displayName}}
                                                    </option>
                                                </select>
                                                <div *ngIf="!customerDistance&&isFormSubmitted"
                                                    class="invalid-feedback">
                                                    <div>Customer alarm is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2"
                                            [ngStyle]="{'margin-top':!customerDistance&&isFormSubmitted?'-10px':'9px'}">
                                            <button style="background-color: #00644A !important;
                                            color: #fff !important;    padding: 11px 30px !important;"
                                                class="btn btn-md-fidelity fidelity-btn-grey fa fa-refresh"
                                                [disabled]="distances?.length==0" matTooltip="refresh"
                                                (click)="getNearByCustomerDistances()"></button>
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                    </form>
                </mat-dialog-content>
            </div>
            <div class="modal-footer text-center" style="justify-content: center">
                <button (click)="onSubmit('dispatch to address')" class="btn btn-md-fidelity fidelity-btn-grey"
                    type="submit" style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">Dispatch</span>
                </button>
                <button (click)="onCloseBootstrapModal()" data-dismiss="modal"
                    class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                    style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--dispatch vehicle from customer alarm address modal-->
<div class="modal" #dispatch_vehicle_from_customer_alarm_address_modal
    id="dispatch_vehicle_from_customer_alarm_address_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">Allocate from address</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal()"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <form>
                        <div>
                            <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>OB Number</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.occurrenceBookNumber?selectedVehicleObject.occurrenceBookNumber:'-'" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Client</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.customerName?selectedVehicleObject.customerName:'-'" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Physical Address</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.fullAddress?selectedVehicleObject.fullAddress:'-'" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Event Type</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.priorityAlarmType?selectedVehicleObject.priorityAlarmType:'-'" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Signal Time</label>
                                            <input class="form-control fidelity-form-input disabled" [value]="selectedVehicleObject?.firstSignalDateTime?
                                                (selectedVehicleObject.firstSignalDateTime| date : 'HH:mm:ss'):'-'" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Operator</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.operator?selectedVehicleObject.operator:'-'" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Event Status</label>
                                            <input class="form-control fidelity-form-input disabled"
                                                [value]="selectedVehicleObject?.occurrenceBookStatusName?selectedVehicleObject.occurrenceBookStatusName:'-'" />
                                        </div>
                                    </div>
                                    <div style="width: 100%;" class="d-flex align-items-center">
                                        <div class="col-10">
                                            <div class="form-group" style="width: 100%;">
                                                <label></label>
                                                <select id="occurrence_detail" [(ngModel)]="customerDistance"
                                                    [ngClass]="{ 'is-invalid':  !customerDistance&&isFormSubmitted}"
                                                    class="form-control fidelity-form-input"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option value="" disabled>-- Select vehicle to dispatch --</option>
                                                    <option *ngFor="let distance of distances" [value]=distance.id>
                                                        {{distance.displayName}}
                                                    </option>
                                                </select>
                                                <div *ngIf="!customerDistance&&isFormSubmitted"
                                                    class="invalid-feedback">
                                                    <div>RO vehicle distance is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2"
                                            [ngStyle]="{'margin-top':!customerDistance&&isFormSubmitted?'-10px':'9px'}">
                                            <button style="background-color: #00644A !important;
                                            color: #fff !important;    padding: 11px 30px !important;"
                                                class="btn btn-md-fidelity fidelity-btn-grey fa fa-refresh"
                                                matTooltip="Refresh" (click)="getNearByRODistances()"></button>
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                    </form>
                </mat-dialog-content>
            </div>
            <div class="modal-footer text-center" style="justify-content: center">
                <button (click)="onSubmit('dispatch from address')" class="btn btn-md-fidelity fidelity-btn-grey"
                    type="submit" style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">Allocate</span>
                </button>
                <button (click)="onCloseBootstrapModal()" data-dismiss="modal"
                    class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                    style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--dispatch allocated vehicle modal-->
<div class="modal" #dispatch_allocated_vehicle id="dispatch_allocated_vehicle" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal()"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <form>
                        <mat-tab-group [selectedIndex]="selectedAllocatedVehicleIndex"
                            (selectedIndexChange)="onMatTabChanged('action from Customer Place',$event)">
                            <mat-tab label="Redirect">
                                <div>
                                    <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>OB Number</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.occurrenceBookNumber?selectedVehicleObject.occurrenceBookNumber:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Client</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.customerName?selectedVehicleObject.customerName:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Physical Address</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.fullAddress?selectedVehicleObject.fullAddress:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Event Type</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.priorityAlarmType?selectedVehicleObject.priorityAlarmType:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Signal Time</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.firstSignalDateTime?
                                                        (selectedVehicleObject.firstSignalDateTime| date : 'HH:mm:ss'):'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Operator</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.operator?selectedVehicleObject.operator:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Event Status</label>
                                                    <input class="form-control fidelity-form-input disabled"
                                                        [value]="selectedVehicleObject?.occurrenceBookStatus?selectedVehicleObject.occurrenceBookStatus:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group" style="width: 100%;">
                                                    <label></label>
                                                    <textarea rows="3" class="form-control fidelity-form-input"
                                                        type="text" [(ngModel)]="declineReason"
                                                        [ngModelOptions]="{standalone: true}"
                                                        placeholder="Redirect Reason" maxlength="100"
                                                        [ngClass]="{'is-invalid': !declineReason&&isFormSubmitted }"></textarea>
                                                </div>
                                                <span class="text-danger" *ngIf="!declineReason&&isFormSubmitted">
                                                    Redirect reason is required
                                                </span>
                                            </div>
                                            <div style="width: 100%;" class="d-flex align-items-center">
                                                <div class="col-10">
                                                    <div class="form-group" style="width: 100%;">
                                                        <label></label>
                                                        <select id="occurrence_detail" [(ngModel)]="customerDistance"
                                                            [ngClass]="{ 'is-invalid':  !customerDistance&&isFormSubmitted}"
                                                            class="form-control fidelity-form-input"
                                                            [ngModelOptions]="{standalone: true}">
                                                            <option value="" disabled>-- Select vehicle to dispatch --
                                                            </option>
                                                            <option *ngFor="let distance of distances"
                                                                [value]=distance.id>
                                                                {{distance.displayName}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="!customerDistance&&isFormSubmitted"
                                                            class="invalid-feedback">
                                                            <div>RO vehicle distance is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2"
                                                    [ngStyle]="{'margin-top':!customerDistance&&isFormSubmitted?'-10px':'9px'}">
                                                    <button style="background-color: #00644A !important;
                                                    color: #fff !important;    padding: 11px 30px !important;"
                                                        class="btn btn-md-fidelity fidelity-btn-grey fa fa-refresh"
                                                        [disabled]="distances?.length==0" matTooltip="Refresh"
                                                        (click)="getNearByRODistances()"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </div>
                            </mat-tab>
                            <mat-tab label="Cancel Dispatch">
                                <div class="container-fluid">
                                    <div class="row sm-inputs-payments-popup">
                                        <div style="width: 100%;" class="d-flex align-items-center">
                                            <div class="col-10">
                                                <div class="form-group" style="width: 100%;">
                                                    <label>Dispatched Vehicle(s)</label>
                                                    <select id="occurrence_detail" [(ngModel)]="customerDistance"
                                                        [ngClass]="{ 'is-invalid':  !customerDistance&&isFormSubmitted}"
                                                        class="form-control fidelity-form-input"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option value="" disabled>-- Select dispatched vehicle --
                                                        </option>
                                                        <option *ngFor="let roVehicle of allROList"
                                                            [value]=roVehicle.responseOfficerId>
                                                            {{roVehicle.subArea}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="!customerDistance&&isFormSubmitted"
                                                        class="invalid-feedback">
                                                        <div>Dispatched vehicle is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2"
                                                [ngStyle]="{'margin-top':!customerDistance&&isFormSubmitted?'-10px':'9px'}">
                                                <button style="background-color: #00644A !important;
                                                color: #fff !important;    padding: 11px 30px !important;"
                                                    class="btn btn-md-fidelity fidelity-btn-grey fa fa-refresh"
                                                    [disabled]="allROList?.length==0" matTooltip="Refresh"
                                                    (click)="getAllROAgainstOccurenceBookId()"></button>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group" style="width: 100%;">
                                                <label></label>
                                                <textarea rows="3" class="form-control fidelity-form-input" type="text"
                                                    [(ngModel)]="declineReason" [ngModelOptions]="{standalone: true}"
                                                    placeholder="Cancel Dispatch Reason" maxlength="100"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </form>
                </mat-dialog-content>
            </div>
            <div class="modal-footer text-center" style="justify-content: center">
                <button (click)="onSubmit('action from Customer Place')" class="btn btn-md-fidelity fidelity-btn-grey"
                    type="submit" style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">{{actionBtnName}}</span>
                </button>
                <button (click)="onCloseBootstrapModal()" data-dismiss="modal"
                    class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                    style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- response officer chat modal-->
<div class="modal" #response_officer_chat_modal id="response_officer_chat_modal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">Send Message</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal()"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <div class="modal-body existing-cust-con">
                <form class="fidelity-popup-form">
                    <mat-dialog-content>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group" style="width: 100%;">
                                    <label></label>
                                    <textarea rows="3" class="form-control fidelity-form-input" type="text"
                                        [(ngModel)]="declineReason" [ngModelOptions]="{standalone: true}"
                                        placeholder="Chat Message" maxlength="100"
                                        [ngClass]="{'is-invalid': !declineReason&&isFormSubmitted }"></textarea>
                                </div>
                                <span class="text-danger" *ngIf="!declineReason&&isFormSubmitted">
                                    Chat message is required
                                </span>
                            </div>
                        </div>
                    </mat-dialog-content>
                </form>
            </div>
            <div class="modal-footer text-center" style="justify-content: center">
                <button (click)="onSubmit('response officer chat')" class="btn btn-md-fidelity fidelity-btn-grey"
                    type="submit" style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">Send</span>
                </button>
                <button (click)="onCloseBootstrapModal()" data-dismiss="modal"
                    class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                    style="background-color:#00644A !important; right:0px;">
                    <span style="color:white">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>