::ng-deep .ibox .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  height: 100%!important;
}

// <!-- styles for  unallocated client
.unlocated-con {
  width: 30vw;
  min-height: 10vh;
  background-color: #9e9e9e0a;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px #ccccccbf;
  right: 0;
  top: 45px;

  .unlocated-header {
    font-family: 'Calibri_Bold', sans-serif!important;
    text-align: left;
    color: #000;
    padding: 10px 0px 0px 15px;
  }

  .data-box-con {
    border-bottom: 1px solid #ccc;
    padding: 5px 0px 5px 15px;
    .data-box {
      color: #8A8A8A;
      text-align: left;
      width: 30%;
      font-size: 1rem;

      &:nth-child(2) {
        width: 66%;
      }

      .txt-con {
        width: 66%;
      }

      .btn-con {
        width: 30%;
      }
      span {
        font-family: 'Calibri_Bold', sans-serif!important;
        color: #000;
        margin-left: 5px;
      }
    }
  }
}

.settings-con {
    @extend .unlocated-con;
    color: #000;
    width: 15vw;
    min-height: 15vh;

    .data-box-con {
        padding: 5px 15px 5px 15px;
        border-bottom: none;

    }
}

::ng-deep .legend-con {
  width: 15vw;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
    top: 50px;
    z-index: 401;
    right: 0px;
    background-color: #fff;
    .legend-con-header {
        font-family: 'Calibri_Bold', sans-serif!important;
        color: #fff;
        padding: 5px 15px 5px 15px;
        background-color: #00644A;
        font-size: 1.2rem;
        border-radius: 5px 5px 0 0;
        i {
            cursor: pointer;
        }
    }
    .legend-con-body {
        font-size: 1rem;
        
        .table > tbody > tr > td, 
        .table > tfoot > tr > td,
        .table-bordered td {
            border: 1px solid #ccc!important;
        }

        .row-header {
            color: #B79A5D;
            text-align: left;
            padding: 5px;
        }

        td {
            padding: 0 0 0 5px;
            height: 30px;
            vertical-align: middle;
            text-align: left;
            color: #000;

            &:nth-child(1) {
                width: 30px;
                height: 30px;
            }
        }

        .img-con {
            width: 30px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
  .legend-con {
    width: auto;
  }
  .m-style{
    left: 20px !important;
    top: 95px !important;
    height: 35px !important;
    width: 35px !important;
    z-index: 999 !important;
  }
}

.fidelity-popup-form{
  padding: 10px 15px !important;
}