<!--search dispatcher area modal-->
<div class="modal" #search_dispatcher_area_modal id="search_dispatcher_area_modal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading align-items-center">
                <h4 class="modal-title">Search by Dispatcher Area</h4>
                <button type="button" class="close text-white" (click)="onCloseBootstrapModal('dispatcher area')"
                    data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <form class="fidelity-popup-form">
                <mat-dialog-content>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" style="width: 100%;">
                                <label>Select Dispatcher Area</label>
                                <select id="occurrence_detail" [(ngModel)]="customerDistance"
                                    [ngClass]="{ 'is-invalid':  !customerDistance&&isFormSubmitted}"
                                    class="form-control fidelity-form-input" [ngModelOptions]="{standalone: true}">
                                    <option value="" disabled>-- Select Dispatcher Area --</option>
                                    <option *ngFor="let dispatcherAddress of dispatcherAddresses"
                                        [value]=dispatcherAddress.id>
                                        {{dispatcherAddress.displayName}}
                                    </option>
                                </select>
                                <div *ngIf="!customerDistance&&isFormSubmitted" class="invalid-feedback">
                                    <div>Dispatcher area is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-dialog-content>
                <div class="text-center mt-4 mb-2">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" (click)="onSubmit('dispatcher area')"
                        type="submit">Proceed</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                        (click)="onCloseBootstrapModal('dispatcher area')" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>