<div class="page-heading">
    <h1 class="page-title">{{motivationReasonId ? 'Update' : 'Add'}} Reason For Motivation</h1>
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item"><a (click)="actionOnLeavingComponent()">Quotation</a></li>
        <li class="breadcrumb-item"><a (click)="actionOnLeavingComponent()">Reason For Motivation</a></li>
        <li class="breadcrumb-item" *ngIf="motivationReasonId"><a (click)="redirectToViewPage()" skipLocationChange>View Reason For Motivation</a></li>
        <li class="breadcrumb-item">{{motivationReasonId ? 'Update' : 'Add'}} Reason For Motivation
        </li>
    </ol>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <form customForm [formGroup]="reasonForMotivationForm" (ngSubmit)="submit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">

                <div class="ibox-body">
                    <div>
                        <!-- Headings Only -->
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Motivation Type<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Reason For Motivation<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Description</label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="" formArrayName="reasonForMotivation"
                            *ngFor="let reasonForMotivationObj of reasonForMotivationForm?.get('reasonForMotivation')?.controls;let i=index">
                            <div class="row p-relative" [formGroupName]="i">
                                <div class="col-3">
                                    <div class="form-group">
                                        <select class="form-control fidelity-form-input" name="motivation type" id="motivationReasonTypeId"
                                        formControlName="motivationReasonTypeId"
                                        [ngClass]="{'is-invalid': (reasonForMotivationForm?.get('reasonForMotivation')?.controls[i].get('motivationReasonTypeId')?.touched || 
                                        reasonForMotivationForm?.get('reasonForMotivation')?.controls[i].get('motivationReasonTypeId')?.dirty) && 
                                        reasonForMotivationForm?.get('reasonForMotivation')?.controls[i].get('motivationReasonTypeId').errors}">
                                        <option value="null" disabled>Select Motivation Type (required)</option>
                                        <option *ngFor="let item of motivationTypeList" value="{{item.id}}">{{item.displayName}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <input name="Reason For Motivation" [validateInput]='stringConfig'
                                            class="form-control fidelity-form-input"
                                            [minlength]="formConfigs.minLengthTwo"
                                            [maxlength]="250"
                                            formControlName="motivationReasonName" (change)="OnChange(i)"
                                            placeholder="Enter Reason For Motivation" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <textarea name="description" class="form-control fidelity-form-input"
                                            id="description" formControlName="description" [maxlength]="100">
                                        </textarea>
                                    </div>
                                </div>
                                
                                <div class="col-2">
                                    <button *ngIf="i==0 && !motivationReasonId" type="submit"
                                        class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                        (click)="addReasonForMotivation()" title="Add" matTooltip="Add">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i></button>

                                    <a *ngIf="i > 0 " matTooltip="Delete" id="delete_record" class="delete-row "
                                        (click)="removeReasonForMotivation(i)"><i aria-hidden="true"
                                            class="icon icon-delete"></i>
                                    </a>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                (click)="actionOnLeavingComponent()">Cancel</button>
        </div>
    </form>



</div>