
@import '../../../../../../variables.scss';
.ibox {
  .fidelity-input-addon .input-group-text {
      display: flex;
      align-items: center;
      padding: .375rem .75rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      background-color: $fidelity-brown;
      border: 1px solid $fidelity-brown;
      border-radius: .25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      cursor: pointer;
  }

  .col-lg-2.adjust-width {
      flex: 0 0 20%;
      max-width: 20%;
  }

  .product-details-row {
      margin-bottom: 1rem;
  }

  .disabled-btn {
      background-color: #cec7c7;
      cursor: pointer;
  }

}
