<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div style="text-align: center;padding: 16px;">
            <div class="img-con">   
              <i style="color: #4ac942;font-size: 5rem;" class="icon icon-successfully"></i>
            </div>
            <p style="margin-top: 10px;">Password Correct</p>
        </div>
    </div>
</div>
<div style="margin-bottom: 5px;text-align: center;">
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class=" text-center">
            <button type="button" pButton class="ui-button-success mr-4"
            (click)="close()" style="display: inline-block;background: #115943!important;" label="Proceed"></button>
            <button type="button" pButton class="ui-button-secondary mr-4" style="display: inline-block;;"
                label="Cancel" (click)="close()"></button>
        </div>
    </div>
</div>
<br>