<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [captionFontSize]="primengTableConfigProperties.captionFontSize"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox white-bg">
    <p-scrollPanel [style]="{ height: '40vh'}">
      <div class="ibox-body">
        <form>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Debit Order Run Code</label>
                <input type="text" class="form-control fidelity-form-input"
                  value="{{debitOrderRunCodeDetail?.debitOrderRunCodeName}}" disabled>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control fidelity-form-input"
                  value="{{debitOrderRunCodeDetail?.description}}" disabled>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Status</label>
                <div class="col-3">
                  <div class="form-group">
                      <label class="switch add-stack-status">
                          <input type="checkbox" [checked]="debitOrderRunCodeDetail?.isActive" disabled>
                          <span class="slider round active"></span>
                      </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </p-scrollPanel>
  </div>
</div>
