<div class="page-content fade-in-up">
    <form customForm [formGroup]="dispatchForm" (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height:auto;">
            <p-scrollPanel [style]="{height: '61vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Contact Name<span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" name="Contact Name"
                                    formControlName="keyHolderId">
                                    <option value="" disabled selected>--Select Contact Name--</option>
                                    <option *ngFor="let item of customerNameList" [value]="item.id">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-1">
                            <div style="margin-top: 30px;">
                                <button type="button" pButton icon="fa fa-plus mini-plus-btn"
                                    (click)="openAddContact(true)"></button>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Contact Number<span class="mandatory-field">*</span></label>

                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <div class="form-group" style="width: 100%!important;">
                                            <select class="form-control fidelity-form-input pad-right"
                                                style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                formControlName="contactNumberCountryCode">
                                                <option *ngFor="let countryCode of countryCodes"
                                                    [value]="countryCode.displayName">
                                                    {{countryCode.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-8 pl-0">
                                        <div class="form-group" style="width: 84%!important;">
                                            <input class="form-control fidelity-form-input" type="text" #input
                                                placeholder="Enter contactNumber"
                                                [title]="dispatchForm?.get('contactNumberCountryCode')?.value"
                                                appPhoneMask
                                                formControlName="contactNumber"
                                                style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Severity<span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" name="Severity"
                                    formControlName="severityId">
                                    <option value="" disabled selected>--Select Severity--</option>
                                    <option *ngFor="let item of severoityList" [value]="item.id">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h1 class="page-sub-title ext-padd mt-3">NOTES</h1>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Location of Fire</label>
                                <textarea accesskey="should contain a minimum of" class="form-control fidelity-form-input" type="text"
                                    formControlName="locationOfFire"
                                    [validateInput]='isAlphaNumericSomeSpecialCharterOnly' rows='2' minlength="2"
                                    maxlength="150" placeholder="Enter Location of Fire"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Additional Hazards</label>
                                <textarea accesskey="should contain a minimum of" class="form-control fidelity-form-input" type="text"
                                    formControlName="additionalHazards"
                                    [validateInput]='isAlphaNumericSomeSpecialCharterOnly' rows='2' minlength="2"
                                    maxlength="150" placeholder="Enter Additional Hazards"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Additional Info</label>
                                <textarea accesskey="should contain a minimum of" class="form-control fidelity-form-input" type="text"
                                    formControlName="additionalInformation"
                                    [validateInput]='isAlphaNumericSomeSpecialCharterOnly' rows='2' minlength="2"
                                    maxlength="150" placeholder="Enter Additional Info"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Third Party Type</label>
                                <select class="form-control fidelity-form-input" name="Third Party Type"
                                    formControlName="thirdPartyType">
                                    <option value="" disabled selected>--Select Third Party Type--</option>
                                    <option *ngFor="let item of CallWorkFlowLists" [value]="item.companyName">{{item.companyName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Contact Number</label>
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <div class="form-group" style="width: 100%!important;">
                                            <select class="form-control fidelity-form-input pad-right" #e disabled
                                                style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                formControlName="officeContactNumberCountryCode">
                                                <option *ngFor="let countryCode of countryCodes"
                                                    [value]="countryCode.displayName">
                                                    {{countryCode.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-8 pl-0">
                                        <div class="form-group" style="width: 84%!important;">
                                            <input id="mobileNumber2" #input
                                                style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                formControlName="officeContactNumber"     #e1 disabled
                                                class="form-control fidelity-form-input "
                                                name="Contact Number" placeholder="Contact Number" />
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <div class="col-2" style="margin: 28px;">
                            <div class="row">
                                <div class="" style="cursor: pointer;" (click)="callDail(e,e1)">
                                    <img class="call-workflow-call-icon" src="/assets/img/call-green.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </p-scrollPanel>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" type="submit">Call
                Fire Department</button>
        </div>

    </form>
</div>