
<div class="page-content fade-in-up" *ngIf="!showWarringMsg">
    <form customForm [formGroup]="dispatchForm" (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Alarm Type<span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" name="Alarm Type" formControlName="alarmTypeId">
                                    <option value="" disabled selected>--Select Alarm Type--</option>
                                    <option *ngFor="let item of alarmTypeList" [value]="item.id">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Priority<span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" name="Priority" formControlName="priority">
                                    <option value="" disabled selected>--Select Priority--</option>
                                    <option *ngFor="let item of priorityList" [value]="item.displayName">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" style="margin-top: 34px;">
                            <div class="form-group">
                                <button
                                    style="background-color: #0089ff !important;
                                                                                                                border-color: #0089ff !important;"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" type="button"
                                    (click)="dispachPost()">Dispatch</button>
                            </div>
                        </div>
                        <div class="col-2" style="margin-top: 34px;">
                            <div class="form-group">
                                <mat-checkbox class="fidelity-checkbox mr-2" formControlName="isBookTechnician"
                                    style="font-size: 17px; width: 100%;height: 100%;" (change)="show =!show" [checked]="isBookTechnician"
                                    (click)="getQuickAdd()"><b>Book Tech</b></mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h1 class="page-sub-title ext-padd mt-3">NOTES</h1>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Notepad</label>
                                <textarea accesskey="should contain a minimum of" class="form-control fidelity-form-input" type="text"
                                    formControlName="notepad" [validateInput]='isAlphaNumericSomeSpecialCharterOnly' rows='2' minlength="2"
                                    maxlength="150" minlength="10"  placeholder="Enter Notepad"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-body brown-border" *ngIf="show && isProced" id="divshow">
                    <div class="view-box">
                        <div class="col-3 heading-title mb-2">
                            <h4>Quick Add Service Call</h4>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Contact<span class="mandatory-field">*</span></label>
                                    <select class="form-control fidelity-form-input" name="" formControlName="keyholderId"
                                        [attr.disabled]="callDetailsData?.callInitiationId ? true: null">
                                        <option value="null" disabled selected>--Select Contact--</option>
                                        <option [value]="item.keyHolderId" *ngFor="let item of contactList; let i=index">
                                            {{item?.keyHolderName ? item?.keyHolderName : item?.customerName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2" style="margin-top: 30px;">
                                <button type="button" pButton icon="fa fa-plus mini-plus-btn" (click)="openAddContact(true)"
                                    [attr.disabled]="callDetailsData?.callInitiationId ? true: null"></button>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Contact No<span class="mandatory-field">*</span></label>
                                    <select class="form-control fidelity-form-input" name="contact No." formControlName="contactNo"
                                        [attr.disabled]="callDetailsData?.callInitiationId ? true: null">
                                        <option value="null" disabled selected>--Select Contact No--</option>
                                        <option [value]="item?.id" *ngFor="let item of contactNumberList; let i=index">
                                            {{item?.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Fault Description<span class="mandatory-field">*</span></label>
                                    <select class="form-control fidelity-form-input" formControlName="faultDescriptionId"
                                        [attr.disabled]="callDetailsData?.callInitiationId ? true: null">
                                        <option value="null" disabled selected>--Select Fault Description--</option>
                                        <option [value]="item.faultDescriptionId" *ngFor="let item of faultDescription; let i=index">
                                            {{item.faultDescriptionName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3" *ngIf="isCode50Enable">
                                <div class="form-group" style="margin-top: 34px;">
                                    <label class="switch add-stack-status">
                                        <input type="checkbox" formControlName="isCode50">
                                        <span class="slider round active code_50"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div formArrayName="comments" *ngFor="let obj of getCommentsListArray?.controls;let i=index">
                                <div class="row" [formGroupName]="i">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Comments</label>
                                                <textarea accesskey="should contain a minimum of" [ngClass]="{'disabled': obj.get('callInitiationCommentId').value}"
                                                    class="form-control fidelity-form-input" type="text" formControlName="comments"
                                                    [validateInput]='isAlphaNumericSomeSpecialCharterOnly' rows='2' minlength="10" maxlength="150"
                                                    placeholder="Enter comments"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                        type="submit">Log</button>
                </div>
            </p-scrollPanel>
        </div>
    </form>
</div>
<div>
    <p-dialog styleClass="changeMethodInfo" [maximizable]="true" [(visible)]="showWarringMsg" [responsive]="true"
        showEffect="fade" appendTo="body" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
        <p-header>
        </p-header>
        <div *ngIf="showWarringMsg" class="col-12" style="    text-align: center;
        padding: 13px;">
            <div class="view-box">
                <div class="col-12">
                    <p> {{callDetailsData?.warningMsg ? callDetailsData?.warningMsg : callDetailsData?.warningMessage ?
                        callDetailsData?.warningMessage : '--'}}</p>
                </div>
                <div class="col-12">
                    <button type="button" id="Feature_cancel_btn" (click)="showWarringMsg = false"
                        class="btn btn-md-fidelity fidelity-btn-brown" mat-button>Ok</button>
                </div>
            </div>
        </div>
    </p-dialog>
</div>