<div class="page-heading">
    <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>

    <ol class="breadcrumb"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
        <li class="breadcrumb-item">
            <a>
                <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item"
            *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
            <a *ngIf='breadCrumbItem.relativeRouterUrl&&!breadCrumbItem.queryParams'
                (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>

            <a *ngIf='breadCrumbItem.relativeRouterUrl&&breadCrumbItem.queryParams'
                (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
            <a *ngIf='!breadCrumbItem.relativeRouterUrl'>{{breadCrumbItem.displayName}}</a>
        </li>
    </ol>

    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">

            <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="onCRUDRequested('delete')" matTooltip="Delete"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableMultiDeleteActionBtn">
                <i aria-hidden="true" class="icon icon-delete"></i></a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onCRUDRequested('create')"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.ebableAddActionBtn"><i
                    aria-hidden="true" data-icon="b" class="icon" matTooltip="Create New"></i></a>


        </div>
    </div>
</div>

<div class="primeng-table-wrapper">

    <ng-container *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList.length > 1">
        <mat-tab-group style="margin-bottom: 5px;" [selectedIndex]="selectedTabIndex"
            (selectedTabChange)="onTabChange($event)"   class=" disable1">
            <div> 
                <mat-tab label="Client" [disabled]="!clientTab"
                   >
                </mat-tab>
            </div>
            <div>
                <mat-tab label="Community" [disabled]="!communityTab"> </mat-tab>
            </div>
            <div>
                <mat-tab label="3rd Party Monitoring" [disabled]="!partyMonitoring"> </mat-tab>
            </div>
            <div>
                <mat-tab label="CCTV" [disabled]="!cctvTab"> </mat-tab>
            </div>
        </mat-tab-group>
    </ng-container>
    <div *ngIf="selectedTabIndex == '0'">
        <mat-tab-group [selectedIndex]="selectedChildTabIndex" (selectedTabChange)="onChildTabChange($event)"
            class="fidelity-tab-group fidelity-vertical-tab mat-tab-body-padding-0">
            <mat-tab label="CREATE DISPATCH" class="bg-gray">
                <app-create-dispatch *ngIf="!viewId && selectedChildTabIndex == '0'" [customerId]="customerId"
                    [addressId]="addressId"></app-create-dispatch>
                <app-view-dispatch *ngIf="viewId && selectedChildTabIndex == '0'" [customerId]="customerId"
                    [addressId]="addressId"></app-view-dispatch>
            </mat-tab>
            <mat-tab label="FIRE" class="bg-gray">
                <app-client-fire *ngIf="!viewId && selectedChildTabIndex == '1'" [customerId]="customerId"
                    [addressId]="addressId"></app-client-fire>
                <app-view-client-fire *ngIf="viewId && selectedChildTabIndex == '1'" [customerId]="customerId"
                    [addressId]="addressId"></app-view-client-fire>
            </mat-tab>
            <mat-tab label="MEDICAL" class="bg-gray">
                <app-client-medical *ngIf="!viewId && selectedChildTabIndex == '2'" [customerId]="customerId"
                    [addressId]="addressId"></app-client-medical>
                <app-view-client-medical *ngIf="viewId && selectedChildTabIndex == '2'" [customerId]="customerId"
                    [addressId]="addressId">
                </app-view-client-medical>
            </mat-tab>
        </mat-tab-group>

    </div>

    <div *ngIf="selectedTabIndex == '1'">
        <mat-tab-group [selectedIndex]="selectedChildTabIndex" (selectedTabChange)="onChildTabChange($event)"
            class="fidelity-tab-group fidelity-vertical-tab mat-tab-body-padding-0">
            <mat-tab label="CREATE DISPATCH" class="bg-gray">
                <app-community-create-dispatch *ngIf="!viewId && selectedChildTabIndex == '0'" [customerId]="customerId"
                    [addressId]="addressId">
                </app-community-create-dispatch>
                <app-view-community-dispatch *ngIf="viewId && selectedChildTabIndex == '0'" [customerId]="customerId"
                    [addressId]="addressId">
                </app-view-community-dispatch>
            </mat-tab>
            <mat-tab label="FIRE" class="bg-gray">
                <app-community-fire *ngIf="!viewId && selectedChildTabIndex == '1'" [customerId]="customerId"
                    [addressId]="addressId"></app-community-fire>
                <app-view-community-fire *ngIf="viewId && selectedChildTabIndex == '1'" [customerId]="customerId"
                    [addressId]="addressId">
                </app-view-community-fire>
            </mat-tab>
            <mat-tab label="MEDICAL" class="bg-gray">
                <app-community-medical *ngIf="!viewId && selectedChildTabIndex == '2'" [customerId]="customerId"
                    [addressId]="addressId">
                </app-community-medical>
                <app-view-community-medical *ngIf="viewId && selectedChildTabIndex == '2'" [customerId]="customerId"
                    [addressId]="addressId">
                </app-view-community-medical>
            </mat-tab>
            <mat-tab label="SOCIAL RESPONSIBILITY" class="bg-gray">
                <app-community-social-responsibility *ngIf="!viewId && selectedChildTabIndex == '3'"
                    [customerId]="customerId" [addressId]="addressId">
                </app-community-social-responsibility>
                <app-view-community-social-responsibility *ngIf="viewId && selectedChildTabIndex == '3'"
                    [customerId]="customerId" [addressId]="addressId">
                </app-view-community-social-responsibility>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf=" selectedTabIndex == '2'">
        <mat-tab-group [selectedIndex]="selectedChildTabIndex" (selectedTabChange)="onChildTabChange($event)"
            class="fidelity-tab-group fidelity-vertical-tab mat-tab-body-padding-0">
            <mat-tab label="CREATE DISPATCH" class="bg-gray">
                <app-third-party-create-dispatch *ngIf="!viewId && selectedChildTabIndex == '0'"
                    [customerId]="customerId" [addressId]="addressId">
                </app-third-party-create-dispatch>
                <app-third-party-view-dispatch *ngIf="viewId && selectedChildTabIndex == '0'">
                </app-third-party-view-dispatch>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="selectedTabIndex == '3'">
        <mat-tab-group [selectedIndex]="selectedChildTabIndex" (selectedTabChange)="onChildTabChange($event)"
            class="fidelity-tab-group fidelity-vertical-tab mat-tab-body-padding-0">
            <mat-tab label="CREATE DISPATCH" class="bg-gray">
                <app-cctv-create *ngIf="!viewId && selectedChildTabIndex == '0'" [customerId]="customerId"
                    [addressId]="addressId">
                </app-cctv-create>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>