
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body brown-border">
            <app-view-page [col]="2" [viewDetail]="socialViewDetails" [template]="1"></app-view-page>

        </div>
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)= "navigateTo()" type="button">Back</button>
    </div>
</div>