<div class="page-content fade-in-up">
    <app-view-page [col]="2" [viewDetail]="dispacherViewDetails" [template]="1"></app-view-page>
    <div class="text-center">
        <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"  (click)="navigateTo()" type="button">Back</button>
    </div>
</div>