<div class="page-content fade-in-up">
    <form customForm [formGroup]="dispatchForm" (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <app-view-page [col]="2" [viewDetail]="fireViewDetails" [template]="1"></app-view-page>  
                    <div class="row mt-2">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Controller Name<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="controllerName" 
                                    placeholder="Enter Controller Name">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>OB Number<span class="mandatory-field">*</span></label>

                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="controllerOBNumber" [validateInput]='isAnAlphaNumericOnly'
                                    placeholder="Enter OB Number">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ETA (Minutes)<span class="mandatory-field">*</span></label>

                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="estimatedTimeOfArrival" [validateInput]='isANumberOnly'
                                    placeholder="Enter ETA" maxlength="3">
                            </div>
                        </div>
                    </div>

                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mb-2">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" type="submit"  >
                Log Call</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)= "navigateTo()"  type="button">Back</button>
        </div>

    </form>
</div>