::ng-deep .creatorNoError{
    ng-component{
        bottom: -25px ;
        white-space: nowrap;
    }  
}
.notify-heading{
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-top: 9px;
    margin-bottom: 9px;
}