<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm class="fidelity-popup-form" (ngSubmit)="onSubmitRequest()"
                [formGroup]="requestAddEditForm">
                <div class="ibox" style="height: auto;">
                    <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                        <div class="ibox-body mb-3">
                            <app-view-page [col]="2" [viewDetail]="viewWasteDisposalRequestDetails"
                                *ngIf="viewable || wdRequestId"></app-view-page>
                            <div class="row" *ngIf="!viewable && !wdRequestId">
                                <div class="col-4 red-pad">
                                    <div class="form-group fidelity-multiselect-dropdown-con auto-adjust">
                                        <label for="warehouse">Warehouse<span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete [placeholder]="'Select Warehouse'" ngDefaultControl
                                            [formControl]="requestAddEditForm?.get('warehouseId')" id="warehouseId"
                                            [options]="warehouseList" [value]="'id'" [display]="'displayName'"
                                            [multiple]='false' required>
                                        </mat-select-autocomplete>
                                        <span class="text-danger"
                                            *ngIf="requestAddEditForm?.get('warehouseId')?.touched && requestAddEditForm?.get('warehouseId')?.invalid">
                                            Please select warehouse
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-3 mr-3" *ngIf="!viewable">
                            <button class="btn btn-md-fidelity fidelity-btn-brown" type="button"
                                (click)="onDeleteAllItem()"
                                [disabled]="isSubmitted || !requestAddEditForm?.valid || getRequestFormArray?.value?.length == 0">{{'Delete'}}</button>
                        </div>
                        <div class="ibox-body mb-3">
                            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabClick($event)"
                                class="fidelity-tab-group mat-tab-body-padding-0">
                                <mat-tab label="Assets" class="bg-gray text-uppercase">
                                </mat-tab>
                                <mat-tab label="Consumables" class="bg-gray text-uppercase">
                                </mat-tab>
                            </mat-tab-group>
                            <app-request-details-item [wdRequestId]="wdRequestId"
                                [requestFormGroup]="requestAddEditForm" [wasteDisposalDetails]="wasteDisposalDetails"
                                [showAction]="showAction" [selectedIndex]="selectedIndex" [isLoading]="isLoading"
                                [viewable]="viewable" (onQuantitySubmitted)="onConsumeQuantitySubmit($event)"
                                (onStockInfoSubmitted)="onStockInfoSubmit($event)"
                                (itemDeleteSubmitted)="onItemDeleteSubmit($event)"></app-request-details-item>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3" *ngIf="!viewable">
                    <button class="btn btn-md-fidelity fidelity-btn-brown"
                        [disabled]="isSubmitted || !requestAddEditForm?.valid || getRequestFormArray?.value?.length == 0">{{btnName}}</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        routerLink="/inventory/waste-disposal/waste-disposal-request">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
