.input-group-append {
    position: absolute;
    right: -5px;
}

::ng-deep mat-form-field ng-component {
    position: absolute !important;
    left: -11px;
    bottom: -22px;
}

::ng-deep input.custom-input-field{
        height: 28px;
        padding-top: 10px;
}

::ng-deep mat-form-field.mat-form-field-invalid.ng-invalid {
    border-color: #dc3545 !important;
    box-shadow: 0 0 2px #dc3545 !important;
}

::ng-deep .cdk-overlay-pane{
    // width: 297.562px;
    width: auto;
    left: 582.038px !important;
}