<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
  ></app-page-header>
<form customForm [formGroup]="productivityTargetExclusionForm" (ngSubmit)="onSubmit()">
  <p-scrollPanel [style]="{height: '68vh'}" styleClass="custom">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox" style="height: auto;">
          <div class="ibox-body brown-border">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label> Productivity Target Exclusion <span class="mandatory-field">*</span> </label>
                  <input type="text" formControlName="productivityTargetExclusionName"
                    class="form-control fidelity-form-input" placeholder="Productivity Target Exclusion">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Request Periods(In Days) <span class="mandatory-field">*</span></label>
                  <input type="text" [validateInput]='isNumberOnly' formControlName="requestDays" class="form-control fidelity-form-input"
                    placeholder="Productivity Target Exclusion">
                </div>
              </div>
              <div class="col-4">
                <label>Description</label>
                <div class="form-group">
                  <textarea class="form-control fidelity-form-input" formControlName="description" rows="2"
                    placeholder="Productivity Target Exclusion"></textarea>
                </div>
              </div>
              <div class="col-4 mb-3">
                <div class="col-12 mb-2 p-0">Status</div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <label class="active switch">
                      <input type="checkbox" formControlName="isActive">
                      <span class="slider round active"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-scrollPanel>
  <div class="text-center mt-2 mb-2">
    <button type="submit"
      class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2">{{!productivityTargetExclusionId?
      'Create':'Update'}}</button>
    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
      (click)="navigateToView()">Cancel</button>
  </div>
</form>
