::ng-deep .p-relative .daily-recurrence-input + ng-component {
  position: absolute!important;
  bottom: -20px;
}

::ng-deep.p-relative .weekly-recurrence-input + ng-component {
  left: 20px;
}

.fidelity-form-input.no-box {
  width: 50px;
}

select.fidelity-form-input.no-box {
  width: 100px;
  font-size: 1rem;
}

::ng-deep .period .mat-form-field {
  border: none !important;

  mat-select.mat-select {
    padding: 9.2px 8px;
  }
}


::ng-deep mat-select-autocomplete.is-invalid {
  .mat-form-field {
    .mat-form-field-wrapper {
      border: 1px solid #dc3545 !important;
      box-shadow: 0 0 2px #dc3545 !important;
      border-radius: 7px !important;
    }
  }
}

.form-group:not(.item-mapping) {
  width: 80%;
}

