<div class="fidelity-popup-heading container-fluid p-relative">Statement Fee Discount
  <button mat-icon-button class="close-button p-absolute " [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<form customForm [formGroup]="statementFeeDiscountAddEditForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content style="height: 35vh;">
    <div class="page-content fade-in-up">
      <div class="">
        <div class="ibox-body brown-border mt-2">
          <app-view-page [col]="2" [viewDetail]="viewData"></app-view-page>
          <div class="row mt-2">
            <div class="col-lg-6">
              <label class="d-block mt-2 key">Approvers Note</label>
              <div class="form-group">
                <mat-radio-group name="Type Of Fee" formControlName="isApproved">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Approved
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    Declined
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-lg-6">
              <label class="d-block mt-2">Comments<span *ngIf="!statementFeeDiscountAddEditForm.value.isApproved"
                  class="mandatory-field">*</span></label>
              <div class="form-group">
                <input [validateInput]="isAnAlphaNumericOnly" formControlName="comments"
                  [maxLength]="formConfigs.maxLengthFifty" placeholder="Comments"
                  class="form-control fidelity-form-input" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
    <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
      [mat-dialog-close]="true">Cancel</button>
  </mat-dialog-actions>
</form>
