.move-left.align-middle.go-forward.transfer-btn:hover, 
.move-right.align-middle.go-backward.transfer-btn:hover {
    background-color: #1F7E61!important;
}

.move-left.align-middle.go-forward.transfer-btn:hover > .fa, 
.move-right.align-middle.go-backward.transfer-btn:hover > .fa {
  color: #fff;
}

.circle-color {
    width:200px;height: 200px;border-radius: 50%;
    border: 1px solid lightgray
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

#add_new_role {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #989696;
    text-align: center;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: -32px;
    top: 32px;
}

.page-heading {
  margin-bottom: 0;
}

.status-checkbox-con > div:nth-child(3) {
      margin-left: 15px;
}

.status-checkbox-con {
  left: 25px;
}

.p-5.red-pad {
  padding-top: 1vh!important;
}

/*custom check box styles*/
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 2px;
    left: -19px;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #cdcdc8;
}

.checkmark.round {
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #0ab50a;
}

.check-container input:checked ~ .checkmark.assigned-role {
	background-color: #115943;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.role-tree {
	margin-left: 20px;
}

.role-search {
	height: 35px;
}

.move-left.go-forward, .move-right.go-backward {
	width: 40px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #5555558f;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
        margin: 10px 0;
}

.move-left.go-forward i.fa, .move-right.go-backward i.fa {
  color: #5555558f;
}