<app-page-header class="row faq-config ml-2" [tableCaption]="primengTableConfigProperties?.tableCaption"
  [tableComponentConfigs]="primengTableConfigProperties?.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
  (buttonClicked)="onCRUDRequested($event)"[breadCrumbItems]="primengTableConfigProperties.breadCrumbItems">
</app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox white-bg" style="height: unset !important;">
          <div class="ibox-body brown-border view-box" style="height: 20vh;">
              <form [formGroup]="incentiveForm"  class="p-absolute" style="top: 50px;left: 20px;right: 68px; z-index: 10;">
                <div class="row">
                  <div class="col-4">
                      <div class="form-group fidelity-date-picker-con p-relative dealer-maintenance-date-con">
                          <label>Month & Year<span class="mandatory-field">*</span></label>
                          <p-calendar [minDate]="startTodayDate" [readonlyInput]="true" formControlName="reportDate" styleClass="w-100"></p-calendar>
                      </div>
                  </div>
                  <div class="col-4">
                    <label></label>
                    <div class="text-center mt-3">
                      <button type="button" (click)="search(0,10,null)"  pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
                      [label]="'Search'" ></button>
                     </div>
                  </div>
                </div>
              </form>
          </div>
  </div>
  <div class="ibox white-bg" style="height: unset !important;margin-top: 20px;">
    <div class="ibox-body brown-border view-box" style="height: 40vh;">
      <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
      [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
     [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [first]="first" [searchFirst]="true" (onActionSubmited)="onActionSubmited($event)">
   </app-page-list-table>
    </div>
  </div>
</div>
