.page-heading .fidelity-btn-circle + .fidelity-btn-circle {
    top: 0px;
}
.mat-datetimepicker-calendar[mode='auto'] {
    width: 446px;
    height: 328px;
    position: absolute;
    background: green;
    top: 206px;
    left: 200px;
}
::ng-deep .mat-tab-header {
    margin-bottom: 10px!important;
}

::ng-deep .maintaining-bank-branch-table .ui-resizable-column.ui-table-reorderablerow-handle{
    width: 50%;
}
