<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
            <div class="ibox-body">
                <app-view-page [col]="2" [viewDetail]="varianceReportDetails" style="min-width: 100%;">
                </app-view-page>
            </div>
            <div class="ibox-body mt-3">
                <!-- picked-batches-table-con -->
                <div style="overflow-x: auto;">
                    <p-table class="custom-scroll" [columns]="cols" [value]="varianceStockDetails?.items" dataKey="itemId">
                            <ng-template pTemplate="header" let-columns >
                                <tr>
                                    <th style="width: 3em"></th>
                                    <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-expanded="expanded" 
                                let-columns="columns" >
                                <tr>
                                    <td>
                                        <a href="#" [pRowToggler]="rowData">
                                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                        </a>
                                    </td>
                                    <td class="col-2" *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                        <div class="form-group">
                                            <input type="text" class="form-control fidelity-form-input disabled" maxlength="100" name="nettAmount" value="{{rowData[col.field]}}"/>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>                            
                            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                                <tr>
                                    <td [attr.colspan]="columns.length + 1">
                                        <div class="ui-g ui-fluid p-relative" style="font-size:16px;padding:20px;background: #fff;">
                                            
                                            <div class="ui-g-6 ui-md-6">
                                                <div class="ui-g">
                                                    <div class="row mt-3" style="min-width: 100%;">
                                                        <div class="container-fluid ui-g-12">
                                                            <div class="header-row row" style="font-size: 1rem;">
                                                                <div class="col-2"><b> Serial Number </b></div>
                                                                <div class="col-2"><b> Pos/Neg. Diff. Value </b></div>
                                                                <div class="col-2"><b> Action </b></div>
                                                                <div class="col-2"><b> Supporting Documents </b></div>
                                                                <div class="col-2"><b> Reference Number </b></div>
                                                                <div class="col-2"><b> Payroll Number </b></div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="container-fluid mt-2 ui-g-12">
                                                            <div class="children-row row mb-2" *ngFor="let items of rowData?.itemDetails; let i = index">
                                                                <div class="col-2">
                                                                    <input type="text" class="form-control fidelity-form-input disabled" 
                                                                    [value]="items.serialNumber" matTooltip="{{items.serialNumber}}">
                                                                </div>
                                                                <div class="col-2">
                                                                    <input type="text" class="form-control fidelity-form-input disabled" 
                                                                    [value]="items.isPosDiffValue == null &&  items.isNegDiffValue == null ? '-' : 
                                                                    items.isPosDiffValue ? 'Positive difference' : items.isNegDiffValue ? 'Negative difference' : '-'" 
                                                                    matTooltip="{{items.isPosDiffValue == null &&  items.isNegDiffValue == null ? '-' : 
                                                                    items.isPosDiffValue ? 'Positive difference' : items.isNegDiffValue ? 'Negative difference' : '-'}}">
                                                                </div>
                                                                <div class="col-2">
                                                                    <input type="text" class="form-control fidelity-form-input disabled" 
                                                                    [value]="items.processType" matTooltip="{{items.processType}}">
                                                                </div>
                                                                <div class="col-2">
                                                                    <input type="text" class="form-control fidelity-form-input" readonly [value]="items.supportDocumentPath"
                                                                    style="color: #007bff; text-decoration: underline; cursor: pointer;" matTooltip="{{items.supportDocumentPath}}"
                                                                    (click)="openAODApproval(items)">
                                                                </div>
                                                                <div class="col-2"> 
                                                                    <input type="text" class="form-control fidelity-form-input disabled" 
                                                                    *ngIf="items.processType != 'Customer Invoice'"
                                                                    [value]="items.referenceNumber" matTooltip="{{items.referenceNumber}}">

                                                                    <input type="text" class="form-control fidelity-form-input" readonly [value]="items.referenceNumber"
                                                                    *ngIf="items.processType == 'Customer Invoice'" style="color: #007bff; text-decoration: underline; cursor: pointer;" 
                                                                    matTooltip="{{items.referenceNumber}}" (click)="navigateToSericeCallPage(items)">
                                                                </div>
                                                                <div class="col-2">
                                                                    <input type="text" class="form-control fidelity-form-input disabled" 
                                                                    [value]="items.payrollNumber" matTooltip="{{items.payrollNumber}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <tr>
                                    <td> Total Nett Variance Amount</td>
                                    <td style="width: 100px;"> {{varianceReportGetDetails?.totalNetVarianceAmount}} </td>
                                </tr>
                            </ng-template>
                    </p-table>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>


 


