
.page-heading .fidelity-btn-circle + .fidelity-btn-circle {
    top: 0px;
}
.mat-datetimepicker-calendar[mode='auto'] {
    width: 446px;
    height: 328px;
    position: absolute;
    background: green;
    top: 206px;
    left: 200px;
}
::ng-deep .mat-tab-header {
    margin-bottom: 10px!important;
}

::ng-deep .slider.round:after {
    content: "Inactive";
    font-size: 0.9rem!important;
    right: 4px !important;
    top: 4px !important;
}

::ng-deep input:checked + .slider:after {
    content: "Active";
}

::ng-deep .slider:before {
    background-color: #F35665;
}

