::ng-deep .green-header-table {
    .ui-picklist-caption {
        background-color: #00644A!important;
        color: #fff!important;
        border-radius: 6px 6px 0 0!important;
    }

    .ui-picklist-buttons-cell {
        .ui-button:nth-child(1),.ui-button:nth-child(2) {
            background-color: #00644A;
            border-color: #00644A;
        }
    
        .ui-button:nth-child(3),.ui-button:nth-child(4) {
            background-color: #F35665;
            border-color: #F35665;
        }
    }
}

.custom-error{
    ::ng-deep ng-component {
        position: absolute !important;
        bottom: -32px;
        left: 48px;
    }
}