<div class="page-heading">
  <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>
  <ol class="breadcrumb"
    *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
    <li class="breadcrumb-item">
      <a>
        <i class="fa fa-home" aria-hidden="true"></i></a>
    </li>
    <li class="breadcrumb-item"
      *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
      <a *ngIf='breadCrumbItem.relativeRouterUrl&&!breadCrumbItem.queryParams'>{{breadCrumbItem.displayName}}</a>
      <a *ngIf='breadCrumbItem.relativeRouterUrl&&breadCrumbItem.queryParams'>{{breadCrumbItem.displayName}}</a>
      <a *ngIf='!breadCrumbItem.relativeRouterUrl'>{{breadCrumbItem.displayName}}</a>
    </li>
  </ol>
  <div class="grid-icons-con float-right pr-0">
    <div class="d-flex fidelity-search-input-con">
      <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        (click)="onCRUDRequested('delete')" matTooltip="Delete"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableMultiDeleteActionBtn">
        <i aria-hidden="true" class="icon icon-delete"></i></a>
      <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" (click)="onCRUDRequested('create')"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enbableAddActionBtn"><i
          aria-hidden="true" data-icon="b" class="icon" matTooltip="Create New"></i></a>
    </div>
  </div>
</div>
<div class="primeng-table-wrapper">
  <ng-container *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList.length > 1">
    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
      <mat-tab [label]="tables.caption"
        *ngFor='let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index'>
        <form [formGroup]="columnFilterForm">
          <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
            [(selection)]="selectedRows" [scrollable]="true" scrollHeight="327px" [autoLayout]="true"
            [resizableColumns]="tables?.resizableColumns" (onLazyLoad)="loadPaginationLazy($event)" [value]="dataList"
            [dataKey]="tables.dataKey" [paginator]="(totalRecords == 0) ? false : true" [rows]="10"
            [totalRecords]="totalRecords" [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null"
            [responsive]="true" columnResizeMode="expand" [reorderableColumns]="tables?.reorderableColumns">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix" style="text-align: left">
                <div class="row">
                  <div class="col-md-5">
                    <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                      (click)="dt.exportCSV()" style="margin-right: 0.5em;" *ngIf="tables?.enableExportCSV"></button>
                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                      style="margin-right: 0.5em;" class="ui-button-success" *ngIf="tables?.enableExportExcel"></button>
                    <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only"
                      (click)="dt.exportCSV({selectionOnly:true})" style="margin-right: 0.5em;"
                      class="ui-button-warning" *ngIf="tables?.enableExportCSVSelected"></button>
                    <button type="button" pButton icon="pi pi-file" iconPos="left" label="Reset" (click)="dt.reset()"
                      style="margin-right: 0.5em;" class="ui-button-secondary" *ngIf="tables?.enableReset"></button>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr class="first-row">
                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                  </p-sortIcon>
                </th>
                <th [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                  Action
                </th>
              </tr>
              <tr *ngIf="tables?.enableFieldsSearch">
                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox"></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input [formControlName]="col.field"
                    *ngIf="col.field != 'status' && col.field != 'leadGroupName' && col.field != 'siteTypeName' && col.field != 'siteType'
                     && col.field != 'iconClass' && col.field != 'callDateTime' &&  col.field != 'loadDate' && col.field != 'leadStatusName'
                     && col.field != 'sellerFollowupDate' && col.field != 'agentFollowupDate'&& col.field!='callbackDateTime' && 
                     col.field != 'createdDate'&& i == selectedTabIndex&&col.field != 'reconnectionArea' && col.field != 'requestDate' && col.field !='reference'"
                    pInputText type="text" validateInput>
                  <p-dropdown [formControlName]="col.field" optionLabel="displayName"
                    *ngIf=" col.field == 'leadStatusName' && i == selectedTabIndex" 
                    appendTo="body" [style]="{'display':'block'}" [options]="status" placeholder="Select Status"
                    [style]="{'display':'block'}" (onChange)="dt.filter($event.value, col.field, 'equals')"
                    [showClear]="true">
                  </p-dropdown>
                  <p-dropdown [formControlName]="col.field" *ngIf="col.field == 'status' && i == selectedTabIndex " optionLabel="displayName"
                     appendTo="body" [style]="{'display':'block'}" [options]="status"
                    placeholder="Select Site Type" [style]="{'display':'block'}"
                    (onChange)="dt.filter($event.value, col.field, 'equals')" [showClear]="true">
                  </p-dropdown>
                  <p-dropdown [formControlName]="col.field" optionLabel="displayName"
                    *ngIf="col.field == 'siteType' || col.field == 'siteTypeName' && i == selectedTabIndex "
                     appendTo="body" [style]="{'display':'block'}" [options]="siteTypes"
                    placeholder="Select Site Type" [style]="{'display':'block'}"
                    (onChange)="dt.filter($event.value, col.field, 'equals')" [showClear]="true">
                  </p-dropdown>
                  <p-dropdown [formControlName]="col.field" optionLabel="displayName"
                    *ngIf="col.field == 'leadGroupName' && i == selectedTabIndex" 
                    appendTo="body" [style]="{'display':'block'}" [options]="group" placeholder="Select Group"
                    [style]="{'display':'block'}" (onChange)="dt.filter($event.value, col.field, 'equals')"
                    [showClear]="true">
                  </p-dropdown>
                  <p-calendar [formControlName]="col.field" [utc]='true'
                    *ngIf="(col.header.toLowerCase().includes('date') || col.field == 'loadDate')  && i == selectedTabIndex"
                    (onChange)="dt.filter($event.value, col.field, 'equals')">
                  </p-calendar>
                </th>
                <th [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns" let-expanded="expanded">
              <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
                <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
                  <a href="#" [pRowToggler]="rowData" *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
                  <ng-container *ngIf="col.header == 'Status' || col.header == 'Notes' ||  col.header == 'Call Time' 
                    || col.header == 'Name' || col.header == 'Phone Number' ||col.header == 'Agent Mobile Number' || col.header == 'MobileNo1' || col.header == 'Reference' || 
                    col.header.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                  </ng-container>
                  <ng-template #thenTemplate>
                    <ng-container *ngIf="col.header == 'Status'">
                      <span class="status-label pos-top status-label-pink"
                        [ngClass]="selectedTabIndex == 0 ? rowData['cssClass'] : rowData['leadStatusCssClass']"
                        (click)="onCRUDRequested('status popup',rowData)"
                        style="box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);cursor: pointer;">
                        {{rowData[col.field]}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="col.header.toLowerCase().includes('date') || col.header == 'Call Time' ">
                      <span pTooltip="{{rowData[col.field] | date}}" tooltipPosition="top">
                        {{rowData[col.field] ? (rowData[col.field] | date) : '--'}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="col.header == 'Notes'&&col.field=='iconClass'">
                      <span [attr.class]="rowData[col.field]" style="cursor: pointer;font-size: 19px;margin: 20%;"
                        (click)="onCRUDRequested('icon popup',rowData)">
                      </span>
                    </ng-container>
                    <ng-container *ngIf="col.header == 'Notes'&&col.field=='notes'">
                      <div> {{rowData[col.field] ? rowData[col.field] : '--'}}</div>
                    </ng-container>
                    <ng-container *ngIf="col.header == 'Name'">
                      <ng-container *ngIf="selectedTabIndex == 0">
                        <div *ngIf="!rowData.customerNumber">
                          {{rowData.clientName ? (rowData.clientName | truncate : 15 : "..."):'-' }}
                        </div>
                        <div *ngIf="rowData.customerNumber"><a
                            [routerLink]="'/customer/manage-customers/view/'+rowData.customerId" skipLocationChange>
                            {{rowData.clientName ? (rowData.clientName | truncate : 15 : "..."):'-' }}
                          </a>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="selectedTabIndex == 1 || selectedTabIndex == 2 ">
                        {{rowData.clientName ? (rowData.clientName | truncate : 15 : "..."):'-' }}
                      </ng-container>
                    </ng-container>
                    <ng-container
                      *ngIf="col.header == 'Phone Number' ||col.header == 'Agent Mobile Number' || col.header == 'Reference' || col.header == 'MobileNo1'">
                      <div
                        *ngIf="col.header == 'Phone Number'||col.header == 'Agent Mobile Number'|| col.header == 'MobileNo1'"
                        (click)="contactNumber(rowData)" style="cursor: pointer;">
                        <span><i aria-hidden="true" class="icon icon-call-pick"></i>
                          {{rowData[col.field] ? (rowData[col.field]| phoneMask) : '--'}}</span>
                      </div>
                      <div *ngIf="col.header == 'Reference'">
                        <a href="{{rowData[col.field]}}" target="_blank">
                          <button type="button" pButton icon="pi pi-file" iconPos="left"
                            style="margin-right: 0.5em;"></button>
                        </a>
                      </div>
                    </ng-container>
                  </ng-template>
                  <ng-template #elseTemplate>
                    <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                      <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                        (click)="onCRUDRequested('edit',rowData,selectedTabIndex,col.field=='leadCallbackRefNo'?col.field:null)">
                        {{rowData[col.field] ? rowData[col.field] : '--'}}
                      </a>
                    </ng-container>
                    <ng-container *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex)&&col.field!=='leadNumber' && 
                      col.field!=='quotationNumber'">
                      {{rowData[col.field] ? rowData[col.field] : '--'}}
                    </ng-container>
                    <ng-container *ngIf="col.field=='leadNumber' || 
                    col.field=='quotationNumber'">
                      <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                        (click)="onCRUDRequested('edit',rowData,selectedTabIndex,col.field)">
                        {{rowData[col.field] ? rowData[col.field] : '--'}}
                      </a>
                    </ng-container>
                  </ng-template>
                </td>
                <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                  <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                    class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <p *ngIf="totalRecords == 0" class="no-data-msg mt-2">No Data found</p>
            </ng-template>
            <ng-template *ngIf="dataList?.length>0" pTemplate="paginatorleft" let-state>
              <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows * (state.page
                  + 1) : totalRecords}} of <strong>{{totalRecords ? totalRecords : pageSize}}</strong> entries
              </p>
            </ng-template>
          </p-table>
        </form>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>