<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex">
</app-page-header>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm class="fidelity-popup-form" (ngSubmit)="onSubmitContacts()"
                [formGroup]="noContactsAddEditForm">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
                        <div class="ibox-body mb-3">
                            <app-view-page [col]="2" [viewDetail]="viewNoContactsDetails"></app-view-page>
                        </div>
                        <div class="ibox-body mb-3">
                            <app-no-contacts-item [noContactsItemForm]="noContactsAddEditForm" [isLoading]="isLoading"
                                [callStatusList]="callStatusList" [noContactsFormArrayName]="'noContactsDetailsArray'"
                                (changeStatus)="onChangeStatus($event)" (initCall)="callDail($event)"></app-no-contacts-item>
                            <div class="row parent-row mb-1">
                                <div class="col-4">
                                    <label class="d-block">Comments</label>
                                    <textarea class="form-control fidelity-form-input" type="text" rows="2"
                                    formControlName="Comments"></textarea>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-md-fidelity fidelity-btn-brown"
                        [disabled]="isSubmitted || !noContactsAddEditForm?.valid">{{'Save'}}</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        routerLink="/technical-management/inspection-call">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>