<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"> </app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="openAreaConfigForm" customForm (ngSubmit)="onSubmit()">

        <div class="ibox white-bg sm-inputs" style="height: auto;">
          <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Reason<span class="mandatory-field">*</span></label>

                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="20"
                                    placeholder="Enter Name" formControlName="openAreaReason">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*
                                    </span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAStringOnly' minlength="10" maxlength="150"
                                    placeholder="Enter Description" formControlName="description">
                             </textarea>
                            </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                              <label class="d-block">Status<span class="mandatory-field">*</span></label>
                              <label class="switch add-stack-status">
                                  <input type="checkbox" formControlName="isActive">
                                  <span class="slider round active"></span>
                              </label>
                          </div>
                      </div>
                    </div>
                </div>
              </p-scrollPanel>
        </div>

        <div class="text-center mt-3">
          <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{openAreaReasonId ?
              'Update' : 'Save'}}</button>
          <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
              routerLink='/event-management/ro-configuration' [queryParams]="{tab:17}">Cancel</button>
      </div>

    </form>
</div>
