<div class="page-heading">
    <h3 class="page-sub-title pull-left mb-0">{{primengTableConfigProperties.tableCaption}}</h3>
    <button class="status-label status-label-green pull-right" style="border: none;"
        (click)="addLocation(false, true)">Update Location
        <span class="fa fa-plus-circle"></span></button>
    <div class="clearfix"></div>
    <ol class="breadcrumb"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item"
            *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
            <a *ngIf='breadCrumbItem.relativeRouterUrl&&!breadCrumbItem.queryParams'
                (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
            <a *ngIf='breadCrumbItem.relativeRouterUrl&&breadCrumbItem.queryParams'
                (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
            <a *ngIf='!breadCrumbItem.relativeRouterUrl'>{{breadCrumbItem.displayName}}</a>
        </li>
    </ol>

    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">
            <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="onCRUDRequested('delete')" matTooltip="Delete"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableMultiDeleteActionBtn">
                <i aria-hidden="true" class="icon icon-delete"></i>
            </a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onCRUDRequested('create')"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.shouldShowCreateActionBtn">
                <i aria-hidden="true" data-icon="b" class="icon" matTooltip="Create New"></i>
            </a>
        </div>
    </div>
</div>
<div class="primeng-table-wrapper">
    <ng-container
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList.length > 1; else elseTemplateTable">
    </ng-container>
    <ng-template #elseTemplateTable>
        <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
            <div class="custom-scroll1" style="overflow-x: auto;height: 35vh">
                <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                    [status]="status" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
                    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [customScroll]="false"
                    (onActionSubmited)="onActionSubmited($event)">
                </app-page-list-table>
            </div>
        </div>

    </ng-template>
</div>