<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative">
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
  </div>
  <app-popup-loader></app-popup-loader>
  <div class="fdt-dialog-body">
    <form autocomplete="off" [formGroup]="dealerTypeDialogForm" customForm class="fidelity-popup-form"
    (ngSubmit)="onSubmitDelaerTypeDialog()"  style="font-size: 0.9rem!important;">
      <div>
        <div>

            <div class="view-box mr-3">
              <div class="row mt-1">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>Dealer Type Name<span class="mandatory-field">*</span></label>
                      <input class="form-control fidelity-form-input" type="text" name="dealerTypeName"  formControlName="dealerTypeName"/>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>Description<span class="mandatory-field">*</span></label>
                      <input class="form-control fidelity-form-input" type="text" name="description"  formControlName="description"/>
                    </div>
                  </div>    
              
              </div>
            </div>
    
        </div>
      </div>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="text-center">
          <button  type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
          [label]="this.config?.data?.screen == 'view'?'Update':'Save'" ></button>
          <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  