<div class="page-heading ">
  <h1 class="page-title no-border">Upgrade - DOA Approval
  </h1>
</div>

  <p-scrollPanel [style]="{height: '68vh'}" styleClass="custom">
    <form action="" customForm [formGroup]="priceAdjustmentForm">
    <div class="page-content fade-in-up">
      <div class="ibox view-box">

        <div class="ibox service-agreement-con">
          <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">

            <div class="row page-sub-title mt-2 mb-2">
              <div class="col-12">Services Discounts</div>
            </div>
            <div class="cost-custom-table">
              <table>
                <thead>
                  <tr>
                    <th style="width:26%">Sales Category</th>
                    <th class="text-center" style="width:7%">Fixed</th>
                    <th class="text-center" style="width:7%">%</th>
                    <th style="width:10%">Value</th>
                    <th style="width:10%">Sub Total</th>
                    <th style="width:10%">Disc Value</th>
                    <th style="width:10%">Adjusted Total</th>
                    <th style="width:10%">Vat</th>
                    <th style="width:10%">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr formArrayName="upgradeServiceAdjustCostingPostDTOs"
                    *ngFor="let obj of priceAdjustmentForm?.get('upgradeServiceAdjustCostingPostDTOs')?.controls;let i=index">
                    <ng-container [formGroupName]="i">
                      <td><span class="cost-td-values" style="font-size:12px">
                          {{obj.value.serviceCategoryName}} </span></td>
                      <td class="text-center">
                        <p-radioButton [name]="i" [disabled]='true' [value]="true" formControlName="isDiscountAmount">
                        </p-radioButton>
                      </td>
                      <td class="text-center">
                        <p-radioButton [disabled]='true' [name]="i" formControlName="isDiscountPercentage" [value]="true">
                        </p-radioButton>
                      </td>
                      <td>

                        <span class="cost-td-values">R {{obj.value.amount}}</span>

                      </td>
                      <td><span class="cost-td-values">R {{obj.value.subTotal}}</span></td>
                      <td><span class="cost-td-values">R {{obj.value.discountAmount}}</span></td>
                      <td><span class="cost-td-values">R {{obj.value.adjustedTotal}}</span></td>
                      <td><span class="cost-td-values">R {{obj.value.vat}}</span></td>
                      <td><span class="cost-td-values">R {{obj.value.totalAmount}}</span></td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Discount Summary -->
            <div class="mt-4 mb-4">
              <div class="page-heading">
                <h5 class="no-border page-sub-title"> DISCOUNT SUMMARY</h5>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label>Service</label>
                    <input type="text" [value]="adjustCostingDetails.upgradeServiceAdjustCostingAmountSummaryDTO.discountAmount" disabled class="form-control fidelity-form-input">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Current Monthly Inst</label>
                    <input type="text" [value]="adjustCostingDetails.upgradeServiceAdjustCostingAmountSummaryDTO.currentMonthlyInst" disabled class="form-control fidelity-form-input">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label>Percentage</label>
                    <input type="text" [value]="adjustCostingDetails.upgradeServiceAdjustCostingAmountSummaryDTO.discountPercentage" disabled
                      class="form-control fidelity-form-input">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Future Monthly Inst</label>
                    <input type="text" [value]="adjustCostingDetails.upgradeServiceAdjustCostingAmountSummaryDTO.futureMonthlyInst" disabled class="form-control fidelity-form-input">
                  </div>
                </div>
              </div>

            </div>

            <div class="mt-4">
              <div class="row">
                <div class="col-6"></div>
                <div class="col-6 text-right font-size-12">DOA Approve Level &nbsp; &nbsp; <span
                    class="btn btn-info btn-md-fidelity font-size-12">{{doaDetails?.doaLevel?doaDetails?.doaLevel:'-'}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </p-scrollPanel>
  <div class="text-center mt-2">
    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown" (click)="approve()">Approve</button>
    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey color-red" (click)="decline()">Decline</button>
  </div>

