<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="hide-quick-action-menu quick-action-sidebar" *ngIf="openQuickAction"
    style="position: absolute;right: 60px;top: 51px;">
    <div class="quick-action-sidebar-header d-flex justify-content-between align-items-center">
        <span>Quick Action</span>
        <span class="icon icon-close-icon" (click)="toggleQuickAction()"></span>
    </div>
    <div class="quick-action-sidebar-body">

        <ul class="quick-action-menu-con">

        </ul>
    </div>
</div>

<div class="page-content fade-in-up">
    <mat-tab-group class="fidelity-tab-group mat-tab-body-padding-0" [selectedIndex]="selectedTabIndex"
        (selectedTabChange)="onSequenceChangeEvent($event)">
        <mat-tab label="CRIME DOCKET" class="bg-gray">
            <div class="ibox view-box">
                <app-crime-docket-basic-info [occurrenceBookId]="occurrenceBookId" *ngIf="selectedTabIndex == '0'">
                </app-crime-docket-basic-info>
                <form customForm [formGroup]="crimeDocketForm" (ngSubmit)="onSubmit()" style="    width: 100%;">
                    <div class="ibox-body p-relative" *ngIf="selectedTabIndex == '0'">
                        <mat-tab-group class="fidelity-tab-group mat-tab-body-padding-0"
                            [selectedIndex]="selectedTabCrimDocketIndex"
                            (selectedTabChange)="onCrimeDocketChangeEvent($event)">
                            <mat-tab label="BASIC INFO" class="bg-gray">
                                <div class="row">

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Incident Type</label>
                                            <select id="branch" class="form-control fidelity-form-input"
                                                name="Incident Type" placeholder="Incident Type"
                                                formControlName="incidentypeId">
                                                <option value="" disabled>Select</option>
                                                <option *ngFor="let branch of allDropdowns?.incidents"
                                                    [value]="branch.incidentTypeId">
                                                    {{branch.incidentTypeName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label class="d-block">Activation Time</label>
                                        <div class="form-group">
                                            <p-calendar formControlName="activationTime" [showIcon]="false" placeholder="Enter Activation Time" [timeOnly]="true"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="d-block">GPRS Arrival Time</label>
                                            <p-calendar formControlName="gprsArrivalTime" [showIcon]="false" placeholder="Enter Arival Time" [timeOnly]="true">
                                            </p-calendar>

                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="d-block">Response Time</label>
                                            <p-calendar formControlName="responseTime" [showIcon]="false" placeholder="Enter Response Time" [timeOnly]="true"></p-calendar>

                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Type of Signal Received</label>
                                            <input class="form-control fidelity-form-input" type="text" name="Message"
                                                placeholder="Enter Signal Received">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Signal Receive for Event</label>
                                            <select id="branch" class="form-control fidelity-form-input"
                                                name="Main Area" placeholder="Enter Event"
                                                formControlName="signalHappensOnId">
                                                <option value="" disabled>Select</option>
                                                <option *ngFor="let branch of allDropdowns?.happensOns"
                                                    [value]="branch.id">
                                                    {{branch.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Type of System</label>
                                            <input class="form-control fidelity-form-input" formControlName="systemType"
                                                type="text" name="Message" placeholder="Enter Type of System">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Officers Name</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="officerName" type="text" name="Message"
                                                placeholder="Enter Officers Name">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Response Vehicle Call Sign</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="responseOfficerVehicleCallSign" type="text"
                                                name="Message" placeholder="Enter Vehicle Call Sign">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Vehicle RNumber</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="vehicleRegistrationNumber" type="text" name="Message"
                                                placeholder="Enter Vehicle RNumber">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Seniors Name</label>
                                            <input class="form-control fidelity-form-input" formControlName="seniorName"
                                                type="text" name="Message" placeholder="Enter Seniors Name">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Perimeter Production</label>
                                            <select id="branch" class="form-control fidelity-form-input"
                                                name="Perimeter Production" placeholder="Perimeter Production"
                                                formControlName="perimeterProtectionName">
                                                <option value="" disabled>Select</option>
                                                <option *ngFor="let branch of allDropdowns?.perimeterProtections"
                                                    [value]="branch.perimeterProtectionName">
                                                    {{branch.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>How was access gained onto property</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="accessedOntoProperty" type="text" name="Message"
                                                placeholder="Enter">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>How was access into property</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="accessedIntoProperty" type="text" name="Message"
                                                placeholder="Enter">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="d-block">CCTV Footage</label>
                                            <mat-radio-group name="CCTV Footage" formControlName="isCCTVFootage">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="d-block">System Activated by senior</label>
                                            <mat-radio-group name="System Activated by senior"
                                                formControlName="isSystemActivatedBySenior">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="d-block">Was system armed at time of incident?</label>
                                            <mat-radio-group name="Was system armed at time of incident"
                                                formControlName="isSystemArmedAtIncident">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="d-block">Load Shedding</label>
                                            <mat-radio-group name="Type Of Fee" formControlName="isLoadShedding">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </mat-tab>
                            <mat-tab label="SAPS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">SAPS Present on scene</label>
                                            <mat-radio-group name="SAPS Present on scene" formControlName="isSAPS">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isSAPS').value">
                                        <div class="form-group">
                                            <label>Station</label>
                                            <select id="branch" class="form-control fidelity-form-input"
                                                name="Perimeter Production" placeholder="Perimeter Production"
                                                formControlName="stationHappensOnId">
                                                <option value="" disabled>Select</option>
                                                <option *ngFor="let branch of allDropdowns?.policeStations"
                                                    [value]="branch.id">
                                                    {{branch.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isSAPS').value">
                                        <div class="form-group">
                                            <label>SAPS Officers Name</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="sapsOfficerName" type="text" name="Message"
                                                placeholder="Client">
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isSAPS').value">
                                        <div class="form-group">
                                            <label>SAPS Officers Rank</label>
                                            <select id="branch" class="form-control fidelity-form-input"
                                                name="Perimeter Production" placeholder="Perimeter Production"
                                                formControlName="sapsOfficerRankName">
                                                <option value="" disabled>Select</option>
                                                <option *ngFor="let branch of allDropdowns?.sapsOfficerRanks"
                                                    [value]="branch.sapsOfficerRankName">
                                                    {{branch.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isSAPS').value">
                                        <div class="form-group">
                                            <label>Case Number</label>
                                            <input class="form-control fidelity-form-input" formControlName="caseNumber"
                                                type="text" name="Message" placeholder="Enter">
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isSAPS').value">
                                        <div class="form-group">
                                            <label>LCRC(F/P,DNA,Ballistics)</label>
                                            <input class="form-control fidelity-form-input" formControlName="lcrc"
                                                type="text" name="Message" placeholder="Enter">
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="SHOTS FIRED" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">Shots Fired</label>
                                            <mat-radio-group name="Shots Fired" formControlName="isShotsFired">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isShotsFired').value">
                                        <div class="form-group">
                                            <label>Fidelity ADT</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="shotsFiredByFidelityADTCount" type="text"
                                                name="Message" placeholder="Fidelity ADT">
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isShotsFired').value">
                                        <div class="form-group">
                                            <label>Client</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="shotsFiredByClientCount" type="text" name="Message"
                                                placeholder="Client">
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isShotsFired').value">
                                        <div class="form-group">
                                            <label>SAPS</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="shotsFiredBySAPCCount" type="text" name="Message"
                                                placeholder="SAPS">
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isShotsFired').value">
                                        <div class="form-group">
                                            <label>Suspects</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="shotsFiredBySuspectsCount" type="text" name="Message"
                                                placeholder="Suspects">
                                        </div>
                                    </div>

                                </div>
                            </mat-tab>
                            <mat-tab label="SUSPECT DETAILS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">Suspects</label>
                                            <mat-radio-group name="Suspects" formControlName="isSuspects">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isSuspects').value">
                                        <div class="form-group">
                                            <label>Number of suspects</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="suspectsCount" type="text" name="Message"
                                                placeholder="Number of suspects">
                                        </div>
                                    </div>

                                </div>

                                <div class="row" *ngIf="crimeDocketForm.get('isSuspects').value">
                                    <div class="col-8">
                                        <h1 class="page-sub-title ext-padd mt-3">BASIC INFO</h1>
                                    </div>
                                    <div class="col-2">
                                        <a id="add_cmc-sms-group_btn"
                                            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute"
                                            (click)="addRowSuspect()" title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-12" formArrayName="suspects"
                                    *ngFor="let obj of crimeDocketForm?.get('suspects')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i"
                                        *ngIf="crimeDocketForm.get('isSuspects').value">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Height(Meters)</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="height" placeholder="Height">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Build</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="buildId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.suspectBuilds"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Race</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="raceId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.races"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Completion</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="complexionId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.complexions"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="genderId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.genders"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Age</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="age" placeholder="Enter Age">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Facial Description</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="facialDescription" placeholder="Enter FacialDescription">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Head Gear</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="headGearId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.headGears"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Hair Color</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="hairColorId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.hairColours"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Hair Length</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="hairLengthId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.hairLengths"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Glasses</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="glassesId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.glasses"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Facial Hair</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="facialHairId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.facialHairs"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Scars</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="height" placeholder="Enter">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="d-block">Clothing</label>
                                                <mat-radio-group name="Clothing" formControlName="scars">
                                                    <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                        Yes
                                                    </mat-radio-button>
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                        No
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Graphics on cloths</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="graphicsOnClothes" placeholder="Enter">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Shirt</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="shirtTypeId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.shirtTypes"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Shirt Colour</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="shirtColor" placeholder="Enter">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Jacket</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="jacketTypeId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.jacketTypes"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Jacket Colour</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="jacketColor" placeholder="Enter JacketColor">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Pants Style</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="pantStyleId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.pantStyles"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Pant colour</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="pantColor" placeholder="Enter PantColor">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Pants Type</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="pantTypeId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.pantTypes"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Shoes</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="shoesTypeId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.shoeTypes"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Shoes Color</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="shoesColor" placeholder="Enter ShoesColor">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Jewellary</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="jewelleryId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.jewelleries"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="d-block">Gloves</label>
                                                <mat-radio-group name="Gloves" formControlName="isGloves">
                                                    <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                        Yes
                                                    </mat-radio-button>
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                        No
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Weapon</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Weapon" placeholder="Weapon" formControlName="weaponId">
                                                    <option value="" disabled>Select Weapon</option>
                                                    <option *ngFor="let branch of allDropdowns?.weapons"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Distinguishing Features</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="distinguishingFeatures"
                                                    placeholder="Enter DistinguishingFeatures">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="VICTIM DETAILS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">Victims Involved</label>
                                            <mat-radio-group name="Victims Involved" formControlName="isVictimInvolved">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isVictimInvolved').value">
                                        <div class="form-group">
                                            <label>Number of victims</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="suspectsCount" type="text" name="Message"
                                                placeholder="Number of victims">
                                        </div>
                                    </div>

                                </div>

                                <div class="row" *ngIf="crimeDocketForm.get('isVictimInvolved').value">
                                    <div class="col-8">
                                        <h1 class="page-sub-title ext-padd mt-3">VICTIM DETAILS</h1>
                                    </div>
                                    <div class="col-2">
                                        <a id="add_cmc-sms-group_btn"
                                            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute"
                                            (click)="addRowVictim()" title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-12" formArrayName="victims"
                                    *ngFor="let obj of crimeDocketForm?.get('victims')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i"
                                        *ngIf="crimeDocketForm.get('isVictimInvolved').value">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="genderId">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.genders"
                                                        [value]="branch.id">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Age</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="age" placeholder="Enter Age">
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Distinguishing Features</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="distinguishingFeatures"
                                                    placeholder="Enter DistinguishingFeatures">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="RESTRAINTS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="d-block">Restraints Used</label>
                                            <mat-radio-group name="Restraints Used" formControlName="isRestraintsUsed">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isRestraintsUsed').value">
                                        <div class="form-group">
                                            <label>Restraints Details</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="restraintsDetails" type="text" name="Message"
                                                placeholder="Enter">
                                        </div>
                                    </div>

                                </div>
                            </mat-tab>
                            <mat-tab label="INJURIES" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">Injuries</label>
                                            <mat-radio-group name="Injuries" formControlName="isInjuries">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isInjuries').value">
                                        <div class="form-group">
                                            <label>Injuries Details</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="injuryDetails" type="text" name="Message"
                                                placeholder="Injuries Details">
                                        </div>
                                    </div>

                                </div>
                            </mat-tab>
                            <mat-tab label="ITEM DETAILS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="d-block">Stolen Items</label>
                                            <mat-radio-group name="Stolen Items" formControlName="isItemsStolen">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isItemsStolen').value">
                                        <div class="form-group">
                                            <label>Estimated value of goods</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="suspectsCount" type="text" name="Message"
                                                placeholder="Enter">
                                        </div>
                                    </div>

                                </div>

                                <div class="row" *ngIf="crimeDocketForm.get('isItemsStolen').value">
                                    <div class="col-8">
                                        <h1 class="page-sub-title ext-padd mt-3">ITEM DETAILS</h1>
                                    </div>
                                    <div class="col-2">
                                        <a id="add_cmc-sms-group_btn"
                                            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute"
                                            (click)="addRowStolenItem()" title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-12" formArrayName="stolenItems"
                                    *ngFor="let obj of crimeDocketForm?.get('stolenItems')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i"
                                        *ngIf="crimeDocketForm.get('isItemsStolen').value">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Item</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="crimeDocketStolenItemName" placeholder="Enter Item">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="crimeDocketStolenItemDescription"
                                                    placeholder="Enter Description">
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="VEHICLE DETAILS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">Vehicle</label>
                                            <mat-radio-group name="Vehicle" formControlName="isVehicle">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isVehicle').value">
                                        <div class="form-group">
                                            <label>Number of vehicles</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="vehicleCount" type="text" name="Message"
                                                placeholder="Enter Number of Vehicles">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="crimeDocketForm.get('isVehicle').value">
                                    <div class="col-8">
                                        <h1 class="page-sub-title ext-padd mt-3">VEHICLE DETAILS</h1>
                                    </div>
                                    <div class="col-2">
                                        <a id="add_cmc-sms-group_btn"
                                            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute"
                                            (click)="addRowVehicle()" title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12" formArrayName="vehicles"
                                    *ngFor="let obj of crimeDocketForm?.get('vehicles')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i" *ngIf="crimeDocketForm.get('isVehicle').value">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Number of Occupants</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="occupantCount" placeholder="Enter Number of Occupants">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Make</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="vehicleMakeName">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.vehicleMakes"
                                                        [value]="branch.displayName">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Model</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="vehicleModelName">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.vehicleModels"
                                                        [value]="branch.displayName">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Colour</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="vehicleColorName">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.vehicleColors"
                                                        [value]="branch.displayName">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Shape</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="vehicleShapeName">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.vehicleShapes"
                                                        [value]="branch.displayName">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Registration</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="vehicleRegistrationNumber"
                                                    placeholder="Registration">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Damage</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="vehicleDamage" placeholder="Damage">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Distinguishable Markings</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="distinguishableMarkings"
                                                    placeholder="Enter Distinguishable Markings">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="DOGS DETAILS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">Dog on premises</label>
                                            <mat-radio-group name="Dog on premises" formControlName="isDogsOnPremises">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isDogsOnPremises').value">
                                        <div class="form-group">
                                            <label>Number of Dogs</label>
                                            <input class="form-control fidelity-form-input" formControlName="dogCount"
                                                type="text" name="Message" placeholder="Enter Number of suspects">
                                        </div>
                                    </div>

                                </div>

                                <div class="row" *ngIf="crimeDocketForm.get('isDogsOnPremises').value">
                                    <div class="col-8">
                                        <h1 class="page-sub-title ext-padd mt-3">DOG DETAILS</h1>
                                    </div>
                                    <div class="col-2">
                                        <a id="add_cmc-sms-group_btn"
                                            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute"
                                            (click)="addRowDogs()" title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12" formArrayName="dogs"
                                    *ngFor="let obj of crimeDocketForm?.get('dogs')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i"
                                        *ngIf="crimeDocketForm.get('isDogsOnPremises').value">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="col-12">Size</label>
                                                <mat-radio-group name="Size" formControlName="dogSizeId">
                                                    <mat-radio-button class="fidelity-radio-btn mr-3" [value]="1">
                                                        Small
                                                    </mat-radio-button>
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="2">
                                                        Medium
                                                    </mat-radio-button>
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="3">
                                                        Large
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="col-12">Vicious</label>
                                                <mat-radio-group name="Vicious" formControlName="isDogVicious">
                                                    <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                        Yes
                                                    </mat-radio-button>
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                        No
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Incident Type" placeholder="Incident Type"
                                                    formControlName="dogTypeName">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.dogTypes"
                                                        [value]="branch.displayName">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="GARDENER DETAILS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">Maid/Gardener on Site</label>
                                            <mat-radio-group name="Maid/Gardener on Site"
                                                formControlName="isGardenerOnSite">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isGardenerOnSite').value">
                                        <div class="form-group">
                                            <label class="col-12">Domestic staff held up</label>
                                            <mat-radio-group name="Domestic staff held up"
                                                formControlName="isDomesticStaffHeldUp">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="VEHICLE STATUS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">Was any vehicle taken from premises</label>
                                            <mat-radio-group name="Was any vehicle taken from premises"
                                                formControlName="isVehicleTakenFromPremises">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isVehicleTakenFromPremises').value">
                                        <div class="form-group">
                                            <label>Number of vehicles</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="vehicleCount" type="text" name="Message"
                                                placeholder="Enter Number of Vehicle">
                                        </div>
                                    </div>

                                </div>

                                <div class="row" *ngIf="crimeDocketForm.get('isVehicleTakenFromPremises').value">
                                    <div class="col-8">
                                        <h1 class="page-sub-title ext-padd mt-3">VEHICLE DETAILS</h1>
                                    </div>
                                    <div class="col-2">
                                        <a id="add_cmc-sms-group_btn"
                                            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute"
                                            (click)="addRowTakenVehicle()" title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-12" formArrayName="takenVehicles"
                                    *ngFor="let obj of crimeDocketForm?.get('takenVehicles')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i"
                                        *ngIf="crimeDocketForm.get('isVehicleTakenFromPremises').value">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Number of Occupents</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="occupantCount" placeholder="Enter occupantCount">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Make</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Enter Perimeter Production"
                                                    formControlName="vehicleMakeName">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.vehicleMakes"
                                                        [value]="branch.displayName">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Model</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="vehicleModelName">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.vehicleModels"
                                                        [value]="branch.displayName">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Colour</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="vehicleColorName">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.vehicleColors"
                                                        [value]="branch.displayName">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Shape</label>
                                                <select id="branch" class="form-control fidelity-form-input"
                                                    name="Perimeter Production" placeholder="Perimeter Production"
                                                    formControlName="vehicleShapeName">
                                                    <option value="" disabled>Select</option>
                                                    <option *ngFor="let branch of allDropdowns?.vehicleShapes"
                                                        [value]="branch.displayName">
                                                        {{branch.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Registration</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="vehicleRegistrationNumber" placeholder="Enter Registration">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Damage</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="vehicleDamage" placeholder="Enter Damage">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Distinguishable Markings</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    formControlName="distinguishableMarkings"
                                                    placeholder="Enter DistinguishableMarkings">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="CLIENT STATUS" class="bg-gray">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-12">Was client followed home</label>
                                            <mat-radio-group name="Was client followed home"
                                                formControlName="isClientFollowedHome">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isClientFollowedHome').value">
                                        <div class="form-group">
                                            <label>Followed From</label>
                                            <input class="form-control fidelity-form-input"
                                                formControlName="followedFrom" type="text" name="Message"
                                                placeholder="Enter">
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="crimeDocketForm.get('isClientFollowedHome').value">
                                        <div class="form-group">
                                            <label>Followed into the driveway</label>
                                            <select id="branch" class="form-control fidelity-form-input"
                                                name="Perimeter Production" placeholder="Perimeter Production"
                                                formControlName="followedIntoDriveway">
                                                <option value="" disabled>Select</option>
                                                <option *ngFor="let branch of allDropdowns?.perimeterProtections"
                                                    [value]="branch.perimeterProtectionName">
                                                    {{branch.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>

                        </mat-tab-group>

                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="submit">Save As
                            Draft</button>
                        <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                            routerLink='/event-management/supervisor-dashboard' [queryParams]="{tab:7}">Cancel</button>
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="EXISTING PROTECTION" class="bg-gray">
            <div class="ibox view-box">
                <p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
                    <app-crime-docket-basic-info [occurrenceBookId]="occurrenceBookId" *ngIf="selectedTabIndex == '1'">
                    </app-crime-docket-basic-info>
                    <div class="mt-3">

                        <app-existing-production [crimeDocketId]="crimeDocketId" [crimeDocketNumber]="crimeDocketNumber"
                            *ngIf="selectedTabIndex == '1'"></app-existing-production>

                    </div>
                </p-scrollPanel>
            </div>
        </mat-tab>
        <mat-tab label="POST INCIDENT PR CALL" class="bg-gray">
            <div class="ibox view-box">
                <p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
                    <app-crime-docket-basic-info [occurrenceBookId]="occurrenceBookId" *ngIf="selectedTabIndex == '2'">
                    </app-crime-docket-basic-info>

                    <div>

                        <app-post-incident-pr-call [crimeDocketId]="crimeDocketId"
                            [crimeDocketNumber]="crimeDocketNumber" *ngIf="selectedTabIndex == '2'">
                        </app-post-incident-pr-call>

                    </div>
                </p-scrollPanel>
            </div>
        </mat-tab>
    </mat-tab-group>


</div>