<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    Partition 1
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="p-3">
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
  [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
  [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [isShowNoRecord]="isShowNoRecord"
  (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>
</div>
