<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">

            <div class="ibox-body brown-border view-box">
                <app-view-page [col]="2" [viewDetail]="vehicleCheckListDetailsViewDetails" [template]="1"></app-view-page>
                <h1 class="page-sub-title ext-padd mt-3">Vehicle Item List</h1>
                <br>
                <div class="container-fluid">
                    <div class="header-row row">
                        <div class="col-4">Vehicle Check Item</div>
                        <div class="col-4">Mandatory</div>
                        <div class="col-4">Alert Supervisor</div>
                    </div>
                </div>
                <br>
                <div class="container-fluid">
                    <div class="children-row row mb-2" *ngFor="let type of checkListItemsList">
                        <div class="col-4">
                            <input type="text" value={{type.vehicleCheckListItemName}}
                                class="form-control fidelity-form-input disabled">
                        </div>
                        <div class="col-4">
                            <select #input class="form-control fidelity-form-input" disabled >
                                <option [selected]="item.id == type.checkListOptionId" [value]="item.id"
                                    *ngFor="let item of checkListDropDown; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <span class="d-inline-block">
                                <span class="status-label form-control fidelity-form-input disabled"
                                    [ngClass]="{'status-label-green': type.isAlertSupervisor,'status-label-pink': !type?.isActive}">
                                    {{type.isAlertSupervisor ? 'Active' : 'In Active'}}
                                </span>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelCmcSmsGroupBtn"
            routerLink='/event-management/ro-configuration' [queryParams]="{tab:10}">Back</button>
    </div>
</div>