<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Cycle Count Starting Date </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"> Inventory Management</li> <li class="breadcrumb-item"> Stock Take </li>
        <li class="breadcrumb-item" (click)="navigateToList()"> <a> Cycle Count Starting Date </a> </li>
        <li class="breadcrumb-item" *ngIf="cycleCountScheduleId">
            <a (click)="navigateToEditPage()"> View Cycle Count Starting Date </a>
        </li>
        <li class="breadcrumb-item">
            {{cycleCountScheduleId ? 'Update' : 'Add'}} Cycle Count Starting Date
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="cycleCountEnableConfigForm" (ngSubmit)="onSubmit()">
                <div class="ibox" style="height: auto;">
                    <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                        <div class="ibox-body mb-3">
                            <div class="row">
                                <div class="col-4" *ngIf="cycleCountScheduleId">
                                    <div class="form-group">
                                        <label> Warehouse <span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input disabled" formControlName="warehouseName"  type="text" />
                                    </div>
                                </div>
                                <div class="col-4" *ngIf="!cycleCountScheduleId">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label> Warehouse <span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete ngDefaultControl
                                            [id]="'WarehouseIds'"
                                            [formControl]="cycleCountEnableConfigForm?.controls['warehouseIds']"
                                            [placeholder]="'Select Single/Multiple'"
                                            [options]="warehouseList"
                                            [multiple]='true' [value]="'value'" [display]="'display'">
                                        </mat-select-autocomplete>
                                    </div>
                                </div>
                                <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                                    <label class="d-block" for=""> Scheduled Date <span class="mandatory-field">*</span></label>
                                    <p-calendar  [minDate]="startTodayDate"   formControlName="scheduledDate"  placeholder=""  styleClass="w-100"></p-calendar>
                            
                                </div>
                                <div class="col-4 mb-3">
                                  <div class="col-12 mb-2 p-0">Status<span class="mandatory-field">*</span></div>
                                  <div class="col-12 p-0">
                                    <div class="form-group">
                                      <label class="active switch">
                                        <input type="checkbox" formControlName="isActive">
                                        <span class="slider round active"></span>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">{{cycleCountScheduleId ? 'Update' : 'Save'}}</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

