<div class="page-heading">
    <h1 class="page-title">{{miscellaneousConfigId ?'Update':'Add'}} Miscellaneous Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item">Services</li>
        <li class="breadcrumb-item">Miscellaneous Config</li>
        <li class="breadcrumb-item"><a routerLink='/configuration/sales/leads/miscellaneous/view'
                [queryParams]="{id:miscellaneousConfigId}">View</a></li>
        <li class="breadcrumb-item">{{miscellaneousConfigId ? 'Update' : 'Add'}} Miscellaneous Config
        </li>
    </ol>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body sm-form-grp">
            <form customForm [formGroup]="miscellaneousAddEditForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Price Config Type <span class="mandatory-field">*
                                </span></label>
                            <select-custom-control [loopableArray]='priceTypes'
                                formControlName="miscellaneousPriceTypeId">
                            </select-custom-control>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group p-relative lead-stage1-con">
                            <label class="d-block">Item<span class="mandatory-field">*</span></label>
                            <div class="input-group fidelity-input-addon mb-3" style="width: 95%;">
                                <mat-form-field id="find_address_autocomplete">
                                    <input matInput [matAutocomplete]="itemIdFind" class="fidelity-address-con"
                                        formControlName="itemId" #itemId>
                                    <mat-autocomplete #itemIdFind="matAutocomplete">
                                        <mat-option *ngFor="let item of items" [value]="item.displayName"
                                            (onSelectionChange)="onSelectedItemOption($event.source.selected, item)">
                                            <span>{{ item.displayName }}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <!-- <div class="input-group-append">
                                    <button class="text-white" type="button">
                                        <i aria-hidden="true" class="icon icon-search"></i>
                                    </button>
                                </div> -->
                            </div>
                            <span class="text-danger"
                                *ngIf="miscellaneousAddEditForm?.get('itemId')?.touched && miscellaneousAddEditForm?.get('itemId')?.errors?.required">
                                Item is required
                            </span>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button id="create_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                    <button id="cancel_new_leads_btn" type="button" (click)="actionOnLeavingComponent()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default" id="add_skill_cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>