<div class="ibox-body brown-border p-0" (click)="showQuickAction = false">
    <div class="col-12">
        <div class="row">
            <!-- <div class="page-sub-title">Service</div> -->

            <div class="col-lg-4">
                <div class="d-flex mb-2">
                    <span class="cust-info-key">Tech Area</span>
                    <span class="cust-info-value">
                        {{technicallDetail?.techArea?(technicallDetail?.techArea):'-'}}
                    </span>
                </div>
                <div class="d-flex mb-2 ">
                    <span class="cust-info-key ">Panel</span>
                    <span class="cust-info-value p-relative">
                        <!-- +27 11 987456 -->
                        {{technicallDetail?.panel?(technicallDetail.panel):"-"}}
                        <!-- <span (click)="callDail(custInfoList.mobileNumber1)" class="btn btn-md-fidelity fidelity-btn-brown p-absolute" style="left:128px; top:2px">Dial</span> -->
                    </span>

                </div>
                <div class="d-flex mb-2">
                    <span class="cust-info-key">Ownership</span>
                    <span class="cust-info-value p-relative ">
                        <!-- +27 11 987456 -->
                        <span
                            class="{{technicallDetail?.ownershipCssClass ? 'status-label '+technicallDetail?.ownershipCssClass : ''}}">{{technicallDetail?.ownership?(technicallDetail.ownership):"-"}}</span>
                        <!-- <span (click)="callDail(custInfoList.mobileNumber2)" class="btn btn-md-fidelity fidelity-btn-brown p-absolute" style="left:128px; top:2px">Dial</span> -->
                    </span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-sub-title" style="color:black !important;">Lightning Cover</div>

                <div class="d-flex mb-2">
                    <span class="cust-info-key">Cover</span>
                    <span class="cust-info-value" style="color:green !important;">
                        <!-- Mrs Lucy Tom -->
                        {{technicallDetail?.cover?technicallDetail?.cover:'-'}}
                    </span>
                </div>
                <div class="d-flex mb-2">
                    <span class="cust-info-key">Used</span>
                    <span class="cust-info-value" style="color:red !important;">
                        <!-- lucy@gmail.com -->
                        {{technicallDetail?.used?technicallDetail?.used:'-'}}
                    </span>
                </div>
                <div class="d-flex mb-2">
                    <span class="cust-info-key">Available</span>
                    <span class="cust-info-value" style="color:green !important;">

                        {{technicallDetail?.available?technicallDetail?.available: '-'}}
                    </span>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-sub-title" style="color:black !important;">Partitions</div>

                <div class="d-flex mb-2">
                    <span class="cust-info-key">Partitions</span>
                    <span class="cust-info-value" style="color:green !important;">
                        <!-- Mrs Lucy Tom -->
                        {{technicallDetail?.partitions?technicallDetail?.partitions:'-'}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-heading p-relative">
    <!-- <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>

    <ol class="breadcrumb"
      *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
      <li class="breadcrumb-item">
        <a>
          <i class="fa fa-home" aria-hidden="true"></i></a>
      </li>
      <li class="breadcrumb-item"
        *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
        <a *ngIf='breadCrumbItem.relativeRouterUrl&&!breadCrumbItem.queryParams'
          (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>

        <a *ngIf='breadCrumbItem.relativeRouterUrl&&breadCrumbItem.queryParams'
          (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
        <a *ngIf='!breadCrumbItem.relativeRouterUrl'>{{breadCrumbItem.displayName}}</a>
      </li>
    </ol> -->
    <div class="grid-icons-con float-right pr-0 pt-0">
        <div class="d-flex fidelity-search-input-con">
            <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="onCRUDRequested('delete')" matTooltip="Delete"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableMultiDeleteActionBtn"
                style="width: 30px !important;height: 30px !important;font-size: 0.9rem;">
                <i aria-hidden="true" class="icon icon-delete"></i></a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onCRUDRequested('filter')" matTooltip="Apply Filter"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.shouldShowFilterActionBtn"
                style="width: 30px !important;height: 30px !important;font-size: 0.9rem;">
                <i class="fa fa-filter" aria-hidden="true"></i></a>

            <!-- <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" (click)="onCRUDRequested('create')"
          *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.shouldShowCreateActionBtn"><i
          aria-hidden="true" data-icon="b" class="icon" matTooltip="Create New"></i>
        </a> -->

            <a class="fidelity-btn-circle fidelity-white-btn customer-quick-action-btn p-relative"
                (click)="ticketQuickActionOpen()"
                style="top: -3px;z-index: 10;width: 30px !important;height: 30px !important;font-size: 0.9rem;">
                <i aria-hidden="true" class="icon icon-add"></i>
                <div *ngIf="showQuickAction" class="quick-action-sidebar p-absolute quick-action-top-con open" style="width:250px;left: -14vw;box-shadow: 0px 0px 0px 1px #cec3c3c9;border-radius: 4px;
                    z-index: 10;top: 4vh !important;bottom: unset !important;">
                    <div class="quick-action-sidebar-body p-relative" style="padding:0;">
                        <ul class="quick-action-menu-con mb-0">
                            <li class="quick-action-menu" (click)="checkCreditControllerAlert('Service')">
                                <a>Service Call</a>
                            </li>
                            <li class="quick-action-menu" (click)="checkAllValidationCalls('Inspection')">
                                <a>Inspection</a>
                            </li>
                            <li class="quick-action-menu" *ngIf="technicallDetail?.isDealerCall"
                                (click)="checkCreditControllerAlert('Service', true)">
                                <a> Dealer Call </a>
                            </li>
                            <li class="quick-action-menu" (click)="checkCreditControllerAlert('Special Project')">
                                <a>Special Projects</a>
                            </li>
                            <li class="quick-action-menu" (click)="checkCreditControllerAlert('Radio Removal')"
                                *ngIf="isRadio == 'true'">
                                <a>Radio Removals</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [status]="status" [first]="first"
    [reset]="reset" [searchFirst]="true" (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>
<div class="ibox-body brown-border p-0" *ngIf="isDetailsView">
    <div class="row">
        <div class="col-lg-12 page-sub-title">Service</div>

        <div class="col-lg-6">
            <div class="d-flex mb-2">
                <span class="cust-info-key">Schedule Date Start</span>
                <span class="cust-info-value">
                    {{technicallInititationDetail?.scheduledStartDate?(technicallInititationDetail?.scheduledStartDate |
                    date :'dd-MMM-yyyy HH:mm'):'-'}}
                </span>
            </div>
            <div class="d-flex mb-2 ">
                <span class="cust-info-key ">Schedule Date End</span>
                <span class="cust-info-value p-relative">
                    <!-- +27 11 987456 -->
                    {{technicallInititationDetail?.scheduledEndDate?(technicallInititationDetail.scheduledEndDate | date
                    :'dd-MMM-yyyy HH:mm'):"-"}}
                    <!-- <span (click)="callDail(custInfoList.mobileNumber1)" class="btn btn-md-fidelity fidelity-btn-brown p-absolute" style="left:128px; top:2px">Dial</span> -->
                </span>

            </div>
            <div class="d-flex mb-2">
                <span class="cust-info-key">Est. Time</span>
                <span class="cust-info-value p-relative">
                    <!-- +27 11 987456 -->
                    {{technicallInititationDetail?.estimatedTime?(technicallInititationDetail.estimatedTime):"-"}}
                    <!-- <span (click)="callDail(custInfoList.mobileNumber2)" class="btn btn-md-fidelity fidelity-btn-brown p-absolute" style="left:128px; top:2px">Dial</span> -->

                </span>
            </div>
            <div class="d-flex mb-2">
                <span class="cust-info-key">Schedule Tech Area </span>
                <span class="cust-info-value p-relative">
                    <!-- +27 11 987456 -->
                    {{technicallInititationDetail?.scheduledTechArea?(technicallInititationDetail.scheduledTechArea):"-"}}
                    <!-- <span (click)="callDail(custInfoList.premisesNo)" class="btn btn-md-fidelity fidelity-btn-brown p-absolute" style="left:128px; top:2px">Dial</span> -->

                </span>
            </div>
            <!-- <div  class="d-flex mb-2">
            <span class="cust-info-key">Description</span>
            <span class="cust-info-value p-relative">

                {{custInfoList?.officeNo?(custInfoList.officeNo):"-"}}


            </span>
        </div> -->
        </div>
        <div class="col-lg-6">
            <div class="d-flex mb-2">
                <span class="cust-info-key">Description</span>
                <span class="cust-info-value">
                    <!-- Mrs Lucy Tom -->
                    {{technicallInititationDetail?.description?technicallInititationDetail?.description:'-'}}
                </span>
            </div>
            <div class="d-flex mb-2">
                <span class="cust-info-key">Job Type</span>
                <span class="cust-info-value">
                    <!-- lucy@gmail.com -->
                    {{technicallInititationDetail?.jobType?technicallInititationDetail?.jobType:'-'}}
                </span>
            </div>
            <div class="d-flex mb-2">
                <span class="cust-info-key">Diagnosis</span>
                <span class="cust-info-value">

                    {{technicallInititationDetail?.diagnosis?technicallInititationDetail?.diagnosis: '-'}}
                </span>

            </div>
            <div class="d-flex mb-2">
                <span class="cust-info-key">Quote Amt</span>
                <span class="cust-info-value">
                    {{technicallInititationDetail?.quoteAmount?technicallInititationDetail?.quoteAmount: '-'}}

                    <!-- 23-April-2020 -->
                </span>
            </div>
        </div>

    </div>


    <div class="row m-0">
        <mat-tab-group [selectedIndex]="selectedServiceIndex" (selectedTabChange)="onServiceTabChangeEvent($event)"
            class="fidelity-tab-group fidelity-vertical-tab no-pagination mat-tab-body-padding-0 mat-tech-tab">
            <mat-tab label="NOTES" class="bg-gray" [disabled]="!getCallType(0)">

                <ng-container *ngIf="selectedServiceIndex==0">
                    <!-- <p [innerHTML]="technicallInititationDetail?.notes ? technicallInititationDetail?.notes : '--'"></p> -->
                    <ul class=" custom-scroll" *ngIf="technicallInititationDetail?.callNotes?.length > 0" style="    float: left;
                        width: 95%;
                        margin: 0;
                        padding: 0;
                        margin-bottom: 10px;max-height: 20vh;overflow: auto;">
                        <li *ngFor="let item of technicallInititationDetail?.callNotes; let i=index">
                            <b style="    float: left;
                           width: 100%;">{{item?.notes}}</b>
                            <span style="font-size: 12px;
                           color: #aaa;
                           float: left;
                           width: 100%;">{{item?.createdDate ? (item?.createdDate | date) : ''}} |
                                <span style="color: #888;">{{item?.createdBy}}</span> </span>
                        </li>
                    </ul>
                </ng-container>
            </mat-tab>

            <mat-tab label="STOCK" class="bg-gray" [disabled]="!getCallType(1)">
                <!-- <ng-container *ngIf="selectedServiceIndex==1"></ng-container> -->
                <app-ob-number-list [customerId]="customerId"
                    [observableResponse]="technicallInititationDetail?.stockDetails" [loading]="isLoading"
                    [customerAddressId]="customerAddressId" [selectedTabIndex]="selectedServiceIndex"
                    [selectedRowData]="selectedRowData" *ngIf="selectedServiceIndex==1"></app-ob-number-list>
            </mat-tab>
            <mat-tab label="DOCUMENTS" class="bg-gray" [disabled]="!getCallType(2)">
                <app-document-list [customerId]="customerId"
                    [observableResponse]="technicallInititationDetail?.documentDetails" [loading]="isLoading"
                    [customerAddressId]="customerAddressId" [selectedRowData]="selectedRowData"
                    [canDocAction]="getDocumentPermission()" *ngIf="selectedServiceIndex==2"></app-document-list>

            </mat-tab>
            <mat-tab label="OB NUMBERS" class="bg-gray"
                [disabled]="(technicallInititationDetail?.callType?.toLowerCase() == 'inspection' || !getCallType(3)) ? true : false">
                <!-- <ng-container *ngIf="selectedServiceIndex==3"></ng-container> -->
                <app-ob-number-list [customerId]="customerId" [customerAddressId]="customerAddressId"
                    [observableResponse]="obNumberList" [loading]="isLoading" [selectedTabIndex]="selectedServiceIndex"
                    *ngIf="selectedServiceIndex==3"></app-ob-number-list>
            </mat-tab>
            <mat-tab label="AUDIT" class="bg-gray" [disabled]="!getCallType(4)">
                <!-- <ng-container *ngIf="selectedServiceIndex==3"></ng-container> -->
                <!-- <app-technician-audit-list [customerId]="customerId" [observableResponse]="technicallInititationDetail?.documentDetails" [loading]="isLoading" [customerAddressId]="customerAddressId"  [selectedRowData]="selectedRowData" *ngIf="selectedServiceIndex==4"></app-technician-audit-list> -->
                <app-ob-number-list [customerId]="customerId" [customerAddressId]="customerAddressId"
                    [observableResponse]="obNumberList" [loading]="isLoading" [selectedTabIndex]="selectedServiceIndex"
                    [selectedRowData]="selectedRowData" *ngIf="selectedServiceIndex==4"></app-ob-number-list>

            </mat-tab>
        </mat-tab-group>
    </div>

</div>