<div class="fidelity-popup-heading container-fluid">{{branchModel?.branchId?'Update':'Create'}} Sub Branch
    <button mat-icon-button class="close-button " style="float: right;margin-top: -10px;" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="branchAddEditForm" customForm (ngSubmit)="onSubmit()"
    [formGroup]="branchAddEditForm">
    <mat-dialog-content>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="regionId">Region Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <select (change)="changeRegion()" name="Region name" class="form-control fidelity-form-input" formControlName="regionId">
                    <option value="" disabled>-- Select Region Name --</option>
                    <option *ngFor="let region of regionList" [value]="region.id">
                        {{region.displayName}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="divisionId">Division Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <select (change)="changeDivision()" name="Division name" class="form-control fidelity-form-input" formControlName="divisionId">
                    <option value="" disabled>-- Select Division Name --</option>
                    <option *ngFor="let Division of divisionDropDown" [value]="Division.id">
                        {{Division.displayName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="districtId">District Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <select (change)="changeDistrict()" name="District Name" class="form-control fidelity-form-input" formControlName="districtId">
                    <option value="">-- Select District Name --</option>
                    <option *ngFor="let district of districtList" [value]="district.id">
                        {{district.displayName}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="districtId">Branch Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <select name="Branch Name" class="form-control fidelity-form-input" formControlName="branchId">
                    <option value="">-- Select Branch Name --</option>
                    <option *ngFor="let branch of branchList" [value]="branch.id">
                        {{branch.displayName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="subBranchName">Sub Branch Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input  class="form-control fidelity-form-input" id="divisionName"
                    name="Sub Branch Name" type="text" placeholder="Sub Branch Name(required)"
                    [minlength]="formConfigs.minLengthTwo" [maxlength]="formConfigs.maxLengthTwenty"
                    formControlName="subBranchName" />
                <!-- <input-custom-control formControlName="branchName"></input-custom-control> -->
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="branchCode">Sub Branch Code<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input [minlength]="formConfigs.minLengthTwo" [maxlength]="formConfigs.maxLengthTwenty"
                     class="form-control fidelity-form-input" id="subBranchCode"
                    name="Sub Branch Code" type="text" placeholder="Sub Branch Code" formControlName="subBranchCode" />
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"
            type="submit">{{branchModel?.branchId?'Update':'Save'}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
            [mat-dialog-close]="true">Cancel</button>

    </mat-dialog-actions>
</form>