<div class="page-heading">
    <h1 class="page-title d-inline-block">Add Campaigns</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/campaign-management/campaign"> Campaign Management</a>
        </li>
        <li class="breadcrumb-item"> <a routerLink="/campaign-management/campaign"> Campaigns </a></li>
        <li class="breadcrumb-item">
            <a routerLink="/campaign-management/campaign"> Campaigns List</a>
        </li>
        <li class="breadcrumb-item">Add Campaign</li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="campaignStageOneForm" (ngSubmit)="onSubmit()">
                <div class="ibox lss-registration-box" style="height: auto;">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">CREATE CAMPAIGN</h1>
                            <div class="d-flex justify-content-around align-items-center lead-stage-navigator">
                                <span class="d-flex stage-no mr-2 ml-2">1</span>
                                <button type="button">
                                    <i class="icon icon-forward" (click)="onArrowClick('next')"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Region<span class="mandatory-field">*</span></label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" autoWidth="false"
                                            dataKey='id' [style]="{'width':'100%'}" [options]="regionList"
                                            optionLabel="displayName" formControlName="regionIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>District<span class="mandatory-field">*</span></label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" autoWidth="false"
                                            dataKey='id' [style]="{'width':'100%'}" [options]="districtList"
                                            optionLabel="displayName" formControlName="districtIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Branch <span class="mandatory-field">*</span></label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" dataKey='id'
                                            autoWidth="false" [style]="{'width':'100%'}" [options]="branchList"
                                            optionLabel="displayName" formControlName="branchIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Requestor<span class="mandatory-field">*</span></label>
                                        <input formControlName="requestor" class="form-control fidelity-form-input"
                                            placeholder="Requestor" type="text" name='Requestor' minlength="2"
                                            maxlength="50" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Requestor Region<span class="mandatory-field">*</span></label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" autoWidth="false"
                                            dataKey='id' [style]="{'width':'100%'}" [options]="regionList"
                                            optionLabel="displayName" formControlName="requestorRegionIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Campaign Name<span class="mandatory-field">*</span></label>
                                        <input formControlName="campaignName" class="form-control fidelity-form-input"
                                            placeholder="Campaign Name" type="text" name='Campaign Name' minlength="2"
                                            maxlength="150" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Campaign Type<span class="mandatory-field">*</span></label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" dataKey='id'
                                            autoWidth="false" [style]="{'width':'100%'}" [options]="campaignList"
                                            optionLabel="displayName" formControlName="marketingCampaignTypeIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Budget <span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input"
                                            [minlength]="formConfigs.firstNameMinLength" formControlName="budget"
                                            placeholder="Budget" type="text" [validateInput]="isADecimalOnly" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Batch Desc</label>
                                        <input formControlName="batchDescription"
                                            class="form-control fidelity-form-input" placeholder="Batch Desc"
                                            type="text" name='Batch Desc' minlength="2" maxlength="150" />
                                    </div>
                                </div>
                                <div class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                    <label class="d-block" for="">Start Date<span
                                            class="mandatory-field">*</span></label>
                                    <p-calendar [minDate]="todayDate" formControlName="startDate">
                                    </p-calendar>
                                </div>
                                <div class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                    <label class="d-block" for="">End Date<span class="mandatory-field">*</span></label>
                                    <p-calendar [minDate]="todayStartDate" formControlName="endDate">
                                    </p-calendar>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Source Type<span class="mandatory-field">*</span></label>
                                        <select name="Source Type" class="form-control fidelity-form-input"
                                            formControlName="sourceGroupId">
                                            <option value="" disabled>--Select Source Type--</option>
                                            <option *ngFor="let branch of sourceTypeList"
                                                [value]="branch.sourceGroupId">
                                                {{branch.sourceGroupName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="" style="width: 100%;">
                                        <label>Lead Source <span class="mandatory-field">*</span></label>
                                        <div class="col-12" style="padding-left: 0;width: 100%;">
                                            <p-autoComplete [style]="{'width':'85%'}" formControlName="sourceId"
                                                [disabled]="!campaignStageOneForm.get('sourceGroupId').value || marketingCampaignId"
                                                [suggestions]="sourceList" field="displayName" dataKey="id"
                                                placeholder="Search Lead Source" [minLength]="1"
                                                (completeMethod)="getLeadSources($event)"
                                                (onSelect)="onSelectSource($event)">
                                            </p-autoComplete>
                                            <div
                                                *ngIf="campaignStageOneForm.controls['sourceId'].invalid && (campaignStageOneForm.controls['sourceId'].dirty || campaignStageOneForm.controls['sourceId'].touched)">
                                                <span *ngIf="campaignStageOneForm.controls['sourceId'].errors.required"
                                                    style="    color: #dc3545;
                                            font-size: 0.8em;" class="help is-danger">
                                                    Lead Source is required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="" formArrayName="campaignTypeValues"
                                        *ngFor="let obj of campaignStageOneForm?.get('campaignTypeValues')?.controls;let i=index">
                                        <div class="row" [formGroupName]="i">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label> Type<span class="mandatory-field">*</span></label>
                                                    <select #input name="Type" [attr.disabled]="marketingCampaignId"
                                                        class="form-control fidelity-form-input"
                                                        formControlName="marketingCampaignTypeId">
                                                        <option value="" disabled>Select Type</option>
                                                        <option *ngFor="let branch of campaignList" [value]="branch.id">
                                                            {{branch.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>RValue<span class="mandatory-field">*</span></label>
                                                    <input #input class="form-control fidelity-form-input"
                                                        placeholder="RValue" formControlName="rValue" type="text"
                                                        [readOnly]="marketingCampaignId"
                                                        [minlength]="formConfigs.firstNameMinLength"
                                                        [validateInput]="isADecimalOnly" />
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button type="button" *ngIf="i==0" type='button' class="circle-plus-btn"
                                                    [disabled]="marketingCampaignId ? true : false"
                                                    (click)="addCmcSmsGroupEmployee()" title="add" style="top: 34px;">
                                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                                </button>
                                                <button type="button" *ngIf="i!==0" class="circle-minus-btn"
                                                    [disabled]="marketingCampaignId ? true : false"
                                                    style="left: -14px; top: 34px;" (click)="removeCmcSmsEmployee(i)"
                                                    title="Delete"><i aria-hidden="true" class="icon icon-delete"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Total<span class="mandatory-field">*</span></label>
                                                <input class="form-control fidelity-form-input disabled" name="Total"
                                                    placeholder="Total" formControlName="totalBudget" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-sub-title">Audience</div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Database Selection<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='dataBaseList'
                                            formControlName="marketingCampaignDatabaseTypeId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>From Age</label>
                                        <select-custom-control [loopableArray]='ageList' formControlName="fromAgeId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>To Age</label>
                                        <select-custom-control [loopableArray]='ageList' formControlName="toAgeId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Sex </label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" autoWidth="false"
                                            name="Gender" dataKey='id' [style]="{'width':'100%'}" [options]="genderList"
                                            optionLabel="displayName" formControlName="genderIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Region</label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" autoWidth="false"
                                            dataKey='id' [style]="{'width':'100%'}" [options]="regionList"
                                            optionLabel="displayName" formControlName="audienceRegionIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Division</label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" autoWidth="false"
                                            dataKey='id' [style]="{'width':'100%'}" [options]="audienceDivisionList"
                                            optionLabel="displayName" formControlName="audienceDivisionIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>District</label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" autoWidth="false"
                                            dataKey='id' [style]="{'width':'100%'}" [options]="audienceDistrictList"
                                            optionLabel="displayName" formControlName="audienceDistrictIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Branch</label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" dataKey='id'
                                            autoWidth="false" [style]="{'width':'100%'}" [options]="audienceBranchList"
                                            optionLabel="displayName" formControlName="audienceBranchIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="" style="width: 100%;">
                                        <label>Suburb </label>
                                        <div class="col-12" style="padding-left: 0;width: 100%;">
                                            <p-autoComplete [style]="{'width':'85%'}"
                                                formControlName="audienceSuburbIds" [suggestions]="suburbsList"
                                                field="displayName" dataKey="id" placeholder="Search Suburb"
                                                (completeMethod)="getSuburbs($event)" [minLength]="2" [multiple]="true">
                                            </p-autoComplete>
                                            <div
                                                *ngIf="campaignStageOneForm.controls['audienceSuburbIds'].invalid && (campaignStageOneForm.controls['audienceSuburbIds'].dirty || campaignStageOneForm.controls['audienceSuburbIds'].touched)">
                                                <span
                                                    *ngIf="campaignStageOneForm.controls['audienceSuburbIds'].errors.required"
                                                    style="    color: #dc3545;
                                            font-size: 0.8em;" class="help is-danger">
                                                    Suburb is required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Area</label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" autoWidth="false"
                                            dataKey='mainAreaId' [style]="{'width':'100%'}" [options]="areaList"
                                            optionLabel="mainAreaName" formControlName="mainAreaIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Vehicle </label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" dataKey='id'
                                            autoWidth="false" [style]="{'width':'100%'}" [options]="vehicleList"
                                            optionLabel="displayName" formControlName="boundaryIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>LSS Scheme</label>
                                        <p-multiSelect appendTo="body" [defaultLabel]="'Select'" dataKey='id'
                                            autoWidth="false" [style]="{'width':'100%'}" [options]="lssSchemeList"
                                            optionLabel="displayName" formControlName="lssIds">
                                        </p-multiSelect>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="submit" class="btn btn-md-fidelity fidelity-btn-brown"
                        [disabled]="marketingCampaignId ? true : false">Save</button>
                    <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        routerLink='/campaign-management/campaign'>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>