<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body"
    cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="close()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form customForm [formGroup]="cancellationForm" (ngSubmit)="onSubmit()">
        <app-view-page [col]="3" [viewDetail]="erbExclusionDetail" [marginClass]="'m-0'">
        </app-view-page>
        <div class="ibox-body mb-3">
            <div class="row mt-2">
                <div class="col-6">
                    <app-signal-management-action-arrival [customerId]="config?.data?.rowData?.customerId"
                        [customerAddressId]="config?.data?.rowData?.addressId">
                    </app-signal-management-action-arrival>
                </div>
                <div class="col-6">
                    <label>Exclusion Request</label>
                    <div class="form-group">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button class="fidelity-radio-btn" [value]="erbExclusionDetails?.isPermanent">
                                Permanant Exclusion
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn ml-4" [value]="!erbExclusionDetails?.isPermanent">
                                Temprory Exclusion
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <label>Request Note<span class="mandatory-field">*</span></label>
                    <textarea class="form-control fidelity-form-input" name="Comments" disabled
                        value="{{requestNotes?.currentNotes}}" rows="4"></textarea>
                </div>
                <div class="col-6">
                    <label>Feedback Note<span class="mandatory-field">*</span></label>
                    <textarea class="form-control fidelity-form-input" name="Comments" formControlName="comments"
                        rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="row popup-footer-row">
            <div class="col-6 text-right">
                <button type="submit" pButton class="ui-button-success " label="Approve"></button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="close()"
                    label="Resend Reminder SMS">Decline</button>
            </div>
        </div>
    </form>
</div>
