::ng-deep .primeng-date-con {
  .ng-invalid.ng-touched .ui-inputtext {
    border-color: #dc3545 !important;
    box-shadow: 0 0 2px #dc3545 !important;
  }
  .ui-datepicker-trigger.ui-button {
      position: absolute;
      right: 0px;
  }
}
.label-link {
  color: #166dff;
  text-decoration: underline;
  font-weight: 500;
}