<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox white-bg">
    <div class="ibox-body partition-info-page">
      <form customForm [formGroup]="annualNetworkFeesddEditForm" (ngSubmit)="openDialog()">
        <div class="custom-scroll" style="overflow: auto; max-height: 60vh;">
          <ng-container>
            <table class="fidelity-table mt-2 service-table monthly-price-increase-table">
              <thead>
                <th>Customer ID</th>
                <th>Customer Code</th>
                <th>Debtor Code</th>
                <th>Bill Name</th>
                <th>Contract ID</th>
                <th>Division</th>
                <th>Sub Area </th>
                <th>Main Area</th>
                <th>Created Date</th>
                <th>Do Run Code</th>
                <th>Payment Method Name </th>
                <th>Sms Debtor </th>
                <th>Email </th>
                <th>Building No </th>
                <th>Street No </th>
                <th>Street Name </th>
                <th>Suburb Name </th>
                <th>City Name </th>
                <th>Origin Name </th>
                <th>Debtor Group Name </th>
                <th>Install Origin Name </th>
                <th>Category Name</th>
                <th>Deal Type </th>
                <th>Sales Rep</th>
                <th>Sales Channel </th>
                <th>Business Area </th>
                <th>Anf Waive </th>
                <th>Branch Name</th>
                <th>District Name </th>
                <th>Region Name </th>
                <th>Acquired </th>
                <th>Bilable </th>
                <th>Licence Count </th>
                <th>IsBilled </th>
                <th>Tech Area </th>
                <th>Sales Area </th>
                <th>Stock Amount Exc </th>
                <th>Stock Amount Inc </th>
                <th>Is Once Off </th>
                <th>Is Permanent </th>
                <th>Consecutive Waivers </th>
                <th>Exclude Reason </th>
              </thead>
              <tbody>
                <ng-container formArrayName="anfBatchUpdate"
                  *ngFor="let obj of annualNetworkFeesddEditForm?.get('anfBatchUpdate')?.controls;let i=index">
                  <tr [formGroupName]="i">
                    <td>
                      <input formControlName="customerRefNo" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="customerName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="debtorRefNo" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="billName" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="contractRefNo" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="division" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="subArea" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="mainArea" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="createdDate" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="doRunCode" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="paymentMethodName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="smsDebtor" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="email" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="buildingNo" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="streetNo" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="streetName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="suburbName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="cityName" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="originName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="debtorGroupName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="installOriginName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="categoryName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="dealType" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="salesRep" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="salesChannel" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="businessArea" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="anfWaive" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="branchName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="districtName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="regionName" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="acquired" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="bilable" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="licenceCount" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="isBilled" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="techArea" class="form-control fidelity-form-input disabled" type="text" />
                    </td>
                    <td>
                      <input formControlName="salesArea" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="stockAmountExc" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <input formControlName="stockAmountInc" class="form-control fidelity-form-input disabled"
                        type="text" />
                    </td>
                    <td>
                      <mat-checkbox class="fidelity-checkbox" formControlName="isOnceOff" (change)="changeisOnceOff(i)">
                      </mat-checkbox>
                    </td>
                    <td>
                      <mat-checkbox class="fidelity-checkbox" formControlName="isPermanent"
                        (change)="changeisPermanent(i)">
                      </mat-checkbox>
                    </td>
                    <td>
                      <input formControlName="conscutive" [validateInput]="isANumberOnly" [maxlength]="1"
                        oninput="if(!this.value.match('^[2-3][2-3]*$'))this.value='';"
                        class="form-control fidelity-form-input" (keyup)="OnChange(i)" type="text" />
                    </td>
                    <td>
                      <input formControlName="excludeReason" class="form-control fidelity-form-input" type="text" />
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
        </div>
        <div class="row" style="margin-top:24px;">
          <div class="col-4">
            <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit" *ngIf="!ApplyExclution"
              (click)="applyExclution()">Apply Exclution</button>
            <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit" *ngIf="!SubmitDoUSerListBtn"
              (click)="SubmitForDO()">Submit For DO</button>
            <button mat-button class="btn btn-md-fidelity fidelity-btn-grey"
              [routerLink]="['/billing/annual-network-fees-request']" type="button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>