<div class="fidelity-popup-heading container-fluid p-relative" mat-dialog-title cdkDrag
  cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>{{action}} Refuse To Pay Reasons
  <button mat-icon-button class="close-button p-absolute " (click)="onClose()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="p-4">
  <form customForm [formGroup]="refuseToAddeditform" (ngSubmit)="onSubmit()">
    <div class="row" style="margin-top:24px;">
      <div class="col-6">
        <label>Refuse To Pay Reason</label>
        <div class="form-group">
          <input class="form-control fidelity-form-input" type="text" placeholder="Enter"
            formControlName="refuseToPayReasonName">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="d-block">Status</label>
          <label class="switch add-stack-status">
            <input type="checkbox" formControlName="isActive">
            <span class="slider round active"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button *ngIf="id && showEdit" mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="button"
        (click)="edit()">Edit</button>
      <button *ngIf="!id || !showEdit" mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">{{id
        ?
        'Update' : 'Save'}}</button>

      <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="onClose()">Cancel</button>
    </div>
  </form>
</div>
