input{
    font-weight: bold;
  }
  .labels{
    width: 891px;
  }
  .input-group {
    position: relative;
    display: flex;
    width: 100%;
  }
  .input-group-btn {
    cursor: pointer;
  }
  
  .form-group {
    width: 80%;
  }
  
  .file-input-container {
    width: 100%;
    height: 40px;
    z-index: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .file-input-ctrl {
    margin-top: 33px;
    height: 40px;
    width: 100%;
  }
  
  .file-input-text {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .file-input-btn {
    height: 40px;
    padding: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

.load-data-btn{
  margin-top: 30px;
}
.letter-table-custom {
  margin-top: 10px;
}
.file-input-custom-div {
  width: 100%; z-index: 1000;
}
.input-group-custom-div {
  height: 40px;
}