<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form customForm [formGroup]="declineInvoiceForm" (ngSubmit)="onDeclineSubmit()">
        <p-scrollPanel [style]="{height: '45vh'}" styleClass="custom">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label font-weight-bold">Decline Reason<span class="mandatory-field">*</span></label>
                        <select name="Decline Reason" formControlName="declineReasonId"
                            class="form-control fidelity-form-input">
                            <option value="" disabled>Select Decline Reason</option>
                            <option *ngFor="let reason of config?.data?.reasonList" [value]="reason.id">
                                {{reason.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label font-weight-bold">Notes<span class="mandatory-field">*</span></label>
                        <textarea name="Notes" rows="5" formControlName="comments" class="form-control"
                            type="text"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Attach File (.Pdf,.Docs,.Jpeg,.Png,.xlsx)</label>
                        <div
                            style="width: 100%; height: 40px; z-index: 0; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5; width: 100%; height: 100%; opacity: 0;">
                            <input #fileInput type="file" name="file"
                                [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                                style="margin-top: 33px; height: 40px; width: 100%;"
                                (change)="uploadFiles($event.target.files)" />
                        </div>
                        <div style="width: 100%; z-index: 1000;">
                            <label for="file" class="sr-only">File</label>
                            <div class="input-group" style="height: 40px;">
                                <input type="text" name="filename"
                                    style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;"
                                    class="form-control" readonly>
                                <span class="input-group-btn">
                                    <div class="btn custom-file-uploader"
                                        style="height: 40px; padding: 12px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;cursor: pointer;">
                                        Browse
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="documentContainer">
                                <ol class="documentList">
                                    <div *ngFor="let selected of listOfFiles;let index = index" class="mb-2">
                                        <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg"
                                            id="selected{{index}}">
                                            <li>
                                                {{selected}}
                                                <i class="icon icon-close fdt-close-icon ml-2"
                                                    (click)="removeSelectedFile(index)" aria-hidden="true"> </i>
                                            </li>
                                        </span>
                                    </div>
                                </ol>
                                <!-- <label *ngIf="documentDetails !== undefined">
                                    <a href="{{path}}">
                                        <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg" id="docName">
                                            {{docName}} </span>
                                    </a>
                                </label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn fidelity-btn-brown btn-brown" style="margin-right: 10px;" [disabled]="isSubmited" >Decline DOA
                    Transaction</button>
                <button type="button" class="btn btn-default" (click)="btnCloseClick()">Cancel</button>

            </div>
        </p-scrollPanel>
    </form>
</div>
