@import './../../../../../../variables.scss';

.filter-dropdwon-con {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px #cccccc61;
    top: 65px;
    right: 0px;
    z-index: 5;

    .form-group {
        width: 80%;
    }

    ::ng-deep .date-picker {
        mat-form-field.mat-form-field {
            border-radius: 7px;
        }

        .mat-form-field-appearance-legacy .mat-form-field-infix {
            padding: 9px 0!important;
        }
    }

    ::ng-deep .leads-category-con {
        mat-form-field.mat-form-field {
            border: none!important;
        }

        .mat-form-field-infix .mat-select {
            padding: 8.2px 8px;
        }
    }
}

.event-memo-con {
    height: 37vh;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    font-size: 0.9rem;
    border-radius: 7px 7px 0 0;
    box-shadow: 0px 0px 2px 0px #ccc;
    .event-memo-header {
        // height: 35px;
        color: #fff;
        background-color: $fidelity-green;
        padding: 5px 12px;
        font-size: 0.9rem;
        border-radius: 7px 7px 0 0;
        font-family: $fidelity-font-bold;

        ::ng-deep .fidelity-btn-circle {
            width: 30px !important;
            height: 30px !important;
        }
    }

    .event-memo-body {
        height: 30vh;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px 15px;

        li {
            margin: 10px 0;
        }
    }
}

.event-memo-con.alarm-ro-msg-con {
    height: 37vh;
}
.btn-md {
  padding: 3px 20px!important;
}
.status-label{
  font-size: 0.9rem!important;
}

.key {
    display: inline-block;
    width: 38%;
    color: #8A8A8A;
    word-wrap: break-word;
  }

  .value {
    width: 62%;
    word-wrap: break-word;

    span {
        width: 100%;
        border:none;
        font-family: $fidelity-font-bold;
        font-size: 1.3rem;
    }
  }
  

  .label-hightlight {
    background-color: #1F7E61;
    color: #fff;
  }

  ::ng-deep .mat-tab-label {
    height: 29px !important;
    padding: 0 3px!important;
  }
  ::ng-deep .mat-tab-label-content {
    font-size:0.8rem!important
  }

//   .shortcut-key .s-key{
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     padding: 5px 12px;
//     margin-right: 5px;
//     background-color: #f5f5f5;
//   }
  ::ng-deep .flex-radio{
    display: flex !important;
  }
  .data-text{
    font-weight: bold;
  }
  .grey-text{
    color : grey
  }

  .quick-action-sidebar {
    // height: 100vh;
    width: 300px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 1px 0px 0px 2px #cec3c3c9;
    transition: all .2s ease-in-out;
    display: inline-block;

    .quick-action-sidebar-header {
        background-color: #00644A;
        color: #fff;
        padding: 5px 15px;
        font-family: 'Calibri_Bold', sans-serif!important;

        .icon-close-icon {
            font-size: 0.7rem;
            cursor: pointer;
        }
    }

    .quick-action-sidebar-body {
        padding: 15px;
        .quick-action-menu-con {
            padding: 0;
            .quick-action-menu {
                padding: 7px 15px;
                border: 1px solid #ccc;
                                border-radius: 4px;
                font-size: 1rem;
                &:hover {
                    border: 1px solid #cccccc59;
                }
                a {
                    color: #000;
                    display: inline-block;
                    width: 100%;
                }
                &:hover 
                    {
                        background-color: #166dff08 !important;
                        a {
                            color: #166DFF !important;
                            font-family: 'Calibri_Bold', sans-serif!important;
                        }
                    }
            }

           ::ng-deep mat-checkbox.fidelity-checkbox {
                .mat-checkbox-layout {
                    margin-bottom: 0;
                }
                .mat-checkbox-inner-container {
                    position: absolute;
                    right: 27px;
                    top: 12px;
                }

            }
            ::ng-deep .fidelity-checkbox-header.fidelity-checkbox .mat-checkbox-frame {
                border-radius: 50% !important;
            }

            ::ng-deep .fidelity-checkbox .mat-checkbox-frame, .mat-checkbox-frame {
                border-color: #115943!important; 
            }

            ::ng-deep .fidelity-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-background {
                border-radius: 50% !important;
            }
        }
    }
}