<div class="page-heading">
    <h1 class="page-title d-inline-block"> Radio Removal Receiving </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']"> Inventory </a> </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Radio Removal Receiving List </a>
        </li>
        <li class="breadcrumb-item" *ngIf="radioSystemType == 'view'">
            <a (click)="navigateToViewPage()"> Radio Removal Receiving View </a>
        </li>
        <li class="breadcrumb-item"> Radio Removal Receiving {{ radioSystemType == 'view' ? 'Update' : 'Create' }} </li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
        <form customForm [formGroup]="radioRemovalReceivingAddEditForm">
            <div class="ibox white-bg">
                <div class="ibox-body brown-border view-box mt-3">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label> Radio Removal User </label>
                                <select class="form-control fidelity-form-input" id="issuingWarehouse"
                                    formControlName="radioRemovalUserId" (change)="onUserChange($event.target.value)"
                                    [attr.disabled]="radioSystemType == 'view' ? true : null">
                                    <option value="null" selected disabled> Select User </option>
                                    <option *ngFor="let werehouse of usersDropDown; let i=index" [value]="werehouse.id">
                                        {{werehouse.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Tech Stock Location </label>
                                <input class="form-control fidelity-form-input disabled"
                                    formControlName="techStockLocation" name="techStockLocation"
                                    placeholder="Tech Stock Location" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Tech Stock Location Name </label>
                                <input class="form-control fidelity-form-input disabled"
                                    formControlName="techStockLocationName" name="techStockLocationName"
                                    placeholder="Tech Stock Location Name" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Warehouse </label>
                                <input class="form-control fidelity-form-input disabled" formControlName="warehouse"
                                    name="warehouse" placeholder="Tech Stock Location Name" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Delivery Note </label>
                                <textarea class="form-control fidelity-form-input" id="reasons"
                                    formControlName="deliveryNote" placeholder="Reasons" maxlength="500"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-body brown-border view-box mt-3">
                    <div class="row row-header mb-2">
                        <div class="col-2"> Stock Code </div>
                        <div class="col-3"> Stock Description </div>
                        <div class="col-1"> Unit Of Measure </div>
                        <div class="col-1"> Qty on Hand </div>
                        <div class="col-1"> Received Qty </div>
                        <div class="col-1"> Outstanding Qty </div>
                        <div class="col-1"> Unit Cost(R) </div>
                        <div class="col-2"> Not Serialized/Barcode </div>
                    </div>
                    <div class="row child-row mb-2"
                        *ngFor="let data of radioRemovalSystemDetails?.items; let i = index">
                        <div class="col-2">
                            <div class="form-group" style="display: flex;">
                                <input class="form-control fidelity-form-input model-color" type="text"
                                    (click)="barcodeScan(data)" [value]=data?.itemCode readonly />
                            </div>
                        </div>
                        <div class="col-3">
                            <input-custom-control [extraClassNames]="'disabled'" value={{data?.itemName}}>
                            </input-custom-control>
                        </div>
                        <div class="col-1">
                            <input-custom-control [extraClassNames]="'disabled'" value={{data?.unitOfMeasure}}>
                            </input-custom-control>
                        </div>
                        <div class="col-1">
                            <input-custom-control [extraClassNames]="'disabled'" value={{data?.qtyOnHand}}>
                            </input-custom-control>
                        </div>
                        <div class="col-1">
                            <input-custom-control [extraClassNames]="'disabled'" value={{data?.receivedQty}}>
                            </input-custom-control>
                        </div>
                        <div class="col-1">
                            <input-custom-control [extraClassNames]="'disabled'" value={{data?.outStandingQty}}>
                            </input-custom-control>
                        </div>
                        <div class="col-1">
                            <input-custom-control [extraClassNames]="'disabled'" value={{data?.unitCost}}>
                            </input-custom-control>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"
                                [checked]="data?.isNotSerialized" disabled></mat-checkbox>
                        </div>
                    </div>
                    <div class="col-12 no-data-msg"
                        *ngIf="radioRemovalSystemDetails?.items?.length < 0 || radioRemovalSystemDetails?.items == null">
                        <h4>No Records Found</h4>
                    </div>
                </div>
                <div class="text-center mt-3" style="height: 60px;">
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="onSubmit()"
                        [disabled]="radioRemovalSystemDetails?.basicInfo?.radioRemovalReceiptId == null"> Save as Draft
                    </button>
                    <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fideSlity btn-brown mr-2"
                        id="item_verify_btn" cdkFocusInitial (click)="navigateToVerifyPage()"
                        [disabled]="radioRemovalSystemDetails?.basicInfo?.radioRemovalReceiptId == null"> Verify
                    </button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="delete()"
                        [disabled]="radioRemovalSystemDetails?.basicInfo?.radioRemovalReceiptId == null"> Delete
                    </button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        (click)="navigateToList()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>