.customise-yes {
    width: 23%;
    height: 35px;
    padding: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.customise-no {
    width: 23%;
    text-align: center;
    display: flex;
    justify-content: center;
}