<div class="page-heading ">
    <h1 class="page-title d-inline-block">Data Integrity Process Failure </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/event-management/supervisor-dashboard'>Supervisor Dashboard

            </a>
        </li>
        <li class="breadcrumb-item">
            <a  (click)='navigateHourly()'> Hourly
                Stats </a>
        </li>
        <li class="breadcrumb-item">
            Data Integrity Process Failure
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">

        <a (click)="refreshRequest();"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
            matTooltip="Refresh">
            <i aria-hidden="true" class="icon icon-refresh-2"></i>
        </a>


        <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
            matTooltip="Logged In" (click)='exportRequest()'>
            <i aria-hidden="true" class="icon icon-logaway"></i>
        </a>

    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="padding: 12px;height: auto;">
        <p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
            <div class="ibox-body brown-border">
                <div class="row">
                    <h1 class="page-sub-title col-12">Stats</h1>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <span id="" class="key">Division</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{filterData?.divisionName ? filterData?.divisionName :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <span id="" class="key">From</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{filterData?.fromDate ? (filterData?.fromDate |
                                    date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <span id="" class="key">To</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{filterData?.toDate ? (filterData?.toDate |
                                    date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="row">
                        <h3 class="page-sub-title col-12"> Finished within 15 seconds no Password</h3>
                    </div>
                    <app-finishe-in-fifteen-no-password-list [filterData]="filterData" [refresh]="refresh"
                        [export]="export">
                    </app-finishe-in-fifteen-no-password-list>
                    <div class="row">
                        <h3 class="page-sub-title col-12"> Response Logged After Cancel</h3>
                    </div>
                    <hr>
                    <app-response-logged-after-canceled-list [filterData]="filterData" [refresh]="refresh"
                        [export]="export">
                    </app-response-logged-after-canceled-list>
                    <div class="row">
                        <h3 class="page-sub-title col-12"> No Password No Response</h3>
                    </div>
                    <hr>
                    <app-no-password-no-response-list [filterData]="filterData" [refresh]="refresh" [export]="export">
                    </app-no-password-no-response-list>
                    <div class="row">
                        <h3 class="page-sub-title col-12"> Finished in 4 minutes</h3>
                    </div>
                    <hr>
                    <app-finished-in-four-minutes-list [filterData]="filterData" [refresh]="refresh" [export]="export">
                    </app-finished-in-four-minutes-list>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>
