<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [status]="status"
    (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
</app-page-list-table>
<h1 class="page-sub-title ext-padd mt-3">KEYHOLDER INFORMATION</h1>
<form  [formGroup]='clientTestingForm' (ngSubmit)="onActive()">
    <div class="row">
        <div class="col-4">
            <div class="form-group" style="margin-top: 30px;">
                <div class="col-4 d-flex justify-content-start align-items-end">
                    <div class="form-group d-flex justify-content-start align-items-center">
                        <mat-checkbox formControlName="isAltSMSNumber" class="fidelity-checkbox"
                            (change)="showOptions($event)">ALT SMS Number
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="">Name<span class="mandatory-field">*</span></label>
                <input disabled type="text" class="form-control fidelity-form-input"
                    placeholder="Enter Name" [validateInput]="stringConfig" [minlength]="formConfigs.maxLengthThree"
                    [maxlength]="formConfigs.maxLengthTwentyFive" formControlName="altContactName">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="">Company</label>
                <input  type="text" [ngClass]="{'disabled': !isDisableFields}" class="form-control fidelity-form-input"
                    placeholder="Enter Company" formControlName="altContactCompanyName">
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label>Number<span class="mandatory-field">*</span></label>
                <div class="row">
                    <div class="col-4 pr-0">
                        <div class="form-group" style="width: 100%!important;">
                            <select class="form-control fidelity-form-input pad-right"
                                disabled
                                style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                formControlName="contactNoCountryCode">
                                <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                                    {{countryCode.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-8 pl-0">
                        <div class="form-group" style="width: 84%!important;">
                            <input id="mobileNumber2" disabled appPhoneMask
                                style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                 formControlName="contactNo" autocomplete="off"
                                 [title]="clientTestingForm?.get('contactNoCountryCode')?.value"
                                class="form-control fidelity-form-input" name="contactNumber"
                                placeholder="Contact Number" />

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label>ALT SMS Number<span class="mandatory-field" *ngIf="clientTestingForm?.get('isAltSMSNumber').value">*</span></label>
                <div class="row">
                    <div class="col-4 pr-0">
                        <div class="form-group" style="width: 100%!important;">
                            <select class="form-control fidelity-form-input pad-right"
                                [ngClass]="{'disabled': !isDisableFields}"
                                style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                formControlName="altContactNoCountryCode">
                                <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                                    {{countryCode.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-8 pl-0">
                        <div class="form-group" style="width: 84%!important;">
                            <input id="mobileNumber2" autocomplete="off" appPhoneMask
                                [title]="clientTestingForm?.get('altContactNoCountryCode')?.value"
                                style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                [ngClass]="{'disabled': !isDisableFields}" formControlName="altContactNo"
                                class="form-control fidelity-form-input" name="ALT SMS Number"
                                placeholder="Contact Number" />
                            <span class="text-danger" *ngIf="clientTestingForm?.get('altContactNo')?.touched && clientTestingForm?.get('altContactNo')?.errors?.required">
                                ALT SMS Number is required
                            </span>
                            <span class="text-danger" *ngIf="clientTestingForm?.get('altContactNo')?.touched && clientTestingForm?.get('altContactNo')?.errors?.minlength">
                                ALT SMS Number should be {{clientTestingForm?.get('altContactNo')?.errors?.minlength?.requiredLength - 2}} digits
                            </span>
                            <span class="text-danger" *ngIf="clientTestingForm?.get('altContactNo')?.touched && clientTestingForm?.get('altContactNo')?.errors?.maxlength">
                                ALT SMS Number should be {{clientTestingForm?.get('altContactNo')?.errors?.maxlength?.requiredLength - 2}} digits
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label>Duration<span class="mandatory-field">*</span></label>
                <select id="duration" class="form-control fidelity-form-input" name="Duration" placeholder="Select Area"
                    formControlName="signalTestingDurationId">
                    <option value="" disabled>Select Duration</option>
                    <option *ngFor="let signal of signalDurationDropDown" [value]="signal.id">
                        {{signal.displayName}}
                    </option>
                </select>
                <span class="text-danger" *ngIf="clientTestingForm?.get('signalTestingDurationId')?.touched && clientTestingForm?.get('signalTestingDurationId')?.errors?.required">
                    Duration is required
                </span>
            </div>
        </div>
    </div>
        <div class="text-center" style="margin-top: 30px;">
            <!-- [disabled]="clientTestingForm.get('keyHolderId').value && isDisableButton ? false : true" -->
            <button type="button" (click)="onVerify()"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Verify</button>
            <button class="btn btn-md-fidelity " type="submit"
                [disabled]="validPassword != true" [ngClass]="(validPassword == true)?' btn-brown fidelity-btn-brown':'fidelity-btn-grey btn-default'">Activate</button>
        </div>
</form>