<div class="page-heading">
    <h1 class="page-title">Escalation Reasons</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Configuration</a></li>
        <li class="breadcrumb-item"><a>Sales</a></li>
        <li class="breadcrumb-item">Seller Management</li>
        <li class="breadcrumb-item"><a routerLink='/configuration/sales/seller-management'
                [queryParams]="{tab:3}">Escalation Reasons</a></li>
        <li class="breadcrumb-item">{{pageTitle}} Escalation Reason</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg" style="height: auto;">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="ibox-body">
                        <form customForm class="fidelity-popup-form" [formGroup]="reactiveFormGroup"
                            (ngSubmit)="onSubmit()">
                            <div *ngIf="reactiveFormGroup?.get('escalationReasons')?.controls?.length>0;">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Escalation Reason Code<span class="mandatory-field">*</span></label>
                                    </div>
                                    <div class="col-4">
                                        <label>Description</label>
                                    </div>
                                </div>
                                <div formArrayName="escalationReasons"
                                    *ngFor="let source of reactiveFormGroup?.get('escalationReasons')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <input #input validateInput [minlength]="formConfigs.minLengthTwo"
                                                    [maxlength]="formConfigs.generalNameLengthFiftyLength"
                                                    class="form-control fidelity-form-input" id="escalationReasonCode"
                                                    formControlName="escalationReasonCode"
                                                    placeholder="Escalation Reason Code"
                                                    (keyup)="onFormControlChanges('escalationReasonCode',getEscalationReasons,'escalationReasons',i)"
                                                    (blur)="onBlur('escalationReasonCode',getEscalationReasons,$event,i)" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <textarea formControlName="description" class="form-control fidelity-form-input" rows="2">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-3 d-flex align-items-center">
                                            <a *ngIf="i==0&&!escalationReasonId" id="add_skill_btn"
                                                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                                                (click)="addEscalationModel()" title="add">
                                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                                            </a>
                                            <a id="delete_record" *ngIf="(i!==0 || escalationReasons.length>1)&&
                                                !escalationReasonId" class="delete-row ml-1"
                                                (click)="removeEscalationReasons(i)" title="Delete"><i
                                                    aria-hidden="true" class="icon icon-delete"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button id="add_pricing_btn" type="submit"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                    cdkFocusInitial>{{escalationReasonId ? 'Update':'Save'}}</button>
                                <button id="cancel_pricing_btn" type="button" (click)="actionOnLeavingComponent()"
                                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>