<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="page-content fade-in-up">

  <div class="ibox white-bg" style="height:auto;">
    <div class="ibox-body brown-border pb-1">
      <p-scrollPanel [style]="{height: '66vh'}" styleClass="custom">
        <app-page-form-array [pageForm]="outOfOfficeReasonAddEditForm"
          [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList" [selectedIndex]="selectedIndex"
          [isLoading]="isLoading" [isSubmitted]="isSubmitted" (validateExist)="validateExistItem($event)"
          (addItem)="addConfigItem($event)" (removeItem)="removeConfigItem($event)">
        </app-page-form-array>
      </p-scrollPanel>
    </div>
  </div>
</div>

<div class="modal-footer text-center" style="justify-content: center;">
  <button  (click)="onSubmit()"  type="button"
    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
   Save
  </button>

</div>
