<!-- Email modal -->
<div class="fidelity-popup-heading container-fluid p-relative">{{data?.debtorGroupId ? 'Update' : 'Create'}} Debtor Group - Business Classification
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <p-scrollPanel [style]="{height: '45vh'}" styleClass="custom">
        <form customForm [formGroup]="bussinessForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Reference Table<span class="mandatory-field">*</span></label>
                        <select name="Reference Table" class="form-control fidelity-form-input"
                            formControlName="customerClassificationReferenceTableId">
                            <option value="" disabled>Select Reference Table </option>
                            <option *ngFor="let refernce of referenceTableListRecord" [value]="refernce.id">
                                {{refernce.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Reference Data Table<span class="mandatory-field">*</span></label>
                        <select name="Reference Data Table" class="form-control fidelity-form-input"
                            formControlName="customerClassificationReferenceData">
                            <option value="" disabled>Select Reference Data Table</option>
                            <option *ngFor="let referenceData of referenceDataTableListRecord" [value]="referenceData.id">
                                {{referenceData.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Debtor Group Name<span class="mandatory-field">*</span></label>
                        <input class="form-control fidelity-form-input" placeholder="Debtor Group Name"
                            type="text" formControlName="debtorGroupName" name='Debtor Group Name' maxlength="25" />
                    </div>
    
                </div>
    
                <div class="col-6">
                    <div class="form-group">
                        <label>Debtor Group Description<span class="mandatory-field">*</span></label>
                        <input class="form-control fidelity-form-input" placeholder="Description"
                            type="text" formControlName="description" name='Category Description'
                           />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Preceding Origin ID<span class="mandatory-field">*</span></label>
                        <select name="Preceding Origin ID" class="form-control fidelity-form-input"
                            formControlName="precedingOriginId">
                            <option value="0" disabled>Select Preceding Origin ID</option>
                            <option *ngFor="let category of precedingListData" [value]="category.id">
                                {{category.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                
               </div>
            <hr>
            <mat-dialog-actions align="end">
                <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
                    cdkFocusInitial>Save</button>
                <button type="button" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
                    [mat-dialog-close]="true">Cancel</button>
            </mat-dialog-actions>
        </form>
    </p-scrollPanel>

</mat-dialog-content>

<!-- </form> -->