<!-- Email modal -->
<div class="fidelity-popup-heading container-fluid p-relative">{{data?.debtorGroupId ? 'Update' : 'Create'}} Debtor
    Group - Manual Classification
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <p-scrollPanel [style]="{height: '30vh'}" styleClass="custom">
        <form customForm [formGroup]="manualForm" (ngSubmit)="onSubmit()" style="margin-top: 15px;">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Debtor Group Name<span class="mandatory-field">*</span></label>
                        <input class="form-control fidelity-form-input" placeholder="Debtor Group Name" type="text"
                            formControlName="debtorGroupName" name='Debtor Group Name' />
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Debtor Group Description<span class="mandatory-field">*</span></label>
                        <input class="form-control fidelity-form-input" placeholder="Description" type="text"
                            formControlName="description" name='Origin Description' />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <mat-checkbox class="fidelity-checkbox" formControlName="isDealerSpecific">
                            Is Dealer Specific
                        </mat-checkbox>
                    </div>
                </div>
            </div>
            <hr>
            <mat-dialog-actions align="end">
                <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
                    cdkFocusInitial>Save</button>
                <button type="button" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
                    [mat-dialog-close]="true">Cancel</button>
            </mat-dialog-actions>
        </form>
    </p-scrollPanel>

</mat-dialog-content>

<!-- </form> -->