<div class="fidelity-call-recording-con d-inline-none">
    <div class="call-recording-header">
        <span>{{dialPadHeading}}</span>
        <div class="recording-header-btn-con">
            <button id="max_btn" class="p-relative call-action-btn mr-2" (click)="toggleWindow('maximize')"
                [ngClass]="isOpenScapeDivMaximized ? 'maximize-window' : '' ">
                <i class="icon icon-expand"></i>
            </button>
            <button id="min_btn" class="p-relative call-action-btn" (click)="toggleWindow('minimize')"
                [ngClass]="!isOpenScapeDivMaximized ? 'minimize' : '' ">
                <i class="icon icon-minus"></i>
            </button>
        </div>
    </div>
    <div class="call-recording-body" [ngClass]="!isOpenScapeDivMaximized  ? 'minimize' : '' ">
        <!-- Dial Pad Window-->
        <div *ngIf="!showRecentCallLogs; else showRecentCallWindow">
            <div class="dial-window-con" *ngIf="showDialpadContainer; else showConnectCallWindow">
                <div class="dial-pad-con">
                    <div class="dial-pad-body">
                        <div class="dial-pad-container">
                            <span class="call-center-circle-img-con">
                                <i class="icon icon-customer-service" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Recent Call Window -->
        <ng-template #showRecentCallWindow>
            <div class="recent-call-window-con">
                <div class="recent-call-list-con">
                    <div class="recent-calls-header">
                        <div class="header-text pt-2">Recent Calls</div>
                    </div>
                    <div class="recent-call-list search-results" infiniteScroll (scrolled)="onScroll($event)"
                        [scrollWindow]="false" style="height: 185px;">
                        <div class="outgoing-call-row recent-call-detail-row d-flex justify-content-between"
                            *ngFor="let recentCall of recentCalls; let i = index" (mouseover)="highlightRow(i)">
                            <div class="detail-left d-flex flex-column"
                                [ngClass]="{'recentCall' : i === selectedIndex}">
                                <span *ngIf="recentCall.callType === 'Outbound'"
                                    class="material-icons call-indicator-icon">call_made</span>
                                <span *ngIf="recentCall.callType === 'Inbound'"
                                    class="material-icons call-indicator-icon">call_received</span>
                                <span class="dialled-name">{{recentCall.displayName}}</span>
                                <span
                                    class="dialled-number">{{recentCall.contactNumberCountryCode}}{{recentCall.contactNumber}}</span>
                            </div>
                            <div class="detail-right d-flex" [ngClass]="{'recentCall' : i === selectedIndex}">
                                <span class="call-time">{{recentCall.startTime | date:'shortTime'}}
                                    {{recentCall.talkTime}}</span>
                                <span class="call-time">{{recentCall.startTime | date}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- Call Connecting Window-->
        <ng-template #showConnectCallWindow>
            <div class="dial-window-con" *ngIf="showIncomingOrOutgoingCallContainer">
                <div class="call-connecting-con">
                    <div class="d-flex flex-column align-items-center mb-4 pt-4">
                        <span class="user-text">Call Patched From</span>
                    </div>
                    <div>
                        <ul class="d-flex">
                            <li class="d-flex flex-column">
                                <span class="circle-img-con">
                                    <i class="icon icon-user" aria-hidden="true"></i>
                                </span>
                                <span>FADT User</span>
                            </li>
                            <li class="d-flex flex-row justify-content-center align-items-start mt-3">
                                <i *ngIf="isInBoundCallComing" class="material-icons"
                                    style="font-size:36px">chevron_left</i>
                                <i class="icon icon-minus mr-2"></i>
                                <i class="icon icon-minus"></i>
                                <i *ngIf="isOutBoundCallGoing" class="icon icon-inactive-arrow"></i>
                            </li>
                            <li class="d-flex flex-column">
                                <span class="circle-img-con">
                                    <i class="icon icon-call-pick" aria-hidden="true"></i>
                                </span>
                                <span>Customer</span>
                                <span
                                    *ngIf="(isInBoundCallComing || isOutBoundCallGoing)">{{customerContactNumber}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Active Call and Hold Window -->
            <div class="active-call-con" *ngIf="showOnGoingCallTimerContainer">
                <div class="d-flex flex-column align-items-center mb-3 pt-4">
                    <div *ngIf="showOnGoingCallTimerContainer">
                        <ngx-countdown interval="0000"></ngx-countdown>
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <span class="circle-img-con p-relative">
                            <i class="icon icon-user" aria-hidden="true"></i>
                            <span *ngIf="isCallOnHold === true" class="circle-img-con p-absolute holding-call">
                                <i class="icon icon-pause" aria-hidden="true"></i>
                            </span>
                        </span>
                        <div class="call-info-con d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex">
                                <span class="info-name mr-1">Phone Number:</span>
                                <span class="value">{{customerContactNumber}}</span>
                            </div>
                            <div class="d-flex">
                                <span class="info-name mr-1">Contact Person:</span>
                                <span class="value">{{clientName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- Call actions icon btns -->
        <div class="p-absolute call-activities-actions">
            <div class="call-activities-icon-con">
                <button class="call-action-btn icon-round selected" (click)="dialPadClick()">
                    <i class="icon icon-useful-number"></i>
                </button>
                <ng-container *ngIf="showOnGoingCallTimerContainer">
                    <button (click)="onHoldCall()" class="call-action-btn icon-round">
                        <i class="icon icon-hold"></i>
                    </button>
                    <button class="inner-icons-holder call-action-btn icon-round p-relative">
                        <i class="icon icon-transfer-call"></i>
                        <div class="inner-icons-con flex-column p-absolute">
                            <!-- <button class="call-action-btn icon-round group-users mb-1 select"
                                (click)="openActiveCallFeatures('queue transfer')">
                                <i class="icon icon-group-call"></i>
                            </button> -->
                            <button class="call-action-btn icon-round single-user"
                                (click)="openActiveCallFeatures('user transfer')">
                                <i class="icon icon-user"></i>
                            </button>
                        </div>
                    </button>
                    <!-- <button class="call-action-btn icon-round">
                        <i class="icon icon-group-call"></i>
                    </button> -->
                </ng-container>
            </div>
        </div>
        <div class="call-action-btn-con d-flex justify-content-evenly align-items-center bottom-icons-con">
            <button *ngIf="!showOnGoingCallTimerContainer&&!isOutBoundCallGoing&&finalMobileNumber"
                id="call-control-btn"
                class="call-action-btn d-flex flex-column justify-content-center align-items-center"
                (click)='createOutGoingOrAcceptIncomingCustomerCall();'>
                <!-- use 'hold-call' class for gray button -->
                <!-- use 'disconnect-call' class for red button -->
                <i class="icon icon-call-pick"></i>
            </button>
            <button *ngIf="showOnGoingCallTimerContainer || isOutBoundCallGoing" id="call-control-btn"
                class="call-action-btn d-flex flex-column justify-content-center align-items-center disconnect-call"
                (click)='disconnectCall();'>
                <i class="icon icon-call-pick"></i>
            </button>
        </div>
    </div>
</div>
