<div class="page-heading ">
    <h1 class="page-title d-inline-block">Stock Swop</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToPage()"> Bill of Materials</a>
        </li>
        <li class="breadcrumb-item">
            Stock Swop
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="stockSwapRequestForm" (ngSubmit)="onSubmit()">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{ height: '65vh'}">
                        <div class="ibox-body mb-3 sm-inputs">
                            <div class="row">
                                <div class="col-12 page-sub-title">PLEASE SELECT THE ITEM WHICH YOU WOULD LIKE TO SWOP
                                    OUT</div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Stock Code</label>
                                        <select name="Stock Code" (change)="swapChanged($event.target.value)"
                                            class="form-control fidelity-form-input" formControlName="swapStockCodeId">
                                            <option value="">Select</option>
                                            <option [value]="item.itemId"
                                                *ngFor="let item of swapStockCodeList.bomQuotationItems">
                                                {{item.itemCode}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input type="text" class="form-control fidelity-form-input" disabled
                                            formControlName="stockSwapStatus">
                                    </div>
                                </div>
                                <div class="col-12 page-sub-title">PLEASE SELECT THE ITEM WITH WHICH YOU WOULD LIKE TO
                                    REPLACE THE SELECTED ITEM WITH</div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Stock Code</label>
                                        <p-autoComplete formControlName="replaceStockCodeId"
                                            [suggestions]="replaceStockCodeList"
                                            (onSelect)="replacementChanged($event.id)" appendTo="body"
                                            (completeMethod)="getReplaceStockList($event)" field="itemCode" [size]="30"
                                            [minLength]="1"></p-autoComplete>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group" style="width: 100%;">
                                        <label>Stock Description</label>
                                        <p-autoComplete formControlName="replaceStockCodeItemDescription"
                                            [suggestions]="replaceStockDescList"
                                            (onSelect)="replacementChanged($event.id, 'stockDesc')" appendTo="body"
                                            (completeMethod)="getReplaceStockList($event, 'stockDesc')"
                                            field="displayName" [size]="30" [minLength]="1"></p-autoComplete>
                                    </div>
                                </div>
                            </div>

                            <div class="row header-row mt-3" style="font-size: 1rem;">
                                <div class="col-2">Swopped Stock Code
                                    <!-- Actual item  -->
                                    <span class="mandatory-field">*</span>
                                </div>
                                <div class="col-2">Selling Price Incl. Vat<span class="mandatory-field">*</span></div>
                                <div class="col-2">Replacement Stock Code
                                    <!-- swopped item  -->
                                    <span class="mandatory-field">*</span>
                                </div>
                                <div class="col-2">Selling Price Incl. Vat<span class="mandatory-field">*</span></div>
                                <div class="col-2">Difference<span class="mandatory-field">*</span></div>
                            </div>
                            <div formArrayName="stockSwapItems"
                                *ngFor="let obj of stockSwapRequestForm?.get('stockSwapItems')?.controls;let i=index">
                                <div class="row header-row mb-1" [formGroupName]="i">
                                    <div class="col-2">
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="actualStockCode" />
                                    </div>
                                    <div class="col-2">
                                        <input style="text-align: right;"
                                            class="form-control fidelity-form-input text-right disabled" type="text"
                                            formControlName="actualSellingPrice" />
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="swapStockCode" />
                                    </div>
                                    <div class="col-2">
                                        <input style="text-align: right;"
                                            class="form-control fidelity-form-input text-right disabled" type="text"
                                            formControlName="swapSellingPrice" />
                                    </div>
                                    <div class="col-2">
                                        <input style="text-align: right;"
                                            class="form-control fidelity-form-input text-right disabled" type="text"
                                            formControlName="differenceAmount" />
                                    </div>
                                </div>
                            </div>
                            <div class="row total-row">
                                <div class="col-8">
                                    <input style="text-align: right;" class="form-control fidelity-form-input disabled"
                                        value="Total" type="text" />
                                </div>
                                <div class="col-2">
                                    <input style="text-align: right;"
                                        class="form-control fidelity-form-input text-right disabled" value type="text"
                                        formControlName="totalDiff" />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-10">
                                    <div class="form-group">
                                        <label>Stock Swop Description<span class="mandatory-field">*</span></label>
                                        <textarea name="Stock Swop Description" rows="3" formControlName="swapOutReason"
                                            class="form-control fidelity-form-input"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group d-flex justify-content-start align-items-center">
                                        <!-- <mat-radio-group class="form-group" aria-label="Select an option"
                                            formControlName="isApproval">
                                            <mat-radio-button class="fidelity-radio-btn" value="1" >Customer
                                                Agreed to Changes</mat-radio-button>
                                            <mat-radio-button class="fidelity-radio-btn" value="2" >Internal
                                                Approval</mat-radio-button>
                                        </mat-radio-group> -->
                                        <mat-checkbox class="fidelity-checkbox mr-3"
                                            formControlName="isApproval">Customer Agreed to Changes</mat-checkbox>
                                        <mat-checkbox class="fidelity-checkbox" formControlName="isNotApproval">Internal
                                            Approval</mat-checkbox>
                                    </div>
                                    <span class="text-danger d-block" *ngIf="isShowTotalError()">
                                        Please choose one of approval checkbox before proceeding further
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Contact Person<span class="mandatory-field"
                                                *ngIf="stockSwapRequestForm.get('isApproval').value || stockSwapRequestForm.get('isNotApproval').value">*</span></label>
                                        <select class="form-control fidelity-form-input" name="Contact Person"
                                            formControlName="contactPersonId">
                                            <option value="">Select Contact Person</option>
                                            <option [value]="item.keyHolderId" *ngFor="let item of contactPersonList">
                                                {{item.customerName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Contact Number<span class="mandatory-field"
                                                *ngIf="stockSwapRequestForm.get('isApproval').value || stockSwapRequestForm.get('isNotApproval').value">*</span></label>
                                        <select class="form-control fidelity-form-input" name="Contact Person"
                                            formControlName="contactPersonNumber">
                                            <option value="" disabled>Select</option>
                                            <option [value]="item" *ngFor="let item of contactNumberList">
                                                {{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit"
                        [disabled]="stockSwapRequestForm.get('stockSwapStatus').value.toLowerCase().includes('approve') ? true: null">Apply</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                        (click)="navigateToPage()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>