<div class="page-heading ">
    <h1 class="page-title no-border">{{cancelReasonCodeId ? 'Update' : 'Add'}} Cancellation Reason Codes </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"> Billing </li><li class="breadcrumb-item"> Bank Configuration </li>
        <li class="breadcrumb-item"><a (click)="navigateToList()"> Cancellation Reason codes </a></li>
        <li class="breadcrumb-item" *ngIf="cancelReasonCodeId" (click)="navigateToEditPage()">
            <a> View Cancellation Reason Codes </a>
        </li>
        <li class="breadcrumb-item">{{cancelReasonCodeId ? 'Update' : 'Add'}} Cancellation Reason Codes </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="cancelReasonCodeAddEditForm" (ngSubmit)="submit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label> Cancellation Reason Codes <span class="mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Cancellation Reason Codes Description </label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <label> Status </label>
                            </div>
                        </div>
                    </div>
                    <div class="" formArrayName="cancelReasonCodeDetails"
                        *ngFor="let groupObj of cancelReasonCodeAddEditForm?.get('cancelReasonCodeDetails')?.controls;let i=index">
                        <div class="row p-relative" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <input name="cancel name" class="form-control fidelity-form-input"
                                    type="text" maxlength="4" [validateInput]="alphaNumeric" formControlName="cancelReasonCodeName" (change)="onChange()"
                                    placeholder="Enter name"/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <input maxlength="100" name="description" class="form-control fidelity-form-input"
                                        id="description" type="text" formControlName="description"/>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="form-group">
                                    <label class="switch add-stack-status">
                                        <input type="checkbox" formControlName="isActive">
                                        <span class="slider round active"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-2 text-center">
                                <button *ngIf="i==0 && !cancelReasonCodeId" type="submit"
                                    class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                    (click)="addCancelReasonCode()" title="Add" matTooltip="Add">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button *ngIf="i!==0" type="button" class="circle-minus-btn"  matTooltip="Delete" id="delete_record" (click)="removeCancelReasonCode(i)">
                                    <i aria-hidden="true" class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button id="btn-item-price-param" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3 ">{{cancelReasonCodeId ? 'Update' : 'Save'}}</button>
                    <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()">Cancel</button>
                </div>
            </p-scrollPanel>
        </div>
    </form>
</div>

<style>
    button.circle-plus-btn{
        right: 0px !important;
    top: 0px !important;
    }
</style>
