<div class="page-content fade-in-up">
        <div class="form-box">
            <form customForm [formGroup]="cientHistoryForm">
                <div class="row">
                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                        <div class="form-group">
                            <label>Form Date<span class="mandatory-field">*</span></label>
                            <p-calendar formControlName="fromDate" name="fromDate" [dateFormat]="getDateFormat()" styleClass="w-100"></p-calendar>
                        </div>
                    </div>
                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                        <div class="form-group">
                            <label>To Date<span class="mandatory-field">*</span></label>
                            <p-calendar formControlName="toDate" [dateFormat]="getDateFormat()" styleClass="w-100"></p-calendar>
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center mt-2">
                        <button class="btn btn-md-fidelity btn-default" (click)="filterData()">
                            Search
                        </button>
                        <button class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-4" (click)="clearSearch()">
                            Clear
                        </button>
                    </div>
                </div>
            </form>
        </div>
</div>
<h1 class="page-sub-title ext-padd mt-4">HISTORY</h1>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [loading]="loading"
    [dataList]="dataList" [pageLimit]="pageLimit" [status]="status" [selectedTabIndex]="selectedTabIndex"
    [totalRecords]="totalRecords" (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>

<style>
.form-box{
    padding: 20px;
    box-shadow: 0 0 3px 3px #eee;
        border-radius: 2px;
        background-color: #fff;
}
</style>
