<div class="page-heading ">
  <h1 class="page-title d-inline-block">Transactions Details</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/customer/manage-customers"><i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/customer/manage-customers">Customer Management </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/customer/manage-customers">Customers List</a>
    </li>

  </ol>
  <div class="grid-icons-con float-right">
    <a class="fidelity-btn-circle fidelity-brown-btn" (click)="sendInvoice()">
      <i class="icon icon-email" aria-hidden="true" matTooltip="Send Invoice/Statement"></i>
    </a>
    <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" matTooltip="Close"
      (click)="navigateToPage()" style="top: -2px;">
      <i class="fa fa-close" aria-hidden="true"></i></a>
  </div>
  <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
  <div class="ibox white-bg view-box">
    <div class="ibox-body brown-border">
      <div class="row mt-2">
        <div class="col-md-12">
          <app-view-page [col]="2" [viewDetail]="transactionDetails"></app-view-page>
        </div>
      </div>
    </div>
    <div class="ibox-body brown-border">
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="custom-table" style="overflow:scrol">
            <p-scrollPanel [style]="{ height: '50vh'}">
              <p-accordion (onOpen)="onTabOpen($event)" [multiple]="true"  id="view-all-transactions">
                <p-accordionTab [header]="customer?.customerRefNo" [selected]="i==0"
                  *ngFor="let customer of debtorTransactions?.debtorCustomerDetailsDTO;let i=index">
                  <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
                    [(selection)]="selectedRows" [scrollable]="true" scrollHeight="390px" [autoLayout]="true"
                   [value]="debtorTransactions?.debtorCustomerDetailsDTO[i]?.paymentTransactions"
                    [dataKey]="tables.dataKey" [paginator]="(totalRecords == 0) ? false : true" [rows]="10"
                    [totalRecords]="totalRecords" [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null"
                    [responsive]="true" columnResizeMode="expand" [reorderableColumns]="tables?.reorderableColumns"
                    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                    <ng-template pTemplate="caption">
                    </ng-template>
                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                        <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                        <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                      <tr class="first-row">
                        <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                          <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                        </th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                          pReorderableColumn>
                          {{col.header}}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                          </p-sortIcon>
                        </th>
                        <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                          *ngIf="tables?.enableRowDelete">
                          Action
                        </th>
                      </tr>
                      <tr *ngIf="tables?.enableFieldsSearch">
                        <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                        </th>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                          <input [formControlName]="col.field" [validateInput]='isAnAlphaNumericOnly'
                            *ngIf="col.field != 'isActive' && !col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                            pInputText type="text">
                          <p-calendar [formControlName]="col.field" [utc]='true' [maxDate]="today"
                            *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                            (onClearClick)="dt.filter($event.value,col.field,null)">
                          </p-calendar>
                          <p-dropdown [formControlName]="col.field"
                            *ngIf="col.field == 'isActive' && i == selectedTabIndex" appendTo="body" [options]="status"
                            placeholder="Select Status" [style]="{'width':'75%'}" [showClear]="true">
                          </p-dropdown>
                        </th>
                        <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                          *ngIf="tables?.enableRowDelete"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                      let-expanded="expanded">

                      <tr [pSelectableRow]="rowData">
                        <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox ">
                          <p-tableCheckbox [value]="rowData" (click)="checkboxSelected(rowData, $event)">
                          </p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle
                          [ngStyle]="{'text-align': (col.field == 'debitAmount' || col.field == 'creditAmount' || col.field == 'outstandingAmount' || col.field == 'startTotal' || col.field == 'total') ? 'right':'left'}">
                          <a href="#" [pRowToggler]="rowData"
                            *ngIf="selectedTabIndex==0 && tables?.rowExpantable && i == tables?.rowExpantableIndex">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                          </a>
                          <ng-container
                            *ngIf="col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                          </ng-container>
                          <ng-template #thenTemplate>
                            <ng-container
                              *ngIf="col.field.toLowerCase() !='debitdate' && col.field.toLowerCase().includes('date')">
                              {{rowData[col.field] ? (rowData[col.field] |
                              date) : '--'}}
                            </ng-container>
                            <ng-container *ngIf="col.field.toLowerCase() =='debitdate'">
                              {{rowData[col.field] ? (rowData[col.field] |
                              date) : '--'}}
                            </ng-container>
                          </ng-template>
                          <ng-template #elseTemplate>
                            <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                              <a style="color: #166DFF;" pTooltip="{{rowData[col?.field]}}" tooltipPosition="top"
                                (click)="onCRUDRequested('view',rowData)">
                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                              </a>
                            </ng-container>
                            <ng-container *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                              <a style="color: #166DFF;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                                (click)="onCRUDRequested('edit',rowData, col.field)">
                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                              </a>
                            </ng-container>
                            <ng-container
                              *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                              <ng-container *ngIf="col?.isCheckbox">
                                <p-checkbox class="fidelity-checkbox fidelity-checkbox-header d-block"
                                  [(ngModel)]="rowData[col.field]" [ngModelOptions]="{standalone: true}" binary="true"
                                  [disabled]="col?.isDisabled">
                                </p-checkbox>
                              </ng-container>
                              <ng-container *ngIf="!col?.isCheckbox">
                                <ng-container
                                  *ngIf="col.field == 'debitAmount' || col.field == 'creditAmount' || col.field == 'outstandingAmount' || col.field == 'startTotal' || col.field == 'total'; else elseColumTemplate">
                                  <span pTooltip="{{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No' :
                                                          rowData[col.field] ? rowData[col.field] : '--'}}"
                                    tooltipPosition="top">
                                    {{rowData[col.field] === true ? 'Yes' :
                                    rowData[col.field] === false ?
                                    'No' :
                                    rowData[col.field] ? (rowData[col.field] | formatNumber) :'R 0.00'}}
                                  </span>
                                </ng-container>
                                <ng-template #elseColumTemplate>
                                  <span pTooltip="{{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No' :
                                                          rowData[col.field] ? rowData[col.field] : '--'}}"
                                    tooltipPosition="top">
                                    {{rowData[col.field] === true ? 'Yes' :
                                    rowData[col.field] === false ?
                                    'No' :
                                    rowData[col.field] ? rowData[col.field] :
                                    '--'}}
                                  </span>
                                </ng-template>


                              </ng-container>
                            </ng-container>
                          </ng-template>


                        </td>
                        <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                          <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                            class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
                        </td>
                      </tr>

                    </ng-template>
                    <ng-template pTemplate="footer">
                      <tr>
                        <td style="width: 40px;"></td>
                        <td style="width: 200px;"><strong>Total</strong></td>
                        <td style="width: 100px;"></td>
                        <td style="width: 200px;"></td>
                        <td style="width: 150px;"></td>
                        <td style="width: 150px;"></td>
                        <td style="width: 100px;text-align: right;">
                          <strong>{{debtorTransactions.debtorCustomerDetailsDTO[i]['total']?.debit|
                            formatNumber }}</strong>
                        </td>
                        <td style="width: 100px;text-align: right;">
                          <strong>{{debtorTransactions.debtorCustomerDetailsDTO[i]['total']?.credit |
                            formatNumber }}</strong>
                        </td>
                        <td style="width: 100px;text-align: right;">
                          <strong>{{debtorTransactions.debtorCustomerDetailsDTO[i]['total']?.outstanding |
                            formatNumber}}</strong>
                        </td>
                        <td style="width: 100px;"></td>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="paginatorleft" let-state>
                      <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                        {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows *
                          (state.page + 1) : totalRecords}} of <strong>{{totalRecords ? totalRecords :
                          pageSize}}</strong> entries
                      </p>
                    </ng-template>
                  </p-table>
                </p-accordionTab>
              </p-accordion>
            </p-scrollPanel>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<p-dialog styleClass="invoiceInfo" [maximizable]="true" [(visible)]="invoiceInfo" [responsive]="true" showEffect="fade"
  [resizable]="false" [modal]="true" [style]="{width: '820px'}">
  <p-header>
    Invoice Info
  </p-header>
  <app-popup-loader></app-popup-loader>
  <div>
    <form customForm [formGroup]="paymentInvoiceForm" *ngIf="paymentInvoiceForm" (ngSubmit)="submitInvoice()"
      class="fidelity-popup-form" style="font-size: 0.9rem!important;">
      <div>
        <p-scrollPanel [style]="{ height: '30vh'}">
          <div class="view-box">
            <div class="row mt-1">
              <div class="col-6">
                <div class="d-flex mb-2">
                  <span class="key">Debtor Name</span>
                  <span class="value">
                    <span class="d-inline-block">{{debtorTransactions?.debtorDetails?.debtorName}}</span>
                  </span>
                </div>
              </div>
              <div class="col-6">
                <div class="d-flex mb-2">
                  <span class="key">Address</span>
                  <span class="value">
                    <span class="d-inline-block">{{debtorTransactions?.debtorDetails?.address}}</span>
                  </span>
                </div>
              </div>
              <div class="col-6">
                <div class="d-flex mb-2">
                  <span class="key">Template<span class="mandatory-field">*</span></span>
                  <span class="form-group ">
                    <select class="form-control fidelity-form-input" formControlName="templateId"
                      [ngClass]="{'disabled':isNotInvoiceType}" #input>
                      <option value="" disabled>Select Template</option>
                      <option *ngFor="let template of templateList" [value]="template.id">
                        {{template.displayName}}
                      </option>
                    </select>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 p-0">
                <div class="col-12 mb-2">Debtor</div>
                <div class="col-12">
                  <div class="input-group ">
                    <span class="input-group-addon border-0 bg-white">
                      <mat-checkbox class="fidelity-checkbox mr-2" name="isDebtor" (change)="emailCheck()"
                        formControlName="isDebtor">
                      </mat-checkbox>
                    </span>
                    <span class="form-group">
                      <input type="email" class="form-control fidelity-form-input rounded fidelity_email"
                        name="debtor email" #input formControlName="debtorEmail">
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-6 p-0">
                <div class="col-12 mb-2">Other</div>
                <div class="col-12">
                  <div class="input-group form-group ">
                    <span class="input-group-addon border-0 bg-white">
                      <mat-checkbox class="fidelity-checkbox mr-2" name="isOther" (change)="emailCheck()"
                        formControlName="isOther">
                      </mat-checkbox>

                    </span>
                    <span class="form-group">
                      <input type="email" class="form-control fidelity-form-input rounded" name="other email" #input
                        formControlName="otherEmail">
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- end Reason -->

          </div>
        </p-scrollPanel>
      </div>

      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <div class="text-center">
            <button type="submit" pButton class="ui-button-success mr-4"
              style="display: inline-block;background: #115943!important;" label="Apply"
              [disabled]="!isCheckedEmail"></button>
            <button (click)="invoiceInfo = false" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
              style="padding:7px">Cancel</button>
          </div>
        </div>
      </p-footer>
    </form>
  </div>
</p-dialog>
