<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>{{popupData['header']}}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>


<form class="fidelity-popup-form" customForm [formGroup]="noSignalRequestForm" customForm
    (ngSubmit)="submitForm()">
    <mat-dialog-content>
        <div class="view-box">
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="customerRefNoLabel" class="key">Customer ID</span>
                        <span id="customerRefNoValue" class="value">
                            <span class="d-inline-block">{{noSignalRequestDetails?.customerRefNo ?
                                noSignalRequestDetails?.customerRefNo : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="customerNameLabel" class="key">Customer Name</span>
                        <span id="customerNameValue" class="value">
                            <span class="d-inline-block">{{noSignalRequestDetails?.customerName ?
                                noSignalRequestDetails?.customerName : '-'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="d-flex">
                        <span id="addressLabel" class="key" style="width:18.5%">Address</span>
                        <span id="addressValue" class="value">
                            <span class="d-inline-block">{{noSignalRequestDetails?.address ?
                                noSignalRequestDetails?.address : '-'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="techAreaLabel" class="key">Tech Area</span>
                        <span id="techAreaValue" class="value">
                            <span class="d-inline-block">{{noSignalRequestDetails?.techArea ?
                                noSignalRequestDetails?.techArea : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="requestDateLabel" class="key">Request Date</span>
                        <span id="requestDateValue" class="value">
                            <span class="d-inline-block">{{noSignalRequestDetails?.requestDate ?
                                (noSignalRequestDetails?.requestDate | date) : '-'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="signalSpecialChangeDateLabel" class="key">Signal Special Change Date</span>
                        <span id="signalSpecialChangeDateValue" class="value">
                            <span class="d-inline-block">{{noSignalRequestDetails?.signalSpecialChangeDate ?
                                (noSignalRequestDetails?.signalSpecialChangeDate | date): '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="signalSpecialUpdatedByLabel" class="key">Signal Special Updated By</span>
                        <span id="signalSpecialUpdatedByValue" class="value">
                            <span class="d-inline-block">{{noSignalRequestDetails?.signalSpecialUpdatedBy ?
                                noSignalRequestDetails?.signalSpecialUpdatedBy : '-'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="statusLabel" class="key">Status</span>
                        <span id="statusValue" class="value">
                            <select class="form-control fidelity-form-input" name="Status" formControlName="noSignalRequestStatusId">
                                <option value="" disabled>Select Status</option>
                                <option *ngFor="let statusData of statusList" [value]="statusData.id">
                                    {{statusData.displayName}}
                                </option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 fidelity-date-picker-con p-relative">
                    <label class="d-block" for="">Follow-Up Date<span class="mandatory-field">*</span></label>
                    <mat-form-field>
                        <input matInput [matDatepicker]="dateFrom" [min]="todayDate" formControlName="followUpDate">
                        <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                        <mat-datepicker #dateFrom [calendarHeaderComponent]="exampleHeader">
                        </mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <label>Comments<span class="mandatory-field">*</span></label>
                    <textarea class="form-control fidelity-form-input" type="text" placeholder="Enter" formControlName="followUpComments"></textarea>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <div class="text-center mt-4 mb-2">
        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Submit</button>
        <!-- [disabled]="noSignalRequestDetails?.customerInspectionEscalationStatusName?.toLowerCase() == 'reviewed'" -->
        <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>
