<div class="page-heading ">
    <!-- <h2 class="page-title d-inline-block">{{warehouseStockLimitConfigId? 'Update' : 'Add'}} Stock Limit Config</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">Inventory Management</li>
        <li class="breadcrumb-item">Stock Take</li>
        <li class="breadcrumb-item">Audit cycle configuration</li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()">Stock Limit Config</a>
        </li>
        <li class="breadcrumb-item" *ngIf="warehouseStockLimitConfigId">
            <a (click)="navigateToView()">View Stock Limit Config</a>
        </li>
        <li class="breadcrumb-item">{{warehouseStockLimitConfigId? 'Update' : 'Add'}} Stock Limit Config</li>
    </ol> -->
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"  >
    </app-page-header>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="warehouseRandomSelectionForm"
                (ngSubmit)="createWarehouseRandomSelectionConfig()">
                <div class="ibox">
                        <div class="ibox-body mb-3">
                            <div class="row sm-inputs">
                                <div class="col-4">
                                    <div class="form-group fidelity-multiselect-dropdown-con" style="width: 100%;">
                                        <label class="d-block">Warehouse<span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete ngDefaultControl class="input-width-medium"
                                            [id]="'warehouseSelectionId'"
                                            [formControl]="warehouseRandomSelectionForm.controls['warehouseId']" [placeholder]="'Select Warehouse'"
                                            [options]="warehouseList" [multiple]='true' [value]="'value'"
                                            [display]="'display'" [disabled]="warehouseStockLimitConfigId">
                                        </mat-select-autocomplete>
                                        <span class="text-danger" *ngIf="(warehouseRandomSelectionForm?.get('warehouseId').touched && warehouseRandomSelectionForm?.get('warehouseId').invalid)">
                                            Warehouse is required
                                        </span>
                                    </div>
                                </div>   
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Random Stock Limit<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" type="text"
                                        formControlName="randomStockLimit" [validateInput]="isANumberWithZero"
                                        placeholder="Enter Random Stock Limit"/>
                                    </div>                    
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>High Risk Stock Limit Per Item<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" type="text"
                                        formControlName="highRiskStockLimitPerItem" [validateInput]="isANumberWithZero"
                                        placeholder="Enter High Risk Stock Limit Per Item"/>
                                    </div>                    
                                </div>
                            </div>
                            <div class="row sm-inputs">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>System Generated Stock Limit<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" type="text"
                                        formControlName="systemGeneratedStockLimit" [validateInput]="isANumberWithZero"
                                        placeholder="Enter System Generated Stock Limit"/>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-md-fidelity fidelity-btn-brown">{{warehouseStockLimitConfigId? 'Update' : 'Save'}}</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button" (click)="navigateToList()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>