<div class="page-heading ">
  <h1 class="page-title d-inline-block"> Lightning Cover Link </h1>
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a><i class="fa fa-home" aria-hidden="true"></i> </a>
      </li>
      <li class="breadcrumb-item">
          <a> Technical Management </a>
      </li>
      <li class="breadcrumb-item">
        <a> Configuration </a>
      </li>
      <li class="breadcrumb-item">
          <a (click)="navigateToList()"> Lightning Cover  </a>
      </li>

      <li class="breadcrumb-item">
          Lightning Cover Link
      </li>
  </ol>
</div>

<div class="page-content fade-in-up">
  <div class="row">
      <div class="col-md-12">
          <form class="fidelity-popup-form" customForm [formGroup]="lightningCoverLinkAddEditForm" (ngSubmit)="onSubmit()">
              <div class="ibox" style="height: auto;">
                  <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                      <div class="ibox-body mb-3">
                          <div class="col-12">
                              <div class="row">
                                  <div class="col-4">
                                      <div class="form-group">
                                          <label> Lightning cover linked to <span class="mandatory-field">*</span></label>
                                          <select class="form-control fidelity-form-input" (change)="getInitialData($event.target.value)" name="lightingCoverLinkTypeId" formControlName="lightingCoverLinkTypeId">
                                              <option value='' selected>--Select Lightning cover--</option>
                                              <option *ngFor="let link of lightningCoverLink" [value]="link?.id">
                                                  {{link?.displayName}}
                                              </option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="form-group">
                                          <label> Status <span class="mandatory-field">*</span></label>
                                          <select class="form-control fidelity-form-input" name="status" formControlName="isActive">
                                              <option value='' selected>--Select Status--</option>
                                              <option *ngFor="let item of lightningStatus" [value]="item.value">
                                                  {{item.label}}
                                              </option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                  </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">{{lightingCoverLinkConfigId ? 'Update' : 'Save'}}</button>
                  <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
