 <div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
  cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
  {{config?.header}}
  <button mat-icon-button class="close-button p-absolute" type="button" (click)="dialogClose()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="userLevelTypeAddEditForm" customForm [formGroup]="userLevelTypeAddEditForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" >User Level<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
             <select class="form-control fidelity-form-input" formControlName="userLevelId">
               <option value="" disabled> Select User Level</option>
               <option *ngFor="let userLevel of userLevelDropdown" [value]="userLevel.id">
                {{userLevel.displayName}}
              </option>
             </select>
                <!-- <input-custom-control formControlName="userLevelTypeName"></input-custom-control> -->
            </div>
        </div>


        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label">User Type<span
              class="mandatory-field">*</span></label>
            <div class="col-md-12">
              <select class="form-control fidelity-form-input"  formControlName="userTypeId">
                <option value="" disabled> Select User Type</option>

                <option *ngFor="let userType of userTypeDropdown" [value]="userType.id">
                  {{userType.displayName}}
                </option>
              </select>
            </div>
        </div>
    </mat-dialog-content>
    <!-- <hr> -->
    <mat-dialog-actions class="d-flex" align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" (click)="dialogClose()">Cancel</button>
    </mat-dialog-actions>
</form>
