<div class="fidelity-popup-heading container-fluid p-relative" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>{{popupData['header']}}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="popupData['type']=='alert'">
    <mat-dialog-content>
        <div class="row mt-4">
            <div class="col align-items-center justify-content-center flex-column text-center">
                <!-- <p id="parentContainer"></p> -->
                {{popupData['message']}}
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown mt-3 mb-3" type="button"
            *ngIf="popupData['buttons']['create']" [mat-dialog-close]="true">{{popupData['buttons']['create']}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey mt-3 mb-3" [mat-dialog-close]="false"
            *ngIf="popupData['buttons']['cancel']">{{popupData['buttons']['cancel']}}</button>
    </mat-dialog-actions>
</form>

<form class="fidelity-popup-form" *ngIf="popupData['type']=='appointment'"
[formGroup]="inspectionEscalationForm" (ngSubmit)="submitEscalation()" customForm>
    <mat-dialog-content>
        <div class="row ">
            <div class="col-12">
                <div class="form-group">
                    <label>Preferred Appoinment Date/Time</label>
                    <p-calendar formControlName="preferredDate" [showTime]="true" hourFormat="24" styleClass="w-100"></p-calendar>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="d-block">Comments<span class="mandatory-field">*</span></label>
                    <textarea class="form-control fidelity-form-input" name="" rows="3"
                    formControlName="comments"></textarea>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <div class="text-center mt-4 mb-2">
        <button  class="btn btn-md-fidelity fidelity-btn-brown" type="submit" [disabled]="inspectionEscalationForm?.get('customerInspectionEscalationId')?.value">Submit</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </div>
</form>

<form class="fidelity-popup-form" *ngIf="popupData['type']=='anotherinspection'"
[formGroup]="anotherInspectionForm" (ngSubmit)="navigateToInspectionPage()" customForm>
    <mat-dialog-content>
        <p><b>Please select the service call number to which the Inspection relates</b></p>
        <div class="row ">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="form-group">
                    <label>Service Call Number<span class="mandatory-field">*</span></label>
                    <select class="form-control fidelity-form-input" formControlName="serviceCallNumber">
                        <option value="" *ngIf="!serviceCallList?.length" disabled>No Service Call</option>
                        <option [value]="serviceCallData.callInitiationId" *ngFor="let serviceCallData of serviceCallList; let i=index" [selected]='i==0'>
                            {{serviceCallData.callInitiationNumber}}</option>
                    </select>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <div class="text-center mt-4 mb-2">
        <button  class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Submit</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>
