<div class="fidelity-popup-heading container-fluid">Openscape Login
  <button type="button" [mat-dialog-close]="true" class="close" data-dismiss="modal">&times;</button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="agentExtensionForm" customForm [formGroup]="agentExtensionForm"
  (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="row p-4">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Region<span class="mandatory-field">*</span></label>
              <select-custom-control [loopableArray]='regions' formControlName="regionId">
              </select-custom-control>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label>Extension Number</label>
              <input autocomplete="off" class="form-control fidelity-form-input" type="text"
                placeholder="Extension Number" formControlName="extension">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Password</label>
              <input class="form-control fidelity-form-input" type="text" autocomplete="off"
                class="form-control fidelity-form-input fidelity_password" placeholder="Password"
                formControlName="password">
            </div>
          </div>
        </div>
        <div class="row">
          <div style="padding-top: 0;" class="col-4">
            <div class="form-group">
              <p-checkbox name="group1" label="Voice" [(ngModel)]="selectedMedia" [ngModelOptions]="{standalone: true}"
                value="1" inputId="preopt1">
              </p-checkbox>
            </div>
          </div>
          <div style="padding-top: 0;" class="col-4">
            <div class="form-group">
              <p-checkbox name="group1" label="Email" [(ngModel)]="selectedMedia" [ngModelOptions]="{standalone: true}"
                value="3" inputId="preopt2">
              </p-checkbox>
            </div>
          </div>
          <div style="padding-top: 0;" class=" col-4">
            <div class="form-group">
              <p-checkbox name="group1" label="Call Back" [(ngModel)]="selectedMedia"
                [ngModelOptions]="{standalone: true}" value="2" inputId="preopt3">
              </p-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <span class="text-danger" *ngIf="isMediaNotSelected && isSubmitted">
              Media is required
            </span>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
      cdkFocusInitial>Login</button>
    <button id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
      [mat-dialog-close]="true">Cancel</button>
  </mat-dialog-actions>
</form>