
<!-- view start -->
<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{stockId ? 'Update' : 'Add'}} Stock ID Request</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            Billing
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/billing/stock-id-request' [queryParams]="{tab:0}">Stock ID Request List</a>
        </li>
        <li class="breadcrumb-item" *ngIf="stockId">
            <a routerLink='/billing/stock-id-request/view' [queryParams]="{id:stockId}">
                View
            </a>
        </li>
        <li class="breadcrumb-item" *ngIf="!stockId">Add Stock ID Request </li>
        <li class="breadcrumb-item" *ngIf="stockId" class="breadcrumb-item"> Update - {{stockIdDetails?.stockIdName ?
            stockIdDetails?.stockIdName : '--'}}</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="stockIdForm" customForm (ngSubmit)="onSubmit()">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body mb-3">
                            <!-- srt options -->
                            <div class="row sm-inputs">
                                <div class="col-4 mb-3">
                                    <!-- Stock ID -->
                                    <div class="col-12 mb-2 p-0">Stock ID</div>
                                    <div class="col-12 p-0">
                                        <!-- <p-dropdown [options]="stokIdDropdown" formControlName="stockIdName" optionLabel="stockIdName"  [showClear]="true" filter="true"></p-dropdown> -->
                                        <select name="Stock ID" [attr.disabled]="stockId ? true: null" (change)="onSelectStockId($event.target.value)"
                                            class="form-control fidelity-form-input" formControlName="stockId"
                                            style="width: 80%;">
                                            <option value="" disabled>Select Stock ID</option>
                                            <option *ngFor="let stockIds of stokIdDropdown" [value]="stockIds.id">
                                                {{stockIds.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                    <!-- end Stock ID -->
                                </div>
                                <div class="col-4 mb-3">
                                    <!-- Stock ID Notes -->
                                    <div class="col-12 mb-2 p-0">Type Of Fee</div>
                                    <div class="col-12 p-0">
                                        <div class="form-group">
                                            <input type="text" name="Stock ID Notes"
                                                [value]="stockIdDetails?.isFixedFee ? 'Fixed' : 'Calculated'"
                                                class="form-control fidelity-form-input" placeholder="Enter" disabled>
                                        </div>
                                    </div>
                                    <!-- end Stock ID Notes -->
                                </div>

                                <div class="col-4 mb-3">
                                    <!-- Stock ID Notes -->
                                    <div class="col-12 mb-2 p-0">Tier Based Price</div>
                                    <div class="col-12 p-0">
                                        <div class="form-group">
                                            <input type="text" name="Stock ID Notes"
                                                [value]="stockIdDetails?.isTierBasedPrice ? 'Yes' : 'No'"
                                                class="form-control fidelity-form-input" placeholder="Enter" disabled>
                                        </div>
                                    </div>
                                    <!-- end Stock ID Notes -->
                                </div>
                                <div class="col-4 mb-3">
                                  <div class="col-12 mb-2 p-0">Stock ID Type</div>
                                  <div class="col-12 p-0">
                                      <div class="form-group">
                                          <input type="text" name="Stock ID Type"
                                          [value]="stockIdDetails?.stockIDTypeName"
                                              class="form-control fidelity-form-input" placeholder="Enter" disabled>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-4 mb-3">
                                <div class="col-12 mb-2 p-0">Stock Category</div>
                                <div class="col-12 p-0">
                                    <div class="form-group">
                                        <input type="text" name="Stock Category"
                                            [value]="stockIdDetails?.stockCategoryName"
                                            class="form-control fidelity-form-input" placeholder="Enter" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mb-3">
                          </div>

                                <div class="col-4 mb-3">
                                    <!-- Stock ID Notes -->
                                    <div class="col-12 mb-2 p-0">GL Code<span class="mandatory-field">*</span></div>
                                    <div class="col-12 p-0">

                                        <mat-form-field class="find_address_autocomplete">
                                            <input formControlName="geoLocationCodeId" #GL matInput
                                            name="GL Code" [matAutocomplete]="GL" class="fidelity-address-con">

                                        </mat-form-field>
                                        <mat-autocomplete #GL="matAutocomplete">
                                            <ng-container>
                                                <mat-option *ngFor="let stockIds of glCodeDropDown" [value]="stockIds.displayName"
                                                    (onSelectionChange)="onSelectedAddressFromAutoComplete($event.source.selected, stockIds,stockIds.id)">
                                                    <span>{{ stockIds.displayName }}</span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                        <span class="text-danger" *ngIf="stockIdForm?.get('geoLocationCodeId')?.touched && stockIdForm?.get('geoLocationCodeId')?.errors?.required">
                                            GL Code is required
                                        </span>
                                    </div>
                                    <!-- end Stock ID Notes -->
                                </div>
                                <div class="col-4 mb-3">
                                    <!-- Stock ID Notes -->
                                    <div class="col-12 mb-2 p-0">PC<span class="mandatory-field">*</span></div>
                                    <div class="col-12 p-0">
                                        <div class="form-group">

                                            <mat-form-field class="find_address_autocomplete">
                                                <input formControlName="profitCenterId" #PC matInput
                                                name="PC" [matAutocomplete]="PC" class="fidelity-address-con">

                                            </mat-form-field>
                                            <mat-autocomplete #PC="matAutocomplete">
                                                <ng-container>
                                                    <mat-option *ngFor="let stockIds of pcDropDown" [value]="stockIds.displayName"
                                                        (onSelectionChange)="onSelectedPcFromAutoComplete($event.source.selected, stockIds,stockIds.id)">
                                                        <span>{{ stockIds.displayName }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <span class="text-danger" *ngIf="stockIdForm?.get('profitCenterId')?.touched && stockIdForm?.get('profitCenterId')?.errors?.required">
                                                PC is required
                                            </span>
                                        </div>
                                    </div>
                                    <!-- end Stock ID Notes -->
                                </div>
                                <div class="col-4 mb-3">
                                    <!-- Stock ID Notes -->
                                    <div class="col-12 mb-2 p-0">CNGL<span class="mandatory-field">*</span></div>
                                    <div class="col-12 p-0">
                                        <div class="form-group">
                                            <mat-form-field class="find_address_autocomplete">
                                                <input formControlName="creditNoteGeoLocationId" #CNGL matInput
                                                name="CNGL" [matAutocomplete]="CNGL" class="fidelity-address-con">

                                            </mat-form-field>
                                            <mat-autocomplete #CNGL="matAutocomplete">
                                                <ng-container>
                                                    <mat-option *ngFor="let stockIds of cnglDropDown" [value]="stockIds.displayName"
                                                        (onSelectionChange)="onSelectedCnglFromAutoComplete($event.source.selected, stockIds,stockIds.id)">
                                                        <span>{{ stockIds.displayName }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <span class="text-danger" *ngIf="stockIdForm?.get('creditNoteGeoLocationId')?.touched && stockIdForm?.get('creditNoteGeoLocationId')?.errors?.required">
                                                CNGL is required
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row mt-3 mb-2">
                                <div *ngIf ="dayHourShiftGrade" class="col-md-2">Day<span class="mandatory-field">*</span></div>
                                <div *ngIf ="dayHourShiftGrade" class="col-md-2">Hour<span class="mandatory-field">*</span></div>
                                <div *ngIf ="dayHourShiftGrade" class="col-md-2">Shift<span class="mandatory-field">*</span></div>
                                <div *ngIf ="dayHourShiftGrade" class="col-md-2">Grade<span class="mandatory-field">*</span></div>
                                <div class="col-md-2">Stock Description <span class="mandatory-field">*</span></div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="" formArrayName="stockIdRequestDescriptions"
                                *ngFor="let obj of stockIdForm?.get('stockIdRequestDescriptions')?.controls;let i=index">
                                <div class="row" [formGroupName]="i">
                                    <div class="col-2" *ngIf ="dayHourShiftGrade">
                                        <div class="form-group" *ngIf="i == 0">
                                                <select [ngClass]="{'disabled': !stockIdDetails?.isDay}" (change)="onChange($event, i, 'day')" name="Day" class="form-control fidelity-form-input"
                                                formControlName="stockIdDayConfigId">
                                                <option value="" disabled>Select Day</option>
                                                <option *ngFor="let day of dayDropDown" [value]="day.id">
                                                    {{day.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                        <h1 class="page-sub-title ext-padd mt-3" *ngIf="i != 0">
                                            {{obj.get('stockIdDayConfigName')?.value}}</h1>
                                    </div>
                                    <div class="col-2" *ngIf="dayHourShiftGrade">
                                        <div class="form-group" *ngIf="i == 0">
                                                <select [ngClass]="{'disabled': !stockIdDetails?.isHours}" (change)="onChange($event, i, 'hour')" name="Hour" class="form-control fidelity-form-input"
                                                formControlName="stockIdHourConfigId">
                                                <option value="" disabled>Select Hour</option>
                                                <option *ngFor="let hour of hourDropDown" [value]="hour.id">
                                                    {{hour.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                        <h1 class="page-sub-title ext-padd mt-3" *ngIf="i != 0">
                                            {{obj.get('stockIdHour')?.value}}</h1>
                                    </div>
                                    <div class="col-2" *ngIf="dayHourShiftGrade">
                                        <div class="form-group" *ngIf="i == 0">
                                                <select [ngClass]="{'disabled': !stockIdDetails?.isShift}" (change)="onChange($event, i, 'shift')" name="Shift" class="form-control fidelity-form-input"
                                                formControlName="stockIdShiftConfigId">
                                                <option value="" disabled>Select Shift</option>
                                                <option *ngFor="let shift of shiftDropDown" [value]="shift.id">
                                                    {{shift.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                        <h1 class="page-sub-title ext-padd mt-3" *ngIf="i != 0">
                                            {{obj.get('stockIdShiftConfigName')?.value}}</h1>
                                    </div>
                                    <div class="col-2" *ngIf ="dayHourShiftGrade">
                                        <div class="form-group" *ngIf="i == 0">
                                                <select [ngClass]="{'disabled': !stockIdDetails?.isGrade}" (change)="onChange($event, i, 'grade')" name="Grade" class="form-control fidelity-form-input"
                                                formControlName="stockIdGradeConfigId">
                                                <option value="" disabled>Select Grade</option>
                                                <option *ngFor="let grade of gradeDropDown" [value]="grade.id">
                                                    {{grade.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                        <h1 class="page-sub-title ext-padd mt-3" *ngIf="i != 0">
                                            {{obj.get('stockIdGradeConfigName')?.value}}</h1>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group" *ngIf="i == 0">
                                            <input [ngClass]="{'disabled': dayHourShiftGrade}" #input placeholder="Stock Description" [validateInput]="stringConfig"

                                                class="form-control fidelity-form-input" type="text"
                                                name="Stock Description" formControlName="stockDescription">
                                        </div>
                                        <h1 class="page-sub-title ext-padd mt-3" *ngIf="i != 0">
                                            {{obj.get('stockDescription')?.value}}</h1>
                                    </div>


                                    <div class="col-1">
                                        <button *ngIf="i==0" id="add_cmc-sms-group_btn" style="top: 4px;"
                                            class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn p-absolute"
                                            (click)="addDescription()" title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </button>
                                        <button id="delete_record"
                                            *ngIf="i!==0 && !obj.get('stockDescriptionId')?.value"
                                            class="delete-row circle-minus-btn ml-1" (click)="removeDescription(i)"
                                            title="Delete"><i aria-hidden="true" class="icon icon-delete"></i>
                                        </button>
                                        <!-- <a *ngIf="i!==0 && obj.get('stockDescriptionId')?.value"
                                            class="delete-row ml-1">
                                            <i class="pi pi-check-circle" style="font-size: 30px;  color: #4d974d;"></i>
                                        </a> -->
                                        <a class="text-muted" *ngIf="i!==0 && obj.get('stockDescriptionId')?.value">
                                            <i aria-hidden="true" class="icon icon-tick color-green font-26"
                                                matTooltip="Edit"></i>
                                        </a>
                                        <!-- <a class="text-muted">
                                            <i aria-hidden="true" class="icon icon-error fdt-close-icon font-20"
                                                matTooltip="Edit"></i>
                                        </a> -->

                                    </div>

                                    <div class="col-12"
                                        *ngIf="!stockIdDetails?.isFixedFee && !stockIdDetails?.isTierBasedPrice">
                                        <div class="row" formArrayName="stockDescriptionPrices"
                                            *ngFor="let obj1 of getstockIdRequestDescriptionsPriceListArray(i)?.controls;let j=index">
                                            <div class="" [formGroupName]="j">
                                                <div class="container-fluid">
                                                    <div class="header-row row">
                                                        <div class="col-5">Division</div>
                                                        <div class="col-5">District</div>
                                                        <div class="col-1"></div>
                                                    </div>
                                                </div>
                                                <div class="container-fluid">
                                                    <div class="children-row row mb-2">
                                                        <div class="col-5">
                                                            <select name="Division"
                                                                class="form-control fidelity-form-input"
                                                                formControlName="divisionId" (click)="onDivisionChange($event.target.value,i,j)">
                                                                <option value="" disabled>Select Division</option>
                                                                <option *ngFor="let stockIds of divisionDropDown"
                                                                    [value]="stockIds.id">
                                                                    {{stockIds.displayName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-5">
                                                            <select name="District"
                                                                class="form-control fidelity-form-input"
                                                                formControlName="districtId">
                                                                <option value="" disabled>Select District</option>
                                                                <option *ngFor="let stockIds of obj1.get('districtList').value"
                                                                    [value]="stockIds.id">
                                                                    {{stockIds.displayName}}
                                                                </option>
                                                            </select>
                                                        </div>


                                                        <div class="col-2">
                                                            <button *ngIf="j==0" id="add_cmc-sms-group_btn"
                                                                class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn"
                                                                (click)="addPrice(i,j)" title="add">
                                                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                                                            </button>
                                                            <button id="delete_record"
                                                                *ngIf="j!==0 && !obj1.get('stockDescriptionPriceId')?.value"
                                                                class="delete-row circle-minus-btn ml-1"
                                                                (click)="removePrice(i,j)" title="Delete"
                                                                style="left: -2px;"><i aria-hidden="true"
                                                                    class="icon icon-delete"></i>
                                                            </button>
                                                            <!-- <a id="delete_record"
                                                                *ngIf="j!==0 && obj1.get('stockDescriptionPriceId')?.value"
                                                                class="delete-row ml-1" title="Enabled"><i
                                                                    class="pi pi-check-circle"
                                                                    style="font-size: 30px;  color: #4d974d;"></i>
                                                            </a> -->
                                                            <a class="text-muted"
                                                                *ngIf="j!==0 && obj1.get('stockDescriptionPriceId')?.value">
                                                                <i aria-hidden="true"
                                                                    class="icon icon-tick color-green font-26"
                                                                    matTooltip="Edit"></i>
                                                            </a>
                                                            <!-- <a class="text-muted">
                                                                <i aria-hidden="true" class="icon icon-error fdt-close-icon font-20"
                                                                    matTooltip="Edit"></i>
                                                            </a> -->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12"
                                        *ngIf="stockIdDetails?.isFixedFee && !stockIdDetails?.isTierBasedPrice">
                                        <div class="row" formArrayName="stockDescriptionPrices"
                                            *ngFor="let obj1 of getstockIdRequestDescriptionsPriceListArray(i)?.controls;let j=index">
                                            <div class="" [formGroupName]="j">

                                                <div class="container-fluid">
                                                    <div class="header-row row">
                                                        <div class="col-2">Division</div>
                                                        <div class="col-3">District</div>
                                                        <div class="col-2"> Price Excl</div>
                                                        <div class="col-2">VAT Amount</div>
                                                        <div class="col-2">Price Incl</div>
                                                        <div class="col-1"></div>
                                                    </div>
                                                </div>
                                                <div class="container-fluid">
                                                    <div class="children-row row mb-2">
                                                        <div class="col-2">
                                                            <select name="Division"
                                                                class="form-control fidelity-form-input"
                                                                formControlName="divisionId"
                                                                (change)="onDivisionChange($event.target.value,i, j)">
                                                                <option value="" disabled>Select Division</option>
                                                                <option *ngFor="let stockIds of divisionDropDown"
                                                                    [value]="stockIds.id">
                                                                    {{stockIds.displayName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-3">
                                                            <select name="District"
                                                                class="form-control fidelity-form-input"
                                                                formControlName="districtId">
                                                                <option value="" disabled>Select District</option>
                                                                <option *ngFor="let stockIds of obj1.get('districtList').value"
                                                                    [value]="stockIds.id">
                                                                    {{stockIds.displayName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-2">
                                                            <input type="text" formControlName="exclVAT"
                                                                class="form-control fidelity-form-input "
                                                                name="Tier Price Excl">
                                                        </div>
                                                        <div class="col-2">
                                                            <input type="text" formControlName="vatAmount"
                                                                class="form-control fidelity-form-input "
                                                                name="Tier VAT Amount" disabled>
                                                        </div>
                                                        <div class="col-2">
                                                            <input type="text" formControlName="inclVAT"
                                                                class="form-control fidelity-form-input "
                                                                name="Tier Price Incl" disabled>
                                                        </div>


                                                        <div class="col-1">
                                                            <button *ngIf="j==0" id="add_cmc-sms-group_btn"
                                                                class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn p-absolute"
                                                                (click)="addPrice(i,j)" title="add">
                                                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                                                            </button>
                                                            <button id="delete_record"
                                                                *ngIf="j!==0 && !obj1.get('stockDescriptionPriceId')?.value"
                                                                class="delete-row circle-minus-btn ml-1"
                                                                (click)="removePrice(i,j)" title="Delete"><i
                                                                    aria-hidden="true" class="icon icon-delete"></i>
                                                            </button>
                                                            <!-- <a id="delete_record"
                                                                *ngIf="j!==0 && obj1.get('stockDescriptionPriceId')?.value"
                                                                class="delete-row ml-1" title="Enabled"><i
                                                                    class="pi pi-check-circle"
                                                                    style="font-size: 30px;  color: #4d974d;"></i>
                                                            </a> -->
                                                            <a class="text-muted"
                                                                *ngIf="j!==0 && obj1.get('stockDescriptionPriceId')?.value">
                                                                <i aria-hidden="true"
                                                                    class="icon icon-tick color-green font-26"
                                                                    matTooltip="Edit"></i>
                                                            </a>
                                                            <!-- <a class="text-muted">
                                                                <i aria-hidden="true" class="icon icon-error fdt-close-icon font-20"
                                                                    matTooltip="Edit"></i>
                                                            </a> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12"
                                        *ngIf="stockIdDetails?.isFixedFee && stockIdDetails?.isTierBasedPrice">
                                        <div class="custom-scroll" style="overflow-x: auto;">
                                            <div class="row" formArrayName="stockDescriptionPrices"
                                                *ngFor="let obj1 of getstockIdRequestDescriptionsPriceListArray(i)?.controls;let j=index">
                                                <div class="" [formGroupName]="j">
                                                    <div class="container-fluid">
                                                        <div class="header-row row"
                                                            style="font-size: 1rem;white-space: nowrap;flex-wrap: nowrap;">
                                                            <div class="col-2">Division</div>
                                                            <div class="col-2">District</div>
                                                            <div class="col-1">Tier1 Price Excl</div>
                                                            <div class="col-1"> Tier1 VAT Amount</div>
                                                            <div class="col-1">Tier1 Price Incl</div>
                                                            <div class="col-1"> Tier2 Price Excl</div>
                                                            <div class="col-1"> Tier2 VAT Amount</div>
                                                            <div class="col-1"> Tier2 Price Incl</div>
                                                            <div class="col-1"> Tier3 Price Excl</div>
                                                            <div class="col-1">Tier3 VAT Amount</div>
                                                            <div class="col-1">Tier3 Price Incl</div>
                                                            <div class="col-1"></div>
                                                        </div>
                                                    </div>
                                                    <div class="container-fluid">
                                                        <div class="children-row row mb-2" style="flex-wrap: nowrap;">
                                                            <div class="col-2">
                                                                <select name="Division"
                                                                    class="form-control fidelity-form-input"
                                                                    formControlName="divisionId" (change)="onDivisionChange($event.target.value,i,j)">
                                                                    <option value="" disabled>Select Division</option>
                                                                    <option *ngFor="let stockIds of divisionDropDown"
                                                                        [value]="stockIds.id">
                                                                        {{stockIds.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-2">
                                                                <select name="District"
                                                                    class="form-control fidelity-form-input"
                                                                    formControlName="districtId">
                                                                    <option value="" disabled>Select District</option>
                                                                    <option *ngFor="let stockIds of obj1.get('districtList').value"
                                                                        [value]="stockIds.id">
                                                                        {{stockIds.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" formControlName="exclVAT1"
                                                                    class="form-control fidelity-form-input "
                                                                    name="Tier1 Price Excl">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" formControlName="vatAmount1"
                                                                    class="form-control fidelity-form-input "
                                                                    name="Tier1 VAT Amount" disabled>
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" formControlName="inclVAT1"
                                                                    class="form-control fidelity-form-input "
                                                                    name="Tier1 Price Incl">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" formControlName="exclVAT2"
                                                                    class="form-control fidelity-form-input "
                                                                    name="Tier2 Price Excl">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" formControlName="vatAmount2"
                                                                    class="form-control fidelity-form-input "
                                                                    name="Tier2 VAT Amount" disabled>
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" formControlName="inclVAT2"
                                                                    class="form-control fidelity-form-input "
                                                                    name="Tier2 Price Incl">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" formControlName="exclVAT3"
                                                                    class="form-control fidelity-form-input "
                                                                    name="Tier3 Price Excl">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" formControlName="vatAmount3"
                                                                    class="form-control fidelity-form-input "
                                                                    name="Tier3 VAT Amount" disabled>
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" formControlName="inclVAT3"
                                                                    class="form-control fidelity-form-input "
                                                                    name="Tier3 Price Incl">
                                                            </div>


                                                            <div class="col-1 d-flex">
                                                                <button *ngIf="j==0" id="add_cmc-sms-group_btn"
                                                                    class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn "
                                                                    (click)="addPrice(i,j)" title="add">
                                                                    <i aria-hidden="true" class="icon"
                                                                        data-icon="b"></i>
                                                                </button>
                                                                <button id="delete_record"
                                                                    *ngIf="j!==0 && !obj1.get('stockDescriptionPriceId')?.value"
                                                                    class="delete-row circle-minus-btn ml-1"
                                                                    (click)="removePrice(i,j)" title="Delete"><i
                                                                        aria-hidden="true" class="icon icon-delete"></i>
                                                                </button>
                                                                <!-- <a id="delete_record"
                                                                *ngIf="j!==0 && obj1.get('stockDescriptionPriceId')?.value"
                                                                class="delete-row ml-1" title="Enabled"><i
                                                                    class="pi pi-check-circle"
                                                                    style="font-size: 30px;  color: #4d974d;"></i>
                                                            </a> -->
                                                                <a class="text-muted"
                                                                    *ngIf="j!==0 && obj1.get('stockDescriptionPriceId')?.value">
                                                                    <i aria-hidden="true"
                                                                        class="icon icon-tick color-green font-26"
                                                                        matTooltip="Edit"></i>
                                                                </a>
                                                                <!-- <a class="text-muted">
                                                                <i aria-hidden="true" class="icon icon-error fdt-close-icon font-20"
                                                                    matTooltip="Edit"></i>
                                                            </a> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- end options -->
                        </div>
                    </p-scrollPanel>

                </div>
                <div class="text-center mt-3">
                    <button type="button" (click)="backPage()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    >Back</button>
                    <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{stockId ?
                        'Update' : 'Save'}}</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        routerLink='/billing/stock-id-request' [queryParams]="{tab:0}">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- view page ends -->
