<div class="page-heading">
  <h1 class="page-title d-inline-block">Go Live Boundary:{{ boundaryRequestDetails?.boundaryRequestRefNo}}
  </h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i aria-hidden="true" class="fa fa-home"></i> </a>
    </li>
    <li class="breadcrumb-item">My Tasks</li>
    <li class="breadcrumb-item">Boundary Management</li>
    <li class="breadcrumb-item"><a (click)="onRedirectToListPage()">View Requests</a></li>
    <li class="breadcrumb-item">Go Live Date</li>
  </ol>
</div>
<div class="page-content fade-in-up ">
  <div class="row">
    <div class="col-md-12">
      <form class="fidelity-popup-form" customForm [formGroup]="emailNotificationBoundaryForm"
        *ngIf="emailNotificationBoundaryForm" (ngSubmit)="onSubmit()">
        <div class="ibox">
          <p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
            <div class="ibox-body brown-border white-bg sm-inputs">
              <h1 class="page-sub-title ext-padd mt-3">Boundary details</h1>
              <div class="row">
                <div class="col-4">
                  <label>Request ID</label>
                  <input disabled class="form-control fidelity-form-input"
                    [value]="boundaryRequestDetails?.boundaryRequestRefNo" />
                </div>
                <div class="col-4">
                  <label>Boundary Type</label>
                  <input disabled class="form-control fidelity-form-input"
                    [value]="boundaryRequestDetails?.boundaryTypeName" />
                </div>
                <div class="col-4">
                  <label>Layer</label>
                  <input disabled class="form-control fidelity-form-input"
                    [value]="boundaryRequestDetails?.boundaryLayerName" />
                </div>
                <div class="col-4">
                  <label>Division</label>
                  <input disabled class="form-control fidelity-form-input"
                    [value]="boundaryRequestDetails?.divisionName" />
                </div>
                <div class="col-4">
                  <label>Branch</label>
                  <input disabled class="form-control fidelity-form-input"
                    [value]="boundaryRequestDetails?.branchName" />
                </div>
                <div class="col-4">
                  <label>Description </label>
                  <input disabled class="form-control fidelity-form-input" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="boundaryRequestDetails.description" />
                </div>
                <div class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                  <label>Go Live Date And Time<span class="mandatory-field">*</span></label>
                  <p-calendar [minDate]="todayDate" formControlName="goLiveDate" [showTime]="true" [style]="{'width':'100%'}">
                  </p-calendar>
                </div>
                <div class="col-4">
                  <label>Boundary Name</label>
                  <input disabled class="form-control fidelity-form-input"
                    [value]="boundaryRequestDetails?.boundaryName" />
                </div>
                <div class="col-4" style="margin-top: 1.9rem!important;">
                  <button type="button" (click)="viewImpactedCustomers()"
                    class="btn btn-md-fidelity fidelity-btn-brown">View Impacted
                    Customers</button>
                </div>
                <div class="col-12">
                  <label>Notes</label>
                  <fieldset [disabled]="true">
                    <textarea name="Reason" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="boundaryRequestDetails.comments" class="form-control fidelity-form-input"
                      id="comments"></textarea>
                  </fieldset>
                </div>
              </div>
              <h1 class="page-sub-title ext-padd mt-3">Checklist</h1>
              <div class="row">
                <ng-container *ngFor="let areaSetupObj of boundaryRequestDetails?.areaSetup;index as i">
                  <div class="col-12">
                    <mat-checkbox #checkbox [checked]="areaSetupObj.isChecked == true" class="fidelity-checkbox mr-2"
                      (click)="onClickChecklistCheckbox(checkbox,areaSetupObj)">
                      <ng-container *ngIf="areaSetupObj.areaSetupTypeId==2">
                        {{areaSetupObj.description}}
                      </ng-container>
                      <a *ngIf="areaSetupObj.areaSetupTypeId==1" [href]="areaSetupObj.url"
                        target="_blank">{{areaSetupObj.description}}</a>
                    </mat-checkbox>
                  </div>
                </ng-container>
              </div>
              <h1 class="page-sub-title ext-padd mt-3">Final Change Notification</h1>
              <div class="row">
                <div class="col-6">
                  <label for="emailTo">To</label>
                  <mat-form-field class="preferred-sp input-width-medium" style="border-radius: 7px" id="email">
                    <mat-chip-list #emailToFullNameChips aria-label="Suppliers selection">
                      <mat-chip *ngFor="let selectedEmployee of selectedEmployees" [selectable]="true"
                        [removable]="true">
                        {{selectedEmployee.fullName}}
                      </mat-chip>
                      <input disabled autocomplete="dfgfgh" #autocompleteToVendorsInput formControlName="toIds"
                        id="emailControl" [matAutocomplete]="emailAutocomplete"
                        [matChipInputFor]="emailToFullNameChips">
                    </mat-chip-list>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <label for="emailTo">CC</label>
                  <mat-form-field class="preferred-sp input-width-medium" style="border-radius: 7px" id="email">
                    <mat-chip-list #emailCCFullNameChips aria-label="Suppliers selection">
                      <mat-chip *ngFor="let selectedEmployee of selectedEmployeesForCC" [selectable]="true"
                        [removable]="true" (removed)="onEmailRemoved(selectedEmployee)">
                        {{selectedEmployee.fullName}}
                        <i class="fa fa-close" matChipRemove *ngIf="true"></i>
                      </mat-chip>
                      <input autocomplete="new-passworcvbd" #autocompleteCCVendorsInput formControlName="ccIds"
                        id="emailControl" [matAutocomplete]="emailAutocomplete" [matChipInputFor]="emailCCFullNameChips"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true">
                    </mat-chip-list>
                    <mat-autocomplete #emailAutocomplete="matAutocomplete">
                      <mat-option *ngFor="let employee of employees" #emailOption
                        (click)="onEmailSelected(emailOption.selected,employee)" [value]="employee.employeeId">
                        {{employee.fullName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <span class="text-danger"
                    *ngIf="emailNotificationBoundaryForm.get('ccIds').errors?.required && emailNotificationBoundaryForm.get('ccIds').touched">
                    CC is required
                  </span>
                </div>
                <div class="col-6">
                  <div>
                    <label>Subject <span class="mandatory-field">*</span></label>
                    <input autocomplete="new-password" autocomplete="off" class="form-control fidelity-form-input"
                      name="Subject" maxlength="100" formControlName="subject" type="text" placeholder="Reg">
                  </div>
                </div>
                <div class="col-6">
                  <file-upload-custom-control [isASingleFileUpload]="false"
                    [label]="'Attach File (.Pdf,.Docs,.Jpeg,.Png,.xlsx)'"
                    (emitUploadedFiles)="emitUploadedFiles($event)">
                  </file-upload-custom-control>
                </div>
                <div class="col-12">
                  <div class="form-group" style="width: 100% !important">
                    <label>Body <span class="mandatory-field">*</span></label>
                    <angular-editor [config]="config" id="angularEditorAddEdit" maxlength="500"
                      [placeholder]="'Enter text here...'" name="Body" formControlName="description">
                    </angular-editor>
                  </div>
                </div>
              </div>
              <hr>
              <div class="text-center mt-3">
                <button type="submit" (click)="selectedBtnType='Go Live'"
                  class="btn btn-md-fidelity fidelity-btn-brown">Ready
                  For Go Live</button>
                <button type="button" (click)="selectedBtnType='Terminate';onSubmit()"
                  class="btn btn-md-fidelity fidelity-btn-brown">Terminate Change</button>
                <button type="button" (click)="onRedirectToBoundaryDetailPage()"
                  class="btn btn-md-fidelity fidelity-btn-brown">Back To Boundary</button>
              </div>
            </div>
          </p-scrollPanel>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="impacted_customers_modal" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '800px'}">
  <app-popup-loader [popupType]="defaultPopupType"></app-popup-loader>
  <p-header>
    Impacted Customers
  </p-header>
  <div class="modal-body existing-cust-con">
    <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
      [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
      [selectedTabIndex]="selectedTabIndex" [totalRecords]="0" (onActionSubmited)="onActionSubmited($event)">
    </app-page-list-table>
  </div>
  <div class="modal-footer text-center" style="justify-content: center;">
  </div>
</p-dialog>
