<div class="page-heading">
    <h1 class="page-title d-inline-block">DOA Limit Config</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/configuration/sales/quotations'  [queryParams]="{tab: 4}">DOA Limit Config</a></li>
        <!-- <li class="breadcrumb-item"><a [routerLink]="['/lss']">Lss List</a></li> -->
        <!-- <li class="breadcrumb-item" *ngIf="rawLeadId"><a routerLink='/sales/raw-lead/view'
            [queryParams]="{id:rawLeadId,status:status}" skipLocationChange>View Raw Lead Info</a></li> -->
        <li class="breadcrumb-item">DOA Limit Config {{doaLimitConfigId ? 'Update': 'Add'}}</li>

    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="doaLimitForm" (ngSubmit)="onSubmit()">
                <div class="ibox">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Select Role<span class="mandatory-field">*</span></label>
                                        <select name="Role" (change)="selectRole($event)" class="form-control fidelity-form-input"
                                            formControlName="doaLevelConfigId">
                                            <option value="" disabled>Select Role</option>
                                            <option *ngFor="let role of roleList" [value]="role.doaLevelConfigId">
                                                {{role.roleName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Assigned Level<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input disabled" value="{{assignLevel}}" placeholder=""
                                            type="text"
                                             />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Contract Period<span class="mandatory-field">*</span></label>
                                        <p-multiSelect [options]="contractPeriodList" [defaultLabel]="'Select period'" placeholder="Select" formControlName="contractPeriods" styleClass="w-100"></p-multiSelect>
                                    </div>
                                    <span *ngIf="division"
                                    style="position: absolute;bottom: -22px!important;top:61px;z-index: 10!important;width: 100%;">
                                    <span class="duplicate" style="font-size: 0.73em !important;">
                                        Contract Period is required
                                    </span>
                                </span>
                                </div>

                                <div class="col-6">
                                    <label>Charges<span class="mandatory-field">*</span></label>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <div class="col-4 d-flex justify-content-start align-items-end">
                                                <div class="form-group d-flex justify-content-start align-items-center">
                                                    <mat-checkbox formControlName="waiverAdminFee" class="fidelity-checkbox">Waiver admin fee</mat-checkbox>
                                                </div>
                                            </div>
                                            <div class="col-4 d-flex justify-content-start align-items-end">
                                                <div class="form-group d-flex justify-content-start align-items-center">
                                                    <mat-checkbox formControlName="waiverNetworkFee" class="fidelity-checkbox">Waiver network fee</mat-checkbox>
                                                </div>
                                            </div>
                                            <div class="col-4 d-flex justify-content-start align-items-end">
                                                <div class="form-group d-flex justify-content-start align-items-center">
                                                    <mat-checkbox formControlName="waiverProRataCharges" class="fidelity-checkbox">Waiver pro rate charges</mat-checkbox>
                                                </div>
                                            </div>
                                            <div class="col-4 d-flex justify-content-start align-items-end">
                                                <div class="form-group d-flex justify-content-start align-items-center">
                                                    <mat-checkbox formControlName="fixedServicesFee" class="fidelity-checkbox">Fixed service fee</mat-checkbox>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Total Service Price Range From (R)<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" placeholder="Range From"
                                            type="text"  [validateInput]='isANumberOnly' formControlName="servicePriceRangeFrom" name='Range From'
                                              />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Total Service Price Range To (R)<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" placeholder="Range To"
                                            type="text"  [validateInput]='isANumberOnly' formControlName="servicePriceRangeTo" name='Range To'
                                            />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Discount Value From (%)<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" placeholder="Discount Value From"
                                            type="text"  [validateInput]='isANumberOnly' formControlName="discountPercentageFrom" name='Discount Value From'
                                            />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Discount Value To (%)<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" placeholder="Value To"
                                            type="text"  [validateInput]='isANumberOnly' formControlName="discountPercentageTo" name='Value To'/>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Installation Value Range From (R)<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" placeholder="Range From"
                                            type="text"  [validateInput]='isANumberOnly' formControlName="installationPriceRangeFrom" name='Range From' />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Installation Value Range To (R)<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" placeholder="Range To"
                                            type="text"  [validateInput]='isANumberOnly' formControlName="installationPriceRangeTo" name='Range To'/>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Payment Method<span class="mandatory-field">*</span></label>
                                            <select name="Payment Method" class="form-control fidelity-form-input"
                                            formControlName="paymentMethodId">
                                            <option value="" disabled>Select Method</option>
                                            <option *ngFor="let payment of paymentMethodList" [value]="payment.id">
                                                {{payment.displayName}}
                                            </option>
                                        </select>
                                        </div>
                                </div>
                                <div class="col-6">
                                      <div class="form-group">
                                        <label>Free Service</label>
                                        <select name="Free Service" class="form-control fidelity-form-input"
                                            formControlName="complimentaryMonthId">
                                            <option value="" disabled>Select Free Service</option>
                                            <option *ngFor="let service of freeServiceList" [value]="service.id">
                                                {{service.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="submit"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                    <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default" routerLink='/configuration/sales/quotations' [queryParams]="{tab: 4}">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
