<div class="page-heading">
    <h1 class="page-title d-inline-block">Add Campaigns</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/campaign-management/campaign"> Campaign Management</a>
        </li>
        <li class="breadcrumb-item"> <a routerLink="/campaign-management/campaign"> Campaigns </a></li>
        <li class="breadcrumb-item">
            <a routerLink="/campaign-management/campaign"> Campaigns List</a>
        </li>
        <li class="breadcrumb-item">Add Campaign</li>
    </ol>
</div>

<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="campaignStageTwoForm" (ngSubmit)="onSubmit()">
                <div class="ibox lss-registration-box" style="height: auto;">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <div class="d-flex justify-content-around align-items-center lead-stage-navigator">
                                <button type="button">
                                    <i class="icon icon-backward" (click)="onArrowClick('previous')"></i>
                                </button>
                                <span class="d-flex stage-no mr-2 ml-2">2</span>
                                <button type="button">
                                    <i class="icon icon-forward" (click)="onArrowClick('next')"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Campaign Name</label>
                                        <input formControlName="campaignName"
                                            class="form-control fidelity-form-input disabled"
                                            placeholder="Campaign Name" type="text" name='Campaign Name' minlength="2"
                                            maxlength="150" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Batch Desc</label>
                                        <input formControlName="batchDescription"
                                            class="form-control fidelity-form-input disabled" placeholder="Batch Desc"
                                            type="text" name='Batch Desc' minlength="2" maxlength="150" />
                                    </div>
                                </div>
                                <div class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                    <label class="d-block" for="">Start Date</label>
                                        <p-calendar [minDate]="todayDate" formControlName="startDate" disabled="true">
                                        </p-calendar>
                                </div>
                                <div class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                    <label class="d-block" for="">End Date</label>
                                        <p-calendar disabled="true"
                                            [minDate]="campaignStageTwoForm.get('startDate').value"
                                            formControlName="endDate">
                                        </p-calendar>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="page-sub-title ext-padd mt-3">GENERAL DISCOUNTS</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4" style="padding-top: 25px;margin-bottom: 10px;">
                                    <p-checkbox name="group" label="Waiver Admin Fee" binary="true" value="false"
                                        formControlName="isWaiverAdminFee" inputId="preopt">
                                    </p-checkbox>
                                </div>
                                <div class="col-4" style="padding-top: 25px;margin-bottom: 10px;">
                                    <p-checkbox name="group" label="Waiver Pro Rata Charges" binary="true" value="false"
                                        formControlName="isWaiverProrataCharge" inputId="preopt1">
                                    </p-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4" style="padding-top: 25px;margin-bottom: 10px;">
                                    <p-checkbox name="group" label="Complimentary Services" binary="true" value="false"
                                        formControlName="isComplimentaryService" inputId="preopt2">
                                    </p-checkbox><span *ngIf="campaignStageTwoForm.get('isComplimentaryService').value"
                                        class="mandatory-field">*</span>
                                </div>
                                <div class="col-4" *ngIf="campaignStageTwoForm.get('isComplimentaryService').value">
                                    <div class="form-group">
                                        <select-custom-control [loopableArray]='monthList'
                                            formControlName="complimentaryMonthId">
                                        </select-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4" style="padding-top: 25px;margin-bottom: 10px;">
                                    <p-checkbox name="group" label="Waiver network annual Fee" binary="true"
                                        formControlName="isWaiverAnnualNetworkFee" value="false" inputId="preopt3">
                                    </p-checkbox><span
                                        *ngIf="campaignStageTwoForm.get('isWaiverAnnualNetworkFee').value"
                                        class="mandatory-field">*</span>
                                </div>
                                <div class="col-4" *ngIf="campaignStageTwoForm.get('isWaiverAnnualNetworkFee').value">
                                    <div class="form-group">
                                        <select-custom-control [loopableArray]='periodList'
                                            formControlName="annualNetworkFeePeriodId">
                                        </select-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4" style="padding-top: 25px;margin-bottom: 10px;">
                                    <p-checkbox name="group" label="Fixed Contact Fee" binary="true" value="false"
                                        formControlName="isFixedContractFee" inputId="preopt5">
                                    </p-checkbox><span *ngIf="campaignStageTwoForm.get('isFixedContractFee').value"
                                        class="mandatory-field">*</span>
                                </div>
                                <div class="col-4" *ngIf="campaignStageTwoForm.get('isFixedContractFee').value">
                                    <div class="form-group">
                                        <select-custom-control [loopableArray]='durationList'
                                            formControlName="fixedContractFeePeriodId">
                                        </select-custom-control>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown">Next</button>
                    <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        routerLink='/campaign-management/campaign'>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>