

::ng-deep mat-select-autocomplete > .mat-form-field {
    border: none!important;
  }
  ::ng-deep .mat-tab-group {
    margin-top: 30px !important;
    padding: unset !important;
  }

  ::ng-deep mat-select-autocomplete .mat-select  {
    padding: 8px 8px !important;
  }
  ::ng-deep .stock-order .mat-form-field  {
    border: none!important;
    padding-left: 0!important;
  }
  ::ng-deep .stock-order .mat-input-element  {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    padding: 10px!important;
  }

  ::ng-deep mat-form-field.mat-form-field.mat-form-field-invalid.ng-invalid {
    .mat-form-field-wrapper {
      border: 1px solid #dc3545 !important;
    }
  }

  ::ng-deep .custom-scroll1 {
    overflow-x: unset !important;
  }

  ::ng-deep .mat-tab-body-padding-0 .mat-tab-body-wrapper .mat-tab-body {
    padding: 20px 0;
  }

  .stock-list-default-height{
    height: 33vh;
  }


  @media only screen and (min-width: 1281px){
    .stock-list-height{
      height :47vh;

    }
    .is-on-edit{
      height :36vh !important;
    }
  }

  @media only screen and (max-width: 1280px){
    .stock-list-height{
      height :33vh;
    }
    .is-on-edit{
      height :30vh !important;
    }
  }
