<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)"></app-page-header>

    <form *ngIf="showFilterForm" [formGroup]="faultyProcessFilterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;right: 68px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Receiving ID</label>
                            <select class="form-control fidelity-form-input" formControlName="receivingId">
                                <option *ngFor="let item of receivingIdList" [value]="item.id">{{item.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Receiving Barcode</label>
                            <input class="form-control fidelity-form-input " type="text"
                                formControlName="receivingBarCode" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">RFR Request number</label>
                            <input class="form-control fidelity-form-input " type="text" formControlName="rfrRequest" />

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Warehouse</label>
                            <select class="form-control fidelity-form-input" formControlName="warehouseName">
                                <option *ngFor="let item of warehouseList" [value]="item.id">{{item.displayName}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Received By</label>
                            <input class="form-control fidelity-form-input " type="text" formControlName="receivedBy" />

                        </div>
                    </div>
                    <div class="col-4">
                        <label for="">Received Date </label>
                        <div class="row">
                            <div class="col-10 fidelity-date-picker-con p-relative cust-banner-date-con">
                                <p-calendar  [minDate]="startTodayDate"   formControlName="receivedOn"  [readonlyInput]="true" styleClass="w-100"></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Tested By</label>
                            <input class="form-control fidelity-form-input " type="text" formControlName="testedBy" />
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="">Tested Date </label>
                        <div class="row">
                            <div class="col-10 fidelity-date-picker-con p-relative cust-banner-date-con">
                                <p-calendar  [minDate]="startTodayDate"   formControlName="testedDate"  [readonlyInput]="true" styleClass="w-100"></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Status</label>
                            <select class="form-control fidelity-form-input" formControlName="status">
                                <option *ngFor="let item of statusList" [value]="item.id">{{item.displayName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-4 d-flex align-items-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>

</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit" [customScroll]="false"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>
