<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{data?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form [formGroup]="nkaDoaRequestForm" customForm class="fidelity-popup-form" (ngSubmit)="onSubmitDialog()"
        style="font-size: 0.9rem!important;">
        <div>
            <div>
                <ng-container *ngIf="!data?.isEscalate">
                    <div class="row">
                        <p class="col-12 escalate-text text-center p-3">Unable to add this item the DOA Amount
                            will be Exceeded</p>
                        <div class="col-12 text-center mb-2">
                            <button class="btn btn-md-fidelity fidelity-btn-brown" type="button"
                                (click)="changeEscalate()">Escalate</button>
                            <button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                                (click)="btnCloseClick()">Cancel</button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="data?.isEscalate">
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label class="label-text">Comments<span class="mandatory-field">*</span></label>
                                <textarea name="" rows="2" class="form-control fidelity-form-input"
                                    formControlName="comments"></textarea>
                            </div>
                        </div>
                        <div class="col-6 p-relative fidelity-autocomplete-dropdown-con">
                            <label class="label-text">Equipment and Additional Labor</label>
                            <div class="form-group" style="display: flex;">
                                <mat-form-field class="fidelity-form-input">
                                    <input matInput type="text" id="find_address_autocomplete"
                                        class="fidelity-form-input" [matAutocomplete]="autoEquipment"
                                        formControlName="equipment">
                                </mat-form-field>
                                <mat-autocomplete #autoEquipment="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngIf="isLoading" class="is-loading">
                                        <mat-spinner diameter="50"></mat-spinner>
                                    </mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let filtStockCode of filteredPRStockCodes"
                                            [value]="filtStockCode">
                                            <span>{{ filtStockCode.itemCode}} - {{filtStockCode.displayName}}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                                <div class="col-1" style="margin-left: 24px;">
                                    <button type="button" class="circle-plus-btn" matTooltip="Add"
                                        (click)="addEquipmentLabor()" style="top: 0px !important;">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </div>
                                <span class="text-danger"
                                    *ngIf="nkaDoaRequestForm?.get('Equipment')?.touched && nkaDoaRequestForm?.get('Equipment')?.errors?.required">
                                    Equipment and Additional Labor is required
                                </span>
                                <span class="text-danger" *ngIf="showStockCodeError">
                                    {{stockCodeErrorMessage}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mb-2">
                        <div class="col-1 label-text pr-0">Stock Code</div>
                        <div class="col-3 label-text">Stock Description</div>
                        <div class="col-1 label-text p-0">Qty</div>
                        <div class="col-2 label-text pr-0">Unit Price Excl. Vat</div>
                        <div class="col-2 label-text pr-0">Sub Total Excl. Vat</div>
                        <div class="col-2 label-text pr-0">Sub Total Incl. Vat</div>
                    </div>
                    <app-page-form-array [pageForm]="nkaDoaRequestForm" [tabsList]="tabsList" [selectedIndex]="0"
                        [isLoading]="isLoading" [isSubmitted]="isSubmitted" (changeEvent)="changeValueItem($event)"
                        (removeItem)="removeNKARequestItem($event)">
                    </app-page-form-array>
                    <div class="row" style="font-size: 1rem;">
                        <div class="col-9 pr-0">
                            <input class="form-control fidelity-form-input disabled" type="text" value="Total" />
                        </div>
                        <div class="col-2 pr-0">
                            <input class="form-control fidelity-form-input text-right disabled" formControlName="totalStockItems"
                                type="text" />
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix pt-3" *ngIf="data?.isEscalate">
            <div class="text-center">
                <button type="submit" pButton class="ui-button-success btn-fdt-submit mr-3" label="Submit"></button>
                <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3"
                    type="button">Cancel</button>
            </div>
        </div>
    </form>
</div>
