<div class="fidelity-popup-heading container-fluid" mat-dialog-title cdkDrag
cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body"
cdkDragHandle>{{btnName}} Dealer Order Status</div>
    <app-popup-loader [isLoading]="isDialogLoaderLoading"></app-popup-loader>
    <form (ngSubmit)="save()" [formGroup]="dealerOrderStatusAddEditForm" class="fidelity-popup-form" [ngClass]="isDialogLoaderLoading&&!isFormSubmitted?'d-none':'d-block'">
    <mat-dialog-content>
        <div class="row p-4">
            <div class="col-md-12">
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="displayName">Display Name<span
                        class="mandatory-field">*</span></label>
                    <div class="col-md-12">
                        <input matInput mask="0*" [dropSpecialCharacters]="false" [patterns]="alphaNumericWithSpacePattern"
                        class="form-control fidelity-form-input fidelity-mask-input"
                        id="displayName" placeholder="Display Name (required)"
                            required minlength="3" formControlName="displayName" maxlength="100"
                            [ngClass]="{'is-invalid': (dealerOrderStatusAddEditForm?.get('displayName')?.touched || dealerOrderStatusAddEditForm?.get('displayName')?.dirty) && !dealerOrderStatusAddEditForm?.get('displayName')?.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="dealerOrderStatusAddEditForm?.get('displayName').errors?.required">
                                Please enter name.
                            </span>
                            <span *ngIf="dealerOrderStatusAddEditForm?.get('displayName').errors?.minlength">
                                The  name must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="dealerOrderStatusCode">Code<span class="mandatory-field">*</span></label>
                    <div class="col-md-12">
                        <input class="form-control" id="dealerOrderStatusCode" type="text" placeholder="Code (required)"
                         required  minlength="3" formControlName="dealerOrderStatusCode" maxlength="20"
                            [ngClass]="{'is-invalid': (dealerOrderStatusAddEditForm?.get('dealerOrderStatusCode')?.touched || dealerOrderStatusAddEditForm?.get('dealerOrderStatusCode')?.dirty) && !dealerOrderStatusAddEditForm?.get('dealerOrderStatusCode')?.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="dealerOrderStatusAddEditForm?.get('dealerOrderStatusCode').errors?.required">
                                Please enter code.
                            </span>
                            <span *ngIf="dealerOrderStatusAddEditForm?.get('dealerOrderStatusCode').errors?.minlength">
                                The code must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="description">Description</label>
                    <div class="col-md-12">
                        <textarea rows="5" maxlength="100" formControlName="description" class="form-control" type="text" name="textarea"></textarea>
                    </div>
                </div>
            </div>


        </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="submit" cdkFocusInitial [disabled]="dealerOrderStatusAddEditForm?.invalid">{{btnName}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>
