<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{outOfOfficeId ? 'Update' : 'Create'}} Request</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            Configuration
        </li>
        <li class="breadcrumb-item">
            Out of office
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/out-of-office/employee-request'>Employee Request List</a>
        </li>
        <li class="breadcrumb-item" *ngIf="outOfOfficeId">
            <a routerLink='/out-of-office/employee-request/view' [queryParams]="{id:outOfOfficeId}">
                View
            </a>
        </li>
        <li class="breadcrumb-item" *ngIf="!outOfOfficeId">Create Request</li>
        <li class="breadcrumb-item" *ngIf="outOfOfficeId">Update
            {{employeeRequestDetails?.requestNumber ? employeeRequestDetails?.requestNumber : '--'}}
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="employeeRequestForm" (ngSubmit)="onSubmit()">
        <div class="ibox white-bg">
            <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom" class="slim-scroll1">
                <div class="ibox-body brown-border">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label>Requestor<span class="mandatory-field">*</span></label>
                                <!-- <select class="form-control fidelity-form-input" disabled formControlName="requestorId">
                                    <option value="" selected disabled>Select</option>
                                    <option [value]="item.id" *ngFor="let item of requestorDropDown; let i=index">
                                        {{item.displayName}}</option>
                                </select> -->
                                <div class="col-12" style="padding-left: 0;">
                                    <p-autoComplete [style]="{'width':'100%'}" formControlName="requestorId"
                                        [disabled]="outOfOfficeId" [suggestions]="requestorDropDown" field="displayName"
                                        dataKey="id" placeholder="Search Requestor Name"
                                        (completeMethod)="getRequestDropDown($event)">
                                    </p-autoComplete>

                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Request Period<span class="mandatory-field">*</span></label>
                                <div class="row  p-relative">
                                    <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <div class="form-group p-relative" style="width: 100%;">
                                            <p-calendar  [minDate]="startTodayDate" formControlName="fromDate"   [showTime]="true" styleClass="w-100">
                                           </p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <div class="form-group p-relative" style="width: 100%;"
                                            *ngIf="!employeeRequestForm?.get('fromDate')?.value">

                                            <p-calendar  [minDate]="startTodayDate"  formControlName="toDate" (onSelect)="onDateChange()" styleClass="w-100" [readonlyInput]="true">
                                           </p-calendar>
                                        </div>
                                        <div class="form-group p-relative" style="width: 100%;"
                                            *ngIf="employeeRequestForm?.get('fromDate')?.value">
                                            <p-calendar  [minDate]="employeeRequestForm?.get('fromDate')?.value"   formControlName="toDate"   [showTime]="true" styleClass="w-100">
                                           </p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Reason<span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" name="Reason"
                                    formControlName="outOfOfficeReasonId">
                                    <option value="" selected disabled>Select</option>
                                    <option [value]="item.id" *ngFor="let item of reasonDropDown; let i=index">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Comments<span class="mandatory-field">*</span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    formControlName="comments" placeholder="Enter Comments" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{outOfOfficeId ?
                'Update' : 'Create'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/out-of-office/employee-request' [queryParams]="{tab:0}">Cancel</button>
        </div>
        <!-- confirm dialog -->
        <p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="addConfirm" [responsive]="true"
            showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '400px'}">
            <p-header>
                Job Alert
            </p-header>
            <div class="ui-g">
                <div class="ui-g-12 error-center">
                    <div style="text-align: center;padding: 16px;">
                        <i class="pi pi-exclamation-triangle"
                            style="    color: #fff;   background:#FF9800;     border-radius: 100%;margin: 10px;font-size: 50px"></i>
                        <h4>Notification Message</h4>
                        <h4>You have open Jobs on the requested date</h4>
                        <p><a routerLink="/technical-management/technical-area-manager-worklist" target="_blank">Click
                                here</a> to view the jobs list</p>
                        <div class="ui-g-12">
                            <p-checkbox formControlName="acknowledge" binary="true"
                                label="By creating an out of office request, I acknowledge that i will be not be available for scheduling for appoinments during this period">
                            </p-checkbox>
                        </div>

                    </div>

                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                        <div class="ui-g-12">
                            <button type="button"
                                [disabled]="employeeRequestForm?.get('acknowledge')?.value ? null : true" pButton
                                class="ui-button-success" style="display: inline-block;background: #115943!important;"
                                (click)="add()" label="Ok"></button>
                        </div>
                    </div>
                </div>
            </p-footer>
        </p-dialog>
    </form>
</div>
