<div class="ibox-body mb-3">
    <div class="row">
        <div class="col-12">
            <h1 class="page-sub-title ext-padd mt-3">POST INCIDENT PR CALL</h1>
        </div>
    </div>
    <div class="row mt-2">
        <form customForm [formGroup]="queryAnalystForm" (ngSubmit)="onSubmit()" style="    width: 100%;">
            <div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label class="ui-g-12">Are you satisfied with the manner in which the incident was
                                handled?</label>
                            <div style="padding-top: 0;" class="ui-g-6">
                                <p-radioButton name="group1" label="Yes" formControlName="isSatisfiedIncidentHandled" value="true"
                                    inputId="preopt1">
                                </p-radioButton>
                            </div>
                            <div style="padding-top: 0;" class="ui-g-6">
                                <p-radioButton name="group1" label="No" formControlName="isSatisfiedIncidentHandled" value="false"
                                    inputId="preopt2">
                                </p-radioButton>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label class="ui-g-12">Comments</label>
                            <textarea class="form-control fidelity-form-input" name="Comments"
                                formControlName="satisfiedIncidentHandledComments" placeholder="Enter "></textarea>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label class="ui-g-12">Are the any special instructions you would like to add to your
                                profile?</label>
                            <div style="padding-top: 0;" class="ui-g-6">
                                <p-radioButton name="group3" label="Yes" formControlName="isSpecialInstructions" value="true"
                                    inputId="preopt5">
                                </p-radioButton>
                            </div>
                            <div style="padding-top: 0;" class="ui-g-6">
                                <p-radioButton name="group3" label="No" formControlName="isSpecialInstructions" value="false"
                                    inputId="preopt6">
                                </p-radioButton>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label class="ui-g-12">Comments</label>
                            <textarea class="form-control fidelity-form-input" name="Comments"
                                formControlName="specialInstructionsComments" placeholder="Enter "></textarea>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label class="ui-g-12">Verify Access to Site</label>
                            <textarea class="form-control fidelity-form-input"
                                formControlName="verifyAccessToSite" placeholder="Enter "></textarea>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label class="ui-g-12">Verify Contact Details</label>
                            <textarea class="form-control fidelity-form-input"
                                formControlName="verifyContactDetails" placeholder="Enter "></textarea>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="ui-g-12">Premises Number</label>
                            <input type="text" class="form-control fidelity-form-input disabled" value="{{vehicleRegistrationDetails?.premisesNoCountryCode}} {{vehicleRegistrationDetails?.premisesNo}}">
                        
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="ui-g-12">Cellular Number</label>
                            <input type="text" class="form-control fidelity-form-input disabled" value="{{vehicleRegistrationDetails?.mobile1CountryCode}} {{vehicleRegistrationDetails?.mobile1}}">
                          
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="ui-g-12">Work Number</label>
                            <input type="text" class="form-control fidelity-form-input disabled" value="{{vehicleRegistrationDetails?.officeNoCountryCode}} {{vehicleRegistrationDetails?.officeNo}}">
                            
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="ui-g-12">E-mail Address</label>
                            <input type="text"  class="form-control fidelity-form-input disabled" value="{{vehicleRegistrationDetails?.email}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" *ngFor="let item of vehicleRegistrationDetails?.keyHolders; let i=index">
                        <div class="form-group">
                            <label class="ui-g-12">Keyholder {{i+1}}</label>
                            <input type="text" class="form-control fidelity-form-input disabled" value="{{item?.keyHolderName}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                    type="submit">Save</button>
                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                routerLink='/event-management/supervisor-dashboard'
                        [queryParams]="{tab:7}">Cancel</button>
            </div>
        </form>
    </div>
</div>