<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <p-scrollPanel [style]="{height: '68vh'}" styleClass="custom">
                    <div class="ibox-body brown-border white-bg">
                        <div class="tab-content">
                            <div class="tab-pane fade show active">
                                <app-view-page [col]="2" [viewDetail]="diagnosisConfigDetail" [template]="3"
                                    *ngIf="viewable">
                                </app-view-page>
                                <form customForm class="fidelity-popup-form" [formGroup]="diagnosisConfigAddEditForm"
                                    (ngSubmit)="onSubmit()">
                                    <div class="row sm-inputs" *ngIf="!viewable">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Diagnosis<span class="mandatory-field">*</span></label>
                                                    <input class="form-control fidelity-form-input"
                                                        formControlName="diagnosisCode" type="text"
                                                        name='diagnosisCode' />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Diagnosis Description<span
                                                            class="mandatory-field">*</span></label>
                                                    <textarea class="form-control fidelity-form-input" name="diagnosisName" rows="1" 
                                                        formControlName="diagnosisName"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Job Category<span class="mandatory-field">*</span></label>
                                                    <p-dropdown formControlName="jobCategoryIds" id="jobCategoryIds"
                                                        name="jobCategoryIds" appendTo="body" [options]="jobCategoryList"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No Job Category Exists"
                                                        placeholder="Select" [style]="{'width':'100%'}"
                                                        [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('jobCategoryIds')?.touched && diagnosisConfigAddEditForm?.get('jobCategoryIds')?.invalid">
                                                        Please select Job Category
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>System Type</label>
                                                    <p-dropdown formControlName="systemTypeId" id="systemTypeId" 
                                                        name="systemTypeId" appendTo="body" 
                                                        [options]="systemTypeList"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No System Type Exists"
                                                        placeholder="Select" [style]="{'width':'100%'}"
                                                        [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('systemTypeId')?.touched && diagnosisConfigAddEditForm?.get('systemTypeId')?.invalid">
                                                        Please select System Type
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Fault Description</label>
                                                    <p-dropdown formControlName="faultDescriptionId"
                                                        id="faultDescriptionId" name="faultDescriptionId"
                                                        [options]="faultDescriptionList" appendTo="body"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No Fault Description Exists"
                                                        placeholder="Select"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('faultDescriptionId')?.touched && diagnosisConfigAddEditForm?.get('faultDescriptionId')?.invalid">
                                                        Please select Fault Description
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Lead Type</label>
                                                    <p-dropdown formControlName="leadTypeId" id="leadTypeId"
                                                        name="leadTypeId" appendTo="body" [options]="leadTypeList"
                                                        emptyFilterMessage="No Lead Type Exists"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        placeholder="Select" [style]="{'width':'100%'}"
                                                        [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('leadTypeId')?.touched && diagnosisConfigAddEditForm?.get('leadTypeId')?.invalid">
                                                        Please select Lead Type
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Service Call Selections</label>
                                                    <p-dropdown formControlName="technicianProcessId"
                                                        id="technicianProcessId" name="technicianProcessId"
                                                        appendTo="body" [options]="technicianProcessList"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No Service Call Selections Exists"
                                                        placeholder="Select"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('technicianProcessId')?.touched && diagnosisConfigAddEditForm?.get('technicianProcessId')?.invalid">
                                                        Please select Service Call Selections
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Invoice Total Amount Incl. Vat.</label>
                                                    <p-dropdown formControlName="diagnosisInvoiceTotalAmountTypeId"
                                                        id="diagnosisInvoiceTotalAmountTypeId"
                                                        name="diagnosisInvoiceTotalAmountTypeId" appendTo="body"
                                                        [options]="diagnosisInvoiceTotalAmountTypeList"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No Invoice Total Amount Incl. Vat. Exists"
                                                        placeholder="Select"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('diagnosisInvoiceTotalAmountTypeId')?.touched && diagnosisConfigAddEditForm?.get('diagnosisInvoiceTotalAmountTypeId')?.invalid">
                                                        Please select Invoice Total Amount Incl. Vat.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Technician</label>
                                                    <p-dropdown formControlName="technicianUserTypeConfigId"
                                                        id="technicianUserTypeConfigId"
                                                        name="technicianUserTypeConfigId" appendTo="body"
                                                        [options]="technicianUserTypeConfigList"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No Technician Exists"
                                                        placeholder="Select" [style]="{'width':'100%'}"
                                                        [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('technicianUserTypeConfigId')?.touched && diagnosisConfigAddEditForm?.get('technicianUserTypeConfigId')?.invalid">
                                                        Please select Technician
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Under Dealer Technical Warranty</label>
                                                    <p-dropdown formControlName="isUnderDealerTechnicalWarranty"
                                                        id="isUnderDealerTechnicalWarranty"
                                                        name="isUnderDealerTechnicalWarranty" appendTo="body"
                                                        [options]="statusList"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No Under Dealer Technical Warranty Exists"
                                                        placeholder="Select"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('isUnderDealerTechnicalWarranty')?.touched && diagnosisConfigAddEditForm?.get('isUnderDealerTechnicalWarranty')?.invalid">
                                                        Please select Under Dealer Technical Warranty
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Charged to Dealer Debtors Account</label>
                                                    <p-dropdown formControlName="isChargedToDealerAccount"
                                                        id="isChargedToDealerAccount" name="isChargedToDealerAccount"
                                                        appendTo="body" [options]="statusList"
                                                        emptyFilterMessage="No Charged to Dealer Debtors Account Exists"
                                                        placeholder="Select"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('isChargedToDealerAccount')?.touched && diagnosisConfigAddEditForm?.get('isChargedToDealerAccount')?.invalid">
                                                        Please select Charged to Dealer Debtors Account
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fidelity-multiselect-dropdown-con">
                                                    <label>Stock Codes</label>
                                                    <mat-select-autocomplete ngDefaultControl [id]="'stockCodeIds'"
                                                        [formControl]="diagnosisConfigAddEditForm?.controls['stockCodeIds']"
                                                        [placeholder]="'Select'" [options]="stockCodeList"
                                                        [multiple]='true'>
                                                    </mat-select-autocomplete>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('stockCodeIds')?.touched && diagnosisConfigAddEditForm?.get('stockCodeIds')?.invalid">
                                                        Please select Stock Codes
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Light Cover Used on Service Call</label>
                                                    <p-dropdown formControlName="isLightningCoverUsedOnServiceCall"
                                                        id="isLightningCoverUsedOnServiceCall"
                                                        name="isLightningCoverUsedOnServiceCall" appendTo="body"
                                                        [options]="statusList"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No Light Cover Used on Service Call Exists"
                                                        placeholder="Select"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('isLightningCoverUsedOnServiceCall')?.touched && diagnosisConfigAddEditForm?.get('isLightningCoverUsedOnServiceCall')?.invalid">
                                                        Please select Light Cover Used on Service Call
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Stock ID on Recurring Fees</label>
                                                    <p-dropdown formControlName="stockId" id="stockId" name="stockId"
                                                        appendTo="body" [options]="stockList"
                                                        emptyFilterMessage="No Stock ID on Recurring Fees Exists"
                                                        placeholder="Select"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('stockId')?.touched && diagnosisConfigAddEditForm?.get('stockId')?.invalid">
                                                        Please select Stock ID on Recurring Fees
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Reason for Rebook</label>
                                                    <p-dropdown formControlName="callInitiationRebookReasonId"
                                                        id="callInitiationRebookReasonId"
                                                        name="callInitiationRebookReasonId" appendTo="body"
                                                        [options]="callInitiationRebookReasonList"
                                                        emptyFilterMessage="No Reason for Rebook Exists"
                                                        placeholder="Select"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('callInitiationRebookReasonId')?.touched && diagnosisConfigAddEditForm?.get('callInitiationRebookReasonId')?.invalid">
                                                        Please select Reason for Rebook
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Tech Upselling Quote Issued</label>
                                                    <p-dropdown formControlName="isTechUpsellingQuoteIssued"
                                                        id="isTechUpsellingQuoteIssued"
                                                        name="isTechUpsellingQuoteIssued" appendTo="body"
                                                        [options]="statusList"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No Tech Upselling Quote Issued Exists"
                                                        placeholder="Select"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('isTechUpsellingQuoteIssued')?.touched && diagnosisConfigAddEditForm?.get('isTechUpsellingQuoteIssued')?.invalid">
                                                        Please select Tech Upselling Quote Issued
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group fdt-pdropdown-con">
                                                    <label>Inspection Result</label>
                                                    <p-dropdown formControlName="diagnosisInspectionResultStatusId"
                                                        id="diagnosisInspectionResultStatusId"
                                                        name="diagnosisInspectionResultStatusId" appendTo="body"
                                                        [options]="diagnosisInspectionResultStatusList"
                                                        filter="true"
                                                        resetFilterOnHide="true"
                                                        emptyFilterMessage="No Inspection Result Exists"
                                                        placeholder="Select"
                                                        [style]="{'width':'100%'}" [showClear]="false">
                                                    </p-dropdown>
                                                    <span class="text-danger"
                                                        *ngIf="diagnosisConfigAddEditForm?.get('diagnosisInspectionResultStatusId')?.touched && diagnosisConfigAddEditForm?.get('diagnosisInspectionResultStatusId')?.invalid">
                                                        Please select Inspection Result
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
            <div class="text-center mt-3">
                <button id="btnSave" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown" type="button"
                    [disabled]="diagnosisConfigAddEditForm?.invalid || isSubmitted" (click)="onSubmit()"
                    *ngIf="!viewable">
                    {{btnName}}
                </button>
                <button id="btnCancel" class="btn btn-md-fidelity btn-default" type="button"
                    (click)="onCancelClick()">{{viewable ? 'Back' : 'Cancel'}}</button>
            </div>
        </div>
    </div>
</div>