<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex">
</app-page-header>

<p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox" style="height: auto;">
        <div class="ibox-body brown-border" *ngIf="isUpload">
          <div >
          <div class="row mb-2" >
            <div class="col-4">
              <div class="form-group p-relative">
                <label>Attachment</label>
                <div class="input-group fidelity-file-upload">
                  <input class="input-box form-control " type="text" name="Upload Document" placeholder="Attach a file"
                    maxlength="102" [(ngModel)]="fileName" readonly>
                  <span class="input-group-btn">
                    <div class="btn custom-file-uploader" id="documentName">
                      <input #fileInput type="file" name="file"
                        [accept]="['.xls','.xlsx']"
                        (change)="uploadFiles($event)" />Browse
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit" (click)="onSubmit()">Load</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="cancel()">Cancel</button>
          </div>
          </div>


      </div>
      <div class="mt-2" *ngIf="isShowTable">
        <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
          [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList"
          [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
          (onActionSubmited)="onActionSubmited($event)">
        </app-page-list-table>

      </div>
      </div>
    </div>
  </div>
</p-scrollPanel>
