<div class="fidelity-popup-heading  p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.data?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
  </div>
  <app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="messagingGroupForm" (ngSubmit)="onSubmit()">
    <div style="padding: 16px;">
        <div>

                <div class="view-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Name<span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" name="Name" (change)="onChangeName($event.target.value)"
                                    formControlName="keyHolderId">
                                    <option value="">Select Contact</option>
                                    <option [value]="item.id"
                                        *ngFor="let item of contactList; let i=index">
                                        {{item?.displayName ? item?.displayName : item?.customerName}}</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Contact Number<span class="mandatory-field">*</span></label>
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <div class="form-group" style="width: 100%!important;">
                                            <select class="form-control fidelity-form-input pad-right"
                                                style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                formControlName="contactNumberCountryCode">
                                                <option *ngFor="let countryCode of countryCodes"
                                                    [value]="countryCode.displayName">
                                                    {{countryCode.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-8 pl-0">
                                        <div class="form-group" style="width: 84%!important;">
                                            <input id="mobileNumber2" #input
                                                style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                formControlName="contactNo" appPhoneMask
                                                [title]="messagingGroupForm?.get('contactNumberCountryCode')?.value"
                                                minlength="9"
                                                class="form-control fidelity-form-input " name="Contact Number"
                                                placeholder="Contact Number" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-6">
                            <div class="form-group">
                                <label class="d-block">Alarm Group<span class="mandatory-field">*</span></label>
                                <p-multiSelect [style]="{'width':'100%'}"  appendTo="body" [options]="alarmTypeList" dataKey="id"  optionLabel="displayName"
                                    formControlName="customerMessagingAlarmGroupsList" placeholder="Select Signal Type"  filter="true">
                                </p-multiSelect>
                                <!-- <input type="text" name="Camera ID" class="form-control fidelity-form-input " formControlName="cameraId"> -->

                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>

    <div style="margin-bottom: 5px;text-align: center;">
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class=" text-center">
                <button type="submit" pButton class="ui-button-success mr-4"
                    style="display: inline-block;background: #115943!important;" label="Submit"></button>
                <button type="button" pButton class="ui-button-secondary mr-4" style="display: inline-block;;"
                    label="Cancel" (click)="close()"></button>
            </div>
        </div>
    </div>
</form>
