<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>

<app-page-tab [selectedIndex]="selectedTabIndex" [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList" (tabClicked)="tabClick($event)"></app-page-tab>

<app-page-list-table [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList" [pageSize]="pageSize"
    [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex"
    [totalRecords]="totalRecords" (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
</app-page-list-table>
<div class="text-center mt-3" *ngIf="!loading && dataList?.length">
    <button id="cancel_new_leads_btn" type="button"
        class="btn btn-md-fidelity fidelity-btn-brown btn-brown" (click)="reorderSubmit()">Submit</button>
    <button id="create_new_leads_btn" type="button"
        class="btn btn-md-fidelity fidelity-btn-grey btn-md-fidelity fidelity-btn-grey mr-3" (click)="onCancel()">Cancel</button>
</div>
