<app-popup-loader></app-popup-loader>
<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div style="text-align: center;padding: 5px;">
            <p style="margin-top: 10px;">Are you sure want to cancel Client Testing?</p>
            <div class="ui-g-12">        
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 10px;text-align: center;padding: 20px;">
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class=" text-center">
            <button type="button" pButton class="ui-button-success mr-4"
            (click)="onSubmit()" style="display: inline-block;background: #115943!important;" label="Yes"></button>
            <button type="button" pButton class="ui-button-secondary mr-4" style="display: inline-block;;"
                label="No" (click)="close()"></button>
        </div>
    </div>
</div>