<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>Zone Suspend
    <button mat-icon-button class="close-button p-absolute" type="button" (click)='cancelDialog()'>
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form  [formGroup]="zoneSuspendForm" class="fidelity-popup-form" customForm (ngSubmit)="onSubmit()">
        <div class="">
                <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                    <div class="form-group">
                        <label>Time Till<span class="mandatory-field">*</span></label>
                        <p-calendar [showTime]="true" [utc]=true  [minDate]="minDateTODate1"
                        [maxDate]="minDateTODate2"
                            formControlName="zoneSuspendToDateTime">
                        </p-calendar>
                    </div>
                </div>
                <div class="p-3 m-2">
                    <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                        [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
                        [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
                        (onActionSubmited)="onActionSubmited($event)" [status]="status"
                        (onSelectedRows)="onSelectedRows($event)">
                    </app-page-list-table>
                </div>
            </div>
    <hr>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="text-center">
            <button [disabled]="selectedRows?.length==0" type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-4">Submit</button>
            <button (click)="cancelDialog()" type="button"
                class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
        </div>
    </div>
</form>
