<div class="page-heading ">
    <h1 class="page-title no-border">{{page_type}} Lead Category</h1>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item"> <a>Configurations</a></li>
        <li class="breadcrumb-item">Add Lead</li> -->

        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item" >Lead</li>
            <li class="breadcrumb-item" ><a routerLink='/configuration/sales/leads' [queryParams]="{tab:0}"
                skipLocationChange>Lead Category</a></li>
                <li class="breadcrumb-item" *ngIf="leadTypeId" ><a (click)="redirectToViewPage()">View Lead Category</a></li>
        <li class="breadcrumb-item">{{page_type}} Lead Category
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
            <div class="ibox-body sm-form-grp">
                <form customForm [formGroup]="leadTypeForm" (ngSubmit)="onSubmit()">
                    <div class="row">

                        <div class="col-4">
                            <label>Lead Category<span class="mandatory-field">*</span></label>
                            <div class="form-group">
                                <input id="sales_skills" [validateInput]="stringConfig" name="lead Category"
                                    formControlName="displayName" [minlength]="formConfigs.masterSettingMinNameLength"
                                    [maxlength]="formConfigs.masterSettingMaxNameLength"
                                    class="form-control fidelity-form-input" type="text"
                                    placeholder="Enter Lead Category">
                            </div>
                        </div>

                        <div class="col-4">
                            <label>Lead Category Code<span class="mandatory-field">*</span></label>
                            <div class="form-group">
                                <input id="sales_code" [validateInput]="isAnAlphaNumericOnly" name="Lead Code"
                                    formControlName="leadCategoryCode"
                                    [minlength]="formConfigs.three"
                                    [maxlength]="formConfigs.fifteen"
                                    placeholder="Enter Lead Category Code" class="form-control fidelity-form-input"
                                    type="text">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Description</label>
                                <textarea name="" formControlName="description" class="fidelity-form-input"
                                    [maxlength]="formConfigs.maxLengthFiveHundred" id="sales_lead_desc" cols="30" rows="2"
                                    placeholder="Enter Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="create_new_leads_btn" type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                            id="add_sales_type_btn">Save</button>
                        <button id="test_run_config_cancel_btn" type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                            routerLink="/configuration/sales/leads" [queryParams]="{tab:0}"
                            skipLocationChange>Cancel</button>
                    </div>
                </form>

            </div>
        </p-scrollPanel>
    </div>
</div>