<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"> </app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="safetyAlertForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Division<span class="mandatory-field">*</span></label>
                                <select id="divsion" class="form-control fidelity-form-input" name="Division"
                                    (change)="onSelectDivision()" placeholder="Select Division"
                                    formControlName="divisionId">
                                    <option value="" disabled>Select Division</option>
                                    <option *ngFor="let division of divisionDropDown" [value]="division.id">
                                        {{division.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <h1 class="page-sub-title ext-padd mt-3">SITE INFORMATION</h1>
                    <br>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-3">Main Area <span class="mandatory-field">*</span></div>
                        <div class="col-md-3">Safety Alert Timer (Mins) <span class="mandatory-field">*</span></div>
                        <div class="col-md-3">Password Wait (Secs)<span class="mandatory-field">*</span></div>
                        <div class="col-md-2">Safety Alert<span class="mandatory-field">*</span></div>
                    </div>
                    <div class="" formArrayName="safetyAlertConfigMainAreasList"
                        *ngFor="let obj of safetyAlertForm?.get('safetyAlertConfigMainAreasList')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-3">
                                <div class="form-group">
                                    <select #input class="form-control fidelity-form-input"
                                        placeholder="Select Main Area" (change)="OnChange(i)"
                                        formControlName="mainAreaId">
                                        <option value="" selected>Select Main Area</option>
                                        <option [value]="item.id" *ngFor="let item of mainAreaDropDown; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input #input name="Safety Alert Timer" placeholder="Enter Safety Alert Timer"
                                        [validateInput]='isANumberOnly' class="form-control fidelity-form-input"
                                        type="text" formControlName="safetyAlertTimer">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input #input name="Password Wait" placeholder="Enter Password Wait"
                                        [validateInput]='isANumberOnly' class="form-control fidelity-form-input"
                                        type="text" formControlName="passwordWait">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label class="switch add-stack-status">
                                        <input type="checkbox" formControlName="isActive">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-1">
                                <button  type="button" *ngIf="i==0" style="top: 0px;" class="circle-plus-btn"
                                    (click)="addCmcSmsGroupEmployee()" title="add">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button type="button"  *ngIf="getSafetyAlertConfigMainAreasListArray.length>1" class="circle-minus-btn" style="right: 18px;"
                                    (click)="removeCmcSmsEmployee(i)" title="Delete"><i aria-hidden="true"
                                        class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{safetyAlertConfigId
                ? 'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/ro-configuration' [queryParams]="{tab:11}">Cancel</button>
        </div>
    </form>
</div>