@import '../../../../../../variables.scss';

::ng-deep .exclution-tab.mat-tab-body-wrapper {
    min-height: 30vh!important;
    margin-top: 15px;
    box-shadow: 0 0 3px 3px #eee;
    border-radius: 10px;
}
.dropdown{
    width:100%;
}
.dropdown-sub{
    width:75%;
}
.green {
    color: #00644A;
}
.margin-right {
    margin-right: 0.5em;
}
.text-align-right {
    text-align: right;
}
.margin-left{
    margin-left: 0px;
}
.text-align-left {
    text-align: left;
}
.float-right {
    float: right;
}
.padding-right {
    padding-right: 0;
}
.padding-left {
    padding-left: 0;
}
.margin-4custom {
    margin:4px 4px 0 0;
}
.width-auto {
    width:auto;
}
.custom-expansion {
    font-size:16px;padding:20px;background: #fff;
}
.margin-custom {
    margin: 0 10px;
}
.cursor{
    cursor: pointer;
}
.warehouse-con.custom-scroll {
    height: 49vh;
    overflow: auto;
    flex-wrap: nowrap;
}

.row.product-header-row {
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    div {
        font-size: 1rem;
        white-space: nowrap;
        padding-right: 5px;
          padding-left: 5px;
    }
  }

  .row.product-header-row.sm-padding {
    ::ng-deep div[class^="col"] {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 0.8rem;
        white-space: nowrap;
    }
  }

  .row.children-row.sm-padding {
    ::ng-deep div[class^="col"] {
        padding-right: 5px;
        padding-left: 5px;
    }
  }

  .row.children-row {
    ::ng-deep div[class^="col"] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

::ng-deep .fidelity-tab-group.exclution-tab .mat-tab-label-container {
    margin-bottom: 0;
    padding-left: 0;
}

::ng-deep .fidelity-tab-group.exclution-tab .mat-tab-label {
    background:#ccc!important;
    margin-left: 10px;
}
::ng-deep .fidelity-tab-group.exclution-tab .mat-tab-label-active {
    background:$fidelity-green;
}

::ng-deep .mat-tab-body {
    padding: 15px!important;
}

::ng-deep .fidelity-tab-group.exclution-tab .mat-tab-header-pagination {
    display: flex!important;
    top: 1px;
    cursor: pointer;
    display: flex;
    z-index: 1;
    .mat-tab-header-pagination-chevron {
        height: 10px;
        width: 10px;
    }


    .mat-elevation-z4 {
        box-shadow: none!important;
    }

    .mat-tab-header-pagination-chevron {
        border-color: rgba(0,0,0,.38) !important;
    }

    .mat-ripple{
        overflow: visible!important;
    }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    margin: 10px 0;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    background-color: rgba(69, 156, 232, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0px !important;
    height: 48px;
}



.model-color {
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
  }

  .requition-request-header-row {
    div {
        font-size: 0.8rem;
        white-space: nowrap;
    }
}

.row.product-header-row {
    div {
        font-size: 1rem;
        white-space: nowrap;
        padding-right: 5px;
          padding-left: 5px;
    }
  }

  .row.product-header-row.sm-padding {
    ::ng-deep div[class^="col"] {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 0.8rem;
        white-space: nowrap;
    }
  }

  .row.children-row.sm-padding {
    ::ng-deep div[class^="col"] {
        padding-right: 5px;
        padding-left: 5px;
    }
  }
