<div class="page-heading">
    <!-- <h1 class="page-title d-inline-block">View Exclusion Report</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/inventory/dashboard'>Inventory Management</a></li>
        <li class="breadcrumb-item"><a >Ordering</a></li>
        <li class="breadcrumb-item"><a routerLink='/inventory/requisitions/exclusion'>Exclusion Report--</a></li>
        <li class="breadcrumb-item"> Update Exclusion Report </li>
    </ol>
    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">
            <button type="button" class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
                matTooltip="Edit"(click)="navigateToEdit()"> <i aria-hidden="true" class="icon icon-edit"></i>
            </button>
        </div>
    </div> -->
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" >
   </app-page-header>
</div>


<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body brown-border view-box">
                <app-view-page [col]="2" [viewDetail]="namedStackMappingViewDetails" [template]="1"></app-view-page>
                <div class="" style="margin-top: 10px;">
                    <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [first]="first"
                    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [reset]="reset"
                    [searchFirst]="true" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
                    [customScroll]="false" (onActionSubmited)="onActionSubmited($event)">
                </app-page-list-table>
                </div>
            </div>
        </p-scrollPanel>
    </div>
    <div class="text-center mt-1" >
        <button id="Submit_btn" class="btn  btn-sm-fidelity fidelity-btn-brown btn-brown mr-4"
            routerLink="/inventory/requisitions/exclusion"> Back
        </button>
    </div>
</div>