

<div class="page-heading">

    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" ></app-page-header>
    
    <form *ngIf="showFilterForm" [formGroup]="exclusionFilterForm" (ngSubmit)="submitFilter()" class="p-absolute" style="top: 50px;right: 30px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">
    
                <div class="row">
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Warehouse</label>
                            <mat-select-autocomplete ngDefaultControl
                                [id]="'warehouseId'"
                                [formControl]="exclusionFilterForm?.controls['warehouseIds']"
                                [placeholder]="'Select Single/Multiple'"
                                [options]="warehouseList"
                                [multiple]='true' [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label for="">Date Range</label>
                            <div class="row">
                                <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                    <p-calendar  [minDate]="startTodayDate"  placeholder=""  formControlName="fromDate"   styleClass="w-100" ></p-calendar>                                     
                                </div>
                                <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                    <p-calendar  [minDate]="startTodayDate"   placeholder="" formControlName="toDate"   styleClass="w-100" ></p-calendar> 
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-3 d-flex align-items-center">
                        <button  class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button  type="button" class="btn btn-md-fidelity btn-primary mr-4" (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>

<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [customScroll]="false" 
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>