<div class="fidelity-popup-heading container-fluid p-relative">
  {{config?.data?.header}}
  <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader *ngIf="shouldShow"></app-popup-loader>
<div class="fdt-dialog-body">
  <form autocomplete="off" [formGroup]="officeAddressDialogForm" customForm class="fidelity-popup-form"
    (ngSubmit)="onSubmit()" style="font-size: 0.9rem!important;">
    <div>
      <div [style.height]="'45vh'">
        <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
          <div class="view-box mr-3">
            <div class="row mt-1">
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Branch Name<span class="mandatory-field">*</span></label>
                  <input class="form-control fidelity-form-input" type="text" name="branchName"
                    formControlName="fidelityOfficeName" />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Phone Number<span class="mandatory-field">*</span></label>
                  <div class="row fidelity-ph-no-field">
                    <div class="col-3 pr-0">
                      <div class="form-group" style="width:100%!important;">
                        <select class="form-control fidelity-form-input" style="width: -1%!important;"
                          formControlName="phoneNoCountryCode">
                          <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                            {{countryCode.displayName}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-8 pl-0">
                      <div class="form-group">
                        <input id="mobileNumber2" #input autocomplete="off"
                          style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                          appPhoneMask [title]="officeAddressDialogForm?.get('phoneNoCountryCode')?.value"
                          formControlName="phoneNo" class="form-control fidelity-form-input" name="Phone Number"
                          placeholder="Enter Phone Number" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Email ID<span class="mandatory-field">*</span></label>
                  <input class="form-control fidelity-form-input fidelity_email" type="text" formControlName="eMail" name="emailID" />
                </div>
              </div>
              <ng-container formGroupName="addressInfo">
                <fieldset style="padding: 0px 15px;" [ngStyle]="shouldShowLocationPinBtn&&{'pointer-events':'none' }">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <div class="d-block">
                          <mat-checkbox formControlName="isAddressComplex"
                            class="fidelity-checkbox fidelity-checkbox-header mr-3">
                            Complex
                          </mat-checkbox>
                          <mat-checkbox formControlName="isAddressExtra"
                            class="fidelity-checkbox fidelity-checkbox-header mr-3">
                            Address Extra
                          </mat-checkbox>
                          <mat-checkbox formControlName="isAfrigisSearch"
                            class="fidelity-checkbox fidelity-checkbox-header mr-3">
                            Afrigis Search
                          </mat-checkbox>
                        </div>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="form-group p-relative lead-stage1-con" style="margin-bottom: 15px;">
                        <label class="d-block">Branch Address<span class="mandatory-field">*</span></label>
                        <div class="input-group fidelity-input-addon mb-1" style="width: 80%;">
                          <mat-form-field id="find_address_autocomplete">
                            <input autocomplete="off" matInput name="Branch Address"
                              [matAutocomplete]="findBranchAddress" class="fidelity-address-con"
                              formControlName="formatedAddress" #formatedAddress>
                            <mat-autocomplete #findBranchAddress="matAutocomplete">
                              <mat-option *ngFor="let address of addressList"
                                [value]="address.description?address.description:address.fullAddress"
                                [disabled]="address.resultNotFound"
                                (onSelectionChange)="onSelectedItemOption($event.source.selected, address)">
                                <span>{{address.description?address.description:address.fullAddress}}</span>
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          <!-- <div class="input-group-append">
                            <button class="text-white" type="button">
                              <i aria-hidden="true" class="icon icon-search"></i>
                            </button>
                          </div> -->
                        </div>
                        <span class="text-danger"
                          *ngIf="addressInfoFormGroupControls?.get('formatedAddress')?.touched && addressInfoFormGroupControls?.get('formatedAddress')?.errors?.required">
                          Branch Address is required
                        </span>
                        <span style="position: absolute;bottom: -22px!important;z-index: 10!important;">
                          <span class="duplicate" *ngIf="officeAddressDialogForm?.get('fullAddress')?.touched&&
          officeAddressDialogForm?.get('fullAddress')?.value?.length < 3">
                            Branch Address maximum length is 3
                          </span>
                        </span>
                        <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default ml-2"
                          style="position: absolute;right: 0px;top: 30px;" (click)="openAddressPopup();">New
                          Address</button>
                      </div>
                    </div>
                    <div id="location-div" class="col-4" style="pointer-events:all">
                      <div class="form-group lead-stage1-con">
                        <label class="d-block">Location<span class="mandatory-field">*</span></label>
                        <div class="input-group fidelity-input-addon stage-location mb-1" style="width: 100%;">
                          <mat-form-field style="pointer-events:none"
                            [ngStyle]="{'width':shouldShowLocationPinBtn?'72% !important':'100% !important'}"
                            [floatLabel]="'never'" id="find_location_autocomplete">
                            <input matInput name="Latitude Longitude" class="fidelity-address-con"
                              formControlName="latLong">
                          </mat-form-field>
                          <div *ngIf="shouldShowLocationPinBtn" class="input-group-append">
                            <button style='cursor:pointer' class="text-white" type="button"
                              (click)="openFullMapViewWithConfig()" type="button">
                              Find Pin
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label>Unit/Building Number<span
                            *ngIf="addressInfoFormGroupControls.get('isAddressComplex')?.value"
                            class="mandatory-field">*</span></label>
                        <input-custom-control formControlName="buildingNo">
                        </input-custom-control>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label>Building Name<span *ngIf="addressInfoFormGroupControls.get('isAddressComplex')?.value"
                            class="mandatory-field">*</span></label>
                        <input-custom-control formControlName="buildingName">
                        </input-custom-control>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label>Street Number<span class="mandatory-field">*</span></label>
                        <input-custom-control formControlName="streetNo">
                        </input-custom-control>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label>Street Name</label>
                        <input-custom-control formControlName="streetName">
                        </input-custom-control>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label>Suburb</label>
                        <input-custom-control formControlName="suburbName">
                        </input-custom-control>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label>City/Town</label>
                        <input-custom-control formControlName="cityName">
                        </input-custom-control>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label>Province</label>
                        <input-custom-control formControlName="provinceName">
                        </input-custom-control>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group p-relative">
                        <label>Postal Code</label>
                        <input-custom-control formControlName="postalCode">
                        </input-custom-control>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="page-sub-title">Address Extra</div>
                    </div>
                    <div class="col-8">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label>Estate Street Number<span *ngIf="(addressInfoFormGroupControls.get('isAddressExtra')?.value && (!addressInfoFormGroupControls.get('estateStreetName')?.value &&
                                  !addressInfoFormGroupControls.get('estateName')?.value&&isFormSubmitted))"
                                class="mandatory-field">*</span></label>
                            <input-custom-control formControlName="estateStreetNo">
                            </input-custom-control>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label>Estate Street Name<span *ngIf="(addressInfoFormGroupControls.get('isAddressExtra')?.value && (!addressInfoFormGroupControls.get('estateStreetNo')?.value &&
                                   !addressInfoFormGroupControls.get('estateName')?.value&&isFormSubmitted))"
                                class="mandatory-field">*</span></label>
                            <input-custom-control formControlName="estateStreetName">
                            </input-custom-control>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group" style="width: 90%;">
                            <label>Estate Name<span *ngIf="(addressInfoFormGroupControls.get('isAddressExtra')?.value&&(!addressInfoFormGroupControls.get('estateStreetNo')?.value &&
                                  !addressInfoFormGroupControls.get('estateStreetName')?.value&&isFormSubmitted))"
                                class="mandatory-field">*</span></label>
                            <input-custom-control formControlName="estateName">
                            </input-custom-control>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label>Conf Level</label>
                            <input-custom-control formControlName="addressConfidentLevel">
                            </input-custom-control>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </ng-container>
            </div>
          </div>
        </p-scrollPanel>
      </div>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div class="text-center">
        <button type="submit" pButton class="ui-button-success btn-fdt-submit mr-4"
          [label]="config?.data?.row?.fidelityOfficeId ? 'Update' : 'Save'"></button>
        <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
          type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>