<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body">
                <app-view-page [col]="2" [viewDetail]="stockTakeTAMInvestigationDetail"
                 [marginClass]="'m-0 px-0 pb-2'" (onLinkClicked)="onLinkClick($event)"></app-view-page>
            </div>
            <div class="ibox-body mt-2" *ngIf="techStockTakeTamType == 'Stock Take Escalation'">
                <div class="row header-row pt-4">
                    <div class="col-2"> Stock Code </div>
                    <div class="col-3"> Stock Description </div>
                    <div class="col-2"> Serial Number </div>
                    <div class="col-1"> Qty </div>
                    <div class="col-2"> Reserved/Invoice </div>
                    <div class="col-2"> Reference Number </div>
                </div>
                <div class="row children-row pb-4">
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            value="{{stockTakeTAMDetailsData?.itemCode}}"
                            matTooltip="{{stockTakeTAMDetailsData?.itemCode}}">
                    </div>
                    <div class="col-3">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            value="{{stockTakeTAMDetailsData?.itemName}}"
                            matTooltip="{{stockTakeTAMDetailsData?.itemName}}">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            value="{{stockTakeTAMDetailsData?.serialNumber}}"
                            matTooltip="{{stockTakeTAMDetailsData?.serialNumber}}">
                    </div>
                    <div class="col-1">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            value="{{stockTakeTAMDetailsData?.quantity}}"
                            matTooltip="{{stockTakeTAMDetailsData?.quantity}}">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            value="{{stockTakeTAMDetailsData?.itemState}}"
                            matTooltip="{{stockTakeTAMDetailsData?.itemState}}">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            value="{{stockTakeTAMDetailsData?.referenceNumber}}"
                            matTooltip="{{stockTakeTAMDetailsData?.referenceNumber}}">
                    </div>
                </div>
            </div>
            <div class="ibox-body mt-2" *ngIf="techStockTakeTamType == 'Payroll Number'">
                <div class="row header-row pt-4">
                    <div class="col-3"> Stock Code </div>
                    <div class="col-5"> Stock Description </div>
                    <div class="col-2"> Serial Number </div>
                    <div class="col-2"> Qty </div>
                </div>
                <div class="row children-row pb-4" *ngFor="let data of stockTakeTAMDetailsData?.items">
                    <div class="col-3">
                        <input type="text" class="fidelity-form-input form-control disabled" value="{{data?.itemCode}}"
                            matTooltip="{{data?.itemCode}}">
                    </div>
                    <div class="col-5">
                        <input type="text" class="fidelity-form-input form-control disabled" value="{{data?.itemName}}"
                            matTooltip="{{data?.itemName}}">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled"
                            value="{{data?.serialNumber}}" matTooltip="{{data?.serialNumber}}">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled" value="{{data?.qty}}"
                            matTooltip="{{data?.qty}}">
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>