<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up ">
    <div class="ibox" style="height: auto;">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <div class="ibox-body brown-border white-bg">
                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <app-view-page [col]="2" [viewDetail]="kitConfigDetail" *ngIf="viewable">
                        </app-view-page>
                        <form customForm class="fidelity-popup-form" [formGroup]="kitConfigurationAddEditForm">
                            <div class="row sm-inputs" *ngIf="!viewable">
                                <div class="col-md-4 red-pad">
                                    <div class="form-group auto-adjust kit-pdropdown">
                                        <label for="kitType">Kit Type<span class="mandatory-field">*</span></label>
                                        <p-dropdown formControlName="kitType" id="kitType" name="kitType"
                                            appendTo="body" dataKey="id" [options]="kitTypeList"
                                            optionLabel="displayName" optionValue="id"
                                            emptyFilterMessage="No Kit Type Exists" placeholder="Select Kit Type"
                                            [style]="{'width':'100%'}" [showClear]="false" required></p-dropdown>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('kitType')?.touched && kitConfigurationAddEditForm?.get('kitType')?.invalid">
                                            Kit type is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 red-pad">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label for="warehouse">Warehouse<span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete [placeholder]="'Select Warehouse'" ngDefaultControl
                                            [formControl]="kitConfigurationAddEditForm?.get('warehouse')" id="warehouse"
                                            [options]="warehouseList" [value]="'id'" [display]="'displayName'"
                                            [disabled]="kitConfigId" [multiple]='false' required>
                                        </mat-select-autocomplete>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('warehouse')?.touched && kitConfigurationAddEditForm?.get('warehouse')?.invalid">
                                            Warehouse is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 red-pad">
                                    <div class="form-group auto-adjust kit-pdropdown">
                                        <label>Ownership<span class="mandatory-field">*</span></label>
                                        <p-dropdown formControlName="ownership" id="ownership" name="ownership"
                                            appendTo="body" dataKey="id" [options]="ownershipList"
                                            optionLabel="displayName" optionValue="id"
                                            emptyFilterMessage="No Ownership Exists" placeholder="Select Ownership"
                                            [style]="{'width':'100%'}" [showClear]="false" [disabled]="kitConfigId"
                                            required></p-dropdown>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('ownership')?.touched && kitConfigurationAddEditForm?.get('ownership')?.invalid">
                                            Ownership is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 red-pad">
                                    <div class="form-group fidelity-autocomplete-dropdown-con kit-config-con">
                                        <label for="kitId">
                                            Kit Id<span class="mandatory-field">*</span>
                                        </label>
                                        <p-autoComplete formControlName="kitId" [style]="{'width':'100%'}"
                                            [suggestions]="kitIdList" field="kitId" optionLabel="kitId" dataKey="kitId"
                                            (onSelect)="onSelectKitID($event, 'kitId')"
                                            (completeMethod)="onSearchKitID($event)" appendTo="body" [minLength]="0">
                                        </p-autoComplete>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('kitId')?.touched && kitConfigurationAddEditForm?.get('kitId')?.errors?.required">
                                            Kit Id is required
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="showKitIdError && !kitConfigurationAddEditForm?.get('kitId')?.errors?.required">
                                            {{kitIdErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 red-pad fidelity-autocomplete-dropdown-con kit-config-con">
                                    <div class="form-group" style="width: 83%!important;">
                                        <label for="kitName">
                                            Kit Name<span class="mandatory-field">*</span>
                                        </label>
                                        <span [matTooltip]="kitConfigurationAddEditForm?.get('kitName').value?.kitName">
                                            <p-autoComplete formControlName="kitName" [style]="{'width':'100%'}"
                                                [suggestions]="kitNameList" field="kitName" optionLabel="kitName"
                                                dataKey="kitName" (onSelect)="onSelectKitName($event, 'kitName')"
                                                (completeMethod)="onSearchKitName($event)" appendTo="body"
                                                [minLength]="0"></p-autoComplete>
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('kitName')?.touched && kitConfigurationAddEditForm?.get('kitName')?.errors?.required">
                                            Kit Name is required
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="showKitNameError && !kitConfigurationAddEditForm?.get('kitName')?.errors?.required">
                                            {{kitNameErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 red-pad" *ngIf="isShowKitTypeStatus">
                                    <div class="form-group auto-adjust kit-pdropdown">
                                        <label>
                                            Kit Type Status<span class="mandatory-field">*</span>
                                        </label>
                                        <p-dropdown formControlName="kitTypeStatus" id="kitTypeStatus"
                                            name="kitTypeStatus" appendTo="body" dataKey="id"
                                            [options]="kitTypeStatusList" optionLabel="displayName" optionValue="id"
                                            emptyFilterMessage="No Kit Type Status Exists"
                                            placeholder="Select Kit Type Status" [style]="{'width':'100%'}"
                                            [showClear]="false" required></p-dropdown>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('kitTypeStatus')?.touched && kitConfigurationAddEditForm?.get('kitTypeStatus')?.invalid">
                                            Kit type status is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 red-pad fidelity-date-picker-con p-relative cust-banner-date-con"
                                    *ngIf="isShowRevertDate">
                                    <div class="form-group">
                                        <label>Revert Date<span class="mandatory-field"
                                                *ngIf="getReqRevertDate()">*</span></label>
                                        <p-calendar [minDate]="startTodayDate" formControlName="revertDate"
                                            styleClass="w-100">
                                        </p-calendar>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('revertDate')?.touched && kitConfigurationAddEditForm?.get('revertDate')?.invalid">
                                            Revert Date is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 red-pad" *ngIf="kitConfigId">
                                    <div class="form-group">
                                        <label for="createdBy">
                                            Created By<span class="mandatory-field">*</span>
                                        </label>
                                        <input class="form-control fidelity-form-input" formControlName="createdBy"
                                            type="text" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4 red-pad" *ngIf="kitConfigId">
                                    <div class="form-group">
                                        <label for="createdDate">
                                            Created Date<span class="mandatory-field">*</span>
                                        </label>
                                        <input formControlName="createdDate" class="form-control fidelity-form-input"
                                            readonly />
                                        <span class="icon icon-calendar p-absolute"
                                            style="right: 103px;top: 34px;"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 red-pad" *ngIf="kitConfigId && !viewable">
                                    <div class="form-group auto-adjust kit-pdropdown">
                                        <label>
                                            Status<span class="mandatory-field">*</span>
                                        </label>
                                        <p-dropdown formControlName="status" id="status" name="status" appendTo="body"
                                            dataKey="id" [options]="statusList" optionLabel="displayName"
                                            optionValue="id" emptyFilterMessage="No Status Exists"
                                            placeholder="Select Status" [style]="{'width':'100%'}" [showClear]="false"
                                            (onChange)="onStatusChange()" required></p-dropdown>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('status')?.touched && kitConfigurationAddEditForm?.get('status')?.invalid">
                                            Status is required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 mb-2">
                                <div class="col-md-2">Stock Code<span class="mandatory-field" *ngIf="!viewable">*</span>
                                </div>
                                <div class="col-md-5">Stock Description<span class="mandatory-field"
                                        *ngIf="!viewable">*</span></div>
                                <div class="col-md-2">Comments<span class="mandatory-field" *ngIf="!viewable">*</span>
                                </div>
                                <div class="col-md-2">Requested Qty<span class="mandatory-field"
                                        *ngIf="!viewable">*</span></div>
                                <div class="col-lg-1"></div>
                            </div>
                            <div class="row justify-content-center mt-3 mb-2 pr-3"
                                *ngIf="viewable && getKitFormArray.value.length == 0 && !isLoading">
                                No Data Available
                            </div>
                            <div class="row pr-3" *ngIf="!viewable">
                                <div class="col-md-2">
                                    <div class="form-group fidelity-autocomplete-dropdown-con ">
                                        <mat-form-field class="fidelity-form-input">
                                            <input matInput id="kitStockCodeId" class="fidelity-form-input"
                                                [matAutocomplete]="autoStockCode" formControlName="stockCode">
                                        </mat-form-field>
                                        <mat-autocomplete #autoStockCode="matAutocomplete" [displayWith]="displayFn"
                                            (optionSelected)="onStatusCodeSelected($event.option.value, 'stockCode')">
                                            <mat-option *ngIf="isStockCodeLoading" class="is-loading">
                                                <mat-spinner diameter="50"></mat-spinner>
                                            </mat-option>
                                            <ng-container *ngIf="!isStockCodeLoading">
                                                <mat-option *ngFor="let filtStockCode of filteredStockCodes"
                                                    [value]="filtStockCode">
                                                    <span>{{ filtStockCode.displayName }}</span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('stockCode')?.touched && kitConfigurationAddEditForm?.get('stockCode')?.invalid">
                                            Stock Code is required
                                        </span>
                                        <span class="text-danger" *ngIf="showStockCodeError">
                                            {{stockCodeErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group fidelity-autocomplete-dropdown-con">
                                        <mat-form-field class="fidelity-form-input">
                                            <input matInput type="text" id="kitStockDescriptionId"
                                                class="fidelity-form-input" [matAutocomplete]="autoStockDesc"
                                                formControlName="stockDescription">
                                        </mat-form-field>
                                        <mat-autocomplete #autoStockDesc="matAutocomplete" [displayWith]="displayFn"
                                            (optionSelected)="onStatusCodeSelected($event.option.value, 'stockDescription')">
                                            <mat-option *ngIf="isstockDescLoading" class="is-loading">
                                                <mat-spinner diameter="50"></mat-spinner>
                                            </mat-option>
                                            <ng-container *ngIf="!isstockDescLoading">
                                                <mat-option
                                                    *ngFor="let filtStockDescription of filteredStockDescription"
                                                    [value]="filtStockDescription">
                                                    <span>{{ filtStockDescription.displayName }}</span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('stockDescription')?.touched && kitConfigurationAddEditForm?.get('stockDescription')?.invalid">
                                            Stock Description is required
                                        </span>
                                        <span class="text-danger" *ngIf="showStockDescError">
                                            {{StockDescErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group auto-adjust kit-pdropdown">
                                        <p-dropdown formControlName="comments" id="comments" name="comments"
                                            appendTo="body" dataKey="id" [options]="commentsList"
                                            optionLabel="displayName" optionValue="id"
                                            emptyFilterMessage="No Comments Exists" placeholder="Select Comments"
                                            [style]="{'width':'100%'}" [showClear]="false" required></p-dropdown>
                                        <span class="text-danger"
                                            *ngIf="kitConfigurationAddEditForm?.get('comments')?.touched && kitConfigurationAddEditForm?.get('comments')?.invalid">
                                            Please select comments
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group auto-adjust">
                                        <input class="form-control fidelity-form-input" type="text"
                                            (keyup)="ValidateReqQty($event.target.value)" id="quantity" name="quantity"
                                            formControlName="quantity" name="Requested quantity"
                                            [validateInput]="isANumberOnly">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button *ngIf="showAction" class="circle-plus-btn " (click)="addKitItem()"
                                        type="button" matTooltip="Add" style="left: -1px;
                                                top: 5px;"><i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="custom-scroll1" style="overflow-x: auto;height: 20vh">
                                <app-page-form-array [pageForm]="kitConfigurationAddEditForm"
                                    [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                                    [selectedIndex]="selectedIndex" [isLoading]="isLoading" [isSubmitted]="isSubmitted"
                                    [isShowNoData]="false" (keyupEvent)="ValidateReqQty($event)"
                                    (removeItem)="removeKitItem($event)">
                                </app-page-form-array>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3" *ngIf="!viewable">
        <button id="initiate_order_btn" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
            (click)="onSubmit()" [disabled]="isSubmitted || !getValidForm() || !getKitFormArray.value.length">
            {{btnName}}
        </button>
        <button id="cancel_order_btn" class="btn btn-md-fidelity btn-default"
            routerLink="/inventory/kit-config">Cancel</button>
    </div>
</div>