<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [customScroll]="false" 
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="stockBinMovementDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header> Unassign </p-header>
    <div class="row mt-1">
        <div class="col-lg-12" style="font-size: 18px; text-align: center;"> 
            Are you sure you want to Unassign the Stock Code <b>{{stockCodeDetails ? stockCodeDetails : ''}}</b> 
            from Bin Location <b>{{binLocationDetails ? binLocationDetails : ''}}</b> ?
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" (click)="unassignStockCodes()"
                    class="btn btn-md-fidelity fidelity-btn-brown"> Accept 
                </button>
                <button type="button" (click)="stockBinMovementDialog = false"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default"> Reject 
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>