<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<form customForm [formGroup]="criteriaAssigningAccountsAddEditForm" (ngSubmit)="onSubmit()">
  <div class="form-group row mb-2">
    <div class="col-4">
      <div class="form-group">
        <label>Credit Controller Type </label>
        <select class="form-control fidelity-form-input" formControlName="creditControllerTypeId"
          name="Credit Controller Type">
          <option value="">Select Credit Controller Type</option>
          <option *ngFor="let layer of creditcontroltype" [value]="layer.id">
            {{layer.displayName}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <label>Division </label>
      <select class="form-control fidelity-form-input" formControlName="divisionId"
        (change)="changeDivision($event.target.value)">
        <option value="" disabled>Select division</option>
        <option *ngFor="let division of creditControllertype" [value]="division.id">{{division.displayName}}</option>
      </select>
    </div>
    <div class="col-md-4" *ngIf="!selectedValueCommercial && updatewar">
      <label>In Warranty </label>
      <select class="form-control fidelity-form-input" formControlName="isWarranty">
        <option value="" disabled>Select Type</option>
        <option *ngFor="let type of statusList" [value]="type.id">{{type.displayName}}</option>
      </select>
    </div>
    <div class="col-md-4" *ngIf="!selectedValueDealer && updatewar">
      <label>Classification </label>
      <select class="form-control fidelity-form-input" formControlName="categoryId">
        <option value="" disabled>Select Classification</option>
        <option *ngFor="let type of Categorytype" [value]="type.id">{{type.displayName}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>Account Status </label>
      <select class="form-control fidelity-form-input" formControlName="isAccountStatus">
        <option value="" disabled>Select Account Status</option>
        <option *ngFor="let Account of status" [value]="Account.id">{{Account.displayName}}</option>
      </select>
    </div>
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
    <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="goBack()">Cancel</button>
  </div>
</form>
