<div class="p-relative">
  <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
</app-page-header>
  <form *ngIf="showFilterForm" [formGroup]="dealerTypeFilterForm" (ngSubmit)="submitFilter()" class="p-absolute"
  style="top: 50px;left: 20px;right: 68px; z-index: 10;">
  <div class="page-heading p-relative">
      <div class="filter-dropdwon-con">
          <div class="row">
              <div class="col-4">
                  <div class="form-group fidelity-multiselect-dropdown-con" style="width: unset !important;">
                      <label>Dealer Type</label>
                      <p-dropdown
                      [id]="'dealerTypeName'"
                      formControlName="dealerTypeName"
                      [placeholder]="'Select Dealer Type'"
                      [options]="dealerTypeDropdown"
                      filter="true">
                    </p-dropdown>
                  </div>
              </div>
              <div class="col-4">
                <label>Description</label>
                <mat-form-field class="fidelity-form-input input-group fidelity-input-addon ">
                    <input matInput type="text" id="description" name="description" class="fidelity-form-input" [formControl]="dealerTypeFilterForm?.controls['description']" style="height: 28px;">
                </mat-form-field>
              </div>
              <div class="col-4">
                <div class="form-group fidelity-multiselect-dropdown-con">
                    <label>Comm Start</label>
                    <p-dropdown
                  formControlName="comStartMonths"
                    [placeholder]="'Select Com Start'"
                    [options]="dealerMonthDropdown"
                    filter="true">
                  </p-dropdown>


                </div>
            </div>

              <div class="filter-center">
                  <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                  <button type="button" class="btn btn-md-fidelity btn-primary"
                      (click)="resetForm()">Reset</button>
                  <button type="button" class="btn btn-md-fidelity btn-default" (click)="cancel()" >Cancel</button>
              </div>
          </div>
      </div>
      <div class="clearfix"></div>
  </div>
</form>
</div>

<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" class="dealer-type-config-table"
    [loading]="loading" [dataList]="dataList" [status]="status" [first]="first" [totalRecords]="totalRecords"
    [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex"(onActionSubmited)="onActionSubmited($event)"></app-page-list-table>
