<div class="fidelity-popup-heading container-fluid">{{departmentModel?.departmentId?'Update':'Create'}} Department
    <button mat-icon-button class="close-button " style="float: right;margin-top: -10px;">
        <mat-icon (click)="dialogClose()" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="departmentAddEditForm" customForm [formGroup]="departmentAddEditForm"
    (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="departmentName">Name<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input validateInput class="form-control fidelity-form-input" id="departmentName" type="text"
                    placeholder="Name (required)" [minlength]="3" [maxlength]="50" name="Name"
                    formControlName="departmentName" autocomplete="off" />
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="departmentCode">Code<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input validateInput class="form-control fidelity-form-input" id="departmentCode" type="text"
                    placeholder="Code (required)" [minlength]="formConfigs.three" [maxlength]="formConfigs.six"
                    name="Code" formControlName="departmentCode" />
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" for="description">Description</label>
            <div class="col-md-12">
                <text-area-custom-control formControlName="description">
                </text-area-custom-control>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" (click)="dialogClose()">Cancel</button>
    </mat-dialog-actions>
</form>