
<div class="page-heading">
  <h1 class="page-title">{{skillMatrixId ?'Update':'Add'}} Skill Matrix</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
       <li class="breadcrumb-item">Configuration</li>
       <li class="breadcrumb-item">Sales</li>
       <li class="breadcrumb-item" ><a (click)="actionOnLeavingComponent()">Sales Order</a></li>
           <li class="breadcrumb-item" ><a (click)="actionOnLeavingComponent()">Skill Matrix</a></li>
       <li class="breadcrumb-item">{{skillMatrixId ? 'Update' : 'Add'}} Skill Matrix
       </li></ol>

  <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
  <div class="ibox white-bg">
          <div class="ibox-body sm-form-grp">
            <form customForm [formGroup]="skillMatrixAddForm" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-4">
                      <div class="form-group">
                          <label>Lead Category <span  class="mandatory-field">*
                          </span></label>
                          <select id="street_type" name="Lead Category" required class="form-control fidelity-form-input"
                          formControlName="leadCategoryId">
                          <option value="" disabled>-- Select Lead Category Name --</option>
                          <option *ngFor="let lead of leadCategories"
                              [value]="lead.id">
                              {{lead.displayName}}
                          </option>
                      </select>
                      </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Select Skills <span  class="mandatory-field">*
                      </span></label>
                      <div class="col" style="padding-left: 1px;">
                        <p-multiSelect [options]="skills" [defaultLabel]="'Select Skills'" formControlName="skillId"  styleClass="w-100"></p-multiSelect>
                    </div>
                  </div>
                  </div>
              </div>
              <div class="text-center mt-3">
                  <button id="create_new_leads_btn" type="submit"
                      class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" >Save</button>
                  <button id="cancel_new_leads_btn" type="button" (click)="actionOnLeavingComponent()"
                      class="btn btn-md-fidelity fidelity-btn-grey btn-default" id="add_skill_cancel">Cancel</button>
              </div>
          </form>
          </div>
  </div>
</div>


