<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>{{ popupData['header'] }}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <!-- <div class="custom-scroll" style="white-space: nowrap;overflow-x: auto;"> -->
        <form customForm [formGroup]="serviceForDiscountForm" (ngSubmit)="updateWarrantyData()">
            <div class="row row-header mb-2" style="font-size: 1rem;">
                <div class="col-2">Stock Code</div>
                <div class="col-4">Stock Description</div>
                <div class="col-2">Qty</div>
                <div class="col-2">Unit Price Excl. Vat</div>
                <div class="col-2">Sub Total Excl. Vat</div>
            </div>
            <div formArrayName="stocksForWarrantyList">
                <div class="row child-row mb-2" *ngFor="let control of stocksForWarrantyFormArray?.controls; let i = index"
                    [formGroupName]="i">
                    <div class="col-2">
                        <input class="form-control fidelity-form-input" type="text" formControlName="itemCode" />
                    </div>
                    <div class="col-4">
                        <input class="form-control fidelity-form-input" type="text" formControlName="itemName" />
                    </div>
                    <div class="col-2">
                        <input class="form-control fidelity-form-input" type="text" name="warrantyQuantity" formControlName="WarrantyQty" [validateInput]='isNumericOnly'/>
                        <!-- formControlName="request" -->
                    </div>
                    <div class="col-2">
                        <input class="form-control fidelity-form-input" type="text" formControlName="unitPrice" />
                    </div>
                    <div class="col-2">
                        <input class="form-control fidelity-form-input" type="text" formControlName="subTotal" />
                    </div>
                </div>
            </div>
            <div class="text-center mt-4 mb-2">
                <button class="btn btn-md-fidelity fidelity-btn-brown">Update</button>
                <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="false"
                    type="button">Cancel</button>
            </div>
        </form>
    <!-- </div> -->
</mat-dialog-content>
