
<div class="fidelity-popup-heading container-fluid p-relative">Add Stock Items
  <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form lead-services-form add-stock-items-popup" [formGroup]="updateStockForm">
  <mat-dialog-content>
    <div class="row">
      <div class="col-3">
        <label for=""><b>System Type : {{displayName}}</b></label>

      </div>
      <div class="col-3">
        <div class="fidelity-multiselect-dropdown-con">
          <label for="">Stock Code</label>

          <input id="st_no"  class="form-control fidelity-form-input" type="text"
             placeholder="Enter Stock Code" maxlength="50"
             formControlName="stockCode">

        </div>
      </div>
      <div class="col-3">
        <div class="fidelity-multiselect-dropdown-con">
          <label for="">Stock Description</label>

          <input id="st_no"  class="form-control fidelity-form-input" type="text"
          placeholder="Enter Stock Description" maxlength="50" formControlName="stockDescription"
         >

        </div>
      </div>
      <div class="col-3">
        <div class="fidelity-multiselect-dropdown-con">
          <label for="">Stock Type<span  class="mandatory-field">*</span></label>
          <mat-select-autocomplete 
          ngDefaultControl [id]="'stockType'"
          [formControl]="updateStockForm.controls['stockTypeId']"
          [placeholder]="'Select stockType'" [options]="stockTypes" [multiple]='false'
          [value]="'value'" [display]="'display'"
          >
         </mat-select-autocomplete>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="fidelity-multiselect-dropdown-con">
          <label for="">Component Group</label>

          <mat-select-autocomplete [placeholder]="'Select Component Group'" ngDefaultControl
            [formControl]="updateStockForm?.get('componentGroupId')" id="componentGroup" [options]="componentGroupList"
            [value]="'id'"  [display]="'displayName'"
            [multiple]='false'>
          </mat-select-autocomplete>

        </div>
      </div>
      <div class="col-3">
        <div class="fidelity-multiselect-dropdown-con">
          <label for="">Component</label>
          <mat-select-autocomplete [placeholder]="'Select Component'" ngDefaultControl
            [formControl]="updateStockForm?.get('componentId')" id="component" [options]="componentList" [value]="'id'"
             [display]="'displayName'" [multiple]='false'>
          </mat-select-autocomplete>
      
        </div>
      </div>
      <div class="col-3">
        <div class="fidelity-multiselect-dropdown-con">
          <label for="">Brand</label>
          <mat-select-autocomplete [placeholder]="'Select Brand'" ngDefaultControl
            [formControl]="updateStockForm?.get('itemBrandId')" id="brand" [options]="itemBrandList" [value]="'id'"
             [display]="'displayName'" [multiple]='false'>
          </mat-select-autocomplete>

        </div>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <button class="btn btn-md-fidelity fidelity-btn-brown" (click)="getModalData()"
          style="margin-top: 22%;">Search</button>
      </div>
    </div>
    <div class="row mt-2">
      <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">

        <p-table class="custom-scroll" class="upsell-quote-stock-items" #dt [columns]="tables.columns" [lazy]="true"  [lazyLoadOnInit]="false"
          [scrollable]="true" scrollHeight="250px" [(selection)]="selectedRows" [autoLayout]="true"
          (onLazyLoad)="loadPaginationLazy($event)" [rows]="pageSize" [totalRecords]="totalRecords" [loading]="loading" [value]="dataList"
          [dataKey]="tables.dataKey" [paginator]="(totalRecords == 0) ? false : true" [rows]="10"
          [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null" [responsive]="true"
          [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"
          [reorderableColumns]="tables?.reorderableColumns">

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
              <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
              <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr class="first-row">
              <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                <p-tableHeaderCheckbox (click)="onChecked(null)"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                {{col.header}}

              </th>
              <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}" *ngIf="tables?.enableRowDelete">Action
              </th>

            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns" let-expanded="expanded">
            <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
              <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                <!-- <p-checkbox name="checked"  [binary]="true" [(ngModel)]="rowData['isChecked']"></p-checkbox> -->
                <p-tableCheckbox name="checked" (click)="onChecked(rowData)" [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
                <ng-container *ngIf="col.header != 'Quantity'; then thenTemplate; else elseTemplate">
                </ng-container>
                <ng-template #thenTemplate>
                  <ng-container  *ngIf="col.header == 'Stock Code'">
                    <span style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top">
                      {{rowData[col.field] ? (rowData[col.field]  ): '--'}}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="col.header != 'Stock Code'">
                    <span style="color: #00644A;" pTooltip="{{rowData[col.field] | wholeNumberToDecimal:col.field}}" tooltipPosition="top">
                      {{rowData[col.field] ? (rowData[col.field] | wholeNumberToDecimal:col.field ): '--'}}
                    </span>
                  </ng-container>
                </ng-template>
                <ng-template #elseTemplate>

                  <ng-container>
                    <button type="button" (click)="onQuantityChange('minus', rowData)">
                      -</button>{{ rowData[col.field] }}
                    <button type="button" (click)="onQuantityChange('plus', rowData)">
                      +
                    </button>

                  </ng-container>
                </ng-template>
              </td>

            </tr>
          </ng-template>


          <ng-template pTemplate="summary">
            <p *ngIf="totalRecords == 0" class="no-data-msg mt-2">No Data found</p>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
              {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows * (state.page + 1) : totalRecords}} of
              <strong>{{totalRecords ? totalRecords : pageSize}}</strong> entries
            </p>
          </ng-template>
        </p-table>
      </div>
      <!-- Table goes here -->
    </div>
  </mat-dialog-content>
  <div class="text-center mt-4 mb-2">
    <button class="btn btn-md-fidelity fidelity-btn-brown" *ngIf="tempSelectedRows.length == 0" disabled
      type="submit">Add to Option {{data.data.index}}</button>

    <button class="btn btn-md-fidelity fidelity-btn-brown" *ngIf="tempSelectedRows.length > 0" (click)="submit();"
      type="submit">Add to Option {{data.data.index}}</button>
    <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
  </div>
</form>