<div class="page-heading ">
    <h1 class="page-title d-inline-block">Upsell Quote</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item">
            {{isFromCustomer ? 'Customer' : 'Technical'}} Management
        </li>
        <li class="breadcrumb-item" (click)="redirectCustomerView()" *ngIf="isFromCustomer">
            <a>View Customer</a>
        </li>
        <li class="breadcrumb-item" (click)="goBack()">
            <a>{{isFromCustomer ? 'Customer Management : Upsell Quote' : 'Call Status Report'}} </a>
        </li>
        <li class="breadcrumb-item" *ngIf="!isFromCustomer">
            Upsell Quote
        </li>
        <li class="breadcrumb-item">
            <a>Items</a>
        </li>
    </ol>

    <div class="grid-icons-con float-right"
        *ngIf="!details?.referenceId ">
        <button id="add_cmc-sms-group_btn" (click)="addUpsellQuote()"
            class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn" title="add">
            <i aria-hidden="true" class="icon" data-icon="b"></i>
        </button>
    </div>
</div>
<form customForm name="form" #f="ngForm" (ngSubmit)="f.form.valid && submit()" novalidate>
    <div class="page-content fade-in-up">
        <div class="ibox view-box create-lead-stage3-con" style="height: auto!important;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div style="position: relative;">
                    <div *ngIf="isVoid"
                        style="z-index: 3;  height: 100%;  position: absolute;background-color: rgba(0, 0, 0, 0.1);top: 0;left: -16px;width: 100%;">
                        <i class="fa fa-lock fa-5x" style="position:absolute;top:50%;left:50%"></i>
                    </div>
                    <div class="p-relative" style="position: relative;">

                        <div class="ibox-body">

                            <div class="row mt-1">
                                <div class="col-12 mt-1">
                                    <div class="page-sub-title">Customer Details</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Customer Name</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block"><a
                                                    style="color: #007ad9">{{details?.customerName}}</a></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Customer ID</span>
                                        <span id="" class="value d-flex justify-content-start">
                                            <span class="d-inline-block" style="width: auto;">
                                                {{details?.customerRefNo}}</span>

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Address</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{details?.address}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Debtors Code</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{details?.debtorsCode}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Requested By</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">
                                                <select [(ngModel)]="referenceId" [ngModelOptions]="{standalone: true}"
                                                    (change)="onChangeRequestedBy($event.target?.value)"
                                                    class="form-control fidelity-form-input">
                                                    <option value="null" disabled>Select Requested By</option>

                                                    <option *ngFor="let st of customerRequestDetails" [value]="st.id">
                                                        {{st.displayName}}
                                                    </option>
                                                </select>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="d-flex">
                                        <span id="" class="key">Contact Number</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block" style="display: flex !important;flex-wrap: nowrap;">
                                                <!-- <input readonly [(ngModel)]="contactNo"
                                                    [ngModelOptions]="{standalone: true}"
                                                    class="form-control fidelity-form-input" name="Contact"> -->
                                                    <input disabled="" class="form-control fidelity-form-input" [value]="contactNoCountryCode" style="width: 57px;margin-right: 2px;">
                                                    <select [(ngModel)]="contactNo" [ngModelOptions]="{standalone: true}"
                                                    class="form-control fidelity-form-input" (change)="changecontactNo($event.target?.value)">
                                                    <option value="null" disabled>Select Contact Number</option>
                                                    <option *ngFor="let st of contactNumber" [value]="st.contactNo">
                                                        {{st.contactNo}}
                                                    </option>
                                                </select>

                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-1" >
                                    <button type="button" pButton icon="fa fa-plus mini-plus-btn"
                                    (click)="openAddContact(true)"></button>
              
                                  </div>
                            </div>

                        </div>
                    </div>
                    <!-- {{*ngIf="details?.referenceId || isCancelUpgrade"}} -->
                
                    <div class="p-relative" >
                        <div class="ibox-body">
                            <div class="row ">
                                <div class="col-4">

                                </div>
                                <div class="col-3">

                                </div>
                                <div class="col-2 d-flex align-items-center mt-4">

                                </div>
                                <div class="col-3 text-right" *ngIf="systemTypesData.length > 0 || this.isCancelUpgrade">
                                    <div style="pointer-events: all;"
                                        class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">

                                        <span class="d-flex stage-no mr-2 ml-2">2</span>
                                        <button *ngIf="isGenerateQuote" type="button" [disabled]="systemTypesData.length==0"
                                            (click)="onArrowClick('forward')">
                                            <i class="icon icon-forward"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-8">

                                </div>
                                <div class="col-2" *ngIf="systemTypesData.length > 0 || this.isCancelUpgrade">
                                    <div class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator"
                                        style="top: -10px;right: 12px;position: relative;">
                                        <button class="status-label status-label-green mr-4" type="button"
                                            (click)="addOption()" style="cursor: pointer;border: none;">Add Option
                                            <span class="fa fa-plus-circle mr-1" style="margin-left: 7px;"></span>
                                        </button>
                                    </div>

                                </div>
                                <div class="col-2">


                                </div>
                            </div>
                            <p-scrollPanel [style]="{ height: '36vh'}">                   
                               <div  *ngIf="((directSaleQuotationVersionId!=null && directSaleQuotationVersionId!='00000000-0000-0000-0000-000000000000') && (!systemTypesData || systemTypesData.length <= 0)) && isDelete" class="custom-spinner" style="text-align: center;"> 
                                <span class="loader"></span>
                               </div>
                                <ng-container *ngIf="systemTypesData.length > 0">

                                    <div class="row mt-1" *ngFor="let dt of systemTypesData; let i=index">
                                        <ng-container>

                                            <div class="col-6">
                                                <label>Option {{systemTypesData.length - i}}</label>

                                                <div class="form-group">
                                                    <select id="cust_keyholder_contact_type"
                                                        [disabled]="dt.directSaleQuotationItems.length > 0"
                                                        [(ngModel)]="dt.systemTypeId"
                                                        [ngModelOptions]="{standalone: true}"
                                                        class="form-control fidelity-form-input">
                                                        <option value="null" disabled>-- Select System Type --</option>

                                                        <option *ngFor="let st of dt.systemTypes" [value]="st.id">
                                                            {{st.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex align-items-center mt-4">
                                                <button class="btn btn-primary" type="button"
                                                    (click)="openUpdateStock(dt,i)"
                                                    style="cursor: pointer;border: none;">Update Stock
                                                </button>
                                            </div>


                                            <div class="col-2 mt-2">
                                                <button class="circle-minus-btn" type="button"
                                                    matTooltip="Remove Option {{systemTypesData.length - i}}"
                                                    tooltipPosition="top" style="margin-top: 10px;"
                                                    (click)="onDelete(i,dt)">
                                                    <i aria-hidden="true" class="icon icon-delete"></i></button>
                                            </div>



                                            <ng-container *ngIf="dt.directSaleQuotationItems.length > 0">

                                                <table style="width: 100%;
                                    margin-left: 15px;" class="fidelity-table mt-2 service-table">
                                                    <thead>
                                                        <th>Stock Code</th>
                                                        <th>Description</th>
                                                        <th class="text-left">Unit Price</th>
                                                        <th class="text-left">Quantity</th>
                                                        <th class="text-left">Sub Total</th>
                                                        <th class="text-left">VAT</th>
                                                        <th class="text-left">Total</th>
                                                        <th class="text-left">Comments</th>

                                                        <th></th>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            *ngFor="let product of dt.directSaleQuotationItems;index as j">
                                                            <ng-container>
                                                                <td *ngIf="!product?.itemImageUrl">{{product?.stockCode ? product.stockCode : '-'}}
                                                                </td>
                                                                <td *ngIf="product?.itemImageUrl">
                                                                    <span (click)="getImageUrl(dt)">
                                                                        <a>{{product.stockCode}}</a>
                                                                    </span>

                                                                </td>

                                                                <td>{{product?.stockDescription ? product?.stockDescription : '-'}}</td>
                                                                <td class="text-left"
                                                                    *ngIf="!product?.techDiscountingProcessName">
                                                                    {{product?.unitPrice ? (product?.unitPrice |   wholeNumberToDecimal ): '-'}}</td>
                                                                      
                                                                <td class="text-left"
                                                                    *ngIf="product?.techDiscountingProcessName">
                                                                    <select style="width: 50%;"
                                                                        id="cust_keyholder_contact_type"
                                                                        (change)="changeDropdown(product,product.isFixed)"
                                                                        [(ngModel)]="product.isFixed"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        class="form-control fidelity-form-input">
                                                                        <option value="" disabled>Select</option>

                                                                        <option value="false">
                                                                            Fixed
                                                                        </option>
                                                                        <option value="true">
                                                                            Percentage
                                                                        </option>
                                                                    </select>
                                                                </td>
                                                                <td class="text-left">
                                                                    <ng-container
                                                                        *ngIf="!product?.techDiscountingProcessName ">
                                                                        <button type="button" *ngIf="!product?.flag"
                                                                            (click)="onQuantityChange('minus', product,i,j)">
                                                                            -</button>{{product?.qty}}
                                                                        <button type="button" *ngIf="!product?.flag"
                                                                            (click)="onQuantityChange('plus', product,i,j)">
                                                                            +
                                                                        </button>
                                                                    </ng-container>
                                                                </td>
                                                                <td class="text-left"
                                                                    *ngIf="!product?.techDiscountingProcessName">
                                                                    {{product?.subTotal ? (product?.subTotal |  wholeNumberToDecimal) : '-'}}
                                                                   
                                                                </td>
                                                                <td class="text-left"
                                                                    *ngIf="product?.techDiscountingProcessName">
                                                                    <input (input)="onChange(product)"
                                                                        style="width: 42%;"
                                                                        [(ngModel)]="product.subTotal"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        class="form-control fidelity-form-input"
                                                                        name="companyName">
                                                                </td>
                                                                <td class="text-left">{{product?.vat ? (product?.vat | wholeNumberToDecimal) : '-'}}</td>
                                                                    
                                                                <td class="text-left">{{product?.total  ? (product.total | wholeNumberToDecimal) : '-'}}</td>
                                                                 
                                                                <td class="text-left">

                                                                    <textarea *ngIf="!product.flag" name="comments" rows="2"
                                                                        title="{{product?.comments}}"  [ngClass]="{ 'is-invalid': (comments?.touched || f?.submitted) && !comments?.valid }"
                                                                        [(ngModel)]="product.comments" #comments="ngModel" [disabled]="getUpsellQuoteEditPermission()"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        class="form-control" style="width: 94%;"
                                                                        type="text" required></textarea>
                                                                    <!-- <span class="text-danger" *ngIf="getCommentError(f, comments)">
                                                                        Comments is required
                                                                    </span> -->
                                                                </td>
                                                                <td>
                                                                    <button *ngIf="!product?.flag" class="circle-minus-btn" type="button"
                                                                        matTooltip="Remove Stock Item"
                                                                        tooltipPosition="top"
                                                                        (click)="onDeleteItem(dt,product)"
                                                                        style="top: 0px;left: -22px;">
                                                                        <i aria-hidden="true"
                                                                            class="icon icon-delete"></i></button>
                                                                </td>
                                                            </ng-container>

                                                        </tr>
                                                    </tbody>
                                                    <tfoot *ngIf="dt.directSaleQuotationItems.length != 0"
                                                        style="background: #dacece;">
                                                        <tr>
                                                            <ng-container>
                                                                <td><b>Sub Total</b></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>

                                                                </td>

                                                                <td class="text-left">
                                                                    <b>{{dt?.totalAmount?.subTotal ? (dt.totalAmount?.subTotal| wholeNumberToDecimal) : '-'}}</b>
                                                                        
                                                                </td>
                                                                <td class="text-left">
                                                                    <b>{{dt?.totalAmount?.vat ? (dt?.totalAmount?.vat  | wholeNumberToDecimal ): '-'}}</b>
                                                               


                                                                </td>
                                                                <td class="text-left">
                                                                    <b> {{dt?.totalAmount?.totalPrice ? (dt?.totalAmount?.totalPrice| wholeNumberToDecimal) : '-'}}</b>
                                                                        


                                                                </td>
                                                            </ng-container>
                                                            <td></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </ng-container>
                                            <div class="col-12" style="margin-top: 9px;">
                                                <mat-checkbox [(ngModel)]="dt.isContinuousDelivery"
                                                    [ngModelOptions]="{standalone: true}"
                                                    class="fidelity-checkbox mr-2">
                                                    Upselling quote essential to continued service delivery
                                                </mat-checkbox>

                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>

                            </p-scrollPanel>
                        </div>
                    </div>
                    <div class="text-center mt-2" *ngIf="systemTypesData.length > 0">
                        <button [disabled]="isEnableQuoteGenerateButton" id="create_new_leads_btn" type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                            id="add_lead_type_btn">Save</button>
                        <button id="cancel_new_leads_btn" type="button" (click)="goBack()"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                            id="cancel_lead_type_btn">Cancel</button>
                        <button  id="create_new_leads_btn" type="button"
                            (click)="generateQuote()"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                            id="add_lead_type_btn">Generate Quote</button>

                    </div>
                </div>
            </p-scrollPanel>

        </div>
    </div>
</form>

<p-dialog styleClass="invoiceInfo" [maximizable]="true" [(visible)]="isAddUpsell" [responsive]="true" showEffect="fade"
    [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header>
        Alert
    </p-header>
    <div>
        <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
            <div>
                <p-scrollPanel [style]="{ height: '8vh'}">
                    <div class="view-box text-center p-4">
                        <h5>
                            Additional Partitionning Required ?
                        </h5>
                    </div>
                </p-scrollPanel>
            </div>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="submit" pButton class="ui-button-success mr-4"
                    style="display: inline-block;background: #115943!important;" (click)="openUpgrade()" [disabled]="isVoid"
                    label="Yes"></button>
                <button (click)="cancelUpgrade()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    style="padding:7px">No</button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="View Image" [(visible)]="openImg" [baseZIndex]="10000" [modal]="true" [responsive]="true"
    [style]="{width: '480px', height: '200px'}">
    <img src="{{itemImageUrl}}" alt="" style="height: 300px; width: 500px;">


</p-dialog>
<!-- add new contact pop up -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="openAddContactDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '700px'}">

    <p-header>
        Add New Contact
    </p-header>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;" customForm [formGroup]="addNewContactForm"
        (ngSubmit)="addContactSubmit()">
        <div>

            <div>
                <div class="view-box">
                    <div class="row mt-1">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Contact Name
                                    <span class="mandatory-field">*</span>
                                </label>
                                <input formControlName="contactName" class="form-control fidelity-form-input"
                                    name="Contact Name" placeholder="Enter Contact Name">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <label>Contact Number <span class="mandatory-field">*</span>
                            </label>
                            <div class="row">
                                <div class="col-3 pr-0">
                                    <div class="form-group" style="width: 100%!important;">
                                        <select class="form-control fidelity-form-input pad-right"
                                            style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                            formControlName="contactNoCountryCode" disabled>
                                            <option *ngFor="let countryCode of countryCodes"
                                                [value]="countryCode.displayName">
                                                {{countryCode.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-8 pl-0">
                                    <div class="form-group" style="width: 84%!important;">
                                        <input id="mobileNumber2" #input
                                            style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                            appPhoneMask formControlName="contactNo" appPhoneMask
                                            [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                            [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                            class="form-control fidelity-form-input" name="Contact Number"
                                            placeholder="Contact Number" />

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="text-center">
                    <button type="submit" pButton class="ui-button-success mr-4"
                        style="display: inline-block;background: #115943!important;" label="Add"></button>
                    <button (click)="openAddContactDialog = false"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </div>
        </p-footer>

    </form>
</p-dialog>

