<div class="page-heading ">
    <h1 class="page-title d-inline-block">Upsell Quote</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            {{isCustomer ? 'Customer Management' : 'Technical Management'}}
        </li>
        <li class="breadcrumb-item" *ngIf="!isCustomer">
            <a [routerLink]="['/technical-management/call-status-report']" [queryParams]="{tab: 1}">Call Status Report</a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToUpsellPage()">Upsell Quote</a>
        </li>
        <li class="breadcrumb-item">
            <a>Upsell Quote Details</a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <p-scrollPanel [style]="{ height: '70vh'}">
        <div class="ibox view-box create-lead-stage3-con">
            <div class="p-relative">
                <div class="ibox-body">
                    <p-scrollPanel [style]="{ height: '28vh'}">
                        <div class="row mt-1">
                            <div class="col-12 mt-1">
                                <div class="page-sub-title">Customer Details</div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Customer Name</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block"><a style="color: #007ad9">{{customerDetails?.customerName}}</a></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Customer ID</span>
                                    <span id="" class="value d-flex justify-content-start">
                                        <span class="d-inline-block" style="width: auto;">{{customerDetails?.customerRefNo}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Address</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{customerDetails?.address}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Technician</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{customerDetails?.technician}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Debtors Code</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{customerDetails?.debtorsCode}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Created Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{customerDetails?.createdDate? (customerDetails?.createdDate | date) : '-' }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Issued Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{customerDetails?.issuedDate ? (customerDetails?.issuedDate | date ) :'-' }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Requested By</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{customerDetails?.referenceName}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Contact No</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                          {{customerDetails?.contactNoCountryCode}}  {{customerDetails?.contactNo}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>

                </div>
            </div>
            <div class="p-relative"  *ngFor="let item of directSaleQuotationSystemTypes ;let i=index">
                <div class="ibox-body mt-2 custom-record">
                   <div class="row">
                        <div class="col-4">
                                <label>Option {{i+1}}</label>
                                <input readonly  class="form-control fidelity-form-input" [value]="item.systemTypeName" name="Contact">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-1">
                            <label>Stock Code</label>
                        </div>
                        <div class="col-2">
                            <label>Description</label>
                        </div>
                        <div class="col-2">
                            <label>Unit Price</label>
                        </div>
                        <div class="col-1">
                            <label>Qty</label>
                        </div>
                        <div class="col-2">
                            <label>Sub Total</label>
                        </div>
                        <div class="col-2">
                            <label>VAT</label>
                        </div>
                        <div class="col-2">
                            <label>Total</label>
                        </div>
                        <div class="col-2">
                            <label>Comments</label>
                        </div>
                    </div>
                    <div class="row" *ngFor="let subItem of item.directSaleQuotationItems ;let i=index">
                        <div class="col-1">
                            <input readonly [value]="subItem.stockCode" pTooltip="{{subItem.stockCode}}" class="form-control fidelity-form-input" name="Contact">
                        </div>
                        <div class="col-2">
                            <input readonly  [value]="subItem.stockDescription" pTooltip="{{subItem.stockDescription}}" class="form-control fidelity-form-input" name="Contact">
                        </div>
                        <div class="col-2">
                            <input readonly [value]="'R '+subItem.unitPrice" pTooltip="{{subItem.unitPrice}}"  class="text-align-right form-control fidelity-form-input" name="Contact">
                        </div>
                        <div class="col-1">
                            <input readonly   [value]="subItem.qty" pTooltip="{{subItem.qty}}" class="form-control fidelity-form-input" name="Contact">
                        </div>
                        <div class="col-2">
                            <input readonly [value]="'R '+subItem.subTotal"  pTooltip="{{subItem.subTotal}}" class="text-align-right form-control fidelity-form-input" name="Contact">
                        </div>
                        <div class="col-2">
                            <input readonly  [value]="'R '+subItem.vat" pTooltip="{{subItem.vat}}" class="text-align-right form-control fidelity-form-input" name="Contact">
                        </div>
                        <div class="col-2">
                            <input readonly  [value]="'R '+subItem.total" pTooltip="{{subItem.total}}" class="text-align-right form-control fidelity-form-input" name="Contact">
                        </div>
                        <div class="col-2">
                            <input readonly   [value]="subItem.comments" pTooltip="{{subItem.comments}}" class="form-control fidelity-form-input" name="Contact">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-4">
                            <input type="checkbox" id="tsd-filter-inherited" [checked]="item.isContinuousDelivery" />
                            <label>
                                     Upselling quote essentail to continued service delivery.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-scrollPanel>
</div>
