<div class="fidelity-popup-heading container-fluid p-relative"> {{data.documentId ? 'View' : 'Add'}}Document
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form customForm [formGroup]="supportDocumentUploadForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="row">
            <div class="col-11">
                <div class="form-group p-relative support-doc-upload-file">
                    <label>Upload File <span class="mandatory-field">*</span></label>
                    <div class="input-group" style="height: 40px;">
                        <input type="text" name="filename" id="fileName"
                            style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;" class="form-control"
                            placeholder="" formControlName="documentName" readonly>
                        <span class="input-group-btn" *ngIf="!data.documentId">
                            <div class="btn custom-file-uploader" id="fileName"
                                style="height: 40px; padding: 12px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;background-color: #00644A;">
                                <input #fileInput type="file" name="file"
                                    [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                                    (change)="uploadFiles($event.target.files)" />
                                Browse
                            </div>
                        </span>
                    </div>


                </div>
            </div>
            <div class="col-1" *ngIf="data.documentId">
                <label>View Doc</label><br>
                <a href="{{getData.documentPath}}" target="_self">

                    <i aria-hidden="true" class="fa fa-file-excel-o" matTooltip="View"></i>
                </a>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" *ngIf="!data.documentId">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Upload</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
            [mat-dialog-close]="true">No</button>
    </mat-dialog-actions>

</form>