<div class="page-heading">
    <h1 class="page-title d-inline-block">View Recurring Revenue</h1>
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"><a routerLink='/dealer/recurring-config'>Recurring Revenue List</a>
        </li>
        <li class="breadcrumb-item">View Recurring Revenue</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a id="item_price_edit_btn"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            (click)="navigateToEdit()" matTooltip="Edit"><i aria-hidden="true" class="icon icon-edit"></i></a>
    </div>
</div>
<!-- <pre>{{ DealerRecurringRevenueData | json }}</pre> -->
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg">
                <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                    <div class="ibox-body brown-border p-5 mb-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div><label id="key_stock_name">Dealer ID</label></div>
                                            </div>
                                            <div class="col">
                                                <div> <label
                                                        id="key_stock_name"><b>{{DealerRecurringRevenueData?.dealerIIPCode}}</b></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div><label id="key_price_stock_code">Recurring Per Month</label></div>
                                            </div>
                                            <div class="col">
                                                <div> <label
                                                        id="value_price_stock_code"><b>{{DealerRecurringRevenueData?.recurringMinMonth}}</b></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div><label id="key_price_stock_code">Recurring Percentage</label></div>
                                            </div>
                                            <div class="col">
                                                <div> <label
                                                        id="value_price_stock_code"><b>{{DealerRecurringRevenueData?.recurringPercentage}}</b></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div><label id="key_price_stock_code">Per Contract</label></div>
                                            </div>
                                            <div class="col">
                                                <div> <label
                                                        id="value_price_stock_code"><b>{{DealerRecurringRevenueData?.minContract}}</b></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div><label id="key_price_stock_code">Category</label></div>
                                            </div>
                                            <div class="col">
                                                <div> <label id="value_price_stock_code"><b>{{DealerRecurringRevenueData?.dealerCategoryTypeName
                                                            }}</b></label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>