<div class="page-heading ">
    <h1 class="page-title no-border">{{DealerRecurringrevenueid ? 'Edit' : 'Add'}} Recurring Revenue</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"><a routerLink="/dealer/recurring-config"> Recurring Revenue List
                </a>
                <li class="breadcrumb-item" *ngIf="DealerRecurringrevenueid"><a
                    routerLink='/dealer/recurring-config/view' [queryParams]="{id:DealerRecurringrevenueid}"
                    skipLocationChange>View Recurring Revenue</a></li>
        
        <li class="breadcrumb-item">{{DealerRecurringrevenueid ? 'Edit' : 'Add'}} Recurring Revenue</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
            <div class="ibox-body sm-form-grp">
                <form [formGroup]="recurringconfigForm" customForm (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-4">
                            <label>Dealer ID</label>
                            <div class="form-group">
                                <input placeholder="Dealer ID" id="dealerIIPCode" disabled
                                    formControlName="dealerIIPCode" [validateInput]='isAnAlphaNumericOnly'  name="dealerIIPCode"
                                    class="form-control fidelity-form-input" type="text">
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Recurring Min Month</label>
                            <div class="form-group">
                                <input Name="recurringMinMonth" placeholder="Recurring Min Month" [validateInput]='isANumberOnly'
                                    class="form-control fidelity-form-input" id="recurringMinMonth" minlength="1"
                                    maxlength="2" 
                                    formControlName="recurringMinMonth" />
                                   
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Recurring percentage</label>
                            <div class="form-group">
                                <input Name="recurringPercentage"  placeholder="Recurring percentage" 
                                    class="form-control fidelity-form-input" id="recurringPercentage" max="99" [dropSpecialCharacters]="false" mask="percent.2"
                                    formControlName="recurringPercentage" />
                            </div>
                        </div>

                        <div class="col-4">
                            <label>Min Contract</label>
                            <div class="form-group">
                                <input Name="minContract"  placeholder="Min Contract" minlength="1"
                                maxlength="2" 
                                    class="form-control fidelity-form-input" id="minContract" 
                                    formControlName="minContract" />
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Category</label>
                            <div class="form-group">
                                <input Name="dealerCategoryTypeName"  placeholder="Category" disabled
                                    class="form-control fidelity-form-input" id="dealerCategoryTypeName" 
                                    formControlName="dealerCategoryTypeName" />
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="create_new_leads_btn" type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                            id="add_lead_type_btn">{{DealerRecurringrevenueid ? 'Update' : 'Add'}}</button>
                        <button id="cancel_new_leads_btn" type="button" routerLink="/dealer/recurring-config"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                            id="cancel_lead_type_btn">Cancel</button>
                    </div>

                </form>

            </div>
        </p-scrollPanel>
    </div>
</div>