<div class="fidelity-popup-heading container-fluid p-relative">Appointment Escalation
    <button mat-icon-button class="close-button p-absolute" (click)="dialogClose()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm (ngSubmit)="onSubmit()" [formGroup]="reactiveFormGroup"
    *ngIf="reactiveFormGroup">
    <mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Escalation To<span class="mandatory-field">*</span></label>
                    <select name="Escalation To" class="form-control fidelity-form-input"
                        formControlName="escalationUserId">
                        <option value="" disabled>--Select Escalation To--</option>
                        <option *ngFor="let escalation of escalationTo" [value]="escalation.id">
                            {{escalation.displayName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Reason<span class="mandatory-field">*</span></label>
                    <select name="Escalation Reason" class="form-control fidelity-form-input"
                        formControlName="escalationReasonId">
                        <option value="" disabled>--Select Escalate Reason--</option>
                        <option *ngFor="let escalationReason of escalationReasons"
                            [value]="escalationReason.escalationReasonId">
                            {{escalationReason.description}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <label class="d-block mt-2">Specific date and time required by customer</label>
                <input disabled   class="form-control fidelity-form-input time" 
                    [value]="appointmentDateTimeModel"
                    id="appointment_time"
                    name="Appointment Date Time">
            </div>
            <div class="col-12" style="margin-top: 10px;">
                <div class="form-group">
                    <text-area-custom-control
                        [placeholder]="'User to add additional information on the reason for the sales appointment escalation'"
                        formControlName="notes">
                    </text-area-custom-control>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Send Notice</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
            (click)="dialogClose()">Cancel</button>
    </mat-dialog-actions>
</form>