

<div class="fidelity-popup" id="ticketModal">
    <div class="">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Add Message</h4>
                <mat-icon  [mat-dialog-close]="true"
                    class="close-icon mat-icon notranslate mat-#fff material-icons mat-icon-no-color" color="#fff"
                    role="img"  style="cursor:pointer" data-dismiss="modal">
                    close</mat-icon>


            </div>
            <div class="fidelity-modal-body">
                <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                        <mat-dialog-content>
                            <form class="fidelity-popup-form" customForm [formGroup]="addMessageForm" (ngSubmit)="onSubmit()">

                            <div class="ibox-body">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="d-block" for="">Default Message</label>
                                        <input tabindex="-1" class="form-control fidelity-form-input" type="text" name="Default Message"
                                            formControlName="feedbackMessage" [validateInput]='isAnAlphaNumericOnly' placeholder="Enter ">
                                    </div>
                                </div>
                            </div>
                            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-4">Submit</button>
                                    <button (click)="close()" type="button"
                                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                                </div>
                            </div>
                        </form>

                        <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                        [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
                        [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" 
                        (onActionSubmited)="onActionSubmited($event)">
                      </app-page-list-table>
                        </mat-dialog-content>
                    </p-scrollPanel>
            </div>

        </div>
    </div>
</div>