<div class="primeng-table-wrapper dispatcher-list-grid-con">
    <ng-container
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList.length > 1; else elseTemplateTable">
        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
            <mat-tab [label]="tables.caption"
                *ngFor='let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index'>
                <form [formGroup]="columnFilterForm">
                    <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
                        [virtualScroll]="true" [virtualRowHeight]="34" [(selection)]="selectedRows" [scrollable]="true"
                        scrollHeight="327px" [autoLayout]="true" [resizableColumns]="tables?.resizableColumns"
                        (onLazyLoad)="loadPaginationLazy($event)" [loading]="loading" [value]="dataList"
                        [dataKey]="tables.dataKey" [rows]="20" [totalRecords]="totalRecords" responsive]="true"
                        columnResizeMode="expand" [reorderableColumns]="tables?.reorderableColumns">
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix" style="text-align: left">
                                <div class="row">
                                    <div class="col-md-5" style="padding-left: 0;">
                                        <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                                            (click)="dt.exportCSV()" style="margin-right: 0.5em;"
                                            *ngIf="tables?.enableExportCSV"></button>
                                        <button type="button" pButton icon="pi pi-file-excel" iconPos="left"
                                            label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;"
                                            class="ui-button-success" *ngIf="tables?.enableExportExcel"></button>
                                        <button type="button" pButton icon="pi pi-file" iconPos="left"
                                            label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"
                                            style="margin-right: 0.5em;" class="ui-button-warning"
                                            *ngIf="tables?.enableExportCSVSelected"></button>
                                        <button type="button" pButton icon="pi pi-file" iconPos="left" label="Reset"
                                            (click)="dt.reset()" style="margin-right: 0.5em;"
                                            class="ui-button-secondary" *ngIf="tables?.enableReset"></button>
                                    </div>
                                    <div class="col-md-7" style="    padding-right: 0;">
                                        <form [formGroup]="searchForm">
                                            <div style="text-align: right; float: right;"
                                                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                                <input type="text" pInputText size="30" placeholder="Global Filter"
                                                    formControlName="searchKeyword" style="width:auto">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                    *ngIf="tables?.enableRowDelete">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr class="first-row">
                                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                    pReorderableColumn>
                                    {{col.header}}
                                </th>
                                <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                    *ngIf="tables?.enableRowDelete">
                                    Action
                                </th>
                            </tr>
                            <tr *ngIf="tables?.enableFieldsSearch">
                                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox"></th>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input [formControlName]="col.field" validateInput
                                        *ngIf="col.field != 'isActive' && !col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                        pInputText type="text">
                                    <p-calendar [formControlName]="col.field" [utc]='true' [maxDate]="today"
                                        *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                        (onClearClick)="dt.filter($event.value,col.field, null)">
                                    </p-calendar>
                                    <p-dropdown [formControlName]="col.field"
                                        *ngIf="col.field == 'isActive' && i == selectedTabIndex" appendTo="body"
                                        [options]="status" placeholder="Select Status" [style]="{'width':'75%'}"
                                        [showClear]="true">
                                    </p-dropdown>
                                </th>
                                <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                    *ngIf="tables?.enableRowDelete"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                            let-expanded="expanded">
                            <tr [pSelectableRow]="rowData">
                                <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td *ngFor="let col of columns;index as i" class="ui-resizable-column"
                                    pReorderableRowHandle>
                                    <a href="#" [pRowToggler]="rowData"
                                        *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>
                                    <ng-container
                                        *ngIf="col.header == 'Status' || col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                                    </ng-container>
                                    <ng-template #thenTemplate>
                                        <ng-container *ngIf="col.header == 'Status'">
                                            <span *ngIf="!tables.enableStatusActiveAction" style="cursor: pointer;">
                                                {{col.field =='isActive' ? (rowData[col.field] == true? 'Active' :
                                                'InActive') : rowData[col.field] ? rowData[col.field] :'-'}}
                                            </span>
                                            <p-dropdown *ngIf="tables.enableStatusActiveAction" [options]="status"
                                                appendTo="body" [(ngModel)]="rowData[col.field]"
                                                [ngModelOptions]="{standalone: true}" placeholder="Select Status"
                                                [style]="{'width':'100%'}" (onChange)="onChangeStatus(rowData,ri)">
                                            </p-dropdown>
                                        </ng-container>
                                        <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                                            {{rowData[col.field] ? (rowData[col.field] | date) :
                                            '--'}}
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #elseTemplate>
                                        <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                                            <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                                            <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                                            {{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No'
                                            : rowData[col.field] ? rowData[col.field] : '--'}}
                                        </ng-container>
                                    </ng-template>
                                </td>
                                <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                    *ngIf="tables?.enableRowDelete">
                                    <button style="margin: 0 10px;cursor: pointer;" pButton type="button"
                                        icon="pi pi-trash" class="ui-button-danger"
                                        (click)="onCRUDRequested('delete',rowData)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody" let-columns="columns">
                            <tr style="height:34px">
                                <td *ngFor="let col of columns">
                                    <div class="loading-text"></div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length" style="text-align: center;">
                                    {{loading ? 'Loading...' : 'No records found'}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                            <tr>
                                <td [attr.colspan]="columns.length + 1">
                                    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px;background: #fff;">
                                        <div class="ui-g-12 ui-md-9">
                                            <div class="ui-g">

                                                <div class="ui-g-12">
                                                    <b>Area Name:</b> {{rowData?.areaName ? rowData?.areaName : '--'}}
                                                </div>
                                                <div class="ui-g-12">
                                                    <b>Division Name:</b>
                                                    {{rowData?.stackAreaConfigDivisions ?
                                                    rowData?.stackAreaConfigDivisions : '--'}}
                                                </div>
                                                <div class="ui-g-12" style="    text-align: right;">
                                                    <button style="margin: 0 10px;" pButton type="button"
                                                        icon="pi pi-pencil" class="ui-button-info"
                                                        (click)="onCRUDRequested('edit')"></button>
                                                    <button style="margin: 0 10px;" pButton type="button"
                                                        icon="pi pi-trash" class="ui-button-danger"
                                                        (click)="onCRUDRequested('delete')"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </form>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
    <ng-template #elseTemplateTable>
        <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
            <form [formGroup]="columnFilterForm">
                <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
                    [(selection)]="selectedRows" [scrollable]="true" scrollHeight="327px" [autoLayout]="true"
                    (onLazyLoad)="loadPaginationLazy($event)" [totalRecords]="totalRecords" [loading]="loading"
                    [value]="dataList" [dataKey]="tables.dataKey" [rows]="20" [responsive]="true"
                    [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"
                    [reorderableColumns]="tables?.reorderableColumns">
                    <ng-template pTemplate="caption">
                        <div class="ui-helper-clearfix" style="text-align: left">
                            <div class="row">
                                <div class="col-md-5" style="    padding-left: 0;">
                                    <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                                        (click)="dt.exportCSV()" style="margin-right: 0.5em;"
                                        *ngIf="tables?.enableExportCSV"></button>
                                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                                        (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"
                                        *ngIf="tables?.enableExportExcel"></button>
                                    <button type="button" pButton icon="pi pi-file" iconPos="left"
                                        label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"
                                        class="ui-button-warning" *ngIf="tables?.enableExportCSVSelected"></button>
                                    <button type="button" pButton icon="pi pi-file" iconPos="left" label="Reset"
                                        (click)="dt.reset()" style="margin-right: 0.5em;" class="ui-button-secondary"
                                        *ngIf="tables?.enableReset"></button>
                                </div>
                                <div class="col-md-7" style="    padding-right: 0;">
                                    <form [formGroup]="searchForm">
                                        <div style="text-align: right; float: right;"
                                            *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                            <input type="text" pInputText size="30" placeholder="Global Filter"
                                                formControlName="searchKeyword" style="width:auto">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                            <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                            <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                *ngIf="tables?.enableRowDelete">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr class="first-row">
                            <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                pReorderableColumn>
                                {{col.header}}
                            </th>
                            <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                *ngIf="tables?.enableRowDelete">
                                Action</th>
                        </tr>
                        <tr *ngIf="tables?.enableFieldsSearch">
                            <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox"></th>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                <input [formControlName]="col.field" validateInput
                                    *ngIf="col.field != 'isActive' && !col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                    pInputText type="text">
                                <p-calendar [formControlName]="col.field" [utc]='true' [maxDate]="today"
                                    *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                    (onClearClick)="dt.filter($event.value,col.field, null)">
                                </p-calendar>
                                <p-dropdown [formControlName]="col.field"
                                    *ngIf="col.field == 'isActive' && i == selectedTabIndex" appendTo="body"
                                    [options]="status" placeholder="Select Status" [style]="{'width':'75%'}"
                                    [showClear]="true">
                                </p-dropdown>
                            </th>
                            <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                *ngIf="tables?.enableRowDelete">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                        let-expanded="expanded">
                        <tr [pSelectableRow]="rowData">
                            <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let col of columns;index as i" class="ui-resizable-column"
                                pReorderableRowHandle>
                                <a href="#" [pRowToggler]="rowData"
                                    *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a>
                                <ng-container
                                    *ngIf="col.header == 'Status' || col.header == 'Call' || col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                                </ng-container>
                                <ng-template #thenTemplate>
                                    <ng-container *ngIf="col.header == 'Status'">
                                        <span *ngIf="!tables.enableStatusActiveAction" style="cursor: pointer;">
                                            {{col.field =='isActive' ? (rowData[col.field] == true? 'Active' :
                                            'InActive') : rowData[col.field] ? rowData[col.field] :'-'}}
                                        </span>
                                        <p-dropdown *ngIf="tables.enableStatusActiveAction" [options]="status"
                                            appendTo="body" [(ngModel)]="rowData[col.field]"
                                            [ngModelOptions]="{standalone: true}" placeholder="Select Status"
                                            [style]="{'width':'100%'}" (onChange)="onChangeStatus(rowData,ri)">
                                        </p-dropdown>
                                    </ng-container>
                                    <ng-container *ngIf="col.header == 'Call'">
                                        <a (click)="openPTT(rowData)" class="ptt-icon">
                                            <i class="fa fa-mobile" aria-hidden="true"></i></a>
                                    </ng-container>
                                    <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                                        {{rowData[col.field] ? (rowData[col.field] | date) :
                                        '--'}}
                                    </ng-container>
                                </ng-template>
                                <ng-template #elseTemplate>
                                    <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                                        <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                            tooltipPosition="top"
                                            (click)="onCRUDRequested('edit',rowData);openShortcutMenus(rowData)">
                                            {{rowData[col.field] ? rowData[col.field] : '--'}}
                                        </a>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                                        <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                            tooltipPosition="top"
                                            (click)="onCRUDRequested('edit',rowData);openShortcutMenus(rowData)">
                                            {{rowData[col.field] ? rowData[col.field] : '--'}}
                                        </a>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                                        {{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No' :
                                        (rowData[col.field] || rowData[col.field] == 0) ? rowData[col.field] : '--'}}
                                    </ng-container>
                                </ng-template>
                            </td>
                            <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                                <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                                    class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="columns.length" style="text-align: center;">
                                {{loading ? 'Loading...' : 'No records found'}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                        <tr>
                            <td [attr.colspan]="columns.length + 1">
                                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px;background: #fff;">
                                    <div class="ui-g-12 ui-md-9">
                                        <div class="ui-g">
                                            <div class="ui-g-12">
                                                <b>Area Name:</b> {{rowData?.areaName ? rowData?.areaName : '--'}}
                                            </div>
                                            <div class="ui-g-12">
                                                <b>Division Name:</b>
                                                {{rowData?.stackAreaConfigDivisions ? rowData?.stackAreaConfigDivisions
                                                : '--'}}
                                            </div>
                                            <div class="ui-g-12" style="    text-align: right;">
                                                <button style="margin: 0 10px;" pButton type="button"
                                                    icon="pi pi-pencil" class="ui-button-info"
                                                    (click)="onCRUDRequested('edit')"></button>
                                                <button style="margin: 0 10px;" pButton type="button" icon="pi pi-trash"
                                                    class="ui-button-danger"
                                                    (click)="onCRUDRequested('delete')"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </form>
        </div>
    </ng-template>
</div>
<!-- Open Area Modal -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="openAreaDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
    <app-popup-loader></app-popup-loader>
    <p-header>
        Open Areas
    </p-header>
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
        <div>
            <form class="fidelity-popup-form" style="font-size: 0.9rem!important;" [formGroup]="openAreasForm"
                customForm>
                <div>
                    <div class="view-box">
                        <div class="container-fluid">
                            <div class="header-row row" style="font-size: 1rem;white-space: nowrap;flex-wrap: nowrap;">
                                <div class="col-4">Sub Area</div>
                                <div class="col-3">On Air</div>
                                <div class="col-4">Open Reason</div>
                            </div>
                        </div>
                        <div class="" formArrayName="openAreasList"
                            *ngFor="let obj of openAreasForm?.get('openAreasList')?.controls;let i=index">
                            <div class="row mt-2">

                                <div class="container-fluid">
                                    <div class="children-row row mb-2" style="flex-wrap: nowrap;" [formGroupName]="i">
                                        <div class="col-4">
                                            <input type="text" value="{{obj.get('subArea')?.value}}"
                                                class="form-control fidelity-form-input " name="subarea" disabled>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label class="switch add-stack-status">
                                                    <input type="checkbox" formControlName="isOnAir">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-4">
                                            <select #input class="form-control fidelity-form-input"
                                                formControlName="openAreaReasonId">
                                                <option value="null" selected>Select</option>
                                                <option [selected]="item.id == obj.get('openAreaReasonId')?.value"
                                                    [value]="item.id"
                                                    *ngFor="let item of openAreaReasonDropDown; let i=index">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </p-scrollPanel>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" (click)="onSubmitOpenAreas()"
                    class="btn btn-md-fidelity fidelity-btn-brown mr-4">Save</button>
                <button (click)="openAreaDialog = false" type="button"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="shortcutMenus" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '450px'}">
    <app-popup-loader></app-popup-loader>
    <div>
        <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
            <div>
                <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                    <div class="row btn-con">
                        <div class="col-12 text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="resetVehivleToAvailable()">Reset Vehicle to Available</button>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="checkAutoDispach()" [disabled]="dispacherRow?.responseOfficerId == null">Check
                                for Auto Dispatch</button>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="mobileDeviceConfig()">Mobile Device Config</button>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="reAssignVehicleToSignal()"
                                [disabled]="dispacherRow?.responseOfficerId == null">Reassign Vehicle to Signal</button>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="callDelayConfig()">Call Delay Config</button>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="openAreaModal()">Area Roll Call</button>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="setBacupConfig()">Set Backup Config</button>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button [disabled]="dispacherRow?.responseOfficerId == null"
                                class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="officerAssistace()">Officer Assistance</button>
                        </div>
                        <div *ngIf="isTimeOnSiteExtentionButton" class="col-12 text-center mt-3">
                            <button [disabled]="dispacherRow?.responseOfficerId == null"
                                class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="openTimeOnSiteExtentionModal()">Time On Site Extend</button>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </form>
    </div>
</p-dialog>
<!-- Time On Site Extent Modal -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="timeOnSiteExtentModal" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '700px'}">
    <p-header>
        Time On Site Extention
    </p-header>
    <app-popup-loader></app-popup-loader>
    <div>
        <form class="fidelity-popup-form" style="font-size: 0.9rem!important;" [formGroup]="timeOnSiteExtentionForm"
            customForm (ngSubmit)="onSubmitTimeOnSiteExtent()">
            <div>
                <div class="view-box">
                    <div class="">
                        <div class="header-row row" style="font-size: 1rem;white-space: nowrap;flex-wrap: nowrap;">
                            <div class="col-4">Time Extention (Max 15)</div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row mt-2">
                            <div class="container-fluid">
                                <div class="children-row row mb-2" style="flex-wrap: nowrap;">
                                    <div class="col-6">
                                        <input class="form-control fidelity-form-input" type="text"
                                            [validateInput]='isANumberOnly' placeholder="Enter Time Extention"
                                            formControlName="extendedMins">
                                    </div>

                                    <div class="col-6">

                                        <div class="text-center">
                                            <button type="submit"
                                                class="btn btn-md-fidelity fidelity-btn-brown mr-4">Extended</button>
                                            <button (click)="timeOnSiteExtentModal = false" type="button"
                                                class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="resetVehicleDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [style]="{width: '500px'}">
    <p-header>
        Confirmation
    </p-header>
    <app-popup-loader></app-popup-loader>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;" [formGroup]="resetVehicleDialogForm"
        customForm (ngSubmit)="resetToavialableVehicleSubmit()">
        <ng-container
            *ngIf="(dispacherRow?.responseOfficerId && showResetVehicleControls == false) || !dispacherRow?.responseOfficerId">
            <div class="col-md-12">
                <div class="form-group fdt-pdropdown-con">
                    <label for="responseOfficerId">
                        Response Officer Name<span class="mandatory-field">*</span>
                    </label>
                    <p-dropdown formControlName="responseOfficerId" [options]="responseOfficerList"
                        placeholder="Select Response Officer Name" styleClass="w-100"
                        emptyFilterMessage="No Response Officer Name Exists" [showClear]="false">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="vehicleRegistrationNumber">
                        Vehicle Registration Number<span class="mandatory-field">*</span>
                    </label>
                    <input class="form-control fidelity-form-input" formControlName="vehicleRegistrationNumber"
                        type="text">
                </div>
            </div>
        </ng-container>
        <div class="p-3">
            <p>Are you sure you want to reset vehicle status following Vehicle</p>
            <div>
                <p style="font-weight: bold;margin: 11px;text-align: center;">{{dispacherRow?.subArea}}</p>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="text-center">
                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-4">Submit</button>
                    <button (click)="openResetVehicleDialog(false)" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="autoDispacheDialog" [responsive]="true"
    showEffect="fade" [resizable]="false">
    <p-header>
        Confirmation
    </p-header>
    <app-popup-loader></app-popup-loader>
    <div class="p-3">
        <p>Are you sure you want to sure Auto Dispach following Vehicle
        </p>
        <div>
            <p style="font-weight: bold;margin: 11px;text-align: center;">{{dispacherRow?.subArea}}</p>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" (click)="checkAutoDispachSubit()"
                    class="btn btn-md-fidelity fidelity-btn-brown mr-4">Submit</button>
                <button (click)="autoDispacheDialog = false" type="button"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="reAssignVehicleDialog" [responsive]="true"
    showEffect="fade" [resizable]="false">
    <p-header>
        Confirmation
    </p-header>
    <app-popup-loader></app-popup-loader>
    <div class="ibox-body brown-border">
        <div class="row mt-2">
            <div class="col-md-12">
                <app-view-page [col]="2" [viewDetail]="reAssignVehicleToSignalDetails"></app-view-page>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" (click)="reassignToavialableVehicleSubmit()"
                    class="btn btn-md-fidelity fidelity-btn-brown mr-4">Submit</button>
                <button (click)="reAssignVehicleDialog = false" type="button"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<!-- Officer Assistance -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="officerAssistanceDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [style]="{width: '650px'}">
    <p-header>
        Officer Request Assistance
    </p-header>
    <app-popup-loader></app-popup-loader>
    <div class="ibox-body brown-border">
        <div class="row mt-2">
            <div class="col-12">
                <app-view-page [col]="2" [viewDetail]="officerAssistanceDetails"></app-view-page>
            </div>
        </div>
    </div>
    <br>
    <form customForm [formGroup]="officerAssistaceForm" (ngSubmit)="offiserAssistance()">
        <div class="row p-1">
            <div class="col-6">
                <div class="form-group">
                    <label class="page-sub-title">Emergency Area</label>
                    <div style="padding: 4px;">
                        <p-radioButton [style]="" name="isRef" label="Current Site On Address"
                            formControlName="distressLocationTypeId" [value]="1" inputId="preopt1"
                            [disabled]="!officerAssistanceDetailsView?.isCurrentSiteLocationOptionEnabled">
                        </p-radioButton>
                    </div>
                    <div style="padding: 4px;">
                        <p-radioButton class="pb-2" name="isRef" label="Respond to Vehicle"
                            formControlName="distressLocationTypeId" [value]="2" inputId="preopt2"
                            [disabled]="!officerAssistanceDetailsView?.isCurrentVehicleLocationOptionEnabled">
                        </p-radioButton>
                    </div>
                    <div style="padding: 4px;">
                        <p-radioButton [disabled]="!officerAssistanceDetails?.isManualLocationOptionEnabled"
                            name="isRef" label="Hub Manual Location" formControlName="distressLocationTypeId"
                            [value]="3" inputId="preopt2">
                        </p-radioButton>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Message<span class="mandatory-field">*</span></label>
                    <textarea name="message" rows="3" minlength="3" maxlength="250" placeholder="Enter Message"
                        formControlName="message" class="form-control fidelity-form-input" type="text"></textarea>
                </div>
            </div>
            <div class="col-6" *ngIf="officerAssistaceForm.get('distressLocationTypeId').value == 3">
                <div class="form-group p-relative fix-error-msg" style="width: 100%!important;">
                    <label>Location<span class="mandatory-field">*</span></label>
                    <div class="input-group fidelity-input-addon mb-3">
                        <input [style]="{'width':'100%'}" (keypress)="omit_number($event)"
                            class="form-control fidelity-form-input " type="text" name="Location"
                            placeholder="Enter Location" maxlength="102" #location formControlName="location">
                        <div class="input-group-append">
                            <button class="text-white" type="button" (click)="openMap(location.value)"
                                style="cursor: pointer;"><i aria-hidden="true" class="icon icon-location"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" (click)="offiserAssistance()"
                    class="btn btn-md-fidelity fidelity-btn-brown mr-4">Dispach Backup</button>
                <button (click)="officerAssistanceDialog = false" type="button"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="openMapDialog" [responsive]="true"
    [resizable]="false" [modal]="true" [style]="{width: '750px'}" appendTo="body">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-gmap #gmap (onMapReady)="setMap($event)" [options]="options" [overlays]="overlays"
                (onMapClick)="handleMapClick($event)" [style]="{ width: '100%', height: '520px' }"></p-gmap>
        </div>
    </div>
</p-dialog>