@import './../../../../../../variables.scss';
.filter-dropdwon-con {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px #cccccc61;
    top: 65px;
    right: 0px;
    z-index: 5;

    .form-group {
        width: 80%;
    }
}

::ng-deep .dispatcher-list-grid-con {
  .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: #EAB027;
  }
}

.event-memo-con {
    height: 37vh;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    font-size: 1.1rem;
    border-radius: 7px 7px 0 0;
    box-shadow: 0px 0px 2px 0px #ccc;
    .event-memo-header {
        color: #fff;
        background-color: $fidelity-green;
        padding: 5px 12px;
        font-size: 1.1rem;
        border-radius: 7px 7px 0 0;
        font-family: $fidelity-font-bold;

        ::ng-deep .fidelity-btn-circle {
            width: 30px !important;
            height: 30px !important;
        }
    }

    .event-memo-body {
        background-color: #fff;
        border-radius: 4px;
        padding: 10px 15px;

        li {
            margin: 10px 0;
        }
    }
}

.event-memo-con.alarm-ro-msg-con {
    height: 37vh;
}


.dispatcher-con {
  .quick-action-sidebar {
    width: 250px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 1px 0px 0px 2px #cec3c3c9;
    transition: all .2s ease-in-out;
    display: inline-block;
    position: fixed;
    right: 0;
    top:18%;

    .quick-action-sidebar-header {
        background-color: #00644A;
        color: #fff;
        
        padding: 5px 15px;
        font-family: 'Calibri_Bold', sans-serif!important;

        .icon-close-icon {
            font-size: 0.7rem;
            cursor: pointer;
        }
    }

    .quick-action-sidebar-body {
        display: flex;
        flex-direction: row;
        padding: 15px 0 15px 0px;
        .quick-action-menu-con {
            padding: 0;
            width: 100%;
            position: relative;
            right: 12px;
            margin: 0;
            max-height: 39vh;
            overflow: hidden;
            .quick-action-menu {
                padding: 5px 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;
                a {
                    color: #000;
                    display: inline-block;
                    width: 100%;
                }
                &:hover
                    {
                        background-color: #166dff08 !important;
                        a {
                            color: #166DFF !important;
                            font-family: 'Calibri_Bold', sans-serif!important;
                        }
                    }
            }
        }
    }
  }
  .main-container {
    width:100%
  }

  .quick-action-sidebar-body a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }

  .quick-action-sidebar-body a:hover {
    color: #f1f1f1;
  }

  .quick-action-sidebar-body .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .quick-action-sidebar-body {padding-top: 15px;}
  .quick-action-sidebar-body a {font-size: 18px;}
}

.btn-md{
  padding: 3px 20px!important
}

.key {
  display: inline-block;
  width: 38%;
  color: #8A8A8A;
  word-wrap: break-word;
}

.value {
  width: 62%;
  word-wrap: break-word;

  span {
      width: 100%;
      border:none;
      font-family: $fidelity-font-bold;
      font-size: 1.3rem;
  }
}

.status-label{
  font-size: 0.9rem!important;
}

::ng-deep .add-stack-status {
  .slider.round:after {
      content: "No";
  }
  
  input:checked + .slider:after {
      content: "Yes";
  }

}

.btn-con .btn {
  width: 230px;
}
.quick-action-sidebar-body{
  margin-left: -250px !important;
  background: #fff;
}

.quick-action-sidebar-header{
  margin-left: -250px !important;
}

.ptt-icon {
  color: #444 !important;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0px 8px;
    cursor: pointer;
}

.ptt-icon:hover{
  background-color: #00644A !important;
  color: #ffff !important;
}
.shortcut-key .s-key{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 12px;
  margin-right: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
}

::ng-deep .ui-scrollpanel-content {
  height: calc(100% + 4px) !important;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.loading-text {
  display: block;
  background-color: #f1f1f1;
  min-height: 19px;
  animation: pulse 1s infinite ease-in-out;
  text-indent: -99999px;
  overflow: hidden;
}