<!-- Email modal -->
<div class="fidelity-popup-heading container-fluid p-relative">Area and Stack to Monitoring
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
        <form class="fidelity-popup-form" customForm [formGroup]="dispatcherListModalForm" (ngSubmit)="onSubmit()"
            style="width: 652px;">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Area<span class="mandatory-field">*</span></label>
                        <select id="area" class="form-control fidelity-form-input" name="Area" placeholder="Select Area"
                            formControlName="stackAreaConfigId" (change)="onChangeArea($event)">
                            <option value="" disabled>Select Area</option>
                            <option *ngFor="let area of areaDropDown" [value]="area.id">
                                {{area.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Stack<span class="mandatory-field">*</span></label>
                        <select id="divsion" class="form-control fidelity-form-input" name="Stack"
                            placeholder="Select Stack" formControlName="stackConfigId" (change)="onChangeStack($event)">
                            <option value="" disabled>Select Stack</option>
                            <option *ngFor="let stack of stackDropDown" [value]="stack.id">
                                {{stack.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6" *ngIf="userData?.roleName.toLowerCase() == 'supervisor' || userData?.roleName.toLowerCase() == 'event management supervisor'">
                    <div class="form-group">
                        <mat-checkbox class="fidelity-checkbox" formControlName="onHoldStack">On Hold Stack
                        </mat-checkbox>
                    </div>
                </div>
            </div>

            <hr>
            <br>
            <br>
            <mat-dialog-actions align="end">
                <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
                    cdkFocusInitial>Dispatcher</button>
                <button type="submit" id="Feature_cancel_btn" (click)="navigateToStackOperator()"
                    class="btn btn-md-fidelity fidelity-btn-grey" mat-button>Operator</button>
            </mat-dialog-actions>
        </form>
    </p-scrollPanel>

</mat-dialog-content>

