.confirm-msg{
    display: flex;
    justify-content: center;
    width: 100%;
}
li span {
    font-size: 12px !important;
}
::ng-deep app-page-list-table#stock-table tr:last-child td:first-child p-tablecheckbox {
  display: none;
 }
::ng-deep tr:last-child {
  font-weight: 600;
}

.file-input-container {
  width: 100%;
  height: 40px;
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.file-input-ctrl {
  margin-top: 33px;
  height: 40px;
  width: 100%;
}

.file-input-text {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.file-input-btn {
  height: 40px;
  padding: 12px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

