<div class="p-relative">
  <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex">
  </app-page-header>
</div>
<div class="page-content fade-in-up">
  <div class="ibox white-bg">
    <div class="ibox-body brown-border view-box">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Division</span>
            <span id="" class="value">
              <span class="d-inline-block">{{smallBalanceWriteOffDebtorDivisionDetails ?
                smallBalanceWriteOffDebtorDivisionDetails.divisionName:'-'}}</span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Post Date</span>
            <span id="" class="value">
              <span class="d-inline-block">{{ (smallBalanceWriteOffDebtorDivisionDetails &&
                smallBalanceWriteOffDebtorDivisionDetails?.postDate) ?
                (smallBalanceWriteOffDebtorDivisionDetails.postDate | date) :'-'}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Transaction Type</span>
            <span id="" class="value">
              <span class="d-inline-block">{{smallBalanceWriteOffDebtorDivisionDetails ?
                smallBalanceWriteOffDebtorDivisionDetails.transactionType:'-'}}</span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Transaction Type Description</span>
            <span id="" class="value">
              <span class="d-inline-block">{{smallBalanceWriteOffDebtorDivisionDetails ?
                smallBalanceWriteOffDebtorDivisionDetails.transactionTypeDescription:'-'}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Description Type</span>
            <span id="" class="value">
              <span class="d-inline-block">{{smallBalanceWriteOffDebtorDivisionDetails ?
                smallBalanceWriteOffDebtorDivisionDetails.descriptionType:'-'}}</span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Minimum amount</span>
            <span id="" class="value">
              <span class="d-inline-block">{{smallBalanceWriteOffDebtorDivisionDetails ?
                smallBalanceWriteOffDebtorDivisionDetails.minAmount:'-'}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-6">
          <div class="d-flex">
            <span id="" class="key">Maximum amount</span>
            <span id="" class="value">
              <span class="d-inline-block">{{smallBalanceWriteOffDebtorDivisionDetails ?
                smallBalanceWriteOffDebtorDivisionDetails.maxAmount:'-'}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox-body brown-border view-box" style="margin-top: 5px;">
      <p-scrollPanel [style]="{height: '30vh'}" styleClass="custom">
        <div class="table-records">
          <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
            [loading]="loading" [dataList]="dataList" id="stock-table" [pageLimit]="pageLimit"
            [selectedTabIndex]="selectedTabIndex" (onSelectedRows)="onChangeSelecedRows($event)"
            [totalRecords]="totalRecords">
          </app-page-list-table>
        </div>
      </p-scrollPanel>
      <div class="text-center" *ngIf="type == 'list' ">
        <button id="cancel_order_btn" type="button" class="btn btn-md-fidelity btn-default"
          (click)="back()">Back</button>
      </div>
      <div class="text-center" *ngIf="type != 'list' ">
        <button id="initiate_order_btn" type="button" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
          (click)="onSubmit()">{{type == 'task-list' ? 'Approve':'Submit'}}</button>
        <button id="cancel_order_btn" type="button" class="btn btn-md-fidelity btn-default" (click)="cancel()">{{type ==
          'task-list' ? 'Decline':'Cancel'}}</button>
      </div>
    </div>
  </div>
</div>
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showPopup" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
  <p-header>
    Approval Request
  </p-header>
  <div class="confirm-msg">
    <p style="font-size: 15px;width: 84%;margin-bottom: 25px; margin-top: 21px;">Are you sure want to submit this
      request for DOA Approval</p>
  </div>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <div class="text-center">
      <button id="initiate_order_btn" type="button" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
        (click)="onSubmitFinal('approve-request')">Submit</button>
      <button (click)="cancelPopup('approve-request')" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
        type="button">Cancel</button>
    </div>
  </div>
</p-dialog>
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showPopupApproval" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
  <p-header>
    Approval Transaction
  </p-header>
  <div class="confirm-msg">
    <form *ngIf="approvalForm" customForm [formGroup]="approvalForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Attach File</label>
            <div class="form-group" style="width: 100%;">
              <div class="file-input-container">
                <input class="file-input-ctrl" #fileInput type="file" name="file" placeholder="File"
                  (change)="onFileSelected($event.target.files)" />
              </div>
              <div style="width: 100%; z-index: 1000;">
                <div class="input-group" style="height: 40px;">
                  <input type="text" name="filename" [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}"
                    class="form-control file-input-text" placeholder="No file selected" readonly>
                  <span class="input-group-btn">
                    <div class="btn custom-file-uploader file-input-btn">
                      Browse
                    </div>
                  </span>
                </div><br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Comments<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" type="text" name="comments" formControlName="comments" />
          </div>
        </div>
      </div>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="text-center">
          <button id="initiate_order_btn" type="submit" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
            (click)="onSubmitFinal('approve')">Submit</button>
          <button (click)="cancelPopup('approve')" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
            type="button">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showPopupDecline" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
  <p-header>
    Decline Transaction
  </p-header>
  <div class="confirm-msg">
    <form *ngIf="declineForm" customForm [formGroup]="declineForm">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="form-label font-weight-bold">Decline Reason</label>
            <select name="declineReason" formControlName="declineReasonId" class="form-control fidelity-form-input">
              <option value="" disabled>Select Decline Reason</option>
              <option *ngFor="let reason of reasonList" [value]="reason.id">
                {{reason.displayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Comments<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" type="text" name="comments" formControlName="comments" />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Attach File</label>
            <div style="width: 100%; z-index: 1000;">
              <div class="form-group" style="width: 100%;">
                <label for="file" class="sr-only">File</label>
                <div class="file-input-container">
                  <input class="file-input-ctrl" #fileInput type="file" name="file" placeholder="File"
                    (change)="onFileSelected($event.target.files)" />
                </div>
                <div style="width: 100%; z-index: 1000;">
                  <div class="input-group" style="height: 40px;">
                    <input type="text" name="filename" [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}"
                      class="form-control file-input-text" placeholder="No file selected" readonly>
                    <span class="input-group-btn">
                      <div class="btn custom-file-uploader file-input-btn">
                        Browse
                      </div>
                    </span>
                  </div><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="text-center">
          <button id="initiate_order_btn" type="submit" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
            (click)="onSubmitFinal('decline')">Submit</button>
          <button (click)="cancelPopup('decline')" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
            type="button">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
