<div class="page-heading">
    <h1 class="page-title d-inline-block"> {{btnName}} Storage Location</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/inventory/dashboard'>Inventory Management</a>
        </li>
        <li class="breadcrumb-item"><a routerLink="/inventory/warehouse" [queryParams]="{tab:1}">Stock & Warehouse
                Management</a>
        </li>
        <li class="breadcrumb-item"><a routerLink="/inventory/warehouse" [queryParams]="{tab:1}">Storage Location</a>
        <!-- </li> -->
        <li class="breadcrumb-item" *ngIf="storageLocationsId">
            <a routerLink="/inventory/warehouse/bin-management/storage-location/view"
                [queryParams]="{id:storageLocationsId}" skipLocationChange> View Storage Location </a>
        </li>
        <li class="breadcrumb-item"> {{btnName}} Storage Location </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="storageLocationAddEditForm">
                <div class="ibox">
                    <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                        <div class="ibox-body mb-3">
                            <div class="row">
                                <div class="col-4" *ngIf="!storageLocationsId">
                                    <label for=""> Storage Type </label>
                                    <div class="form-group mb-0">
                                        <mat-radio-group (change)="changeStorageType()" formControlName="selectType"
                                            name="selectType">
                                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true"> SAP Storage
                                            </mat-radio-button>
                                            <mat-radio-button class="fidelity-radio-btn" [value]="false"> CRM Storage
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-4" *ngIf="storageLocationsId">
                                    <div class="d-flex">
                                        <span id="" class="key">Storage Type</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">
                                                {{getDetailsData?.storageType}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="header-row row mb-2">
                                <div class="col-3" *ngIf="showStorageType">
                                    <label> Storage Location <span class="mandatory-field">*</span></label>
                                </div>
                                <div class="col-2" *ngIf="showStorageType">
                                    <label style="width: 98px !important;"> Storage Location Name <span
                                            class="mandatory-field">*</span></label>
                                </div>
                                <div class="col-6" *ngIf="!showStorageType">
                                    <label> Storage Location Name <span class="mandatory-field">*</span></label>
                                </div>
                                <div class="col-3" *ngIf="showStorageType">
                                    <label> Warehouse/Technician/Dealer <span class="mandatory-field">*</span></label>
                                </div>
                                <div class="col-2">
                                    <label> Status <span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div *ngIf="!showStorageType">
                                <div class="" formArrayName="storageCRMLocationDetails"
                                    *ngFor="let groupObj of storageLocationAddEditForm?.get('storageCRMLocationDetails')?.controls;let i=index">
                                    <div class="row p-relative mt-1" [formGroupName]="i">
                                        <div class="col-6">
                                            <input class="form-control fidelity-form-input" [maxlength]="50" type="text"
                                                name="Storage Location Name" formControlName="storageLocationName"
                                                [validateInput]="isAStringOnly" />
                                        </div>
                                        <div class="col-2">
                                            <select class="fidelity-form-input form-control" name="Status"
                                                formControlName="isActive">
                                                <option value="">--Status--</option>
                                                <option value="true"> Active </option>
                                                <option value="false"> InActive </option>
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <button *ngIf="i==0 && !storageLocationsId" type="submit"
                                                class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                                (click)="addStorageGroup()" title="Add" matTooltip="Add">
                                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                                            </button>
                                            <div *ngIf="i!==0" style="margin-left: -21px;">
                                                <button style="font-size: 19px;" type="button" class="circle-minus-btn"
                                                    matTooltip="Delete" id="delete_record"
                                                    (click)="removeStorageGroup(i)">
                                                    <i aria-hidden="true" class="icon icon-delete"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showStorageType">
                                <div class="" formArrayName="storageSAPLocationDetails"
                                    *ngFor="let groupObj of storageLocationAddEditForm?.get('storageSAPLocationDetails')?.controls;let i=index">
                                    <div class="row p-relative mt-1" [formGroupName]="i">
                                        <!-- [attr.disabled]="storageLocationsId || i != 0 ? true : null" -->
                                        <div class="col-3" *ngIf="!storageLocationsId && i == 0">
                                            <select class="form-control fidelity-form-input" name="Storage Location"
                                                formControlName="storageLocationId"
                                                (change)="getSelectedLocations($event)">
                                                <option value="" disabled>Select Location</option>
                                                <option *ngFor="let item of storageLocationDropdown" [value]="item.id">
                                                    {{item.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-3"
                                            *ngIf="storageLocationsId || (!storageLocationsId && i != 0)">
                                            <input class="form-control fidelity-form-input disabled" [maxlength]="50"
                                                type="text" name="Storage Location Code"
                                                formControlName="storageLocationCode" />
                                        </div>
                                        <div class="col-2">
                                            <input class="form-control fidelity-form-input" [maxlength]="50" type="text"
                                                name="Storage Location Name" formControlName="storageLocationName" />
                                        </div>
                                        <div class="col-3">
                                            <select class="fidelity-form-input form-control" name="Warehouse/Technician/Dealer"
                                                formControlName="storageLocationPrefixId">
                                                <option value="">--Select--</option>
                                                <option *ngFor="let item of storageTypeDropdown" [value]="item.id">
                                                    {{item.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <select class="fidelity-form-input form-control" name="Status"
                                                formControlName="isActive">
                                                <option value="">--Status--</option>
                                                <option value="true"> Active </option>
                                                <option value="false"> InActive </option>
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <button *ngIf="i==0 && !storageLocationsId" type="submit"
                                                class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                                (click)="addStorageGroup()" title="Add" matTooltip="Add">
                                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                                            </button>
                                            <div *ngIf="i!==0" style="margin-left: -21px;">
                                                <button style="font-size:19px;" type="button" class="circle-minus-btn"
                                                    matTooltip="Delete" id="delete_record"
                                                    (click)="removeStorageGroup(i)">
                                                    <i aria-hidden="true" class="icon icon-delete"></i>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="btn-item-price-param" [disabled]="storageLocationAddEditForm?.get('storageCRMLocationDetails')?.length==0 && storageLocationAddEditForm?.get('storageSAPLocationDetails')?.length==0 " (click)="onSubmit()"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3 ">{{storageLocationsId
                            ? 'Update' : 'Save'}}</button>
                        <button id="cancel_new_leads_btn" type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                            (click)="navigateToListPage()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
