<div class="page-heading">
    <h1 class="page-title d-inline-block"> Technician Receiving {{isDraft ? 'Edit' : ''}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a><i class="fa fa-home" aria-hidden="true"></i> </a>
      </li>
      <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']">Inventory Management</a> </li>
      <li class="breadcrumb-item"  *ngIf="screenType == 'job-selection'"><a (click)="navigateToJobSelection()">Job Selection</a></li>
      <li class="breadcrumb-item"  *ngIf="screenType != 'job-selection'"><a [routerLink]="['/inventory/order-receipts/receipting']" [queryParams]="{tab:1}">Receiving List</a></li>
      <li class="breadcrumb-item"  *ngIf="isDraft == true"><a (click)="receiptingViewNew()"> Technician  Receiving View</a></li>
      <li class="breadcrumb-item"><a (click)="navigateToEditPage()"> Technician  Receiving {{isDraft ? 'Update' : ''}} </a></li>
      <li class="breadcrumb-item">Scan Items</li>
    </ol>
  </div>
  <div class="page-content fade-in-up ">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox" style="height: auto;">
            <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                <form class="fidelity-popup-form">
                    <div class="ibox-body brown-border white-bg space-saving-con">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="d-flex mb-2">
                                        <span id="" class="key">Stock Code</span>
                                        <span id="" class="">
                                            <span class="d-inline-block"><b>{{purchaseOrder?.itemCode}}</b></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex mb-2">
                                        <span id="" class="key">Stock Description</span>
                                        <span id="" class="">
                                            <span class="d-inline-block"><b>{{purchaseOrder?.itemName}}</b></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-body brown-border white-bg mt-3">
                        <div class="row">
                            <div class="col-4">                                
                                <label class="scan-label">Stock count</label>
                                <div class="input-group fidelity-input-addon mb-3" style="height: 40px;">
                                    <input type="text" class="form-control scan-input" mask="0*" name="stockCount" [(ngModel)]="stockCount">
                                </div>
                                <label>Total {{stockCount}} / {{totalPurchaseOrderItemCount}}</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4" (click)="save()" [disabled]="orderReceipt?.isVerified == true">Save</button>
          <button class="btn btn-md-fidelity btn-default" (click)="navigateToEditPage()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  