.page-heading .fidelity-btn-circle + .fidelity-btn-circle {
    top: 0px;
}

::ng-deep .mat-tab-header {
    margin-bottom: 10px!important;
}

.ibox {
    .pricing-info-con .form-group {
        width: 80%;
    }
    .delete-row {
        width: 30px !important;
        height: 30px !important;
        border-radius: 50% !important;
        color: #eaeaea;
        position: relative;
        right: -5px;
        top: 4px;
        font-size: 0.9rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: #ed4a4a;
            i {
                color: #fff;
            }
  
        }
    }
}

    ::ng-deep #delete_record.delete-row {
        right: 0;
    }
  
    .fidelity-btn-circle {
        width: 30px !important;
        height: 30px !important;
        font-size: 1rem;
        position: relative;
        top: 4px;
        cursor: pointer;
    }

  .mat-form-field {
    padding: 8px 15px 0px !important;
    border: none!important;
    padding-top: 0!important;
    padding-left: 0!important;

    .mat-form-field-wrapper {
        padding: 0px !important;
        height: 100%;
    }

    .fidelity-form-input {
        -webkit-transition: all 0.3s ease-in-out!important;
        -moz-transition: all 0.3s ease-in-out!important;
        -ms-transition: all 0.3s ease-in-out!important;
        -o-transition: all 0.3s ease-in-out!important;
        outline: none!important;
        padding: 9px 10.5px!important;
        border-radius: 7px!important;
        line-height: 20px!important;
        border: 1px solid rgba(0, 0, 0, 0.15)!important;
        font-size: 1.25rem!important;
        font-family: "Calibri_Bold", sans-serif !important;
    }
}

mat-form-field.mat-form-field-invalid .fidelity-form-input {
    border-color: #dc3545!important;
    box-shadow: 0 0 2px #dc3545 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
padding-top: 0!important;
padding-left: 0!important;
}
  
::ng-deep .p-relative.custom-position {
    ng-component {
        position: absolute!important;
        display: inline-block;
        width: 100%;
        line-height: 1;
    }
}
  
::ng-deep form.submitted input.ng-invalid, input.ng-dirty.ng-invalid{
    border: 1px solid #dc3545 !important;
}