<div class="page-heading ">
    <h1 class="page-title no-border"> {{callReasonId ? 'Update' : 'Add'}} Call Reason and Sub Reason </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"><a routerLink='/configuration/contact-center/call-reasons-code'
            skipLocationChange>Contact Centre</a></li>

            <li class="breadcrumb-item" ><a routerLink='/configuration/contact-center/call-reasons-code'
                skipLocationChange>Call Reason code</a></li>
        </ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="callReasonCodeAddForm" (ngSubmit)="submit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body">
                    <div>
                        <!-- Headings Only -->
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Call Reason<span class="mandatory-field">*</span></label>
                                    <input  class="form-control fidelity-form-input" id="description" type="text"
                                    formControlName="callReasonCode" maxlength="100" />
                                </div>
                            </div>


                        </div>
                        <div class='row'>
                            <div class="col-8">
                                <div class="form-group">
                                    <label>Sub Reason<span class="mandatory-field">*</span></label>
                                </div>
                            </div>

                        <div class="col-8" formArrayName="callSubReasonDetails"
                            *ngFor="let structureTypeObj of callReasonCodeAddForm?.get('callSubReasonDetails')?.controls;let i=index">
                            <div class="row" [formGroupName]="i">

                                <div class="col-9">
                                    <div class="form-group">
                                        <input  class="form-control fidelity-form-input" id="description" type="text"
                                            formControlName="callSubReasonCode" maxlength="100" />
                                    </div>
                                </div>
                                <div  class="col-2">
                                    <button *ngIf="(callReasonCodeAddForm?.get('callSubReasonDetails')?.controls.length-1===i)"
                                        type="submit"
                                        class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                        (click)="addSubReason()" title="Add" matTooltip="Add">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>

                                    <a matTooltip="Delete" *ngIf="callReasonCodeAddForm?.get('callSubReasonDetails')?.controls.length>0"
                                        id="delete_record" class="delete-row " (click)="removeSubReason(i)"><i
                                            aria-hidden="true" class="icon icon-delete"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>


        <div class="text-center mt-3">
            <button
               type= "submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                (click)="actionOnLeavingComponent()">Cancel</button>
        </div>
    </form>
</div>

