<!-- const dialogReff = this.dialog.open(RequisitionPopup, { width: '450px', data, disableClose: true }); -->
<!-- set height to 450px while opening popup-->
<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>{{ popupData['header'] }}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <div class="row mt-4">
        <div class="col align-items-center justify-content-center flex-column text-center">
            <!-- <p class="mb-1">New Requisition ID <b>RID002002</b> is generated</p>
            <p class="mb-1">Would You like to proceed?</p> -->
            <p id="parentContainer"></p>
            <!-- {{popupData['message']}} -->
            <div *ngIf="popupData?.dataToShow?.length > 0">
                <div class="row header-row" style="flex-wrap: nowrap;font-size: 1.2rem;font-family: 'Calibri_Bold', sans-serif!important;">
                    <div class="col text-left mb-3">File Name</div>
                </div>
                <div class="text-left mb-1" style="font-size: 1rem;" *ngFor="let data of popupData?.dataToShow">
                    <ng-container *ngIf="popupData?.type=='viewuploaded'">
                        <a href="{{data?.documentPath}}" target="_blank" class="col">{{data?.documentName}}</a><!-- fileName -->
                    </ng-container>
                    <ng-container *ngIf="popupData?.type=='viewexcluded'">
                        <a style="cursor: pointer" (click)="viewExcludedFile(data)" class="col">{{data?.documentName}}</a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button class="btn btn-md-fidelity fidelity-btn-brown mt-3 mb-3" type="button"
    *ngIf="popupData['buttons']['create']" [mat-dialog-close]="true">{{popupData['buttons']['create']}}</button>
    <button mat-button class="btn btn-md-fidelity fidelity-btn-grey mt-3 mb-3" [mat-dialog-close]="false"
    *ngIf="popupData['buttons']['cancel']">{{popupData['buttons']['cancel']}}</button>
</mat-dialog-actions>
