<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"> </app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="usefulNumbersForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border sm-inputs">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Group Name<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="20"
                                    placeholder="Enter Name" formControlName="groupName">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*
                                    </span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAStringOnly' minlength="10" maxlength="150"
                                    placeholder="Enter Description" formControlName="description">
                                 </textarea>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Division<span class="mandatory-field">*</span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="usefulNumberDivisionList" multiple placeholder="Select Division"
                                    name="Division">
                                    <mat-option value="" #allSelectedDivision *ngIf="divisionDropDown?.length > 0"
                                        (click)="toggleAllDivisions()" selected>All Divisions</mat-option>
                                    <mat-option *ngFor="let item of divisionDropDown" [value]="item.id"
                                        (click)="toggleDivisionOne()">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Main Area<span class="mandatory-field">*</span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="usefulNumberMainAreaList" multiple placeholder="Select Main Area">
                                    <mat-option value="" #allSelectedMainArea *ngIf="mainAreaList.length > 0"
                                        (click)="toggleAllMainAreas()" selected>All Main Areas</mat-option>
                                    <mat-option *ngFor="let list of mainAreaList" [value]="list.id"
                                        (click)="toggleMainAreaOne()">{{list.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round active"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-4">Contact Name <span class="mandatory-field">*</span></div>
                        <div class="col-md-4">Contact Number<span class="mandatory-field">*</span></div>
                        <div class="col-md-3">Alternate Contact Number<span class="mandatory-field">*</span></div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="" formArrayName="usefulNumberContactList"
                        *ngFor="let obj of usefulNumbersForm?.get('usefulNumberContactList')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input placeholder="Enter Name" [validateInput]="stringConfig"
                                        [minlength]="formConfigs.maxLengthThree"
                                        [maxlength]="formConfigs.maxLengthTwentyFive"
                                        class="form-control fidelity-form-input" type="text" (change)="onChange()"
                                        formControlName="contactName">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4 pr-0">
                                            <div class="form-group" style="width: 100%!important;">
                                                <select class="form-control fidelity-form-input pad-right"
                                                    style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                    formControlName="contactNumberCountryCode">
                                                    <option *ngFor="let countryCode of countryCodes"
                                                        [value]="countryCode.displayName">
                                                        {{countryCode.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-8 pl-0">
                                            <div class="form-group" style="width: 84%!important;">
                                                <input #input
                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                    formControlName="contactNumber"
                                                    [title]="obj?.get('contactNumberCountryCode')?.value" appPhoneMask
                                                    class="form-control fidelity-form-input "
                                                    (change)="onChangeNumber()" name="Contact Number"
                                                    placeholder="Enter Contact Number" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4 pr-0">
                                            <div class="form-group" style="width: 100%!important;">
                                                <select class="form-control fidelity-form-input pad-right"
                                                    style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                    formControlName="alternateContactNumberCountryCode">
                                                    <option *ngFor="let countryCode of countryCodes"
                                                        [value]="countryCode.displayName">
                                                        {{countryCode.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-8 pl-0">
                                            <div class="form-group" style="width: 84%!important;">
                                                <input #input
                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                    formControlName="alternateContactNumber"
                                                    [title]="obj?.get('alternateContactNumberCountryCode')?.value"
                                                    appPhoneMask class="form-control fidelity-form-input "
                                                    (change)="onChangeNumber()" name="Office Contact Number"
                                                    placeholder="Enter Office Contact Number" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type='button' *ngIf="i==0" class="circle-plus-btn" style="right: -4px;top: 5px;"
                                    (click)="addCmcSmsGroupEmployee()" title="add">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button type='button' *ngIf="getUsefulNumberContactListArray.length>1"
                                    class="circle-minus-btn" (click)="removeCmcSmsEmployee(i)" title="Delete"><i
                                        aria-hidden="true" class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{usefulNumberId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/ro-configuration' [queryParams]="{tab:18}">Cancel</button>
        </div>
    </form>
</div>