<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Audit Cycle Count - Technician </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a> Inventory Management </a></li>
        <li class="breadcrumb-item"><a (click)="navigateToJobSelection()"> Job selection </a></li>
        <li class="breadcrumb-item"><a (click)="navigateToAuditCycleCountList()"> Audit Cycle Count List </a></li>
        <li class="breadcrumb-item"><a> Audit Cycle Count </a></li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <div class="ibox-body mb-3">
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Audit Cycle Count ID  </span>
                            <span id="" class="value" style="margin-left: 17px !important;">
                                <span class="d-inline-block">{{auditCycleCountDetails?.techAuditCycleCountNumber ? auditCycleCountDetails?.techAuditCycleCountNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Warehouse </span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{auditCycleCountDetails?.warehouse ? auditCycleCountDetails?.warehouse : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Tech Stock Location </span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{auditCycleCountDetails?.techStockLocation ? auditCycleCountDetails?.techStockLocation : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Tech Stock Location Name </span>
                            <span id="" class="value">
                                <span class="d-inline-block value">{{auditCycleCountDetails?.techStockLocationName ? auditCycleCountDetails?.techStockLocationName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Tech Area </span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{auditCycleCountDetails?.techArea ? auditCycleCountDetails?.techArea : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Storage Location </span>
                            <span id="" class="value">
                                <span class="d-inline-block value">{{auditCycleCountDetails?.storageLocationName ? auditCycleCountDetails?.storageLocationName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Count </span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{auditCycleCountDetails?.noofCount ? auditCycleCountDetails?.noofCount : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-body mb-3">
                <div class="mt-3">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-5 col-md-2 f-11" (click)="navigateToScanPage('system', 12)">
                                                System Generated
                                            </div>
                                            <div class="col-5 col-md-1 p-relative">
                                                <div class="progress mt-3" style="height:8px;">
                                                    <div class="progress-bar"
                                                    [ngClass]="auditSystem == 100 ? 'status-label-green' : 'status-label-blue'"
                                                    [ngStyle]="{'width': auditSystem+'%'}"></div>
                                                </div> 
                                                <span class="p-absolute per-number" style="right:-25px;top: 7px;font-size: 1rem;">
                                                    {{auditSystem == null ? 0 : auditSystem}}% 
                                                </span>
                                            </div>
                                        </div> 
                                    </div>                                           
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-5 col-md-2 f-11">
                                                Random Selection 
                                            </div>
                                            <div class="col-5 col-md-1 p-relative">
                                                <div class="progress mt-3" style="height:8px;">
                                                    <div class="progress-bar"
                                                    [ngClass]="randomSelection == 100 ? 'status-label-green' : 'status-label-blue'"
                                                    [ngStyle]="{'width': randomSelection+'%'}"></div>
                                                </div> 
                                                <span class="p-absolute per-number" style="right:-25px;top: 7px;font-size: 1rem;">
                                                    {{randomSelection == null ? 0 : randomSelection}}% 
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>                                   
                            <div class="container-fluid inner-sec-progress-con">
                                <div class="col-12 mb-3">
                                    <div class="row">
                                        <div class="col-6 col-md-2">
                                            <span class="transparent-btn f-11" style="cursor: pointer;" (click)="navigateToScanPage('user', 11)"> User Selection </span>
                                        </div>
                                        <div class="col-6 col-md-1 p-relative">
                                            <div class="progress mt-3" style="height:8px;">
                                                <div class="progress-bar"
                                                [ngClass]="auditUserselection == 100 ? 'status-label-green' : 'status-label-blue'"
                                                [ngStyle]="{'width': auditUserselection+'%'}"></div>
                                            </div> 
                                            <span class="p-absolute progress-num" style="right:-25px;top: 7px;font-size: 1rem;">
                                                {{auditUserselection == null ? 0 : auditUserselection}}% 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="row">
                                        <div class="col-6 col-md-2">
                                            <span class="transparent-btn f-11" style="cursor: pointer;" (click)="navigateToScanPage('high', 10)">  High Risk Items </span>
                                        </div>
                                        <div class="col-6 col-md-1 p-relative">
                                            <div class="progress mt-3" style="height:8px;">
                                                <div class="progress-bar"
                                                [ngClass]="auditHighRiskItems == 100 ? 'status-label-green' : 'status-label-blue'"
                                                [ngStyle]="{'width': auditHighRiskItems+'%'}"></div>
                                            </div> 
                                            <span class="p-absolute progress-num" style="right:-25px;top: 7px;font-size: 1rem;">
                                                {{auditHighRiskItems == null ? 0 : auditHighRiskItems}}% 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>                                    
                        </mat-expansion-panel>                                
                    </mat-accordion>   
                </div>                           
            </div>
        </div>
    </div>
</div>
