<div class="container-fluid mat-vertical-tab">
    <div class="row">
        <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onTabClicked($event)"
            class="fidelity-tab-group mat-tab-body-padding-0 fidelity-vertical-tab">
            <mat-tab label="STOCK HOLDING" class="bg-gray">
                <div class="container-fluid" style="height: 42vh!important;">
                    <form [formGroup]="technicianLocationForm" customForm>
                        <div class="row">
                            <div class="col-4">
                                <label class="d-block">Technician Location </label>
                                <div class="form-group fidelity-multiselect-dropdown-con">
                                    <mat-select-autocomplete 
                                        [formControl]="technicianLocationForm?.controls['StorageLocationId']"
                                        [options]="storageLocationList"
                                        [multiple]='true' [value]="'value'" [placeholder]="'Select All'"
                                        (selectionChange)="changeTechnicianLocation()"
                                        [display]="'display'">
                                    </mat-select-autocomplete>
                                </div>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-md-fidelity fidelity-btn-brown custom-save" type="button" (click)="saveFilter()">Save</button>
                            </div>
                        </div>
                    </form>
                    <div class="row" >
                        <div class="col-12 text-center">
                            <div class="scroll-class" >
                                <mat-accordion>
                                    <mat-expansion-panel *ngFor="let item of searchRecords">
                                        <mat-expansion-panel-header >
                                            <mat-panel-title>
                                                <div class="row mt-1 view-box" style="width: 100%;">
                                                    <div class="">
                                                        <div class="d-flex">
                                                            <span style="margin-left: 20px;">Storage Location <b>{{item.storageLocationName}}</b></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="custom-scroll1" style="overflow-x: auto;" *ngIf="item.technicians?.length==0">
                                             <p>No Data Found</p>
                                        </div>
                                        <div class="custom-scroll1" *ngIf="item.technicians?.length>0">
                                            <div class="row header-row" style="flex-wrap: nowrap;font-size: 1rem;">
                                                <div class="col-2">Tech Area</div>
                                                <div class="col-2">Tech Stock Location</div>
                                                <div class="col-3">Technician Name</div>
                                                <div class="col-2">Stock On Hand</div>
                                                <div class="col-2">Status</div>
                                            </div>
                                            <div class="row children-row mb-1" style="flex-wrap: nowrap;font-size: 1rem;" *ngFor="let data of item.technicians">
                                                <div class="col-2" [matTooltip]="data.techArea">
                                                    <input class="form-control fidelity-form-input disabled" type="text" [value]="data.techArea"/>
                                                </div>
                                                <div class="col-2" [matTooltip]="data.techSLOC">
                                                    <input class="form-control fidelity-form-input disabled" type="text" [value]="data.techSLOC"/>
                                                </div>
                                                <div class="col-3" [matTooltip]="data.technicianName">
                                                    <input class="form-control fidelity-form-input disabled" type="text"  [title]="data.technicianName" [value]="data.technicianName"/>
                                                </div>
                                                <div class="col-2" [matTooltip]="data.itemCount">
                                                    <input class="form-control fidelity-form-input disabled" type="text" [value]="data.itemCount"/>
                                                </div>  
                                                <div class="col-2" [matTooltip]="data.status">
                                                    <input class="form-control fidelity-form-input disabled" type="text" [value]="data.status"/>
                                                </div>                                          
                                            </div>
                                        </div>
                                    </mat-expansion-panel>                                
                                </mat-accordion>
                             </div>
                        </div>
                    </div>
                    <!-- <div class="text-center mt-5" style="margin-top: 19px !important;">
                       
                    </div> -->
                </div>
            </mat-tab>
            <mat-tab label="STOCK COLLECTION" class="bg-gray" (click)="getStockCollectionDetails()">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label> Storage Location Name </label>
                                <input class="form-control fidelity-form-input disabled" type="text" name="storageLocationName" 
                                [value]="stockCollectionDetails?.storageLocationName == undefined ? '' : stockCollectionDetails?.storageLocationName" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Storage Location Code </label>
                                <input class="form-control fidelity-form-input disabled" type="text" name="storageLocationName" 
                                [value]="stockCollectionDetails?.storageLocationCode == undefined ? '' : stockCollectionDetails?.storageLocationCode" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Storage Location Type </label>
                                <input class="form-control fidelity-form-input disabled" type="text" name="storageLocationName" 
                                [value]="stockCollectionDetails?.storageLocationType == undefined ? '' : stockCollectionDetails?.storageLocationType"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <ng-container *ngTemplateOutlet="technicianStockCollectionTable"></ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<!-- Ng template for prime ng table-->
<ng-template #technicianStorageTable>
    <div class="primeng-table-wrapper">
        <ng-container
            *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList.length > 1; else elseTemplateTable">
        </ng-container>
        <ng-template #elseTemplateTable>
            <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
                <form [formGroup]="columnFilterForm">
                    <p-table #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
                        [(selection)]="selectedRows" [scrollable]="true" scrollHeight="180px" [autoLayout]="true"
                        (onLazyLoad)="loadPaginationLazy($event)" [totalRecords]="totalRecords" [loading]="loading"
                        [value]="dataList" [dataKey]="tables.dataKey" [paginator]="(totalRecords == 0) ? false : true"
                        [rows]="10" [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null" [responsive]="true"
                        [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"
                        [reorderableColumns]="tables?.reorderableColumns">
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix" style="text-align: left">
                                <div class="row">
                                    <div class="col-md-5" style="    padding-left: 0;">
                                        <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                                            (click)="dt.exportCSV()" style="margin-right: 0.5em;"
                                            *ngIf="tables?.enableExportCSV">
                                        </button>
                                        <button type="button" pButton icon="pi pi-file-excel" iconPos="left"
                                            label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;"
                                            class="ui-button-success" *ngIf="tables?.enableExportExcel">
                                        </button>
                                        <button type="button" pButton icon="pi pi-file" iconPos="left"
                                            label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"
                                            class="ui-button-warning" *ngIf="tables?.enableExportCSVSelected">
                                        </button>
                                    </div>
                                    <div class="col-md-7" style="    padding-right: 0;">
                                        <form [formGroup]="searchForm">
                                            <div style="text-align: right; float: right;"
                                                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                                <input type="text" pInputText size="30" placeholder="Global Filter"
                                                    formControlName="searchKeyword" style="width:auto">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                    *ngIf="tables?.enableRowDelete">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr class="first-row">
                                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                    pReorderableColumn>
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                    *ngIf="tables?.enableRowDelete">
                                    Action
                                </th>
                            </tr>
                            <tr *ngIf="tables?.enableFieldsSearch">
                                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox"></th>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input [formControlName]="col.field" [validateInput]='isAnAlphaNumericOnly'
                                        *ngIf="col.field != 'isActive' && !col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                        pInputText type="text">
                                    <p-calendar [formControlName]="col.field" [utc]='true' [maxDate]="today"
                                        *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                        appendTo="body" showButtonBar="true" [readonlyInput]="true" [showTime]="false"
                                        (onClearClick)="dt.filter($event.value,col.field, null)">
                                    </p-calendar>
                                    <p-dropdown [formControlName]="col.field"
                                        *ngIf="col.field == 'isActive' && i == selectedTabIndex" appendTo="body"
                                        [options]="status" placeholder="Select Status" [style]="{'width':'75%'}"
                                        [showClear]="true">
                                    </p-dropdown>
                                </th>
                                <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                    *ngIf="tables?.enableRowDelete">
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                            let-expanded="expanded">
                            <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
                                <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td *ngFor="let col of columns;index as i" class="ui-resizable-column"
                                    pReorderableRowHandle>
                                    <a href="#" [pRowToggler]="rowData"
                                        *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>
                                    <ng-container
                                        *ngIf="col.header == 'Status' || col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                                    </ng-container>
                                    <ng-template #thenTemplate>
                                        <ng-container *ngIf="col.header == 'Status'">
                                            <span *ngIf="!tables.enableStatusActiveAction" class="status-label pos-top"
                                                style="cursor: pointer;"
                                                [ngClass]="col.field == 'isActive' ? (rowData[col.field] == true? 'status-label-green' : 'status-label-pink') :  rowData.cssClass">
                                                {{col.field =='isActive' ? (rowData[col.field] == true? 'Active' :
                                                'InActive') : rowData[col.field] ? rowData[col.field] :'-'}}
                                            </span>
                                            <p-dropdown *ngIf="tables.enableStatusActiveAction" [options]="status"
                                                appendTo="body" [(ngModel)]="rowData[col.field]"
                                                [ngModelOptions]="{standalone: true}" placeholder="Select Status"
                                                [style]="{'width':'100%'}" (onChange)="onChangeStatus(rowData,ri)">
                                            </p-dropdown>
                                        </ng-container>
                                        <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                                            {{rowData[col.field] ? (rowData[col.field] | date) : '--'}}
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #elseTemplate>
                                        <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                                            <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                                            <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                                            {{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No'
                                            : rowData[col.field] ? rowData[col.field] : '--'}}
                                        </ng-container>
                                    </ng-template>
                                </td>
                                <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                    *ngIf="tables?.enableRowDelete">
                                    <button style="margin: 0 10px;cursor: pointer;" pButton type="button"
                                        icon="pi pi-trash" class="ui-button-danger"
                                        (click)="onCRUDRequested('delete',rowData)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                            <tr>
                                <td [attr.colspan]="columns.length + 1">
                                    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px;background: #fff;">
                                        <div class="ui-g-12 ui-md-9">
                                            <div class="ui-g">
                                                <div class="ui-g-12">
                                                    <b>Area Name:</b> {{rowData?.areaName ? rowData?.areaName : '--'}}
                                                </div>
                                                <div class="ui-g-12">
                                                    <b>Division Name:</b>
                                                    {{rowData?.stackAreaConfigDivisions ?
                                                    rowData?.stackAreaConfigDivisions : '--'}}
                                                </div>
                                                <div class="ui-g-12" style="    text-align: right;">
                                                    <button style="margin: 0 10px;" pButton type="button"
                                                        icon="pi pi-pencil" class="ui-button-info"
                                                        (click)="onCRUDRequested('edit')"></button>
                                                    <button style="margin: 0 10px;" pButton type="button"
                                                        icon="pi pi-trash" class="ui-button-danger"
                                                        (click)="onCRUDRequested('delete')"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <p *ngIf="totalRecords == 0">No Data found</p>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft" let-state>
                            <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                                {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows * (state.page + 1) : totalRecords}} of
                                <strong>{{totalRecords ? totalRecords : pageSize}}</strong> entries
                            </p>
                        </ng-template>
                    </p-table>
                </form>
            </div>
        </ng-template>
    </div>
</ng-template>

<ng-template #technicianStockCollectionTable>
    <div class="picked-batches-table-con">
        <div class="primeng-table-wrapper">
            <div class="custom-scroll1" style="overflow-x: auto;height: 30vh">
                <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                [loading]="loading" [first]="first" [dataList]="storageLocationListDTOs" [pageLimit]="pageLimit"
                [totalRecords]="totalRecords" [selectedTabIndex]="selectedTabIndex" [customScroll]="false"
                (onActionSubmited)="onActionSubmited($event)">
                 </app-page-list-table>
            </div>
        </div>
    </div>
</ng-template>