<div class="fidelity-popup-heading container-fluid p-relative">Pending Quote
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm (ngSubmit)="onSubmit()" [formGroup]="pendingQuotationForm"
    *ngIf="pendingQuotationForm">
    <mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Probability of closure<span class="mandatory-field">*</span></label>
                    <select-custom-control [loopableArray]='probabilityOfClosures'
                        formControlName="probabilityOfClosureId">
                    </select-custom-control>
                </div>
            </div>
            <div class="col-6 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                <div class="form-group">
                <label>Follow-Up Date<span class="mandatory-field">*</span></label>
                <p-calendar [minDate]="todayDate" formControlName="callbackDateTime" styleClass="w-100">
                </p-calendar>
                </div>
            </div>
            <div class="col-6" *ngIf="contactDetails?.mobile1">
                <label>Mobile 1<span class="mandatory-field">*</span></label>
                <div class="input-group mt-1 mb-1 p-relative d-flex align-items-center">
                    <div class="input-group-prepend">
                        <select class="form-control fidelity-form-input disabled"
                            style="width: 105%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                            <option value={{contactDetails.mobile1CountryCode}}>{{contactDetails?.mobile1CountryCode}}
                            </option>
                        </select>
                    </div>
                    <input value={{contactDetails.mobile1}} class="form-control fidelity-form-input disabled"
                        type="text" placeholder="Mobile 1" name="Mobile Number1">
                    <mat-radio-button (change)="radioChange(contactDetails.mobile1,contactDetails.mobile1CountryCode )"
                        class="fidelity-radio-btn mr-2" [value]="true">
                    </mat-radio-button>
                </div>
            </div>
            <div class="col-6" *ngIf="contactDetails?.mobile2">
                <label>Mobile 2<span class="mandatory-field">*</span></label>
                <div class="input-group mt-1 mb-1 p-relative d-flex align-items-center">
                    <div class="input-group-prepend">
                        <select class="form-control fidelity-form-input disabled"
                            style="width: 105%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                            <option value={{contactDetails.mobile2CountryCode}}>{{contactDetails?.mobile2CountryCode}}
                            </option>
                        </select>
                    </div>
                    <input value={{contactDetails.mobile2}} class="form-control fidelity-form-input disabled"
                        type="text" placeholder="Mobile 2" name="Mobile Number2">
                    <mat-radio-button (change)="radioChange(contactDetails.mobile2, contactDetails.mobile2CountryCode)"
                        class="fidelity-radio-btn mr-2" [value]="true">
                    </mat-radio-button>
                </div>
            </div>
            <div class="col-6" *ngIf="contactDetails?.officeNo">
                <label>Office Number<span class="mandatory-field">*</span></label>
                <div class="input-group mt-1 mb-1 p-relative d-flex align-items-center">
                    <div class="input-group-prepend">
                        <select class="form-control fidelity-form-input disabled"
                            style="width: 105%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                            <option value={{contactDetails.officeNoCountryCode}}>{{contactDetails?.officeNoCountryCode}}
                            </option>
                        </select>
                    </div>
                    <input value={{contactDetails.officeNo}} class="form-control fidelity-form-input disabled"
                        type="text" placeholder="Office Number" name="Office Number">
                    <mat-radio-button
                        (change)="radioChange(contactDetails.officeNo,contactDetails.officeNoCountryCode )"
                        class="fidelity-radio-btn mr-2" [value]="true">
                    </mat-radio-button>
                </div>
            </div>
            <div class="col-6" *ngIf="contactDetails?.premisesNo">
                <label>Premises Number<span class="mandatory-field">*</span></label>
                <div class="input-group mt-1 mb-1 p-relative d-flex align-items-center">
                    <div class="input-group-prepend">
                        <select class="form-control fidelity-form-input disabled"
                            style="width: 105%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                            <option value={{contactDetails.premisesNoCountryCode}}>
                                {{contactDetails?.premisesNoCountryCode}}</option>
                        </select>
                    </div>
                    <input value={{contactDetails.premisesNo}} class="form-control fidelity-form-input disabled"
                        type="text" placeholder="Premises Number" name="Premises Number">
                    <mat-radio-button style="margin-left: 15px !important;
                    margin-top: 9px !important;"
                        (change)="radioChange(contactDetails.premisesNo,contactDetails.premisesNoCountryCode )"
                        class="fidelity-radio-btn mr-2" [value]="true">
                    </mat-radio-button>
                </div>
            </div>
            <div *ngIf="conactError" class="col-4 mt-4" style="color: #dc3545;font-size: 0.8em;">
                <p>Please select any contact number</p>
            </div>
            <div class="col-4">
            </div>
            <div class="col-10">
                <div class="form-group" style="width: 90%;">
                    <label>Notes<span class="mandatory-field">*</span></label>
                    <text-area-custom-control formControlName="comments" placeholder="Notes" [name]="'Notes'">
                    </text-area-custom-control>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Schedule</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
            (click)="dialogClose()">Cancel</button>
    </mat-dialog-actions>
</form>

<style>
   ::ng-deep body .ui-datepicker:not(.ui-datepicker-inline){
       z-index: 10000000 !important;
   }
</style>