<div class="page-heading">
    <h2 class="page-title"> {{scheduleForm?.value?.scheduleType == '1' ? 'Appointment Booking' : 'Tech Allocation'}}
    </h2>

    <ol class="breadcrumb">

        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToPage()"> Customer Management: {{callType == '1' ? 'Installation' : callType == '2' ?
                'Service' :
                callType == '3' ? 'Special Projects' : '---'}} {{serviceCallNo ? ' : '+serviceCallNo : ''}}</a>

        </li>
        <!-- <li class="breadcrumb-item">
            <a (click)="navigateToPage()">Service No : SER16062101
            </a>
        </li> -->
        <li class="breadcrumb-item">
            {{scheduleForm?.value?.scheduleType == '1' ? 'Appointment Booking' : 'Tech Allocation'}}
        </li>
    </ol>

    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">

            <!-- <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onCRUDRequested('filter')" matTooltip="Apply Filter"
                *ngIf="scheduleForm?.get('scheduleType')?.value == '2'">
                <i class="fa fa-filter" aria-hidden="true"></i></a> -->
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" matTooltip="Standby Roster Info"
                (click)="navigateToRoaster()">
                <i class="icon icon-ticket" aria-hidden="true"></i></a>


            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="openRecurringAppointmentDialog()" matTooltip="Recurring Schedule"
                *ngIf="scheduleForm?.get('scheduleType')?.value == '1'">
                <i class="fa fa-refresh" aria-hidden="true"></i></a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" matTooltip="Close"
                (click)="navigateToPage()">
                <i class="fa fa-close" aria-hidden="true"></i></a>
        </div>
    </div>

</div>

<div class="page-content fade-in-up schedule-calender-employee">


    <div class="ibox white-bg calendar-event-con">
        <div class="ibox-body space-saving-con p-1 mb-2">
            <form [formGroup]="scheduleForm">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="ui-g-12 pb-0">Scheduling</label>
                            <div class="ui-g-6 pt-0">
                                <p-radioButton name="group1" label="Appointment Booking" formControlName="scheduleType"
                                    value="1" inputId="preopt1">
                                </p-radioButton>
                            </div>
                            <div style="padding-top: 0;" class="ui-g-6">
                                <p-radioButton name="group1" label="Tech Allocation" formControlName="scheduleType"
                                    value="2" inputId="preopt2">
                                </p-radioButton>
                            </div>

                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <label>Period Type</label>
                            <!-- <select-custom-control [defaultOptionValue]="null" [loopableArray]='siteTypes' formControlName="named_stack">
                        </select-custom-control> -->
                            <select class="form-control fidelity-form-input" formControlName="periodType"
                                (change)="setView($event.target.value)">
                                <!-- <option value="" selected disabled>Select</option> -->
                                <option [value]="item.id" *ngFor="let item of periodType; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>Estimated Time</label>
                            <input type="text" formControlName="estimatedTime" class="form-control fidelity-form-input"
                                disabled>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>Travel Time</label>
                            <input type="text" formControlName="travelTime" class="form-control fidelity-form-input"
                                disabled>
                        </div>
                    </div>



                </div>
            </form>
            <form [formGroup]="filterForm" (ngSubmit)="submitFilter()">

                <div class="">
                    <div class="col-12">

                        <div class="row">
                            <div class="col-1">
                                <div class="form-group leads-category-con">
                                    <label class="d-block">Division</label>
                                    <p-dropdown [style]="{'width':'100%'}" [options]="divisionList" dataKey="id"
                                        formControlName="divisionId" placeholder="Select Division"
                                        (click)="isManualSelect = true;isTechnicianManualSelect = false"
                                        optionLabel="displayName" filter="true"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group leads-category-con">
                                    <label class="d-block">Branch</label>
                                    <p-multiSelect [style]="{'width':'100%'}" [options]="branchList" dataKey="branchId"
                                        formControlName="branchIds" placeholder="Select Branch" optionLabel="branchName"
                                        (click)="isManualSelect = true;isTechnicianManualSelect = false" filter="true">
                                    </p-multiSelect>
                                </div>
                            </div>
                            <div  class="col-1">
                                <div class="form-group leads-category-con">
                                    <label class="d-block">Tech Area</label>
                                    <p-multiSelect [style]="{'width':'100%'}" [options]="techAreaList" dataKey="id"
                                        formControlName="techAreaIds" placeholder="Select Tech Area"
                                        (click)="isManualSelect = true;isTechnicianManualSelect = false"
                                        optionLabel="displayName" filter="true"></p-multiSelect>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group leads-category-con">
                                    <label class="d-block">Technician</label>
                                    <p-dropdown [style]="{'width':'100%'}" [options]="technitianList" dataKey="id"
                                        [showClear]="true" formControlName="technicianId"
                                        placeholder="Select Technician" (onChange)="isTechnicianManualSelect = true"
                                        optionLabel="displayName" filter="true"></p-dropdown>
                                </div>
                            </div>
                            <div class="d-flex align-items-center col-4">
                                <!-- <div class="col-2" *ngIf="scheduleForm.get('scheduleType').value == '2'"> -->
                                <div class="form-group leads-category-con">
                                    <!-- <label class="d-block" style="visibility: hidden;">Special Project
                                        Technicians</label> -->
                                    <p-checkbox formControlName="includeSpecialProjectTechnician" class="pr-3"
                                        label="Special Project Technicians" binary="true"></p-checkbox>
                                <!-- </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group leads-category-con"> -->
                                    <!-- <label class="d-block" style="visibility: hidden;">Schedule Standby</label> -->
                                    <p-checkbox formControlName="includeStandbyTechnician" label="Schedule Standby"
                                        binary="true"></p-checkbox>

                                </div>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <button class="btn btn-md-fidelity fidelity-btn-brown btn-appointment-filter" type="submit">Filter</button>
                                <button type="button" class="btn btn-md-fidelity btn-primary btn-appointment-filter mr-4"
                                    (click)="resetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-2">
            <!-- <div class="col-md-3" style="float: left;"></div> -->
            <div class="col-md-5" style="float: left; text-align: center;height: 33px;">
                <div class="btn-group">
                    <div class="btn btn-primary p-1" mwlCalendarPreviousView [view]="view" style="height: 33px;"
                        [(viewDate)]="viewDate" (viewDateChange)="onDayChange()" style="height: 33px;">
                        Previous
                    </div>

                    <div class="date-picker cal-date-picker-icon fdt-date-con" id="appointment_booking_cal"
                        style="margin-right: 3px;height: 33px;">
                        <p-calendar actualDirective [style]="{'width':'100%'}" [(ngModel)]="viewDate"
                            [dateFormat]="getDateFormat()" [ngModelOptions]="{standalone: true}" [minDate]="minDate"
                            [monthNavigator]="true" [yearNavigator]="true" [yearRange]="getYearRange()"
                            appendTo="appointment_booking_cal" (onSelect)="onDaySelect()" [showIcon]="true"
                            [readonlyInput]="true" [showButtonBar]="true">
                        </p-calendar>
                    </div>
                    <!-- </ng-template> -->

                    <div class="btn btn-primary p-1" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="onDayChange()" style="height: 33px;">
                        Next
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-center" style="float: left;">
                <ng-container *ngIf="scheduleForm?.value?.scheduleType == '1'; else elseTemplate1">
                    <h3 class="font-18 mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </ng-container>
                <ng-template #elseTemplate1>
                    <h3 class="font-18 mb-0">{{ viewDate | calendarDate:('dayViewTitle') }}</h3>
                </ng-template>
            </div>
            <div class="col-md-2 text-right" style="float: left; margin-top: -4px;"
                *ngIf="scheduleForm.get('scheduleType').value == 2">
                <form [formGroup]='searchTechForm'>

                    <div style="text-align: right; float: right;">
                        <i class="fa fa-search" style="margin:4px 4px 0 0;  position: absolute;
                        right: 24px;
                        z-index: 1;
                        top: 9px;"></i>

                        <input type="text" pInputText size="30" placeholder="Search " formControlName="search" style="
                            position: relative;width: 100%;">
                    </div>
                </form>
            </div>
        </div>

        <div class="text-center" style="margin-top: 100px;" *ngIf="loadingEvents">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="2">
            </p-progressSpinner>
            <br />
            Loading events...
        </div>

        <div class="col-12" *ngIf="(users?.length == 0 || technitianList?.length == 0 || showResult) && !loadingEvents"
            style="text-align: center;margin-top: 100px;">
            <img style="height: 100px;
                width: auto;
                filter: grayscale(1);" src="./assets/img/no_user.png" alt="">
            <!-- <p style="color: red;
                font-size: 17px;
                margin-top: 15px;">No user available</p> -->
            <div class="no-records-found">
                <h4 class="text-muted"><i>No User Available</i></h4>
            </div>

        </div>

        <!-- <br /> -->



        <!-- <div class="ibox-body"> -->
        <!-- appointment-book-calendar -->
        <div class="row appointment-page-zoom">
            <div class="col-12 "
                *ngIf="!showResult && users?.length > 0 && technitianList?.length > 0 && !loadingEvents">

                <div class="basic-info-con custom-scroll" *ngIf="scheduleForm.get('scheduleType').value == '1'">


                    <div [ngSwitch]="view" class="appointment-book-calendar">
                        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
                            [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            (beforeViewRender)="beforeMonthViewRender($event)">


                        </mwl-calendar-month-view>
                        <!-- [dayStartHour]="calenderStartHour ? calenderStartHour : 0" -->
                        <!-- [dayEndHour]="calenderEndHour ? calenderEndHour : 23" -->
                        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate"
                            [events]="events" [dayStartHour]="0" [dayEndHour]="23" [hourSegments]="2"
                            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            (hourSegmentClicked)="onHoursSegmentClick($event.date)"
                            (beforeViewRender)="beforeWeekViewRender($event)">
                        </mwl-calendar-week-view>

                        <!-- validationData?.preferredTimeSlot? -->
                        <!-- [dayStartHour]="9" [dayEndHour]="19"  -->
                        <!-- validationData?.preferredTimeSlot?.toLowerCase() == 'am' -->
                        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                            [dayStartHour]="0" [dayEndHour]="23" [hourSegments]="2" [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            (hourSegmentClicked)="onHoursSegmentClick($event.date)"
                            (beforeViewRender)="beforeDayViewRender($event)">
                        </mwl-calendar-day-view>
                    </div>


                </div>
                <div class="basic-info-con custom-scroll" *ngIf="scheduleForm.get('scheduleType').value == '2'">
                    <div class="technician-book-calendar">

                        <mwl-day-view-scheduler-tech-allocation [viewDate]="viewDate" [events]="events"
                            [dayStartHour]="0" [dayEndHour]="23" [hourSegments]="2" [users]="users"
                            (eventTimesChanged)="eventTimesChanged($event)" (userChanged)="userChanged($event)"
                            (userSelected)="userSelected($event)">
                        </mwl-day-view-scheduler-tech-allocation>
                    </div>

                </div>
            </div>

        </div>
        <!-- </div> -->

    </div>
    <div class="appointment-div text-center mt-3">
        <button *ngIf="scheduleForm?.value?.scheduleType == '2'"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3 btn-post-appointment"
            [disabled]="users?.length > 0 && selectedUser && appointmentId && appointmentLogId ? null: true"
            (click)="onPostScheduleSubmit()">Post
            Schedule</button>
        <!-- <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
            (click)="cancelCheckAvailability()">Cancel</button> -->
    </div>

</div>



<!-- appintment popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '750px'}">
    <p-header>
        {{appointmentLogId ? 'Update' : 'New'}} Appointment
    </p-header>

    <form [formGroup]="appointmentFom" (ngSubmit)="onAppointment()">
        <div style="max-height: 40vh;overflow-x: hidden;" class=" custom-scroll">
            <div class="ibox-body mt-3">
                <div class="row">

                    <div class="col-12">
                        <!-- {{isPublicHolidayMsg ? 'Public Holiday' : ''}} -->
                        <div class="col-12" *ngIf="isPublicHolidayMsg">
                            <span style="    font-weight: bold;
                        color: #fff;
                        background: red;
                        border-radius: 5px;    display: block;
    padding: 8px;
    margin-bottom: 30px;text-align: center;font-size: 25px;">
                                {{isPublicHolidayMsg ? 'You are scheduling for a public holiday' : ''}}
                            </span>
                        </div>

                    </div>
                    <div formArrayName="bookedSlots" class="col-12"
                        *ngFor="let obj of getBookedSlotsListArray?.controls;let i=index">
                        <div class="row header-row mb-1" [formGroupName]="i">

                            <div class="col-4">
                                <div class="form-group">
                                    <label>Appointment Date<span class="mandatory-field">*</span></label>
                                    <div class="  p-relative">
                                        <div class="form-group p-relative">
                                            <p-calendar formControlName="appointmentDate" [style]="{'width':'100%'}" 
                                                [minDate]="obj.get('minAppointmentDate').value" [dateFormat]="getDateFormat()"
                                                [disabled]="i == 0 ? true : false" [showIcon]="false">
                                            </p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Scheduled Start Time<span class="mandatory-field">*</span></label>
                                    <div class="  p-relative">
                                        <div class="form-group p-relative">
                                            <p-calendar [timeOnly]="true" formControlName="appointmentTimeFrom"
                                                [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                                [readonlyInput]="true" appendTo="body">
                                                <!-- [disabled]="(i == 0 && getBookedSlotsListArray.length > 2) ? true : false"  -->
                                            </p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Scheduled End Time<span class="mandatory-field">*</span></label>
                                    <div class="  p-relative">
                                        <div class="form-group p-relative">
                                            <p-calendar [timeOnly]="true" formControlName="appointmentTimeTo"
                                                [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                                [readonlyInput]="true" appendTo="body" disabled="true"></p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                    <div class="ui-g-6">
                        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Assign</button>
                    </div>
                    <div class="ui-g-6">

                        <button (click)="showDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>


<!-- usassign popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showUnassignDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '750px'}">
    <p-header>
        Service Call ID {{selectedEventsByAppointmentId ? selectedEventsByAppointmentId?.lable : ''}}
    </p-header>
    <form customForm [formGroup]="unAssignedFom" (ngSubmit)="onUnassigne()">
        <div class="ibox-body mt-3">
            <div class="row">

                <div class="col-4">
                    <div class="form-group">
                        <label>Appointment Date<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar formControlName="appointmentDate" [style]="{'width':'100%'}"
                                    [minDate]="minDate" [dateFormat]="getDateFormat()" disabled="true">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Scheduled Start Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="appointmentTimeFrom"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    (onSelect)="onSelectTimeUnassign($event,unAssignedFom?.get('appointmentTimeTo').value)"
                                    [readonlyInput]="true" appendTo="body">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Scheduled End Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="appointmentTimeTo"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    [readonlyInput]="true" appendTo="body" disabled="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Reason<span class="mandatory-field">*</span></label>
                        <select id="divsion" class="form-control fidelity-form-input" name="Reason"
                            placeholder="Select Division" formControlName="comments">
                            <option value="" disabled>Select Reason</option>
                            <option *ngFor="let comment of commentsDropDown" [value]="comment.displayName">
                                {{comment.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="margin-bottom: 15px;">
                    <p-checkbox formControlName="isConfirm" binary="true"
                        label="Informed Customer on appointment changes">
                    </p-checkbox>
                </div>
            </div>
        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                    <div class="ui-g-6">
                        <button [disabled]="!unAssignedFom?.get('isConfirm').value" type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown ">Unassign</button>
                    </div>
                    <div class="ui-g-6">

                        <button (click)="showUnassignDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>


<!-- reschedul popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showRescheduleDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '600px'}">
    <p-header>
        Reschedule Appointment
    </p-header>
    <form [formGroup]="reAppointmentFom" (ngSubmit)="onReAppointment()">
        <div class="ibox-body mt-3">
            <div class="row">
                <div class="col-12">
                    <!-- {{isPublicHolidayMsg ? 'Public Holiday' : ''}} -->
                    <div class="col-12" *ngIf="isPublicHolidayMsg">
                        <span style="    font-weight: bold;
                        color: #fff;
                        background: orange;
                        border-radius: 5px;    display: block;
    padding: 8px;
    margin-bottom: 30px;text-align: center;">
                            {{isPublicHolidayMsg ? 'You are scheduling for a public holiday' : ''}}
                        </span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Scheduled Start Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="appointmentTimeFrom"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    (onSelect)="onReSelectTime($event)" [readonlyInput]="true" appendTo="body">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Scheduled End Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="appointmentTimeTo"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    [readonlyInput]="true" appendTo="body" disabled="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                    <div class="ui-g-6">
                        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Assign</button>
                    </div>
                    <div class="ui-g-6">

                        <button (click)="showRescheduleDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>


<!-- provisional booking approval popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="provisionalBookingApprovalDialog"
    [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '750px'}">
    <p-header>
        Service Call ID {{selectedEventsByAppointmentId ? selectedEventsByAppointmentId?.lable : ''}}
    </p-header>

    <form [formGroup]="provisonalBookingApprovalForm" (ngSubmit)="onProvisonalBookingApproval()">
        <div style="max-height: 40vh;overflow-x: hidden;" class=" custom-scroll">
            <div class="ibox-body mt-3">
                <div class="row">

                    <div formArrayName="bookedSlots" class="col-12"
                        *ngFor="let obj of getProvisonalBookedSlotsListArray?.controls;let i=index">
                        <div class="row header-row mb-1" [formGroupName]="i">

                            <div class="col-4">
                                <div class="form-group">
                                    <label>Appointment Date<span class="mandatory-field">*</span></label>
                                    <div class="  p-relative">
                                        <div class="form-group p-relative">
                                            <p-calendar formControlName="appointmentDate" [style]="{'width':'100%'}"
                                                [minDate]="minDate" [dateFormat]="getDateFormat()" disabled="true">
                                            </p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Scheduled Start Time<span class="mandatory-field">*</span></label>
                                    <div class="  p-relative">
                                        <div class="form-group p-relative">
                                            <p-calendar [timeOnly]="true" formControlName="appointmentTimeFrom"
                                                [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                                [readonlyInput]="true" appendTo="body">
                                            </p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Scheduled End Time<span class="mandatory-field">*</span></label>
                                    <div class="  p-relative">
                                        <div class="form-group p-relative">
                                            <p-calendar [timeOnly]="true" formControlName="appointmentTimeTo"
                                                [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                                [readonlyInput]="true" appendTo="body" disabled="true"></p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px;">
                        <p-checkbox formControlName="isConfirmed" binary="true"
                            label="Confirming the provisional appointment date">
                        </p-checkbox>
                    </div>
                </div>
            </div>

        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                    <div class="ui-g-6">
                        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown"
                            [disabled]="provisonalBookingApprovalForm.get('isConfirmed').value ? null : true">Confirm</button>
                    </div>
                    <div class="ui-g-6">

                        <button (click)="provisionalBookingApprovalDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>


<!-- alert dialog -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="alertDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '400px'}">
    <p-header>
        Alert
    </p-header>

    <div class="col-12">
        <div style="text-align: center;padding: 16px;">
            <div class="img-con">
                <span class="fa fa-warning" style="font-size: 45px;
                color: #ffd740;"></span>
                <!-- <img src="assets/img/icons/info.svg" /> -->
            </div>
            <p style="margin-top: 10px;">{{alertMsg}}</p>

            <p-checkbox [(ngModel)]="isAlertCheckboxValue" *ngIf="isAlertCheckbox" label="" binary="true"></p-checkbox>

            <div class="ui-g-12">
            </div>

        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                <div class="ui-g-12">
                    <button type="button" pButton class="ui-button-success"
                        [disabled]="isAlertCheckbox ? !isAlertCheckboxValue : null"
                        style="display: inline-block;background: #115943!important;" (click)="alertDialog = false"
                        label="Ok"></button>
                </div>

            </div>
        </div>
    </p-footer>
</p-dialog>