<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="setNameAddEditForm" (ngSubmit)="onSubmit()">

        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body">

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Set Name <span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text" formControlName="name"
                                    placeholder="Enter Set Name" [validateInput]='isHypenOnly'
                                    [maxLength]="formConfigs.fifty" [minLength]="formConfigs.masterSettingMinNameLength"
                                    (change)="ValidateIfOnlySpecialCharacters($event.target.value)">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Default Test Signal Delay <span class="mandatory-field">*</span> </label>
                                <select class="form-control fidelity-form-input" formControlName="defaultTestingDelay">
                                    <option value="null" selected disabled>--Select Default Test Signal Delay--</option>
                                    <option [value]="item" *ngFor="let item of defaultTestingDelayList; let i=index">
                                        {{item}} Hours</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Description </label>
                                <input class="form-control fidelity-form-input" type="text"
                                    formControlName="description" placeholder="Enter Description" [minLength]="10" [maxLength]="150">
                            </div>
                        </div>
                    </div>

                    <div class="row" formArrayName="setNameAlarmTypes">
                        <div class="col-4">

                            <label>Alarms <span class="mandatory-field">*</span></label>
                            <div class="row">
                                <div class="col-12"
                                    *ngFor="let itemrow of setNameAddEditForm?.get('setNameAlarmTypes')['controls']; let i=index"
                                    [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-5 pr-0">
                                            <div class="form-group">
                                                <select formControlName="alarmTypeId"
                                                    (change)="onSelectAlarm($event.target.value,i)"
                                                    class="form-control fidelity-form-input"
                                                    [attr.disabled]="i != 0 ? true: null">
                                                    <option value="null" selected disabled>--Select Alarms--</option>
                                                    <option [value]="item.id"
                                                        *ngFor="let item of alarmsList; let i=index">{{item.alarm}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-4 pr-0 pl-0">
                                            <div class="form-group input-small">
                                                <input type="text" [maxlength]="formConfigs.fifty"
                                                    class="form-control fidelity-form-input" formControlName="eventCode"
                                                    [readonly]="i != 0" placeholder="Enter Event Code">
                                            </div>
                                        </div>


                                        <div class="col-2" *ngIf="i == 0">
                                            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                                                id="newLead_tbn" matTooltip="Add New" (click)="addListItem(itemrow)">
                                                <i aria-hidden="true" data-icon="b" class="icon"></i>
                                            </a>
                                        </div>
                                        <div class="col-2" *ngIf="i != 0">
                                            <a class="fidelity-btn-circle delete-row" matTooltip="Delete"
                                                (click)="deleteListItem(itemrow,i)">
                                                <i aria-hidden="true" class="icon icon-delete"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  
                </div>
            </p-scrollPanel>
        </div>

        <div class="text-center mt-3">
            <button id="create_new_leads_btn" type="submit"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                id="add_skill_save_btn">{{setNameId ? 'Update': 'Save'}}</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                id="add_skill_cancel" routerLink='/signal-translator/configuration'
                [queryParams]="{tab:3}">Cancel</button>
        </div>
    </form>
</div>