<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm class="fidelity-popup-form set-names-upload" [formGroup]="setNamesForm"
                (ngSubmit)="onSubmit()">
                <div class="ibox">
                    <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg">
                            <div class="row">
                                <div class="col col-md-4">
                                    <label>Add File</label>
                                    <div class="form-group" style="width: 100%;">
                                        <label for="file" class="sr-only">File</label>
                                        <div class="file-input-container">
                                            <input class="file-input-ctrl" #fileInput type="file" name="file"
                                                accept=".xlsx" (change)="onFileSelected($event.target.files)"
                                                [disabled]="isFileSelected" />
                                        </div>
                                        <div style="width: 100%; z-index: 1000;">
                                            <div class="input-group" style="height: 40px;">
                                                <input type="text" name="filename" [(ngModel)]="fileName"
                                                    [ngModelOptions]="{standalone: true}"
                                                    class="form-control file-input-text" placeholder="No file selected"
                                                    readonly>
                                                <span class="input-group-btn">
                                                    <div class="btn custom-file-uploader file-input-btn">
                                                        Browse
                                                    </div>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col col-md-1">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <label for="file" class="sr-only">File</label>
                                        <div class="input-group" style="height: 40px;">
                                            <span class="input-group-btn">
                                                <input type="button" value="Clear"
                                                    class="btn custom-file-uploader file-remove-btn"
                                                    (click)="removeUploadedFile()">
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col col-md-3 ml-0 pl-0">
                                    <div class="sample-file download" style="margin-top: 30px;">
                                        <div class="no-services-msg-con mt-2 file-download-container">
                                            <small>
                                                <a class="text-primary"
                                                    href="../../../../../assets/files/setnames-upload.xlsx"
                                                    target="_blank"><i class="fa fa-download"
                                                        style="font-size: 13pt;"></i>&nbsp;
                                                    Download sample file</a></small></div>
                                    </div>
                                </div>

                                <div class="col col-md-4 ml-0 pl-0">
                                    <div class="sample-file download" style="margin-top: 30px;">
                                        <div class="no-services-msg-con mt-2 file-upload-status-container"
                                            *ngIf="getSetNamesArrays.length>0">
                                            <small style="margin-top: 6px;">
                                                <div *ngIf="(setNamesSuccessCount==0 && setNamesFailureCount==0)">
                                                    <div class="float-left">
                                                        <label class="text-success"
                                                            style="margin-left: 10px; font-size: 13pt;">
                                                            Total Records:
                                                            {{getSetNamesAllDataArrays.length}}</label>
                                                    </div>
                                                    <div class="float-left">
                                                        <label class="text-danger"
                                                            style="margin-left: 10px; font-size: 13pt;">
                                                            Duplicating </label>
                                                    </div>
                                                    <div class="float-left">
                                                        <label class="text-danger"
                                                            style="margin-left: 8px; font-size: 13pt;" 
                                                            *ngIf="duplicatingSetNamesAlarmEventCodeCount===0">
                                                            Set Names:
                                                            0</label>
                                                        <label class="text-danger"
                                                            style="margin-left: 8px; font-size: 13pt;" *ngIf="duplicatingSetNamesAlarmEventCodeCount>0">
                                                            Set Name EventCodes:
                                                            {{duplicatingSetNamesAlarmEventCodeCount}}</label>
                                                    </div>
                                                </div>

                                                <div *ngIf="(setNamesSuccessCount>0 || setNamesFailureCount>0)">
                                                    <div class="float-left">
                                                        <label class="text-success"
                                                            style="margin-left: 10px; font-size: 13pt;">Imported
                                                            Success:
                                                            {{setNamesSuccessCount}}</label>
                                                    </div>
                                                    <div class="float-left">
                                                        <label class="text-danger"
                                                            style="margin-left: 10px; font-size: 13pt;">Failure:
                                                            {{setNamesFailureCount}}</label>
                                                    </div>
                                                    <div class="float-left" style="max-width: 185px; min-width: 185px;">
                                                        <a class="text-primary" (click)="showHideFailedImportList()"
                                                            *ngIf="setNamesFailureCount>0"
                                                            style="margin-left: 10px; font-size: 13pt;">
                                                            {{showFailedImport? "Hide":"Show"}} failed imports
                                                        </a></div>
                                                </div>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="!showFailedImport">
                                <div style="height: 23rem; overflow: scroll;" infiniteScroll
                                    [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10"
                                    (scrolled)="onScrollDownSetNamesArray()" [scrollWindow]="false">

                                    <div class="ibox-body brown-border white-bg">
                                        <div *ngIf="getSetNamesArrays.length>0;else NoDataContainer">
                                            <div class="row mt-3 mb-2">
                                                <div class="col-5 row-number-col"><span>S.No.</span></div>
                                                <div class="col-2">Set Name <span class="mandatory-field">*</span></div>
                                                <div class="col-2 p-0">Description</div>
                                                <div class="col-2 p-0">Default Test Signal Delay <span
                                                        class="mandatory-field">*</span></div>
                                                <div class="col-2 p-0">Alarms <span class="mandatory-field">*</span>
                                                </div>
                                                <div class="col-2 p-0">Event Code <span class="mandatory-field">*</span>
                                                </div>
                                                <div class="col-1 remove-col"></div>
                                            </div>

                                            <div formArrayName="setNamesArray"
                                                *ngFor="let setNamesObj of setNamesForm?.get('setNamesArray')?.controls;let i=index">
                                                <div class="row  mt-3 mb-2" [formGroupName]="i">
                                                    <div class="col-1 row-number-col">
                                                        <input type="text" [id]="'rowNumber'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="rowNumber" matTooltip="Search More Menu"
                                                            disabled>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="text" class="form-control fidelity-form-input"
                                                            [id]="'name'+i"
                                                            [maxlength]="formConfigs.fifty" type="text"
                                                            [validateInput]='stringConfig' formControlName="name"
                                                            matTooltip="{{setNamesObj.value.name}}">
                                                    </div>
                                                    <div class="col-2"><input type="text"
                                                            class="form-control fidelity-form-input"
                                                            [id]="'description'+i"
                                                            maxlength="150"
                                                            [validateInput]='stringConfig' formControlName="description"
                                                            matTooltip="{{setNamesObj.value.description}}">
                                                    </div>
                                                   
                                                    <div class="col-2">
                                                        <select [id]="'defaultTestingDelay'+i"
                                                            class="form-control fidelity-form-input"
                                                            formControlName="defaultTestingDelay"
                                                            matTooltip="{{setNamesObj.value.defaultTestingDelay}}">
                                                            <option [value]="">-- Select Default Testing Delay--</option>
                                                            <option *ngFor="let item of defaultTestingDelayList"
                                                                [value]="item">
                                                                {{item}} hours
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-2">
                                                        <select [id]="'alarmTypeId'+i"
                                                            class="form-control fidelity-form-input"
                                                            formControlName="alarmTypeId"
                                                            matTooltip="{{setNamesObj.value.alarmType}}" required>
                                                           
                                                            <option [value]="">-- Select Alarm Type --</option>
                                                            <option *ngFor="let alarms of alarmTypeList"
                                                                [value]="alarms.id">
                                                                {{alarms.displayName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-2"><input type="text"
                                                            class="form-control fidelity-form-input"
                                                            [id]="'eventCode'+i"
                                                            [minlength]="formConfigs.lastNameMinLength"
                                                            [maxlength]="formConfigs.lastNameMaxLength"
                                                            [validateInput]='alphanNumericConfig' formControlName="eventCode"
                                                            matTooltip="{{setNamesObj.value.eventCode}}">
                                                    </div>

                                                    <div class="col-1 remove-col">
                                                        <a [id]="'delete_record'+i"
                                                            class="delete-row raw-lead-delete-btn ml-1"
                                                            (click)="removeSetNamesItem(i)"><i aria-hidden="true"
                                                                class="icon icon-delete"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #NoDataContainer>
                                        <div class="no-data-msg mt-2"
                                            style="width: 100%; border-color: transparent;">
                                            <span>No Data To Be Displayed</span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>

                            <div *ngIf="false">
                                <div formArrayName="setNamesAllDataArray"
                                    *ngFor="let setNamesObj of setNamesForm?.get('setNamesAllDataArray')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col row-number-col">
                                            <input type="text" [id]="'rowNumber'+i" formControlName="rowNumber">
                                        </div>
                                        <div class="col">
                                            <input type="text" [id]="'name'+i" formControlName="name">
                                        </div>
                                        <div class="col">
                                            <input type="text" [id]="'description'+i" formControlName="description">
                                        </div>
                                        <div class="col">
                                            <input type="text" [id]="'defaultTestingDelay'+i"
                                                formControlName="defaultTestingDelay">
                                        </div>
                                        <div class="col">
                                            <input type="text" [id]="'alarmType'+i" formControlName="alarmType">
                                        </div>
                                        <div class="col">
                                            <input type="text" [id]="'eventCode'+i" formControlName="eventCode">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="showFailedImport">
                                <div style="height: 23rem; overflow: scroll;" infiniteScroll
                                    [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10"
                                    (scrolled)="onScrollDownSetNamesFailureArray()" [scrollWindow]="false">
                                    <div class="ibox-body brown-border white-bg">
                                        <div *ngIf="getSetNamesFailedArrays.length>0;else NoDataFailedContainer">
                                            <div class="row mt-3 mb-2">
                                                <div class="col row-number-col"><span>S.No.</span></div>
                                                <div class="col">Set Name</div>
                                                <div class="col">Description</div>
                                                <div class="col">Default Test Signal Delay</div>
                                                <div class="col">Alarm</div>
                                                <div class="col">Event Code</div>
                                                <div class="col reason-col">Reason</div>
                                            </div>

                                            <div formArrayName="setNamesFailedArray"
                                                *ngFor="let setNamesObj of setNamesForm?.get('setNamesFailedArray')?.controls;let i=index">
                                                <div class="row" [formGroupName]="i">
                                                    <div class="col row-number-col">
                                                        <input type="text" [id]="'rowNumber'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="rowNumber" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" [id]="'name'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="name" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" [id]="'description'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="description" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" [id]="'defaultTestingDelay'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="defaultTestingDelay" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" [id]="'alarmType'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="alarmType" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" [id]="'eventCode'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="eventCode" disabled>
                                                    </div>
                                                    <div class="col reason-col">
                                                        <input type="text" [id]="'reason'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="reason" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #NoDataFailedContainer>
                                            <div class="no-data-msg mt-2"
                                                style="width: 100%; border-color: transparent;">
                                                <span>No Data To Be Displayed4</span>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>

                <div class="text-center mt-3" *ngIf="!showFailedImport && getSetNamesArrays.length>0">
                    <button id="create_new_setnames_btn" type="submit" [disabled]="isBtnDisabled"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                    <button id="cancel_new_setnames_btn" type="button" routerLink="/signal-translator/configuration"
                        [queryParams]="{'tab':3}"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>

                <div class="text-center mt-3" *ngIf="showFailedImport">
                    <button id="cancel_new_setnames_btn" type="button" (click)="showHideFailedImportList()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Back</button>
                </div>

                <div class="text-center mt-3" *ngIf="fileName===''">
                    <button id="cancel_new_leads_btn" type="button" routerLink="/signal-translator/configuration/" [queryParams]="{tab:3}"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>