<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Waste Diposal Collection </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Inventory Management</a>
        </li>
        <li class="breadcrumb-item">
            <a> Waste Disposal</a>
        </li>
        <!-- <li class="breadcrumb-item">
            <a> Waste Disposal Collection</a>
        </li> -->
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Waste Disposal Collection list</a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToViewPage()"> Waste Disposal Collection View </a>
        </li>
        <li class="breadcrumb-item">
            Waste Disposal Collection Update
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">  
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh"> 
            <form customForm [formGroup]="wasteDisposalStockCollectUpdateForm" (ngSubmit)="onSubmit()">  
                <div class="ibox-body">
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key"> WD Request Number </span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{wdRequestApprovalDetails?.wdRequestNumber ? wdRequestApprovalDetails?.wdRequestNumber : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key"> Warehouse </span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{wdRequestApprovalDetails?.warehouseName ? wdRequestApprovalDetails?.warehouseName : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key"> Created By </span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{wdRequestApprovalDetails?.createdBy ? wdRequestApprovalDetails?.createdBy : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key"> Created Date & Time</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{wdRequestApprovalDetails?.createdDate ? (wdRequestApprovalDetails?.createdDate | date) : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Actioned By</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{wdRequestApprovalDetails?.actionedBy ? wdRequestApprovalDetails?.actionedBy : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Actioned Date & Time</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{wdRequestApprovalDetails?.actionedDate ? (wdRequestApprovalDetails?.actionedDate | date) : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Waste Disposal Company</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{wdRequestApprovalDetails?.companyName ? wdRequestApprovalDetails?.companyName : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Collected By</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{wdRequestApprovalDetails?.collectedBy ? wdRequestApprovalDetails?.collectedBy : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2"> 
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Collected Date & Time</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{wdRequestApprovalDetails?.collectedDate ? (wdRequestApprovalDetails?.collectedDate | date) : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>               
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Status</span>
                                <span id="" class="">
                                    <span class="d-inline-block">                                    
                                        <span class="status-label" [ngClass]="wdRequestApprovalDetails?.status != null ? wdRequestApprovalDetails?.cssClass : '' ">
                                            {{wdRequestApprovalDetails?.status ? wdRequestApprovalDetails?.status : '-'}}
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-body brown-border mt-3" style="height: auto;z-index: 1000;">
                    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabClicked($event)" class="fidelity-tab-group mat-tab-body-padding-0 mat-tab-no-arrows">
                        <mat-tab label="ASSETS" class="bg-gray">
                            <div>
                                <div class="custom-scroll1" style="overflow-x: auto;height: 20vh">
                                    <div class="container-fluid p-relative warehouse-con">
                                        <div class="custom-scroll1" style="overflow-x: auto;">
                                            <div class="row sm-padding mb-2" style="flex-wrap: nowrap;">
                                                <div class="col-2"> Stock Code </div>
                                                <div class="col-4"> Stock Description </div>
                                                <div class="col-2"> Qty </div>
                                                <div class="col-2"> Moving Average Price (R) </div>
                                                <div class="col-2"> Write Off Value (R) </div>
                                            </div>                                        
                                            <div class="" formArrayName="assetItemsDetails"
                                            *ngFor="let groupObj of wasteDisposalStockCollectUpdateForm?.get('assetItemsDetails')?.controls;let i=index">
                                                <div class="row sm-padding" [formGroupName]="i" style="flex-wrap: nowrap;">
                                                    <div class="col-2">
                                                        <div class="form-group" style="cursor: pointer;" (click)="openModelSerialPopup('assets', groupObj?.get('itemId')?.value, groupObj?.get('itemCode')?.value, groupObj?.get('itemName')?.value)">
                                                            <input type="text" class="fidelity-form-input form-control disabled model-color" formControlName="itemCode">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <input type="text" class="fidelity-form-input form-control disabled" formControlName="itemName">
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input type="text" class="fidelity-form-input form-control disabled" formControlName="quantity">
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input class="fidelity-form-input form-control disabled" formControlName="movingAveragePrice">
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input type="text" class="fidelity-form-input form-control disabled" formControlName="writeOffValue">
                                                        </div>
                                                    </div>                                                    
                                                </div>                                        
                                            </div> 
                                            <div class="row sm-padding">
                                                <div class="col-2"></div>
                                                <div class="col-4"></div>
                                                <div class="col-2"></div>
                                                <div class="col-2">Total Write Off Value :</div>
                                                <div class="col-2"><b> {{totalAssetWriteValue}} </b></div>
                                            </div> 
                                            <div *ngIf="wdRequestApprovalDetails?.wasteDisposalDetails?.assetWasteDisposalItems?.length <= 0" 
                                                class="col-12 mt-3">
                                                <div class="text-center">
                                                    <span><b>No Records Found</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="CONSUMABLES" class="bg-gray">
                            <div>
                                <div class="custom-scroll1" style="overflow-x: auto;height: 20vh">
                                    <div class="container-fluid p-relative warehouse-con">
                                        <div class="custom-scroll1" style="overflow-x: auto;">
                                            <div class="row sm-padding mb-2" style="flex-wrap: nowrap;">
                                                <div class="col-2"> Stock Code </div>
                                                <div class="col-4"> Stock Description </div>
                                                <div class="col-2"> Qty </div>
                                                <div class="col-2"> Moving Average Price (R) </div>
                                                <div class="col-2"> Write Off Value (R) </div>
                                            </div>                                        
                                            <div class="" formArrayName="consumableItemsDetails"
                                            *ngFor="let groupObj of wasteDisposalStockCollectUpdateForm?.get('consumableItemsDetails')?.controls;let i=index">
                                                <div class="row sm-padding" [formGroupName]="i" style="flex-wrap: nowrap;">
                                                    <div class="col-2">
                                                        <div class="form-group" style="cursor: pointer;" (click)="openModelSerialPopup('consumable', groupObj?.get('itemId')?.value, groupObj?.get('itemCode')?.value, groupObj?.get('itemName')?.value)">
                                                            <input type="text" class="fidelity-form-input form-control disabled model-color" formControlName="itemCode">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <input type="text" class="fidelity-form-input form-control disabled" formControlName="itemName">
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input type="text" class="fidelity-form-input form-control disabled" formControlName="quantity">
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input class="fidelity-form-input form-control disabled" formControlName="movingAveragePrice">
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input type="text" class="fidelity-form-input form-control disabled" formControlName="writeOffValue">
                                                        </div>
                                                    </div>                                                   
                                                </div>
                                            </div>
                                            <div class="row sm-padding">
                                                <div class="col-2"></div>
                                                <div class="col-4"></div>
                                                <div class="col-2"></div>
                                                <div class="col-2">Total Write Off Value :</div>
                                                <div class="col-2"><b> {{totalConsumeWriteValue}} </b></div>
                                            </div> 
                                            <div *ngIf="wdRequestApprovalDetails?.wasteDisposalDetails?.consumableWasteDisposalItems?.length <= 0" class="col-12 mt-3">
                                                <div class="text-center">
                                                    <span><b>No Records Found</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="SUPPORTING DOCUMENTS" class="bg-gray" *ngIf="wdRequestApprovalDetails?.status == 'Collected'">
                            <div class="container-fluid">
                                <div class="row">      
                                    <div class="col-4">  
                                        <label> Document Type </label>
                                        <select class="form-control fidelity-form-input" formControlName="wdRequestAttachmentId">
                                            <option value="" selected> Select file </option>
                                            <option *ngFor="let item of attachmentTypeDropDown; let i=index" [value]="item.id">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group p-relative">
                                            <label>Supporting Documents</label>
                                            <div class="input-group fidelity-file-upload">
                                                <input type="text" name="filename" class="input-box form-control" placeholder="select file">
                                                <span class="input-group-btn">
                                                    <div class="btn custom-file-uploader">
                                                        <input type="file" name="file"  [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']" single
                                                        (change)="uploadFiles($event)"/>
                                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                                    </div>
                                                </span>
                                            </div>
                                            <div class="p-relative d-inline" *ngFor="let selected of selectedFiles; let i = index">
                                                <a class="doc-name mr-2 pt-0" style="color: dodgerblue">
                                                    {{selected?.name}}
                                                </a>
                                                <button type="button" class="circle-minus-btn" (click)="removeSelectedFile(i)" *ngIf="showRemove">
                                                    <i class="icon icon-close-icon"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-top: 30px;">
                                        <button type="button" class="circle-plus-btn fidelity-brown-btn" matTooltip="Add" (click)="addDocumentType()">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </button>
                                    </div>
                                </div> 
                                <div>
                                    <div class="custom-scroll1" style="overflow-x: auto;height: 20vh">
                                        <div formArrayName="wasteDocumentTypeDTOs"> 
                                            <div class="" *ngFor="let groupObj of wasteDisposalStockCollectUpdateForm?.get('wasteDocumentTypeDTOs')?.controls;let i=index">
                                                <div class="row mt-2" [formGroupName]="i">
                                                    <div class="col-4">
                                                        <input type="text" class="form-control fidelity-form-input" formControlName="wdRequestAttachmentTypeName" disabled>
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="text" class="form-control fidelity-form-input" formControlName="docName" disabled>
                                                    </div>   
                                                </div>            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="text-center mt-3" *ngIf="wdRequestApprovalDetails?.status == 'Collected' || selectedTabIndex == 2">
                                <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"> Update </button>
                                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button>
                            </div> 
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="ibox-body mt-3" *ngIf="selectedTabIndex != 2">
                    <div class="row">
                        <div class="col-4">
                            <label> Signature </label>
                            <div class="sigPad">
                                <signature-pad [options]="signaturePadOptions"
                                (onEndEvent)="drawComplete()"></signature-pad>
                            </div>
                        </div>
                        <div class="col-2 mt-5">
                            <button type="button" class="btn btn-primary fidelity-btn-brown" (click)="clearPad()">Clear Signature</button>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Comments <span class="mandatory-field">*</span></label>
                                <textarea class="form-control fidelity-form-input" id="comments" 
                                formControlName="comments" placeholder="Comments" maxlength="100"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3" *ngIf="wdRequestApprovalDetails?.status == 'Approved' && selectedTabIndex != 2">
                        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"> Update </button>
                        <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button>
                    </div>
                </div>                
            </form> 
        </div>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isWasteDisposalDialogModal" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header> Serial Info </p-header>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Code </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.stockCode ? modalDetails?.stockCode : '-'}}</b>
                </div>
            </div>
        </div>            
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Description </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.stockDescription ? modalDetails?.stockDescription : '-'}} </b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Serial Number</label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.serialNumbers ? modalDetails?.serialNumbers.length : '0'}}</b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12" *ngFor="let items of modalDetails?.serialNumbers; let i = index">
                    <div class="form-group">
                        <input type="text" class="fidelity-form-input form-control" readonly [value]="items['serialNumber']"
                        matTooltip="{{items.serialNumber}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>