::ng-deep .sigPad{
    border: 1px solid gray;
    signature-pad canvas {
        height: 90px!important;
        width: 580px!important;
    }
}
.no-discrepancy-msg {
    border: 1px solid lightgray;
    padding: 12px;
    background: #ddd;;
}
.custom-file-label::after {
  background-color: #0d4131!important;
  border-color: #0d4131 !important;
  cursor: pointer;
}

.model-color {
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}