<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.data?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="p-3">
    <div class="ibox">
        <div class="ibox-body mt-2 mb-2">
            <div class="container-fluid">
                <app-view-page [col]="1" [viewDetail]="PassWordViewDetails" [template]="1">
                </app-view-page>
            </div>
            <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
                    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
                    (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
                </app-page-list-table>
            </p-scrollPanel>
        </div>
    </div>
</div>
