<div class="ibox-body pb-1">
    <p-scrollPanel [style]="{height: '19vh'}" styleClass="custom">
        <div class="row mt-1">
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Lead No</span>
                    <span id="" class="value">
                        <span class="d-inline-block"><a style="color: #007ad9" 
                            (click)="shouldShowLeadRefNoLink&&redirectToLeadLandingPage()">{{leadHeaderData.leadRefNo}}</a></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Lead Group</span>
                    <span id="" class="value d-flex justify-content-start">
                        <span class="d-inline-block"
                            style="width: auto;">{{leadHeaderData.leadGroupName ? leadHeaderData.leadGroupName : '-'}}</span>
                        <span class="d-inline-block status-label-yellow ml-3 status-label"
                            style="box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16); width: auto;font-size: 1rem;"
                            [ngClass]="leadHeaderData?.leadStatusCssClass">{{leadHeaderData.leadStatusName ? leadHeaderData.leadStatusName : '-'}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Site Type</span>
                    <span id="" class="value">
                        <span class="d-inline-block">{{leadHeaderData.siteTypeName}}</span>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Customer Name</span>
                    <span id="" class="value">
                        <span class="d-inline-block">{{leadHeaderData.customerName}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Lead Category</span>
                    <span id="" class="value">
                        <span class="d-inline-block pr-2">{{leadHeaderData.leadCategoryName}}</span>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex">
                    <span id="" class="key">Lead Source</span>
                    <span id="" class="value">
                        <span
                            class="d-inline-block">{{leadHeaderData.sourceName ? leadHeaderData.sourceName: '-'}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-lg-12">
                <div class="d-flex">
                    <span id="" class="key" style="width: 18.5%!important;">Site Address</span>
                    <span id="" class="value">
                        <span class="d-inline-block">{{leadHeaderData.fullAddress}}</span>
                    </span>
                </div>
            </div>
        </div>
    </p-scrollPanel>
</div>