@import './../../../../../../../variables.scss';
.item-view-key {
    width: 40%;
    color: $fidelity-grey1;
    font-size: 1.2rem;
    word-break: break-all;
    display: inline-block;
}
.item-view-value {
    color: #000;
    font-size: 1.2rem;
    width: 60%;
    display: inline-block;
    word-break: break-all;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-bottom: 0px !important;
}

.mat-form-field .fidelity-form-input {
  padding: 9px 0px !important;
}
