<div id="sidebar-collapse custom-scroll" style="overflow-y: auto;height: inherit;">
    <div *ngIf="(accessibleRoutes$ | async)?.length > 0">
        <ul class="side-menu metismenu mb-4">
            <li *ngFor="let module of accessibleRoutes$ | async; let i = index" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">
                <a (click)="onSidebarModuleSectionClicked(module,'firstlevelHeader')" href="javascript:;"
                    id="main_menu_{{i}}"><i class="{{module.moduleIcon}}"></i>
                    <span class="nav-label">{{module.moduleName}}</span><i class="fa fa-caret-right arrow"></i></a>
                <ul *ngIf="module.navigations?.length > 0" class="nav-2-level collapse" routerLinkActive="in">
                    <li *ngFor="let sunbNavigation of module.navigations; let j = index" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: false}">
                        <ng-container *ngIf="sunbNavigation.navigations.length == 0">
                            <a (click)="onSidebarModuleSectionClicked(sunbNavigation,'firstlevelChild')"
                                id="sec_menu{{i}}_{{j}}" routerLink="{{sunbNavigation.navigationUrl}}"
                                routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                                <span class="nav-label">{{sunbNavigation.navigationName}}</span>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="sunbNavigation.navigations.length > 0">
                            <a (click)="onSidebarModuleSectionClicked(sunbNavigation,'secondlevelHeader')"
                                id="sec_menu{{i}}_{{j}}" href="javascript:;">
                                <span class="nav-label">{{sunbNavigation.navigationName}}</span>
                                <i *ngIf="sunbNavigation.navigations?.length > 0"
                                    class="fa fa-caret-right arrow"></i>
                            </a>
                        </ng-container>
                        <ul *ngIf="sunbNavigation.navigations?.length > 0" class="nav-3-level collapse"
                            routerLinkActive="in">
                            <li *ngFor="let sub of sunbNavigation.navigations; let k = index">
                                <a (click)="onSidebarModuleSectionClicked(sub,'secondlevelChild')"
                                    routerLink="{{sub.navigationUrl}}" id="third_menu{{i}}_{{j}}_{{k}}"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                                    <span class="nav-label">{{sub.navigationName}}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
