
.children-row {
    mat-checkbox {
        position: relative;
        right: -35px;
    }
}
.form-elems-fields {
    .form-group {
        width: 80%;
    }
}

::ng-serve button.circle-minus-btn.rm-position {
	position: static;
}

#wd_req_modal {
	.delete-row.wd-row-del {
	    right: 4vw;
	}

	.key {
	    display: inline-block;
	    width: 42%;
	    color: #8A8A8A;
	    word-wrap: break-word;
	    font-size: 1rem;
	    margin-right: 13px;
	}

	.value {
	    width: 58%;
	    word-wrap: break-word;

	    span {
	        width: 100%;
	        border:none;
	        font-family: 'Calibri_Bold', sans-serif!important;
	        font-size: 1rem;
	    }
	}

	.wd-req-del.delete-row {
	    top: -5px;
	}

	.header-row {
	    font-size: 1rem;

	    .fidelity-checkbox > .mat-checkbox-layout {
	        margin-bottom: 0!important;
	    }
	}

	.children-row {
	    .fidelity-form-input {
	        padding: 5px 10.5px;
	    }
	}
}

.wd-view-box {
    .key {
        display: inline-block;
        width: 38%;
        color: #8A8A8A;
        word-wrap: break-word;
    }
    
    .value {
        width: 62%;
        word-wrap: break-word;
    
        span {
            width: 100%;
            border:none;
            font-family: 'Calibri_Bold', sans-serif!important;
        }
    }
}
