
 <div class="fidelity-popup-heading container-fluid"  mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
   Serial Info
  <button mat-icon-button class="close-button " style="float: right;margin-top: -10px;" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
  <mat-dialog-content>
    <div class="row mb-2">
      <div class="col-lg-6">
          <div class="d-flex align-items-center">
              <span id="" class="key">Stock Code</span>
              <span id="" class="value">
                      <span class="d-inline-block">{{wasteDisposalItems.itemCode}}</span>
              </span>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="d-flex align-items-center">
              <span id="" class="key">Stock Name</span>
              <span id="" class="value">
                      <span class="d-inline-block">{{wasteDisposalItems.itemName}}</span>
              </span>
          </div>
      </div>
  </div>
  <div class="row header-row mb-2">
      <div class="col-6">
          <div class="d-flex justify-content-left align-items-center">
              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll($event)"/>
              &nbsp; &nbsp;
              <span>Serial Number</span>
          </div>
      </div>
      <div class="col-6">
          <div class="d-flex justify-content-end align-items-center">
              <span class="mr-4">{{wasteDisposalItems?.wasteDisposalStocks?.length}}/{{this.checkedList?.length}}</span>
             </div>
      </div>
  </div>
  <div class="row children-row mb-2" *ngFor="let item of wasteDisposalItems.wasteDisposalStocks">
      <div class="col-2">
          <input type="checkbox" [checked]="item.selectedFlag === true" value="{{item.selectedFlag}}" (change)="onCheckboxChange(item,$event)">
      </div>
      <div class="col-10">
          <div class="d-flex justify-content-left align-items-center">

              <input type="text" value="{{item.serialNumber}}" class="form-control fidelity-form-input disabled">
          </div>
      </div>
  </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button  class="btn btn-md-fidelity fidelity-btn-brown" [mat-dialog-close]="true" (click)="gotoWasteDisposalRequestAddEdit()" type="submit">Update</button>
      <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
  </mat-dialog-actions>
