<div class="page-heading">
    <h1 class="page-title d-inline-block">Waste Disposal View</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Inventory Management - <span (click)="navigateToList()">Waste Disposal List</span></a></li>
        <li class="breadcrumb-item">Waste Disposal View</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a  class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEdit()">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a> 
    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <div  class="ibox " style="height: auto;">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <div class="ibox-body wd-view-box">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="wonumber" class="key">WO NUmber</span>
                                <span id="wdRequestNumber" class="value">
                                        <span class="d-inline-block">{{wasteDisposalRequestDto?.wdRequestNumber}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Created Date</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{(wasteDisposalRequestDto?.createdDate) | date}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Sub Location</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{wasteDisposalRequestDto?.subLocation ? wasteDisposalRequestDto?.subLocation : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Sub Location ID</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{wasteDisposalRequestDto?.subLocationCode ? wasteDisposalRequestDto?.subLocationCode : '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Created By</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{wasteDisposalRequestDto?.createdBy ? wasteDisposalRequestDto?.createdBy: '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Approved By</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{wasteDisposalRequestDto?.approvedBy ? wasteDisposalRequestDto?.approvedBy: '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">WBC</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{wasteDisposalRequestDto?.companyName ? wasteDisposalRequestDto?.companyName : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Status</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{wasteDisposalRequestDto?.status ? wasteDisposalRequestDto?.status: '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-tab-group [selectedIndex]="selectedTabIndex" class="fidelity-tab-group mat-tab-body-padding-0 mt-3">
                    <mat-tab label="STOCK" class="bg-gray">
                        <div class="container-fluid">
                            <div class="header-row row">
                                <div class="col-3">Stock Code</div>
                                <div class="col-6 stock_name_header">Stock Name</div>
                                <div class="col-3 qty_header">Qty</div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="children-row row mb-2" *ngFor="let wdRequestItems of wasteDisposalRequestDto?.wdRequestItems">
                                <div class="col-3">
                                    <input type="text" value={{wdRequestItems?.itemCode}} class="form-control fidelity-form-input disabled btn-link">
                                </div>
                                <div class="col-6">
                                    <input type="text" value={{wdRequestItems?.itemName}} class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-3">
                                    <input type="text" value={{wdRequestItems?.quantity}} class="form-control fidelity-form-input disabled">
                                </div>
                            </div>
                        </div>                        
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div> 

