<div class="page-heading ">
    <h1 class="page-title d-inline-block">Risk Watch Service</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/customer/manage-customers'> Customer Management</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/customer/manage-customers'> Customer List </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToCustomer()" >{{customerDetails?.customerName}}</a>
        </li>
        <li class="breadcrumb-item">
            Guard Service
        </li>
    </ol>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto !important;">
            <div class="ibox-body view-box brown-border">
                <div class="row mt-2">
                    <div class="col-lg-6 mt-2">
                        <div class="d-flex">
                            <span class="key">Client</span>
                            <span class="value">
                                <span class="d-inline-block">{{customerDetails?.customerName}}</span>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-2">
                        <div class="d-flex">
                            <span class="key">Eligibility </span>
                            <span class="value">
                                <span class="status-label d-inline" [ngClass]="statusClass">
                                    {{statusLabel}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-2">
                        <div class="d-flex">
                            <span class="key" style="width: 18.5%;">Physical Address</span>
                            <span class="value">
                                <select class="form-control fidelity-form-input" [(ngModel)]="addressIndex"
                                    (change)="selectAddress($event)">
                                    <option *ngFor="let address of customerDetails?.addressDetailslist; let i=index"
                                        [value]="i"> {{address.fullAddress}}</option>
                                </select>
                                <!-- <span
                                    class="d-inline-block">{{customerDetails?.addressDetailslist[0]?.fullAddress}} </span> -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div>
    <p-scrollPanel [style]="{height: '65vh'}">
    <div class="mt-2">
        <div class="ibox-body brown-border risk-watch-service-con" *ngIf="selectedAddress">
            <app-risk-watch-service-list [customerId]="customerId" [selectedAddress]="selectedAddress" [addressStatus]="statusLabel" (emitEvent)="emitEvent($event)"
           (emitServiceData)="emitServiceData($event)" ></app-risk-watch-service-list>
        </div>
    </div>

    <div class="mt-2" *ngIf="statusLabel == 'Active'">
        <div class=" risk-watch-service-con" *ngIf="selectedAddress">
            <app-guard-service-list [customerId]="customerId" [selectedAddress]="selectedAddress" [addressStatus]="statusLabel" [submitted]="changesDefected"></app-guard-service-list>
        </div>
    </div>
</p-scrollPanel>
</div>

<p-dialog header="Service Details" [(visible)]="showViewDialog" [baseZIndex]="10000000" [modal]="true" [responsive]="true"
  [style]="{width: '480px', height: '200px'}">
  <p-tabView>
    <p-tabPanel header="Retainer Details">
      <div class="mt-4 p-4">
        {{emitData?.retainerDetailsList?.retainerDetails}}
      </div>
    </p-tabPanel>
    <p-tabPanel header="Signup SOP">
      <div class="mt-4 p-4">{{emitData?.retainerDetailsList?.signupSOP}}</div>
    </p-tabPanel>
    <p-tabPanel header="Request SOP">
      <div class="mt-4 p-4"> {{emitData?.retainerDetailsList?.requestSOP}}</div>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
