<div class="page-heading">
    <h2 class="page-title"> {{scheduleForm?.value?.scheduleType == '1' ? 'Appointment Booking' : 'Inspector
        Allocation'}}
    </h2>

    <ol class="breadcrumb">

        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <!-- <a> Customer Management: {{callType == '1' ? 'Technician' : 'Service'}} Installation </a> -->
            {{isNew ? 'Customer Management' : 'Technical Management'}}

        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToPage()">Inspection {{customerInspectionNumber ? ' : '+customerInspectionNumber : ''}}</a>
        </li>
        <li class="breadcrumb-item">
            {{scheduleForm?.value?.scheduleType == '1' ? 'Appointment Booking' : 'Inspector Allocation'}}
        </li>
    </ol>

    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">

            <!-- <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onCRUDRequested('filter')" matTooltip="Apply Filter"
                *ngIf="scheduleForm?.get('scheduleType')?.value == '2'">
                <i class="fa fa-filter" aria-hidden="true"></i></a> -->

            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onOpenRecurringSchedulePopup()" matTooltip="Recurring Schedule"
                *ngIf="scheduleForm?.get('scheduleType')?.value == '1'">
                <i class="fa fa-refresh" aria-hidden="true"></i></a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" matTooltip="Close"
                (click)="navigateToPage()">
                <i class="fa fa-close" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- <form *ngIf="showFilterForm" [formGroup]="filterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;right: 30px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Division</label>
                           
                            <p-dropdown [style]="{'width':'100%'}" [options]="divisionList" dataKey="id"
                            formControlName="divisionId" placeholder="Select Division" optionLabel="displayName"
                            filter="true" ></p-dropdown>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Branch</label>
                            <p-multiSelect  [style]="{'width':'100%'}" [options]="branchList" dataKey="branchId"
                            formControlName="branchIds" placeholder="Select Branch" optionLabel="branchName"
                            filter="true" ></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Tech Area</label>
                            
                            <p-multiSelect  [style]="{'width':'100%'}" [options]="techAreaList" dataKey="id"
                            formControlName="techAreaIds" placeholder="Select Tech Area" optionLabel="displayName"
                            filter="true" ></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Technician</label>
                            
                            <p-dropdown [style]="{'width':'100%'}" [options]="technitianList" dataKey="id"
                            formControlName="inspectorId" placeholder="Select Technician" optionLabel="displayName"
                            filter="true" ></p-dropdown>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form> -->
</div>

<div class="page-content fade-in-up schedule-calender-employee">


    <div class="ibox white-bg calendar-event-con">
        <div class="ibox-body space-saving-con p-1 mb-2">
            <form [formGroup]="scheduleForm">
                <div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="ui-g-12">Scheduling</label>
                                    <div style="padding-top: 0;" class="ui-g-6">
                                        <p-radioButton name="group1" label="Appointment Booking"
                                            formControlName="scheduleType" value="1" inputId="preopt1">
                                        </p-radioButton>
                                    </div>
                                    <div style="padding-top: 0;" class="ui-g-6">
                                        <p-radioButton name="group1" label="Inspector Allocation"
                                            formControlName="scheduleType" value="2" inputId="preopt2">
                                        </p-radioButton>
                                    </div>

                                </div>
                            </div>

                            <div class="col-2">
                                <div class="form-group">
                                    <label>Period Type</label>
                                    <!-- <select-custom-control [defaultOptionValue]="null" [loopableArray]='siteTypes' formControlName="named_stack">
                                </select-custom-control> -->
                                    <select class="form-control fidelity-form-input" formControlName="periodType"
                                        (change)="setView($event.target.value)">
                                        <!-- <option value="" selected disabled>Select</option> -->
                                        <option [value]="item.id" *ngFor="let item of periodType; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Estimated Time</label>
                                    <input type="text" formControlName="estimatedTime"
                                        class="form-control fidelity-form-input" disabled>
                                </div>
                            </div>

                            <!-- <div class="col-2">
                            <div class="form-group">
                                <label>Tech Area</label>
                                <input type="text"  class="form-control fidelity-form-input" disabled>
                            </div>
                        </div> -->
                            <!-- <div class="col-2" style="    margin-top: 30px;">
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                (click)="setAvailabilityFormValue(true)">Reset</button>
                        </div> -->

                        </div>
                    </div>
                </div>
            </form>
            <form [formGroup]="filterForm" (ngSubmit)="submitFilter()">

                <div class="">
                    <div class="col-12">

                        <div class="row">
                            <div class="col-2">
                                <div class="form-group leads-category-con">
                                    <label class="d-block">Division</label>
                                    <p-dropdown [style]="{'width':'100%'}" [options]="divisionList" dataKey="id"
                                        formControlName="divisionId" placeholder="Select Division"
                                        (click)="isManualSelect = true;isTechnicianManualSelect = false"
                                        optionLabel="displayName" filter="true"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group leads-category-con">
                                    <label class="d-block">Branch</label>
                                    <p-multiSelect [style]="{'width':'100%'}" [options]="branchList" dataKey="branchId"
                                        formControlName="branchIds" placeholder="Select Branch" optionLabel="branchName"
                                        (click)="isManualSelect = true;isTechnicianManualSelect = false" filter="true">
                                    </p-multiSelect>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group leads-category-con">
                                    <label class="d-block">Tech Area</label>
                                    <p-multiSelect [style]="{'width':'100%'}" [options]="techAreaList" dataKey="id"
                                        formControlName="techAreaIds" placeholder="Select Tech Area"
                                        (click)="isManualSelect = true;isTechnicianManualSelect = false"
                                        optionLabel="displayName" filter="true"></p-multiSelect>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group leads-category-con">
                                    <label class="d-block">Inspector</label>

                                    <p-dropdown [style]="{'width':'100%'}" [options]="technitianList" dataKey="id"
                                        formControlName="inspectorId" placeholder="Select Inspector"
                                        (onChange)="isTechnicianManualSelect = true" optionLabel="displayName"
                                        filter="true"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <button class="btn btn-md-fidelity fidelity-btn-brown btn-appointment-filter" type="submit">Filter</button>
                                <button type="button" class="btn btn-md-fidelity btn-primary btn-appointment-filter mr-4"
                                    (click)="resetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-2">
            <!-- <div class="col-md-3" style="float: left;"></div> -->
            <div class="col-md-5" style="float: left; text-align: center;height: 33px;">
                <div class="btn-group">
                    <div class="btn btn-primary p-1" mwlCalendarPreviousView [view]="view" style="height: 33px;"
                        [(viewDate)]="viewDate" (viewDateChange)="onDayChange()" style="height: 33px;">
                        Previous
                    </div>
                    <!-- <ng-container *ngIf="scheduleForm?.value?.scheduleType == '1'; else elseTemplate">
                        <div class="btn btn-outline-secondary p-1" mwlCalendarToday [(viewDate)]="viewDate">
                            Today
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate> -->
                    <div class="date-picker cal-date-picker-icon fdt-date-con" id="appointment_booking_cal"
                        style="margin-right: 3px;height: 33px;">
                        <p-calendar actualDirective [style]="{'width':'100%'}" [(ngModel)]="viewDate"
                            [dateFormat]="getDateFormat()" [ngModelOptions]="{standalone: true}" [minDate]="minDate"
                            [monthNavigator]="true" [yearNavigator]="true" [yearRange]="getYearRange()"
                            [showIcon]="true" [readonlyInput]="true" [showButtonBar]="true"
                            appendTo="appointment_booking_cal" (onSelect)="onDaySelect()">
                        </p-calendar>
                    </div>
                    <!-- </ng-template> -->

                    <div class="btn btn-primary p-1" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="onDayChange()" style="height: 33px;">
                        Next
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-center" style="float: left;">
                <ng-container *ngIf="scheduleForm?.value?.scheduleType == '1'; else elseTemplate1">
                    <h3 class="font-18 mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </ng-container>
                <ng-template #elseTemplate1>
                    <h3 class="font-18 mb-0">{{ viewDate | calendarDate:('dayViewTitle') }}</h3>
                </ng-template>
            </div>
            <div class="col-md-2 text-right" style="float: left; margin-top: -4px;">
                <form [formGroup]='searchTechForm'>

                    <div style="text-align: right; float: right;">
                        <i class="fa fa-search" style="margin:4px 4px 0 0;  position: absolute;
                        right: 24px;
                        z-index: 1;
                        top: 9px;"></i>
                        <!-- <input type="text" pInputText size="30" placeholder="Global Filter"
(input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"> -->
                        <input type="text" pInputText size="30" placeholder="Search " formControlName="search" style="
                            position: relative;width: 100%;">
                    </div>
                </form>
            </div>
        </div>


        <div class="text-center" style="margin-top: 100px;" *ngIf="loadingEvents">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" animationDuration=".5s" strokeWidth="2">
            </p-progressSpinner>
            <br />
            Loading events...
        </div>

        <div class="col-12" *ngIf="(users?.length == 0 || technitianList?.length == 0 || showResult) && !loadingEvents"
            style="text-align: center;margin-top: 100px;">
            <img style="height: 100px;
                width: auto;
                filter: grayscale(1);" src="./assets/img/no_user.png" alt="">
            <!-- <p style="color: red;
                font-size: 17px;
                margin-top: 15px;">No user available</p> -->
            <div class="no-records-found">
                <h4 class="text-muted"><i>No User Available</i></h4>
            </div>

        </div>

        <!-- <br /> -->




        <!-- <div class="ibox-body"> -->


        <div class="row appointment-page-zoom">
            <div class="col-12"
                *ngIf="!showResult && users?.length > 0 && technitianList?.length > 0 && !loadingEvents">

                <div class="basic-info-con custom-scroll" *ngIf="scheduleForm.get('scheduleType').value == '1'">

                    <div [ngSwitch]="view" class="appointment-book-calendar">
                        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
                            [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            (beforeViewRender)="beforeMonthViewRender($event)">

                            <!-- (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
                                (dayClicked)="clickedDate = $event.day.date" -->
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate"
                            [events]="events" [hourSegments]="2" [dayStartHour]="0" [dayEndHour]="23"
                            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            (hourSegmentClicked)="onHoursSegmentClick($event.date)"
                            (beforeViewRender)="beforeWeekViewRender($event)">

                            <!-- (dayHeaderClicked)="clickedDate = $event.day.date" -->
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                            [hourSegments]="2" [dayStartHour]="0" [dayEndHour]="23" [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            (hourSegmentClicked)="onHoursSegmentClick($event.date)"
                            (beforeViewRender)="beforeDayViewRender($event)">
                        </mwl-calendar-day-view>
                    </div>
                </div>
                <div class="basic-info-con custom-scroll" *ngIf="scheduleForm.get('scheduleType').value == '2'">
                    <div class="technician-book-calendar">
                        <mwl-day-view-scheduler-inspect-allocation [viewDate]="viewDate" [events]="events"
                            [hourSegments]="2" [users]="users" [dayStartHour]="0" [dayEndHour]="23"
                            (eventTimesChanged)="eventTimesChanged($event)" (userChanged)="userChanged($event)"
                            (userSelected)="userSelected($event)">
                        </mwl-day-view-scheduler-inspect-allocation>
                    </div>
                </div>

            </div>
        </div>

        <!-- </div> -->

    </div>
    <div class="appointment-div text-center mt-3">
        <button *ngIf="scheduleForm?.value?.scheduleType == '2'"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown btn-post-appointment mr-3"
            [disabled]="users?.length > 0 && selectedUser ? null: true" (click)="onPostScheduleSubmit()">Post
            Schedule</button>
        <!-- <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
            (click)="cancelCheckAvailability()">Cancel</button> -->
    </div>

</div>



<!--  popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '600px'}">
    <p-header>
        {{customerInspectionAppointmentId ? 'Update' : 'New'}} Appointment
    </p-header>
    <form [formGroup]="appointmentFom" (ngSubmit)="onAppointment()">
        <div class="ibox-body mt-3">
            <div class="col-12">
                <!-- {{isPublicHolidayMsg ? 'Public Holiday' : ''}} -->
                <div class="col-12" *ngIf="isPublicHolidayMsg">
                    <span style="    font-weight: bold;
                color: #fff;
                background: orange;
                border-radius: 5px;    display: block;
padding: 8px;
margin-bottom: 30px;text-align: center;">
                        {{isPublicHolidayMsg ? 'You are scheduling for a public holiday' : ''}}
                    </span>
                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Appointment Date<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar formControlName="appointmentDate" [style]="{'width':'100%'}"
                                    disabled="true">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Scheduled Start Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="scheduledStartDate"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    (onSelect)="onSelectTime($event)" [readonlyInput]="true" appendTo="body">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Scheduled End Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="scheduledEndDate"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    [readonlyInput]="true" appendTo="body" disabled="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                    <div class="ui-g-6">
                        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Assign</button>
                    </div>
                    <div class="ui-g-6">

                        <button (click)="showDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>


<!--  popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showUnassignDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '600px'}">
    <p-header>
        Service Call ID {{selectedEventsByAppointmentId ? selectedEventsByAppointmentId?.lable : ''}}
    </p-header>
    <form customForm [formGroup]="unAssignedFom" (ngSubmit)="onUnassigne()">
        <div class="ibox-body mt-3">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Scheduled Start Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="scheduledStartDate"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    (onSelect)="onSelectTimeUnassign($event)" [readonlyInput]="true" appendTo="body">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Scheduled End Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="scheduledEndDate"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    [readonlyInput]="true" appendTo="body" disabled="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Reason<span class="mandatory-field">*</span></label>
                        <select id="divsion" class="form-control fidelity-form-input" name="Reason"
                            placeholder="Select Division" formControlName="comments">
                            <option value="" disabled>Select Reason</option>
                            <option *ngFor="let comment of commentsDropDown" [value]="comment.displayName">
                                {{comment.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="margin-bottom: 15px;">
                    <p-checkbox formControlName="isConfirm" binary="true"
                        label="Informed Customer on appointment changes">
                    </p-checkbox>
                </div>
            </div>
        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                    <div class="ui-g-6">
                        <button [disabled]="!unAssignedFom.get('isConfirm').value" type="submit" pButton
                            class="ui-button-success" style="display: inline-block;background: #115943!important;"
                            label="Unassign"></button>
                    </div>
                    <div class="ui-g-6">

                        <button (click)="showUnassignDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>


<!--  popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showRescheduleDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '600px'}">
    <p-header>
        Reschedul Appointment
    </p-header>
    <form [formGroup]="reAppointmentFom" (ngSubmit)="onReAppointment()">
        <div class="ibox-body mt-3">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Scheduled Start Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="scheduledStartDate"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    (onSelect)="onReSelectTime($event)" [readonlyInput]="true" appendTo="body">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Scheduled End Time<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar [timeOnly]="true" formControlName="scheduledEndDate"
                                    [style]="{'width':'100%'}" [minDate]="minDate" hourFormat="12"
                                    [readonlyInput]="true" appendTo="body" disabled="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                    <div class="ui-g-6">
                        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Assign</button>
                    </div>
                    <div class="ui-g-6">

                        <button (click)="showRescheduleDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<!-- recurring schedule popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showRecurringScheduleDialog"
    [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
    <p-header>
        Recurring Schedule
    </p-header>
    <form customForm [formGroup]="recurringScheduleFom" (ngSubmit)="onRecuringSchedule()">
        <div class="ibox-body mt-3">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="ui-g-12">Choose Type</label>
                        <div style="padding-top: 0;" class="ui-g-4" *ngFor="let item of frequencyList">
                            <p-radioButton name="group2" label="{{item.displayName}}"
                                formControlName="recurringAppointmentFrequencyId" value="{{item.id}}"
                                inputId="preopt{{item.displayName}}">
                            </p-radioButton>
                        </div>
                        <!-- <div style="padding-top: 0;" class="ui-g-4">
                            <p-radioButton name="group2" label="Monthly"
                                formControlName="recurringAppointmentFrequencyId" value="2" inputId="preopt4">
                            </p-radioButton>
                        </div>
                        <div style="padding-top: 0;" class="ui-g-4">
                            <p-radioButton name="group2" label="Yearly"
                                formControlName="recurringAppointmentFrequencyId" value="3" inputId="preopt5">
                            </p-radioButton>
                        </div> -->

                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label> Start Date<span class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar formControlName="startDate" [style]="{'width':'100%'}" [minDate]="minDate"
                                    hourFormat="12">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label> End Date<span *ngIf="!recurringScheduleFom.get('isNoEndDate').value"
                                class="mandatory-field">*</span></label>
                        <div class="  p-relative">
                            <div class="form-group p-relative">
                                <p-calendar formControlName="endDate" [style]="{'width':'100%'}" [minDate]="minDate"
                                    hourFormat="12"
                                    [disabled]="recurringScheduleFom.get('startDate').value ? null : true"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1  ">
                    <div class="form-group" style="    margin-top: 38px;">
                        <mat-checkbox class="fidelity-checkbox" formControlName="isNoEndDate"></mat-checkbox>
                    </div>
                </div>
            </div>

            <!-- valu 1 -->
            <div class="row" *ngIf="recurringScheduleFom.get('recurringAppointmentFrequencyName').value == 'Weekly'">

                <div class="col-3">
                    <div class="form-group">
                        <label>Recur Every<span class="mandatory-field">*</span></label>
                        <!-- <select-custom-control [defaultOptionValue]="null" [loopableArray]='siteTypes' formControlName="named_stack">
                    </select-custom-control> -->
                        <select class="form-control fidelity-form-input" formControlName="recurDay">
                            <!-- <option value="" selected disabled>Select</option> -->
                            <option [value]="item.id" *ngFor="let item of recurringWeeklyList; let i=index">
                                {{item.displayName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group leads-category-con">
                        <label class="d-block">Day<span class="mandatory-field">*</span></label>
                        <p-multiSelect [style]="{'width':'100%'}" [options]="recurringPeriodList"
                            dataKey="requisitionPeriodId" formControlName="details" placeholder="Select Day"
                            filter="true">
                        </p-multiSelect>
                    </div>
                </div>

            </div>

            <!-- value 2 -->
            <div class="row" *ngIf="recurringScheduleFom.get('recurringAppointmentFrequencyName').value == 'Monthly'">
                <div class="col-1">
                    <div class="form-group">
                        <!-- <label class="ui-g-12">Choose Type</label> -->
                        <div style="padding-top: 39px;" class="ui-g-4">
                            <p-radioButton name="group3" value="1" formControlName="recurType" inputId="preopt20">
                            </p-radioButton>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Recur Every (Day)<span *ngIf="recurringScheduleFom.get('recurType').value == '1'"
                                class="mandatory-field">*</span></label>
                        <!-- <select-custom-control [defaultOptionValue]="null" [loopableArray]='siteTypes' formControlName="named_stack">
                    </select-custom-control> -->
                        <!-- <select class="form-control fidelity-form-input" formControlName="recurDay">
                            <option [value]="item.id" *ngFor="let item of recurringDayList; let i=index">
                                {{item.displayName}}</option>
                        </select> -->
                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            disabled>

                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '1'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            formControlName="recurDay">

                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Recur Every (Month)<span *ngIf="recurringScheduleFom.get('recurType').value == '1'"
                                class="mandatory-field">*</span></label>

                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            disabled>

                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '1'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            formControlName="recurMonthNumber">

                    </div>
                </div>
            </div>
            <div class="row" *ngIf="recurringScheduleFom.get('recurringAppointmentFrequencyName').value == 'Monthly'">
                <div class="col-12">
                    <h5 style="color: #dc752d;">Or</h5>
                </div>
            </div>
            <div class="row" *ngIf="recurringScheduleFom.get('recurringAppointmentFrequencyName').value == 'Monthly'">
                <div class="col-1">
                    <div class="form-group">
                        <!-- <label class="ui-g-12">Choose Type</label> -->
                        <div style="padding-top: 39px;" class="ui-g-4">
                            <p-radioButton name="group3" value="2" formControlName="recurType" inputId="preopt21">
                            </p-radioButton>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Recur Every<span *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                                class="mandatory-field">*</span></label>
                        <!-- <select-custom-control [defaultOptionValue]="null" [loopableArray]='siteTypes' formControlName="named_stack">
                    </select-custom-control> -->
                        <select class="form-control fidelity-form-input" formControlName="requisitionWeekPeriodId">
                            <!-- <option value="" selected disabled>Select</option> -->
                            <option [value]="item.id" *ngFor="let item of recurringWeeklyList; let i=index">
                                {{item.displayName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Day<span *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                                class="mandatory-field">*</span></label>
                        <!-- <select-custom-control [defaultOptionValue]="null" [loopableArray]='siteTypes' formControlName="named_stack">
                    </select-custom-control> -->

                        <p-dropdown [style]="{'width':'100%'}" [options]="recurringPeriodList"
                            dataKey="requisitionPeriodId" formControlName="details" placeholder="Select Day"
                            filter="true">
                        </p-dropdown>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label>Recur Every (Month)<span *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                                class="mandatory-field">*</span></label>
                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '1'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            disabled>

                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            formControlName="recurMonthNumber">

                    </div>
                </div>
            </div>


            <!-- value 3 -->
            <div class="row" *ngIf="recurringScheduleFom.get('recurringAppointmentFrequencyName').value == 'Yearly'">

                <div class="col-1">
                    <div class="form-group">
                        <!-- <label class="ui-g-12">Choose Type</label> -->
                        <div style="padding-top: 39px;" class="ui-g-4">
                            <p-radioButton name="group3" value="1" formControlName="recurType" inputId="preopt20">
                            </p-radioButton>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Recur Every (Year)<span *ngIf="recurringScheduleFom.get('recurType').value == '1'"
                                class="mandatory-field">*</span></label>
                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            disabled>

                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '1'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            formControlName="recurMonthNumber">

                    </div>
                </div>
            </div>
            <div class="row" *ngIf="recurringScheduleFom.get('recurringAppointmentFrequencyName').value == 'Yearly'">
                <div class="col-12">
                    <h5 style="color: #dc752d;">Or</h5>
                </div>
            </div>
            <div class="row" *ngIf="recurringScheduleFom.get('recurringAppointmentFrequencyName').value == 'Yearly'">
                <div class="col-1">
                    <div class="form-group">
                        <!-- <label class="ui-g-12">Choose Type</label> -->
                        <div style="padding-top: 39px;" class="ui-g-4">
                            <p-radioButton name="group3" value="2" formControlName="recurType" inputId="preopt21">
                            </p-radioButton>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Recur Every (Week)<span *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                                class="mandatory-field">*</span></label>
                        <!-- <select-custom-control [defaultOptionValue]="null" [loopableArray]='siteTypes' formControlName="named_stack">
                    </select-custom-control> -->
                        <select class="form-control fidelity-form-input" formControlName="requisitionWeekPeriodId">
                            <!-- <option value="" selected disabled>Select</option> -->
                            <option [value]="item.id" *ngFor="let item of recurringWeeklyList; let i=index">
                                {{item.displayName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Recure Every (Day)<span *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                                class="mandatory-field">*</span></label>
                        <!-- <select-custom-control [defaultOptionValue]="null" [loopableArray]='siteTypes' formControlName="named_stack">
                    </select-custom-control> -->

                        <p-dropdown [style]="{'width':'100%'}" [options]="recurringPeriodList"
                            dataKey="requisitionPeriodId" formControlName="details" placeholder="Select Day"
                            filter="true">
                        </p-dropdown>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label>Recur Every (Year)<span *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                                class="mandatory-field">*</span></label>
                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '1'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            disabled>

                        <input type="text" *ngIf="recurringScheduleFom.get('recurType').value == '2'"
                            class="form-control fidelity-form-input" name="Recur Every" [validateInput]='isANumberOnly'
                            formControlName="recurMonthNumber">

                    </div>
                </div>
            </div>
        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                    <div class="ui-g-6">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Submit</button>
                    </div>
                    <div class="ui-g-6">

                        <button (click)="showRecurringScheduleDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>