<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<p-scrollPanel [style]="{height: '78vh'}" styleClass="custom">

  <div class="page-content fade-in-up mt-3">
    <div class="ibox white-bg" style="height: auto !important;;">
      <div class="ibox-body brown-border p-relative">
        <div class="basic-info-con view-box">
          <div class="page-sub-title">CUSTOMER INFO</div>
          <div class="row ">
            <div [class]="item.className" *ngFor="let item of viewData">
              <div class="d-flex mb-3">
                <span class="key d-inline-block" [id]="item.name">{{item.name}} </span>
                <span class="value view-link" (click)="onLinkClick()" *ngIf="item?.enableHyperLink">
                  {{item.value}}</span>
                <span class="value" *ngIf="!item?.enableHyperLink"> {{item.value?item.value:' - '}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-heading p-0" id="anf-div">
    <h3 class="page-title no-border"> Annual Network Fee Discount Approval </h3>
  </div>
  <div class="page-content fade-in-up">
    <form [formGroup]="anfForm" customForm (ngSubmit)="onSubmit()">
      <div class="ibox white-bg" style="height: unset !important;">
        <div class="ibox-body brown-border view-box" style="height: 45vh;">
          <div class="row p-2">
            <div class="col-4">
              <table class="summary-table mt-2">
                <thead>
                  <tr class="first-rows">
                    <th>Current Service</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{anfDetail?.currentServices}}</td>
                    <td>R {{anfDetail?.subscriptionValue}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-4">
              <table class="summary-table mt-2">
                <thead>
                  <tr class="first-rows">
                    <th>Added Services</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{anfDetail?.stockIdName}}</td>
                    <td>R {{anfDetail?.stockValue}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-4">
              <table class="summary-table mt-2">
                <thead>
                  <tr class="first-rows">
                    <th>Summary</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{anfDetail?.summary}} </td>
                    <td>R {{anfDetail?.summaryValue}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label>Status</label>
              <div class="mb-2 form-group">
                <p-radioButton name="isApproved" [value]="true" label="Approved" class="mr-2"
                  formControlName="isApproved"></p-radioButton>
                <p-radioButton name="isApproved" [value]="false" label="Declined" class="ml-2"
                  formControlName="isApproved"></p-radioButton>
              </div>
              <div class="form-group">
                <label>Comments</label>
                <textarea type="text" class="form-control fidelity-form-input" formControlName="comments" rows="3"
                  placeholder="Comments"></textarea>

              </div>
            </div>
            <div class="col-6">
              <div class="d-height-table custom-scroll">
                <table class="grey-table table">
                  <thead>
                    <th>Role Name</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Comments</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let history of anfDetail?.history">
                      <td>{{history.roleName}}</td>
                      <td>{{history.discountAmount}}</td>
                      <td>{{history.status}}</td>
                      <td>{{history.comments}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- </p-scrollPanel> -->
        </div>
      </div>
      <div class="text-center mt-2">
        <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Apply</button>
        <button type="submit" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey">Cancel</button>
      </div>
    </form>
  </div>
</p-scrollPanel>
