<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Link Stock ID Type to Stock Category</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Billing</li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()">Stock ID Type to Stock Category</a>
        </li>
        <li class="breadcrumb-item">View Stock ID Type to Stock Category</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEdit()">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <div class="ibox-body">
            <div class="row">
                <div class="col-12 page-sub-title">BASIC INFO</div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="stockIdTypeNameLabel" class="key">Stock ID Type</span>
                        <span id="stockIdTypeNameValue" class="value">
                            <span class="d-inline-block">{{stockIdTypeCategoryMappingDetail ? stockIdTypeCategoryMappingDetail?.stockIdTypeName : ''}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="stockIdTypeDescriptionLabel" class="key">Stock ID Type Description</span>
                        <span id="stockIdTypeDescriptionValue" class="value">
                            <span class="d-inline-block">{{stockIdTypeCategoryMappingDetail ? stockIdTypeCategoryMappingDetail?.stockIdTypeDescription : ''}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 page-sub-title">LINKED STOCK CATEGORIES</div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="stockCategoryNameLabel" class="key">Stock Category</span>
                        <span id="stockCategoryNameValue" class="value">
                            <span class="d-inline-block">{{stockIdTypeCategoryMappingDetail ? stockIdTypeCategoryMappingDetail?.stockCategoryName : ''}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="stockCategoryDescriptionLabel" class="key">Stock Category Description</span>
                        <span id="stockCategoryDescriptionValue" class="value">
                            <span class="d-inline-block">{{stockIdTypeCategoryMappingDetail ? stockIdTypeCategoryMappingDetail?.stockCategoryDescription : ''}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
            (click)="navigateToList()">Back</button>
        </div>
    </div>
</div>
