<div class="page-heading">
    <h1 class="page-title d-inline-block">Upload Other Boundary Type</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Boundary Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/boundary-management/view/other-boundaries'>View Other Boundaries</a>
        </li>
        <li class="breadcrumb-item"> <a>Upload Other Boundary Type</a></li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg" style="height: auto;">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="ibox-body">
                        <h1 class="page-sub-title ext-padd mt-3">Upload Other Boundary Type</h1>
                        <form customForm [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Type of File</label>
                                        <select disabled class="form-control fidelity-form-input"
                                            formControlName="boundaryLayerId" name="Layer Name">
                                            <option disabled value="">Select Layer Name</option>
                                            <option *ngFor="let layer of layers" [value]="layer.boundaryLayerId">
                                                {{layer.boundaryLayerName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group p-relative support-doc-upload-file">
                                        <label>Upload File </label>
                                        <div class="input-group" style="height: 40px;">
                                            <input type="text" name="filename" id="fileName"
                                                style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;"
                                                class="form-control" placeholder="" formControlName="file" readonly>
                                            <span class="input-group-btn">
                                                <div class="btn custom-file-uploader" id="fileName"
                                                    style="height: 40px; padding: 12px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;background-color: #00644A;">
                                                    <input #fileInput type="file" name="file" [accept]="['.csv']"
                                                        (change)="uploadFile($event.target.files)"
                                                        style="width: 86px;" />
                                                    Browse
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" style="margin-top: 25px;">
                                    <div class="form-group">
                                        <text-area-custom-control formControlName="description">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                    type="submit">Add Boundary</button>
                                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                                    (click)="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>

<style>
    ::ng-deep .input-group ng-component {
    position: absolute !important;
    top: 36px;
}
</style>