<div class="page-heading">
    <h1 class="page-title d-inline-block">View Other Boundaries</h1>
    <ol class="breadcrumb" *ngIf="!boundaryLayerId">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Boundary Management</li>
        <li class="breadcrumb-item">View Other Boundaries</li>
    </ol>
    <ol class="breadcrumb" *ngIf="boundaryLayerId">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Boundary Management</li>
        <li class="breadcrumb-item"><a routerLink='/boundary-management/view/other-boundaries'>View Other Boundaries</a>
        </li>
        <li class="breadcrumb-item">View Boundary Detail</li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '79vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <div class="row">
                                <div [ngClass]="boundaryLayerId?'col-7':'col-12'">
                            <h1 class="page-sub-title ext-padd mt-3">View Other Boundary</h1>
                                    <view-boundaries-list [keyNameOfSidebar]="'Other Boundaries'" [response]="response"
                                    [type]="boundaryLayerId?'others detail':'others'"
                                    (emittedEvent)="onEmittedEvent($event)"
                                    (emitSelectedOwnerDetails)="emitSelectedOwnerDetails($event)">
                                </view-boundaries-list>
                                </div>
                                <div class="col-5" *ngIf="boundaryLayerId">
                                        <app-shared-leaf-let [subCaption]="'View Other Boundaries'" [isDisabled]="true"
                                            [id]="'other_boundary_map'" [shouldShowLegend]="false"
                                            [shouldEnableDownload]='false' [shouldShowFullViewIcon]="true"
                                            [polygonArray]="polygonArray"
                                            (afterDataRenderedInMapAction)="afterDataRenderedInMapAction($event)">
                                        </app-shared-leaf-let>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
            </form>
        </div>
    </div>
</div>