<div class="page-heading">
    <h1 class="page-title d-inline-block">View Technical Boundaries</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Boundary Management</li>
        <li class="breadcrumb-item">View Technical Boundaries</li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">View Technical Boundary</h1>
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Layer</label>
                                                <select name="layer" class="form-control fidelity-form-input"
                                                    [ngModelOptions]="{standalone: true}" (change)="onOptionsSelected()"
                                                    [(ngModel)]="layerId">
                                                    <option value="" disabled>Select Layer Type</option>
                                                    <option *ngFor="let layer of layers"
                                                        [value]="layer.boundaryLayerId">
                                                        {{layer.boundaryLayerName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Region</label>
                                                <select name="Region" [ngModelOptions]="{standalone: true}"
                                                    (change)="onOptionsSelected()" [(ngModel)]="regionId"
                                                    class="form-control fidelity-form-input">
                                                    <option value="" disabled>Select Region</option>
                                                    <option *ngFor="let region of regions" [value]="region.id">
                                                        {{region.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3 mt-4">
                                        <button [disabled]="isSearchBtnDisabled" id="create_new_leads_btn" type="submit"
                                            (click)="onSearchRequestsByKeywords('searchByCriterias')"
                                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">View
                                            Boundary</button>
                                        <button [disabled]="isSearchBtnDisabled" id="create_new_leads_btn_clear"
                                            type="submit" (click)="onSearchRequestsByKeywords('clear')"
                                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Reset</button>
                                    </div>
                                </div>
                                <div class="col-6" style="height: calc(72vh - -2vw);">
                                    <app-shared-leaf-let [isDisabled]="true" [subCaption]="'View Technical Boundaries'"
                                        [shouldShowLegend]="false" [shouldEnableDownload]='false'
                                        [id]="'technical_boundary_map'"
                                        [shouldShowFullViewIcon]="true" [polygonArray]="polygonArray"
                                        (afterDataRenderedInMapAction)="afterDataRenderedInMapAction($event)">
                                    </app-shared-leaf-let>
                                </div>
                            </div>
                            <view-boundaries-list [keyNameOfSidebar]="'Technical Boundaries'" [response]="response" [type]="'technical'"
                            [isANewRequest]="isANewRequest"
                                (emittedEvent)="onEmittedEvent($event)"
                                (emitSelectedOwnerDetails)="emitSelectedOwnerDetails($event)">
                            </view-boundaries-list>
                        </div>
                    </p-scrollPanel>
                </div>
            </form>
        </div>
    </div>
</div>