
tr.hide-table-padding td {
    padding: 0;
  }
  
  ::ng-deep .slider.round.enable:after {
    content: "Disabled";
    right: 7px !important;
}

::ng-deep input:checked + .slider.enable:after {
    content: "Enabled";
    right: 0px !important;
}