<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Transaction Type</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            Billing
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/billing/transaction-configuration/list' [queryParams]="{tab:0}">Transaction Type</a>
        </li>
        <li class="breadcrumb-item">
            View
            
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="edit()" matTooltip="Edit">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body brown-border">
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Transaction Type</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{details?.transactionType ? details?.transactionType : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Transaction Description</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{details?.transactionTypeDescription ? details?.transactionTypeDescription : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Created By</span>
                            <span id="" class="value">
                            <span class="d-inline-block">
                                     {{details?.createdBy ? details?.createdBy : ''}}
                            </span>
                        </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Created Date</span>
                            <span id="" class="value">
                            <span class="d-inline-block">
                                     {{details?.createdDate ?  (details?.createdDate | date) : ''}}
                            </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Status</span>
                            <span id="" class="value">
                            <span class="d-inline-block">
                                     {{details?.isActive ? 'Active' : 'Inactive'}}
                            </span>
                        </span>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </p-scrollPanel>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelCmcSmsGroupBtn"
            routerLink='/billing/transaction-configuration/list' [queryParams]="{tab:0}">Back</button>
    </div>
</div>