<div class="page-heading ">
    <h1 class="page-title d-inline-block"> {{isEdit ? 'Update' : 'View'}} Transaction Description Sub Type Configuration
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            Billing
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/billing/transaction-configuration/list' [queryParams]="{tab:1}">Transaction Sub Type
                Description</a>

        </li>

        <li class="breadcrumb-item" *ngIf="!id">Create Sub Types</li>
        <li class="breadcrumb-item" *ngIf="id" class="breadcrumb-item"> {{isEdit ? 'Update' : 'View'}} Transaction
            Description Sub Type Configuration</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2" *ngIf="id && !isEdit">
        <a title="Edit" (click)="edit()"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            id="pricinf_edit_btn">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">

            <form [formGroup]="transactionSubtypeAddEditForm" customForm (ngSubmit)="onSubmit()">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
                        <div class="ibox-body mb-1">
                            <div class="row">
                                <div class="col-4 mb-3">
                                    <div class="col-12 mb-2 p-0">Transaction Type<span class="mandatory-field">*</span>
                                    </div>
                                    <div class="col-12 p-0">
                                        <div class="form-group">
                                            <select name="Transaction Type" (change)="changeTransactionTYpe()"
                                                formControlName="invoiceTransactionTypeId"
                                                class="form-control fidelity-form-input">
                                                <option value="" disabled>Select Transaction Type</option>
                                                <option *ngFor="let ad of transationTypes" [value]="ad.id">
                                                    {{ad.displayName}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-3">
                                    <div class="col-12 mb-2 p-0">Transaction Description<span
                                            class="mandatory-field">*</span></div>
                                    <div class="col-12 p-0">
                                        <div class="form-group">
                                            <select name="Transaction Description"
                                                (change)="changeTransactionDescription()"
                                                formControlName="invoiceTransactionDescriptionId"
                                                class="form-control fidelity-form-input">
                                                <option value="" disabled>Select Transaction Description</option>
                                                <option *ngFor="let ad of transationDescriptions" [value]="ad.id">
                                                    {{ad.displayName}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="d-flex">
                                        <span id="" class="key">Created By : </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">
                                                <b> {{details?.createdBy ? details?.createdBy : ''}}</b>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="d-flex">
                                        <span id="" class="key">Created Date :</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">
                                                <b> {{details?.createdDate ? (details?.createdDate | date) : ''}} </b>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3" formArrayName="subTypes"
                                *ngFor="let obj of transactionSubtypeAddEditForm?.get('subTypes')?.controls;let i=index">
                                <div class="row" [formGroupName]="i">
                                    <div class="col-3 mb-3">
                                        <div class="col-12 mb-2 p-0">Enter Description</div>
                                        <div class="col-12 p-0">
                                            <div class="form-group">
                                                <input type="text" name="Transaction Type Description"
                                                 formControlName="subTypeDescription"
                                                    class="form-control fidelity-form-input" placeholder="Enter">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7" *ngIf="obj.value.documents.length > 0">
                                        <div class="col-12 mb-2 p-0">Supporting Document</div>
                                        <div class=" mb-2" formArrayName="documents"
                                            *ngFor="let obj1 of getDescriptionDocumentsModelListArray(i)?.controls;let j=index">

                                            <div class="row" [formGroupName]="j">
                                                <div class="col-4 mb-3">

                                                    <div class="col-12 p-0">
                                                        <div class="form-group">
                                                            <input type="text" name="Supporting Document"
                                                                 *ngIf="obj1.value.isActive"
                                                                formControlName="documentName"
                                                                class="form-control fidelity-form-input"
                                                                placeholder="Enter">
                                                            <input type="text" name="Supporting Document"
                                                                *ngIf="!obj1.value.isActive"
                                                                readonly formControlName="documentName"
                                                                class="form-control fidelity-form-input"
                                                                placeholder="Enter">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <button *ngIf="j == 0 && isEdit" (click)="addDocument(i,j)"
                                                        id="add_cmc-sms-group_btn"
                                                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                                        title="add">
                                                        Add Attachment
                                                    </button>
                                                </div>
                                                <div class="col-4" *ngIf="id">
                                                    <mat-radio-group 
                                                        (change)="changeEnable($event,obj1)" formControlName="isActive"
                                                        name="Type Of Fee">
                                                        <mat-radio-button class="fidelity-radio-btn mr-3"
                                                            [value]="true">
                                                            Enable
                                                        </mat-radio-button>
                                                        <mat-radio-button 
                                                            class="fidelity-radio-btn" [value]="false">
                                                            Disable
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1" style="margin-top: 15px">
                                        <button *ngIf="i == 0  && isEdit" (click)="addDescription()"
                                            id="add_cmc-sms-group_btn"
                                            class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn"
                                            title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button *ngIf="id && isEdit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{id ? 'Update' :
                        'Next'}}</button>
                    <button type='button' class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        routerLink='/billing/transaction-configuration/list' [queryParams]="{tab:2}">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>