

<div class="fidelity-popup-heading container-fluid p-relative">{{action}} Transaction Type
    <button mat-icon-button class="close-button p-absolute " [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form  customForm [formGroup]="transactionTypeAddEditForm" (ngSubmit)="onSubmit()">

    <mat-dialog-content>

        <div class="row" style="margin-top:24px;">
            <div class="col-6 ">
                <div class="col-12 mb-2 p-0"> Transaction Type</div>
                <div class="col-12 p-0">
                    <div class="form-group">
                        <input type="text" class="form-control fidelity-form-input"  [minLength]='2' [maxLength]='2'
                            placeholder="Enter" [validateInput]="isAnAlphaNumericOnly" name="Transaction Type" formControlName="transactionType">
                    </div>
                </div>
            </div>
            <div class="col-6 ">
                <div class="col-12 mb-2 p-0"> Transaction Type Description</div>
                <div class="col-12 p-0">
                    <div class="form-group">
                        <input type="text" name="Transaction Description" formControlName="transactionTypeDescription" class="form-control fidelity-form-input"
                            placeholder="Enter">
                    </div>
                </div>
            </div>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button *ngIf="id && showEdit" mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="button" (click)="edit()">Edit</button>
        <button *ngIf="!id || !showEdit" mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="submit">Save</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button" [mat-dialog-close]="true" >Cancel</button>
    </mat-dialog-actions>
</form>
