<div class="fidelity-popup" id='mergeModal'>
    <div class="">
        <div class="modal-content">
        <div class="modal-header fidelity-popup-heading"  mat-dialog-title cdkDrag
        cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body"
        cdkDragHandle>
            <h5 class="modal-title">View Merge</h5>
            <button type="button" class="close text-white" [mat-dialog-close]="true">&times;</button>
        </div>
        <div class="fidelity-modal-body">
                <form class="fidelity-popup-form">
                    <mat-dialog-content>
                        <div class="row p-4">
                            <div class="col-md-12">
                                <div class="mat-elevation-z8">
                                    <table class="fidelity-table" mat-table [dataSource]="dataSource" matSort>

                                        <ng-container matColumnDef="mergedBins">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Merged Bins </th>
                                            <td mat-cell *matCellDef="let element">{{element.mergedBins}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="mergedBinId">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Merged BinId </th>
                                            <td mat-cell *matCellDef="let element">{{element.mergedBinId}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="isUnmerged">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button type="button" [disabled]="element.isUnmerged" >
                                                    <i class="fa fa-columns" (click)="unmergeSelected(element.parentId)" ></i>
                                                </button>

                                            </td>

                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                        </tr>
                                    </table>
                                    <mat-paginator #paginator [length]="totalLength" [pageSize]="limit" [pageSizeOptions]="pageLimit"
                                        (page)="changePage($event)"></mat-paginator>
                                </div>

                            </div>
                        </div>
                    </mat-dialog-content>
                </form>
        </div>

        </div>
        </div>
</div>
