<div class="page-heading ">
  <h1 class="page-title d-inline-block">View Customer</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/customer/manage-customers"><i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/customer/manage-customers">Customer Management </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/customer/manage-customers">Customers List</a>
    </li>
    <li class="breadcrumb-item">View Customer: {{ detailsData?.customer?.customerName ?
      detailsData?.customer?.customerName : '' }}</li>
  </ol>
  <div class="grid-icons-con float-right">
    <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" matTooltip="Close"
      (click)="navigateToPage()" style="top: -2px;">
      <i class="fa fa-close" aria-hidden="true"></i></a>
    <a class="fidelity-btn-circle fidelity-brown-btn">
      <i class="icon icon-tile" aria-hidden="true" matTooltip="Quick Action"></i>
    </a>
  </div>
  <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
  <div class="ibox white-bg">
    <p-scrollPanel [style]="{ height: '75vh'}">
      <div class="ibox-body brown-border">
        <div class=" page-sub-title">Customer INFO</div>
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex mb-2">
              <span class="cust-info-key">Customer ID</span>
              <span class="cust-info-value" (click)="customerNavigate()"
                style="cursor:pointer;color: #3498db !important;">
                {{detailsData?.customer?.customerRefNo}}
              </span>
            </div>
            <div class="d-flex mb-2 ">
              <span class="cust-info-key ">Customer Type</span>
              <span class="cust-info-value p-relative">
                {{detailsData?.customer?.customerTypeName}}
              </span>
            </div>
            <div class="d-flex mb-2">
              <span class="cust-info-key">Contact Number </span>
              <span class="cust-info-value p-relative">
                {{detailsData?.customer?.contactNumber}}
              </span>
            </div>
            <div class="d-flex mb-2">
              <span class="cust-info-key">Region</span>
              <span class="cust-info-value">
                {{detailsData?.customer?.region}}
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex mb-2">
              <span class="cust-info-key">Customer Name</span>
              <span class="cust-info-value">
                {{detailsData?.customer?.customerName}}
              </span>
            </div>
            <div class="d-flex mb-2">
              <span class="cust-info-key">Customer Address</span>
              <span class="cust-info-value">
                {{detailsData?.customer?.contactAddress}}
              </span>
            </div>
            <div class="d-flex mb-2">
              <span class="cust-info-key">Email Address</span>
              <span class="cust-info-value">
                {{detailsData?.customer?.email}}
              </span>
            </div>
            <div class="d-flex mb-2">
              <span class="cust-info-key">SAID</span>
              <span class="cust-info-value">
                {{detailsData?.customer?.said}}
              </span>
            </div>
          </div>
          <div class="col-lg-6" *ngIf="type=='doa'">
            <button style="padding: 9px 23px;;background-color: #459CE8!important;border-color: #459CE8!important;"
              class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4" (click)="onCallWrapupClick()">Call Wrap Up
              Codes</button>
          </div>
        </div>
        <div class=" page-sub-title">Debtor INFO</div>
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex mb-2">
              <span class="cust-info-key">Debtor Name</span>
              <span class="cust-info-value">
                {{detailsData?.debtor?.debtorName}}
              </span>
            </div>
            <div class="d-flex mb-2 ">
              <span class="cust-info-key ">BDI Number</span>
              <span class="cust-info-value p-relative">
                {{detailsData?.debtor?.bdiNumber}}
              </span>
            </div>
            <div class="d-flex mb-2">
              <span class="cust-info-key">Email Address </span>
              <span class="cust-info-value p-relative">
                {{detailsData?.debtor?.email}}
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex mb-2">
              <span class="cust-info-key">Debtor Code</span>
              <span class="cust-info-value">
                {{detailsData?.debtor?.debtorRefNo}}
              </span>
            </div>
            <div class="d-flex mb-2">
              <span class="cust-info-key">Contact Number</span>
              <span class="cust-info-value">
                {{detailsData?.debtor?.contactNumber}}
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="col-4">
            <div class="form-group">
              <label>Contract Number</label>
              <select class="form-control fidelity-form-input" (change)="contractChange($event)">
                <option value="" disabled>Select Contract</option>
                <option *ngFor="let contract of detailsData?.contracts" [value]="contract.id">
                  {{contract.displayName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class=" page-sub-title">Outstanding Balance</div>
        <div class="row mt-1 mb-2" style="font-size: 0.9rem;">
          <div class="outstanding-balance-col-width">
            <label for="">D180</label>
            <input type="text" class="form-control fidelity-form-input disabled"
              [value]="detailsData?.outstandingBalance.d180">
          </div>
          <div class="outstanding-balance-col-width">
            <label for="">D150</label>
            <input type="text" class="form-control fidelity-form-input disabled"
              [value]="detailsData?.outstandingBalance.d150">
          </div>
          <div class="outstanding-balance-col-width">
            <label for="">D120</label>
            <input type="text" class="form-control fidelity-form-input disabled"
              [value]="detailsData?.outstandingBalance.d120">
          </div>
          <div class="outstanding-balance-col-width">
            <label for="">D90</label>
            <input type="text" class="form-control fidelity-form-input disabled"
              [value]="detailsData?.outstandingBalance.d90">
          </div>
          <div class="outstanding-balance-col-width">
            <label for="">D60</label>
            <input type="text" class="form-control fidelity-form-input disabled"
              [value]="detailsData?.outstandingBalance.d60">
          </div>
          <div class="outstanding-balance-col-width">
            <label for="">D30</label>
            <input type="text" class="form-control fidelity-form-input disabled"
              [value]="detailsData?.outstandingBalance.d30">
          </div>
          <div class="outstanding-balance-col-width">
            <label for="">Current</label>
            <input type="text" class="form-control fidelity-form-input disabled"
              [value]="detailsData?.outstandingBalance.current">
          </div>
          <div class="outstanding-balance-col-width">
            <label for="">Balance</label>
            <input type="text" class="form-control fidelity-form-input disabled"
              [value]="detailsData?.outstandingBalance.totalOutstanding">
          </div>
        </div>
        <div class="row">
          <div class="col-9">
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12 p-relative">
            <div class="grid-icons-con  customer-info-btns p-absolute"
              style="position: absolute;top: -9px;z-index: 100;right: 40px;">
              <a class="fidelity-btn-circle fidelity-white-btn quick-action-top-btn p-relative">
                <i aria-hidden="true" class="icon icon-filter"></i>
                <div class="quick-action-sidebar p-absolute quick-action-top-con quickAction-filter-top" style="bottom: 15px !important">
                  <div class="quick-action-sidebar-body p-relative">
                    <ul class="quick-action-menu-con" style="text-align: left !important">
                      <li class="quick-action-menu mb-1">
                        <mat-checkbox class="fidelity-checkbox" [(ngModel)]="openTransaction"
                          (ngModelChange)="getRequiredListData()">Open Transactions
                        </mat-checkbox>
                      </li>
                      <li class="quick-action-menu mb-1">
                        <mat-checkbox class="fidelity-checkbox" [(ngModel)]="allocatedTransaction"
                          (ngModelChange)="getRequiredListData()">Allocated Transactions
                        </mat-checkbox>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
            <div class="primeng-table-wrapper">
              <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
                <mat-tab [label]="tables.caption" [disabled]="tables.disabled"
                  *ngFor='let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index'>
                  <form [formGroup]="columnFilterForm">
                    <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
                      [(selection)]="selectedRows" [scrollable]="true" scrollHeight="390px" [autoLayout]="true"
                      [resizableColumns]="tables?.resizableColumns" (onLazyLoad)="loadPaginationLazy($event)"
                      [loading]="loading" [value]="dataList" [dataKey]="tables.dataKey"
                      [paginator]="(totalRecords == 0) ? false : true" [rows]="10" [totalRecords]="totalRecords"
                      [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null" [responsive]="true"
                      columnResizeMode="expand" [reorderableColumns]="tables?.reorderableColumns"
                      (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                      <ng-template pTemplate="caption">
                        <div class="ui-helper-clearfix" style="text-align: left">

                          <div class="row">
                            <div class="col-md-5" style="padding-left: 0;">
                              <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                                (click)="dt.exportCSV()" style="margin-right: 0.5em;"
                                *ngIf="tables?.enableExportCSV"></button>
                              <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                                style="margin-right: 0.5em;" class="ui-button-success"
                                *ngIf="tables?.enableExportExcel"></button>
                              <!-- (click)="exportExcel()"  -->
                              <!-- <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button> -->
                              <button type="button" pButton icon="pi pi-file" iconPos="left"
                                label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"
                                style="margin-right: 0.5em;" class="ui-button-warning"
                                *ngIf="tables?.enableExportCSVSelected"></button>
                              <button type="button" pButton icon="pi pi-undo" iconPos="left" label="Reset"
                                (click)="dt.reset()" style="margin-right: 0.5em;" class="ui-button-secondary"
                                *ngIf="tables?.enableReset"></button>

                            </div>

                            <div class="col-md-7" style="padding-right: 0;">
                              <form [formGroup]="searchForm">

                                <div style="text-align: right; float: right;"
                                  *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>

                                  <input type="text" pInputText size="30" placeholder="Global Filter"
                                    formControlName="searchKeyword" style="width:auto">
                                </div>
                              </form>

                            </div>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                          <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                          <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr class="first-row">
                          <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                            pReorderableColumn>
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                              ariaLabelDesc="Activate to sort in descending order"
                              ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon>
                          </th>
                          <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                            *ngIf="tables?.enableRowDelete">
                            Action
                          </th>
                        </tr>
                        <tr *ngIf="tables?.enableFieldsSearch">
                          <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                          </th>
                          <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input [formControlName]="col.field" [validateInput]='isAnAlphaNumericOnly'
                              *ngIf="col.field != 'isActive' && !col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                              pInputText type="text">
                            <p-calendar [formControlName]="col.field" [utc]='true' [maxDate]="today"
                              *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                              (onClearClick)="dt.filter($event.value,col.field,null)">
                            </p-calendar>
                            <p-dropdown [formControlName]="col.field"
                              *ngIf="col.field == 'isActive' && i == selectedTabIndex" appendTo="body"
                              [options]="status" placeholder="Select Status" [style]="{'width':'75%'}"
                              [showClear]="true">
                            </p-dropdown>
                          </th>
                          <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                            *ngIf="tables?.enableRowDelete"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                        let-expanded="expanded">

                        <tr [pSelectableRow]="rowData">
                          <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox ">
                            <p-tableCheckbox [value]="rowData" (click)="checkboxSelected(rowData, $event)">
                            </p-tableCheckbox>
                          </td>
                          <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle
                            [ngStyle]="{'text-align': (col.field == 'debitAmount' || col.field == 'creditAmount' || col.field == 'outstandingAmount' || col.field == 'startTotal' || col.field == 'total') ? 'right':'left'}">
                            <a href="#" [pRowToggler]="rowData"
                              *ngIf="selectedTabIndex==0 && tables?.rowExpantable && i == tables?.rowExpantableIndex">
                              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                (click)="getRowItems(rowData,'pi pi-chevron-right')"></i>
                            </a>
                            <ng-container
                              *ngIf="col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                            </ng-container>
                            <ng-template #thenTemplate>
                              <ng-container
                                *ngIf="col.field.toLowerCase() !='debitdate' && col.field.toLowerCase().includes('date')">
                                {{rowData[col.field] ? (rowData[col.field] |
                                date) : '--'}}
                              </ng-container>
                              <ng-container *ngIf="col.field.toLowerCase() =='debitdate'">
                                {{rowData[col.field] ? (rowData[col.field] |
                                date) : '--'}}
                              </ng-container>
                            </ng-template>
                            <ng-template #elseTemplate>
                              <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                                <a style="color: #166DFF;" pTooltip="{{rowData[col?.field]}}" tooltipPosition="top"
                                  (click)="onCRUDRequested('view',rowData)">
                                  {{rowData[col.field] ? rowData[col.field] : '--'}}
                                </a>
                              </ng-container>
                              <ng-container *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                                <a style="color: #166DFF;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                                  (click)="onCRUDRequested('edit',rowData, col.field)">
                                  {{rowData[col.field] ? rowData[col.field] : '--'}}
                                </a>
                              </ng-container>
                              <ng-container
                                *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                                <ng-container *ngIf="col?.isCheckbox">
                                  <p-checkbox class="fidelity-checkbox fidelity-checkbox-header d-block"
                                    [(ngModel)]="rowData[col.field]" [ngModelOptions]="{standalone: true}" binary="true"
                                    [disabled]="col?.isDisabled">
                                  </p-checkbox>
                                </ng-container>
                                <ng-container *ngIf="!col?.isCheckbox">
                                  <ng-container
                                    *ngIf="col.field == 'debitAmount' || col.field == 'creditAmount' || col.field == 'outstandingAmount' || col.field == 'startTotal' || col.field == 'total'; else elseColumTemplate">
                                    <span pTooltip="{{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No' :
                                                                rowData[col.field] ? rowData[col.field] : '--'}}"
                                      tooltipPosition="top">
                                      {{rowData[col.field] === true ? 'Yes' :
                                      rowData[col.field] === false ?
                                      'No' :
                                      rowData[col.field] ? (rowData[col.field] |
                                      formatNumber) :
                                      '--'}}
                                    </span>
                                  </ng-container>
                                  <ng-template #elseColumTemplate>
                                    <span pTooltip="{{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No' :
                                                                rowData[col.field] ? rowData[col.field] : '--'}}"
                                      tooltipPosition="top">
                                      {{rowData[col.field] === true ? 'Yes' :
                                      rowData[col.field] === false ?
                                      'No' :
                                      rowData[col.field] ? rowData[col.field] :
                                      '--'}}
                                    </span>
                                  </ng-template>


                                </ng-container>
                              </ng-container>
                            </ng-template>


                          </td>
                          <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                            <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                              class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
                          </td>
                        </tr>

                      </ng-template>

                      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                        <tr>
                          <td [attr.colspan]="columns.length + 1">
                            <div class="ui-g ui-fluid" style="background: #fff;">
                              <div class="ui-g-12 ui-md-12">
                                <div class="ui-g">
                                  <!-- payment details -->
                                  <table class="table table-bordered" *ngIf="selectedTabIndex == 0">
                                    <thead style=" background: #eee; font-size: 12px;">
                                      <tr>
                                        <th style="padding: 5px;">PostDate </th>
                                        <th style="padding: 5px;">Transaction Number</th>
                                        <th style="padding: 5px;">Type </th>
                                        <th style="padding: 5px;">Description </th>
                                        <th style="padding: 5px;">Reference No</th>
                                        <th style="padding: 5px;">Debit </th>
                                        <th style="padding: 5px;">Credit </th>
                                        <th style="padding: 5px;">Outstanding </th>
                                        <th style="padding: 5px;">Payment Status </th>
                                      </tr>
                                    </thead>
                                    <tbody style="font-size: 12px;"
                                      *ngIf="paymentDetails && paymentDetails[rowData.index] && paymentDetails[rowData.index].length > 0">
                                      <tr *ngFor="let dt of paymentDetails[rowData.index]">
                                        <td style="padding: 5px;">{{dt.postDate }}</td>
                                        <td style="padding: 5px;">{{dt.transactionRefNo }}</td>
                                        <td style="padding: 5px;">{{dt.transactionType}}</td>
                                        <td style="padding: 5px;">{{dt.transactionDescription}}</td>
                                        <td style="padding: 5px;">{{dt.referenceNumber}}</td>
                                        <td style="padding: 5px;">{{dt.debitAmount}}</td>
                                        <td style="padding: 5px;">{{dt.creditAmount}}</td>
                                        <td style="padding: 5px;">{{dt.outstandingAmount}}</td>
                                        <td style="padding: 5px;">{{dt.paymentStatus}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <!-- stock details -->
                                  <table class="table table-bordered" *ngIf="selectedTabIndex == 0">
                                    <thead style=" background: #eee; font-size: 12px;">
                                      <tr>
                                        <th style="padding: 5px;">Stock ID</th>
                                        <th style="padding: 5px;">Stock Description</th>
                                        <th style="padding: 5px;">GL Code </th>
                                        <th style="padding: 5px;">Unit Price Exc </th>
                                        <th style="padding: 5px;">Qty</th>
                                        <th style="padding: 5px;">Total Exc</th>
                                        <th style="padding: 5px;">VAT Total</th>
                                        <th style="padding: 5px;">Total Incl
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody style="font-size: 12px;"
                                      *ngIf="subTransaction[rowData.index] && subTransaction[rowData.index].length >0">
                                      <tr *ngFor="let dts of subTransaction[rowData.index]">
                                        <td style="padding: 5px;">{{dts.stockId}}</td>
                                        <td style="padding: 5px;">{{dts.stockDescription}}</td>
                                        <td style="padding: 5px;">{{dts.glCode}}</td>
                                        <td style="padding: 5px;">{{dts.unitPrice}}</td>
                                        <td style="padding: 5px;">{{dts.quantity}}</td>
                                        <td style="padding: 5px;">{{dts.totalExcl}}</td>
                                        <td style="padding: 5px;">{{dts.vatTotal}}</td>
                                        <td style="padding: 5px;">{{dts.totalIncl}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table class="table table-bordered" *ngIf="false">
                                    <thead style=" background: #eee; font-size: 12px;">
                                      <tr>
                                        <th style="padding: 5px;">Stock ID</th>
                                        <th style="padding: 5px;">Stock
                                          Description</th>
                                        <th style="padding: 5px;">Stock Category
                                        </th>
                                        <th style="padding: 5px;">Unit Price Exc
                                        </th>
                                        <th style="padding: 5px;">Qty</th>
                                        <th style="padding: 5px;">Total Exc</th>
                                        <th style="padding: 5px;">VAT Total</th>
                                        <th style="padding: 5px;">Total Incl
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody style=" font-size: 12px;">
                                      <tr *ngFor="let dt of rowData.stockitems">
                                        <td style="padding: 5px;">
                                          {{dt.itemCode}}</td>
                                        <td style="padding: 5px;">
                                          {{dt.description}}</td>
                                        <td style="padding: 5px;">{{dt.glCode}}
                                        </td>
                                        <td style="padding: 5px;">
                                          {{dt.unitPrice}}</td>
                                        <td style="padding: 5px;">{{dt.qty}}
                                        </td>
                                        <td style="padding: 5px;">
                                          {{dt.subTotal}}</td>
                                        <td style="padding: 5px;">{{dt.vat}}
                                        </td>
                                        <td style="padding: 5px;">{{dt.total}}
                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>

                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="footer">
                        <tr *ngIf="selectedTabIndex == 0&&totalRecords>0">
                          <td style="width: 40px;"></td>
                          <td style="width: 200px;"><strong>Total</strong></td>
                          <td style="width: 100px;"></td>
                          <td style="width: 200px;"></td>
                          <td style="width: 150px;"></td>
                          <td style="width: 150px;"></td>
                          <td style="width: 100px;text-align: right;"><strong>{{debitAmount |
                              formatNumber }}</strong></td>
                          <td style="width: 100px;text-align: right;"><strong>{{creditAmount |
                              formatNumber }}</strong></td>
                          <td style="width: 100px;text-align: right;">
                            <strong>{{outstandingAmount |
                              formatNumber}}</strong>
                          </td>
                          <td style="width: 100px;"></td>
                        </tr>
                        <tr *ngIf="selectedTabIndex == 1&&totalRecords>0">
                          <td style="width: 40px;"></td>
                          <td style="width: 170px;"><strong>Total</strong></td>
                          <td style="width: 160px;"></td>
                          <td style="width: 150px;"></td>
                          <td style="width: 120px;"></td>
                          <td style="width: 130px;"></td>
                          <td style="width: 120px;"></td>
                          <td style="width: 150px;text-align: right;"><strong>{{startTotal |
                              formatNumber}}</strong></td>
                          <td style="width: 150px;text-align: right;"><strong>{{total |
                              formatNumber}} </strong></td>
                          <td style="width: 120px;"></td>
                        </tr>

                      </ng-template>

                      <ng-template pTemplate="paginatorleft" let-state>
                        <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                          {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows *
                            (state.page + 1) : totalRecords}} of <strong>{{totalRecords ? totalRecords :
                            pageSize}}</strong> entries
                        </p>
                      </ng-template>
                    </p-table>
                  </form>
                  <!-- </p-tabPanel>
                        </p-tabView> -->
                  <div style="text-align: center;">
                    <button *ngIf="selectedTabIndex == 1" [disabled]="!isEnableWieverViewBtn" type="button"
                      (click)="isOpenBalanceOfContract = true"
                      class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                      Waiver Fee Status
                    </button>
                  </div>

                </mat-tab>
              </mat-tab-group>
            </div>
          </div>

          <div class="p-relative" *ngIf="selectedTabIndex==0 || selectedTabIndex==1">
            <div id="quickaction_sidebar" class="quick-action-sidebar p-absolute" style="top: 8%;right: 0;right: -6px;">
              <div class="quick-action-sidebar-header d-flex justify-content-between align-items-center">
                <span>Quick Action</span>
                <span class="icon icon-close-icon" (click)="closeNav()"></span>
              </div>
              <div class="quick-action-sidebar-body p-relative">
                <div class="p-relative open-btn-con" style="left: -30px;height:32.8px;position: absolute!important;">
                  <button class="btn open-btn" (click)="openNav()">|||</button>
                </div>
                <ul class="quick-action-menu-con cursor-pointer">
                  <li  *ngIf="selectedTabIndex==0" class="quick-action-menu mb-1" (click)="openDialog('create-invoice')">
                    <a> Create Invoice</a>
                  </li>
                  <li  *ngIf="selectedTabIndex==0" class="quick-action-menu mb-1" (click)="openDialog('invoice-info')">
                    <a>Send Invoice/Statement</a>
                  </li>
                  <li  class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0" (click)="openDialog('Credit-Note')">
                    <a>Credit Note</a>
                  </li>
                  <li   class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0" (click)="openDialog('Debit-Note')">
                    <a>Debit Note</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0"
                    (click)="openDialog('credit-reinvoice')">
                    <a>Credit and Re-Invoice</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0"
                    (click)="openDialog('bad-debit-writeoff')">
                    <a>Bad Debt Write Off</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0"
                    (click)="openDialog('bad-debit-recovery')">
                    <a>Bad Debt Recovery</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0"
                    (click)="openDialog('bad-debit-reversal')">
                    <a>Bad Debt Recovery-Reversal</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0" (click)="openDialog('refunds')">
                    <a>Refunds</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 1"
                    (click)="openDialog('remove-credit-Note')">
                    <a>Remove Credit Notes</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0"
                    (click)="openDialog('allocate-transaction')">
                    <a>Allocate Transaction</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 1"
                    (click)="openDialog('remove-payment')">
                    <a>Remove Payment Option</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0 " (click)="openDialog('debit-order')">
                    <a>Debit Order</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 0 "
                    (click)="openDialog('payment-underride')">
                    <a>Payment Underride</a>
                  </li>
                  <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 1"
                    (click)="openDialog('view-transaction')">
                    <a>View Transactions</a>
                  </li>
                  <!-- <li class="quick-action-menu mb-1">
                                    <a>Send Invoices</a>
                                </li> -->
                  <!-- <li class="quick-action-menu mb-1">
                    <a>Statement</a>
                  </li> -->
                  <!-- <li class="quick-action-menu mb-1" *ngIf="selectedTabIndex == 1 || selectedTabIndex == 2"
                    (click)="openDialog('view-transaction')">
                    <a>View Transactions</a>
                  </li> -->

                  <li  *ngIf="selectedTabIndex==0" class="quick-action-menu mb-1" (click)="openDialog('payment-transfer')">
                    <a>Transfer</a>
                  </li>
                  <li  *ngIf="selectedTabIndex==0" class="quick-action-menu mb-1" (click)="openDialog('payment-split')">
                    <a>Payment Split</a>
                  </li>
                  <li  *ngIf="selectedTabIndex==0" class="quick-action-menu mb-1" (click)="openDialog('request-reinstatement')">
                    <a>Request Re-instatement</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-scrollPanel>
  </div>

  <!-- Payment Underride pop up -->
  <p-dialog styleClass="paymentUnderrideDialog" [maximizable]="true" [(visible)]="paymentUnderride" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '700px'}">
    <p-header>
      Payment Underride
    </p-header>
    <div>
      <form customForm [formGroup]="paymentUnderrideForm" (ngSubmit)="submitUnderRide()" class="fidelity-popup-form"
        style="font-size: 0.9rem!important;">
        <div>
          <p-scrollPanel [style]="{ height: '40vh'}">
            <div class="view-box">
              <!-- srt kery value -->
              <div class="row mt-1 mb-2">
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Debtor Code</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.debtorRefNo}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">BDI Number</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.bdiNumber}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Debtor Name</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.debtorName}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Bank Name</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.bankName}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Transaction Type</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.transactionType}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Reference Number</span>
                    <span class="value">
                      <span class="d-inline-block">{{ details?.invoices.length >0 ? details?.invoices[0]?.invoiceRefNo :
                        '-' }}</span>
                    </span>
                  </div>
                </div>
              </div>
              <!-- end kery value -->
              <!-- srt textbox -->
              <div class="row">
                <div class="col-6 p-0">
                  <div class="col-12 mb-2">Underride Amount</div>
                  <div class="col-12">
                    <div class="form-group">
                      <input type="text" [validateInput]="isADecimalOnly" formControlName="amount"
                        class="form-control fidelity-form-input" value="500">
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="col-12 mb-2">Motivation</div>
                  <div class="col-12">
                    <div class="form-group">
                      <input type="text" formControlName="motivation" class="form-control fidelity-form-input"
                        value="payment received for last month bill">
                    </div>
                  </div>
                </div>
              </div>
              <!-- end text box -->
            </div>
          </p-scrollPanel>
        </div>

        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
              <button type="submit" pButton class="ui-button-success mr-4"
                style="display: inline-block;background: #115943!important;" label="Apply"></button>
              <button (click)="paymentUnderride = false" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                style="padding:7px">Cancel</button>
            </div>
          </div>
        </p-footer>
      </form>
    </div>
  </p-dialog>

  <!-- Payment Override pop up -->
  <p-dialog styleClass="paymentOverrideDialog" [maximizable]="true" [(visible)]="paymentOverride" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '800px'}">
    <p-header>
      {{isPaymentRemove?'Removal Alert ':'Debit Order'}}
    </p-header>
    <app-popup-loader>
    </app-popup-loader>
    <div>
      <div class="mt-2 mb-2" *ngIf="isPaymentRemove">
        Are you sure you want to remove the payment - {{selectedRows[0]?.transactionRefNo}}
      </div>
      <form customForm [formGroup]="paymentOverrideForm" class="fidelity-popup-form"
        style="font-size: 0.9rem!important;" (ngSubmit)="submit()">
        <div>
          <p-scrollPanel [style]="{ height: '50vh'}">
            <div class="view-box">
              <div class="row p-0">
                <div class="col">
                  <div class="form-group mb-0">
                    <label class="col-12 p-0">Payment Type</label>
                    <mat-radio-group formControlName="isPaymentTypeSingle" (change)="changePaymentType()">
                      <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                        Single
                      </mat-radio-button>
                      <mat-radio-button class="fidelity-radio-btn" [value]="false">
                        Multiple
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Debtor Code</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.debtorRefNo}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">BDI Number</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.bdiNumber}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Debtor Name</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.debtorName}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Bank Name</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.bankName}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Bank Account Number</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.accountNo}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Transaction Type</span>
                    <span class="value">
                      <span class="d-inline-block">{{details?.transactionType}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Reference Number</span>
                    <span class="value">
                      <span class="d-inline-block">{{ (details?.invoices && details?.invoices.length >0) ?
                        details?.invoices[0]?.invoiceRefNo : (this.selectedRows[0]?.transactionRefNo ?
                        this.selectedRows[0].transactionRefNo : '-')}}</span>
                      <!-- <span class="d-inline-block">{{details?.invoiceRefNo}}</span> -->
                    </span>
                  </div>
                </div>
              </div>
              <!-- end kery value -->

              <!-- srt dropdowns-->
              <div class="row">
                <!-- run ID -->
                <div class="col-6 form-group">
                  <label class="col-form-label" for="alternativeLocationId">DO Run ID<span
                      class="mandatory-field">*</span></label>
                  <select class="form-control fidelity-form-input" formControlName="debitOrderRunCodeId">
                    <option value="">Select DO Run ID</option>
                    <option *ngFor=" let option of doRunData" [value]="option.id">
                      <span>{{option.displayName}}</span>
                    </option>
                  </select>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label>SMS Notification Number</label>
                    <div class=" fidelity-ph-no-field">
                      <div>
                        <div class="row">
                          <div class="col-1">
                            <mat-checkbox class="fidelity-checkbox" formControlName="isSMSNotification"> </mat-checkbox>
                          </div>
                          <div class="col-2">
                            <div class="form-group" style="width: 15vh!important;">
                              <select class="form-control fidelity-form-input"
                                style="height: 40px!important;margin-top: 2px;"
                                formControlName="smsNotificationNoCountryCode">

                                <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                                  {{countryCode.displayName}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="form-group" style="width: 30vh !important;margin-left: 9px;">
                              <input autocomplete="off" appPhoneMask style="height: 40px!important;margin-top: 2px;"
                                [title]="paymentOverrideForm?.get('smsNotificationNoCountryCode')?.value"
                                class="form-control fidelity-form-input" name="Notification Number"
                                formControlName="smsNotificationNo" placeholder="Enter Notification Number">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <!-- srt dates -->
              <div class="row" *ngIf="!paymentOverrideForm?.value?.isPaymentTypeSingle">
                <div class="col-3 p-0">
                  <div class="col-12 mb-2">Start Date</div>
                  <div class="col-12">
                    <div class="fidelity-date-picker-con Payment-Date p-relative">
                      <!-- <input matInput [matDatepicker]="dtPicker4" [(ngModel)]="startDate"
                        [ngModelOptions]="{standalone: true}" class="fidelity-form-input"
                        style="padding: 9px 10.5px;border-radius: 7px;line-height: 20px;border: 1px solid rgba(0, 0, 0, 0.15);font-size: 1.25rem;">
                      <mat-datepicker-toggle matSuffix [for]="dtPicker4" style="float: right;margin-top: -41px;">
                      </mat-datepicker-toggle>
                      <mat-datepicker #dtPicker4></mat-datepicker> -->
                      <p-calendar [(ngModel)]="startDate"
                      [ngModelOptions]="{standalone: true}" styleClass="w-100"></p-calendar>

                    </div>
                  </div>
                </div>
                <div class="col-3 p-0">
                  <div class="col-12 mb-2">Total Payment Amount</div>
                  <div class="col-12">
                    <div class="form-group">
                      <input type="text" readonly [(ngModel)]="totalAmtShown" [ngModelOptions]="{standalone: true}"
                        class="form-control fidelity-form-input">
                    </div>
                  </div>
                </div>
                <div class="col-3 p-0">
                  <div class="col-12 mb-2">No. of Payments</div>
                  <div class="col-12">
                    <div class="form-group">

                      <select class="form-control fidelity-form-input" formControlName="noOfPayments">
                        <option value="" disabled>Select No of payments</option>
                        <option *ngFor=" let option of noOfPayments" [value]="option">
                          <span>{{option}}</span>
                        </option>
                      </select>
                      <!-- <input type="text" formControlName="noOfPayments" class="form-control fidelity-form-input" > -->
                    </div>
                  </div>
                </div>
                <div class="col-2 p-0 vertical-center-align mt-3">
                  <div class="col-12">
                    <button type="button" class="btn btn-primary btn-block " (click)="assign()">Assign</button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="transactions">
                <div class="" formArrayName="transactions"
                  *ngFor="let obj of getTransactionsListArray?.controls;let i=index">
                  <div class="row" [formGroupName]="i">
                    <div class="col-3 mt-2"
                      *ngIf="paymentOverrideForm?.value?.isPaymentTypeSingle && selectedInvoices.length > 1">
                      <label> Reference No</label>
                      <input type="text" formControlName="invoiceRefNo" readonly
                        class="form-control fidelity-form-input" value="13-01-2021">
                    </div>
                    <div class="col-3 mt-2"
                      *ngIf="paymentOverrideForm?.value?.isPaymentTypeSingle && selectedInvoices.length > 1">
                      <label> Description</label>

                      <input type="text" formControlName="description" readonly class="form-control fidelity-form-input"
                        value="13-01-2021">
                    </div>
                    <div class="col-3 mt-2">
                      <label> Debit Dates</label>
                      <!-- <input matInput [matDatepicker]="dtPicker3" formControlName="debitDate"
                        class="fidelity-form-input"
                        style="padding: 9px 10.5px;border-radius: 7px;line-height: 20px;border: 1px solid rgba(0, 0, 0, 0.15);font-size: 1.25rem;">
                      <mat-datepicker-toggle matSuffix [for]="dtPicker3" style="float: right;margin-top: -41px;">
                      </mat-datepicker-toggle>
                      <mat-datepicker #dtPicker3></mat-datepicker> -->


                      <p-calendar formControlName="debitDate" styleClass="w-100"></p-calendar>
                    </div>
                    <div class="col-3 mt-2">
                      <label> Amount </label>

                      <input formControlName="amount" [validateInput]='isADecimalOnly' (input)="onChangeAmount(i)"
                        class="form-control fidelity-form-input">

                      <span class="text-danger" *ngIf="(obj?.get('amount')?.errors?.dgdgdgdg )">
                        Payment exceeds the total outstanding amount
                      </span>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="row mt-4">
                <div class="col-12">
                  <div class="form-group">
                    <label>Transaction Description<span class="mandatory-field">*</span></label>
                    <input class="form-control fidelity-form-input" readonly formControlName="transactionDescription"
                      type="text" />
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label>Notes<span class="mandatory-field">*</span></label>
                    <input class="form-control fidelity-form-input" formControlName="notes" type="text" />
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </div>
        <p-footer>


              <div class="text-center mt-3">


              <button type="submit"  class="btn btn-md-fidelity fidelity-btn-brown btn-width">Apply</button>
              <button (click)="paymentOverride = false" class="btn btn-md-fidelity fidelity-btn-grey btn-default btn-width">Cancel</button>
                </div>

        </p-footer>
      </form>

    </div>
  </p-dialog>

  <!-- Invoice info pop up -->
  <p-dialog styleClass="invoiceInfo" [maximizable]="true" [(visible)]="invoiceInfo" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '750px'}">
    <p-header>
      Invoice Info
    </p-header>
    <app-popup-loader></app-popup-loader>
    <div>
      <form customForm [formGroup]="paymentInvoiceForm" *ngIf="paymentInvoiceForm" (ngSubmit)="submitInvoice()" class="fidelity-popup-form"
        style="font-size: 0.9rem!important;">
        <div>
          <p-scrollPanel [style]="{ height: '40vh'}">
            <div class="view-box">
              <div class="row mt-1">
                <div class="col-6" *ngIf="!isNotInvoiceType">
                  <div class="d-flex mb-2">
                    <span class="key">Reference No</span>
                    <span class="value">
                      <span class="d-inline-block">{{invoiceDetails?.invoiceRefNos}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6" *ngIf="!isNotInvoiceType">
                  <div class="d-flex mb-2">
                    <span class="key">Transaction Type</span>
                    <span class="value">
                      <span class="d-inline-block">{{invoiceDetails?.transactionType}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6" *ngIf="invoiceDetailsArr?.length == 1">
                  <div class="d-flex mb-2">
                    <span class="key">Transaction Date</span>
                    <span class="value">
                      <span class="d-inline-block">{{invoiceDetails?.transactionDate ? (invoiceDetails.transactionDate |
                        date):'-'}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6"  *ngIf="!isNotInvoiceType">
                  <div class="d-flex mb-2">
                    <span class="key">Reference</span>
                    <span class="value">
                      <span class="d-inline-block">{{invoiceDetails?.transactionRefNo}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Client</span>
                    <span class="value">
                      <span class="d-inline-block">{{invoiceDetails?.customerName}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Debtor Name</span>
                    <span class="value">
                      <span class="d-inline-block">{{invoiceDetails?.debtorName}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Address</span>
                    <span class="value">
                      <span class="d-inline-block">{{invoiceDetails?.debtorAddress}}</span>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex mb-2">
                    <span class="key">Template<span class="mandatory-field">*</span></span>
                    <span class="form-group ">
                    <select class="form-control fidelity-form-input" formControlName="templateId">
                      <option value="" disabled>Select Template</option>
                      <option *ngFor="let template of templateList" [value]="template.id">
                        {{template.displayName}}
                      </option>
                    </select>
                  </span>
                  </div>
                </div>
              </div>
              <!-- end kery value -->
              <!-- srt Reason -->
              <div class="row">
                <div class="col-6 p-0">
                  <div class="col-12 mb-2">Customer</div>
                  <div class="col-12">
                    <div class="input-group form-group ">
                      <span class="input-group-addon border-0 bg-white">
                        <mat-checkbox class="fidelity-checkbox mr-2" name="isCustomer" (change)="emailCheck()"
                          formControlName="isCustomer">
                        </mat-checkbox>

                      </span>
                      <span class="form-group">
                      <input type="email" class="form-control fidelity-form-input rounded fidelity_email" name="customer email" #input
                        formControlName="customerEmail">
                        </span>
                    </div>
                  </div>
                </div>
                <div class="col-6 p-0">
                  <div class="col-12 mb-2">Debtor</div>
                  <div class="col-12">
                    <div class="input-group " >
                      <span class="input-group-addon border-0 bg-white">
                        <mat-checkbox class="fidelity-checkbox mr-2" name="isDebtor" (change)="emailCheck()"
                          formControlName="isDebtor">
                        </mat-checkbox>
                      </span>
                      <span class="form-group">
                      <input type="email" class="form-control fidelity-form-input rounded fidelity_email" name="debtor email" #input
                        formControlName="debtorEmail">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-6 p-0">
                  <div class="col-12 mb-2">Other</div>
                  <div class="col-12">
                    <div class="input-group form-group ">
                      <span class="input-group-addon border-0 bg-white">
                        <mat-checkbox class="fidelity-checkbox mr-2" name="isOther" (change)="emailCheck()"
                          formControlName="isOther">
                        </mat-checkbox>

                      </span>
                      <span class="form-group">
                      <input type="email" class="form-control fidelity-form-input rounded" name="other email" #input
                        formControlName="otherEmail">
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- end Reason -->

            </div>
          </p-scrollPanel>
        </div>

        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
              <button type="submit" pButton class="ui-button-success mr-4"
                style="display: inline-block;background: #115943!important;" label="Apply" [disabled]="!isCheckedEmail"></button>
              <button (click)="invoiceInfo = false" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                style="padding:7px">Cancel</button>
            </div>
          </div>
        </p-footer>
      </form>
    </div>
  </p-dialog>

  <!-- Invoice info pop up -->
  <p-dialog styleClass="invoiceInfo" [maximizable]="true" [(visible)]="removeAlert" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header>
      Remove Alert
    </p-header>
    <div>
      <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
        <div>
          <p-scrollPanel [style]="{ height: '15vh'}">
            <div class="view-box">
              <label>
                Are you sure you want to remove the payment - {{selectedRows[0]?.transactionRefNo}}
              </label>
              <div class="row">
                <div class="col-12 p-0">
                  <div class="col-12 mb-2">Reason</div>
                  <div class="col-12">
                    <div class="input-group">

                      <input type="text" class="form-control fidelity-form-input rounded" name="reason"
                        [(ngModel)]="reason" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </div>
      </form>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="text-center">
          <button type="submit" pButton class="ui-button-success mr-4"
            style="display: inline-block;background: #115943!important;" (click)="submitRemove()"
            label="Apply"></button>
          <button (click)="removeAlert = false" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
            style="padding:7px">Cancel</button>
        </div>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog styleClass="invoiceInfo" [maximizable]="true" [(visible)]="otpVerification" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header>
      Payment Confirmation
    </p-header>
    <div>
      <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
        <div>
          <p-scrollPanel [style]="{ height: '15vh'}">
            <div class="view-box">

              <label>
                Please Enter the OTP
              </label>
              <div class="row">
                <div class="col-12 p-0">
                  <div class="col-12">
                    <div class="input-group">
                      <input type="text" class="form-control fidelity-form-input rounded" name="reason"
                        [(ngModel)]="otp" maxlength="4" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </div>
      </form>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="text-center">
          <button type="submit" pButton class="ui-button-success mr-4"
            style="display: inline-block;background: #115943!important;" (click)="getOtp()" label="Resend"></button>
          <button type="submit" pButton class="ui-button-success mr-4"
            style="display: inline-block;background: #115943!important;" (click)="submitOtp()" label="Submit"></button>
          <button (click)="closeOtpModal()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
            style="padding:7px">Cancel</button>
        </div>
      </div>
    </p-footer>
  </p-dialog>


  <p-dialog styleClass="invoiceInfo" [maximizable]="true" [(visible)]="isOpenBalanceOfContract" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '800px'}">
    <p-header>
      Transaction Number - {{selectedRows[0]?.transactionRefNo}}
    </p-header>
    <div *ngIf="isOpenBalanceOfContract">
      <app-balance-of-contract-waiver-fee-details [inputData]="selectedRows[0]">
      </app-balance-of-contract-waiver-fee-details>
    </div>
  </p-dialog>

  <!-- Call Wraup -->
  <p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="callWrapupPopup" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '650px'}">
    <p-header>
      Call Wrap Up Codes
    </p-header>
    <div style="display: flex;justify-content: center;padding-top: 12px;">
      <button style="padding: 9px 23px;" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
        (click)="addPaymentArrangement()">Add Payment Arrangement</button>
    </div>
    <div style="display: flex;justify-content: center;padding-top: 12px;">
      <button style="padding: 9px 23px;" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
        (click)="addPromiseToPay()">Add Promise to pay</button>
    </div>
    <div style="display: flex;justify-content: center; padding-top: 12px;">
      <button style="padding: 9px 23px;" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
        (click)="addProofofpayments()">Add Proof of payments</button>
    </div>
    <div style="display: flex;justify-content: center; padding-top: 12px;">
      <button style="padding: 9px 23px;" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
        (click)="addNoContacts()"> Add No Contact </button>
    </div>
    <div style="display: flex;justify-content: center; padding-top: 12px;">
      <button style="padding: 9px 23px;" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4"
        (click)="addRefuseToPay()"> Add Refuse To Pay</button>
    </div>
  </p-dialog>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="pendingTransactionPopup" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
  <p-header>
    Transaction Number
  </p-header>
  <div style="display: flex;justify-content: center" class="mt-4 mb-4">
    <table style="width: 100%;" class="fidelity-table lead-services-table mt-2 service-table">
      <thead>
        <th>Process Name</th>
        <th>Path Description</th>
        <th>Creator Username</th>
        <th>Current Level Username</th>
        <th>On Level</th>
        <th>Status</th>
        <th>Action Date/Time</th>
      </thead>
      <tbody>
        <tr *ngIf="!isLoadingTransaction">
          <td>{{pendingTransactionsObj?.processName?pendingTransactionsObj?.processName:'-'}}</td>
          <td>{{pendingTransactionsObj?.pathDescription?pendingTransactionsObj?.pathDescription:'-'}}</td>
          <td>{{pendingTransactionsObj?.creatorName?pendingTransactionsObj?.creatorName:'-'}}</td>
          <td>{{pendingTransactionsObj?.currentLevelUserName?pendingTransactionsObj?.currentLevelUserName:'-'}}</td>
          <td>{{pendingTransactionsObj?.currentLevel?pendingTransactionsObj?.currentLevel:'-'}}</td>
          <td>
            {{pendingTransactionsObj?.creditNoteDOAApprovalStatusName?pendingTransactionsObj?.creditNoteDOAApprovalStatusName:'-'}}
          </td>
          <td>{{pendingTransactionsObj?.actionDateAndTime?pendingTransactionsObj?.actionDateAndTime:'-'}}</td>
        </tr>
        <tr *ngIf="isLoadingTransaction">
          <td colspan="7">Loading...</td>
        </tr>
      </tbody>
    </table>
  </div>
</p-dialog>
