.sigPad {
    border: 1px solid gray;
  
    signature-pad canvas {
      height: 120px !important;
      width: 580px !important;
    }
  }

  ::ng-deep .payment-date-con {
    ng-component {
      width: 170px!important;
    }
  }
  