<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>Payment
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnClose()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="paymentForm" (ngSubmit)="processPayment()">
    <div class="container-fluid">
        <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
            <div class="row sm-inputs">
                <div class="col-4">
                    <div class="form-group">
                        <label>Total Amount</label>
                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                        formControlName="totalAmount"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Payment Method<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" name="payment Method" formControlName="paymentMethodId">
                            <option *ngFor="let paymentData of config?.data?.paymentMethodsList" [value]="paymentData.id">
                                {{paymentData.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <label class="d-block">Payment Option<span class="mandatory-field">*</span></label>
                    <div class="form-group mb-0 mt-3">
                        <mat-radio-group  name="payment Option" formControlName="isSinglePayment">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Single
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">Multiple
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con" *ngIf="paymentForm?.get('paymentMethodId').value == 1">
                    <label class="d-block" for="paymentDate">Date<span class="mandatory-field">*</span></label>
                    <p-calendar [utc]='true' [minDate]="todayDate" formControlName="paymentDate" autocomplete="off"
                        name="From Date" [baseZIndex]="5200"></p-calendar>
                </div>
                <div class="col-4" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <div class="form-group">
                        <label>Account Number<span class="mandatory-field">*</span></label>
                        <span matTooltip="{{getAccountNumber()}}">
                            <select class="form-control fidelity-form-input" name="account Number" formControlName="debtorAccountDetailId">
                                <option value="" disabled selected>Select Account Number</option>
                                <option *ngFor="let accountData of accountDetailsList" [value]="accountData?.debtorAccountDetailId">
                                    {{accountData.accountNo}}
                                </option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-4" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <div class="form-group">
                        <label>Bank Name</label>
                        <input class="form-control fidelity-form-input disabled" type="text" formControlName="bankName"/>
                    </div>
                </div>
                <div class="col-4" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <div class="form-group">
                        <label>Bank Branch</label>
                        <span matTooltip="{{paymentForm.get('bankBranch').value}}">
                            <input class="form-control fidelity-form-input disabled" type="text" formControlName="bankBranch"/>
                        </span>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-start align-items-end" *ngIf="paymentForm?.get('paymentMethodId').value == 1">
                    <div class="form-group d-flex justify-content-start align-items-center">
                        <mat-checkbox class="fidelity-checkbox" formControlName="purchaseOrder">Purchase Order</mat-checkbox>
                    </div>
                </div>

                <!-- <div class="row"> -->
                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con" *ngIf="paymentForm?.get('paymentMethodId').value == 1">
                        <label class="d-block" for="">PO Date</label>
                        <p-calendar [utc]='true' [minDate]="todayDate" formControlName="poDate" autocomplete="off"
                                        name="poDates" [baseZIndex]="5200"></p-calendar>
                    </div>
                    <div class="col-4 sm-inputs"  *ngIf="paymentForm?.get('paymentMethodId').value == 1">
                        <div class="form-group">
                            <label>PO Number</label>
                            <input class="form-control fidelity-form-input disabled" type="text" formControlName="poNumber"/>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <div class="col-8" *ngIf="paymentForm?.get('paymentMethodId').value == 1">
                        <div class="form-group p-relative" style="width: 95%;">
                            <label>PO Attachment</label>
                            <div class="input-group fidelity-file-upload">
                                <input type="text" name="poAttachment" class="input-box form-control" style="width: 80%"
                                formControlName="poAttachment" readonly>
                                <span class="input-group-btn">
                                    <div class="btn custom-file-uploader">
                                        <input #fileInput type="file" name="file"
                                            [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                                            style="width: 86px;" (change)="onFileChange($event)" [disabled]="!paymentForm?.get('purchaseOrder')?.value"/>
                                        Browse
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->




                <div class="col-6" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <div class="form-group">
                        <label>DO Run ID<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" name="DO Run ID" formControlName="debitOrderRunCodeId">
                            <option value="" disabled selected>Select DO Run</option>
                            <option *ngFor="let orderRunCodes of config?.data?.orderRunCodesList" [value]="orderRunCodes.id">
                                {{orderRunCodes.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-center" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <mat-checkbox class="fidelity-checkbox mr-2" formControlName="isIncludePONumber"></mat-checkbox>
                    <div class="form-group" style="width: 85%;">
                        <label>SMS Notification Number</label>
                        <div class="row fidelity-ph-no-field">
                            <div class="col-3 pr-0">
                                <div class="form-group" style="width: 100%;">
                                    <select class="form-control fidelity-form-input pad-right" formControlName="smsVerificationCountryCode">
                                        <!-- <option *ngFor="" [value]="">
                                        </option> -->
                                        <option *ngFor="let countryCode of countryCodes"
                                            [value]="countryCode.displayName">
                                            {{countryCode.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-8 pl-0">
                                <div class="form-group">
                                    <input appPhoneMask class="form-control fidelity-form-input" name="" placeholder="Mobile Number" formControlName="smsVerificationNumber" [maxlength]="11"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <div class="form-group" style="width: 94%;">
                        <label>Transaction Description</label>
                        <!-- <span class="mandatory-field">*</span> -->
                        <input class="form-control fidelity-form-input" formControlName="transactionDescription" readonly  type="text"  />
                    </div>
                </div>
                <div class="col-12" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <div class="form-group" style="width: 94%;">
                        <label>Notes</label>
                        <input class="form-control fidelity-form-input" type="text" formControlName="notes"/>
                        <!-- disabled -->
                    </div>
                </div>

                <div class="col-4 fidelity-date-picker-con cust-banner-date-con p-relative" *ngIf="paymentForm?.get('paymentMethodId').value == 2 && !paymentForm?.get('isSinglePayment').value">
                    <label class="d-block" for="">Start Date<span class="mandatory-field">*</span></label>
                    <p-calendar [utc]='true' [minDate]="todayDate" formControlName="multipleStartDate" autocomplete="off"
                        name="Start Date" [baseZIndex]="5200"></p-calendar>
                </div>
                <div class="col-4" *ngIf="paymentForm?.get('paymentMethodId').value == 2 && !paymentForm?.get('isSinglePayment').value">
                    <div class="form-group">
                        <label>Total Payable Amount</label>
                        <input class="form-control fidelity-form-input text-right disabled" type="text" formControlName="multipleTotalPayment"/>
                    </div>
                </div>
                <div class="col-4" *ngIf="paymentForm?.get('paymentMethodId').value == 2 && !paymentForm?.get('isSinglePayment').value">
                    <label class="d-block">No. of Payments<span class="mandatory-field">*</span></label>
                    <div class="form-group d-flex align-items-center justify-content-between" style="width: 100%;">
                        <select class="form-control fidelity-form-input" name="" formControlName="noOfPayments">
                            <option value="" disabled>Select No of payments</option>
                            <option *ngFor="let paymentData of noOfPaymentsList" [value]="paymentData.id">
                                {{paymentData.displayName}}
                            </option>
                        </select>
                        <button class="btn btn-sm-fidelity btn-primary p-2" type="button" (click)="addPaymentsToTable(paymentForm?.get('noOfPayments').value, true)">Assign</button>
                    </div>

                </div>

                <div class="container-fluid children-row mb-2" formArrayName="techJobCardPaymentDetails" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <div class="row mb-2" style="flex-wrap: nowrap;"
                        *ngFor="let control of payementItemsFormArray?.controls; let i = index" [formGroupName]="i">
                        <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                            <label class="d-block" for="">{{paymentForm?.get('isSinglePayment').value?'Date':'Start Date'}}<span class="mandatory-field">*</span></label>
                            <p-calendar [utc]='true' [minDate]="todayDate" formControlName="paymentDate" autocomplete="off" [dateFormat]="getDateFormat()"
                                [name]="paymentForm?.get('isSinglePayment').value?'Date':'Start Date'" [baseZIndex]="5200"></p-calendar>
                        </div>
                        <div class="col-6">
                            <div class="form-group" style="width: 87%;">
                                <label>{{paymentForm?.get('isSinglePayment').value?'Payment Amount':'Amount'}}<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input text-right" type="text" formControlName="paymentAmount"
                                (focus)="onFocusPayAmt(i)" (blur)="onBlurPayAmt(i)"
                                [validateInput]="isADecimalOnly"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <div class="form-group">
                        <label>Customer Name and Designation</label>
                        <input class="form-control fidelity-form-input disabled" type="text" [value]="nameDesignation"/>
                    </div>
                </div>
                <div class="col-6" *ngIf="paymentForm?.get('paymentMethodId').value == 2">
                    <label>Customer Signature</label>
                    <div class="sigPad overflow-hidden" style="width: 87%;">
                        <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
    <div class="text-center mt-4 mb-2">
        <button  class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Proceed</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="btnClose()">Cancel</button>
    </div>
</form>
