<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form autocomplete="off" [formGroup]="alterContactDialogForm" class="fidelity-popup-form"
        (ngSubmit)="onSubmitDialog()" style="font-size: 0.9rem!important;">
        <div>
            <div>
                <p-scrollPanel [style]="{ height: '34vh'}">
                    <div class="view-box mr-3">
                        <div class="row mt-1">
                            <div class="col-md-5 form-row">
                                <label class="col-md-3 d-flex align-items-center pb-2">Email</label>
                                <div class="form-group col-md-9">
                                    <input class="form-control fidelity-form-input fidelity_email" type="text" name="email"
                                        formControlName="email" />
                                    <span class="text-danger"
                                        *ngIf="alterContactDialogForm?.get('email')?.touched && alterContactDialogForm?.get('email')?.errors?.required">
                                        Email is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="alterContactDialogForm?.get('email')?.touched && alterContactDialogForm?.get('email')?.errors?.email">
                                        Email is an invalid
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 form-row">
                                <label class="col-md-3 d-flex align-items-center pb-2">Phone</label>
                                <div class="col-md-9 fidelity-ph-no-field form-row">
                                    <div class="col-3 pr-0">
                                        <div class="form-group" style="width:100%!important;">
                                            <select class="form-control fidelity-form-input"
                                                style="width: -1%!important;"
                                                formControlName="contactNumberCountryCode">
                                                <option *ngFor="let countryCode of countryCodes"
                                                    [value]="countryCode.displayName">
                                                    {{countryCode.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-9 pl-0">
                                        <div class="form-group m-0">
                                            <input autocomplete="off" appPhoneMask
                                                [title]="alterContactDialogForm?.get('contactNumberCountryCode')?.value"
                                                class="form-control fidelity-form-input" formControlName="contactNumber"
                                                [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                name="contactNumber">
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="alterContactDialogForm?.get('contactNumber')?.touched && alterContactDialogForm?.get('contactNumber')?.errors?.required">
                                            Phone is required
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="alterContactDialogForm?.get('contactNumber')?.touched && alterContactDialogForm?.get('contactNumber')?.errors?.minlength">
                                            Phone Number 1 should be 9 digits
                                        </span>
                                        <!-- <span class="text-danger"
                                            *ngIf="alterContactDialogForm?.get('contactNumber')?.touched && alterContactDialogForm?.get('contactNumber')?.errors?.minlength">
                                            Phone is must be minimum
                                            {{alterContactDialogForm?.get('contactNumber')?.errors?.minlength?.requiredLength}}
                                            digits length
                                        </span> -->
                                        <span class="text-danger"
                                            *ngIf="alterContactDialogForm?.get('contactNumber')?.touched && alterContactDialogForm?.get('contactNumber')?.errors?.maxlength">
                                            Phone is must be maximum
                                            {{alterContactDialogForm?.get('contactNumber')?.errors?.maxlength?.requiredLength}}
                                            digits length
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 text-center" style="top: -25px;">
                                <button class="circle-plus-btn" type="button" [disabled]="isSubmitted" matTooltip="Add"
                                    style="top: 29px;left: 2px;" (click)="addConfigItem()">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-5">
                                <label><b>Email List</b></label>
                                <app-page-form-array [pageForm]="alterContactDialogForm" [isShowNoData]="true"
                                    [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                                    [selectedIndex]="0" [isLoading]="isLoading" [isSubmitted]="isSubmitted"
                                    (validateExist)="validateEmailExistItem($event)"
                                    (removeItem)="removeConfigItem($event, 'email')">
                                </app-page-form-array>
                            </div>
                            <div class="col-md-6 border-left">
                                <label><b>Phone List</b></label>
                                <app-page-form-array [pageForm]="alterContactDialogForm" [isShowNoData]="true"
                                    [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                                    [selectedIndex]="1" [isLoading]="isLoading" [isSubmitted]="isSubmitted"
                                    (validateExist)="validateContactsExistItem($event)"
                                    (removeItem)="removeConfigItem($event, 'contact')">
                                </app-page-form-array>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
        <!-- <div class="ui-dialog-buttonpane ui-helper-clearfix pt-3">
            <div class="text-center">
                <button type="submit" pButton class="ui-button-success fdt-btn-submit mr-4" [disabled]="isSubmitted"
                    [label]="'Save'"></button>
                <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    type="button">{{'Close'}}</button>
            </div>
        </div> -->
    </form>
</div>
