.full-list-header-row {
    flex-wrap: nowrap;
    font-size: 1rem;
    &:nth-child(1), .bold-font {
        font-family: 'Calibri_Bold', sans-serif!important;
    }
    div.col-1 {
        width: 8.333333%;
    }
}