<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
[breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>

<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="addnotesForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox" style="height: auto;">
          <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body mb-3">
              <div class="row">
                <div class="col-4 mb-3">
                  <div class="form-group mb-0">
                    <mat-radio-group formControlName="isTicket" name="Type Of Fee">
                      <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true"
                        (change)="onaddnotesInfo($event)">
                        Create Ticket
                      </mat-radio-button>
                      <mat-radio-button class="fidelity-radio-btn" [value]="false">
                        Captured Notes
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <label>Notes</label>
                    <textarea class="form-control fidelity-form-input" type="text" placeholder="Notes"
                      formControlName="notes"></textarea>
                  </div>
                </div>
                <div class="col-4">
                  <label>Call wrap up duration</label>
                  <div class="form-group">
                    <ngx-countdown #cd class="form-control fidelity-form-input disabled" interval="0000"
                      (notify)="onNotify($event)"></ngx-countdown>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <div class="text-center">
            <button type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
              [label]="'Save and Close Call'"></button>
            <button (click)="navigate()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
              type="button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
