<div class="page-heading">
    <h1 class="page-title d-inline-block"> Radio Removal Receiving </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a><i class="fa fa-home" aria-hidden="true"></i> </a>
      </li>
      <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']">Inventory</a> </li>
      <li class="breadcrumb-item"><a (click)="navigateToList()"> Radio Removal Receiving List</a></li>
      <li class="breadcrumb-item">
          <a (click)="navigateToEdit()"> Radio Removal Receiving {{ radioSystemType == 'view' ? 'Update' : 'Create' }} </a>
        </li>
      <li class="breadcrumb-item">Radio Removal Receiving Scan </li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                <form customForm [formGroup]="radioRemovalReceivingScanForm">
                    <div class="ibox white-bg">
                        <div class="ibox-body brown-border view-box mt-3">
                            <div class="row mt-2">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Stock Code</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{getReceivingScanItemDetails?.items?.itemCode ? getReceivingScanItemDetails?.items?.itemCode:'-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Stock Description</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{getReceivingScanItemDetails?.items?.itemName ? getReceivingScanItemDetails?.items?.itemName:'-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-body brown-border mt-3" *ngIf="getReceivingScanItemDetails?.items?.isNotSerialized">
                            <div class="row mt-2">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label> Received Qty <span class="mandatory-field">*</span> </label>
                                        <input class="form-control fidelity-form-input" type="text" formControlName="receivedQty"/>
                                    </div>
                                    <label> Total: {{ scannedBarcodesCount ? scannedBarcodesCount : 0 }} / 
                                    {{ getallBarcodesCount ? getallBarcodesCount : 0 }} </label>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-body brown-border mt-3" *ngIf="!getReceivingScanItemDetails?.items?.isNotSerialized">
                            <div class="row mt-2">
                                <div class="col-4"> 
                                    <div class="form-group">
                                        <label> Serial Number not available </label><br>
                                        <mat-radio-group name="isSerialNumberAvailable" (change)="serialCheckedEvent($event.value)">
                                            <mat-radio-button class="fidelity-radio-btn" style="margin-right: 5px;" 
                                            [checked]="getReceivingScanItemDetails?.items?.isSerialNumberAvailable" value="true"> Yes </mat-radio-button>
                                            <mat-radio-button class="fidelity-radio-btn" style="margin-right: 5px;" 
                                            [checked]="!getReceivingScanItemDetails?.items?.isSerialNumberAvailable" value="false"> No </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 sm-inputs">                
                                <div class="col-4" *ngIf="showAddQuantity">
                                    <div class="form-group p-relative picking-serial">
                                        <label> Scan / Enter Serial No </label>
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input tabindex="-1" class="form-control fidelity-form-input" autofocus maxlength="50" 
                                                placeholder="Scan/Enter Serial Number" formControlName="scanSerialNumberInput">
                                            <div class="input-group-append">
                                                <button class="text-white" type="submit" (click)="scanSerialNumber()">
                                                    <i aria-hidden="true" class="icon icon-scan"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="text-danger" *ngIf="showItemCodeError">
                                            Serial number is required
                                        </span>
                                    </div>
                                </div> 
                                <div class="col-4" *ngIf="!showAddQuantity">
                                    <div class="form-group p-relative picking-serial">
                                        <label> Received Quantity </label>
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input tabindex="-1" class="form-control fidelity-form-input" autofocus 
                                            mask="0*" placeholder="Enter Quantity" min="1" maxlength="2" formControlName="notReceivedQty">
                                            <div class="input-group-append">
                                                <button class="text-white" type="submit" (click)="getStockCount()">
                                                    <i aria-hidden="true" class="fa fa-barcode"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="text-danger" *ngIf="showQuantityError">
                                            Quantity is required
                                        </span>
                                    </div>
                                </div>
                            </div>   
                            <div class="row row-header mb-2" style="font-size: 1rem;">
                                <div class="col-1">
                                    <mat-checkbox class="fidelity-checkbox" 
                                    (change)="$event ? onSelectAll($event.checked) : null">
                                    </mat-checkbox>
                                </div>
                                <div class="col-3"> Serial Number/Barcode Total: 
                                    {{ scannedBarcodesCount ? scannedBarcodesCount : 0 }} / {{ getallBarcodesCount ? getallBarcodesCount : 0 }} 
                                </div>
                                <div class="col-2"> Customer </div>
                                <div class="col-1"> 
                                    <a class="p-absolute delete-row delete-row-heading" 
                                        (click)="removeScanedBarcode(null, 'all')">
                                        <i aria-hidden="true" class="icon icon-delete"></i>
                                    </a> 
                                    <button class="p-absolute print-btn circle-plus-btn" 
                                        (click)="print()" matTooltip="Print">
                                        <i class="icon icon-print"></i>
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="radioRemovalReceivingScanForm?.get('radioRemovalReceivingItemsArray')?.value.length > 0">
                                <div class="" formArrayName="radioRemovalReceivingItemsArray"
                                *ngFor="let groupObj of radioRemovalReceivingScanForm?.get('radioRemovalReceivingItemsArray')?.controls;let i=index">
                                    <div [formGroupName]="i">
                                        <div class="row child-row mb-2"  *ngIf="!groupObj?.get('isDeleted')?.value">
                                            <div class="col-1">
                                                <mat-checkbox class="fidelity-checkbox" formControlName="serialNumberChecked">
                                                </mat-checkbox>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <input class="form-control fidelity-form-input" type="text" formControlName="serialNumber" readonly/>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input class="form-control fidelity-form-input" type="text" formControlName="customer" readonly/>
                                                </div>
                                            </div>
                                            <div class="col-1" style="left: 10px;">
                                                <a class="p-absolute delete-row" 
                                                    (click)="removeScanedBarcode(i, 'new')"> <i aria-hidden="true" class="icon icon-delete"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-md-fidelity fidelity-btn-brown" (click)="onSubmit()">Save</button>
                            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToEdit()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>