<div class="page-heading" *ngIf="!fromUrl">
    <h1 class="page-title">Advanced Search Result</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Customer Management</a></li>
        <li class="breadcrumb-item"><a>View Customer Details</a></li>
        <li class="breadcrumb-item"><a (click)="navigateToList()">Advance Search</a></li>
        <li class="breadcrumb-item">Result</li>
    </ol>
    <div class="clearfix"></div>
</div>
<div class="page-heading" *ngIf="fromUrl">
    <h1 class="page-title d-inline-block">Counter Sales</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Customer Management</a></li>
        <li class="breadcrumb-item">
            <a>Counter Sales</a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <p-scrollPanel [style]="{height: '77vh'}" styleClass="custom">
            <div class="ibox-body"
                *ngIf="!fromUrl&&searchType !== 'client'&&searchType !== 'address'&&searchType !== 'debtor'">
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Client</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.client ? customerDetails?.client :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Customer Type</span>
                            <span id="" class="value">
                                <span class="d-inline-block" style="width: auto;">{{customerDetails?.customerTypeName ?
                                    customerDetails?.customerTypeName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Client Debtor</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.debtorRefNo ?
                                    customerDetails?.debtorRefNo : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Ownership</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.ownership ? customerDetails?.ownership :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Site Type</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.siteType ?
                                    customerDetails?.siteType : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Customer ID</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.customerRefNo ?
                                    customerDetails?.customerRefNo : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Division</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.divisionName ?
                                    customerDetails?.divisionName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Origin</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.originName ? customerDetails?.originName
                                    :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Address</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.address ? customerDetails?.address :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Retainer</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.retainer ? customerDetails?.retainer :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6" *ngIf="customerDetails?.mobile1">
                        <div class="d-flex">
                            <span id="" class="key">Mobile Number 1</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.mobile1 ? customerDetails?.mobile1 :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6" *ngIf="customerDetails?.mobile2">
                        <div class="d-flex">
                            <span id="" class="key">Mobile Number 2</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.mobile2 ? customerDetails?.mobile2 :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6" *ngIf="customerDetails?.premisesNo">
                        <div class="d-flex">
                            <span id="" class="key">Premises Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.premisesNo ?
                                    customerDetails?.premisesNo: '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6" *ngIf="customerDetails?.officeNo">
                        <div class="d-flex">
                            <span id="" class="key">Office Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.officeNo ? customerDetails?.officeNo :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Sub Area</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{customerDetails?.subArea ? customerDetails?.subArea :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-body">
                <div class="col-12 mt-3">
                    <div
                        *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
                        <form [formGroup]="columnFilterForm" class="p-0">
                            <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" appendTo="body"
                                [lazyLoadOnInit]="false" [(selection)]="selectedRows"
                                (onLazyLoad)="loadPaginationLazy($event)" [loading]="loading" [value]="dataList"
                                [dataKey]="tables.dataKey" [rows]="10" [rowsPerPageOptions]="pageLimit"
                                [responsive]="true" [resizableColumns]="tables?.resizableColumns"
                                columnResizeMode="expand" [scrollable]="true" scrollHeight="200px"
                                [totalRecords]="totalRecords" [paginator]="(totalRecords == 0) ? false : true"
                                [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                        <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                        <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                            *ngIf="tables?.enableRowDelete">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr class="first-row">
                                        <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                            pReorderableColumn>
                                            <ng-container *ngIf="col.isVisible">
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                    ariaLabelDesc="Activate to sort in descending order"
                                                    ariaLabelAsc="Activate to sort in ascending order">
                                                </p-sortIcon>
                                            </ng-container>
                                        </th>
                                        <th [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                            *ngIf="tables?.enableRowDelete">Action</th>
                                    </tr>
                                    <tr *ngIf="tables?.enableFieldsSearch">
                                        <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                        </th>
                                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                            <ng-container *ngIf="col.isVisible">
                                                <input [formControlName]="col.field"
                                                    *ngIf="col.field != 'ticketStatusName' && !col.header.toLowerCase().includes('date') && col.field != 'probabilityOfClosure'"
                                                    pInputText type="text" validateInput>
                                                <ng-container
                                                    *ngIf="col.field.toLowerCase().includes('date')  || col.header.toLowerCase().includes('date') || col?.type == 'date'">
                                                    <div class="fdt-date-con">
                                                        <p-calendar [formControlName]="col.field" [utc]='true' [showIcon]="false" [style]="{'width':'100%'}"
                                                            (onClearClick)="dt.filter($event.value,col.field, null)">
                                                        </p-calendar>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </th>
                                        <th [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                            *ngIf="tables?.enableRowDelete"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                                    let-expanded="expanded">
                                    <tr [pSelectableRow]="rowData" [pReorderableRow]="ri" (click)="details(rowData)"
                                        style="cursor: pointer;">
                                        <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns;index as i" class="ui-resizable-column"
                                            pReorderableRowHandle>
                                            <ng-container *ngIf="col.isVisible">
                                                <a href="#" [pRowToggler]="rowData"
                                                    *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                                                    <i
                                                        [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                                </a>
                                                <ng-container
                                                    *ngIf="col.header == 'Status' || col.header == 'Action' || col.header == 'Created Date' || col?.isPhoneMask || col?.isDecimalFormat ||
                                                        col.header == 'Closed Date' ; then thenTemplate; else elseTemplate">
                                                </ng-container>
                                                <ng-template #thenTemplate>
                                                    <ng-container *ngIf="col.header == 'Status'">
                                                        <span class="status-label pos-top"
                                                            [ngClass]="rowData['cssClass']"
                                                            style="box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);">
                                                            {{rowData[col.field]}}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="col?.isPhoneMask">
                                                        <span
                                                            pTooltip="{{rowData[col.field] ? (rowData[col.field] | phoneMask) : ''}}"
                                                            tooltipPosition="top"> {{
                                                            rowData[col.field] ? (rowData[col.field] | phoneMask) :
                                                            '--'}}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="col?.isDecimalFormat">
                                                        <span class="d-block text-right"
                                                            pTooltip="{{rowData[col.field] ? (rowData[col.field] | formatNumber) : '--'}}"
                                                            tooltipPosition="top"
                                                            [ngStyle]="{'padding-right': col.paddingRight}">
                                                            {{rowData[col.field]?.toString() ? (rowData[col.field] |
                                                            formatNumber) : '--'}}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                                                        {{rowData[col.field] ? (rowData[col.field] | date) :
                                                        '--'}}
                                                    </ng-container>
                                                    <ng-container *ngIf="col.header == 'Action'">
                                                        <a (click)="createCustomerInvoice(rowData)"
                                                            pTooltip="Service Call"
                                                            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3">
                                                            <span> <i class="icon icon-inventory"></i> </span>
                                                        </a>
                                                    </ng-container>
                                                </ng-template>
                                                <ng-template #elseTemplate>
                                                    <ng-container
                                                        *ngIf="selectedIndex != 5 && i != tables?.cursorLinkIndex && i != tables?.cursorSecondLinkIndex">
                                                        <ng-container *ngIf="col.header != 'Customer ID'">
                                                            <span pTooltip="{{rowData[col.field]}}"
                                                                tooltipPosition="top">
                                                                {{col.field=='phoneNumber'?(rowData[col.field] |
                                                                phoneMask
                                                                ):
                                                                rowData[col.field] }}
                                                            </span>
                                                        </ng-container>
                                                        <ng-container *ngIf="col.header == 'Customer ID'">
                                                            <a style="color: #00644A;cursor: pointer;"
                                                                pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                                                                (click)="onCRUDRequested('edit',rowData)">
                                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                                            </a>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="selectedIndex == 5 && i != tables?.cursorLinkIndex && i != tables?.cursorSecondLinkIndex">
                                                        <ng-container *ngIf="col.header == 'Service Call No'">
                                                            <a style="color: #00644A;cursor: pointer;"
                                                                pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                                                                (click)="onCRUDRequested('edit',rowData)">
                                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                                            </a>
                                                        </ng-container>
                                                        <ng-container *ngIf="col.header != 'Service Call No'">
                                                            {{rowData[col.field] ? rowData[col.field] : '--'}}
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                                                        <a style="color: #166DFF;" pTooltip="{{rowData[col?.field]}}"
                                                            tooltipPosition="top"
                                                            (click)="onCRUDRequested('view',rowData)">
                                                            {{rowData[col.field] ? rowData[col.field] : '--'}}
                                                        </a>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                                                        <a style="color: #166DFF;" pTooltip="{{rowData[col.field]}}"
                                                            tooltipPosition="top"
                                                            (click)="onCRUDRequested('edit',rowData, col.field)">
                                                            {{rowData[col.field] ? rowData[col.field] : '--'}}
                                                        </a>
                                                    </ng-container>
                                                </ng-template>
                                            </ng-container>
                                        </td>
                                        <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                            *ngIf="tables?.enableRowDelete">
                                            <button style="margin: 0 10px;cursor: pointer;" pButton type="button"
                                                icon="pi pi-trash" class="ui-button-danger"
                                                (click)="onCRUDRequested('delete',rowData)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template *ngIf="searchType=='client'" pTemplate="rowexpansion" let-rowData
                                    let-columns="columns">
                                    <tr>
                                        <td [attr.colspan]="columns.length" style="background-color: #fff;">
                                            <div class="ui-g ui-fluid" style="font-size:16px;background: #fff;">
                                                <div class="ui-g-12">
                                                    <div class="custom-scroll">
                                                        <div class="row full-list-header-row  mb-2">
                                                            <div class="col-6 d-flex"
                                                                style="border-right: 2px solid #00000014;">
                                                                <div class="col-6">
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            Customer Type
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            Ownership
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            Site Type
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            Division
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="col-12">
                                                                        {{rowData.customerAdditionalInfo?.customerTypeName?rowData.customerAdditionalInfo?.customerTypeName:'-'}}
                                                                    </div>
                                                                    <div class="col-12">
                                                                        {{rowData?.customerAdditionalInfo?.ownership
                                                                        ?
                                                                        rowData?.customerAdditionalInfo?.ownership :
                                                                        '-'}}</div>
                                                                    <div class="col-12">
                                                                        {{rowData?.customerAdditionalInfo?.siteTypeName
                                                                        ?
                                                                        rowData?.customerAdditionalInfo?.siteTypeName
                                                                        : '-'}}</div>
                                                                    <div class="col-12">
                                                                        {{rowData?.customerAdditionalInfo?.divisionName
                                                                        ?
                                                                        rowData?.customerAdditionalInfo?.divisionName
                                                                        : '-'}}</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 d-flex">
                                                                <div class="col-6">
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            District
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="rowData?.mobile2" class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            Mobile
                                                                            Number 2
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            Sub Area
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            Origin
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="col-12">
                                                                        {{rowData?.customerAdditionalInfo?.districtName
                                                                        ?
                                                                        rowData?.customerAdditionalInfo?.districtName
                                                                        : '-'}}</div>
                                                                    <div *ngIf="rowData?.mobile2" class="col-12">
                                                                        {{rowData?.mobile2 ? rowData?.mobile2 :'-'}}
                                                                    </div>
                                                                    <div class="col-12">
                                                                        {{rowData?.customerAdditionalInfo?.subArea ?
                                                                        rowData?.customerAdditionalInfo?.subArea :
                                                                        '-'}}
                                                                    </div>
                                                                    <div class="col-12">
                                                                        {{rowData?.customerAdditionalInfo?.origin ?
                                                                        rowData?.customerAdditionalInfo?.origin :
                                                                        '-'}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template *ngIf="searchType=='address'" pTemplate="rowexpansion" let-rowData
                                    let-columns="columns">
                                    <tr>
                                        <td [attr.colspan]="columns.length" style="background-color: #fff;">
                                            <div class="ui-g ui-fluid" style="font-size:16px;background: #fff;">
                                                <div class="ui-g-12">
                                                    <div class="custom-scroll">
                                                        <div class="row full-list-header-row  mb-2">
                                                            <div class="col-6 d-flex"
                                                                style="border-right: 2px solid #00000014;">
                                                                <div class="col-6">
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            DivisionName
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            DistrictName
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex"
                                                                        *ngIf="rowData?.addressAdditionalInfo?.mobile2">
                                                                        <div class="col-10  font-weight-bold">
                                                                            Mobile Number 2
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="col-12">
                                                                        {{rowData?.addressAdditionalInfo?.divisionName?rowData?.addressAdditionalInfo?.divisionName:'-'}}
                                                                    </div>
                                                                    <div class="col-12">
                                                                        {{rowData?.addressAdditionalInfo?.districtName
                                                                        ?
                                                                        rowData?.addressAdditionalInfo?.districtName :
                                                                        '-'}}</div>
                                                                    <div class="col-12"
                                                                        *ngIf="rowData?.addressAdditionalInfo?.mobile2">
                                                                        {{rowData?.addressAdditionalInfo?.mobile2
                                                                        ?
                                                                        rowData?.addressAdditionalInfo?.mobile2
                                                                        : '-'}}</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 d-flex">
                                                                <div class="col-6">
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            SubArea
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex">
                                                                        <div class="col-10  font-weight-bold">
                                                                            Main Area Name
                                                                        </div>
                                                                        <div class="col-2">
                                                                            -
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="col-12">
                                                                        {{rowData?.addressAdditionalInfo?.subArea
                                                                        ?
                                                                        rowData?.addressAdditionalInfo?.subArea
                                                                        : '-'}}</div>
                                                                    <div class="col-12">
                                                                        {{rowData?.addressAdditionalInfo?.mainAreaName ?
                                                                        rowData?.addressAdditionalInfo?.mainAreaName :
                                                                        '-'}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <p *ngIf="totalRecords == 0" class="no-data-msg mt-2">No Data found</p>
                                </ng-template>
                                <ng-template pTemplate="paginatorleft" let-state>
                                    <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                                        {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ?
                                            state.rows * (state.page + 1) : totalRecords}} of <strong>{{totalRecords ?
                                            totalRecords : pageSize}}</strong> entries
                                    </p>
                                </ng-template>
                            </p-table>
                        </form>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isCusInvoiceSuccessDialog"
    [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header> Confirmation </p-header>
    <div class="row mt-1">
        <div class="col-lg-12" style="font-size: 18px; text-align: center;">
            Are you sure you want to create <br>
            service call for <b> {{customerRefNo}} </b>?
        </div>
    </div>
    <div class="col-12 mt-2">
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="text-center">
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
                        (click)="navigateToSericeCallPage()"> Yes
                    </button>
                    <button type="button" (click)="isCusInvoiceSuccessDialog = false"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No
                    </button>
                </div>
            </div>
        </p-footer>
    </div>
</p-dialog>
