.show-packing-orders {
    top: 50px;
    right: 3vw;
    z-index: 10;
    position: absolute !important;
}
.packing-dashboard {
    width: 75vw;
}
mat-select-autocomplete {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px #cccccc61;
    top: 65px;
    right: 0px;
    z-index: 5;
}