<div class="page-heading">
    <h1 class="page-title d-inline-block">{{ boundaryId ? 'Update': 'Create'}} Service Tech Area</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">IT Management
        </li>
        <li class="breadcrumb-item">Boundary Management</li>
        <li class="breadcrumb-item">Technical</li>
        <li class="breadcrumb-item">
            <a routerLink="/user/boundary-management/technical-boundary" [queryParams]="{tab:0}">Service Tech Area</a>
        </li>
        <li class="breadcrumb-item">{{ boundaryId ? 'Update': 'Create'}} Service Tech Area</li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="techAreaForm" customForm (ngSubmit)="onSubmit()">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '65vh'}">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">Tech Area Info</h1>

                            <div class="row">
                                <div class="col-2">
                                    <label>Overhead Area</label>
                                </div>
                                <div class="col-4 d-flex justify-content-start align-items-end"
                                    style="margin-left: -92px;">
                                    <div class="form-group d-flex justify-content-start align-items-center">
                                        <mat-checkbox formControlName="isOverheadAreaSetup" class="fidelity-checkbox">
                                            Overhead Area Setup</mat-checkbox>
                                    </div>
                                </div>
                                <div class="col-6"></div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Region<span class="mandatory-field">*</span></label>
                                        <select (change)="changeRegion()" name="Region" formControlName="regionId"
                                            class="form-control fidelity-form-input">
                                            <option value="" disabled>Select Region</option>
                                            <option [value]="i.id" *ngFor="let i of Regions">{{i.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Division<span class="mandatory-field">*</span></label>
                                        <select name="division" (change)="changeDivision()" formControlName="divisionId"
                                            class="form-control fidelity-form-input">
                                            <option value="" disabled>Select Division</option>
                                            <option [value]="i.id" *ngFor="let i of Divisions">{{i.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4" *ngIf="!multiSelectFlag">
                                    <div class="form-group">
                                        <label>District<span class="mandatory-field">*</span></label>
                                        <select name="district" (change)="changeDistrict()" formControlName="districtId"
                                            class="form-control fidelity-form-input">
                                            <option value="" disabled>Select District</option>
                                            <option [value]="i.value" *ngFor="let i of Districts">{{i.label}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4" *ngIf="multiSelectFlag">
                                    <label>District<span class="mandatory-field">*</span></label>
                                    <div class="form-group fidelity-multiselect-dropdown-con" style="width:100%">
                                        <p-multiSelect (onChange)="changeDistrict()" [style]="{'width':'100%'}"
                                        [defaultLabel]="'Select District'"
                                          formControlName="districtId"  class="input-width-medium" [options]="Districts">
                                        </p-multiSelect>

                                    </div>
                                    <span *ngIf="!selectDistrict">
                                        <span class="duplicate">
                                            district is required
                                        </span>
                                    </span>
                                </div>
                                <div class="col-4" *ngIf="!multiSelectFlag">
                                    <div class="form-group">
                                        <label>Branch<span class="mandatory-field">*</span></label>
                                        <select name="Branch" formControlName="branches"
                                            class="form-control fidelity-form-input">
                                            <option value="" disabled>Select Branch</option>
                                            <option [value]="i.value" *ngFor="let i of branchDropdown">{{i.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4" *ngIf="multiSelectFlag">
                                    <label>Branch<span class="mandatory-field">*</span></label>
                                    <div class="form-group fidelity-multiselect-dropdown-con" style="width:100%">
                                        <p-multiSelect [defaultLabel]="'Select Branch'"  [style]="{'width':'100%'}"
                                           formControlName="branches"
                                            class="input-width-medium" [options]="branchDropdown" >
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Tech Area<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input"
                                            [validateInput]='isAnAlphaNumericOnly' formControlName="boundaryName"
                                            placeholder="Tech Area" type="text" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Description<span class="mandatory-field">*</span></label>
                                        <text-area-custom-control formControlName="description">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Default Capacity</label>
                                        <input class="form-control fidelity-form-input disabled"
                                            formControlName="defaultCapacity" placeholder="Default Capacity"
                                            type="text" />
                                    </div>
                                </div>
                                <div class="col-2 mt-4">
                                    <div>
                                        <label>Tech Area Type<span class="mandatory-field">*</span></label>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center">
                                        <mat-checkbox formControlName="isInstallation" class="fidelity-checkbox">
                                            Installation</mat-checkbox>
                                        <mat-checkbox formControlName="isService" class="fidelity-checkbox ml-2">Service
                                        </mat-checkbox>
                                        <mat-checkbox formControlName="isInspection" class="fidelity-checkbox ml-2">
                                            Inspection</mat-checkbox>
                                    </div>
                                    <div>
                                        <span class="text-danger" *ngIf="!techAreaForm.get('isInstallation').value&&
                                    !techAreaForm.get('isService').value&&!techAreaForm.get('isInspection').value&&
                                    isFormSubmitted">
                                            Atleast one Tech Area Type is required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <h1 class="page-sub-title ext-padd mt-3">Default Stock Collection</h1>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Warehouse<span class="mandatory-field">*</span></label>
                                        <select name="Warehouse" formControlName="stockCollectionWarehouse"
                                            class="form-control fidelity-form-input">
                                            <option value="" disabled>Select Warehouse</option>
                                            <option [value]="i.id" *ngFor="let i of wareHouseList">{{i.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Location<span class="mandatory-field">*</span></label>
                                        <select name="location" formControlName="stockCollectionLocationId"
                                            class="form-control fidelity-form-input">
                                            <option value="" disabled>Select Location</option>
                                            <option [value]="i.id" *ngFor="let i of locationList">{{i.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <h1 class="page-sub-title ext-padd mt-3">Default Stock Holding</h1>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Warehouse<span class="mandatory-field">*</span></label>
                                        <select name="Warehouse" formControlName="stockHoldingWarehouse"
                                            class="form-control fidelity-form-input">
                                            <option value="" disabled>Select Warehouse</option>
                                            <option [value]="i.id" *ngFor="let i of wareHouseList">{{i.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Location<span class="mandatory-field">*</span></label>
                                        <select name="location" formControlName="stockHoldingLocationId"
                                            class="form-control fidelity-form-input">
                                            <option value="" disabled>Select Location</option>
                                            <option [value]="i.id" *ngFor="let i of locationHoldingList">
                                                {{i.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <h1 class="page-sub-title ext-padd mt-3">Boundary Information</h1>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>boundary Type<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input disabled"
                                            formControlName="boundaryType" placeholder="boundary Type" type="text" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Layer<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input disabled"
                                            formControlName="layerName" placeholder="layer" type="text" />
                                    </div>
                                </div>
                            </div>
                            <h1 class="page-sub-title ext-padd mt-3">Initiator Information</h1>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group p-relative">
                                        <label>Search<span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete-custom-control [name]="'Initiator'"
                                            [matOptionValueProperty]="'employeeId'" [matOptionViewProperty]="'fullName'"
                                            [formGroup]="techAreaForm" formControlName="assignTo"
                                            (clearDependentFormControlValues)="clearInitiatorFormControlValues()"
                                            [customInputGroupStyle]="{'margin-top':'27px'}"
                                            [getLoopableObjectRequestObservable]="getLoopableObjectRequestObservable"
                                            (emitSelectedOption)="onSelectedItemOption($event)">
                                        </mat-select-autocomplete-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control fidelity-form-input disabled"
                                            formControlName="firstName" placeholder="Name" type="text" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Surname</label>
                                        <input class="form-control fidelity-form-input disabled"
                                            formControlName="lastName" placeholder="Surname" type="text" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Employee ID</label>
                                        <input class="form-control fidelity-form-input disabled"
                                            formControlName="employeeNo" placeholder="Employee ID" type="text" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control fidelity-form-input disabled fidelity_email" formControlName="email"
                                            placeholder="Email" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="create_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{ boundaryId ?
                        'Update': 'Save'}}</button>
                    <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
