<div class="page-heading ">
    <h1 class="page-title d-inline-block">Update Warehouse</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/inventory/dashboard'>Inventory Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/inventory/warehouse'>Stock & Warehouse Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/inventory/warehouse/view' [queryParams]="{warehouseId:warehouseId, tab: selectedIndex}">View Warehouse Management</a></li>
        <li class="breadcrumb-item"> Update Warehouse Management </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <!-- <form action=""> -->
        <div class="ibox view-box" style="height: auto;">
            <div class="ibox-body p-2 mb-2 space-saving-con">
                <form [formGroup]="warehouseManagemenetMainForm">
                    <div class="row sm-inputs">
                        <div class="col-3">
                            <div class="form-group">
                                <label>Warehouse Code</label>
                                <input class="form-control fidelity-form-input" type="text" formControlName="warehouseCode" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Warehouse Name
                                    <span class="mandatory-field">*</span>
                                </label>
                                <input class="form-control fidelity-form-input" type="text" formControlName="warehouseName"
                                    [ngClass]="{'is-invalid': warehouseManagemenetMainForm?.get('warehouseName')?.touched && warehouseManagemenetMainForm?.get('warehouseName')?.invalid }" />
                            </div>
                            <span class="text-danger mb-2"
                                *ngIf="warehouseManagemenetMainForm?.get('warehouseName')?.touched && warehouseManagemenetMainForm?.get('warehouseName')?.invalid && warehouseManagemenetMainForm?.get('warehouseName')?.errors?.required">
                                Warehouse name is required
                            </span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Division
                                    <span class="mandatory-field">*</span>
                                </label>
                                <select class="form-control fidelity-form-input" formControlName="divisionId" (change)="onChangeDistrict($event.target.value)"
                                    [ngClass]="{'is-invalid': warehouseManagemenetMainForm?.get('divisionId')?.touched && warehouseManagemenetMainForm?.get('divisionId')?.invalid }">
                                    <option value="">--Select Division--</option>
                                    <option *ngFor="let division of divisionList" [value]="division?.id">
                                        {{division?.displayName}}
                                    </option>
                                </select>
                            </div>
                            <span class="text-danger mb-2"
                                *ngIf="warehouseManagemenetMainForm?.get('divisionId')?.touched && warehouseManagemenetMainForm?.get('divisionId')?.invalid && warehouseManagemenetMainForm?.get('divisionId')?.errors?.required">
                                Division is required
                            </span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>District
                                    <span class="mandatory-field">*</span>
                                </label>
                                <select class="form-control fidelity-form-input"  formControlName="districtId">
                                    <option value="">--Select District--</option>
                                    <option *ngFor="let district of districtList" [value]="district?.id">
                                        {{district?.displayName}}
                                    </option>
                                </select>
                            </div>
                       </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Purchasing Group</label>
                                <select class="form-control fidelity-form-input"
                                formControlName="purchasingGroupId"
                                [ngClass]="{'is-invalid': warehouseManagemenetMainForm?.get('purchasingGroupId')?.touched && warehouseManagemenetMainForm?.get('purchasingGroupId')?.invalid }">
                                    <option value="">--Select Purchasing Group--</option>
                                    <option *ngFor="let purchasingGroup of purchasingGroupList"
                                    [value]="purchasingGroup?.id">
                                        {{purchasingGroup?.displayName}}
                                    </option>
                                </select>
                            </div>
                            <span class="text-danger mb-2"
                                *ngIf="warehouseManagemenetMainForm?.get('purchasingGroupId')?.touched && warehouseManagemenetMainForm?.get('purchasingGroupId')?.invalid && warehouseManagemenetMainForm?.get('purchasingGroupId')?.errors?.required">
                                Purchasing Group is required
                            </span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Purchasing Organization</label>
                                <select class="form-control fidelity-form-input"
                                formControlName="purchasingOrganizationId"
                                [ngClass]="{'is-invalid': warehouseManagemenetMainForm?.get('purchasingOrganizationId')?.touched && warehouseManagemenetMainForm?.get('purchasingOrganizationId')?.invalid }">
                                    <option value="">--Select Purchasing Organization--</option>
                                    <option *ngFor="let purchasingOrganization of purchasingOrganizationList"
                                    [value]="purchasingOrganization?.id">
                                        {{purchasingOrganization?.displayName}}
                                    </option>
                                </select>
                            </div>
                            <span class="text-danger mb-2"
                                *ngIf="warehouseManagemenetMainForm?.get('purchasingOrganizationId')?.touched && warehouseManagemenetMainForm?.get('purchasingOrganizationId')?.invalid && warehouseManagemenetMainForm?.get('purchasingOrganizationId')?.errors?.required">
                                Purchasing Organization is required
                            </span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="d-block">Status</label>
                                <p-inputSwitch class="fidelity-toggle-btn" formControlName="status"
                                    (onChange)="enableDisableStatus($event)"></p-inputSwitch>
                            </div>
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="warehouseMainLocationError">
                        No main location for selected warehouse
                    </span>
                </form>
            </div>        
            <div class="mt-2 pb-0">
                    <div class="container-fluid view-warehouse-tabs-con">
                        <div class="row">
                            <mat-tab-group #tabGroup [selectedIndex]="selectedIndex" class="fidelity-tab-group mat-tab-body-padding-0 tab-body-pb-0" (selectedTabChange)="onTabClicked($event)">
                                <mat-tab label="Basic Info"  class="bg-gray">
                                    <div class="ibox-body">
                                        <!-- <div class="custom-scroll1" style="overflow-x: auto;height: 45vh"> -->
                                        <div>
                                            <form customForm [formGroup]="warehouseManagemenetBasicInfoForm" (ngSubmit)="updateBaseInfo()">
                                                <div class="basic-info-div" >                                                
                                                        <div class="row sm-inputs" style="height: 30vh;overflow-y: auto;">
                                                            <div class="col-12">
                                                                <div class="form-group find-address-con" style="width: 94%;">
                                                                    <label>Find Address</label>
                                                                    <!-- <input class="form-control fidelity-form-input disabled" type="text" formControlName="warehouseCode" /> -->
                                                                    <div class="input-group fidelity-input-addon mb-3">
                                                                        <mat-form-field id="find_address_autocomplete">
                                                                            <input formControlName="fullAddress" #formatedAddress matInput name="Find Address"
                                                                                [matAutocomplete]="auto" class="fidelity-address-con">
                                                                            <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true">
                                                                                <mat-option *ngIf="isLoading" class="is-loading">
                                                                                    <mat-spinner diameter="20"></mat-spinner>
                                                                                </mat-option>
                                                                                <ng-container *ngIf="!isLoading">
                                                                                    <mat-option *ngFor="let address of addressList"
                                                                                        [value]="address.description"
                                                                                        (onSelectionChange)="onSelectedAddressFromAutoComplete($event.source.selected, address,address.seoid)">
                                                                                        <span>{{ address.description }}</span>
                                                                                    </mat-option>
                                                                                </ng-container>
                                                                            </mat-autocomplete>
                                                                        </mat-form-field>
                                                                        <span style="position: fixed;margin-top: -21px;z-index: 10!important;">
                                                                            <span class="duplicate" *ngIf="warehouseManagemenetBasicInfoForm?.get('fullAddress')?.touched && warehouseManagemenetBasicInfoForm?.get('fullAddress')?.errors?.required">
                                                                                Find Address is required
                                                                            </span>
                                                                            <span class="duplicate" *ngIf="inValid">
                                                                                Address not found
                                                                            </span>
                                                                        </span>
                                                                        <span style="position: absolute;bottom: -16px!important;z-index: 10!important;">
                                                                            <span class="duplicate" style="display: contents" *ngIf="checkMaxLengthAddress">
                                                                                Find Address maximum length is 3
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label>Location Pin</label>
                                                                    <!-- <input class="form-control fidelity-form-input" type="text" formControlName="locationPin" /> -->
                                                                    <div class="input-group fidelity-input-addon mb-3">
                                                                        <input class="form-control fidelity-form-input" type="text"
                                                                            formControlName="locationPin" name="" placeholder="Enter" maxlength=""
                                                                            style="height: 42px;">
                                                                        <div class="input-group-append">
                                                                            <button class="text-white" type="button">
                                                                                <i aria-hidden="true" class="icon icon-location"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                        
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label>Building No
                                                                        <!-- <span class="mandatory-field">*</span> -->
                                                                    </label>
                                                                    <input class="form-control fidelity-form-input" type="text" formControlName="buildingNumber" [maxlength]="50" />
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label>Building Name</label>
                                                                    <input class="form-control fidelity-form-input" type="text" formControlName="buildingName" [maxlength]="50" />
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label>Street Number</label>
                                                                    <input class="form-control fidelity-form-input" type="text" formControlName="streetNumber" [maxlength]="50" />
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label>Street Address</label>
                                                                    <input class="form-control fidelity-form-input" type="text" formControlName="streetName" />
                                                                </div>
                                                            </div> 
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label class="d-block">Suburb
                                                                        <span class="mandatory-field">*</span>
                                                                    </label>
                                                                    <input class="form-control fidelity-form-input" type="text" formControlName="suburbName" />
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label>City/ Town
                                                                        <span class="mandatory-field">*</span>
                                                                    </label>
                                                                    <input class="form-control fidelity-form-input" type="text" formControlName="cityName" />
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label>Province
                                                                        <span class="mandatory-field">*</span>
                                                                    </label>
                                                                    <input class="form-control fidelity-form-input" type="text"
                                                                        formControlName="provinceName" />
                                                                </div>
                                                            </div> 
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label class="d-block">Postal Code
                                                                        <span class="mandatory-field">*</span>
                                                                    </label>
                                                                    <input class="form-control fidelity-form-input" type="text" formControlName="postalCode"
                                                                        [maxlength]="4" />
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label class="d-block">Contact Name
                                                                        <span class="mandatory-field">*</span>
                                                                    </label>
                                                                    <input class="form-control fidelity-form-input" type="text" formControlName="contactName"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <label>Contact Number
                                                                    <span class="mandatory-field">*</span>
                                                                </label>
                                                                <div class="row">
                                                                    <div class="col-3 pr-0">
                                                                        <div class="form-group" style="width: 100%!important;">
                                                                            <select class="form-control fidelity-form-input pad-right"
                                                                                style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                                                                                <option value="+27">+27</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <div class="form-group" style="width: 84%!important;">
                                                                            <input id="officeNo"
                                                                                style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                                                [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                                [maxlength]="formConfigs.southAfricanContactNumberMaxLength" appPhoneMask
                                                                                formControlName="officeNumber" class="form-control fidelity-form-input"
                                                                                name="Office Number" placeholder="Office Number" />
                                                                        </div>
                                                                    </div>
                                                                </div>
    
                                                        
                                                            </div>
                                                        </div>                                               
                                                    
                                                </div>
                                                <div class="text-center mt-5" style="margin-top: 19px !important;">
                                                    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
                                                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button" (click)="navigateToViewPage()">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- </div> -->
                                    </div>
                                </mat-tab>
                            
                                <mat-tab label="Row" class="bg-gray" >
                                    <form [formGroup]="warehouseManagemenetRowForm" (ngSubmit)="updateRow()">
                                        <div class="ibox-body space-saving-con p-0">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label>No of Row <span class="mandatory-field">*</span></label>
                                                            <input class="form-control fidelity-form-input" type="text" [validateInput]='isANumberOnly'
                                                            formControlName="NoOfRows" [maxlength]="2"
                                                            [ngClass]="{'is-invalid': warehouseManagemenetRowForm?.get('NoOfRows')?.touched && warehouseManagemenetRowForm?.get('NoOfRows')?.invalid && warehouseManagemenetRowForm?.get('NoOfRows')?.errors?.required || warehouseManagemenetRowForm?.get('NoOfRows')?.errors?.maxlength}"/>
                                                        </div>                    
                                                    </div>
                                                    <div class="col-4 d-flex align-items-end">
                                                        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown" (click)="addRows()" [disabled]="warehouseManagemenetRowForm?.get('NoOfRows')?.invalid">Add</button>
                                                        <!-- <button type="button" class="btn btn-md-fidelity fidelity-btn-brown " (click)="addRows()" [disabled]="warehouseManagemenetRowForm?.get('NoOfRows')?.invalid">Add</button> -->
                                                    </div>                                            
                                                </div>
                                                <span class="text-danger mb-2" *ngIf="warehouseManagemenetRowForm?.get('NoOfRows')?.errors?.maxlength">
                                                    Number of total rows can not be greater than 99
                                                </span>
                                                <span class="text-danger mb-2" *ngIf="warehouseManagemenetRowForm?.get('NoOfRows')?.touched && warehouseManagemenetRowForm?.get('NoOfRows')?.invalid && warehouseManagemenetRowForm?.get('NoOfRows')?.errors?.required">
                                                    No of Rows is required
                                                </span>
                                            </div>
                                            <div>
                                                <!-- <div class="custom-scroll1" style="overflow-x: auto;height: 32vh"> -->
                                                    <div class="row-tab-custom" style="height: 30vh;overflow-y: auto;">  
                                                        <div class="container-fluid">
                                                            <div class="row header-row mb-2">
                                                                <div class="col-3">Row Name</div>
                                                                <div class="col-8">Description</div>
                                                                <div class="col-1"></div>
                                                            </div>
                                                            <div class="row children-row mb-2" formArrayName="warehouseManagementRow">
                                                                <div class="col-12">
                                                                    <div class="row p-relative mb-2" *ngFor="let control of warehouseRowFormArray?.controls; let i = index" [formGroupName]="i">
                                                                        <div class="col-3">
                                                                            <input class="form-control fidelity-form-input disabled" type="text" formControlName="rowName"  />
                                                                        </div>
                                                                        <div class="col-8">
                                                                            <input class="form-control fidelity-form-input" type="text" [maxlength]="50"
                                                                            formControlName="description" />
                                                                        </div>
                                                                        <div class="col-1">
                                                                            <button type="button" *ngIf="control?.value?.hasOwnProperty('locationRowId')"
                                                                            (click)="enableDisableRow(control)"
                                                                            [matTooltip]="(control?.value?.isActive)? 'Disable' : 'Enable'" [disabled]="!control?.value?.hasOwnProperty('locationRowId')" class="circle-minus-btn">
                                                                            <!-- [disabled]="(control?.value?.locationRowId == undefined)" -->
                                                                                <i aria-hidden="true" class="icon icon-error"></i>
                                                                            </button>
                                                                            <!-- (control['isActive']?.value) -->
                                                                        </div>
                                                                    </div>
                                                                </div>                                                
                                                            </div>
                                                            <div class="d-flex">
                                                                <span id="availableRowsLabel" class="mr-3">Available Rows</span>
                                                                <span id="availableRowsValue" class="">
                                                                    <span class="d-inline-block">
                                                                        <!-- {{ (tabDataModel?.noOfRows) ? (tabDataModel?.noOfRows) : '0' }} -->
                                                                        {{warehouseRowFormArray?.controls?.length}}
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                            <div class="text-center mt-2">
                                                <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit" [disabled]=" !showRowError">Save</button>
                                                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button" (click)="navigateToViewPage()">Cancel</button>
                                            </div>
                                        </div>     
                                    </form>                      
                                </mat-tab>

                                <mat-tab label="Shelf And Bins" class="bg-gray">
                                    <app-shelf-and-bin [changing]="changingValue" [isEdit]="editPermissions['Shelf And Bin']?.edit">
                                    </app-shelf-and-bin>
                                </mat-tab>

                                <mat-tab label="Stock In Bin" class="bg-gray">
                                    <app-stock-in-bin [StockInBinChanging]="StockInBinChangingValue"  [isEdit]="editPermissions['Stock In Bin']?.edit">
                                    </app-stock-in-bin>
                                </mat-tab>
                                
                                <mat-tab label="Merge Storage" class="bg-gray">
                                    <app-merge-storage [MergeStorageChanging]="MergeStorageChangingValue" [isEdit]="editPermissions['Merge Storage']?.edit" ></app-merge-storage>
                                </mat-tab>

                                <mat-tab label="SAP Storage" class="bg-gray">
                                    <app-sap-storage [SAPStorageChanging]="SAPStorageChangingValue">
                                    </app-sap-storage>
                                </mat-tab>

                                <mat-tab label="CRM Storage" class="bg-gray">
                                    <app-crm-storage [CRMStorageChanging]="CRMStorageChangingValue">
                                    </app-crm-storage>   
                                </mat-tab>

                                <mat-tab label="Technician Storage" class="bg-gray">
                                    <app-technician-storage [technicianStorageChanging]="technicianStorageChangingValue"></app-technician-storage>
                                </mat-tab>
                                <mat-tab label="Dealer Storage" class="bg-gray">
                                    <app-dealer-storage [dealerStorageChanging]="dealerStorageChangingValue"></app-dealer-storage>
                                </mat-tab>
                            </mat-tab-group>                
                        </div>
                    </div>
            </div>
        </div>
    <!-- </form> -->
</div>