// ::ng-deep .ui-scrollpanel-content {
//     height: calc(100% + 18px);
//     width: calc(100% + 12px) !important;
//     padding: 2px 22px 24px 0;
//     position: relative;
//     overflow: auto;
//     box-sizing: border-box;
// }
body .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    padding-right: 4em;
    height: 25px;
}
.ui-dropdown-label-container{
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    /* padding: 0.429em; */
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s;
    line-height: initial;
    padding: 0px;
    width: 90%;
}

