.form-group {
    width: 80%;
}

mat-select-autocomplete#leadCategoryId > .mat-form-field {
    border: none!important;
  }


.key {
    display: inline-block;
    width: 38%;
    color: #8A8A8A;
    word-wrap: break-word;
}

.value {
    width: 62%;
    word-wrap: break-word;

    span {
        width: 100%;
        border:none;
        font-family: 'Calibri_Bold', sans-serif!important;
        font-size: 1.3rem;
    }
}
.duplicate {
    color: #dc3545;
    font-size: 0.8em;
  }
  .mobile-input-group-prepend {
    span.invalid-feedback {
        position: absolute!important;
        z-index: 10!important;
        bottom: -17px!important;
    }
}
// ::ng-deep .mobile-number span{
//     position: absolute!important;
//     top: 42px!important;
//     left: -201px!important;
//     width: 500px!important; 
// }
//  .custom .ui-scrollpanel-bar {
//      display: none !important;
// }
::ng-deep #storageLocation .mat-form-field-flex {
    padding:8px!important;
    .mat-chip.mat-standard-chip {
        background-color: #0d4131!important;
        /* color: rgba(0,0,0,.87); */
        color: #fff!important;
        
    }
    .mat-chip.mat-standard-chip .mat-chip-remove {
        color: rgb(233 212 212 / 87%)!important;
        opacity: .4;
        margin-top: 3px!important;
    }
    
}