<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
    </app-page-header>
    <form *ngIf="showFilterForm" [formGroup]="vasViewFilterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;right: 25px; z-index: 10; width: 300px;">
        <div class="filter-dropdwon-con">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group fdt-pdropdown-con w-100">
                        <label>Last Minute</label>
                        <p-dropdown [formControl]="vasViewFilterForm?.controls['minute']" [options]="minuteList"
                            emptyFilterMessage="No Minute Exists" placeholder="Select Minute" [style]="{'width':'100%'}"
                            [showClear]="false"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body brown-border">
                <div class="row">
                    <div class="col-md-12 pb-3">
                        <app-view-page [col]="2" [viewDetail]="vasViewDetail">
                        </app-view-page>
                    </div>
                    <div class="col-md-12">
                        <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                            [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList"
                            [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [first]="first"
                            [reset]="reset" [searchFirst]="true" (onActionSubmited)="onActionSubmited($event)">
                        </app-page-list-table>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>