<!-- <div class="position-relative">
    <app-page-header class="row ml-2" [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems" (buttonClicked)="onCRUDRequested($event)"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedIndex">
    </app-page-header>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <app-page-tab [selectedIndex]="selectedIndex"
                [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                (tabClicked)="tabClick($event)"></app-page-tab> -->
            <form customForm class="fidelity-popup-form" [formGroup]="incentiveConfigDetailForm"
                (ngSubmit)="onSubmitRequest()">
                <div class="ibox" style="height: calc(100vh - 40vh) !important;">
                    <div class="ibox-body mb-3">
                        <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                            <div class="row flex-nowrap header-row">
                                <div [class]="col?.className"
                                    *ngFor="let col of primengTableConfigProperties?.tableComponentConfigs?.tabsList[selectedIndex].columns">
                                    {{col.displayName}}<span class="mandatory-field">*</span></div>
                                <div class="col-1"></div>
                            </div>
                            <app-page-form-array [pageForm]="incentiveConfigDetailForm" [isShowNoData]="true"
                                [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                                [selectedIndex]="selectedIndex" [isLoading]="isLoading" [isSubmitted]="isSubmitted"
                                (validateExist)="validateExistItem($event)" (editItem)="editConfigItem($event)">
                            </app-page-form-array>
                        </p-scrollPanel>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit"
                        [disabled]="isSubmitted || isLoading || incentiveConfigDetailForm?.invalid"
                        *ngIf="selectedIndex ==  0">Save</button>
                    <button (click)="onResetClick()" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </form>
        <!-- </div>
    </div>
</div> -->
