<div class="page-heading">
    <h1 class="page-title d-inline-block"> Picking - Other Locations </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">
            <a> Inventory Management </a>
        </li>
        <li class="breadcrumb-item"><a (click)="navigateToList()"> Job selection </a></li>
        <li class="breadcrumb-item"><a> Picking - Other Locations </a></li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2" *ngIf="showManager">
        <a  class="fidelity-btn-circle fidelity-white-btn" (click)="managerOverridePopup()">
            <i class="fa fa-user" aria-hidden="true" matTooltip="Manager Override"></i>
        </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox picker-job-box view-box" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                    <form class="fidelity-popup-form" customForm [formGroup]="pickingStockOrderScanForm">
                        <div class="ibox-body">
                            <div class="row">
                                <div class="col-12 col-sm-6 red-pad p-relative mb-2">
                                    <div class="d-flex">
                                        <label class="mr-5 key"> <b> Warehouse </b> </label>
                                        <label class="value"> {{ pickerJobDetails?.issuingWarehouse ? pickerJobDetails?.issuingWarehouse : '-' }} </label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 red-pad p-relative mb-2">
                                    <div class="d-flex">
                                        <label class="mr-5 key"> <b> Stock Order Number </b> </label>
                                        <label class="value">{{ pickerJobDetails?.stockOrderNumber ? pickerJobDetails?.stockOrderNumber : '-' }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 red-pad p-relative mb-2">
                                    <div class="d-flex">
                                        <label class="mr-5 key"> <b> Requesting Location </b> </label>
                                        <label class="value">{{ pickerJobDetails?.receivingLocationCode ? pickerJobDetails?.receivingLocationCode : '-' }}</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  red-pad p-relative mb-2">
                                    <div class="d-flex">
                                        <label class="mr-5 key"> <b> Requesting Location Name </b> </label>
                                        <label class="value">{{ pickerJobDetails?.receivingLocationName ? pickerJobDetails?.receivingLocationName : '-' }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 red-pad p-relative mb-2">
                                    <div class="d-flex">
                                        <label class="mr-5 key"> <b> Issuing Location </b> </label>
                                        <label class="value">{{ pickerJobDetails?.issuingStorageLocationCode ? pickerJobDetails?.issuingStorageLocationCode : '-' }}</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  red-pad p-relative mb-2">
                                    <div class="d-flex">
                                        <label class="mr-5 key"> <b> Issuing Location Name </b> </label>
                                        <label class="value">{{ pickerJobDetails?.issuingStorageLocationName ? pickerJobDetails?.issuingStorageLocationName : '-' }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-5  red-pad">
                                    <div class="form-group p-relative picking-serial">
                                        <label>Scan/ Enter Serial No</label>
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input class="form-control fidelity-form-input" autofocus maxlength="50"
                                            placeholder="Scan/Enter" formControlName="scanSerialNumberInput" (keydown.enter)="checkScanItem()"
                                            [readonly]="packerJobScanItemDetails?.isNotSerialized">
                                            <div class="input-group-append">
                                                <button class="text-white" type="button" (click)="checkScanItem()"
                                                [disabled]="packerJobScanItemDetails?.isNotSerialized">
                                                    <i aria-hidden="true" class="icon icon-scan"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="text-danger" *ngIf="showDuplicateError">
                                            {{duplicateError}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row header-row mt-3">
                                <div class="col-4 col-sm-4">
                                    <label> <b> Stock Code </b> </label>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <label> <b> Bin Location </b> </label>
                                </div>
                                <div class="col-2 col-sm-2">
                                    <label> <b> Qty </b> </label>
                                </div>
                                <div class="col-2 col-sm-2">
                                    <label> <b> Picked Qty </b> </label>
                                </div>
                            </div>

                            <div class="row children-row mb-2">
                                <div class="col-4 col-sm-4">
                                    <input type="text" class="form-control fidelity-form-input disabled"  formControlName="itemCode">
                                </div>
                                <div class="col-4 col-sm-4">
                                    <input type="text" class="form-control fidelity-form-input disabled"  formControlName="bincode">
                                </div>
                                <div class="col-2 col-sm-2 p-relative">
                                    <input type="text" class="form-control fidelity-form-input" formControlName="totalQty"
                                    [readonly]="!packerJobScanItemDetails?.isNotSerialized" maxlength="5">
                                    <div class="d-flex p-absolute btns-con input-action-btns-con" style="font-size: 9px;right: 2vw;top: 8px;">
                                        <button class="d-flex justify-content-center align-items-center" type="button"
                                            style="width:25px;height:25px;border-radius:50%;border:1px solid #ccc;cursor: pointer;"
                                            [disabled]="!packerJobScanItemDetails?.isNotSerialized" (click)="checkScanItem()">
                                            <span class="icon icon-add" matTooltip="Add"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2">
                                    <input type="text" class="form-control fidelity-form-input disabled" formControlName="pickedQty">
                                </div>
                            </div>

                        </div>
                        <div class="text-center mt-3 btns-con">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown" type="button" (click)="navigateToList()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- <p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isPrintSuccessDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header>Confirmation</p-header>
    <div class="row mt-1">
        <div class="col-lg-12" style="font-size: 18px; text-align: center;">
            {{printMessages}}
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center" *ngIf="printActionBtn">
                <button type="button" (click)="onModalPopupNextOpen()"
                    class="btn btn-md-fidelity fidelity-btn-brown"> Ok
                </button>
            </div>
            <div class="text-center" *ngIf="!printActionBtn">
                <button type="button" (click)="onModalPopupNextOpen()"
                    class="btn btn-md-fidelity fidelity-btn-brown"> Yes
                </button>
                <button type="button" (click)="reprintAction()"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog> -->
