<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
  cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
  {{config?.header}}
  <button mat-icon-button class="confirm-close-btn p-absolute" type="button" (click)="btnCloseClick()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
  <form autocomplete="off" [formGroup]="scheduleDialogForm" class="fidelity-popup-form" (ngSubmit)="onSubmitDialog()"
    style="font-size: 0.9rem!important;">
    <div>
      <div>
        <p-scrollPanel [style]="{height: '26vh'}" styleClass="custom">
          <div class="view-box mr-3">
            <div class="row mt-1">
              <div class="col-md-12">
                <div class="form-group mat-form">
                  <label>Schedule Date and Time<span class="mandatory-field">*</span></label>
                  <p-calendar formControlName="scheduleDateTime" [showTime]="true" styleClass="w-100" placeholder=""
                    [dateFormat]="getDateFormat()" [minDate]="minScheduleDateTime"
                    [minTime]="minScheduleDateTime"></p-calendar>
                  <span class="text-danger"
                    *ngIf="scheduleDialogForm?.get('scheduleDateTime')?.touched && scheduleDialogForm?.get('scheduleDateTime')?.errors?.required">
                    Schedule Date and Time is required
                  </span>
                  <p-messages [(value)]="timeMessage"></p-messages>
                </div>
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-4" [disabled]="isSubmitted"
        >Confirm</button>
      <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
        type="button">{{'Cancel'}}</button>
    </div>
  </form>
</div>