<div class="page-heading">
    <h1 class="page-title d-inline-block">View Item Price Parameter</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item" ><a routerLink='/configuration/sales/items' [queryParams]="{tab:0}"
            skipLocationChange>Items</a></li>
        <li class="breadcrumb-item"><a routerLink='/configuration/sales/items' [queryParams]="{tab:4}"
            skipLocationChange>Dealer Price Parameter List</a>
        </li>
        <li class="breadcrumb-item">View Item Price Parameter</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a title="Edit" (click)="actionOnLeavingComponent()"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            id="pricinf_edit_btn">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>

</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm class="fidelity-popup-form" [formGroup]="dealerPriceParameterForm">
                <div class="ibox white-bg">
                    <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                        <div class="ibox-body">
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Price List Code<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="priceListCode" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Labour Rate<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="labourRate" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Material Markup<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="materialMarkup" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Consumable Markup<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="consumableMarkup" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                    (click)="close()">Back</button>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
            </form>
        </div>
    </div>
</div>