<div class="fidelity-popup-heading container-fluid p-relative" mat-dialog-title cdkDrag
  cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>PO Barcode Printing
  <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form">
  <mat-dialog-content id="print-section">


    <div class="barcode-label mt-2">
      <ngx-barcode *ngFor="let bcValue of values" [bc-element-type]="elementType" [bc-value]="bcValue"
        [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height"
        [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font" [bc-text-align]="textAlign"
        [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize"
        [bc-background]="background" [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom"
        [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button class="btn fidelity-btn-brown" type="button" printTitle="PO Barcode"
      printSectionId="print-section" [useExistingCss]="true" ngxPrint>Print</button>
    <button mat-button class="btn fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
  </mat-dialog-actions>
</form>
