
::ng-deep button.print-btn.circle-plus-btn {
    background-color: #166DFF;
    width: 25px;
    height: 25px;
    color: #fff;
}
// ::ng-deep .mat-tab-body-content {
    /* height: 100%; */
    // overflow:unset !important;
// }
// ::ng-deep .custom-ibox {
//     height: calc(100% - 10%) !important;
// }
::ng-deep .ibox {
    height: calc(100vh - 26vh) !important;
}
::ng-deep .custom-ibox-body1 {
    height: 35%;
    overflow: auto;
}
::ng-deep .custom-ibox-body2 {
    height: 65%;
    overflow: auto;
}
.receipting-batches-con {
    .product-header-row {
        .col-1 {
            white-space: nowrap;
        }
    }
}
.font-weight {
    font-weight: 600;
}

.ibox .ibox-body{
    padding:10px !important;
}
button.circle-plus-btn{
    top:2px !important;
}
.view-box .key,.product-header-row div{
    font-size:13px !important;
}
.custom-height{
    height: 25vh !important;
    overflow-x: auto
}
@media (min-width: 1600px) and (min-height: 900px) {
    .custom-height{
        height: 36vh !important;
        overflow-x: auto
    }
}