@import "../../../../../../variables.scss";
.print-barcode-popup-con {
  .col-6 > .form-group {
    width: 80%;
  }

  .key {
    display: inline-block;
    width: 38%;
    color: #8A8A8A;
    word-wrap: break-word;
  }

  .value {
    width: 62%;
    word-wrap: break-word;

    span {
        width: 100%;
        border:none;
        font-family: $fidelity-font-bold;
        font-size: 1.3rem;
    }
  }

}

.barcode-label {
  background-color: $fidelity-grey;
  border-radius: 3px;
  padding: 5px 5px 5px 15px;
}
