
.custom-icon-service .fidelity-btn-circle {
    width: 30px !important;
    height: 30px !important;
}

.color-white{
  color : #fff !important;
}

::ng-deep .date-field-custom p-calendar{
  span{
      width: 100% !important;
  }
}

::ng-deep .shift-details-popup-con {
    .ui-dialog-content {
        min-height: 56vh;

        p-calendar.eta-calendar {
            .ui-calendar .ui-datepicker {
                top: -13rem!important;
            }
        }
    }
}
