<div class="page-heading">
  <h2 class="page-title">{{ primengTableConfigProperties.tableCaption }}</h2>

  <ol
    class="breadcrumb"
    *ngIf="
      primengTableConfigProperties.tableComponentConfigs.tabsList[
        selectedTabIndex
      ]?.enableBreadCrumb
    "
  >
    <li class="breadcrumb-item">
      <a> <i class="fa fa-home" aria-hidden="true"></i></a>
    </li>
    <li
      class="breadcrumb-item"
      *ngFor="
        let breadCrumbItem of primengTableConfigProperties.breadCrumbItems;
        index as i
      "
    >
      <a
        *ngIf="breadCrumbItem.relativeRouterUrl && !breadCrumbItem.queryParams"
        (click)="onBreadCrumbClick(breadCrumbItem)"
        >{{ breadCrumbItem.displayName }}</a
      >

      <a
        *ngIf="breadCrumbItem.relativeRouterUrl && breadCrumbItem.queryParams"
        (click)="onBreadCrumbClick(breadCrumbItem)"
        >{{ breadCrumbItem.displayName }}</a
      >
      <a *ngIf="!breadCrumbItem.relativeRouterUrl">{{
        breadCrumbItem.displayName
      }}</a>
    </li>
  </ol>

  <div class="grid-icons-con float-right pr-0">
    <div class="d-flex fidelity-search-input-con">
      <a
        class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        (click)="onCRUDRequested('delete')"
        matTooltip="Delete"
        *ngIf="
          primengTableConfigProperties.tableComponentConfigs.tabsList[
            selectedTabIndex
          ]?.enableMultiDeleteActionBtn
        "
      >
        <i aria-hidden="true" class="icon icon-delete"></i
      ></a>
      <a
        class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
        (click)="onCRUDRequested('create')"
        *ngIf="
          primengTableConfigProperties.tableComponentConfigs.tabsList[
            selectedTabIndex
          ]?.ebableAddActionBtn
        "
        ><i
          aria-hidden="true"
          data-icon="b"
          class="icon"
          matTooltip="Create New"
        ></i
      ></a>
    </div>
  </div>
</div>

<p-scrollPanel [style]="{ height: '70vh' }" styleClass="custom">
  <div class="mb-4">
    <ng-container
      *ngIf="
        primengTableConfigProperties.tableComponentConfigs.tabsList.length > 1;
        else elseTemplateTable
      "
    >
      <mat-tab-group [selectedIndex]="selectedTabIndex">
        <mat-tab
          [label]="tables.caption"
          *ngFor="
            let tables of primengTableConfigProperties.tableComponentConfigs
              .tabsList;
            let i = index
          "
        >
          <form [formGroup]="columnFilterForm">
            <p-table
              class="custom-scroll"
              #dt
              [columns]="tables.columns"
              [lazy]="true"
              [lazyLoadOnInit]="false"
              [(selection)]="selectedRows"
              [scrollable]="true"
              scrollHeight="327px"
              [autoLayout]="true"
              [resizableColumns]="tables?.resizableColumns"
              (onLazyLoad)="loadPaginationLazy($event)"
              [loading]="loading"
              [value]="dataList"
              [dataKey]="tables.dataKey"
              [paginator]="totalRecords == 0 ? false : true"
              [rows]="20"
              [totalRecords]="totalRecords"
              [rowsPerPageOptions]="totalRecords > 20 ? pageLimit : null"
              [responsive]="true"
              columnResizeMode="expand"
              [reorderableColumns]="tables?.reorderableColumns"
            >
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: left">
                  <div class="row">
                    <div class="col-md-5" style="padding-left: 0">
                      <button
                        type="button"
                        pButton
                        icon="pi pi-file-o"
                        iconPos="left"
                        label="CSV"
                        (click)="dt.exportCSV()"
                        style="margin-right: 0.5em"
                        *ngIf="tables?.enableExportCSV"
                      ></button>
                      <button
                        type="button"
                        pButton
                        icon="pi pi-file-excel"
                        iconPos="left"
                        label="EXCEL"
                        (click)="exportExcel()"
                        style="margin-right: 0.5em"
                        class="ui-button-success"
                        *ngIf="tables?.enableExportExcel"
                      ></button>
                      <button
                        type="button"
                        pButton
                        icon="pi pi-file"
                        iconPos="left"
                        label="CSV - Selection Only"
                        (click)="dt.exportCSV({ selectionOnly: true })"
                        style="margin-right: 0.5em"
                        class="ui-button-warning"
                        *ngIf="tables?.enableExportCSVSelected"
                      ></button>
                      <button
                        type="button"
                        pButton
                        icon="pi pi-undo"
                        iconPos="left"
                        label="Reset"
                        (click)="dt.reset()"
                        style="margin-right: 0.5em"
                        class="ui-button-secondary"
                        *ngIf="tables?.enableReset"
                      ></button>
                    </div>

                    <div class="col-md-7" style="padding-right: 0">
                      <form [formGroup]="searchForm">
                        <div
                          style="text-align: right; float: right"
                          *ngIf="
                            primengTableConfigProperties.tableComponentConfigs
                              .tabsList[selectedTabIndex]?.enableGlobalSearch
                          "
                        >
                          <i
                            class="fa fa-search"
                            style="margin: 4px 4px 0 0"
                          ></i>

                          <input
                            type="text"
                            pInputText
                            size="30"
                            placeholder="Global Filter"
                            formControlName="searchKeyword"
                            style="width: auto"
                          />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col
                    [ngClass]="{ checkboxActive: tables?.checkBox }"
                    *ngIf="tables?.checkBox"
                  />
                  <col
                    *ngFor="let col of columns"
                    [ngStyle]="{ width: col.width }"
                  />
                  <col
                    [ngClass]="{ enableRowDeleteActive: tables?.checkBox }"
                    *ngIf="tables?.enableRowDelete"
                  />
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr class="first-row">
                  <th
                    [ngClass]="{ checkboxActive: tables?.checkBox }"
                    *ngIf="tables?.checkBox"
                  >
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th
                    *ngFor="let col of columns"
                    [pSortableColumn]="col.field"
                    pResizableColumn
                    pReorderableColumn
                  >
                    {{ col.header }}
                    <p-sortIcon
                      [field]="col.field"
                      ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                  </th>
                  <th
                    [ngClass]="{
                      enableRowDeleteActive: tables?.enableRowDelete
                    }"
                    *ngIf="tables?.enableRowDelete"
                  >
                    Action
                  </th>
                </tr>
                <tr *ngIf="tables?.enableFieldsSearch">
                  <th
                    [ngClass]="{ checkboxActive: tables?.checkBox }"
                    *ngIf="tables?.checkBox"
                  ></th>
                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input
                      [formControlName]="col.field"
                      [validateInput]="isAnAlphaNumericOnly"
                      *ngIf="
                        col.field != 'isActive' &&
                        col.field != 'division' &&
                        col.field != 'isStatus' &&
                        !col.field.toLowerCase().includes('date') &&
                        i == selectedTabIndex
                      "
                      pInputText
                      type="text"
                    />
                    <p-calendar
                      [formControlName]="col.field"
                      [utc]="true"
                      [maxDate]="today"
                      *ngIf="
                        col.field.toLowerCase().includes('date') &&
                        i == selectedTabIndex
                      "
                      appendTo="body"
                      showButtonBar="true"
                      [readonlyInput]="true"
                      (onClearClick)="dt.filter($event.value, col.field, null)"
                    >
                    </p-calendar>
                    <p-dropdown
                      [formControlName]="col.field"
                      *ngIf="
                        (col.field == 'isActive' || col.field == 'isStatus') &&
                        i == selectedTabIndex
                      "
                      appendTo="body"
                      [options]="status"
                      placeholder="Select Status"
                      [style]="{ width: '75%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                  </th>
                  <th
                    [ngClass]="{
                      enableRowDeleteActive: tables?.enableRowDelete
                    }"
                    *ngIf="tables?.enableRowDelete"
                  ></th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowData
                let-ri="rowIndex"
                let-columns="columns"
                let-expanded="expanded"
              >
                <tr [pSelectableRow]="rowData">
                  <td
                    [ngClass]="{ checkboxActive: tables?.checkBox }"
                    *ngIf="tables?.checkBox"
                  >
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td
                    *ngFor="let col of columns; index as i"
                    class="ui-resizable-column"
                    pReorderableRowHandle
                  >
                    <a
                      href="#"
                      [pRowToggler]="rowData"
                      *ngIf="
                        tables?.rowExpantable && i == tables?.rowExpantableIndex
                      "
                    >
                      <i
                        [ngClass]="
                          expanded
                            ? 'pi pi-chevron-down'
                            : 'pi pi-chevron-right'
                        "
                      ></i>
                    </a>

                    <ng-container
                      *ngIf="
                        col.header == 'Status' ||
                          col.header == 'Request Status' ||
                          col.field.toLowerCase().includes('date');
                        then thenTemplate;
                        else elseTemplate
                      "
                    >
                    </ng-container>
                    <ng-template #thenTemplate>
                      <ng-container *ngIf="col.header == 'Status'">
                        <span
                          *ngIf="!tables.enableStatusActiveAction"
                          class="status-label pos-top"
                          style="cursor: pointer"
                          [ngClass]="
                            col.field == 'isActive' || col.field == 'isStatus'
                              ? rowData[col.field] == true
                                ? 'status-label-green'
                                : 'status-label-pink'
                              : rowData.cssClass
                          "
                        >
                          {{
                            col.field == "isActive" || col.field == "isStatus"
                              ? rowData[col.field] == true
                                ? "Active"
                                : "InActive"
                              : rowData[col.field]
                              ? rowData[col.field]
                              : "-"
                          }}
                        </span>
                        <p-dropdown
                          *ngIf="tables.enableStatusActiveAction"
                          [options]="status"
                          appendTo="body"
                          [(ngModel)]="rowData[col.field]"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Select Status"
                          [style]="{ width: '100%' }"
                          (onChange)="onChangeStatus(rowData, ri)"
                        >
                        </p-dropdown>
                      </ng-container>
                      <ng-container *ngIf="col.header == 'Request Status'">
                        <span
                          class="status-label pos-top"
                          style="cursor: pointer"
                          [ngClass]="rowData.cssClass"
                        >
                          {{ rowData[col.field] ? rowData[col.field] : "--" }}
                        </span>
                      </ng-container>

                      <ng-container
                        *ngIf="col.field.toLowerCase().includes('date')"
                      >
                        {{
                          rowData[col.field]
                            ? (rowData[col.field] | date)
                            : "--"
                        }}
                      </ng-container>
                    </ng-template>
                    <ng-template #elseTemplate>
                      <ng-container
                        *ngIf="
                          tables?.enableHyperLink &&
                          i == tables?.cursorLinkIndex
                        "
                      >
                        <a
                          style="color: #00644a"
                          pTooltip="{{ rowData[col.field] }}"
                          tooltipPosition="top"
                          (click)="onCRUDRequested('edit', rowData)"
                        >
                          {{ rowData[col.field] ? rowData[col.field] : "--" }}
                        </a>
                      </ng-container>
                      <ng-container
                        *ngIf="
                          tables?.enableSecondHyperLink &&
                          i == tables?.cursorSecondLinkIndex
                        "
                      >
                        <a
                          style="color: #00644a"
                          pTooltip="{{ rowData[col.field] }}"
                          tooltipPosition="top"
                          (click)="onCRUDRequested('edit', rowData)"
                        >
                          {{ rowData[col.field] ? rowData[col.field] : "--" }}
                        </a>
                      </ng-container>
                      <ng-container
                        *ngIf="
                          (!tables?.enableHyperLink ||
                            i != tables?.cursorLinkIndex) &&
                          (!tables?.enableSecondHyperLink ||
                            i != tables?.cursorSecondLinkIndex)
                        "
                      >
                        {{
                          rowData[col.field] === true
                            ? "Yes"
                            : rowData[col.field] === false
                            ? "No"
                            : rowData[col.field]
                            ? rowData[col.field]
                            : "--"
                        }}
                      </ng-container>
                    </ng-template>
                  </td>
                  <td
                    [ngClass]="{ enableRowDeleteActive: tables?.checkBox }"
                    *ngIf="tables?.enableRowDelete"
                  >
                    <button
                      style="margin: 0 10px; cursor: pointer"
                      pButton
                      type="button"
                      icon="pi pi-trash"
                      class="ui-button-danger"
                      (click)="onCRUDRequested('delete', rowData)"
                    ></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td
                    [attr.colspan]="columns.length"
                    style="text-align: center"
                  >
                    No records found
                  </td>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="rowexpansion"
                let-rowData
                let-columns="columns"
              >
                <tr>
                  <td [attr.colspan]="columns.length + 1">
                    <div
                      class="ui-g ui-fluid"
                      style="font-size: 16px; padding: 20px; background: #fff"
                    >
                      <div class="ui-g-12 ui-md-9">
                        <div class="ui-g">
                          <div class="ui-g-12">
                            <b>Area Name:</b>
                            {{ rowData?.areaName ? rowData?.areaName : "--" }}
                          </div>
                          <div class="ui-g-12">
                            <b>Division Name:</b>
                            {{
                              rowData?.stackAreaConfigDivisions
                                ? rowData?.stackAreaConfigDivisions
                                : "--"
                            }}
                          </div>
                          <div class="ui-g-12" style="text-align: right">
                            <button
                              style="margin: 0 10px"
                              pButton
                              type="button"
                              icon="pi pi-pencil"
                              class="ui-button-info"
                              (click)="onCRUDRequested('edit')"
                            ></button>
                            <button
                              style="margin: 0 10px"
                              pButton
                              type="button"
                              icon="pi pi-trash"
                              class="ui-button-danger"
                              (click)="onCRUDRequested('delete')"
                            ></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                <p style="margin-left: 0px">
                  Showing {{ state.page * state.rows + 1 }} to
                  {{
                    (
                      !totalRecords
                        ? pageSize
                        : state.rows * (state.page + 1) < totalRecords
                    )
                      ? state.rows * (state.page + 1)
                      : totalRecords
                  }}
                  of
                  <strong>{{ totalRecords ? totalRecords : pageSize }}</strong>
                  entries
                </p>
              </ng-template>
            </p-table>
          </form>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
    <ng-template #elseTemplateTable>
      <div
        *ngFor="
          let tables of primengTableConfigProperties.tableComponentConfigs
            .tabsList;
          let i = index
        "
      >
        <form [formGroup]="columnFilterForm">
          <p-table
            class="custom-scroll"
            #dt
            [columns]="tables.columns"
            [lazy]="true"
            [lazyLoadOnInit]="false"
            [(selection)]="selectedRows"
            [scrollable]="true"
            scrollHeight="327px"
            [autoLayout]="true"
            (onLazyLoad)="loadPaginationLazy($event)"
            [totalRecords]="totalRecords"
            [loading]="loading"
            [value]="dataList"
            [dataKey]="tables.dataKey"
            [paginator]="totalRecords == 0 ? false : true"
            [rows]="20"
            [rowsPerPageOptions]="totalRecords > 20 ? pageLimit : null"
            [responsive]="true"
            [resizableColumns]="tables?.resizableColumns"
            columnResizeMode="expand"
            [reorderableColumns]="tables?.reorderableColumns"
          >
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix" style="text-align: left">
                <div class="row">
                  <div class="col-md-5" style="padding-left: 0">
                    <button
                      type="button"
                      pButton
                      icon="pi pi-file-o"
                      iconPos="left"
                      label="CSV"
                      (click)="dt.exportCSV()"
                      style="margin-right: 0.5em"
                      *ngIf="tables?.enableExportCSV"
                    ></button>
                    <button
                      type="button"
                      pButton
                      icon="pi pi-file-excel"
                      iconPos="left"
                      label="EXCEL"
                      (click)="exportExcel()"
                      style="margin-right: 0.5em"
                      class="ui-button-success"
                      *ngIf="tables?.enableExportExcel"
                    ></button>
                    <button
                      type="button"
                      pButton
                      icon="pi pi-file"
                      iconPos="left"
                      label="CSV - Selection Only"
                      (click)="dt.exportCSV({ selectionOnly: true })"
                      class="ui-button-warning"
                      *ngIf="tables?.enableExportCSVSelected"
                    ></button>
                  </div>

                  <div class="col-md-7" style="padding-right: 0">
                    <form [formGroup]="searchForm">
                      <div
                        style="text-align: right; float: right"
                        *ngIf="
                          primengTableConfigProperties.tableComponentConfigs
                            .tabsList[selectedTabIndex]?.enableGlobalSearch
                        "
                      >
                        <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
                        <input
                          type="text"
                          pInputText
                          size="30"
                          placeholder="Global Filter"
                          formControlName="searchKeyword"
                          style="width: auto"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col
                  [ngClass]="{ checkboxActive: tables?.checkBox }"
                  *ngIf="tables?.checkBox"
                />
                <col
                  *ngFor="let col of columns"
                  [ngStyle]="{ width: col.width }"
                />
                <col
                  [ngClass]="{ enableRowDeleteActive: tables?.checkBox }"
                  *ngIf="tables?.enableRowDelete"
                />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr class="first-row">
                <th
                  style="width: 60px !important"
                  [ngClass]="{ checkboxActive: tables?.checkBox }"
                  *ngIf="tables?.checkBox"
                ></th>
                <th
                  *ngFor="let col of columns"
                  [pSortableColumn]="col.field"
                  pResizableColumn
                  pReorderableColumn
                >
                  {{ col.header }}
                  <p-sortIcon
                    [field]="col.field"
                    ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"
                  >
                  </p-sortIcon>
                </th>
                <th
                  [ngClass]="{ enableRowDeleteActive: tables?.enableRowDelete }"
                  *ngIf="tables?.enableRowDelete"
                >
                  Action
                </th>
              </tr>
              <tr *ngIf="tables?.enableFieldsSearch">
                <th *ngIf="tables?.checkBox"></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input
                    *ngIf="
                      col.field != 'isActive' &&
                      col.field != 'requestStatus' &&
                      col.field != 'createdDate' &&
                      col.field != 'shiftStartTime' &&
                      col.field != 'eta'"
                    pInputText
                    [formControlName]="col.field"
                    type="text"
                  />
                  <p-calendar [formControlName]="col.field" [utc]='true' [minDate]="today"
                  *ngIf="col.field == 'shiftStartTime' || col.field == 'eta' && i == selectedTabIndex"
                  (onClearClick)="dt.filter($event.value,col.field,null)">
                </p-calendar>
                  <!-- <p-calendar
                    [utc]="true"

                    *ngIf="col.field == 'shiftStartTime' || col.field == 'eta'"
                    appendTo="body"
                    showButtonBar="true"
                    [readonlyInput]="true"
                    (onSelect)="dt.filter($event, col.field, null)"
                    (onClearClick)="dt.filter($event.value, col.field, null)"
                  >
                  </p-calendar> -->
                  <p-dropdown
                    *ngIf="col.field == 'requestStatus'"
                    formControlName="requestStatus"
                    [options]="status"
                    appendTo="body"
                    placeholder="Select Status"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                </th>
                <th *ngIf="tables?.enableRowDelete"></th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-ri="rowIndex"
              let-columns="columns"
              let-expanded="expanded"
            >
              <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
                <td
                  [ngClass]="{ checkboxActive: tables?.checkBox }"
                  *ngIf="tables?.checkBox"
                  style="width: 60px !important"
                >
                  <button
                    class="circle-edit-btn"
                    [ngClass]="priorityClass[rowData['priority']]"
                    (click)="onCRUDRequested('edit', rowData)"
                  >
                    <i
                      aria-hidden="true"
                      class="color-white fa fa-arrow-right"
                    ></i>
                  </button>
                </td>
                <td
                  *ngFor="let col of columns; index as i"
                  class="ui-resizable-column"
                  pReorderableRowHandle
                >
                  <a
                    href="#"
                    [pRowToggler]="rowData"
                    *ngIf="
                      tables?.rowExpantable && i == tables?.rowExpantableIndex
                    "
                  >
                    <i
                      [ngClass]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "
                    ></i>
                  </a>

                  <ng-container
                    *ngIf="
                      col.header == 'Status' ||
                        col.header == 'ETA' ||
                        col.header == 'Shift Start' ||
                        col.header == 'Request Status' ||
                        col.header == 'Request Type' ||
                        col.field.toLowerCase().includes('date');
                      then thenTemplate;
                      else elseTemplate
                    "
                  >
                  </ng-container>
                  <ng-template #thenTemplate>
                    <ng-container *ngIf="col.header == 'Status'">
                      <span
                        *ngIf="!tables.enableStatusActiveAction"
                        class="status-label pos-top"
                        style="cursor: pointer"
                        [ngClass]="
                          col.field == 'isActive' || col.field == 'isStatus'
                            ? rowData[col.field] == true
                              ? 'status-label-green'
                              : 'status-label-pink'
                            : rowData.cssClass
                        "
                      >
                        {{
                          col.field == "isActive"
                            ? rowData[col.field] == true
                              ? "Active"
                              : "InActive"
                            : rowData[col.field]
                            ? rowData[col.field]
                            : "-"
                        }}
                      </span>
                      <p-dropdown
                        *ngIf="tables.enableStatusActiveAction"
                        [options]="status"
                        appendTo="body"
                        [(ngModel)]="rowData[col.field]"
                        [ngModelOptions]="{ standalone: true }"
                        placeholder="Select Status"
                        [style]="{ width: '100%' }"
                        (onChange)="onChangeStatus(rowData, ri)"
                      >
                      </p-dropdown>
                    </ng-container>
                    <ng-container *ngIf="col.header == 'Request Status'">
                      <span
                        class="status-label pos-top"
                        style="cursor: pointer"
                        [ngClass]="rowData.cssClass"
                      >
                        {{ rowData[col.field] ? rowData[col.field] : "--" }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="col.header == 'Shift Start'">
                      {{ rowData[col.field] | date }}
                    </ng-container>
                    <ng-container *ngIf="col.header == 'ETA'">
                      {{ rowData[col.field] | date }}
                    </ng-container>

                    <ng-container *ngIf="col.header == 'Request Type'">
                      <span
                        class="status-label pos-top"
                        style="cursor: pointer"
                        [ngClass]="requestTypeClass[rowData[col.field]]"
                      >
                        {{ rowData[col.field] ? rowData[col.field] : "--" }}
                      </span>
                    </ng-container>
                    <ng-container
                      *ngIf="col.field.toLowerCase().includes('date')"
                    >
                      {{
                        rowData[col.field] ? (rowData[col.field] | date) : "--"
                      }}
                    </ng-container>
                  </ng-template>
                  <ng-template #elseTemplate>
                    <ng-container
                      *ngIf="
                        tables?.enableHyperLink && i == tables?.cursorLinkIndex
                      "
                    >
                      <a
                        style="color: #00644a"
                        pTooltip="{{ rowData[col.field] }}"
                        tooltipPosition="top"
                        (click)="onCRUDRequested('edit', rowData)"
                      >
                        {{ rowData[col.field] ? rowData[col.field] : "--" }}
                      </a>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        tables?.enableSecondHyperLink &&
                        i == tables?.cursorSecondLinkIndex
                      "
                    >
                      <a
                        style="color: #00644a"
                        pTooltip="{{ rowData[col.field] }}"
                        tooltipPosition="top"
                        (click)="onCRUDRequested('edit', rowData)"
                      >
                        {{ rowData[col.field] ? rowData[col.field] : "--" }}
                      </a>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        (!tables?.enableHyperLink ||
                          i != tables?.cursorLinkIndex) &&
                        (!tables?.enableSecondHyperLink ||
                          i != tables?.cursorSecondLinkIndex)
                      "
                    >
                      {{
                        rowData[col.field] === true
                          ? "Yes"
                          : rowData[col.field] === false
                          ? "No"
                          : rowData[col.field]
                          ? rowData[col.field]
                          : "--"
                      }}
                    </ng-container>
                  </ng-template>
                </td>
                <td
                  [ngClass]="{ enableRowDeleteActive: tables?.checkBox }"
                  *ngIf="tables?.enableRowDelete"
                >
                  <button
                    style="margin: 0 10px; cursor: pointer"
                    pButton
                    type="button"
                    icon="pi pi-trash"
                    class="ui-button-danger"
                    (click)="onCRUDRequested('delete', rowData)"
                  ></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length" style="text-align: center">
                  No records found
                </td>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="rowexpansion"
              let-rowData
              let-columns="columns"
            >
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div
                    class="ui-g ui-fluid"
                    style="font-size: 16px; padding: 20px; background: #fff"
                  >
                    <div class="ui-g-12 ui-md-9">
                      <div class="ui-g">
                        <div class="ui-g-12">
                          <b>Area Name:</b>
                          {{ rowData?.areaName ? rowData?.areaName : "--" }}
                        </div>
                        <div class="ui-g-12">
                          <b>Division Name:</b>
                          {{
                            rowData?.stackAreaConfigDivisions
                              ? rowData?.stackAreaConfigDivisions
                              : "--"
                          }}
                        </div>
                        <div class="ui-g-12" style="text-align: right">
                          <button
                            style="margin: 0 10px"
                            pButton
                            type="button"
                            icon="pi pi-pencil"
                            class="ui-button-info"
                            (click)="onCRUDRequested('edit')"
                          ></button>
                          <button
                            style="margin: 0 10px"
                            pButton
                            type="button"
                            icon="pi pi-trash"
                            class="ui-button-danger"
                            (click)="onCRUDRequested('delete')"
                          ></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft" let-state>
              <p style="margin-left: 0px">
                Showing {{ state.page * state.rows + 1 }} to
                {{
                  (
                    !totalRecords
                      ? pageSize
                      : state.rows * (state.page + 1) < totalRecords
                  )
                    ? state.rows * (state.page + 1)
                    : totalRecords
                }}
                of
                <strong>{{ totalRecords ? totalRecords : pageSize }}</strong>
                entries
              </p>
            </ng-template>
          </p-table>
        </form>
      </div>
    </ng-template>
  </div>
</p-scrollPanel>

<p-dialog
  header="Shift Details"
  [ngClass]="{
    'shift-details-popup-con':
      selectedRowData?.requestStatus == 'Pending Requests'
  }"
  [(visible)]="showShiftDialog"
  [baseZIndex]="100"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '820px' }"
>
  <app-popup-loader></app-popup-loader>
  <form
    class="fidelity-popup-form"
    *ngIf="updateShiftForm"
    customForm
    [formGroup]="updateShiftForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="d-flex">
          <span class="key">Contact Name </span>
          <span class="value">
            {{
              selectedRowData.customerName ? selectedRowData.customerName : "--"
            }}
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex">
          <span class="key">Address </span>
          <span class="value">
            {{
              selectedRowData.formatedAddress
                ? selectedRowData.formatedAddress
                : "--"
            }}
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex">
          <span class="key">Contact Number </span>
          <span class="value">
            {{
              selectedRowData.keyHolderContactNo
                ? selectedRowData.keyHolderContactNo
                : "--"
            }}
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex">
          <span class="key">Cell Number </span>
          <span class="value">
            {{ selectedRowData.mobileNo ? selectedRowData.mobileNo : "--" }}
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex">
          <span class="key">Prem Number </span>
          <span class="value">
            {{
              selectedRowData.permanentNo ? selectedRowData.permanentNo : "--"
            }}
          </span>
        </div>
      </div>

      <div class="col-md-6" *ngIf="selectedRowData.processedOn">
        <div class="d-flex">
          <span class="key">Processed Time </span>
          <span class="value">
            {{
              selectedRowData.processedOn
                ? (selectedRowData.processedOn | date)
                : "--"
            }}
          </span>
        </div>
      </div>

      <div class="col-md-6" *ngIf="selectedRowData.processedBy">
        <div class="d-flex">
          <span class="key">Processed By </span>
          <span class="value">
            {{
              selectedRowData.processedBy ? selectedRowData.processedBy : "--"
            }}
          </span>
        </div>
      </div>

      <div class="col-md-6" *ngIf="selectedRowData.processedRefNo">
        <div class="d-flex">
          <span class="key">Processed Ref No </span>
          <span class="value">
            {{
              selectedRowData.processedRefNo
                ? selectedRowData.processedRefNo
                : "--"
            }}
          </span>
        </div>
      </div>

      <div class="col-md-8">
        <div class="d-flex">
          <span class="key">Service Request Note </span>
          <span class="value">
            {{
              selectedRowData.guardingComments
                ? selectedRowData.guardingComments
                : "--"
            }}
          </span>
        </div>
      </div>
    </div>
    <div
      *ngIf="selectedRowData.requestStatus == 'Guarding Processed'"
      class="row"
    >
      <div class="col-md-12">
        <div class="form-group">
          <label>Confirm Ref Number </label>
          <input
            type="text"
            class="form-control fidelity-form-input"
            name="confirmRefNumber"
            formControlName="confirmRefNumber"
          />
        </div>
      </div>
    </div>

    <div
      *ngIf="selectedRowData.requestStatus == 'Pending Requests'"
      class="row"
    >
      <div class="col-md-6">
        <div class="form-group date-field-custom">
          <label>ETA </label>
          <p-calendar
            class="eta-calendar"
            name="eta"
            [showTime]="true"
            [baseZIndex]="11000"
            formControlName="eta"
          ></p-calendar>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Guard Ref Number </label>
          <input
            type="text"
            class="form-control fidelity-form-input"
            name="guardRefNo"
            formControlName="guardRefNo"
          />
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        class="btn btn-md-fidelity fidelity-btn-brown"
        type="submit"
        *ngIf="selectedRowData.requestStatus == 'Pending Requests'"
      >
        Process
      </button>
      <button
        class="btn btn-md-fidelity fidelity-btn-brown"
        type="submit"
        *ngIf="selectedRowData.requestStatus == 'Guarding Processed'"
      >
        Confirm
      </button>
      <button
        class="btn btn-md-fidelity fidelity-btn-brown"
        (click)="showShiftDialog = false"
        type="button"
        *ngIf="
          selectedRowData.requestStatus != 'Guarding Processed' &&
            selectedRowData.requestStatus!;
          &quot;guarding Processed&quot;
        "
      >
        Close
      </button>
    </div>
  </form>
</p-dialog>
