<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
  </div>
<app-popup-loader></app-popup-loader>
<div class="call-escalation-dialog-body">
    <form customForm [formGroup]="technicalassistantForm" (ngSubmit)="ontechnicalassistant()">
        <div class="ibox-body pt-3">
            <div class="row">
                <label class="d-block" style="margin-left: 1.5rem!important">Technical Assistant Available</label>
                <div class="col-6">
                    <div class="form-group">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <input type="text" name="Technical Assistant Available" formControlName="isWiremanAvailable"
                                class="form-control fidelity-form-input"
                                placeholder="Enter Technical Assistant Available" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <span class="mandatory-field">*</span> -->
            <div class="row">
                <label class="d-block" style="margin-left: 1.5rem!important">Technical Assistant Count</label>
                <div class="col-6 ml-1" style="padding-right: 0px;">
                    <div class="form-group">
                        <div class="form-group fidelity-multiselect-dropdown-con ml-3">
                            <input type="text" name="Technical Assistant Count" [validateInput]='isANumberWithZero'
                                formControlName="wiremanCount" (keyup)="onSetContacts($event.target.value)"
                                class="form-control fidelity-form-input"
                                placeholder="     Enter Technical Assistant Count    ">
                        </div>
                        <!-- (keyup)="OnChange(i)" -->
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="d-block" style="margin-left: 1.5rem!important">Technical Assistant Contact<span class="mandatory-field">*</span></label>
                <div class="col-6">
                    <div class="form-group leads-category-con">
                        <p-multiSelect formControlName="wiremanContacts" appendTo="body"
                            [selectionLimit]="getwiremancount()" (onChange)="changeTechnicalType($event)"
                            [defaultLabel]="'Select Technical Assistant'" autoWidth="false" [style]="{'width':'100%'}"
                            [options]="TechAssistantDetailsLIst">
                        </p-multiSelect>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid justify-content-center" style="margin-bottom: 5px;text-align: center;">
                    <div class="mr-3">
                        <button [disabled]="isVoid" class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Ok</button>
                    </div>
                </div>
            </div>
        </p-footer>
    </form>
</div>
