<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
  cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
  Unrecoverable
  <button mat-icon-button class="close-button p-absolute" type="button" style="background: transparent;
      border: none!important;
      color: #fff !important;
" (click)="btnCloseClick()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
  <form autocomplete="off" [formGroup]="unrecoverableForm" class="fidelity-popup-form set-names-upload" customForm
    class="fidelity-popup-form" (ngSubmit)="onSubmit()" style="font-size: 0.9rem!important;">
    <div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Radio Transmitter<span class="mandatory-field">*</span></label>
            <select class="form-control fidelity-form-input" id="item.id"
              formControlName="radioTransmitterUnrecoverableReasonConfigId" name="radio ransmitter">
              <option value="" selected disabled>Select Reason</option>
              <option *ngFor="let item of radioTransmitterList;  let i=index" [value]="item.id">
                {{item.displayName}}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Alarm Equipment<span class="mandatory-field">*</span></label>
            <select class="form-control fidelity-form-input" id="item.id"
              formControlName="alarmEquipmentUnrecoverableReasonConfigId" name="alarm equipment">
              <option value="" selected disabled>Select Reason</option>
              <option *ngFor="let item of alarmEquipmentList;  let i=index" [value]="item.id">
                {{item.displayName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Comments<span class="mandatory-field">*</span></label>
            <text-area-custom-control [name]="'comments'" placeholder="Enter comments" formControlName="comments"
              [maxlength]="'1500'">
            </text-area-custom-control>
          </div>
        </div>

      </div>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div class="text-center">
        <button type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
          [label]="'Submit'"></button>
        <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
          type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>
