<div class="page-heading ">
    <h1 class="page-title no-border">{{serviceId ? 'Update' : 'Add'}} Service and Item Mapping</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item">Services</li>
        <li class="breadcrumb-item"><a routerLink='/configuration/sales/services' [queryParams]="{tab:4}">Service and
                Item Mapping</a></li>
        <li class="breadcrumb-item"><a routerLink='/configuration/sales/services/service-item-mappings/view'
                [queryParams]="{id:serviceId}">View</a></li>
        <li class="breadcrumb-item">{{serviceId ? 'Update' : 'Add'}} Service and Item Mapping</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
            <div class="ibox-body sm-form-grp">
                <form [formGroup]="serviceAndItemForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group fidelity-multiselect-dropdown-con" style="width: 100%;">
                                <label class="d-block">Service<span class="mandatory-field">*</span></label>
                                <p-dropdown [options]="services" placeholder="Select Services" formControlName="serviceId" styleClass="w-100" filter="true"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group fidelity-multiselect-dropdown-con" style="width: 100%;">
                                <label class="d-block">Items<span class="mandatory-field">*</span></label>
                                <p-autoComplete formControlName="itemIds" [suggestions]="items"
                                    (completeMethod)="filterItems($event)" field="displayName" [multiple]="true">
                                </p-autoComplete>
                                <span class="p-relative text-danger error-top" *ngIf="(serviceAndItemForm?.get('itemIds')?.touched
                                && serviceAndItemForm?.get('itemIds')?.invalid)||
                                (isFormSubmitted&& serviceAndItemForm?.get('itemIds')?.invalid)">
                                    Item is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="create_new_leads_btn" type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                            id="add_sales_type_btn">Save </button>
                        <button id="cancel_new_leads_btn" type="button" (click)="actionOnLeavingComponent()"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                            id="cancel_sales_type_btn">Cancel</button>
                    </div>
                </form>
            </div>
        </p-scrollPanel>
    </div>
</div>
