<div class="fidelity-popup-heading container-fluid p-relative" mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>Signal Specials
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="signalSpecialsAddEditForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Decoder<span class="mandatory-field">*</span></label>
                    <input [ngClass]="{disabled : !isDisableFields}" class="form-control fidelity-form-input"
                        type="text" formControlName="decoder" placeholder="Enter Decoder">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Transmitter<span class="mandatory-field">*</span></label>
                    <input [ngClass]="{disabled : !isDisableFields}" class="form-control fidelity-form-input"
                        type="text" formControlName="accountCode" placeholder="Enter Transmitter">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Alarm<span class="mandatory-field">*</span></label>
                    <select id="alarm" class="form-control fidelity-form-input" name="Alarm" placeholder="Select Alarm"
                        formControlName="alarmTypeId">
                        <option value="" disabled selected>Select Alarm</option>
                        <option *ngFor="let alarm of alarmDropDown" [value]="alarm.id">
                            {{alarm.displayName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Actual Info<span class="mandatory-field">*</span></label>
                    <input [ngClass]="{disabled : !isDisableFields}" class="form-control fidelity-form-input"
                        type="text" formControlName="eventCode" placeholder="Enter Actual Info">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Zone<span class="mandatory-field">*</span></label>
                    <input [ngClass]="{disabled : !isDisableFields}" class="form-control fidelity-form-input"
                        type="text" formControlName="zoneCode" placeholder="Enter Zone">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Original Alarm</label>
                    <input [ngClass]="{disabled : !isDisableFields}" class="form-control fidelity-form-input"
                        type="text" formControlName="originalAlarm" placeholder="Enter Original Alarm">
                </div>
            </div>
        </div>
        <br>
        <mat-dialog-actions align="end">
            <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button
                type="submit">Submit</button>
            <button type="submit" id="Feature_cancel_btn" [mat-dialog-close]="true"
                class="btn btn-md-fidelity fidelity-btn-grey" mat-button>Cancel</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</form>

<style>
    .mat-dialog-title{
        margin: 0px !important;
    }
</style>
