<div class="page-heading ">
    <h1 class="page-title d-inline-block p-relative">
        <span *ngIf="!isEnable && !this.showEdit" class="d-inline-block  mt-2">Add Credit Card Expiry Date Notification</span>    
        <span *ngIf="isEnable" class="d-inline-block  mt-2">View Credit Card Expiry Date Notification</span> 
        <span *ngIf="!isEnable && this.showEdit" class="d-inline-block  mt-2">Update Credit Card Expiry Date Notification</span>  
    </h1>
  
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/configuration'>Configurationn</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/configuration/creditcard-expirydate-notification'>Credit Card Expiry Date Notification</a>
        </li>
        <li class="breadcrumb-item">
           {{ (!isEnable && !this.showEdit) ? 'Add Credit Card Expiry Date notification' : isEnable ? 'View credit card expiry date notification' : 'Update credit card expiry date notification' }} 
        </li>  
    </ol>
    <div class="grid-icons-con float-right pr-0">
        <button *ngIf="isEnable && this.showEdit" type="button" (click)="edit()" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn">
            <i aria-hidden="true" data-icon="b" class="icon icon-edit" matTooltip="Edit" ></i>
        </button>
    </div>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="creditcardExpirydateNotificationForm" (ngSubmit)="onSubmit()">
                <div class="ibox white-bg" >
                    <div class="slim-scroll">
                        <div class="ibox-body" *ngIf="isEnable" style="height: 172px !important;">                                  
                                <div class="row mb-3 ibox">
                                    <div class="col-lg-6">
                                        <div class="d-flex" *ngIf="!isEnable">
                                            <span class="item-view-key d-inline-block key_id"  >Expiry Month: </span>
                                            <span class="item-view-value"  style="font-weight: 700;">{{this.creditcardExpirydateNotificationForm?.get('expiryMonth')?.value}}</span>
                                        </div> 
                                        <div class="d-flex" *ngIf="isEnable">
                                            <span class="item-view-key d-inline-block key_id"  >Expiry Month: </span>
                                            <span class="item-view-value"  style="font-weight: 700;">{{ getMonthBId(this.creditcardExpirydateNotificationForm?.get('expiryMonth')?.value) }}</span>
                                        </div> 
                                        <div class="d-flex">
                                            <span class="item-view-key d-inline-block key_id" >Notification In Days:</span>
                                            <span class="item-view-value"  style="font-weight: 700;">{{this.creditcardExpirydateNotificationForm?.get('notificationInDays')?.value}}</span>
                                        </div>  
                                    </div>  
                                    <div class="col-lg-6">   
                                        <div class="d-flex">
                                            <span class="item-view-key d-inline-block key_id"  >Initiate Request:</span>
                                            <span class="item-view-value" style="font-weight: 700;" >{{this.generateNotification}}</span>
                                        </div>   
                                        <div class="d-flex">
                                            <span class="item-view-key d-inline-block key_id" >Message:</span>
                                            <span class="item-view-value"  style="font-weight: 700;width: 60%;">{{this.creditcardExpirydateNotificationForm?.get('message')?.value}}</span>
                                        </div>                                                                      
                                    </div>                                 
                                </div>
                     
                        </div>
                        <div _ngcontent-irn-c35=""  *ngIf="isEnable" class="text-center mt-3 mb-2">
                            <button _ngcontent-irn-c35="" class="btn btn-md-fidelity btn-default" type="button"
                                id="cancel_order_btn" style="margin-left: 0px;" routerLink='/configuration/creditcard-expirydate-notification' >Back</button>
                        </div>
                        <div class="ibox-body" *ngIf="!isEnable">                      
                             <div class="row header-row">
                                <div class="col-4">
                                    <label>Expiry Month <span  class="mandatory-field">* </span></label>                            
                                        <p-dropdown  [options]="monthList"  optionValue="id" [disabled]="isEnable"
                                        formControlName="expiryMonth" placeholder="Select Expiry Month"                                      
                                        [style]="{'width':'75%'}" >
                                        </p-dropdown>
                                </div>
                                <div class="col-4">
                                    <label>Notification In Days <span  class="mandatory-field">* </span></label>                                      
                                    <p-dropdown  [options]="notificationInDaysList" [disabled]="isEnable"   (onChange) = "onChangeNotificationInDays($event.value)"
                                    formControlName="notificationInDays"  placeholder="Select Notification InDays"                                   
                                    (onChange) = "onChangeNotificationInDays($event.value)" 
                                    [style]="{'width':'75%'}" >
                                    </p-dropdown>
                                </div>
                                <div class="col-4">
                                    <label>Generate Notification <span  class="mandatory-field">* </span></label>  
                                    <p-dropdown  [options]="generateNotificationList" [disabled]="isEnable"
                                    appendTo="body" formControlName="generateNotification"  placeholder="Select Generate Notification"
                                    (onChange) = "onChangeGenerateNotification($event.value)"                                    
                                    [style]="{'width':'75%'}" >
                                    </p-dropdown>
                                  
                                </div>
                            </div>
                            <div class="row header-row">
                                <div class="col-4">
                                    <label>Message</label>                                      
                                    <textarea #input placeholder="Enter message" [disabled]="isEnable"
                                    [(ngModel)]="this.creditcardExpirydateNotificationForm?.get('message').value"                             
                                    class="form-control fidelity-form-input" type="text" name="message"
                                    formControlName="message"
                                    ></textarea>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="text-center mt-2" *ngIf="!isEnable">
                    <button class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"  routerLink='/configuration/creditcard-expirydate-notification'>Cancel</button>
                </div>    
            </form>
        </div>
    </div>
</div>

<style>
    span.key_id {
    width: 40% !important;
  }
</style>