
::ng-deep .ui-dynamicdialog .ui-dialog-content, .cdk-overlay-container .mat-dialog-container {
    padding: 1px !important;
    border: 0px !important;
}
.status-label{
  width: 35%;
  text-align: center;
}
.bad-debit-info-key{
  width: 50%;
}
.bad-debit-info-value{
  width: 50%;
}
