<div class="page-heading">
  <h1 class="page-title d-inline-block">{{header}} Cancel Reason</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
    <li class="breadcrumb-item"><a routerLink="">Configuration</a></li>
    <li class="breadcrumb-item"><a routerLink="/configuration/payment-configuration" [queryParams]="{tab:2}">Cancel
        Reason List</a></li>
    <li class="breadcrumb-item" *ngIf="cancelReasonId"><a
        routerLink="/configuration/payment-configuration/cancel-reason-view" [queryParams]="{ id:cancelReasonId}"
        skipLocationChange>Cancel Reason View</a></li>
    <li class="breadcrumb-item">{{header}} Cancel Reason</li>
  </ol>

</div>


<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
          <div class="ibox-body">
            <form customForm class="fidelity-popup-form" [formGroup]="cancelReasonForm" (ngSubmit)="onSubmit()">

              <div class="row pricing-info-con">

                <div class="col-4">
                  <div class="form-group">
                    <label>Cancel Reason<span class="mandatory-field">*</span></label>
                    <input [validateInput]='stringConfig' name="Cancel Reason Name"
                      class="form-control fidelity-form-input" type="text" formControlName="cancelReasonName"
                      [maxlength]="formConfigs.maxLengthHundred" />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Description</label>
                    <textarea [validateInput]='stringConfig' formControlName="description"
                      class="form-control fidelity-form-input" placeholder="Description"> </textarea>
                  </div>
                </div>
              </div>

              <div *ngIf="cancelReasonForm?.get('cancelSubReason')?.controls?.length>0;">

                <div class="row">
                  <div class="col-3">
                    <label>Cancel Sub Reason <span class="mandatory-field">*</span></label>
                  </div>
                  <div class="col-3">
                    <label>Description</label>
                  </div>
                </div>

                <div class="" formArrayName="cancelSubReason"
                  *ngFor="let interBranchObj of cancelReasonForm?.get('cancelSubReason')?.controls;let i=index">
                  <div class="row" [formGroupName]="i">
                    <div class="col-3">
                      <div class="form-group">
                        <input [validateInput]='stringConfig' #input name="Cancel Sub Reason Name"
                          class="form-control fidelity-form-input" id="CancelSubReasonName" type="text"
                          (change)="onChange($event.target.value)" placeholder="Cancel Sub Reason Name" [id]="i"
                          formControlName="cancelSubReasonName" maxlength="formConfigs.maxLengthHundred" />
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <textarea formControlName="description" (change)="validateCancelSubreasonEmptySpaceDesc($event)"
                          class="form-control fidelity-form-input" rows="1" placeholder="Description"> </textarea>
                      </div>
                    </div>
                    <div class="col-3">
                      <button *ngIf="i==0" type="submit"
                        class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                        (click)="addcancelreason(i)" title="Add">
                        <i aria-hidden="true" class="icon" data-icon="b"></i></button>

                      <a *ngIf="i!==0" id="delete_record" class="delete-row " (click)="removecancelreason(i)"><i
                          aria-hidden="true" class="icon icon-delete"></i>
                      </a>
                    </div>
                  </div>

                </div>

              </div>

              <div class="text-center mt-4">
                <button id="add_pricing_btn" [disabled]="isButtondisabled"
                  class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                  cdkFocusInitial>{{btnName}}</button>
                <button id="cancel_pricing_btn" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                  routerLink="/configuration/payment-configuration" [queryParams]="{tab:2}">Cancel</button>
              </div>
            </form>

          </div>
        </p-scrollPanel>
      </div>
    </div>
  </div>
</div>
