<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
[captionFontSize]="primengTableConfigProperties.captionFontSize"
[breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
(buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg">
                <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                    <div class="ibox-body">
                        <form customForm class="fidelity-popup-form" [formGroup]="cancelReasonForm"
                            (ngSubmit)="onSubmit()">

                            <div class="row pricing-info-con">

                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Cancel Reason</label>
                                        <input name="Cancel Reason Name" validateInput class="form-control fidelity-form-input"
                                         id="CancelReasonName" type="text"
                                        (change)="onChange($event.target.value)"
                                        formControlName="cancelReasonName" maxlength="100" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea formControlName="description"  class="form-control fidelity-form-input" rows="1" placeholder="Description"> </textarea>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="cancelReasonForm?.get('cancelSubReason')?.controls?.length>0;">
                                <div class="row mt-3">
                                    <div class="col-3">
                                        <label>Cancel Sub Reason</label>
                                    </div>
                                    <div class="col-3">
                                        <label>Description</label>
                                    </div>
                                </div>
                                <div class="" formArrayName="cancelSubReason"
                                    *ngFor="let interBranchObj of cancelReasonForm?.get('cancelSubReason')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <input name="Cancel Sub Reason Name" validateInput class="form-control fidelity-form-input"
                                                id="CancelSubReasonName" type="text"
                                                (change)="onChange($event.target.value)"
                                                formControlName="cancelSubReasonName" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <textarea  formControlName="description"  class="form-control fidelity-form-input" rows="1" placeholder="Description"> </textarea>
                                            </div>
                                        </div>
                                            <div *ngIf="!cancelReasonId" class="col-3">
                                                    <button *ngIf="(cancelReasonForm?.get('cancelSubReason')?.controls.length-1===i)"  type="submit" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                                    (click)="addcancelreason()"  title="Add">
                                                    <i aria-hidden="true" class="icon" data-icon="b"></i></button>

                                                <a *ngIf="cancelReasonForm?.get('cancelSubReason')?.controls.length>0"
                                                    id="delete_record" class="delete-row "
                                                    (click)="removecancelreason(i)"><i aria-hidden="true"
                                                        class="icon icon-delete"></i>
                                                </a>

                                            </div>
                                        </div>

                                    </div>

                            </div>


                        </form>

                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>
