<div class="page-heading">
    <h1 class="page-title d-inline-block">Rebook Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Technical Management</a></li>
        <li class="breadcrumb-item">Rebook Configuration</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body mb-3">
            <form customForm [formGroup]="rebookConfigForm" (ngSubmit)="createRebookConfig()">
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <label>Name
                                <span class="mandatory-field" *ngIf="!isRebookUpdate">*</span>
                            </label>
                            <input class="form-control fidelity-form-input" type="text" placeholder="Enter Name"
                                formControlName="rebookConfigName" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>Rebook Count
                                <span class="mandatory-field">*</span></label>
                            <input class="form-control fidelity-form-input" type="text" placeholder="Enter Rebook Count"
                                formControlName="rebookCount" [validateInput]="isADecimalOnly" maxlength="2"/>
                        </div>
                    </div>
                    <div class="col-1 grid-icons-con customer-info-btns" *ngIf="isRebookUpdate">
                        <a matTooltip="Edit" class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3" style="top:22px;" (click)="enableCount()">
                            <i aria-hidden="true" class="icon icon-edit"></i>
                        </a>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2"
                    [disabled]= "!rebookConfigForm?.get('rebookCount')?.enabled">
                        {{ isRebookUpdate ? 'Update' : 'Save' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>