<style>
    .pos-top {
        top: 0
    }
</style>
<div class="page-heading">
    <h1 class="page-title">Inter Branch Order Status</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/inventory/dashboard'>Inventory Management</a></li>
        <li class="breadcrumb-item">Inter Branch Order Status</li>
      </ol>

      <div class="grid-icons-con pull-right">
        <div class="d-inline-block fidelity-search-input-con">
            <input type="search" class="fidelity-search-input" (change)="applyFilter($event.target.value)">
            <span class="icon icon-search"></span>
        </div>
        <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-2" (click)="removeSelectedInterBranchOrderStatus()" matTooltip="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" (click)="openAddInterBranchOrderStatusDialog('')" matTooltip="Add New"><i class="icon" data-icon="b" aria-hidden="true"></i></a>
    </div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox fidelity-grid-box">
   
       
        <div class="ibox-body user-grid-table-con">
            <div class="mat-elevation-z8">
                <table class="fidelity-table" mat-table [dataSource]="dataSource" matSort>

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox class="fidelity-checkbox" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <!-- Display Name-->
                    <ng-container matColumnDef="displayName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
                        <td mat-cell *matCellDef="let element"><a (click)="openAddInterBranchOrderStatusDialog(element.interBranchOrderStatusId)">{{element.displayName | truncate : 30 : "..."}}</a></td>
                    </ng-container>                    

                    <!-- InterBranchOrderStatus Code -->
                    <ng-container matColumnDef="interBranchOrderStatusCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.interBranchOrderStatusCode}} </td>
                    </ng-container>

                    <!-- Description -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description | truncate : 60 : "..."}} </td>
                    </ng-container>

                    <!-- Created Date -->
                    <ng-container matColumnDef="createdDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdDate| date}} </td>
                    </ng-container>

                    <!-- IsActive Column -->
                    <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let element"> <label class="switch pos-top">
                                <input type="checkbox" [checked]="element.isActive"
                                    (change)="enableDisableInterBranchOrderStatus(element.interBranchOrderStatusId,$event)">
                                <span class="slider round"></span>
                            </label></td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table>

                <div class="no-records-found" *ngIf="dataSource.data.length === 0&&totalLength===0"><h4>No Records Found</h4></div>
                <mat-paginator *ngIf="dataSource.data.length !== 0&&totalLength!==0" #paginator [length]="totalLength" [pageSize]="limit" [pageSizeOptions]="pageLimit"
                    (page)="changePage($event)"></mat-paginator>

            </div>


        </div>


        <!--Mat table start-->

        <!--Mat table End-->

    </div>
</div>
