<div class="fidelity-popup-heading container-fluid" mat-dialog-title cdkDrag
cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body"
cdkDragHandle>{{btnName}} InterBranch Order Status</div>
<app-popup-loader [isLoading]="isDialogLoaderLoading || isADependentDropdownSelectionChanged"></app-popup-loader>

<form class="fidelity-popup-form" (ngSubmit)="save()" [formGroup]="interBranchOrderStatusAddEditForm">
    <mat-dialog-content>
        <div class="row p-4">
            <div class="col-md-12">
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="displayName">Display Name<span class="mandatory-field">*</span></label>
                    <div class="col-md-12">
                        <input matIput mask="0*"  [dropSpecialCharacters]="false" [patterns]="alphaNumericWithSpacePattern"
                        class="form-control fidelity-form-input fidelity-mask-input" id="displayName" placeholder="Display Name (required)"
                            required minlength="3" formControlName="displayName" maxlength="100"
                            [ngClass]="{'is-invalid': (interBranchOrderStatusAddEditForm?.get('displayName')?.touched || interBranchOrderStatusAddEditForm?.get('displayName')?.dirty) && !interBranchOrderStatusAddEditForm?.get('displayName')?.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="interBranchOrderStatusAddEditForm?.get('displayName').errors?.required">
                                Please enter inter branch order status display name.
                            </span>
                            <span *ngIf="interBranchOrderStatusAddEditForm?.get('displayName').errors?.minlength">
                                The inter branch order status display name must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="interBranchOrderStatusCode">Code<span class="mandatory-field">*</span></label>
                    <div class="col-md-12">
                        <input class="form-control" id="interBranchOrderStatusCode" type="text" placeholder="Code"
                            minlength="3" formControlName="interBranchOrderStatusCode" maxlength="20"
                            [ngClass]="{'is-invalid': (interBranchOrderStatusAddEditForm?.get('interBranchOrderStatusCode')?.touched || interBranchOrderStatusAddEditForm?.get('interBranchOrderStatusCode')?.dirty) && !interBranchOrderStatusAddEditForm?.get('interBranchOrderStatusCode')?.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="interBranchOrderStatusAddEditForm?.get('interBranchOrderStatusCode').errors?.required">
                                Please enter code.
                            </span>
                            <span *ngIf="interBranchOrderStatusAddEditForm?.get('interBranchOrderStatusCode').errors?.minlength">
                                The code must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="description">Description</label>
                    <div class="col-md-12">
                        <textarea rows="5" maxlength="100" formControlName="description" class="form-control" type="text" name="textarea"></textarea>
                    </div>
                </div>
            </div>


        </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="submit" cdkFocusInitial [disabled]="interBranchOrderStatusAddEditForm?.invalid">{{btnName}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>
