<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems" [selectedTabIndex]="selectedTabIndex">
</app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body brown-border p-relative" [style.height]="isViewMore ? '27vh' : '15vh'">
            <app-customer-ticket-view-page (changeAddress)="onAfterChangeAddress($event)" (viewMoreClick)="onShowViewPage($event)" [isLoading]="isLoading">
            </app-customer-ticket-view-page>
        </div>
        <!-- <div class="cancel-history-head ext-padd mt-3">
            Cancellation History : {{contractName ? contractName : ''}}
        </div> -->
        <div class="ibox-body brown-border mt-2">
            <p-scrollPanel [style]="{ height: getHeight()}">
                <app-page-header class="d-flex mb-2"
                    [tableComponentConfigs]="primengTableSaveOfferConfigProperties.tableComponentConfigs"
                    [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
                </app-page-header>
                <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status"
                    [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
                    [isShowNoRecord]="isShowNoRecords" (onActionSubmited)="onActionSubmited($event)">
                </app-page-list-table>
            </p-scrollPanel>
        </div>
    </div>
</div>