<div class="primeng-table-wrapper">
    <ng-container
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList.length > 1; else elseTemplateTable">
        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
            <mat-tab [label]="tables.caption"
                *ngFor='let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index'>
                <form class="signal-info-table" [formGroup]="columnFilterForm">
                    <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
                        [virtualScroll]="true" [virtualRowHeight]="34" [(selection)]="selectedRows" [scrollable]="true"
                        scrollHeight="327px" [autoLayout]="true" [resizableColumns]="tables?.resizableColumns"
                        (onLazyLoad)="loadPaginationLazy($event)" [loading]="loading" [value]="dataList"
                        [dataKey]="tables.dataKey" [rows]="20" [totalRecords]="totalRecords" responsive]="true"
                        columnResizeMode="expand" [reorderableColumns]="tables?.reorderableColumns">
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix" style="text-align: left">

                                <div class="row">
                                    <div class="col-md-5" style="padding-left: 0;">
                                        <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                                            (click)="dt.exportCSV()" style="margin-right: 0.5em;"
                                            *ngIf="tables?.enableExportCSV"></button>
                                        <button type="button" pButton icon="pi pi-file-excel" iconPos="left"
                                            label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;"
                                            class="ui-button-success" *ngIf="tables?.enableExportExcel"></button>
                                        <!-- <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button> -->
                                        <button type="button" pButton icon="pi pi-file" iconPos="left"
                                            label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"
                                            style="margin-right: 0.5em;" class="ui-button-warning"
                                            *ngIf="tables?.enableExportCSVSelected"></button>
                                        <button type="button" pButton icon="pi pi-file" iconPos="left" label="Reset"
                                            (click)="dt.reset()" style="margin-right: 0.5em;"
                                            class="ui-button-secondary" *ngIf="tables?.enableReset"></button>
                                    </div>
                                    <div class="col-md-7" style="    padding-right: 0;">
                                        <form [formGroup]="searchForm">

                                            <div style="text-align: right; float: right;"
                                                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                                <input type="text" pInputText size="30" placeholder="Global Filter"
                                                    formControlName="searchKeyword" style="width:auto">
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                    *ngIf="tables?.enableRowDelete">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr class="first-row">
                                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                    pReorderableColumn>
                                    {{col.header}}
                                </th>
                                <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                    *ngIf="tables?.enableRowDelete">
                                    Action
                                </th>
                            </tr>
                            <tr *ngIf="tables?.enableFieldsSearch">
                                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox"></th>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input [formControlName]="col.field" validateInput
                                        *ngIf="col.field != 'isActive' && !col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                        pInputText type="text">
                                    <p-calendar [formControlName]="col.field" [utc]='true' placeholder="" [maxDate]="today"
                                        *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                        appendTo="body" showButtonBar="true" [showIcon]="false"  [readonlyInput]="true"
                                        (onClearClick)="dt.filter($event.value,col.field, null)">
                                    </p-calendar>
                                    <p-dropdown [formControlName]="col.field"
                                        *ngIf="col.field == 'isActive' && i == selectedTabIndex" appendTo="body"
                                        [options]="status" placeholder="Select Status" [style]="{'width':'75%'}"
                                        [showClear]="true">
                                    </p-dropdown>
                                </th>
                                <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                    *ngIf="tables?.enableRowDelete"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                            let-expanded="expanded">
                            <tr [pSelectableRow]="rowData">
                                <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                    <p-tableRadioButton [value]="rowData" [index]=ri></p-tableRadioButton>
                                </td>
                                <td *ngFor="let col of columns;index as i" class="ui-resizable-column"
                                    pReorderableRowHandle>
                                    <a href="#" [pRowToggler]="rowData"
                                        *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>

                                    <ng-container
                                        *ngIf="col.header == 'Status' || col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                                    </ng-container>
                                    <ng-template #thenTemplate>
                                        <ng-container *ngIf="col.header == 'Status'">
                                            <span *ngIf="!tables.enableStatusActiveAction" style="cursor: pointer;">
                                                {{col.field =='isActive' ? (rowData[col.field] == true? 'Active' :
                                                'InActive') : rowData[col.field] ? rowData[col.field] :'-'}}
                                            </span>
                                            <p-dropdown *ngIf="tables.enableStatusActiveAction" [options]="status"
                                                appendTo="body" [(ngModel)]="rowData[col.field]"
                                                [ngModelOptions]="{standalone: true}" placeholder="Select Status"
                                                [style]="{'width':'100%'}" (onChange)="onChangeStatus(rowData,ri)">
                                            </p-dropdown>
                                        </ng-container>
                                        <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                                            {{rowData[col.field] ? (rowData[col.field] | date) :
                                            '--'}}
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #elseTemplate>
                                        <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                                            <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                                            <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                                            {{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No'
                                            : rowData[col.field] ? rowData[col.field] : '--'}}
                                        </ng-container>

                                    </ng-template>

                                </td>
                                <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                    *ngIf="tables?.enableRowDelete">
                                    <button style="margin: 0 10px;cursor: pointer;" pButton type="button"
                                        icon="pi pi-trash" class="ui-button-danger"
                                        (click)="onCRUDRequested('delete',rowData)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody" let-columns="columns">
                            <tr style="height:34px">
                                <td *ngFor="let col of columns">
                                    <div class="loading-text"></div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length" style="text-align: center;">
                                    <p *ngIf="totalRecords == 0" class="no-data-msg mt-2">No Data found</p>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </form>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
    <ng-template #elseTemplateTable>
        <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
            <form class="signal-info-table" [formGroup]="columnFilterForm">
                <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
                    [(selection)]="selectedRows" [scrollable]="true" scrollHeight="327px" [autoLayout]="true"
                    (onLazyLoad)="loadPaginationLazy($event)" [totalRecords]="totalRecords" [loading]="loading"
                    [value]="dataList" [dataKey]="tables.dataKey" [rows]="20" [responsive]="true"
                    [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"
                    [reorderableColumns]="tables?.reorderableColumns">
                    <ng-template pTemplate="caption">
                        <div class="ui-helper-clearfix" style="text-align: left">

                            <div class="row">
                                <div class="col-md-5" style="    padding-left: 0;">
                                    <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                                        (click)="dt.exportCSV()" style="margin-right: 0.5em;"
                                        *ngIf="tables?.enableExportCSV"></button>
                                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                                        (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"
                                        *ngIf="tables?.enableExportExcel"></button>
                                    <!-- <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button> -->
                                    <button type="button" pButton icon="pi pi-file" iconPos="left"
                                        label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"
                                        class="ui-button-warning" *ngIf="tables?.enableExportCSVSelected"></button>
                                    <button type="button" pButton icon="pi pi-file" iconPos="left" label="Reset"
                                        (click)="dt.reset()" style="margin-right: 0.5em;" class="ui-button-secondary"
                                        *ngIf="tables?.enableReset"></button>

                                </div>
                                <div class="col-md-7" style="    padding-right: 0;">
                                    <form [formGroup]="searchForm">

                                        <div style="text-align: right; float: right;"
                                            *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                            <input type="text" pInputText size="30" placeholder="Global Filter"
                                                formControlName="searchKeyword" style="width:auto">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                            <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                            <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                *ngIf="tables?.enableRowDelete">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr class="first-row">
                            <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                pReorderableColumn>
                                {{col.header}}
                            </th>
                            <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                *ngIf="tables?.enableRowDelete">
                                Action</th>
                        </tr>
                        <tr *ngIf="tables?.enableFieldsSearch">
                            <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox"></th>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                <input [formControlName]="col.field" validateInput
                                    *ngIf="col.field != 'isActive' && !col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                    pInputText type="text">
                                <p-calendar [formControlName]="col.field" [utc]='true' [maxDate]="today"
                                    *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                    appendTo="body" showButtonBar="true" [readonlyInput]="true"
                                    (onClearClick)="dt.filter($event.value,col.field, null)">
                                </p-calendar>
                                <p-dropdown [formControlName]="col.field"
                                    *ngIf="col.field == 'isActive' && i == selectedTabIndex" appendTo="body"
                                    [options]="status" placeholder="Select Status" [style]="{'width':'75%'}"
                                    [showClear]="true">
                                </p-dropdown>
                            </th>
                            <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                *ngIf="tables?.enableRowDelete">
                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                        let-expanded="expanded">
                        <!-- [pReorderableRow]="ri" -->
                        <tr [pSelectableRow]="rowData">
                            <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                <!-- <p-tableCheckbox [value]="rowData"></p-tableCheckbox> -->
                                <p-tableRadioButton [value]="rowData" [index]=ri (click)="getSelectedRow()">
                                </p-tableRadioButton>
                            </td>
                            <td *ngFor="let col of columns;index as i" class="ui-resizable-column"
                                pReorderableRowHandle>
                                <a href="#" [pRowToggler]="rowData"
                                    *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a>
                                <ng-container
                                    *ngIf="col.header == 'Status' || col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                                </ng-container>
                                <ng-template #thenTemplate>
                                    <ng-container *ngIf="col.header == 'Status'">
                                        <span *ngIf="!tables.enableStatusActiveAction" class="status-label pos-top"
                                            style="cursor: pointer;" [ngClass]="rowData.cssClass">

                                            {{ rowData[col.field] ? rowData[col.field] :'-'}}
                                        </span>
                                        <p-dropdown *ngIf="tables.enableStatusActiveAction" [options]="status"
                                            appendTo="body" [(ngModel)]="rowData[col.field]"
                                            [ngModelOptions]="{standalone: true}" placeholder="Select Status"
                                            [style]="{'width':'100%'}" (onChange)="onChangeStatus(rowData,ri)">
                                        </p-dropdown>
                                    </ng-container>
                                    <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                                        {{rowData[col.field] ? (rowData[col.field] | date) :
                                        '--'}}
                                    </ng-container>
                                </ng-template>
                                <ng-template #elseTemplate>
                                    <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                                        <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                            tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                            {{rowData[col.field] ? rowData[col.field] : '--'}}
                                        </a>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                                        <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                            tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                            {{rowData[col.field] ? rowData[col.field] : '--'}}
                                        </a>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                                        {{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ? 'No' :
                                        (rowData[col.field] || rowData[col.field] == 0) ? rowData[col.field] : '--'}}
                                    </ng-container>

                                </ng-template>
                            </td>
                            <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                                <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                                    class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="columns.length" style="text-align: center;">
                                <p *ngIf="totalRecords == 0" class="no-data-msg mt-2">No Data found</p>
                            </td>
                        </tr>

                    </ng-template>
                </p-table>
            </form>
        </div>

    </ng-template>
</div>
