<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"  (buttonClicked)="onCRUDRequested($event)"></app-page-header>

<div class="page-content fade-in-up">
  <div class="ibox white-bg sm-inputs" style="height: auto !important">
    <div class="ibox-body brown-border">
      <div class="row">
        <div class="col-4">
          <div class="form-group"><label>Radio Lost Name<span class="mandatory-field">*</span></label>
            <span matTooltipClass="my-custom-tooltip" matTooltip="{{viewDetailedData?.radioLostName}}">
            <input type="text" class="form-control fidelity-form-input disabled" [value]="viewDetailedData?.radioLostName || ''"
              placeholder="Radio Lost Name"></span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group"><label>Description</label> 
            <span matTooltipClass="my-custom-tooltip" matTooltip="{{viewDetailedData?.description}}">
            <textarea class="form-control fidelity-form-input disabled"
              placeholder="Description">{{viewDetailedData?.description || ''}}</textarea></span>
          </div>
        </div>
        <div class="col-4 mb-3">
          <div class="col-12 mb-2 p-0">Status<span class="mandatory-field">*</span></div>
          <div class="col-12 p-0">
            <div class="form-group">
              <label class="active switch ">
                <input type="checkbox" class="disabled" [checked]="viewDetailedData?.isActive || ''">
                <span class="slider round active"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group"><label>Division<span class="mandatory-field">*</span></label>
            <input type="text" class="form-control fidelity-form-input disabled" [value]="viewDetailedData?.divisionName || ''"
              placeholder="Division">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group"><label>Main Area<span class="mandatory-field">*</span></label>
            <span matTooltipClass="my-custom-tooltip" matTooltip="{{viewDetailedData?.mainAreaName}}">
            <input type="text" class="form-control fidelity-form-input disabled" [value]="viewDetailedData?.mainAreaName || ''"
              placeholder="Main Area"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox white-bg sm-inputs" style="height: auto !important">
    <h1 class="page-sub-title mt-2 mb-2">List of Customers</h1>
    <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
      [selectedRows]="selectedRow" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
      [selectedTabIndex]="0" [totalRecords]="totalRecords" (onActionSubmited)="onActionSubmited($event)"
     >
    </app-page-list-table>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
      [routerLink]="['/configuration/customer-management/radio-lost-config']">Back</button>
  </div>
</div>
