<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>

<div class="page-content fade-in-up">
  <form [formGroup]="radioLostMappingForm" customForm (ngSubmit)="onSubmit()">
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
      <div class="ibox white-bg sm-inputs" style="height: auto !important">
        <div class="ibox-body brown-border">
          <div class="row">
            <div class="col-4">
              <div class="form-group"><label>Radio Lost Name<span class="mandatory-field">*</span></label>
                <input type="text" class="form-control fidelity-form-input" formControlName="radioLostName"
                  placeholder="Radio Lost Name">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group"><label>Description<span class="mandatory-field">*</span></label>
                <textarea class="form-control fidelity-form-input" formControlName="description"
                  placeholder="Description"></textarea>
              </div>
            </div>
            <div class="col-4 mb-3">
              <div class="col-12 mb-2 p-0">Status<span class="mandatory-field">*</span></div>
              <div class="col-12 p-0">
                <div class="form-group">
                  <label class="active switch">
                    <input type="checkbox" formControlName="isActive">
                    <span class="slider round active"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group"><label>Division<span class="mandatory-field">*</span></label>
                <select class="form-control fidelity-form-input" formControlName="divisionId"
                  (change)="onChangeDivision()">
                  <option value="">Select Division</option>
                  <option *ngFor="let item of  divisionDropdown" [value]="item.id">{{item.displayName}}</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group"><label>Main Area<span class="mandatory-field">*</span></label>
                <!-- <select class="form-control fidelity-form-input" formControlName="mainAreaId">
                <option value="">Select Main Area</option>
                <option *ngFor="let item of  mainAreaDropdown" [value]="item.id">{{item.displayName}}</option>
              </select> -->
                <p-multiSelect formControlName="mainAreaId" [options]="mainAreaDropdown" defaultLabel="Select Main Area"
                  styleClass="w-100" [baseZIndex]="100" emptyFilterMessage="No Main Area Exists"
                  maxSelectedLabels="2"></p-multiSelect>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ibox white-bg sm-inputs" style="height: auto !important">
        <h1 class="page-sub-title mt-2 mb-2">List of Customers</h1>
        <!-- <p-scrollPanel [style]="{height: '33vh'}" styleClass="custom"> -->
        <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
          [selectedRows]="selectedRow" [loading]="loading" [dataList]="dataList" [status]="status"
          [pageLimit]="pageLimit" [selectedTabIndex]="0" [totalRecords]="totalRecords"
          (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
        </app-page-list-table>
        <!-- </p-scrollPanel> -->
      </div>
    </p-scrollPanel>
    <div class="text-center mt-3">
      <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{radioLostMappingId ?
        'Update' : 'Save'}}</button>
      <button class="btn btn-md-fidelity fidelity-btn-grey btn-md-fidelity btn-grey mr-3"
        [routerLink]="['/configuration/customer-management/radio-lost-config']">Cancel</button>
    </div>
  </form>
</div>