.main-container{
  overflow-x: scroll;
  height: 100vh;
  background-color: #fff;
  .fidelity-form-input.form-control.ng-touched.ng-invalid{
    border-bottom: 1px solid #dc3545 !important;
    border-top: unset !important;
    border-left: unset !important;
    border-right: unset !important;
    border-radius: unset !important;
  }
  .fidelity-form-input:focus{
    outline: none !important;
    border: unset !important;
    box-shadow :unset !important;
  }
}

.border-main-cancel{
  border: 1px solid #3333;
  width: 50%;
  padding: 10px;
}
