<div class="page-heading">
    <h1 class="page-title no-border">View Item Category</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"><a routerLink='/configuration/item-configuration' [queryParams]="{tab:0}">Item Category List</a></li>
        <li class="breadcrumb-item">View Item Category</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a id="stock_edit" (click)="navigateToEdit()" matTooltip="Edit"  class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
</div>


<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg">
                <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                <div class="ibox-body brown-border p-5 mb-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col">
                                            <div><label id="key_price_stock_code">Item Category Name</label></div>
                                        </div>
                                        <div class="col">
                                            <div> <label id="value_price_stock_code"><b>{{itemCategory.itemCategoryName}}</b></label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col">
                                            <div><label id="key_stock_name">Description</label></div>
                                        </div>
                                        <div class="col">
                                            <div> <label id="key_stock_name"><b>{{itemCategory.description}}</b></label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col">
                                <div><label id="key_status">Ownership</label></div>
                              </div>
                              <div class="col">
                                <div> <label id="value_status"><b>{{itemCategory.itemOwnershipTypeId == 1 ? 'Owned' : 'Rented'}}</b></label></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>
