<!-- Email modal -->
<div class="fidelity-popup-heading container-fluid p-relative">Add Contact
  <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<!-- <form  class="fidelity-popup-form" > -->
<mat-dialog-content>
  <form class="fidelity-popup-form" style="font-size: 0.9rem!important;" customForm [formGroup]="addNewContactForm"
    (ngSubmit)="addContactSubmit()">
    <div>
      <div>
        <div class="view-box">
          <div class="row mt-1">
            <div class="col-lg-5">
              <div class="form-group">
                <label>Contact Name
                  <span class="mandatory-field">*</span>
                </label>
                <input formControlName="contactName" class="form-control fidelity-form-input" name="Contact Name"
                  placeholder="Enter Contact Name" minlength="3" maxlength="25">
              </div>
            </div>
            <div class="col-lg-7">
              <label>Contact Number <span class="mandatory-field">*</span>
              </label>
              <div class="row">
                <div class="col-3 pr-0">
                  <div class="form-group" style="width: 100%!important;">
                    <select class="form-control fidelity-form-input pad-right"
                      style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                      formControlName="contactNoCountryCode">
                      <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                        {{countryCode.displayName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-8 pl-0">
                  <div class="form-group" style="width: 84%!important;">
                    <input  #input
                      style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                      formControlName="contactNo" appPhoneMask
                      [title]="addNewContactForm?.get('contactNoCountryCode')?.value"
                      class="form-control fidelity-form-input" name="Contact Number" placeholder="Contact Number" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <br>
    <mat-dialog-actions align="end">
      <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button
        type="submit">Submit</button>
      <button type="submit" id="Feature_cancel_btn" (click)="close()" class="btn btn-md-fidelity fidelity-btn-grey"
        mat-button>Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>

<!-- </form> -->
