<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative">
  Promise To Pay Quote
  <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>

<div class="fdt-dialog-body">
  <div class="">
    <p-scrollPanel [style]="{height: '30vh'}" styleClass="custom">
      <div class="ibox-body brown-border view-box">
        <h1 class="page-sub-title ext-padd" style="margin-top: 5px;">QUOTATION DETAILS</h1>
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Quotation Number</span>
              <span id="" class="value">
                <span class="d-inline-block">{{quoationDetail ? quoationDetail.quotationNumber : '-'}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Quoted Amount</span>
              <span id="" class="value">
                <span class="d-inline-block">{{quoationDetail ? quoationDetail.quotedAmount : '-'}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Payment Option</span>
              <span id="" class="value">
                <span class="d-inline-block">{{quoationDetail ? quoationDetail.paymentOption : '-'}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Payment Method</span>
              <span id="" class="value">
                <span class="d-inline-block">{{quoationDetail ? quoationDetail.paymentMethod : '-'}}</span>
              </span>
            </div>
          </div>
        </div>
        <h1 class="page-sub-title ext-padd" style="margin-top: 5px;">PAYMENT DETAILS</h1>
        <div class="row">
          <div class="col-lg-4">
            <div class="d-flex">
              <span id="" class="key"></span>
              <span id="" class="value">
                <span class="d-inline-block">PTP Amount</span>
              </span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex">
              <span id="" class="value">
                <span class="d-inline-block">Payment Method</span>
              </span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex">
              <span id="" class="value">
                <span class="d-inline-block">PTP Date</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-2" *ngFor="let paymentDetail of paymentDetails;let index = index">
          <div class="col-lg-4">
            <div class="d-flex">
              <span id="" class="key">Payment {{index + 1}}</span>
              <span id="" class="value">
                <span class="d-inline-block">R {{paymentDetail ? paymentDetail.ptpAmount : '-'}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex">
              <span id="" class="value">
                <span class="d-inline-block">{{paymentDetail ? paymentDetail.paymentMethod : '-'}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-4 fidelity-date-picker-con p-relative cust-banner-date-con">
            <div class="d-flex">
              <p-calendar name="principlePSIRAExpiryDate" [(ngModel)]="paymentDetail.ptpDate" showButtonBar="true"
                appendTo="body" [showIcon]="true" [minDate]="startTodayDate" [style]="{'width':'100%'}" [disabled]="true"></p-calendar>
            </div>
          </div>
        </div>

      </div>

    </p-scrollPanel>

  </div>
</div>