<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Stock ID</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            Billing
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/billing/stock-id' [queryParams]="{tab:0}">Stock ID List</a>
        </li>
        <li class="breadcrumb-item">
            View -
            {{stockIdDetails?.stockIdName ? stockIdDetails?.stockIdName : '--'}}
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="edit()" matTooltip="Edit">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body brown-border">
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Stock ID</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{stockIdDetails?.stockIdName ? stockIdDetails?.stockIdName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Stock ID Notes</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{stockIdDetails?.stockIdNotes ? stockIdDetails?.stockIdNotes : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                  <div class="col-lg-6">
                      <div class="d-flex">
                          <span id="" class="key">Stock ID Type</span>
                          <span id="" class="value">
                              <span
                                  class="d-inline-block">{{stockIdDetails?.stockIDTypeName ? stockIdDetails?.stockIDTypeName : '-'}}</span>
                          </span>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="d-flex">
                          <span id="" class="key">Stock Category</span>
                          <span id="" class="value">
                              <span
                                  class="d-inline-block">{{stockIdDetails?.stockCategoryName ? stockIdDetails?.stockCategoryName : '-'}}</span>
                          </span>
                      </div>
                  </div>
              </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Day</span>
                            <span id="" class="value">
                            <span class="d-inline-block">
                                     {{stockIdDetails?.isDay ? 'Enabled' : 'Disabled'}}
                            </span>
                        </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Shift</span>
                            <span id="" class="value">
                            <span class="d-inline-block">
                                     {{stockIdDetails?.isShift ?  'Enabled' : 'Disabled'}}
                            </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Hour</span>
                            <span id="" class="value">
                            <span class="d-inline-block">
                                     {{stockIdDetails?.isHours ? 'Enabled' : 'Disabled'}}
                            </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Grade</span>
                            <span id="" class="value">
                            <span class="d-inline-block">
                                    {{stockIdDetails?.isGrade ?  'Enabled' : 'Disabled'}}
                            </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Type Of Fee</span>
                            <span id="" class="value">
                            <span class="d-inline-block">
                                {{stockIdDetails?.isFixedFee ? 'Fixed' : 'Calculated'}}
                            </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Tier Based Price</span>
                            <span id="" class="value">
                            <span class="d-inline-block">
                                {{stockIdDetails?.isTierBasedPrice ? 'Yes' : 'No'}}

                            </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Created On</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{stockIdDetails?.createdDate ? (stockIdDetails?.createdDate | date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Modified On</span>
                            <span id="" class="value">
                                <span
                                    class="d-inline-block">{{stockIdDetails?.modifiedDate ? (stockIdDetails?.modifiedDate | date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Status</span>
                            <span class="d-inline-block">
                                <span class="status-label "
                                    [ngClass]="{'status-label-green': stockIdDetails?.isActive,'status-label-pink': !stockIdDetails?.isActive}">
                                    {{stockIdDetails?.isActive ? 'Active' : 'In Active'}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </p-scrollPanel>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelCmcSmsGroupBtn"
            routerLink='/billing/stock-id' [queryParams]="{tab:0}">Back</button>
    </div>
</div>
