<div class="page-heading">
    <h1 class="page-title d-inline-block">Redefine Recipients</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a> Sales</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/sales/sms-campaign"> SMS Campaigns List</a>
        </li>
        <li class="breadcrumb-item">Preview Result</li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="campaignStageTwoForm" (ngSubmit)="onSubmit()">
                <div class="ibox lss-registration-box">
                    <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <div class="d-flex justify-content-around align-items-center lead-stage-navigator">
                                <button type="button">
                                    <i class="icon icon-backward" (click)="onArrowClick('previous')"></i>
                                </button>
                                <span class="d-flex stage-no mr-2 ml-2">2</span>
                                <button type="button" *ngIf="totalRecords > 0">
                                    <i class="icon icon-forward" (click)="onArrowClick('next')"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Total Records</label>
                                        <input formControlName="totalRecords"
                                            class="form-control fidelity-form-input disabled"
                                            placeholder="Total Records" type="text" name='Total Records' />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Sample Size</label>
                                        <input formControlName="sampleSize" class="form-control fidelity-form-input "
                                            placeholder="Sample Size" type="text" name='Sample Size'
                                            [validateInput]="isANumberOnly" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Matched Criteria<span class="mandatory-field">*</span></label>
                                        <input formControlName="matchedCriteria" style="cursor: pointer"
                                            (click)="openMatchedCriteriaDialog()"
                                            class="form-control fidelity-form-input " readonly
                                            placeholder="Matched Criteria" type="text" name='Matched Criteria' />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-12" style="text-align: center;">
                                    <button id="create_new_leads_btn" type="submit"
                                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Show</button>
                                </div>
                            </div>
                            <app-page-list-table
                                [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                                [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList"
                                [pageSize]="pageSize" [status]="status" [activeList]="status" [pageLimit]="pageLimit"
                                [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
                                (onActionSubmited)="onActionSubmited($event)">
                            </app-page-list-table>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="button" (click)="onArrowClick('previous')"
                        class="btn btn-md-fidelity  btn-primary">Redefine Search</button>
                    <button id="create_new_leads_btn" type="button" (click)="onArrowClick('next')"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Proceed</button>
                    <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        routerLink='/sales/sms-campaign'>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- alert dialog -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isOpenMatchedCriteriaDialog"
    [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '750px'}">
    <p-header>
        Matched Criteria
    </p-header>

    <div class="ui-g ui-fluid">
        <div style="text-align: center;padding: 16px;">
            <div class="ui-g-12">
                <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                    <p style="margin-top: 10px; word-break: break-word;">
                        {{campaignStageTwoForm.get('matchedCriteria').value}}</p>
                </p-scrollPanel>
            </div>

        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                <div class="ui-g-12">
                    <button type="button" pButton class="ui-button-success"
                        style="display: inline-block;background: #115943!important;"
                        (click)="isOpenMatchedCriteriaDialog = false" label="Close"></button>
                </div>
            </div>
        </div>
    </p-footer>
</p-dialog>