<div class="page-heading ">
    <h1 class="page-title d-inline-block">View SMS Campaign</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Sales</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/sales/sms-campaign">SMS Campaign</a>
        </li>
        <li class="breadcrumb-item">
            View : {{smsCampaignDetails?.campaignRefNo ?
            smsCampaignDetails?.campaignRefNo : '--'}}
        </li>
    </ol>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
    <div class="ibox white-bg view-box">
        <div class="ibox-body brown-border">
            <div class="d-flex justify-content-around align-items-center lead-stage-navigator">
                <span class="d-flex stage-no mr-2 ml-2">1</span>
                <button type="button">
                    <i class="icon icon-forward" (click)="onArrowClick()"></i>
                </button>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Region</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.regionName ?
                                smsCampaignDetails?.regionName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">District</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.districtName ?
                                smsCampaignDetails?.districtName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Division</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.divisionName ?
                                (smsCampaignDetails?.divisionName): '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Branch</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.branchName ?
                                smsCampaignDetails?.branchName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Sub Branch</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.subBranchName ?
                                smsCampaignDetails?.subBranchName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Sales Area</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.salesAreaName ?
                                smsCampaignDetails?.salesAreaName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Main Area</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.mainAreaName ?
                                smsCampaignDetails?.mainAreaName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Sub Area</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.subAreaName ?
                                smsCampaignDetails?.subAreaName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Origin</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.originName ?
                                smsCampaignDetails?.originName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Technical Installation Area</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.technicalInstallationAreaName ?
                                smsCampaignDetails?.technicalInstallationAreaName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Technical Service Area</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.technicalServiceAreaName ?
                                smsCampaignDetails?.technicalServiceAreaName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Dealer Owned</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.dealerOwned ?
                                smsCampaignDetails?.dealerOwned : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Dealer Rented</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.dealerRented ?
                                smsCampaignDetails?.dealerRented : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Inst. Origin</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.installOriginName ?
                                smsCampaignDetails?.installOriginName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Ownership</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.itemOwnershipTypeName ?
                                smsCampaignDetails?.itemOwnershipTypeName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Customer Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.customerTypeName ?
                                smsCampaignDetails?.customerTypeName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">LSS Scheme</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.lssName ?
                                smsCampaignDetails?.lssName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Site Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.siteTypeName ?
                                smsCampaignDetails?.siteTypeName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Lead Source Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.sourceName ?
                                smsCampaignDetails?.sourceName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">CPA Protected</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.cpaProtected ?
                                smsCampaignDetails?.cpaProtected : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Contract Period</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.contractPeriodName ?
                                smsCampaignDetails?.contractPeriodName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Service Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.serviceCategoryName ?
                                smsCampaignDetails?.serviceCategoryName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Services</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.serviceName ?
                                smsCampaignDetails?.serviceName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Operator</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.startDateOperatorName ?
                                smsCampaignDetails?.startDateOperatorName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Discount Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.discountTypeName ?
                                smsCampaignDetails?.discountTypeName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Discretionary</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.testRunPeriodName ?
                                smsCampaignDetails?.testRunPeriodName : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Start Date and Time</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.startDate ?
                                (smsCampaignDetails?.startDate| date) : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">End Date and Time</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.endDate ?
                                (smsCampaignDetails?.endDate | date): '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Date Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.userName ?
                                (smsCampaignDetails?.userName | date): '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Action/Event</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{smsCampaignDetails?.eventCode ?
                                smsCampaignDetails?.eventCode : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </p-scrollPanel>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
            routerLink='/sales/sms-campaign'>Back</button>
    </div>
</div>