@media only screen and (min-width: 600px) and (max-width: 800px) {
    ::ng-deep .custom-stock-take-bin-list .ui-table-responsive .ui-table-thead>tr>th, .ui-table-responsive .ui-table-tfoot>tr>td {
        display: block !important;
    }
    ::ng-deep .custom-stock-take-bin-list tr {
        display: flex !important;
    }
    ::ng-deep  body .ui-widget {
        font-size: 12px  !important;
    }
    ::ng-deep .custom-stock-take-bin-list tr.neverPrint {
        display: flex !important;
    }
    ::ng-deep .custom-stock-take-bin-list tr.first-row {
        display: flex !important;
    }
}   