<ng-container *ngIf="config?.data?.confirmationType==dynamicConfirmByMessageConfirmationType.WARNING">
  <div style="text-align: center;padding: 16px;" *ngIf="!showDialogSpinner">
    <img src="./assets/img/confirmation.png" alt="" style="height: 100px; width: 100px;">
    <h5 style="margin-top: 5px;color: #000;font-weight: 500;margin-bottom: 5px;">
      <p [innerHTML]="config?.data?.message">
      </p></h5>
  </div>
  <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;" *ngIf="!showDialogSpinner">
    <div class="ui-g-6">
      <button style="padding: 0.429em 1em;" type="button" pButton (click)="confirmAction('yes')" label="Yes"
        class="ui-button-success"></button>
    </div>
    <div class="ui-g-6">
      <button style="padding: 0.429em 1em;" type="button" pButton (click)="confirmAction('no')" label="Cancel"
        class="ui-button-secondary"></button>
    </div>
  </div>
  <div style="text-align:center;padding: 16px;" *ngIf="showDialogSpinner">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="3" animationDuration=".5s">
    </p-progressSpinner>
    <h5>Please wait...</h5>
    <p>processing...</p>
  </div>
</ng-container>

<ng-container *ngIf="config?.data?.confirmationType==dynamicConfirmByMessageConfirmationType.DANGER">
  <div style="text-align: center;padding: 16px;" *ngIf="!showDialogSpinner">
    <img src="./assets/img/delete.png" alt="" style="height: 100px; width: 100px;">
    <h5 style="margin-top: 5px;color: #000;font-weight: 500;margin-bottom: 5px;">{{
      !config?.data?.deletableIds?.includes(',')?"Are you sure you want to delete this item?":
      "Are you sure you want to delete the selected items?"}}</h5>
  </div>
  <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;" *ngIf="!showDialogSpinner">
    <div class="ui-g-6">
      <button style="padding: 0.429em 1em;" type="button" pButton (click)="confirmAction('yes')" label="Yes"
        class="ui-button-danger"></button>
    </div>
    <div class="ui-g-6">
      <button style="padding: 0.429em 1em;" type="button" pButton (click)="confirmAction('no')" label="Cancel"
        class="ui-button-secondary"></button>
    </div>
  </div>
  <div style="text-align: center;padding: 16px;" *ngIf="showDialogSpinner">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="3" animationDuration=".5s">
    </p-progressSpinner>
    <h5>Please wait...</h5>
    <p> Deleting...</p>
  </div>
</ng-container>