<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
  cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
  {{config.header}}
  <button mat-icon-button class="close-button p-absolute" type="button" (click)="dialogClose()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="creditCodeAddEditForm" customForm [formGroup]="creditCodeAddEditForm"
  (ngSubmit)="onSubmit()">
  <div *ngIf="action == 'add'">
    <div class="form-group row mb-2">
      <label class="col-md-12 col-form-label" for="creditControllerCode">Credit Controller Code<span
          class="mandatory-field">*</span></label>
      <div class="col-md-12">
        <input class="form-control fidelity-form-input" [ngClass]="{'disabled': action != 'add' }"
          id="creditControllerCode" type="text" placeholder="Name (required)" [minlength]="3" [maxlength]="50"
          name="Credit Controller Code" formControlName="creditControllerCode" autocomplete="off" />
      </div>
    </div>
    <div class="form-group row mb-2 mt-4">
      <label class="col-md-6 col-form-label" for="description">Status</label>
      <div class="col-md-6">
        <div class="col-12 p-0">
          <div class="form-group">
            <label class="active switch" [ngClass]="{'disabled': action != 'add' }">
              <input type="checkbox" formControlName="isActive">
              <span class="slider round active"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="action != 'add'">
    <div class="form-group row mb-2">
      <label class="col-md-6 col-form-label" for="creditControllerCode"> Credit Controller Code<span
          class="mandatory-field">*</span></label>
      <div class="col-md-6">
        <input class="form-control fidelity-form-input" id="creditControllerCode" type="text"
          placeholder="Name (required)" [minlength]="3" disabled [maxlength]="50" name="Credit Controller Code Name"
          formControlName="creditControllerCode" autocomplete="off" />
      </div>
    </div>
    <div class="form-group row mb-2  mt-4">
      <label class="col-md-6 col-form-label" for="creditControllerCode">Status<span
          class="mandatory-field">*</span></label>
      <div class="col-md-6">
        <span class="status-label"
          [ngClass]="config.data.isActive && config.data.isActive? 'status-label-green' : 'status-label-pink' ">{{config.data.isActive
          && config.data.isActive ? 'Active':'InActive' }}</span>
      </div>
    </div>
  </div>
  <div class="text-center mt-4" *ngIf="action == 'add'">
    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
    <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="dialogClose()">Cancel</button>
  </div>
  <div class="text-center" *ngIf="action != 'add'">
    <button class="btn btn-md-fidelity fidelity-btn-brown" type="button" (click)="action = 'add'">Edit</button>
  </div>
</form>
