<div class="page-heading ">
    <h1 class="page-title no-border"> Address Validators</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration </li>
        <li class="breadcrumb-item"><a routerLink="/configuration/data-maintenance"> Data Maintenance </a>
        </li>
        <li class="breadcrumb-item">Address Validators</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="addressValidatorForm">
        <div class="ibox white-bg">
            <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                <div class="ibox-body">
                    <div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>District<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Branch</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Role</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <select class="form-control fidelity-form-input"
                                        [ngClass]="{'disabled': addressValidationRoleConfigId}"
                                        formControlName="districtId" id="">
                                        <option value="">Select</option>
                                        <option *ngFor="let dis of districts" [value]="dis?.id">
                                            {{dis?.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4" *ngIf="!addressValidationRoleConfigId">
                                <div class="form-group">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                      <p-multiSelect [options]="branchDropdown" [defaultLabel]="'Select Branch'" formControlName="branchIds" styleClass="w-100"></p-multiSelect>
                                    </div>
                                </div>
                                <div *ngIf="!seletBranch"
                                    style="position: absolute;bottom: -22px!important;width:40%;top:30px;z-index: 10!important;">
                                    <span class="duplicate">
                                        Branch is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-4" *ngIf="addressValidationRoleConfigId">
                                <div class="form-group">
                                    <input name="Branch" class="form-control fidelity-form-input disabled" type="text"
                                        placeholder="Enter Branch" [value]="data?.branchName" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <select class="form-control fidelity-form-input" formControlName="roleId" id="">
                                        <option value="">Select</option>
                                        <option *ngFor="let configRole of roles" [value]="configRole?.id">
                                            {{configRole?.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button (click)="submit()"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{addressValidationRoleConfigId
                ? 'Update' : 'Save'}}</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink="/configuration/data-maintenance" skipLocationChange>Cancel</button>
        </div>
    </form>
</div>
