// @import '../../../../../../variables.scss';

::ng-deep mat-select-autocomplete > .mat-form-field {
    border: none!important;
  }
  ::ng-deep mat-select-autocomplete .mat-select  {
    padding: 8px 8px!important;
  }
  ::ng-deep .stock-order .mat-form-field  {
    border: none!important;
    padding-left: 0!important;
  }
  ::ng-deep .stock-order .mat-input-element  {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    padding: 10px!important;
  }