<div class="page-heading ">
    <h1 class="page-title d-inline-block">Update Return for Repair Request </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/technical-management/dashboard'>Technicial Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/technical-management/return-for-repair/'>Return for Repair List</a></li>
        <li class="breadcrumb-item"><a routerLink='/technical-management/return-for-repair/view'[queryParams]="{id:returnForRepairRequestId}"
            skipLocationChange>
            View Return for Repair Request</a>
        </li>
        <li class="breadcrumb-item">
            Update Return for Repair Request
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
        <form action="">
            <div class="ibox-body view-box" >
                <app-view-page [col]="2" [viewDetail]="returnForRepairDetailsData" [marginClass]="'m-0'">
                </app-view-page>
            </div>
            <div class="ibox-body1 mt-2">
                <mat-tab-group [selectedIndex]="selectedIndex" class="fidelity-tab-group mat-tab-body-padding-0">
                    <mat-tab label="Return For Repair Request" class="bg-gray">
                        <div>
                            <p-scrollPanel [style]="{height: '30vh'}" styleClass="custom">
                                <div class="container-fluid">
                                    <div class="row header-row" style="font-size: 1rem;">
                                        <div class="col-2">Stock Code</div>
                                        <div class="col-4">Stock Description</div>
                                        <div class="col-2">Unit of Measure</div>
                                        <div class="col-2">Return Qty</div>
                                        <div class="col-1">Received Qty</div>
                                        <div class="col-1">Variance Qty</div>
                                    </div>
                                    <div class="row children-row mb-1" style="font-size: 1rem;"*ngFor="let item of returnForRepairDetails?.repairRequestItemDTO">
                                        <div class="col-2">
                                            <div class="form-group blue-text">
                                            <input class="form-control fidelity-form-input model-color" type="text" [value]="item.itemCode" readonly (click)="stockCodePopup(item)"/>
                                        </div>
                                        </div>
                                        <div class="col-4">
                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="item.itemName"/>
                                        </div>
                                        <div class="col-2">
                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="item.uom"/>
                                        </div>
                                        <div class="col-2">
                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="item.returnQty"/>
                                        </div>
                                        <div class="col-1">
                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="item.receivedQty"/>
                                        </div>
                                        <div class="col-1">
                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="item.varianceQty"/>
                                        </div>
                                    </div>
                                   
                                </div>
                            </p-scrollPanel>
                        </div>
                    </mat-tab>
                    <mat-tab label="Receiving Batches" class="bg-gray">
                        <div>
                            <p-scrollPanel [style]="{height: '30vh'}" styleClass="custom">
                                <div class="container-fluid">
                                    <div class="row">
                                        <mat-accordion>
                                            <mat-expansion-panel *ngFor="let item of returnForRepairDetails?.repairRequestReceivingBatches">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <div class="row mt-1 view-box" style="width: 100%;">
                                                            <div class="col-lg-4">
                                                                <div class="d-flex">
                                                                    <span id="" class="key">Received ID</span>
                                                                    <span id="" class="value">
                                                                        <span class="d-inline-block">{{item.batchNumber}}</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="d-flex">
                                                                    <span id="" class="key">Receiving By</span>
                                                                    <span id="" class="value">
                                                                        <span class="d-inline-block">{{item.receivingClerk}}</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="d-flex">
                                                                    <span id="" class="key">Receiving Date</span>
                                                                    <span id="" class="value">
                                                                        <span class="d-inline-block">{{item.receivedDate | date}}</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                        
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div class="custom-scroll" style="overflow-x: auto;">
                                                    <div class="row header-row" style="flex-wrap: nowrap;font-size: 1rem;">
                                                        <div class="col-2">Stock Code</div>
                                                        <div class="col-4">Stock Description</div>
                                                        <div class="col-2">Unit of Measure</div>
                                                        <div class="col-2">Return Qty</div>
                                                        <div class="col-1">Recevied Qty</div>
                                                        <div class="col-1">Variance Qty</div>
                                                    </div>
                                                    <div class="row children-row mb-1" style="flex-wrap: nowrap;font-size: 1rem;" *ngFor="let data of item.repairRequestReceivedBatchesItemDTO">
                                                        <div class="col-2">
                                                            <div class="form-group blue-text">
                                                                <input class="form-control fidelity-form-input model-color" type="text" [value]="data.itemCode" readonly (click)="recivingBatchStockCodePopup(data)"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="data.itemName"/>
                                                        </div>
                                                        <div class="col-2">
                                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="data.uom"/>
                                                        </div>
                                                        <div class="col-2">
                                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="data.returnQty"/>
                                                        </div>
                                                        <div class="col-1">
                                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="data.receivedQty"/>
                                                        </div>
                                                        <div class="col-1">
                                                            <input class="form-control fidelity-form-input disabled" type="text" [value]="data.varianceQty"/>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                            
                                        </mat-accordion>
                                        
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                    </mat-tab>
                    <mat-tab label="Testing Results" class="bg-gray">
                        <div>
                            <p-scrollPanel [style]="{height: '42vh'}" styleClass="custom">
                                <div class="custom-scroll" style="overflow-x: auto;">
                                    <div class="container-fluid">
                                        <div class="row header-row" style="flex-wrap: nowrap;font-size: 1rem;">
                                            <div class="col-2">Stock Code</div>
                                            <div class="col-2">Temp Stock Code</div>
                                            <div class="col-4">Stock Description</div>
                                            <div class="col-2">Serial Number</div>
                                            <div class="col-2">Warranty Status</div>
                                            <div class="col-2">Action</div>
                                            <div class="col-2">Comments</div>
                                            <div class="col-2">Item Status</div>
                                        </div>
                                        <div class="row children-row mb-1" style="flex-wrap: nowrap;font-size: 1rem;" *ngFor="let item of returnForRepairDetails?.repairRequestTestingResult">
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.itemCode"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.itemCode"/>
                                            </div>
                                            <div class="col-4">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.itemName"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.serialNumber"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.warrentyStatusName"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.action"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.comments"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.itemStatusName"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                
            </div>
            <div class="ibox-body1 mt-2">
                <mat-tab-group [selectedIndex]="selectedIndex" class="fidelity-tab-group mat-tab-body-padding-0">
                    <mat-tab label="Supporting Documents" class="bg-gray">
                        <div>
                            <p-scrollPanel [style]="{height: '30vh'}" styleClass="custom">
                                <div class="container-fluid">
                                    <form [formGroup]="supportDocumentForm">
                                        <div class="row sm-inputs">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Stock Code</label>
                                                    <div class="stock-order">
                                                        <mat-form-field class="fidelity-form-input">
                                                            <input matInput type="text" id="find_address_autocomplete" class="fidelity-form-input" [matAutocomplete]="autoStockCode"
                                                            formControlName="stockCode">
                                                        </mat-form-field>
                                                        <mat-autocomplete #autoStockCode="matAutocomplete"
                                                            (optionSelected)="onfilteredStockCodeSelected()">
                                                            <mat-option *ngIf="isLoading" class="is-loading">
                                                                <mat-spinner diameter="50"></mat-spinner>
                                                            </mat-option>
                                                            <ng-container *ngIf="!isLoading">
                                                                <mat-option *ngFor="let filterStockCodeItem of filteredStockCode" [value]="filterStockCodeItem.displayName">
                                                                    <span>{{ filterStockCodeItem.displayName }}</span>
                                                                </mat-option>
                                                            </ng-container>
                                                        </mat-autocomplete>
                                                        <span class="text-danger" *ngIf="supportDocumentForm?.get('stockCode')?.touched && supportDocumentForm?.get('stockCode')?.errors?.required">
                                                            Stock Code is required
                                                        </span>

                                                    </div>
                                                </div>                    
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Serial Number</label>
                                                    <select class="form-control fidelity-form-input" name="" formControlName="serialNumberBarCode">
                                                        <option [value]="''">Selected Serial Number</option>
                                                        <option *ngFor="let item of serialBarCodeList" [value]="item.rtrRequestItemDetailId">{{item.serialNumber}}</option>
                                                    </select>
                                                </div>                    
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Document Type</label>
                                                    <select class="form-control fidelity-form-input" name="" formControlName="documentType">
                                                        <option [value]="''">Selected Document Type</option>
                                                        <option *ngFor="let item of documentList" [value]="item.id">{{item.displayName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Supporting Documents</label>
                                                    <div class="input-group fidelity-file-upload">
                                                        <input type="text" name="filename" class="input-box form-control" [value]="selectedFile" readonly>
                                                        <span class="input-group-btn">
                                                            <div class="btn custom-file-uploader">
                                                                <input type="file" name="file"  [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']" (change)="uploadFiles($event.target.files)" />
                                                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                                                            </div>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-4 d-flex align-items-center">
                                                <button class="btn btn-md-fidelity fidelity-btn-brown" (click)="saveDocument()">Add</button>
                                            </div>
                                        </div>
                                        <div class="row header-row mb-2 mt-2" style="flex-wrap: nowrap;font-size: 1rem;">
                                            <div class="col-1">Stock Code</div>
                                            <div class="col-2">Temp Stock Code</div>
                                            <div class="col-2">Serial Number</div>
                                            <div class="col-2">Supplier Quote</div>
                                            <div class="col-2">Warehouse Generated Quote</div>
                                            <div class="col-2">Final Quote</div>
                                            <div class="col-1"></div>
                                        </div>
                                        <div class="row children-row mb-1" style="flex-wrap: nowrap;font-size: 1rem;" *ngFor="let item of documentDetail">
                                           
                                            <div class="col-1">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.StockCode"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.tempStockCode"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.serialNumber"/>
                                            </div>
                                           
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.docName"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.warehouseGenaratedQuote"/>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control fidelity-form-input disabled" type="text" [value]="item.finalQuote"/>
                                            </div>
                                            <div class="col-1">
                                                <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                                                (click)="deleteDocument(item)" matTooltip="Delete">
                                                <i aria-hidden="true" class="icon icon-delete"></i></a>

                                            </div>
                                        </div>
                                    </form>
                                   
                                </div>
                            </p-scrollPanel>
                        </div>
                    </mat-tab>
                   
                    <mat-tab label="Quote Approval" class="bg-gray">
                        <div>
                            <p-scrollPanel [style]="{height: '30vh'}" styleClass="custom">
                                <form [formGroup]="quotesApprovalForm">
                                <div class="custom-scroll" style="overflow-x: auto;">
                                    <div class="container-fluid">
                                        <div class="row header-row" style="flex-wrap: nowrap;font-size: 1rem;">
                                            <div class="col-2">Stock Code</div>
                                            <div class="col-2">Temp Stock Code</div>
                                            <div class="col-2">Serial Number</div>
                                            <div class="col-2">Qutoe Status</div>
                                            <div class="col-2">Reason</div>
                                        </div>
                                        <div formArrayName="rtrRequestQuotesApprovalList">
                                            <div class="row children-row mb-1" style="flex-wrap: nowrap;font-size: 1rem;" *ngFor="let control of getreturnForRepairUpdateQuoteApprovalFormArray?.controls; let i = index" [formGroupName]="i">
                                                <div class="col-2">
                                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="stockCode"/>
                                                </div>
                                                <div class="col-2">
                                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="tempStockCode"/>
                                                </div>
                                                <div class="col-2">
                                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="serialNumber"/>
                                                </div>
                                                <div class="col-2">
                                                    <select class="form-control fidelity-form-input" name="" formControlName="rtrRequestQuoteApprovalStatusId">
                                                        <option [value]="''">Select Quote Status</option>
                                                        <option *ngFor="let item of quoteStatusList" [value]="item.id">{{item.displayName}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <input class="form-control fidelity-form-input " type="text" formControlName="reason"/>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="text-center mt-2 ">
                                    <button class="btn btn-md-fidelity fidelity-btn-brown" (click)="quoteUpdate()">Update</button>
                                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                                </div>
                            </form>
                        </p-scrollPanel>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                
            </div>
        </form>
    </p-scrollPanel>
    </div>
</div>