<div class="page-heading ">
    <h1 class="page-title d-inline-block p-relative">
        <!-- <button class="p-absolute" style="border: none;border-radius: 4px;background-color: #00644A;color: #fff;cursor: pointer;font-size: 1.2rem;">
            <i class="icon icon-breadcrum" aria-hidden="true"></i>
        </button> -->
        <span class="d-inline-block  mt-2">Create Return for Repair Request</span>    
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/technical-management/'>Technical Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/technical-management/return-for-repair/'>Return for Repair List</a></li>
        <li class="breadcrumb-item">Create Return for Repair</li>
        
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="returnForRepairForm">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body mb-3">
                            <div class="row sm-inputs">
                                <div *ngIf="callInitiationId == null" class="col-4  fidelity-autocomplete-dropdown-con">
                                    <!-- <div class="form-group"> -->
                                        <label>Service Call Number</label>
                                        <div class="form-group">
                                            <mat-form-field class="fidelity-form-input">
                                                <input matInput type="text" id="find_address_autocomplete" class="fidelity-form-input" [matAutocomplete]="autoSerialCallNo" formControlName="callInitiationId"  name="Service Call Number"   ><!---->
                                            </mat-form-field>
                                            <mat-autocomplete #autoSerialCallNo="matAutocomplete"
                                                (optionSelected)="onServiceCallNoSelected($event.option.value)">
                                                <mat-option *ngIf="isLoading" class="is-loading">
                                                    <mat-spinner diameter="50"></mat-spinner>
                                                </mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let filtStockCode of serialCallNumber" [value]="filtStockCode.callInitiationNumber">
                                                        <span>{{ filtStockCode.callInitiationNumber }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <span class="text-danger"
                                                *ngIf="returnForRepairForm?.get('callInitiationId')?.touched && returnForRepairForm?.get('callInitiationId')?.errors?.required">
                                                Service Call Number is required
                                            </span>
                                            <!-- <span class="text-danger" *ngIf="showStockCodeError">
                                                {{stockCodeErrorMessage}}
                                            </span>
                                            <span class="text-danger mb-2"
                                                *ngIf="stockCodeDescriptionForm?.get('stockCode')?.touched && stockCodeDescriptionForm?.get('stockCode')?.invalid && stockCodeDescriptionForm?.get('stockCode')?.errors?.required">
                                                Stock Code is required
                                            </span> -->
                                        </div>
                                        <!-- <input class="form-control fidelity-form-input disabled" type="text" /> -->
                                    <!-- </div>                     -->
                                </div>
                                <div class="col-4" *ngIf="callInitiationId != null">
                                    <div class="form-group">
                                        <label>Service Call Number</label>
                                        <input class="form-control fidelity-form-input disabled" type="text" formControlName="callInitiationId"/>
                                    </div>                    
                                </div>
                                <!-- <div class="col-4">
                                    <div class="form-group">
                                        <label>Warehouse</label>
                                        <input class="form-control fidelity-form-input disabled" type="text" formControlName="warehouseName"/>
                                    </div>                    
                                </div> -->
                            </div>
                            <div class="row sm-inputs">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Tech Stock Location</label>
                                        <input class="form-control fidelity-form-input disabled" type="text" formControlName="technicianIdName" />
                                        <!-- <select class="form-control fidelity-form-input" name="" >
                                            <option>Option1</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Tech Stock Location Name</label>
                                        <input class="form-control fidelity-form-input disabled" type="text" formControlName="technicianLocationName"/>
                                        <!-- <select class="form-control fidelity-form-input" name="" >
                                            <option>Option1</option>
                                        </select> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row sm-inputs">
                                <div class="col-4 fidelity-autocomplete-dropdown-con">
                                    <!-- <div class="form-group"> -->
                                        <label>Stock Code</label>
                                        <div class="form-group">
                                            <mat-form-field class="fidelity-form-input">
                                                <input minlength="3" matInput type="text" id="find_address_autocomplete" class="fidelity-form-input" [matAutocomplete]="autoStockCode" formControlName="stockCode">
                                            </mat-form-field>
                                            <mat-autocomplete #autoStockCode="matAutocomplete"
                                                (optionSelected)="onStatucCodeSelected($event.option.value, 'stockCode')">
                                                <mat-option *ngIf="isLoading" class="is-loading">
                                                    <mat-spinner diameter="50"></mat-spinner>
                                                </mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let filtStockCode of filteredStockCodes" [value]="filtStockCode.displayName">
                                                        <span>{{ filtStockCode.displayName }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <span class="text-danger"
                                                *ngIf="returnForRepairForm?.get('stockCode')?.touched && returnForRepairForm?.get('stockCode')?.errors?.required">
                                                Stock Code is required
                                            </span>
                                            <!-- <span class="text-danger" *ngIf="showStockCodeError">
                                                {{stockCodeErrorMessage}}
                                            </span>
                                            <span class="text-danger mb-2"
                                                *ngIf="stockCodeDescriptionForm?.get('stockCode')?.touched && stockCodeDescriptionForm?.get('stockCode')?.invalid && stockCodeDescriptionForm?.get('stockCode')?.errors?.required">
                                                Stock Code is required
                                            </span> -->
                                        </div>
                                        <!-- <input class="form-control fidelity-form-input" type="text" /> -->
                                    <!-- </div> -->
                                </div>
                                <div class="col-4 fidelity-autocomplete-dropdown-con">
                                    <!-- <div class="form-group"> -->
                                        <label>Stock Description</label>
                                        <div class="form-group">
                                            <mat-form-field class="fidelity-form-input">
                                                <input matInput type="text" id="find_address_autocomplete" class="fidelity-form-input" [matAutocomplete]="autoStockDesc" formControlName="stockDescription"><!---->
                                            </mat-form-field>
                                            <mat-autocomplete #autoStockDesc="matAutocomplete"
                                                (optionSelected)="onStatucCodeSelected($event.option.value, 'stockDescription')">
                                                <mat-option *ngIf="isLoading" class="is-loading">
                                                    <mat-spinner diameter="50"></mat-spinner>
                                                </mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let filtStockDesc of filteredStockDescription" [value]="filtStockDesc.displayName">
                                                        <span>{{ filtStockDesc.displayName }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <span class="text-danger"
                                                *ngIf="returnForRepairForm?.get('stockDescription')?.touched && returnForRepairForm?.get('stockDescription')?.errors?.required">
                                                Stock Description is required
                                            </span>
                                            <!-- <span class="text-danger" *ngIf="showStockCodeError">
                                                {{stockCodeErrorMessage}}
                                            </span>
                                            <span class="text-danger mb-2"
                                                *ngIf="stockCodeDescriptionForm?.get('stockCode')?.touched && stockCodeDescriptionForm?.get('stockCode')?.invalid && stockCodeDescriptionForm?.get('stockCode')?.errors?.required">
                                                Stock Code is required
                                            </span> -->
                                        </div>
                                        <!-- <input class="form-control fidelity-form-input" type="text" /> -->
                                    <!-- </div> -->
                                </div>
                                <div class="col-3 fidelity-autocomplete-dropdown-con" *ngIf="originalStockCodeFlag">
           
                                        <label>Original Stock Code</label>
                                        <div class="form-group">
                                            <mat-form-field class="fidelity-form-input">
                                                <input minlength="3" matInput type="text" id="find_address_autocomplete" class="fidelity-form-input" [matAutocomplete]="autoStockCodes1"  formControlName="originalItemId">
                                            </mat-form-field>
                                            <mat-autocomplete #autoStockCodes1="matAutocomplete"
                                                (optionSelected)="onStatucCodeSelected($event.option.value, 'originalStockCode')">
                                                <mat-option *ngIf="isLoading" class="is-loading">
                                                    <mat-spinner diameter="50"></mat-spinner>
                                                </mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let filtStockCode of filteredOriginalStockCodes" [value]="filtStockCode.displayName">
                                                        <span>{{ filtStockCode.displayName }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <!-- <span class="text-danger"
                                                *ngIf="returnForRepairForm?.get('stockCode')?.touched && returnForRepairForm?.get('stockCode')?.errors?.required">
                                                Stock Code is required
                                            </span> -->
                                     
                                        </div>
                                   
                                </div>
                                <div class="col-1 mt-2">
                                    <button class="circle-plus-btn" matTooltip="Add" (click)="addStockItem()" style="top: 28px;">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                    
                                </div>
                            </div>
                            
                            <div class="row header-row">
                                <div class="col-2">Stock Code</div>
                                <div class="col-5">Stock Description</div>
                                <div class="col-2">Unit of Measure</div>
                                <div class="col-2">Return Qty</div>
                            </div>
                            <div formArrayName="rtrRequestItems">
                            <div class="row children-row mb-1" *ngFor="let control of getReturnForRepairFormArray()?.controls; let i = index" [formGroupName]="i">
                                <div class="col-2">
                                    <div class="form-group blue-text"><!---->
                                        <input type="text" class="fidelity-form-input form-control model-color" formControlName="itemCode" (click)="stockCodeClick(control,i)" readonly> <!---->
                                    </div>
                                    <!-- <input class="form-control fidelity-form-input disabled" type="text" style="color: #166DFF;cursor: pointer;" formControlName="itemCode"/> -->
                                </div>
                                <div class="col-5">
                                    <input class="form-control fidelity-form-input" type="text" formControlName="itemName"/>
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="unitOfMeasure"/>
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text" [value]="getReturnForRepairDetailFormArray(i).value.length"/>
                                </div>
                                <div class="col-1">
                                    <button matTooltip="Delete" class="circle-minus-btn" (click)="delete(i)">
                                        <i aria-hidden="true" class="icon icon-delete"></i>
                                    </button>                                    
                                </div>
                            </div>
                        </div>
                            
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" (click)="createReturnForRepair()" [disabled]="this.returnForRepairForm.get('callInitiationId').value == '' ||  this.returnForRepairForm.get('technicianLocationName').value =='' || this.returnForRepairForm.get('technicianIdName').value=='' ">Create</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" routerLink="/technical-management/return-for-repair">Cancel</button>
                </div>    
            </form>
        </div>
    </div>
</div>