<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [captionFontSize]="primengTableConfigProperties.captionFontSize"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">
      <form customForm class="fidelity-popup-form" [formGroup]="servicePriceForm">
        <div class="ibox white-bg">
          <div class="ibox-body">
            <div class="container-fluid mt-1" *ngIf="servicePriceArray?.length>0;">
              <p-scrollPanel [style]="{height: '15vh'}" styleClass="custom">
                <div class="header-row row d-flex flex-nowrap pr-2">
                  <div class="col-md-2"></div>
                  <div class="col-md-2"></div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>

                  <div class="col-md-1"></div>
                  <div class="col-md-1">
                    <p class="text-left"><b>OWNED</b></p>
                  </div>
                  <div class="col-md-1"></div>

                  <div class="col-md-1"></div>
                  <div class="col-md-1">
                    <p class="text-left"><b>RENTED</b></p>
                  </div>
                  <div class="col-md-1"></div>
                </div>
                <div class="header-row row d-flex flex-nowrap pr-2">
                  <div class="col-md-2">District</div>
                  <div class="col-md-2 pl-1 pr-1">Site Type</div>
                  <div class="col-md-3">Service Category</div>
                  <div class="col-md-3 pl-1 pr-1">Service</div>

                  <div class="col-md-1">Tier 1<span class="mandatory-field">*</span></div>
                  <div class="col-md-1">Tier 2<span class="mandatory-field">*</span></div>
                  <div class="col-md-1">Tier 3<span class="mandatory-field">*</span></div>

                  <div class="col-md-1">Tier 1<span class="mandatory-field">*</span></div>
                  <div class="col-md-1">Tier 2<span class="mandatory-field">*</span></div>
                  <div class="col-md-1">Tier 3<span class="mandatory-field">*</span></div>
                </div>
                <div class="" formArrayName="servicePriceArray"
                  *ngFor="let a of servicePriceForm?.get('servicePriceArray')?.controls; let i = index">
                  <div class="row flex-nowrap children-row mb-1" [formGroupName]="i">
                    <div class="col-2">
                      <div class="form-group">
                        <input name="Value" class="form-control fidelity-form-input" type="text" readonly
                          formControlName="districtName" matTooltip="{{a.get('districtName').value}}" />
                      </div>
                    </div>
                    <div class="col-2 pl-1 pr-1">
                      <div class="form-group">
                        <input name="Value" class="form-control fidelity-form-input" type="text" readonly
                          formControlName="siteTypeName" matTooltip="{{a.get('siteTypeName').value}}" />
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <input name="Value" class="form-control fidelity-form-input" type="text" readonly
                          formControlName="serviceCategoryName" matTooltip="{{a.get('serviceCategoryName').value}}" />
                      </div>
                    </div>
                    <div class="col-3 pl-1 pr-1">
                      <div class="form-group">
                        <input name="Value" class="form-control fidelity-form-input" type="text" readonly
                          formControlName="serviceName" matTooltip="{{a.get('serviceName').value}}" />
                      </div>
                    </div>
                    <!-- OWNED Start-->
                    <!--Tier 1-->
                    <div class="col-1">
                      <div class="form-group">
                        <input name="Tier1" class="form-control fidelity-form-input" type="text" readonly
                          matTooltip="{{a.get('owneD_T1').value}}" formControlName="owneD_T1" maxlength="6" mask="0*.00"
                          [dropSpecialCharacters]="false" />
                      </div>
                    </div>
                    <!--Tier 1 end-->

                    <!--Tier 2-->
                    <div class="col-1">
                      <div class="form-group">
                        <input name="Tier2" class="form-control fidelity-form-input" type="text" readonly
                          matTooltip="{{a.get('owneD_T2').value}}" formControlName="owneD_T2" maxlength="6" mask="0*.00"
                          [dropSpecialCharacters]="false" />
                      </div>
                    </div>
                    <!--Tier 2 end-->

                    <!--Tier 3-->

                    <div class="col-1">
                      <div class="form-group">
                        <input name="Tier3" class="form-control fidelity-form-input" type="text" readonly
                          matTooltip="{{a.get('owneD_T3').value}}" formControlName="owneD_T3" maxlength="6" mask="0*.00"
                          [dropSpecialCharacters]="false" />
                      </div>
                    </div>

                    <!--Tier 3 end-->
                    <!-- OWNED END -->
                    <!-- Rented Start-->
                    <!--Tier 1-->
                    <div class="col-1">
                      <div class="form-group">
                        <input name="Tier1" class="form-control fidelity-form-input" type="text" readonly
                          matTooltip="{{a.get('renteD_T1').value}}" formControlName="renteD_T1" maxlength="6"
                          mask="0*.00" [dropSpecialCharacters]="false" />
                      </div>
                    </div>
                    <!--Tier 1 end-->

                    <!--Tier 2-->
                    <div class="col-1">
                      <div class="form-group">
                        <input name="Tier2" class="form-control fidelity-form-input" type="text" readonly
                          matTooltip="{{a.get('renteD_T2').value}}" formControlName="renteD_T2" maxlength="6"
                          mask="0*.00" [dropSpecialCharacters]="false" />
                      </div>
                    </div>
                    <!--Tier 2 end-->

                    <!--Tier 3-->

                    <div class="col-1">
                      <div class="form-group">
                        <input name="Tier3" class="form-control fidelity-form-input" type="text" readonly
                          matTooltip="{{a.get('renteD_T3').value}}" formControlName="renteD_T3" maxlength="6"
                          mask="0*.00" [dropSpecialCharacters]="false" />
                      </div>
                    </div>

                    <!--Tier 3 end-->
                    <!-- Rented END -->
                  </div>
                </div>
              </p-scrollPanel>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
