<div class="page-heading">
  <h1 class="page-title d-inline-block">{{pageTitle}} Service Pricing</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item">Configuration</li>
    <li class="breadcrumb-item">Sales</li>
    <li class="breadcrumb-item" >Services</li>
        <li class="breadcrumb-item" ><a routerLink='/configuration/sales/services' [queryParams]="{tab:3}"
            >Services Pricing List</a></li>
    <li class="breadcrumb-item" *ngIf="serviceCategoryId"><a routerLink='/configuration/sales/services/service-pricing/view' [queryParams]="{siteTypeId:siteTypeId,serviceCategoryId:serviceCategoryId,districtId:districtId,serviceId:serviceId}"
              >View Service Pricing</a></li>
            <li class="breadcrumb-item">{{pageTitle}} Service Pricing</li>
  </ol>
  <div class="grid-icons-con  customer-info-btns float-right mt-2">
     <span class="mr-2" *ngIf="!openFiler">Available Service Count : {{AvailableService}}</span>
    <a id="stock_edit" (click)="open_filer()" *ngIf="!serviceId"
      class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn">
      <i aria-hidden="true" class="icon icon-filter" matTooltip="Filter"></i>
    </a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">
      <form customForm class="fidelity-popup-form" [formGroup]="servicePriceForm" (ngSubmit)="onSubmit()">
        <div class="ibox white-bg">
            <div class="ibox-body filter-con" style="height: 34vh;" [ngClass]="openFiler ? 'open-filer' : '' ">
              <p-scrollPanel [style]="{ height: '25vh'}" styleClass="custom">
                <h1 class="page-sub-title no-border">Filter By</h1>
                <div class="row pricing-info-con">
                  <div class="col-4">
                    <div class="form-group" style="width: 100%;">
                      <label class="d-block">District</label>
                      <p-multiSelect [options]="districtList" [defaultLabel]="'Select District'" formControlName="districtId" styleClass="w-100"></p-multiSelect>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group" style="width: 100%;">
                      <label class="d-block">Site Type</label>
                      <p-multiSelect [options]="siteTypeList" [defaultLabel]="'Select Site Type'" formControlName="siteTypeId" styleClass="w-100"></p-multiSelect>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group" style="width: 100%;">
                      <label class="d-block">Service Category</label>
                      <p-multiSelect [options]="serviceCategoryList" [defaultLabel]="'Select Service Category'" formControlName="serviceCategoryId" styleClass="w-100"></p-multiSelect>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="form-group" style="width: 100%;">
                      <label class="d-block">Service</label>
                      <p-multiSelect [options]="serviceList" [defaultLabel]="'Select Service'" formControlName="serviceId" styleClass="w-100"></p-multiSelect>
                    </div>
                  </div>
                  <div class="col-4 d-flex justify-content-left align-items-center">
                    <a class="d-flex align-items-center" (click)="open_filer()" style="color: #3498db;"> <i
                        class="icon icon-angle-left"></i> Hide Filter</a>
                  </div>
                </div>
              </p-scrollPanel>
              <div class="text-center mt-2">
                <button
                  class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" type="button"
                  (click)="Search()">Search</button>
                <button  class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                  (click)="Reset()">Reset</button>
              </div>
            </div>
            <div class="mb-3 mt-3 pr-5"  *ngIf="openFiler">
              <span class="page-sub-title no-border pull-left">Filter Result</span>
              <span class="pull-right">Available Service Count : {{AvailableService}}</span>
              <div class="clearfix"></div>
            </div>
            <div class="ibox-body">
              <div class="container-fluid mt-1" *ngIf="servicePriceArray?.length>0;">
                <p-scrollPanel [style]="{ height: openFiler ? '25vh' : '50vh'}" styleClass="custom">
                    <div class="header-row row d-flex flex-nowrap pr-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-2"></div>
                      <div class="col-md-3"></div>
                      <div class="col-md-3"></div>

                      <div class="col-md-1"></div>
                      <div class="col-md-1">
                        <p class="text-left"><b>OWNED</b></p>
                      </div>
                      <div class="col-md-1"></div>

                      <div class="col-md-1"></div>
                      <div class="col-md-1">
                        <p class="text-left"><b>RENTED</b></p>
                      </div>
                      <div class="col-md-1"></div>
                    </div>
                    <div class="header-row row d-flex flex-nowrap pr-2">
                      <div class="col-md-2">District</div>
                      <div class="col-md-2 pl-1 pr-1">Site Type</div>
                      <div class="col-md-3">Service Category</div>
                      <div class="col-md-3 pl-1 pr-1">Service</div>

                      <div class="col-md-1">Tier 1<span class="mandatory-field">*</span></div>
                      <div class="col-md-1">Tier 2<span class="mandatory-field">*</span></div>
                      <div class="col-md-1">Tier 3<span class="mandatory-field">*</span></div>

                      <div class="col-md-1">Tier 1<span class="mandatory-field">*</span></div>
                      <div class="col-md-1">Tier 2<span class="mandatory-field">*</span></div>
                      <div class="col-md-1">Tier 3<span class="mandatory-field">*</span></div>
                    </div>
                    <div class="" formArrayName="servicePriceArray"
                      *ngFor="let a of servicePriceForm?.get('servicePriceArray')?.controls; let i = index">
                      <div class="row flex-nowrap children-row mb-1" [formGroupName]="i">
                        <div class="col-2">
                          <div class="form-group">
                            <input  class="form-control fidelity-form-input" matTooltip="{{a.get('districtName').value}}"
                              formControlName="districtName" readonly />
                          </div>
                        </div>
                        <div class="col-2 pl-1 pr-1">
                          <div class="form-group">
                            <input  class="form-control fidelity-form-input" matTooltip="{{a.get('siteTypeName').value}}"
                              formControlName="siteTypeName" readonly />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="form-group">
                            <input  class="form-control fidelity-form-input" matTooltip="{{a.get('serviceCategoryName').value}}"
                              formControlName="serviceCategoryName" readonly />
                          </div>
                        </div>
                        <div class="col-3 pl-1 pr-1">
                          <div class="form-group">
                            <input class="form-control fidelity-form-input" matTooltip="{{a.get('serviceName').value}}"
                              formControlName="serviceName" readonly />
                          </div>
                        </div>
                        <!-- OWNED Start-->
                        <!--Tier 1-->
                        <div class="col-1">
                          <div class="form-group">
                            <input name="Tier1" class="form-control fidelity-form-input" type="text"
                              formControlName="owneD_T1" maxlength="6" mask="0*.00" [dropSpecialCharacters]="false" />
                              <!-- <input-custom-control [validateInputConfig]="decimalWithTrailingDigits"
                                              [maxlength]="formConfigs.eight" [name]="'Tier 1'"
                                              formControlName="owneD_T1">
                              </input-custom-control> -->
                          </div>
                        </div>
                        <!--Tier 1 end-->

                        <!--Tier 2-->
                        <div class="col-1">
                          <div class="form-group">
                            <input name="Tier2" class="form-control fidelity-form-input"  type="text"
                              formControlName="owneD_T2" maxlength="6" mask="0*.00" [dropSpecialCharacters]="false" />
                              <!-- <input-custom-control [validateInputConfig]="decimalWithTrailingDigits"
                                              [maxlength]="formConfigs.eight" [name]="'Tier 2'"
                                              formControlName="owneD_T2">
                              </input-custom-control> -->
                          </div>
                        </div>
                        <!--Tier 2 end-->

                        <!--Tier 3-->

                        <div class="col-1">
                          <div class="form-group">
                            <input name="Tier3" class="form-control fidelity-form-input" type="text"
                              formControlName="owneD_T3" maxlength="6" mask="0*.00" [dropSpecialCharacters]="false" />
                              <!-- <input-custom-control [validateInputConfig]="decimalWithTrailingDigits"
                              [maxlength]="formConfigs.eight" [name]="'Tier 3'"
                              formControlName="owneD_T3">
              </input-custom-control> -->
                          </div>
                        </div>

                        <!--Tier 3 end-->
                        <!-- OWNED END -->
                        <!-- Rented Start-->
                        <!--Tier 1-->
                        <div class="col-1">
                          <div class="form-group">
                            <input name="Tier1" class="form-control fidelity-form-input"  type="text"
                              formControlName="renteD_T1" maxlength="6" mask="0*.00" [dropSpecialCharacters]="false" />
                              <!-- <input-custom-control [validateInputConfig]="decimalWithTrailingDigits"
                              [maxlength]="formConfigs.eight" [name]="'Tier 1'"
                              formControlName="renteD_T1">
              </input-custom-control> -->
                          </div>
                        </div>
                        <!--Tier 1 end-->

                        <!--Tier 2-->
                        <div class="col-1">
                          <div class="form-group">
                            <input name="Tier2" class="form-control fidelity-form-input"  type="text"
                              formControlName="renteD_T2" maxlength="6" mask="0*.00" [dropSpecialCharacters]="false" />
                              <!-- <input-custom-control [validateInputConfig]="decimalWithTrailingDigits"
                              [maxlength]="formConfigs.eight" [name]="'Tier 2'"
                              formControlName="renteD_T2">
              </input-custom-control> -->
                          </div>
                        </div>
                        <!--Tier 2 end-->

                        <!--Tier 3-->

                        <div class="col-1">
                          <div class="form-group">
                            <input name="Tier3" class="form-control fidelity-form-input"  type="text"
                              formControlName="renteD_T3" maxlength="6" mask="0*.00" [dropSpecialCharacters]="false" />
                              <!-- <input-custom-control [validateInputConfig]="decimalWithTrailingDigits"
                              [maxlength]="formConfigs.eight" [name]="'Tier 3'"
                              formControlName="renteD_T3">
              </input-custom-control> -->
                          </div>
                        </div>

                        <!--Tier 3 end-->
                        <!-- Rented END -->
                      </div>
                    </div>
                </p-scrollPanel>
              </div>
              <div *ngIf="servicePriceArray?.length==0;">
                <div class="no-records-found ng-star-inserted">
                  <h4>No Records Found</h4>
                </div>
              </div>
            </div>
        </div>
        <div class="text-center mt-4">
          <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
            type="submit" [disabled]="isButtonDisabled">Save</button>
          <button  class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
            (click)="redirectToListPage()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
