<div>
  <div class="p-0" [ngClass]="!extraFirstDivClassNames?firstDivClass:extraFirstDivClassNames">
    <div [ngClass]="!extraSecondDivClassNames?secondDivClass:extraSecondDivClassNames">
      <label>{{label}}<span *ngIf="ngControl&&formGroup?.controls[ngControl.name]?.errors?.hasOwnProperty('required')"
          class="mandatory-field">*</span></label>
      <div class="input-group">
        <input (click)="downloadFile()" type="text"
          [ngStyle]="shouldDownloadFileOnClick&&ngControl&&ngControl?.value?.includes('https')&&{'cursor':'pointer'}"
          [name]="name" style="border-radius: 7px;height: calc(2rem + 12px) !important;z-index: 0;"
          class="col-10 form-control" [placeholder]="placeholder"
          [formControl]="ngControl?.control?ngControl.control:tempNgControl" readonly>
        <span class="input-group-btn">
          <div class="btn custom-file-uploader" style="border-radius: 0px 7px 7px 0px;padding: 8.5px;">
            <input #fileUploadInput type="file" name="file" [accept]="acceptableFileExtensions"
              (change)="uploadFile($event.target.files)" />
            Browse
          </div>
        </span>
      </div>
    </div>
  </div>
  <p-scrollPanel *ngIf="!isASingleFileUpload" [style]="(ngControl?.invalid && uploadedFiles.length ==0)?  {'height':'0vh'} : pscrollbarHeightStyle" styleClass="custom">
    <div class="col-12 pl-2">
      <ol class="p-0">
        <div *ngFor="let uploadedFile of uploadedFiles;let index = index" class="mb-2">
          <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg" id="uploadedFile{{index}}">
            <li (click)="downloadFile(uploadedFile)">
              {{uploadedFile?.name?uploadedFile.name:uploadedFile}}
              <i class="icon icon-close fdt-close-icon ml-2" (click)="removeUploadedFile(index)" aria-hidden="true">
              </i>
            </li>
          </span>
        </div>
      </ol>
    </div>
  </p-scrollPanel>
</div>

<style>
  ::ng-deep .input-group-btn {
    position: absolute;
    right: 35px;
  }
</style>
