<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    Classify Incident
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="p-3">
    <form customForm [formGroup]="classifyIncidentModalForm" (ngSubmit)="onSubmit()">
        <div class="ibox">
            <div class="ibox-body mt-2 mb-2">
                <div class="container-fluid">
                    <app-view-page [col]="1" [viewDetail]="ClassifyIncidentModelViewDetails" [template]="1">
                    </app-view-page>
                </div>
                <p-scrollPanel [style]="{height: '40vh'}" styleClass="custom">
                    <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                        [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
                        [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
                        [isShowNoRecord]="isShowNoRecord" (onActionSubmited)="onActionSubmited($event)"
                        (onSelectedRows)="onChangeSelecedRows($event)">
                    </app-page-list-table>
                </p-scrollPanel>
            </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-4">Submit</button>
                <button (click)="btnCloseClick()" type="button"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
            </div>
        </div>
        <br>
    </form>
</div>
