<div class="page-heading dispatcher-con-header-con" (contextmenu)="onRightClick($event)">
  <h2 class="page-title" style="font-size: 15px;">Stack - {{this.stackName ? this.stackName : '-'}} / Area -
    {{this.areaName ? this.areaName : '-'}}</h2>
  <ol class="breadcrumb"
    *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
    <li class="breadcrumb-item">
      <a>
        <i class="fa fa-home" aria-hidden="true"></i></a>
    </li>
    <li class="breadcrumb-item"
      *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
      <a *ngIf='breadCrumbItem.relativeRouterUrl&&!breadCrumbItem.queryParams'
        (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
      <a *ngIf='breadCrumbItem.relativeRouterUrl&&breadCrumbItem.queryParams'
        (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
      <a *ngIf='!breadCrumbItem.relativeRouterUrl'>{{breadCrumbItem.displayName}}</a>
    </li>
  </ol>
  <div class="grid-icons-con float-right pr-0">
    <div class="d-flex fidelity-search-input-con">
      <a (click)="get_F8_ShorcutActions()"
      class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
      matTooltip="Print">
      <i aria-hidden="true" class="icon icon-print"></i>
      </a>
      <a (click)="openMoveToStackModal()"
        class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        matTooltip="Move to Stack">
        <i aria-hidden="true" class="icon icon-move-to-stack"></i>
      </a>
      <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        matTooltip="Patrols" (click)="patrolDetails()">
        <i aria-hidden="true" class="icon icon-patrols"></i>
      </a>
      <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        matTooltip="Guard request" (click)="redirectToAddService()">
        <i aria-hidden="true" class="icon icon-guard-request"></i>
      </a>
      <a (click)="refreshStackOperator('manual refresh')"
        class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        matTooltip="Refresh">
        <i aria-hidden="true" class="icon icon-refresh-2"></i>
      </a>
      <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        matTooltip="Response Instructions" (click)="openResponseInstructionDialog()">
        <i aria-hidden="true" class="icon icon-response-instructions"></i>
      </a>
      <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        matTooltip="Contact Numbers" (click)="contactNavigation()">
        <i aria-hidden="true" class="icon icon-contact-numbers"></i>
      </a>
      <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        matTooltip="Password" (click)="openPasswordModal()">
        <i aria-hidden="true" class="icon icon-password"></i>
      </a>
      <a (click)="logAway()"
        class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        matTooltip="Logaway">
        <i aria-hidden="true" class="icon icon-logaway"></i>
      </a>
      <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" (click)="onCRUDRequested('filter')"
        matTooltip="Apply Filter">
        <i class="fa fa-filter" aria-hidden="true"></i></a>
      <a (click)="showServiceSubmenu = !showServiceSubmenu" style="position: relative;"
        class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
        matTooltip="Services">
        <i aria-hidden="true" class="icon icon-settings"></i>
      </a>
    </div>
  </div>
  <div *ngIf="showServiceSubmenu" class="hide-quick-action-menu quick-action-sidebar" style="position: absolute;    right: 60px;
    top: 40px;">
    <div class="quick-action-sidebar-header d-flex justify-content-between align-items-center">
      <span>Services</span>
      <span class="icon icon-close-icon" (click)="showServiceSubmenu = !showServiceSubmenu"></span>
    </div>
    <div class="quick-action-sidebar-body">
      <ul class="quick-action-menu-con">
        <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;"
          (click)="showServiceSubmenu = !showServiceSubmenu;openArmDisarmDialog()">
          <span>Reschedule O/C </span>
        </li>
        <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;"
          (click)="showServiceSubmenu = !showServiceSubmenu;opensuspendSignalDialogModal()">
          <span>Temp Suspend Signal </span>
        </li>
        <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;"
          (click)="showServiceSubmenu = !showServiceSubmenu;openQuickAddServiceCall()">
          <span>Add Service Call </span>
        </li>
        <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;"
          (click)="showServiceSubmenu = !showServiceSubmenu;captureEmailAndCell()">
          <span>Supervisor Request </span>
        </li>
        <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;"
          (click)="showServiceSubmenu = !showServiceSubmenu;redirectToAddService()">
          <span>Guard Request</span>
        </li>
      </ul>
    </div>
  </div>
  <form customForm *ngIf="showFilterForm" [formGroup]="filterForm" (ngSubmit)="submitFilter()" class="p-absolute"
    style="top:60px;right: 30px; z-index: 10;width:75%">
    <div class="page-heading p-relative">
      <div class="filter-dropdwon-con">
        <div class="row">
          <div class="col-4">
            <div class="form-group leads-category-con">
              <label>Area<span class="mandatory-field">*</span></label>
              <select [attr.disabled]="isStackAreaLoading ? isStackAreaLoading : null" id="area"
                class="form-control fidelity-form-input" name="Area" placeholder="Select Area"
                formControlName="stackAreaConfigId">
                <option value="" disabled>{{isStackAreaLoading ? 'Loading...' : 'Select Area'}}</option>
                <option *ngFor="let area of areaDropDown" [value]="area.id">
                  {{area.displayName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group leads-category-con">
              <label>Stack<span class="mandatory-field">*</span></label>
              <select [attr.disabled]="isStackLoading ? isStackLoading : null" id="stack"
                class="form-control fidelity-form-input" name="Stack" placeholder="Select Stack"
                formControlName="stackConfigId">
                <option value="" disabled>{{isStackLoading ? 'Loading...' : 'Select Stack'}}</option>
                <option *ngFor="let stack of stackDropDown" [value]="stack.id">
                  {{stack.displayName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-4" style="margin-top: auto;"
            *ngIf="loggedUser?.roleName.toLowerCase() == 'supervisor' || loggedUser?.roleName.toLowerCase() == 'event management supervisor'">
            <div class="form-group leads-category-con">
              <mat-checkbox class="fidelity-checkbox" formControlName="onHoldStack">On Hold Stack
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-12 d-flex align-items-center">
            <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
              (click)="navigateToDispatcher()">Dispatcher</button>
            <button class="btn btn-md-fidelity btn-primary" type="submit">Operator</button>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
              (click)="showFilterForm = false">Cancel</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
<div class="page-heading dispatcher-con-header-con">
  <h2 class="page-title ml-2" style="font-size: 15px;">EME Calls : {{countDetails?.emergencyCount ?
    countDetails?.emergencyCount : 0}} | Non - EME :
    {{countDetails?.nonEmergencyCount ? countDetails?.nonEmergencyCount : 0}}</h2>
  <h4 class="page-title ml-3" style="font-size: 15px;" *ngIf="onHoldStack"> On Hold</h4>
</div>
<div class="row p-0 mt-3" (contextmenu)="onRightClick($event)">
  <div class="col-9 p-0 p-relative hoverDisplay">
    <div class="primeng-table-wrapper">
      <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
        <form [formGroup]="columnFilterForm">
          <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
            [(selection)]="selectedRows" [scrollable]="true" scrollHeight="520px" [autoLayout]="true"
            [totalRecords]="totalRecords" [loading]="loading" [value]="dataList" [dataKey]="occurrenceBookId"
            [responsive]="true" [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"
            [reorderableColumns]="tables?.reorderableColumns" (onRowSelect)="onRowSelect($event)"
            (onRowUnselect)="onRowUnselect($event)">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix" style="text-align: left">
                <div class="row">
                  <div class="col-md-5 pl-0">
                    <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                      (click)="dt.exportCSV()" style="margin-right: 0.5em;" *ngIf="tables?.enableExportCSV"></button>
                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                      (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"
                      *ngIf="tables?.enableExportExcel"></button>
                    <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only"
                      (click)="dt.exportCSV({selectionOnly:true})" class="ui-button-warning"
                      *ngIf="tables?.enableExportCSVSelected"></button>
                    <button type="button" pButton icon="pi pi-file" iconPos="left" label="Reset" (click)="dt.reset()"
                      style="margin-right: 0.5em;" class="ui-button-secondary" *ngIf="tables?.enableReset"></button>
                  </div>
                  <div class="col-md-7 pr-0">
                    <form [formGroup]="searchForm">
                      <div style="text-align: right; float: right;"
                        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="30" placeholder="Global Filter"
                          formControlName="searchKeyword" style="width:auto">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr class="first-row">
                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                  {{col.header}}
                </th>
                <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}" *ngIf="tables?.enableRowDelete">
                  Action</th>
              </tr>
              <tr *ngIf="tables?.enableFieldsSearch">
                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox"></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input [formControlName]="col.field" validateInput
                    *ngIf="col.field != 'isActive' && !col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                    pInputText type="text">
                  <p-calendar [formControlName]="col.field" [utc]='true' [maxDate]="today"
                    *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex" appendTo="body"
                    showButtonBar="true" [readonlyInput]="true"
                    (onClearClick)="dt.filter($event.value,col.field, null)">
                  </p-calendar>
                  <p-dropdown [formControlName]="col.field" *ngIf="col.field == 'isActive' && i == selectedTabIndex"
                    appendTo="body" [options]="status" placeholder="Select Status" [style]="{'width':'75%'}"
                    [showClear]="true">
                  </p-dropdown>
                </th>
                <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}" *ngIf="tables?.enableRowDelete">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex1="rowIndex" let-columns="columns"
              let-expanded="expanded">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex1">
                <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                  <p-tableRadioButton [value]="rowData" [index]=rowIndex1></p-tableRadioButton>
                </td>
                <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
                  <a  href="javascript:void(0);" [pRowToggler]="rowData" *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                    <i (click)="selectedRowIndex == rowIndex1 ?  onRowClickCollapse() : onRowClickExpand(rowData,rowIndex1,'from template')"
                      [ngClass]="selectedRowIndex==rowIndex1 ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    <span class="{{rowData.customerClassName}}" style="border-radius: 50%;">
                      <i class="pi pi-user" style="position: relative;top: 2px;"></i>
                    </span>
                  </a>
                  <ng-container
                    *ngIf="col.header == 'Vehicle Status' || col.header == 'Incident' || col.header == 'Message' || col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                  </ng-container>
                  <ng-template #thenTemplate>
                    <ng-container *ngIf="col.header == 'Vehicle Status'">
                      <span *ngIf="rowData[col.field]" class="{{rowData.vehicleStatusClassName}}" style="border-radius: 50%;
                                           height: 20px;
                                           width: 20px;
                                           display: inline-block;
                                           position: relative;
                                           top: 3px;">
                      </span>
                      <span *ngIf="!tables.enableStatusActiveAction" class="status-label pos-top"
                        style="cursor: pointer; color: currentcolor;"
                        [ngClass]="col.field == 'isActive' ? (rowData[col.field] == true? 'status-label-green' : 'status-label-pink') :  rowData.cssClass">
                        {{col.field =='isActive' ? (rowData[col.field] == true? 'Active' :
                        'InActive') : rowData[col.field] ? rowData[col.field] :'-'}}
                      </span>
                      <p-dropdown *ngIf="tables.enableStatusActiveAction" [options]="status" appendTo="body"
                        [(ngModel)]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                        placeholder="Select Status" [style]="{'width':'100%'}"
                        (onChange)="onChangeStatus(rowData,rowIndex1)">
                      </p-dropdown>
                    </ng-container>
                    <ng-container *ngIf="col.header == 'Message'">
                      <span (click)="openMessageModal(rowData,selectedRowIndex)" style="cursor: pointer;">
                        {{rowData[col.field] ? rowData[col.field] : '--'}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="col.header == 'Incident'">
                      <span (click)="openIncidentModal(rowData)" style="cursor: pointer;">
                        {{rowData[col.field] ? rowData[col.field] : '--'}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                      {{rowData[col.field] ? (rowData[col.field] | date) : '--'}}
                    </ng-container>
                  </ng-template>
                  <ng-template #elseTemplate>
                    <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                      <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                        (click)="onCRUDRequested('edit',rowData)">
                        {{rowData[col.field] ? rowData[col.field] : '--'}}
                      </a>
                    </ng-container>
                    <ng-container *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                      <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                        (click)="onCRUDRequested('edit',rowData)">
                        {{rowData[col.field] ? rowData[col.field] : '--'}}
                      </a>
                    </ng-container>
                    <ng-container
                      *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                      {{rowData[col.field] === true ? 'Yes' : rowData[col.field] === false ?
                      'No' : rowData[col.field] ? rowData[col.field].length > 15 ?
                      (rowData[col.field] | slice:0:15)+'..':(rowData[col.field]) : '--'}}
                    </ng-container>
                  </ng-template>
                </td>
                <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                  <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                    class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
                </td>
              </tr>
              <ng-container *ngIf="selectedRowIndex == rowIndex1" style="width:100% !important;">
                <tr>
                  <td [attr.colspan]="columns.length+1">
                    <div class="ui-g ui-fluid" style="font-size:13px;background: #fff;" [id]="rowData.occurrenceBookId">
                      <div class="ui-g-12 ui-md-12 p-0">
                        <div class="ui-g">
                          <div class="ui-g-3 p-0">
                            <b>Name:</b>
                            {{rowData?.displayName ? rowData?.displayName : '--'}}
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Priority:</b>
                            {{rowData?.highPriority ? rowData?.highPriority : '--'}}
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Area:</b>
                            {{rowData?.subAreaName ? rowData?.subAreaName : '--'}}
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Dispatched Time:</b>
                            {{rowData?.dispatchedTime ? (rowData?.dispatchedTime|date) : '--'}}
                          </div>
                        </div>
                      </div>
                      <div class="ui-g-12 ui-md-12 p-0">
                        <div class="ui-g">
                          <div class="ui-g-3 p-0">
                            <b>Address:</b>
                            {{rowData?.fullAddress ? rowData?.fullAddress : '--'}}
                            <i *ngIf="rowData?.fullAddress" class="pi pi-map-marker"
                              style="color: #166DFF;margin-left: 5px;" (click)="openMap(rowData)"></i>
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>First:</b>
                            {{rowData?.firstSignal ? rowData?.firstSignal : '--'}}
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Operator:</b>
                            {{rowData?.operator ? rowData?.operator : '--'}}
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Arrival Time:</b>
                            {{rowData?.vehicleArrivedTimes ? (rowData?.vehicleArrivedTimes|date) :
                            '--'}}
                          </div>
                        </div>
                      </div>
                      <div class="ui-g-12 ui-md-12 p-0">
                        <div class="ui-g">
                          <div class="ui-g-3 p-0">
                            <b>Xmit:</b>
                            {{rowData?.accountCode ? rowData?.accountCode : '--'}}
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Last:</b>
                            {{rowData?.lastSignal ? rowData?.lastSignal : '--'}}
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Vehicle Status:</b>
                            <span *ngIf="rowData?.vehicleStatus"
                              class="status-label {{rowData?.vehicleStatusClassName}}">
                              {{rowData?.vehicleStatus ? rowData?.vehicleStatus : '--'}}
                            </span>
                            <span *ngIf="!rowData?.vehicleStatus">--</span>
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Message:</b>
                            {{rowData?.message ? rowData?.message : '--'}}
                          </div>
                        </div>
                      </div>
                      <div class="ui-g-12 ui-md-12 p-0">
                        <div class="ui-g">
                          <div class="ui-g-3 p-0">
                            <b>Time:</b>
                            {{rowData?.signalTime ? rowData?.signalTime : '--'}}
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Dispatched:</b>
                            {{rowData?.dispatchedVehicles ? rowData?.dispatchedVehicles :
                            '--'}}
                          </div>
                          <div class="ui-g-3 p-0">
                            <b>Incident:</b>
                            {{rowData?.incident ? rowData?.incident : '--'}}
                          </div>
                        </div>
                      </div>
                      <div class="ui-g-12" style="margin-left: 110px;">
                        <a target='_blank' *ngIf="rowData?.isPartition"><button type="button"
                            class="btn btn-md-fidelity  mr-3 btn-md" (click)="openPartitionDialog(rowData)"
                            [ngClass]="(rowData?.isSignalInOtherPartitions == true)?'btn btn-danger':'fidelity-btn-grey btn-default'">
                            Partitions
                          </button></a>
                        <a target='_blank' *ngIf="rowData?.isFindU"><button type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3 btn-md"
                            (click)="findUDialogDetails(rowData)">FindU-Profile
                          </button></a>
                        <a target='_blank' *ngIf="rowData?.isPanicApp"><button type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3 btn-md"
                            (click)="PanicAppDialog(rowData)">PanicApp-Profile
                          </button></a>
                        <a target='_blank' *ngIf="rowData?.isOperatorInstructions"><button type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3 btn-md"
                            (click)="openOperatorInstructionsDialog(rowData)">Operator
                            Instructions
                          </button></a>
                        <a target='_blank' *ngIf="rowData?.isHolidayTempInstructions"><button type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3 btn-md"
                            (click)="openHolidayInstructionDialog(rowData)">Holiday/Temp
                            Instructions
                          </button></a>
                        <a target='_blank' *ngIf="rowData?.isSignal"><button type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3 btn-md"
                            (click)="openSignalHistoryDialog(rowData)">Signal
                            History
                          </button></a>
                        <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3 btn-md"
                          (click)="onClickNewTab('edit',rowData)">Action</button>
                        <button type="button" *ngIf="rowData?.firstSignal=='MP'"
                          class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3 btn-md"
                          (click)="onClickThirdPartyLink(rowData)">3rd Party Link</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length + 1" style="text-align: center;">
                  {{loading ? 'Loading...' : 'No records found'}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <ng-container *ngIf="dataList?.length>0">
                <p style="float: left;">Showing {{dataList?.length > 0 ? '1' : '0'}} to
                  {{dataList?.length}} of
                  <strong>{{dataList?.length ? dataList?.length:totalRecords}}</strong>&nbsp;entries
                </p>
              </ng-container>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows * (state.page
                  + 1) : totalRecords}} of <strong>{{totalRecords ? totalRecords : pageSize}}</strong> entries
              </p>
            </ng-template>
          </p-table>
        </form>
      </div>
    </div>
  </div>
  <div class="col-3 p-0" *ngIf="showEventMemo">
    <div class="container-fluid">
      <div class="row flex-column">
        <div class="col-12 mb-3">
          <div class="event-memo-con" style="height: auto;">
            <div class="event-memo-header d-flex align-items-center justify-content-between">
              <span>Event Memo</span>
            </div>
            <div class="event-memo-body">
              <p-scrollPanel [style]="{height: '25vh'}" styleClass="custom">
                <div id="pause" class="d-flex align-items-center justify-content-center" *ngIf="isLoading">
                  <div class="text-center">
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" animationDuration=".5s"
                      strokeWidth="2">
                    </p-progressSpinner>
                    <br />
                    Please wait...
                  </div>
                </div>
                <ul class="p-0" *ngIf="eventMemoList?.length > 0">
                  <li *ngFor="let item of eventMemoList; let i=index">{{item?.occurrenceBookMemo}}
                  </li>
                </ul>
                <div *ngIf="eventMemoList?.length == 0">
                  <p style="text-align: center;padding: 3px;" class="no-data-msg">No records found</p>
                </div>
              </p-scrollPanel>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="" style="height: 20vh;">
            <div class="row">
              <mat-tab-group [selectedIndex]="selectedTabChangeIndex" (selectedTabChange)="onTabChangeEvent($event)"
                class="fidelity-tab-group mat-tab-body-padding-0">
                <mat-tab label="SIGNAL INFO" class="bg-gray" [disabled]="!isSignalInfoTabShow">
                  <app-signal-info [isDefaultLoaderDisabled]="true" *ngIf="selectedTabChangeIndex == 0"
                    [occurrenceBookId]="selectedOccurrenceBookId">
                  </app-signal-info>
                </mat-tab>
                <mat-tab label="ALARM" class="bg-gray" [disabled]="!isAlarmTabShow">
                  <app-alarm-info-winelands-list *ngIf="selectedTabChangeIndex == 1" [isDefaultLoaderDisabled]="true"
                    [occurrenceBookId]="selectedOccurrenceBookId"></app-alarm-info-winelands-list>
                </mat-tab>
                <mat-tab label="RO MESSAGING" class="bg-gray" [disabled]="!isRoMessageTabShow">
                  <app-ro-message-list *ngIf="selectedTabChangeIndex == 2"
                    [occurrenceBookId]="selectedOccurrenceBookId">
                  </app-ro-message-list>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Holiday instruction pop up -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="holidayInstructionDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
  <p-header>
    Holiday Instruction
  </p-header>
  <div>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
      <div>
        <div class="view-box">
          <div class="row mt-1">
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">From</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{holidayInstructionDetails?.holidayInstructionFromDate ?
                    (holidayInstructionDetails?.holidayInstructionFromDate | date) :
                    '-'}}</span>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">To</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{holidayInstructionDetails?.holidayInstructionToDate ?
                    (holidayInstructionDetails?.holidayInstructionToDate | date) : '-'}}</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Contact Person</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{holidayInstructionDetails?.contactPersonName ?
                    holidayInstructionDetails?.contactPersonName : '-'}}</span>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Contact Number</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{holidayInstructionDetails?.contactNumber ?
                    holidayInstructionDetails?.contactNumber : '-'}}
                    <button class="p-relative" style="background-color: #166DFF;top: -4px;color:#fff;font-size: 1rem;width: 25px;height: 25px;border: none;
                                        border-radius: 50%;">
                      <span class="icon icon-call-pick p-absolute" style="top: 0;
                                            left: 0;z-index: 10;font-size: 1.2rem;"></span>
                    </button>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Emergency Person</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{holidayInstructionDetails?.emergencyContactPersonName ?
                    holidayInstructionDetails?.emergencyContactPersonName : '-'}}</span>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Emergency Number</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{holidayInstructionDetails?.emergencyContactNumber ?
                    holidayInstructionDetails?.emergencyContactNumber : '-'}}</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Type</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{holidayInstructionDetails?.type ?
                    holidayInstructionDetails?.type : '-'}}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 p-3"
          style="font-size: 1rem;font-family: 'Calibri_Regular', sans-serif!important;background-color: #dddddd3b;border-radius: 5px;border: 1px solid #ddd;">
          {{holidayInstructionDetails?.comments ?
          holidayInstructionDetails?.comments : '-'}}
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div class="text-center">
        <button type="button" pButton class="ui-button-success mr-4"
          style="display: inline-block;background: #115943!important;" (click)="escalationDispatch()"
          label="Escalate Dispatch"></button>
        <button (click)="holidayInstructionDialog = false"
          class="btn btn-md-fidelity fidelity-btn-grey btn-default">Acknowledge</button>
      </div>
    </div>
  </p-footer>
</p-dialog>
<!-- Signal History Dialogue -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="signalHistoryDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '1200px'}">
  <p-header>
    Signal History
  </p-header>
  <div>
    <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
      <app-stack-winelands-signal-history  [isDefaultLoaderDisabled]="true" [occurrenceBookId]="selectedOccurrenceBookId" [reload]="signalHistoryDialog">
      </app-stack-winelands-signal-history>
    </p-scrollPanel>
  </div>
</p-dialog>
<!-- Operator Instructions Dialogue -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="operatorInstructionsDialog"
  [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
  <p-header>
    Operator Instructions
  </p-header>
  <div>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
      <div>
        <div class="view-box border-bottom-dashed pb-4">
          <div class="row mt-1">
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Client</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{openOperatorInstructionDetails?.displayName ?
                    openOperatorInstructionDetails?.displayName : '-'}}</span>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">OB Number</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{openOperatorInstructionDetails?.occurrenceBookNumber
                    ? openOperatorInstructionDetails?.occurrenceBookNumber : '-'}}</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Address</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{openOperatorInstructionDetails?.fullAddress ?
                    openOperatorInstructionDetails?.fullAddress : '-'}}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 p-3"
          style="font-size: 1rem;font-family: 'Calibri_Regular', sans-serif!important;background-color: #dddddd3b;border-radius: 5px;border: 1px solid #ddd;">
          {{operatorInstructionDetails?.customerSpecialInstructions ?
          operatorInstructionDetails?.customerSpecialInstructions : 'No Instructions Found'}}
        </div>
      </div>
    </form>
  </div>
</p-dialog>
<!-- Partition 1 Dialogue -->
<!-- Client Request Vechicle popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="selectionpasswordDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <app-popup-loader></app-popup-loader>
  <p-header>
    Selection Below
  </p-header>
  <div class="row">
    <div class="col-6" *ngFor="let passwordList of selectionPasswordList">
      <div class="form-group" (click)="onClickPasswordSelection(passwordList)">
        <input #input name="Status" placeholder="Enter Status" disabled [validateInput]='isAnAlphaNumericOnly'
          minlength="3" maxlength="25" class="form-control fidelity-form-input label-hightlight" type="text"
          value={{passwordList.fakeWord}}>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
        <div class="ui-g-12">
          <button (click)="selectionpasswordDialog = false"
            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
        </div>
      </div>
    </div>
  </p-footer>
</p-dialog>
<!-- Move To Stack Dialogue -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="moveToStackDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
  <app-popup-loader></app-popup-loader>
  <p-header>
    Move To Stack
  </p-header>
  <div>
    <form [formGroup]="moveToStackForm" customForm class="fidelity-popup-form" style="font-size: 0.9rem!important;">
      <div>
        <div class="view-box">
          <div class="row mt-1">
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Client</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{moveToStackDetails?.customerName ?
                    moveToStackDetails?.customerName : '-'}}</span>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">OB Number</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{moveToStackDetails?.occurrenceBookNumber ?
                    moveToStackDetails?.occurrenceBookNumber : '-'}}</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Address</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{moveToStackDetails?.fullAddress ?
                    moveToStackDetails?.fullAddress : '-'}}</span>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex">
                <span id="" class="key">Priority Signal</span>
                <span id="" class="value">
                  <span class="d-inline-block">{{moveToStackDetails?.alarmType ?
                    moveToStackDetails?.alarmType : '-'}}
                  </span>
                </span>
              </div>
            </div>
          </div>
          <br>
          <div class="clearfix" style="border-bottom: 2px dashed #ccc;">
          </div>
          <br>
          <h1 class="page-sub-title ext-padd mt-3" *ngIf="selectedRows?.isOnHold == false">MOVE TO</h1>
          <div class="row mt-1">
            <div class="col-lg-4" *ngIf="selectedRows?.isOnHold == false">
              <label>Stack<span class="mandatory-field"
                  *ngIf="moveToStackForm.get('stackConfigId').invalid">*</span></label>
              <select id="stack" class="form-control fidelity-form-input" name="Stack" placeholder="Select Stack"
                formControlName='stackConfigId'>
                <option value="" disabled>--Select Stack--</option>
                <option *ngFor="let stack of stackDropDown" [value]="stack.id">
                  {{stack.displayName}}
                </option>
              </select>
            </div>
            <div class="col-lg-8 text-right" style="margin-top: 25px;">
              <button *ngIf="selectedRows?.isOnHold == false" (click)="transferToStack()"
                class="btn btn-md-fidelity fidelity-btn-grey btn-default">Transfer
                to Stack</button>
              <button *ngIf="selectedRows?.isOnHold == false" (click)="moveToHoldOrUnHold('hold')"
                class="btn btn-md-fidelity" style="background: #115943!important;color: #fff;">Move to Hold</button>
              <button *ngIf="selectedRows?.isOnHold == true" (click)="moveToHoldOrUnHold('onhold')"
                class="btn btn-md-fidelity" style="background: #115943!important;color: #fff;">Move to On Hold</button>
              <button (click)="moveToStackDialog = false"
                class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<!-- Password InCorrect -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="shortcutKeyDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '400px'}">
  <p-header>
    Shortcut Keys
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 shortcut-key">
      <div #content>
        <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
          <div *ngFor="let item of shortcuts; let i=index">
            <span class="ui-g-6">{{item.description}}</span>
            <span class="ui-g-4" style="float: right;">
              <span class="s-key" (click)="onClickShortCutkey(item.key)" style="cursor: pointer;">{{item.key}}</span>
            </span>
          </div>
        </p-scrollPanel>
      </div>
    </div>
  </div>
</p-dialog>
<!-- print -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="printDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '550px'}">
  <app-popup-loader></app-popup-loader>
  <p-header>
    Print
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div style="text-align: center;">
        <div class="img-con">
          <i style="font-size: 5rem;
                    color: #F35665;" class="icon icon-print"></i>
        </div>
        <p style="margin-top: 10px;">Select the Print</p>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
        <div class="ui-g-6">
          <!-- <button type="button" pButton class="ui-button-success"
            style="display: inline-block;background: #115943!important;" printTitle="Event Memo"
            printSectionId="printEventDiv" [useExistingCss]="true" (click)="printDialog = false" ngxPrint
            label="Print Event"></button> -->
            <button (click)="printDialog = false"  printSectionId="printEventDiv" ngxPrint
            class="btn btn-md-fidelity fidelity-btn-brown btn-brown">Print Event</button>
        </div>
        <div class="ui-g-6">
          <button (click)="openPrintStackModal()" class="btn btn-md-fidelity fidelity-btn-grey btn-default">Print
            Stack</button>
        </div>
      </div>
    </div>
  </p-footer>
</p-dialog>
<!-- Memo -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="memoDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
  <app-popup-loader></app-popup-loader>
  <p-header>
    Memo
  </p-header>
  <div>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;" customForm [formGroup]="memoForm"
      (ngSubmit)="onMemoSubmit()">
      <div>
        <div class="row mt-1">
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Customer Number:</span>
              <span id="" class="value">
                <span class="d-inline-block">{{getMemoDetails?.customerNumber ?
                  getMemoDetails?.customerNumber : '-'}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Client Address:</span>
              <span id="" class="value">
                <span class="d-inline-block">{{getMemoDetails?.fullAddress ?
                  getMemoDetails?.fullAddress : '-'}}
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Client Name:</span>
              <span id="" class="value">
                <span class="d-inline-block">{{getMemoDetails?.customerName ?
                  getMemoDetails?.customerName : '-'}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">OB Number:</span>
              <span id="" class="value">
                <span class="d-inline-block">{{getMemoDetails?.occurrenceBookNumber ?
                  getMemoDetails?.occurrenceBookNumber : '-'}}</span>
              </span>
            </div>
          </div>
        </div>
        <br>
        <div class="clearfix" style="border-bottom: 2px dashed #ccc;">
        </div>
        <br>
        <div class="row mt-1">
          <div class="col-lg-12">
            <label>Memo</label>
            <div class="d-flex">
              <textarea class="form-control fidelity-form-input" #inputTarget value='' formControlName='memo' rows="5"
                [(ngModel)]='pastedText'></textarea>
            </div>
          </div>
          <div class="col-lg-12 text-right" style="margin-top: 15px;">
            <button type="button" (click)="pasteToClipboard()"
              class="btn btn-md-fidelity fidelity-btn-grey btn-default">Paste from
              Clipboard</button>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
              (click)="copyToClipboard(inputTarget)">Copy from
              Clipboard</button>
          </div>
          <div class="col-lg-8 text-right" style="margin-top: 25px;">
            <button type="submit" class="btn btn-md-fidelity"
              style="background: #115943!important;color: #fff;">Apply</button>
            <button (click)="memoDialogCancel()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
              type="button">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
<!-- supervisor message -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="supervisorMessageDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '550px'}">
  <app-popup-loader></app-popup-loader>
  <p-header>
    Supervisor Message
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div>
        <div class="img-con">
          <i style="font-size: 5rem;
                    color: #F35665;" class="icon icon-envelop"></i>
        </div>
        <form [formGroup]="supervisorMessageForm" class="fidelity-popup-form" customForm (ngSubmit)="sendMessage()">
          <div class="row">
            <div class="col-md-6 red-pad">
              <label class="grey-text">Client </label>
              <div class="data-text">{{selectedClientData?.displayName}}</div>
            </div>
            <div class="col-md-6 red-pad">
              <label class="grey-text">Address </label>
              <div class="data-text">{{selectedClientData?.fullAddress}}</div>
            </div>
            <div class="col-md-12 red-pad">
              <div class="form-group">
                <label class="ui-g-12">Message Type</label>
                <div style="padding-top: 0;" class="ui-g-6">
                  <p-radioButton name="group1" label="Site Message" formControlName="isSiteMessage" value="true"
                    inputId="preopt1">
                  </p-radioButton>
                </div>
                <div style="padding-top: 0;" class="ui-g-6">
                  <p-radioButton name="group1" label="Non-site Message" formControlName="isSiteMessage" value="false"
                    inputId="preopt2">
                  </p-radioButton>
                </div>
              </div>
            </div>
            <div class="col-md-12 red-pad">
              <div class="form-group">
                <label>Message <span class="mandatory-field">*</span></label>
                <textarea class="form-control fidelity-form-input" name="message" rows="4"
                  placeholder="Type Somthing...." formControlName="message"></textarea>
              </div>
            </div>
          </div>
          <div class="ui-dialog-buttonpane ui-helper-clearfix text-center">
            <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Message</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey"
              (click)="supervisorMessageDialog = false">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</p-dialog>
<div id="printEventDiv" style="visibility: hidden;">
  <div class="row">
    <div class="col-6"><b>Date: {{today | date}}</b></div>
    <div class="col-6"><b>Fidelity ADT</b></div>
    <div class="col-12" style="text-align: center;"><b>LOG REPORT {{eventPrintData?.customerName}} ON
        OBNUMBER(ACTIVE)</b></div>
    <hr>
    <div class="col-3">Code : <b>{{eventPrintData?.customerCode}} </b> </div>
    <div class="col-3">Customer : <b>{{eventPrintData?.customerName}} </b> </div>
    <div class="col-3">Contact : <b>{{eventPrintData?.fullAddress}} </b> </div>
  </div>
  <div class="">
    <table class="fidelity-table table-bordered table-striped">
      <thead>
        <th>Decoder</th>
        <th>Xmitter</th>
        <th>Alarm</th>
        <th>Zone</th>
        <th>Rpt</th>
        <th>Date</th>
        <th>Time</th>
        <th>Op Time</th>
        <th>Response</th>
        <th>Car</th>
        <th>Oper</th>
        <th>OB Number</th>
        <th>Strm</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of eventPrintData?.signals; let i=index">
          <td>{{item?.decoder}}</td>
          <td>{{item?.transmitter}}</td>
          <td>{{item?.alarmType}}</td>
          <td>{{item?.zoneType}}</td>
          <td>{{item?.repeaterNo}}</td>
          <td>{{item?.signalDateTime ? (item?.signalDateTime | date) : '--'}}</td>
          <td>{{item?.response}}</td>
          <td>{{item?.operatorTime}}</td>
          <td>{{item?.responseTime}}</td>
          <td>{{item?.vehicle}}</td>
          <td>{{item?.operatorName}}</td>
          <td>{{item?.obNumber}}</td>
          <td>{{item?.stromInflux}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="printStackDiv" style="visibility: hidden;">
  <div class="row">
    <div class="col-6"><b>Date: {{today | date}}</b></div>
    <div class="col-6"><b>Fidelity ADT</b></div>
    <hr>
  </div>
  <div class="">
    <table class="fidelity-table table-bordered table-striped">
      <thead>
        <th *ngFor="let column of selectedFieldsOBook | keyvalue">{{column.value}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of eventPrintData?.signals | keyvalue; let i=index">
          <ng-container *ngFor="let property of item.value | keyvalue; index as j">
            <td >{{property.value}}</td>
          </ng-container>
        </tr>
        <tr *ngFor="let item of eventPrintData?.listData; let i=index">
          <td colspan="100%">
            {{item?.occurrenceBookLogTime ? (item?.occurrenceBookLogTime | date) :'--' }}
            {{item?.occurrenceBookMemo}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- map view -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="openMapDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '750px', height: '700px' }">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-gmap #gmap (onMapReady)="setMap($event)" [options]="options" [overlays]="overlays"
        [style]="{ width: '100%', height: '630px'}"></p-gmap>
    </div>
  </div>
</p-dialog>
<p-dialog [(visible)]="displayPrintStack" [maximizable]="true" [responsive]="true" showEffect="fade" [resizable]="false"
  [modal]="true" [style]="{width: '850px'}">
  <p-header>
    Print Stack
  </p-header>
  <form customForm *ngIf="printStackForm" [formGroup]="printStackForm" class="fidelity-popup-form"
    (ngSubmit)="saveOBookTemplate()">
    <div class="row">
      <div class="row mt-4">
        <div class="col-md-5">
          <p-table class="custom-scroll" [value]="OBbookColumns" [(selection)]="selectedFieldsRow"
            dataKey="displayName" [scrollable]="true" scrollHeight="300px" [resizableColumns]="true"
            (onRowSelect)="onRowSelectOBook()" (onRowUnselect)="onRowUnselectBook()">
            <ng-template pTemplate="header">
              <tr class="first-row">
                <th style="width: 3em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Fields</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData">
                <td style="width: 3em">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td style="text-align: left;">{{rowData.displayName}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-shift>
              <tr>
                <td [attr.colspan]="5" style="text-align: center;">
                  No Shifts added
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="col-md-7">
          <div class="ibox-body mb-3 mt-3">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>Load Template</label>
                  <p-dropdown dataKey="occurrenceBookListReportTemplateId" (onChange)="loadTemplate($event)"
                    [options]="oBookReportTemplateList" optionLabel="occurrenceBookListReportTemplateName"
                    placeholder="Select Template" [showClear]="true"></p-dropdown>
                </div>
              </div>
              <div class="col-md-3" style="margin-top: 6%">
                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey"
                  (click)="resetLoadTemplate()">Reset</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>Template Name <span class="mandatory-field">*</span></label>
                  <input type="text" formControlName="occurrenceBookListReportTemplateName"
                    class="form-control fidelity-form-input" name="templateName" placeholder="Template Name">
                </div>
              </div>
              <div class="col-md-3" style="margin-top: 6%">
                <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>Report Name <span class="mandatory-field">*</span></label>
                  <input type="text" class="form-control fidelity-form-input" name="message" placeholder="Report Name"
                    [(ngModel)]="printStackReportName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-3" style="margin-top: 6%">
                <button [disabled]="printStackReportName =='' || selectedFieldsRow.length==0" type="button"
                  class="btn btn-md-fidelity fidelity-btn-brown" [printTitle]="printStackReportName"
                  printSectionId="printStackDiv" ngxPrint [useExistingCss]="true">Export</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
<!-- Area and stack popup -->
<p-dialog [closable]="false" styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="areaStackDialog"
  [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '550px'}">
  <app-popup-loader [popupType]="defaultPopupType"></app-popup-loader>
  <p-header>
    Area and Stack to Monitoring
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div>
        <form customForm [formGroup]="filterForm" (ngSubmit)="submitFilter()">
          <div class="row">
            <div class="col-6">
              <div class="form-group leads-category-con">
                <label>Area<span class="mandatory-field">*</span></label>
                <select [attr.disabled]="isStackAreaLoading ? isStackAreaLoading : null" id="area"
                  class="form-control fidelity-form-input" name="Area" placeholder="Select Area"
                  formControlName="stackAreaConfigId">
                  <option value="" disabled>{{isStackAreaLoading ? 'Loading...' : 'Select Area'}}</option>
                  <option *ngFor="let area of areaDropDown" [value]="area.id">
                    {{area.displayName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group leads-category-con">
                <label>Stack<span class="mandatory-field">*</span></label>
                <select [attr.disabled]="isStackLoading ? isStackLoading : null" id="stack"
                  class="form-control fidelity-form-input" name="Stack" placeholder="Select Stack"
                  formControlName="stackConfigId">
                  <option value="" disabled>{{isStackLoading ? 'Loading...' : 'Select Stack'}}</option>
                  <option *ngFor="let stack of stackDropDown" [value]="stack.id">
                    {{stack.displayName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6" style="margin-top: auto;"
              *ngIf="loggedUser?.roleName.toLowerCase() == 'supervisor' || loggedUser?.roleName.toLowerCase() == 'event management supervisor'">
              <div class="form-group leads-category-con">
                <mat-checkbox class="fidelity-checkbox" formControlName="onHoldStack">On Hold Stack
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div class="row">
            <br>
            <div class="col-12  align-items-center" style="text-align: right;">
              <button [disabled]="" class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Operator</button>
              <button type="submit" class="btn btn-md-fidelity btn-primary mr-4"
                (click)="navigateToDispatcher()">Dispatcher</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</p-dialog>
<!-- // FindU Dialog Details -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="findUDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
  <p-header>
    FindU-Profile
  </p-header>
  <div>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
      <div>
        <div class="view-box">
          <mat-tab-group>
            <mat-tab label="Pic">
              <div class="p-3">
                <img style="width: 20%;height: 100%;"
                  [src]="findUDetails?.image?findUDetails?.image:'./assets/img/logos/fidelity-group.png'" />
              </div>
            </mat-tab>
            <mat-tab label="Profile">
              <div class="row p-3">
                <div class="col-12 mt-2">
                  <div class="d-flex">
                    <span id="" class="key">Age:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.age ?
                        findUDetails?.age : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Gender:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.gender ?
                        findUDetails?.gender : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">height:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.height ?
                        findUDetails?.height : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Hair Colour:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.hairColor ?
                        findUDetails?.hairColor : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Eye Colour:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.eyeColor ?
                        findUDetails?.eyeColor : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Nationality:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.nationality ?
                        findUDetails?.nationality : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Language:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.language ?
                        findUDetails?.language : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Vehicle">
              <div class="row p-3">
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Vehicle Reg:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.vechicleRegistrationNo ?
                        findUDetails?.vechicleRegistrationNo : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Vehicle Make:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.vechicleMake ?
                        findUDetails?.vechicleMake : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Vehicle Body:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.vechicleBodyType ?
                        findUDetails?.vechicleBodyType : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Vehicle Colour:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.vechicleColour ?
                        findUDetails?.vechicleColour : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Medical">
              <div class="row p-3">
                <div class="col-12 mt-2">
                  <div class="d-flex">
                    <span id="" class="key">Medical Diseases:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.medicalDiseases ?
                        findUDetails?.medicalDiseases : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Medical Info:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.medicalInfo ?
                        findUDetails?.medicalInfo : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Medical Symptoms:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{findUDetails?.medicalSymptoms ?
                        findUDetails?.medicalSymptoms : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
<!-- PanicAppDialog Details -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="panicAppDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
  <p-header>
    PanicApp-Profile
  </p-header>
  <div>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
      <div>
        <div class="view-box">
          <mat-tab-group>
            <mat-tab label="Pic">
              <div class="p-3">
                <img style="width: 20%;height: 100%;"
                  [src]="panicAppDetails?.image?panicAppDetails?.image:'./assets/img/logos/fidelity-group.png'" />
              </div>
            </mat-tab>
            <mat-tab label="Profile">
              <div class="row p-3">
                <div class="col-12 mt-2">
                  <div class="d-flex">
                    <span id="" class="key">Age:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.age ?
                        panicAppDetails?.age : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Gender:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.gender ?
                        panicAppDetails?.gender : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">height:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.height ?
                        panicAppDetails?.height : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Hair Colour:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.hairColor ?
                        panicAppDetails?.hairColor : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Eye Colour:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.eyeColor ?
                        panicAppDetails?.eyeColor : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Nationality:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.nationality ?
                        panicAppDetails?.nationality : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Language:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.language ?
                        panicAppDetails?.language : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Vehicle">
              <div class="row p-3">
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Vehicle Reg:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.vechicleRegistrationNo ?
                        panicAppDetails?.vechicleRegistrationNo : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Vehicle Make:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.vechicleMake ?
                        panicAppDetails?.vechicleMake : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Vehicle Body:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.vechicleBodyType ?
                        panicAppDetails?.vechicleBodyType : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Vehicle Colour:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.vechicleColour ?
                        panicAppDetails?.vechicleColour : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Medical">
              <div class="row p-3">
                <div class="col-12 mt-2">
                  <div class="d-flex">
                    <span id="" class="key">Medical Aid:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.medicalAidProvider ?
                        panicAppDetails?.medicalAidProvider : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Plan:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.medicalPlan ?
                        panicAppDetails?.medicalPlan : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Medical Aid Number:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.medicalAidNumber ?
                        panicAppDetails?.medicalAidNumber : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex">
                    <span id="" class="key">Allergies:</span>
                    <span id="" class="value">
                      <span class="d-inline-block">{{panicAppDetails?.allergies ?
                        panicAppDetails?.allergies : '-'}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </form>
  </div>
</p-dialog>