<div class="page-content fade-in-up mt-3">
  <div class="ibox white-bg" style="height: auto !important; padding-bottom:10px ;">
    <div class="ibox-body brown-border p-relative" [style.height]="isViewMore ? '23vh' : '17vh'">
      <app-customer-header-info (emitViewMore)="emitViewMore($event)"></app-customer-header-info>
    </div>
  </div>
</div>
<div class="page-heading ">
  <h1 class="page-title no-border wth-100">Downgrade - {{customerHeaderModel?.contractName}}
    <span class="float-right">
      <div class="p-absolute" style="z-index: 2;display: inline-flex !important;margin-top:-10px">
        <div class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
          <button type="button" disabled>
            <i class="icon icon-backward"></i>
          </button>
          <span class="d-flex stage-no mr-2 ml-2">1</span>
          <button type="button" [disabled]="!downgradeServiceRequestId" title="Downgrade Summary"
            (click)="navigateSummary()">
            <i class="icon icon-forward"></i>
          </button>
        </div>
      </div>
    </span>
  </h1>
</div>
<p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
  <div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: 18vh!important;">
      <div class="ibox service-agreement-con">
        <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
          <div class="row">
            <div class="col-4">
              <label class="pb-2">Contract Period</label>
              <div class="form-group">
                <input class="form-control fidelity-form-input" disabled type="text" placeholder="Contract Period"
                  [value]="existingServicesList?.downgradeCurrentServiceContractDetailDTO?.contractPeriodName" />
              </div>
            </div>
            <div class="col-4">
              <label class="pb-2">Payment Freq</label>
              <div class="form-group">
                <input class="form-control fidelity-form-input" disabled type="text" placeholder="Contract Period"
                  [value]="existingServicesList?.downgradeCurrentServiceContractDetailDTO?.paymentFrequency" />
              </div>
            </div>
            <div class="col-4">
              <label class="pb-2">Payment Method</label>
              <div class="form-group">
                <input class="form-control fidelity-form-input" disabled type="text" placeholder="Contract Period"
                  [value]="existingServicesList?.downgradeCurrentServiceContractDetailDTO?.paymentMethodName" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content fade-in-up">
    <div class="ibox view-box">
      <div class="ibox service-agreement-con old-service" style="height: auto!important;">
        <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;"
          *ngIf="existingServicesList?.downgradeCurrentServiceDTOs.length>0">
          <h5 class="page-sub-title">CURRENT SERVICES</h5>
          <div class="row" style="margin: 0 15px 0 0;"
            *ngFor="let serviceObj of existingServicesList.downgradeCurrentServiceDTOs">
            <ng-container>
              <table style="width: 100%;" class=" mt-2 service-table service-table-custom">
                <thead>
                  <th class="header-col" style="width:30%">{{serviceObj.serviceCategoryName}}
                  </th>
                  <th class="header-col" style="width:30%">Service Code</th>
                  <th class="header-col" style="width:30%"><b> Service Price</b></th>
                  <th style="width:30%"></th>
                </thead>
                <tbody>
                  <ng-container *ngFor="let serviceSubItem of serviceObj.downgradeCurrentServiceDTOs">
                    <tr [ngClass]="{'deleted-service':serviceSubItem.isRemoved}">
                      <td class="value-col">{{serviceSubItem.serviceName}}</td>
                      <td class="value-col">{{serviceSubItem.serviceCode}}</td>
                      <td class="value-col">{{serviceSubItem.totalPrice | wholeNumberToDecimal}}</td>
                      <td>
                        <button type="button" matTooltip="Delete" class="circle-minus-btn"
                          (click)="removeCurrentService(serviceSubItem)" style="top: 1px;left: 0px;font-size: 18px !important;
                          color: #1d5943;" *ngIf="canEdit">
                          <i aria-hidden="true" class="icon icon-delete"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-container>
          </div>
          <div class="mt-4">
            <div style="width: 100%;">
              <h5 class="page-sub-title">ADD SERVICES TO REPLACE WITH DOWNGRADED SERVICE
                <span class="float-right">
                  <button type="button" [disabled]="deletedServiceList.length ==0"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2" (click)="onAddServices()">Add
                    Services</button>
                </span>
              </h5>
            </div>
            <div class="no-data-msg mt-4" *ngIf="(serviceObj | json)=='{}'" style="width: 100%;">
              <span>No Data To Be Displayed</span>
            </div>
            <div class="row mt-4" *ngFor="let serviceItem of serviceObj | keyvalue;index as i"
              style="margin: 0 15px 0 0; width: 100%;">
              <ng-container *ngIf="serviceObj[serviceItem.key]['values'].length>0">
                <table style="width: 100%;"
                  class="fidelity-table lead-services-table mt-2 service-table service-table-custom">
                  <thead>
                    <th class="header-col">{{serviceItem.key}}
                    </th>
                    <th class="header-col">Service Code</th>
                    <th class="header-col">
                      {{serviceObj[serviceItem.key].isQtyAvailable?'Qty':''}}
                    </th>
                    <th class="text-right header-col"><b>Sub Total</b></th>
                    <th class="text-right header-col">VAT</th>
                    <th class="text-right header-col">Total</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let serviceSubItem of serviceObj[serviceItem.key]['values']">
                      <tr>
                        <td class="value-col"> {{serviceSubItem.serviceName}}</td>
                        <td class="value-col">{{serviceSubItem.serviceCode}}</td>
                        <td class="value-col" *ngIf="serviceSubItem.isQtyAvailable">
                          <button type="button"
                            (click)="onQuantityChange('minus',serviceSubItem)">-</button>{{serviceSubItem.qty}}
                          <button type="button" (click)="onQuantityChange('plus',serviceSubItem)">+</button>
                        </td>
                        <td class="value-col" *ngIf="!serviceSubItem.isQtyAvailable">
                        </td>
                        <td class="text-right value-col">{{serviceSubItem.servicePrice |
                          wholeNumberToDecimal}}</td>
                        <td class="text-right value-col">{{serviceSubItem.taxPrice |
                          wholeNumberToDecimal}}</td>
                        <td class="text-right value-col">{{(serviceSubItem.servicePrice+
                          serviceSubItem.taxPrice) | wholeNumberToDecimal}}</td>
                        <th>
                          <button type="button" matTooltip="Delete" class="circle-minus-btn"
                            (click)="removeItem(serviceItem.key,serviceSubItem)" style="top: 1px;left: 0px;font-size: 18px !important;
                            color: #1d5943;" *ngIf="canEdit">
                            <i aria-hidden="true" class="icon icon-delete"></i>
                          </button>
                        </th>
                      </tr>
                    </ng-container>
                  </tbody>
                  <tfoot style="display: none !important;">
                    <tr *ngIf="i===(objectKeys(serviceObj).length-1)">
                      <td></td>
                      <td>
                      </td>
                      <td><b>Monthly Fees</b></td>
                      <td class="text-right">
                        <b>{{(otherServicesTotalAmount.servicePrice+valueAddedServicesTotalAmount.servicePrice)
                          | wholeNumberToDecimal}}</b>
                      </td>
                      <td class="text-right">
                        <b>{{(otherServicesTotalAmount.taxPrice+valueAddedServicesTotalAmount.taxPrice)
                          | wholeNumberToDecimal}}</b>
                      </td>
                      <td class="text-right">
                        <b>{{(otherServicesTotalAmount.totalPrice+valueAddedServicesTotalAmount.totalPrice)
                          | wholeNumberToDecimal}}</b>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-scrollPanel>
<div class="text-center mt-2">
  <button type="submit" [disabled]="(serviceObj | json)=='{}' || canEdit ==false" (click)="onSubmit()"
    class="btn btn-md-fidelity fidelity-btn-brown ">Save</button>
  <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-md-fidelity btn-grey"
    (click)="navigateToAdjustCosting()">Adjust
    Costing</button>
  <button type="button" class="btn btn-md-fidelity fidelity-btn-grey" (click)="goBack()">Cancel</button>
</div>