<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0">
</app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="dropdownForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <h5 class="page-sub-title">CALL CATEGORY</h5>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-4">Call Category Name <span class="mandatory-field">*</span></div>
                        <div class="col-md-4">Category Description<span class="mandatory-field">*</span></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="" formArrayName="callCategories"
                        *ngFor="let obj of dropdownForm?.get('callCategories')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input placeholder="Enter Category Name" [validateInput]='isAnAlphaNumericOnly'
                                        minlength="3" maxlength="25" class="form-control fidelity-form-input" type="text"
                                        name="Category Name" formControlName="callCategoryName">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input placeholder="Enter Description" [validateInput]='isAnAlphaNumericOnly'
                                        minlength="3" maxlength="150" class="form-control fidelity-form-input" type="text"
                                        name="Category Description" formControlName="description">
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button" *ngIf="i==0" id="add_cmc-sms-group_btn" class="circle-plus-btn"
                                    (click)="add('Call Category')" title="add" style="top: 1px;">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button type="button" *ngIf="getcallCategoryListArray.length>1" class="circle-minus-btn"
                                    (click)="remove('Call Category',i)" title="Delete"><i aria-hidden="true"
                                        class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h5 class="page-sub-title">RESOLUTION CATEGORY</h5>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-4">Resolution Category Name <span class="mandatory-field">*</span></div>
                        <div class="col-md-4">Category Description<span class="mandatory-field">*</span></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="" formArrayName="resolutionCategories"
                        *ngFor="let obj of dropdownForm?.get('resolutionCategories')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input1 placeholder="Enter Resolution Category Name"
                                        [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="20"
                                        class="form-control fidelity-form-input" type="text" name="Resolution Category Name"
                                        formControlName="resolutionCategoryName">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input1 placeholder="Enter Description" [validateInput]='isAnAlphaNumericOnly'
                                        minlength="3" maxlength="150" class="form-control fidelity-form-input" type="text"
                                        name="Category Description" formControlName="description">
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button" *ngIf="i==0" id="add_cmc-sms-group_btn" class="circle-plus-btn"
                                    (click)="add('Resolution Category')" title="add" style="top: 1px;">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button type="button" *ngIf="getResolutionCategoryListArray.length>1" class="circle-minus-btn"
                                    (click)="remove('Resolution Category',i)" title="Delete"><i aria-hidden="true"
                                        class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h5 class="page-sub-title">FOLLOW UP REASON</h5>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-4">Follow Up Reason Category Name <span class="mandatory-field">*</span>
                        </div>
                        <div class="col-md-4">Category Description<span class="mandatory-field">*</span></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="" formArrayName="followUpReasons"
                        *ngFor="let obj of dropdownForm?.get('followUpReasons')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input2 placeholder="Enter Follow Up Reason Category Name"
                                        [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="20"
                                        class="form-control fidelity-form-input" type="text" name="Follow Up Reason Category Name"
                                        formControlName="followUpReasonName">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input2 placeholder="Enter Description" [validateInput]='isAnAlphaNumericOnly'
                                        minlength="3" maxlength="150" class="form-control fidelity-form-input" type="text"
                                        name="Category Description" formControlName="description">
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button" *ngIf="i==0" id="add_cmc-sms-group_btn" class="circle-plus-btn"
                                    (click)="add('Follow Up Reason')" title="add" style="top: 1px;">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button type="button" *ngIf="getfollowupReasonListArray.length>1" class="circle-minus-btn"
                                    (click)="remove('Follow Up Reason',i)" title="Delete"><i aria-hidden="true"
                                        class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/signal-management/signal-configuration' [queryParams]="{tab:0}">Cancel</button>
        </div>
    </form>
</div>