<div class="page-heading">
  <h1 class="page-sub-title ext-padd mt-3">Service History
    <span class="grid-icons-con float-right pr-0 custom-icon-service-guard" style="float:right">
      <span class="d-flex fidelity-search-input-con">
        <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
          matTooltip="Cancel Guard" (click)="openCancelShiftsDialog()">
          <i aria-hidden="true" class="icon icon-cancel"></i></a>
        <button type="button" class="fidelity-btn-circle fidelity-white-btn fidelity-white-ripple-btn mb-1"
          (click)="exportExcel()">
          <i aria-hidden="true" class="fa fa-download" matTooltip="Export"></i>
        </button>
      </span>
    </span>
  </h1>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"  [searchFirst]="true"  [customScroll]="false" 
    (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
</app-page-list-table>