<div class="page-heading ">
    <h1 class="page-title d-inline-block">Register Rewards Partnership</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Sales</a>
        </li>
        <li class="breadcrumb-item" (click)="cancel()">
            <a>Rewards Partnership</a>
        </li>
        <li class="breadcrumb-item">
            Register
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <div class="ibox-body mb-3">
            <form customForm [formGroup]="rewardPartnerShipServiceInfoForm" (ngSubmit)="onSubmit()">
                <div class="ibox sm-inputs">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="row mt-1">
                            <div class="col-6">
                                <div class="d-flex">
                                    <span id="" class="key">Partnership Name</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{rewardData?.rewardPartnershipName}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex">
                                    <span id="" class="key">Company Name</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{rewardData?.rewardPartnershipCompanyName}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-6">
                                <div class="d-flex">
                                    <span id="" class="key">Start Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{rewardData?.startDate | date}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex">
                                    <span id="" class="key">End Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{rewardData?.endDate | date}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-6">
                                <div class="form-group d-flex justify-content-start align-items-center">
                                    <mat-checkbox class="fidelity-checkbox" disabled
                                        [checked]="rewardData?.isMembershipNumberRequired">Membership Number Required
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 page-sub-title mb-2">
                                Service Discounts
                                <div>
                                    <mat-checkbox class="fidelity-checkbox" formControlName="isPreferenceRateApplicable"
                                        style="color:#333;">Preferrable Rate Applicable</mat-checkbox>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-relative">
                                    <div
                                        class="d-flex justify-content-end align-items-center lead-stage-navigator lead-stage3-navigator">
                                        <button type="button" (click)="onArrowClick('back')">
                                            <i class="icon icon-backward"></i>
                                        </button>
                                        <span class="d-flex stage-no mr-2 ml-2">2</span>
                                        <button type="button" (click)="onArrowClick('next')">
                                            <i class="icon icon-forward"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <mat-radio-group formControlName="isDiscountOnMonthlyFee"
                                        (change)="onChangeDiscountFee()">
                                        <mat-radio-button class="fidelity-radio-btn" [value]='true'>Discount on monthly
                                            fees</mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" style="margin-left: 0px;"
                                            [value]='false'>Specific services to be discounted</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox" [disabled]="!disabled"
                                                formControlName="isFixedServiceDiscountPercentage">Percentage (Else
                                                fixed amount)</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-5"
                                        *ngIf="rewardPartnerShipServiceInfoForm?.get('isDiscountOnMonthlyFee')?.value">
                                        <div class="form-group">
                                            <ng-container
                                                *ngIf="!rewardPartnerShipServiceInfoForm?.get('isFixedServiceDiscountPercentage')?.value">
                                                <input class="form-control fidelity-form-input"
                                                    [validateInput]='isADecimalOnly' [minlength]="formConfigs.one"
                                                    [maxlength]="7" [ngClass]="{'disabled': !disabled}"
                                                    placeholder="Discount value (Fixed or %)"
                                                    formControlName="serviceDiscountAmount" type="text" />
                                            </ng-container>
                                            <ng-container
                                                *ngIf="rewardPartnerShipServiceInfoForm?.get('isFixedServiceDiscountPercentage')?.value">
                                                <input class="form-control fidelity-form-input"
                                                    [validateInput]='isADecimalOnly' [dropSpecialCharacters]="false"
                                                    mask="percent.2" (input)="onDiscountPercentageChanges()" max="99"
                                                    [ngClass]="{'disabled': !disabled}"
                                                    placeholder="Discount value (Fixed or %)"
                                                    formControlName="serviceDiscountPercentage" type="text" />
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="!disabled">
                            <div class="row header-row mb-2">
                                <div class="col-3">Service Category<span class="mandatory-field">*</span></div>
                                <div class="col-3">Service <span class="mandatory-field">*</span></div>
                                <div class="col-3">Serv ID</div>
                                <div class="col-2">Fixed Fee<span class="mandatory-field">*</span></div>
                                <div class="col-1"></div>
                            </div>
                            <div class="row children-row" formArrayName="rewardPartnershipServices"
                                *ngFor="let rewardPartnershipService of rewardPartnerShipServiceInfoForm?.get('rewardPartnershipServices')?.controls;let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col-3">
                                        <select id="site_type" #input class="form-control fidelity-form-input"
                                            (change)="onChangeServiceCategory(rewardPartnershipService.value.serviceCategoryId)"
                                            name="Service Category" formControlName="serviceCategoryId">
                                            <option value="" disabled>Select Service Category</option>
                                            <option *ngFor="let serviceCategory of serviceCategories"
                                                [value]="serviceCategory.id">
                                                {{serviceCategory.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <select id="site_type" #input class="form-control fidelity-form-input"
                                            (change)="onChangeService(rewardPartnershipService.value.serviceId,i)"
                                            name="Service" formControlName="serviceId">
                                            <option value="" disabled>Select Service</option>
                                            <option
                                                *ngFor="let servicesBasedOnServiceCategory of servicesBasedOnServiceCategoryId[rewardPartnershipService.value.serviceCategoryId]"
                                                [value]="servicesBasedOnServiceCategory.id">
                                                {{servicesBasedOnServiceCategory.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-flex align-items-center">
                                            <input class="form-control fidelity-form-input" disabled type="text"
                                                formControlName="serviceRefNo">
                                            <div>
                                                <mat-checkbox class="ml-1 fidelity-checkbox"
                                                    (change)="changePercentage(i)" formControlName="isPercentage">%
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <input #input *ngIf="!rewardPartnershipService.value.isPercentage"
                                                mask="0*.00" (input)="onPercentageChanges(i,'amt')" maxlength="7"
                                                class="form-control fidelity-form-input"
                                                formControlName="discountAmount" type="text" />
                                            <input #input *ngIf="rewardPartnershipService.value.isPercentage"
                                                class="form-control fidelity-form-input" [dropSpecialCharacters]="false"
                                                mask="percent.2" max="99" maxlength="5"
                                                formControlName="discountPercentage"
                                                (input)="onPercentageChanges(i,'disc')" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-1 p-0">
                                        <button id="delete_record" *ngIf="rewardPartnershipServices.length>1"
                                            class="circle-minus-btn" (click)="removServiceListItem(i)" title="Delete"><i
                                                aria-hidden="true" class="icon icon-delete"></i>
                                        </button>
                                        <a *ngIf="i==0" id="add_cmc-sms-group_btn"
                                            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute ml-3"
                                            (click)="addServiceInfoItems()" title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </a>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>