<app-corporate-contract-header [pageHeading]="'Corporate Contract'" currentPage="2"></app-corporate-contract-header>
<form [formGroup]="corporatePlanForm" customForm (ngSubmit)="onSubmit()">
  <p-scrollPanel [style]="{height: '66vh'}" styleClass="custom">
    <div class="ibox" style="height: 66vh;">
      <div class="ibox-body brown-border">
        <h2 class="page-sub-title">Plan / Tariff Info</h2>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Billing Plan <span class="mandatory-field">*</span></label>
              <select class="form-control fidelity-form-input" [ngClass]="{'disabled':isNew==0}"
                formControlName="personalPanicTariffId" (change)="onChangePlan()">
                <option value="" disabled>Select Plan</option>
                <option [value]="plan.id" *ngFor="let plan of planDropdownList">{{plan.displayName}}</option>
              </select>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Plan Name</label>
              <input class="form-control fidelity-form-input" readonly placeholder="Plan Name"
                formControlName="personalPanicTariffName" validateInput>

            </div>
          </div>
        </div>

        <div class="row mt-2" *ngIf="isShowEmail">
          <div class="col-4">
            <div class="form-group">
              <label>Number of Licensed / Users</label>
              <input class="form-control fidelity-form-input" placeholder="Number of Licensed / Users"
                formControlName="numberOfLicence" validateInput>

            </div>
          </div>
        </div>
        <div class="row  mt-2">
          <div class="col-12 mt-2">
            <p-radioButton name="isGenerateLicenceIdAndSendEmail" [value]="true" label="Generate License and send Email"
              formControlName="isGenerateLicenceIdAndSendEmail"></p-radioButton>
          </div>
          <div class="col-12  mt-2">
            <p-radioButton name="isGenerateLicenceIdAndSendEmail" class="mt-2" [value]="false" label="Upload User info"
              formControlName="isGenerateLicenceIdAndSendEmail"></p-radioButton> <a class="url-link text-primary"
              href="https://fidelitystoragedev.blob.core.windows.net/corporatecontractupload/CorporateContractUpload/5a34e642-f913-4fd2-9892-2dbb755ece00.xlsx"
              matTooltip="Download Sample Format" matTooltipPosition="right" download>
              Download
              Format</a>
          </div>
        </div>

        <div class="row mt-2" *ngIf="!isShowEmail">
          <div class="col-4">
            <file-upload-custom-control [isASingleFileUpload]="true" [label]="'Upload File'"
              [acceptableFileExtensions]="['.xls','.xlsx']" formControlName="uploadUserFileName"
              [formGroup]="corporatePlanForm" (emitUploadedFiles)="emitUploadedFiles($event)">
            </file-upload-custom-control>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-4">
            <div class="form-group">
              <label>Email ID<span class="mandatory-field">*</span></label>
              <input class="form-control fidelity-form-input fidelity_email" placeholder="Email ID" formControlName="emailId">
            </div>
          </div>
        </div>
      </div>
    </div>


  </p-scrollPanel>

  <div class="text-center mt-3">
    <button id="" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
      type="submit">{{isNew==0?'Update':'Create'}}</button>
    <button id="" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
      (click)="goBack()">Cancel</button>
  </div>
</form>
