
<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" ></app-page-header>
    <!-- <app-page-tab [selectedIndex]="selectedTabIndex" [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList" (tabClicked)="tabClick($event)"></app-page-tab> -->
<app-page-list-table *ngIf="selectedTabIndex ==0 " [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    class="dealer-commission-config-table" [loading]="loading" [dataList]="dataList" [status]="status"
    [pageLimit]="pageLimit" [first]="first" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>
<div></div>
