<app-page-header [tableCaption]="primengTableConfigPropertiesDeptor.tableCaption"
  [breadCrumbItems]="primengTableConfigPropertiesDeptor.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigPropertiesDeptor.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="page-content fade-in-up">
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">

    <div class="ibox white-bg view-box">
        <div class="ibox-body brown-border">
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Campaign Name</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{campaignDetails?.campaignName ? campaignDetails?.campaignName
                                : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Campaign Date</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{campaignDetails?.campaignDate ?
                                (campaignDetails?.campaignDate | date): '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Total no. of records</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{campaignDetails?.totalNoOfRecords ?
                                campaignDetails?.totalNoOfRecords : '0'}}</span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- <h1 class="page-sub-title ext-padd mt-3">Debtor List</h1> -->
            <br>
            <div class="row">
                <div class="col-12">
                    <app-page-list-table [tabsList]="primengTableConfigPropertiesDeptor.tableComponentConfigs.tabsList"
                        [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
                        [isShowNoRecord]="isShowNoRecord" [selectedTabIndex]="selectedTabIndex"
                        [totalRecords]="totalRecords" (onActionSubmited)="onActionSubmited($event)"
                        (onSelectedRows)="onChangeSelecedRows($event)">
                    </app-page-list-table>
                </div>
            </div>
        </div>
    </div>
    </p-scrollPanel>
    <div class="text-center mt-3">
        <ng-container *ngIf="isDoa; else elseTemplate">
            <button id="cancel_new_leads_btn" type="button"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelCmcSmsGroupBtn"
                routerLink='/collection/my-task-list'>Back</button>
        </ng-container>
        <ng-template #elseTemplate>

            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" type="button"
                [disabled]="isStartBtnDisabled" (click)="onStartPauseCancel('start')">Start Campaign</button>
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" type="button"
                [disabled]="isPauseBtnDisabled" (click)="onStartPauseCancel('pause')">Pause Campaign</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                [disabled]="isCancelBtnDisabled" (click)="onStartPauseCancel('cancel')">Cancel Campaign</button>
            <button id="cancel_new_leads_btn" type="button"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelCmcSmsGroupBtn"
                routerLink='/collection/campaign'>Back</button>
        </ng-template>


    </div>
</div>
