@import './../../../../../../variables.scss';

.filter-dropdwon-con {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px #cccccc61;
    top: 65px;
    right: 0px;
    z-index: 5;
    .form-group {
        width: 80%;
    }   
    ::ng-deep .date-picker {
        mat-form-field.mat-form-field {
            border-radius: 7px;
        }

        .mat-form-field-appearance-legacy .mat-form-field-infix {
            padding: 9px 0!important;
        }
    }
    ::ng-deep {
        mat-form-field.mat-form-field {
            border-radius: 7px;
        }

        .mat-form-field-appearance-legacy .mat-form-field-infix {
            padding: 9px 0!important;
        }
        mat-form-field.mat-form-field-invalid .fidelity-form-input {
            border-color: #dc3545!important;
            box-shadow: 0 0 2px #dc3545 !important;
        }
    }
    ::ng-deep .leads-category-con {
        mat-form-field.mat-form-field {
            border: none!important;
        }
    
        .mat-form-field-infix .mat-select {
            padding: 8.2px 8px;
        }
    }
}

::ng-deep {
  .incentive-dialog, .request-type-dialog {
    .ui-dialog .ui-dialog-content {
      padding: 0px;
      border: 0px;
      .incentive-dialog-body, .request-type-dialog-body {
        padding: 0.571em 1em;
      }
    }
  }
}
  
::ng-deep .incentive-confirm-dialog {
  .ui-dialog .ui-dialog-content {
      padding: 2em 1em !important;
  }
  .ui-dialog .ui-dialog-footer {
    border: 0px !important;
    padding: 0px 1em 1em !important;
  }
}
  
.btn-incentive-submit {
  display: inline-block;
  padding: 0px 14px;
  border-radius: 6px;
  background: $fidelity-header-green;
}

.close-button.p-absolute {
  top: 4px;
  right: 5px;
}

.fidelity-date-picker-con mat-form-field.mat-form-field {
  width: 100% !important;
}

.fidelity-date-picker-con mat-form-field.mat-form-field.mat-form-field-invalid {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.fidelity-date-picker-con mat-form-field.mat-form-field.mat-form-field-invalid.ng-touched {
  border: 1px solid #dc3545 !important;
}

::ng-deep #new-incentive-config-date.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 12px 0 !important;
}

::ng-deep app-incentive-list app-page-header .grid-icons-con a.fidelity-btn-circle {
  top: 0!important;
} 
// don't delete this
::ng-deep .effective-date-con {
  .ng-invalid.ng-touched .ui-inputtext {
    border-color: #dc3545 !important;
    box-shadow: 0 0 2px #dc3545 !important;
  }
  .ui-datepicker-trigger.ui-button {
      position: absolute;
      height: 34px !important;
      right: 0px;
  }
}
// don't delete this
::ng-deep .fidelity-multiselect-dropdown-con p-multiselect.ng-invalid.ng-touched .ui-multiselect {
  border-color: #dc3545 !important;
  box-shadow: 0 0 2px #dc3545 !important;
}