<div class="position-relative">
    <app-page-header class="row ml-2" [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems" (buttonClicked)="onCRUDRequested($event)"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex">
    </app-page-header>
    <form *ngIf="showFilterForm" [formGroup]="incentiveFilterForm" customForm (ngSubmit)="submitFilter()"
        class="col-6 p-absolute" style="top: 50px;right: 0px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group fidelity-multiselect-dropdown-con leads-category-con">
                            <label class="d-block">Incentive Type</label>
                            <p-multiSelect [formControl]="incentiveFilterForm?.controls['incentiveType']"
                                [options]="incentiveFilterList" defaultLabel="Select Incentive Type" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Incentive Type Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group fidelity-multiselect-dropdown-con leads-category-con">
                            <label class="d-block">Division</label>
                            <p-multiSelect [formControl]="incentiveFilterForm?.controls['divisionIds']"
                                [options]="divisionFilterList" defaultLabel="Select Division" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Division Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group fidelity-multiselect-dropdown-con leads-category-con">
                            <label class="d-block">District</label>
                            <p-multiSelect [formControl]="incentiveFilterForm?.controls['districtIds']"
                                [options]="districtFilterList" defaultLabel="Select District" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No District Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group fidelity-multiselect-dropdown-con leads-category-con">
                            <label class="d-block">Branch</label>
                            <p-multiSelect [formControl]="incentiveFilterForm?.controls['branchIds']"
                                [options]="branchFilterList" defaultLabel="Select Branch" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Branch Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit"
                            [disabled]="incentiveFilterForm?.invalid || isLoading">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetFilterForm()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <app-page-tab [selectedIndex]="selectedTabIndex"
                [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                (tabClicked)="onTabChange($event)"></app-page-tab>
            <ng-container *ngIf="selectedTabIndex != 0 && selectedTabIndex != 1 && selectedTabIndex != 7">
                <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [first]="first"
                    [loading]="loading" [dataList]="dataList" [status]="status" [totalRecords]="totalRecords" [clearSelectedRow]="clearSelectedRow"
                    [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" (onActionSubmited)="onActionSubmited($event)"
                    (onSelectedRows)="onChangeSelecedRows($event)">
                </app-page-list-table>
            </ng-container>
            <ng-container *ngIf="selectedTabIndex == 0 || selectedTabIndex == 1 || selectedTabIndex == 7">
                <!-- <form customForm class="fidelity-popup-form" [formGroup]="incentiveConfigDetailForm"
                    (ngSubmit)="onSubmitRequest()">
                    <div class="ibox">
                        <div class="ibox-body mb-3">
                            <p-scrollPanel [style]="{height: '62vh'}" styleClass="custom">
                                <div class="row flex-nowrap header-row">
                                    <div [class]="col?.className"
                                        *ngFor="let col of primengTableConfigProperties?.tableComponentConfigs?.tabsList[selectedTabIndex].columns">
                                        {{col.displayName}}<span class="mandatory-field">*</span></div>
                                    <div class="col-1"></div>
                                </div>
                                <app-page-form-array [pageForm]="incentiveConfigDetailForm" [isShowNoData]="true"
                                    [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                                    [selectedIndex]="selectedTabIndex" [isLoading]="isLoading" [isSubmitted]="isSubmitted"
                                    (validateExist)="validateExistItem($event)" (editItem)="editConfigItem($event)">
                                </app-page-form-array>
                            </p-scrollPanel>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit"
                            [disabled]="isSubmitted || isLoading || incentiveConfigDetailForm?.invalid"
                            *ngIf="selectedTabIndex ==  0">Save</button>
                        <button (click)="onResetClick()" type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </form> -->
                <app-incentive-detail></app-incentive-detail>
            </ng-container>
            
        </div>
    </div>
</div>

<!-- Incentive pop up -->
<ng-container *ngIf="selectedTabIndex != 0 && selectedTabIndex != 1 && selectedTabIndex != 7">
<p-dialog class="incentive-dialog" styleClass="acknowledgeDialog" [maximizable]="false" [(visible)]="isIncentiveDialog"
    [responsive]="true" showEffect="fade" [resizable]="false" [closable]="false" [modal]="true" [baseZIndex]="10"
    [style]="{width: incentiveDialogWidth}">
    <p-header>{{incentiveDialogTitle}}
        <button mat-icon-button class="close-button p-absolute" type="button" (click)="closeDialog()">
            <mat-icon class="close-icon" color="#fff">close</mat-icon>
        </button>
    </p-header>
    <app-popup-loader></app-popup-loader>
    <div class="incentive-dialog-body">
        <form name="incentiveConfigDialogForm" [formGroup]="incentiveConfigDialogForm" class="fidelity-popup-form"
            (ngSubmit)="onSubmitIncentiveDialog()" style="font-size: 0.9rem!important;">
            <div>
                <div [style.height]="getDialogHeight()">
                    <p-scrollPanel [style]="{height: '97%'}" styleClass="custom">
                        <div class="view-box mr-3">
                            <div class="row mt-1" *ngIf="isIncentiveDialogContent">
                                <div class="col-lg-4" *ngIf="!incentiveId && selectedTabIndex == 2">
                                    <div class="form-group">
                                        <label>Incentive Type<span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input" name="incentiveTypeConfigId"
                                            id="incentiveTypeConfigId" formControlName="incentiveTypeConfigId">
                                            <option value="" disabled selected>Select incentive type</option>
                                            <option *ngFor="let item of incentiveList;"
                                                [value]="item.incentiveTypeConfigId">
                                                {{item.incentiveTypeName}}
                                            </option>
                                        </select>
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get('incentiveTypeConfigId')?.touched && incentiveConfigDialogForm?.get('incentiveTypeConfigId')?.invalid">
                                            Incentive type is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-2" *ngIf="selectedTabIndex == 3">
                                    <div class="form-group">
                                        <label>Project Name<span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input" name="specialProjectName"
                                            id="specialProjectName" formControlName="specialProjectName">
                                            <option value="" disabled selected>Select project</option>
                                            <option *ngFor="let item of specialProjectList;" [value]="item.id">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get('specialProjectName')?.touched && incentiveConfigDialogForm?.get('specialProjectName')?.invalid">
                                            Special project is required
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-4 mt-2" *ngIf="incentiveId && isEdit">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label>Division<span class="mandatory-field">*</span></label>
                                        <input type="text" class="form-control fidelity-form-input" [value]="divisionName" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-2" *ngIf="incentiveId && isEdit">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label>District<span class="mandatory-field">*</span></label>
                                        <input type="text" class="form-control fidelity-form-input" [value]="districtName" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-2" *ngIf="incentiveId && isEdit">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label>Branch<span class="mandatory-field">*</span></label>
                                        <input type="text" class="form-control fidelity-form-input" [value]="branchName" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-2" *ngIf="incentiveId && !isEdit">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label>Division<span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input"
                                            formControlName='divisionId' [id]="'divisionId'" [name]="'divisionId'">
                                            <option value="" disabled selected>Select division</option>
                                            <option *ngFor="let item of divisionList;" [value]="item.value">
                                                {{item.label}}
                                            </option>
                                        </select>
                                        <span class="text-danger" *ngIf="getDivisonError()">
                                            Division is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-2" *ngIf="incentiveId && !isEdit">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label>Districts<span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input"
                                            formControlName='districtId' [id]="'districtId'" [name]="'districtId'">
                                            <option value="" disabled selected>Select district</option>
                                            <option *ngFor="let item of districtList;" [value]="item.value">
                                                {{item.label}}
                                            </option>
                                        </select>
                                        <span class="text-danger" *ngIf="getDistrictError()">
                                            District  is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-2" *ngIf="incentiveId && !isEdit">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label>Branch<span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input" formControlName='branchId'
                                            [id]="'branchId'" [name]="'branchId'">
                                            <option value="" disabled selected>Select branch</option>
                                            <option *ngFor="let item of branchList;" [value]="item.value">
                                                {{item.label}}
                                            </option>
                                        </select>
                                        <span class="text-danger" *ngIf="getBranchError()">
                                            Branch is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-2" *ngIf="showMultiSelect() && !isEdit">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label class="d-block">Division<span class="mandatory-field">*</span></label>
                                        <p-multiSelect [options]="divisionList" defaultLabel="Select Division" [style]="{width: '100%'}" appendTo="body" [baseZIndex]="100"
                                            emptyFilterMessage="No Division Exists" formControlName="divisionId" maxSelectedLabels="2"></p-multiSelect>
                                        <span class="text-danger" *ngIf="getDivisonError()">
                                            Division is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-2" *ngIf="showMultiSelect() && !isEdit">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label class="d-block">District<span class="mandatory-field">*</span></label>
                                        <p-multiSelect [options]="districtList" defaultLabel="Select District" [style]="{width: '100%'}" appendTo="body" [baseZIndex]="100"
                                            emptyFilterMessage="No District Exists" formControlName="districtId" maxSelectedLabels="2"></p-multiSelect>
                                        <span class="text-danger" *ngIf="getDistrictError()">
                                            District is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-2" *ngIf="showMultiSelect() && !isEdit">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label class="d-block">Branch<span class="mandatory-field">*</span></label>
                                        <p-multiSelect [options]="branchList" defaultLabel="Select Branch" [style]="{width: '100%'}" appendTo="body" [baseZIndex]="100"
                                            emptyFilterMessage="No Branch Exists" formControlName="branchId" maxSelectedLabels="2"></p-multiSelect>
                                        <span class="text-danger" *ngIf="getBranchError()">
                                            Branch is required
                                        </span>
                                    </div>
                                </div>
                                <ng-container
                                    *ngFor="let col of primengTableConfigProperties.tableComponentConfigs?.tabsList[selectedTabIndex]?.popupColumns; let i=index">
                                    <div [class]="col?.className" *ngIf="col.type == 'input_text' && !col?.hidden">
                                        <label class="d-block">{{col.displayName}}<span class="mandatory-field"
                                                *ngIf="col?.required">*</span></label>
                                        <input type="text" [name]="col.field" [id]="col.field" autocomplete="off"
                                            class="form-control fidelity-form-input" [formControlName]="col.field">
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get(col.field)?.touched && incentiveConfigDialogForm?.get(col.field)?.errors?.required">
                                            {{col.displayName}} is required
                                        </span>
                                    </div>
                                    <div [class]="col?.className" *ngIf="col.type == 'input_number' && !col?.hidden">
                                        <label class="d-block">{{col.displayName}}<span class="mandatory-field"
                                                *ngIf="col?.required">*</span></label>
                                        <input type="text" [name]="col.field" [id]="col.field" autocomplete="off"
                                            class="form-control fidelity-form-input" [placeholder]="'Enter'"
                                            [validateInput]="col?.validateInput" [maxlength]="col?.maxlength"
                                            [formControlName]="col.field">
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get(col.field)?.touched && incentiveConfigDialogForm?.get(col.field)?.errors?.required">
                                            {{col.displayName}} is required
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get(col.field)?.touched && incentiveConfigDialogForm?.get(col.field)?.errors?.percentage">
                                            {{col.displayName}} has value in between the 0 to 100
                                        </span>
                                    </div>
                                    <div [class]="col?.className" *ngIf="col.type == 'input_date'">
                                        <label class="d-block">{{col.displayName}}<span class="mandatory-field"
                                                *ngIf="col?.required">*</span></label>
                                        <p-calendar [formControlName]="col.field" [dateFormat]="getDateFormat()" [baseZIndex]="100" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                                            [style]="{'width':'100%'}"></p-calendar>
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get(col.field)?.touched && incentiveConfigDialogForm?.get(col.field)?.errors?.required">
                                            {{col.displayName}} is required
                                        </span>
                                    </div>
                                    <div [class]="col?.className" *ngIf="col?.type == 'input_radio'">
                                        <div class="col-12 mb-2 p-0 font-16">{{col?.displayName}}<span
                                                class="mandatory-field" *ngIf="col?.required">*</span></div>
                                        <div class="col-12 p-0">
                                            <div class="form-group">
                                                <mat-radio-group [formControlName]="col?.field" [name]="col?.field"
                                                    (change)="changeRadioButton($event, col)">
                                                    <mat-radio-button class="fidelity-radio-btn mr-3"
                                                        [value]="opt?.value" *ngFor="let opt of col?.options">
                                                        {{opt?.displayName}}
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                                <span class="text-danger"
                                                    *ngIf="incentiveConfigDialogForm?.get(col.field)?.touched && incentiveConfigDialogForm?.get(col.field)?.errors?.required">
                                                    {{col.displayName}} is required
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="col-lg-4" *ngIf="isPayPerTarget && selectedTabIndex == 3">
                                    <label class="d-block">Type<span class="mandatory-field">*</span></label>
                                    <div class="form-group">
                                        <select class="form-control fidelity-form-input"
                                            (change)="changePayType($event.target.value)"
                                            formControlName="incentivePayTypeId">
                                            <option *ngFor="let item of payTypeList;" [value]="item.id">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get('incentivePayTypeId')?.touched && incentiveConfigDialogForm?.get('incentivePayTypeId')?.errors?.required">
                                            Type is required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Special Project Form Control Element -->
                            <div class="row parent-row mb-1" *ngIf="selectedTabIndex == 3">
                                <ng-container
                                    *ngFor="let col of primengTableConfigProperties.tableComponentConfigs?.tabsList[selectedTabIndex]?.formArrayColumns; let i=index">
                                    <div [class]="col?.className" *ngIf="col.type == 'input_number' && !col?.hidden">
                                        <label class="d-block">{{col.displayName}}<span class="mandatory-field"
                                                *ngIf="col?.required">*</span></label>
                                        <input type="text" [name]="col.field" [id]="col.field" autocomplete="off"
                                            class="form-control fidelity-form-input" [placeholder]="'Enter'"
                                            [validateInput]="col?.validateInput" [maxlength]="col?.maxlength"
                                            [formControlName]="col.field">
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get(col.field)?.touched && incentiveConfigDialogForm?.get(col.field)?.errors?.required">
                                            {{col.displayName}} is required
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get(col.field)?.touched && incentiveConfigDialogForm?.get(col.field)?.errors?.lesserGreaterThan">
                                            <span>{{col.displayName}} is must be {{incentiveConfigDialogForm?.get(col.field)?.errors?.lesserGreaterThan?.type}} than or equal
                                                to {{getCompareField(col)}}</span>
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="incentiveConfigDialogForm?.get(col.field)?.touched && incentiveConfigDialogForm?.get(col.field)?.errors?.percentage">
                                            {{col.displayName}} has value in between the 0 to 100
                                        </span>
                                    </div>
                                </ng-container>
                                <div class="col-2" *ngIf="isPayPerTarget && selectedTabIndex == 3">
                                    <button class="circle-plus-btn" type="button"
                                        [disabled]="isIncentiveSubmit || isLoading" matTooltip="Add"
                                        style="top: 29px;left: 2px;" (click)="addDialogConfigItem()">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Special Project Form Array -->
                            <app-incentive-item [incentiveConfigDetailForm]="incentiveConfigDialogForm"
                                [isLoading]="isLoading" [jobIndex]="jobIndex" [isSubmitted]="isIncentiveSubmit"
                                *ngIf="isPayPerTarget && selectedTabIndex == 3"></app-incentive-item>
                        </div>
                    </p-scrollPanel>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix mt-2">
                    <div class="text-center">
                        <button type="submit" pButton class="ui-button-success btn-incentive-submit mr-4"
                            [disabled]="!incentiveConfigDialogForm?.valid || isIncentiveSubmit"
                            [label]="incentiveId ? 'Update' : 'Save'"></button>
                        <button (click)="closeDialog()" type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                    </div>
                </div>
            </p-footer>
        </form>
    </div>
</p-dialog>
</ng-container>