<div class="page-heading">
    <h1 class="page-title d-inline-block"> 
        {{ screenType == 'picking' ? 'Add' : 'Update' }} Stock Order Query 
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/inventory/dashboard'>Inventory Management</a></li>
        <li class="breadcrumb-item"><a (click)="navigateToList()"> View Stock Order  </a></li>
        <li class="breadcrumb-item"> 
            {{ screenType == 'picking' ? 'Add' : 'Update' }} Stock Order Query 
        </li>
    </ol>    
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up"> 
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="ibox view-box"  style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                    <form class="fidelity-popup-form" customForm [formGroup]="stockOrderQueryCreationForm">
                        <div class="ibox-body">
                            <!-- <div class="row mt-1" *ngIf="viewType == 'Inventory Manager'">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label> Technical Area Manager <span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input" id="tamId" formControlName="tamId">
                                            <option value="" selected disabled> Select Technical Area Manager </option>
                                            <option *ngFor="let manage of managerDropDown; let i=index" [value]="manage.id">
                                                {{manage.displayName}}
                                            </option>
                                        </select>           
                                    </div>
                                </div>
                            </div> -->
                            <div class="row mt-1" >
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Query with tech area manager </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.techAreaManager ? getDetailsData?.techAreaManager : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Query Created By </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.queryCreatedBy ? getDetailsData?.queryCreatedBy : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Technical Area Manager </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.techAreaManager ? getDetailsData?.techAreaManager : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row mt-1">                            
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Stock Order Type </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.stockOrderType ? getDetailsData?.stockOrderType : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Stock Order Number </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block" *ngIf="screenType == 'picking' || getDetailsData?.stockOrderType !='Technician'">{{ getDetailsData?.stockOrderNumber ? getDetailsData?.stockOrderNumber : '-'}}</span>
                                            <span class="d-inline-block" *ngIf="screenType != 'picking' && getDetailsData?.stockOrderType =='Technician'"  (click)="navigateToViewPage()" style="cursor: pointer;color: #166DFF!important;text-decoration: underline;">{{ getDetailsData?.stockOrderNumber ? getDetailsData?.stockOrderNumber : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Quote Number </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.quoteNumber ? getDetailsData?.quoteNumber : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Sales Rep </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.salesResp ? getDetailsData?.salesResp : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Priority </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.priority ? getDetailsData?.priority : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Submitted Date & Time </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.submittedDate ? ( getDetailsData?.submittedDate | date) : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Default Branch </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.defaultBranch ? getDetailsData?.defaultBranch : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Approved By </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.approvedBy ? getDetailsData?.approvedBy : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Issue Warehouse </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.issueWarehouse ? getDetailsData?.issueWarehouse : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Issuing Tech Location </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.issueingTechLocation ? getDetailsData?.issueingTechLocation : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Requesting Location </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.requestingLocation ? getDetailsData?.requestingLocation : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Requesting Location Name </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{ getDetailsData?.requestingLocationName ? getDetailsData?.requestingLocationName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key"> Status </span>
                                        <span id="" class="value">
                                            <span class="status-label" [ngClass]="getDetailsData?.status != null ? getDetailsData?.cssClass : '' " style="width: 40%;" >{{ getDetailsData?.status }}</span>                                        
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 page-sub-title mt-2">STOCK DETAILS</div>
                            </div>
                            <div *ngIf="screenType == 'picking'">
                                <div class="row header-row mt-1">
                                    <div class="col-2"> Stock Code </div>
                                    <div class="col-4"> Stock Description </div>
                                    <div class="col-2"> Qty </div>
                                    <div class="col-4"> Comments  </div>
                                </div>
                                <div class="" formArrayName="stockOrderDetails"
                                *ngFor="let obj of stockOrderQueryCreationForm?.get('stockOrderDetails')?.controls;let i=index">
                                    <div class="row children-row" [formGroupName]="i">
                                        <div class="col-2">
                                            <div class="form-group"> 
                                                <input maxlength="100" readonly [validateInput]='stringConfig' name="itemCode" class="form-control fidelity-form-input"
                                                    id="consumable" type="text" placeholder="Auto fetch" formControlName="itemCode"/>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group"> 
                                                <input maxlength="100" readonly [validateInput]='stringConfig' name="itemName" class="form-control fidelity-form-input"
                                                    id="consumable" type="text" placeholder="Auto fetch" formControlName="itemName"/>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group"> 
                                                <input maxlength="100" readonly [validateInput]='stringConfig' name="quantity" class="form-control fidelity-form-input"
                                                    id="consumable" type="text" placeholder="Auto fetch" formControlName="quantity"/>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group"> 
                                                <input maxlength="100" [validateInput]='stringConfig' name="comment" class="form-control fidelity-form-input"
                                                    id="consumable" type="text" placeholder="Auto fetch" formControlName="comment"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="(screenType == 'task-list' || screenType == 'notification')">
                                <div class="row header-row pt-4">
                                    <div class="col-2"> Stock Code </div>
                                    <div class="col-3"> Stock Description </div>
                                    <div class="col-1"> Qty </div>
                                    <div class="col-3"> Comments  </div>
                                    <div class="col-3"> Tam Feedback <span class="mandatory-field">*</span> </div>
                                </div>
                                <div class="" formArrayName="stockOrderDetails"
                                *ngFor="let obj of stockOrderQueryCreationForm?.get('stockOrderDetails')?.controls;let i=index">
                                    <div class="row children-row pb-4" [formGroupName]="i">
                                        <div class="col-2">
                                            <div class="form-group"> 
                                                <input maxlength="100" readonly [validateInput]='stringConfig' name="itemCode" class="form-control fidelity-form-input"
                                                    id="stock" type="text" placeholder="Auto fetch" formControlName="itemCode"/>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group"> 
                                                <input maxlength="100" readonly [validateInput]='stringConfig' name="itemName" class="form-control fidelity-form-input"
                                                    id="stockDescription" type="text" placeholder="Auto fetch" formControlName="itemName"/>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <div class="form-group"> 
                                                <input maxlength="100" readonly [validateInput]='stringConfig' name="quantity" class="form-control fidelity-form-input"
                                                    id="quantity" type="text" placeholder="Auto fetch" formControlName="quantity"/>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group"> 
                                                <input maxlength="100" readonly [validateInput]='stringConfig' name="comment" class="form-control fidelity-form-input"
                                                    id="comment" type="text" placeholder="Auto fetch" formControlName="comment"/>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group"> 
                                                <input maxlength="100" [validateInput]='stringConfig' name="tamFeedback" class="form-control fidelity-form-input"
                                                    id="tamFeedback" type="text" placeholder="Auto fetch" formControlName="tamFeedback"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" [disabled]="getDetailsData?.status == 'Query Submitted' || getDetailsData?.status == 'Feedback Provided'" *ngIf="screenType == 'picking'" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="onSubmit(1)"> Save </button>
                            <button type="submit" [disabled]="getDetailsData?.status == 'Feedback Provided'" *ngIf="(screenType == 'task-list' || screenType == 'notification')" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="onSubmit(3)"> Submit </button>
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>