<div class="fidelity-popup-heading  p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.data?.header}}
     <!-- <button  class="close-button p-absolute" type="button" (click)="btnCloseClick()">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>  -->
  </div>
  <app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="accessIntercomForm" (ngSubmit)="onSubmit()">
    <div style="padding: 16px;">
        <div>
                <div class="view-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Number to be Dialed<span class="mandatory-field">*</span></label>
                                <div class="row">
                                    <div class="col-4 pr-0">
                                      <div class="form-group" style="width: 100%!important;">
                                        <select class="form-control fidelity-form-input pad-right"
                                          style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                          formControlName="outgoingPhoneNumberCountryCode">
                                          <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                                            {{countryCode.displayName}}
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-8 pl-0">
                                      <div class="form-group" style="width: 100%!important;">

                                        <input id="mobileNumber2" #input
                                          style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                          appPhoneMask formControlName="outgoingPhoneNumber" appPhoneMask
                                          [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                          [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                          class="form-control fidelity-form-input" name="Contact Number" placeholder="Contact Number" />

                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Special Character<span class="mandatory-field">*</span></label>
                                <input type="text" class="form-control fidelity-form-input "
                                    formControlName="specialCharacters" pattern="[A-Za-z0-9]+" maxlength='120'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*</span></label>
                                <input type="text" class="form-control fidelity-form-input "
                                    formControlName="description" maxlength='240'>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group p-relative fix-error-msg" style="width: 100%!important;">
                                <label>Latitude<span class="mandatory-field">*</span></label>
                                <!-- <input type="text" class="form-control fidelity-form-input disabled"
                                    formControlName="longitude"> -->
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input [style]="{'width':'100%'}" class="form-control fidelity-form-input "
                                        type="text" name="Latitude" placeholder="Enter Latitude" maxlength="102"
                                        formControlName="latitude" maxlength='102' minlength="3" [validateInput]='isNumberOnly'>
                                    <div class="input-group-append">
                                        <button class="text-white" type="button"><i aria-hidden="true"
                                                class="icon icon-location"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-6">
                            <div class="form-group p-relative fix-error-msg" style="width: 100%!important;">
                                <label>Longitude<span class="mandatory-field">*</span></label>

                                <div class="input-group fidelity-input-addon mb-3">
                                    <input class="form-control fidelity-form-input " type="text" name="Longitude"
                                        placeholder="Enter Longitude" maxlength="102" formControlName="longitude"
                                        maxlength='102' minlength="3" [validateInput]='isNumberOnly'>
                                    <div class="input-group-append">
                                        <button class="text-white" type="button"><i aria-hidden="true"
                                                class="icon icon-location"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="d-block">SMS Returned<span class="mandatory-field">*</span></label>

                                <label class="switch pos-top">
                                    <input type="checkbox" formControlName="isSMSReturned" >
                                    <span class="slider round req_ack"></span>
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
        </div>
    </div>

    <div style="margin-bottom: 5px;text-align: center;">
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class=" text-center">
                <button type="submit" pButton class="ui-button-success mr-4"
                style="display: inline-block;background: #115943!important;" label="{{config.data ? 'Update' : 'Save'}}"></button>
                <button type="button" pButton class="ui-button-secondary mr-4" style="display: inline-block;;"
                    label="Cancel" (click)="close()"></button>
            </div>
        </div>
    </div>
</form>
