<div class="fidelity-popup-heading  p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.data?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<div class="p-3">
    <form [formGroup]="distributionForm" style="font-size: 0.9rem!important;"  customForm (ngSubmit)="onSubmitDistribution()">
    <app-popup-loader></app-popup-loader>
        <div>
                <div class="view-box">
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Operator</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{distributionDetails?.operatorName ?
                                        distributionDetails?.operatorName : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Role</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{distributionDetails?.staffTypeName ?
                                        distributionDetails?.staffTypeName : '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stack</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{distributionDetails?.stackName ?
                                        distributionDetails?.stackName : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Area</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{distributionDetails?.areaName ?
                                        distributionDetails?.areaName : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="clearfix" style="border-bottom: 2px dashed #ccc; margin-top: 10px;">

                    </div>
                    <br>
                    <h1 class="page-sub-title ext-padd mt-3">SELECT NEW</h1>
                    <div class="row mt-1">
                        <div class="col-lg-4">
                            <label>Role</label>
                            <div class="">
                                <select id="stack" class="form-control fidelity-form-input" name="Stack"
                                    placeholder="Select Role" formControlName='staffTypeId'>
                                    <option value="" disabled>Select Role</option>
                                    <option *ngFor="let stack of staffTypeList" [value]="stack.id">
                                        {{stack.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Stack</label>
                            <div class="">
                                <select id="stack" class="form-control fidelity-form-input" name="Stack"
                                    placeholder="Select Stack" formControlName='stackConfigId'>
                                    <option value="" disabled>Select Stack</option>
                                    <option *ngFor="let stack of stackConfigList" [value]="stack.id">
                                        {{stack.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Area</label>
                            <div class="">
                                <select id="stack" class="form-control fidelity-form-input" name="Stack"
                                    placeholder="Select Area" formControlName='stackAreaConfigId'>
                                    <option value="" disabled>Select Area</option>
                                    <option *ngFor="let stack of stackAreaConfigList" [value]="stack.id">
                                        {{stack.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix" style="border-bottom: 2px dashed #ccc; margin-top: 10px;">

                    </div>
                    <br>
                    <h1 class="page-sub-title ext-padd mt-3">ADD SIGNAL</h1>
                        <div class="col-lg-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Signal Type</label>
                            <p-multiSelect [style]="{'width':'100%'}" [options]="alarmTypeList" dataKey="alarmTypeId"
                                formControlName="stackDistributionIncludeAlarmTypeList" placeholder="Select Signal Type"  filter="true">
                            </p-multiSelect>
                        </div>
                    </div>
                    <div class="clearfix" style="border-bottom: 2px dashed #ccc; margin-top: 10px;">

                    </div>
                    <br>
                    <h1 class="page-sub-title ext-padd mt-3">EXCLUDE SIGNAL</h1>
                        <div class="col-lg-4">
                            <div class="form-group leads-category-con">
                                <label class="d-block">Signal Type</label>
                                <p-multiSelect [style]="{'width':'100%'}" [options]="alarmTypeList" dataKey="alarmTypeId"
                                    formControlName="stackDistributionExcludeAlarmTypeList" placeholder="Select Signal Type"  filter="true">
                                </p-multiSelect>
                            </div>
                        </div>
                        <div class="col-lg-8 text-right" style="margin-top: 25px;">

                            <button type="submit" class="btn btn-md-fidelity"
                                style="background: #115943!important;color: #fff;">Reallocate</button>

                            <button (click)="btnCloseClick()" type="button"
                                class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                        </div>
                </div>
        </div>
    </form>
</div>
