<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
    [selectedTabIndex]="0"></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <form [formGroup]="prApprovalForm" (ngSubmit)="onSubmit()">
                <div class="ibox-body">
                    <app-view-page [col]="2" [viewDetail]="prViewDetail" [marginClass]="'m-0 p-0'"
                        (onLinkClicked)="onLinkClick($event)">
                    </app-view-page>
                    <!-- <div class="row">
                        <div class="col-12 text-center mt-5">
                            <mat-radio-group formControlName="customerType">
                                <mat-radio-button class="fidelity-radio-btn" [value]="true">Approve
                                </mat-radio-button>
                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Decline
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div> -->
                </div>

                <div class="ibox-body mt-3">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Amount Approved for Excl. Vat</label>
                                <input class="form-control fidelity-form-input text-right disabled" type="text"
                                    [value]="prDetails?.approvedAmount?.toString() ? (prDetails?.approvedAmount | formatNumber) : ''" />
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="d-block">Call Out fee Excl. Vat<span class="mandatory-field"
                                    *ngIf="getCallOutFeeValid()">*</span></label>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group mb-0 mr-3 d-flex align-items-center"
                                        style="    margin-top: 10px;">
                                        <!-- <mat-radio-group formControlName="customerType">
                                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Office
                                        </mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" [value]="false">After
                                        </mat-radio-button>
                                    </mat-radio-group> -->
                                        <div class="col-6">
                                            <mat-checkbox class="example-margin mr-3" formControlName="isOfficeHours"
                                                [disabled]='isOfficeHours'>
                                                Office
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-6">
                                            <mat-checkbox class="example-margin" formControlName="isAfterHours"
                                                [disabled]='isAfterHours'>After
                                            </mat-checkbox>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                                            formControlName="callOutFee" />
                                        <span class="text-danger"
                                            *ngIf="prApprovalForm.get('callOutFee')?.touched && prApprovalForm.get('callOutFee')?.errors?.required">
                                            Call Out fee is required
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-flex justify-content-between p-relative">
                                    <span>Equipment and Additional Labour Excl. Vat</span>
                                    <button class="circle-plus-btn p-absolute" type="button" (click)="openEquipment()"
                                        matTooltip="Add" style="top: -6px;">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </label>
                                <input class="form-control fidelity-form-input text-right disabled" type="text"
                                    [value]="prDetails?.equipmentAdditionalLabour?.toString() ? (prDetails?.equipmentAdditionalLabour | formatNumber) : ''" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                    <!-- <select name="Status" formControlName="serviceCallApprovalStatusId"
                                    class="form-control fidelity-form-input">
                                    <option value="" disabled>Select Status</option>
                                    <option [value]="item.id" *ngFor="let item of statusList">{{item.displayName}}
                                    </option>
                                </select> -->
                                    <mat-radio-group formControlName="serviceCallApprovalStatusId"
                                        [disabled]="!isEnableSubmitButton">
                                        <mat-radio-button class="fidelity-radio-btn" [value]="item.id"
                                            *ngFor="let item of statusList">
                                            {{item.displayName}}</mat-radio-button>
                                    </mat-radio-group>
                                    <span class="text-danger d-block"
                                        *ngIf="prApprovalForm.get('serviceCallApprovalStatusId')?.touched && prApprovalForm.get('serviceCallApprovalStatusId')?.errors?.required">
                                        Status is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="d-block">Comments<span class="mandatory-field">*</span></label>
                                    <textarea name="Comments" rows="2" formControlName="approvalComments"
                                        class="form-control fidelity-form-input"></textarea>
                                    <span class="text-danger"
                                        *ngIf="prApprovalForm.get('approvalComments')?.touched && prApprovalForm.get('approvalComments')?.errors?.required">
                                        Comments is required
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" style="background: #e5e5e5;" *ngIf="prDetails?.approvals.length > 0">
                            <!-- <div class="row" *ngIf="userData.roleId != item?.roleId"> -->
                            <div class="row">
                                <div class="col-2">
                                    <strong> Role Name</strong>
                                </div>
                                <div class="col-2">
                                    <strong> Amount </strong>
                                </div>

                                <div class="col-2">
                                    <strong> Status</strong>
                                </div>
                                <div class="col-3">
                                    <strong>Approved Date</strong>
                                </div>
                                <div class="col-3">
                                    <strong> Comments</strong>
                                </div>
                            </div>
                            <div class="row" *ngFor="let item of prDetails?.approvals">
                                <!-- <div class="col-2" *ngIf="userData.roleId != item?.roleId"> -->
                                <div class="col-2">
                                    {{item?.roleName ? item?.roleName : '--'}}
                                </div>
                                <!-- <div class="col-2" *ngIf="userData.roleId != item?.roleId"> -->
                                <div class="col-2">
                                    <!-- {{item?.approvedAmount ? item?.approvedAmount : '--'}} -->
                                    <ng-container
                                        *ngIf="item?.approvedAmount; then thenTemplate; else elseTemplate"></ng-container>
                                    <ng-template #thenTemplate>
                                        <a href="javascript:void(0);"
                                            (click)="getPRCallApprovalItemById(item?.serviceCallApprovalId)">{{item?.approvedAmount
                                            ? (item?.approvedAmount | formatNumber) : '' }}</a>
                                    </ng-template>
                                    <ng-template #elseTemplate>
                                        --
                                    </ng-template>

                                </div>

                                <div class="col-2">
                                    {{item?.serviceCallApprovalStatusName ? item?.serviceCallApprovalStatusName : '--'}}
                                </div>
                                <div class="col-3">
                                    {{item?.approvedDate ? (item?.approvedDate | date) : '--'}}
                                </div>
                                <div class="col-3">
                                    {{item?.approvalComments ? item?.approvalComments : '--'}}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit"
                        [disabled]="!isEnableSubmitButton">Submit</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                        (click)="onCancelPrCallApproval()">Cancel</button>
                </div>
            </form>
        </p-scrollPanel>
    </div>
</div>


<!-- equipment pop up -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="equipmentDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '980px'}">
    <p-header>
        Request Number
    </p-header>
    <form [formGroup]="equipmentForm" customForm class="fidelity-popup-form" style="font-size: 0.9rem!important;"
        (ngSubmit)="onSubmitEquipment()">

        <div>
            <div>
                <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                    <div class="ibox-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Stock Code/Description</label>
                                    <!-- <p-dropdown [options]="results" (onChange)="onSelect($event.value)"
                                        [disabled]='statusDisableFlag' optionLabel="itemFullName"
                                        placeholder="Select Stock Code/Description" appendTo="body"
                                        formControlName="stockCodeSearch" filter="true" [showClear]="true">
                                    </p-dropdown> -->
                                    <p-multiSelect [style]="{'width':'100%'}" [options]="results"
                                        (onPanelHide)="onSelect()" dataKey="id" formControlName="stockCodeSearch"
                                        placeholder="Select Stock Code/Description" optionLabel="itemFullName"
                                        filter="true" [disabled]='statusDisableFlag'>
                                    </p-multiSelect>

                                    <!-- <p-autoComplete formControlName="stockCodeSearch" [suggestions]="results" field="displayName" (onSelect)="onSelect($event)" [size]="30"  appendTo="body" (completeMethod)="search($event)"></p-autoComplete> -->
                                    <!-- <p-autoComplete formControlName="stockCodeSearch" [suggestions]="results"
                                       (onSelect)="onSelect($event)" [size]="30" appendTo="body">
                                        <ng-template let-brand pTemplate="item">
                                            <div class="ui-helper-clearfix">
                                              <strong> {{brand.itemCode}}</strong> - {{brand.displayName}} -->
                                    <!-- <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{brand.displayName}}</div> -->
                                    <!-- </div>
                                        </ng-template>
                                    </p-autoComplete> -->

                                    <!-- <input class="form-control fidelity-form-input" type="text" /> -->
                                </div>
                                <!-- <button type="button" (click)="addEquipment()" class="circle-plus-btn p-absolute" matTooltip="Add" style="right: -25px;top: 33px;">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>                                   -->
                            </div>

                        </div>
                        <div class="row header-row" style="font-size: 1rem;">
                            <div class="col-2">Stock Code</div>
                            <div class="col-2">Stock Description</div>
                            <div class="col-1">Stock Type</div>
                            <div class="col-1">UOM</div>
                            <div class="col-2">Amount Excl Vat</div>
                            <div class="col-2">Amount Incl Vat</div>
                            <div class="col-1">QTY Required</div>
                            <div class="col-1"></div>
                        </div>
                        <div formArrayName="equipmentList"
                            *ngFor="let obj of getEquipmentListArray?.controls;let i=index">

                            <div class="row children-row mb-1" style="font-size: 1rem;" [formGroupName]="i">
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        formControlName="itemCode" />
                                </div>
                                <div class="col-2" title="{{obj.get('itemName').value}}">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        title="{{obj.get('itemName').value}}" formControlName="itemName" />
                                    <!-- <a class="form-control fidelity-form-input "  title="{{obj.get('itemName').value}}" >{{obj.get('itemName').value}}</a>
                                        <a   title="{{obj.get('itemName').value}}" >{{obj.get('itemName').value}}</a> -->

                                </div>
                                <div class="col-1">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        title="{{obj.get('stockItem').value}}" formControlName="stockType" />
                                </div>
                                <div class="col-1">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        title="{{obj.get('uomName').value}}" formControlName="uomName" />
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        formControlName="exclVATFormat" style="text-align: right;" />
                                    <!-- <p-inputMask  formControlName="exclVAT"  mask="?99 99 999.99"></p-inputMask> -->

                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        formControlName="inclVATFormat" style="text-align: right;" />
                                </div>
                                <div class="col-1">
                                    <!-- <input class="form-control fidelity-form-input" type="text" (focusout)="getTotalDiff()" formControlName="qtyRequired" /> -->
                                    <input
                                        class="form-control fidelity-form-input {{statusDisableFlag ? 'disabled' : ''}}"
                                        type="text" name="QTY" formControlName="qtyRequired"
                                        [validateInput]="isANumberOnly" />
                                </div>
                                <div class="col-1" *ngIf="!statusDisableFlag">
                                    <button class="circle-minus-btn" style="right: 19px;" type="button"
                                        (click)="remove(i)" title="Delete"><i aria-hidden="true"
                                            class="icon icon-delete"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row children-row mb-1 justify-content-end" style="font-size: 1rem;">
                            <!-- <div class="col-10"> <b></b></div> -->
                            <div class="col-2">
                                <b>Total Excl. Vat</b>
                            </div>
                            <div class="col-2">
                                <input class="form-control fidelity-form-input disabled" type="text"
                                    formControlName="totalDiffFormat" style="text-align: right;" />
                            </div>
                        </div>
                    </div>

                </p-scrollPanel>
            </div>

        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix" *ngIf="!statusDisableFlag">
                <div class="text-center">
                    <button type="submit" pButton class="ui-button-success mr-4"
                        style="display: inline-block;background: #115943!important;" label="Submit"></button>
                    <button (click)="equipmentDialog = false;" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </div>
        </p-footer>

    </form>
</p-dialog>


<!-- view equipment pop up -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="viewEquipmentDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '980px'}">
    <p-header>
        Request Number
    </p-header>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">

        <div>
            <div>
                <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                    <div class="ibox-body" *ngIf="prItemDetails?.length > 0">

                        <div class="row header-row" style="font-size: 1rem;">
                            <div class="col-2">Stock Code</div>
                            <div class="col-2">Stock Description</div>
                            <div class="col-1">Stock Type</div>
                            <div class="col-1">UOM</div>
                            <div class="col-2">Amount Excl Vat</div>
                            <div class="col-2">Amount Incl Vat</div>
                            <div class="col-1">QTY Required</div>
                            <div class="col-1"></div>
                        </div>
                        <div *ngFor="let obj of prItemDetails;let i=index">

                            <div class="row children-row mb-1" style="font-size: 1rem;">
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.itemCode}}" />
                                </div>
                                <div class="col-2" title="{{obj?.itemName}}">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.itemName}}" />
                                    <!-- <a class="form-control fidelity-form-input "  title="{{obj.get('itemName').value}}" >{{obj.get('itemName').value}}</a>
                                        <a   title="{{obj.get('itemName').value}}" >{{obj.get('itemName').value}}</a> -->

                                </div>
                                <div class="col-1">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.stockType}}" />
                                </div>
                                <div class="col-1">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.uomName}}" />
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.exclVATFormat}}" style="text-align: right;" />

                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{obj?.inclVATFormat}}" style="text-align: right;" />
                                </div>
                                <div class="col-1">
                                    <input class="form-control fidelity-form-input disabled" type="text" name="QTY"
                                        value="{{obj?.qtyRequired}}" />
                                </div>
                            </div>
                        </div>
                        <div class="row children-row mb-1 justify-content-end" style="font-size: 1rem;">
                            <!-- <div class="col-10"> <b></b></div> -->
                            <div class="col-2">
                                <b>Total Excl. Vat</b>
                            </div>
                            <div class="col-2">
                                <input class="form-control fidelity-form-input disabled" type="text"
                                    value="{{totalDiffFormat}}" style="text-align: right;" />
                            </div>
                        </div>
                    </div>
                    <div class="ibox-body" *ngIf="prItemDetails?.length == 0">
                        <p style="text-align: center;" class="no-data-msg mt-2">No Data Available</p>
                    </div>

                </p-scrollPanel>
            </div>

        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="text-center">
                    <!-- <button type="submit" pButton class="ui-button-success mr-4"
                        style="display: inline-block;background: #115943!important;" label="Submit"></button> -->
                    <button (click)="viewEquipmentDialog = false;" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Close</button>
                </div>
            </div>
        </p-footer>

    </form>
</p-dialog>