<app-page-header class="row faq-config ml-2" [tableCaption]="primengTableConfigProperties?.tableCaption"
  [tableComponentConfigs]="primengTableConfigProperties?.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
  (buttonClicked)="onCRUDRequested($event)"[breadCrumbItems]="primengTableConfigProperties.breadCrumbItems">
</app-page-header>

<app-page-tab [selectedIndex]="selectedTabIndex"
  [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList" (tabClicked)="tabClick($event)">
</app-page-tab>

<div class="ibox white-bg" style="height: auto;" >

  <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
    <div class="ibox-body" *ngIf="selectedTabIndex ==0">
      <form customForm *ngIf="ageAnalysisForm" [formGroup]="ageAnalysisForm" (ngSubmit)="onSubmitAgeAnalysis()">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Division</label>
              <select class="fidelity-form-input form-control" formControlName="divisionId">
                <option value="" disabled>Select Division</option>
                <option *ngFor="let division of divisionList" [value]="division.id"> {{division.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>BDI Number</label>
              <input type="text" class="fidelity-form-input form-control" formControlName="bdiNumber">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Debtor Code</label>
              <input type="text" class="fidelity-form-input form-control" formControlName="debtorRefNo">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Controller Name</label>
              <input type="text" class="fidelity-form-input form-control" formControlName="controller">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Bill Name</label>
              <input type="text" class="fidelity-form-input form-control" formControlName="billName">
            </div>
          </div>
          <!-- <div class="col-4">
            <div class="form-group">
              <label class="mt-4 "> <i class=" fa fa-info"></i> Always Include aging</label>
            </div>
          </div> -->
        </div>
        <div class="text-center mt-4 mb-3">
          <button class="btn btn-md-fidelity fidelity-btn-brown">Generate List</button>
        </div>
      </form>
      </div>
      <div class="ibox-body" *ngIf="selectedTabIndex ==1">
        <form customForm *ngIf="ageAnalysisForm" [formGroup]="ageAnalysisForm" (ngSubmit)="onSubmitAgeAnalysis()">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Division</label>
                <select class="fidelity-form-input form-control" formControlName="divisionId">
                  <option value="" disabled>Select Division</option>
                  <option *ngFor="let division of divisionList" [value]="division.id"> {{division.displayName}}</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Branch</label>
                <select class="fidelity-form-input form-control" formControlName="branch">
                  <option value="" disabled>Select Branch</option>
                  <option *ngFor="let branch of branchDropdown" [value]="branch.id"> {{branch.displayName}}</option>
                </select>
                <!-- <input type="text" name="branch" class="fidelity-form-input form-control" formControlName="branch"> -->
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>BDI Number</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="bdiNumber">
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Controller Name</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="controller">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Bill Name</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="billName">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Latest Dealer</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="latestDealer">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Bucket Status</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="bucketStatus">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Active Status</label>
                <select name="offset" class="fidelity-form-input form-control" formControlName="activeStatus">
                  <option value="">Select Status</option>
                  <option value="active">Active</option>
                  <option value="Inactive">In-Active</option>
                </select>
                <!-- <input type="text" class="fidelity-form-input form-control" formControlName="activeStatus"> -->
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Arrear Status</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="arrearStatus">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Offset</label>
                <select name="offset" class="fidelity-form-input form-control" formControlName="offset">
                  <option value="">Select Offset</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Debtor Code</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="debtorRefNo">
              </div>
            </div>

            <!-- <div class="col-4">
              <div class="form-group">
                <label>Due Date</label>

                <input type="text" class="fidelity-form-input form-control" formControlName="debtorRefNo">
              </div>
            </div> -->
            <div class="col-4">
              <div class="form-group">
                <label>Bucket Count</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="bucketCount">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Payment Method</label>
                <select name="offset" class="fidelity-form-input form-control" formControlName="paymentMethod">
                  <option value="">Select Payment Method</option>
                 <option *ngFor="let type of paymentMethod" [value]="type.displayName">
                   {{type.displayName}}
                 </option>
                </select>
                <!-- <input type="text" class="fidelity-form-input form-control" formControlName="paymentMethod"> -->
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Debit Date</label>
                <p-calendar   formControlName="debitDate"
                appendTo="body"  [style]="{'width':'100%'}">
              </p-calendar>
                <!-- <input type="text" class="fidelity-form-input form-control" formControlName="paymentMethod"> -->
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Dealer Name</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="dealerName">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Last Paid Date</label>
                <p-calendar   formControlName="latestPaidDate"
                appendTo="body"  [style]="{'width':'100%'}">
              </p-calendar>
                <!-- <input type="text" class="fidelity-form-input form-control" formControlName="latestPaidDate"> -->
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Last Unpaid Date</label>
                <p-calendar   formControlName="latestUnPaidDate"
                appendTo="body"  [style]="{'width':'100%'}">
              </p-calendar>
                <!-- <input type="text" class="fidelity-form-input form-control" formControlName="latestUnPaidDate"> -->
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Risk</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="risk">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Latest Unpaid Reason</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="risk">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>latest Dealer Warranty End Date</label>
                <p-calendar   formControlName="latestDealerWarrantyEndDate"
                appendTo="body"  [style]="{'width':'100%'}">
              </p-calendar>
                <!-- <input type="text" class="fidelity-form-input form-control" formControlName="latestDealerWarrantyEndDate"> -->
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Contoller No</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="controllerNo">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Contoller Email</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="controllerNo">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>SMS Debtor</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="smsDebtor">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Phone Number 1</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="phoneNo1">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Phone Number 2</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="phoneNo2">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Fax No</label>
                <input type="text" class="fidelity-form-input form-control" formControlName="faxNo">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="fidelity-form-input form-control fidelity_email" formControlName="email">
              </div>
            </div>

          </div>
          <div class="text-center mt-4 mb-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown">Generate List</button>
          </div>
        </form>
        </div>

      <app-page-list-table [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
        [pageSize]="pageSize" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
        [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
        (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
      </app-page-list-table>

  </p-scrollPanel>
</div>
