<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">
                <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
                    <div class="ibox-body mb-2 view-box">
                        <app-view-page [col]="2" [viewDetail]="dmWorkListDetail" [marginClass]="'m-0 pl-0'">
                        </app-view-page>
                        <div>
                            <div class="row header-row mt-2">
                                <div class="col-3">Stock Code</div>
                                <div class="col-3">Stock Description</div>
                                <div class="col-2">Consumable</div>
                                <div class="col-2">Received Qty</div>
                                <div class="col-2">Requested Qty</div>
                            </div>
                            <div class="row children-row mb-1"
                                *ngFor="let item of customerOrderDetails?.customerOrderTechnicianTransferItems">
                                <div class="col-3">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        [value]="item.stockCode" matTooltip="{{item.stockCode}}" />
                                </div>
                                <div class="col-3">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        [value]="item.stockName" matTooltip="{{item.stockName}}" />
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        [value]="item.consumables" matTooltip="{{item.consumables}}" />
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        [value]="item.receivedQantity" matTooltip="{{item.receivedQantity}}" />
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        [value]="item.quantity" matTooltip="{{item.quantity}}" />
                                </div>

                            </div>
                        </div>

                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>