<div class="mat-dialog-container" id="wd_req_modal">
    <div class="fidelity-popup-heading container-fluid">Address Details</div>
<form class="fidelity-popup-form">

    <mat-dialog-content>
       
      
        <div class="row" *ngFor="let item of addressDetails">
            <div class="col-1">
                <input type="radio" name="IsSerialized" id="IsSerialized" value="Yes" (click)="onCheckboxChange(item)"> 
            </div>
            <div class="col-11">
                <div class="d-flex justify-content-left align-items-center">
                   <label>{{item.fullAddress}}</label>
                </div>
            </div>
        </div>
        
    </mat-dialog-content>
    <!-- <hr> -->
    <mat-dialog-actions align="end">
        <button mat-button  class="btn btn-md-fidelity fidelity-btn-brown" [mat-dialog-close]="true" (click)="submit()" type="submit">Update</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>
</div>

