<div class="page-heading ">
  <h1 class="page-title d-inline-block"
    *ngIf="requestType == 'No Contact List' || requestType == 'Task List' || requestType == 'Add No Contact'">
    {{requestType == 'No Contact List' ? 'Edit' : 'Add'}} No Contact
  </h1>
  <h1 class="page-title d-inline-block" *ngIf="requestType == 'DOA Dashboard'">
    No Contact ITC Trace
  </h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
    <li class="breadcrumb-item"> <a> Customer Management </a> </li>
    <li class="breadcrumb-item">
      <a (click)="navigateToList()"> Call Wrap Up Codes </a>
    </li>
    <li class="breadcrumb-item" *ngIf="requestType == 'No Contact List'">
      <a (click)="navigateToNoContactList()"> No Contact List </a>
    </li>
    <li class="breadcrumb-item" *ngIf="requestType == 'No Contact List'">
      <a (click)="navigateToView()"> No Contact View </a>
    </li>
    <li class="breadcrumb-item" *ngIf="requestType == 'No Contact List' || requestType == 'Task List' ||
            requestType == 'Add No Contact'">
      {{requestType == 'No Contact List' ? 'Edit' : 'Add'}} No Contact
    </li>
    <li class="breadcrumb-item" *ngIf="requestType == 'DOA Dashboard'"> No Contact ITC Trace </li>
  </ol>
  <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox white-bg">
        <form customForm [formGroup]="callWrapupNoContactAddEditForm">
          <div class="ibox-body brown-border view-box">
            <div class="row mt-1">
              <div class="col-4" *ngIf="requestType == 'Task List' || requestType == 'Add No Contact'">
                <div class="form-group">
                  <label> Debtor Outcome <span class="mandatory-field">*</span> </label>
                  <select name="callOutcomeId" class="form-control fidelity-form-input" formControlName="callOutcomeId">
                    <option value="null" disabled> Select </option>
                    <option [value]="items.id" *ngFor="let items of debtorOutcomeDropdown; let i=index">
                      {{items.displayName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-4" *ngIf="requestType == 'Task List' || requestType == 'Add No Contact'">
                <div class="form-group">
                  <label> Call Wrap Up Code <span class="mandatory-field">*</span> </label>
                  <select name="callWrapupId" class="form-control fidelity-form-input" formControlName="callWrapupId">
                    <option value="null" disabled> Select </option>
                    <option [value]="data.callWrapupId" *ngFor="let data of callWrapupCodeDropdown; let i=index">
                      {{data.callWrapupCode}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-4" *ngIf="requestType != 'Task List' && requestType != 'Add No Contact'">
                <label class="d-block"> Debtor Outcome </label>
                <div class="form-group">
                  <input class="form-control fidelity-form-input" formControlName="callOutcomeName" disabled>
                </div>
              </div>
              <div class="col-4" *ngIf="requestType != 'Task List' && requestType != 'Add No Contact'">
                <label class="d-block"> Call Wrap Up Code </label>
                <div class="form-group">
                  <input class="form-control fidelity-form-input" formControlName="callWrapupCode" disabled>
                </div>
              </div>
              <div class="col-4">
                <label class="d-block"> Outstanding Balance <span class="mandatory-field">*</span> </label>
                <div class="form-group">
                  <input class="form-control fidelity-form-input" formControlName="outstandingBalance"
                    [validateInput]="numberConfig" [maxlength]="6">
                </div>
              </div>
              <div class="col-4 fidelity-date-picker-con p-relative standby-roaster-date-con mt-2">
                <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                  <label class="d-block" for=""> Call Date </label>
                  <p-calendar  formControlName="callDate"  [disabled]="true" [minDate]="minDate" styleClass="w-100">
                  </p-calendar>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="page-sub-title mt-3 mb-3" style="padding-left: 15px; font-size: 16px;"> KEY HOLDER DETAILS
              </div>
            </div>
            <p-scrollPanel [style]="{height: '32vh'}" styleClass="custom">
              <div *ngIf="callWrapupNoContactAddEditForm?.get('noContactKeyHolders')?.value.length > 0">
                <div class="" formArrayName="noContactKeyHolders"
                  *ngFor="let groupTObj of callWrapupNoContactAddEditForm?.get('noContactKeyHolders')?.controls;let i=index">
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="col-2">
                        <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"
                          formControlName="keyHolderChecked" (change)="checkedKeyHolderEvent($event.checked, i)">
                          <span style="font-weight: 600;"> {{groupTObj?.get('keyHolderName')?.value}} </span>
                        </mat-checkbox>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4" *ngIf="groupTObj?.get('noContactkeyChecked')?.value">
                        <label class="d-block"> Outcome </label>
                        <div class="form-group">
                          <input class="form-control fidelity-form-input" formControlName="callOutcomeName" disabled>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="groupTObj?.get('noContactkeyChecked')?.value">
                        <label class="d-block"> Call Wrap Up Code </label>
                        <div class="form-group">
                          <input class="form-control fidelity-form-input" formControlName="callWrapupCode" disabled>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="!groupTObj?.get('noContactkeyChecked')?.value">
                        <label class="d-block"> Outcome </label>
                        <div class="form-group">
                          <select name="callOutcomeId" class="form-control fidelity-form-input"
                            formControlName="callOutcomeId" (change)="getCallwrapupCode($event.target.value, i)">
                            <option value="null" disabled> Select </option>
                            <option [value]="debt.id" *ngFor="let debt of debtorOutcomeDropdown; let i=index">
                              {{debt.displayName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="!groupTObj?.get('noContactkeyChecked')?.value">
                        <label class="d-block"> Call Wrap Up Code </label>
                        <div class="form-group">
                          <select name="callWrapupId" class="form-control fidelity-form-input"
                            formControlName="callWrapupId">
                            <option value="null" disabled> Select </option>
                            <option [value]="codes.callWrapupId"
                              *ngFor="let codes of groupTObj?.get('wrapupCodesDropdown')?.value; let i=index">
                              {{codes.callWrapupCode}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-4 fidelity-date-picker-con p-relative standby-roaster-date-con">
                        <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                          <label class="d-block" for=""> Call Date </label>
                          <p-calendar formControlName="callDate" [minDate]="minDate" styleClass="w-100">
                          </p-calendar>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="callWrapupNoContactAddEditForm?.get('noContactKeyHolders')?.value.length <= 0"
                class="col-12 mt-3">
                <div class="text-center text-muted no-records-found-con">
                  <span><b>No Records Found</b></span>
                </div>
              </div>
            </p-scrollPanel>
            <div class="row mt-2" style="padding-left: 15px;" *ngIf="requestType == 'DOA Dashboard'">
              <button type="button" [disabled]="!noContactGetDetails?.isPendingCollectionTrace"
                class="col-2 btn btn-md-fidelity fidelity-btn-brown" (click)="openITCRequest()"> Collections Trace 6502
              </button>
              <button type="button" [disabled]="!noContactGetDetails?.isPendingStrikeDateTrace"
                class="col-2 btn btn-md-fidelity fidelity-btn-brown" (click)="openITCRequest()"> Strike Date Calender
                7403
              </button>
            </div>
          </div>
          <div class="text-center mt-3" *ngIf="requestType != 'DOA Dashboard'">
            <button type="button" [disabled]="noContactGetDetails?.isRequestComplete"
              class="btn btn-md-fidelity fidelity-btn-brown" (click)="openRequest()"> Request ITC Trace </button>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-brown" (click)="onsubmit('form')"> {{
              noContactId ? 'Update' : 'Submit' }} </button>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()">
              Cancel </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="requestITCTraceModal" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '600px'}">
    <p-header> Request ITC Trace </p-header>
    <form class="fidelity-popup-form" customForm [formGroup]="requestTraceStockInfoForm">
      <div class="row mt-1">
        <div class="col-6">
          <div class="ui-g-6 form-group">
            <p-radioButton class="fidelity-radio-btn" name="itcRequest" label="Collections"
              (onClick)="onRadioChange('isStrikeDate')" [value]="true" formControlName="isCollections"
              inputId="preopt1">
            </p-radioButton>
          </div>
          <div class="ui-g-6 form-group">
            <p-radioButton class="fidelity-radio-btn" name="itcRequest" label="Strike Date"
              (onClick)="onRadioChange('isCollections')" [value]="true" formControlName="isStrikeDate"
              inputId="preopt2">
            </p-radioButton>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12">
          <div class="form-group">
            <label> Notes </label>
            <textarea class="form-control fidelity-form-input" id="reasons" name="notes" formControlName="notes"
              placeholder="Notes" maxlength="500"> </textarea>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-6">
          <div class="form-group">
            <label class="d-block"> Previous Trace Requested </label>
            <radio-group-custom-control [loopableArray]="['Yes','No']" name="isPreviousTraceRequested"
              formControlName="isPreviousTraceRequested"></radio-group-custom-control>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-6 fidelity-date-picker-con p-relative standby-roaster-date-con mt-2">
          <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
            <label class="d-block" for=""> Last ITC Trace Date </label>
            <p-calendar  formControlName="lastITCTraceDate" [minDate]="minDate" styleClass="w-100">
            </p-calendar>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Attach File (.Pdf,.Docs,.Jpeg,.Png,.xlsx) </label>
            <div
              style="width: 100%; height: 40px; z-index: 0; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5; width: 100%; height: 100%; opacity: 0;">
              <input #fileInput type="file" name="_formFiles"
                [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']" placeholder="Upload Document"
                style="margin-top: 33px; height: 40px; width: 100%;" (change)="uploadFiles($event.target.files)" />
            </div>
            <div style="width: 100%; z-index: 1000;">
              <label for="file" class="sr-only">File</label>
              <div class="input-group" style="height: 40px;">
                <input type="text" name="filename" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;"
                  class="form-control" placeholder="{{listOfFiles.join(', ')}}" readonly>
                <span class="input-group-btn">
                  <div class="btn custom-file-uploader"
                    style="height: 40px; padding: 12px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;cursor: pointer;">
                    Browse
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix mt-3">
          <div class="text-center">
            <button type="button" (click)="onsubmit('modal')" class="btn btn-md-fidelity fidelity-btn-brown"> Submit
            </button>
            <button type="button" (click)="requestITCTraceModal = false"
              class="btn btn-md-fidelity fidelity-btn-grey btn-default"> Cancel
            </button>
          </div>
        </div>
      </p-footer>
    </form>
  </p-dialog>
