<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form [formGroup]="rateOurServiceDialogForm" customForm class="fidelity-popup-form"
        (ngSubmit)="onSubmitDialog()" style="font-size: 0.9rem!important;">
        <div>
            <div>
                <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                    <div class="view-box pr-3">
                        <div class="row mt-1" *ngIf="config?.isRateOurServiceFollowup">
                            <div class="col-lg-12 mt-3 mb-2">
                                <h2 class="msg-txt">{{config?.resources?.message ?
                                    config?.resources?.message : '-'}}</h2>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Contact<span class="mandatory-field">*</span></label>
                                    <select class="form-control fidelity-form-input" name="ContactId" id="ContactId"
                                        formControlName="ContactId">
                                        <option value="" disabled selected>Select contact</option>
                                        <option *ngFor="let item of config?.contact;" [value]="item.customerId">
                                            {{item.customerName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Contact No<span class="mandatory-field">*</span></label>
                                    <select class="form-control fidelity-form-input" name="ContactNo" id="ContactNo"
                                        formControlName="ContactNo">
                                        <option value="" disabled selected>Select contact no</option>
                                        <option *ngFor="let item of config?.contact;" [value]="item.customerId">
                                            {{item.mobile1}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group p-relative">
                                    <label>Follow-Up Date</label>
                                    <p-calendar formControlName="FollowUpDate" [readonlyInput]="true" [showTime]="true" hourFormat="24" [hideOnDateTimeSelect]="true" styleClass="w-100"></p-calendar>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Status<span class="mandatory-field">*</span></label>
                                    <select class="form-control fidelity-form-input"
                                        name="RateOurServiceFollowUpStatusId" id="RateOurServiceFollowUpStatusId"
                                        formControlName="RateOurServiceFollowUpStatusId">
                                        <option value="" disabled selected>Select status</option>
                                        <option *ngFor="let item of config?.status;" [value]="item.id">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Comments<span class="mandatory-field">*</span></label>
                                    <textarea class="form-control fidelity-form-input" type="text" rows="2"
                                        formControlName="Comments" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1" *ngIf="config?.isRateOurService">
                            <app-view-page [col]="2" [viewDetail]="viewRateServiceDetails"></app-view-page>
                        </div>
                        <div class="ibox mt-1" *ngIf="config?.isRateOurService || config?.isViewRating">
                            <ng-container *ngIf="config?.isRateOurService">
                                <app-no-contacts-item [noContactsItemForm]="rateOurServiceDialogForm"
                                    [isLoading]="isRateServiceLoading" [selectedCustomer]="true"
                                    [callStatusList]="config?.contact" [noContactsFormArrayName]="'rateServiceDetailsArray'"
                                    (changeStatus)="onChangeStatus($event)" (initCall)="callDail($event)" (feedbackClicked)="onFeedbackClick($event)">
                                </app-no-contacts-item>
                            </ng-container>
                            <div class="row feedback-con">
                                <div class="col-12 mt-3 mb-2">
                                    <h2 class="msg-txt">Customer satisfaction is important to us, please rate our service:</h2>
                                </div>
                                <div class="col-4" formArrayName="rateServiceQuestionsArray"
                                    *ngFor="let item of getRateQuesFormArray?.controls;let i=index">
                                    <div class="form-group" [formGroupName]="i">
                                        <label
                                            class="feedback-category-header">{{item?.get('serviceRatingItems')?.value}}</label>
                                        <div class="row ml-1">
                                            <label class="d-flex align-items-center pointer mt-2 mb-3"
                                                (click)="onSelectRatingItem(i, j)"
                                                [ngClass]="{'selected': getSelectedRating(item1)}" [for]="'isRated'+i+j"
                                                formArrayName="rateServiceEmojis"
                                                *ngFor="let item1 of getRateEmojiFormArray(i)?.controls;let j=index">
                                                <div class="d-flex flex-column align-items-center mr-4"
                                                    [formGroupName]="j">
                                                    <div
                                                        class="img-con d-flex align-items-center justify-content-center">
                                                        <img [src]="item1?.get('path')?.value" alt="">
                                                    </div>
                                                    <input [attr.name]="'isRated'+i" [id]="'isRated'+i+j" type="radio"
                                                        formControlName="isRated" value="true" style="display: none;" />
                                                    <div class="rating rating-name">{{item1?.get('emojiName')?.value}}
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                        <span class="text-danger" *ngIf="isShowSmileyError && config?.isRateOurService">
                                            {{item?.get('serviceRatingItems')?.value}} is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4" *ngIf="config?.isRateOurService">
                                    <label class="d-block">Comments<span class="mandatory-field">*</span></label>
                                    <textarea class="form-control fidelity-form-input" type="text" rows="2"
                                        formControlName="comments" required></textarea>
                                </div>
                                <div class="col-4" *ngIf="config?.isRateOurService">
                                    <label class="d-block">Customer Name<span class="mandatory-field">*</span></label>
                                    <input type="text" name="customerName" id="customerName" autocomplete="off"
                                        class="form-control fidelity-form-input" formControlName="customerName"
                                        required>
                                    <span class="text-danger"
                                        *ngIf="rateOurServiceDialogForm?.get('customerName')?.touched && isShowCustomerNameError">
                                        Customer name is required
                                    </span>
                                </div>
                                <div class="col-4 mb-5" *ngIf="config?.isRateOurService">
                                    <label class="d-block">Date</label>
                                    <input type="text" name="customerDate" id="customerDate" autocomplete="off"
                                        class="form-control fidelity-form-input" formControlName="customerDate"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix pt-3">
            <div class="text-center">
                <button (click)="btnViewRatingClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3"
                    type="button" *ngIf="config?.isRateOurServiceFollowup">View Rating</button>
                <button type="submit" pButton class="ui-button-success btn-fdt-submit mr-3"
                    [disabled]="!rateOurServiceDialogForm.valid || isRateOurServiceSubmit" label="Submit"
                    *ngIf="!config?.isViewRating"></button>
                <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3"
                    type="button">{{config?.isViewRating ? 'Close' : 'Cancel'}}</button>
            </div>
        </div>
    </form>
</div>
