::ng-deep .stock-order .mat-input-element  {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    padding: 10px!important;
}
::ng-deep mat-form-field.mat-form-field {
    border-radius: 4px;
}
::ng-deep .mat-select-value {
    height: 30px;
    padding: 7px;
    font-weight: 600;
}
::ng-deep .mat-select-value {
    color: rgba(0,0,0,.87);
}