<div class="page-heading">
    <h1 class="page-title d-inline-block">View Action Group</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Customer Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/customer/ticket-groups'>Action Group List</a></li>
        <li class="breadcrumb-item">View Action Group</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-1">
        <a title="Edit"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            routerLink="/customer/ticket-groups/add-edit"
            [queryParams]="{id: ticketGroupId}" skipLocationChange><i aria-hidden="true" class="icon icon-edit"></i></a>
    </div>
</div>

<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">
                <p-scrollPanel [style]="{ height: '65vh'}">
                    <div class="ibox-body brown-border white-bg">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row line-height">
                                    <div class="col-lg-6">
                                        <div id="key_Purchase_Order">Action Group Name</div>
                                        <div id="key_Created_Date">Description</div>

                                    </div>
                                    <div class="col-lg-6">
                                        <div id="value_orderNumber"><b>{{ticketGroupDetail.ticketGroupName}}</b></div>

                                        <div id="value_createdDate" class="">
                                                <b>{{ticketGroupDetail.description?ticketGroupDetail.description:'Nil'}}</b>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row line-height">
                                    <div class="col-lg-6">
                                        <div id="key_Supplier_Name">Status</div>

                                    </div>
                                    <div class="col-lg-6">
                                        <div id="value_supplierName">
                                            <b>{{ticketGroupDetail.isActive == true ? 'Active' : 'InActive'}}</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>

        </div>
    </div>
</div>