<div class="fidelity-popup-heading container-fluid p-relative">Serial Number Info
    <button mat-icon-button class="close-button p-absolute" (click)="onDismiss()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
        <form  class="fidelity-popup-form" [formGroup]="serialInfoForm">
            <div class="ibox" style="height: auto;">
                    <div class="ibox-body mb-3">
                        <app-view-page [col]="2" [viewDetail]="returnForRepairSerialInfoDetail" [marginClass]="'m-0 p-0'">
                        </app-view-page>
                    </div>
                    <div class="ibox-body sm-inputs">
                        <!-- <form > -->
                        <div class="row">
                            <div class="col-4" >    
                                <div class="form-group">
                                    <label>Is Serialised</label><br>
                                    <mat-radio-group  name="Type Of Fee"  formControlName="isSerialised">
                                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                            Yes
                                        </mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                            No
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-4" *ngIf="data.stockDetails.isConsumable == 'No' || data.stockDetails.isConsumable == null || data.stockDetails.isConsumable == 0 || data.stockDetails.isConsumable == '0' ">
                                <div class="form-group">
                                    <label>Scan/Enter Serial Number</label>
                                    <div class="input-group fidelity-input-addon mb-3">
                                        <input class="form-control fidelity-form-input" type="text"
                                            name="" placeholder="Enter" maxlength=""
                                             formControlName="serialBarCode">
                                        <div class="input-group-append">
                                            <button class="text-white" type="button" (click)="SerialBarcode()" [disabled]="serialInfoForm.get('isSerialNumber').value">
                                                <i aria-hidden="true" class="icon icon-scan-code"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-4 d-flex justify-content-start align-items-end" *ngIf="data.stockDetails.isConsumable == 'No' || data.stockDetails.isConsumable == null  || data.stockDetails.isConsumable == 0 || data.stockDetails.isConsumable == '0' " >
                                <div class="form-group d-flex justify-content-start align-items-center">
                                    <mat-checkbox class="fidelity-checkbox" formControlName="isSerialNumber">Serial Number Not Available</mat-checkbox>
                                </div>                    
                            </div>    
                            <div class="col-4" *ngIf="data.stockDetails.isConsumable == 'Yes' || serialInfoForm.get('isSerialNumber').value">
                                <div class="form-group">
                                    <label>Stock Count</label>
                                    <div class="input-group fidelity-input-addon mb-3">
                                        <input class="form-control fidelity-form-input" type="text"
                                            name="" placeholder="Enter" maxlength=""
                                            formControlName="stockCount">
                                        <div class="input-group-append">
                                            <button class="text-white" type="button" (click)="SerialBarcode()">
                                                <i aria-hidden="true" class="icon icon-debit-order"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- {{data.stockDetails.isConsumable}} / {{serialInfoForm.get('isSerialNumber').value}} -->
                            <div class="col-4" >
                                <div class="form-group">
                                    <label>Return to Customer Qty</label>
                                    <input class="form-control fidelity-form-input" type="text" formControlName="returnCusterQty"/>
                                </div>                    
                            </div>
                        </div>
                    <!-- </form>   -->
                        <div class="row header-row mt-2">
                            <div class="col-3">Serial Number</div>
                            <div class="col-2">Temp Stock Code</div>
                            <div class="col-2">Warranty Status</div>
                            <div class="col-2">Item Status</div>
                            <div class="col-2">Return to Customer</div>
                        </div>
                        <div formArrayName="rtrRequestItemDetails">
                            <div class="row children-row mb-1" *ngFor="let control of getReturnForRepairSerialInfoFormArray?.controls; let i = index" [formGroupName]="i">
                                <div class="col-3">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="serialNumber"/>
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="tempStockCode"/>
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="warrentyStatus"/>
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="rtrRequestItemStatusName"/>
                                </div>
                                <div class="col-2" *ngIf="control.value.serialNumber !=null">
                                    <select class="form-control fidelity-form-input" name="" formControlName="isReturnToCustomer">
                                        <option value="true"> Yes</option>
                                        <option value ="false">No</option>
                                    </select>                            
                                </div>
                                <div class="col-2" *ngIf="control.value.serialNumber ==null">
                                    <input class="form-control fidelity-form-input disabled" type="text" value=""/>
                                </div>
                                <div class="col-1">
                                    <button matTooltip="Delete" class="circle-minus-btn" (click)="deleteSerial(i)">
                                        <i aria-hidden="true" class="icon icon-delete"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div> 
            <hr>
            <mat-dialog-actions align="end">
                <button  id="Feature_create_btn"  class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"  (click)="onSave()"
                  [disabled]="enableSave"  >Save</button>
                <button  type="button"  id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
                (click)="onDismiss()">Cancel</button>
            </mat-dialog-actions>
        </form>
    </p-scrollPanel>
</mat-dialog-content>
<!-- </form> -->