<div class="page-heading ">
  <h1 class="page-title no-border">Arming and Disarming Time</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item">Customer Management</li>
    <li class="breadcrumb-item"><a routerLink="/customer/non-customer-profile"> Non Customers</a>
    </li>
    <li class="breadcrumb-item"> Arming and Disarming Time</li>
  </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <form autocomplete="off" customForm [formGroup]="openCloseMonitoringForm" (ngSubmit)="onSubmit()"
            class="open-close-form">
            <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
                <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
                    <div class="p-absolute" style="right: 47px!important;
                    top: 8px;z-index: 2;display: inline-flex !important;">
                        <div class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
                            <button type="button" (click)="onArrowClick('previous')">
                                <i class="icon icon-backward"></i>
                            </button>
                            <span
                                class="d-flex stage-no mr-2 ml-2">5</span>
                            <button type="button" [disabled]="!openAndCloseMonitoringId"  (click)="onArrowClick('next')">
                                <i class="icon icon-forward"></i>
                            </button>
                        </div>
                    </div>
                    <p-scrollPanel [style]="{height: '61vh'}" styleClass="custom">
                        <fieldset [disabled]="isDisabled">
                            <div class="row align-items-center mb-2">
                                <div class="col-10 page-sub-title">
                                    Arming and Disarming Time
                                </div>

                            </div>
                            <div class="row">
                              <div class="col-12">
                                  <div class="row">
                                      <div class="col-4">
                                          <div class="row">
                                              <label class="col-12">Monday</label>

                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="mondayArmingTime" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                                                  </div>

                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="mondayDisarmingTime" [readonlyInput]="true" (onSelect)="ifEmpty(openCloseMonitoringForm?.value?.mondayArmingTime)"[disabled]="!openCloseMonitoringForm?.value?.mondayArmingTime"
                                                    [minDate]="openCloseMonitoringForm?.get('mondayArmingTime')?.value"  [maxDate]="todayEndTime(openCloseMonitoringForm?.get('mondayArmingTime')?.value)"  [timeOnly]="true"></p-calendar>
                                              </div>
                                          </div>
                                      </div>
                                      </div>

                                      <div class="col-4">
                                          <div class="row">
                                              <label class="col-12">Tuesday</label>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="tuesdayArmingTime" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="tuesdayDisarmingTime" [readonlyInput]="true"  (onSelect)="ifEmpty(openCloseMonitoringForm?.value?.tuesdayArmingTime)" [disabled]="!openCloseMonitoringForm?.value?.tuesdayArmingTime"
                                                    [minDate]="openCloseMonitoringForm?.get('tuesdayArmingTime')?.value"  [maxDate]="todayEndTime(openCloseMonitoringForm?.get('tuesdayArmingTime')?.value)" [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="col-4">
                                          <div class="row">
                                              <label class="col-12">Wednesday</label>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="wednesdayArmingTime" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="wednesdayDisarmingTime" [readonlyInput]="true" (onSelect)="ifEmpty(openCloseMonitoringForm?.value?.wednesdayArmingTime)" [disabled]="!openCloseMonitoringForm?.value?.wednesdayArmingTime" name="End time"
                                                    [minDate]="openCloseMonitoringForm?.get('wednesdayArmingTime')?.value"  [maxDate]="todayEndTime(openCloseMonitoringForm?.get('wednesdayArmingTime')?.value)"[timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-12">
                                  <div class="row">
                                      <div class="col-4">
                                          <div class="row">
                                              <label class="col-12">Thursday</label>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="thursdayArmingTime" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="thursdayDisarmingTime" [readonlyInput]="true"  (onSelect)="ifEmpty(openCloseMonitoringForm?.value?.thursdayArmingTime)" [disabled]="!openCloseMonitoringForm?.value?.thursdayArmingTime"
                                                    [minDate]="openCloseMonitoringForm?.get('thursdayArmingTime')?.value"  [maxDate]="todayEndTime(openCloseMonitoringForm?.get('thursdayArmingTime')?.value)"[timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="col-4">
                                          <div class="row">
                                              <label class="col-12">Friday</label>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="fridayArmingTime" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="fridayDisarmingTime" [readonlyInput]="true" (onSelect)="ifEmpty(openCloseMonitoringForm?.value?.fridayArmingTime)"
                                                    [disabled]="!openCloseMonitoringForm?.value?.fridayArmingTime"
                                                    [minDate]="openCloseMonitoringForm?.get('fridayArmingTime')?.value"  [maxDate]="todayEndTime(openCloseMonitoringForm?.get('fridayArmingTime')?.value)"
                                                    [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-12 mt-2">
                                  <h6 style="color: #bd954b;margin-bottom: 5px;"> WEEKEND</h6>
                              </div>
                              <div class="col-12">
                                  <div class="row">
                                      <div class="col-4">
                                          <div class="row">
                                              <label class="col-12">Saturday</label>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="saturdayArmingTime" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="saturdayDisarmingTime" (onSelect)="ifEmpty(openCloseMonitoringForm?.value?.saturdayArmingTime)" [readonlyInput]="true"
                                                    [disabled]="!openCloseMonitoringForm?.value?.saturdayArmingTime"  [minDate]="openCloseMonitoringForm?.get('saturdayArmingTime')?.value"  [maxDate]="todayEndTime(openCloseMonitoringForm?.get('saturdayArmingTime')?.value)"  [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="col-4">
                                          <div class="row">
                                              <label class="col-12">Sunday</label>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="sundayArmingTime" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="sundayDisarmingTime" (onSelect)="ifEmpty(openCloseMonitoringForm?.value?.sundayArmingTime)" [readonlyInput]="true" [timeOnly]="true"
                                                    [disabled]="!openCloseMonitoringForm?.value?.sundayArmingTime" [minDate]="openCloseMonitoringForm?.get('sundayArmingTime')?.value"  [maxDate]="todayEndTime(openCloseMonitoringForm?.get('sundayArmingTime')?.value)"></p-calendar>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-12 mt-2">
                                  <h6 style="color: #bd954b;margin-bottom: 5px;"> PUBLIC HOLIDAYS</h6>
                              </div>
                              <div class="col-12">
                                  <div class="row">
                                      <div class="col-4">
                                          <div class="row">
                                              <label class="col-12">Public Holidays</label>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="publicHolidayArmingTime" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group">
                                                    <p-calendar formControlName="publicHolidayDisarmingTime"   [disabled]="!openCloseMonitoringForm?.value?.publicHolidayArmingTime" (onSelect)="ifEmpty(openCloseMonitoringForm?.value?.publicHolidayArmingTime)" [readonlyInput]="true" [timeOnly]="true"
                                                    [disabled]="!openCloseMonitoringForm?.value?.publicHolidayArmingTime" [minDate]="openCloseMonitoringForm?.get('publicHolidayArmingTime')?.value"  [maxDate]="todayEndTime(openCloseMonitoringForm?.get('publicHolidayArmingTime')?.value)"
                                                    ></p-calendar>

                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="">Monthly reports emailed to</label>
                                        <input-custom-control [extraClassNames]="'fidelity_email'" formControlName="monthlyReportEmailTo">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row header-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>SMS to be sent</label>
                                                <div class="row header-row mb-2" formArrayName="contacts"
                                                    *ngFor="let contact of openCloseMonitoringForm?.get('contacts')?.controls;let i=index">
                                                    <ng-container [formGroupName]="i">
                                                        <div class="col-6" style="margin-bottom: 10px;">
                                                            <div class="form-group">
                                                                <label>Contact Number
                                                                    <span class="mandatory-field">*</span>
                                                                </label>
                                                                <div
                                                                    class="input-group mt-1 mb-1 p-relative fidelity-ph-no-field">
                                                                    <div class="input-group-prepend">
                                                                        <select disabled
                                                                            class="form-control fidelity-form-input"
                                                                            formControlName="smsNoCountryCode">
                                                                            <option
                                                                                *ngFor="let countryCode of countryCodes"
                                                                                [value]="countryCode.displayName">
                                                                                {{countryCode.displayName}}
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <input autocomplete="off" appPhoneMask #contactRows
                                                                    (keyup)="onFormControlChanges('smsNo',getContacts,'contacts',i)"
                                                                    (blur)="onBlur('smsNo',getContacts,$event,i)"
                                                                        [title]="contacts?.controls[i]?.get('smsNoCountryCode')?.value"
                                                                        [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                        [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                        class="form-control fidelity-form-input"
                                                                        name="Contact Number" formControlName="smsNo"
                                                                        placeholder="Enter Contact Number">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4 d-flex align-items-center">
                                                            <button type="button" matTooltip="Delete"
                                                                class="circle-minus-btn"
                                                                *ngIf="i!==0 || contacts.length>1"
                                                                (click)="removeItem(i)">
                                                                <i aria-hidden="true" class="icon icon-delete"></i>
                                                            </button>
                                                            <button style="margin-left: 15px;
                                                            margin-top: 9px;" type="button" *ngIf="i==0"
                                                                (click)="addItem()"
                                                                class="btn btn-md-fidelity fidelity-btn-brown">
                                                                {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                                            </button>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                                <!-- <div class="row fidelity-ph-no-field">
                                                        <div class="col-3 pr-0">
                                                            <div class="form-group">
                                                                <select class="form-control fidelity-form-input disabled" id="smsNumberCountryCode" formControlName="smsNumberCountryCode">
                                                                    <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                                                                        {{countryCode.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-8 pl-0">
                                                            <div class="form-group">
                                                                <input
                                                                [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                                appPhoneMask class="form-control fidelity-form-input" formControlName="smsNumber" name="" placeholder="Mobile Number"/>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-3" *ngIf="!isDisabled">
                                <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-2">
                                    Save
                                </button>
                                <button type="button" [disabled]="!openAndCloseMonitoringId" (click)="onArrowClick('next')" class="btn btn-md-fidelity  mr-2 btn-primary">
                                    Next
                                </button>

                            </div>
                        </fieldset>
                    </p-scrollPanel>
                </div>
            </div>
        </form>
    </div>
</div>
