<div class="p-3">
    <app-popup-loader></app-popup-loader>
<form customForm [formGroup]="cancellationForm" (ngSubmit)="onSubmit()">
    <div class="ibox-body mb-3">
        <app-view-page [col]="2" [viewDetail]="InterventionRequestDialogDetails" [template]="1"></app-view-page>
        <div class="row mt-2">
            <div class="col-6">
                <app-client-action-arrival-list [customerId]="config?.data?.customerId"
                    [customerAddressId]="config?.data?.customerAddressId"></app-client-action-arrival-list>
            </div>
            <div class="col-6">
                <app-technition-feedback-list></app-technition-feedback-list>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label>Comments<span class="mandatory-field">*</span></label>
                <textarea class="form-control fidelity-form-input" name="Comments" formControlName="escalatedComments"
                    maxlength="250" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-6" style="text-align: right;">
            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-brown ">Submit
            </button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="close()"
                label="Resend Reminder SMS">Cancel</button>
        </div>
    </div>
</form>
</div>