<div class="page-heading ">
  <h1 class="page-title d-inline-block">{{page}} view</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
    <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']">Inventory Management</a></li>
    <li class="breadcrumb-item"><a routerLink="/inventory/stock-scheduling" [queryParams]="{tab:1}"> Stock Scheduling - {{page}}</a></li>
    <li class="breadcrumb-item">{{page}} view</li>
  </ol>
  <div class="grid-icons-con  customer-info-btns float-right" (click)="exportToExcel()">
    <a class="fidelity-btn-circle fidelity-white-btn" matTooltip="">
      <i aria-hidden="true" class="icon icon-share"></i>
    </a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
  <div class="ibox white-bg" style="height: auto;">
    <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
      <div class="ibox-body brown-border">
        <div class="row mt-2">
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Job ID</span>
              <span id="" class="value">
                <span class="d-inline-block">{{scheduleJobDetails?.sellingPriceJobCode}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Execution Date</span>
              <span id="" class="value">
                <span class="d-inline-block">{{scheduleJobDetails?.executionDate | date }</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Scheduled By</span>
              <span id="" class="value">
                <span class="d-inline-block">{{scheduleJobDetails?.userName}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Created By</span>
              <span id="" class="value">
                <span class="d-inline-block">{{scheduleJobDetails?.createdDate | date }}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <table mat-table class="fidelity-table" [dataSource]="dataSource" matSort (matSortChange)="sortOrder($event)">
            <div style="text-align: center;" *ngIf="IsLoaded==false">
              <br><br>
              Loading...
            </div>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                  <mat-checkbox class="fidelity-checkbox" (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                  </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="itemSellingPriceCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Selling Price ID</th>
              <td mat-cell *matCellDef="let element"><a >{{element.itemSellingPriceCode}}</a></td>
              <!-- (click)="Edit(element.itemSellingPriceId)" -->
            </ng-container>
            <ng-container matColumnDef="stockCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Code</th>
              <td mat-cell *matCellDef="let element">{{element.itemCode}}</td>
            </ng-container>
            <ng-container matColumnDef="stockDescription">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="sellingPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </th>
              <td mat-cell *matCellDef="let element"> {{element.sellingPrice}} </td>
            </ng-container>
            <ng-container matColumnDef="leadGroup">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Lead Group </th>
              <td mat-cell *matCellDef="let element"> {{element.leadGroupName}} </td>
            </ng-container>
            <ng-container matColumnDef="district">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
              <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
            </ng-container>
            <ng-container matColumnDef="systemType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> System Type </th>
              <td mat-cell *matCellDef="let element"> {{element.systemTypeName}} </td>
            </ng-container>
            <ng-container matColumnDef="componenentGroup">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Component Group </th>
              <td mat-cell *matCellDef="let element"> {{element.componentGroupName}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>

          <div class="no-records-found" *ngIf="dataSource.data.length === 0">
            <h4>No Records Found</h4>
          </div>
          <mat-paginator *ngIf="dataSource.data.length !== 0 && detailsCount!==0" #paginator
                         [length]="detailsCount" [pageSize]="limit" [pageSizeOptions]="pageLimit"
                         (page)="changePage($event)"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
