<div class="page-heading">
    <h1 class="page-title d-inline-block">{{boundaryId?'Update':'Create'}} {{boundaryLayerName}}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">IT Management</li>
        <li class="breadcrumb-item">Boundary Management</li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item">
            <a (click)="cancel()">
                {{boundaryLayerName}}
            </a>
        </li>
        <li class="breadcrumb-item">{{boundaryId?'Update':'Create'}} {{boundaryLayerName}}</li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="salesBoundaryForm" (ngSubmit)="onSubmit()">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '65vh'}">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">{{boundaryId?'Update':'Create'}} Sales
                                {{boundaryLayerName}}</h1>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Area Id<span class="mandatory-field">*</span></label>
                                        <input-custom-control formControlName="boundaryName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Region<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='regions' (change)="changeRegion()"
                                            formControlName="regionId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Division<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='Divisions' (change)="changeDivision()"
                                            formControlName="divisionId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>District<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='Districts' (change)="changeDistrict()"
                                            formControlName="districtId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Branch<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='branchDropdown'
                                            formControlName="branchId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Description<span class="mandatory-field">*</span></label>
                                        <text-area-custom-control formControlName="description">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Boundary Type</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="boundaryTypeName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Layer</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="boundaryLayerName">
                                        </input-custom-control>
                                    </div>
                                </div>
                            </div>
                            <h1 class="page-sub-title ext-padd mt-3">Initiator Information</h1>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group p-relative">
                                        <label>Search<span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete-custom-control [name]="'Initiator'"
                                            [matOptionValueProperty]="'employeeId'" [matOptionViewProperty]="'fullName'"
                                            [formGroup]="salesBoundaryForm" formControlName="assignToName"
                                            (clearDependentFormControlValues)="clearInitiatorFormControlValues()"
                                            [customInputGroupStyle]="{'margin-top':'26px'}"
                                            [getLoopableObjectRequestObservable]="getLoopableObjectRequestObservable"
                                            (emitSelectedOption)="onSelectedItemOption($event)">
                                        </mat-select-autocomplete-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="employeeFirstName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Surname</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="employeeLastName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Employee ID</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="employeeNo">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input-custom-control [extraClassNames]="'disabled fidelity_email'"
                                            formControlName="initiatorEmailAddress">
                                        </input-custom-control>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                    <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>