<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [captionFontSize]="primengTableConfigProperties.captionFontSize"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox view-box" style="height: auto;">
    <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
      <div class="ibox-body">
        <app-view-page [col]="2" [viewDetail]="viewData">
        </app-view-page>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button id="cancel_new_leads_btn" type="button" (click)="navigate()"
      class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Back</button>
  </div>

</div>
