  <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
  <div class="page-content fade-in-up">
    <div class="ibox" style="height: auto;">
      <div class="ibox-body brown-border">
        <form autocomplete="off" [formGroup]="itemTypeAddEditForm" customForm class="fidelity-popup-form"
          (ngSubmit)="onSubmit()" style="font-size: 0.9rem!important;">
          <div class="row">
            <div class="col-4">
                <div class="form-group">
                  <label>Item Type<span class="mandatory-field">*</span></label>
                  <input formControlName="itemTypeName" class="form-control fidelity-form-input"
                  type="text" name="itemType"/>
                </div>
              </div>
              <div class="col-4" *ngIf="id">
                <div class="form-group">
                  <label>Created By</label>
                  <input disabled class="form-control fidelity-form-input" [value]="itemTypeDetails?.createdBy"
                  type="text" name="createdBy"/>
                </div>
              </div>
              <div class="col-4" *ngIf="id">
                <div class="form-group">
                  <label>Created Date</label>
                  <input disabled class="form-control fidelity-form-input" [value]="itemTypeDetails?.createdDate ?  (itemTypeDetails?.createdDate | date) : ''"
                  type="text" name="createdDate"/>
                </div>
              </div>
             <div class="col-4">
                <div class="form-group">
                  <label>Reasons<span class="mandatory-field">*</span></label>
                  <textarea name="reasons" rows="5" formControlName="reasons" class="form-control text-area" type="text"></textarea>
                </div>
              </div>
            <div class="col-4">
              <div class="form-group">
                <label>Status<span class="mandatory-field">*</span></label>
                <select class="form-control fidelity-form-input" name="status" formControlName="isActive">
                  <option value="null" selected disabled>Select Status</option>
                  <option [value]="item.id" *ngFor="let item of statusList; let i=index">
                    {{item.displayName}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
              <button type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
                [label]="'Save'"></button>
              <button (click)="navigate()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                type="button">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
