::ng-deep .add-stack-status {
    .slider.round:after {
        content: "Disable";
        font-size: 0.9rem!important;
        right: 11px !important;
        top: 4px !important;
    }
    
    input:checked + .slider:after {
        content: "Enable";
        right: 6px !important;
    }
}

::ng-deep .delete-row {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    right: 0 !important;
    display: inline-flex;
    font-size: 14px;
    top: 6px !important;
    position: relative;
    color: #1F7E61 !important;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #ed4a4a;
        i {
            color: #fff!important;
        }
    }
}

#add_cmc-sms-group_btn {
    width: 25px !important;
    height: 25px !important;
    top: 36px;
    position: relative;
    font-size: 12px;
    i {
        top: 1px!important;
    }
}

#add_cmc-sms-group_btn {
    top: 5px;
    cursor: pointer;
    i {
        position: relative;
        top: -1px;
    }
}

.delete-row {
    right: unset;
    right: 4px !important;
}

.ibox1 {
    background-color: transparent !important;
    box-shadow: none;
}

.ibox1 {
    position: relative;
    margin-bottom: 25px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.ibox1 .ibox-body {
    padding: 20px;
    box-shadow: 0 0 3px 3px #eee;
    border-radius: 2px;
    background-color: #fff;
}
