<app-reusable-header-breadcrumb-container [breadCrumb]="breadCrumb">
</app-reusable-header-breadcrumb-container>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm class="fidelity-popup-form" *ngIf="rawLeadForm" [formGroup]="rawLeadForm"
                (ngSubmit)="onSubmit()">
                <div class="ibox">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg">
                            <h1 class="page-sub-title ext-padd mt-3">BASIC INFO</h1>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <select-custom-control [loopableArray]='titleList' formControlName="titleId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input-custom-control formControlName="firstName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Surname<span class="mandatory-field">*</span></label>
                                        <input-custom-control formControlName="lastName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label>Phone Number <span class="mandatory-field">*</span></label>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-3 pr-0">
                                                <div class="form-group" style="width: 100%!important;">
                                                    <div class="input-group-prepend">
                                                        <select class="form-control px-2 fidelity-form-input pad-right"
                                                            name="" id="period_from" formControlName="phoneNumberType"
                                                            style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                                                            <option value="M">M</option>
                                                            <option value="L">L</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2 p-0">
                                                <div class="form-group" style="width: 100%!important;">
                                                    <div class="input-group-prepend">
                                                        <select disabled
                                                            class="form-control px-0 fidelity-form-input pad-right"
                                                            style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;border-top-left-radius: 0px;border-bottom-left-radius: 0px;padding: 9px 6.5px;"
                                                            formControlName="mobile1CountryCode">
                                                            <option *ngFor="let countryCode of countryCodes"
                                                                [value]="countryCode.displayName">
                                                                {{countryCode.displayName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-7 pl-0">
                                                <div class="form-group" style="width: 100%!important;">
                                                    <input id="mobile1"
                                                        style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                        [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                        [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                        [title]="rawLeadForm.get('mobile1CountryCode').value"
                                                        appPhoneMask formControlName="mobile1"
                                                        class="form-control fidelity-form-input" name="Phone Number 1"
                                                        placeholder="Phone Number1" [ngClass]="{'is-mobile-invalid': rawLeadForm.get('mobile1').value|findDuplicate:rawLeadForm:
                                            'mobile1'}" />
                                                    <span class="duplicate"
                                                        *ngIf="rawLeadForm.get('mobile1').value|findDuplicate:rawLeadForm:'mobile1'">
                                                        Phone Number should be different
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Mobile Number </label>
                                    <div class="row">
                                        <div class="col-3 pr-0">
                                            <div class="form-group" style="width: 100%!important;">
                                                <select class="form-control fidelity-form-input pad-right"
                                                    style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;padding: 9px 6.5px;"
                                                    formControlName="mobile2CountryCode">
                                                    <option *ngFor="let countryCode of countryCodes"
                                                        [value]="countryCode.displayName">
                                                        {{countryCode.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-8 pl-0">
                                            <div class="form-group" style="width: 84%!important;">
                                                <input id="mobileNumber2"
                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                    appPhoneMask [title]="rawLeadForm.get('mobile2CountryCode').value"
                                                    formControlName="mobile2" [ngClass]="{'is-mobile-invalid': rawLeadForm.get('mobile2').value|findDuplicate:rawLeadForm:
                                                    'mobile2': rawLeadForm.get('mobile2CountryCode').value}"
                                                    class="form-control fidelity-form-input" name="Mobile Number 2"
                                                    placeholder="Mobile Number2" />
                                                <span class="duplicate" *ngIf="rawLeadForm.get('mobile2').value|findDuplicate:rawLeadForm:
                                                    'mobile2':rawLeadForm.get('mobile2CountryCode').value">
                                                    Mobile Number should be different
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Premises Number</label>
                                    <div class="row">
                                        <div class="col-3 pr-0">
                                            <div class="form-group" style="width: 100%!important;">
                                                <select disabled class="form-control fidelity-form-input pad-right"
                                                    style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;padding: 9px 6.5px;"
                                                    formControlName="premisesNoCountryCode">
                                                    <option *ngFor="let countryCode of countryCodes"
                                                        [value]="countryCode.displayName">
                                                        {{countryCode.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-8 pl-0">
                                            <div class="form-group" style="width: 84%!important;">
                                                <input id="premisesNo"
                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                    [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [title]="rawLeadForm.get('premisesNoCountryCode').value"
                                                    appPhoneMask formControlName="premisesNo" [ngClass]="{'is-mobile-invalid': rawLeadForm.get('premisesNo').value|findDuplicate:rawLeadForm:
                                                'premisesNo'}" class="form-control fidelity-form-input"
                                                    name="Premises Number" placeholder="Premises Number" />
                                                <span class="duplicate"
                                                    *ngIf="rawLeadForm.get('premisesNo').value|findDuplicate:rawLeadForm:'premisesNo'">
                                                    Premises number should be different
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Office Number</label>
                                    <div class="row">
                                        <div class="col-3 pr-0">
                                            <div class="form-group" style="width: 100%!important;">
                                                <select disabled class="form-control fidelity-form-input"
                                                    style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;padding: 9px 7.5px !important;"
                                                    formControlName="officeNoCountryCode">
                                                    <option *ngFor="let countryCode of countryCodes"
                                                        [value]="countryCode.displayName">
                                                        {{countryCode.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-8 pl-0">
                                            <div class="form-group" style="width: 84%!important;">
                                                <input id="officeNo"
                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                    [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [title]="rawLeadForm.get('officeNoCountryCode').value" appPhoneMask
                                                    formControlName="officeNo" [ngClass]="{'is-invalid': rawLeadForm.get('officeNo').value|findDuplicate:rawLeadForm:
                                                'officeNo'}" class="form-control fidelity-form-input"
                                                    name="Office Number" placeholder="Office Number" />
                                                <span class="duplicate"
                                                    *ngIf="rawLeadForm.get('officeNo').value|findDuplicate:rawLeadForm:'officeNo'">
                                                    Office number should be different
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 rowStyle">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input-custom-control [extraClassNames]="'fidelity_email'" formControlName="email">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4 rowStyle">
                                    <div class="form-group">
                                        <label>Site Type</label>
                                        <select-custom-control [loopableArray]='siteTypeList'
                                            formControlName="siteTypeId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4 mt-3">
                                    <div class="form-group fidelity-multiselect-dropdown-con" style="width: 100%;">
                                        <label class="d-block">Lead Category</label>
                                        <p-multiSelect  formControlName="leadCategoryId" dataKey="id"
                                        appendTo="body" [defaultLabel]="'Select Lead Category'" autoWidth="false"
                                        optionLabel="displayName" optionValue="id"
                                        [style]="{'width':'100%','height': '38px'}" [options]="rawLeadCategoriesList">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4 rowStyle">
                                    <div class="form-group">
                                        <label>Source Type<span class="mandatory-field">*</span></label>
                                        <select id="lead_source" class="form-control fidelity-form-input"
                                            name="Source Type" formControlName="sourceId"
                                            (change)="changeLeadSource($event)">
                                            <option value="" disabled>Select Source Type</option>
                                            <optgroup *ngFor="let sourceType of sourceList"
                                                [label]="sourceType.sourceGroupName">
                                                <option *ngFor="let source of sourceType.sources" value="{{source.id}}">
                                                    {{source.displayName}}</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 rowStyle" *ngIf="showReferral">
                                    <div class="form-group">
                                        <label>Refree Details<span class="mandatory-field">*</span></label>
                                        <text-area-custom-control formControlName="refereeComments">
                                        </text-area-custom-control>
                                    </div>
                                </div>
                            </div>
                            <h1 class="page-sub-title ext-padd mt-3">ADDRESS INFO</h1>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="d-block">
                                            <mat-checkbox formControlName="isAddressComplex"
                                                class="fidelity-checkbox fidelity-checkbox-header mr-3">
                                                Complex
                                            </mat-checkbox>
                                            <mat-checkbox formControlName="isAddressExtra"
                                                class="fidelity-checkbox fidelity-checkbox-header mr-3">
                                                Address Extra
                                            </mat-checkbox>
                                            <mat-checkbox formControlName="isAfrigisSearch"
                                                class="fidelity-checkbox fidelity-checkbox-header mr-3">
                                                AfriGIS Search
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group p-relative">
                                        <label class="d-block">Find Address<span *ngIf="(rawLeadForm.get('isAddressComplex').value
                                            || rawLeadForm.get('isAddressExtra').value ||
                                            rawLeadForm.get('isAfrigisSearch').value)"
                                                class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete-custom-control [name]="'Find Address'"
                                            [matOptionValueProperty]="rawLeadForm.get('isAfrigisSearch').value?'description'
                                            :'fullAddress'" [matOptionViewProperty]="rawLeadForm.get('isAfrigisSearch').value?'description'
                                            :'fullAddress'" [formGroup]="rawLeadForm" formControlName="formatedAddress"
                                            [minLength]="formConfigs.three"
                                            [customInputGroupStyle]="{'margin-top':'35px'}"
                                            [customButtonHeightStyle]="{'height':'42px'}"
                                            [selectedOptionSearchkeywordProperty]="rawLeadForm.get('isAfrigisSearch').value?'description'
                                            :'fullAddress'"
                                            (clearDependentFormControlValues)="clearFormControlValues()"
                                            [getLoopableObjectRequestObservable]="getLoopableObjectRequestObservable"
                                            (emitSelectedOption)="onSelectedItemOption($event)">
                                        </mat-select-autocomplete-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Location Pin</label>
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input readonly class="form-control fidelity-form-input input-disabled"
                                                name="Location Pin" placeholder="Enter Location Pin"
                                                formControlName="latLong">
                                            <div class="input-group-append">
                                                <button class="text-white" type="button"><i aria-hidden="true"
                                                        class="icon icon-location"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="rawLeadForm.get('isAddressComplex')?.value" class="col-12">
                                    <b style="font-size:13px">
                                        ( Either Building Name or Building Number is mandatory )</b>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Unit/Building Number</label>
                                        <input-custom-control formControlName="buildingNo">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Building Name</label>
                                        <input-custom-control formControlName="buildingName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Street Number</label>
                                        <input-custom-control [extraClassNames]="'disabled'" formControlName="streetNo">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Street Address</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="streetName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Suburb</label>
                                        <input-custom-control [extraClassNames]="'disabled'" formControlName="suburb">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>City / Town</label>
                                        <input-custom-control [extraClassNames]="'disabled'" formControlName="city">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Province</label>
                                        <input-custom-control [extraClassNames]="'disabled'" formControlName="province">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="postalCode">
                                        </input-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-sub-title">Address Extra<b
                                            *ngIf="rawLeadForm?.get('isAddressExtra')?.value"
                                            style="color:#000;font-size:13px">
                                            ( Either Estate Street Number or Street Name or Estate Name is mandatory
                                            )</b></div>
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Estate Street Number</label>
                                                <input-custom-control formControlName="estateStreetNo">
                                                </input-custom-control>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Estate Street Name</label>
                                                <input-custom-control formControlName="estateStreetName">
                                                </input-custom-control>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group" style="width: 90%;">
                                                <label>Estate Name</label>
                                                <input-custom-control formControlName="estateName">
                                                </input-custom-control>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="create_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{rawLeadId ?
                        "Update" : "Create"}}</button>
                    <button id="cancel_new_leads_btn" type="button" (click)="onRedirectToRawLeadsList()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>