<app-reusable-header-breadcrumb-container [breadCrumb]="breadCrumb">
</app-reusable-header-breadcrumb-container>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm class="fidelity-popup-form raw-lead-upload" *ngIf="rawLeadForm" [formGroup]="rawLeadForm"
                (ngSubmit)="onSubmit()">
                <div class="ibox">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <file-upload-custom-control [formGroup]="rawLeadForm" formControlName="fileName" [label]="'Upload File'"
                                        [acceptableFileExtensions]="['.xlsx']"
                                        (emitUploadedFiles)="emitUploadedFiles($event)">
                                    </file-upload-custom-control>
                                </div>
                                <div class="col-2 mt-3 width-container">
                                    <button type="button" (click)="upload()" [disabled]="!rawLeadForm.get('fileName').value"
                                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown">Upload</button>
                                </div>
                                <div class="col-2 mt-3 width-container">
                                    <button type="button" [disabled]="!rawLeadForm.get('fileName').value" (click)="removeUploadedFile()"
                                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown">Clear</button>
                                </div>
                                <div class="col-5 mt-2">
                                    <button type="button" (click)="downloadSampleTemplate()"
                                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown float-right">Download
                                        sample template</button>
                                </div>
                            </div>
                            <div *ngIf="showRecordCount">
                                <p>Failed record count: <b>{{uploadResponse?.failedRecordCount}}</b></p>
                                <p *ngIf="uploadResponse.failedRecordCount > 0">Download file: <a href="#">file name</a>
                                </p>
                                <p>Success record count:<b>{{uploadResponse?.successRecordCount}} </b></p>
                                <p></p>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3" *ngIf="!showFailedImport && getRawLeadArrays.length>0">
                    <button id="create_new_leads_btn" type="submit" [disabled]="!rawLeadForm.get('fileName').value"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                    <button id="cancel_new_leads_btn" type="button" routerLink="/sales/raw-lead"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
                <div class="text-center mt-3" *ngIf="showFailedImport">
                    <button id="cancel_new_leads_btn" type="button" (click)="showHideFailedImportList()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>