<div class="page-heading ">
    <h1 class="page-title no-border">Non-Client Profile</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
      <li class="breadcrumb-item">Customer Management</li>
      <li class="breadcrumb-item">
          <a  [routerLink]="['/customer/non-customer-profile']" [queryParams]="{tab:6}">Non Customer Profiles</a>
      </li>
      <li class="breadcrumb-item"> Create Test Profile</li>
    </ol>
  </div>
  <form customForm *ngIf="testProfileForm" [formGroup]="testProfileForm" (ngSubmit)="onSubmit()">
    <div class="p-absolute" style="right: 47px!important;z-index: 2;display: inline-flex !important;">
      <!-- <div
      class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
          <button type="button" disabled >
              <i class="icon icon-backward"></i>
          </button>
          <span class="d-flex stage-no mr-2 ml-2">1</span>
          <button type="button" title="Debtor Information" (click)="navigateToDebtorInformation()">
              <i class="icon icon-forward"></i>
          </button>
      </div> -->
    </div>
    <div class="page-content fade-in-up">
      <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
          <div class="ibox-body sm-form-grp">
            <app-shared-customer-information (emitData)="emitCustomerInformation($event)"
              (emitCustomerType)="emitCustomerType($event)"></app-shared-customer-information>
          </div>
          <div class="ibox-body sm-form-grp">
            <app-shared-address-information  (emitData)="emitCustomerInformation($event)" (emitAfrigis)="emitAfrigisAddressInfo($event)"
              (emitActions)="emitChangeFormCheckbox($event)"></app-shared-address-information>
          </div>
        </p-scrollPanel>
      </div>
    </div>
    <div class="text-center mt-4">
      <button type="submit" [disabled]="testProfileForm.invalid"
          class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
      <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-md-fidelity btn-grey mr-3">Cancel</button>
    </div>
  </form>