<!-- <div class="ibox mt-4" style="height: auto">
  <div class="ibox-body brown-border"> -->
    <form [formGroup]="tariffDefinitionForm" customForm>
      <div class="row">

        <div class="col-4"><label>Charge Type</label></div>
        <div class="col-2"><label>From Units</label></div>
        <div class="col-2"><label>To Units</label></div>
        <div class="col-2"><label>Unit Cost</label></div>
        <div class="col-2"><label>Fixed Cost</label></div>
      </div>

      <div formArrayName="tariffConfigFee">
        <div class="row" *ngFor="let feeConfig of getTariffConfigFee.controls; let i=index" [formGroupName]="i">

          <div class="col-4">
            <div class="form-group">
              <select class="form-control fidelity-form-input" formControlName="personalPanicTariffTypeId">
                <option value="" disabled>Select Charge Type</option>
                <option *ngFor="let charge of chargeTypeList " [value]="charge.id">{{charge.displayName}}</option>
              </select>
            </div>
          </div>

          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control fidelity-form-input" formControlName="fromUnit">
              <span class="error-text" *ngIf="errosObj[i]">From Unit must be gratherthen previews to unit</span>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group"><input type="text" class="form-control fidelity-form-input" formControlName="toUnit"
                (change)="onChangeToUnit(i)">
              <span class="error-text" *ngIf="errosObj[i]"> To units not a valid</span>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group"><input type="text" class="form-control fidelity-form-input" placeholder="Per Unit Cost"
                formControlName="unitCost">
            </div>
          </div>

          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control fidelity-form-input" formControlName="fixedCost">
            </div>
          </div>




        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" (click)="addNewRow()" class="text-right btn btn-md-fidelity fidelity-btn-brown">Add
            New</button>
        </div>
      </div>

    </form>
    <!-- </div>
    </div> -->
