<div class="page-heading ">
    <h1 class="page-title no-border">WhatsAPP Profile</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
      <li class="breadcrumb-item">Customer Management</li>
      <li class="breadcrumb-item"><a routerLink='/customer/non-customer-profile'  [queryParams]="{tab:4}"> Non Customers</a>
      </li>
      <li class="breadcrumb-item"> Create WhatsAPP Profile</li>
    </ol>
 </div>
 <form customForm *ngIf="whatsappProfileForm" [formGroup]="whatsappProfileForm" (ngSubmit)="onSubmit()">
    <div class="p-absolute" style="right: 47px!important;z-index: 2;display: inline-flex !important;">
      <div
          class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
      </div>
  </div>
  <div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
      <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
        <div class="ibox-body sm-form-grp">
          <app-shared-customer-information (emitData)="emitCustomerInformation($event)"
            (emitCustomerType)="emitCustomerType($event)"></app-shared-customer-information>
        </div>
        <div class="ibox-body sm-form-grp">
          <app-shared-profile-information [tabs]="tabs" (emitData)="emitCustomerInformation($event)"
            (emitCustomerType)="emitCustomerType($event)" (removeList)="emitRemoveElementByIndex($event)"></app-shared-profile-information>
        </div>
      </p-scrollPanel>
    </div>
  </div>
  <div class="text-center mt-4">
    <button type="submit" [disabled]="whatsappProfileForm.invalid"
        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-md-fidelity btn-grey mr-3" (click)="goBack()">Cancel</button>
  </div>
  </form>
  