<div class="page-heading p-relative mt-5">
    <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>

    <div class="p-absolute" style="top: -42px;right: 19px;">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <span (click)="navigateToClientTesting()">Client Testing</span>
            </button>
            <button mat-menu-item>
                <span (click)="navigateToTechnicianTesting()">Technician Testing</span>
            </button>
            <button mat-menu-item>
                <span>External Testing</span>
            </button>
            <button mat-menu-item>
                <span (click)="openCancelTesting()">Cancel Testing</span>
            </button>
        </mat-menu>
    </div>
    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onCRUDRequested('create')"
                style="width: 30px!important;height: 30px!important;font-size: 1rem;top: -5px;"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.ebableAddActionBtn"><i
                    aria-hidden="true" data-icon="b" class="icon" matTooltip="Create New"></i></a>

        </div>
    </div>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [loading]="loading"
    [dataList]="dataList" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
    (onActionSubmited)="onActionSubmited($event)" [status]="status" (onSelectedRows)="onSelectedRows($event)">
</app-page-list-table>
<h1 class="page-sub-title ext-padd mt-3">CELL PANIC</h1>
<br>
<div class="container-fluid">
    <div class="header-row row" style="font-size: 1rem;">
        <div class="col-4">Cell Panic Number</div>
        <div class="col-4">User Name</div>
        <div class="col-1"></div>
    </div>
</div>
<br>
<div class="container-fluid">
    <form customForm [formGroup]="cellPanicForm" (ngSubmit)="onSubmitCellPanic()">
        <div class="row">


            <div class="col-4">

                <div class="row">
                    <div class="col-3 pr-0">
                        <div class="form-group" style="width: 100%!important;">
                            <select class="form-control fidelity-form-input pad-right"
                                style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                formControlName="mobileNoCountryCode">
                                <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                                    {{countryCode.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-8 pl-0">
                        <div class="form-group" style="width: 100%!important;">

                            <input id="mobileNumber2" #input
                                style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                appPhoneMask formControlName="mobileNo" appPhoneMask
                                [title]="cellPanicForm?.get('mobileNoCountryCode')?.value"
                                class="form-control fidelity-form-input" name="Contact Number"
                                placeholder="Contact Number" />

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <input #input placeholder="Enter Name" formControlName="userName" [validateInput]="stringConfig"
                        class="form-control fidelity-form-input" type="text">
                </div>

            </div>
            <div class="col-1">
                <button id="add_cmc-sms-group_btn" class="circle-plus-btn p-absolute" (click)="addCellPanic()"
                    matTooltip="add" style="top: 6px;">
                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                </button>
            </div>
        </div>
        <div class="children-row row mb-2" *ngFor="let panic of cellPanicListArray;let i=index">
            <div class="col-4">
                <input type="text" value="{{panic.mobileNoCountryCode}} {{panic.mobileNo}}"
                    class="form-control fidelity-form-input disabled">

            </div>
            <div class="col-4">
                <input type="text" value="{{panic.userName}}" class="form-control fidelity-form-input disabled">

            </div>
            <div class="col-1">
                <button id="delete_record" class="circle-minus-btn ml-1" (click)="removeCellPanicNew(i)" title="Delete"
                    style="left: 16px;"><i aria-hidden="true" class="icon icon-delete"></i>
                </button>
            </div>
        </div>
        <div class="children-row row mb-2" *ngFor="let panic of cellPanicListData;let i=index">
            <div class="col-4">
                <input type="text" value="{{panic.mobileNoCountryCode}} {{panic.mobileNo}}"
                    class="form-control fidelity-form-input disabled">

            </div>
            <div class="col-4">
                <input type="text" value="{{panic.userName}}" class="form-control fidelity-form-input disabled">

            </div>
            <div class="col-1">
                <a id="delete_record" class="delete-row ml-1" (click)="removeCellPanic(panic,i)" title="Delete"><i
                        aria-hidden="true" class="icon icon-delete"></i>
                </a>
            </div>
        </div>

        <div class="col-9 text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                type="submit">Save</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button">Cancel</button>
        </div>

    </form>
</div>