<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body brown-border view-box" style="height: 60vh !important;">
            <div class="">
                <form *ngIf="!isEdit" autocomplete="off" customForm [formGroup]="termsandconditionForm"
                    class="fidelity-popup-form" style="font-size: 0.9rem!important;">
                    <div>
                        <div style="margin-top: 13px;">
                            <p-scrollPanel [style]="{height: '42vh'}" styleClass="custom">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group p-relative">
                                            <label>Attachment</label>
                                            <div class="form-group" style="width: 100%;">
                                                <label for="file" class="sr-only">File</label>
                                                <div class="file-input-container">
                                                    <input class="file-input-ctrl" formControlname="file" #fileInput
                                                        type="file" name="file" placeholder="Credit VettingDocName"
                                                        (change)="onFileSelected($event.target.files)" />
                                                </div>
                                                <div style="width: 100%; z-index: 1000;">
                                                    <div class="input-group" style="height: 40px;">
                                                        <input type="text" name="filename" [(ngModel)]="fileName"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="form-control file-input-text"
                                                            placeholder="No file selected" readonly>
                                                        <span class="input-group-btn">
                                                            <div class="btn custom-file-uploader file-input-btn">
                                                                Browse
                                                            </div>
                                                        </span>
                                                    </div><br>
                                                    <!-- <a href="">Download</a> -->
                                                </div>
                                            </div>
                                            <span class="text-danger"
                                                style="position: absolute; width: 100%;bottom: -2px!important; z-index: 10!important;"
                                                *ngIf="isSubmit && !obj">
                                                Attachment is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group p-relative">
                                            <label></label>
                                            <div class="form-group" style="width: 100%;">
                                                <label for="file" class="sr-only"></label>
                                                <button style="height: 41px; width: 85px; margin-top: 2px;"
                                                    type="submit" (click)="onSubmit()" pButton
                                                    class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
                                                    [label]="existingData?'Update':'Save'"></button>
                                                <button *ngIf="existingData && !isEdit" type="button"
                                                    style="height: 41px; width: 85px; margin-top: 2px;" pButton
                                                    icon="pi pi-times" class="ui-button-secondary" (click)="edit()"
                                                    label="Cancel"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                    </div>
                </form>
            </div>
            <div class="">
                <div class="row" *ngIf="isEdit" style="margin-top: 20px;">
                    <div class="col-2">
                        <div class="form-group p-relative">
                            <label><b>Attachment</b></label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group p-relative">
                            <div class="form-group" style="width: 100%;">
                                <a [href]="existingData?.documentPath" download="">{{existingData?.documentName}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group p-relative">
                            <div class="form-group" style="width: 100%;">
                                <label for="file" class="sr-only"></label>
                                <button style="height: 41px; width: 85px; margin-top: 2px;" type="button" pButton
                                    class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3" [label]="'Edit'"
                                    (click)="edit()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>