<div class="p-relative">
  <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>

  <form *ngIf="radioRemovalFilter" [formGroup]="radioRemovalForm" (ngSubmit)="submitFilter()" class="p-absolute1"
    style="top: 50px;right: 3vw; z-index: 10;">
    <div class="page-heading p-relative1">
      <div class="filter-dropdwon-con picking-dashboard" style="width: 80vw;">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Region<span class="mandatory-field">*</span></label>
              <select class="form-control fidelity-form-input" id="item.id" formControlName="regionIds">
                <option value="" selected disabled>Select</option>
                <option *ngFor="let item of regionDropDown;  let i=index" [value]="item.id">
                  {{item.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>SubDivison<span class="mandatory-field">*</span></label>
              <select class="form-control fidelity-form-input" id="item.id" formControlName="subDivisionIds">
                <option value="" selected disabled>Select</option>
                <option *ngFor="let item of branchDropDown;  let i=index" [value]="item.id">
                  {{item.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Main Area<span class="mandatory-field">*</span></label>
              <select class="form-control fidelity-form-input" id="item.id" formControlName="mainIds">
                <option value="" selected disabled>Select</option>
                <option *ngFor="let item of mainAreaDropDown;  let i=index" [value]="item.id">
                  {{item.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>SubArea<span class="mandatory-field">*</span></label>
              <select class="form-control fidelity-form-input" id="item.id" formControlName="subAreaIds">
                <option value="" selected disabled>Select</option>
                <option *ngFor="let item of subAreaDropDown;  let i=index" [value]="item.id">
                  {{item.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Subrub<span class="mandatory-field">*</span></label>
              <select class="form-control fidelity-form-input" id="item.id" formControlName="subRubIds">
                <option value="" selected disabled>Select</option>
                <option *ngFor="let item of subRubDropDown;  let i=index" [value]="item.id">
                  {{item.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Status<span class="mandatory-field">*</span></label>
              <select class="form-control fidelity-form-input" id="item.id" formControlName="statusIds">
                <option value="" selected disabled>Select</option>
                <option *ngFor="let item of statusDropDown;  let i=index" [value]="item.id">
                  {{item.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="col-12">
            <!-- <div class="form-group"> -->
               
                <div class="row">
                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                        <div class="form-group">
                            <label for=""> Suspend Start Date </label>
                            <p-calendar  formControlName="formDate" placeholder=""
                                styleClass="w-100"> </p-calendar>
                            </div>
                    </div>
                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                        <div class="form-group">
                            <label for=""> Suspend End Date </label>
                            <p-calendar  formControlName="todate" placeholder=""
                            styleClass="w-100"> </p-calendar>
                        </div>
                        
                    </div>
                </div>
            <!-- </div> -->
        </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center">
            <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
            <button type="button" class="btn btn-md-fidelity btn-primary mr-4" (click)="resetForm()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="hide-quick-action-menu quick-action-sidebar" *ngIf="openQuickAction"
    style="position: absolute;right: 60px;top: 51px;">
    <div class="quick-action-sidebar-header d-flex justify-content-between align-items-center">
      <span>Quick Action</span>
      <span class="icon icon-close-icon" (click)="openQuickAction = !openQuickAction"></span>
    </div>
    <div class="quick-action-sidebar-body">
      <ul class="quick-action-menu-con">
        <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;"
          (click)="quickActionRedirect('Invoicing')">
          <span>Invoicing</span>
        </li>
        <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;"
          (click)="quickActionRedirect('Manage Transmitter')">
          <span>Manage Transmitter</span>
        </li>
        <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;"
          (click)="quickActionRedirect('Subcontract Maintenance')">
          <span>Subcontract Maintaince</span>
        </li>

        <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;"
          (click)="quickActionRedirect('Subcontract Overview')">
          <span>Subcontract Overview</span>
        </li>


      </ul>
    </div>
  </div>
</div>

<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [pageSize]="pageSize"
  [loading]="loading" [dataList]="dataList" [first]="first" [reset]="reset" [searchFirst]="true" [pageLimit]="pageLimit"
  [selectedTabIndex]="selectedTabIndex" (onSelectedRows)="onChangeSelecedRows($event)" [totalRecords]="totalRecords"
  (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>



<!-- usassign popup -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isSubcontractorDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '450px'}">
  <p-header>
    Select Subcontractor
  </p-header>
  <form [formGroup]="subContractorForm" customForm (ngSubmit)="onSubmitSubContractor()">
    <div class="ibox-body mt-3">

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Sub Contractors<span class="mandatory-field">*</span></label>
            <select id="divsion" class="form-control fidelity-form-input" name="Sub Contractor"
              placeholder="Select Contractors" formControlName="subContractorId">
              <option value="" disabled>Select Contractor</option>
              <option *ngFor="let comment of subContractorDropDown" [value]="comment.id">
                {{comment.displayName}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
          <div class="ui-g-6">
            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown ">Select</button>
          </div>
          <div class="ui-g-6">

            <button (click)="isSubcontractorDialog = false"
              class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
          </div>
        </div>
      </div>
    </p-footer>
  </form>
</p-dialog>
