<form customForm [formGroup]="transferForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-6">
            <div class="form-group leads-category-con">
                <label>User Group<span class="mandatory-field">*</span></label>
                <p-dropdown [style]="{'width':'100%'}" [options]="groupList" dataKey="id" formControlName="groupId"
                    placeholder="Select User Group" optionLabel="displayName" filter="true"></p-dropdown>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group leads-category-con">
                <label>Agent<span class="mandatory-field">*</span></label>
                <p-dropdown [style]="{'width':'100%'}" [options]="agentList" dataKey="agentKey"
                    formControlName="agentKey" placeholder="Select Agent" optionLabel="displayName" filter="true">
                </p-dropdown>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-12  align-items-center" style="    margin-top: 15px;text-align: right;">
            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Assign</button>
            <button type="button" class="btn btn-md-fidelity mr-4" (click)="close()">Close</button>
        </div>
    </div>
    <div class="clearfix"></div>
</form>