<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="namedStackForm" (ngSubmit)="onSubmit()">
        <div class="ibox white-bg sm-inputs">
            <div class="ibox-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Named Stack Name<span class="mandatory-field">*</span></label>
                            <input class="form-control fidelity-form-input" type="text" formControlName="namedStackConfigName"
                                [minlength]="3" [maxlength]="50" [validateInput]="stringConfig"
                                placeholder="Enter Named Stack Name">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Description<span class="mandatory-field">*</span></label>
                            <textarea name="" rows="2" [validateInput]="stringConfig" formControlName="description"
                                [minlength]="10" [maxlength]="100" placeholder="Enter Description"
                                class="form-control fidelity-form-input"></textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="d-block">Status</label>
                            <label class="switch add-stack-status">
                                <input type="checkbox" formControlName="isActive">
                                <span class="slider round active"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{
                namedStackConfigId ? 'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" routerLink='/event-management/event-configuration'
                [queryParams]="{tab:2}" skipLocationChange>Cancel</button>
        </div>
    </form>
</div>