@import "../../../../../../../variables.scss";

.form-group {
    width: 100%;
}

::ng-deep mat-select-autocomplete.division-field > .mat-form-field {
    border: none!important;
}

::ng-deep #division_field .mat-form-field-infix .mat-select {
    padding: 8.2px 8px!important;
}

::ng-deep mat-select-autocomplete.division-field.is-invalid > .mat-form-field{
    .mat-form-field-wrapper {
        border: 1px solid #dc3545;
    }
}

.division-field + .mat-error {
    color: #dc3545!important;
    font-size: 0.8em!important;
}

mat-form-field.mat-form-field.run-time-field {
    border: none!important;
    padding-left: 0;
    
    ::ng-deep .mat-form-field-infix {
        padding-top: 0!important;
    }

    .mat-form-field-infix input {
      padding: 11px 5px!important;
      border-radius: 7px!important;
      border: 1px solid rgba(0, 0, 0, 0.15) !important;
    }
  
    .mat-form-field-infix input.is-invalid {
      border:  1px solid $status-label-red!important;
    }
  
    ::ng-deep .mat-form-field-suffix  {
        top: 0px !important;
        right: 40px!important;
    }
  }