<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox white-bg">
        <div class="ibox-body">
          <app-view-page [col]="2" [viewDetail]="viewData"></app-view-page>
          <div *ngIf="dataList?.length !=0">
          <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
          [loading]="loading" [dataList]="dataList" [status]="status" [searchFirst]="true"
          [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
          (onActionSubmited)="onActionSubmitted($event)"></app-page-list-table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
