<div class="page-heading">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" >
</app-page-header>

    <form *ngIf="showFilterForm" [formGroup]="supplierReturnFilterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;right: 68px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label for="">Warehouse</label>
                            <mat-select-autocomplete ngDefaultControl [id]="'warehouseId'"
                                [formControl]="supplierReturnFilterForm?.controls['warehouseId']"
                                [placeholder]="'Select Single/Multiple'" [options]="warehouseList" [multiple]='true'
                                [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label for="">PO Number</label>
                            <mat-select-autocomplete ngDefaultControl [id]="'warehouseId'"
                                [formControl]="supplierReturnFilterForm?.controls['referenceId']"
                                [placeholder]="'Select Reference Number Single/Multiple'" [options]="ReferenceList"
                                [multiple]='true' [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">PO Barcode</label>
                            <div class="input-group fidelity-input-addon mb-3">
                                <input class="form-control fidelity-form-input" formControlName="poBarCode"
                                    placeholder="Scan/Enter">
                                <div class="input-group-append">
                                    <button type="button d-flex justify-content-center align-items-center">
                                        <i class="icon icon-scan-code"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label for="">Supplier</label>
                            <mat-select-autocomplete ngDefaultControl [id]="'warehouseId'"
                                [formControl]="supplierReturnFilterForm?.controls['supplierId']"
                                [placeholder]="'Select Supplier Single/Multiple'" [options]="supplierList"
                                [multiple]='true' [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for=""> Date Range </label>
                            <div class="row">
                                <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                    <p-calendar formControlName="fromDate" [minDate]="startTodayDate" placeholder="" styleClass="w-100"></p-calendar>
                                </div>
                                <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                    <p-calendar formControlName="toDate" [minDate]="startTodayDate" placeholder="" styleClass="w-100"></p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Status</label>
                            <select name="" class="fidelity-form-input form-control" formControlName="statusId">
                                <option value="">Select Status</option>
                                <option *ngFor="let statusItem of statusList" [value]="statusItem.id">
                                    {{statusItem.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetFilter()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>

</div>

<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [customScroll]="false"
    (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
</app-page-list-table>


