<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"> </app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="cmcFeedbackForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row sm-inputs">
                        <div class="col-4">
                            <div class="form-group">
                                <label>CMC Feedback Name<span class="mandatory-field">*</span></label>
                                <input name="CMC Feedback" class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="20"
                                    placeholder="Enter CMC Feedback Name" formControlName="cmcFeedbackName">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*
                                    </span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAStringOnly' minlength="10" maxlength="100"
                                    placeholder="Enter Description" formControlName="description">
                                 </textarea>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Division<span class="mandatory-field">*
                                    </span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="cmcFeedbackDivisionsList" multiple placeholder="Select Division">
                                    <mat-option value="" #allSelectedDivision *ngIf="divisionDropDown?.length > 0"
                                        (click)="toggleAllDivisions()" selected>All Divisions</mat-option>
                                    <mat-option *ngFor="let item of divisionDropDown" [value]="item.id"
                                        (click)="toggleDivisionOne(allSelectedDivision?.viewValue)">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <h1 class="page-sub-title ext-padd mt-3">STANDBY TIME LIST</h1>
                    <br>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-4">Vehicle Check Item <span class="mandatory-field">*</span></div>
                        <div class="col-md-4">Stand Off Time (Sec) <span class="mandatory-field">*</span></div>
                        <div class="col-md-4">CMC Escalation Time (sec)<span class="mandatory-field">*</span></div>
                    </div>
                    <div class="" formArrayName="cmcFeedbackStandByTimeLimitsList"
                        *ngFor="let obj of cmcFeedbackForm?.get('cmcFeedbackStandByTimeLimitsList')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <select #input class="form-control fidelity-form-input" disabled
                                        (change)="OnChange(i)" formControlName="cmcFeedbackStandByItemId">
                                        <option value="" selected>Select</option>
                                        <option [value]="item.id" *ngFor="let item of checkListDropDown; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input name="Stand Off Time" placeholder="Enter Stand Off Time(Seconds)"
                                        [validateInput]='isANumberOnly' class="form-control fidelity-form-input"
                                        type="text" (change)="OnChange(i)" formControlName="standOffSeconds">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input name="CMC Escalation Time"
                                        placeholder="Enter CMC Escalation Time(Seconds)" [validateInput]='isANumberOnly'
                                        class="form-control fidelity-form-input" type="text" (change)="OnChange(i)"
                                        formControlName="cmcEscalationSeconds">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{cmcFeedbackId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/ro-configuration' [queryParams]="{tab:8}">Cancel</button>
        </div>
    </form>
</div>