<div class="page-heading">
    <h1 class="page-title d-inline-block">{{ stockOrderId ? (isEdit ? 'Update' : 'View') : 'Create' }} Dealer Stock
        Order</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Dealer Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/dealer/dealer-stock-order'>Dealer Stock Order List</a></li>
        <li class="breadcrumb-item" *ngIf="stockOrderId && isEdit"><a routerLink='/dealer/dealer-stock-order/add-edit' [queryParams]="{id: stockOrderId, type: 'view', status: status}" skipLocationChange>View Dealer Stock Order</a></li>
        <li class="breadcrumb-item" *ngIf="stockOrderId">{{ stockOrderId ? (isEdit ? 'Update' : 'View') : 'Create' }} Dealer Stock Order</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a title="Edit" (click)="actionOnLeavingComponent()" *ngIf="status?.toLowerCase() == 'save as draft' && !isEdit"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            id="pricinf_edit_btn">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div> 
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox space-saving-con" style="height: auto;">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="ibox-body brown-border px-2 py-1">
                        <form class="fidelity-popup-form" [formGroup]="stockOrderCreationForm">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label> Issuing Warehouse <span class="mandatory-field">*</span></label>
                                            <select name="" id="warehouseId" class="fidelity-form-input form-control"
                                                formControlName="warehouseId" [attr.disabled]="isEdit ? null : true">
                                                <option value="">Select Issuing Warehouse</option>
                                                <option *ngFor="let reqWarehouse of requestWarehouseList"
                                                    [value]="reqWarehouse?.id">
                                                    {{reqWarehouse?.displayName}}
                                                </option>
                                            </select>
                                            <span class="text-danger"
                                                *ngIf="stockOrderCreationForm?.get('warehouseId')?.touched && stockOrderCreationForm?.get('warehouseId')?.errors?.required">
                                                Issuing Warehouse is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label> Priority</label>
                                            <input disabled class="form-control fidelity-form-input" type="text"
                                                placeholder="Standard" formControlName="priorityName" value="Standard">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label> Dealer Code <span class="mandatory-field">*</span></label>
                                            <select class="form-control fidelity-form-input"
                                                [attr.disabled]="isEdit ? null : true" formControlName="dealerId">
                                                <option value="" selected disabled> Select Dealer Code </option>
                                                <option *ngFor="let dealerCode of dealerCodeDropDown; let i=index"
                                                    [value]="dealerCode.id">
                                                    {{dealerCode.displayName}}
                                                </option>
                                            </select>
                                            <span class="text-danger"
                                                *ngIf="stockOrderCreationForm?.get('dealerId')?.touched && stockOrderCreationForm?.get('dealerId')?.errors?.required">
                                                Dealer Code is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label> Dealer Name </label>
                                            <input disabled formControlName="dealerName"
                                                class="form-control fidelity-form-input" type="text"
                                                placeholder="Enter Stock Order Number">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label> Dealer Stock Location <span class="mandatory-field">*</span></label>
                                            <select formControlName="dealerBranchId"
                                                class="form-control fidelity-form-input"
                                                [attr.disabled]="isEdit ? null : true">
                                                <option value="" selected disabled> Select Stock Location </option>
                                                <option *ngFor="let stock of dealerStockLocationList; let i=index"
                                                    [value]="stock.dealerBranchId">
                                                    {{stock.techStockLocationNumber}}
                                                </option>
                                            </select>
                                            <span class="text-danger"
                                                *ngIf="stockOrderCreationForm?.get('dealerBranchId')?.touched && stockOrderCreationForm?.get('dealerBranchId')?.errors?.required">
                                                Dealer Stock Location is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label> Requesting Name </label>
                                            <input disabled class="form-control fidelity-form-input" type="text"
                                                placeholder="Enter Stock Order Number" formControlName="RQNStatusName"
                                                value="Standard">
                                        </div>
                                    </div>
                                </div>
                                <div class="" formArrayName="dealerStockOrderItemsPostDTO"
                                    *ngFor="let obj of stockOrderCreationForm?.get('dealerStockOrderItemsPostDTO')?.controls;let i=index">
                                    <div class="row p-relative" [formGroupName]="i">
                                        <div class="col-2 fidelity-autocomplete-dropdown-con dealer-stock-order">
                                            <div class="form-group" style="height: 39px;">
                                                <label *ngIf="i == 0"> <b>Stock Code</b> <span
                                                        class="mandatory-field">*</span></label>
                                                <mat-form-field [ngClass]="{'disabled-formcontrol': !isEdit}"
                                                    style="height: 39px;">
                                                    <input matInput type="text" id="find_address_autocomplete"
                                                        #autoStockCode class="form-control fidelity-form-input"
                                                        (keyup)="onChangeStockCode($event,'stock-code', i)"
                                                        [matAutocomplete]="autoStockCode"
                                                        [attr.disabled]="isEdit ? null : true"
                                                        formControlName="stockCode" style="height: 35px;color: black;">
                                                </mat-form-field>
                                                <mat-autocomplete #autoStockCode="matAutocomplete"
                                                    (optionSelected)="onStatucCodeSelected($event.option.value, 'stock-code',i)">
                                                    <mat-option *ngIf="isStockCodeLoading[i]" class="is-loading">
                                                        <mat-spinner diameter="50"></mat-spinner>
                                                    </mat-option>
                                                    <ng-container>
                                                        <mat-option *ngFor="let filtStockCode of filteredStockCodes"
                                                            [value]="filtStockCode.displayName">
                                                            <span>{{ filtStockCode.displayName }}</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                                <span class="text-danger"
                                                    *ngIf="obj?.get('stockCode')?.touched && obj?.get('stockCode')?.errors?.required">
                                                    Stock Code is required
                                                </span>
                                                <span class="text-danger"
                                                    *ngIf="obj?.get('stockCode')?.touched && obj?.get('stockCode')?.errors?.invalid">
                                                    Stock Code is not found
                                                </span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'col-3 fidelity-autocomplete-dropdown-con dealer-stock-order': stockOrderId, 'col-2 fidelity-autocomplete-dropdown-con dealer-stock-order': !stockOrderId}">
                                            <div class="form-group"
                                                style="height: 39px;">
                                                <label *ngIf="i == 0"> <b>Stock Description</b><span
                                                        class="mandatory-field">*</span></label>
                                                <span matTooltip="{{obj?.get('stockDescription')?.value}}">
                                                    <mat-form-field [ngClass]="{'disabled-formcontrol': !isEdit}"
                                                        style="height: 39px;">
                                                        <input matInput type="text" id="autoStockDesc" #autoStockDesc
                                                            class="form-control fidelity-form-input"
                                                            (keyup)="onChangeStockCode($event,'stock-description', i)"
                                                            [attr.disabled]="isEdit ? null : true"
                                                            [matAutocomplete]="autoStockDesc"
                                                            formControlName="stockDescription"
                                                            style="height: 35px;color: black;">
                                                    </mat-form-field>
                                                    <mat-autocomplete #autoStockDesc="matAutocomplete"
                                                        (optionSelected)="onStatucCodeSelected($event.option.value, 'stock-description',i)">
                                                        <mat-option *ngIf="isStockDescLoading[i]" class="is-loading">
                                                            <mat-spinner diameter="50"></mat-spinner>
                                                        </mat-option>
                                                        <ng-container>
                                                            <mat-option
                                                                *ngFor="let filterDescription of filteredStockDescription"
                                                                [value]="filterDescription.displayName">
                                                                <span>{{ filterDescription.displayName }}</span>
                                                            </mat-option>
                                                        </ng-container>
                                                    </mat-autocomplete>
                                                </span>
                                                <span class="text-danger"
                                                    *ngIf="obj?.get('stockDescription')?.touched && obj?.get('stockDescription')?.errors?.required">
                                                    Stock Description is required
                                                </span>
                                                <span class="text-danger"
                                                    *ngIf="obj?.get('stockDescription')?.touched && obj?.get('stockDescription')?.errors?.invalid">
                                                    Stock Code is not found
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <div class="form-group">
                                                <label *ngIf="i == 0"> <b>Consumable</b></label>
                                                <input maxlength="100" class="form-control fidelity-form-input"
                                                    id="consumable" formControlName="consumable" type="text" disabled
                                                    placeholder="Enter Consumable" />
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <label *ngIf="i == 0"> <b>Requested Qty</b><span
                                                        class="mandatory-field">*</span></label>
                                                <input class="form-control fidelity-form-input"
                                                    (change)="onChangeRequestedQty(i)" (keyup)="onChangeRequestedQty(i)"
                                                    id="requestedQty" formControlName="quantity" type="text"
                                                    [validateInput]='isANumberOnly' placeholder="Enter Requested Qty"
                                                    maxlength="8" [attr.disabled]="isEdit ? null : true" />
                                                <span class="text-danger"
                                                    *ngIf="obj?.get('quantity')?.touched && obj?.get('quantity')?.errors?.required">
                                                    Requested Qty is required
                                                </span>
                                                <span class="text-danger"
                                                    *ngIf="obj?.get('quantity')?.touched && obj?.get('quantity')?.errors?.maxlength">
                                                    Requested Qty is must be maximum
                                                    {{obj?.get('quantity')?.errors?.maxlength?.requiredLength}} digits
                                                    length
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <label *ngIf="i == 0"> <b>Unit Price</b></label>
                                                <input maxlength="100" class="form-control fidelity-form-input"
                                                    id="unitPrice" disabled formControlName="unitPrice" type="text"
                                                    placeholder="Auto Fetch" />
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <label *ngIf="i == 0"> <b>Total</b></label>
                                                <input maxlength="100" class="form-control fidelity-form-input" disabled
                                                    id="total" type="text" formControlName="totalPrice"
                                                    placeholder="Auto Fetch" />
                                            </div>
                                        </div>
                                        <div class="col-1" *ngIf="!stockOrderId">
                                            <button class="circle-plus-btn" type="button"
                                                (click)="addDealerStockOrderItem()" *ngIf="i == 0" matTooltip="Add"
                                                style="margin-top: 24px;margin-left:4px;"
                                                [attr.disabled]="isEdit ? null : true">
                                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                                            </button>
                                            <button *ngIf="i != 0" type="button" class="circle-minus-btn"
                                                matTooltip="Delete" id="delete_record"
                                                (click)="removeStockOrderItems(i)">
                                                <i aria-hidden="true" class="icon icon-delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-2">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div [ngClass]="{'col-3': stockOrderId, 'col-2': !stockOrderId}">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group"><label> <b>Total</b></label></div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <input maxlength="100" formControlName="total"
                                                class="form-control fidelity-form-input" type="text" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-2">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div [ngClass]="{'col-3': stockOrderId, 'col-2': !stockOrderId}">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group"><label> <b>VAT</b></label></div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <input maxlength="100" formControlName="vat"
                                                class="form-control fidelity-form-input" type="text" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-2">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div [ngClass]="{'col-3': stockOrderId, 'col-2': !stockOrderId}">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group"> </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group"><label> <b>Total Order Value</b></label></div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <input maxlength="100" formControlName="totalOrderValue"
                                                class="form-control fidelity-form-input" type="text" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                    *ngIf="!stockOrderId" (click)="onSubmit('Save as Draft')"> Save as Draft </button>
                                <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                    (click)="onSubmit('Approved')" *ngIf="!stockOrderId"> {{ stockOrderId ? 'Update' :
                                    'Create'}} </button>
                                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                                    (click)="navigateToList()"> {{ stockOrderId ? 'Back' : 'Cancel'}} </button>
                            </div>
                        </form>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>