<form customForm [formGroup]="replyForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-6">
      <div class="form-group leads-category-con">
        <label>To<span class="mandatory-field">*</span></label>
        <input type="text" formControlName="replyToEmailAddress" class="form-control fidelity-form-input disabled fidelity_email">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group leads-category-con">
        <label>CC<span class="mandatory-field">*</span></label>
        <p-chips formControlName="replyToCCEmailAddresses" placeholder="" styleClass="p-chips"
          (onAdd)="onCCAdd($event)"></p-chips>
        <span style="font-size: 12px;
                color: #bbb;">*Press Enter to add multiple emails</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group leads-category-con">
        <label>Subject<span class="mandatory-field">*</span></label>
        <input type="text" formControlName="subject" class="form-control fidelity-form-input disabled">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label>Attach File (.Pdf,.Docs,.Jpeg,.Png,.xlsx)</label>
        <div
          style="width: 100%; height: 40px; z-index: 0; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5; width: 100%; height: 100%; opacity: 0;">
          <input #fileInput type="file" name="_formFiles"
            [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']" formControlName="fileFormat"
            placeholder="Upload Document" style="margin-top: 33px; height: 40px; width: 100%;"
            (change)="uploadFiles($event.target.files)" />
        </div>
        <div style="width: 100%; z-index: 1000;">
          <label for="file" class="sr-only">File</label>
          <div class="input-group" style="height: 40px;">
            <input type="text" name="filename" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;"
              class="form-control" placeholder="{{listOfFiles.join(', ')}}" readonly>
            <span class="input-group-btn">
              <div class="btn custom-file-uploader"
                style="height: 40px; padding: 12px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;cursor: pointer;">
                Browse
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <angular-editor formControlName="emailBody" [config]="editorConfig"></angular-editor>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-12  align-items-center" style="    margin-top: 15px;text-align: right;">
      <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Reply</button>
      <button type="button" class="btn btn-md-fidelity mr-4" (click)="close()">Close</button>
    </div>
  </div>
  <div class="clearfix"></div>
</form>