<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
    <form *ngIf="showFilterForm" [formGroup]="execuFilterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;left: 20px;right: 68px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Service Call Number</label>
                            <p-multiSelect [formControl]="execuFilterForm?.controls['serviceCallInitiationId']"
                                [virtualScroll]="true" [itemSize]="25" [options]="serviceCallNumberListFilter"
                                defaultLabel="Select Service Call Number" styleClass="w-100" [baseZIndex]="100"
                                emptyFilterMessage="No Service Call Number Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Customer ID</label>
                            <p-autoComplete formControlName="customerId" styleClass="w-100" class="col-11 p-0"
                                [suggestions]="customerIDList" field="displayName" optionLabel="displayName"
                                dataKey="id" (completeMethod)="onSearchCustId($event)" appendTo="body" [minLength]="1">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Debtor Code</label>
                            <p-multiSelect [formControl]="execuFilterForm?.controls['debtorId']" [virtualScroll]="true"
                                [itemSize]="25" [options]="debtorCodeListFilter" defaultLabel="Select Debtor Code"
                                styleClass="w-100" [baseZIndex]="100" emptyFilterMessage="No Debtor Code Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Client Name</label>
                            <p-autoComplete formControlName="clientId" styleClass="w-100" class="col-11 p-0"
                                [suggestions]="customerNameList" field="displayName" optionLabel="displayName"
                                dataKey="id" (completeMethod)="onSearchCustName($event)" appendTo="body"
                                [minLength]="1"></p-autoComplete>
                        </div>
                    </div>
                    <div class="col-md-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                        <div class="form-group">
                            <label>Initiated Date<span class="mandatory-field">*</span></label>
                            <p-calendar formControlName="initiatedDate" styleClass="w-100" placeholder=""></p-calendar>
                        </div>
                    </div>
                    <div class="col-md-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                        <div class="form-group">
                            <label>Scheduled Date<span class="mandatory-field">*</span></label>
                            <p-calendar formControlName="scheduledDate" styleClass="w-100" placeholder=""></p-calendar>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Owned</label>
                            <p-multiSelect [formControl]="execuFilterForm?.controls['ownedId']"
                                [options]="ownedListFilter" defaultLabel="Select Owned" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Owned Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Division</label>
                            <p-multiSelect [formControl]="execuFilterForm?.controls['divisionId']"
                                [options]="divisionListFilter" defaultLabel="Select Division" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Division Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Action Status</label>
                            <p-multiSelect [formControl]="execuFilterForm?.controls['actionSatusId']"
                                [options]="actionStatusListFilter" defaultLabel="Select Action Status"
                                styleClass="w-100" [baseZIndex]="100" emptyFilterMessage="No Action Status Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-date-picker-con p-relative cust-banner-date-con">
                            <label>Action Date</label>
                            <p-calendar formControlName="actionDate" styleClass="w-100" placeholder=""></p-calendar>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Call Created By</label>
                            <p-multiSelect [formControl]="execuFilterForm?.controls['serviceCallCreatedId']"
                                [options]="callCreatedByListFilter" defaultLabel="Select Call Created By"
                                styleClass="w-100" [baseZIndex]="100" emptyFilterMessage="No Call Created By Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Call Status</label>
                            <p-multiSelect [formControl]="execuFilterForm?.controls['callStatusId']"
                                [options]="callStatusListFilter" defaultLabel="Select Call Status" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Call Status Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center">
                            <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                            <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                                (click)="resetForm()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [first]="first"
    [reset]="reset" [searchFirst]="true" [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList"
    [status]="status" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>