<div class="page-heading">
    <h1 class="page-title d-inline-block">Supplier Return Receiving</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Inventory Management:</li>
        <li class="breadcrumb-item"><a routerLink="/inventory/order-receipts/receipting"
                [queryParams]="{tab:1}">Supplier Return List</a></li>
        <li class="breadcrumb-item">Supplier Return Receiving </li>
    </ol>

</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="supplierReturnReceivingForm">

            <div class="ibox white-bg" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                    <div class="ibox-body">
                        <div class="ibox-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Supplier Return No</label>
                                        <input type="text" [value]="supplierReturnDetails?.supReturnNumber"
                                            class="form-control fidelity-form-input disabled">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Receiving Type</label>
                                        <input type="text" [value]="supplierReturnDetails?.supplierReturnStatusName"
                                            class="form-control fidelity-form-input disabled">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Sub Location</label>
                                        <input type="text" [value]="supplierReturnDetails?.subLocation"
                                            class="form-control fidelity-form-input disabled">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Supplier Name</label>
                                        <input type="text" [value]="supplierReturnDetails?.supplierName"
                                            class="form-control fidelity-form-input disabled">

                                      
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row header-row">
                                <div class="col-2">Stock Code</div>
                                <div class="col-2">Temp Stock Code</div>
                                <div class="col-2">Stock Name</div>
                                <div class="col-3">Serial No</div>
                                <div class="col-2">Warranty Status</div>
                                <div class="col-1">Return Qty</div>
                            </div>
                            <div class="row children-row mb-2"
                                *ngFor="let item of supplierReturnDetails?.supplierReturnItems; let i = index">
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        [value]="item?.itemCode">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        [value]="item?.tempStockCode">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        [value]="item?.itemName">
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control fidelity-form-input"
                                        [value]="item?.serialNumbers" readonly>
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        [value]="item?.warrantyStatus">
                                </div>
                                <div class="col-1">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        [value]="item?.receivedQty">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-body">
                            <div class="row page-sub-title">SUPPLIER INFO</div>
                            <div class="row">
                                <div class="col-4 d-flex align-items-center">
                                    <div class="form-group">
                                        <label class="d-block">What would you like to have?</label>
                                        <mat-radio-group formControlName="orderReceiptActionTypeId">
                                            <mat-radio-button class="fidelity-radio-btn" [value]="1">Credit Note
                                            </mat-radio-button>
                                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="2">Replacement
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Notes</label>
                                        <textarea formControlName="comment" class="form-control fidelity-form-input"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="previous()">Previous</button>
                <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                    (click)="save()">Submit</button>
                    <button type="button" class="btn btn-default btn-md-fidelity fidelity-btn-grey"
                        routerLink='/inventory/order-receipts/receipting'  [queryParams]="{tab:2}">Cancel</button>
            </div>
        </form>
        </div>
    </div>
</div>