.form-group {
    width: 80%;
}

.fidelity-btn-circle {
    width: 30px !important;
    height: 30px !important;
    font-size: 1rem;
    position: relative;
    top: -9px;
}

.children-row {
    .form-group {
        width: 100%;
    }
}

.delete-row {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    color: #eaeaea;
    position: relative;
    right: -2px;
    top: 4px;
    font-size: 0.9rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #ed4a4a;
        i {
            color: #fff;
        }
        
    }
}

.key {
    display: inline-block;
    width: 38%;
    color: #8A8A8A;
    word-wrap: break-word;
}

.value {
    width: 62%;
    word-wrap: break-word;

    span {
        width: 100%;
        border:none;
        font-family: 'Calibri_Bold', sans-serif!important;
        font-size: 1.3rem;
    }
}
.button-minus, .button-plus {
    padding: 5px 10px;
    background: #0d4131!important;
    color: #fff;
    border: none;
    cursor: pointer; 
}
.quantity-field{
    border: 1px solid #0d4131;
} 