<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
    <form *ngIf="showFilterForm" [formGroup]="TamIncentiveFilterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;right: 25px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">
                <div class="row">
                    <div class="col-4">
                        <label class="d-block">Tech Area</label>
                        <div class="form-group leads-category-con">
                            <p-multiSelect [formControl]="TamIncentiveFilterForm?.controls['techArea']"
                                [options]="techareaList" defaultLabel="Select Tech Area" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Tech Area Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="d-block">Incentive Type</label>
                        <div class="form-group leads-category-con">
                            <p-multiSelect [formControl]="TamIncentiveFilterForm?.controls['incentiveType']"
                                [options]="incentiveTypeList" defaultLabel="Select Incentive Type" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Incentive Type Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="d-block">Technician Name</label>
                        <div class="form-group leads-category-con">
                            <p-multiSelect [formControl]="TamIncentiveFilterForm?.controls['technicianName']"
                                [options]="technicianNameList" defaultLabel="Select Technician Name" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Technician Name Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fdt-date-con">
                            <label for="">Date Range (From To) </label>
                            <div class="row">
                                <div class="col-6 p-relative">
                                    <p-calendar formControlName="fromDate" styleClass="w-100"
                                        placeholder=""></p-calendar>
                                </div>
                                <div class="col-6 p-relative">
                                    <p-calendar formControlName="toDate" styleClass="w-100" placeholder=""
                                        [minDate]="TamIncentiveFilterForm?.get('fromDate')?.value"></p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex align-items-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [pageLimit]="pageLimit"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [first]="first"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [reset]="reset" [searchFirst]="true"
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>