.fidelity-phone-no {
    width: 100%!important;
    select {
        width: 100%;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        border-right: none;
    }

    input {
        border-radius: 7px;
        border-top-left-radius: unset;
        border-left:none;
        border-bottom-left-radius: unset;
    }

    .form-control:not(:first-child):not(:last-child) {
        border-radius: 7px;
        border-top-left-radius: 0;
        border-left: none;
        border-bottom-left-radius: 0;
    }

    ::ng-deep ng-component {
        position: absolute!important;
        bottom: -22px;
        z-index: 10;
    }

  //     ::ng-deep rg-gauge-chart {
  //         margin: 0 auto!important;
  //     }
  }


  ::ng-deep .date-field-custom p-calendar{
    span{
        width: 100% !important;
    }
}

.custom-action-button{
  width: 30px !important;
    height: 30px !important;
    margin-top: 4%;
}
.delete-icon-row{
  position: absolute;
  margin-top: 4%!important;
}


::ng-deep body .ibox-body .NoBor .ui-inputtext {
    border: unset !important;
  }