<div class="fidelity-popup-heading container-fluid p-relative">Price Increase Config - Date Config
  <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<div *ngIf="data.pricingIncreaseMonthId" class="grid-icons-con  customer-info-btns float-right mt-2"
  (click)="editPage()">
  <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
    id="pricinf_edit_btn" title="Edit"><i aria-hidden="true" class="icon icon-edit"></i>
  </a>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content *ngIf="!data.pricingIncreaseMonthId">
  <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
    <form customForm class="fidelity-popup-form" style="margin-top:4%" [formGroup]="priceIncreaseConfigAddEditForm"
      (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Select Month<span class="mandatory-field">*</span></label>
            <select name="Month" class="form-control fidelity-form-input" formControlName="monthId">
              <option value="" disabled>Select Type</option>
              <option *ngFor="let month of monthsList" [value]="month.id">
                {{month.displayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Select Category<span class="mandatory-field">*</span></label>
            <select name="Category" class="form-control fidelity-form-input" formControlName="categoryId">
              <option value="" disabled>Select Category</option>
              <option *ngFor="let category of categoryList" [value]="category.id">
                {{category.displayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Increase Percentage<span class="mandatory-field">*</span></label>
            <input class="form-control fidelity-form-input" formControlName="increasePercentage"
              placeholder="Increase Percentage" type="text" max="100" [dropSpecialCharacters]="false"
              mask="percent.2" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
              <label class="d-block">Status<span class="mandatory-field">*</span></label>
              <label class="switch add-stack-status">
                  <input type="checkbox" formControlName="isActive">
                  <span class="slider round active"></span>
              </label>
          </div>
      </div>
      </div>
      <hr>
      <mat-dialog-actions align="end">
        <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
          cdkFocusInitial>Save</button>
        <button type="button" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
          [mat-dialog-close]="true">Cancel</button>
      </mat-dialog-actions>
    </form>
  </p-scrollPanel>
</mat-dialog-content>
<mat-dialog-content *ngIf="data.pricingIncreaseMonthId">
  <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
    <form customForm class="fidelity-popup-form" style="margin-top:4%" [formGroup]="priceIncreaseConfigAddEditForm"
      (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Region</label>
            <input value="{{priceIncreaseDateDetails?.regionName}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Division</label>
            <input value="{{priceIncreaseDateDetails?.divisionName}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>District</label>
            <input value="{{priceIncreaseDateDetails?.districtName}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Branch</label>
            <input value="{{priceIncreaseDateDetails?.branchName}}" class="form-control fidelity-form-input disabled"
              type="text" />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Select Month<span class="mandatory-field">*</span></label>
            <select [ngClass]="{'disabled': !isEdit}" name="Month" class="form-control fidelity-form-input"
              formControlName="monthId">
              <option value="" disabled>Select Type</option>
              <option *ngFor="let month of monthsList" [value]="month.id">
                {{month.displayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Select Category<span class="mandatory-field">*</span></label>
            <select [ngClass]="{'disabled': !isEdit}" name="Category" class="form-control fidelity-form-input"
              formControlName="categoryId">
              <option value="" disabled>Select Category</option>
              <option *ngFor="let category of categoryList" [value]="category.id">
                {{category.displayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Increase Percentage<span class="mandatory-field">*</span></label>
            <input [ngClass]="{'disabled': !isEdit}" class="form-control fidelity-form-input"
              formControlName="increasePercentage" placeholder="Increase Percentage" type="text" max="100"
              [dropSpecialCharacters]="false" mask="percent.2" />
          </div>
        </div>
      </div>
      <hr>
      <mat-dialog-actions align="end">
        <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
          cdkFocusInitial>Save</button>
        <button type="button" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
          [mat-dialog-close]="true">Cancel</button>
      </mat-dialog-actions>
    </form>
  </p-scrollPanel>
</mat-dialog-content>
