<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="ibox" style="height: 48vh;">
  <div class="ibox-body brown-border" style="height:auto">
    <div *ngIf="!nimbleSoldAccountReportId">
      <div class="form-group row mb-2">
        <div class="col-4">
          <div class="form-group p-relative">
            <label>Attachment</label>
            <div class="input-group fidelity-file-upload">
              <input class="input-box form-control " type="text" name="Upload Document" placeholder="Attach a file"
                maxlength="102" [(ngModel)]="fileName" readonly>
              <span class="input-group-btn">
                <div class="btn custom-file-uploader" id="documentName">
                  <input #fileInput type="file" name="file" [accept]="['.xlsx','.xls']"
                    (change)="uploadFiles($event)" />Browse
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class=" mt-4 text-center">
        <button class="btn btn-md-fidelity fidelity-btn-brown " style="margin-top:2.4rem !important" type="submit"
          (click)="onSubmit()"> Load Data</button>
      </div>
    </div>
    <p-scrollPanel [style]="{height: '39vh'}" styleClass="custom" *ngIf="isShowTable">
      <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
        [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status"
        [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
        (onActionSubmited)="onActionSubmited($event)">
      </app-page-list-table>
    </p-scrollPanel>
  </div>
  <div class="text-center mt-2" *ngIf="isShowTable">
    <button type="button" class="btn btn-md-fidelity fidelity-btn-brown" (click)="generate()">Generate Bulk
      Assignment</button>
    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey mr-3" (click)="goBack()">Cancel</button>
  </div>
