<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg mb-2">
      <p-scrollPanel [style]="{height: '69vh'}" styleClass="custom mb-1">
        <div class="ibox-body brown-border view-box">
            <app-view-page [col]="2" [viewDetail]="incidentDetailsViewDetails" [template]="1"></app-view-page>
            <h1 class="page-sub-title ext-padd mt-3">Incident List</h1>
            <br>
            <div class="container-fluid">
                <div class="header-row row">
                    <div class="col-5">Incident Type</div>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <div class="children-row row mb-2" *ngFor="let type of incidentDetails?.incidentTypesList">
                    <div class="col-5">
                        <select #input class="form-control fidelity-form-input" disabled>
                            <option [selected]="item.id == type.eventTypeId" [value]="item.id"
                                *ngFor="let item of eventTypeList; let i=index">
                                {{item.displayName}}</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <fieldset [disabled]="type?.colorCode != null">
                        <input type="text" [style.background]="type.colorCode" value={{type.colorCode}}
                         class="form-control fidelity-form-input">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        </p-scrollPanel>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelCmcSmsGroupBtn"
            routerLink='/event-management/ro-configuration' [queryParams]="{tab:5}">Back</button>
    </div>
</div>
