<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"> </app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="incidentForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">

                    <div class="row sm-inputs">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Incident Name<span class="mandatory-field">*</span></label>

                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="15"
                                    placeholder="Enter Incident Name" formControlName="incidentName">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*
                                    </span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAStringOnly' minlength="10" maxlength="100"
                                    placeholder="Enter Description" formControlName="description">
                                 </textarea>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Division<span class="mandatory-field">*
                                    </span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="incidentDivisionsList" multiple placeholder="Select Division">
                                    <mat-option value="" #allSelectedDivision *ngIf="divisionDropDown?.length > 0"
                                        (click)="toggleAllDivisions()" selected>All Divisions</mat-option>
                                    <mat-option *ngFor="let item of divisionDropDown" [value]="item.id"
                                        (click)="toggleDivisionOne(allSelectedDivision?.viewValue)">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status</label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-4">Incident Type <span class="mandatory-field">*</span></div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="" formArrayName="incidentTypesList"
                        *ngFor="let obj of getincidentTypesListArray?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <select #input class="form-control fidelity-form-input" (change)="OnChange(i)"
                                        formControlName="eventTypeId">
                                        <option value="" selected>Select Type</option>
                                        <option [value]="item.id" *ngFor="let item of eventTypeList; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <p-colorPicker formControlName="colorCode"></p-colorPicker>
                                    <span style="margin-left: 10px;"
                                        [ngStyle]="{'color':obj.get('colorCode')?.value}">{{obj.get('colorCode')?.value}}</span>

                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button"  *ngIf="i==0" class="circle-plus-btn" style="right: -4px;top: 5px;"
                                    (click)="addCmcSmsGroupEmployee()" title="add">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button type="button"  *ngIf="i!==0" class="circle-minus-btn" (click)="removeCmcSmsEmployee(i)"
                                    title="Delete"><i aria-hidden="true" class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{incidentId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/ro-configuration' [queryParams]="{tab:5}">Cancel</button>
        </div>
    </form>
</div>