<div class="fidelity-popup-heading container-fluid p-relative" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{customerPreferenceCustomerDispatchFlowId ? 'Update' : 'Add'}} Call Flow
    <button mat-icon-button class="close-button p-absolute" (click)="cancelButton()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
        <form class="fidelity-popup-form" customForm [formGroup]="customerDispatchFlowAddEditForm"
            (ngSubmit)="onSubmit()">
            <div class="row mt-2" style="border-bottom: 0px dotted black;">
                <div class="col-6">
                    <div class="form-group">
                        <label class="d-block">Signals</label>
                        <label class="switch add-stack-status">
                            <input type="checkbox" formControlName="isSignals" (change)="isSignalsChanged($event)">
                            <span class="slider round active"></span>
                        </label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Signals<span class="mandatory-field" *ngIf="isSignals">*</span></label>
                        <mat-select class="form-control fidelity-form-input"
                            formControlName="alarmTypeList" multiple
                            placeholder="Select Signal">
                            <mat-option value="" #allSelectedSignals *ngIf="signalDropDown?.length > 0"
                                (click)="toggleAllSignals()" selected>All Signals</mat-option>
                            <mat-option *ngFor="let item of signalDropDown" [value]="item.id"
                                (click)="toggleSignalOne(allSelectedSignals?.viewValue)">{{item.displayName}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">

                        <label class="d-block">Days</label>
                        <label class="switch add-stack-status">
                            <input type="checkbox" formControlName="isDays" (change)="isDaysChanged($event)">
                            <span class="slider round active"></span>
                        </label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Days<span class="mandatory-field" *ngIf="isDays">*</span></label>
                        <mat-select class="form-control fidelity-form-input"
                            formControlName="dayList" multiple
                            placeholder="Select Days">
                            <mat-option value="" #allSelectedDays *ngIf="daysDropDown?.length > 0"
                                (click)="toggleAllDays()" selected>All Days</mat-option>
                            <mat-option *ngFor="let item of daysDropDown" [value]="item.id"
                                (click)="toggleDayOne(allSelectedDays?.viewValue)">{{item.displayName}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">

                        <label class="d-block">Time Range</label>
                        <label class="switch add-stack-status">
                            <input type="checkbox" formControlName="isTimeRange" (change)="isTimeRangeChanged($event)">
                            <span class="slider round active"></span>
                        </label>
                    </div>
                </div>
                <div class="col-3 fidelity-date-picker-con p-relative">
                    <label class="d-block" for="">Start Time<span class="mandatory-field" *ngIf="isTimeRange">*</span></label>
                    <div class="form-group">

                      <p-calendar  formControlName="timeFrom"  styleClass="w-100" [timeOnly]="true" [readonlyInput]="true">
                      </p-calendar>
                    </div>
                </div>
                <div class="col-3 fidelity-date-picker-con p-relative">
                    <label class="d-block" for="">End Time<span class="mandatory-field" *ngIf="isTimeRange">*</span></label>
                    <div class="form-group">
                      <p-calendar  formControlName="timeTo"  styleClass="w-100" [timeOnly]="true" [readonlyInput]="true">
                      </p-calendar>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Description<span class="mandatory-field">*</span></label>
                        <textarea class="form-control fidelity-form-input" type="text"
                            [validateInput]='isAnAlphaNumericOnly' minlength="10" maxlength="150"
                            placeholder="Enter Description" formControlName="description"></textarea>
                    </div>
                </div>
                <div class="col-6" style="margin-top: 40px;">
                    <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button
                        type="submit">{{customerPreferenceCustomerDispatchFlowId ? 'Update' : 'Save'}}</button>
                    <button type="button" id="Feature_cancel_btn" (click)="cancelButton()"
                        class="btn btn-md-fidelity fidelity-btn-grey" mat-button>Cancel</button>
                </div>
            </div>
        </form>
</mat-dialog-content>
