<div class="col-12 page-heading">
    <h2 class="page-title" *ngIf="breadCrumbItems?.length>0" [style.fontSize]="captionFontSize ? captionFontSize : ''">
        {{tableCaption}}</h2>
    <ol class="breadcrumb" *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableBreadCrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item" *ngFor='let breadCrumbItem of (breadCrumbItems);index as i;'>
            <a *ngIf='breadCrumbItem?.isClick' (click)="onBreadCrumbItemsClick(breadCrumbItem)"
                style="cursor: pointer !important;">{{breadCrumbItem?.displayName}}</a>
            <a *ngIf='breadCrumbItem?.relativeRouterUrl && !breadCrumbItem?.queryParams && !breadCrumbItem?.isSkipLocationChange'
                [routerLink]="breadCrumbItem?.relativeRouterUrl"
                style="cursor: pointer !important;">{{breadCrumbItem?.displayName}}</a>
            <a *ngIf='breadCrumbItem?.relativeRouterUrl && !breadCrumbItem?.queryParams && breadCrumbItem?.isSkipLocationChange'
                [routerLink]="breadCrumbItem?.relativeRouterUrl" skipLocationChange
                style="cursor: pointer !important;">{{breadCrumbItem?.displayName}}</a>
            <a *ngIf='breadCrumbItem?.relativeRouterUrl && breadCrumbItem?.queryParams && !breadCrumbItem?.isSkipLocationChange'
                style="cursor: pointer !important;" [routerLink]="breadCrumbItem?.relativeRouterUrl"
                [queryParams]="breadCrumbItem?.queryParams">{{breadCrumbItem?.displayName}}</a>
            <a *ngIf='breadCrumbItem?.relativeRouterUrl && breadCrumbItem?.queryParams && breadCrumbItem?.isSkipLocationChange'
                style="cursor: pointer !important;" [routerLink]="breadCrumbItem?.relativeRouterUrl"
                [queryParams]="breadCrumbItem?.queryParams" skipLocationChange>{{breadCrumbItem?.displayName}}</a>
            <span *ngIf='!breadCrumbItem?.relativeRouterUrl && !breadCrumbItem?.isClick'
                style="cursor: text !important;">{{breadCrumbItem?.displayName}}</span>
        </li>
    </ol>
    <div class="grid-icons-con float-right pr-0"
        *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableAction">
        <div class="d-flex fidelity-search-input-con">
            <button type="button"
                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="onButtonClick('delete')" matTooltip="Delete"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableMultiDeleteActionBtn"
                style="top: 3px;right: 12px;">
                <i aria-hidden="true" class="icon icon-delete"></i></button>
            <button type="button"
                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="onButtonClick('upload')" matTooltip="Upload"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableUploadActionBtn"
                style="top: 3px;right: 12px;">
                <i aria-hidden="true" class="icon icon-upload"></i></button>
            <button [ngStyle]="customEnableActionButtonStyle" type="button"
                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('create')" [disabled]="isDisableCustomerPreference" matTooltip="Create New"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableAddActionBtn">
                <i aria-hidden="true" data-icon="b" class="icon"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                style="top: 3px;right: 6px;" (click)="onButtonClick('approved')"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableApprovedActionBtn">
                <i aria-hidden="true" class="icon icon-approved" matTooltip="Approved"></i>
            </button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('email')" matTooltip="Send Email"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableEmailBtn" style="top: 3px;">
                <i class="icon icon-email" aria-hidden="true"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('create')" matTooltip="Create Stock Order Request"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.shouldShowStockOrderCreationBtn"
                style="top: 3px;right: 6px;">
                <i aria-hidden="true" class="fa fa-location-arrow"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('interTechTransfer')" matTooltip="Inter Technician Transfer Order"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.shouldShowInterTechTransferBtn"
                style="top: 3px;">
                <i class="fa fa-exchange" aria-hidden="true"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('stock_swap')" matTooltip="Stock Swap"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.shouldShowStockSwapBtn" style="top: 3px;">
                <i class="fa fa-exchange" aria-hidden="true"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-white-btn" (click)="onButtonClick('cancel')"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.shouldShowCancelBtn">
                <i class=" icon icon-cancel" matTooltip="Cancel"></i>
            </button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('action')" matTooltip="Action"
                *ngIf="tableComponentConfigs.tabsList[selectedTabIndex]?.shouldShowExcludeActionBtn">
                <i class="fa fa-arrows" aria-hidden="true"></i></button>
            <button type="button" [printStyle]="tableComponentConfigs?.tabsList[selectedTabIndex]?.printStyle ? tableComponentConfigs?.tabsList[selectedTabIndex]?.printStyle :
            {span : {'color': '#333333 !important'}, a : {'color': '#333333 !important'}}"
                [styleSheetFile]="tableComponentConfigs?.tabsList[selectedTabIndex]?.styleSheetFile ? tableComponentConfigs?.tabsList[selectedTabIndex]?.styleSheetFile : ''"
                [printSectionId]="tableComponentConfigs?.tabsList[selectedTabIndex]?.printSection"
                [printTitle]="tableComponentConfigs?.tabsList[selectedTabIndex]?.printTitle" [useExistingCss]="true"
                ngxPrint class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                matTooltip="Print" *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enablePrintBtn">
                <i class="icon icon-print" aria-hidden="true"></i></button>
                <!-- <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('print')" matTooltip="Print"
                *ngIf="tableComponentConfigs.tabsList[selectedTabIndex]?.enablePrintBtn">
                <i class="fa fa-print" aria-hidden="true"></i></button> -->
            <button type="button" class="fidelity-btn-circle fidelity-white-btn" (click)="onButtonClick('export')"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableExportBtn" matTooltip="Export">
                <!-- <i aria-hidden="true" class="icon icon-share" matTooltip="Export"></i> -->
                <i aria-hidden="true" class="fa fa-download"></i>
            </button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('scan')" matTooltip="Scan"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableScanActionBtn">
                <i aria-hidden="true" class="icon icon-scan-code"></i></button>
            <button type="button" id="stock_edit"
                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableViewBtn" matTooltip="Edit"
                (click)="onButtonClick('edit')">
                <i aria-hidden="true" class="icon icon-edit"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('schedule')" matTooltip="schedule-selling-price"
                *ngIf="tableComponentConfigs.tabsList[selectedTabIndex]?.enableScheduleActionBtn">
                <i aria-hidden="true" data-icon="b" class="icon icon-schedule-selling-price"></i>
            </button>
            <button type="button" *ngIf="tableComponentConfigs.tabsList[selectedTabIndex]?.enableReloadBtn"
                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="onButtonClick('reload')" matTooltip="Reload">
                <i class="icon icon-refresh-1" aria-hidden="true"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-white-btn" (click)="onButtonClick('no-contacts')"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableContactsBtn" matTooltip="No Contacts">
                <i aria-hidden="true" class="icon icon-contact-numbers"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-white-btn" (click)="onButtonClick('click')"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableCallPickBtn" matTooltip="Call Back">
                <i aria-hidden="true" class="icon icon-call-pick"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-white-btn"
                (click)="onButtonClick('inspectioncancel')" matTooltip="Inspection Declined"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableCallCancelBtn">
                <i aria-hidden="true" class="icon icon-close"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('edit')" matTooltip="Edit"
                *ngIf="tableComponentConfigs.tabsList[selectedTabIndex]?.enableEditActionBtn">
                <i aria-hidden="true" data-icon="b" class="icon icon-edit"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('quick-action')" matTooltip="Quick Action"
                *ngIf="tableComponentConfigs.tabsList[selectedTabIndex]?.enableQuickActionBtn">
                <i aria-hidden="true" data-icon="b" class="icon icon-tile"></i></button>
            <button type="button" *ngIf="tableComponentConfigs.tabsList[selectedTabIndex]?.enableBulkUpdateBtn"
                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="onButtonClick('bulk-update')" matTooltip="Bulk Update">
                <i class="icon icon-refresh-1" aria-hidden="true"></i></button>
            <button type="button" *ngIf="tableComponentConfigs.tabsList[selectedTabIndex]?.enableRefreshBtn"
                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-relative"
                (click)="onButtonClick('refresh')">
                <i class="icon icon-refresh-2" matTooltip="Refresh"></i></button>
            <button type="button" class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onButtonClick('filter')" matTooltip="Apply Filter"
                *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.shouldShowFilterActionBtn">
                <i class="fa fa-filter" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="clearfix" *ngIf="tableComponentConfigs?.tabsList[selectedTabIndex]?.enableClearfix"></div>
</div>
