<div class="fidelity-popup-heading container-fluid p-relative" style="overflow: hidden;" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>{{isAdd ? 'Add ' : 'Update '}} Info
    <div class="p-absolute" style="right: 0; top: 10px;">
        <!-- <button mat-icon-button class="close-button" type="button">
                <mat-icon class="close-icon" color="#fff" (click)="onMinMaxDialog()">{{isMinMax ? 'maximize icon' : 'minimize icon'}}</mat-icon>
            </button> -->
        <button mat-icon-button class="close-button" type="button" (click)="btnClose()">
            <mat-icon class="close-icon" color="#fff">close</mat-icon>
        </button>
    </div>
</div>
<app-popup-loader></app-popup-loader>
<!-- <form class="fidelity-popup-form"> -->
<div class="fdt-dialog-body">
    <div class="custom-scroll p-0 m-0" style="white-space: nowrap;overflow-x: auto;">
        <form [formGroup]="specialProjectTechnicalAllocationUpdateForm" (ngSubmit)="updateSpecialProjectTechnician()">
            <!-- customForm -->
            <div class="row header-row" style="flex-wrap: nowrap;font-size: 0.9rem;">
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">Region</label>
                        <select class="form-control fidelity-form-input" name="" formControlName="regionId"
                            [ngClass]="{'is-invalid': specialProjectTechnicalAllocationUpdateForm?.get('regionId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('regionId')?.invalid }">
                            <option value="">--Select Region--</option>
                            <option *ngFor="let regionData of regionList" [value]="regionData?.id">
                                {{regionData?.displayName}}
                            </option>
                        </select>
                        <span class="text-danger mb-3"
                            *ngIf="specialProjectTechnicalAllocationUpdateForm?.get('regionId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('regionId')?.invalid && specialProjectTechnicalAllocationUpdateForm?.get('regionId')?.errors?.required">
                            Region is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">Division</label>
                        <select class="form-control fidelity-form-input" name="" formControlName="divisionId"
                            [ngClass]="{'is-invalid': specialProjectTechnicalAllocationUpdateForm?.get('divisionId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('divisionId')?.invalid }">
                            <option value="">--Select Division--</option>
                            <option *ngFor="let divisionData of divisionList" [value]="divisionData?.id">
                                {{divisionData?.displayName}}
                            </option>
                        </select>
                        <span class="text-danger mb-3"
                            *ngIf="specialProjectTechnicalAllocationUpdateForm?.get('divisionId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('divisionId')?.invalid && specialProjectTechnicalAllocationUpdateForm?.get('divisionId')?.errors?.required">
                            Division is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">District</label>
                        <select class="form-control fidelity-form-input" name="" formControlName="districtId"
                            [ngClass]="{'is-invalid': specialProjectTechnicalAllocationUpdateForm?.get('districtId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('districtId')?.invalid }">
                            <option value="">--Select District--</option>
                            <option *ngFor="let districtData of districtList" [value]="districtData?.id">
                                {{districtData?.displayName}}
                            </option>
                        </select>
                        <span class="text-danger mb-3"
                            *ngIf="specialProjectTechnicalAllocationUpdateForm?.get('districtId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('districtId')?.invalid && specialProjectTechnicalAllocationUpdateForm?.get('districtId')?.errors?.required">
                            District is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">Branch</label>
                        <select class="form-control fidelity-form-input" name="" formControlName="branchId"
                            [ngClass]="{'is-invalid': specialProjectTechnicalAllocationUpdateForm?.get('branchId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('branchId')?.invalid }">
                            <option value="">--Select Branch--</option>
                            <option *ngFor="let branchData of branchList" [value]="branchData?.id">
                                {{branchData?.displayName}}
                            </option>
                        </select>
                        <span class="text-danger mb-3"
                            *ngIf="specialProjectTechnicalAllocationUpdateForm?.get('branchId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('branchId')?.invalid && specialProjectTechnicalAllocationUpdateForm?.get('branchId')?.errors?.required">
                            Branch is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">Technicians Assigned</label>
                        <select class="form-control fidelity-form-input" name="" formControlName="userId"
                            [ngClass]="{'is-invalid': specialProjectTechnicalAllocationUpdateForm?.get('userId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('userId')?.invalid }">
                            <!-- specialProjectTechnicianAllocationId -->
                            <option value="">--Select Technician--</option>
                            <option *ngFor="let technicianData of technitianAssignedList" [value]="technicianData?.id">
                                {{technicianData?.displayName}}
                            </option>
                        </select>
                        <span class="text-danger mb-3"
                            *ngIf="specialProjectTechnicalAllocationUpdateForm?.get('userId')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('userId')?.invalid && specialProjectTechnicalAllocationUpdateForm?.get('userId')?.errors?.required">
                            Technician is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-date-picker-con cust-banner-date-con p-relative">
                        <label class="d-block" for="">Start Date</label>
                        <p-calendar formControlName="startDate" [style]="{'width':'100%'}" [minDate]="betweenStartDate"
                            [maxDate]="betweenEndDate">
                        </p-calendar>
                        <span class="d-block text-danger mb-3"
                            *ngIf="specialProjectTechnicalAllocationUpdateForm?.get('startDate')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('startDate')?.invalid && specialProjectTechnicalAllocationUpdateForm?.get('startDate')?.errors?.required">
                            Start Date is required
                        </span>
                        <span class="d-block text-danger mb-3"
                            *ngIf="specialProjectTechnicalAllocationUpdateForm?.get('startDate')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('startDate')?.invalid && specialProjectTechnicalAllocationUpdateForm?.get('startDate')?.errors?.lesserGreaterThan">
                            Start Date should be<br>Lesser than End Date
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-date-picker-con cust-banner-date-con p-relative">
                        <label class="d-block" for="">End Date</label>
                        <p-calendar formControlName="endDate" [style]="{'width':'100%'}" [minDate]="betweenStartDate"
                            [maxDate]="betweenEndDate">
                        </p-calendar>
                        <span class="d-block text-danger mb-3"
                            *ngIf="specialProjectTechnicalAllocationUpdateForm?.get('endDate')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('endDate')?.invalid && specialProjectTechnicalAllocationUpdateForm?.get('endDate')?.errors?.required">
                            End Date is required
                        </span>
                        <span class="d-block text-danger mb-3"
                            *ngIf="specialProjectTechnicalAllocationUpdateForm?.get('endDate')?.touched && specialProjectTechnicalAllocationUpdateForm?.get('endDate')?.invalid && specialProjectTechnicalAllocationUpdateForm?.get('endDate')?.errors?.lesserGreaterThan">
                            End Date should be<br>Greater than Start Date
                        </span>
                    </div>
                </div>
                <div class="col-1 p-relative" *ngIf="isAdd">
                    <button type="button" (click)="addTechnitialToTable()" class="circle-plus-btn" matTooltip="Add"
                        style="top: 26px;right: 0px;">
                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                    </button>
                </div>
            </div>
            <div class="text-center mt-4 mb-2" *ngIf="!isAdd">
                <button class="btn btn-md-fidelity fidelity-btn-brown">Update</button>
                <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="btnClose()">Cancel</button>
            </div>
        </form>


        <form customForm [formGroup]="specialProjectTechnicalAllocationAddForm"
            (ngSubmit)="createSpecialProjectTechnician()" *ngIf="isAdd">
            <div class="children-row mb-2" formArrayName="specialProjectTechnicianAllocation">
                <div class="children-row row mb-1" style="flex-wrap: nowrap;font-size: 0.9rem;"
                    *ngFor="let control of specialProjectTechAssignedFormArray?.controls; let i = index"
                    [formGroupName]="i">
                    <div class="col-2">
                        <input class="form-control fidelity-form-input disabled" type="text"
                            formControlName="regionName" />
                    </div>
                    <div class="col-2">
                        <input class="form-control fidelity-form-input disabled" type="text"
                            formControlName="divisionName" />
                    </div>
                    <div class="col-2">
                        <input class="form-control fidelity-form-input disabled" type="text"
                            formControlName="districtName" />
                    </div>
                    <div class="col-2">
                        <input class="form-control fidelity-form-input disabled" type="text"
                            formControlName="branchName" />
                    </div>
                    <div class="col-2">
                        <input class="form-control fidelity-form-input disabled fidelity_email" type="text"
                            formControlName="userName" />
                    </div>
                    <div class="col-2">
                        <input class="form-control fidelity-form-input disabled" type="text"
                            formControlName="startDate" />
                    </div>
                    <div class="col-2">
                        <input class="form-control fidelity-form-input disabled" type="text"
                            formControlName="endDate" />
                    </div>
                    <div class="col-1 p-relative">
                        <!-- <button matTooltip="Edit" class="circle-plus-btn p-absolute" style="left: 16px;">
                                    <i aria-hidden="true" class="icon icon-edit"></i>
                                </button> -->
                        <button matTooltip="Delete" class="circle-minus-btn p-absolute" type="button"
                            (click)="deleteAssignedTechnician(i)" style="left: 15px;">
                            <i aria-hidden="true" class="icon icon-delete"></i>
                        </button>
                    </div>
                </div>
            </div>
            <span class="text-danger mb-3" *ngIf="isEmptyArray">
                Allocate Technician manually
            </span>
            <div class="text-center mt-4 mb-2">
                <button class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="btnClose()">Cancel</button>
            </div>
        </form>
    </div>
</div>
<!-- </form> -->
