@import './../../../../../../variables.scss';

.key {
    display: inline-block;
    width: 38%;
    color: #8A8A8A;
    word-wrap: break-word;
}

.value {
    width: 62%;
    word-wrap: break-word;

    span {
        width: 100%;
        border:none;
        font-family: $fidelity-font-bold;
        font-size: 1.2rem;
    }
}
   
   
    
     