<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [captionFontSize]="primengTableConfigProperties.captionFontSize" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg" style="height: auto;">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="ibox-body brown-border">
                        <app-view-page [col]="2" [viewDetail]="serviceCallDiscountDetail">
                        </app-view-page>
                        <div class="container-fluid p-relative warehouse-con" class="mt-2">
                            <div class="row product-header-row mb-2">
                                <div class="col-2">Service Call Before Discount Excl. Vat</div>
                                <div class="col-2">Service Call Before Discount Incl. Vat</div>
                                <div class="col-2">Discount Amount Excl. Vat</div>
                                <div class="col-2">Discount Amount Incl. Vat</div>
                                <div class="col-2">Discount Percentage</div>
                            </div>

                            <div class="row children-row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                                        value="{{serviceCallDiscountDetails?.callAmountBeforeDiscountExVat?.toString() ? 
                                        (serviceCallDiscountDetails?.callAmountBeforeDiscountExVat | formatNumber) : ''}}" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                                        value="{{serviceCallDiscountDetails?.callAmountBeforeDiscountInVat?.toString() ? 
                                            (serviceCallDiscountDetails?.callAmountBeforeDiscountInVat | formatNumber) : ''}}" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                                        value="{{serviceCallDiscountDetails?.discountAmountExVat?.toString() ? 
                                            (serviceCallDiscountDetails?.discountAmountExVat | formatNumber) : ''}}" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                                        value="{{serviceCallDiscountDetails?.discountAmountInVat?.toString() ? 
                                            (serviceCallDiscountDetails?.discountAmountInVat | formatNumber) : ''}}" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                        value="{{serviceCallDiscountDetails?.discountPercentage}}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngFor="let approverData of serviceCallDiscountDetails?.approvalDetails">
                            <div class="col-8">
                                <div class="form-group fidelity-multiselect-dropdown-con">
                                    <label class="d-block">{{ approverData?.roleName }} Comments</label>
                                    <input class="form-control fidelity-form-input disabled" type="text" [value]="approverData?.comment" />
                                </div>
                            </div>
                            <!-- <div class="col-4">
                                <div class="form-group fidelity-multiselect-dropdown-con">
                                    <label class="d-block">Status</label>
                                    <input class="form-control fidelity-form-input disabled" type="text" [value]="approverData?.technicialCallDiscountRequestApprovalStatusName"/>
                                </div>
                            </div> -->
                        </div>

                        <form [formGroup]="serviceForDiscountApprovalForm" (ngSubmit)="updateServiceForDiscount()">
                            <div class="row header-row" style="flex-wrap: nowrap;font-size: 0.9rem;">
                                <div class="col-8">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label class="d-block">{{ serviceCallDiscountDetails?.currentApproval?.roleName }} Comments<span class="mandatory-field" *ngIf="getStatusName()">*</span></label>
                                        <input class="form-control fidelity-form-input" type="text" formControlName="Comment" />
                                        <span class="text-danger" *ngIf="serviceForDiscountApprovalForm?.get('Comment')?.touched && serviceForDiscountApprovalForm?.get('Comment')?.errors?.required">
                                            Comment is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input" name="" formControlName="TechnicialCallDiscountRequestApprovalStatusId">
                                            <option value="" disabled selected>--Select Status--</option>
                                            <option *ngFor="let statusData of statusList"
                                            [value]="statusData?.id">
                                                {{statusData?.displayName}}
                                            </option>
                                        </select>
                                        <span class="text-danger" *ngIf="serviceForDiscountApprovalForm?.get('TechnicialCallDiscountRequestApprovalStatusId')?.touched && serviceForDiscountApprovalForm?.get('TechnicialCallDiscountRequestApprovalStatusId')?.errors?.required">
                                            Status is required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4 mb-2">
                                <button class="btn btn-md-fidelity fidelity-btn-brown"
                                [disabled]="serviceCallDiscountDetails?.currentApproval?.technicialCallDiscountRequestApprovalStatusName?.toLowerCase() != 'pending'">Submit</button>
                                <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="redirectToList()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>