<div class="page-heading">
  <h1 class="page-title">Safe Entry</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i aria-hidden="true" class="fa fa-home"></i> </a>
    </li>
    <li class="breadcrumb-item"><a>Task Management</a></li>
    <li class="breadcrumb-item">Lead Info: Joshi</li>
    <li class="breadcrumb-item">Quick Action: Safe Entry</li>
  </ol>
</div>
<div class="page-content fade-in-up">
  <div class="ibox" style="height: auto;">
    <p-scrollPanel [style]="{ height: '65vh'}">
      <div class="ibox-body">
        <form class="fidelity-popup-form" [formGroup]="safeEntryForm" (ngSubmit)="onSubmit()" customForm>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Contract</label>
                <select id="contract" class="form-control fidelity-form-input" name="Contract"
                  formControlName="agreementId">
                  <option value="">Select Contract</option>
                  <option *ngFor="let contract of contractList" [value]="contract.id">
                    {{contract.displayName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Subscription</label>
                <input readonly class="form-control fidelity-form-input input-disabled" type="text" name="Subscription"
                  formControlName="subscriptionServiceId">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>User Group</label>
                <select id="groupId" class="form-control fidelity-form-input" name="User Group"
                  formControlName="groupId">
                  <option value="">Select User Group</option>
                  <option *ngFor="let userGroup of userGroupList" [value]="userGroup.id">
                    {{userGroup.displayName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="">Reason<span class="mandatory-field">*</span></label>
                <textarea name="Reason" formControlName="reason" class="form-control fidelity-form-input"
                  rows="2"></textarea>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Complementary Count</label>
                <input readonly class="form-control fidelity-form-input input-disabled" type="text"
                  name="Complementary Count" formControlName="balanceSafeEntryCount">
              </div>
            </div>
          </div>
          <div class="page-sub-title">REQUESTOR INFO</div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="">Contact Person Name<span class="mandatory-field">*</span></label>
                <input type="text" mask="S*" maxlength="50" formControlName="contactPersonName"
                  class="fidelity-form-input form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Contact Number<span class="mandatory-field">*</span></label>
                <div class="input-group mt-1 mb-1 p-relative" style="width: 100%">
                  <div class="input-group-prepend">
                    <select class="form-control fidelity-form-input" name="" id="period_from"
                      formControlName="contactCountryCode"
                      style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                      <option value="+27">+27</option>
                      <option value="+91">+91</option>
                      <option value="+45">+45</option>

                    </select>
                  </div>
                  <input id="contactNumber" [maxlength]="12" [minlength]="11" formControlName="contactNumberValue"
                    appPhoneMask placeholder="Contact Number" class="form-control fidelity-form-input"
                    name="Contact Number" placeholder="Contact Number" type="text"
                    style="border-radius: 7px;border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;">

                </div>
              </div>
            </div>
            <div class="col-4">
              <label for="">Request Duration (Date & Time)<span class="mandatory-field">*</span></label>
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" formControlName="safeEntryDate" [min]="minDate"
                        name="Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-3 time-picker-space">
                    <p-calendar [showTime]="true" [timeOnly]="true" [readonlyInput]="true" appendTo="body"
                      hourFormat="24" showButtonBar="true" formControlName="startTime" [style]="{'width':'100%'}">
                    </p-calendar>

                 terial-timepicker> -->
                  </div>
                  <div class="col-3 time-picker-space">
                    <p-calendar [showTime]="true" [timeOnly]="true" [readonlyInput]="true" appendTo="body"
                      hourFormat="24" showButtonBar="true" formControlName="endTime" [style]="{'width':'100%'}">
                    </p-calendar>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-sub-title">OTHER INFO</div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="">Vehicle Make</label>
                <input type="text" formControlName="vehicleMake" mask="A*" maxlength="50"
                  class="fidelity-form-input form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Vehicle Model</label>
                <input type="text" formControlName="vehicleModel" mask="A*" maxlength="50"
                  class="fidelity-form-input form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Vehicle Registration Number</label>
                <mat-form-field>
                  <input class="" [id]="vehicleRegistrationNumber" formControlName="vehicleRegistrationNumber"
                    #vehicleRegistrationNumber type="text" matInput name="Vehicle Registration Number"
                    [matAutocomplete]="auto" class="">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngIf="isLoading" class="is-loading">
                      <mat-spinner diameter="20"></mat-spinner>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                      <mat-option *ngFor="let vechicleRegistrationNumber of vechicleRegistrationNumberList"
                        [value]="vechicleRegistrationNumber.displayName">
                        <span>{{ vechicleRegistrationNumber.displayName }}</span>
                      </mat-option>
                    </ng-container>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <span class="text-danger"
                *ngIf="safeEntryForm.get('vehicleRegistrationNumber')?.touched && safeEntryForm.get('vehicleRegistrationNumber')?.errors?.required">
                Vehicle Registration Number is required
              </span>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Vehicle Color</label>
                <select name="" formControlName="vehicleColor" id="" class="form-control fidelity-form-input">
                  <option value="" disabled selected>Select Vechicle Color</option>
                  <option value="Pink">Pink</option>
                  <option value="Black">Black</option>
                  <option value="Blue">Blue</option>
                  <option value="White">White</option>
                  <option value="Green">Green</option>
                  <option value="Yellow">Yellow</option>
                  <option value="Orange">Orange</option>
                  <option value="Red">Red</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Comments<span class="mandatory-field">*</span></label>
                <textarea name="" formControlName="comments" class="form-control fidelity-form-input"
                  rows="2"></textarea>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Submit</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </p-scrollPanel>
  </div>
</div>
