<ng-container *ngIf="inputObject.fromComponentType=='lead'">
    <app-lead-lifecycle-breadcrumb-icon-actions-header [breadCrumb]="breadCrumb">
    </app-lead-lifecycle-breadcrumb-icon-actions-header>
</ng-container>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <ng-container *ngIf="inputObject.fromComponentType=='lead'">
            <app-lead-lifecycle-header-container>
            </app-lead-lifecycle-header-container>
        </ng-container>
        <form customForm *ngIf="accessPremisesForm" [formGroup]="accessPremisesForm" (ngSubmit)="onSubmit()">
            <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
                <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
                    <div class="p-absolute" *ngIf="inputObject.fromComponentType=='lead'" style="right: 47px!important;
                                    top: 8px;z-index: 2;display: inline-flex !important;">
                        <div
                            class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
                            <button type="button" (click)="onArrowClick('previous')">
                                <i class="icon icon-backward"></i>
                            </button>
                            <span class="d-flex stage-no mr-2 ml-2">{{currentAgreementTabObj?.indexNo}}</span>
                            <button type="button" (click)="onArrowClick('next')">
                                <i class="icon icon-forward"></i>
                            </button>
                        </div>
                    </div>
                    <p-scrollPanel [style]="{height: pScrollStyleHeight}" styleClass="custom">
                        <fieldset [disabled]="isDisabled">
                            <div class="mt-3">
                                <div class="row align-items-center mb-2">
                                    <div class="col-10 page-sub-title">
                                        Access to Premises
                                    </div>
                                    <a *ngIf="inputObject.fromComponentType!='lead'" title="Edit"
                                        [class.disabled]="!isDisabled" (click)="onEditBtnClicked()"
                                        class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3 float-right"
                                        id="pricinf_edit_btn">
                                        <i aria-hidden="true" class="icon icon-edit"></i>
                                    </a>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <div class="form-group d-flex justify-content-start align-items-center">
                                                <mat-checkbox class="fidelity-checkbox"
                                                    formControlName="isArmedResponsePadlock">Armed Response Padlock
                                                    on Gate</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-container>
                                        <div class="col-5">
                                            <div class="form-group" style="display: flex;flex-direction: column;">
                                                <mat-radio-group formControlName="isPadlockOnGate"
                                                    aria-label="Select an option" id="PadlockOnGate">
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                        Door
                                                    </mat-radio-button>
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="true" ml-4
                                                        style="margin-left:50px">Gate
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                    formControlName="padlockDescription">
                                                </text-area-custom-control>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <div class="form-group d-flex justify-content-start align-items-center">
                                                <mat-checkbox class="fidelity-checkbox"
                                                    formControlName="isBarrelLockFitted">Barrel Lock Fitted
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-container>
                                        <div class="col-5">
                                            <div class="form-group" style="display: flex;flex-direction: column;">
                                                <mat-radio-group formControlName="isBarrelLockFittedOnGate"
                                                    aria-label="Select an option" id="barellelDoor">
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                        Door
                                                    </mat-radio-button>
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="true" ml-4
                                                        style="margin-left:50px">Gate
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                    formControlName="barrelLockFittedDescription">
                                                </text-area-custom-control>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <div class="form-group d-flex justify-content-start align-items-center">
                                                <mat-checkbox class="fidelity-checkbox"
                                                    formControlName="isDigipadOnGate">
                                                    Digipad Fitted</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <p-scrollPanel [style]="{height: '15vh'}" styleClass="custom">
                                            <ng-container *ngIf="accessPremisesForm?.value?.isDigipadOnGate">
                                                <div formArrayName="digipads"
                                                    *ngFor="let obj of accessPremisesForm?.get('digipads')?.controls;index as i">
                                                    <div [ngClass]="{'mt-3': i>0}" class="row children-row"
                                                        [formGroupName]="i">
                                                        <div class="col-4">
                                                            <div class="form-group" style="width: 100%;">
                                                                <input class="form-control fidelity-form-input"
                                                                    autocomplete="off" #input
                                                                    placeholder="Gate Name" formControlName="gateName"
                                                                    type="text" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                        <div id="password-eye" class="col-4">
                                                            <div class="form-group">
                                                                <input style="width: 100%;" autocomplete="off"
                                                                    #input class="form-control fidelity-form-input"
                                                                    placeholder="Enter Access Code"
                                                                    [ngClass]="{'fidelity_password':!getDigiPadListArray.controls[i].get('isPasswordShow').value}"
                                                                    [minlength]="formConfigs.four"
                                                                    [maxlength]="formConfigs.maxLengthTwentyFive"
                                                                    formControlName="digipadAccessCode"
                                                                    name="Access Code" />
                                                                <div *ngIf="getDigiPadListArray.controls[i].get('digipadAccessCode').value"
                                                                    (mouseout)="getDigiPadListArray.controls[i].get('isPasswordShow').setValue(false)">
                                                                    <a style="position: absolute;top: 4px;right: 24px;"
                                                                        (click)="getDigiPadListArray.controls[i].get('isPasswordShow').setValue(!getDigiPadListArray.controls[i].get('isPasswordShow').value)">
                                                                        <i [ngClass]="!getDigiPadListArray.controls[i].get('isPasswordShow').value?'fa fa-eye-slash':'fa fa-eye'"
                                                                            class="fa fa-eye"
                                                                            aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-1"  *ngIf="i !=0">
                                                            <button style="top: -1px;right: 6px;"
                                                                *ngIf="i !=0 || digipads.length > 1" type="button"
                                                                matTooltip="Delete" class="circle-minus-btn"
                                                                (click)="removeDigipad(i)">
                                                                <i aria-hidden="true" class="icon icon-delete"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-3 d-flex align-items-center justify-content-center"
                                                            *ngIf="i==0">
                                                            <button style="white-space: nowrap;
                                                        padding: 4px 30px !important;" type="button" *ngIf="i==0"
                                                                (click)="addDigipad()"
                                                                class="btn btn-md-fidelity fidelity-btn-brown">
                                                                {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </p-scrollPanel>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                formControlName="digipadDescription">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <div class="form-group d-flex justify-content-start align-items-center">
                                                <mat-checkbox class="fidelity-checkbox" formControlName="isLockBox">
                                                    Lockbox</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <p-scrollPanel [style]="{height: '15vh'}" styleClass="custom">
                                            <ng-container *ngIf="accessPremisesForm?.value?.isLockBox">
                                                <div formArrayName="lockBoxes"
                                                    *ngFor="let obj of accessPremisesForm?.get('lockBoxes')?.controls;let i=index">
                                                    <div [ngClass]="{'mt-3': i>0}" class="row children-row"
                                                        [formGroupName]="i">
                                                        <div class="col-4">
                                                            <div class="form-group" style="width: 100%;">
                                                                <input class="form-control fidelity-form-input"
                                                                    autocomplete="off" #input
                                                                    placeholder="Gate Name" formControlName="gateName"
                                                                    type="text" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                        <div id="password-eye" class="col-4">
                                                            <div class="form-group">
                                                                <input style="width: 100%;" autocomplete="off"
                                                                    #input class="form-control fidelity-form-input"
                                                                    [ngClass]="{'fidelity_password':!getLockBoxesListArray.controls[i].get('isPasswordShow').value}"
                                                                    [minlength]="formConfigs.four"
                                                                    [maxlength]="formConfigs.maxLengthTwentyFive"
                                                                    formControlName="lockBoxAccessCode"
                                                                    placeholder="Enter Access Code"
                                                                    name="Access Code" />
                                                                <div *ngIf="getLockBoxesListArray.controls[i].get('lockBoxAccessCode').value"
                                                                    (mouseout)="getLockBoxesListArray.controls[i].get('isPasswordShow').setValue(false)">
                                                                    <a style="position: absolute;top: 4px;right: 24px;"
                                                                        (click)="getLockBoxesListArray.controls[i].get('isPasswordShow').setValue(!getLockBoxesListArray.controls[i].get('isPasswordShow').value)">
                                                                        <i [ngClass]="!getLockBoxesListArray.controls[i].get('isPasswordShow').value?'fa fa-eye-slash':'fa fa-eye'"
                                                                            class="fa fa-eye"
                                                                            aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-1" *ngIf="i !=0">
                                                            <button style="top: -1px;right: 6px;"
                                                                *ngIf="i !=0 || lockBoxes.length > 1" type="button"
                                                                matTooltip="Delete" class="circle-minus-btn"
                                                                (click)="removeLockBox(i)">
                                                                <i aria-hidden="true" class="icon icon-delete"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-3 d-flex align-items-center justify-content-center"
                                                            *ngIf="i==0">
                                                            <button style="white-space: nowrap;
                                                        padding: 4px 30px !important;" type="button" *ngIf="i==0"
                                                                (click)="addLockBox()"
                                                                class="btn btn-md-fidelity fidelity-btn-brown">
                                                                {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </p-scrollPanel>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                formControlName="lockBoxDescription">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <div class="form-group d-flex justify-content-start align-items-center">
                                                <mat-checkbox class="fidelity-checkbox" formControlName="isSecureGate">
                                                    Secure Gate</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <input class="fidelity-form-input form-control "
                                                placeholder="Transmitter Id" disabled formControlName="transmitterId">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                formControlName="secureGateDescription">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox"
                                                formControlName="isArmedResponseReceiverOnGate">Armed Response
                                                Receiver on Gate</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <input class="fidelity-form-input form-control" placeholder="Receiver Id"
                                                disabled formControlName="receiverId">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                formControlName="armedResponseReceiverOnGateDescription">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox"
                                                formControlName="isAuthroziedNoAccess">
                                                Authorised No Access
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-5"></div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                formControlName="authroziedNoAccessDescription">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox" formControlName="isUnProtectWall">
                                                Unprotect Wall</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                formControlName="unProtectWallDescription">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox" formControlName="isOpenAccess">
                                                Open Access</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <text-area-custom-control [maxlength]="formConfigs.twoFifty"
                                                formControlName="openAccessDescription">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="">Site Instruction for AR officers</label>
                                            <text-area-custom-control [maxlength]="formConfigs.threeHundred"
                                                formControlName="siteInstructionForAROfficer">
                                            </text-area-custom-control>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-3" *ngIf="!isDisabled">
                                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                                    <button type="button" (click)="redirectToTab('backToLead')"
                                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">{{inputObject.fromComponentType=='lead'?'Back
                                        to
                                        Lead':'Reset'}}
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </p-scrollPanel>
                </div>
            </div>
        </form>
    </div>
</div>