<app-lead-lifecycle-breadcrumb-icon-actions-header [breadCrumb]="breadCrumb">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <app-lead-lifecycle-header-container>
        </app-lead-lifecycle-header-container>
        <div class="ibox service-agreement-con space-saving-con" style="height: auto;">
            <div class="ibox-body mt-3 p-relative">
                <div class="p-absolute"
                    style="right: 47px!important;top: 8px;z-index: 2;display: inline-flex !important;">
                    <div class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator"
                        style="
                                        top: -13px;">
                        <button (click)="onArrowClick()">
                            <i class="icon icon-backward"></i>
                        </button>
                        <span *ngIf="!IsInstallationDebtor"
                            class="d-flex stage-no mr-2 ml-2">{{currentAgreementTabObj?.indexNo}}</span>
                        <span *ngIf="IsInstallationDebtor" class="d-flex stage-no mr-2 ml-2">4</span>
                    </div>
                </div>
                <p-scrollPanel [style]="{height: '35vh'}" styleClass="custom">
                    <div class="row align-items-center mb-2">
                        <div class="col-10 page-sub-title mt-4">
                            {{serviceAgreementStepsParams?.contractType=='1'?'Service Contract
                            Creation':'Installation Contract Creation'}}
                        </div>
                    </div>
                    <ng-container>
                        <table style="width: 100%" class="fidelity-table mt-2 service-table">
                            <thead>
                                <th></th>
                                <th>Checklist</th>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let tab of availableTabs;index as i">
                                    <tr>
                                        <td>
                                            <div class="col-4 d-flex justify-content-start align-items-end">
                                                <div class="form-group d-flex justify-content-start align-items-center">
                                                    <mat-checkbox disabled [checked]="tab.isFilled === true"
                                                        class="fidelity-checkbox"></mat-checkbox>
                                                </div>
                                            </div>
                                        </td>
                                        <td *ngIf="tab.agreementTabName=='Customer Identification'&&tab.isFilled">
                                            {{tab.agreementTabName}}<span *ngIf="tab.isMandatory"
                                                class="mandatory-field">*</span></td>
                                        <td *ngIf="tab.agreementTabName=='Customer Identification'&&!tab.isFilled">
                                            <a style="color: #007ad9;"
                                                (click)="getCustomerIdentification()">{{tab.agreementTabName}}</a><span
                                                *ngIf="tab.isMandatory" class="mandatory-field">*</span>
                                        </td>
                                        <td
                                            *ngIf="tab.navigationUrl==''&&tab.agreementTabName!=='Customer Identification'">
                                            {{tab.agreementTabName}}<span *ngIf="tab.isMandatory"
                                                class="mandatory-field">*</span></td>
                                        <td
                                            *ngIf="tab.navigationUrl!==''&&tab.agreementTabName!=='Customer Identification'">
                                            <a style="color: #007ad9;"
                                                [routerLink]="tab.navigationUrl">{{tab.agreementTabName}}</a><span
                                                *ngIf="tab.isMandatory" class="mandatory-field">*</span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </ng-container>
                </p-scrollPanel>
            </div>
            <div class="text-center mt-3">
                <button type="button" (click)="onSubmit()" class="btn btn-md-fidelity btn-primary btn-default">Generate
                    Contract</button>
                <button type="button" (click)="redirectToTab()"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Back to
                    Lead</button>
            </div>
        </div>
    </div>
</div>

<!--customer_identification_ modal-->
<div class="modal" #customer_identification_modal id="customer_identification_modal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Add Customer ID - {{customerSiteType?.displayName}}</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <app-popup-loader></app-popup-loader>
            <form customForm [formGroup]="customerIdentificationForm" *ngIf="customerIdentificationForm"
                class="fidelity-popup-form">
                <mat-dialog-content>
                    <div class="row" style="padding: 10px;">
                        <ng-container *ngIf="customerSiteType?.id==2">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Register Number</label>
                                    <input-custom-control formControlName="companyRegNo">
                                    </input-custom-control>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="customerSiteType?.id==1">
                            <div class="col-12">
                                <label class="ext-padd d-block mt-2">ID Type</label>
                                <mat-radio-group formControlName="isPassport" aria-label="Select an option">
                                    <mat-radio-button id="available" class="fidelity-radio-btn" [value]="false">SA ID
                                        Number
                                    </mat-radio-button>
                                    <mat-radio-button id="custom" class="fidelity-radio-btn" [value]="true" ml-4
                                        style="margin-left:50px">Passport
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-6" *ngIf="customerIdentificationForm?.get('isPassport').value==false">
                                <div class="form-group">
                                    <label>SA ID</label>
                                    <input-custom-control [name]="'SA ID'" [placeholder]="'Enter SA ID'"
                                        formControlName="SAID">
                                    </input-custom-control>
                                </div>
                            </div>
                            <ng-container *ngIf="customerIdentificationForm?.get('isPassport').value==true">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label>Passport Number</label>
                                        <input-custom-control formControlName="passportNo">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <label>Expiry Date <span class="mandatory-field">*</span></label>
                                    <div class="row">
                                        <div class="col-6">
                                            <select-custom-control [loopableArray]='months' [defaultOptionValue]="null"
                                                formControlName="passportExpiryMonth">
                                            </select-custom-control>
                                        </div>
                                        <div class="col-6">
                                            <select-custom-control [loopableArray]='years' [defaultOptionValue]="null"
                                                formControlName="passportExpiryYear">
                                            </select-custom-control>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </mat-dialog-content>
                <div class="text-center mt-4 mb-2">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" (click)="onSubmitCustomerIdentification()"
                        type="submit">Save</button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
                        data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>