<app-lead-lifecycle-breadcrumb-icon-actions-header [breadCrumb]="breadCrumb">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <app-lead-lifecycle-header-container>
        </app-lead-lifecycle-header-container>
        <form customForm [formGroup]="debtorForm" *ngIf="debtorForm" (ngSubmit)="onSubmit()">
            <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
                <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
                    <div class="p-absolute"
                        style="right: 47px!important;top: 8px;z-index: 2;display: inline-flex !important;">
                        <div
                            class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
                            <button type="button" (click)="onArrowClick('previous')">
                                <i class="icon icon-backward"></i>
                            </button>
                            <span class="d-flex stage-no mr-2 ml-2"
                                *ngIf="!IsInstallationDebtor">{{currentAgreementTabObj.indexNo}}</span>
                            <span class="d-flex stage-no mr-2 ml-2" *ngIf="IsInstallationDebtor">2</span>
                            <button type="button" (click)="onArrowClick('next')">
                                <i class="icon icon-forward"></i>
                            </button>
                        </div>
                    </div>
                    <p-scrollPanel [style]="{height: '41vh'}" styleClass="custom">
                        <div class="row align-items-center mb-2">
                            <div class="mb-2 col-md-10 page-sub-title">
                                DEBTOR INFORMATION
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-md-2">
                                <div class="form-group">
                                    <div class="mb-2 col-md-4 d-flex justify-content-start align-items-end pl-0">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox class="fidelity-checkbox" (change)="changeIsDebtorSame()"
                                                formControlName="isDebtorSameAsCustomer">Debtor Same As Customer
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2 col-md-2">
                                <div class="form-group d-flex justify-content-start align-items-center">
                                    <mat-checkbox [disabled]="!debtorForm.get('debtorTypeId')?.value"
                                        class="fidelity-checkbox" (change)="changeIsExisting()"
                                        formControlName="isExistingDebtor">Existing Debtor</mat-checkbox>
                                </div>
                            </div>
                            <div *ngIf="details?.linkContractDebtor" class="mb-2 col-md-3">
                                <div class="form-group d-flex justify-content-start align-items-center">
                                    <button [disabled]="debtorForm.get('linkContractDebtor').value==null" type="button"
                                        (click)="linkExistingAgreementDebtor()"
                                        class="btn btn-md-fidelity fidelity-btn-brown">Link Debtor</button>
                                </div>
                            </div>
                            <div class="mb-2 col-md-1"></div>
                            <div class="mb-2 col-md-3">
                                <div class="form-group mb-0">
                                    <mat-radio-group [disabled]="true" formControlName="debtorTypeId">
                                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="1">Legal Entity
                                        </mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" [value]="2">Person
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="mb-2 col-md-2" *ngIf="debtorForm.value.isExistingDebtor">
                                <div class="form-group" style="width: 100%;">
                                    <label>BDI Number</label>
                                    <input class="form-control fidelity-form-input" disabled formControlName="bdiNumber"
                                        placeholder="BDI Number" />
                                </div>
                            </div>
                            <div class="mb-2 col-md-2" *ngIf="debtorForm.value.isExistingDebtor">
                                <div class="form-group" style="width: 100%;">
                                    <label>Debtor ID</label>
                                    <input class="form-control fidelity-form-input" disabled
                                        formControlName="debtorRefNo" placeholder="Debtor ID" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-md-4">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="mb-2 col-md-12">
                                            <label>Title<span class="mandatory-field">*</span></label>
                                            <select-custom-control
                                                [extraClassNames]="debtorForm.value.isExistingDebtor|| debtorForm.value.isDebtorSameAsCustomer?'disabled':''"
                                                [loopableArray]='titles' formControlName="titleId">
                                            </select-custom-control>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Name<span class="mandatory-field">*</span></label>
                                    <input-custom-control [extraClassNames]="debtorForm.value.isExistingDebtor
                                    || debtorForm.value.isDebtorSameAsCustomer?'disabled':''"
                                        formControlName="firstName">
                                    </input-custom-control>
                                </div>
                            </div>
                            <div class="mb-2 col-md-4">
                                <div class="row">
                                    <div [ngClass]="(isOnInvoicePayment&&!isItemAndOnInvoiceOnly)?'col-6':'col-12'">
                                        <label>Surname<span class="mandatory-field">*</span></label>
                                        <input-custom-control [extraClassNames]="debtorForm.value.isExistingDebtor
                                    || debtorForm.value.isDebtorSameAsCustomer?'disabled':''"
                                    [name]="'Surname'"
                                            [placeholder]="'Enter Surname'" formControlName="lastName">
                                        </input-custom-control>
                                    </div>
                                    <div class="col-6" *ngIf="(isOnInvoicePayment&&!isItemAndOnInvoiceOnly)">
                                        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
                                            (click)="kycDetails()" style="margin-top: 6px;">KYC Details</button>
                                        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
                                            (click)="viewResult()" style="margin-top: 6px;margin-left: -2px;">View
                                            Results</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-md-4" *ngIf="debtorForm.value.debtorTypeId == 2">
                                <div class="form-group">
                                    <label>Debtor SA ID Number<span *ngIf="debtorForm.value.debtorTypeId == 2"
                                            class="mandatory-field">*</span></label>
                                    <input-custom-control [name]="'SA ID'"
                                        [extraClassNames]="debtorForm.value.isExistingDebtor?'disabled':''"
                                        [name]="'SA ID'" [placeholder]="'Enter Debtor SA ID'" formControlName="said">
                                    </input-custom-control>
                                </div>
                            </div>
                            <div class="mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Primary Email Address<span class="mandatory-field">*</span></label>
                                    <input-custom-control
                                        [extraClassNames]="debtorForm.value.isExistingDebtor|| debtorForm.value.isDebtorSameAsCustomer?'disabled':'fidelity_email'"
                                        formControlName="email">
                                    </input-custom-control>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-md-4" *ngIf="debtorForm.value.debtorTypeId == 1">
                                <div class="form-group">
                                    <label>Company Name<span class="mandatory-field">*</span> </label>
                                    <input-custom-control formControlName="companyName">
                                    </input-custom-control>
                                </div>
                            </div>
                            <div class="mb-2 col-md-4" *ngIf="debtorForm.value.debtorTypeId == 1">
                                <div class="form-group">
                                    <label>Company Registration Number<span class="mandatory-field">*</span></label>
                                    <input-custom-control
                                        [extraClassNames]="debtorForm.value.isExistingDebtor?'disabled':''"
                                        formControlName="companyRegNo"></input-custom-control>
                                </div>
                            </div>
                            <div class="mb-2 col-md-4" *ngIf="debtorForm.value.debtorTypeId == 1">
                                <div class="form-group">
                                    <label>Company VAT Number</label>
                                    <input [disabled]="debtorForm.value.isExistingDebtor"
                                        class="form-control fidelity-form-input" [validateInput]="isAnAlphaNumericOnly"
                                        [maxLength]="20" formControlName="companyVATNo" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Preferred Method Of Communication </label>
                                    <div class="mb-2 col-md-4 d-flex justify-content-start align-items-end pl-0">
                                        <div [ngClass]="{'preferred-method-communication-disabled':(debtorForm.value.isExistingDebtor)}"
                                            class="form-group d-flex justify-content-start">
                                            <mat-checkbox class="fidelity-checkbox ml-2"
                                                formControlName="isEmailCommunication">Email </mat-checkbox>
                                            <mat-checkbox class="fidelity-checkbox ml-2"
                                                formControlName="isSMSCommunication">SMS</mat-checkbox>
                                            <mat-checkbox class="fidelity-checkbox ml-2"
                                                formControlName="isPhoneCommunication">Phone</mat-checkbox>
                                            <mat-checkbox class="fidelity-checkbox ml-2"
                                                formControlName="isPostCommunication">Post</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Billing Address<span class="ml-2">
                                            <mat-checkbox [disabled]="debtorForm.value.isExistingDebtor"
                                                class="fidelity-checkbox" (change)="changeIsBillingAddress()"
                                                formControlName="isBillingSameAsSiteAddress">Postal Address Same As
                                                Billing Address
                                            </mat-checkbox>
                                        </span> </label>
                                    <input-custom-control
                                        [extraClassNames]="debtorForm.value.isExistingDebtor|| debtorForm.value.isBillingSameAsSiteAddress?'disabled mt-3':'mt-3'"
                                        formControlName="addressLine1"></input-custom-control>
                                    <input-custom-control
                                        [extraClassNames]="debtorForm.value.isExistingDebtor|| debtorForm.value.isBillingSameAsSiteAddress?'disabled mt-3':'mt-3'"
                                        formControlName="addressLine2"></input-custom-control>
                                    <input-custom-control
                                        [extraClassNames]="debtorForm.value.isExistingDebtor || debtorForm.value.isBillingSameAsSiteAddress?'disabled mt-3':'mt-3'"
                                        formControlName="addressLine3"></input-custom-control>
                                    <input-custom-control
                                        [extraClassNames]="debtorForm.value.isExistingDebtor || debtorForm.value.isBillingSameAsSiteAddress?'disabled mt-3':'mt-3'"
                                        formControlName="addressLine4"></input-custom-control>
                                </div>
                            </div>
                            <div class="mb-2 col-md-4">
                                <label>Contact Numbers</label>
                                <div class="">
                                    <label>Contact Phone 1<span class="mandatory-field">*</span> </label>
                                    <div class="row">
                                        <div class="mb-2 col-md-3 pr-0">
                                            <div class="form-group" style="width: 100%!important;">
                                                <select class="form-control fidelity-form-input pad-right" disabled
                                                    formControlName="mobile1CountryCode" style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;border-top-left-radius: 0;
                                                    border-bottom-left-radius: 0;">
                                                    <option *ngFor="let countryCode of countryCodes"
                                                        [value]="countryCode.displayName">
                                                        {{countryCode.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-2 col-md-9 pl-0">
                                            <div class="form-group">
                                                <input id="mobileNumber1"
                                                    [disabled]="debtorForm.value.isExistingDebtor|| debtorForm.value.isDebtorSameAsCustomer"
                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                    [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [title]="debtorForm.get('mobile1CountryCode')?.value" appPhoneMask
                                                    formControlName="mobile1" class="form-control fidelity-form-input"
                                                    name="Contact Phone 1" placeholder="Contact Phone 1"
                                                    [ngClass]="{'is-mobile-invalid': debtorForm.get('mobile1')?.value|findDuplicate:debtorForm:'mobile1'}" />
                                                <span class="duplicate"
                                                    *ngIf="debtorForm.get('mobile1')?.value|findDuplicate:debtorForm:'mobile1'">
                                                    Contact phone 1 should be different
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <label>Contact Phone 2</label>
                                    <div class="row">
                                        <div class="mb-2 col-md-3 pr-0">
                                            <div class="form-group" style="width: 100%!important;">
                                                <select disabled class="form-control fidelity-form-input pad-right"
                                                    formControlName="mobile2CountryCode" style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;border-top-left-radius: 0;
                                                    border-bottom-left-radius: 0;">
                                                    <option *ngFor="let countryCode of countryCodes"
                                                        [value]="countryCode.displayName">
                                                        {{countryCode.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-2 col-md-9 pl-0">
                                            <div class="form-group">
                                                <input id="mobileNumber2"
                                                    [disabled]="debtorForm.value.isExistingDebtor || debtorForm.value.isDebtorSameAsCustomer"
                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                    [title]="debtorForm.get('mobile2CountryCode')?.value" appPhoneMask
                                                    formControlName="mobile2" class="form-control fidelity-form-input"
                                                    name="Contact Phone 2" placeholder="Contact Phone 2"
                                                    [ngClass]="{'is-mobile-invalid': debtorForm.get('mobile2')?.value|findDuplicate:debtorForm:'mobile2'}" />
                                                <span class="duplicate"
                                                    *ngIf="debtorForm.get('mobile2')?.value|findDuplicate:debtorForm:'mobile2'">
                                                    Contact phone 2 is duplicate
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <label>Premise Number </label>
                                    <div class="row">
                                        <div class="mb-2 col-md-3 pr-0">
                                            <div class="form-group" style="width: 100%!important;">
                                                <select formControlName="premisesNoCountryCode" disabled
                                                    class="form-control fidelity-form-input pad-right"
                                                    style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                                                    <option *ngFor="let countryCode of countryCodes"
                                                        [value]="countryCode.displayName">
                                                        {{countryCode.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-2 col-md-9 pl-0">
                                            <div class="form-group">
                                                <input id="mobileNumber2"
                                                    [disabled]="debtorForm.value.isExistingDebtor || debtorForm.value.isDebtorSameAsCustomer"
                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                    [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [title]="debtorForm.get('premisesNoCountryCode')?.value"
                                                    appPhoneMask formControlName="premisesNo"
                                                    class="form-control fidelity-form-input" name="Premises Number"
                                                    placeholder="Premises Number"
                                                    [ngClass]="{'is-mobile-invalid': debtorForm.get('premisesNo')?.value|findDuplicate:debtorForm:'premisesNo'}" />
                                                <span class="duplicate"
                                                    *ngIf="debtorForm.get('premisesNo')?.value|findDuplicate:debtorForm:'premisesNo'">
                                                    Premises number is duplicate
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <label>Office Number </label>
                                    <div class="row">
                                        <div class="mb-2 col-md-3 pr-0">
                                            <div class="form-group" style="width: 100%!important;">
                                                <select formControlName="officeNoCountryCode" disabled
                                                    class="form-control fidelity-form-input pad-right"
                                                    style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                                                    <option *ngFor="let countryCode of countryCodes"
                                                        [value]="countryCode.displayName">
                                                        {{countryCode.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-2 col-md-9 pl-0">
                                            <div class="form-group">
                                                <input id="mobileNumber2"
                                                    [disabled]="debtorForm.value.isExistingDebtor || debtorForm.value.isDebtorSameAsCustomer"
                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                    [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [title]="debtorForm.get('officeNoCountryCode')?.value" appPhoneMask
                                                    formControlName="officeNo" class="form-control fidelity-form-input"
                                                    name="Office Number" placeholder="Office Number"
                                                    [ngClass]="{'is-mobile-invalid': debtorForm.get('officeNo')?.value|findDuplicate:debtorForm:'officeNo'}" />
                                                <span class="duplicate"
                                                    *ngIf="debtorForm.get('officeNo')?.value|findDuplicate:debtorForm:'officeNo'">
                                                    Office number is duplicate
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-md-4">
                            </div>
                            <div class="mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Postal Code<span class="mandatory-field">*</span></label>
                                    <input-custom-control
                                        [extraClassNames]="debtorForm.value.isExistingDebtor?'disabled':''"
                                        formControlName="postalCode">
                                    </input-custom-control>
                                </div>
                            </div>
                            <div class="mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Alternative Email Address</label>
                                    <input-custom-control
                                        [extraClassNames]="debtorForm.value.isExistingDebtor?'disabled':'fidelity_email'"
                                        formControlName="alternateEmail"></input-custom-control>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
                        (click)="getDebtorDetailsById('revert changes')">Revert Changes</button>
                    <button type="button" (click)="rxjsService.navigateToProcessQuotationPage()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Back to
                        Lead</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Existing debtor search Modal-->
<div class="modal items_info_modal" id="existing_debtor" #itemModal data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width: 78vw !important;">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Debtor Already Exist</h4>
                <mat-icon _ngcontent-uba-c31=""
                    class="close-icon mat-icon notranslate mat-#fff material-icons mat-icon-no-color" color="#fff"
                    role="img" aria-hidden="true" ng-reflect-color="#fff" style="cursor:pointer" data-dismiss="modal">
                    close</mat-icon>
            </div>
            <div class="modal-body">
                <p>The following profiles match your search criteria on one or many fields </p>
                <div class="mb-2 col-md-12 mt-3">
                    <ng-container>
                        <table style="width: 100%" class="fidelity-table mb-2 service-table">
                            <thead>
                                <th>Banking ID</th>
                                <th>Debtor ID</th>
                                <th>Name and Surname</th>
                                <th>BDI number</th>
                                <th>Payment Type</th>
                                <th>Account Number </th>
                                <th>Active </th>
                                <th>Select</th>
                            </thead>
                            <tbody>
                                <ng-container>
                                    <tr>
                                        <td>BD3</td>
                                        <td>DB#</td>
                                        <td>Mr aa bbb</td>
                                        <td>3434343</td>
                                        <td>Invoice</td>
                                        <td>NA</td>
                                        <td>YES</td>
                                        <td>
                                            <mat-radio-group>
                                                <mat-radio-button class="fidelity-radio-btn mr-3 mt-1" [value]="true">
                                                </mat-radio-button>

                                            </mat-radio-group>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button id="cancel_service" class="btn btn-md-fidelity btn-default" data-dismiss="modal">
                    Link Debtor
                </button>
                <button id="cancel_service" class="btn btn-md-fidelity btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--debtor search Modal-->
<div class="modal items_info_modal" id="debtor_search" #debtorSearchModal data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Debtor Search</h4>
                <mat-icon _ngcontent-uba-c31=""
                    class="close-icon mat-icon notranslate mat-#fff material-icons mat-icon-no-color" color="#fff"
                    role="img" aria-hidden="true" ng-reflect-color="#fff" style="cursor:pointer" data-dismiss="modal">
                    close</mat-icon>
            </div>
            <div class="modal-body">
                <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                    <div class="row">
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input placeholder="Name" [(ngModel)]="searchDebterModel.firstName"
                                    class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Surname</label>
                                <input placeholder="Surname" [(ngModel)]="searchDebterModel.lastName"
                                    class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Debtor SA ID number </label>
                                <input placeholder="Debtor SA ID number" [(ngModel)]="searchDebterModel.said"
                                    class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Email Address </label>
                                <input placeholder="Email Address" [(ngModel)]="searchDebterModel.email"
                                    class="form-control fidelity-form-input fidelity_email" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>All Phone Number Search</label>
                                <input placeholder="All Phone number search" [(ngModel)]="searchDebterModel.phoneNumber"
                                    class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>FADT Account Number- Customer ID</label>
                                <input placeholder="FADT account number- Customer ID"
                                    class="form-control fidelity-form-input"
                                    [(ngModel)]="searchDebterModel.customerId" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Comp. VAT Registration Number</label>
                                <input placeholder="Comp. VAT Registration number"
                                    [(ngModel)]="searchDebterModel.companyVATNo"
                                    class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Company Name</label>
                                <input placeholder="Company Name" class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>BDI number </label>
                                <input placeholder="BDI number" class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Company Registration Number</label>
                                <input placeholder="Company Registration Number"
                                    class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Debtors ID</label>
                                <input placeholder="Debtors ID" class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Bank Name</label>
                                <select name="Bank name " class="form-control fidelity-form-input">
                                    <option value="" disabled>Select Bank</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Account Number </label>
                                <input placeholder="Account number" class="form-control fidelity-form-input" />
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <div class="form-group">
                                <label>Contract Number</label>
                                <input placeholder="Contract number" class="form-control fidelity-form-input" />
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
            <div class="modal-footer text-center">
                <button id="cancel_service" class="btn btn-md-fidelity btn-default" type="button" data-dismiss="modal">
                    Search
                </button>
                <button id="cancel_service" class="btn btn-md-fidelity btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .preferred-method-communication-disabled {
        pointer-events: none !important;
        background-color: #e9ecef !important;
        opacity: 1 !important;
    }
</style>