<app-lead-lifecycle-breadcrumb-icon-actions-header [breadCrumb]="breadCrumb">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <app-lead-lifecycle-header-container>
        </app-lead-lifecycle-header-container>
        <form customForm [formGroup]="debtorBankingDetailsForm" *ngIf="debtorBankingDetailsForm"
            (ngSubmit)="onSubmit()">
            <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
                <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
                    <div class="p-absolute"
                        style="right: 47px!important;top: 8px;z-index: 2;display: inline-flex !important;">
                        <div class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator"
                            style="top:-4px">
                            <button type="button" (click)="onArrowClick('previous')">
                                <i class="icon icon-backward"></i>
                            </button>
                            <span class="d-flex stage-no mr-2 ml-2"
                                *ngIf="!IsInstallationDebtor">{{currentAgreementTabObj?.indexNo}}</span>
                            <span class="d-flex stage-no mr-2 ml-2" *ngIf="IsInstallationDebtor">3</span>
                            <button type="button" (click)="onArrowClick('next')">
                                <i class="icon icon-forward"></i>
                            </button>
                        </div>
                    </div>
                    <p-scrollPanel [style]="{height: '36vh'}" styleClass="custom">
                        <div class="row align-items-center mb-2">
                            <div class="col-10 page-sub-title mt-4">
                                Account Management
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-2">
                                <div class="form-group">
                                    <div class="col-4 d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="isInvoiceRequired" class="fidelity-checkbox">
                                                Invoice required</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <div class="col-4 d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="isPrintedStatement"
                                                class="fidelity-checkbox">Printed statements</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <div class="col-4 d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="isSendUnsecuredPDFStatement"
                                                class="fidelity-checkbox">Send statement as unsecured PDF
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group" style="padding-left: 3vw;">
                                    <div class="d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="isSMSDebtor" class="fidelity-checkbox">
                                                Send D/O SMS</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <div class="d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="isGroupInvoice" class="fidelity-checkbox">
                                                Group invoices</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <button *ngIf="disabledKyc()" type="button"
                                    class="btn btn-md-fidelity fidelity-btn-brown" (click)="kycDetails()"
                                    style="margin-top: 6px;">KYC Details</button>
                                <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
                                    (click)="viewResult()" style="margin-top: 6px;margin-left: -2px;">View
                                    Results</button>
                            </div>
                        </div>
                        <button *ngIf="isExistingDebtor" (click)="createNewBankAccount()" type="button"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-brown btn-default">Create new
                            account</button>
                        <fieldset [disabled]="isExistingDebtor">
                            <div class="col-10 page-sub-title row align-items-center mb-2 mt-4">
                                Bank Account Information
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group mt-4">
                                        Account Holder
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Title <span class="mandatory-field">*</span></label>
                                        <select-custom-control [defaultOptionValue]="null" [loopableArray]='titles'
                                            formControlName="titleId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Name <span class="mandatory-field">*</span></label>
                                        <input-custom-control formControlName="firstName"></input-custom-control>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Surname <span class="mandatory-field">*</span></label>
                                        <input-custom-control formControlName="lastName"></input-custom-control>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Company name <span *ngIf="serviceAgreementStepsParams.debtorTypeId === 1"
                                                class="mandatory-field">*</span> </label>
                                        <input-custom-control formControlName="companyName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-9">
                                </div>
                                <div class="col-3">
                                    <div class="form-group mt-4">
                                        <mat-radio-group formControlName="isBankAccount">
                                            <mat-radio-button class="fidelity-radio-btn mr-3 mt-1" [value]="true">Bank
                                                account
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group mt-4">
                                        <mat-radio-group formControlName="isCardSelected">
                                            <mat-radio-button class="fidelity-radio-btn mr-3 mt-1" [value]="true">
                                                Debit/Credit
                                                Card
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-3"></div>
                                <div class="col-9">
                                </div>
                            </div>
                            <div class="row" *ngIf="!debtorBankingDetailsForm.get('isBankAccount').value">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Card Types <span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='cardTypes' [defaultOptionValue]="null"
                                            formControlName="cardTypeId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Card Number <span class="mandatory-field">*</span></label>
                                        <input [minlength]="formConfigs.creditCardNumberWithSpaceMask"
                                            [maxlength]="formConfigs.creditCardNumberWithSpaceMask"
                                            (keypress)="numberOnly($event)" title="cardNumberValidation" appCardMask
                                            formControlName="cardNo" placeholder="Card Number"
                                            class="form-control fidelity-form-input" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Expiry Date <span class="mandatory-field">*</span></label>
                                        <div class="row">
                                            <div class="col-6">
                                                <select-custom-control [loopableArray]='monthsByNumber'
                                                [name]="'Month'"
                                                    [defaultOptionValue]="null" formControlName="selectedMonth">
                                                </select-custom-control>
                                            </div>
                                            <div class="col-6">
                                                <select-custom-control [loopableArray]='years'
                                                [name]="'Year'"
                                                    [defaultOptionValue]="null" formControlName="selectedYear">
                                                </select-custom-control>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="debtorBankingDetailsForm.get('isBankAccount').value">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Account Number <span class="mandatory-field">*</span></label>
                                        <input-custom-control [autocomplete]="'off'" formControlName="accountNo">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Bank<span class="mandatory-field">*</span></label>
                                        <select-custom-control [defaultOptionValue]="null" [loopableArray]='banks'
                                            formControlName="bankId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div [ngStyle]="{'pointer-events':debtorBankingDetailsForm.get('bankId').value?'all':'none'}"
                                    class="col-3">
                                    <div class="form-group p-relative">
                                        <label>Branch<span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete-custom-control [name]="'Branch'"
                                            [matOptionValueProperty]="'displayName'"
                                            [matOptionViewProperty]="'displayName'"
                                            [formGroup]="debtorBankingDetailsForm" formControlName="bankBranchId"
                                            [customInputGroupStyle]="{'margin-top':'21px'}"
                                            [customButtonHeightStyle]="{'height':'30px'}"
                                            [selectedOptionSearchkeywordProperty]="'displayName'"
                                            [getLoopableObjectRequestObservable]="getLoopableObjectRequestObservable"
                                            (emitSelectedOption)="onSelectedBranchOption($event)">
                                        </mat-select-autocomplete-custom-control>
                                    </div>
                                </div>
                                <!-- <div class="col-3">
                                    <div class="form-group">
                                        <label>Branch code </label>
                                        <input formControlName="bankBranchCode" placeholder="Branch Code"
                                            class="form-control fidelity-form-input disabled" />
                                    </div>
                                </div> -->
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Type of account<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='bankAccountTypes'
                                            [defaultOptionValue]="null" formControlName="accountTypeId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-9">
                                </div>
                            </div>
                        </fieldset>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-brown btn-default">Save</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
                        (click)="getDebtorBankingDetailsById('revert changes')">Revert Changes</button>
                    <button type="button" (click)="rxjsService.navigateToProcessQuotationPage()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Back to
                        Lead</button>
                </div>
            </div>
        </form>
    </div>
</div>
