<ng-container *ngIf="inputObject.fromComponentType=='lead'">
    <app-lead-lifecycle-breadcrumb-icon-actions-header [breadCrumb]="breadCrumb">
    </app-lead-lifecycle-breadcrumb-icon-actions-header>
</ng-container>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <ng-container *ngIf="inputObject.fromComponentType=='lead'">
            <app-lead-lifecycle-header-container>
            </app-lead-lifecycle-header-container>
        </ng-container>
        <form class="space-saving-con" customForm [formGroup]="keyHolderInfoForm" *ngIf="keyHolderInfoForm"
            (ngSubmit)="onSubmit()">
            <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
                <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
                    <div class="p-absolute" *ngIf="inputObject.fromComponentType=='lead'" style="right: 47px!important;
                    top: 8px;z-index: 2;display: inline-flex !important;">
                        <div
                            class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
                            <button type="button" (click)="onArrowClick('previous')">
                                <i class="icon icon-backward"></i>
                            </button>
                            <span class="d-flex stage-no mr-2 ml-2">{{currentAgreementTabObj?.indexNo}}</span>
                            <button type="button" (click)="onArrowClick('next')">
                                <i class="icon icon-forward"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <div class="col-10 page-sub-title">
                            Keyholder Details
                        </div>
                        <a *ngIf="inputObject.fromComponentType!='lead'" title="Edit" [class.disabled]="!isDisabled"
                            (click)="onEditBtnClicked()"
                            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3 float-right"
                            id="pricinf_edit_btn">
                            <i aria-hidden="true" class="icon icon-edit"></i>
                        </a>
                    </div>
                    <p-scrollPanel [style]="{height: pScrollStyleHeight}" styleClass="custom">
                        <fieldset [disabled]="isDisabled">
                            <div class="row header-row mb-4" formArrayName="keyholders"
                                *ngFor="let keyholderObj of keyHolderInfoForm?.get('keyholders')?.controls;index as i">
                                <ng-container [formGroupName]="i">
                                    <div class="col-3">
                                        <label>Name<span class="mandatory-field">*</span></label>
                                        <input #keyholderInput autocomplete='off' formControlName="keyHolderName"
                                            [maxlength]="formConfigs.generalNameLengthFiftyLength"
                                            class="form-control fidelity-form-input"
                                            [validateInput]="isAnAlphaNumericOnly" placeholder="Name" type="text" />
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Contact Number
                                                <span class="mandatory-field">*</span>
                                            </label>
                                            <div class="input-group  p-relative fidelity-ph-no-field">
                                                <div class="input-group-prepend">
                                                    <select disabled class="form-control fidelity-form-input"
                                                        style="width: -1%;" formControlName="contactNoCountryCode">
                                                        <option *ngFor="let countryCode of countryCodes"
                                                            [value]="countryCode.displayName">
                                                            {{countryCode.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <input autocomplete="new-password" appPhoneMask #keyholderRows
                                                    [title]="keyHoldersArray.controls[i].get('contactNoCountryCode')?.value"
                                                    [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                    class="form-control fidelity-form-input" name="Contact Number"
                                                    formControlName="contactNo" placeholder="Enter Contact Number">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="password-eye" class="col-3">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input autocomplete="new-password" class="form-control fidelity-form-input" #keyholderInputPassword
                                                [minlength]="formConfigs.four" [maxlength]="formConfigs.sixteen"
                                                [ngClass]="{'fidelity_password':!keyHoldersArray.controls[i].get('isPasswordShow').value}"
                                                formControlName="password" />
                                            <div *ngIf="keyHoldersArray.controls[i].get('password').value"
                                                (mouseout)="keyHoldersArray.controls[i].get('isPasswordShow').setValue(false)">
                                                <a
                                                    (click)="keyHoldersArray.controls[i].get('isPasswordShow').setValue(!keyHoldersArray.controls[i].get('isPasswordShow').value)">
                                                    <i [ngClass]="!keyHoldersArray.controls[i].get('isPasswordShow').value?'fa fa-eye-slash':'fa fa-eye'"
                                                        class="fa fa-eye" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1" *ngIf="i>1 || keyholders.length>2">
                                        <button style="margin-top: 15px;" type="button" matTooltip="Delete"
                                            class="circle-minus-btn" (click)="removeItem('keyholders',i)">
                                            <i aria-hidden="true" class="icon icon-delete"></i>
                                        </button>
                                    </div>
                                    <div style="margin-top: 16px;"
                                        class="d-flex align-items-center justify-content-center" *ngIf="i==0">
                                        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
                                            (click)="addItem('keyholders')">
                                            {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="row align-items-center mb-2">
                                <div class="col-10 page-sub-title">
                                    Emergency Contact Details
                                </div>
                            </div>
                            <div class="row header-row mt-2 mb-4" formArrayName="emergencyContacts"
                                *ngFor="let emergencyContactObj of keyHolderInfoForm?.get('emergencyContacts')?.controls;let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col-3">
                                        <label>Name<span class="mandatory-field">*</span></label>
                                        <input #emergencyContactInput autocomplete='off' formControlName="contactPerson"
                                            [maxlength]="formConfigs.generalNameLengthFiftyLength"
                                            class="form-control fidelity-form-input"
                                            [validateInput]="isAnAlphaNumericOnly" placeholder="Name" type="text"/>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Contact Number
                                                <span class="mandatory-field">*</span>
                                            </label>
                                            <div id="delete-btn-close-to-field" class="d-flex">
                                                <div class="input-group  p-relative fidelity-ph-no-field">
                                                    <div class="input-group-prepend">
                                                        <select disabled class="form-control fidelity-form-input"
                                                            formControlName="contactNoCountryCode">
                                                            <option *ngFor="let countryCode of countryCodes"
                                                                [value]="countryCode.displayName">
                                                                {{countryCode.displayName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <input autocomplete="new-password" autocomplete="off" appPhoneMask
                                                        #emergencyContactRows
                                                        [title]="emergencyContactsArray?.controls[i]?.get('contactNoCountryCode')?.value"
                                                        [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                        [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                                                        class="form-control fidelity-form-input" name="Contact Number"
                                                        formControlName="contactNo" placeholder="Enter Contact Number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1" *ngIf="i!==0 || emergencyContacts.length>1">
                                        <button *ngIf="i!==0 || emergencyContacts.length>1" type="button"
                                            matTooltip="Delete" class="circle-minus-btn"
                                            (click)="removeItem('emergencyContacts',i)" style="top: 20px;">
                                            <i aria-hidden="true" class="icon icon-delete"></i>
                                        </button>
                                    </div>
                                    <div style="margin-top: -4px;"
                                        class="d-flex align-items-center justify-content-start" *ngIf="i==0">
                                        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown mt-4"
                                            (click)="addItem('emergencyContacts')">
                                            {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                        </fieldset>
                    </p-scrollPanel>
                    <div class="text-center" *ngIf="!isDisabled">
                        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                        <button (click)="redirectToTab('backToLead')" type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">{{inputObject.fromComponentType=='lead'?'Back
                            to
                            Lead':'Reset'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    div#password-eye.col-3 div.form-group a {
        position: absolute;
        top: 25px;
        right: 25px !important;
    }
</style>