<div class="page-heading ">
    <h1 class="page-title d-inline-block">Service Median</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/event-management/supervisor-dashboard'>Supervisor Dashboard

            </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateHourly()"> Hourly
                Stats</a>
        </li>
        <li class="breadcrumb-item">
            Service Median
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
        <a (click)="refreshRequest();"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
            matTooltip="Refresh">
            <i aria-hidden="true" class="icon icon-refresh-2"></i>
        </a>
        <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
            matTooltip="Logged In" (click)='exportRequest()'>
            <i aria-hidden="true" class="icon icon-logaway"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="padding: 12px;height: auto;">
        <p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
            <div class="ibox-body brown-border">
                <div class="row">
                    <h1 class="page-sub-title col-12">Stats</h1>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <span id="" class="key">Division</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{filterData?.divisionName ? filterData?.divisionName :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <span id="" class="key">From</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{filterData?.fromDate ? (filterData?.fromDate |
                                    date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <span id="" class="key">To</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{filterData?.toDate ? (filterData?.toDate |
                                    date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <h3 class="page-sub-title col-12 mt-2 mb-2">Main Area</h3>
                    </div>
                    <app-service-median-list [filterData]="filterData" [refresh]="refresh" [export]="export">
                    </app-service-median-list>
                    <div class="row">
                        <h3 class="page-sub-title col-12 mt-2 mb-2">Division </h3>
                    </div>
                    <hr>
                    <app-service-median-total-list [filterData]="filterData" [refresh]="refresh" [export]="export">
                    </app-service-median-total-list>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>
