

  ::ng-deep #dispatch_cal.dispatcher-cal-date-picker-icon button.ui-calendar-button {
    right: 0;
    position: absolute;
    height: 35px!important;
  }

  
  .container-two-col{
    max-width: 50% !important;
  }


  .input-group {
    position: relative;
    display: flex;
    width: 100%;
  }
  .input-group-btn {
    cursor: pointer;
  }

  .form-group {
    width: 80%;
  }

.border-class {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-left: unset;
}

.notification-container{
  margin-top: 21px;
}


ng-component.ng-star-inserted {
  white-space: nowrap !important;
}

span.help.is-danger {
  white-space: nowrap !important;
}


.error-notification{
  color: #dc3545;
    font-size: 0.8em;
}


.add-notes-description-con {
  ::ng-deep .add-notes-description-btn {
      right: 15px;
      top: 0;
      cursor: pointer;
  }
}


span[class^="status-label"] {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 14px;
}
.statusClass{
  padding: 5px;
  border-radius: 11px;
}


.row-number-col {
  width: 4.499999995%;
  flex: 0 0 8.499%!important;
  max-width: 8.499%;
}
::ng-deep .filter-dropdwon-con .ui-corner-all {
  border-radius: 3px !important;
}