<div class="page-heading ">
    <h1 class="page-title d-inline-block">Technical Staff Registration {{action}}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>IT Management</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/user/technicial-staff-registration'>Technical Staff Registration</a>
        </li>
        <li class="breadcrumb-item" *ngIf="action == 'Update'">
            <a routerLink='/user/technicial-staff-registration/view'
                [queryParams]="{id: TechnicianUserTypeId, tab: selectedIndex}" skipLocationChange>Technical Staff
                Registration View</a>
        </li>
        <li class="breadcrumb-item">
            Technical Staff Registration {{action}}
        </li>
    </ol>
</div>

<div class="page-content fade-in-up">
    <div class="ibox sm-inputs">
        <div style="height: auto;">
            <p-scrollPanel [style]="{height: '75vh'}" styleClass="custom">
                <div class="ibox-body">
                    <form customForm [formGroup]="userTypeForm" autocomplete="off">
                        <div class="row">
                            <div class="col-4">
                                <label for="">User Type</label>
                                <div class="form-group mb-0">
                                    <mat-radio-group formControlName="isUserType" disabled>
                                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Internal
                                        </mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" [value]="false">External
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <span class="text-danger"
                                        *ngIf="(userTypeForm?.get('isUserType').touched && userTypeForm?.get('isUserType').invalid )">
                                        User Type is required
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12 page-sub-title">Basic Info</div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control fidelity-form-input " disabled type="text"
                                    [value]="TechnicianUserTypeDetails?.firstName" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control fidelity-form-input " disabled type="text"
                                    [value]="TechnicianUserTypeDetails?.lastName" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input class="form-control fidelity-form-input fidelity_email" type="text" disabled
                                    [value]="TechnicianUserTypeDetails?.email" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Contact Number</label>
                                <input class="form-control fidelity-form-input " type="text" disabled
                                    [value]="TechnicianUserTypeDetails?.contactNumber" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input class="form-control fidelity-form-input " disabled type="text"
                                    value="{{TechnicianUserTypeDetails?.mobileNo ? (TechnicianUserTypeDetails?.mobileNo ) : '-'}}" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block" for="">Created Date<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input " disabled type="text"
                                    value="{{TechnicianUserTypeDetails?.createdDate ? (TechnicianUserTypeDetails?.createdDate | date) : '--'}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 page-sub-title">Access Credential</div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>User ID</label>
                                <input class="form-control fidelity-form-input " type="text" disabled
                                    value="{{TechnicianUserTypeDetails?.userRefNo?(TechnicianUserTypeDetails?.userRefNo):'-'}}" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>User Name</label>
                                <input class="form-control fidelity-form-input " type="text" disabled
                                    value="{{TechnicianUserTypeDetails?.userName?(TechnicianUserTypeDetails?.userName):'-'}}" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Employee/Vendor Number</label>
                                <input class="form-control fidelity-form-input " type="text" disabled
                                    [value]="TechnicianUserTypeDetails?.employeeNumber" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-body mt-3">
                    <mat-tab-group [selectedIndex]="selectedIndex" id="tabGroupTechnicalStaffUpdate"
                        (selectedTabChange)="onTabClicked($event)" class="fidelity-tab-group mat-tab-body-padding-0"
                        #tabGroup>
                        <mat-tab label="DETAIL" class="bg-gray">
                            <div>
                                <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 page-sub-title">Physical Location</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Division</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.physicalDivision?TechnicianUserTypeDetails?.physicalDivision:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <label for="">Branch</label>
                                                <div class="form-group mb-0">
                                                    <input class="form-control fidelity-form-input " type="text"
                                                        disabled
                                                        [value]="TechnicianUserTypeDetails?.physicalBranch?TechnicianUserTypeDetails?.physicalBranch:'-'" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 page-sub-title">Operational Structure</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Region</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.region?TechnicianUserTypeDetails?.region:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Division</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.division?TechnicianUserTypeDetails?.division:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>District</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.district?TechnicianUserTypeDetails?.district:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>User Level</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.userLevel?TechnicianUserTypeDetails?.userLevel:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Branch</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.branch?TechnicianUserTypeDetails?.branch:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Department</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.department?TechnicianUserTypeDetails?.department:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Roles</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.roleName?TechnicianUserTypeDetails?.roleName:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Designation</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.designation?TechnicianUserTypeDetails?.designation:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Reporting Line</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.reportingLine?TechnicianUserTypeDetails?.reportingLine:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Manager</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.manager?TechnicianUserTypeDetails?.manager:'-'" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 page-sub-title">Operational Structure</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>To Source</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.toSource?TechnicianUserTypeDetails?.toSource:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Old User ID</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.oldUserId?TechnicianUserTypeDetails?.oldUserId:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Old User No</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.oldUserNumber?TechnicianUserTypeDetails?.oldUserNumber:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Old Initials</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.oldInitials?TechnicianUserTypeDetails?.oldInitials:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <input class="form-control fidelity-form-input" type="text" disabled
                                                        [value]="TechnicianUserTypeDetails?.userStatus?TechnicianUserTypeDetails?.userStatus:'-'" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Employee Termination Date</label>
                                                    <input class="form-control fidelity-form-input" type="text"
                                                        [value]="TechnicianUserTypeDetails?.employeeTerminationDate?(TechnicianUserTypeDetails?.employeeTerminationDate | date ):'-'" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-scrollPanel>
                            </div>
                        </mat-tab>
                        <mat-tab label="TECHNICAL" class="bg-gray">
                            <div>
                                <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                                    <form customForm [formGroup]="technicalStaffRegistrationCreationForm"
                                        (ngSubmit)="saveClick()" autocomplete="off">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12 page-sub-title">Type of User</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>Technical User Type<span
                                                                class="mandatory-field">*</span></label>
                                                        <select class="form-control fidelity-form-input"
                                                            name="Technical User Type"
                                                            formControlName="technicianUserTypeConfigId">
                                                            <option value="" disabled>Select Technician</option>
                                                            <option *ngFor="let item of technicianUserTypeList"
                                                                [value]="item.id">
                                                                {{item.displayName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <label for="">Tech Type</label>

                                                    <div class="form-group mb-0"
                                                        *ngIf="action != 'Create' && TechnicianUserTypeDetails?.technicianStaffRegistrationTechnicianDetails?.isJobTypeReplacement == true">
                                                        <mat-radio-group formControlName="isJobTypeNew"
                                                            (change)="techTypeChange()">
                                                            <mat-radio-button class="fidelity-radio-btn"
                                                                [value]="false">Replacement
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                    <div class="form-group mb-0"
                                                        *ngIf="(action == 'Create') || (action != 'Create' && TechnicianUserTypeDetails?.technicianStaffRegistrationTechnicianDetails?.isJobTypeNew == true)">
                                                        <mat-radio-group formControlName="isJobTypeNew"
                                                            (change)="techTypeChange()">
                                                            <mat-radio-button class="fidelity-radio-btn mr-3"
                                                                [value]="true">New
                                                            </mat-radio-button>
                                                            <mat-radio-button class="fidelity-radio-btn"
                                                                [value]="false">Replacement
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <ng-container
                                                        *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value == false">
                                                        <div class="fidelity-autocomplete-dropdown-con">
                                                            <div class="form-group">
                                                                <label for="">Select the Technician being replaced<span
                                                                        class="mandatory-field">*</span></label>
                                                                <mat-form-field class="fidelity-form-input">
                                                                    <input validateInput matInput type="text"
                                                                        id="find_address_autocomplete"
                                                                        class="fidelity-form-input"
                                                                        [matAutocomplete]="auto1"
                                                                        formControlName="technicianReplaceId">
                                                                </mat-form-field>
                                                                <mat-autocomplete #auto1="matAutocomplete"
                                                                    (optionSelected)="onTechnicianReplacedSelected($event.option.value)">
                                                                    <mat-option *ngIf="" class="is-loading">
                                                                        <mat-spinner diameter="50"></mat-spinner>
                                                                    </mat-option>
                                                                    <ng-container *ngIf="!isLoading">
                                                                        <mat-option
                                                                            *ngFor="let filtTechnician of technicianList"
                                                                            [value]="filtTechnician.displayName">
                                                                            <span>{{ filtTechnician.displayName
                                                                                }}</span>
                                                                        </mat-option>
                                                                    </ng-container>
                                                                </mat-autocomplete>
                                                                <span class="text-danger mb-2"
                                                                    *ngIf="technicalStaffRegistrationCreationForm?.get('technicianReplaceId')?.touched && technicalStaffRegistrationCreationForm?.get('technicianReplaceId')?.invalid && technicalStaffRegistrationCreationForm?.get('technicianReplaceId')?.errors?.required">
                                                                    Technician being replaced required
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                                <div class="col-4 fidelity-multiselect-dropdown-con"
                                                    *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value != false">
                                                    <div class="form-group">
                                                        <label>Technical Area1<span
                                                                class="mandatory-field">*</span></label>
                                                        <div class="form-group leads-category-con"
                                                            *ngIf="!isTechAreaManger" style="width: 100%;">
                                                            <mat-select-autocomplete ngDefaultControl
                                                                [id]="'boundaryId'"
                                                                [formControl]="technicalStaffRegistrationCreationForm?.controls['boundaryId']"
                                                                [placeholder]="'Select Single/Multiple'"
                                                                [options]="filterTechAreaList" [multiple]='false'
                                                                [value]="'value'" [display]="'display'">
                                                            </mat-select-autocomplete>
                                                        </div>
                                                        <div class="form-group leads-category-con"
                                                            *ngIf="isTechAreaManger" style="width: 100%;">
                                                            <mat-select-autocomplete ngDefaultControl
                                                                [id]="'boundaryId'"
                                                                [formControl]="technicalStaffRegistrationCreationForm?.controls['boundaryId']"
                                                                [placeholder]="'Select Single/Multiple'"
                                                                [options]="filterTechAreaList" [multiple]='true'
                                                                [value]="'value'" [display]="'display'">
                                                            </mat-select-autocomplete>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4"
                                                    *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value != false && technicianUserTypeConfig?.isStockLocation == true">
                                                    <div class="form-group">
                                                        <label>Tech Stock Location</label>
                                                        <div class="input-group fidelity-input-addon mb-3">
                                                            <input class="form-control fidelity-form-input" disabled
                                                                type="text" name="" placeholder="Enter" maxlength=""
                                                                formControlName="techStockLocation">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4"
                                                    *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value != false">
                                                    <div class="form-group">
                                                        <label>Signal Management Coordinator</label>
                                                        <select class="form-control fidelity-form-input" name=""
                                                            formControlName="signalMgtCoordinator">
                                                            <option value="">Select Signal Management Coordinator
                                                            </option>
                                                            <option *ngFor="let item of signalManagementCoordinatorList"
                                                                [value]="item.id">
                                                                {{item.displayName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row"
                                                *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value == false">
                                                <div class="col-12 page-sub-title">Technician Being Replaced Tech Area /
                                                    Storage Location Details
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 fidelity-autocomplete-dropdown-con"
                                                    *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value == false">
                                                    <div class="form-group">
                                                        <label>Technical Area3</label>
                                                        <div class="input-group fidelity-input-addon mb-3">
                                                            <input class="form-control fidelity-form-input" type="text"
                                                                name="Technical Area" placeholder=" Technical Area"
                                                                maxlength="" formControlName="currentTechAreaId"
                                                                [value]="" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4"
                                                    *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value == false">
                                                    <div class="form-group">
                                                        <label>Tech Stock Location</label>
                                                        <div class="input-group fidelity-input-addon mb-3">
                                                            <input class="form-control fidelity-form-input" type="text"
                                                                name="" placeholder="Tech Stock Location" maxlength=""
                                                                formControlName="currentTechStockLocationId" [value]=""
                                                                autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row"
                                                *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value == false">
                                                <div class="col-12 page-sub-title">New Tech Area/Storage Location to
                                                    assign to</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4  fidelity-multiselect-dropdown-con"
                                                    *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value == false">
                                                    <div class="form-group" style="width: 100%;">
                                                        <label>Technical Area2<span
                                                                class="mandatory-field">*</span></label>

                                                        <div class="form-group leads-category-con">
                                                            <mat-select-autocomplete ngDefaultControl
                                                                [id]="'boundaryId'"
                                                                [formControl]="technicalStaffRegistrationCreationForm?.controls['boundaryId']"
                                                                [placeholder]="'Select Single/Multiple'"
                                                                [options]="filterTechAreaList" [multiple]='false'
                                                                [value]="'value'" [display]="'display'">
                                                            </mat-select-autocomplete>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4"
                                                    *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value == false">
                                                    <div class="form-group">
                                                        <label>Tech Stock Location</label>
                                                        <div class="input-group fidelity-input-addon mb-3">
                                                            <input class="form-control fidelity-form-input" type="text"
                                                                name="" placeholder="Enter" maxlength=""
                                                                formControlName="newTechStockLocation"
                                                                autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4"
                                                    *ngIf="technicalStaffRegistrationCreationForm?.controls['isJobTypeNew'].value == false">
                                                    <div class="form-group">
                                                        <label>Signal Management Coordinator</label>
                                                        <select class="form-control fidelity-form-input" name=""
                                                            formControlName="signalMgtCoordinator">
                                                            <option value="">Select Signal Management Coordinator
                                                            </option>
                                                            <option *ngFor="let item of signalManagementCoordinatorList"
                                                                [value]="item.id">
                                                                {{item.displayName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="technicianUserTypeConfig?.isStockLocation == true">
                                                <div class="col-12 page-sub-title">Default Stock Collection Warehouse
                                                    and Location</div>
                                            </div>
                                            <div class="row" *ngIf="technicianUserTypeConfig?.isStockLocation == true">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>Warehouse</label>
                                                        <input class="form-control fidelity-form-input" type="text"
                                                            disabled
                                                            [value]="techAreaDetail?.stockCollectionWarehouse" />
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>Storage Location</label>
                                                        <input class="form-control fidelity-form-input" type="text"
                                                            disabled
                                                            [value]="techAreaDetail?.stockCollectionLocation" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="technicianUserTypeConfig?.isStockLocation == true">
                                                <div class="col-12 page-sub-title">Default Warehouse and Sloc for Stock
                                                    Holding</div>
                                            </div>
                                            <div class="row" *ngIf="technicianUserTypeConfig?.isStockLocation == true">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>Warehouse</label>
                                                        <input class="form-control fidelity-form-input" type="text"
                                                            disabled [value]="techAreaDetail?.stockHoldingWarehouse" />
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>Storage Location</label>
                                                        <input class="form-control fidelity-form-input" type="text"
                                                            disabled [value]="techAreaDetail?.stockHoldingLocation" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="technicianUserTypeConfig?.isStockLocation == true">
                                                <div class="col-12 page-sub-title">AOD Debtor Details</div>
                                            </div>
                                            <div class="row" *ngIf="technicianUserTypeConfig?.isStockLocation == true">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>AOD Debtor Code</label>
                                                        <div class="form-group" style="height: 39px;">
                                                            <mat-form-field class="fidelity-form-input"
                                                                style="height: 39px;">
                                                                <input matInput type="text"
                                                                    id="find_address_autocomplete" #autoStockCode
                                                                    class="fidelity-form-input"
                                                                    (input)="onChangeStockCode($event)"
                                                                    [matAutocomplete]="autoStockCode"
                                                                    formControlName="aodDebtorId"
                                                                    style="height: 35px;color: black;">
                                                            </mat-form-field>
                                                            <mat-autocomplete #autoStockCode="matAutocomplete"
                                                                (optionSelected)="onStatucCodeSelected($event.option.value)">
                                                                <mat-option *ngIf="isLoading" class="is-loading">
                                                                    <mat-spinner diameter="50"></mat-spinner>
                                                                </mat-option>
                                                                <ng-container>
                                                                    <mat-option *ngFor="let item of debtorCodeList"
                                                                        [value]="item.debtorId">
                                                                        <span>{{ item.debtorRefNo }}</span>
                                                                    </mat-option>
                                                                </ng-container>
                                                            </mat-autocomplete>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>Debtor Name</label>
                                                        <input class="form-control fidelity-form-input" type="text"
                                                            disabled [value]="debtorName" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="technicianUserTypeConfig?.isPSIRA == true">
                                                <div class="col-12 page-sub-title">PSIRA Registration</div>
                                            </div>
                                            <div class="row" *ngIf="technicianUserTypeConfig?.isPSIRA == true">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>PSIRA Registration Number<span
                                                                class="mandatory-field">*</span></label>
                                                        <input validateInput class="form-control fidelity-form-input"
                                                            type="text" maxlength="20" formControlName="pSIRARegNo"
                                                            (blur)="pSIRARegistrationNumberblurEvent($event)"
                                                            autocomplete="off" />
                                                        <span class="text-danger"
                                                            *ngIf="!isValidPsiraRegistrationNumber">
                                                            {{isValidPsiraRegistrationNumberValidMessage}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-4 form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                    <label class="d-block" for="">PSIRA Expiry Date <span
                                                            class="mandatory-field">*</span></label>
                                                    <p-calendar formControlName="pSIRAExpiryDate"></p-calendar>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group p-relative">
                                                        <label>PSIRA Certificate <span
                                                                class="mandatory-field">*</span></label>
                                                        <div class="input-group fidelity-file-upload">
                                                            <input validateInput class="input-box form-control col-8"
                                                                type="text" name="PSIRA_Certificate"
                                                                placeholder="PSIRA Certificate"
                                                                formControlName="pisraCertificateName" maxlength="102"
                                                                readonly>
                                                            <span class="input-group-btn col-4 px-0"
                                                                (click)="psirfileInput.click()">
                                                                <div class="btn custom-file-uploader" id="fileName">
                                                                    <input #psirfileInput type="file" name="file"
                                                                        style="visibility: hidden;"
                                                                        [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                                                                        (change)="uploadFiles($event)" />
                                                                    Browse
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12 page-sub-title">Technical Setup</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group mb-0">
                                                        <mat-radio-group (change)="radioChange($event)"
                                                            formControlName="isPeriodTypeDaily">
                                                            <mat-radio-button class="fidelity-radio-btn mr-3"
                                                                [value]="true">Daily
                                                            </mat-radio-button>
                                                            <mat-radio-button class="fidelity-radio-btn"
                                                                [value]="false">Weekly
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="col-4 d-flex justify-content-between align-items-start flex-column"
                                                    *ngIf="daysSelected">
                                                    <label for="">Days</label>
                                                    <div
                                                        class="form-group d-flex justify-content-between align-items-center">
                                                        <mat-checkbox class="fidelity-checkbox mr-1"
                                                            formControlName="isMonday">Mon</mat-checkbox>
                                                        <mat-checkbox class="fidelity-checkbox mr-1"
                                                            formControlName="isTuesday">Tue</mat-checkbox>
                                                        <mat-checkbox class="fidelity-checkbox mr-1"
                                                            formControlName="isWednesday">Wed
                                                        </mat-checkbox>
                                                        <mat-checkbox class="fidelity-checkbox mr-1"
                                                            formControlName="isThursday">Thu</mat-checkbox>
                                                        <mat-checkbox class="fidelity-checkbox mr-1"
                                                            formControlName="isFriday">Fri</mat-checkbox>
                                                        <mat-checkbox class="fidelity-checkbox mr-1"
                                                            formControlName="isSaturday">Sat</mat-checkbox>
                                                        <mat-checkbox class="fidelity-checkbox mr-1"
                                                            formControlName="isSunday">Sun</mat-checkbox>
                                                    </div>
                                                </div>
                                                <div class="col-4 d-flex justify-content-between align-items-start flex-column"
                                                    *ngIf="weekSelected">
                                                    <label for="">Days</label>
                                                    <div
                                                        class="form-group d-flex justify-content-between align-items-center">
                                                        <mat-radio-group formControlName="isEveryDay">
                                                            <mat-radio-button class="fidelity-radio-btn mr-3"
                                                                [value]="true">Every Day
                                                            </mat-radio-button>
                                                            <mat-radio-button class="fidelity-radio-btn"
                                                                [value]="false">Every Week Day
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                    <label for="">Work Hours</label>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                                <p-calendar formControlName="workingHoursFrom" styleClass="w-100" [timeOnly]="true"></p-calendar>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                                <p-calendar formControlName="workingHoursTo" styleClass="w-100" [timeOnly]="true">   </p-calendar>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-4 d-flex justify-content-between align-items-start flex-column">
                                                    <label for="">Lunch Break</label>
                                                    <div class="row">
                                                        <div
                                                            class="col-6 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                            <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                                <p-calendar formControlName="lunchBreakFrom" styleClass="w-100"[timeOnly]="true"> </p-calendar>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-6 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                            <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                                <p-calendar formControlName="lunchBreakTo" styleClass="w-100"[timeOnly]="true"> </p-calendar>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-4 form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                    <label class="d-block" for="">Employee Start Date <span
                                                            class="mandatory-field">*</span></label>
                                                    <p-calendar formControlName="startDate" [minDate]="todayDate">
                                                    </p-calendar>
                                                </div>
                                                <div
                                                    class="col-4 form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                                    <label class="d-block" for="">Employee Termination Date </label>
                                                    <p-calendar formControlName="terminationDate" [minDate]="todayDate">
                                                    </p-calendar>
                                                </div>
                                                <div class="col-4">
                                                    <label for="">Skill Level</label>
                                                    <div class="form-group">
                                                        <div>
                                                            <mat-checkbox class="fidelity-checkbox mr-1"
                                                                formControlName="tsL1"
                                                                (change)="setAll($event.checked,1,'add')">TSL1
                                                            </mat-checkbox>
                                                            <mat-checkbox class="fidelity-checkbox mr-1"
                                                                formControlName="tsL2"
                                                                (change)="setAll($event.checked,2,'add')">TSL2
                                                            </mat-checkbox>
                                                            <mat-checkbox class="fidelity-checkbox mr-1"
                                                                formControlName="tsL3"
                                                                (change)="setAll($event.checked,3,'add')">TSL3
                                                            </mat-checkbox>
                                                            <mat-checkbox class="fidelity-checkbox mr-1"
                                                                formControlName="tsL4"
                                                                (change)="setAll($event.checked,4,'add')">TSL4
                                                            </mat-checkbox>
                                                        </div>
                                                        <div>
                                                            <mat-checkbox class="fidelity-checkbox mr-1"
                                                                formControlName="oasl">OASL</mat-checkbox>
                                                            <mat-checkbox class="fidelity-checkbox mr-1"
                                                                formControlName="ils">ISL</mat-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4"
                                                    *ngIf="technicianUserTypeConfig?.isTechTesting == true">
                                                    <div class="form-group video-password-eye">
                                                        <label>Tech Testing Password<span
                                                                class="mandatory-field">*</span></label>
                                                        <div class="p-relative">
                                                            <input validateInput
                                                                class="form-control fidelity-form-input"
                                                                [type]="isTechTestingPasswordShow?'text':'password'"
                                                                formControlName="techTestingPassword" maxlength="15"
                                                                minlength="6" [validateInput]='alphaNumericOnly'
                                                                autocomplete="new-password" />
                                                            <div *ngIf="technicalStaffRegistrationCreationForm.get('techTestingPassword').value"
                                                                (mouseout)="isTechTestingPasswordShow=false">
                                                                <a
                                                                    (click)="showTechPassword()">
                                                                    <i [ngClass]="!isTechTestingPasswordShow?'fa fa-eye-slash':'fa fa-eye'"
                                                                        class="fa fa-eye" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                        <span class="text-danger" *ngIf="isPasswordDuplicate">
                                                            Tech Testing Password and Panic Duress Password should be
                                                            different
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-4"
                                                    *ngIf="technicianUserTypeConfig?.isTechTesting == true">
                                                    <div class="form-group video-password-eye">
                                                        <label>Panic Duress Password<span
                                                                class="mandatory-field">*</span></label>
                                                        <div class="p-relative">
                                                            <input validateInput
                                                                class="form-control fidelity-form-input"
                                                                [type]="isPanicDuressPasswordShow?'text':'password'"
                                                                formControlName="panicDuresPassword" maxlength="15"
                                                                minlength="6" [validateInput]='alphaNumericOnly'
                                                                autocomplete="new-password" />
                                                            <div *ngIf="technicalStaffRegistrationCreationForm.get('panicDuresPassword').value"
                                                                (mouseout)="isPanicDuressPasswordShow=false">
                                                                <a
                                                                    (click)="showDuresPassword()">
                                                                    <i [ngClass]="!isPanicDuressPasswordShow?'fa fa-eye-slash':'fa fa-eye'"
                                                                        class="fa fa-eye" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                        <span class="text-danger" *ngIf="isPasswordDuplicate">
                                                            Panic Duress Password and Tech Testing Password should be
                                                            different
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-4"
                                                    *ngIf="technicianUserTypeConfig?.isTechTesting == true">
                                                    <label>Tech Testing Mobile Number</label>
                                                    <div class="row">
                                                        <div class="col-3 pr-0">
                                                            <div class="form-group" style="width: 100%!important;">
                                                                <select
                                                                    class="form-control fidelity-form-input pad-right"
                                                                    style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                                                    formControlName="mobileCountryCode">
                                                                    <option *ngFor="let countryCode of countryCodes"
                                                                        [value]="countryCode.displayName">
                                                                        {{countryCode.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-8 pl-0">
                                                            <div class="form-group" style="width: 84%!important;">
                                                                <input validateInput #input
                                                                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                                                    appPhoneMask
                                                                    [ngClass]="{'is-invalid': (isValidTechTestMobileNo == false),'border border-success':(isValidTechTestMobileNo == true)}"
                                                                    [title]="technicalStaffRegistrationCreationForm?.get('mobileCountryCode')?.value"
                                                                    formControlName="techTestingMoblileNumber"
                                                                    class="form-control fidelity-form-input"
                                                                    name="Tech Testing Mobile Number"
                                                                    placeholder="Tech Testing Mobile Number"
                                                                    (blur)="blurEvent($event)" autocomplete="off" />
                                                                <span class="text-danger"
                                                                    *ngIf="!isValidTechTestMobileNo">
                                                                    {{isValidTechTestMobileNoValidMessage}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group p-relative">
                                                        <label>Profile Image</label>
                                                        <div class="input-group fidelity-file-upload">
                                                            <input class="input-box form-control col-8" type="text"
                                                                name="Profile_Name" placeholder="profile image name"
                                                                maxlength="102" formControlName="profileImageFileName"
                                                                readonly>
                                                            <span class="input-group-btn col-4 px-0"
                                                                (click)="profilefileInput.click()">
                                                                <div class="btn custom-file-uploader" id="fileName">
                                                                    <input #profilefileInput type="file" name="file"
                                                                        style="visibility: hidden;"
                                                                        [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                                                                        (change)="profileUploadFiles($event)" />Browse
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>Device UUID</label>
                                                        <input validateInput class="form-control fidelity-form-input"
                                                            type="text" formControlName="deviceUUID"
                                                            autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>Vehicle Registration Number</label>
                                                        <input validateInput class="form-control fidelity-form-input"
                                                            type="text" maxlength="20"
                                                            formControlName="vehicleRegNumber" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center mt-2">
                                            <button type="submit"
                                                class="btn btn-md-fidelity fidelity-btn-brown">{{action}}</button>
                                            <button type="button" routerLink='/user/technicial-staff-registration'
                                                type="button"
                                                class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                                        </div>
                                    </form>
                                </p-scrollPanel>
                            </div>
                        </mat-tab>
                        <mat-tab label="INCENTIVE" class="bg-gray">
                            <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                                <form customForm [formGroup]="incetiveForm" (ngSubmit)="saveIncentive()"
                                    autocomplete="off">
                                    <div class="ibox-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <label>Incentive Scheme Type<span
                                                                class="mandatory-field">*</span></label>
                                                        <select class="form-control fidelity-form-input" name=""
                                                            formControlName="incentiveTypeConfigId">
                                                            <option value="" disabled>Select Scheme Type</option>
                                                            <option
                                                                *ngFor="let incentiveScheme of incentiveSchemeTypeList"
                                                                [value]="incentiveScheme.incentiveTypeConfigId">
                                                                {{incentiveScheme.incentiveTypeName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>Effective Date</label>
                                                        <p-calendar formControlName="incentiveEffectiveDate" [readonlyInput]="true"></p-calendar>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <input class="form-control fidelity-form-input" type="text"
                                                            formControlName="incentiveStatus" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
                                                    (click)="processIncentive()"
                                                    [disabled]="TechnicianUserTypeDetails?.technicianStaffRegistrationTechnicianDetails?.terminationDate == undefined">Process
                                                    Incentive</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-body mt-2">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="page-sub-title">History</div>
                                                </div>
                                            </div>
                                            <app-technician-user-type-registration-audit
                                                [technicianDetailId]="TechnicianUserTypeDetails?.incentiveSchemeDetails?.technicianDetailId"
                                                *ngIf="selectedIndex == 2">
                                            </app-technician-user-type-registration-audit>
                                        </div>
                                    </div>
                                    <div class="text-center mt-2">
                                        <button class="btn btn-md-fidelity fidelity-btn-brown"
                                            [disabled]="TechnicianUserTypeDetails?.incentiveSchemeDetails?.techIncentiveSchemeApprovalStatusName?.toLowerCase()=='pending'">Update</button>
                                        <button routerLink='/user/technicial-staff-registration' type="button"
                                            class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                                    </div>
                                </form>
                            </p-scrollPanel>
                        </mat-tab>
                        <mat-tab label="TOOL LIST" class="bg-gray">
                            No record found
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </p-scrollPanel>
        </div>
    </div>
</div>


<p-dialog class="alert-dialog" styleClass="acknowledgeDialog" [maximizable]="true"
    [(visible)]="alertTechnicalStaffRegValidation" [responsive]="true" showEffect="fade" [resizable]="false"
    [modal]="true" [style]="{width: '500px'}" #pdg1>
    <p-header>
        Alert
    </p-header>
    <div>
        <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
            <div>
                <div class="view-box">
                    <div class="row">
                        <!-- popup content -->
                        <!-- srt vat -->
                        <div class="col-12" style="font-size: 2rem;color: #EAB027;text-align: center;">
                            <span class="icon icon-warning"></span>
                        </div>
                        <div class="col-12 mb-2 text-center font-13"><b>{{alertMessage}} </b>
                        </div>
                        <!-- end vat -->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" pButton class="ui-button-success mr-4"
                    style="display: inline-block;background: #115943!important;" (click)="alertPopupClose()"
                    label="Ok"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="alertLocationClear" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header>
        Alert
    </p-header>
    <div>
        <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
            <div>
                <p-scrollPanel [style]="{height: '10vh'}" styleClass="custom">
                    <div class="view-box">
                        <div class="row">
                            <!-- popup content -->
                            <!-- srt vat -->
                            <div class="col-12" style="font-size: 4rem;color: #EAB027;text-align: center;">
                                <span class="icon icon-warning"></span>
                            </div>
                            <div class="col-12 mb-2 text-center font-13"><b>Stock in Location, please clear the Location
                                    before re-assigning </b>
                            </div>
                            <!-- end vat -->
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" pButton class="ui-button-success mr-4"
                    style="display: inline-block;background: #115943!important;" (click)="alertLocationClear = false"
                    label="Ok"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>
