<div class="page-heading">
    <h1 class="page-title d-inline-block">View Boundary Requests</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Boundary Management</li>
        <li class="breadcrumb-item">GIS Dashboard</li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">My Request</h1>
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex">
                                        <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                            <label class="d-block" for="">Between</label>
                                            <p-calendar [readonlyInput]="true" (ngModelChange)="onModelChanged()"
                                                matInput [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="searchGISRequestsCriteria.fromDate" styleClass="w-100">
                                            </p-calendar>
                                        </div>
                                        <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                            <label class="d-block" for="">And</label>
                                            <p-calendar [disabled]="!searchGISRequestsCriteria.fromDate"
                                                [minDate]="searchGISRequestsCriteria.fromDate" [readonlyInput]="true"
                                                (ngModelChange)="onModelChanged()" matInput
                                                [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="searchGISRequestsCriteria.toDate"
                                                styleClass="w-100">
                                            </p-calendar>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Boundary Type</label>
                                                <select name="boundary type" class="form-control fidelity-form-input"
                                                    [ngModelOptions]="{standalone: true}" (change)="onOptionsSelected()"
                                                    [(ngModel)]="searchGISRequestsCriteria.boundaryTypeId">
                                                    <option value="">Select Boundary Type</option>
                                                    <option *ngFor="let boundaryType of boundaryTypes"
                                                        [value]="boundaryType.boundaryTypeId">
                                                        {{boundaryType.boundaryTypeName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Layer</label>
                                                <select name="layer" class="form-control fidelity-form-input"
                                                    [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="searchGISRequestsCriteria.layerId">
                                                    <option value="">Select Layer</option>
                                                    <option *ngFor="let layer of layers"
                                                        [value]="layer.boundaryLayerId">
                                                        {{layer.boundaryLayerName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-3" *ngIf="statsByDivisions.length>0">
                                    <p-scrollPanel [style]="{height: '18vh'}" styleClass="custom">
                                        <table style="width: 100%" class="fidelity-table mt-2 service-table">
                                            <thead>
                                                <th>Division</th>
                                                <th>Create</th>
                                                <th>Download</th>
                                                <th>Upload</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let statsByDivision of statsByDivisions;i as index;">
                                                    <td>{{statsByDivision.divisionName}}</td>
                                                    <td>{{statsByDivision.created?statsByDivision.created:'-'}}</td>
                                                    <td>{{statsByDivision.downloaded?statsByDivision.downloaded:'-'}}
                                                    </td>
                                                    <td>{{statsByDivision.uploaded?statsByDivision.uploaded:'-'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </p-scrollPanel>
                                </div>
                            </div>
                            <div class="text-center mt-3 mt-4">
                                <button [disabled]="isGISRequestSearchDisabled" id="create_new_leads_btn" type="submit"
                                    (click)="onGISSearchRequestsByKeywords('searchByCriterias')"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Search</button>
                                <button [disabled]="isGISRequestSearchDisabled" id="create_new_leads_btn_clear"
                                    type="button" (click)="onGISSearchRequestsByKeywords('clear')"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">clear</button>
                            </div>
                            <request-search-list [response]="response" [type]="'gis dashboard'"
                                (emittedEvent)="onEmittedEvent($event)">
                            </request-search-list>
                        </div>
                    </p-scrollPanel>
                </div>
            </form>
        </div>
    </div>
</div>
