<div class="hide-quick-action-menu quick-action-sidebar">
    <div class="quick-action-sidebar-header d-flex justify-content-between align-items-center">
        <span>Search  More</span>
        <span class="icon icon-close-icon" (click)="toggleQuickAction()"></span>
    </div>
    <div class="quick-action-sidebar-body">
        <ul class="quick-action-menu-con">
            <li class="quick-action-menu mb-1 p-relative">
                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" id="General_Info">
                    <span>General Info</span>
                </mat-checkbox>
            </li>
            <li class="quick-action-menu mb-1 p-relative">
                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" id="Debtor">
                    <span>Debtor</span>
                </mat-checkbox>
            </li>
            <li class="quick-action-menu mb-1 p-relative">
                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" id="Address">
                    <span>Address</span>
                </mat-checkbox>
            </li>
            <li class="quick-action-menu mb-1 p-relative">
                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" id="Contract">
                    <span>Contract</span>
                </mat-checkbox>
            </li>
            <li class="quick-action-menu mb-1 p-relative">
                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" id="Subscription">
                    <span>Subscription</span>
                </mat-checkbox>
            </li>
            <li class="quick-action-menu mb-1 p-relative">
                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" id="Account">
                    <span>Account</span>
                </mat-checkbox>
            </li>
            <li class="quick-action-menu mb-1 p-relative">
                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" id="Services">
                    <span>Services</span>
                </mat-checkbox>
            </li>
            <li class="quick-action-menu mb-1 p-relative">
                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" id="Technical">
                    <span>Technical</span>
                </mat-checkbox>
            </li>
            <li class="quick-action-menu mb-1 p-relative">
                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" id="Queries">
                    <span>Queries</span>
                </mat-checkbox>
            </li>
        </ul>
    </div>
</div>
