<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Post Incident Patrol</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/event-management/event-configuration'>Event Configuration</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/event-management/event-configuration' [queryParams]="{tab:16}">Post Incident Patrol</a>
        </li>
        <li class="breadcrumb-item">
            View - {{postIncidentPatrolDetailsDetails?.postIncidentPatrolName ?
            postIncidentPatrolDetailsDetails?.postIncidentPatrolName : '--'}}
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="edit()" matTooltip="Edit">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body brown-border view-box">
            <app-view-page [col]="2" [viewDetail]="PostIncidentPatrolView" [template]="1"></app-view-page>
        </div>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
            id="cancelPostIncidentPatrolBtn" routerLink='/event-management/event-configuration'
            [queryParams]="{tab:16}">Back</button>
    </div>
</div>