<div class="page-heading">
    <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>
    <ol class="breadcrumb"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
        <li class="breadcrumb-item">
            <a>
                <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item"
            *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
            <a *ngIf='breadCrumbItem.relativeRouterUrl&&!breadCrumbItem.queryParams'
                (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
            <a *ngIf='breadCrumbItem.relativeRouterUrl&&breadCrumbItem.queryParams'
                (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
            <a *ngIf='!breadCrumbItem.relativeRouterUrl'>{{breadCrumbItem.displayName}}</a>
        </li>
    </ol>

    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">
            <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="openZoneSuspendModal()"
                style="width: 30px!important;height: 30px!important;font-size: 1rem;top: -5px;">
                <i aria-hidden="true" class="icon icon-close-button" matTooltip="
                            Zone Suspend"></i>
            </a>
            <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="onCRUDRequested('delete')" matTooltip="Delete"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableMultiDeleteActionBtn"
                style="width: 30px!important;height: 30px!important;font-size: 1rem;top: -5px;">
                <i aria-hidden="true" class="icon icon-delete"></i></a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="onCRUDRequested('create')"
                style="width: 30px!important;height: 30px!important;font-size: 1rem;top: -5px;"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.ebableAddActionBtn"><i
                    aria-hidden="true" data-icon="b" class="icon" matTooltip="Add Signal Special"></i></a>
            <a *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableLogoutButton"
                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                matTooltip="logout" style="width: 30px!important;height: 30px!important;font-size: 1rem;top: -5px;">
                <i aria-hidden="true" class="icon icon-off"></i>
            </a>
            <a *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableRefreshButton"
                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                matTooltip="Refresh" style="width: 30px!important;height: 30px!important;font-size: 1rem;top: -5px;">
                <i aria-hidden="true" class="icon icon-refresh-2"></i>
            </a>
            <a class="fidelity-btn-circle fidelity-white-btn" (click)="exportExcel()"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableExportCSVSelected"
                style="width: 30px!important;height: 30px!important;font-size: 1rem;top: -5px;">
                <i aria-hidden="true" class="icon icon-share" matTooltip="Export"></i>
            </a>
        </div>
    </div>
</div>
<div class="row  mt-3">
    <div class="col-8 ">
        <div class="primeng-table-wrapper">
            <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
                <form [formGroup]="columnFilterForm">
                    <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
                        [(selection)]="selectedRows" [scrollable]="true" scrollHeight="327px" [autoLayout]="true"
                        (onLazyLoad)="loadPaginationLazy($event)" [totalRecords]="totalRecords" [loading]="loading"
                        [value]="dataList" [dataKey]="tables.dataKey" [paginator]="(totalRecords == 0) ? false : true"
                        [rows]="10" [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null" [responsive]="true"
                        [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"
                        [reorderableColumns]="tables?.reorderableColumns" (onRowSelect)="onRowSelect($event)"
                        (onRowUnselect)="onRowUnselect($event)">
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix" style="text-align: left">

                                <div class="row">
                                    <div class="col-md-5" style="    padding-left: 0;">
                                        <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                                            (click)="dt.exportCSV()" style="margin-right: 0.5em;"
                                            *ngIf="tables?.enableExportCSV"></button>
                                        <button type="button" pButton icon="pi pi-file-excel" iconPos="left"
                                            label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;"
                                            class="ui-button-success" *ngIf="tables?.enableExportExcel"></button>
                                        <!-- <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button> -->
                                        <!-- <button type="button" pButton icon="pi pi-file" iconPos="left"
                                            label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"
                                            class="ui-button-warning" *ngIf="tables?.enableExportCSVSelected"></button> -->
                                        <button type="button" pButton icon="pi pi-file" iconPos="left" label="Reset"
                                            (click)="dt.reset()" style="margin-right: 0.5em;"
                                            class="ui-button-secondary" *ngIf="tables?.enableReset"></button>

                                    </div>
                                    <!-- <div class="col-md-3">
          <p-multiSelect [options]="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.columns" [(ngModel)]="selectedColumns" optionLabel="header"
                      selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
          </div> -->
                                    <div class="col-md-7" style="    padding-right: 0;">
                                        <form [formGroup]="searchForm">

                                            <div style="text-align: right; float: right;"
                                                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                                <!-- <input type="text" pInputText size="30" placeholder="Global Filter"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"> -->
                                                <input type="text" pInputText size="30" placeholder="Global Filter"
                                                    formControlName="searchKeyword" style="width:auto">
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                <!-- <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}"
                                        *ngIf="tables?.enableRowDelete"> -->
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr class="first-row">
                                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                    <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                                </th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                    pReorderableColumn>
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <!-- <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                        *ngIf="tables?.enableRowDelete">
                                        Action</th> -->

                            </tr>
                            <tr *ngIf="tables?.enableFieldsSearch">
                                <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox"></th>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input [formControlName]="col.field" [validateInput]='isAnAlphaNumericOnly'
                                        *ngIf="col.field != 'isActive' && !col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                        pInputText type="text">
                                    <p-calendar [formControlName]="col.field" placeholder="" [utc]='true' [maxDate]="today"
                                        *ngIf="col.field.toLowerCase().includes('date') && i == selectedTabIndex"
                                        appendTo="body" showButtonBar="true" [readonlyInput]="true" [showIcon]="false"
                                        (onClearClick)="dt.filter($event.value,col.field,null)">
                                    </p-calendar>
                                    <p-dropdown [formControlName]="col.field"
                                        *ngIf="col.field == 'isActive' && i == selectedTabIndex" appendTo="body"
                                        [options]="status" placeholder="Select Status" [style]="{'width':'75%'}"
                                        [showClear]="true">
                                    </p-dropdown>
                                    <!-- <button *ngIf="col.field == 'isActive'" type="button" pButton icon="pi pi-undo"
                                    (click)="dt.reset()" style="margin-left: 0.5em;" [style]="{'width':'24%'}"
                                    class="ui-button-info"></button> -->
                                </th>
                                <!-- <th [ngClass]="{'enableRowDeleteActive': tables?.enableRowDelete}"
                                        *ngIf="tables?.enableRowDelete">
                                    </th> -->

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns"
                            let-expanded="expanded">
                            <tr [pSelectableRow]="rowData" [pReorderableRow]="ri" [pSelectableRowIndex]="ri">
                                <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                                    <!-- <p-tableCheckbox [value]="rowData"></p-tableCheckbox> -->
                                    <p-tableRadioButton [value]="rowData" [index]=ri></p-tableRadioButton>

                                </td>
                                <td *ngFor="let col of columns;index as i" class="ui-resizable-column"
                                    pReorderableRowHandle>
                                    <a href="#" [pRowToggler]="rowData"
                                        *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                                        <i (click)="selectedRowIndex == ri ?  onUnclickExpantableRow() : onClickExpantableRow(rowData,ri)"
                                            [ngClass]="selectedRowIndex==ri ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                        <span class="{{rowData.customerClassName}}" style="border-radius: 50%;">
                                            <i class="pi pi-user" style="position: relative;top: 2px;"></i>
                                        </span>
                                    </a>
                                    <ng-container
                                        *ngIf="col.header == 'Status' || col.field.toLowerCase().includes('date'); then thenTemplate; else elseTemplate">
                                    </ng-container>
                                    <ng-template #thenTemplate>
                                        <ng-container *ngIf="col.header == 'Status'">
                                            <span *ngIf="!tables.enableStatusActiveAction" class="status-label pos-top"
                                                style="cursor: pointer;" [ngClass]="rowData.cssClass">

                                                {{ rowData[col.field] ? rowData[col.field] :'-'}}
                                            </span>
                                            <p-dropdown *ngIf="tables.enableStatusActiveAction" [options]="status"
                                                appendTo="body" [(ngModel)]="rowData[col.field]"
                                                [ngModelOptions]="{standalone: true}" placeholder="Select Status"
                                                [style]="{'width':'100%'}" (onChange)="onChangeStatus(rowData,ri)">
                                            </p-dropdown>
                                        </ng-container>
                                        <ng-container *ngIf="col.field.toLowerCase().includes('date')">
                                            {{rowData[col.field] ? (rowData[col.field] | date) : '--'}}
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #elseTemplate>
                                        <ng-container *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                                            <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                                            <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}"
                                                tooltipPosition="top" (click)="onCRUDRequested('edit',rowData)">
                                                {{rowData[col.field] ? rowData[col.field] : '--'}}
                                            </a>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="(!tables?.enableHyperLink || i != tables?.cursorLinkIndex) && (!tables?.enableSecondHyperLink || i != tables?.cursorSecondLinkIndex)">
                                            {{rowData[col.field] === true ? 'Yes' : rowData[col.field] ===
                                            false ?
                                            'No' :
                                            rowData[col.field] ? rowData[col.field] : '--'}}
                                        </ng-container>

                                    </ng-template>
                                </td>
                            </tr>
                            <ng-container style="width:100% !important;" *ngIf="selectedRowIndex == ri">
                                <tr>
                                    <td [attr.colspan]="columns?.length+1">
                                        <div class="ui-g ui-fluid" style="font-size:16px;background: #fff;">
                                            <app-child-signal-history [chidlselectedRows]="selectedRows"
                                                *ngIf="selectedRowIndex == ri" (selectedRowData)="childData($event)">
                                            </app-child-signal-history>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length" style="text-align: center;">
                                    <p *ngIf="totalRecords == 0" class="no-data-msg mt-2">No Data found</p>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft" let-state>
                            <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
                                {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ?
                                    state.rows * (state.page + 1) : totalRecords}} of <strong>{{totalRecords ?
                                    totalRecords : pageSize}}</strong> entries
                            </p>
                        </ng-template>
                    </p-table>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4 p-0">
        <div>
            <div class="row flex-column">
                <div class="col-11 mb-3">
                    <div class="event-memo-con" style="height: auto;">
                        <div class="event-memo-header d-flex align-items-center justify-content-between">
                            <span>Event Memo</span>
                            <a
                                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn">
                                <i aria-hidden="true" class="fa fa-download"></i></a>
                        </div>
                        <div class="event-memo-body">
                            <p-scrollPanel [style]="{ height: '20vh'}">
                                <ul class="p-0">
                                    <li *ngFor="let item of eventMemoList; let i=index">{{item?.occurrenceBookMemo}}
                                    </li>
                                </ul>
                            </p-scrollPanel>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-11 p-0">
                    <div style="height: 65vh;">
                        <div class="row ml-4">
                            <mat-tab-group [selectedIndex]="selectedTabChangeIndex"
                                (selectedTabChange)="onTabChangeEvent($event)"
                                class="fidelity-tab-group fidelity-horizontal-tab no-pagination mat-tab-body-padding-0">
                                <mat-tab label="SIGNAL INFO" class="bg-gray">
                                    <app-signal-history-info-customer
                                        *ngIf="selectedTabChangeIndex == 0 && isSignalInfo"
                                        [occurrenceBookId]="selectedOccurrenceBookId" [customerId]="customerId"
                                        [customerAddressId]="customerAddressId">
                                    </app-signal-history-info-customer>
                                </mat-tab>
                                <mat-tab label="CONTROLLER" class="bg-gray">
                                    <app-signal-history-controller
                                        *ngIf="selectedTabChangeIndex == 1 && isControllerShow"
                                        [occurrenceBookId]="selectedOccurrenceBookId"></app-signal-history-controller>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
