<div class="fidelity-popup-heading container-fluid p-relative">{{ticketGroupId?'Update':'Create'}} Ticket Group
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm (ngSubmit)="onSubmit()" [formGroup]="ticketGroupsAddEditForm">
    <mat-dialog-content>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" >Display Name <span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input [validateInput]='stringConfig' class="form-control fidelity-form-input"
                        name="Display Name" type="text" placeholder="Display Name"
                             [maxlength]="20" 
                             formControlName="displayName"
                            />
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label">Description</label>
            <div class="col-md-12">
                <text-area-custom-control  formControlName="description">
                </text-area-custom-control>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="submit">{{ticketGroupId?'Update':'Save'}}</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button" [mat-dialog-close]="true" >Cancel</button>
    </mat-dialog-actions>
</form>