.quick-action-sidebar {
    width: 300px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 1px 0px 0px 2px #cec3c3c9;
    transition: all .2s ease-in-out;
    display: inline-block;

    .quick-action-sidebar-header {
        background-color: #00644A;
        color: #fff;
        padding: 5px 15px;
        font-family: 'Calibri_Bold', sans-serif!important;

        .icon-close-icon {
            font-size: 0.7rem;
            cursor: pointer;
        }
    }

    .quick-action-sidebar-body {
        padding: 15px;
        .quick-action-menu-con {
            padding: 0;
            .quick-action-menu {
                padding: 7px 15px;
                border: 1px solid #ccc;
                                border-radius: 4px;
                font-size: 1rem;
                &:hover {
                    border: 1px solid #cccccc59;
                }
                a {
                    color: #000;
                    display: inline-block;
                    width: 100%;
                }
                &:hover 
                    {
                        background-color: #166dff08 !important;
                        a {
                            color: #166DFF !important;
                            font-family: 'Calibri_Bold', sans-serif!important;
                        }
                    }
            }
        }
    }
}


::ng-deep .call-workflow-box .ng-scroll-content {
    max-width: 100%!important;
}

@import '../../../../../../variables.scss';
