<div class="page-heading p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" >
    </app-page-header>
       <!-- Picking dashboard -->
       <form *ngIf="showPickingDashboardFilterForm" [formGroup]="pickingDashboardFilterForm" (ngSubmit)="submitFilter()"
       class="p-absolute" >
       <div class="page-heading p-relative">
           <div class="filter-dropdwon-con picking-dashboard">
               <div class="row">

                   <div class="col-7">
                       <div class="form-group leads-category-con">
                           <label class="d-block">Warehouse</label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'warehouseId'"
                               [formControl]="pickingDashboardFilterForm?.controls['warehouseId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="warehouseList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-5 d-flex align-items-center">
                       <button  class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                       <button  type="button" class="btn btn-md-fidelity btn-primary mr-4" (click)="resetForm()">Reset</button>
                   </div>
               </div>
           </div>
       </div>
   </form>
   <!-- Picking orders -->
   <form *ngIf="showPickingOrdersFilterForm" [formGroup]="pickingOrdersFilterForm" (ngSubmit)="submitFilter()"
       class="p-absolute" >
       <div class="page-heading p-relative">
           <div class="filter-dropdwon-con picking-dashboard picking-dashboard-filter">
               <div class="row">
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Stock Order Number </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockOrderNumberId'"
                               [formControl]="pickingOrdersFilterForm?.controls['stockOrderNumberId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockOrderNumberList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Stock Order Type </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'orderTypeId'"
                               [formControl]="pickingOrdersFilterForm?.controls['orderTypeId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockOrderTypeList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Priority </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'priorityId'"
                               [formControl]="pickingOrdersFilterForm?.controls['priorityId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="priorityList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Status </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'statusId'"
                               [formControl]="pickingOrdersFilterForm?.controls['statusId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="statusList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Division </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'divisionId'"
                               [formControl]="pickingOrdersFilterForm?.controls['divisionId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="divisionList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Order Submitted Date & Time </label>
                           <div class="row">
                               <div class="col-6  fidelity-date-picker-con p-relative cust-banner-date-con">

                                   <p-calendar  [minDate]="startTodayDate" formControlName="fromDate"  placeholder=""  styleClass="w-100"> </p-calendar>

                               </div>
                               <div class="col-6  fidelity-date-picker-con p-relative cust-banner-date-con">

                                   <p-calendar  [minDate]="startTodayDate" formControlName="toDate"  placeholder=""  styleClass="w-100"> </p-calendar>

                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Issuing Warehouse </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'issueingLocationId'"
                               [formControl]="pickingOrdersFilterForm?.controls['issueingLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="warehouseList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Issuing Tech Location </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'issueingTechLocationId'"
                               [formControl]="pickingOrdersFilterForm?.controls['issueingTechLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="issueingTechLocation"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Requesting Location </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'receivingLocationId'"
                               [formControl]="pickingOrdersFilterForm?.controls['receivingLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="requestingLocationList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12 text-center">
                       <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                       <button type="button" class="btn btn-md-fidelity btn-primary mr-4" (click)="resetForm()">Reset</button>
                   </div>
               </div>
           </div>
       </div>
   </form>
   <!-- Picked orders -->
   <form *ngIf="showPickedOrdersFilterForm" [formGroup]="pickedOrdersFilterForm" (ngSubmit)="submitFilter()"
       class="p-absolute" >
       <div class="page-heading p-relative">
           <div class="filter-dropdwon-con picking-dashboard picking-dashboard-filter">
               <div class="row">
                   <!-- (selectionChange)="getPickerDropdown($event)" -->
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Stock Order Number </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockOrderNumberId'"
                               [formControl]="pickedOrdersFilterForm?.controls['stockOrderNumberId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockOrderNumberList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Stock Order Type </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'orderTypeId'"
                               [formControl]="pickedOrdersFilterForm?.controls['orderTypeId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockOrderTypeList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Priority </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'priorityId'"
                               [formControl]="pickedOrdersFilterForm?.controls['priorityId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="priorityList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Status </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'statusId'"
                               [formControl]="pickedOrdersFilterForm?.controls['statusId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="statusList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Division </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'divisionId'"
                               [formControl]="pickedOrdersFilterForm?.controls['divisionId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="divisionList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Order Submitted Date & Time </label>
                           <div class="row">
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar class="p-calendar-date" [minDate]="startTodayDate" formControlName="fromDate"  placeholder=""  styleClass="w-100" >  </p-calendar>
                               </div>
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar  [minDate]="startTodayDate" formControlName="toDate"  placeholder=""  styleClass="w-100">  </p-calendar>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Issuing Warehouse </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'issueingLocationId'"
                               [formControl]="pickedOrdersFilterForm?.controls['issueingLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="warehouseList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Issuing Tech Location </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'issueingTechLocationId'"
                               [formControl]="pickedOrdersFilterForm?.controls['issueingTechLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="issueingTechLocation"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Receiving Location </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'receivingLocationId'"
                               [formControl]="pickedOrdersFilterForm?.controls['receivingLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="requestingLocationList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Picker </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'pickerId'"
                               [formControl]="pickedOrdersFilterForm?.controls['pickerId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="pickerDrordown"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Picking End Date & Time </label>
                           <div class="row">
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="pickingFromDate" [minDate]="startTodayDate"  placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="pickingToDate" [minDate]="startTodayDate"    placeholder=""  styleClass="w-100">        </p-calendar>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Collection Date & Time </label>
                           <div class="row">
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="collectedFromDate" [minDate]="startTodayDate"   placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="collectedToDate" [minDate]="startTodayDate"    placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Dispatch Transfer Number </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'dispatchTRFNumber'"
                               [formControl]="pickedOrdersFilterForm?.controls['dispatchTRFNumber']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="dispatchTRFNumberList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Stock Transfer Number </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockTRFNumber'"
                               [formControl]="pickedOrdersFilterForm?.controls['stockTRFNumber']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockTRFNumberList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12 text-center">
                       <button  class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                       <button  type="button" class="btn btn-md-fidelity btn-primary mr-4" (click)="resetForm()">Reset</button>
                   </div>
               </div>
           </div>
       </div>
   </form>
   <!-- Scheduled order -->
   <form *ngIf="showScheduledOrdersFilterForm" [formGroup]="scheduledOrdersFilterForm" (ngSubmit)="submitFilter()"
       class="p-absolute" >
       <div class="page-heading p-relative">
           <div class="filter-dropdwon-con picking-dashboard picking-dashboard-filter">
               <div class="row">
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Stock Order Number </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockOrderNumberId'"
                               [formControl]="scheduledOrdersFilterForm?.controls['stockOrderNumberId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockOrderNumberList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Priority </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'priorityId'"
                               [formControl]="scheduledOrdersFilterForm?.controls['priorityId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="priorityList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Division </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'divisionId'"
                               [formControl]="scheduledOrdersFilterForm?.controls['divisionId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="divisionList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Order Submitted Date & Time </label>
                           <div class="row">
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar  [minDate]="startTodayDate" formControlName="fromDate"  placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar  [minDate]="startTodayDate" formControlName="toDate"  placeholder=""  styleClass="w-100">  </p-calendar>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Issuing Warehouse </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'issueingLocationId'"
                               [formControl]="scheduledOrdersFilterForm?.controls['issueingLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="warehouseList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Stock Code </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockCodeId'"
                               [formControl]="scheduledOrdersFilterForm?.controls['stockCodeId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockCodeList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Receiving Location </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'receivingLocationId'"
                               [formControl]="scheduledOrdersFilterForm?.controls['receivingLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="requestingLocationList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Receiving Location Name </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'receivingLocationNameId'"
                               [formControl]="scheduledOrdersFilterForm?.controls['receivingLocationNameId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="requestingLocationNameList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Call Creation Date </label>
                           <div class="row">
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="callCreationFromDate" [minDate]="startTodayDate"    placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="callCreationToDate" [minDate]="startTodayDate"   placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                           </div>
                       </div>
                   </div>
                  <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Sales Rep </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'salesRepId'"
                               [formControl]="scheduledOrdersFilterForm?.controls['salesRepId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="salesRepList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12 text-center">
                       <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                       <button type="button" class="btn btn-md-fidelity btn-primary mr-4" (click)="resetForm()">Reset</button>
                   </div>
               </div>
           </div>
       </div>
   </form>
   <!-- Technician order -->
   <form *ngIf="showTechnicianOrdersFilterForm" [formGroup]="technicianOrdersFilterForm" (ngSubmit)="submitFilter()"
       class="p-absolute" >
       <div class="page-heading p-relative">
           <div class="filter-dropdwon-con picking-dashboard picking-dashboard-filter">
               <div class="row">
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block">Stock Order Number</label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockOrderNumberId'"
                               [formControl]="technicianOrdersFilterForm?.controls['stockOrderNumberId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockOrderNumberList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Division </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'divisionId'"
                               [formControl]="technicianOrdersFilterForm?.controls['divisionId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="divisionList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Order Submitted Date & Time </label>
                           <div class="row">
                               <div class="col-6  fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar  [minDate]="startTodayDate" formControlName="fromDate"  placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar  [minDate]="startTodayDate" formControlName="toDate"  placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Issuing Warehouse </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'issueingLocationId'"
                               [formControl]="technicianOrdersFilterForm?.controls['issueingLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="warehouseList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block">Stock Code</label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockCodeId'"
                               [formControl]="technicianOrdersFilterForm?.controls['stockCodeId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockCodeList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Receiving Location </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'receivingLocationId'"
                               [formControl]="technicianOrdersFilterForm?.controls['receivingLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="requestingLocationList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Receiving Location Name </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'receivingLocationNameId'"
                               [formControl]="technicianOrdersFilterForm?.controls['receivingLocationNameId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="requestingLocationNameList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12 text-center">
                       <button  class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                       <button  type="button" class="btn btn-md-fidelity btn-primary mr-4" (click)="resetForm()">Reset</button>
                   </div>
               </div>
           </div>
       </div>
   </form>
   <!-- Interbranch orders -->
   <form *ngIf="showInterBranchFilterForm" [formGroup]="interBranchtransferFilterForm" (ngSubmit)="submitFilter()"
       class="p-absolute" >
       <div class="page-heading p-relative">
           <div class="filter-dropdwon-con picking-dashboard picking-dashboard-filter">
               <div class="row">
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block">Stock Order Number</label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockOrderNumberId'"
                               [formControl]="interBranchtransferFilterForm?.controls['stockOrderNumberId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockOrderNumberList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Division </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'divisionId'"
                               [formControl]="interBranchtransferFilterForm?.controls['divisionId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="divisionList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Order Submitted Date & Time </label>
                           <div class="row">
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar  [minDate]="startTodayDate" formControlName="fromDate"  placeholder=""  styleClass="w-100"> </p-calendar>
                               </div>
                               <div class="col-6  fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar  [minDate]="startTodayDate" formControlName="toDate"  placeholder=""  styleClass="w-100"> </p-calendar>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block">Issuing Warehouse</label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'toWarehouseId'"
                               [formControl]="interBranchtransferFilterForm?.controls['toWarehouseId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="requestWarehouseList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block">Stock Code</label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockCodeId'"
                               [formControl]="interBranchtransferFilterForm?.controls['stockCodeId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockCodeList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block">Requesting Location</label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'fromWarehouseId'"
                               [formControl]="interBranchtransferFilterForm?.controls['fromWarehouseId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="requestingLocationList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12 text-center">
                       <button  class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                       <button  type="button" class="btn btn-md-fidelity btn-primary mr-4" (click)="resetForm()">Reset</button>
                   </div>
               </div>
           </div>
       </div>
   </form>
   <!-- Accepted order -->
   <form *ngIf="showAcceptedOrdersFilterForm" [formGroup]="acceptedOrdersFilterForm" (ngSubmit)="submitFilter()"
       class="p-absolute" >
       <div class="page-heading p-relative">
           <div class="filter-dropdwon-con picking-dashboard picking-dashboard-filter">
               <div class="row">
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block">Stock Order Number</label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockOrderNumberId'"
                               [formControl]="acceptedOrdersFilterForm?.controls['stockOrderNumberId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockOrderNumberList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Priority </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'priorityId'"
                               [formControl]="acceptedOrdersFilterForm?.controls['priorityId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="priorityList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Division </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'divisionId'"
                               [formControl]="acceptedOrdersFilterForm?.controls['divisionId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="divisionList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block"> Issuing Warehouse </label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'issueingLocationId'"
                               [formControl]="acceptedOrdersFilterForm?.controls['issueingLocationId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="warehouseList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group leads-category-con">
                           <label class="d-block">Stock Code</label>
                           <mat-select-autocomplete ngDefaultControl
                               [id]="'stockCodeId'"
                               [formControl]="acceptedOrdersFilterForm?.controls['stockCodeId']"
                               [placeholder]="'Select Single/Multiple'"
                               [options]="stockCodeList"
                               [multiple]='true' [value]="'value'" [display]="'display'">
                           </mat-select-autocomplete>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Call Creation Date </label>
                           <div class="row">
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="callCreationFromDate" [minDate]="startTodayDate"   placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="callCreationToDate" [minDate]="startTodayDate"    placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label for=""> Scheduled Date & Time </label>
                           <div class="row">
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="scheduleFromdate" [minDate]="startTodayDate"    placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                               <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                   <p-calendar formControlName="scheduleToDate" [minDate]="startTodayDate"    placeholder=""  styleClass="w-100"></p-calendar>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12 text-center">
                       <button  class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                       <button  type="button" class="btn btn-md-fidelity btn-primary mr-4" (click)="resetForm()">Reset</button>
                   </div>
               </div>
           </div>
       </div>
   </form>
</div>
<app-page-tab [selectedIndex]="selectedTabIndex" [template]="1"
    [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList" (tabClicked)="onTabChange($event)">
</app-page-tab>
<!-- <div class="custom-table-height"> -->
    <app-page-list-table class="custom-table" [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [reset]="reset" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [customScroll]="false" [enableFieldValuesPersistance]="true"
    (onActionSubmited)="onActionSubmited($event)" >
    </app-page-list-table>
<!-- </div> -->

<!-- Rebook pop up -->
<p-dialog class="rebook-dialog" styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isPickedCancelOrdersDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '450px'}">
    <p-header>{{popupHeader}}</p-header>
    <app-popup-loader></app-popup-loader>
    <form [formGroup]="cancelOrderDialogForm" customForm class="fidelity-popup-form"
      class="cancel-order"  >
        <div class="rebook-dialog-body">
            <div class="view-box" *ngIf="cancelPickedOrder">
                <div class="row mt-1">
                    <div class="col-lg-12 text-align-center" >
                        Are you sure you want to cancel the<br>
                        {{selectedTabIndex == 1 ? 'Picking ' : 'Picked '}}order <b>{{stockOrderNumber}}</b>?
                    </div>
                </div>
                <div class="row mt-3" *ngIf="showSaveCancelOrder">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label> Cancel Reason <span class="mandatory-field">*</span></label>
                            <textarea name="reasons"  placeholder="Enter reasons" class="form-control fidelity-form-input" formControlName="reasons" rows="3" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-box" *ngIf="assignPickingorders">
                <div class="row mt-1">
                    <div class="col-lg-12 text-align-center-font"  *ngIf="pickerName != null">
                        The job is already in progress by {{pickerName}},
                        are you sure you want to assign the job to a different Picker
                    </div>
                    <div class="col-lg-12 text-align-center-font" *ngIf="pickerName == null">
                        The job is not yet started, are you sure you want to assign a user?
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label> Picker <span class="mandatory-field">*</span></label>
                            <select class="form-control fidelity-form-input input-width-medium" id="packerId"
                                formControlName="packerId" (change)='onPickerSelected($event)'>
                                <option value="" disabled selected> Select picker </option>
                                <option *ngFor="let data of pickersList" value="{{data.id}}">
                                    {{data.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-1">
                        <mat-checkbox class="fidelity-checkbox" formControlName="isTechnicianCollection">
                            Automatic Collection
                        </mat-checkbox>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-12 text-align-center" >
                        By selecting to auto collect, you acknowledge that you will be transferring stock
                        directly into the technician's Tech Stock Location.
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix mt-3">
                    <div class="text-center" *ngIf="cancelPickedOrder">
                        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown"
                        *ngIf="showSaveCancelOrder" (click)="submitCancelOrder()"> Save
                        </button>
                        <button type="button" (click)="showSaveCancelOrder = true"  *ngIf="!showSaveCancelOrder"
                            class="btn btn-md-fidelity fidelity-btn-brown"> Yes
                        </button>
                        <button type="button" (click)="isPickedCancelOrdersDialog = false"  *ngIf="!showSaveCancelOrder"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No
                        </button>
                    </div>
                    <div class="text-center" *ngIf="assignPickingorders">
                        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown" (click)="assignpackerJob(1)">
                            Assign
                        </button>
                        <button type="button" (click)="isPickedCancelOrdersDialog = false"  *ngIf="!showSaveAssignOrder"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"> Cancel
                        </button>
                    </div>
                </div>
            </p-footer>
        </div>
    </form>
</p-dialog>


<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isCancelOrderSuccessDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header *ngIf="cancelPickedOrder"> Cancellation Message </p-header>
  <p-header *ngIf="assignPickingorders"> Reassign Message </p-header>
    <div class="row mt-1" *ngIf="cancelPickedOrder">
        <div class="col-lg-12 text-align-center grv-num-font" >
            {{grvNumer}}
        </div>
    </div>
    <div class="row mt-1" *ngIf="assignPickingorders">
        <div class="col-lg-12 text-align-center">
            Are you sure you want to assign order <br>
            <b> {{stockOrderNumber}} </b> to {{showPickerName}}?
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center" *ngIf="cancelPickedOrder">
                <button type="button" (click)="isCancelOrderSuccessDialog = false"
                    class="btn btn-md-fidelity fidelity-btn-brown"> Ok
                </button>
            </div>
            <div class="text-center" *ngIf="assignPickingorders">
                <button type="button" (click)="reAssignPickingOrders()"
                    class="btn btn-md-fidelity fidelity-btn-brown"> Yes
                </button>
                <button type="button" (click)="isCancelOrderSuccessDialog = false"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>
