<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
    </app-page-header>
    <form *ngIf="showStockInitiationFilterForm" [formGroup]="stockTakeInitiationFilterForm" (ngSubmit)="submitFilter()"
        class="p-absolute" style="top: 50px;right: 3vw; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con" style="width: 79vw;">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> Region </label>
                            <p-multiSelect [formControl]="stockTakeInitiationFilterForm?.controls['regionId']"
                                [options]="regionDropdown" defaultLabel="Select Region" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Region Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> Division </label>
                            <p-multiSelect [formControl]="stockTakeInitiationFilterForm?.controls['divisionId']"
                                [options]="divisionDropdown" defaultLabel="Select Division" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Division Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> District </label>
                            <p-multiSelect [formControl]="stockTakeInitiationFilterForm?.controls['districtId']"
                                [options]="districtDropdown" defaultLabel="Select District" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No District Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> Branch </label>
                            <p-multiSelect [formControl]="stockTakeInitiationFilterForm?.controls['branchId']"
                                [options]="branchDropdown" defaultLabel="Select Branch" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Branch Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> Tech Area </label>
                            <p-multiSelect [formControl]="stockTakeInitiationFilterForm?.controls['techAreaId']"
                                [options]="techAreaDropdown" defaultLabel="Select Tech Area" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Tech Area Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> Storage Location </label>
                            <p-multiSelect [formControl]="stockTakeInitiationFilterForm?.controls['storageLocationId']"
                                [options]="storageLocationDropdown" defaultLabel="Select Storage Location"
                                [virtualScroll]="true" [itemSize]="25" styleClass="w-100" [baseZIndex]="100"
                                emptyFilterMessage="No Storage Location Exists" maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> Warehouse </label>
                            <p-multiSelect [formControl]="stockTakeInitiationFilterForm?.controls['warehouseId']"
                                [options]="warehouseDropdown" defaultLabel="Select Warehouse" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Warehouse Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> Tech Stock Location </label>
                            <p-multiSelect
                                [formControl]="stockTakeInitiationFilterForm?.controls['techStockLocationId']"
                                [options]="stockLocationDropdown" defaultLabel="Select Tech Stock Location"
                                styleClass="w-100" [baseZIndex]="100" emptyFilterMessage="No Tech Stock Location Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> Tech Stock Location Name </label>
                            <p-multiSelect
                                [formControl]="stockTakeInitiationFilterForm?.controls['techStockLocationNameId']"
                                [options]="stockLocationNameDropdown" defaultLabel="Select Tech Stock Location Name"
                                styleClass="w-100" [baseZIndex]="100"
                                emptyFilterMessage="No Tech Stock Location Name Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fdt-date-con">
                            <label for=""> Actioned Date </label>
                            <div class="row">
                                <div class="col-6 p-relative">
                                    <p-calendar formControlName="fromDate" [maxDate]="maxDate" styleClass="w-100"
                                        placeholder=""></p-calendar>
                                </div>
                                <div class="col-6 p-relative">
                                    <p-calendar formControlName="toDate" styleClass="w-100" placeholder=""
                                        [minDate]="stockTakeInitiationFilterForm?.get('fromDate')?.value"
                                        [maxDate]="maxDate"></p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label class="d-block"> Status </label>
                            <p-multiSelect [formControl]="stockTakeInitiationFilterForm?.controls['statusId']"
                                [options]="statusDropdown" defaultLabel="Select Status" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Status Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" class="call-status-table"
    [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit" [searchFirst]="true" [first]="first"
    [reset]="reset" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
    (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
</app-page-list-table>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showTechnicianStockTakeCancel"
    [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header> Confirmation </p-header>
    <div class="row mt-1">
        <div class="col-lg-12" style="font-size: 15px; text-align: center;">
            Are you sure you want to cancel the
            <br>Technician Stock Take
        </div>
    </div>
    <div class="row mt-3" *ngIf="showCancelReason">
        <div class="col-lg-12">
            <div class="form-group">
                <label> Cancellation Reason <span class="mandatory-field">*</span></label>
                <textarea class="form-control fidelity-form-input" id="reasons" [(ngModel)]="cancelReasons"
                    placeholder="Reasons" maxlength="250"> </textarea>
            </div>
            <span class="text-danger" *ngIf="showCancelTextError">
                Cancellation reason is required
            </span>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center" *ngIf="!showCancelReason">
                <button type="button" (click)="showCancelReason = true" class="btn btn-md-fidelity fidelity-btn-brown">
                    Yes
                </button>
                <button type="button" (click)="showTechnicianStockTakeCancel = false"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No
                </button>
            </div>
            <div class="text-center" *ngIf="showCancelReason">
                <button type="button" (click)="cancelStockInitiation()" class="btn btn-md-fidelity fidelity-btn-brown">
                    Save
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>