@import "../../../../../../../variables.scss";

.ibox {
    .pricing-info-con .form-group {
        width: 80%;
    }

    .delete-row {
        width: 30px !important;
        height: 30px !important;
        border-radius: 50% !important;
        color: #eaeaea;
        position: relative;
        right: -5px;
        top: 4px;
        font-size: 0.9rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: #ed4a4a;
            i {
                color: #fff;
            }
        }
    }

    .fidelity-btn-circle {
        width: 30px !important;
        height: 30px !important;
        font-size: 1rem;
        position: relative;
        top: 4px;
    }
}

form.submitted input.ng-invalid,
input.ng-dirty.ng-invalid {
    border: none !important;
}

.error-notification {
    color: #dc3545;
    font-size: 0.8em;
}

.fidelity-btn-circle {
    width: 30px !important;
    height: 30px !important;
    font-size: 1rem;
}

::ng-deep form.submitted input.ng-invalid#model {
    border: 1px solid #dc3545 !important;
}

.ibox {
    .delete-row {
        width: 30px !important;
        height: 30px !important;
        font-size: 0.9rem;
        color: #cccccc !important;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: #ed4a4a;
            border-radius: 50% !important;
            color: #ffffff;
        }
    }

    .row.mt-2 {
        padding: 0 10px;
    }

    .col-form-label {
        word-break: break-all;
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
        top: calc(100% - 14px) !important;
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding-top: 0 !important;
        padding-left: 0 !important;
    }

    .mat-error {
        color: #dc3545;
        font-size: 0.875rem !important;
        font-family: $fidelity-font-regular;
    }

    .mat-form-field {
        border: none !important;
        padding: 0px 0;

        .mat-form-field-wrapper {
            padding: 0px !important;
            height: 100%;
        }

        .fidelity-form-input {
            -webkit-transition: all 0.3s ease-in-out !important;
            -moz-transition: all 0.3s ease-in-out !important;
            -ms-transition: all 0.3s ease-in-out !important;
            -o-transition: all 0.3s ease-in-out !important;
            outline: none !important;
            padding: 9px 10.5px !important;
            border-radius: 7px !important;
            line-height: 20px !important;
            border: 1px solid rgba(0, 0, 0, 0.15) !important;
            font-size: 1.25rem !important;
            font-family: "Calibri_Bold", sans-serif !important;
        }
    }

    mat-form-field.mat-form-field-invalid .fidelity-form-input {
        border-color: #dc3545 !important;
        box-shadow: 0 0 2px #dc3545 !important;
    }
}

::ng-deep form#componentAddEditForm.submitted input.ng-invalid {
        border: 1px solid #dc3545 !important;
    }
