<div class="container-fluid shelf-and-bin-tab">
    <div class="row bin-in-shelf-row">
        <div class="custom-scroll1" style="width: 100vw;overflow-x: auto;">
            <mat-tab-group [selectedIndex]="MergeStorageSelectedIndex" class="fidelity-tab-group mat-tab-body-padding-0" (selectedTabChange)="MergeStorageOnTabClicked($event)">
                <mat-tab [label]="rowData['rowName']" class="bg-gray" *ngFor="let rowData of tabDataModel?.resources; let i = index">
                    <div class="container-fluid">
                        <div  style="height: 36vh;overflow-y: auto;">
                            <div class=""> 
                                <div class="d-flex bin-in-shelf-row no-boot-boxes"
                                    *ngFor="let shelfData of tabMergeStorageData?.shelfdetails; let shelfIndex = index">
                                    <div class="col d-dlex align-items-start" *ngFor="let binData of shelfData['binDetails']; let binIndex = index"
                                        [ngClass]=" binData['isMerge'] == true ? 'merged-bin': binData['stockInBins'].length != 0 ? 'stock-green' : ''" id="{{'mergeStorage-'+rowIndex+shelfIndex+binIndex}}">
                                        <!-- [ngClass]="{'stock-green': binData['stockInBins'].length != 0}" -->
                                        <span *ngIf="binData['parentShelfCode'] == null">
                                            {{ shelfData['shelfCode'] }} -{{ binData['binCode'] }}
                                        </span><br>
                                        <span *ngIf="binData['parentShelfCode'] != null" style="flex:none;"> 
                                            {{ tabMergeStorageData['rowName'] }}{{binData['parentShelfCode']}}-{{ binData['parentBinCode'] }}
                                        </span><br>
                                        <span *ngFor="let binItem of binData['stockInBins']; let l = index" style="position: absolute;padding-top: 16px;">{{ binItem['itemCode'] }}&nbsp;&nbsp;
                                        </span>
                                    </div>
                                </div>
                                <ng-container *ngIf="tabMergeStorageData?.shelfdetails?.length == 0">
                                    <div class="text-center">
                                        <span><b>No data to be displayed</b></span><!--No Shelf Found-->
                                    </div>
                                </ng-container>
                            </div> 
                        </div>
                    </div>
                </mat-tab>
              
            </mat-tab-group>
            <ng-container *ngIf="tabDataModel?.resources?.length == 0">
                <div class="text-center">
                    <span><b>No data to be displayed</b></span><!--No Rows Found-->
                </div>
            </ng-container>
        </div>
   </div>     
</div>