<div class="page-heading">
    <h1 class="page-title d-inline-block">{{sourceGroupId ? 'Update':'Add'}} Lead Source</h1>
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item"><a (click)="actionOnLeavingComponent()">Leads</a></li>
        <li class="breadcrumb-item"><a (click)="actionOnLeavingComponent()">Lead Source</a></li>
        <li class="breadcrumb-item" *ngIf="sourceGroupId"><a (click)="redirectToViewPage()">View Lead Source</a></li>
        <li class="breadcrumb-item">{{sourceGroupId ? 'Update' : 'Add'}} Lead Source
        </li>
    </ol>

</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg" style="height: auto;">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="ibox-body">
                        <form customForm class="fidelity-popup-form" [formGroup]="leadSourceForm"
                            (ngSubmit)="onSubmit()">
                            <div class="row pricing-info-con">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Source Group Name<span class="mandatory-field">*</span></label>
                                        <!-- <input [validateInput]='stringConfig' name="Outcome Name" validateInput
                                            class="form-control fidelity-form-input" id="AgreementOutcomeName"
                                            type="text"
                                            [ngClass]="{'is-invalid': (leadSourceForm?.get('agreementOutcomeName')?.touched ||
                                         leadSourceForm?.get('agreementOutcomeName')?.dirty) && leadSourceForm?.get('agreementOutcomeName').errors}"
                                            formControlName="agreementOutcomeName" maxlength="50" placeholder="Outcome" /> -->
                                        <input-custom-control formControlName="sourceGroupName">
                                        </input-custom-control>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="leadSourceForm?.get('sources')?.controls?.length>0;">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Source Name<span class="mandatory-field">*</span></label>
                                    </div>
                                    <div class="col-4">
                                        <label>Source Code<span class="mandatory-field">*</span></label>
                                    </div>
                                </div>

                                <div formArrayName="sources"
                                    *ngFor="let source of leadSourceForm?.get('sources')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <input #input [validateInput]="stringConfig"
                                                    [minlength]="formConfigs.minLengthTwo"
                                                    [maxlength]="formConfigs.generalNameLengthFiftyLength"
                                                    class="form-control fidelity-form-input" id="sourceName"
                                                    formControlName="sourceName" placeholder="Source Name"
                                                    (keyup)="onFormControlChanges('sourceName',getSources,'sources',i)"
                                                    (blur)="onBlur('sourceName',getSources,$event,i)" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <input #input [validateInput]="stringConfig" [minlength]="3"
                                                    [maxlength]="10" class="form-control fidelity-form-input"
                                                    id="sourceCode" formControlName="sourceCode"
                                                    placeholder="Source Code" 
                                                    (keyup)="onFormControlChanges('sourceCode',getSources,'sources',i)"
                                                    (blur)="onBlur('sourceCode',getSources,$event,i)"/>
                                            </div>
                                        </div>
                                        <div class="col-3 d-flex align-items-center">
                                            <a *ngIf="i==0" id="add_skill_btn"
                                                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                                                (click)="addSource()" title="add">
                                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                                            </a>

                                            <a id="delete_record" *ngIf="i!==0 || sources.length>1"
                                                class="delete-row ml-1" (click)="removeLeadSource(i)" title="Delete"><i
                                                    aria-hidden="true" class="icon icon-delete"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="text-center mt-4">
                                <button id="add_pricing_btn" type="submit"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                    cdkFocusInitial>{{agreementOutcomeId ? 'Update':'Save'}}</button>
                                <button id="cancel_pricing_btn" type="button" (click)="actionOnLeavingComponent()"
                                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                            </div>
                        </form>

                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>