@import '../../../../../../../variables.scss';
.custom-file-uploader {
    position: relative;
    background:#00644A;
    color:#fff;
    
    input[type='file'] {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
}




.modal-dialog .modal-content .modal-body {
  height: 72vh;
}

#handover_certificate .modal-dialog,
.modal-content {
height: 90%;
min-width: 95%;
}

#approve_modal  .modal-header {
  padding: 5px 15px 5px 35px;
  background-color: #006A54;
  color: white
}

#decline_modal .modal-header {
  padding: 5px 15px 5px 35px;
  background-color: #006A54;
  color: white
}

#doa_status .modal-header {
    padding: 5px 15px 5px 35px;
    background-color: #006A54;
    color: white
  }

::ng-deep .ibox-body {

  height: auto;
  .cust-info-key {
      display: inline-block;
      width: 38%;
      color: $fidelity-grey1;
  }

  .cust-info-value {
      width: 62%;

      input {
          width: 100%;
      }
  }
  .fidelity-popup-form {
      padding: 24px 35px !important;
  }

  .cust-info-value {
      color: #000;
      font-size: 1rem;
      display: inline-block;
      word-break: break-all;
  }

  .cust-info-key {
      font-size: 1rem;
  }

  .add-address-btn {
      margin-right: 4px;
  }

  .add-info-btn {
      @extend .add-address-btn;
  }



  

  .mat-tab-header {
      border-bottom: none;
  }

  .add-address-btn-con {
      right: 10px;
      z-index: 10;

      .add-address-text {
          font-size: 1rem;
          text-decoration: underline;
      }
  }

  .fidelity-btn-circle {
      width: 30px !important;
      height: 30px !important;
      font-size: 1rem;

      &:hover:after {
          height: 30px;
          width: 30px;
      }
  }

  .border-row {
      border-bottom: 1px solid #ddd;
  }

}


.cust-info-value {
      color: #000;
      font-size: 1rem;
      display: inline-block;
      word-break: break-all;
  }
  