<div class="page-heading ">
  <h1 class="page-title no-border">{{requisitionConfigId ? 'Update' : 'Add'}} Automated Requisition Configuration</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a routerLink='/configuration/requisition/'>Configuration:Automated Requisition
        Configuration</a></li>
    <li class="breadcrumb-item" *ngIf="requisitionConfigId"><a routerLink='/configuration/requisition/view'
        [queryParams]="{id:requisitionConfigId}" skipLocationChange>View Automated Requisition Configuration</a></li>
    <li class="breadcrumb-item">{{requisitionConfigId ? 'Update' : 'Add'}} Automated Requisition Configuration</li>
  </ol>
</div>

<div class="page-content fade-in-up">
  <div class="ibox sm-inputs">
    <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
      <form customForm [formGroup]="requisitionConfigurationForm" (ngSubmit)="submit()">
        <div class="ibox-body p-relative">
          <div class="row">
            <div class="col-4">
              <div class="form-group fidelity-multiselect-dropdown-con">
                <label>Warehouse<span class="mandatory-field">*</span></label>
                <p-multiSelect [options]="warehouseList" [defaultLabel]="'Select Single/Multiple'" [disabled]="requisitionConfigId" formControlName="warehouseId" styleClass="w-100"></p-multiSelect>
              </div>
            </div>
            <div class="col-4 requisition-configuration-date">
              <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con ">
                <label class="d-block">Start Time<span class="mandatory-field">*</span></label>
                  <p-calendar styleClass="w-100" formControlName="startTime" [timeOnly]="true" [readonlyInput]="true"
                    (onSelect)="onTimeChange()"></p-calendar>
              </div>
            </div>
            <div class="col-4 requisition-configuration-date">
              <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                <label class="d-block">End Time<span class="mandatory-field">*</span></label>
                  <p-calendar styleClass="w-100" formControlName="endTime" [timeOnly]="true" [readonlyInput]="true"
                    (onSelect)="onTimeChange()"></p-calendar>

              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Duration</label>
                <input class="form-control fidelity-form-input" formControlName="duration" type="text" disabled />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label d-block">Recurrence Pattern<span class="mandatory-field">*</span></label>
                <div>
                  <mat-radio-group ngDefaultControl
                    [formControl]="requisitionConfigurationForm?.get('requisitionFrequencyId')"
                    (change)="onFrequencyChange($event)">
                    <mat-radio-button *ngFor="let frequency of frequencyList" class="fidelity-radio-btn"
                      id="frequency{{frequency.id}}" value={{frequency.id}} required>
                      {{frequency.displayName}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <!-- For Daily  -->
              <div class="row mt-2" *ngIf="frequencyText == 'Daily'" [formGroup]="requisitionConfigurationDetailsForm">
                <div class="col-6 d-flex justify-content-between align-items-center"
                  style="border-right: 1px solid #ccc;">
                  <mat-radio-group formControlName="isEveryDay">
                    <mat-radio-button class="fidelity-radio-btn" [value]="true" (change)="onEveryDayChange('day')">Every
                    </mat-radio-button>
                  </mat-radio-group>

                  <div class="col-10 p-relative d-flex align-items-center ">
                    <input type="number" class="form-control fidelity-form-input mr-3 daily-recurrence-input" max="7"
                      min="0" maxlength="1"
                      oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);this.value=(this.value   > Number(this.max))  ? this.max : this.value;this.value=(this.value   < Number(this.min))  ? this.min : this.value"
                      [validateInput]='isNumberOnly' formControlName="dailyRecurrence">
                    <div>Days's</div>

                  </div>
                </div>
                <div class="col-6 d-flex align-items-start">
                  <mat-radio-group formControlName="isEveryWeekDay">
                    <mat-radio-button class="fidelity-radio-btn" [value]="true" (change)="onEveryDayChange('week')">
                      Every Weekday</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <!-- For Weekly -->
              <div class="row mt-2" *ngIf="frequencyText == 'Weekly'" [formGroup]="requisitionConfigurationDetailsForm">
                <div class="col-8 d-flex justify-content-between align-items-center mb-3">
                  <div>Recurrence every</div>
                  <div class="col-8 p-relative d-flex align-items-centereekly-recurrence">

                    <input type="number"
                      class="form-control fidelity-form-input ml-2 daily-recurrence-input weekly-recurrence-input"
                      max="100" min="1" [validateInput]='isNumberOnly' formControlName="weeklyRecurrence">
                  </div>
                  <div>Week's on</div>
                </div>
                <div class="col-10 d-flex justify-content-between align-items-center weekly-error-msg-con">
                  <div class="col-12 p-relative">
                    <mat-radio-group formControlName="weeklyRequisitionPeriodId">
                      <mat-radio-button *ngFor="let period of periodList" class="fidelity-radio-btn"
                        id="period{{period.id}}" value="{{period.id}}" required>
                        {{period.displayName}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>

              <!-- For Monthly -->
              <div class="row mt-2" *ngIf="frequencyText == 'Monthly'"
                [formGroup]="requisitionConfigurationDetailsForm">
                <div class="col-8 d-flex justify-content-between align-items-center mb-2 p-relative monthly-error-con">
                  <mat-radio-group formControlName="isMonthlyDay">
                    <mat-radio-button class="fidelity-radio-btn" [value]="true"
                      (change)="onMonthlyDayWeekChange('day')">Day</mat-radio-button>
                  </mat-radio-group>
                  <input type="number" class="form-control fidelity-form-input monthly-day" max="31" min="1"
                    maxlength="2"
                    oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);this.value=(this.value   > Number(this.max))  ? this.max : this.value;this.value=(this.value   < Number(this.min))  ? this.min : this.value"
                    [validateInput]='isNumberOnly' formControlName="monthlyRecurrence">
                  <div>of every</div>
                  <input type="number" class="form-control fidelity-form-input monthly-month" max="12" min="1"
                    maxlength="2"
                    oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);this.value=(this.value   > Number(this.max))  ? this.max : this.value;this.value=(this.value   < Number(this.min))  ? this.min : this.value"
                    [validateInput]='isNumberOnly' formControlName="monthDayValue">
                  <div>month's</div>
                </div>
                <div class="col-12 d-flex justify-content-around align-items-center p-relative monthly-error-con1">
                  <mat-radio-group formControlName="isMonthlyWeek">
                    <mat-radio-button class="fidelity-radio-btn ml-0" [value]="true"
                      (change)="onMonthlyDayWeekChange('week')">The</mat-radio-button>
                  </mat-radio-group>
                  <select class="form-control fidelity-form-input ml-2" formControlName="monthlyRequisitionPeriodId">
                    <option *ngFor="let weeklyPeriod of weeklyPeriodList" [value]="weeklyPeriod?.id">
                      {{weeklyPeriod?.displayName}}</option>
                  </select>
                  <select class="form-control fidelity-form-input ml-2" formControlName="requisitionWeekPeriodId">
                    <option *ngFor="let period of periodList" [value]="period?.id">{{period?.displayName}}</option>
                  </select>
                  <div class="ml-2">of every</div>
                  <input type="number" class="form-control fidelity-form-input ml-2" max="12" min="1" maxlength="2"
                    oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);this.value=(this.value   > Number(this.max))  ? this.max : this.value;this.value=(this.value   < Number(this.min))  ? this.min : this.value"
                    [validateInput]='isNumberOnly' formControlName="monthWeekValue">
                  <div class="ml-2">month's</div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                <label class="switch add-stack-status">
                  <input type="checkbox" formControlName="status">
                  <span class="slider round active"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-md-fidelity fidelity-btn-brown">{{requisitionConfigId ? 'Update' : 'Save'}}</button>
          <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="listPage()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
