<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="defaultMessageConfigForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Default Message<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="150"
                                    placeholder="Enter Default Message" formControlName="defaultMessage">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Message Type<span class="mandatory-field">*
                                    </span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="defaultMessageTypeMappings" multiple
                                    placeholder="Select Default Messages">
                                    <mat-option value="" #allSelectedDefaultMessages
                                        *ngIf="defaultMessagesDropDown?.length > 0" (click)="toggleAllDefaultMessages()"
                                        selected>All Default Messages</mat-option>
                                    <mat-option *ngFor="let item of defaultMessagesDropDown" [value]="item.id"
                                        (click)="toggleDefaultMessageOne(allSelectedDefaultMessages?.viewValue)">
                                        {{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-5">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                type="submit">{{defaultmessageid ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/event-configuration' [queryParams]="{tab:24}">Cancel</button>
        </div>
    </form>
</div>