<div class="page-heading ">
    <h1 class="page-title d-inline-block">Variance Report</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Inventory Management</a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Variance Report List </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToViewPage()">Variance Report View </a>
        </li>
        <li class="breadcrumb-item">
            Variance Report Update
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <div class="ibox-body">
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Variance Report ID</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{varianceReportDetails?.varianceReportNumber ?
                                varianceReportDetails?.varianceReportNumber : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">{{varianceReportDetails?.stockCountType}} ID</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{varianceReportDetails?.stockCountReferenceNumber ?
                                varianceReportDetails?.stockCountReferenceNumber : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Warehouse</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{varianceReportDetails?.warehouse ? varianceReportDetails?.warehouse : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Report Generated Date & Time</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{varianceReportDetails?.reportCreatedDate ? (varianceReportDetails?.reportCreatedDate |
                                date) : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Actioned By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{varianceReportDetails?.actionedBy ? varianceReportDetails?.actionedBy : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Actioned Date & Time</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{varianceReportDetails?.actionedDate ? (varianceReportDetails?.actionedDate | date) :
                                '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Over all Status</span>
                        <span id="" class="">
                            <span class="d-inline-block">
                                <span class="status-label"
                                    [ngClass]="varianceReportDetails?.status != null ? varianceReportDetails?.cssClass : '' ">
                                    {{varianceReportDetails?.status ? varianceReportDetails?.status : '-'}}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">{{userData?.roleName}} </span>
                        <span id="" class="">
                            <span class="d-inline-block">
                                <span class="status-label"
                                    [ngClass]="varianceReportDetails?.currentLevelStatus != null ? varianceReportDetails?.currentLevelCssClass : '' ">
                                    {{varianceReportDetails?.currentLevelStatus ?
                                    varianceReportDetails?.currentLevelStatus : '-'}}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
            <button type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                (click)="feedbackMethod('approved')"> Approve </button>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                (click)="feedbackMethod('rejected')"> Reject </button>
        </div>
        <div class="ibox-body mt-3 custom-scroll1" style="max-height: 42vh;overflow: auto;">
            <form customForm [formGroup]="varianceReportAddEditForm">
                <div class="row full-list-header-row" style="flex-wrap: nowrap;font-size: 1rem;">
                    <div class="col-1">
                        <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header d-block"
                            formControlName="selectAll" (change)="selectAll($event.checked)"></mat-checkbox>
                    </div>
                    <div class="col-2">Stock Code</div>
                    <div class="col-3">Stock Description</div>
                    <div class="col-3" *ngIf="varianceReportDetails?.stockCountType == 'WareHouse Stock Take'">
                        Storage Location Code
                    </div>
                    <div class="col-3" *ngIf="varianceReportDetails?.stockCountType == 'WareHouse Stock Take'">
                        Storage Location Name
                    </div>
                    <div class="col-1">Book Qty</div>
                    <div class="col-1">Book Value</div>
                    <div class="col-2">Qty Counted</div>
                    <div class="col-2">Qty Counted Value</div>
                    <div class="col-2">Difference Qty</div>
                    <div class="col-2">Difference Amount</div>
                    <div class="col-2">Pos.Diff.Value</div>
                    <div class="col-2">Neg.Diff.Value</div>
                    <div class="col-2">Nett Variance Amount</div>
                    <div class="col-1">Date</div>
                    <div class="col-3">Investigator Comments</div>
                    <div class="col-2">Reviewer Feedback</div>
                    <div class="col-2" *ngIf="maxLevel > 1">Level 1 Action</div>
                    <div class="col-2" *ngIf="maxLevel > 1">Level 1 Reason</div>
                    <div class="col-2" *ngIf="maxLevel > 2">Level 2 Action</div>
                    <div class="col-2" *ngIf="maxLevel > 2">Level 2 Reason</div>
                    <div class="col-2" *ngIf="maxLevel > 3">Level 3 Action</div>
                    <div class="col-2" *ngIf="maxLevel > 3">Level 3 Reason</div>
                    <div class="col-2" *ngIf="maxLevel > 4">Level 4 Action</div>
                    <div class="col-2" *ngIf="maxLevel > 4">Level 4 Reason</div>
                    <div class="col-2" *ngIf="maxLevel > 5">Level 5 Action</div>
                    <div class="col-2" *ngIf="maxLevel > 5">Level 5 Reason</div>
                    <div class="col-2" *ngIf="maxLevel > 6">Level 6 Action</div>
                    <div class="col-2" *ngIf="maxLevel > 6">Level 6 Reason</div>
                    <div class="col-2" *ngIf="maxLevel > 7">Level 7 Action</div>
                    <div class="col-2" *ngIf="maxLevel > 7">Level 7 Reason</div>
                    <div class="col-2" *ngIf="maxLevel > 8">Level 8 Action</div>
                    <div class="col-2" *ngIf="maxLevel > 8">Level 8 Reason</div>
                    <div class="col-2" *ngIf="maxLevel > 9">Level 9 Action</div>
                    <div class="col-2" *ngIf="maxLevel > 9">Level 9 Reason</div>
                    <div class="col-2">Final Action</div>
                    <div class="col-2">Final Reason</div>
                </div>
                <div class="mt-2" formArrayName="approvalDetails"
                    *ngFor="let groupObj of varianceReportAddEditForm?.get('approvalDetails')?.controls;let i=index">
                    <div class="row p-relative" [formGroupName]="i" style="flex-wrap: nowrap;">
                        <div class="col-1">
                            <div class="form-group">
                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header d-block"
                                    formControlName="isActive"></mat-checkbox>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group" style="cursor: pointer;"
                                (click)="openModelSerialPopup(groupObj?.get('itemId')?.value, groupObj?.get('itemCode')?.value, groupObj?.get('itemName')?.value)">
                                <input type="text" class="fidelity-form-input form-control disabled model-color"
                                    formControlName="itemCode">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="itemName">
                            </div>
                        </div>
                        <div class="col-3" *ngIf="varianceReportDetails?.stockCountType == 'WareHouse Stock Take'">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="storageLocationCode">
                            </div>
                        </div>
                        <div class="col-3" *ngIf="varianceReportDetails?.stockCountType == 'WareHouse Stock Take'">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="storageLocationName">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="bookQty">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="bookValue">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="qtyCounted">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="qtyCountedValue">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="differenceQty">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="differenceValue">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="posDiffValue">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="negDiffValue">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="netVarianceAmpunt">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="countDate">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="investigatorComment">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control disabled"
                                    formControlName="reviewerFeedback">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 1">
                            <div class="form-group">
                                <select [attr.disabled]="level == '1' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="level1ActionId"
                                    (change)="selectAction($event.target.value, i, 'level1Reason')">
                                    <option value="" selected> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 1">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == '1' ? null : true" formControlName="level1Reason">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 2">
                            <div class="form-group">
                                <select [attr.disabled]="level == '2' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="level2ActionId"
                                    (change)="selectAction($event.target.value, i, 'level2Reason')">
                                    <option value="" selected disabled> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == '2' ? null : true" formControlName="level2Reason">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 3">
                            <div class="form-group">
                                <select [attr.disabled]="level == '3' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="level3ActionId"
                                    (change)="selectAction($event.target.value, i, 'level3Reason')">
                                    <option value="" selected disabled> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 3">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == '1' ? null : true" formControlName="level3Reason">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 4">
                            <div class="form-group">
                                <select [attr.disabled]="level == '4' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="level4ActionId"
                                    (change)="selectAction($event.target.value, i, 'level4Reason')">
                                    <option value="" selected disabled> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 4">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == '4' ? null : true" formControlName="level4Reason">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 5">
                            <div class="form-group">
                                <select [attr.disabled]="level == '5' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="level5ActionId"
                                    (change)="selectAction($event.target.value, i, 'level5Reason')">
                                    <option value="" selected disabled> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 5">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == '5' ? null : true" formControlName="level5Reason">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 6">
                            <div class="form-group">
                                <select [attr.disabled]="level == '6' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="level6ActionId"
                                    (change)="selectAction($event.target.value, i, 'level6Reason')">
                                    <option value="" selected disabled> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 6">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == '6' ? null : true" formControlName="level6Reason">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 7">
                            <div class="form-group">
                                <select [attr.disabled]="level == '7' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="level7ActionId"
                                    (change)="selectAction($event.target.value, i, 'level7Reason')">
                                    <option value="" selected disabled> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 7">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == '7' ? null : true" formControlName="level7Reason">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 8">
                            <div class="form-group">
                                <select [attr.disabled]="level == '8' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="level8ActionId"
                                    (change)="selectAction($event.target.value, i, 'level8Reason')">
                                    <option value="" selected disabled> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 8">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == '8' ? null : true" formControlName="level8Reason">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 9">
                            <div class="form-group">
                                <select [attr.disabled]="level == '9' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="level9ActionId"
                                    (change)="selectAction($event.target.value, i, 'level9Reason')">
                                    <option value="" selected disabled> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="maxLevel > 9">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == '1' ? null : true" formControlName="level9Reason">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <select [attr.disabled]="level == 'Final' ? null : true"
                                    class="form-control fidelity-form-input" formControlName="finalApprovalActionId"
                                    (change)="selectAction($event.target.value, i, 'finalApprovalReason')">
                                    <option value="" selected disabled> Select action type </option>
                                    <option *ngFor="let item of actionDropDown; let i=index" [value]="item.id">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="fidelity-form-input form-control"
                                    [attr.disabled]="level == 'Final' ? null : true"
                                    formControlName="finalApprovalReason">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                (click)="onSubmit('draft')"> Save as Draft </button>
            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                (click)="onSubmit('submit')"> Submit </button>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()">
                Cancel </button>
        </div>
    </div>
</div>

<p-dialog class="rebook-dialog" styleClass="acknowledgeDialog" [maximizable]="true"
    [(visible)]="isCycleCountRejectsDialog" [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true"
    [style]="{width: '450px'}">
    <p-header>Confirmation</p-header>
    <app-popup-loader></app-popup-loader>
    <form [formGroup]="cycleCountDialogForm" customForm class="fidelity-popup-form"
        style="font-size: 0.9rem!important;">
        <div class="rebook-dialog-body">
            <div class="view-box">
                <div class="row mt-1">
                    <div class="col-lg-12" style="font-size: 18px; text-align: center;">
                        Are you sure you want to reject the<br>
                        feedback on the selected items?
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix mt-3">
                    <div class="text-center">
                        <button type="button" (click)="showSaveCycleCount = true"
                            class="btn btn-md-fidelity fidelity-btn-brown"> Yes
                        </button>
                        <button type="button" (click)="isCycleCountRejectsDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No
                        </button>
                    </div>
                </div>
            </p-footer>
            <div class="view-box">
                <div class="row mt-3" *ngIf="showSaveCycleCount">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label> Reason <span class="mandatory-field">*</span></label>
                            <textarea class="form-control fidelity-form-input" id="reasons" formControlName="reasons"
                                placeholder="Reasons" maxlength="100"> </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix mt-3">
                    <div class="text-center">
                        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown" *ngIf="showSaveCycleCount"
                            (click)="submitFeedback('rejected')"> Save
                        </button>
                    </div>
                </div>
            </p-footer>
        </div>
    </form>
</p-dialog>