<div class="page-content fade-in-up mt-3">
  <div class="ibox white-bg" style="height: auto !important; padding-bottom:10px ;">
    <div class="ibox-body brown-border p-relative" [style.height]="isViewMore ? '25vh' : '17vh'">
      <app-customer-header-info (emitViewMore)="emitViewMore($event)"></app-customer-header-info>
    </div>
  </div>
</div>
<div class="page-heading ">
  <h1 class="page-title no-border wth-100">Upgrade - {{customerHeaderModel?.contractName}}
    <span class="float-right">
      <div class="p-absolute" style="z-index: 2;display: inline-flex !important;margin-top:-10px">
        <div class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
          <button type="button" (click)="goBack()" title="Upgrade Details">
            <i class="icon icon-backward"></i>
          </button>
          <span class="d-flex stage-no mr-2 ml-2">2</span>
          <button type="button" disabled>
            <i class="icon icon-forward"></i>
          </button>
        </div>
      </div>
    </span>
  </h1>
</div>
<p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
  <div class="page-content fade-in-up">
    <div class="ibox view-box">
      <div class="ibox service-agreement-con" style="height: auto!important;">
        <form *ngIf="servicesSummary?.upgradeServiceAmountSummaryDetailDTO?.isFinduService" customForm
          [formGroup]="finduForm" (ngSubmit)="onFindUSubmit()">
          <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
            <div class="ibox-body mt-3 p-relative findu-form" style="box-shadow: none!important;">
              <p-scrollPanel [style]="{height: '41vh'}" styleClass="custom">
                <fieldset>
                  <div class="container-fluid">
                    <div class="row align-items-center mb-2">
                      <div class="col-10 page-sub-title">
                        Primary User
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label>Mobile Number1<span class="mandatory-field">*</span></label>
                          <div class="row fidelity-ph-no-field">
                            <div class="col-2 pr-0">
                              <div class="form-group" style="width: 100% !important;">
                                <select style="width: 100%;" class="form-control fidelity-form-input" disabled
                                  formControlName="mobileNoCountryCode">
                                  <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                                    {{countryCode.displayName}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-10 pl-0">
                              <div class="form-group" style="width: 100% !important;">
                                <input autocomplete="new-password"
                                  [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                  [title]="finduForm?.get('mobileNoCountryCode')?.value"
                                  [maxlength]="formConfigs.southAfricanContactNumberMaxLength" appPhoneMask
                                  class="form-control fidelity-form-input" name="" formControlName="mobileNo"
                                  placeholder="Mobile Number" style="
                                                          width: 100%;" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label>Email<span class="mandatory-field">*</span></label>
                          <input autocomplete="new-password" (focusout)="checkDuplication()"
                            class="form-control fidelity-form-input fidelity_email" [maxlength]="50"
                            formControlName="email" type="text" />
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label>Title<span class="mandatory-field">*</span></label>
                          <select-custom-control [loopableArray]='titles'
                            formControlName="title">
                          </select-custom-control>
                        </div>
                      </div>
                      <div id="password-eye-password-flow" class="col-6">
                        <div class="form-group">
                          <label>Password
                            <span class="mandatory-field">*</span>
                          </label>
                          <input autocomplete="off" name="password" class="form-control fidelity-form-input" type="text"
                            [maxLength]="25" formControlName="password"
                            [ngClass]="{'fidelity_password':!isPasswordShow}" />
                          <div *ngIf="finduForm.get('password').value" (mouseout)="isPasswordShow=false">
                            <a (click)="isPasswordShow=!isPasswordShow">
                              <i [ngClass]="!isPasswordShow?'fa fa-eye-slash':'fa fa-eye'" class="fa fa-eye"
                                aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label>First Name<span class="mandatory-field">*</span></label>
                          <input-custom-control formControlName="firstName">
                          </input-custom-control>
                        </div>
                      </div>
                      <div class="col-6 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                        <label>Date of Birth<span class="mandatory-field">*</span></label>
                        <p-calendar [maxDate]="todayDate" formControlName="dob" [yearRange]="dateRange"
                          styleClass="w-100">
                        </p-calendar>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label>Last Name<span class="mandatory-field">*</span></label>
                          <input-custom-control formControlName="lastName">
                          </input-custom-control>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input-custom-control formControlName="companyName">
                          </input-custom-control>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label>Address 1</label>
                          <input-custom-control formControlName="address1">
                          </input-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Gender</label>
                          <select class="form-control fidelity-form-input" formControlName="gender" name="">
                            <option value="">Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Vehicle Reg.</label>
                          <input type="text" [maxlength]="formConfigs.maxLengthTwentyFive"
                            class="form-control fidelity-form-input" [validateInput]="isAnAlphaNumericOnly"
                            formControlName="vehicleRegistrationNo">
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Address 2</label>
                          <input-custom-control formControlName="address2">
                          </input-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Height</label>
                          <select-custom-control [loopableArray]='heightList' [defaultOptionValue]="null"
                            formControlName="heightId">
                          </select-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Build</label>
                          <select-custom-control [loopableArray]='buildList' [defaultOptionValue]="null"
                            formControlName="build">
                          </select-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Address 3</label>
                          <input-custom-control formControlName="address3">
                          </input-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Town</label>
                          <input-custom-control [maxlength]="formConfigs.maxLengthTwentyFive" formControlName="city">
                          </input-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Race</label>
                          <select-custom-control [loopableArray]='raceList' [defaultOptionValue]="null"
                            formControlName="race">
                          </select-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Vehicle Make</label>
                          <p-dropdown [style]="{'width':'100%'}" [options]="vehicleMakeList" appendTo="body"
                            formControlName="vehicleMake" placeholder="Vehicle Make" filter="true"
                            (onChange)="onElementChange($event,'vehicleMakeName')" editable="true"></p-dropdown>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Vehicle Model</label>
                          <p-dropdown [style]="{'width':'100%'}" [options]="vehicleModelList"
                            formControlName="vehicleModel" placeholder="Vehicle Make" filter="true" appendTo="body"
                            (onChange)="onElementChange($event,'vehicleModelName')" editable="true"></p-dropdown>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Vehicle Shape</label>
                          <p-dropdown [style]="{'width':'100%'}" [options]="vehicleShapeList"
                            formControlName="vehicleBodyType" placeholder="Vehicle Make" filter="true" appendTo="body"
                            (onChange)="onElementChange($event,'vehicleShapeName')" editable="true"></p-dropdown>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Vehicle Colour</label>
                          <p-dropdown [style]="{'width':'100%'}" [options]="vehicleColors" appendTo="body"
                            formControlName="vehicleColour" placeholder="Vehicle Colour" filter="true"
                            editable="true"></p-dropdown>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Language</label>
                          <select-custom-control [loopableArray]='languageList' [defaultOptionValue]="null"
                            formControlName="language">
                          </select-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Nationality</label>
                          <select-custom-control [loopableArray]='countryList' [defaultOptionValue]="null"
                            formControlName="nationality">
                          </select-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Medical Info</label>
                          <input-custom-control [maxlength]="formConfigs.fifty" formControlName="medicalInfo">
                          </input-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Medical Symptoms</label>
                          <input-custom-control formControlName="medicalSymptoms">
                          </input-custom-control>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label>Medical Diseases</label>
                          <input-custom-control formControlName="medicalDiseases">
                          </input-custom-control>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="finduForm?.get('additionalUsers')?.length>0">
                      <div class="col page-sub-title">
                        Additional User
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                          <div class="" formArrayName="additionalUsers"
                            *ngFor="let obj of finduForm?.get('additionalUsers')?.controls;let i=index">
                            <div class="row" [formGroupName]="i">
                              <div class="col-4">
                                <div class="form-group">
                                  <label>First Name<span class="mandatory-field">*</span></label>
                                  <input class="form-control fidelity-form-input" [maxlength]="50"
                                    formControlName="firstName" type="text" />
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="form-group">
                                  <label>Last Name<span class="mandatory-field">*</span></label>
                                  <input class="form-control fidelity-form-input" [maxlength]="50"
                                    formControlName="lastName" type="text" />
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="form-group" style="width: 100%;">
                                  <label>Mobile Number<span class="mandatory-field">*</span></label>
                                  <div class="row fidelity-ph-no-field">
                                    <div class="col-3 pr-0">
                                      <div class="form-group">
                                        <select class="form-control fidelity-form-input disabled pad-right"
                                          formControlName="mobileNoCountryCode">
                                          <option *ngFor="let countryCode of countryCodes"
                                            [value]="countryCode.displayName">
                                            {{countryCode.displayName}}
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-9 pl-0">
                                      <div class="form-group">
                                        <input autocomplete="new-password" (keyup)="OnChange(i)"
                                          [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                                          [title]="additionalUsers?.controls[i]?.get('mobileNoCountryCode')?.value"
                                          [maxlength]="formConfigs.southAfricanContactNumberMaxLength" appPhoneMask
                                          class="form-control fidelity-form-input" name="" formControlName="mobileNo"
                                          placeholder="Mobile Number" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <div class="col-4" *ngIf="finduForm?.get('additionalUsers')?.length>0">
                        <div class="form-group">
                          <label>Purchasing Account</label>
                          <input class="form-control fidelity-form-input disabled" formControlName="noOfUserCount"
                            type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </p-scrollPanel>
            </div>
          </div>
          <button id="findu-button" style="display: none;" type="submit">submit</button>
        </form>
        <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;"
          *ngIf="servicesSummary?.upgradeCurrentServiceDTOs.length>0">
          <h5 class="page-sub-title">CURRENT SERVICES</h5>
          <div class="row" style="margin: 0 15px 0 0;"
            *ngFor="let serviceObj of servicesSummary.upgradeCurrentServiceDTOs">
            <ng-container>
              <table style="width: 100%;"
                class="fidelity-table lead-services-table mt-2 service-table service-table-custom">
                <thead>
                  <th class="header-col" style="width:25%">{{serviceObj.serviceCategoryName}}
                  </th>
                  <th class="header-col" style="width:25%">Service Code</th>
                  <th class="header-col" style="width:25%"><b> Service Price</b></th>
                </thead>
                <tbody>
                  <ng-container *ngFor="let serviceSubItem of serviceObj.upgradeCurrentServiceDTOs">
                    <tr>
                      <td class="value-col">{{serviceSubItem.serviceName}}</td>
                      <td class="value-col">{{serviceSubItem.serviceCode}}</td>
                      <td class="value-col">R {{serviceSubItem.totalPrice}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-container>
          </div>
        </div>
        <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;"
          *ngIf="servicesSummary?.newServices.length>0">
          <h5 class="page-sub-title">UPGRADED SERVICES</h5>
          <div class="row" style="margin: 0 15px 0 0;" *ngFor="let serviceObj of servicesSummary.newServices">
            <ng-container>
              <table style="width: 100%;"
                class="fidelity-table lead-services-table mt-2 service-table service-table-custom">
                <thead>
                  <th class="header-col" style="width:25%">{{serviceObj.serviceCategoryName}}
                  </th>
                  <th class="header-col" style="width:25%">Service Code</th>
                  <th class="header-col" style="width:25%"><b> Service Price</b></th>
                </thead>
                <tbody>
                  <ng-container *ngFor="let serviceSubItem of serviceObj.upgradeCurrentServiceDTOs">
                    <tr>
                      <td class="value-col">{{serviceSubItem.serviceName}}</td>
                      <td class="value-col">{{serviceSubItem.serviceCode}}</td>
                      <td class="value-col">R {{serviceSubItem.totalPrice}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-container>
          </div>
          <div class="row" style="margin: 0 15px 0 0;">
            <table style="width: 100%;" *ngIf="servicesSummary && servicesSummary.upgradeDiscountSummaryDetailDTO"
              class="fidelity-table lead-services-table mt-2 service-table service-table-custom">
              <thead>
                <th class="header-col" style="width:25%">Service Category</th>
                <th class="header-col" style="width:25%">Sub Total</th>
                <th class="header-col" style="width:25%">Vat</th>
                <th class="header-col" style="width:25%"><b> Total</b></th>
              </thead>
              <tbody>
                <ng-container>
                  <tr>
                    <td class="value-col">Less General Discount @
                      {{servicesSummary.upgradeDiscountSummaryDetailDTO.discountPercentage}}%</td>
                    <td class="value-col">R {{servicesSummary.upgradeDiscountSummaryDetailDTO.discountAmount}}</td>
                    <td class="value-col">R {{servicesSummary.upgradeDiscountSummaryDetailDTO.vat}}</td>
                    <td class="value-col">R {{servicesSummary.upgradeDiscountSummaryDetailDTO.totalAmount}}</td>
                  </tr>
                  <tr>
                    <td class="value-col">Service Monthly Total</td>
                    <td class="value-col">R {{servicesSummary.upgradeDiscountSummaryDetailDTO.servicePrice}}</td>
                    <td class="value-col">R {{servicesSummary.upgradeDiscountSummaryDetailDTO.taxPrice}}</td>
                    <td class="value-col">R {{servicesSummary.upgradeDiscountSummaryDetailDTO.totalPrice}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="page-heading">
              <h5 class="page-sub-title ml-2 mt-4">SUMMARY</h5>
            </div>
            <div class="border-discount row" style="width: 100%; margin:10px">
              <div class="col-8 mt-2">Current Monthly Inst</div>
              <div class="col-4 mt-2 text-right">R
                {{servicesSummary.upgradeServiceAmountSummaryDetailDTO.currentMonthlyInst}}</div>
              <div class="col-8 mt-2">Future Monthly Inst</div>
              <div class="col-4  mt-2 text-right">
                <strong>R {{servicesSummary.upgradeServiceAmountSummaryDetailDTO.futureMonthlyInst}}</strong>
              </div>
              <div class="col-8 mt-2">Start Bill Date</div>
              <div class="col-4 mt-2 text-right">{{servicesSummary.upgradeServiceAmountSummaryDetailDTO.startBillDate |
                date}}</div>
            </div>
            <p data-toggle="modal" data-target="#items_info_modal">
              <a class="link-terms" (click)="clickAggrement('service')">View Terms and
                Conditions</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-scrollPanel>
<div class="text-center mt-2">
  <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown" (click)="openRevisedModel()">Accept Revised
    Contract</button>
  <button type="button" class="btn btn-md-fidelity fidelity-btn-grey" (click)="goBack()">Back</button>
</div>
<div class="modal items_info_modal" id="items_info_modal" #itemModal data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="height: 740px;">
      <div class="modal-header fidelity-popup-heading">
        <h4 class="modal-title">Terms and Conditions</h4>
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p-scrollPanel [style]="{height: '552px'}" styleClass="custom">
          <div [innerHTML]="detailsObj?.termsandConditionDescription"></div>
        </p-scrollPanel>
      </div>
      <div class="modal-footer text-center">
        <button id="cancel_service" class="btn btn-md-fidelity btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  div#password-eye-password-flow.col-4 div.form-group a {
  position: absolute;
  top: 25px;
  right: 22px;
}

div#password-eye-password-flow.col-6 div.form-group a {
  position: absolute;
  top: 25px;
  right: 20px;
}
</style>
