.custom-file-uploader {
    position: relative;
    background:#00644A;
    color:#fff;
    
    input[type='file'] {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    }