::ng-deep .dispatching-cal-view {
    p-dropdown .ui-dropdown {
        border: none!important;
    }
}

::ng-deep .dispatching-multi-sel {
    .ui-multiselect {
        border: 1px solid rgba(0, 0, 0, 0.15) !important;
        border-radius: 7px!important;

        .ui-multiselect-trigger {
            border-radius: 7px!important;
        }

        .ui-multiselect-label {
            padding: 0.55em;
        }
    }
}

::ng-deep #dispatch_cal.dispatcher-cal-date-picker-icon button.ui-calendar-button {
    right: 0;
    position: absolute;
    height: 35px!important;
}
