<div class="page-heading">
    <h1 class="page-title d-inline-block">View Time Frame Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">Inventory Management</li>
        <li class="breadcrumb-item"><a routerLink="inventory/audit-cycle-configuration" [queryParams]="{tab:0}">Time
                Frame Config List</a></li>
        <li class="breadcrumb-item">View Time Frame Configuration</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a title="Edit" (click)="Edit()"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            id="pricinf_edit_btn">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                    <div class="ibox-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex mb-2">
                                    <span id="" class="key">Type </span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{timeFrameDetails.timeFrameTypeName}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex mb-2">
                                    <span id="" class="key">Time Frame (In Months)</span>
                                    <span id="" class="value">
                                        <span
                                            class="d-inline-block">{{timeFrameDetails.timeFrame}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex mb-2">
                                    <span id="" class="key">Description</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{timeFrameDetails.description?timeFrameDetails.description:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>