<div class="page-heading ">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" >
    </app-page-header>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="timeFrameForm">
        <div class="ibox white-bg time-frame-config-con" style="height: auto;">
            <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                <div class="ibox-body">
                    <div>
                        <!-- Headings Only -->
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Type<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Time frame(In Months)<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Description</label>
                                </div>
                            </div>
                        </div>
                        <div class="" formArrayName="timeFrameArray"
                            *ngFor="let timeFrameObj of timeFrameForm?.get('timeFrameArray')?.controls;let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-3">
                                    <div class="form-group">
                                        <select class="form-control fidelity-form-input" id="timeFrameTypeId" (change)="onChange()"
                                            formControlName="timeFrameTypeId" name="Time Frame Type" [attr.disabled]="auditCycleTimeFrameConfigId"
                                            [ngClass]="{'is-invalid': (timeFrameForm?.get('timeFrameArray')?.controls[i]?.get('timeFrameTypeId')?.touched || timeFrameForm?.get('timeFrameArray')?.controls[i]?.get('timeFrameTypeId')?.dirty) && timeFrameForm?.get('timeFrameArray')?.controls[i]?.get('timeFrameTypeId')?.errors}">                                  
                                            <option value="" disabled>Select Type (required)</option>
                                            <option value="{{type.id}}" *ngFor="let type of timeFrameTypeList">
                                                {{type.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <input  (change)="onChange()" [validateInput]="isNumberOnly"  name="Time Frame"  class="form-control fidelity-form-input" [ngClass]="{'is-invalid': (timeFrameForm?.get('timeFrameArray')?.controls[i]?.get('timeFrame')?.touched || timeFrameForm?.get('timeFrameArray')?.controls[i]?.get('timeFrame')?.dirty) && timeFrameForm?.get('timeFrameArray')?.controls[i]?.get('timeFrame')?.errors}"                        
                                            id="timeFrame" type="text" 
                                            formControlName="timeFrame" maxlength="2" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <input  class="form-control fidelity-form-input" id="description" type="text"
                                            formControlName="description" maxlength="250" />
                                    </div>
                                </div>
                                <div *ngIf="!auditCycleTimeFrameConfigId" class="col-1">
                                    <button
                                        *ngIf="(timeFrameForm?.get('timeFrameArray')?.controls?.length-1===i)"
                                        type="submit"
                                        class="fidelity-btn-circle circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                        (click)="addtimeFrame()" title="Add" matTooltip="Add">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i></button>

                                    <button *ngIf="timeFrameForm?.get('timeFrameArray')?.controls?.length>0" matTooltip="Delete"
                                        id="delete_record" class="delete-row circle-minus-btn p-absolute" (click)="removetimeFrame(i)"><i
                                            aria-hidden="true" class="icon icon-delete"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button (click)="submit()" [disabled]="isButtondisabled"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{auditCycleTimeFrameConfigId ? 'Update' : 'Save'}}</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink="/inventory/audit-cycle-configuration" [queryParams]="{tab:0}"
                skipLocationChange>Cancel</button>
        </div>
    </form>
</div>


