<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="riskWatchForm" customForm [formGroup]="riskWatchForm" (ngSubmit)="onSubmit()">
  <div class="form-group row mb-2">
    <label class="col-md-12 col-form-label">Signup SOP</label>
    <div class="col-md-12">
      <div style="border:1px solid lightgrey;padding:5px;border-radius: 5px;">
        <p-scrollPanel [style]="{height: '12vh'}" styleClass="custom">
          {{riskWatchDetails?.signupSOP}}
        </p-scrollPanel>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4 text-right text-grey">Debtor</div>
    <div class="col-lg-4 text-left">
      {{riskWatchDetails?.debtorDropdown[0].debtorRefNo}}({{riskWatchDetails?.debtorDropdown[0].debtorName}})</div>
    <div class="col-lg-3 text-left"></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 text-right text-grey">Billing Frequency</div>
    <div class="col-lg-4 text-left">{{riskWatchDetails?.billingIntervalId}}</div>
    <div class="col-lg-3 text-left"></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 text-right text-grey">Current Site Amount</div>
    <div class="col-lg-4 text-left">R {{riskWatchDetails?.currentTotalAmount}}</div>
    <div class="col-lg-3 text-left"></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 text-right text-grey">New Site Amount</div>
    <div class="col-lg-4 text-left">R {{riskWatchDetails?.newTotalAmount}}</div>
    <div class="col-lg-3 text-left">
      <p-checkbox #checkbox1 name="groupname" [binary]="true" formControlName="isNewSiteAmountAcknowledgement">
      </p-checkbox>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 text-right text-grey">Next Bill Date</div>
    <div class="col-lg-4 text-left">{{riskWatchDetails?.nextBillDate |date}}</div>
    <div class="col-lg-3 text-left">
      <p-checkbox #checkbox2 name="nextBillDate" [binary]="true" formControlName="isNextBillDateAcknowledgement">
      </p-checkbox>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 text-right text-grey">Pro rata Amount</div>
    <div class="col-lg-4 text-left">R {{riskWatchDetails?.proRateAmount}}</div>
    <div class="col-lg-3 text-left">
      <p-checkbox #checkbox3 name="proRateAmount" [binary]="true" formControlName="isProRataAmountAcknowledgement">
      </p-checkbox>
    </div>
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-md-fidelity fidelity-btn-brown"
      [disabled]="((!checkbox1.checked) || (!checkbox2.checked) || (!checkbox3.checked))" type="submit">Save</button>
    <button class="btn btn-md-fidelity fidelity-btn-grey" (click)="dialogClose(true)">Cancel</button>
  </div>
</form>
