@import '../../../../../../variables.scss';

.fidelity-btn-circle {
    width: 30px !important;
    height: 30px !important;
    font-size: 1rem;
}

.btn {
  &.delete {
    background-color: #8A8A8A;
    color: white;
    &:hover {
      background-color: darken(#8A8A8A, 15);
    }
  }
}

.ibox {
    // .form-group {
    //     width: 80%;
    // }

    .mat-form-field {
        padding: 0;
    }

    .delete-row {
        width: 30px !important;
        height: 30px !important;
        font-size: 0.9rem;
        color: #eaeaea !important;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: #ed4a4a;
            border-radius: 50% !important;
        }
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
        top: calc(100% - 14px) !important;
    }

    .mat-error {
        color: #dc3545;
        font-size: .875rem!important;
        font-family: $fidelity-font-regular;
    }

    .mat-form-field {
        border: none !important;
        padding: 0px 0;

        .mat-form-field-wrapper {
            padding: 0px !important;
            height: 100%;
        }

        .fidelity-form-input {
            -webkit-transition: all 0.3s ease-in-out!important;
            -moz-transition: all 0.3s ease-in-out!important;
            -ms-transition: all 0.3s ease-in-out!important;
            -o-transition: all 0.3s ease-in-out!important;
            outline: none!important;
            padding: 9px 10.5px!important;
            border-radius: 7px!important;
            line-height: 20px!important;
            border: 1px solid rgba(0, 0, 0, 0.15)!important;
            font-size: 1.25rem!important;
            font-family: "Calibri_Bold", sans-serif !important;
        }
    }

    mat-form-field.mat-form-field-invalid .fidelity-form-input {
        border-color: #dc3545!important;
        box-shadow: 0 0 2px #dc3545 !important;
    }
    .custom-file-uploader {
        position: relative;
        background:#00644A;
        color:#fff;

        input[type='file'] {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 5;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      .input-group {
        position: relative;
        display: flex;
        width: 100%;
    }
    .input-group-btn{
        cursor: pointer;
    }
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding-top: 0!important;
        padding-left: 0!important;
    }

    div.documentContainer {
        background-color: transparent;
        min-width: 32%;
        max-height: 70px;
        width: max-content;
        overflow-y: auto;
        overflow-x:visible;
      }

      ol.documentList{
        margin-left: -31px;
      }

      .dummyBox{
        border-width: 0px;
        height: 1px;
        font-size: 1px; color: transparent;
      }
}

.mr-top-30 {
  margin-top: 30px;
}

.model-color {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}

.row.product-header-row {
  div {
      font-size: 1rem;
      white-space: nowrap;
      padding-right: 5px;
        padding-left: 5px;
  }
}

::ng-deep .ibox.req-approval-box .mat-tab-body {
  background-color: transparent!important;
}

.row.product-header-row.sm-padding {
  ::ng-deep div[class^="col"] {
      padding-right: 5px;
      padding-left: 5px;
      font-size: 0.8rem;
      // white-space: nowrap;
  }
}

.row.children-row.sm-padding {
  ::ng-deep div[class^="col"] {
      padding-right: 5px;
      padding-left: 5px;
  }
}

.row.children-row {
  ::ng-deep div[class^="col"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

::ng-deep .leads-category-con {
  mat-form-field.mat-form-field {
    background-color: #e9ecef!important;
    opacity: 1!important;
    border: none!important;
    pointer-events: none!important;

  }

  .mat-form-field-infix .mat-select {
      padding: 8.2px 8px;
  }
}
