<div class="fidelity-popup-heading container-fluid p-relative"> Stock Details
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <div class="row header-row pt-4">
        <div class="col-4">Stock Code</div>
        <div class="col-4">Stock Description</div>
        <div class="col-4">IBT Ordered Qty</div>
    </div>
    <div class="row children-row pb-4" *ngFor="let stock of data.stockCode">
        <div class="col-4">
            <input type="text" class="fidelity-form-input form-control disabled" [value]="stock['stockCode']">
        </div>
        <div class="col-4">
            <input type="text" class="fidelity-form-input form-control disabled" [value]="stock['stockDescription']">
        </div>
        <div class="col-4">
            <input type="text" class="fidelity-form-input form-control disabled" [value]="stock['ibtOrderedQuantity']">
        </div>
    </div>
</mat-dialog-content>