<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>

<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg space-saving-con" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 74vh">
                    <div class="ibox-body brown-border px-2 py-1">
                        <mat-accordion class="req-accordian audit-cycle-count-accordion" style="width: 100%;">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="row" style="margin-left: 3px;">
                                            Requisition Detail
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <app-view-page [col]="2" [viewDetail]="StockOrderapprovalview">
                                    </app-view-page>
                                    <div class="row">
                                        <div class="col-lg-6 mb-3">
                                            <div class="d-flex">
                                                <span class="key d-inline-block" id="Supplier">Supplier</span>
                                                <span class="value">
                                                    <strong> {{ requisitionApprovalDetails?.supplierName ?
                                                        requisitionApprovalDetails?.supplierName : '-' }} </strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <div class="d-flex">
                                                <span class="key d-inline-block" id="Supplier">Supporting
                                                    Document</span>
                                                <span class="value" *ngIf="supplierDocuments.length > 0">
                                                    <span class="file-href"
                                                        *ngFor="let document of supplierDocuments;let i=index"
                                                        (click)="downloadFile(document.path)">{{document.docName}}
                                                        <span *ngIf="i != supplierDocuments.length -1 ">,</span>
                                                    </span>
                                                </span>
                                                <span class="value" *ngIf="supplierDocuments.length == 0">
                                                    <strong> - </strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <div class="d-flex">
                                                <span class="key d-inline-block" id="Supplier">Status</span>
                                                <span class="status-label"
                                                    [ngClass]="requisitionApprovalDetails?.status != null ? requisitionApprovalDetails?.cssClass : '' ">
                                                    {{requisitionApprovalDetails?.status ?
                                                    requisitionApprovalDetails?.status : '-'}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <div class="d-flex">
                                                <span class="key d-inline-block" id="Supplier">Reason</span>
                                                <span id="" class="value">
                                                    <span class="d-inline-block">{{requisitionApprovalDetails?.reason ?
                                                        requisitionApprovalDetails?.reason : '-'}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                    <div class="ibox-body brown-border mt-2 requisition-create-tabs">
                        <!-- <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabClicked($event)" class="fidelity-tab-group mat-tab-body-padding-0"> -->
                        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabClicked($event)"
                            class="fidelity-tab-group stock-order-view-tab mat-tab-body-padding-0 mat-tab-no-arrows">
                            <!--===============================FULL LIST INFO TAB===============================-->
                            <mat-tab label="FULL LIST" class="bg-gray">
                                <div class="custom-scroll1" style="overflow-x: auto;">
                                    <div class="container-fluid p-relative warehouse-con">
                                        <div *ngIf="requisitionApprovalDetails?.isAutomated"
                                            class="text-right p-relative" style="top: -8px;">
                                            <button type="button" class="btn btn-link"
                                                (click)="navigateToDetailedList()">
                                                Detailed List
                                            </button>
                                        </div>
                                        <div class="header-row row mb-2" style="flex-wrap: nowrap;">
                                            <div class="col-1">Stock Code </div>
                                            <div class="col-3">Stock Description </div>
                                            <div class="col-1">Unit Of Measure</div>
                                            <div class="col-1">Requested Qty </div>
                                            <div class="col-1">Required Qty </div>
                                            <!-- <div class="col-1">Stock Order No </div> -->
                                            <div class="col-1">Min Threshold </div>
                                            <div class="col-1">Max Threshold </div>
                                            <div class="col-1">Stock on Hand</div>
                                            <div class="col-1">IBT Available Qty</div>
                                            <div class="col-1">IBT Ordered Qty</div>
                                            <div class="col-1">Requisition Qty</div>
                                            <div class="col-4">Reason For Discrepancy</div>
                                            <div class="col-2">Contract Price (R)</div>
                                            <div class="col-2">Cost Price (R)</div>
                                            <div class="col-2">Sub Total (R)</div>
                                        </div>
                                    </div>
                                    <div class="container-fluid"
                                        *ngIf="requisitionApprovalDetails?.fullList?.length > 0">
                                        <div class="children-row row"
                                            *ngFor="let listitems of requisitionApprovalDetails?.fullList; let i = index"
                                            style="flex-wrap: nowrap;">
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.stockCode" pTooltip="{{listitems.stockCode}}"
                                                        tooltipPosition="top"></input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.stockDescription"
                                                        pTooltip="{{listitems.stockDescription}}" tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.uom" pTooltip="{{listitems.uom}}"
                                                        tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.requestedQty"
                                                        pTooltip="{{listitems.requestedQty}}" tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.requiredQty"
                                                        pTooltip="{{listitems.requiredQty}}" tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.minimumThreshold"
                                                        pTooltip="{{listitems.minimumThreshold}}" tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.maximumThreshold"
                                                        pTooltip="{{listitems.maximumThreshold}}" tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.stockOnHand"
                                                        pTooltip="{{listitems.stockOnHand}}" tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.ibtAvailableQty"
                                                        pTooltip="{{listitems.ibtAvailableQty}}" tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.ibtOrderQty"
                                                        pTooltip="{{listitems.ibtOrderQty}}" tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.requisitionQty"
                                                        pTooltip="{{listitems.requisitionQty}}" tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input-custom-control [extraClassNames]="'disabled'"
                                                        [value]="listitems.reasonForDiscrepancy"
                                                        pTooltip="{{listitems.reasonForDiscrepancy}}"
                                                        tooltipPosition="top">
                                                    </input-custom-control>
                                                </div>
                                            </div>

                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control" readonly
                                                        [value]="listitems?.contractCost ? listitems?.contractCost : ''"
                                                        pTooltip="{{listitems.contractCost ? listitems.contractCost : ''}}"
                                                        tooltipPosition="top">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control" readonly
                                                        [value]="listitems['costPrice']"
                                                        pTooltip="{{listitems.costPrice}}" tooltipPosition="top">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input type="text" class="fidelity-form-input form-control" readonly
                                                        [value]="listitems['subTotal']"
                                                        pTooltip="{{listitems.subTotal}}" tooltipPosition="top">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="requisitionApprovalDetails?.fullList?.length <= 0" class="col-12 mt-3">
                                        <div class="no-data-msg">
                                            <span><b>No Records Found</b></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6">Total Value</div>
                                        <div class="col-6 text-right">
                                            {{ fullListSubTotal ? (fullListSubTotal | number:'1.2-2') : 0 }}
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="INTER BRANCH TRANSFER" class="bg-gray">
                                <div class="container-fluid p-relative warehouse-con">
                                    <div class="custom-scroll1" style="overflow-x: auto;">
                                        <div class="header-row row sm-padding mb-2" style="flex-wrap: nowrap;">
                                            <div class="col">IBT Request Number </div>
                                            <div class="col">Request Warehouse </div>
                                            <div class="col">Issue Warehouse </div>
                                            <div class="col">IBT Request Date </div>
                                            <div class="col">Requester </div>
                                            <div class="col">IBT Ordered Qty</div>
                                            <div class="col">Priority </div>
                                            <div class="col">Status </div>
                                        </div>
                                        <div *ngIf="requisitionApprovalDetails?.ibtDetails?.length > 0">
                                            <div class="row children-row"
                                                *ngFor="let ibtitems of requisitionApprovalDetails?.ibtDetails; let i = index"
                                                style="flex-wrap: nowrap;">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <button type="button"
                                                            class="form-control fidelity-form-input model-color"
                                                            (click)="navigateToIBTRequestView(ibtitems['interbranchStockOrderId'], ibtitems)">
                                                            {{ibtitems['ibtrqNumber']}}
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'"
                                                            [value]="ibtitems.requestWarehouse"
                                                            pTooltip="{{ibtitems.requestWarehouse}}"
                                                            tooltipPosition="top">
                                                        </input-custom-control>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'"
                                                            [value]="ibtitems.issueWarehouse"
                                                            pTooltip="{{ibtitems.issueWarehouse}}"
                                                            tooltipPosition="top">
                                                        </input-custom-control>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'"
                                                            [value]="ibtitems.ibtRequestDate| date"
                                                            pTooltip="{{ibtitems.ibtRequestDate}}"
                                                            tooltipPosition="top">
                                                        </input-custom-control>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'"
                                                            [value]="ibtitems.requester"
                                                            pTooltip="{{ibtitems.requester}}" tooltipPosition="top">
                                                        </input-custom-control>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <button type="button"
                                                            class="form-control fidelity-form-input model-color"
                                                            (click)="openPopupStockDetails(ibtitems.stockDetails)">{{ibtitems['ibtOrderedQuantity']}}</button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'"
                                                            [value]="ibtitems.priority" pTooltip="{{ibtitems.priority}}"
                                                            tooltipPosition="top"></input-custom-control>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'"
                                                            [value]="ibtitems.status" pTooltip="{{ibtitems.status}}"
                                                            tooltipPosition="top">
                                                        </input-custom-control>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div *ngIf="requisitionApprovalDetails?.ibtDetails?.length <= 0"
                                            class="col-12 mt-3">
                                            <div class="no-data-msg">
                                                <span><b>No Records Found</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="REQUISITION REQUEST" class="bg-gray">
                                <div class="custom-scroll1" style="overflow-x: auto;">
                                    <ng-container
                                        *ngIf="requisitionApprovalDetails?.status?.toLowerCase() != 'approved'">
                                        <div class="container-fluid">
                                            <div class="row mb-3">
                                                <div class="col-3">Requisition Request Number:</div>
                                                <div class="col-2">
                                                    <b> {{requisitionApprovalDetails['requisitionAutoNumber']?
                                                        requisitionApprovalDetails['requisitionAutoNumber'] : '-'}}
                                                    </b>
                                                </div>
                                            </div>
                                            <div class="container-fluid p-relative warehouse-con">
                                                <div class="header-row row mb-2" style="flex-wrap: nowrap;">
                                                    <div class="col-1">Stock Code</div>
                                                    <div class="col-3">Stock Description</div>
                                                    <div class="col-1">Requested Qty</div>
                                                    <div class="col-1">Required Qty</div>
                                                    <div class="col-1">Stock On Hand</div>
                                                    <div class="col-1">IBT Ordered Qty</div>
                                                    <div class="col-1">Requisition Qty</div>
                                                    <div class="col-1">PO Number</div>
                                                    <div class="col-2">Contract Price (R)</div>
                                                    <div class="col-2">Cost Price (R)</div>
                                                    <div class="col-2">Sub Total (R)</div>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="children-row row"
                                                    *ngFor="let requisitionRequest of requisitionApprovalDetails['requisitionRequestDetails']"
                                                    style="flex-wrap: nowrap;">
                                                    <div class="col-1">
                                                        <input type="text" class="fidelity-form-input form-control"
                                                            readonly tooltipPosition="top"
                                                            [value]="requisitionRequest['stockCode']"
                                                            pTooltip="{{requisitionRequest.stockCode}}">
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="text" class="fidelity-form-input form-control"
                                                            readonly tooltipPosition="top"
                                                            [value]="requisitionRequest['stockDescription']"
                                                            pTooltip="{{requisitionRequest.stockDescription}}">
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="text" class="fidelity-form-input form-control"
                                                            readonly tooltipPosition="top"
                                                            [value]="requisitionRequest['requestedQuantity']"
                                                            pTooltip="{{requisitionRequest.requestedQuantity}}">
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="text" class="fidelity-form-input form-control"
                                                            readonly tooltipPosition="top"
                                                            [value]="requisitionRequest['requiredQuantity']"
                                                            pTooltip="{{requisitionRequest.requiredQuantity}}">
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="text" class="fidelity-form-input form-control"
                                                            readonly tooltipPosition="top"
                                                            [value]="requisitionRequest['stockOnHand']"
                                                            pTooltip="{{requisitionRequest.stockOnHand}}">
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="text" class="fidelity-form-input form-control"
                                                            readonly tooltipPosition="top"
                                                            [value]="requisitionRequest['ibtOrderedQty']"
                                                            pTooltip="{{requisitionRequest.ibtOrderedQty}}">
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="text" class="fidelity-form-input form-control"
                                                            readonly tooltipPosition="top"
                                                            [value]="requisitionRequest['requisitionQty']"
                                                            pTooltip="{{requisitionRequest.requisitionQty}}"
                                                            (input)="addRequisitionQty($event)">
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="text"
                                                            class="fidelity-form-input form-control model-color"
                                                            readonly
                                                            [value]="requisitionRequest['poNumber'] ? requisitionRequest['poNumber'] : '-'"
                                                            pTooltip="{{requisitionRequest?.poNumber}}"
                                                            (click)="navigateToPurchaseOrder(requisitionRequest?.purchaseOrderId)">
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input type="text" class="fidelity-form-input form-control"
                                                                readonly [value]="requisitionRequest['contractCost']"
                                                                pTooltip="{{requisitionRequest.contractCost}}"
                                                                tooltipPosition="top">
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input type="text" class="fidelity-form-input form-control"
                                                                readonly [value]="requisitionRequest['costPrice']"
                                                                pTooltip="{{requisitionRequest.costPrice}}"
                                                                tooltipPosition="top">
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input type="text" class="fidelity-form-input form-control"
                                                                readonly [value]="requisitionRequest['subTotal']"
                                                                pTooltip="{{requisitionRequest.subTotal}}"
                                                                tooltipPosition="top">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="requisitionApprovalDetails?.status?.toLowerCase() == 'approved'">
                                        <mat-accordion>
                                            <div class="requisition"
                                                *ngIf="requisitionApprovalDetails?.contractRequisitionRequestDetails?.length > 0">
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            <span class="col-3">Requisition Request Number </span>
                                                            <span class="col-4">
                                                                <b>{{requisitionApprovalDetails?.contractRequisitionRequestDetails?.length
                                                                    >= 0 ?
                                                                    requisitionApprovalDetails?.contractRequisitionRequestDetails[0].sapRequisitionNumber
                                                                    : '-'}} - Contract Items
                                                                </b>
                                                            </span>
                                                            <span class="col-2">SAP Integration Status</span>
                                                            <span class="col-4">
                                                                <b>{{requisitionApprovalDetails?.contractRequisitionRequestDetails[0]?.sapStatus
                                                                    ?
                                                                    requisitionApprovalDetails?.contractRequisitionRequestDetails[0]?.sapStatus
                                                                    : '-'}}</b>
                                                            </span>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <div class="container-fluid p-relative warehouse-con">
                                                        <div class="header-row row mb-2" style="flex-wrap: nowrap;">
                                                            <div class="col-2">Stock Code</div>
                                                            <div class="col-4">Stock Description</div>
                                                            <div class="col-1">Requested Qty</div>
                                                            <div class="col-1">Required Qty</div>
                                                            <div class="col-1">Stock On Hand</div>
                                                            <div class="col-1">IBT Ordered Qty</div>
                                                            <div class="col-1">Requisition Qty</div>
                                                            <div class="col-1">PO Number</div>
                                                            <div class="col-2">Contract Price (R)</div>
                                                            <div class="col-2">Cost Price (R)</div>
                                                            <div class="col-2">Sub Total (R)</div>
                                                        </div>
                                                    </div>
                                                    <div class="container-fluid">
                                                        <div class="children-row row"
                                                            *ngFor="let contractRequisition of requisitionApprovalDetails?.contractRequisitionRequestDetails; let i=index"
                                                            style="flex-wrap: nowrap;">
                                                            <div class="col-2">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="contractRequisition['stockCode']"
                                                                    pTooltip="{{contractRequisition.stockCode}}">
                                                            </div>
                                                            <div class="col-4">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="contractRequisition['stockDescription']"
                                                                    pTooltip="{{contractRequisition.stockDescription}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="contractRequisition['requestedQuantity']"
                                                                    pTooltip="{{contractRequisition.requestedQuantity}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="contractRequisition['requiredQuantity']"
                                                                    pTooltip="{{contractRequisition.requiredQuantity}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="contractRequisition['stockOnHand']"
                                                                    pTooltip="{{contractRequisition.stockOnHand}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="contractRequisition['ibtOrderedQty']"
                                                                    pTooltip="{{contractRequisition.ibtOrderedQty}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="contractRequisition['requisitionQty']"
                                                                    pTooltip="{{contractRequisition.requisitionQty}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control model-color"
                                                                    readonly
                                                                    [value]="contractRequisition['poNumber'] ? contractRequisition['poNumber'] : '-'"
                                                                    pTooltip="{{contractRequisition?.poNumber}}"
                                                                    (click)="navigateToPurchaseOrder(contractRequisition?.purchaseOrderId)">
                                                            </div>

                                                            <div class="col-2">
                                                                <div class="form-group">
                                                                    <input type="text"
                                                                        class="fidelity-form-input form-control"
                                                                        readonly
                                                                        [value]="contractRequisition['contractCost']"
                                                                        pTooltip="{{contractRequisition.contractCost}}"
                                                                        tooltipPosition="top">
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="form-group">
                                                                    <input type="text"
                                                                        class="fidelity-form-input form-control"
                                                                        readonly
                                                                        [value]="contractRequisition['costPrice']"
                                                                        pTooltip="{{contractRequisition.costPrice}}"
                                                                        tooltipPosition="top">
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="form-group">
                                                                    <input type="text"
                                                                        class="fidelity-form-input form-control"
                                                                        readonly
                                                                        [value]="contractRequisition['subTotal']"
                                                                        pTooltip="{{contractRequisition.subTotal}}"
                                                                        tooltipPosition="top">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-expansion-panel>
                                            </div>
                                            <div class="requisition"
                                                *ngIf="requisitionApprovalDetails?.nonContractRequisitionRequestDetails?.length > 0">
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            <span class="col-3">Requisition Request Number </span>
                                                            <span class="col-4">
                                                                <b> {{requisitionApprovalDetails?.nonContractRequisitionRequestDetails?.length
                                                                    >= 0 ?
                                                                    requisitionApprovalDetails?.nonContractRequisitionRequestDetails[0]?.sapRequisitionNumber
                                                                    : '-'}} - Non Contract Items
                                                                </b>
                                                            </span>
                                                            <span class="col-2">SAP Integration Status</span>
                                                            <span class="col-4">
                                                                <b>{{requisitionApprovalDetails?.nonContractRequisitionRequestDetails[0]?.sapStatus
                                                                    ?
                                                                    requisitionApprovalDetails?.nonContractRequisitionRequestDetails[0]?.sapStatus
                                                                    : '-'}}</b>
                                                            </span>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <div class="container-fluid p-relative warehouse-con">
                                                        <div class="header-row row mb-2" style="flex-wrap: nowrap;">
                                                            <div class="col-2">Stock Code</div>
                                                            <div class="col-4">Stock Description</div>
                                                            <div class="col-1">Requested Qty</div>
                                                            <div class="col-1">Required Qty</div>
                                                            <div class="col-1">Stock On Hand</div>
                                                            <div class="col-1">IBT Ordered Qty</div>
                                                            <div class="col-1">Requisition Qty</div>
                                                            <div class="col-1">PO Number</div>
                                                            <div class="col-2">Contract Price (R)</div>
                                                            <div class="col-2">Cost Price (R)</div>
                                                            <div class="col-2">Sub Total (R)</div>
                                                        </div>
                                                    </div>
                                                    <div class="container-fluid">
                                                        <div class="children-row row"
                                                            *ngFor="let nonContractRequisition of requisitionApprovalDetails?.nonContractRequisitionRequestDetails; let i=index"
                                                            style="flex-wrap: nowrap;">
                                                            <div class="col-2">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="nonContractRequisition['stockCode']"
                                                                    pTooltip="{{nonContractRequisition.stockCode}}">
                                                            </div>
                                                            <div class="col-4">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="nonContractRequisition['stockDescription']"
                                                                    pTooltip="{{nonContractRequisition.stockDescription}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="nonContractRequisition['requestedQuantity']"
                                                                    pTooltip="{{nonContractRequisition.requestedQuantity}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="nonContractRequisition['requiredQuantity']"
                                                                    pTooltip="{{nonContractRequisition.requiredQuantity}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="nonContractRequisition['stockOnHand']"
                                                                    pTooltip="{{nonContractRequisition.stockOnHand}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="nonContractRequisition['ibtOrderedQty']"
                                                                    pTooltip="{{nonContractRequisition.ibtOrderedQty}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control disabled"
                                                                    [value]="nonContractRequisition['requisitionQty']"
                                                                    pTooltip="{{nonContractRequisition.requisitionQty}}">
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text"
                                                                    class="fidelity-form-input form-control model-color"
                                                                    readonly
                                                                    (click)="navigateToPurchaseOrder(nonContractRequisition?.purchaseOrderId)"
                                                                    [value]="nonContractRequisition['poNumber'] ? nonContractRequisition['poNumber'] : '-'"
                                                                    pTooltip="{{nonContractRequisition.poNumber}}">
                                                            </div>

                                                            <div class="col-2">
                                                                <div class="form-group">
                                                                    <input type="text"
                                                                        class="fidelity-form-input form-control"
                                                                        readonly
                                                                        [value]="nonContractRequisition['contractCost']"
                                                                        pTooltip="{{nonContractRequisition.contractCost}}"
                                                                        tooltipPosition="top">
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="form-group">
                                                                    <input type="text"
                                                                        class="fidelity-form-input form-control"
                                                                        readonly
                                                                        [value]="nonContractRequisition['costPrice']"
                                                                        pTooltip="{{nonContractRequisition.costPrice}}"
                                                                        tooltipPosition="top">
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="form-group">
                                                                    <input type="text"
                                                                        class="fidelity-form-input form-control"
                                                                        readonly
                                                                        [value]="nonContractRequisition['subTotal']"
                                                                        pTooltip="{{nonContractRequisition.subTotal}}"
                                                                        tooltipPosition="top">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-expansion-panel>
                                            </div>
                                        </mat-accordion>
                                    </ng-container>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-6">Total Value</div>
                                            <div class="col-6 text-right">
                                                {{ fullListSubTotal ? (fullListSubTotal | number:'1.2-2') : 0 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>