<div class="page-content fade-in-up">
    <form customForm [formGroup]="decoderAccountConfigForm" (ngSubmit)="onSubmit()">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Ownership<span class="mandatory-field">*
                                </span></label>
                            <select id="divsion" class="form-control fidelity-form-input" name="Ownership"
                                placeholder="Select Ownership" formControlName="itemOwnershipId">
                                <option value="" disabled>Select Ownership</option>
                                <option *ngFor="let division of ownershipList" [value]="division.id">
                                    {{division.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Rental Alarm</label>
                            <select id="divsion" class="form-control fidelity-form-input" name="Rental Alarm"
                                placeholder="Select Division" formControlName="rentedAlarmId">
                                <option value="" disabled>Select Rental Alarm</option>
                                <option *ngFor="let division of rentedTypeList" [value]="division.id">
                                    {{division.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Panel Type<span class="mandatory-field">*
                                </span></label>
                            <select id="divsion" class="form-control fidelity-form-input" name="Panel Type"
                                placeholder="Select Division" formControlName="panelTypeConfigId">
                                <option value="" disabled>Select Panel Type</option>
                                <option *ngFor="let division of panelTypeList" [value]="division.id">
                                    {{division.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-4">
                        <div class="form-group">
                            <label>Videofied Sim</label>
                            <input class="form-control fidelity-form-input" type="text" pattern="^[1-9][0-9]*$"
                                oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" name="Videofied Sim"
                                formControlName="videofiedSim" [validateInput]='isANumberOnly' maxlength="20"
                                placeholder="Enter Videofied Sim">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Fidelity ADT Sim</label>
                            <input class="form-control fidelity-form-input" type="text" maxlength="20"
                                pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';"
                                name="Fidelity ADT Sim" formControlName="adtSim" [validateInput]='isANumberOnly'
                                placeholder="Enter Fidelity ADT Sim">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Installer Code<span class="mandatory-field">*</span></label>
                            <input class="form-control fidelity-form-input" type="text" pattern="^[1-9][0-9]*$" required
                                oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" name="Installer Code"
                                formControlName="installerCode" [validateInput]='isANumberOnly' maxlength="20"
                                placeholder="Enter Installer Code">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{decoderAccountConfigId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/event-configuration' [queryParams]="{tab:29}">Cancel</button>
        </div>
    </form>
</div>