<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0">
</app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg view-box">
        <div class="ibox-body brown-border">
            <p-scrollPanel [style]="{height: '58vh'}" styleClass="custom">
                <div class="mb-3">
                    <app-view-page [col]="2" [viewDetail]="referToSalesDetail" [marginClass]="'m-0 px-0'">
                    </app-view-page>
                </div>
                <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
                    [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit" [isShowNoRecord]="isShowNoRecord"
                    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [first]="first" [reset]="reset"
                    [searchFirst]="true" (onActionSubmited)="onActionSubmited($event)">
                </app-page-list-table>
                <form customForm [formGroup]="referToSlesEscalationForm" (ngSubmit)="onSubmit()">
                    <div class="col-md-12 px-0">
                        <div class="form-group">
                            <label class="d-block">Comments<span class="mandatory-field">*</span></label>
                            <textarea name="Comments" rows="2" formControlName="comments"
                                class="form-control fidelity-form-input"></textarea>
                        </div>
                    </div>
                </form>
            </p-scrollPanel>
        </div>
    </div>
    <div class="text-center mt-2">
        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit" (click)="onSubmit()"
            [disabled]="!referToSlesEscalationForm?.valid">Reviewed</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
            (click)="onCancel()">Cancel</button>
    </div>
</div>