<div class="page-heading">
  <h2 class=" page-title m-1" style="border: none !important">{{primengTableConfigProperties.tableCaption}}</h2>
</div>
<div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
  <form [formGroup]="columnFilterForm" class="p-0">
    <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" appendTo="body" [lazyLoadOnInit]="false"
      [(selection)]="selectedRows" (onLazyLoad)="loadPaginationLazy($event)" [loading]="loading" [value]="dataList"
      [dataKey]="tables.dataKey" [rows]="10" [rowsPerPageOptions]="pageLimit" [responsive]="true"
      [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand" [scrollable]="true" scrollHeight="200px"
      [totalRecords]="totalRecords" [paginator]="(totalRecords == 0) ? false : true"
      [rowsPerPageOptions]="totalRecords > 10 ? pageLimit : null">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
          <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
          <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr class="first-row">
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
            {{col.header}}
            <p-sortIcon *ngIf="isSortRequired" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
        <tr *ngIf="tables?.enableFieldsSearch">
          <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox"></th>
          <th [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns" let-expanded="expanded">
        <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
          <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
            <ng-container *ngIf="col.header !== 'Request ID'">
              {{rowData[col.field] ? (col.header.toLowerCase().includes('date')) ?(rowData[col.field] |
              date):rowData[col.field] : '--'}}
            </ng-container>
            <ng-container *ngIf="col.header == 'Request ID'">
              <a style="color: #00644A;cursor: pointer;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                (click)="onCRUDRequested('edit',rowData)">
                {{rowData[col.field] ? rowData[col.field] : '--'}}
              </a>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p *ngIf="totalRecords == 0" class="no-data-msg mt-2">No Data found</p>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
        <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
          {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows * (state.page + 1)
            : totalRecords}} of <strong>{{totalRecords ? totalRecords : pageSize}}</strong> entries
        </p>
      </ng-template>
    </p-table>
  </form>
</div>
