<div class="page-heading">
    <h1 class="page-title d-inline-block">View Boundary Requests</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">My Task</li>
        <li class="breadcrumb-item">Boundary Management</li>
        <li class="breadcrumb-item">View Request</li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{ height: '65vh'}" class="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">My Request</h1>
                            <div class="row">
                                <div class="col-3  fidelity-date-picker-con p-relative cust-banner-date-con">
                                    <label class="d-block" for="">Between</label>
                                    <p-calendar [minDate]="startTodayDate"
                                        (ngModelChange)="onModelChanged('my request')" matInput
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="fromDate"
                                        styleClass="w-100">
                                    </p-calendar>
                                </div>
                                <div class="col-3  fidelity-date-picker-con p-relative cust-banner-date-con">
                                    <label class="d-block" for="">And</label>
                                    <p-calendar [minDate]="startTodayDate" [disabled]="!fromDate"
                                        (ngModelChange)="onModelChanged('my request')" matInput
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="toDate" styleClass="w-100">
                                    </p-calendar>
                                </div>
                                <div class="col-6 mt-3" *ngIf="statsByDivisions.length>0">
                                    <p-scrollPanel [style]="{ height: '18vh'}" class="custom">
                                        <table style="width: 100%" class="fidelity-table mt-2 service-table">
                                            <thead>
                                                <th>Division</th>
                                                <th>Create</th>
                                                <th>Download</th>
                                                <th>Upload</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let statsByDivision of statsByDivisions;i as index;">
                                                    <td>{{statsByDivision.divisionName}}</td>
                                                    <td>{{statsByDivision.created?statsByDivision.created:'-'}}</td>
                                                    <td>{{statsByDivision.downloaded?statsByDivision.downloaded:'-'}}
                                                    </td>
                                                    <td>{{statsByDivision.uploaded?statsByDivision.uploaded:'-'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </p-scrollPanel>
                                </div>
                            </div>
                            <div class="text-center mt-3 mt-4">
                                <button [disabled]="isMyRequestSearchDisabled" id="create_new_leads_btn" type="submit"
                                    (click)="onSearchRequestsByKeywords('searchByCriterias','my requests')"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Search</button>
                                <button [disabled]="isMyRequestSearchDisabled" id="create_new_leads_btn_clear"
                                    type="submit" (click)="onSearchRequestsByKeywords('clear','my requests')"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">clear</button>
                            </div>
                            <request-search-list [response]="response" [type]="'MyRequestDashboard'"
                                (emittedEvent)="onEmittedEvent($event)">
                            </request-search-list>
                        </div>
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">Search Request</h1>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Request ID</label>
                                        <input class="form-control fidelity-form-input" placeholder="Request ID"
                                            [ngModelOptions]="{standalone: true}"
                                            (ngModelChange)="onModelChanged('all requests')"
                                            [(ngModel)]="searchAllRequestsCriteria.boundaryRequestRefNo"
                                            name='Request ID' />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Region</label>
                                        <select name="Region" [ngModelOptions]="{standalone: true}"
                                            (change)="onOptionsSelected('region')"
                                            [(ngModel)]="searchAllRequestsCriteria.regionId"
                                            class="form-control fidelity-form-input">
                                            <option value="">Select Region</option>
                                            <option *ngFor="let region of regions" [value]="region.id">
                                                {{region.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Division</label>
                                        <select name="division" class="form-control fidelity-form-input"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="onOptionsSelected('division')"
                                            [(ngModel)]="searchAllRequestsCriteria.divisionId">
                                            <option value="">Select Division</option>
                                            <option *ngFor="let division of divisions" [value]="division.id">
                                                {{division.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>District</label>
                                        <select name="district" class="form-control fidelity-form-input"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="onOptionsSelected('district')"
                                            [(ngModel)]="searchAllRequestsCriteria.districtId">
                                            <option value="">Select District</option>
                                            <option *ngFor="let district of districts" [value]="district.id">
                                                {{district.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Branch Name</label>
                                        <select name="branch" class="form-control fidelity-form-input"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="searchAllRequestsCriteria.branchId">
                                            <option value="">Select Branch</option>
                                            <option *ngFor="let branch of branches" [value]="branch.id">
                                                {{branch.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control fidelity-form-input fidelity_email" placeholder="Email"
                                            [ngModelOptions]="{standalone: true}"
                                            (ngModelChange)="onModelChanged('all requests')"
                                            [(ngModel)]="searchAllRequestsCriteria.emailId" name='Email' />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Boundary Type</label>
                                        <select name="boundary type" class="form-control fidelity-form-input"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="onOptionsSelected('boundary type')"
                                            [(ngModel)]="searchAllRequestsCriteria.boundaryTypeId">
                                            <option value="">Select Boundary Type</option>
                                            <option *ngFor="let boundaryType of boundaryTypes"
                                                [value]="boundaryType.boundaryTypeId">
                                                {{boundaryType.boundaryTypeName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Layer</label>
                                        <select name="layer" class="form-control fidelity-form-input"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="searchAllRequestsCriteria.layerId">
                                            <option value="">Select Layer</option>
                                            <option *ngFor="let layer of layers" [value]="layer.boundaryLayerId">
                                                {{layer.boundaryLayerName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-3 mt-4">
                                <button [disabled]="isAllRequestSearchDisabled" id="create_new_leads" type="submit"
                                    (click)="onSearchRequestsByKeywords('searchByCriterias','all requests')"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Search</button>
                                <button [disabled]="isAllRequestSearchDisabled" id="create_leads_btn" type="submit"
                                    (click)="onSearchRequestsByKeywords('clear','all requests')"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">clear</button>
                            </div>
                            <request-search-list [type]="'MyRequestDashboard'" [response]="searchAllResponse"
                                (emittedEvent)="onEmittedEvent($event)">
                            </request-search-list>
                        </div>
                    </p-scrollPanel>
                </div>
            </form>
        </div>
    </div>
</div>