.ibox .delete-row {
    width: 30px !important;
    height: 30px !important;
    font-size: 0.9rem;
    color: #cccccc !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ibox .delete-row:hover {
    background-color: #ed4a4a;
    border-radius: 50% !important;
    color: #ffffff;
  }

  mat-form-field {
      border-radius: 8px!important;
      height: 40px!important;
  }

  .ibox.approval-config-con {
    height: calc(90vh - 35vh)!important;
    .d-flex {
        margin: 10px 0;
    }
  }

  ::ng-deep mat-select-autocomplete .mat-form-field {
    border: none!important;
}

.scroll-container {
    height: calc(80vh-45vh)!important;
}

.approval-config-con {
  .header-row {
    ::ng-deep ng-component {
      position: absolute!important;
    }
  }
}

.custom-file-uploader {
  position: relative;
  background:#00644A;
  color:#fff;

  input[type='file'] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}