::ng-deep .sigPad{
    border: 1px solid gray;
    signature-pad canvas {
        height: 120px!important;
        width: 580px!important;
    }
}

.pb-30 {
    padding-bottom: 30px;
}
.nowrap {
    flex-wrap:nowrap;
}
.custom-verify-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 65vh;
}
.overflow-auto {
    overflow: auto;
}
@media only screen and (min-width: 600px) and (max-width: 799px)  {
    .custom-receiving-stock-detail{
        overflow-x: scroll;
        height: 20vh !important;
    }  
    .col-md-3  {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
    .col-md-2 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
    .custom-scroll1{
        height: 74vh !important;
    }
    ::ng-deep .sigPad {
        border: 1px solid gray;
      
        signature-pad canvas {
            height: 120px !important;
            width: 112px !important;
        }
    }
}
@media only screen and (min-width: 800px) and (max-width: 1280px)  {
    ::ng-deep .sigPad {
        border: 1px solid gray;      
        signature-pad canvas {
            height: 120px !important;
            width: 226px !important;
        }
    }
}