


<style>
    .cust_button_new_warehouse {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 20%;
    }
</style>

<!-- view start -->
<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Stock ID Approval</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            Billing
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/billing/stock-id-approval' [queryParams]="{tab:0}">Stock ID Approval List</a>
        </li>
        <li class="breadcrumb-item">
            View -
            {{stockIdDetails?.stockIdName ? stockIdDetails?.stockIdName : '--'}}
        </li>
    </ol>
    <!-- <pre>{{ loggedUser | json }}</pre> -->
    <ng-container *ngIf="loggedUser.roleName == 'Financial Manager'; else elseTemplate">
        <div class="grid-icons-con  customer-info-btns float-right" *ngIf="stockIdDetails?.status == 'New' || stockIdDetails?.status == 'Awaiting Approval' ">
            <a class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEdit()">
                <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
            </a>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="grid-icons-con  customer-info-btns float-right" *ngIf="stockIdDetails?.status == 'New'">
            <a class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEdit()">
                <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
            </a>
        </div>
    </ng-template>


    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body">
                <!-- srt key value -->
                <div class="row mt-1">
                    <!-- <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="requestIdLabel" class="key">Request ID</span>
                            <span id="requestIdValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.requestId? stockIdDetails.requestId : '-'}}</span>
                            </span>
                        </div>
                    </div> -->
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="stockIdLabel" class="key">Stock ID</span>
                            <span id="stockIdValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.stockIdName ? stockIdDetails?.stockIdName :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="typeOfFeeLabel" class="key">Type of Fee</span>
                            <span id="typeOfFeeValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.typeOfFee? stockIdDetails.typeOfFee :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="tierBasedPriceLabel" class="key">Tier Based Price</span>
                            <span id="tierBasedPriceValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.tierBasedPrice?
                                    stockIdDetails.tierBasedPrice : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="glCodeLabel" class="key">Gl code</span>
                            <span id="glCodeValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.glCode? stockIdDetails.glCode :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="pcLabel" class="key">PC</span>
                            <span id="pcValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.pc? stockIdDetails.pc : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="createdOnLabel" class="key">Created On</span>
                            <span id="createdOnValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.createdOn? (stockIdDetails.createdOn |
                                    date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="createdByLabel" class="key">Created By</span>
                            <span id="createdByValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.createdBy? stockIdDetails.createdBy :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="cnglLabel" class="key">CNGL</span>
                            <span id="cnglValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.cngl? stockIdDetails.cngl : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="actionedOnLabel" class="key">Actioned On</span>
                            <span id="actionedOnValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.actionedOn? (stockIdDetails.actionedOn |
                                    date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="actionedByLabel" class="key">Actioned By</span>
                            <span id="actionedByValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.actionedBy? stockIdDetails.actionedBy :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="reasonLabel" class="key">Reason</span>
                            <span id="reasonValue" class="value">
                                <span class="d-inline-block">{{stockIdDetails?.reason? stockIdDetails.reason :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="statusLabel" class="key">Status</span>
                            <span class="d-inline-block">
                                <span class="status-label {{stockIdDetails?.cssClass}}">
                                    {{stockIdDetails?.status? stockIdDetails?.status : '-'}} </span>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- end key value -->
                <!-- srt table -->


                <div class="row mt-2" *ngFor="let stocks of stockIdDetails?.stockDescription">
                    <div class="col-lg-6">
                        <span class="d-inline-block">
                            <h1 class="page-sub-title ext-padd mt-3 ng-star-inserted"> {{stocks?.stockDescriptionName ?
                                stocks?.stockDescriptionName : '-'}}</h1>
                        </span>

                    </div>
                    <br>
                    <div class="col-12" *ngIf="!stockIdDetails?.isFixedFee && !stockIdDetails?.isTierBasedPrice">
                        <div class="container-fluid">
                            <div class="header-row row">
                                <div class="col-3">Division</div>
                                <div class="col-3">District</div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="children-row row mb-2" *ngFor="let divisions of stocks?.divisionDetails">
                                <div class="col-3">
                                    <input type="text" value={{divisions.Division}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-3">
                                    <input type="text" value={{divisions.District}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="stockIdDetails?.isFixedFee && !stockIdDetails?.isTierBasedPrice">
                        <div class="container-fluid">
                            <div class="header-row row">
                                <div class="col-3">Division</div>
                                <div class="col-3">District</div>
                                <div class="col-2"> Price Excl</div>
                                <div class="col-2">VAT Amount</div>
                                <div class="col-2">Price Incl</div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="children-row row mb-2" *ngFor="let divisions of stocks?.divisionDetails">
                                <div class="col-3">
                                    <input type="text" value={{divisions.Division}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-3">
                                    <input type="text" value={{divisions.District}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-2">
                                    <input type="text" value={{divisions.ExclVAT}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-2">
                                    <input type="text" value={{divisions.VATAmount}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-2">
                                    <input type="text" value={{divisions.InClVAT}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="stockIdDetails?.isFixedFee && stockIdDetails?.isTierBasedPrice">
                        <div class="container-fluid">
                            <div class="header-row row mt-3" style="font-size: 0.9rem;white-space: nowrap;">
                                <div class="col-1">Division</div>
                                <div class="col-2">District</div>
                                <div class="col-1">Tier1 Price Excl</div>
                                <div class="col-1"> Tier1 VAT Amount</div>
                                <div class="col-1">Tier1 Price Incl</div>
                                <div class="col-1"> Tier2 Price Excl</div>
                                <div class="col-1"> Tier2 VAT Amount</div>
                                <div class="col-1"> Tier2 Price Incl</div>
                                <div class="col-1"> Tier3 Price Excl</div>
                                <div class="col-1">Tier3 VAT Amount</div>
                                <div class="col-1">Tier3 Price Incl</div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="children-row row mb-2" *ngFor="let divisions of stocks?.divisionDetails">
                                <div class="col-1">
                                    <input type="text" value={{divisions.Division}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-2">
                                    <input type="text" value={{divisions.District}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-1">
                                    <input type="text" value={{divisions.ExclVAT1}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-1">
                                    <input type="text" value={{divisions.VATAmount1}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-1">
                                    <input type="text" value={{divisions.InClVAT1}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-1">
                                    <input type="text" value={{divisions.ExclVAT2}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-1">
                                    <input type="text" value={{divisions.VATAmount2}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-1">
                                    <input type="text" value={{divisions.InClVAT2}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-1">
                                    <input type="text" value={{divisions.ExclVAT3}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-1">
                                    <input type="text" value={{divisions.VATAmount3}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                                <div class="col-1">
                                    <input type="text" value={{divisions.InClVAT3}}
                                        class="form-control fidelity-form-input disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </p-scrollPanel>
    </div>
</div>
<!-- view page ends -->
