<div class="page-heading ">
    <h1 class="page-title no-border">{{commercialProductId ? 'Update' : 'Add'}} Commercial Product</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item" ><a routerLink='/configuration/sales/leads' [queryParams]="{tab:4}"
            skipLocationChange>Leads</a></li>
            <li class="breadcrumb-item" ><a routerLink='/configuration/sales/leads' [queryParams]="{tab:4}"
                skipLocationChange>Commercial Product</a></li>
        <li class="breadcrumb-item">{{commercialProductId ? 'Update' : 'Add'}} Commercial Product
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
            <div class="ibox-body">
                <form  customForm [formGroup]="commercialProductForm" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <label>Commercial Product <span class="mandatory-field">*</span></label>
                           </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <label>Description</label>
                            </div>
                        </div>
                    </div>

                    <div class="" formArrayName="commercialProductsArray"  *ngFor="let product of commercialProductForm?.get('commercialProductsArray')?.controls;let i=index">
                        <div class="row p-relative" [formGroupName]="i">
                            <div class="col-5">
                                <div class="form-group">
                                    <input name="commercial product" [validateInput]='stringConfig' class="form-control fidelity-form-input"
                                         type="text" maxlength="50" formControlName="commercialProductName" (change)="OnChange(i)" 
                                         placeholder="Enter Commercial Product"/>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <input [validateInput]='stringConfig' maxlength="100" name="description" class="form-control fidelity-form-input"
                                        id="commDescription" type="text" formControlName="description"  />
                                </div>
                            </div>
                            <div *ngIf="!commercialProductId" class="col-2">
                                <div class="float-left">
                                    <div class="float-left"></div>
                                    <button *ngIf="(commercialProductForm?.get('commercialProductsArray')?.controls.length-1===i)"
                                        type="button"
                                        class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                        (click)="addCommercialProduct()" title="Add" matTooltip="Add">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i></button>
                                </div>
                                <div class="float-left">
                                    <button *ngIf="commercialProductForm?.get('commercialProductsArray')?.controls.length>0"
                                        matTooltip="Delete" id="delete_record" class="circle-minus-btn delete-row "
                                        (click)="removeCommercialProduct(i)"><i aria-hidden="true"
                                            class="icon icon-delete"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button id="createCommProductBtn" type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="add_skill_save_btn">{{commercialProductId ? 'Update' : 'Add'}}</button>
                        <button id="cancel_new_leads_btn" type="button" 
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default" id="add_skill_cancel" (click)="redirectToListPage()"
                            >Cancel</button>
                    </div>
                </form>
            </div>    
    </p-scrollPanel>
    </div>
</div>
