<div class="page-heading ">
    <h1 class="page-title d-inline-block p-relative">
        <span class="d-inline-block  mt-2">Create Return for Repair Request</span>    
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/inventory/dashboard'>Inventory Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/inventory/warehouse-assistant/'>Warehouse Assistant Worklist</a></li>
        <li class="breadcrumb-item">Warehouse Assistant Worklist Scan</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="faultyProcessScanForm">
                <div class="ibox" style="height: auto;">
                    <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                        <div class="ibox-body mb-3">
                            <div class="row sm-inputs">
                                <div class="col-4">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label class="d-block"> Stock Code </label>
                                        <mat-select-autocomplete ngDefaultControl
                                            class="input-width-medium" [id]="'stockCode'"
                                            [formControl]="faultyProcessScanForm?.controls['stockCode']"
                                            [placeholder]="'Select Single/Multiple'" [options]="stockCodeDropdown"
                                            [multiple]='false' [value]="'display'" [display]="'display'">
                                        </mat-select-autocomplete>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label> Stock Description </label>   
                                        <mat-select-autocomplete ngDefaultControl
                                            class="input-width-medium" [id]="'stockDescription'"
                                            [formControl]="faultyProcessScanForm?.controls['stockDescription']"
                                            [placeholder]="'Select Single/Multiple'" [options]="stockCodeDropdown"
                                            [multiple]='false' [value]="'displayName'" [display]="'displayName'">
                                        </mat-select-autocomplete>
                                    </div>
                                </div>
                                <div class="col-4" >
                                    <div class="form-group">
                                        <label>Service Call Number</label>
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input class="form-control fidelity-form-input" type="text"
                                                name="" placeholder="Enter" maxlength="" formControlName="serialBarcode">
                                            <div class="input-group-append">
                                                <button class="text-white" type="button" (click)="SerialBarcode()" >
                                                    <i aria-hidden="true" class="icon icon-scan-code"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="SerialBarcode()"> Search </button>
                                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToListPage()"> Cancel </button>
                            </div>
                        </div>
                        <div class="ibox-body mb-3">
                            <div class="row">
                                <div class="col-12 page-sub-title"> SEARCH RESULTS </div>
                            </div>
                            <div class="row mt-3 full-list-header-row">
                                <div class="col-2"> Serial Number </div>
                                <div class="col-2"> Temp Stock Code </div>
                            </div>
                            <div class="row mt-3" *ngFor="let items of searchResultsDetails?.warehouseAssistantWorkListItemDetails">
                                <div class="col-2" *ngIf="items?.serialNumber">
                                    <div class="form-group" style="cursor: pointer;" (click)="navigateToViewPage(items, 'serialNumber')">
                                        <input type="text" class="fidelity-form-input form-control model-color" [value]="items['serialNumber']" style="font-size: 13px;">
                                    </div>
                                </div>
                                <div class="col-2" *ngIf="!items?.serialNumber">
                                    <div class="form-group">
                                        <input type="text" class="fidelity-form-input form-control disabled" [value]="items['serialNumber']" style="font-size: 13px;">
                                    </div>
                                </div>
                                <div class="col-2" *ngIf="!items?.serialNumber">
                                    <div class="form-group" style="cursor: pointer;" (click)="navigateToViewPage(items, 'tempStockCode')">
                                        <input type="text" class="fidelity-form-input form-control model-color" [value]="items['tempStockCode']" style="font-size: 13px;">
                                    </div>
                                </div>
                                <div class="col-2" *ngIf="items?.serialNumber">
                                    <div class="form-group">
                                        <input type="text" class="fidelity-form-input form-control disabled" [value]="items['tempStockCode']" style="font-size: 13px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="searchResultsDetails?.warehouseAssistantWorkListItemDetails?.length <= 0" class="col-4 mt-2">
                                    <div class="text-center text-muted no-records-found-con">
                                        <span><b>No Records Found</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>