<div class="page-heading ">
    <h1 class="page-title no-border"> Cycle Count Staff Update </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/inventory/dashboard']"> Inventory Management</a>
        </li>
        <li class="breadcrumb-item">
            <a>Stock Take</a>
        </li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/inventory','cycle-count-staff']"> Cycle Count Staff List </a>
        </li>
        <li class="breadcrumb-item"><a [routerLink]="['/inventory','cycle-count-staff','view']"
            [queryParams]="{createdUserId:createdUserId,cycleCountId:cycleCountId,cycleCountIterationId:cycleCountIterationId}" skipLocationChange="true">
            Cycle Count Staff View</a>
        </li>
        <li class="breadcrumb-item"> Update Cycle Count Staff </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body">
            <div class="container-fluid">
                <div class="row page-sub-title">
                </div>
                <div class="row mt-2 view-box">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Cycle Count ID</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{cycleCountStaffViewModel?.cycleCountNumber? cycleCountStaffViewModel?.cycleCountNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Iteration ID</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{cycleCountStaffViewModel?.cycleCountIterationNumber? cycleCountStaffViewModel?.cycleCountIterationNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Date</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{(cycleCountStaffViewModel?.cycleCountDate? cycleCountStaffViewModel?.cycleCountDate : null) | date}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row header-row mt-3">
                    <div class="col-2">Stock Code</div>
                    <div class="col-3">Stock Name</div>
                    <div class="col-2">Row Name - Code</div>
                    <div class="col-3">Serial No</div>
                    <div class="col-2">Scanned Qty</div>
                </div>
                <div class="scroll-con">
                    <div class="custom-scroll1" style="overflow-x: auto;height: 50vh">
                        <div class="row children-row mb-2" *ngFor="let cycleCountItem of cycleCountStaffViewModel?.cycleCountItems">
                            <div class="col-2">
                                <button type="button" class="form-control fidelity-form-input btn btn-light"
                                (click)="openStockCodeModal(cycleCountItem.cycleCountItemId)">{{ cycleCountItem.itemCode }}</button>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    [value]="cycleCountItem.itemDisplayName">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    [value]="cycleCountItem.rowName_RowCode">
                            </div>
                            <div class="col-3">
                                <button type="text" class="form-control fidelity-form-input btn btn-primary"
                                (click)="navigateToAddScan(cycleCountItem)" [disabled]="!cycleCountItem.isLocked">Scan Items</button>
                            </div>
                            <div class="col-1">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    [value]="cycleCountItem.availableQty">
                            </div>
                            <div class="col-1">

                                <a class="info-btn" matTooltip=""
                                (click)="stockTaken(cycleCountItem.cycleCountItemId, cycleCountItem.itemCode)">
                                    <i aria-hidden="true" [ngClass]="{ 'isLocked':cycleCountItem.isLocked}" class="fa fa-info-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4" (click)="saveCycleCountItem()"> Save </button>
                <button class="btn btn-md-fidelity btn-default fidelity-btn-grey" (click)="naviagteToView()"> Cancel </button>
            </div>
        </div>
    </div>
</div>
