<div class="page-heading">
    <h1 class="page-title">Cycle Count Staff View</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/inventory/dashboard'> Inventory Management</a>
        </li>
        <li class="breadcrumb-item">
            <a>Stock Take </a>
        </li>
        <li class="breadcrumb-item"><a [routerLink]="['/inventory','cycle-count-staff']" skipLocationChange="true">Cycle
                Count Staff List</a></li>
        <li class="breadcrumb-item">Cycle Count Staff View++=====</li>
    </ol>
    <div class="grid-icons-con float-right" *ngIf="cycleCountStaffViewModel?.cycleCountStatusName != 'Closed'">
        <a id="" class="fidelity-btn-circle fidelity-brown-btn" mat-tooltip="Edit" (click)="navigateToEdit()">
            <i class="icon icon-edit" aria-hidden="true"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox fidelity-grid-box">
        <div class="ibox-body">
            <div class="container-fluid">
                <div class="row page-sub-title">
                </div>
                <div class="row mt-2 view-box">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Cycle Count ID2</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{cycleCountStaffViewModel?.cycleCountNumber?
                                    cycleCountStaffViewModel?.cycleCountNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Date</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{(cycleCountStaffViewModel?.cycleCountDate ?
                                    cycleCountStaffViewModel?.cycleCountDate : null) | date}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row header-row mt-3">
                    <div class="col-2">Stock Code</div>
                    <div class="col-4">Stock Name</div>
                    <div class="col-4">Row Name - Code</div>
                    <div class="col-2">Scanned Quantity</div>
                </div>
                <div>
                    <div class="custom-scroll1" style="overflow-x: auto;height: 55vh">
                        <div class="row children-row mb-2"
                            *ngFor="let stock of cycleCountStaffViewModel?.cycleCountItems">
                            <div class="col-2">
                                <button type="button" class="form-control fidelity-form-input  btn btn-light"
                                    (click)="openSerialInfoModal(stock.cycleCountItemId)">{{ stock.itemCode }}</button>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    [value]="stock.itemDisplayName">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    [value]="stock.rowName_RowCode">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    [value]="stock.availableQty">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
