<div class="fidelity-popup-heading container-fluid p-relative"> Update Lightning Cover
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="'close'">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="standbyRosterTechnicianEditForm"  (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label> Technician <span class="mandatory-field">*</span> </label>
                </div>
            </div>
            <div class="col-7">
                <div class="form-group">
                    <input type="hidden" class="fidelity-form-input form-control disabled" 
                        formControlName="roleId">
                    <input type="text" class="fidelity-form-input form-control disabled" 
                        value="{{modalDetails?.roleName}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label> Standby Availablity <span class="mandatory-field">*</span> </label>
                </div>
            </div>            
            <div class="col-7">
                <div class="form-group">
                    <label class="switch add-stack-status">
                        <input type="checkbox" formControlName="isActive">
                        <span class="slider round active"></span>
                    </label>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <div class="text-center mt-4 mb-2">
        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown"> Save </button>
        <button type="button" class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="'close'">Cancel</button>
    </div>
</form>
