<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
    cdkDragBoundary=".fidelity-app-body" cdkDragHandle>{{isAdd ? 'Add ' : 'Update '}} Info
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <div class="custom-scroll" style="white-space: nowrap;overflow-x: auto;">
        <form [formGroup]="specialProjectCoordinatorUpdateForm" (ngSubmit)="updateSpecialProjectTechnician()">
            <!-- customForm -->
            <div class="row header-row" style="flex-wrap: nowrap;font-size: 0.9rem;">
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">Region<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" formControlName="regionId"
                            [ngClass]="{'is-invalid': specialProjectCoordinatorUpdateForm?.get('regionId')?.touched && specialProjectCoordinatorUpdateForm?.get('regionId')?.invalid }">
                            <option value="">--Select Region--</option>
                            <option *ngFor="let regionData of regionList" [value]="regionData?.id">
                                {{regionData?.displayName}}
                            </option>
                        </select>
                        <span class="text-danger mb-3"
                            *ngIf="specialProjectCoordinatorUpdateForm?.get('regionId')?.touched && specialProjectCoordinatorUpdateForm?.get('regionId')?.invalid && specialProjectCoordinatorUpdateForm?.get('regionId')?.errors?.required">
                            Region is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">Division<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" formControlName="divisionId"
                            [ngClass]="{'is-invalid': specialProjectCoordinatorUpdateForm?.get('divisionId')?.touched && specialProjectCoordinatorUpdateForm?.get('divisionId')?.invalid }">
                            <option value="">--Select Division--</option>
                            <option *ngFor="let divisionData of divisionList" [value]="divisionData?.id">
                                {{divisionData?.displayName}}
                            </option>
                        </select>
                        <span class="text-danger mb-3"
                            *ngIf="specialProjectCoordinatorUpdateForm?.get('divisionId')?.touched && specialProjectCoordinatorUpdateForm?.get('divisionId')?.invalid && specialProjectCoordinatorUpdateForm?.get('divisionId')?.errors?.required">
                            Division is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">District<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" formControlName="districtId"
                            [ngClass]="{'is-invalid': specialProjectCoordinatorUpdateForm?.get('districtId')?.touched && specialProjectCoordinatorUpdateForm?.get('districtId')?.invalid }">
                            <option value="">--Select District--</option>
                            <option *ngFor="let districtData of districtList" [value]="districtData?.id">
                                {{districtData?.displayName}}
                            </option>
                        </select>
                        <span class="text-danger mb-3"
                            *ngIf="specialProjectCoordinatorUpdateForm?.get('districtId')?.touched && specialProjectCoordinatorUpdateForm?.get('districtId')?.invalid && specialProjectCoordinatorUpdateForm?.get('districtId')?.errors?.required">
                            District is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">Branch<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" formControlName="branchId"
                            [ngClass]="{'is-invalid': specialProjectCoordinatorUpdateForm?.get('branchId')?.touched && specialProjectCoordinatorUpdateForm?.get('branchId')?.invalid }">
                            <option value="">--Select Branch--</option>
                            <option *ngFor="let branchData of branchList" [value]="branchData?.id">
                                {{branchData?.displayName}}
                            </option>
                        </select>
                        <span class="text-danger mb-3"
                            *ngIf="specialProjectCoordinatorUpdateForm?.get('branchId')?.touched && specialProjectCoordinatorUpdateForm?.get('branchId')?.invalid && specialProjectCoordinatorUpdateForm?.get('branchId')?.errors?.required">
                            Branch is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="d-block">Tech Area<span class="mandatory-field">*</span></label>
                        <p-multiSelect [formControl]="specialProjectCoordinatorUpdateForm?.controls['techAreaId']"
                            [options]="techAreaList" defaultLabel="Select Tech Area" styleClass="w-100"
                            [baseZIndex]="100" emptyFilterMessage="No Tech Area Exists" maxSelectedLabels="2"
                            *ngIf="isAdd"></p-multiSelect>
                        <select class="form-control fidelity-form-input" formControlName="techAreaId"
                            [ngClass]="{'is-invalid': specialProjectCoordinatorUpdateForm?.get('techAreaId')?.touched && specialProjectCoordinatorUpdateForm?.get('techAreaId')?.invalid }"
                            *ngIf="!isAdd">
                            <option value="" disabled>--Select Tech Area--</option>
                            <option *ngFor="let techAreaData of techAreaList" [value]="techAreaData?.value">
                                {{techAreaData?.label}}
                            </option>
                        </select>
                        <span class="d-block text-danger mb-3"
                            *ngIf="specialProjectCoordinatorUpdateForm?.get('techAreaId')?.touched && specialProjectCoordinatorUpdateForm?.get('techAreaId')?.invalid && specialProjectCoordinatorUpdateForm?.get('techAreaId')?.errors?.required">
                            Tech Area is required
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group fdt-pdropdown-con">
                        <label class="d-block">Co-Ordinator<span class="mandatory-field">*</span></label>
                        <p-dropdown [formControl]="specialProjectCoordinatorUpdateForm?.controls['userId']"
                            [options]="coordinatorList" placeholder="Select Co-Ordinator" styleClass="w-100"
                            [baseZIndex]="100" emptyFilterMessage="No Co-Ordinator Exists" appendTo="body"
                            [showClear]="false"></p-dropdown>
                        <span class="d-block text-danger mb-3"
                            *ngIf="specialProjectCoordinatorUpdateForm?.get('userId')?.touched && specialProjectCoordinatorUpdateForm?.get('userId')?.invalid && specialProjectCoordinatorUpdateForm?.get('userId')?.errors?.required">
                            Co-Ordinator is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4 mb-2">
                <button class="btn btn-md-fidelity fidelity-btn-brown">{{isAdd?'Save':'Update'}}</button>
                <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true"
                    type="button">Cancel</button>
            </div>
        </form>
    </div>
</mat-dialog-content>