<div class="page-heading">
    <h1 class="page-title d-inline-block">View Quotation</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a [routerLink]="['/my-tasks','task-list']">My Task</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/my-tasks','task-list']">
                Task List</a></li>
        <li class="breadcrumb-item">View Quotation - {{finalQuoteDetails?.warehouseQuoteNumber}}</li>
    </ol>
    <ng-container *ngIf="userData?.roleName.toLowerCase() !='super admin' && status != 'Approved'">
        <div class="grid-icons-con  customer-info-btns float-right mt-2">
            <!--pending-->
            <a class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEdit()">
                <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
            </a>
        </div>
    </ng-container>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">
                <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
                    <div class="ibox-body view-box">
                        <!-- <div class="row"><div class="col-12 page-sub-title">BASIC INFO</div></div> -->
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Quotation Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            <ng-container *ngIf="finalQuoteDetails?.warehouseQuoteNumber; else elseTemplate">
                                                <a   [href]="finalQuoteDetails['warehouseQuotePath']" download="{{finalQuoteDetails['warehouseQuoteNumber']}}" target="_blank">{{finalQuoteDetails['warehouseQuoteNumber']}}</a>
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                              --
                                            </ng-template>
                                            

                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Customer ID</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.customerId ?
                                            finalQuoteDetails?.customerId : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Request Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.requestNumber ?
                                            finalQuoteDetails?.requestNumber : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Customer Description</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.customerDescription ?
                                            finalQuoteDetails?.customerDescription : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Debtor Code</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.debtorCode ?
                                            finalQuoteDetails?.debtorCode : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Stock Order Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.stockOrderNumber ?
                                            finalQuoteDetails?.stockOrderNumber : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Service Call Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.serviceCallNumber ?
                                            finalQuoteDetails?.serviceCallNumber : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Tech Stock Location</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.techStockLocation ?
                                            finalQuoteDetails?.techStockLocation : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Request Type</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.requestType ?
                                            finalQuoteDetails?.requestType: '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Branch</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.branch ?
                                            finalQuoteDetails?.branch: '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Division</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.division ?
                                            finalQuoteDetails?.division : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Address</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.address ?
                                            finalQuoteDetails?.address : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Tech Area</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.techArea ?
                                            finalQuoteDetails?.techArea : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Created Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.createdDate ?
                                            (finalQuoteDetails?.createdDate | date) : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Creator Role</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.creatorRole ?
                                            finalQuoteDetails?.creatorRole : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Escalated</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.escalated ?
                                            finalQuoteDetails?.escalated : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Current Level</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.currentLevel ?
                                            finalQuoteDetails?.currentLevel : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Action</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.action ?
                                            finalQuoteDetails?.action : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Actioned Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.actionDate ?
                                            (finalQuoteDetails?.actionDate | date) : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="ibtReqStatusLabel" class="key">Status</span>
                                    <span id="ibtReqStatusValue" class="value">
                                        <span class="d-inline-block status-label"
                                            [ngClass]="finalQuoteDetails['cssClass']"
                                            style="width: auto;font-size: 1rem;">
                                            {{finalQuoteDetails?.status ?
                                            finalQuoteDetails?.status : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="ibox-body mt-3">
                        <mat-tab-group [selectedIndex]="selectedTabIndex"
                            class="fidelity-tab-group mat-tab-body-padding-0 requisition-create-tabs">
                            <mat-tab label="Full Quote Generation" class="bg-gray">
                                <div class="mt-3 bold-section">
                                    <p-scrollPanel [style]="{height: '25vh'}" styleClass="custom">
                                        <div class="container-fluid">
                                            <div class="row header-row mb-2">
                                                <div class="col-2">Stock Code</div>
                                                <div class="col-4">Stock Description</div>
                                                <div class="col-2">Qty</div>
                                                <div class="col-2">Unit Price</div>
                                                <div class="col-2">Amount</div>
                                            </div>
                                            <div class="row children-rwo mb-2"
                                                *ngFor="let stockData of finalQuoteDetails['finalQuoteItems']">
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['stockCode']">
                                                </div>
                                                <div class="col-4">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['stockName']">
                                                </div>
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['quantity']">
                                                </div>
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['unitPrice'] | formatNumber">
                                                </div>
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['amount'] | formatNumber">
                                                </div>

                                            </div>
                                           
                                            <div class="row children-rwo mb-2"  *ngIf="finalQuoteDetails['finalQuoteItems']?.length > 0">
                                                <div class="col-2"></div>
                                                <div class="col-4"></div>
                                                <div class="col-2"><b>Sub Total</b></div>
                                                <div class="col-2"></div>
                                                <div class="col-2"><b>{{finalQuoteDetails?.finalQuoteTotal?.subTotal | formatNumber}}</b></div>
                                            </div>
                                            <div class="row children-rwo mb-2"  *ngIf="finalQuoteDetails['finalQuoteItems']?.length > 0">
                                                <div class="col-2"></div>
                                                <div class="col-4"></div>
                                                <div class="col-2"><b>VAT</b></div>
                                                <div class="col-2"></div>
                                                <div class="col-2"><b>{{finalQuoteDetails?.finalQuoteTotal?.vatAmount | formatNumber}}</b></div>
                                            </div>
                                            <div class="row children-rwo mb-2"  *ngIf="finalQuoteDetails['finalQuoteItems']?.length > 0">
                                                <div class="col-2"></div>
                                                <div class="col-4"></div>
                                                <div class="col-2"><b>Total</b></div>
                                                <div class="col-2"></div>
                                                <div class="col-2"><b>{{finalQuoteDetails?.finalQuoteTotal?.totalVat | formatNumber}}</b></div>
                                            </div>

                                            <div class="no-records-found"
                                                *ngIf="finalQuoteDetails['finalQuoteItems']?.length === 0">
                                                <h4>No Records Found</h4>
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </div>
                            </mat-tab>
                            <mat-tab label="Quote Approval" class="bg-gray">
                                <div class="mt-3">
                                    <p-scrollPanel [style]="{height: '25vh'}" styleClass="custom">
                                        <div class="container-fluid">
                                            <div class="row header-row mb-2" style="flex-wrap: unset;">
                                                <div class="col-2">Quotation Number</div>
                                                <!-- <div class="col-2">Quoted Amount(R)</div>
                                                <div class="col-2">Mark Up (%)</div>
                                                <div class="col-2">Labour Component(R)</div> -->
                                                <div class="col-2">Final Quote Amount(R)</div>
                                                <div class="col-2">Quote Status</div>
                                                <div class="col-2">Comments</div>
                                                <div class="col-2">Customer Approval Status</div>
                                                <div class="col-2">Reason</div>
                                            </div>
                                            <div class="row child-row mb-2" style="flex-wrap: unset;"
                                                *ngFor="let stockData of finalQuoteDetails['finalQuoteDocuments']">
                                                <div class="col-2">
                                                    <!-- <input type="text"
                                                        class="form-control fidelity-form-input model-color disabled"
                                                        [value]="stockData['quoteNumber']"> -->
                                                        <a  class="form-control fidelity-form-input model-color " [href]="stockData['docPath']" download="{{stockData['docFileName']}}" target="_blank">{{stockData['quoteNumber']}}</a>
                                                </div>
                                                <!-- <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['amount']">
                                                </div>
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['amount']">
                                                </div>
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['amount']">
                                                </div> -->
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['amount']">
                                                </div>
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['tamQuoteStatus']">
                                                </div>
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['tamComment']">
                                                </div>
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['rtrRequestQuoteStatusName']">
                                                </div>
                                                <div class="col-2">
                                                    <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['reason']">
                                                </div>

                                            </div>
                                            <div class="no-records-found"
                                                *ngIf="finalQuoteDetails['interBranchStockOrderFullList']?.length === 0">
                                                <h4>No Records Found</h4>
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>

                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>