<div class="page-heading">
    <h1 class="page-title d-inline-block">Update Quotation</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a [routerLink]="['/my-tasks','task-list']">My Task</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/my-tasks','task-list']">
                Task List</a></li>
        <li class="breadcrumb-item">
            <a (click)="navigateToView()">View </a>
        </li>
        <li class="breadcrumb-item">Update Quotation - {{finalQuoteDetails?.warehouseQuoteNumber}}</li>
    </ol>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">
                <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
                    <div class="ibox-body view-box">
                        <!-- <div class="row"><div class="col-12 page-sub-title">BASIC INFO</div></div> -->
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Quotation Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            <ng-container *ngIf="finalQuoteDetails?.warehouseQuoteNumber; else elseTemplate">
                                                <a   [href]="finalQuoteDetails['warehouseQuotePath']" download="{{finalQuoteDetails['warehouseQuoteNumber']}}" target="_blank">{{finalQuoteDetails['warehouseQuoteNumber']}}</a>
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                              --
                                            </ng-template>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Customer ID</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.customerId ?
                                            finalQuoteDetails?.customerId : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Request Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.requestNumber ?
                                            finalQuoteDetails?.requestNumber : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Customer Description</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.customerDescription ?
                                            finalQuoteDetails?.customerDescription : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Debtor Code</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.debtorCode ?
                                            finalQuoteDetails?.debtorCode : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Stock Order Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.stockOrderNumber ?
                                            finalQuoteDetails?.stockOrderNumber : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Service Call Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.serviceCallNumber ?
                                            finalQuoteDetails?.serviceCallNumber : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Tech Stock Location</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.techStockLocation ?
                                            finalQuoteDetails?.techStockLocation : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Request Type</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.requestType ?
                                            finalQuoteDetails?.requestType: '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Branch</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.branch ?
                                            finalQuoteDetails?.branch: '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Division</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.division ?
                                            finalQuoteDetails?.division : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Address</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.address ?
                                            finalQuoteDetails?.address : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Tech Area</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.techArea ?
                                            finalQuoteDetails?.techArea : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Created Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.createdDate ?
                                            (finalQuoteDetails?.createdDate | date) : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Creator Role</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.creatorRole ?
                                            finalQuoteDetails?.creatorRole : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Escalated</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.escalated ?
                                            finalQuoteDetails?.escalated : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Current Level</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.currentLevel ?
                                            finalQuoteDetails?.currentLevel : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Action</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.action ?
                                            finalQuoteDetails?.action : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Actioned Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{finalQuoteDetails?.actionDate ?
                                            (finalQuoteDetails?.actionDate | date
                                            ) : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="ibtReqStatusLabel" class="key">Status</span>
                                    <span id="ibtReqStatusValue" class="value">
                                        <span class="d-inline-block status-label"
                                            [ngClass]="finalQuoteDetails['cssClass']"
                                            style="width: auto;font-size: 1rem;">
                                            {{finalQuoteDetails?.status ?
                                            finalQuoteDetails?.status : '-'}}
                                        </span>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="ibox-body mt-3">
                        <mat-tab-group [selectedIndex]="selectedTabIndex"
                            class="fidelity-tab-group mat-tab-body-padding-0 requisition-create-tabs">
                            <mat-tab label="Full Quote Generation" class="bg-gray">
                                <div class="mt-3  bold-section">
                                    <form [formGroup]="finalQuoteForm" customForm (ngSubmit)="onSubmitFinalQuote()">
                                        <p-scrollPanel [style]="{height: '25vh'}" styleClass="custom">
                                            <div class="container-fluid">
                                                <div class="row header-row mb-2">
                                                    <div class="col-2">Stock Code</div>
                                                    <div class="col-4">Stock Description</div>
                                                    <div class="col-2">Qty</div>
                                                    <div class="col-2">Unit Price</div>
                                                    <div class="col-2">Amount</div>
                                                </div>
                                                <div class="" formArrayName="items"
                                                    *ngFor="let obj of finalQuoteForm?.get('items')?.controls;let i=index">
                                                    <div class="row children-rwo mb-2" [formGroupName]="i">
                                                        <div class="col-2">
                                                            <input type="text"
                                                                class="fidelity-form-input form-control disabled"
                                                                formControlName="stockCode">
                                                        </div>
                                                        <div class="col-4">
                                                            <input type="text"
                                                                class="fidelity-form-input form-control disabled"
                                                                formControlName="stockName">
                                                        </div>
                                                        <div class="col-2">
                                                            <input type="text"
                                                                *ngIf="!obj.get('isAdd').value || !obj.get('itemId').value"
                                                                class="fidelity-form-input form-control disabled"
                                                                formControlName="quantity">
                                                            <input type="text"
                                                                *ngIf="obj.get('isAdd').value && obj.get('itemId').value"
                                                                class="fidelity-form-input form-control "
                                                                formControlName="quantity">
                                                        </div>
                                                        <div class="col-2">
                                                            <input
                                                                *ngIf="!obj.get('isAdd').value || obj.get('itemId').value"
                                                                type="text"
                                                                class="fidelity-form-input form-control disabled"
                                                                formControlName="unitPrice">
                                                            <input
                                                                *ngIf="obj.get('isAdd').value && !obj.get('itemId').value"
                                                                type="text" class="fidelity-form-input form-control "
                                                                formControlName="unitPrice">
                                                        </div>
                                                        <div class="col-2">
                                                            <input type="text"
                                                                class="fidelity-form-input form-control disabled"
                                                                formControlName="amount">
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row children-rwo mb-2"
                                                    *ngIf="finalQuoteDetails['finalQuoteItems']?.length > 0">
                                                    <div class="col-2"></div>
                                                    <div class="col-4"></div>
                                                    <div class="col-2"><b>Sub Total</b></div>
                                                    <div class="col-2"></div>
                                                    <div class="col-2"><b>{{finalQuoteDetails?.finalQuoteTotal?.subTotal
                                                            |
                                                            formatNumber}}</b></div>
                                                </div>
                                                <div class="row children-rwo mb-2"
                                                    *ngIf="finalQuoteDetails['finalQuoteItems']?.length > 0">
                                                    <div class="col-2"></div>
                                                    <div class="col-4"></div>
                                                    <div class="col-2"><b>VAT</b></div>
                                                    <div class="col-2"></div>
                                                    <div class="col-2">
                                                        <b>{{finalQuoteDetails?.finalQuoteTotal?.vatAmount |
                                                            formatNumber}}</b>
                                                    </div>
                                                </div>
                                                <div class="row children-rwo mb-2"
                                                    *ngIf="finalQuoteDetails['finalQuoteItems']?.length > 0">
                                                    <div class="col-2"></div>
                                                    <div class="col-4"></div>
                                                    <div class="col-2"><b>Total</b></div>
                                                    <div class="col-2"></div>
                                                    <div class="col-2"><b>{{finalQuoteDetails?.finalQuoteTotal?.totalVat
                                                            |
                                                            formatNumber}}</b></div>
                                                </div>
                                                <div class="row children-rwo mb-2"
                                                    *ngIf="finalQuoteDetails['finalQuoteItems']?.length > 0">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label>Additional Notes</label>
                                                            <textarea class="form-control fidelity-form-input"
                                                                type="text" [validateInput]='isAStringOnly'
                                                                minlength="10" maxlength="150"
                                                                placeholder="Enter Additional Notes"
                                                                formControlName="note">
                                                             </textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="no-records-found"
                                                    *ngIf="finalQuoteDetails['finalQuoteItems']?.length === 0">
                                                    <h4>No Records Found</h4>
                                                </div>
                                            </div>
                                        </p-scrollPanel>
                                        <div class="text-center mt-3">
                                            <button type="submit"
                                                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                                [disabled]="isDisabledBtn">Generate
                                                Final Quote</button>
                                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                                routerLink='/my-tasks/task-list'>Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </mat-tab>
                            <mat-tab label="Quote Approval" class="bg-gray">
                                <div class="mt-3">
                                    <form [formGroup]="quoteApprovalForm" customForm (ngSubmit)="onSubmitApproval()">

                                        <p-scrollPanel [style]="{height: '25vh'}" styleClass="custom">
                                            <div class="container-fluid">
                                                <div class="row header-row mb-2" style="flex-wrap: unset;">
                                                    <div class="col-2">Quotation Number</div>
                                                    <!-- <div class="col-2">Quoted Amount(R)</div>
                                                    <div class="col-2">Mark Up (%)</div>
                                                    <div class="col-2">Labour Component(R)</div> -->
                                                    <div class="col-2">Final Quote Amount(R)</div>
                                                    <div class="col-2">Quote Status</div>
                                                    <div class="col-2">Comments</div>
                                                    <div class="col-2">Customer Approval Status</div>
                                                    <div class="col-2">Reason</div>
                                                </div>
                                                <div class="" formArrayName="items"
                                                    *ngFor="let obj of quoteApprovalForm?.get('items')?.controls;let i=index">
                                                    <div class="row children-rwo mb-2" [formGroupName]="i">

                                                      <div class="col-2">
                                                            <input type="text" *ngIf="
                                                            !obj.get('docPath').value && !obj.get('docFileName').value"
                                                        class="form-control fidelity-form-input model-color disabled"
                                                       >
                                                            <a class="form-control fidelity-form-input model-color "  *ngIf="
                                                            obj.get('docPath').value && obj.get('docFileName').value"
                                                                [href]="obj.get('docPath').value"
                                                                download="{{obj.get('docFileName').value}}" target="_blank">{{obj.get('quoteNumber').value}}</a>
                                                        </div>
                                                        <!-- <div class="col-2">
                                                        <input type="text"
                                                            class="fidelity-form-input form-control disabled"
                                                       formControlName="amount">
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="text"
                                                            class="fidelity-form-input form-control disabled"
                                                            formControlName="amount">
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="text"
                                                            class="fidelity-form-input form-control disabled"
                                                            formControlName="amount">
                                                    </div> -->
                                                        <div class="col-2">
                                                            <input type="text"
                                                                class="fidelity-form-input form-control disabled"
                                                                formControlName="amount">
                                                        </div>
                                                        <div class="col-2">
                                                            <input type="text"
                                                                class="fidelity-form-input form-control disabled"
                                                                formControlName="tamQuoteStatus" >
                                                        </div>
                                                        <div class="col-2">
                                                            <input type="text"
                                                                class="fidelity-form-input form-control disabled"
                                                                formControlName="tamComment" >
                                                        </div>
                                                        <div class="col-2">
                                                            <!-- <input type="text" class="fidelity-form-input form-control disabled"
                                                        [value]="stockData['rtrRequestQuoteStatusName']"> -->
                                                            <select 
                                                            formControlName="rtrRequestQuoteStatusId"   
                                                                name="rtrRequestQuoteStatusId-{{i}}"
                                                                class="form-control fidelity-form-input"
                                                                [attr.disabled]="(obj.get('rtrRequestQuoteStatusName').value != 'New') ? true: null"
                                                                name="subscription">
                                                                <option value="" disabled>Select </option>
                                                                <option *ngFor="let contactType of quoteStatusDropdown"
                                                                    value={{contactType.id}}>
                                                                    {{contactType.displayName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-2">
                                                            <input 
                                                            formControlName="reason" 
                                                                type="text" class="fidelity-form-input form-control "
                                                                [readonly]="obj.get('rtrRequestQuoteStatusName').value != 'New'"
                                                               >
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="row children-rwo mb-2"
                                                    *ngIf="finalQuoteDetails['finalQuoteDocuments']?.length > 0">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label>Additional Notes</label>
                                                            <textarea class="form-control fidelity-form-input"
                                                                type="text" [validateInput]='isAStringOnly'
                                                                minlength="10" maxlength="150"
                                                                placeholder="Enter Additional Notes"
                                                                formControlName="note">
                                                     </textarea>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="no-records-found"
                                                    *ngIf="finalQuoteDetails['finalQuoteDocuments']?.length === 0">
                                                    <h4>No Records Found</h4>
                                                </div>
                                            </div>
                                        </p-scrollPanel>
                                        <div class="text-center mt-3">
                                            <button type="submit" [disabled]="!isDisabledBtn"
                                                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Update</button>
                                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                                routerLink='/my-tasks/task-list'>Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>

                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>