<div class="page-heading ">
    <h1 class="page-title d-inline-block">Coordinator Default Area Config</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/signal-management/signal-configuration'>Signal Management</a>
        </li>
        <li class="breadcrumb-item">Add Coordinator Default Area Config</li>
    </ol>
    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                (click)="showFilterForm = !showFilterForm" matTooltip="Apply Filter">
                <i class="fa fa-filter" aria-hidden="true"></i></a>
        </div>
    </div>
    <form *ngIf="showFilterForm" [formGroup]="filterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;right: 30px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Division</label>
                            <select id="divsion" class="form-control fidelity-form-input" name="Division"
                                placeholder="Select Division" formControlName="divisionId">
                                <option value="" disabled>Select Division</option>
                                <option *ngFor="let division of divisionDropDown" [value]="division.id">
                                    {{division.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<div class="page-content fade-in-up">
    <form [formGroup]="coordinatorForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row mt-3 mb-2">
                        <div class="col-md-4 d-flex">Coordinator Name <span class="mandatory-field">*</span></div>
                        <div class="col-md-4 d-flex">Tech Area<span class="mandatory-field">*</span></div>
                        <div class="col-md-4 d-flex">Main Area<span class="mandatory-field">*</span></div>
                    </div>
                    <div class="" formArrayName="coordinatorList"
                        *ngFor="let obj of coordinatorForm?.get('coordinatorList')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input placeholder="Enter Name" class="form-control fidelity-form-input"
                                        type="text" (change)="onChange(i)" disabled formControlName="employeeName">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <p-multiSelect appendTo="body" [defaultLabel]="'Select Tech Area'" autoWidth="false"
                                        [style]="{'width':'100%'}" [options]="techAreaDropdown"
                                        formControlName="coordinatorTechAreaList">
                                    </p-multiSelect>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <p-multiSelect appendTo="body" [defaultLabel]="'Select Main Area'" autoWidth="false"
                                        [style]="{'width':'100%'}" [options]="mainAreaDropdown"
                                        formControlName="coordinatorMainAreaList">
                                    </p-multiSelect>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{distributionGroupId
                ? 'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/signal-management/signal-configuration' [queryParams]="{tab:0}">Cancel</button>
        </div>
    </form>
</div>