@import './../../../../../../variables.scss';

::ng-deep .audit-cyle-add-edit-tab .mat-tab-body-wrapper {
    min-height: 30vh!important;
    margin-top: 15px;
    box-shadow: 0 0 3px 3px #eee;
    border-radius: 10px;
}

::ng-deep .fidelity-tab-group.audit-cyle-add-edit-tab .mat-tab-label-container {
    margin-bottom: 0;
    padding-left: 0;
}

::ng-deep .fidelity-tab-group.audit-cyle-add-edit-tab .mat-tab-label {
    background:#ccc!important;
    margin-left: 10px;
}
::ng-deep .fidelity-tab-group.audit-cyle-add-edit-tab .mat-tab-label-active {
    background:$fidelity-green;
}

::ng-deep .mat-tab-body {
    padding: 15px!important;
}

::ng-deep .fidelity-tab-group.audit-cyle-add-edit-tab .mat-tab-header-pagination {
    display: flex!important;
    top: 1px;
    cursor: pointer;
    display: flex;
    z-index: 1;
    .mat-tab-header-pagination-chevron {
        height: 10px;
        width: 10px;
    }

    
    .mat-elevation-z4 {
        box-shadow: none!important;
    }

    .mat-tab-header-pagination-chevron {
        border-color: rgba(0,0,0,.38) !important;
    }

    .mat-ripple{
        overflow: visible!important;
    }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    margin: 10px 0;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    background-color: rgba(69, 156, 232, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0px !important;
    height: 48px;
}


.children-row {
    div {
        padding: 0 3px;
        font-size: 0.8rem;
    }

    div:not(.stock-name) {
        width: 7%;
        white-space: nowrap;
    }

    div.stock-name {
        width: 25%;
    }
}

.header-row {
    @extend .children-row;
}

.total-count-con {
    @extend .children-row;
    div {
        font-size: 1rem;
        font-family: $fidelity-font-bold;
    }
}

::ng-deep .audit-cycle-count-accordion {
    .mat-expansion-panel-header-title {
        display: block;
    }
    .mat-expansion-panel-header {
        background-color: #00b7df1c;
    }
}



