<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{ divisionId? 'Update' : 'Add' }} Annual Network Admin Fee - Pro Rata</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item"><a>Configuration </a></li>
        <li class="breadcrumb-item"><a>Billing </a></li>
        <li class="breadcrumb-item"><a (click)="navigateToList()">Annual Network Admin Fee - Pro Rata</a></li>
        <li class="breadcrumb-item" *ngIf="divisionId"><a (click)="navigateToViewPage()">View Annual Network Admin Fee - Pro Rata</a></li>
        <li class="breadcrumb-item"><a>{{ divisionId? 'Update' : 'Add' }} Annual Network Admin Fee - Pro Rata</a></li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="billingProRataFeesForm">
                <div class="ibox">
                    <div class="ibox-body mb-3">
                        <div class="row mb-3 sm-inputs">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Division</label>
                                    <select formControlName="proDivisionId" class="fidelity-form-input form-control"
                                    [ngClass]="{'is-invalid': billingProRataFeesForm?.get('proDivisionId')?.touched && billingProRataFeesForm?.get('proDivisionId')?.invalid && billingProRataFeesForm?.get('proDivisionId')?.errors?.required }">
                                        <option value="">--Select Division--</option>
                                        <option *ngFor="let division of divisionList" [value]="division?.id">
                                            {{division?.displayName}}</option>
                                    </select>
                                    <span class="text-danger mb-2"
                                        *ngIf="billingProRataFeesForm?.get('proDivisionId')?.touched && billingProRataFeesForm?.get('proDivisionId')?.invalid && billingProRataFeesForm?.get('proDivisionId')?.errors?.required">
                                        Division is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>License Type</label>
                                    <select class="form-control fidelity-form-input" formControlName="proLicenseTypeId"
                                    [ngClass]="{'is-invalid': billingProRataFeesForm?.get('proLicenseTypeId')?.touched && billingProRataFeesForm?.get('proLicenseTypeId')?.invalid && billingProRataFeesForm?.get('proLicenseTypeId')?.errors?.required }">
                                        <option value="">--Select License--</option>
                                        <option *ngFor="let licenseType of licenseTypeList" [value]="licenseType?.id">
                                            {{licenseType?.displayName}}</option>
                                    </select>
                                    <span class="text-danger mb-2"
                                        *ngIf="billingProRataFeesForm?.get('proLicenseTypeId')?.touched && billingProRataFeesForm?.get('proLicenseTypeId')?.invalid && billingProRataFeesForm?.get('proLicenseTypeId')?.errors?.required">
                                        License type is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group fidelity-multiselect-dropdown-con">
                                    <label>Charge Specific Month</label>
                                    <p-multiSelect [options]="monthChargesList" [defaultLabel]="'Select charges Month'" formControlName="proChargeSpecificMonthId" styleClass="w-100"></p-multiSelect>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button" class="circle-plus-btn fidelity-brown-btn" matTooltip="Add"
                                    (click)="addProRataFeesToTable()" *ngIf="!isDivisionExists">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                            </div>
                        </div>
                        <span class="text-danger" *ngIf="isDivisionExists">
                            Division already exists
                        </span>

                        <form customForm [formGroup]="billingProRataFeesArrayForm" (ngSubmit)="createUpdateProRata()"
                            *ngIf="proRataFeesFormArray?.controls?.length > 0">
                            <div class="container-fluid">
                                <div class="row header-row">
                                    <!-- <div class="col-1">Division</div> -->
                                    <div class="col-2">Month</div>
                                    <div class="col-2">Price Excl</div>
                                    <div class="col-2">Price Incl</div>
                                    <div class="col-3">Start Date</div>
                                    <div class="col-3">End Date</div>
                                </div>
                            </div>
                            <div style="height: auto;">
                                <p-scrollPanel [style]="{height: '45vh'}" styleClass="custom">
                                    <div class="container-fluid">
                                        <div class="row children-row mb-2" formArrayName="billingProRataDetails">
                                            <div class="col-12">
                                                <div class="row p-relative mb-3"
                                                    *ngFor="let control of proRataFeesFormArray?.controls; let i = index"
                                                    [formGroupName]="i">
                                                    <ng-container>
                                                        <!-- *ngIf="i==0" -->
                                                        <div class="col-12 children-row mb-2" formArrayName="details">
                                                            <div class="row p-relative mt-2"
                                                                *ngFor="let detailControl of control?.get('details')?.controls; let j = index"
                                                                [formGroupName]="j">
                                                                <!-- <div class="col-1">
                                                                    <input type="text"
                                                                        class="form-control fidelity-form-input disabled"
                                                                        formControlName="divisionName">
                                                                </div> -->
                                                                <div class="col-2">
                                                                    <input type="text"
                                                                        class="form-control fidelity-form-input disabled"
                                                                        formControlName="monthName">
                                                                </div>
                                                                <div class="col-2">
                                                                    <input type="text"
                                                                        class="form-control fidelity-form-input"
                                                                        [validateInput]="isADecimalOnly"
                                                                        formControlName="priceExclsion">
                                                                </div>
                                                                <div class="col-2">
                                                                    <input type="text"
                                                                        class="form-control fidelity-form-input disabled"
                                                                        [validateInput]="isADecimalOnly"
                                                                        formControlName="priceInclusion">
                                                                </div>
                                                                <div class="col-3">
                                                                  <p-calendar formControlName="startDate" [readonlyInput]="true"  styleClass="w-100" [showTime]="true"></p-calendar>
                                                                </div>
                                                                <div class="col-3">
                                                                  <p-calendar formControlName="endDate" [readonlyInput]="true"  styleClass="w-100" [showTime]="true"></p-calendar>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-scrollPanel>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-md-fidelity fidelity-btn-brown">
                                    Add</button>
                                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                    (click)="navigateToList()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
