<app-lead-lifecycle-breadcrumb-icon-actions-header [shouldShowHeaderContainerOnly]="true" [breadCrumb]="breadCrumb">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form class="fidelity-popup-form" customForm [formGroup]="lssShiftForm">
                <div class="ibox">
                    <p-scrollPanel [style]="{height: standardHeightForPscrollContainer}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h1 class="page-sub-title ext-padd mt-3">Week Days</h1>
                                <button type="button" style="right: 27px;top: 5px;"
                                    (click)="openShiftModal('create','weekdays')" class="circle-plus-btn"
                                    matTooltip="Add Shift">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                            </div>
                            <div class="d-flex justify-content-around align-items-center lead-stage-navigator">
                                <button type="button">
                                    <i class="icon icon-backward" (click)="onArrowClick('previous')"></i>
                                </button>
                                <span class="d-flex stage-no mr-2 ml-2">2</span>
                                <button type="button">
                                    <i class="icon icon-forward" (click)="onArrowClick('next')"></i>
                                </button>
                            </div>
                            <div class="row">
                                <ng-container formGroupName="weekdays">
                                    <div class="col-4">
                                        <label>Shift<span class="mandatory-field">*</span></label>
                                        <div class="form-group">
                                            <mat-radio-group formControlName="isDayShift">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Day
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Night
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Number Of Guards<span class="mandatory-field">*</span></label>
                                            <input #weekdays [maxlength]="formConfigs.five"
                                                [validateInput]="numberConfig" class="form-control fidelity-form-input"
                                                formControlName="noOfGuards" placeholder="Enter Number Of Guards">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Grade<span class="mandatory-field">*</span></label>
                                            <select #weekdays id="grade" class="form-control fidelity-form-input"
                                                formControlName="lssGradeId">
                                                <option value="null" disabled>-- Select Grade --</option>
                                                <option *ngFor="let grade of grades" [value]="grade.id">
                                                    {{grade.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4 d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="is24HourShift"
                                                [checked]="weekdaysFormGroupControls.get('is24HourShift')?.value==true"
                                                class="fidelity-checkbox">24 Hours Shift</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <label class="d-block" for="">Start Time<span
                                                class="mandatory-field">*</span></label>
                                        <div class="form-group">
                                            <p-calendar formControlName="startShiftTime" [timeOnly]="true"
                                                [styleClass]="'w-100'">
                                            </p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <label class="d-block" for="">End Time<span
                                                class="mandatory-field">*</span></label>
                                        <div class="form-group">
                                            <p-calendar formControlName="endShiftTime" [timeOnly]="true"
                                                [styleClass]="'w-100'">
                                            </p-calendar>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="col-12 mt-3">
                                    <ng-container>
                                        <table style="width: 100%" class="fidelity-table mt-2 service-table">
                                            <thead>
                                                <th>Shift Id</th>
                                                <th>Shift Type</th>
                                                <th>No Of Guards</th>
                                                <th>Grade</th>
                                                <th>24H Shift</th>
                                                <th>Start Time</th>
                                                <th>End time</th>
                                                <th>Edit</th>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngFor="let weekday of lssWeekdays;index as i">
                                                    <tr>
                                                        <td>{{weekday.lssShiftRefNo?weekday.lssShiftRefNo:'-'}}</td>
                                                        <td>{{weekday.shiftTypeName}}</td>
                                                        <td>{{weekday.noOfGuards}}</td>
                                                        <td>{{weekday.lssGradeName}}</td>
                                                        <td>{{weekday.is24HourShift==true?'Yes':'No'}}</td>
                                                        <td>{{ weekday.startShiftTime }}</td>
                                                        <td>{{ weekday.endShiftTime}}</td>
                                                        <a (click)="openShiftModal('edit','weekdays',weekday,i)"
                                                            class="fidelity-btn-circle fidelity-brown-btn"
                                                            matTooltip="Edit">
                                                            <i aria-hidden="true" class="icon icon-edit"></i>
                                                        </a>
                                                        <a *ngIf="i!==0 || lssWeekdays.length>1"
                                                            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                                                            matTooltip="Delete"
                                                            (click)="removeItem('weekdays',weekday,i)">
                                                            <i aria-hidden="true" class="icon icon-delete"></i></a>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <div class="no-records-found" *ngIf="lssWeekdays.length==0">
                                            No Records Found
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h1 class="page-sub-title ext-padd mt-3">Weekend</h1>
                                <button type="button" style="right: 27px;top: 5px;"
                                    (click)="openShiftModal('create','weekends')" class="circle-plus-btn"
                                    matTooltip="Add Shift">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                            </div>
                            <div class="row">
                                <ng-container formGroupName="weekends">
                                    <div class="col-4 d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="isSameasWeekDay"
                                                [checked]="weekendsFormGroupControls.get('isSameasWeekDay')?.value==true"
                                                class="fidelity-checkbox">Same As Weekdays</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                    </div>
                                    <div class="col-4">
                                    </div>
                                    <div class="col-4">
                                        <label>Shift<span class="mandatory-field">*</span></label>
                                        <div class="form-group">
                                            <mat-radio-group formControlName="isDayShift">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Day
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Night
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Number Of Guards<span class="mandatory-field">*</span></label>
                                            <input #weekends [maxlength]="formConfigs.five"
                                                [validateInput]="numberConfig" class="form-control fidelity-form-input"
                                                formControlName="noOfGuards" placeholder="Enter Number Of Guards">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Grade<span class="mandatory-field">*</span></label>
                                            <select #weekends id="grade1" class="form-control fidelity-form-input"
                                                formControlName="lssGradeId">
                                                <option value="null" disabled>-- Select Grade --</option>
                                                <option *ngFor="let grade of grades" [value]="grade.id">
                                                    {{grade.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-4 d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="is24HourShift"
                                                [checked]="weekendsFormGroupControls.get('is24HourShift')?.value==true"
                                                class="fidelity-checkbox">24 Hours Shift</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <label class="d-block" for="">Start Time<span
                                                class="mandatory-field">*</span></label>
                                        <div class="form-group">
                                            <p-calendar formControlName="startShiftTime" [timeOnly]="true"
                                                [styleClass]="'w-100'">
                                            </p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <label class="d-block" for="">End Time<span
                                                class="mandatory-field">*</span></label>
                                        <div class="form-group">
                                            <p-calendar formControlName="endShiftTime" [timeOnly]="true"
                                                [styleClass]="'w-100'">
                                            </p-calendar>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="col-12 mt-3">
                                    <ng-container>
                                        <table style="width: 100%" class="fidelity-table mt-2 service-table">
                                            <thead>
                                                <th>Shift Id</th>
                                                <th>Shift Type</th>
                                                <th>No Of Guards</th>
                                                <th>Grade</th>
                                                <th>24H Shift</th>
                                                <th>Start Time</th>
                                                <th>End time</th>
                                                <th>Edit</th>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngFor="let weekend of lssWeekends;index as i">
                                                    <tr>
                                                        <td>{{weekend.lssShiftRefNo?weekend.lssShiftRefNo:'-'}}</td>
                                                        <td>{{weekend.shiftTypeName}}</td>
                                                        <td>{{weekend.noOfGuards}}</td>
                                                        <td>{{weekend.lssGradeName}}</td>
                                                        <td>{{weekend.is24HourShift==true?'Yes':'No'}}</td>
                                                        <td>{{ weekend.startShiftTime}}</td>
                                                        <td>{{ weekend.endShiftTime}}</td>
                                                        <a (click)="openShiftModal('edit','weekends',weekend,i)"
                                                            class="fidelity-btn-circle fidelity-brown-btn"
                                                            matTooltip="Edit">
                                                            <i aria-hidden="true" class="icon icon-edit"></i>
                                                        </a>
                                                        <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                                                            matTooltip="Delete"
                                                            (click)="removeItem('weekends',weekend,i)">
                                                            <i aria-hidden="true" class="icon icon-delete"></i></a>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <div class="no-records-found" *ngIf="lssWeekends.length==0">
                                            No Records Found
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h1 class="page-sub-title ext-padd mt-3">Public Holidays</h1>
                                <button type="button" style="right: 27px;top: 5px;"
                                    (click)="openShiftModal('create','publicHolidays')" class="circle-plus-btn"
                                    matTooltip="Add Shift">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                            </div>
                            <div class="row">
                                <ng-container formGroupName="publicHolidays">
                                    <div class="col-4 d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="isSameasWeekDay"
                                                [checked]="publicHolidaysFormGroupControls.get('isSameasWeekDay')?.value==true"
                                                class="fidelity-checkbox">Same As Weekdays</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                    </div>
                                    <div class="col-4">
                                    </div>
                                    <div class="col-4">
                                        <label>Shift<span class="mandatory-field">*</span></label>
                                        <div class="form-group">
                                            <mat-radio-group formControlName="isDayShift">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Day
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">Night
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Number Of Guards<span class="mandatory-field">*</span></label>
                                            <input #publicHolidays [maxlength]="formConfigs.five"
                                                [validateInput]="numberConfig" class="form-control fidelity-form-input"
                                                formControlName="noOfGuards" placeholder="Enter Number Of Guards">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Grade<span class="mandatory-field">*</span></label>
                                            <select #publicHolidays id="grade2" class="form-control fidelity-form-input"
                                                formControlName="lssGradeId">
                                                <option value="null" disabled>-- Select Grade --</option>
                                                <option *ngFor="let grade of grades" [value]="grade.id">
                                                    {{grade.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4 d-flex justify-content-start align-items-end">
                                        <div class="form-group d-flex justify-content-start align-items-center">
                                            <mat-checkbox formControlName="is24HourShift"
                                                [checked]="publicHolidaysFormGroupControls.get('is24HourShift')?.value==true"
                                                class="fidelity-checkbox">24 Hours Shift</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <label class="d-block" for="">Start Time<span
                                                class="mandatory-field">*</span></label>
                                        <div class="form-group">
                                            <p-calendar formControlName="startShiftTime" [timeOnly]="true"
                                                [styleClass]="'w-100'">
                                            </p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                                        <label class="d-block" for="">End Time<span
                                                class="mandatory-field">*</span></label>
                                        <div class="form-group">
                                            <p-calendar formControlName="endShiftTime" [timeOnly]="true"
                                                [styleClass]="'w-100'">
                                            </p-calendar>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="col-12 mt-3">
                                    <ng-container>
                                        <table style="width: 100%" class="fidelity-table mt-2 service-table">
                                            <thead>
                                                <th>Shift Id</th>
                                                <th>Shift Type</th>
                                                <th>No Of Guards</th>
                                                <th>Grade</th>
                                                <th>24H Shift</th>
                                                <th>Start Time</th>
                                                <th>End time</th>
                                                <th>Edit</th>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngFor="let publicHoliday of lssPublicHolidays;index as i">
                                                    <tr>
                                                        <td>{{publicHoliday.lssShiftRefNo?publicHoliday.lssShiftRefNo:'-'}}
                                                        </td>
                                                        <td>{{publicHoliday.shiftTypeName}}</td>
                                                        <td>{{publicHoliday.noOfGuards}}</td>
                                                        <td>{{publicHoliday.lssGradeName}}</td>
                                                        <td>{{publicHoliday.is24HourShift==true?'Yes':'No'}}</td>
                                                        <td>{{ publicHoliday.startShiftTime}}</td>
                                                        <td>{{ publicHoliday.endShiftTime}}</td>
                                                        <a (click)="openShiftModal('edit','publicHolidays',publicHoliday,i)"
                                                            class="fidelity-btn-circle fidelity-brown-btn"
                                                            matTooltip="Edit">
                                                            <i aria-hidden="true" class="icon icon-edit"></i>
                                                        </a>
                                                        <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                                                            matTooltip="Delete"
                                                            (click)="removeItem('publicHolidays',publicHoliday,i)">
                                                            <i aria-hidden="true" class="icon icon-delete"></i></a>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <div class="no-records-found" *ngIf="lssPublicHolidays.length==0">
                                            No Records Found
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="button" (click)="onSubmit()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>