<app-lead-lifecycle-breadcrumb-icon-actions-header [shouldShowHeaderContainerOnly]="true" [breadCrumb]="breadCrumb">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="gisBoundaryForm">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: standardHeightForPscrollContainer}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">Create LSS Boundary</h1>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group" style="width: 100%;">
                                        <label>Scheme Name</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            [value]="boundaryRequestDetails?.boundaryName">
                                        </input-custom-control>
                                    </div>
                                    <div class="form-group" style="width: 100%;">
                                        <label>Layer Name</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            [value]="boundaryRequestDetails?.boundaryLayerName">
                                        </input-custom-control>
                                    </div>
                                    <div class="form-group" style="width: 100%;">
                                        <label>Region</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            [value]="boundaryRequestDetails?.regionName">
                                        </input-custom-control>
                                    </div>
                                    <div class="form-group" style="width: 100%;">
                                        <label>Division</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            [value]="boundaryRequestDetails?.divisionName">
                                        </input-custom-control>
                                    </div>
                                    <div class="form-group" style="width: 100%;">
                                        <label>District</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            [value]="boundaryRequestDetails?.districtName">
                                        </input-custom-control>
                                    </div>
                                    <div class="form-group" style="width: 100%;">
                                        <label>Branch<span class="mandatory-field">*</span></label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            [value]="boundaryRequestDetails?.branchName">
                                        </input-custom-control>
                                    </div>
                                    <div class="form-group fidelity-date-picker-con p-relative cust-banner-date-con"
                                        style="width: 100%;"
                                        [ngStyle]="boundaryRequestDetails?.isSchemeActive&&{'pointer-events':'none'}">
                                        <label>Go Live Date<span class="mandatory-field">*</span></label>
                                        <p-calendar formControlName="goLiveDate" [showTime]="true" styleClass="w-100">
                                        </p-calendar>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <app-shared-leaf-let [caption]="'LSS Boundary'" [isDisabled]="false"
                                        [boundaries]="boundaries" [shouldShowFullViewIcon]="true"
                                        [boundaryRequestDetails]="boundaryRequestDetails" [polygonArray]="polygonArray"
                                        [id]="'lss_boundary_map'">
                                    </app-shared-leaf-let>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div style="margin-right: 263px;" class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="button" (click)="redirectToStageThree()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>