<app-lead-lifecycle-breadcrumb-icon-actions-header [shouldShowHeaderContainerOnly]="true" [breadCrumb]="breadCrumb">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="lssStageOneForm" *ngIf="lssStageOneForm" (ngSubmit)="onSubmit()">
                <div class="ibox lss-registration-box" style="height: auto;">
                    <p-scrollPanel [style]="{height: standardHeightForPscrollContainer}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">Basic Information</h1>
                            <div class="d-flex justify-content-around align-items-center lead-stage-navigator">
                                <span class="d-flex stage-no mr-2 ml-2">1</span>
                                <button type="button">
                                    <i class="icon icon-forward" (click)="onArrowClick()"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Scheme ID<span class="mandatory-field">*</span></label>
                                        <input-custom-control formControlName="lssRefNo">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Scheme Name<span class="mandatory-field">*</span></label>
                                        <input-custom-control formControlName="lssName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Scheme Type<span class="mandatory-field">*</span></label>
                                    <div class="fidelity-multiselect-dropdown-con" style="width:100%">
                                        <mat-select-autocomplete ngDefaultControl
                                            [formControl]="lssStageOneForm.get('lssTypeId')" id="id"
                                            class="input-width-medium" [placeholder]="'Select Scheme Type'"
                                            [options]="lssTypes" [display]="'display'" [multiple]='true'
                                            [value]="'value'" [ngClass]="{'is-mat-select-invalid':((lssStageOneForm.get('lssTypeId').touched &&
                                            lssStageOneForm.get('lssTypeId').invalid)||
                                            (lssStageOneForm.get('lssTypeId').invalid&&isFormSubmitted))}">
                                        </mat-select-autocomplete>
                                    </div>
                                    <span class="text-danger" *ngIf="((lssStageOneForm.get('lssTypeId').touched &&
                                    lssStageOneForm.get('lssTypeId').invalid)||
                                    (lssStageOneForm.get('lssTypeId').invalid&&isFormSubmitted))">
                                        Type is required
                                    </span>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Region<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='regions' (change)="changeRegion()"
                                            formControlName="regionId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Division<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='divisions' (change)="changeDivision()"
                                            formControlName="divisionId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>District<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='districts' (change)="changeDistrict()"
                                            formControlName="districtId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Branch Name<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='branches'
                                            (change)="onOptionsSelected($event)" formControlName="branchId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Branch Code</label>
                                        <input-custom-control formControlName="branchCode"
                                            [maxlength]="formConfigs.maxLengthTwenty">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Contract Number<span class="mandatory-field">*</span></label>
                                        <input-custom-control [name]="'Contract No'" formControlName="contractNo"
                                            [maxlength]="formConfigs.maxLengthTwenty">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Billstock ID <span class="mandatory-field">*</span></label>
                                        <input-custom-control [name]="'Bill Stock No'" formControlName="billstockRefNo">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Resources<span class="mandatory-field">*</span></label>
                                    <div class="fidelity-multiselect-dropdown-con" style="width:100%">
                                        <mat-select-autocomplete ngDefaultControl
                                            [formControl]="lssStageOneForm.get('lssResourceId')" id="id1"
                                            class="input-width-medium" [placeholder]="'Select Resources'"
                                            [options]="resources" [display]="'display'" [multiple]='true'
                                            [value]="'value'" [ngClass]="{'is-mat-select-invalid':((lssStageOneForm.get('lssResourceId').touched &&
                                            lssStageOneForm.get('lssResourceId').invalid)||
                                            (lssStageOneForm.get('lssResourceId').invalid&&isFormSubmitted))}">
                                        </mat-select-autocomplete>
                                    </div>
                                    <span class="text-danger" *ngIf="((lssStageOneForm.get('lssResourceId').touched &&
                                    lssStageOneForm.get('lssResourceId').invalid)||
                                    (lssStageOneForm.get('lssResourceId').invalid&&isFormSubmitted))">
                                        Resources is required
                                    </span>
                                </div>
                                <div class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                    <label class="d-block" for="">Start Date<span
                                            class="mandatory-field">*</span></label>
                                    <p-calendar [minDate]="todayDate" formControlName="startDate">
                                    </p-calendar>
                                </div>
                                <div class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                    <label class="d-block" for="">Renewal Date<span
                                            class="mandatory-field">*</span></label>
                                    <p-calendar [minDate]="todayDate" formControlName="renewalDate">
                                    </p-calendar>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Start Up Cost <span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input"
                                            [minlength]="formConfigs.firstNameMinLength" formControlName="startUpCost"
                                            placeholder="Start Up Cost" type="text" [validateInput]="isADecimalOnly" />
                                    </div>
                                </div>
                                <div [ngStyle]="lssStageOneForm.get('isSchemeActive').value&&{'pointer-events':'none'}"
                                    class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                    <label class="d-block mt-2">Go Live Date And Time<span
                                            class="mandatory-field">*</span></label>
                                    <p-calendar [minDate]="todayDate" formControlName="goLiveDate" [showTime]="true">
                                    </p-calendar>
                                </div>
                            </div>
                            <h1 class="page-sub-title ext-padd mt-3">CDM Information</h1>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group p-relative">
                                        <label>Search<span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete-custom-control [name]="'CDM'"
                                            [matOptionValueProperty]="'employeeId'" [matOptionViewProperty]="'fullName'"
                                            [selectedOptionSearchkeywordProperty]="'cdmFullName'"
                                            [formGroup]="lssStageOneForm" formControlName="cdmFullName"
                                            (clearDependentFormControlValues)="clearFormControlValues('CDM')"
                                            [customInputGroupStyle]="{'margin-top':'27px'}"
                                            [getLoopableObjectRequestObservable]="getLoopableCDMObjectRequestObservable"
                                            (emitSelectedOption)="onSelectedItemOption($event,'CDM')">
                                        </mat-select-autocomplete-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input-custom-control [extraClassNames]="'disabled'" formControlName="cdmName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Surname</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="cdmLastName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Employee ID</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="cdmEmployeeCode">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input-custom-control [extraClassNames]="'disabled'" formControlName="cdmEmail">
                                        </input-custom-control>
                                    </div>
                                </div>
                            </div>
                            <h1 class="page-sub-title ext-padd mt-3">RCDM Information</h1>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group p-relative">
                                        <label>Search<span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete-custom-control [name]="'RCDM'"
                                            [matOptionValueProperty]="'employeeId'" [matOptionViewProperty]="'fullName'"
                                            [selectedOptionSearchkeywordProperty]="'rcdmFullName'"
                                            [formGroup]="lssStageOneForm" formControlName="rcdmFullName"
                                            (clearDependentFormControlValues)="clearFormControlValues('RCDM')"
                                            [customInputGroupStyle]="{'margin-top':'27px'}"
                                            [getLoopableObjectRequestObservable]="getLoopableRCDMObjectRequestObservable"
                                            (emitSelectedOption)="onSelectedItemOption($event,'RCDM')">
                                        </mat-select-autocomplete-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input-custom-control [extraClassNames]="'disabled'" formControlName="rcdmName">
                                        </input-custom-control>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>