<app-lead-lifecycle-breadcrumb-icon-actions-header [shouldShowHeaderContainerOnly]="true" [breadCrumb]="breadCrumb">
</app-lead-lifecycle-breadcrumb-icon-actions-header>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form class="fidelity-popup-form" customForm [formGroup]="lssServicePriceForm" (ngSubmit)="submit()">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: standardHeightForPscrollContainer}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">LSS Service Pricing</h1>
                            <div class="d-flex justify-content-around align-items-center lead-stage-navigator">
                                <button type="button">
                                    <i class="icon icon-backward" (click)="redirectForwardBackward('backward')"></i>
                                </button>
                                <span class="d-flex stage-no mr-2 ml-2">4</span>
                                <button type="button">
                                    <i class="icon icon-forward" (click)="redirectForwardBackward('forward')"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <mat-radio-group formControlName="isServiceOverAllDiscountOnMonthlyFee"
                                            (change)="onChangeDiscountFee()">
                                            <mat-radio-button class="fidelity-radio-btn" [value]='true'>Overall Discount
                                            </mat-radio-button>
                                            <mat-radio-button class="fidelity-radio-btn" style="margin-left: 0px;"
                                                [value]='false'>Specific services to be discounted</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group d-flex justify-content-start align-items-center">
                                                <mat-checkbox class="fidelity-checkbox" [disabled]="!disabled"
                                                    (change)="changePercentageWithoutform()"
                                                    formControlName="isPercentage">Percentage (Else fixed amount)
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                <input class="form-control fidelity-form-input"
                                                    *ngIf="!lssServicePriceForm?.get('isPercentage')?.value"
                                                    [maxlength]="formConfigs.seven" [validateInput]="isADecimalOnly"
                                                    [ngClass]="{'disabled': !disabled}"
                                                    placeholder="Discount value (Fixed or %)"
                                                    formControlName="serviceDiscountAmount" type="text" />
                                                <input class="form-control fidelity-form-input"
                                                    [validateInput]='isADecimalOnly' [dropSpecialCharacters]="false"
                                                    mask="percent.2" (input)="onDiscountPercentageChanges()" max="99"
                                                    *ngIf="lssServicePriceForm?.get('isPercentage')?.value"
                                                    [ngClass]="{'disabled': !disabled}"
                                                    placeholder="Discount value (Fixed or %)"
                                                    formControlName="serviceDiscountPercentage" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="!disabled">
                                <div class="row header-row mt-3">
                                    <div class="col-3">Service Category</div>
                                    <div class="col-3">Service Type </div>
                                    <div class="col-2">Service ID</div>
                                    <div class="col-1">Percentage</div>
                                    <div class="col-2">Fixed</div>
                                    <div class="col-1"></div>
                                </div>
                                <div class="row children-row mt-2" formArrayName="services"
                                    *ngFor="let obj of lssServicePriceForm?.get('services')?.controls;let i=index">
                                    <ng-container [formGroupName]="i">
                                        <div class="col-3">
                                            <select id="site_type" #input class="form-control fidelity-form-input"
                                                (change)="onChangeServiceCategory(obj.value.serviceCategoryId)"
                                                name="Service Category" formControlName="serviceCategoryId">
                                                <option value="" disabled>Select Service Category</option>
                                                <option *ngFor="let cm of serviceCategories" [value]="cm.id">
                                                    {{cm.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <select id="site_type" #input class="form-control fidelity-form-input"
                                                (change)="onChangeService(obj.value.serviceId,i)" name="Service"
                                                formControlName="serviceId">
                                                <option value="" disabled>Select Service</option>
                                                <option
                                                    *ngFor="let cm of servicesBasedOnServiceCategoryId[obj.value.serviceCategoryId]"
                                                    [value]="cm.id">
                                                    {{cm.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <input class="form-control fidelity-form-input" disabled type="text"
                                                formControlName="serviceNumber">
                                        </div>
                                        <div class="col-1">
                                            <div class="form-group">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <mat-checkbox class="fidelity-checkbox"
                                                        (change)="changePercentage(i)" formControlName="isPercentage">%
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <input class="form-control fidelity-form-input"
                                                    *ngIf="!obj.value.isPercentage" #input
                                                    [validateInput]="isADecimalOnly"
                                                    (input)="onPercentageChanges(i,'amt')" maxlength="10"
                                                    formControlName="discountAmount" type="text" />
                                                <input *ngIf="obj.value.isPercentage" #input
                                                    class="form-control fidelity-form-input"
                                                    [validateInput]='isADecimalOnly' [dropSpecialCharacters]="false"
                                                    mask="percent.2" (input)="onPercentageChanges(i,'per')"
                                                    formControlName="discountPercentage" type="text" />
                                            </div>
                                        </div>
                                        <div>
                                            <button *ngIf="i!==0 || services.length>1" style="margin-left: -30px;"
                                                type="button" matTooltip="Delete" class="circle-minus-btn"
                                                (click)="removServiceListItem(i)">
                                                <i aria-hidden="true" class="icon icon-delete"></i>
                                            </button>
                                            <button *ngIf="i==0" type="submit"
                                                class="ml-4 fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                                (click)="addServiceInfoItems()" title="Add" matTooltip="Add">
                                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>