<!-- Email modal -->
<div class="fidelity-popup-heading container-fluid p-relative">{{shiftModel.shiftDayType=='weekdays'?'Week Days':
    shiftModel.shiftDayType=='weekends'?'Week Ends':'Public Holidays'}} - {{shiftModel.lssShiftId?'Edit':'Add'}}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <form class="fidelity-popup-form" *ngIf="shiftForm" customForm [formGroup]="shiftForm" (ngSubmit)="onSubmit()"
            style="width: 652px;">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Shift ID<span class="mandatory-field">*</span></label>
                        <input disabled formControlName="lssShiftRefNo" class="form-control fidelity-form-input"
                            placeholder="Shift ID" type="text" />
                    </div>
                </div>
                <div class="col-4">
                    <label>Shift<span class="mandatory-field">*</span></label>
                    <div class="form-group">
                        <mat-radio-group formControlName="isDayShift">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Day
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">Night
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-4 d-flex  align-items-center">
                        <mat-checkbox formControlName="is24HourShift"
                        [checked]="shiftForm?.get('is24HourShift')?.value==true"
                         class="fidelity-checkbox" >24 Hours Shift</mat-checkbox>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Number Of Guards<span class="mandatory-field">*</span></label>
                        <input-custom-control formControlName="noOfGuards">
                        </input-custom-control>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Grade<span class="mandatory-field">*</span></label>
                        <select-custom-control [loopableArray]='shiftModel.grades' [defaultOptionValue]="null"
                            formControlName="lssGradeId">
                        </select-custom-control>
                    </div>
                </div>

                <div class="col-4 fidelity-date-picker-con p-relative">
                    <label class="d-block" for="">Start Time<span class="mandatory-field">*</span></label>
                    <div class="form-group">
                      <p-calendar formControlName="startShiftTime" [readonlyInput]="true" styleClass="w-100" [timeOnly]="true"></p-calendar>
                    </div>
                </div>
                <div class="col-4 fidelity-date-picker-con p-relative">
                    <label class="d-block" for="">End Time<span class="mandatory-field">*</span></label>
                    <div class="form-group">
                      <p-calendar formControlName="endShiftTime" [readonlyInput]="true" styleClass="w-100" [timeOnly]="true" ></p-calendar>
                    </div>
                </div>
            </div>
            <hr>
            <mat-dialog-actions align="end">
                <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
                    cdkFocusInitial>Save</button>
                <button id="Feature_cancel_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
                    [mat-dialog-close]="true">Cancel</button>
            </mat-dialog-actions>
        </form>

</mat-dialog-content>

