@import '../../../../../../../variables.scss';

.contracts-box-con {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 7px;
    font-size: 1rem;
    width: 100%;

    .contracts-box-header {
        padding: 10px;
        border-radius: 7px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        color: #fff;
        font-family: 'Calibri_Bold', sans-serif!important;;
    }

    .contracts-box-body {
        border-radius: 7px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0px 1px 1px 1px #ccc;
        border-bottom: 1px solid #ccc;

        .option-con {
            padding: 10px;
            color: #00b7df;
            position: relative;
            &:nth-child(even) {
                background-color: $fidelity-grey2;
            }
            span {
                cursor: pointer;
            }
        }

        .option-con.active-option {
            color: #00644A;
        }
    }
}


.option-con-info {
    width: 40vw;
    border-radius: 7px;
    box-shadow: 0px 1px 1px 1px #ccc;
    padding: 10px;
    border: 1px solid #eaeaea;
    top: 10px;
    left: 90px;
    background-color: #fff;
    z-index: 100;
}

.green-box-con {
    .contracts-box-header {
        border: $fidelity-green;
        background-color: $fidelity-green;
    }
}

.grey-box-con {
    .contracts-box-header {
        border: $fidelity-grey1;
        background-color: $fidelity-grey1;
    }
}


.service-table{
  border-collapse: collapse;
  width: 100%;

  thead{
    background-color: #00644A;
    color: #fff;
    th{
      padding:8px
    }

  }
  td{
    padding:5px;
    border:1px solid #ddd;
  }

}
