<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
    </app-page-header>
</div>

<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <div class="ibox-body brown-border view-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Transfer Request Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? requestDetails.requestNumber :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Transfer Barcode</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? requestDetails.transferBarcode :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Issuing Warehouse</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? requestDetails.issuingWarehouse :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Issuing Location</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? requestDetails.issuingLocation :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Receiving Warehouse</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? requestDetails.receivingWarehouse :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Receiving Location</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? requestDetails.receivingLocation :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">CreatedBy</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? requestDetails.createdBy : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Created Date</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? (requestDetails.createdDate |
                                    date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6" *ngIf="(requestDetails?.isDirectCollection == true || requestDetails?.isDirectCollection == false)">
                        <div class="d-flex">
                            <span id="" class="key">
                                <span class="d-inline-block">
                                    <mat-checkbox class="fidelity-checkbox" [checked]="requestDetails.isDirectCollection">Direct Collection</mat-checkbox>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Courier Name</span>
                            <span class="d-inline-block">{{requestDetails ? requestDetails.courierName : '-'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Actioned By</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? requestDetails?.actionedByName :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6" *ngIf="requestDetails?.actionedDate">
                        <div class="d-flex">
                            <span id="" class="key">Actioned Date</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{requestDetails ? requestDetails.actionedDate : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Status</span>
                            <span id="" class="">
                                <span class="status-label" [ngClass]="requestDetails?.cssClass">{{
                                    requestDetails?.radioRemovalTransferRequestStatusName}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Supporting Documents</span>
                            <div class="row">
                                <div class="col-6">
                                    <div class=""  *ngFor="let selected of requestDetails?.radioRemovalTransferRequestDocumentsEditDTOs;let index = index">
                                        <a  [href]="selected.filePath" download>{{selected.docName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="table-records" *ngIf="requestDetails">
                    <div class="row">
                        <div class="col-4"  style="height: 39px;">
                            <div class="form-group" style="height: 39px;">
                                <label> <b>Stock Code</b> </label>
                            </div>
                        </div>
                        <div class="col-4"  style="height: 39px;">
                            <div class="form-group" style="height: 39px;">
                                <label> <b>Stock Description</b> </label>
                            </div>
                        </div>
                        <div class="col-4"  style="height: 39px;">
                            <div class="form-group" style="height: 39px;">
                                <label> <b>Qty</b></label>
                            </div>
                        </div>
                        <div class="col-1"> </div>
                    </div>
                    <div class="row"
                        *ngFor="let detail of requestDetails?.radioRemovalTransferRequestItemsEditDTOs;let index = index">
                        <div class="col-4">
                            <div class="form-group">
                                <input maxlength="100" class="form-control fidelity-form-input" id="itemCode"
                                    type="text" [value]="detail.itemCode" disabled/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input maxlength="100" class="form-control fidelity-form-input" id="itemName"
                                    type="text" [value]="detail.itemName" disabled />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group" >
                                <input maxlength="100" class="form-control fidelity-form-input" id="quantity"
                                    type="text" [value]="detail.quantity" disabled />
                            </div>
                        </div>
                        <div class="col-1"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
