<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" ></app-page-header>
</div>
<form *ngIf="showFilterForm" [formGroup]="filterForm" (ngSubmit)="submitFilter()"
class="p-absolute" style="top: 50px;left: 20px;right: 68px; z-index: 10;">
<div class="page-heading p-relative">
    <div class="filter-dropdwon-con">
        <div class="row">
            <div class="col-4">
                <div class="form-group fidelity-multiselect-dropdown-con">
                    <label>Issuing Warehouse</label>
                    <select  id="warehouse" (change)="onChangeIssuingWarehouse($event.target.value)"
                        class="fidelity-form-input form-control" formControlName="IssuingWarehouseIds">
                        <option value="">Select</option>
                        <option *ngFor="let warehouse of issuingWarehouseList" [value]="warehouse?.id">
                            {{warehouse?.displayName}}</option>
                     </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group fidelity-multiselect-dropdown-con">
                    <label>Issuing Location</label>
                    <select  id="warehouse"
                    class="fidelity-form-input form-control" formControlName="IssuingLocationIds">
                    <option value="">Select</option>
                    <option *ngFor="let warehouse of issuingLocationList" [value]="warehouse?.id">
                        {{warehouse?.displayName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group fidelity-multiselect-dropdown-con">
                    <label>Receiving Warehouse</label>
                    <select  id="warehouse" (change)=onChangeReceivingWarehouse($event.target.value);
                    class="fidelity-form-input form-control" formControlName="ReceivingWarehouseIds">
                    <option value="">Select</option>
                    <option *ngFor="let warehouse of receivingWarehouseList" [value]="warehouse?.id">
                        {{warehouse?.displayName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group fidelity-multiselect-dropdown-con">
                    <label>Receiving Location</label>
                    <select  id="warehouse" (change)=onChangeReceivingWarehouse($event.target.value);
                    class="fidelity-form-input form-control" formControlName="ReceivingLocationIds">
                    <option value="">Select</option>
                    <option *ngFor="let warehouse of receivingLocationList" [value]="warehouse?.id">
                        {{warehouse?.displayName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group fidelity-multiselect-dropdown-con">
                    <label>Created Date</label>
                    <div class="form-group fidelity-date-picker-con p-relative dealer-maintenance-date-con">
                       <div class="row">
                          <div class="col-6">
                            <p-calendar [minDate]="startTodayDate" [readonlyInput]="true" formControlName="CreatedFromDate" styleClass="w-100"></p-calendar>
                          </div>
                          <div class="col-6">
                            <p-calendar [minDate]="startTodayDate" [readonlyInput]="true" formControlName="CreatedToDate"[style]="{'margin-left': '26px'}"></p-calendar>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group fidelity-multiselect-dropdown-con">
                    <label>Receiving Location</label>
                    <p-multiSelect formControlName="StatusIds" appendTo="body" optionLabel="displayName" optionValue="id"
                    [defaultLabel]="'Select'"
                    autoWidth="false"  [style]="{'width':'100%'}" [options]="statusList">
                    </p-multiSelect>
                </div>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                    (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</form>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [loading]="loading" [dataList]="dataList" [first]="first"  [searchFirst]="true"
    [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" (onSelectedRows)="onChangeSelecedRows($event)"
     [totalRecords]="totalRecords" [customScroll]="false" (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>






