
<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Stock Management View </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"> Inventory Management </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Stock Management List </a>
        </li>
        <li> Stock Management View </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
        <a  class="fidelity-btn-circle fidelity-white-btn" matTooltip="Edit" (click)="navigateToEdit()">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
        <a  class="fidelity-btn-circle fidelity-white-btn" (click)="onButtonClick()" matTooltip="Export">
            <i aria-hidden="true" class="fa fa-download"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
        <div class="custom-scroll1" style="overflow-x: auto;height: 76vh">
            <div class="ibox-body brown-border view-box mb-3">
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Stock Code</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.StockCode}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Stock Description</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.StockDescription}} </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Stock Code Barcode </span>
                            <span id="" class="" *ngIf="stockManagementDetails?.stockCodeBarcode">
                                <span class="">
                                    <div class="col-12 barCodePrint">
                                        <div class="row">
                                            <div class="col-6">
                                                <i class="fa fa-barcode barCodePrintLabel" aria-hidden="true"></i>
                                                <span style="font: size 16px;"> <b>{{stockManagementDetails?.stockCodeBarcode}}</b> </span>
                                            </div>
                                            <div class="col-6">
                                                <button class="print-btn circle-plus-btn" (click)="openBarcodeModal()" matTooltip="Print">
                                                    <i class="icon icon-print"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Warehouse</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.Warehouse}} </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Storage Location</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.StorageLocation}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Ownership</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.Ownership}} </span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Valuation Class</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.ValuationClass}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Condition</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.Condition}} </span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Qty on Hand</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.QtyOnHand}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Moving Average Price (R)</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.MovingAveragePrice}} </span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Total Value (R)</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.TotalValue}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Min Stock Threshold</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.MinimumThreshold}} </span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Max Stock Threshold</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.MaximumThreshold}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Procurable</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.Procurable}} </span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Sellable</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.Sellable}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Sellable From</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.SellableFrom | date }} </span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Obsolete Stock</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.ObsoleteStock}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Last Movement Date</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.LastMovementDate | date }} </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Creation Date</span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{stockManagementDetails?.CreatedDate ? (stockManagementDetails?.CreatedDate | date ) : '-'}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Unit of Measure</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.UnitOfMeasure}} </span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Supplier Warranty Period</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.SupplierWarrentyPeriod}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Component Group</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.CompoentGroup}} </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">System Type</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.SystemType}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Brand</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.Brand}} </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Component</span>
                            <span id="" class="value">
                                <span class="d-inline-block"> {{stockManagementDetails?.Component}} </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Stock Code </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{stockManagementDetails?.isNotSerialized ? "Not Serialized" : "Serialized"}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="ibox-body brown-border" *ngIf="!stockManagementDetails?.isNotSerialized && !stockManagementDetails?.isMainLocation">
                <div class="page-sub-title"> {{stockManagementDetails?.StorageLocation}} </div>
                <app-stock-management-bin-view-list [locationIds]="locationId" [stockIds]="stockId">
                </app-stock-management-bin-view-list>
            </div>
            <div  class="ibox-body brown-border mt-3" *ngIf="stockManagementDetails?.isMainLocation">
                <div class="row">
                    <div class="accordion-header-row d-flex justify-content-between">
                        <div class="page-sub-title mb-2" style="width:100% !important"> Bin Location
                          <!-- <span class="float-right">
                            <span class="d-flex fidelity-search-input-con">
                              <button type="button" class="fidelity-btn-circle fidelity-white-btn" (click)="onButtonClick()"
                              matTooltip="Export">
                              <i aria-hidden="true" class="fa fa-download"></i>
                              </button>
                              </span>
                          </span> -->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-12" *ngIf="stockManagementDetails?.isNotSerialized">
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let bins of stockManagementBinDetails; let i=index"
                                (opened)="panelOpenState = true;" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="col-lg-12">
                                            <div class="row mt-2">
                                                <div class="col-lg-6">
                                                    <div class="d-flex">
                                                        <span id="" class="key"> </span>
                                                        <span id="" class="value">
                                                            <span class="d-inline-block" style="padding-left: 10px; font-weight: 600;">
                                                                {{bins?.binDetails}}
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="d-flex">
                                                        <span id="" class="key"> Quantity </span>
                                                        <span id="" class="value">
                                                            <span class="d-inline-block" style="padding-left: 10px; font-weight: 600;">
                                                                {{bins?.itemCount}}
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="col-12" *ngIf="stockManagementBinDetails?.length > 0" >
                        <mat-accordion *ngIf="!stockManagementDetails?.isNotSerialized">
                            <mat-expansion-panel *ngFor="let bins of stockManagementBinDetails; let i=index"
                                (opened)="panelOpenState = true;" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="col-lg-12">
                                            <div class="row mt-2">
                                                <div class="col-lg-6">
                                                    <div class="d-flex">
                                                        <span id="" class="key"> </span>
                                                        <span id="" class="value">
                                                            <span class="d-inline-block" style="padding-left: 10px; font-weight: 600;">
                                                                {{bins?.binDetails}}
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="d-flex">
                                                        <span id="" class="key"> Quantity </span>
                                                        <span id="" class="value">
                                                            <span class="d-inline-block" style="padding-left: 10px; font-weight: 600;">
                                                                {{bins?.itemCount}}
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <app-stock-management-bin-view-list [locationBinIds]="bins?.locationbinId" [locationIds]="locationId" [stockIds]="stockId" [pageLimit]="pageLimit">
                                </app-stock-management-bin-view-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

