<div class="fidelity-popup-heading container-fluid">{{btnName}} Suburb
    <button mat-icon-button class="close-button " style="float: right;margin-top: -10px;" (click)="closePopUp()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form (ngSubmit)="save()" customForm *ngIf="suburbAddEditForm" [formGroup]="suburbAddEditForm" class="fidelity-popup-form">
    <mat-dialog-content>
        <div class="row p-4">
            <div class="col-md-12">
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="suburbName">Suburb Name<span
                            class="mandatory-field">*</span></label>
                    <div class="col-md-12">
                        <input-custom-control formControlName="suburbName" [maxlength]="75">
                        </input-custom-control>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="countryId">Country<span
                            class="mandatory-field">*</span></label>
                    <div class="col-md-12">
                        <select-custom-control [loopableArray]='countries'
                            (change)="loadProvincesbyCountries($event.target.value)" formControlName="countryId">
                        </select-custom-control>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="provinceId">Province<span
                            class="mandatory-field">*</span></label>
                    <div class="col-md-12">
                        <select-custom-control [loopableArray]='provinces' formControlName="provinceId">
                        </select-custom-control>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="cityId">City<span
                            class="mandatory-field">*</span></label>
                    <div class="col-md-12">
                        <select-custom-control [loopableArray]='cities' formControlName="cityId">
                        </select-custom-control>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="tierId">Tier<span
                            class="mandatory-field">*</span></label>
                    <div class="col-md-12">
                        <select-custom-control [loopableArray]='tiers' formControlName="tierId">
                        </select-custom-control>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-md-12 col-form-label" for="description">Description</label>
                    <div class="col-md-12">
                        <text-area-custom-control formControlName="description">
                        </text-area-custom-control>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button id="suburb_save" class="btn btn-md-fidelity fidelity-btn-brown" mat-button
            type="submit">{{btnName}}</button>
        <button id="suburb_cancel" type="button" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
            (click)="closePopUp()">Cancel</button>
    </mat-dialog-actions>
</form>
