<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" >
</app-page-header>

<div class="page-content fade-in-up">
    <div class="custom-scroll1 custom-scroll1-sub">
        <div class="ibox white-bg" style="height: unset !important;">
            <div class="ibox-body brown-border view-box">
                <div class="row mt-2">
                    <app-view-page [col]="2" [viewDetail]="ReturnForRepairRequestviewDetail" [template]="1"></app-view-page>                     
                </div>        
            </div>
        </div>
        <div style="margin-bottom: 7px;margin-top: 5px;">
            <app-page-tab [selectedIndex]="selectedTabIndex" [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList" (tabClicked)="tabClick($event)"></app-page-tab>
        </div>
        <div class="ibox white-bg" style="height: unset !important;">
            <div class="ibox-body brown-border view-box" style="height: 25vh;">
                <div *ngIf="selectedTabIndex==0">
                    <div class="row" style="margin-bottom: -18px;">
                        <div class="col-2">
                            <div class="form-group" style="height: 39px;">
                                <label> <b>Stock Code</b> </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group" style="height: 39px;">
                                <label> <b>Stock Description</b> </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label> <b>Unit Of Measure</b></label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label> <b>Return Qty</b></label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label> <b>Received Qty</b></label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label> <b>Variance Qty</b></label>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let item of repairRequestDTO;let i=index" class="row" style="margin-bottom: -17px;">
                        <div class="col-2">
                            <div class="form-group" style="height: 39px;">
                                <div class="form-group">
                                    <input maxlength="100" class="form-control fidelity-form-input" style="background-color: #e9ecef;color: rgb(22, 109, 255);text-decoration: underline;"
                                    [value]="item?.itemCode" (click)=onClickStockCode1(item?.itemCode,i)
                                    type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group" style="height: 39px;">
                                <input maxlength="100" disabled class="form-control fidelity-form-input"
                                    [value]="item?.itemName" type="text" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input maxlength="100" disabled class="form-control fidelity-form-input"
                                    [value]="item?.uom" type="text" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input maxlength="100" disabled class="form-control fidelity-form-input"
                                    [value]="item?.returnQty" type="text" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input maxlength="100" disabled class="form-control fidelity-form-input"
                                    [value]="item?.receivedQty" type="text" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input maxlength="100" disabled class="form-control fidelity-form-input"
                                    [value]="item?.varianceQty" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedTabIndex==1">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let item of repairRequestReceivingBatches;let i=index">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <!-- <div > -->
                                        <span id="" class="key" style="font-size: 13px;margin-top: 16px;">Received ID :
                                        </span>
                                        <span id="" class="value" style="font-size: 13px;margin-top: 16px;"><span
                                                class="d-inline-block" style="font-size: 13px;">{{item.batchNumber}}</span></span>
                                        <span id="" class="key" style="font-size: 13px;margin-top: 16px;">Receiving Clerk :
                                        </span>
                                        <span id="" class="value" style="font-size: 13px;margin-top: 16px;"><span
                                                class="d-inline-block" style="font-size: 13px;">{{item.receivingClerk}}</span></span>
                                        <span id="" class="key" style="font-size: 13px;margin-top: 16px;width: 75vh;">Received Date :
                                        </span>
                                        <span id="" class="value" style="font-size: 13px;margin-top: 16px;"> <span
                                                class="d-inline-block" style="font-size: 13px;">{{item.receivedDate}}</span></span>
                                    <!-- </div> -->
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="row" style="margin-bottom: -18px;">
                                <div class="col-2">
                                    <div class="form-group" style="height: 39px;">
                                        <label> <b>Stock Code</b> </label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group" style="height: 39px;">
                                        <label> <b>Stock Description</b> </label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label> <b>Unit Of Measure</b></label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label> <b>Return Qty</b></label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label> <b>Received Qty</b></label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label> <b>Variance Qty</b></label>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor="let subItem of item?.repairRequestReceivedBatchesItemDTO;let i=index"
                                class="row" style="margin-bottom: -17px;">
                                <div class="col-2">
                                    <div class="form-group" style="height: 39px;">
                                        <div class="form-group">
                                            <input maxlength="100" class="form-control fidelity-form-input" style="background-color: #e9ecef;color: rgb(22, 109, 255);text-decoration: underline;"
                                                [value]="subItem?.itemCode" 
                                                type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group" style="height: 39px;">
                                        <input maxlength="100" disabled class="form-control fidelity-form-input"
                                            [value]="subItem?.itemName" type="text" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input maxlength="100" disabled class="form-control fidelity-form-input"
                                            [value]="subItem?.uom" type="text" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input maxlength="100" disabled class="form-control fidelity-form-input"
                                            [value]="subItem?.returnQty" type="text" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input maxlength="100" disabled class="form-control fidelity-form-input"
                                            [value]="subItem?.receivedQty" type="text" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input maxlength="100" disabled class="form-control fidelity-form-input"
                                            [value]="subItem?.varianceQty" type="text" />
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div *ngIf="selectedTabIndex==2">
                    <div class="custom-scroll1" style="overflow-x: auto;height: 20vh">
                        <div class="row flex-nowrap" style="margin-bottom: -18px;" >
                            <div class="col-2">
                                <div class="form-group" style="height: 39px;">
                                    <label> <b>Stock Code</b> </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group" style="height: 39px;">
                                    <label> <b>Stock Description</b> </label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label> <b>Serial Number</b></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label> <b>Warranty Status</b></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label> <b>Action</b></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label> <b>Comments</b></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label> <b>Item Status</b></label>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let item of repairRequestTestingResult;let i=index" class="row flex-nowrap"
                            style="margin-bottom: -17px;">
                            <div class="col-2 col-margin">
                                <div class="form-group" style="height: 39px;">
                                    <div class="form-group">
                                        <input maxlength="100" disabled class="form-control fidelity-form-input"
                                            [value]="item?.itemCode" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 col-margin">
                                <div class="form-group" style="height: 39px;">
                                    <input maxlength="100" disabled class="form-control fidelity-form-input"
                                        [value]="item?.itemName" type="text" />
                                </div>
                            </div>
                            <div class="col-2 col-margin">
                                <div class="form-group">
                                    <input maxlength="100" disabled class="form-control fidelity-form-input"
                                        [value]="item?.serialNumber" type="text" />
                                </div>
                            </div>
                            <div class="col-2 col-margin">
                                <div class="form-group">
                                    <input maxlength="100" disabled class="form-control fidelity-form-input"
                                        [value]="item?.warrentyStatusName" type="text" />
                                </div>
                            </div>
                            <div class="col-2 col-margin">
                                <div class="form-group">
                                    <input maxlength="100" disabled class="form-control fidelity-form-input"
                                        [value]="item?.action" type="text" />
                                </div>
                            </div>
                            <div class="col-2 col-margin">
                                <div class="form-group">
                                    <input maxlength="100" disabled class="form-control fidelity-form-input"
                                        [value]="item?.comments" type="text" />
                                </div>
                            </div>
                            <div class="col-2 col-margin">
                                <div class="form-group">
                                    <input maxlength="100" disabled class="form-control fidelity-form-input"
                                        [value]="item?.itemStatusName" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div> 
        </div>
        <div style="margin-bottom: 7px;margin-top: 5px;">
            <app-page-tab [selectedIndex]="selectedTabIndex1" [tabsList]="primengTableConfigProperties1?.tableComponentConfigs?.tabsList" (tabClicked)="tabClick1($event)"></app-page-tab>
        </div>
        <div class="ibox white-bg" style="height: unset !important;" *ngIf="selectedTabIndex1==0">
            <div class="ibox-body brown-border view-box" style="height: 50vh;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 50vh">
                    <div class="row p-relative" style="flex-wrap: nowrap;">
                        <div class="col-2">
                            <label class="d-block">Stock Code</label>
                        </div>
                        <div class="col-2">
                            <label class="d-block">Temporary Stock Code</label>
                        </div>
                        <div class="col-2">
                            <label class="d-block">Serial Number</label>
                        </div>
                        <div class="col-3">
                            <label class="d-block">RFR Signed Document</label>
                        </div>
                        <div class="col-3">
                            <label class="d-block">Supplier Quote</label>
                        </div>
                        <div class="col-3">
                            <label class="d-block">Warehouse Generate Quote</label>
                        </div>
                        <div class="col-3">
                            <label class="d-block">Final Quote</label>
                        </div>
                        <div class="col-2">
                            <label class="d-block">Reference</label>
                        </div>
                    </div>
                    <div class="" 
                        *ngFor="let obj of this.documentDetails;let i=index">
                        <div class="row p-relative" style="flex-wrap: nowrap;">
                            <div class="col-2">
                                <div class="form-group">
                                    <input type="text" [value]="obj.stockCode" disabled
                                        class="fidelity-form-input form-control ">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <input type="text"  [value]="obj.tempStockCode" disabled
                                        class="fidelity-form-input form-control">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <input type="text" [value]="obj.serialNumber" disabled
                                        data-toggle="tooltip" data-placement="top" title="{{obj.serialNumber}}"  class="fidelity-form-input form-control">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <input type="text" [value]="obj.supplierDocName" disabled
                                        class="fidelity-form-input form-control">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <a  href="{{ obj?.rfrSigedPath}}"  download style="background-color: #e9ecef;color: rgb(22, 109, 255);text-decoration: underline;"
                                        class="fidelity-form-input form-control">{{ obj?.rfrSigedDocName}} </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <a  href="{{ obj?.supplierPath}}"  download style="background-color: #e9ecef;color: rgb(22, 109, 255);text-decoration: underline;"
                                    class="fidelity-form-input form-control">{{ obj?.supplierDocName }} </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <a  href="{{ obj?.warehouseQuotePath}}"  download style="background-color: #e9ecef;color: rgb(22, 109, 255);text-decoration: underline;"
                                    class="fidelity-form-input form-control">{{ obj?.warehouseQuoteDocName }} </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <a  href="{{ obj?.finalQuotePath}}"  download style="background-color: #e9ecef;color: rgb(22, 109, 255);text-decoration: underline;"
                                    class="fidelity-form-input form-control">{{ obj?.finalQuoteDocName}} </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <input type="text" [value]="obj.reference" disabled
                                        class="fidelity-form-input form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
        <div class="text-center mt-3">
            <button id="cancel_new_leads_btn" type="button" (click)="navigate()"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Back</button>
        </div>
    </div>
</div>
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="serialInfo" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '1200px'}">
    <p-header>
        Serial Info
    </p-header>
    <div class="confirm-msg" *ngIf="selectedTabIndex==0">
        <div class="row mt-2">
            <div class="col-lg-6 custom-col">
                <div class="d-flex">
                    <span id="" class="key">Stock Code</span>
                    <span id="" class="value" style="font-weight: 600; margin-left: 43px;">
                        <span class="d-inline-block">{{itemCodeTab2 ? itemCodeTab2:'-'}}</span>
                    </span>
                </div>
            </div>
            <div class="col-lg-6 custom-col">
                <div class="d-flex">
                    <span id="" class="key">Stock Description</span>
                    <span id="" class="value" style="font-weight: 600; margin-left: 43px;">
                        <span class="d-inline-block">{{itemNameTab2 ? itemNameTab2:'-'}}</span>
                    </span>
                </div>
            </div>
            <div class="col-lg-6 custom-col">
                <div class="d-flex">
                    <span id="" class="key">Return to Customer Quantity</span>
                    <span id="" class="value" style="font-weight: 600; margin-left: 43px;">
                        <span class="d-inline-block">{{returnQty ? returnQty:'-'}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
              <div  class="col-3">

              </div>
            </div>

         
                <div class="custom-scroll1" style="overflow-x: auto;height: 40vh">
                    <div class="row" style="flex-wrap: nowrap;">
                        <div class="col-3">
                             <label class="d-block">Serial Number</label>
                        </div>
                        <div class="col-3">
                              <label class="d-block">Temp Stock Code</label>
                        </div>
                         <div class="col-3">
                             <label class="d-block">Warrenty Status Name</label>
                         </div>
                         <div class="col-3">
                             <label class="d-block">Action</label>
                         </div>
                         <div class="col-3">
                             <label class="d-block">Item Status</label>
                         </div>
                         <div class="col-3">
                             <label class="d-block">Return To Customer</label>
                         </div>
                         <div class="col-3">
                             <label class="d-block">Supplier Name</label>
                         </div>
                         <div class="col-3">
                             <label class="d-block">Supplier Address</label>
                         </div>
                     </div>
                     <div class="" 
                     *ngFor="let obj of repairRequestItemDetailsDTO;let i=index">
                         <div class="row p-relative"  style="flex-wrap: nowrap;">
                             <div class="col-3">
                                 <div class="form-group">
                                     <input type="text"  disabled [value]="obj.serialNumber"
                                         class="fidelity-form-input form-control ">
                                 </div>
                             </div>
                             <div class="col-3">
                                 <div class="form-group">
                                     <input type="text"  disabled [value]="obj.tempStockCode"
                                         class="fidelity-form-input form-control ">
                                 </div>
                             </div>   
                             <div class="col-3">
                                 <div class="form-group">
                                     <input type="text"  disabled [value]="obj.warrentyStatusName"
                                         class="fidelity-form-input form-control ">
                                 </div>
                             </div>  
                             <div class="col-3">
                                 <div class="form-group">
                                     <input type="text" disabled [value]="obj.action"
                                         class="fidelity-form-input form-control ">
                                 </div>
                             </div>               
                       
                             <div class="col-3">
                                <div class="form-group">
                                    <input type="text" disabled [value]="obj.itemStatusName"
                                        class="fidelity-form-input form-control ">
                                </div>
                            </div> 
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" disabled [value]="obj.returnToCustomer? 'Yes':'No'"
                                        class="fidelity-form-input form-control ">
                                </div>
                            </div> 
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" disabled [value]="obj.supplierName"
                                        class="fidelity-form-input form-control ">
                                </div>
                            </div> 
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" disabled [value]="obj.supplierAddressName"
                                        class="fidelity-form-input form-control ">
                                </div>
                            </div> 
                         </div>
                      </div>
                </div>
        </div>
    </div>
    <div class="confirm-msg" *ngIf="selectedTabIndex==1">
        <div class="row mt-2">
            <div class="col-lg-6 custom-col">
                <div class="d-flex">
                    <span id="" class="key">Stock Code</span>
                    <span id="" class="value">
                        <span class="d-inline-block">{{itemCodeTab2 ? itemCodeTab2:'-'}}</span>
                    </span>
                </div>
            </div>
            <div class="col-lg-6 custom-col">
                <div class="d-flex">
                    <span id="" class="key">Stock Description ss</span>
                    <span id="" class="value">
                        <span class="d-inline-block">{{itemNameTab2 ? itemNameTab2:'-'}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</p-dialog>