
<div class="fidelity-popup-heading container-fluid">Change Status</div>
<app-popup-loader></app-popup-loader>
    <form class="fidelity-popup-form">
    <mat-dialog-content>
        <form [formGroup]="changeStatusForm" customForm *ngIf="changeStatusForm">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="form-group">
                        <label class="d-block">Select Status <span class="mandatory-field">*</span></label>
                        <select-custom-control 
                        [optionsCaption]="'Select Status'" 
                        [loopableArray]='statusList'
                        [shouldShowCaption]="false"
                            formControlName="isActive">
                        </select-custom-control>
                        <!-- <select class="form-control fidelity-form-input"  formControlName="isActive" >
                            <option *ngFor="let status of statusList"
                                [value]="status.id">
                                {{status.displayName}}
                            </option>
                        </select> -->
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn fidelity-btn-brown mr-2" (click)="onChangeStatus()" mat-button type="submit" >Save</button>
                <button  class="btn fidelity-btn-grey" mat-button [mat-dialog-close]="true">Cancel</button>
            </div>
        </form>
    </mat-dialog-content>
</form>
