@import "../../../../variables.scss";


::ng-deep .lead-category-field {
  .mat-form-field-infix .mat-select {
    padding: 8.2px 8px;
  }
}

::ng-deep .lead-category-field {
   .mat-form-field-infix .mat-select {
    padding: 8.2px 8px!important;
  }
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
}
.input-group-btn {
  cursor: pointer;
}

.ibox .delete-row {
  width: 30px !important;
  height: 30px !important;
  font-size: 0.9rem;
  color: #cccccc !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ibox .delete-row:hover {
  background-color: #ed4a4a;
  border-radius: 50% !important;
  color: #ffffff;
}

.form-group {
  width: 80%;
}



.ibox {
  height: calc(100vh - 35vh) !important;
  .d-flex {
    margin: 10px 0;
  }

  .item-view-key {
    width: 40%;
    color: $fidelity-grey1;
    font-size: 1.2rem;
    word-break: break-all;
    display: inline-block;
  }
  .item-view-value {
    color: #000;
    font-size: 1.2rem;
    width: 60%;
    display: inline-block;
    word-break: break-all;
  }
}

.no-data-container {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

::ng-deep .page-heading .fidelity-btn-circle + .fidelity-btn-circle {
  top: 0px;
}

.ibox .no-services-msg-con {
  height: 100px;
  width: 98%;
  background-color: #dddddd3b;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #80807f99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Calibri_Bold", sans-serif !important;
}

.raw-lead-delete-btn {
  right: 12px !important;
  top: 5px;
  position: relative;
}
.ibox {
  ::ng-deep mat-select-autocomplete .mat-form-field {
    border: none !important;
  }

  ::ng-deep .mat-form-field-hint-wrapper {
    margin-top: 20px;
  }
}

::ng-deep .page-heading .breadcrumb li:nth-child(2) > a {
  color: #868e96 !important;
  cursor: text;
}

::ng-deep #contactNumber + ng-component {
  position: absolute !important;
  bottom: -22px !important;
  z-index: 10 !important;
}
::ng-deep #homeNumber + ng-component {
  position: absolute !important;
  bottom: -22px !important;
  z-index: 10 !important;
}
::ng-deep #officeNumber + ng-component {
  position: absolute !important;
  bottom: -22px !important;
  z-index: 10 !important;
}
::ng-deep #mobileNumber + ng-component {
  position: absolute !important;
  bottom: -6px !important;
  left: -88px !important;
  z-index: 10 !important;
}
.rowStyle {
  bottom: -10px;
}

.duplicate {
  color: #dc3545;
  font-size: 0.8em;
}

#find_address_autocomplete {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  line-height: 20px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 8px 5px !important;
}

.border-class {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-left: unset;
}

.file-input-container {
  width: 100%;
  height: 40px;
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.file-input-ctrl {
  margin-top: 33px;
  height: 40px;
  width: 100%;
}

.file-input-text {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.file-input-btn {
  height: 40px;
  padding: 12px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.file-remove-btn {
  width: 82px;
  margin-left: -8px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.file-download-container {
  height: 40px !important;
  font-size: 18px;
}

.file-upload-status-container {
  height: 40px !important;
  font-size: 18px;
  width: 100% !important;
}

.row-number-col {
  width: 4.499999995%;
  flex: 0 0 4.499%;
  max-width: 4.499%;
}

.remove-col {
  width: 3.499999995%;
  flex: 0 0 3.499%;
  max-width: 3.499%;
}

.contact-number-col {
  width: 16%;
  flex: 0 0 16%;
  min-width: 18%;
  max-width: 16%;
}

.reason-col {
  width: 20%;
  flex: 0 0 20%;
  min-width: 20%;
  max-width: 20%;
}

.email-col {
  width: 18%;
  flex: 0 0 18%;
  min-width: 18%;
  max-width: 18%;
}

.input-no-decorate {
  border-width: 0px;
  background-color: transparent;
  padding-left: 0px;
  height: 46px;
}

ng-component.ng-star-inserted {
  white-space: nowrap !important;
}

span.help.is-danger {
  white-space: nowrap !important;
}

mat-select-autocomplete.input-width-medium > .mat-form-field {
  min-width: 100% !important;
  width: 100% !important;
}

.error-notification{
  color: #dc3545;
    font-size: 0.8em;
}

.fidelity-address-con {
  padding: 2px!important;
}

.add-notes-description-con {
  ::ng-deep .add-notes-description-btn {
      right: 15px;
      top: 0;
      cursor: pointer;
  }
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

.notes-con {
  height: 30vh;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0px 0px 1px 1px #80808040;

  .note-box {
      font-size: 1rem;
      border-bottom: 1px solid $fidelity-grey;
      .note-header {
          color: $status-label-gray-dark;
          span {
              color: $fidelity-blue;
          }
      }
  }
}
span[class^="status-label"] {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 14px;
}
.statusClass{
  padding: 5px;
  border-radius: 11px;
}

.pad-right {
  padding-right: 30px;
}

.page-heading .breadcrumb li a {
  color: #115943 !important;
  cursor: pointer !important;
}