<div class="fidelity-popup-heading  p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.data?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="erbExclusionRequestForm" (ngSubmit)="onSubmit()">
    <div style="padding: 16px;">
        <div>
            <div class="view-box">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="d-block">Permanant</label>
                            <p-radioButton name="isParmanent" formControlName="isParmanent" [value]=true>
                            </p-radioButton>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="d-block">Temprory</label>
                            <p-radioButton name="isParmanent" formControlName="isParmanent" [value]=false>
                            </p-radioButton>
                        </div>
                    </div>
                    <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                        <div class="form-group">
                            <label>Till Date<span class="mandatory-field">*</span></label>
                            <p-calendar [minDate]="startTodayDate" formControlName="erbExclusionTillDate" [style]="{'width':'100%'}">
                            </p-calendar>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Exclusion Reason<span class="mandatory-field">*</span></label>
                            <select class="form-control fidelity-form-input" name="Exclusion Reason"
                                formControlName="erbExclusionReasonConfigId">
                                <option value="">Select </option>
                                <option [value]="item.id" *ngFor="let item of exclusionReasonConfigList; let i=index">
                                    {{item.displayName}}</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Comments<span class="mandatory-field">*</span></label>
                            <textarea class="form-control fidelity-form-input" type="text" formControlName="comments"
                                [validateInput]='isAnAlphaNumericOnly' minlength="10" maxlength="150"
                                placeholder="Enter Comments"></textarea>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 5px;text-align: center;">
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class=" text-center">
                <button type="submit" pButton class="ui-button-success mr-4"
                    style="display: inline-block;background: #115943!important;" label="Submit"></button>
                <button type="button" pButton class="ui-button-secondary mr-4" style="display: inline-block;;"
                    label="Cancel" (click)="close()"></button>
            </div>
        </div>
    </div>
</form>
