<div class="page-heading ">
    <h1 class="page-title d-inline-block">View List Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>IT Management</a>
        </li>
        <li class="breadcrumb-item">
            <a>Custom Category </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/user/custom-category-config-dashboard' [queryParams]="{tab:1}"> List
                Configuration</a>
        </li>
        <li>
            View {{proactivePatrolDetails?.customCategoryListName ? proactivePatrolDetails?.customCategoryListName : '--'}}
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="edit()" matTooltip="Edit">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body brown-border">
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Custom Category List Name</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{proactivePatrolDetails?.customCategoryListName ?
                                proactivePatrolDetails?.customCategoryListName : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Description</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{proactivePatrolDetails?.description ?
                                proactivePatrolDetails?.description : '-'}}</span>
                        </span>
                    </div>
                </div>
              
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Category Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block" [ngSwitch]="proactivePatrolDetails?.customCategoryTypeId">
                                <p *ngSwitchCase="1">
                                    Char
                                </p>
                                <p *ngSwitchCase="2">
                                    Money
                                </p>
                                <p *ngSwitchCase="3">
                                    Float
                                </p>
                                <p *ngSwitchDefault>
                                    --
                                </p>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Decimals</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{proactivePatrolDetails?.decimals ?
                                proactivePatrolDetails?.decimals : '-'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">

                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Max Length</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{proactivePatrolDetails?.length ?
                                proactivePatrolDetails?.length : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Min Length</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{proactivePatrolDetails?.minLength ?
                                proactivePatrolDetails?.minLength : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Created On</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{proactivePatrolDetails?.createdDate ?
                                (proactivePatrolDetails?.createdDate | date) : '-'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">

                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Created By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{proactivePatrolDetails?.createdUserName ?
                                proactivePatrolDetails?.createdUserName : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Modified On</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{proactivePatrolDetails?.modifiedDate ?
                                (proactivePatrolDetails?.modifiedDate | date) : '-'}}</span>
                        </span>
                    </div>
                </div>

               


            </div>

            <div class="row mt-2">

                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Modified By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{proactivePatrolDetails?.modifiedUserName ?
                                proactivePatrolDetails?.modifiedUserName : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Status</span>
                        <span class="d-inline-block">
                            <span class="status-label "
                                [ngClass]="{'status-label-green': proactivePatrolDetails?.isActive,'status-label-pink': !proactivePatrolDetails?.isActive}">
                                {{proactivePatrolDetails?.isActive ? 'Active' : 'In Active'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <h1 class="page-sub-title ext-padd mt-3">List Values</h1>
            <br>
            <div class="container-fluid">
                <div class="header-row row">
                    <div class="col-4">List Name</div>
                    <div class="col-4">List Item Description</div>
                    <div class="col-4">Status</div>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <div class="children-row row mb-2"
                    *ngFor="let type of proactivePatrolDetails?.customCategoryListItemList">
                    <div class="col-4">
                        <input type="text" value={{type.listItemName}}
                            class="form-control fidelity-form-input disabled">
                    </div>
                    <div class="col-4">
                        <input type="text" value={{type.listItemDescription}}
                            class="form-control fidelity-form-input disabled">
                    </div>
                    <div class="col-4">
                        <div class="d-flex">
                            <span class="d-inline-block">
                                <span class="status-label "
                                    [ngClass]="{'status-label-green': type?.isActive,'status-label-pink': !type?.isActive}">
                                    {{type?.isActive ? 'Active' : 'In Active'}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelCmcSmsGroupBtn"
            routerLink='/user/custom-category-config-dashboard' [queryParams]="{tab:1}">Back</button>
    </div>
</div>