<div class="mat-dialog-container" id="wd_req_modal">
    <div class="fidelity-popup-heading container-fluid">Serial Info</div>
    <form class="fidelity-popup-form">
        <mat-dialog-content>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="d-flex">
                        <span id="" class="key">Stock Code</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{stockDetails.itemCode}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <span id="" class="key">Stock Name</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{stockDetails.itemName}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row row-header mt-3">
                <div class="col-10 ">
                    <span class="key">Serial Number</span>
                </div>
                <div class="col-2">
                    <span class="key float-right">{{stockDetails?.returnBarcode.length}}</span>
                </div>
            </div>
            <div class="row children-row mt-2" *ngFor="let item of stockDetails?.returnBarcode; let i= index">
                <div class="col-12">
                    <input type="text" class="fidelity-form-input form-control" readonly [value]="item">
                </div>
            </div>
            <div class="row children-row mt-2" *ngIf="stockDetails?.returnBarcode.length == 0">
                <div class="col-12">
                    <h4>No Records Found</h4>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <!-- <button mat-button  class="btn btn-md-fidelity fidelity-btn-brown" [mat-dialog-close]="true" (click)="submit()" type="submit">Update</button> -->
            <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
        </mat-dialog-actions>
    </form>
</div>