::ng-deep button.print-btn.circle-plus-btn {
    background-color: #166DFF;
    width: 25px;
    height: 25px;
    color: #fff;
}


.no-records-found-con {
    padding: 15px;
    background: #efefef;
    border: 1px solid lightgray;
}
.stock-info {
    overflow-x: auto;
    height: 29vh;
}
.custom-scroll1-customise {
    overflow-x: auto;
    height: 25vh;
}
.app-barcodes-printer {
    visibility:hidden
}
.job-number {
    top: 2px;
}