  <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
  ></app-page-header>

  <div class="page-content fade-in-up">
    <form customForm [formGroup]="documentForm" (ngSubmit)="onSubmit()">
      <div class="ibox white-bg sm-inputs" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
          <div class="ibox-body brown-border">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Type Of Document<span class="mandatory-field">*</span></label>
                  <input class="form-control fidelity-form-input" type="text" placeholder="Document Name"
                  formControlName="vendorDocumentTypeName" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="d-block">Status<span class="mandatory-field">*</span></label>
                  <label class="switch add-stack-status">
                    <input type="checkbox" formControlName="isActive">
                    <span class="slider round active"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{vendorDocumentTypeId ?
          'Update' : 'Save'}}</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
          type="button" (click)="navigateTo()">Cancel</button>
      </div>
    </form>
  </div>
