<div class="page-heading ">
    <h1 class="page-title d-inline-block">
        {{customCategoryConfigId ? 'Update' : 'Add'}} Custom Category Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>IT Management</a>
        </li>
        <li class="breadcrumb-item">
            <a>Custom Category </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/user/custom-category-config-dashboard' [queryParams]="{tab:2}"> Custom Category
                Configuration</a>
        </li>
        <li class="breadcrumb-item" *ngIf="customCategoryConfigId">
            <a routerLink='/user/custom-category-config-dashboard/custom-category-config/view' [queryParams]="{id:customCategoryConfigId}">View</a>
        </li>
        <li class="breadcrumb-item" *ngIf="!customCategoryConfigId">Add Custom Category Configuration</li>
        <li class="breadcrumb-item" *ngIf="customCategoryConfigId">Update {{customerConfigDetails?.customCategoryConfigName ? customerConfigDetails?.customCategoryConfigName : '--'}}</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <form [formGroup]="customCategoryConfigForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Category Name<span class="mandatory-field">*</span></label>

                                <input class="form-control fidelity-form-input" type="text" name="Category Name"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="20"
                                    placeholder="Enter Category Name" formControlName="customCategoryConfigName">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Linked To<span class="mandatory-field">*</span></label>
                                <select name="Linked To" formControlName="customModuleId"
                                    class="form-control fidelity-form-input">
                                    <option value="" disabled>Select Linked To</option>
                                    <option [value]="item.id" *ngFor="let item of modulesList">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Group<span class="mandatory-field">*</span></label>
                                <select name="Group" formControlName="customCategoryGroupId"
                                    class="form-control fidelity-form-input">
                                    <option value="" disabled>Select Group</option>
                                    <option [value]="item.id" *ngFor="let item of categoryGroupList">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="ui-g-12">Category Type<span class="mandatory-field">*
                                    </span></label>
                                <div style="padding-top: 0;" class="ui-g-4">
                                    <p-radioButton name="group1" label="Free Text"
                                        formControlName="customCategoryConfigTypeId" value="1" inputId="preopt1">
                                    </p-radioButton>
                                </div>
                                <div style="padding-top: 0;" class="ui-g-4">
                                    <p-radioButton name="group1" label="List"
                                        formControlName="customCategoryConfigTypeId" value="2" inputId="preopt2">
                                    </p-radioButton>
                                </div>
                            </div>
                        </div>

                        <div class="col-4"
                            *ngIf="customCategoryConfigForm.get('customCategoryConfigTypeId').value == '2'">
                            <div class="form-group">
                                <label>Category List<span class="mandatory-field">*</span></label>
                                <select name="Category List" formControlName="customCategoryListId"
                                    class="form-control fidelity-form-input">
                                    <option value="" disabled>Select Category List</option>
                                    <option [value]="item.id" *ngFor="let item of categoryList">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4"
                            *ngIf="customCategoryConfigForm.get('customCategoryConfigTypeId').value == '1'">
                            <div class="form-group">
                                <label>Field Type<span class="mandatory-field">*</span></label>
                                <select name="Field Type" formControlName="customFieldTypeId"
                                    class="form-control fidelity-form-input">
                                    <option value="" disabled>Select Field Type</option>
                                    <option [value]="item.id" *ngFor="let item of fieldTypeList">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="customFieldTypeName == 'Integer'">
                            <div class="form-group">
                                <label>Min Value<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="number" min="1"(input)="checkValue($event)" name="Min Value"
                                    placeholder="Enter Category Name" formControlName="customFieldMinValue">

                            </div>
                        </div>
                        <div class="col-4" *ngIf="customFieldTypeName == 'Integer'">
                            <div class="form-group">
                                <label>Max Value<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="number" min="0" (input)="checkValue($event)" name="Max Value"
                                    placeholder="Enter Category Name" formControlName="customFieldMaxValue">
                            </div>
                        </div>
                        <div class="col-4" *ngIf="customFieldTypeName == 'Char'">
                            <div class="form-group">
                                <label>Min Length<span class="mandatory-field">*</span></label>

                                <input class="form-control fidelity-form-input" type="number"
                                    placeholder="Enter Category Name" formControlName="customFieldMinLength">
                            </div>
                        </div>
                        <div class="col-4" *ngIf="customFieldTypeName == 'Char'">
                            <div class="form-group">
                                <label>Max Length<span class="mandatory-field">*</span></label>

                                <input class="form-control fidelity-form-input" type="number"
                                    placeholder="Enter Category Name" formControlName="customFieldMaxLength">
                            </div>
                        </div>
                        <div class="col-4" *ngIf="customFieldTypeName == 'Char'">
                            <div class="form-group">
                                <label class="d-block">Special Characters Permitted<span
                                        class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isSpecialCharactorPermitted">
                                    <span class="slider round req_ack"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="customFieldTypeName == 'Char'">
                            <div class="form-group">
                                <label>Case<span class="mandatory-field">*</span></label>
                                <select name="Case" formControlName="customLetterCaseId"
                                    class="form-control fidelity-form-input">
                                    <option value="" disabled>Select Case</option>
                                    <option [value]="item.id" *ngFor="let item of letterCasesList">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="customFieldTypeName == 'Float'">
                            <div class="form-group">
                                <label>Length<span class="mandatory-field">*
                                    </span></label>
                                <input class="form-control fidelity-form-input" type="number"
                                    placeholder="Enter Length">

                            </div>
                        </div>
                        <div class="col-4" *ngIf="customFieldTypeName == 'Float'">
                            <div class="form-group">
                                <label>Decimal<span class="mandatory-field">*
                                    </span></label>

                                <input class="form-control fidelity-form-input" type="number"
                                    placeholder="Enter Decimal">
                            </div>
                        </div>
                        <div class="col-4" *ngIf="customFieldTypeName == 'Date' || customFieldTypeName == 'Time' || customFieldTypeName == 'DateTime'">
                            <div class="form-group">
                                <label>
                                    {{customFieldTypeName}} Format<span class="mandatory-field">*</span></label>
                                <select name="{{customFieldTypeName}} Format" formControlName="customFieldFormatId"
                                    class="form-control fidelity-form-input">
                                    <option value="" disabled>Select {{customFieldTypeName}} Format</option>
                                    <option [value]="item.id" *ngFor="let item of fieldFormateList">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4" *ngIf="customFieldTypeName == 'Boolean'">
                            <div class="form-group">
                                <label class="d-block">Value Type<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isValueType">
                                    <span class="slider round req_ack"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4"
                            *ngIf="customFieldTypeName == 'Date' || customFieldTypeName == 'Time' || customFieldTypeName == 'Boolean'">
                            <div class="form-group">
                                <label class="d-block">Default to Current Date<span
                                        class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isDefaultToCurrentDate">
                                    <span class="slider round req_ack"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4"
                            *ngIf="customCategoryConfigForm.get('customCategoryConfigTypeId').value == '2' || customFieldTypeName">
                            <div class="form-group">
                                <label class="ui-g-12" style="margin-bottom: 0;">Default Value<span
                                        class="mandatory-field">*</span></label>

                                <input class="form-control fidelity-form-input" pInputText type="text" pKeyFilter="int"
                                    formControlName="defaultValue" [style]="{'width':'100%'}"
                                    *ngIf="customFieldTypeName == 'Integer'">
                                <input class="form-control fidelity-form-input" pInputText type="text"
                                    pKeyFilter="alphanum" formControlName="defaultValue" [style]="{'width':'100%'}"
                                    *ngIf="customFieldTypeName == 'Char'">
                                <input class="form-control fidelity-form-input" pInputText type="text" pKeyFilter="num"
                                    formControlName="defaultValue" [style]="{'width':'100%'}"
                                    *ngIf="customFieldTypeName == 'Decimal' || customFieldTypeName == 'Float'">
                                <input class="form-control fidelity-form-input" pInputText type="text"
                                    pKeyFilter="money" formControlName="defaultValue" [style]="{'width':'100%'}"
                                    *ngIf="customFieldTypeName == 'Money'">
                                <select name="Default Value" formControlName="defaultValue"
                                    class="form-control fidelity-form-input" *ngIf="customFieldTypeName == 'Boolean'">
                                    <option value="" disabled>Select Default Value</option>
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                                    <select name="Default Value" formControlName="defaultValue"
                                    class="form-control fidelity-form-input"  *ngIf="customCategoryConfigForm.get('customCategoryConfigTypeId').value == '2' && !customFieldTypeName">
                                    <option value="" disabled>Select Default Value</option>
                                    <option [value]="item.id" *ngFor="let item of categoryListItemList">{{item.displayName}}</option>
                                </select>
                                <div class="ui-g-12 form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con" style="padding-top: 0;"
                                    *ngIf="customFieldTypeName == 'Date' || customFieldTypeName == 'Time' || customFieldTypeName == 'DateTime'">
                                    <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                        formControlName="defaultValue"  showButtonBar="true"
                                        [readonlyInput]="true" dateFormat="{{customFieldFormatName ? customFieldFormatName : 'YYYY/MM/dd'}}"
                                        [showTime]="customFieldTypeName == 'DateTime' ? true : false" hideOnDateTimeSelect="true"
                                        [timeOnly]="customFieldTypeName == 'Time' ? true : false">
                                    </p-calendar>

                                </div>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Masked<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isMasked">
                                    <span class="slider round req_ack"></span>
                                </label>
                            </div>
                        </div>

                        <div class="col-8">
                            <div class="form-group">
                                <label class="ui-g-12">Permission<span class="mandatory-field">*
                                    </span></label>
                                <div style="padding-top: 0;" class="ui-g-3">
                                    <p-checkbox name="group1" label="Edit" binary="true"
                                        formControlName="isPermissionEdit" value="false" inputId="preopt1">
                                    </p-checkbox>
                                </div>
                                <div style="padding-top: 0;" class="ui-g-3">
                                    <p-checkbox name="group1" label="View" binary="true"
                                        formControlName="isPermissionView" value="false" inputId="preopt2">
                                    </p-checkbox>
                                </div>
                                <div style="padding-top: 0;" class="ui-g-6">
                                    <p-checkbox name="group1" label="Requires Password Verification" binary="true"
                                        formControlName="isPermissionRequiresPasswordVerification" value="false"
                                        inputId="preopt2">
                                    </p-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*
                                    </span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAStringOnly' minlength="10" maxlength="100"
                                    placeholder="Enter Description" formControlName="description">
                                 </textarea>
                            </div>
                        </div>



                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{proactivePatrolId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/user/custom-category-config-dashboard' [queryParams]="{tab:2}">Cancel</button>
        </div>
    </form>
</div>
