<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Custom Category Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>IT Management</a>
        </li>
        <li class="breadcrumb-item">
            <a>Custom Category </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/user/custom-category-config-dashboard' [queryParams]="{tab:2}"> Custom Category
                Configuration</a>
        </li>
        <li>
            View {{customerConfigDetails?.customCategoryConfigName ? customerConfigDetails?.customCategoryConfigName :
            '--'}}
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="edit()" matTooltip="Edit">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body brown-border view-box">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Category Name</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.customCategoryConfigName ?
                                customerConfigDetails?.customCategoryConfigName : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Linked To</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.customModuleName ?
                                customerConfigDetails?.customModuleName : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Group</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.customCategoryGroupName ?
                                customerConfigDetails?.customCategoryGroupName : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Category Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.customCategoryConfigType ?
                                customerConfigDetails?.customCategoryConfigType : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6" *ngIf="customerConfigDetails?.customCategoryConfigTypeId == 2">
                    <div class="d-flex">
                        <span id="" class="key">Category List</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.customCategoryListName ?
                                customerConfigDetails?.customCategoryListName : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6" *ngIf="customerConfigDetails?.customCategoryConfigTypeId == 1">
                    <div class="d-flex">
                        <span id="" class="key">Filed Type</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.customFieldTypeName ?
                                customerConfigDetails?.customFieldTypeName : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6" *ngIf="customerConfigDetails?.customFieldTypeName == 'Integer'">
                    <div class="d-flex">
                        <span id="" class="key">Min Value</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.customFieldMinValue ?
                                customerConfigDetails?.customFieldMinValue : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6" *ngIf="customerConfigDetails?.customFieldTypeName == 'Integer'">
                    <div class="d-flex">
                        <span id="" class="key">Max Value</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.customFieldMaxValue ?
                                customerConfigDetails?.customFieldMaxValue : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6"
                    *ngIf="customerConfigDetails?.customFieldTypeName == 'Date' || customerConfigDetails?.customFieldTypeName == 'Time' || customerConfigDetails?.customFieldTypeName == 'DateTime'">
                    <div class="d-flex">
                        <span id="" class="key">{{customerConfigDetails?.customFieldTypeName}} Format</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.customFieldFormat ?
                                customerConfigDetails?.customFieldFormat : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6"
                    *ngIf="customerConfigDetails?.customFieldTypeName == 'Date' || customerConfigDetails?.customFieldTypeName == 'Time' || customerConfigDetails?.customFieldTypeName == 'DateTime'">
                    <div class="d-flex">
                        <span id="" class="key">Default to current Date</span>
                        <span class="d-inline-block">
                            <span class="status-label "
                                [ngClass]="{'status-label-green': customerConfigDetails?.isDefaultToCurrentDate,'status-label-pink': !customerConfigDetails?.isDefaultToCurrentDate}">
                                {{customerConfigDetails?.isDefaultToCurrentDate ? 'Yes' : 'No'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Default Value</span>
                        <span id="" class="value">
                            <span class="d-inline-block" *ngIf="customerConfigDetails?.customFieldTypeName == 'Date'">
                                {{customerConfigDetails?.defaultValue ?
                                (customerConfigDetails?.defaultValue | date:customerConfigDetails?.customFieldFormat) : '-'}}
                            </span>
                            <span class="d-inline-block" *ngIf="customerConfigDetails?.customFieldTypeName == 'Time'">
                                {{customerConfigDetails?.defaultValue ?
                                (customerConfigDetails?.defaultValue | date) : '-'}}
                            </span>
                            <span class="d-inline-block"
                                *ngIf="customerConfigDetails?.customFieldTypeName == 'DateTime'">
                                {{customerConfigDetails?.defaultValue ?
                                (customerConfigDetails?.defaultValue | date:customerConfigDetails?.customFieldFormat) : '-'}}
                            </span>
                            <span class="d-inline-block"
                                *ngIf="customerConfigDetails?.customFieldTypeName != 'Date' && customerConfigDetails?.customFieldTypeName != 'Time' && customerConfigDetails?.customFieldTypeName != 'DateTime'">
                                {{customerConfigDetails?.defaultValue ?
                                customerConfigDetails?.defaultValue : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Status</span>
                        <span class="d-inline-block">
                            <span class="status-label "
                                [ngClass]="{'status-label-green': customerConfigDetails?.isActive,'status-label-pink': !customerConfigDetails?.isActive}">
                                {{customerConfigDetails?.isActive ? 'Active' : 'In Active'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Masked</span>
                        <span class="d-inline-block">
                            <span class="status-label "
                                [ngClass]="{'status-label-green': customerConfigDetails?.isMasked,'status-label-pink': !customerConfigDetails?.isMasked}">
                                {{customerConfigDetails?.isMasked ? 'Yes' : 'No'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Permission</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                <div style="padding-top: 0;" class="ui-g-6">
                                    <p-checkbox name="group1" disabled label="Edit" binary="true"
                                        [(ngModel)]="isPermissionEdit" inputId="preopt1">
                                    </p-checkbox>
                                </div>
                                <div style="padding-top: 0;" class="ui-g-6">
                                    <p-checkbox name="group1" disabled label="View" binary="true"
                                        [(ngModel)]="isPermissionView" inputId="preopt2">
                                    </p-checkbox>
                                </div>
                                <div style="padding-top: 0;" class="ui-g-12">
                                    <p-checkbox name="group1" disabled label="Requires Password Verification"
                                        binary="true" [(ngModel)]="isPermissionRequiresPasswordVerification"
                                        inputId="preopt2">
                                    </p-checkbox>
                                </div>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Description</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.description ?
                                customerConfigDetails?.description : '-'}}</span>
                        </span>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Created On</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.createdDate ?
                                (customerConfigDetails?.createdDate | date) : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Modified On</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.modifiedDate ?
                                (customerConfigDetails?.modifiedDate | date) : '-'}}</span>
                        </span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Created By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.createdUserName ?
                                customerConfigDetails?.createdUserName : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Modified By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{customerConfigDetails?.modifiedUserName ?
                                customerConfigDetails?.modifiedUserName : '-'}}</span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelCmcSmsGroupBtn"
            routerLink='/user/custom-category-config-dashboard' [queryParams]="{tab:2}">Back</button>
    </div>
</div>