
@import '../../../../../../variables.scss';
.ibox {
    .form-group {
        width: 80%;
    }

  .fidelity-input-addon .input-group-text {
      display: flex;
      align-items: center;
      padding: .375rem .75rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      background-color: $fidelity-brown;
      border: 1px solid $fidelity-brown;
      border-radius: .25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      cursor: pointer;
  }

  .col-lg-2.adjust-width {
      flex: 0 0 20%;
      max-width: 20%;
  }

  .product-details-row {
      margin-bottom: 1rem;
  }

  .disabled-btn {
      background-color: #cec7c7;
      cursor: pointer;
  }

  .product-details-row {
      width: 100%;
    .adjust-width {
        width: 18%;
        float: left;
        margin: 0 10px 0 0;
    }
  }

  .product-property-heading {
    width: 100%;
    .pull-left {
        width: 18%;
        margin: 0 10px 0 0;
    }
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    top: calc(100% - 14px) !important;
}

    .mat-error {
        color: #dc3545;
        font-size: .875rem!important;
        font-family: $fidelity-font-regular;
    }

    .mat-form-field {
        border: none !important;
        padding: 0px 0;

        .mat-form-field-wrapper {
            padding: 0px !important;
            height: 100%;
        }

        .fidelity-form-input {
            -webkit-transition: all 0.3s ease-in-out!important;
            -moz-transition: all 0.3s ease-in-out!important;
            -ms-transition: all 0.3s ease-in-out!important;
            -o-transition: all 0.3s ease-in-out!important;
            outline: none!important;
            padding: 9px 10.5px!important;
            border-radius: 7px!important;
            line-height: 20px!important;
            border: 1px solid rgba(0, 0, 0, 0.15)!important;
            font-size: 1.25rem!important;
            font-family: "Calibri_Bold", sans-serif !important;
        }
    }

    mat-form-field.mat-form-field-invalid .fidelity-form-input {
        border-color: #dc3545!important;
        box-shadow: 0 0 2px #dc3545 !important;
    }

}
