<div class="page-heading">
  <h1 class="page-title d-inline-block">Technician Receiving Scan Items</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
    <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']">Inventory Management</a></li>
    <li class="breadcrumb-item"  *ngIf="screenType == 'job-selection'"><a (click)="navigateToJobSelection()">Job Selection</a></li>
    <li class="breadcrumb-item"  *ngIf="screenType != 'job-selection'"><a [routerLink]="['/inventory/order-receipts/receipting']" [queryParams]="{tab:1}">Receiving List</a></li>
    <li class="breadcrumb-item"><a (click)="view()">Technician Receiving View</a></li>
    <li class="breadcrumb-item"><a (click)="cancelOrderReceipt()">Technician Receiving</a></li>
    <li class="breadcrumb-item">Scan Items</li>
  </ol>
</div>
<div class="page-content fade-in-up ">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox" style="height: auto;">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
          <div class="ibox-body brown-border white-bg">
            <form class="fidelity-popup-form">
              <h3 class="page-title d-inline-block">{{itemName}}</h3>
              <hr>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label class="scan-label">Scan / Enter Serial No</label>
                    <div class="input-group fidelity-input-addon mb-3" style="height: 40px;">
                      <input #serialNumber mask="A*" [readonly]="this.serialNumberReadOnly"                        
                        class="form-control scan-input fidelity-mask-input {{this.serialNumberReadOnly==true ? 'disabled' : ''}}"
                        id="item_scan_input" placeholder="Scan/Enter serial no" aria-label="Scan/Enter serial no"
                        aria-describedby="basic-addon2" #scannedObj>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary"
                          disabled="{{this.serialNumberReadOnly==true ? 'disabled' : ''}}" type="button"
                          (click)="modelChanged(scannedObj.value)"
                          style="background:#00644A;color:#fff; height: 40px;">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4 p-0 mb-2">
                  <div class="d-flex justify-content-between">
                    <div class="col-9">
                      <label class="scan-label">Serial No</label>
                    </div>
                    <!-- <div class="col-5" *ngIf="isFaulty === true">
                      <label class="scan-label">warranty Status</label>
                    </div> -->
                    <div class="col-2">
                      <div class="float-left">
                        <div class="form-group">
                          <label>Total {{orderItemBarcodeScanedCount}}/{{totalFaultyItemCount}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-1">
                      <div class="float-left">
                        <div class="form-group">
                          <a id="delete_barcodeData" class="p-absolute delete-row delete-row-heading" title="Remove All"
                            (click)="removeAllScanedBarcode()"><i aria-hidden="true" class="icon icon-delete"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngFor="let barcodeData of orderReceiptItemDetails; let i = index">
                <div class="col-4 p-0 mb-2">
                  <div class="d-flex justify-content-between"
                    *ngIf="!barcodeData.isDeleted && barcodeData.serialNumber != null">
                    <div class="col-11">
                      <div class="form-group">
                        <input id="barcodeData{{i}}" class="form-control fidelity-form-input disabled"
                          value={{barcodeData.serialNumber}} disabled type="text" />
                      </div>
                    </div>
                    <!-- <div class="col-6" *ngIf="isFaulty === true">
                      <div class="form-group">
                        <input id="barcodeData{{i}}" class="form-control fidelity-form-input disabled"
                          value={{barcodeData.warrantyStatus}} disabled type="text" />
                      </div>
                    </div> -->
                    <div class="col-1">
                      <div class="form-group">
                        <a id="delete_barcodeData{{i}}" class="p-absolute delete-row" title="Remove"
                          (click)="removeScanedBarcode(barcodeData)"><i aria-hidden="true" class="icon icon-delete"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <button class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4" (click)="save()">
          <span  role="status" aria-hidden="true"></span>
          Save</button>
        <button class="btn btn-md-fidelity btn-default" (click)="cancelOrderReceipt()">Cancel</button>
      </div>
    </div>
  </div>
</div>
