<div class="page-heading">
  <h1 class="page-title d-inline-block">Technician Receiving </h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i aria-hidden="true" class="fa fa-home"></i> </a>
    </li>
    <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']">Inventory Management</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/inventory/order-receipts/receipting']" [queryParams]="{tab:1}">Receiving List</a></li>
    <li class="breadcrumb-item"><a (click)="View()">Technician Receiving View</a></li>
    <li class="breadcrumb-item">Technician Receiving</li>
  </ol>
</div>

<div class="page-content fade-in-up ">
  <div class="row">
    <div class="col-md-12">
      <!-- (ngSubmit)="onSubmit()" -->
      <form customForm class="fidelity-popup-form" [formGroup]="receivingForm" >
        <div class="ibox white-bg" style="height: auto;">
          <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <div class="ibox-head d-none">
              <div class="ibox-title">Line tabs</div>
            </div>
            <div class="ibox-body brown-border">
              <div class="row">
                <div class="col-4 red-pad">
                  <div class="form-group">
                    <label for="warehouseName">Request ID <span class="mandatory-field">*</span></label>
                    <input class="form-control fidelity-form-input" type="text" formControlName="requestId"
                      name="Requested quantity" readonly>
                  </div>
                </div>
                <div class="col-4 red-pad">
                  <div class="form-group">
                    <label for="warehouseName">Receiving Type <span class="mandatory-field">*</span></label>
                    <input class="form-control fidelity-form-input" type="text" formControlName="orderTypeName"
                      name="Requested quantity" readonly>
                  </div>
                </div>

                <div class="col-4 red-pad">
                  <div class="form-group">
                    <label>Reference ID<span class="mandatory-field">*</span></label>
                    <input class="form-control fidelity-form-input" type="text" formControlName="orderNumber"
                      name="Requested quantity" readonly>
                  </div>
                </div>

                <div class="col-4 red-pad">
                  <div class="form-group">
                    <label>Technician Name <span class="mandatory-field">*</span></label>
                    <input class="form-control fidelity-form-input" type="text" formControlName="technicianName"
                      name="Requested quantity" readonly>
                  </div>
                </div>
                <div class="col-4 red-pad">
                  <div class="form-group">
                    <label>Technician Location <span class="mandatory-field">*</span></label>
                    <input class="form-control fidelity-form-input" type="text" formControlName="technicianLocation"
                      name="Requested quantity" readonly>
                  </div>
                </div>
                <div class="col-4 red-pad">
                  <div class="form-group">
                    <label>Sub Location <span class="mandatory-field">*</span></label>
                    <input class="form-control fidelity-form-input" type="text" formControlName="storageLocationName"
                      name="Requested quantity" readonly>
                  </div>
                </div>
              </div>

              <div class="row mt-5" *ngIf="order">
                <div class="col-md-12">
                  <div class="add-product-con">
                    <div class="product-property-heading">
                      <div class="pull-left">Stock Code</div>
                      <div class="pull-left">Stock Name</div>
                      <div class="pull-left">Qty to be Received</div>
                      <div class="pull-left">Serial No</div>
                      <div class="pull-left">Received Qty</div>
                      <div class="clearfix"></div>
                    </div>
                  </div>

                  <div class="product-details-children-con mt-3">
                    <div class="product-details-row" *ngFor="let faultyItem of order?.orderItems; let i = index">
                      <div class="adjust-width">
                        <input type="text" class="form-control fidelity-form-input disabled"
                          value="{{faultyItem?.itemCode}}">
                      </div>

                      <div class="adjust-width">
                        <input type="text" class="form-control fidelity-form-input disabled"
                          value="{{faultyItem?.itemName}}">

                      </div>
                      <div class=" adjust-width">
                        <input type="text" class="form-control fidelity-form-input disabled"
                          value="{{faultyItem?.returnedQuantity}}">
                      </div>
                      <div class="col-lg-2 adjust-width">
                        <button id="scanitems{{i}}"
                          class="form-control fidelity-form-input {{faultyItem.returnedQuantity===faultyItem?.receivedQty ?'status-label-green' : 'status-label-pink'}}"
                          #serialNumber name="" (click)="barcodeScan(faultyItem,order)" required="" type="text"
                          disabled="{{order?.isVerified!==true ?'' : 'disabled'}}">
                          {{faultyItem.receivedQty ? (faultyItem.serialNumbers.length>6)? (faultyItem.serialNumbers | slice:0:10)+'..('+ faultyItem.receivedQty+' items found)' :(faultyItem.serialNumbers) : 'Scan Items'}}
                        </button>
                      </div>

                      <div class="adjust-width">
                        <input type="text" class="form-control fidelity-form-input disabled"
                          value="{{faultyItem?.receivedQty}}">
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="text-center mt-3"><button class="btn  btn-md-fidelity fidelity-btn-brown btn-brown"
          id="item_verify_btn" *ngIf="order?.isVerified!==true" cdkFocusInitial (click)="verifyFaulty()">Verify</button>
        <button class="btn btn-md-fidelity btn-default" id="item_back_btn" (click)="View()">Back</button></div>
    </div>
  </div>
</div>
