@import '../../../../../../variables.scss';

.ibox {
    .icon {
        font-size: 1rem;
        color: $fidelity-grey1;
    }


    .delete-row {
        width: 30px !important;
        height: 30px !important;
        border-radius: 50% !important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        right: -30px !important;
        top: 0px !important;
        &:hover {
            background-color: #ed4a4a;
            i {
                color: #fff!important;
            }
        }
    }

    .print-receipt {
        @extend .delete-row;
        right: -5.5rem !important;
        top: 0 !important;
        &:hover {
            background-color: $fidelity-green;
            i {
                color: #fff;
            }
        }
    }

    .delete-row.delete-row-heading {
        right: -30px !important;
        top: -2px !important;
    }

    .print-receipt.print-receipt-heading {
        right: -5.5rem!important;
        top: 0!important;
    }


    .red-border {
        border: 1px solid #f37b7b;
    }
}

.scan-label{
    font-size: 16px;
    font-weight: bold;
}
.scan-input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
