<div class="">
    <form action="">
        <div class="ibox white-bg call-workflow-box" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="container-fluid" *ngIf="responseInstrcutionDetails">
                        <div class="row" *ngIf="responseInstrcutionDetails?.domesticWorkers != 0">
                            <div class="col-12">
                                <div class="page-sub-title">DOMESTIC WORKERS</div>
                            </div>
                        </div>
                        <div class="row row-header mb-2" *ngIf="responseInstrcutionDetails?.domesticWorkers != 0">
                            <div class="col-2">Name</div>
                            <div class="col-2">Type</div>
                            <div class="col-1">Live in Y/N</div>
                            <div class="col-3">Work Schedule</div>
                            <div class="col-2">ID Number</div>
                            <div class="col-2">Contact Number</div>
                        </div>
                        <div class="row children-row mb-2"
                            *ngFor="let staff of responseInstrcutionDetails?.domesticWorkers"
                            style="flex-wrap: nowrap;font-size: 0.8rem;">
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{staff.employeeName}}>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{staff.workerTypeName}}>
                            </div>
                            <div class="col-1">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{staff.isSleepIn}}>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" class="fidelity-form-input form-control" readonly
                                        [value]="staff['days']">
                                </div>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{staff.identityNo}}>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{staff.contactNo}}>
                            </div>
                        </div>
                        <div class="row" *ngIf="responseInstrcutionDetails?.securityOfficers != 0">
                            <div class="col-12">
                                <div class="page-sub-title">SECURITY OFFICER</div>
                            </div>
                        </div>
                        <div class="row row-header mb-2" *ngIf="responseInstrcutionDetails?.securityOfficers != 0">
                            <div class="col-2">Name</div>
                            <div class="col-1">Type</div>
                            <div class="col-1">No. of Guards</div>
                            <div class="col-2">Work Schedule</div>
                            <div class="col-2">Site Number</div>
                            <div class="col-2">Control Number</div>
                            <div class="col-2">ID Number</div>
                        </div>
                        <div>
                            <div class="row mb-2 border-bottom-dashed pb-4"
                                *ngFor="let guard of responseInstrcutionDetails?.securityOfficers">
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        value={{guard.securityServiceProviderName}}>
                                </div>
                                <div class="col-1">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        value={{guard.type}}>
                                </div>
                                <div class="col-1">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        value={{guard.noOfSecurityOfficers}}>
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        value={{guard.workSchedule}}>
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        value={{guard.siteNumber}}>
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        value={{guard.controlRoomPhoneNo}}>
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        value={{guard.identityNo}}>
                                </div>
                            </div>
                        </div>
                        <div class="row"
                            *ngIf="responseInstrcutionDetails?.accessPremisesPadlockBarrelLock != 0 ||
                        responseInstrcutionDetails?.accessPremisesDigipadLockbox != 0 || responseInstrcutionDetails?.accessPremisesOthers != 0">
                            <div class="col-12">
                                <div class="page-sub-title">ACCESS TO PREMISES</div>
                            </div>
                            <div class="col-12"
                                *ngIf="responseInstrcutionDetails?.accessPremisesPadlockBarrelLock != 0">
                                <div class="page-sub-title">PadLock and BarrelLock</div>
                            </div>
                        </div>
                        <div class="row row-header mb-2"
                            *ngIf="responseInstrcutionDetails?.accessPremisesPadlockBarrelLock != 0">
                            <div class="col-4">Type</div>
                            <div class="col-4">Description</div>
                            <div class="col-2">Door/Gate</div>
                        </div>
                        <div class="access-row row mb-1"
                            *ngFor="let access of responseInstrcutionDetails?.accessPremisesPadlockBarrelLock">
                            <div class="col-4">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.accessPremisesType}}>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.description}}>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.doorGate}}>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-12" *ngIf="responseInstrcutionDetails?.accessPremisesDigipadLockbox != 0">
                                <div class="page-sub-title">Digipad</div>
                            </div>
                        </div>
                        <div class="row row-header mb-2"
                            *ngIf="responseInstrcutionDetails?.accessPremisesDigipadLockbox != 0">
                            <div class="col-3">Type</div>
                            <div class="col-3">Description</div>
                            <div class="col-2">Number</div>
                            <div class="col-2">Name</div>
                            <div class="col-2">Code</div>
                        </div>
                        <div class="access-row row mb-1"
                            *ngFor="let access of responseInstrcutionDetails?.accessPremisesDigipadLockbox">
                            <div class="col-3">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.accessPremisesType}}>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.description}}>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.groupNumber}}>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.gateName}}>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.accessCode}}>
                            </div>
                        </div>
                        <div class="row mt-3 mb-2">
                            <div class="col-12" *ngIf="responseInstrcutionDetails?.accessPremisesOthers != 0">
                                <div class="page-sub-title">Secure Gate</div>
                            </div>
                        </div>
                        <div class="row row-header mb-2" *ngIf="responseInstrcutionDetails?.accessPremisesOthers != 0">
                            <div class="col-4">Type</div>
                            <div class="col-4">Description</div>
                        </div>
                        <div class="access-row row mb-2"
                            *ngFor="let access of responseInstrcutionDetails?.accessPremisesOthers">
                            <div class="col-4">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.accessPremisesType}}>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.description}}>
                            </div>
                        </div>

                        <div class="row" *ngIf="responseInstrcutionDetails?.hazards != 0">
                            <div class="col-12">
                                <div class="page-sub-title">HAZARDS</div>
                            </div>
                        </div>
                        <div class="row" *ngIf="responseInstrcutionDetails?.hazards != 0">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="">Hazards</label>
                                        <div class="form-group"
                                            *ngFor="let hazard of responseInstrcutionDetails?.hazards">
                                            <input type="text" class="form-control fidelity-form-input disabled"
                                                value={{hazard.hazards}}>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Detail</label>
                                        <div class="form-group"
                                            *ngFor="let hazard of responseInstrcutionDetails?.hazards">
                                            <input type="text" class="form-control fidelity-form-input disabled"
                                                value={{hazard.details}}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="">Instructions</label>
                                <div class="no-data-msg">{{responseInstrcutionDetails?.hazardRiskDescription}}</div>
                            </div>
                            <div class="col-12">
                                <label for="">Site Instructions</label>
                                <div class="no-data-msg">{{responseInstrcutionDetails?.siteInstructionForAROfficer}}
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="responseInstrcutionDetails?.medicalInstructions != 0">
                            <div class="col-12">
                                <div class="page-sub-title">MEDICAL INSTRUCTION</div>
                            </div>
                        </div>
                        <div class="row row-header mb-2" *ngIf="responseInstrcutionDetails?.medicalInstructions != 0">
                            <div class="col-4">Medical Condition</div>
                            <div class="col-4">Medications</div>
                            <div class="col-4">Allergies</div>
                        </div>
                        <div class="access-row row mb-2"
                            *ngFor="let access of responseInstrcutionDetails?.medicalInstructions">
                            <div class="col-4">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.medicalCondition}}>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.medications}}>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    value={{access.allergies}}>
                            </div>
                        </div>
                    </div>
                    <div
                        *ngIf="responseInstrcutionDetails?.domesticWorkers == 0 && responseInstrcutionDetails?.domesticWorkers == 0
                    && responseInstrcutionDetails?.securityOfficers == 0 && responseInstrcutionDetails?.accessPremisesPadlockBarrelLock == 0 &&
                    responseInstrcutionDetails?.accessPremisesDigipadLockbox == 0 && responseInstrcutionDetails?.accessPremisesOthers == 0
                    && responseInstrcutionDetails?.accessPremisesOthers == 0 && responseInstrcutionDetails?.hazards == 0 && responseInstrcutionDetails?.medicalInstructions == 0">
                                    <p class="no-data-msg mt-2">{{NO_DATA_FOUND_MESSAGE}}</p>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3"
            [ngClass]="(config?.data?.responseInstructionDialog == true)?'invisible':'d-block'">
            <button (click)="onSubmitAcknowledgement()"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Acknowledgement</button>
        </div>
    </form>
</div>