
::ng-deep .slider.round.yes_no:after {
    content: "No";
    font-size: 0.9rem!important;
    right: 25px !important;
    top: 4px !important;
  }
  
::ng-deep input:checked + .slider.yes_no:after {
    content: "Yes";
    right: 18px !important;
}