<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="tariffCreationForm" customForm (ngSubmit)="onSubmit()">
      <div class="ibox" style="height: 64vh;">
        <div class="ibox-body brown-border">

          <div class="row mt-2">
            <div class="col-4">
              <div class="form-group"><label>Tariff Code<span class="mandatory-field">*</span></label>
                <input type="text" class="form-control fidelity-form-input" formControlName="tariffCode"
                  placeholder="Tariff Code" disabled>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group"><label>Tariff Description<span class="mandatory-field">*</span></label>
                <textarea class="form-control fidelity-form-input" formControlName="tariffDescription" placeholder="Tariff Description" rows="2"></textarea>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group"><label>Invoice Period<span class="mandatory-field">*</span></label>
                <select class="form-control fidelity-form-input" formControlName="billingIntervalId">
                  <option value="" disabled>Select Invoice Period</option>
                  <option *ngFor="let invoice of invoicePeriodList" [value]="invoice.id">{{invoice.displayName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con "><label>Valid From<span class="mandatory-field">*</span></label>
                <p-calendar [minDate]="todayDate"  formControlName="validFrom" styleClass="w-100"></p-calendar>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con "><label>Valid Till</label>
                <p-calendar [minDate]="startDate" formControlName="validTill" placeholder="Select Valid Till Date" styleClass="w-100" ></p-calendar>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group"><label>Status<span class="mandatory-field">*</span></label>
                <select class="form-control fidelity-form-input" formControlName="isActive">
                  <option value="" disabled>Select Status</option>
                  <option *ngFor="let status of statusList" [value]="status.id">{{status.displayName}}</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group"><label>Subscription Group<span class="mandatory-field">*</span></label>
                <select class="form-control fidelity-form-input" formControlName="tariffGroupId">
                  <option value="" disabled>Select Status</option>
                  <option *ngFor="let group of groupList" [value]="group.id">{{group.displayName}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
</div>
