.input-group {
  position: relative;
  display: flex;
  width: 100%;
}

.input-group-btn {
  cursor: pointer;
}

.form-group {
  width: 80%;
}

.border-class {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-left: unset;
}

.notification-container {
  margin-top: 21px;
}

ng-component.ng-star-inserted {
  white-space: nowrap !important;
}

span.help.is-danger {
  white-space: nowrap !important;
}

.error-notification {
  color: #dc3545;
  font-size: 0.8em;
}

::ng-deep span.help.is-danger {
  font-size: 9px !important;
}

.add-notes-description-con {
  ::ng-deep .add-notes-description-btn {
    right: 15px;
    top: 0;
    cursor: pointer;
  }
}

span[class^="status-label"] {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 14px;
}

.statusClass {
  padding: 5px;
  border-radius: 11px;
}

.row-number-col {
  width: 4.499999995%;
  flex: 0 0 8.499% !important;
  max-width: 8.499%;
}

.col-top .col-4 {
  margin-top: 6px;
}