<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative">
  {{config?.header}}
  <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<div class="fdt-dialog-body">
  <form autocomplete="off" [formGroup]="callCenterDialogForm" class="fidelity-popup-form set-names-upload" customForm
    class="fidelity-popup-form" (ngSubmit)="onSubmit()" style="font-size: 0.9rem!important;">
    <div>
      <div>
        <p-scrollPanel [style]="{height: '45vh'}" styleClass="custom">
          <div class="mr-4">
            <div class="row col-top">
              <div class="col-4">
                <label>Region<span class="mandatory-field">*</span></label>
                <select class="form-control fidelity-form-input" formControlName="regionId" formControlName="regionId"
                  (change)="getBranchDropdown($event.target.value)">
                  <option value="null" disabled> Select region </option>
                  <option *ngFor="let region of regionDropdown" [value]="region?.id">
                    {{region?.displayName}}
                  </option>
                </select>
              </div>
              <div class="col-4">
                <label>Branch<span class="mandatory-field">*</span></label>
                <select class="form-control fidelity-form-input" formControlName="branchId">
                  <option value="null" disabled> Select branch </option>
                  <option *ngFor="let branch of branchDropdown" [value]="branch?.id">
                    {{branch?.displayName}}
                  </option>
                </select>
              </div>
              <div class="col-4">
                <label class="d-block"> Contact Centre Name <span class="mandatory-field">*</span>
                </label>
                <input class="form-control fidelity-form-input" type="text" formControlName="contactCentreName"
                  placeholder="Enter Contact Centre Name" />
              </div>
            </div>
            <div class="row col-top">
              <div class="col-4">
                <label class="d-block"> Contact Number <span class="mandatory-field">*</span></label>
                <div class="row fidelity-ph-no-field">
                  <div class="col-4 pr-0">
                    <div class="form-group" style="width:100%!important;">
                      <select class="form-control fidelity-form-input" style="width: 75px!important;"
                        formControlName="phoneNoCountryCode">
                        <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                          {{countryCode.displayName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-8 pl-0" style="margin-top: 6px;">
                    <div class="form-group">
                      <input autocomplete="off" appPhoneMask
                        [title]="callCenterDialogForm?.get('phoneNoCountryCode')?.value"
                        class="form-control fidelity-form-input" formControlName="callCenterNo" name="phoneNumber"
                        placeholder="Enter Phone Number">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <label class="d-block">OSCC Enpoint Url
                </label>
                <input class="form-control fidelity-form-input" type="text" formControlName="osccEnpointUrl"
                  placeholder="Enter OSCC Enpoint Url" />

              </div>
              <div class="col-4">
                <label class="d-block"> Webhook APIVersion
                </label>
                <input class="form-control fidelity-form-input" type="text" formControlName="webhookAPIVersion"
                  placeholder="Enter Webhook APIVersion" />
              </div>
            </div>
            <div class="row col-top">
              <div class="col-4">
                <label class="d-block"> Webhook URL
                </label>
                <input class="form-control fidelity-form-input" type="text" formControlName="webhookURL"
                  placeholder="Enter Webhook URL" />
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="d-block"> Application Name
                  </label>
                  <input class="form-control fidelity-form-input" type="text" formControlName="applicationName"
                    placeholder="Enter Application Name " />
                </div>
              </div>
              <div class="col-4">
                <label class="d-block"> Application Token
                </label>
                <input class="form-control fidelity-form-input" type="text" formControlName="applicationToken"
                  placeholder="Enter Application Token" />
              </div>
            </div>
            <div class="row col-top">
              <div class="col-4">
                <label class="d-block">Application Bus Unit Name
                </label>
                <input class="form-control fidelity-form-input" type="text" formControlName="applicationBusUnitName"
                  placeholder="Enter Application Bus Unit Name" />

              </div>
              <div class="col-4">
                <label>Status</label> <br>
                <p-inputSwitch class="fidelity-toggle-btn" [formControlName]="'isActive'">
                </p-inputSwitch>
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </div>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div class="text-center">
        <button type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
          [label]="'Update'"></button>
        <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
          type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>
