<div class="fidelity-popup-heading container-fluid p-relative">{{saveOfferDOALevelConfigId?'Update':'Create'}} Save Offer 
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
      </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="container-save-offer">
    <form class="fidelity-popup-form" *ngIf="saveOfferAddEditForm" customForm (ngSubmit)="onSubmit()"
    [formGroup]="saveOfferAddEditForm" style="width: 95%;"> 
     
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="">Role<span class="mandatory-field">*</span></label>
                <select name="role" class="form-control fidelity-form-input" (click)="selectRole($event)" formControlName="roleId">
                    <option value="" disabled>Select Role</option>
                    <option *ngFor="let role of roleList" [value]="role.level">
                        {{role.roleName}}
                    </option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label class="">Assigned level<span class="mandatory-field">*</span></label>
                <input  class="form-control fidelity-form-input"  formControlName="saveOfferDOALevelConfigId" type="text" name="saveOfferDOALevelConfigId"  />
            </div>
        </div>
        <p style="margin-bottom: 8px;font-size: 18px;margin-top: 3px;font-weight: 600;">Parameters</p>
        <div class="form-group row">     
                  <div  class="col-md-6" style=" margin-top: 34px;">
                            Total Service Price Range
                  </div>
                  <div class="col-md-6">
                    <div class="row">                       
                            <div class="col-md-6">
                                <label class="">From</label>
                                <input  class="form-control fidelity-form-input"  formControlName="discountPriceRangeFrom" type="text" name="discountPriceRangeFrom"  />
                            </div>
                            <div class="col-md-6">
                                <label class="">To</label>
                                <input  class="form-control fidelity-form-input" formControlName="discountPriceRangeTo" type="text" name="discountPriceRangeTo"  />
                            </div>
                    </div>             
                  </div>     
        </div>
        <div class="form-group row">     
            <div  class="col-md-6" style=" margin-top: 34px;">
                   Discount value
            </div>
            <div class="col-md-6">
              <div class="row">                       
                      <div class="col-md-6">
                          <label class="">From</label>
                          <input  class="form-control fidelity-form-input" type="text" formControlName="discountPercentageValueFrom"   name="discountPercentageValueFrom"  />
                      </div>
                      <div class="col-md-6">
                          <label class="">To</label>
                          <input  class="form-control fidelity-form-input" type="text" formControlName="discountPercentageValueTo"   name="discountPercentageValueTo"    />
                      </div>
              </div>             
            </div>     
        </div>
        <div class="form-group row" style="margin-top: 30px;">     
            <div  class="col-md-6" >
                  Free Service
            </div>
            <div class="col-md-6">
                <div class="row">                       
                        <div class="col-md-6">
                            <label class="">From</label>
                            <select name="role" formControlName="freeMonthsFromId"  class="form-control fidelity-form-input" >
                                <option value="" disabled>Select monthList</option>
                                <option *ngFor="let role of monthList" [value]="role.id">
                                    {{role.displayName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="">To</label>
                            <select name="role" formControlName="freeMonthsToId"  class="form-control fidelity-form-input" >
                                <option value="" disabled>Select monthList</option>
                                <option *ngFor="let role of monthList" [value]="role.id">
                                    {{role.displayName}}
                                </option>
                            </select>
                        </div>
                </div>             
              </div>  
        
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
              <button  class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"  (click)="btnCloseClick()">Cancel</button>
            </div>
      </div>
   </form>
</div>
