<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>

  <p-scrollPanel [style]="{height: '65vh'}">
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [loading]="loading"
  [dataList]="dataList" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
  (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
</app-page-list-table>
</p-scrollPanel>

<div class="text-center mt-2">
  <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit" (click)="onSubmit()">Submit </button>
  <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" routerLink="/collection/nimble/writen-off-accounts/bulk-re-assignment">Cancel</button>
</div>
