<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
  cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
  {{config.header}}
  <button mat-icon-button class="close-button p-absolute" type="button" (click)="dialogClose()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="isEdit" customForm [formGroup]="productivityTargetAddEditForm"
  (ngSubmit)="onSubmit()">
  <div class="form-group row mb-2">
    <label class="col-md-12 col-form-label">Type of Credit Controller<span class="mandatory-field">*</span></label>
    <div class="col-md-12">
      <select class="form-control fidelity-form-input" type="text" name="Name" formControlName="creditControllerTypeId">
        <option value="" disabled>Select Type of Credit Controller</option>
        <option *ngFor="let type of creditControllerTypeList" [value]="type.id">{{type.displayName}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row mb-2">
    <label class="col-md-12 col-form-label" for="target">Target(Daily)<span class="mandatory-field">*</span></label>
    <div class="col-md-12">
      <input class="form-control fidelity-form-input" id="target" type="text" placeholder="Target (daily)"
        [validateInput]='isNumberOnly' name="Name" formControlName="target" autocomplete="off" />
    </div>
  </div>
  <div class="form-group row mb-2">
    <label class="col-md-12 col-form-label">Status</label>
    <div class="col-md-12">
      <div class="form-group">
        <label class="active switch">
          <input type="checkbox" formControlName="isActive">
          <span class="slider round active"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="text-center ">
    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
    <button class="btn btn-md-fidelity fidelity-btn-grey" (click)="dialogClose()">Cancel</button>
  </div>
</form>

<div class="row p-3" *ngIf="!isEdit">
  <div class="col-lg-12 mt-2">
    <div class="d-flex mb-2">
      <span class="productivity-info-key">Type Of Credit Controller</span>
      <span class="productivity-info-value">
        {{config?.data?.creditControllerTypeName}}
      </span>
    </div>
  </div>
  <div class="col-lg-12 mt-2">
    <div class="d-flex mb-2">
      <span class="productivity-info-key">Target(Daily)</span>
      <span class="productivity-info-value">
        {{config?.data?.target}}
      </span>
    </div>
  </div>
  <div class="col-lg-12 mt-2">
    <div class="d-flex mb-2">
      <span class="productivity-info-key">Status</span>
      <span [class]="config?.data.cssClass">{{config?.data?.status}}</span>
    </div>
  </div>
  <div class="col-lg-12 mb-4">
    <div class="text-center mt-4">
      <button class="btn btn-md-fidelity fidelity-btn-brown" type="button" (click)="edit()">Edit</button>
    </div>
  </div>
</div>
<style>
  .productivity-info-key {
    display: inline-block;
    width: 50%;
    color: #8A8A8A;
  }

  .productivity-info-value {
    width: 50%;
  }
</style>
