<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)">
</app-page-header>

<div class="page-content fade-in-up">
    <form customForm [formGroup]="erbExclusionConfigAddEditForm" (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Division<span class="mandatory-field">*</span></label>
                                <select id="divsion" class="form-control fidelity-form-input" name="Division" placeholder="Select Division"
                                    formControlName="divisionId">
                                    <option value="" disabled>Select Division</option>
                                    <option *ngFor="let division of divisionDropDown" [value]="division.id">
                                        {{division.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Tech Attended in Last (Hours)<span class="mandatory-field">*
                                    </span></label>
                                <input class="form-control fidelity-form-input" type="text" [validateInput]='isANumberOnly'
                                    placeholder="Enter Hours" formControlName="techAttendedInLastHours">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Tech Attended in Last (Days)<span class="mandatory-field">*
                                    </span></label>
                                <input class="form-control fidelity-form-input" type="text" [validateInput]='isANumberOnly'
                                    placeholder="Enter Days" formControlName="techAttendedInLastDays">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group" id="main_area_con">
                                <label>Excluded Event<span class="mandatory-field">*
                                    </span></label>
                                <mat-select class="form-control fidelity-form-input" formControlName="erbExcludedAlarmTypeList" multiple
                                    placeholder="Select Event">
                                    <mat-option value="" #allSelectedEvent *ngIf="alarmTypeList?.length > 0" (click)="toggleAllEvents()"
                                        selected>All Events</mat-option>
                                    <mat-option *ngFor="let item of alarmTypeList" [value]="item.id"
                                        (click)="toggleEventOne(allSelectedEvent?.viewValue)">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Categories<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isSiteTypeName">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group" id="main_area_con">
                                <label>Categories<span class="mandatory-field">*
                                    </span></label>
                                <mat-select class="form-control fidelity-form-input" formControlName="erbExcludedSiteTypeList" multiple
                                    placeholder="Select Category">
                                    <mat-option value="" #allSelectedCategory *ngIf="siteTypeList?.length > 0" (click)="toggleAllCategories()"
                                        selected>All Categories</mat-option>
                                    <mat-option *ngFor="let item of siteTypeList" [value]="item.id"
                                        (click)="togglecategoryOne(allSelectedCategory?.viewValue)">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">NKA Exclusion<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isNKAExclusion">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group" id="main_area_con">
                                <label>Origin<span class="mandatory-field">*
                                    </span></label>
                                <mat-select class="form-control fidelity-form-input" formControlName="erbExcludedOriginList" multiple
                                    placeholder="Select Origin">
                                    <mat-option value="" #allSelectedOrigin *ngIf="originTypeList?.length > 0" (click)="toggleAllOrigins()"
                                        selected>All Origins</mat-option>
                                    <mat-option *ngFor="let item of originTypeList" [value]="item.id"
                                        (click)="toggleOriginOne(allSelectedOrigin?.viewValue)">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{erbExclusionConfigId
                ? 'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/signal-management/erb-query-builder' [queryParams]="{tab:1}">Cancel</button>
        </div>
    </form>
</div>

<style>
    .slider{
        width: 94px;
    }
</style>