<div class="position-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedIndex">
    </app-page-header>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form class="fidelity-popup-form" [formGroup]="dealerDocTypeDetailForm" (ngSubmit)="onSubmitRequest()">
                <div class="ibox">
                    <div class="ibox-body mb-3 p-relative">
                        <div class="row parent-row mb-1">
                            <ng-container
                                *ngFor="let col of primengTableConfigProperties?.tableComponentConfigs?.tabsList[selectedIndex].columns; let i=index">
                                <div [class]="col?.className" *ngIf="col.type == 'input_text'">
                                    <label class="d-block">{{col.displayName}}</label>
                                    <input type="text" [name]="col.field" [id]="col.field"
                                        class="form-control fidelity-form-input" [formControlName]="col.field">
                                    <span class="text-danger"
                                        *ngIf="dealerDocTypeDetailForm.get(col.field)?.touched && dealerDocTypeDetailForm.get(col.field)?.errors?.required">
                                        {{col.displayName}} is required
                                    </span>
                                </div>
                                <div [class]="col?.className" *ngIf="col.type == 'input_switch'">
                                    <label class="d-block mb-3">{{col.displayName}}</label>
                                    <div class="form-group">
                                        <p-inputSwitch class="fidelity-toggle-btn" [formControlName]="col.field">
                                        </p-inputSwitch>
                                    </div>
                                </div>
                                <div [class]="col?.className" *ngIf="col.type == 'input_number'">
                                    <label class="d-block">{{col.displayName}}</label>
                                    <input type="text" [name]="col.field" [id]="col.field"
                                        class="form-control fidelity-form-input" [validateInput]="col?.validateInput"
                                        minlength="1" [maxlength]="col?.maxlength" [formControlName]="col.field">
                                    <span class="text-danger"
                                        *ngIf="dealerDocTypeDetailForm.get(col.field)?.touched && dealerDocTypeDetailForm.get(col.field)?.errors?.required">
                                        {{col.displayName}} is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="dealerDocTypeDetailForm.get(col.field)?.touched && dealerDocTypeDetailForm.get(col.field)?.errors?.maxlength">
                                        {{col.displayName}} is must be maximum {{col.field == 'weights' ? 2 : col.field
                                        ==
                                        'percentageFrom' || col.field == 'percentageTo' ? 3 : ''}} characters length
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="dealerDocTypeDetailForm.get(col.field)?.touched && dealerDocTypeDetailForm.get(col.field)?.errors?.lesserGreaterThan">
                                        <span *ngIf="col.field == 'percentageFrom'">{{col.displayName}} is must be
                                            lesser than or equal
                                            to Percentage To</span>
                                        <span *ngIf="col.field == 'percentageTo'">{{col.displayName}} is must be greater
                                            than or equal
                                            to Percentage From</span>
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="dealerDocTypeDetailForm.get(col.field)?.touched && dealerDocTypeDetailForm.get(col.field)?.errors?.percentage">
                                        {{col.displayName}} has value in between the 0 to 100
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="dealerDocTypeDetailForm.get(col.field)?.touched && dealerDocTypeDetailForm.get(col.field)?.errors?.checkdate">
                                        {{col.displayName}} is invalid date
                                    </span>
                                </div>
                                <div [class]="col?.className" *ngIf="col.type == 'input_select'">
                                    <label class="d-block mb-3">{{col.displayName}}<span class="mandatory-field"
                                            *ngIf="col?.required">*</span></label>
                                    <div class="form-group">
                                        <select class="form-control fidelity-form-input" [formControlName]="col.field">
                                            <option value="" disabled selected *ngIf="col?.isDefaultOpt">
                                                {{col?.defaultText}}</option>
                                            <option *ngFor="let item of col?.options;" [value]="item[col?.assignValue]">
                                                {{item[col?.displayValue]}}</option>
                                        </select>
                                        <span class="text-danger"
                                            *ngIf="dealerDocTypeDetailForm.get(col.field)?.touched && dealerDocTypeDetailForm.get(col.field)?.errors?.required">
                                            Please select the {{col.displayName}}
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="col-2">
                                <button class="circle-plus-btn" type="button" [disabled]="isSubmitted || isLoading"
                                    matTooltip="Add" style="top: 29px;left: 2px;" (click)="addConfigItem()">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                            </div>
                        </div>
                        <div>
                            <p-scrollPanel [style]="{height: '48vh'}" styleClass="custom">
                                <app-page-form-array [pageForm]="dealerDocTypeDetailForm"
                                    [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                                    [selectedIndex]="selectedIndex" [isLoading]="isLoading" [isSubmitted]="isSubmitted"
                                    (validateExist)="validateExistItem($event)" (editItem)="editConfigItem($event)"
                                    (removeItem)="removeConfigItem($event)">
                                </app-page-form-array>
                            </p-scrollPanel>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <span class="float-left mt-2">Total Records - <strong>{{getDealerDocTypeFormArray?.length ?
                                getDealerDocTypeFormArray?.length : 0}}</strong></span>
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit"
                            [disabled]="isSubmitted || isLoading || !getDealerDocTypeFormArray?.value?.length">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>