<div class="page-heading">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
    </app-page-header>

    <form *ngIf="showFilterForm" [formGroup]="purchaseOrderFilterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;right: 68px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">

                <div class="row">
                    <div class="col-4">
          
                        <div class="form-group leads-category-con">
                            <label class="d-block">PO Number</label>
                            <mat-select-autocomplete ngDefaultControl [id]="'poNumber'"
                                [formControl]="purchaseOrderFilterForm?.controls['poNumber']"
                                [placeholder]="'Select Single/Multiple'" [options]="purchaseOrderList" [multiple]='true'
                                [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-4">
             
                        <div class="form-group leads-category-con">
                            <label class="d-block">Warehouse</label>
                            <mat-select-autocomplete ngDefaultControl [id]="'warehouseId'"
                                [formControl]="purchaseOrderFilterForm?.controls['warehouseId']"
                                [placeholder]="'Select Single/Multiple'" [options]="warehouseList" [multiple]='true'
                                [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Supplier</label>
                            <mat-select-autocomplete ngDefaultControl [id]="'supplierId'"
                                [formControl]="purchaseOrderFilterForm?.controls['supplierId']"
                                [placeholder]="'Select Single/Multiple'" [options]="suppliersList" [multiple]='true'
                                [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- (selectionChange)="getSelectedStockCodeOptions($event)"  -->
                        <div class="form-group leads-category-con">
                            <label class="d-block">Stock Order Number</label>
                            <mat-select-autocomplete ngDefaultControl [id]="'stockOrderId'"
                                [formControl]="purchaseOrderFilterForm?.controls['stockOrderId']"
                                [placeholder]="'Select Single/Multiple'" [options]="stockOrderList" [multiple]='true'
                                [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for=""> Date </label>
                            <div class="row">
                                <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                    <!-- <mat-form-field>
                                        <input matInput [matDatepicker]="requisitionFromDate"
                                            formControlName="fromDate">
                                        <mat-datepicker-toggle matSuffix [for]="requisitionFromDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #requisitionFromDate></mat-datepicker>
                                    </mat-form-field> -->
                                    <p-calendar  formControlName="fromDate" [minDate]="startTodayDate"  styleClass="w-100"  placeholder="" > </p-calendar>
                                   
                                </div>
                                <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con">
                                    <!-- <mat-form-field>
                                        <input matInput [matDatepicker]="requisitionToDate" formControlName="toDate">
                                        <mat-datepicker-toggle matSuffix [for]="requisitionToDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #requisitionToDate></mat-datepicker>
                                    </mat-form-field> -->
                                    <p-calendar formControlName="toDate" [minDate]="startTodayDate"  styleClass="w-100"  placeholder="">    </p-calendar>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Stock Code</label>
                            <mat-select-autocomplete ngDefaultControl [id]="'stockCodeId'"
                                [formControl]="purchaseOrderFilterForm?.controls['stockCodeId']"
                                [placeholder]="'Select Single/Multiple'" [options]="stockCodeList" [multiple]='true'
                                [value]="'value'" [display]="'display'">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Enter/Scan Barcode</label>
                            <div class="input-group fidelity-input-addon mb-3">
                                <input class="form-control fidelity-form-input input-disabled" type="text"
                                    name="Location Pin" placeholder="Enter Barcode" maxlength="102"
                                    formControlName="scanBarcode">
                                <div class="input-group-append">
                                    <button class="text-white" type="button" (click)="searchInputField()">
                                        <i aria-hidden="true" class="icon icon-scan"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>

</div>

<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [customScroll]="false" 
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>