<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Customer</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/customer/manage-customers"><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/customer/manage-customers">Customer Management </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/customer/manage-customers">Customers List</a>
        </li>
        <li class="breadcrumb-item">View Customer: Credit Notes</li>
    </ol>
    <div class="grid-icons-con float-right">
        <a class="fidelity-btn-circle fidelity-brown-btn" >
            <i class="icon icon-tile" aria-hidden="true" matTooltip="Quick Action"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <form customForm [formGroup]="customerManualInvoiceForm" (ngSubmit)="onSubmit()">
    <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{ height: '65vh'}">
        <div class="ibox-body brown-border" style="height: 150vh;">
            <div class=" page-sub-title">Customer INFO</div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex mb-2">
                        <span class="cust-info-key">Customer ID</span>
                        <span class="cust-info-value">
                            {{detailsData?.customer?.customerRefNo}}
                        </span>
                    </div>
                    <div class="d-flex mb-2 ">
                        <span class="cust-info-key ">Customer Type</span>
                        <span class="cust-info-value p-relative">
                            {{detailsData?.customer?.customerTypeName}}

                        </span>

                    </div>
                    <div  class="d-flex mb-2">
                        <span class="cust-info-key">Contact Number </span>
                        <span class="cust-info-value p-relative">
                            {{detailsData?.customer?.contactNumber}}

                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex mb-2">
                        <span class="cust-info-key">Customer Name</span>
                        <span class="cust-info-value">
                            {{detailsData?.customer?.customerName}}

                        </span>
                    </div>
                    <div class="d-flex mb-2">
                        <span class="cust-info-key">Contact Address</span>
                        <span class="cust-info-value">
                            {{detailsData?.customer?.contactAddress}}

                        </span>
                    </div>
                    <div class="d-flex mb-2">
                        <span class="cust-info-key">Email Address</span>
                        <span class="cust-info-value">
                            {{detailsData?.customer?.email}}
                        </span>
                    </div>

                </div>

            </div>
            <div class=" page-sub-title">Debtor INFO</div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="d-flex mb-2">
                        <span class="cust-info-key">Debtor Name</span>
                        <span class="cust-info-value">
                            {{detailsData?.debtor?.debtorName}}

                        </span>
                    </div>
                    <div class="d-flex mb-2 ">
                        <span class="cust-info-key ">BDI Number</span>
                        <span class="cust-info-value p-relative">
                            {{detailsData?.debtor?.bdiNumber}}

                        </span>

                    </div>
                    <div  class="d-flex mb-2">
                        <span class="cust-info-key">Email Address </span>
                        <span class="cust-info-value p-relative">
                            {{detailsData?.debtor?.email}}

                        </span>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="d-flex mb-2">
                        <span class="cust-info-key">Debtor Code</span>
                        <span class="cust-info-value">
                            {{detailsData?.debtor?.debtorRefNo}}

                        </span>
                    </div>
                    <div class="d-flex mb-2">
                        <span class="cust-info-key">Contact Number</span>
                        <span class="cust-info-value">
                            {{detailsData?.debtor?.contactNumber}}
                        </span>
                    </div>
                </div>
            </div>
            <div class=" page-sub-title">Outstanding Balance</div>
            <div class="row mt-1 mb-2" style="font-size: 0.9rem;">
                <div class="col-2">
                    <label for="">Days Outstanding</label>
                    <input type="text" class="form-control fidelity-form-input disabled"  [value]="detailsData?.outstandingBalance.d180">
                </div>
                <div class="col-1">
                    <label for="">Current</label>
                    <input type="text" class="form-control fidelity-form-input disabled"  [value]="detailsData?.outstandingBalance.d150">
                </div>
                <div class="col-1">
                    <label for="">30 Days</label>
                    <input type="text" class="form-control fidelity-form-input disabled"  [value]="detailsData?.outstandingBalance.d120">
                </div>
                <div class="col-1">
                    <label for="">60 Days</label>
                    <input type="text" class="form-control fidelity-form-input disabled"  [value]="detailsData?.outstandingBalance.d90">
                </div>
                <div class="col-1">
                    <label for="">90 Days</label>
                    <input type="text" class="form-control fidelity-form-input disabled"  [value]="detailsData?.outstandingBalance.d60">
                </div>
                <div class="col-1">
                    <label for="">120 Days</label>
                    <input type="text" class="form-control fidelity-form-input disabled"  [value]="detailsData?.outstandingBalance.d30">
                </div>
                <div class="col-1">
                    <label for="">150 Days</label>
                    <input type="text" class="form-control fidelity-form-input disabled"  [value]="detailsData?.outstandingBalance.current">
                </div>
                <div class="col-1">
                    <label for="">180 Days</label>
                    <input type="text" class="form-control fidelity-form-input"  [value]="detailsData?.outstandingBalance.totalOutstanding">
                </div>
                <div class="col-2">
                    <label for="">Total Outstanding Balance</label>
                    <input type="text" class="form-control fidelity-form-input"  [value]="detailsData?.outstandingBalance.totalOutstanding">
                </div>
            </div>

<div class="row">
    <div class="col-lg-4">
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="padding: 10px;">Region</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="padding: 10px;">Document Date</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="padding: 10px;">Description Type</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="padding: 10px;">Reference Transaction ID</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="padding: 10px;">Division</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="padding: 10px;">Transaction Type</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="padding: 10px;">Description Sub Type</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="padding: 10px;">Transaction ID</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="padding: 10px;">Branch</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
        <div class="d-flex mb-2">
            <label class="cust-info-key" style="word-wrap: break-word">Transaction Type Desciption</label>
            <div class="form-group fidelity-multiselect-dropdown-con">
                <input type="text" name="Division" formControlName="division" class="form-control fidelity-form-input" placeholder="Enter Division">
            </div>
        </div>
    </div>
</div>
<div class=" page-sub-title">Credit Note</div>
<div class="row mt-1 mb-2" style="font-size: 0.9rem;">
    <div class="col-2">
        <label for="">Type</label>
        <input type="text" class="form-control fidelity-form-input " >
    </div>
    <div class="col-1">
        <label for="">Stock ID</label>
        <input type="text" class="form-control fidelity-form-input" >
    </div>
    <div class="col-1">
        <label for="">Stock Name</label>
        <input type="text" class="form-control fidelity-form-input" >
    </div>
    <div class="col-1">
        <label for="">GL Code </label>
        <input type="text" class="form-control fidelity-form-input"  >
    </div>
    <div class="col-1">
        <label for="">Quantity</label>
        <input type="text" class="form-control fidelity-form-input"  >
    </div>
    <div class="col-1">
        <label for="">Unit Price</label>
        <input type="text" class="form-control fidelity-form-input"  >
    </div>
    <div class="col-1">
        <label for="">Excl Vat</label>
        <input type="text" class="form-control fidelity-form-input" >
    </div>
    <div class="col-1">
        <label for="">VAT</label>
        <input type="text" class="form-control fidelity-form-input"  >
    </div>
    <div class="col-1">
        <label for="">VAT Code</label>
        <input type="text" class="form-control fidelity-form-input"  >
    </div>
    <div class="col-1">
        <label for="">Incl Vat</label>
        <input type="text" class="form-control fidelity-form-input" >
    </div>
</div>
<div class="row mt-4">
    <div class="col-4">
        <div class="form-group">
            <label>Transaction Notes</label>
            <input formControlName="comments" class="form-control fidelity-form-input"
                type="text" />
        </div>
    </div>
    <div class="col-4 mt-4">
        <div class="form-group">
            <div class="col-4 d-flex justify-content-start align-items-end">
                <div class="form-group d-flex justify-content-start align-items-center">
                    <mat-checkbox class="fidelity-checkbox"
                        formControlName="isSendCustomerCopy">
                        Send Customer Copy</mat-checkbox>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <h1 class="page-sub-title ext-padd mt-3">Supporting Documents</h1>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label>Required Documentation</label>
            <select formControlName="requireDocId" class="form-control fidelity-form-input"
                (change)="requiredDoc($event)">
                <option value="" disabled>Select Required Documentation</option>
                <option *ngFor="let doc of transactionDescriptiondocuments" [value]="doc.id">
                    {{doc.displayName}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-5">
        <div class="form-group">
            <label>Attach File (.Pdf,.Docs,.Jpeg,.Png,.xlsx)</label>
            <div
                style="width: 100%; height: 40px; z-index: 0; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5; width: 100%; height: 100%; opacity: 0;">
                <input #fileInput type="file" name="file"
                    [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                    style="margin-top: 33px; height: 40px; width: 100%;"
                    />
            </div>
            <div style="width: 100%; z-index: 1000;">
                <label for="file" class="sr-only">File</label>
                <div class="input-group" style="height: 40px;">
                    <input type="text" name="filename"
                        style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;"
                        class="form-control" readonly>
                    <span class="input-group-btn">
                        <div class="btn custom-file-uploader"
                            style="height: 40px; padding: 12px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;cursor: pointer;">
                            Browse
                        </div>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="col-1">
        <button 
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3 p-relative p-2"
            type="button" style="top: 33px;left: -9px;"> Upload</button>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="documentContainer">
                <ol class="documentList">
                    <div class="mb-2">
                        <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg">
                            <!-- <li>
                                {{getManualInvoiceDocuments[0]?.documentName}}
                            </li> -->
                        </span>
                    </div>
                    <div *ngFor="let selected of listOfFiles1;let index = index" class="mb-2">
                        <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg"
                            id="selected{{index}}">
                            <!-- <li>
                                {{selected}}
                                <i class="icon icon-close fdt-close-icon ml-2"
                                    (click)="removeSelectedFile(index,'1')" aria-hidden="true"> </i>
                            </li> -->
                        </span>
                    </div>
                </ol>
                <label>
                    <a href="">
                        <!-- <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg"
                            id="docName">
                            {{docName}} </span> -->
                    </a>
                </label>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label>Optional Documentation</label>
            <select formControlName="optionalDocId" class="form-control fidelity-form-input"
                (change)="optionDoc($event)">
                <option value="" disabled>Select Additional Attachment</option>
                <option *ngFor="let doc of transactionDescriptiondocuments" [value]="doc.id">
                    {{doc.displayName}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-5">
        <div class="form-group">
            <label>Attach File (.Pdf,.Docs,.Jpeg,.Png,.xlsx)</label>
            <div
                style="width: 100%; height: 40px; z-index: 0; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5; width: 100%; height: 100%; opacity: 0;">
                <input #fileInput type="file" name="file"
                    [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                    style="margin-top: 33px; height: 40px; width: 100%;"/>
            </div>
            <div style="width: 100%; z-index: 1000;">
                <label for="file" class="sr-only">File</label>
                <div class="input-group" style="height: 40px;">
                    <input type="text" name="filename"
                        style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;"
                        class="form-control" readonly>
                    <span class="input-group-btn">
                        <div class="btn custom-file-uploader"
                            style="height: 40px; padding: 12px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;cursor: pointer;">
                            Browse
                        </div>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="col-1">
        <button 
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3 p-relative p-2"
            type="button" style="top: 33px;left: -9px;"> Upload</button>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="documentContainer">
                <ol class="documentList">
                    <div class="mb-2">
                        <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg">
                            <!-- <li>
                                {{getManualInvoiceDocuments[1]?.documentName}}
                            </li> -->
                        </span>
                    </div>
                    <div *ngFor="let selected of listOfFiles2;let index = index" class="mb-2">
                        <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg"
                            id="selected{{index}}">
                            <!-- <li>
                                {{selected}}
                                <i class="icon icon-close fdt-close-icon ml-2"
                                    (click)="removeSelectedFile(index,'2')" aria-hidden="true"> </i>
                            </li> -->
                        </span>
                    </div>
                </ol>
                <label>
                    <a href="">
                        <!-- <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg"
                            id="docName">
                            {{docName}} </span> -->
                    </a>
                </label>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label>Telephonic Call Recording</label>
            <select formControlName="telephonicDocId" class="form-control fidelity-form-input"
               >
                <option value="" disabled>Select Telephonic Call Recording </option>
                <option *ngFor="let doc of transactionDescriptiondocuments" [value]="doc.id">
                    {{doc.displayName}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-5">
        <div class="form-group">
            <label>Attach File (.Pdf,.Docs,.Jpeg,.Png,.xlsx)</label>
            <div
                style="width: 100%; height: 40px; z-index: 0; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5; width: 100%; height: 100%; opacity: 0;">
                <input #fileInput type="file" name="file"
                    [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                    style="margin-top: 33px; height: 40px; width: 100%;" />
            </div>
            <div style="width: 100%; z-index: 1000;">
                <label for="file" class="sr-only">File</label>
                <div class="input-group" style="height: 40px;">
                    <input type="text" name="filename"
                        style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;"
                        class="form-control" readonly>
                    <span class="input-group-btn">
                        <div class="btn custom-file-uploader"
                            style="height: 40px; padding: 12px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;cursor: pointer;">
                            Browse
                        </div>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="col-1">
        <button 
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3 p-relative p-2"
            type="button" style="top: 33px;left: -9px;"> Upload</button>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="documentContainer">
                <ol class="documentList">
                    <div class="mb-2">
                        <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg">
                            <!-- <li>
                                {{getManualInvoiceDocuments[2]?.documentName}}
                            </li> -->
                        </span>
                    </div>
                    <div  class="mb-2">
                        <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg"
                            id="selected">
                            <!-- <li>
                                {{selected}}
                                <i class="icon icon-close fdt-close-icon ml-2"
                                    (click)="removeSelectedFile(index,'3')" aria-hidden="true"> </i>
                            </li> -->
                        </span>
                    </div>
                </ol>
                <label>
                    <a href="">
                        <!-- <span class="badge badge-pill badge-primary fidelity-uploaded-file-bg"
                            id="docName">
                            {{docName}} </span> -->
                    </a>
                </label>
            </div>
        </div>
    </div>

</div>
<div class="text-center mt-3">
    <button id="cancel_new_leads_btn" type="submit"
        class="btn btn-md-fidelity fidelity-btn-grey fidelity-btn-grey">Submit For Approval</button>
    <button id="cancel_new_leads_btn" type="button"
        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
</div>

            </div>
            </p-scrollPanel>
    </div>
</form>
</div>
