<div class="page-heading ">
    <h1 class="page-title d-inline-block">Job Card Acceptance</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Customer Management: Technician {{callTypeName}}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToCallInitiationPage()">{{callTypeName}}</a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToBillOfMaterialPage()">Bill of Materials</a>
        </li>
        <li class="breadcrumb-item">
            Job Card Acceptance
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">
                <p-scrollPanel [style]="{ height: '65vh'}">
                    <div class="ibox-body mb-3">
                        <div class="container-fluid">
                            <div>
                                <app-view-page [col]="2" [viewDetail]="jobCardDetail" [marginClass]="'m-0 px-0 pb-2'">
                                </app-view-page>
                            </div>
                        </div>
                        <div class="row header-row mt-3" style="font-size: 1rem;">
                            <div class="col-1">Stock Type</div>
                            <div class="col-1 pl-0">Stock Code</div>
                            <div class="col-4 pl-0">Stock Description</div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-1 px-0">Quantity</div>
                                    <div class="col-3">Unit Price excl</div>
                                    <div class="col-3 pl-0">Sub Total excl. vat</div>
                                    <div class="col-2 pl-0">Vat Amount</div>
                                    <div class="col-3 pl-0">Total incl. vat</div>
                                </div>
                            </div>
                        </div>
                        <div class="row children-row mb-1" style="font-size: 1rem;"
                            *ngFor="let jobCardData of jobCardAcceptanceDetails?.jobCardAcceptanceItems"
                            style="flex-wrap: nowrap;">
                            <div class="col-1">
                                <input class="form-control fidelity-form-input disabled" type="text"
                                    [value]="jobCardData?.stockType" />
                            </div>
                            <div class="col-1 pl-0">
                                    <input class="form-control fidelity-form-input disabled" type="text"
                                        [value]="jobCardData?.itemCode" />
                            </div>
                            <div class="col-4 pl-0">
                                <span matTooltip="{{jobCardData?.itemName ? jobCardData?.itemName : ''}}">
                                <input class="form-control fidelity-form-input disabled" type="text"
                                    [value]="jobCardData?.itemName ? jobCardData?.itemName : ''" /></span>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-1 px-0">
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            [value]="jobCardData?.qty" />
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                                            [value]="jobCardData?.unitPrice?.toString() ? (jobCardData?.unitPrice | formatNumber) : ''" />
                                    </div>
                                    <div class="col-3 pl-0">
                                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                                            [value]="jobCardData?.subTotal?.toString() ? (jobCardData?.subTotal | formatNumber) : ''" />
                                    </div>
                                    <div class="col-2 pl-0">
                                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                                            [value]="jobCardData?.vat?.toString() ? (jobCardData?.vat | formatNumber) : ''" />
                                    </div>
                                    <div class="col-3 pl-0">
                                        <input class="form-control fidelity-form-input text-right disabled" type="text"
                                            [value]="jobCardData?.total?.toString() ? (jobCardData?.total | formatNumber) : ''" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" style="font-size: 1rem;">
                            <div class="col-8">
                                <div class="form-group">
                                    <label>Comments</label>
                                    <textarea class="form-control fidelity-form-input disabled" name="" rows="3"
                                        [value]="jobCardAcceptanceDetails?.comments"></textarea>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-4 px-0">
                                        <label>Sub Total excl. vat</label>
                                    </div>
                                    <div class="col-3 pr-0">
                                        <label>Vat amount</label>
                                    </div>
                                    <div class="col-5">
                                        <label>Total incl. vat</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 px-0">
                                        <div class="form-group">
                                            <span [matTooltip]="jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.subTotal ? (jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.subTotal | formatNumber) : ''">
                                                <input class="form-control fidelity-form-input text-right disabled" type="text"
                                                    [value]="jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.subTotal.toString() ? (jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.subTotal | formatNumber) : ''" /></span>
                                        </div>
                                    </div>
                                    <div class="col-3 pr-0">
                                        <div class="form-group">
                                            <span [matTooltip]="jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.vatAmount ? (jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.vatAmount | formatNumber) : ''">
                                                <input class="form-control fidelity-form-input text-right disabled" type="text"
                                                    [value]="jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.vatAmount.toString() ? (jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.vatAmount | formatNumber) : ''" /></span>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <span [matTooltip]="jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.totalAmount ? (jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.totalAmount | formatNumber) : ''">
                                                <input class="form-control fidelity-form-input text-right disabled" type="text"
                                                    [value]="jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.totalAmount.toString() ? (jobCardAcceptanceDetails?.jobCardAcceptanceSummary?.totalAmount | formatNumber) : ''" /></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="page-title d-inline-block">Customer Details</div>
                            <form class="fidelity-popup-form" [formGroup]="customerDetailsForm">
                                <div class="row">
                                    <div class="col-3">
                                        <div
                                            class="form-group d-flex flex-row align-items-center justify-content-between p-relative">
                                            <label>Name<span class="mandatory-field">*</span></label>
                                            <input class="form-control fidelity-form-input" type="text"
                                                style="width: 70%;" formControlName="customerName"
                                                [ngClass]="{'is-invalid':(customerDetailsForm?.get('customerName')?.touched && customerDetailsForm?.get('customerName')?.invalid)}" />
                                            <span class="p-absolute text-danger" *ngIf="(customerDetailsForm?.get('customerName')?.touched
                                                    && customerDetailsForm?.get('customerName')?.invalid)"
                                                style="bottom:-18px; left: 75px">
                                                Name is required
                                            </span>
                                        </div>
                                        <div
                                            class="form-group d-flex flex-row align-items-center justify-content-between">
                                            <label>Designation</label>
                                            <input class="form-control fidelity-form-input" type="text"
                                                style="width: 70%;" formControlName="designation" />
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group d-flex flex-column">
                                            <label>Signature</label>
                                            <input class="form-control fidelity-form-input disabled" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group d-flex flex-column">
                                            <label>Collectable amount on invoice</label>
                                            <input class="form-control fidelity-form-input disabled" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row"
                                    *ngIf="jobCardAcceptanceDetails?.handoverCertificateNotRequired &&callType==1">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <mat-checkbox class="fidelity-checkbox mr-2"
                                                formControlName="isHandoverCertificate">
                                                {{jobCardAcceptanceDetails?.handoverCertificateLable}}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-md-fidelity fidelity-btn-brown" type="button"
                    (click)="sendElectronicApproval()">Sent for electronic approval</button>
                <!-- <button class="btn btn-md-fidelity fidelity-btn-brown" type="button" (click)="escalate()">Escalate</button> -->
                <button class="btn btn-md-fidelity fidelity-btn-brown" [disabled]="callType!=1" type="button"
                    (click)="processInvoice()">Process Invoice</button>
                <!-- style="pointer-events: none; opacity: 0.7;" -->
                <button class="btn btn-md-fidelity fidelity-btn-brown" (click)="processPayment()" type="button">Process
                    Payment</button>
                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    (click)="navigateToBillOfMaterialPage()" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>