<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Move Stock Code </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a> Inventory Management </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Job Selection </a>
        </li>
        <li class="breadcrumb-item">
            Move Stock Code
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <form class="fidelity-popup-form" customForm [formGroup]="jobSelectionMoveStockCodeForm">
            <div *ngIf="selectedIndex == 0">
                <div class="ibox-body">
                    <div class="row mt-1">
                        <div class="col-md-4" >
                            <div class="form-group" >
                                <label>Warehouse <span class="mandatory-field">*</span></label>
                                <select name="" id="warehouseId" (change)="warehouseChange($event.target.value)" class="fidelity-form-input form-control"  >
                                <option value="">Select Warehouse</option>
                                <option *ngFor="let warehouse of warehouseDropDownList"
                                    [value]="warehouse?.id">
                                    {{warehouse?.displayName}}
                                </option>
                              </select>
                            </div>                                      
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group p-relative picking-serial">
                                <label> Scan/Enter Current Bin Location Barcode </label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input tabindex="-1" class="form-control fidelity-form-input" autofocus maxlength="50"
                                        placeholder="Scan/Enter" formControlName="binDetails">
                                    <div class="input-group-append">
                                        <button class="text-white" type="button" (click)="getBinDetails(selectedIndex)">
                                            <i aria-hidden="true" class="icon icon-scan"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="showBinLocationCodeError">
                                    Bin location code is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="navigateToNextPage(selectedIndex)"> Next  </button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button>
                </div>
            </div>
            <div *ngIf="selectedIndex == 1">
                <div class="ibox-body">  
                    <div class="row mt-1">
                        <div class="col-lg-4">
                            <div class="form-group p-relative picking-serial">
                                <label> Scan/Enter Stock Code Barcode </label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input tabindex="-1" class="form-control fidelity-form-input" autofocus maxlength="50"
                                        placeholder="Scan/Enter" formControlName="stockCode" (keydown.enter)="checkedStockCode(selectedIndex)">
                                    <div class="input-group-append">
                                        <button class="text-white" type="button" (click)="checkedStockCode(selectedIndex)">
                                            <i aria-hidden="true" class="icon icon-scan"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="showStockCodeError">
                                    Stock code is required
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4" *ngIf="showFirstStockMoveDetails">
                            <div class="form-group p-relative picking-serial">
                                <label> Scan/Enter Serial Number </label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input tabindex="-1" class="form-control fidelity-form-input" 
                                    autofocus maxlength="50" placeholder="Scan/Enter" formControlName="serialNumber"
                                    (keydown.enter)="scanFirstSerialNumber(selectedIndex)"
                                    [attr.disabled]="moveFirstStockCodeDetails?.isNotSerialized ? true : null">
                                    <div class="input-group-append">
                                        <button class="text-white" [disabled]="moveFirstStockCodeDetails?.isNotSerialized ? true : null" 
                                            type="button" (click)="scanFirstSerialNumber(selectedIndex)">
                                            <i aria-hidden="true" class="icon icon-scan"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="showFirstSerialNumberError">
                                    {{serialNumberErrorMsg}} 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row header-row mt-3" *ngIf="showFirstStockMoveDetails">
                        <div class="col-4">
                            <label> <b> Stock Code </b> </label>
                        </div>
                        <div class="col-4">
                            <label> <b> Stock Description </b> </label>
                        </div>
                        <div class="col-2">
                            <label> <b> Qty </b> </label>
                        </div>
                    </div>
                    <div class="row children-row mb-2" *ngIf="showFirstStockMoveDetails">
                        <div class="col-4 col-sm-4">
                            <input type="text" class="form-control fidelity-form-input disabled" formControlName="itemCode">
                        </div>
                        <div class="col-4 col-sm-4">
                            <input type="text" class="form-control fidelity-form-input disabled" formControlName="itemName">
                        </div>
                        <div class="col-2 col-sm-2">
                            <input type="text" class="form-control fidelity-form-input" maxlength="5" formControlName="quantity"
                            [attr.disabled]="!moveFirstStockCodeDetails?.isNotSerialized ? true : null"> 
                            <span class="text-danger" *ngIf="showFirstQuantityError">
                                Quantity is required 
                            </span>
                        </div>
                    </div> 
                </div>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToPreviousPage(selectedIndex)"> Previous </button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="navigateToFirstNextPage(selectedIndex)"> Next  </button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button>
                </div>
            </div>
            <div *ngIf="selectedIndex == 2">
                <div class="ibox-body">
                    <div class="row mt-1">
                        <div class="col-lg-4">
                            <div class="form-group p-relative picking-serial">
                                <label> Scan/Enter New Bin Location Barcode </label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input tabindex="-1" class="form-control fidelity-form-input" autofocus maxlength="50"
                                        placeholder="Scan/Enter" formControlName="newBinDetails" (keydown.enter)="getDestinationBinDetails()">
                                    <div class="input-group-append">
                                        <button class="text-white" type="button" (click)="getDestinationBinDetails()">
                                            <i aria-hidden="true" class="icon icon-scan"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="showBinLocationCodeError">
                                    Bin location code is required
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4" *ngIf="showSecondStockMoveDetails">
                            <div class="form-group p-relative picking-serial">
                                <label> Scan/Enter Serial Number </label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input tabindex="-1" class="form-control fidelity-form-input" autofocus maxlength="50"
                                        placeholder="Scan/Enter" formControlName="newSerialNumbers" (keydown.enter)="scanSecondSerialNumber()"
                                        [attr.disabled]="moveSecondStockCodeDetails?.isNotSerialized ? true : null">
                                    <div class="input-group-append">
                                        <button class="text-white" type="button" (click)="scanSecondSerialNumber()"
                                        [disabled]="moveSecondStockCodeDetails?.isNotSerialized ? true : null">
                                            <i aria-hidden="true" class="icon icon-scan"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="showSecondSerialNumberError">
                                    {{serialNumberErrorMsg}} 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row header-row mt-3" *ngIf="showSecondStockMoveDetails">
                        <div class="col-4">
                            <label> <b> Stock Code </b> </label>
                        </div>
                        <div class="col-4">
                            <label> <b> Stock Description </b> </label>
                        </div>
                        <div class="col-2">
                            <label> <b> Qty </b> </label>
                        </div>
                    </div>
                    <div class="row children-row mb-2" *ngIf="showSecondStockMoveDetails">
                        <div class="col-4 col-sm-4">
                            <input type="text" class="form-control fidelity-form-input disabled" formControlName="newItemCode">
                        </div>
                        <div class="col-4 col-sm-4">
                            <input type="text" class="form-control fidelity-form-input disabled" formControlName="newItemName">
                        </div>
                        <div class="col-2 col-sm-2">
                            <input type="text" class="form-control fidelity-form-input" maxlength="5" formControlName="newQuantity"
                            [attr.disabled]="!moveSecondStockCodeDetails?.isNotSerialized ? true : null"> 
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToPreviousPage(selectedIndex)"> Previous </button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="navigateToSecondNextPage()"> Save </button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button>
                </div>
            </div>
        </form>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isConfirmationDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '600px'}">
  <p-header> Confirmation </p-header>
    <div class="row mt-1">
        <div class="col-lg-12" style="font-size: 18px; text-align: center;"> 
            Stock Code <b>{{moveFirstStockCodeDetails?.itemCode}}</b> was successfully moved from <br>
            Bin Location <b>{{moveFirstStockCodeDetails?.binDetails}}</b> to Bin Location <b>{{moveSecondStockCodeDetails?.binDetails}}</b>.
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" (click)="stockCodeUnassgin()"
                    class="btn btn-md-fidelity fidelity-btn-brown"> Ok 
                </button>
            </div> 
        </div>
    </p-footer>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="unAssignConfirmationDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header> Unassign </p-header>
    <div class="row mt-1">
        <div class="col-lg-12" style="font-size: 18px; text-align: center;"> 
            <!-- {{moveSecondStockCodeDetails?.binDetails}} -->
            Do you want to unassign Bin Location <b>{{binDetails}}</b> <br>
            from Stock Code <b>{{moveSecondStockCodeDetails?.itemCode}}</b> ?
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" (click)="unassignStockOrders()"
                    class="btn btn-md-fidelity fidelity-btn-brown"> Yes 
                </button>
                <button type="button" (click)="unassignLink()"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No 
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="linkBinLocationConfirmationDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '600px'}">
  <p-header> Unassign </p-header>
    <div class="row mt-1">
        <!-- {{jobSelectionMoveStockCodeForm?.get('newBinDetails')?.value}} -->
        <div class="col-lg-12" style="font-size: 18px; text-align: center;"> 
            Bin Location is not mapped with the stock code. <br>
            Do you want to unlink the Bin Location <b>{{binDetails}}</b> <br>
            from Stock Code <b>{{moveFirstStockCodeDetails?.itemCode}}</b> ?
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" (click)="linkBinLocations()"
                    class="btn btn-md-fidelity fidelity-btn-brown"> Yes 
                </button>
                <button type="button" (click)="linkBinLocationConfirmationDialog = false"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No 
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="printBarCode" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '450px'}">
  <p-header>Print</p-header>
    <div class="row mt-1">
        <div class="col-lg-12" style="font-size: 16px; text-align: center;"> 
            Do you want to print a Stock Code BarCode
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button class="print-btn circle-plus-btn" style="top: 2px;"  #divClick  id="printSectionID" printSectionId="print-section" hidden   matTooltip="Print" ngxPrint>
                    <i class="icon icon-print" aria-hidden="true"></i>
                </button>
                <button  class="btn btn-md-fidelity fidelity-btn-brown" style="top: 2px;margin-left: 19px;" (click)="getBarCode()"   matTooltip="Print" >
                    Yes
                </button>
                <button type="button" (click)="navigateToList()"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No 
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>
<div *ngIf="barcodes && barcodes?.length > 0" style="visibility:hidden">
    <app-barcode-printer [printcodes]="barcodes"> </app-barcode-printer>
</div>