
<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Warehouse Stock Take Maneger View </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="goToScan()">Inventory: Warehouse Stock Take Maneger List </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="goToManagerView()"> Warehouse Stock Take Maneger View </a>
        </li>
        <li class="breadcrumb-item">
            Warehouse Stock Take Maneger View
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
     
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg white-bg-customise" >
        <div class="custom-scroll1 custom-scroll1-customise">
        <div class="ibox-body brown-border">
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Stock Take Code</span>
                        <span id="" class="value">
                                <span class="d-inline-block">{{worhouseStokTake?.stockTakeCode}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Initiated Date & Time</span>
                        <span id="" class="value">
                                <span class="d-inline-block">{{worhouseStokTake?.initiatedDate | date}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Location</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{worhouseStokTake?.location}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Sub Location</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{worhouseStokTake?.subLocation}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Action</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{worhouseStokTake?.action}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Status</span>
                        <span id="" class="">
                            <span class="d-inline-block">
                                <span class="status-label status-label-green">{{worhouseStokTake?.status}}</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-body brown-border mt-3">
            <mat-tab-group [selectedIndex]="selectedTabIndex" class="fidelity-tab-group warehouse-man-tab mat-tab-body-padding-0">
                
                <!-- Recent Activities -->
                <mat-tab label="COMPLETED" class="bg-gray">
                    <div>
                        <div class="custom-scroll1 custom-scroll1-customise1" >
                            <div class="completed-con">
                                <div class="header-row d-flex mb-3">
                                    <div>Stock Code</div>
                                    <div class="stock-name">Stock Name</div>
                                    <div>On Hand Qty</div>
                                    <div>Count 1</div>
                                    <div>Counted By 1</div>
                                    <div>Count 2</div>
                                    <div>Counted By 2</div>
                                    <div>Count 3</div>
                                    <div>Counted By 3</div>
                                    <div>Count 4</div>
                                    <div>Counted By 4</div>
                                    <div>Final Count</div>
                                    <div>Variance Qty</div>
                                </div>
                                <div class="children-row d-flex mb-2" *ngFor="let item of worhouseStokTake?.completedDetails; let i = index">
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.stockCode" matTooltip="{{item.stockCode}}"> </input-custom-control>
                                    </div>
                                    <div class="input-con stock-name">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.stockName" matTooltip="{{item.stockName}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.onHandQty" matTooltip="{{item.onHandQty}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count1" matTooltip="{{item.count1}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy1" matTooltip="{{item.countedBy1}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count2" matTooltip="{{item.count2}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy2" matTooltip="{{item.countedBy2}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count3" matTooltip="{{item.count3}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy3" matTooltip="{{item.countedBy3}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count4" matTooltip="{{item.count4}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy4" matTooltip="{{item.countedBy4}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.finalCount" matTooltip="{{item.finalCount}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.varianceQty" matTooltip="{{item.varianceQty}}"></input-custom-control>
                                    </div>
                                </div>
                                
                                <div class="total-count-con d-flex text-right mt-3">
                                    <div>Total Count</div>
                                    <div class="stock-name"></div>
                                    <div>{{worhouseStokTake?.totalQty}}</div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div>{{worhouseStokTake?.totalFinalQty}}</div>
                                    <div>{{worhouseStokTake?.totalVarianceQty}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <!--===============================ADDRESS INFO TAB===============================-->
                <mat-tab label="VARIANCE" class="bg-gray">
                    <div>
                        <div class="custom-scroll1 custom-scroll1-customise1" >
                            <div class="variance-con">
                                <div class="header-row d-flex mb-3">
                                    <div>Stock Code</div>
                                    <div class="stock-name">Stock Name</div>
                                    <div>On Hand Qty</div>
                                    <div>Count 1</div>
                                    <div>Counted By 1</div>
                                    <div>Count 2</div>
                                    <div>Counted By 2</div>
                                    <div>Count 3</div>
                                    <div>Counted By 3</div>
                                    <div>Count 4</div>
                                    <div>Counted By 4</div>
                                    <div>Final Count</div>
                                    <div>Variance Qty</div>
                                </div>
                                <div class="children-row d-flex mb-2" *ngFor="let item of worhouseStokTake?.varianceDetails; let i = index">
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.stockCode" matTooltip="{{item.stockCode}}"> </input-custom-control>
                                    </div>
                                    <div class="input-con stock-name">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.stockName" matTooltip="{{item.stockName}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.onHandQty" matTooltip="{{item.onHandQty}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count1" matTooltip="{{item.count1}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy1" matTooltip="{{item.countedBy1}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count2" matTooltip="{{item.count2}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy2" matTooltip="{{item.countedBy2}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count3" matTooltip="{{item.count3}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy3" matTooltip="{{item.countedBy3}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count4" matTooltip="{{item.count4}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy4" matTooltip="{{item.countedBy4}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.finalCount" matTooltip="{{item.finalCount}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.varianceQty" matTooltip="{{item.varianceQty}}"></input-custom-control>
                                    </div>
                                </div>
                                
                                <div class="total-count-con d-flex text-right mt-3">
                                    <div>Total Count</div>
                                    <div class="stock-name"></div>
                                    <div>{{worhouseStokTake?.varianceTotalQty}}</div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div>{{worhouseStokTake?.varianceTotalFinalQty}}</div>
                                    <div>{{worhouseStokTake?.varianceTotalVarianceQty}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="VERIFIED" class="bg-gray">
                    <div>
                        <div class="custom-scroll1 custom-scroll1-customise1" >
                            <div class="verified-con">
                                <div class="header-row d-flex mb-3">
                                    <div>Stock Code</div>
                                    <div class="stock-name">Stock Name</div>
                                    <div>On Hand Qty</div>
                                    <div>Count 1</div>
                                    <div>Counted By 1</div>
                                    <div>Count 2</div>
                                    <div>Counted By 2</div>
                                    <div>Count 3</div>
                                    <div>Counted By 3</div>
                                    <div>Count 4</div>
                                    <div>Counted By 4</div>
                                    <div>Final Count</div>
                                    <div>Variance Qty</div>
                                </div>
                                <div class="children-row d-flex mb-2" *ngFor="let item of worhouseStokTake?.verifieddDetails; let i = index">
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.stockCode" matTooltip="{{item.stockCode}}"> </input-custom-control>
                                    </div>
                                    <div class="input-con stock-name">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.stockName" matTooltip="{{item.stockName}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.onHandQty" matTooltip="{{item.onHandQty}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count1" matTooltip="{{item.count1}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy1" matTooltip="{{item.countedBy1}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count2" matTooltip="{{item.count2}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy2" matTooltip="{{item.countedBy2}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count3" matTooltip="{{item.count3}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy3" matTooltip="{{item.countedBy3}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.count4" matTooltip="{{item.count4}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.countedBy4" matTooltip="{{item.countedBy4}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.finalCount" matTooltip="{{item.finalCount}}"></input-custom-control>
                                    </div>
                                    <div class="input-con">
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.varianceQty" matTooltip="{{item.varianceQty}}"></input-custom-control>
                                    </div>
                                </div>                                
                                <div class="total-count-con d-flex text-right mt-3">
                                    <div>Total Count</div>
                                    <div class="stock-name"></div>
                                    <div>{{worhouseStokTake?.verifiedTotalQty}}</div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div>{{worhouseStokTake?.verifiedTotalFinalQty}}</div>
                                    <div>{{worhouseStokTake?.verifiedTotalVarianceQty}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
    </div>
</div>