<div class="page-heading">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex">
    </app-page-header>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg white-bg-customise">
                <div class="custom-scroll1 custom-scroll1-customise">
                    <form action="">
                        <div class="ibox-body">
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Stock Take Code</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{verifiedItem[0].stockTakeCode}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row header-row">
                                <div class="col-2">Stock Code</div>
                                <div class="col-4">Stock Name</div>
                                <div class="col-2">Total Qty</div>
                                <div class="col-2">Scanned Qty</div>
                                <div class="col-2">Variance Qty</div>
                            </div>
                            <div class="row children-row mb-2" *ngFor="let item of verifiedItem; let i=index">
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input btn-link disabled"
                                        [value]="item.itemCode">
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        [value]="item.itemName">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        [value]="item.stockTakeItemDetails.length">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        [value]="item.scannedQty">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled"
                                        [value]="item.stockTakeItemDetails.length - item.verifiedItemDetails.length">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="goBack()">Previous</button>
                <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                    (click)="onUpdate()">Submit</button>

                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    routerLink="/inventory/warehouse-stock-take-manager">Cancel</button>
            </div>
        </div>
    </div>
</div>