 .form-group {
    width: 80%;
}

.key {
  display: inline-block;
  width: 38%;
  color: #8A8A8A;
  word-wrap: break-word;
}

.value {
  width: 62%;
  word-wrap: break-word;

  span:not(.status-label) {
      width: 100%;
      border:none;
      font-family: 'Calibri_Bold', sans-serif!important;
      font-size: 1rem;
  }
}
.custom-scroll1-customise{
  overflow-x: auto;height: 52vh;
}
.ibox {
  // height: calc(90vh - 35vh)!important;
  margin-bottom: 0px;

 .row.header-row + .row.children-row {
    margin-top: 30px;
  }
}
