<div class="page-heading">
    <h1 class="page-title d-inline-block"> Warehouse Stock View </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">
            <a routerLink="/inventory/dashboard">Inventory Management</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/inventory/warehouse-stock-take-manager'>Warehouse Stock Take List</a>
        </li>
        <li class="breadcrumb-item">Warehouse Stock Take Scan</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">

            <div class="ibox" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                    <div class="ibox-body brown-border white-bg">
                        <form customForm class="fidelity-popup-form" [formGroup]="warehouseScanForm">

                            <div class="row">

                                <div class="col-4  red-pad">
                                    <h3 class="page-titled-inline-block">Stock Code - {{itemData?.itemCode}}</h3>

                                    <div class="form-group">
                                        <label>Scan/ Enter Serial
                                            No</label>
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input class="form-control fidelity-form-input" type="text" maxlength="20"
                                                placeholder="Scan/Enter" formControlName="scannedObj" #scannedObj>
                                            <div class="input-group-append">
                                                <button type="button" (click)="modelChanged(scannedObj.value)"> Scan
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4 d-flex justify-content-between">
                                    <label>Serial No</label>
                                </div>
                                <div class="col-4 d-flex justify-content-between">
                                    <label> Bar code </label>
                                </div>

                            </div>

                            <div class="row-con" *ngFor="let barcodeData of worhouseStokTake; let i = index">
                                <div class="row" *ngIf="barcodeData.isVerified">
                                    <div class="col-4  red-pad">
                                        <div class="form-group" style="width: 100%!important;">
                                            <input id="barcodeData{{i}}"
                                                class="form-control fidelity-form-input disabled"
                                                value={{barcodeData.serialNumber}} disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4  red-pad">
                                        <div class="form-group" style="width: 100%!important;">
                                            <input id="barcodeData{{i}}"
                                                class="form-control fidelity-form-input disabled"
                                                value={{barcodeData.barcode}} disabled type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">
                <button class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4" [disabled]="isButtonDisabled"
                    (click)="onSubmit()">
                    Save</button>
                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    routerLink="/inventory/warehouse-stock-take-manager">Cancel</button>
            </div>
        </div>
    </div>
</div>