<div class="page-heading">
    <h1 class="page-title">Warehouse Stock Take View </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">
            <a routerLink="/inventory/dashboard">Inventory Management</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/inventory/warehouse-stock-take-manager'>Warehouse Stock Take List</a>
        </li>
        <li class="breadcrumb-item">Warehouse Stock Take View</li>
    </ol>
    <div class="grid-icons-con float-right" *ngIf="worhouseStokTake?.iterationNumber > 0">
        <a class="fidelity-btn-circle fidelity-brown-btn" mat-tooltip="Edit" (click)="goToScan()">
            <i class="icon icon-edit" aria-hidden="true"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox fidelity-grid-box fidelity-grid-box-customise" >
        <div class="custom-scroll1 custom-scroll1-customise" >
            <div class="ibox-body">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stock Take Code</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{worhouseStokTake?.stockTakeCode}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Date & Time</span>
                                <span id="" class="value">
                                    <span
                                        class="d-inline-block">{{worhouseStokTake?.initiatedDate | date}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">No of Iteration</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{worhouseStokTake?.iterationNumber}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Status</span>
                                <span id="" class="value">
                                    <span class="status-label status-label-green">{{worhouseStokTake?.status}}</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row page-sub-title mt-3 mb-2">
                        <div class="col-12">Manage Take Status</div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stock Take Status</span>
                                <span id="" class="value">
                                    <span class="status-label status-label-green">{{worhouseStokTake?.managerStatus}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Book Forzen</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{worhouseStokTake?.bookFrozen}}</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 mt-4-customise"  *ngIf="worhouseStokTake?.iterationNumber > 0">
                        <mat-accordion>

                            <mat-expansion-panel *ngFor="let iterations of worhouseStokTake?.iterations; let i=index"
                                (opened)="panelOpenState = true;onPanelOpen(i)" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Iteration ID: {{iterations.iterationNumber}}
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <div class="" *ngFor="let locations of iterations.locations; let j=index">

                                    <div class="row mt-2 mb-2">
                                        <div class="col-lg-6">
                                            <div class="d-flex">
                                                <span id="" class="key">Staff Name</span>
                                                <span id="" class="value">
                                                    <span class="d-inline-block">{{locations.staffName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="d-flex">
                                                <span id="" class="key">Sub Location</span>
                                                <span id="" class="value">
                                                    <span class="d-inline-block">{{locations.storageLocationName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-2 header-row">
                                        <div class="col-2">Stock Code</div>
                                        <div class="col-4">Stock Name</div>
                                        <div class="col-2">Total Qty</div>
                                        <div class="col-1">Scanned Qty</div>
                                        <div class="col-1">Variance Qty</div>

                                    </div>
                                    <div class="row children-row mb-2" *ngFor="let data of locations.items; let k=index">
                                        <div class="col-2">
                                            <input type="text"
                                                class="form-control fidelity-form-input disabled btn-link"
                                                [value]="data.stockCode">
                                        </div>
                                        <div class="col-4">
                                            <input type="text" class="form-control fidelity-form-input disabled"
                                                [value]="data.stockName">
                                        </div>
                                        <div class="col-2">
                                            <input type="text" class="form-control fidelity-form-input disabled"
                                                [value]="data.totalQTy">
                                        </div>
                                        <div class="col-1">
                                            <input type="text" class="form-control fidelity-form-input disabled"
                                                [value]="data.scannedQty">
                                        </div>
                                        <div class="col-1">
                                            <input type="text" class="form-control fidelity-form-input disabled"
                                                [value]="data.varianceQty">
                                        </div>
                                    </div>

                            

                                  

                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">
                                        <h4>Total Count</h4>
                                    </div>
                                    <div class="col-2 pl-5">
                                        <label><b>{{ getTotalQty(iterations.locations) }}</b></label>
                                    </div>
                                    <div class="col-1">
                                        <label><b>{{ getTotalScanned(iterations.locations) }}</b></label>
                                    </div>
                                    <div class="col-1">
                                        <label><b>{{ getTotalVariance(iterations.locations) }}</b></label>
                                    </div>
                                </div>
                            </mat-expansion-panel>
             
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>