::ng-deep #division_field  {
    .mat-form-field {
        // border: none!important;
    }

    .mat-form-field-infix .mat-select {
        padding: 8.2px 8px;
    }
}
span.value {
    margin-left: 19px;
    font-weight: 600;
}
::ng-deep #date_field {
    .mat-form-field {
        border: none!important;
    }

    .fidelity-form-input.form-control {
        padding: 10.2px 8px!important;
    }

    .fidelity-form-input.form-control.is-invalid {
        border: 1px solid #dc3545 !important;
    }

    .mat-form-field-suffix {
        right: 35px;
    }
}
.pcheckbox {
    margin-left: 16px;
}
.override_date{
    background-color: white !important;
    margin-left: -7px;
    border: 1px solid lightgrey !important;
}
