<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{vehicleRegistrationId ? 'Update' : 'Create'}} Tolerance </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/event-management/event-configuration'>Configuration</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/event-management/event-configuration' [queryParams]="{tab:0}">Out of office Request</a>
        </li>
        <li class="breadcrumb-item" *ngIf="vehicleRegistrationId">
            <a routerLink='/event-management/event-configuration/vehicle-registration/view'
                [queryParams]="{id:vehicleRegistrationId}">
                View
            </a>
        </li>
        <li class="breadcrumb-item" *ngIf="!vehicleRegistrationId">Create Tolerance</li>
        <li class="breadcrumb-item" *ngIf="vehicleRegistrationId">Update
            {{vehicleRegistrationDetails?.vehicleRegistrationNumber ? vehicleRegistrationDetails?.vehicleRegistrationNumber : '--'}}
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="employeeRequestForm" (ngSubmit)="onSubmit()">

        <div class="ibox white-bg">
            <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Department<span class="mandatory-field">*</span></label>
                            
                                <mat-select class="form-control fidelity-form-input" formControlName="employeeRequestId" multiple placeholder="Select Division">
                                    <mat-option value="" #allSelectedDivision *ngIf="divisionDropDown?.length > 0"  (click)="toggleAllDivisions($event)" selected>All Divisions</mat-option>
                                    <mat-option *ngFor="let item of divisionDropDown" [value]="item.id" (click)="toggleDivisionOne(allSelectedDivision?.viewValue)">{{item.displayName}}</mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Talerance Level<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text" formControlName="comments"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="15"
                                    placeholder="Enter Talerance Level">
                            </div>
                        </div>
                        

                    </div>
                </div>
            </p-scrollPanel>
        </div>

        <div class="text-center mt-3">
            <button
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{vehicleRegistrationId ? 'Update' : 'Create'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/out-of-office/tolerance-config/list' [queryParams]="{tab:0}">Cancel</button>
        </div>

    </form>
</div>
