

<div class="fidelity-popup-heading container-fluid p-relative">{{id?'Update':'Create'}} Statement Fee
    <button mat-icon-button class="close-button p-absolute " [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form  customForm [formGroup]="statementAddEditForm" (ngSubmit)="onSubmit()">

    <mat-dialog-content>

        <div class="row" style="margin-top:24px;">
            <div class="col-12 ">
                <div class="col-12 mb-2 p-0">Statement Fee <span style="float:right;margin-top: -10px!important;">
                  <button type="button" id="stock_edit" *ngIf="id"
                  class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"

                  (click)="enableField()">
                  <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i></button></span></div>
                <div class="col-12 p-0">
                    <div class="form-group">
                        <input type="text" class="form-control fidelity-form-input"
                            placeholder="Enter" formControlName="statementFee" [validateInput]="isADecimalWithConfig" name="Statement Fee">
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="submit" [disabled]="isDisabledEdit">Save</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button" [mat-dialog-close]="true" >Cancel</button>
    </mat-dialog-actions>
</form>
