
<div class="page-heading ">
    <h1 class="page-title d-inline-block"> View Inventory Staff Registration </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item" (click)="navigateToList()">
            <a> Inventory Staff Registration List </a>
        </li>
        <li class="breadcrumb-item">
            Inventory Staff Registration View
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a  class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEditPage()">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a> 
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <!-- <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom"> -->
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <div class="ibox-body">
                <div class="row">
                    <div class="col page-sub-title mb-2">GENERAL</div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">First Name</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{employeeDetails?.firstName ? employeeDetails?.firstName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Last Name</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{employeeDetails?.lastName ? employeeDetails?.lastName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Email Address</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{employeeDetails?.email ? employeeDetails?.email : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Contact Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{employeeDetails?.contactNumber ? employeeDetails?.contactNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Created Date</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{employeeDetails?.createdDate ? (employeeDetails?.createdDate | date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox-body mt-3">
                <div class="row mb-2">
                    <div class="col page-sub-title">ACCESS CREDENTIAL</div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">User ID</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{employeeDetails?.userId ? employeeDetails?.userId : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">User Name</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{employeeDetails?.userName ? employeeDetails?.userName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Employee Number/Vendor Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{employeeDetails?.employeeNo ? employeeDetails?.employeeNo : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox-body mt-3">
                <mat-tab-group [selectedIndex]="selectedIndex" class="fidelity-tab-group mat-tab-body-padding-0">
                    <mat-tab label="DETAIL" class="bg-gray">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col page-sub-title mb-2">PHYSICAL LOCATION</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Division</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.divisionName ? employeeDetails?.divisionName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Branch</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.branchName ? employeeDetails?.branchName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row mt-2 mb-2">
                                <div class="col page-sub-title">OPERATIONAL STRUCTURE</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Region</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.regionName ? employeeDetails?.regionName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Division</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.operationalStructureDivisionName ? employeeDetails?.operationalStructureDivisionName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">District</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.districtName ? employeeDetails?.districtName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Branch</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.operationalStructureBranchName ? employeeDetails?.operationalStructureBranchName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Department</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.departmentName ? employeeDetails?.departmentName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">User Level</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.userLevel ? employeeDetails?.userLevel : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Roles</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.roleName ? employeeDetails?.roleName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Designation</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.designationName ? employeeDetails?.designationName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Reporting Line</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.reportingLine ? employeeDetails?.reportingLine : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Manager</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.manager ? employeeDetails?.manager : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row mt-2 mb-2">
                                <div class="col page-sub-title">OTHERS</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">To Source</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.toSource ? employeeDetails?.toSource : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Old User Id</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.oldUserId ? employeeDetails?.oldUserId : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Old User No</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.oldUserNumber ? employeeDetails?.oldUserNumber : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Old Initials</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.oldInitials ? employeeDetails?.oldInitials : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Status</span>
                                        <span id="" class="">                                        
                                            <span class="d-inline-block"> 
                                                <span class="status-label" [ngClass]="employeeDetails?.status != null ? employeeDetails?.cssClass : '' " >{{employeeDetails?.status ? employeeDetails?.status : '-'}}</span>                                        
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Employee Termination date</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.terminationDate ? (employeeDetails?.terminationDate | date) : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                
                    <mat-tab label="INVENTORY" class="bg-gray">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col page-sub-title mb-2">ASSIGN WAREHOUSE</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Default Warehouse</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.defaultWarehouse ? employeeDetails?.defaultWarehouse : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Alternative Warehouse</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.alternativeWarehouse ? employeeDetails?.alternativeWarehouse : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Employee Termination Date</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{employeeDetails?.terminationDate ? (employeeDetails?.terminationDate | date) : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                
            </div>
        </div>
        <!-- </p-scrollPanel> -->
    </div>
</div>

