@import './../../../../../../variables.scss';

.key {
    display: inline-block;
    width: 38%;
    color: #8A8A8A;
    word-wrap: break-word;
}
input#receipting_order_no {
    border: 1px solid lightgrey;
    height: 39px;
    margin-top: 1px;
    padding: 9px;
}
.value {
    width: 62%;
    word-wrap: break-word;

    ::ng-deep .status-label-yellow.status-label {
        width: 32%;
        font-size: 0.8rem;
    }

}
::ng-deep .custom-status {
    font-size: 15px !important;
    justify-content: center;
    margin-bottom: 15px;
    height: 35px;
    padding: 6px 20px;
}
::ng-deep .collection-address-con {
    mat-form-field.mat-form-field {
        border: none!important;
        width: 100%!important;
        padding: 0!important;
    }

    .mat-form-field-infix .mat-select {
        padding: 8.2px 8px;
    }
}


.sm-inputs {
    .form-group {
        width: 80%;
    }
}

.blue-text {
    color: $fidelity-blue;
}

::ng-deep .date-picker {
    mat-form-field.mat-form-field {
        border-radius: 7px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 9px 0!important;
    }
}

.uploaded-file-con {
    left: 10px;
    top: 31px;
    ::ng-deep button.circle-minus-btn {
        right: 8px;
        top: 0px;
        background-color: #ed4a4a;
        width: 15px!important;
        height: 15px!important;
        font-size: 0.5rem;
    }
}

.doc-name {
    color: $fidelity-blue;
    background-color: $fidelity-grey2;
    border-radius: 7px;
    padding: 5px;
    display: inline;
    font-size: 1rem;
}

.custom-file-uploader {
    position: relative;
    background:#00644A;
    color:#fff;

    input[type='file'] {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  