<div class="page-heading">
    <h1 class="page-title d-inline-block">Approval Config
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Boundary Management</li>
        <li class="breadcrumb-item"><a (click)="navigateToList()">Approver Configuration Dashboard</a></li>
        <li class="breadcrumb-item">{{boundaryApprovalConfigId==''?'Create':'Update'}} Approval Config</li>

    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="configurationAddEditForm" *ngIf="configurationAddEditForm"
                (ngSubmit)="onSubmit()">
                <div class="ibox approval-config-con" style="height: auto;">
                    <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg">
                            <h1 class="page-sub-title ext-padd mt-3">Boundary Approval Configuration</h1>
                            <div class="row sm-inputs">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Boundary Type<span class="mandatory-field">*</span></label>
                                        <fieldset [disabled]="boundaryApprovalConfigId">
                                            <select name="boundary type" class="form-control fidelity-form-input"
                                                formControlName="boundaryTypeId">
                                                <option value="" disabled>Select Boundary Type</option>
                                                <option *ngFor="let boundaryType of boundaryTypes"
                                                    [value]="boundaryType.boundaryTypeId">
                                                    {{boundaryType.boundaryTypeName}}
                                                </option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Layer<span class="mandatory-field">*</span></label>
                                        <fieldset [disabled]="boundaryApprovalConfigId">
                                            <select name="layer" class="form-control fidelity-form-input"
                                                formControlName="boundaryLayerId">
                                                <option value="" disabled>Select Layer</option>
                                                <option *ngFor="let layer of layers" [value]="layer.boundaryLayerId">
                                                    {{layer.boundaryLayerName}}
                                                </option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-4" [ngStyle]="{'pointer-events': (configurationAddEditForm.get('boundaryTypeId').value&&
                                configurationAddEditForm.get('boundaryLayerId').value) ? 'all' : 'none' }">
                                    <div
                                        class="form-group leads-category-con disable-stock-order  fidelity-multiselect-dropdown-con">
                                        <label>Division<span class="mandatory-field">*</span></label>
                                        <p-multiSelect [options]="divisions" [defaultLabel]="'Select Divisions'" formControlName="divisionIds" styleClass="w-100"></p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div
                                        class="form-group leads-category-con disable-stock-order  fidelity-multiselect-dropdown-con">
                                        <label>Branch<span class="mandatory-field">*</span></label>
                                        <p-multiSelect [options]="branches" [defaultLabel]="'Select Branches'" formControlName="branchIds" styleClass="w-100"></p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Name<span class="mandatory-field">*</span></label>
                                        <input-custom-control [name]="'Name'" formControlName="description">
                                        </input-custom-control>
                                    </div>
                                </div>
                            </div>
                            <div class="header-row mt-2 mb-2" formArrayName="approvalConfigLevelList" *ngFor="let configurationObj of configurationAddEditForm.get('approvalConfigLevelList')?.controls;
                            let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="page-sub-title ext-padd mt-3"
                                                style="font-size: 1.2rem !important">
                                                {{i==approvalConfigLevelList.length-1? 'Second':
                                                i==approvalConfigLevelList.length-2? 'Third':
                                                i==approvalConfigLevelList.length-3?'Fourth':
                                                i==approvalConfigLevelList.length-4?'Fifth':
                                                i==approvalConfigLevelList.length-5? 'Sixth':'Seventh'}} Approver</h1>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Role<span class="mandatory-field">*</span></label>
                                                <select #approvalConfigLevelSelectList
                                                    (blur)="onBlur('roleId',approvalConfigLevelListArray,$event,i)"
                                                    (change)="getEmployeeCountBasedOnRoleByIds(i,$event)" name="Role"
                                                    class="form-control fidelity-form-input" formControlName="roleId">
                                                    <option value="" disabled>Select Role</option>
                                                    <option *ngFor="let role of configurationObj.get('roles').value"
                                                        [value]="role.id">
                                                        {{role.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-5 d-flex align-items-center justify-content-start mt-4">
                                            <button *ngIf="i!==0 || approvalConfigLevelList.length>1" type="button"
                                                matTooltip="Delete" class="circle-minus-btn" (click)="removeItem(i)"
                                                style="right: 0px;top: 0;">
                                                <i aria-hidden="true" class="icon icon-delete"></i>
                                            </button>
                                            <button type="button" *ngIf="i==0"
                                                class="btn btn-md-fidelity fidelity-btn-brown ml-2"
                                                (click)="addItem()">
                                                Add Approver
                                            </button>
                                        </div>
                                        <div class="col-12" *ngIf="showEmployeeCountContainer">
                                            <p class="mb-0" style="font-size: 1.2rem;
                                            font-family: itatic;" *ngIf="configurationObj.get('noOfEmployees').value">
                                                <ng-container *ngIf="configurationObj.get('noOfEmployees').value==1">
                                                    {{configurationObj.get('noOfEmployees').value}} Employee is
                                                    available
                                                </ng-container>
                                                <ng-container *ngIf="configurationObj.get('noOfEmployees').value>1">
                                                    {{configurationObj.get('noOfEmployees').value}} Employees are
                                                    available
                                                </ng-container>
                                            </p>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="create_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                    <button id="create_new_leads_btn" (click)="navigateToList()" type="button"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
