<div class="page-heading ">
    <h1 class="page-title no-border">{{cRMErrorCodeId ? 'Update' : 'Add'}} CRM Error Code</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"> Billing </li> <li class="breadcrumb-item"> Bank Configuration </li>
        <li class="breadcrumb-item"><a routerLink='/configuration/billing-error-info-configuration'
                [queryParams]="{tab:1}" skipLocationChange> CRM Error Code </a>
        </li>
        <li class="breadcrumb-item" *ngIf="cRMErrorCodeId"><a
                routerLink='/configuration/billing-error-info-configuration/crm-error-code-view'
                [queryParams]="{id:cRMErrorCodeId}" skipLocationChange>View CRM Error Code</a>
        </li>
        <li class="breadcrumb-item">{{cRMErrorCodeId ? 'Update' : 'Add'}} CRM Error Code</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="cRMErrorCodeForm">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">

                <div class="ibox-body">
                    <div>
                        <!-- Headings Only -->
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>CRM Error Code<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>CRM Error</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Status</label>
                                </div>
                            </div>
                        </div>
                        <div class="" formArrayName="crmErrorCode"
                            *ngFor="let crmErrorCodeObj of cRMErrorCodeForm?.get('crmErrorCode')?.controls;let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-4">
                                    <div class="form-group">
                                        <input [validateInput]="isAnAlphaNumericOnly"
                                            name="CRM Error Code" class="form-control fidelity-form-input"
                                            id="cRMErrorCode" type="text"
                                            placeholder="Enter CRM Error Code" (change)="onChange($event.target.value)"
                                            formControlName="crmErrorCode" [minlength]="3" [maxlength]="3" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input" id="description" type="text"
                                            name="Error Info" formControlName="errorDescription" maxlength="250"
                                            placeholder="Enter Error Info" />
                                    </div>
                                </div>
                                <div class="col-3 mb-3">
                                    <div class="col-12 p-0">
                                        <div class="form-group">
                                            <label class="active switch">
                                                <input type="checkbox" formControlName="isActive">
                                                <span class="slider round active"></span>
                                            </label>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-1">
                                    <button *ngIf="i==0 && !cRMErrorCodeId" type="submit"
                                        class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                        (click)="addCRMErrorCode()" title="Add" matTooltip="Add">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i></button>

                                    <a *ngIf="cRMErrorCodeForm?.get('crmErrorCode')?.controls.length>0"
                                        matTooltip="Delete" id="delete_record" class="delete-row "
                                        (click)="removeCRMErrorCode(i)"><i aria-hidden="true"
                                            class="icon icon-delete"></i>
                                    </a>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </p-scrollPanel>
        </div>


        <div class="text-center mt-3">
            <button (click)="submit()" [disabled]="isButtondisabled"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{cRMErrorCodeId ? 'Update' : 'Save'}}</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink="/configuration/billing-error-info-configuration" [queryParams]="{tab:1}"
                skipLocationChange>Cancel</button>
        </div>
    </form>



</div>
