<div class="page-heading ">
    <h1 class="page-title no-border">Request Extended Payment Arrangement </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"> 
            <a (click)="navigate()">
              Task List
            </a>
        </li>
        <li class="breadcrumb-item"> Request Extended Payment Arrangement</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: unset !important;">
            <div class="ibox-body brown-border view-box" style="height: 70vh;">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div *ngFor="let item of paDetails;index as i">
                        <h1 class="page-sub-title ext-padd">PAYMENT ARRANGEMENT REQUEST EXTENSION - {{i}}</h1>
                        <div class="row" >                           
                            <div class="col-lg-6 custom-col">
                                <div class="d-flex">
                                    <span id="" class="key">Debtor Name</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{item.debtorName ? item.debtorName : '-'}}</span>
                                    </span>
                                </div>
                            </div> 
                            <div class="col-lg-6 custom-col">
                                <div class="d-flex">
                                    <span id="" class="key">Debtor Code</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{item.debtorCode ? item.debtorCode : '-'}}</span>
                                    </span>
                                </div>
                            </div> 
                            <div class="col-lg-6 custom-col">
                                <div class="d-flex">
                                    <span id="" class="key">BDI NUMBER</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{item.bdiNumber ? item.bdiNumber : '-'}}</span>
                                    </span>
                                </div>
                            </div> 
                            <div class="col-lg-6 custom-col">
                                <div class="d-flex">
                                    <span id="" class="key">Outstanding Balance</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{item.outstandingBalance ? item.outstandingBalance : '-'}}</span>
                                    </span>
                                </div>
                            </div> 
                            <div class="col-lg-6 custom-col">
                                <div class="d-flex">
                                    <span id="" class="key">No Of Payments</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{item.noOfPaymentsRequested ? item.noOfPaymentsRequested : '-'}}</span>
                                    </span>
                                </div>
                            </div> 
                            <div class="col-lg-6 custom-col">
                                <div class="d-flex">
                                    <span id="" class="key">Transaction Notes</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{item.transactionNotes ? item.transactionNotes : '-'}}</span>
                                    </span>
                                </div>
                            </div> 
                        </div>
                    </div>                   
                </p-scrollPanel>              
            </div>
    </div>
    <div class="text-center mt-3">
        <button type="submit"   (click)="approvePopup()"
         class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">
              Approve</button>   
        <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-md-fidelity btn-grey mr-3"
            (click)="declinePopup()">Decline</button>
    </div>
</div>
<!-- DOA Approve -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="approvePopupFlag" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
    <p-header>
        Approve Transaction
    </p-header>
    <div class="confirm-msg">
        <form customForm *ngIf="transactionProcessApproveForm" [formGroup]="transactionProcessApproveForm">
            <div class="row">
                <div class="col-12">
                    <label>Comments<span class="mandatory-field">*</span></label>
                    <textarea formControlName="comments" class="form-control fidelity-form-input" style="height: 90px;"
                        rows="2" name="comments" placeholder="Enter Comments"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group p-relative">
                        <label class="labels">Attachment</label>
                        <div class="form-group" style="width: 100%;">
                            <label for="file" class="sr-only">File</label>
                            <div class="file-input-container">
                                <input class="file-input-ctrl" #fileInput1 type="file" name="fileName"
                                    placeholder="Attachment" (change)="onFileSelected($event.target.files)" />
                            </div>
                            <div style="width: 100%; z-index: 1000;">
                                <div class="input-group" style="height: 40px;">
                                    <input type="text" name="fileName" [(ngModel)]="fileName"
                                        [ngModelOptions]="{standalone: true}" class="form-control file-input-text"
                                        placeholder="No file selected" readonly>
                                    <span class="input-group-btn">
                                        <div class="btn custom-file-uploader file-input-btn">
                                            Browse
                                        </div>
                                    </span>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="submit" (click)="approve()"
                    class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Approve</button>
                <button class="btn btn-md-fidelity btn-default" (click)="cancelApprove()">Cancel</button>
            </div>
        </form>
    </div>
</p-dialog>
<!-- DOA Decline -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="declinePopupFlag" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
    <p-header>
        Decline Transaction
    </p-header>
    <div class="confirm-msg">
        <form customForm *ngIf="transactionProcessDeclineForm" [formGroup]="transactionProcessDeclineForm">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Decline Reason<span class="mandatory-field">*</span></label>
                        <select name="declineReason" class="form-control fidelity-form-input"
                            formControlName="declineReasonId">
                            <option value="" disabled>Select Decline Reason</option>
                            <option *ngFor="let reason of reasonList" [value]="reason.id">
                                {{reason.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Decline notes<span class="mandatory-field">*</span></label>
                    <textarea formControlName="comments" style="height: 90px;" class="form-control fidelity-form-input"
                        rows="2" name="declineNotes" placeholder="Enter Comments"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group p-relative">
                        <label class="labels">Attachment</label>
                        <div class="form-group" style="width: 100%;">
                            <label for="file" class="sr-only">File</label>
                            <div class="file-input-container">
                                <input class="file-input-ctrl" #fileInput1 type="file" name="file"
                                    placeholder="Attachment" (change)="onFileSelected($event.target.files)" />
                            </div>
                            <div style="width: 100%; z-index: 1000;">
                                <div class="input-group" style="height: 40px;">
                                    <input type="text" name="fileName" [(ngModel)]="fileName"
                                        [ngModelOptions]="{standalone: true}" class="form-control file-input-text"
                                        placeholder="No file selected" readonly>
                                    <span class="input-group-btn">
                                        <div class="btn custom-file-uploader file-input-btn">
                                            Browse
                                        </div>
                                    </span>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="submit" (click)="decline()"
                    class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Decline DOA Transaction</button>
                <button class="btn btn-md-fidelity btn-default" (click)="cancelDecline()">Cancel Decline</button>
            </div>
        </form>
    </div>
</p-dialog>