<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
[breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox white-bg">
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
      <div class="ibox-body brown-border" *ngFor='let refuseToPayDetails of refuseToPayDetails'>
        <div class="row mt-2">
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Notes</span>
              <span id="" class="value">
                <span class="d-inline-block">{{refuseToPayDetails?.notes ?
                  refuseToPayDetails?.notes : '-'}}</span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Call Duration</span>
              <span id="" class="value">
                <span class="d-inline-block">{{refuseToPayDetails.callDuration ? refuseToPayDetails.callDuration
                  : '-'}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">Created Date</span>
              <span id="" class="value">
                <span class="d-inline-block">{{refuseToPayDetails.createdDate ?
                  (refuseToPayDetails.createdDate | date) : '-'}} </span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex">
              <span id="" class="key">CreatedBy</span>
              <span id="" class="value">
                <span class="d-inline-block">{{refuseToPayDetails.createdBy ?
                  refuseToPayDetails.createdBy : '-'}} </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </p-scrollPanel>
    <div class="text-center mt-3">
      <button type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
        routerLink='/collection/call-wrap-up-codes/refuse-to-pay'>Back</button>
    </div>
  </div>
