<div class="col-12">
    <h1 class="page-sub-title ext-padd mt-3">Site Related Message</h1>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [status]="status" [dataList]="dataList" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" 
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="supervisorDialog" [responsive]="true"
  [resizable]="false"  [style]="{width: '550px'}">
  <p-header>
    Message Acknowledged
  </p-header>
  <app-popup-loader></app-popup-loader>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div style="text-align: center;padding: 16px;">
            <div class="img-con">
                <img style="max-width: 18%;" src="assets/img/emailbutton.png" />
            </div>
            <p style="margin-top: 10px;">Message has been Acknowledged</p>
            <div class="ui-g-12">
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-3">
    <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
        type="button" (click)="sendMessage()">Submit</button>
    <button  class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button" (click)="supervisorDialog =false">Cancel</button>
</div>
</p-dialog>
