<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body"
    cdkDragHandle>Add Service Call
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content style="max-height: 90vh;">
    <div *ngIf="showWarringMsg" class="col-12 text-center" style="padding: 13px;">
        <div class="view-box">
            <div class="col-12">
                <p> {{data?.warningMsg ? data?.warningMsg : callDetailsData?.warningMessage ?
                    callDetailsData?.warningMessage : '--'}}</p>
            </div>
            <div class="col-12">
                <button type="button" id="Feature_cancel_btn" *ngIf="data?.isProceed" (click)="showWarringMsg = false"
                    class="btn btn-md-fidelity fidelity-btn-brown" mat-button>Ok</button>
                <button type="button" id="Feature_cancel_btn" *ngIf="!data?.isProceed" [mat-dialog-close]="true"
                    class="btn btn-md-fidelity fidelity-btn-brown" mat-button>Ok</button>
            </div>
        </div>
    </div>
    <form *ngIf="!showWarringMsg" class="fidelity-popup-form" customForm [formGroup]="quickAddServiceCallForm"
        (ngSubmit)="onSubmit()">
        <div class="p-relative">
            <button
                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn p-absolute"
                style="right: 18px; top: -5px;z-index: 2;" matTooltip="Edit" type="button" [disabled]="isSubmitted"
                (click)="editQuickAddServiceCall()"><i aria-hidden="true" class="icon icon-edit"></i></button>
            <p-scrollPanel [style]="{ height: '56vh'}" styleClass="custom">
                <div class="view-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Customer</label>
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    formControlName="customerName">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Customer ID</label>
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    formControlName="customerRefNo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control fidelity-form-input disabled"
                                    formControlName="customerAddress">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label>Contact<span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input" name="Contact"
                                            formControlName="keyholderId" (change)="onContactChange()">
                                            <option value="" disabled selected>Select Contact</option>
                                            <option [value]="item.keyHolderId"
                                                *ngFor="let item of contactList; let i=index">
                                                {{item?.keyHolderName ? item?.keyHolderName : item?.customerName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2" style="margin-top: 30px;">
                                    <button type="button" pButton icon="fa fa-plus mini-plus-btn"
                                        [disabled]="isButtonDisabled" (click)="openAddContact(true)"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Contact No.<span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" name="contact No."
                                    formControlName="contactNo">
                                    <option value="" disabled selected>Select </option>
                                    <option [value]="item?.id" *ngFor="let item of contactNumberList; let i=index">
                                        {{item?.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Fault Description<span class="mandatory-field">*</span></label>
                                <select class="form-control fidelity-form-input" formControlName="faultDescriptionId">
                                    <option value="" disabled selected>Select </option>
                                    <option [value]="item.faultDescriptionId"
                                        *ngFor="let item of faultDescription; let i=index">
                                        {{item.faultDescriptionName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6" *ngIf="isCode50Enable">
                            <div class="form-group" style="    margin-top: 34px;">
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isCode50">
                                    <span class="slider round active req_ack"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div formArrayName="comments"
                        *ngFor="let obj of quickAddServiceCallForm?.get('comments')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-12">
                                <div class="form-group">
                                    <label *ngIf="i==0">Comments<span class="mandatory-field">*</span></label>
                                    <input type="text" class="form-control fidelity-form-input "
                                        formControlName="comments">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <mat-dialog-actions align="end">
            <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button
                [disabled]="isSubmitted || isButtonDisabled" type="submit">Submit</button>
            <button type="button" id="Feature_cancel_btn" [mat-dialog-close]="true"
                class="btn btn-md-fidelity fidelity-btn-grey" mat-button>Cancel</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
