<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
    </app-page-header>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <form customForm *ngIf="badWriteOffForm" [formGroup]="badWriteOffForm" (ngSubmit)="onSubmit()">
                <div class="ibox-body brown-border view-box" *ngIf="flag">
                    <app-transaction-process-common [firstHeading]="firstHeading" [secondHeading]="secondHeading"
                        [thirdHeading]="thirdHeading" [fourthHeading]="fourthHeading"
                        [firstSectionDetails]="firstSectionDetails" [secondSectionDetails]="secondSectionDetails"
                        [thirdSectionDetails]="thirdSectionDetails" [formSectionDetails]="formSectionDetails"
                        [dataList]="dataList" [transactionDescription]="transactionDescription" [type]="type"
                         [transactionSection]="transactionSection" [descriptionType]="descriptionType" [subTypeDescription]="subTypeDescription"
                        [requiredForms]="requiredForms" [optionalForms]="optionalForms" [invoiceTransactionTypeId]="invoiceTransactionTypeId"
                        [columns]="primengTableConfigProperties.tableComponentConfigs.tabsList[0].columns"
                        (emitData)="emitInformation($event)">
                    </app-transaction-process-common>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" *ngIf="status!='Approved' && status!='Declined'"   [disabled]="type!='doa' && enableSubmit"  class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">
                        {{type=='doa' ? 'Approve':'Submit'}}</button>   
                    <button type="button" *ngIf="status!='Approved' && status!='Declined'"  class="btn btn-md-fidelity fidelity-btn-grey btn-md-fidelity btn-grey mr-3"
                        (click)="cancel()">{{ type=='doa'? 'Decline':'Cancel'}}</button>
                </div>
            </form>
        </p-scrollPanel>
    </div>
</div>
<!-- DOA Request -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="submitFlag" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
    <p-header>
        Approval Request
    </p-header>
    <div class="confirm-msg">
        <div ><i class="fa fa-exclamation-triangle"></i></div>
        <p class="center-content">Are you sure want to submit this request for DOA Approval ?</p>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="text-center">
            <button type="submit" pButton class="btn btn-md-fidelity fidelity-btn-brown fdt-btn-submit mr-3"
                [label]="'Yes'" (click)="finalSubmit()"></button>
            <button (click)="cancelSubmitPopup()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                type="button">No</button>
        </div>
    </div>
</p-dialog>
<!-- DOA Approve -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="approvePopupFlag" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
    <p-header>
        Approve Transaction
    </p-header>
    <div class="confirm-msg">
        <form customForm *ngIf="transactionProcessApproveForm" [formGroup]="transactionProcessApproveForm">
            <div class="row">
                <div class="col-12">
                    <label>Comments<span class="mandatory-field">*</span></label>
                    <textarea formControlName="comments" class="form-control fidelity-form-input" style="height: 90px;"
                        rows="2" name="comments" placeholder="Enter Comments"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group p-relative">
                        <label class="labels">Attachment</label>
                        <div class="form-group" style="width: 100%;">
                            <label for="file" class="sr-only">File</label>
                            <div class="file-input-container">
                                <input class="file-input-ctrl" #fileInput1 type="file" name="fileName"
                                    placeholder="Attachment" (change)="onFileSelected($event.target.files)" />
                            </div>
                            <div style="width: 100%; z-index: 1000;">
                                <div class="input-group" style="height: 40px;">
                                    <input type="text" name="fileName" [(ngModel)]="fileName"
                                        [ngModelOptions]="{standalone: true}" class="form-control file-input-text"
                                        placeholder="No file selected" readonly>
                                    <span class="input-group-btn">
                                        <div class="btn custom-file-uploader file-input-btn">
                                            Browse
                                        </div>
                                    </span>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="submit" (click)="approve()"
                    class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Approve</button>
                <button type="button" class="btn btn-md-fidelity btn-default" (click)="cancelApprove()">Cancel</button>
            </div>
        </form>
    </div>
</p-dialog>
<!-- DOA Decline -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="declinePopupFlag" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
    <p-header>
        Decline Transaction
    </p-header>
    <div class="confirm-msg">
        <form customForm *ngIf="transactionProcessDeclineForm" [formGroup]="transactionProcessDeclineForm">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Decline Reason<span class="mandatory-field">*</span></label>
                        <select name="declineReason" class="form-control fidelity-form-input"
                            formControlName="declineReasonId">
                            <option value="" disabled>Select Decline Reason</option>
                            <option *ngFor="let reason of reasonList" [value]="reason.id">
                                {{reason.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Decline notes<span class="mandatory-field">*</span></label>
                    <textarea formControlName="comments" style="height: 90px;" class="form-control fidelity-form-input"
                        rows="2" name="declineNotes" placeholder="Enter Comments"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group p-relative">
                        <label class="labels">Attachment</label>
                        <div class="form-group" style="width: 100%;">
                            <label for="file" class="sr-only">File</label>
                            <div class="file-input-container">
                                <input class="file-input-ctrl" #fileInput1 type="file" name="file"
                                    placeholder="Attachment" (change)="onFileSelected($event.target.files)" />
                            </div>
                            <div style="width: 100%; z-index: 1000;">
                                <div class="input-group" style="height: 40px;">
                                    <input type="text" name="fileName" [(ngModel)]="fileName"
                                        [ngModelOptions]="{standalone: true}" class="form-control file-input-text"
                                        placeholder="No file selected" readonly>
                                    <span class="input-group-btn">
                                        <div class="btn custom-file-uploader file-input-btn">
                                            Browse
                                        </div>
                                    </span>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="submit" (click)="decline()"
                    class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Decline DOA Transaction</button>
                <button type="button" class="btn btn-md-fidelity btn-default" (click)="cancelDecline()">Cancel Decline</button>
            </div>
        </form>
    </div>
</p-dialog>