<div class="page-heading ">
  <h1 class="page-title no-border">Password & Special Instructions</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item">Customer Management</li>
    <li class="breadcrumb-item"><a (click)="goBack()"> Non Customers</a>
    </li>
    <li class="breadcrumb-item"> Password & Special Instructions</li>
  </ol>
</div>

<div class="page-content fade-in-up">
  <div class="ibox view-box">

      <form autocomplete="off" customForm *ngIf="passwordsForm" [formGroup]="passwordsForm" (ngSubmit)="onSubmit()">
          <div class="ibox service-agreement-con space-saving-con" style="height: auto!important;">
              <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">
                <p-scrollPanel [style]="{height: '63vh'}" styleClass="custom">
                  <div class="p-absolute" *ngIf="inputObject.fromComponentType=='lead'" style="right: 47px!important;
                  top: 8px;z-index: 2;display: inline-flex !important;">
                      <div
                          class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
                          <button type="button" (click)="onArrowClick('previous')">
                              <i class="icon icon-backward"></i>
                          </button>
                          <span class="d-flex stage-no mr-2 ml-2">{{currentIndex}}</span>
                          <button type="button" [disabled]="!isShowNext" (click)="onArrowClick('next')">
                              <i class="icon icon-forward"></i>
                          </button>
                      </div>
                  </div>

                      <a *ngIf="inputObject.fromComponentType!='lead'" title="Edit"
                      (click)="onEditBtnClicked()"
                      class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3 float-right"
                      id="pricinf_edit_btn">
                      <i aria-hidden="true" class="icon icon-edit"></i></a>

                      <fieldset >
                          <div class="container-fluid mt-4">
                              <div class="page-sub-title">
                                  Password Special Instructions
                              </div>
                              <div class="row">
                                  <div class="col-8">
                                      <div class="form-group" style="width: 90%;">
                                          <label>Special Instruction
                                              <!-- <span class="mandatory-field">*</span> -->
                                          </label>
                                          <text-area-custom-control formControlName="customerSpecialInstructions">
                                          </text-area-custom-control>
                                      </div>
                                  </div>
                                  <div id="password-eye-password-flow" class="col-4">
                                    <div class="form-group">
                                        <label>Distress Word
                                            <span class="mandatory-field">*</span>
                                        </label>
                                        <input autocomplete="new-password" name="distressWord"
                                        class="form-control fidelity-form-input"
                                        [type]="isPasswordShowForDistressWord?'text':'password'" [maxLength]="25"
                                        formControlName="distressWord" style="width: 100%;" />
                                        <div *ngIf="passwordsForm.get('distressWord').value"
                                            (mouseout)="isPasswordShowForDistressWord=false">
                                            <a (click)="isPasswordShowForDistressWord=!isPasswordShowForDistressWord">
                                                <i [ngClass]="!isPasswordShowForDistressWord?'fa fa-eye-slash':'fa fa-eye'"
                                                    class="fa fa-eye" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                  <div id="password-eye-password-flow" class="col-4">
                                      <div class="form-group">
                                          <label>Alarm Cancellation Password
                                              <span class="mandatory-field">*</span>
                                          </label>
                                          <input autocomplete="new-password" name="alarmCancellationPassword"
                                              class="form-control fidelity-form-input"
                                              [type]="isPasswordShow?'text':'password'" [maxLength]="25"
                                              formControlName="alarmCancellationPassword" style="width: 100%;" />
                                          <div *ngIf="passwordsForm.get('alarmCancellationPassword').value"
                                          style="position: absolute;top: 55%;right: 31px;"
                                              (mouseout)="isPasswordShow=false">
                                              <a (click)="isPasswordShow=!isPasswordShow">
                                                  <i [ngClass]="!isPasswordShow?'fa fa-eye-slash':'fa fa-eye'"
                                                      class="fa fa-eye" aria-hidden="true"></i></a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-4 d-flex justify-content-start align-items-end">
                                      <div class="form-group d-flex justify-content-start align-items-center">
                                          <mat-checkbox class="fidelity-checkbox"
                                              matTooltip="The use of a numeric password will simplify and optimise the VAS interaction"
                                              formControlName="isVAS">Virtual Agent Service</mat-checkbox>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-4">
                                      <div class="form-group">
                                          <label class="ext-padd d-block mt-2">Dog On Site<span
                                                  class="mandatory-field">*</span></label>
                                          <radio-group-custom-control [loopableArray]="['Yes','No']"
                                              formControlName="isDogs">
                                          </radio-group-custom-control>

                                      </div>
                                  </div>
                                  <div class="col-4" *ngIf="passwordsForm?.getRawValue().isDogs">
                                      <div class="row header-row">
                                          <div class="col-10">
                                              <div class="form-group">
                                                  <label>Number Of Dogs</label>
                                                  <input *ngIf="passwordsForm?.value?.contractId"
                                                      class="form-control fidelity-form-input" readonly
                                                      [validateInput]="isANumberOnly" type="text"
                                                      formControlName="noOfDogs" style="width: 100%;" />
                                                  <!-- <input *ngIf="!passwordsForm?.value?.contractId"
                                                      class="form-control fidelity-form-input" (input)="addItem()"
                                                      [validateInput]="isANumberOnly" type="text" [max]="10"
                                                      formControlName="noOfDogs" style="width: 100%;" /> -->
                                                      <input
                                                      *ngIf="!passwordsForm?.value?.contractId"
                                                      class="form-control fidelity-form-input" (input)="addItem($event)"
                                                      [validateInput]="isANumberOnly" type="text"
                                                      [maxlength]="formConfigs.two" formControlName="noOfDogs"
                                                      style="width: 100%;" />

                                                  <!-- <input-custom-control [maxlength]="formConfigs.two" formControlName="noOfDogs">
                                                      </input-custom-control> -->
                                              </div>
                                          </div>
                                          <!-- <div class="col-2 d-flex align-items-center justify-content-start">
                                                  <button type="button"
                                                  (click)="addItem()"
                                                      class="btn btn-md-fidelity fidelity-btn-brown">
                                                      {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                                  </button>
                                              </div> -->
                                      </div>

                                      <ng-container>
                                          <div class="" formArrayName="dogTypes"
                                              *ngFor="let obj of passwordsForm?.get('dogTypes')?.controls;let i=index">
                                              <div class="row" [formGroupName]="i">
                                                  <div class="col-10">
                                                      <label>Dog {{i + 1}}</label>
                                                      <select #input [ngClass]="{'disabled': details?.contractId}" class="form-control fidelity-form-input"
                                                          formControlName="dogTypeId" name="">
                                                          <option value="" disabled>-- Select Dog Type --
                                                          </option>
                                                          <option *ngFor="let dogType of dogTypesList"
                                                              [value]="dogType.id">
                                                              {{dogType.displayName}}
                                                          </option>
                                                      </select>
                                                  </div>
                                                  <div class="col-2 d-flex align-items-center justify-content-start" *ngIf="!details?.contractId">
                                                      <button matTooltip="Delete" class="circle-minus-btn"
                                                          type="button" (click)="deleteDogType(i)">
                                                          <i aria-hidden="true" class="icon icon-delete"></i>
                                                      </button>
                                                  </div>
                                              </div>
                                          </div>
                                      </ng-container>

                                  </div>
                                  <div class="col-4">
                                      <div class="form-group">
                                          <label class="ext-padd d-block mt-2">Dog's Description</label>
                                          <!-- <input class="form-control fidelity-form-input"
                                              formControlName="dogDescription" type="text" style="width: 100%;" /> -->
                                              <textarea maxlength="formConfigs.thousands"
                                              class="form-control fidelity-form-input" rows="2"
                                              formControlName="dogDescription"
                                              placeholder="Enter  Dogs Description">
                                              </textarea>
                                      </div>
                                  </div>
                              </div>
                              <div class="row d-flex align-items-center" style="margin-top: 10px;">
                                  <div class="col-4 page-sub-title">Medical Instructions</div>
                                  <div class="col-2 d-flex align-items-center">
                                      <button type="button" (click)="addMedicalItem()"
                                          class="btn btn-md-fidelity fidelity-btn-brown">
                                          {{rxjsService.leadServiceAgreementAddNewButtonName}}
                                      </button>
                                  </div>
                              </div>
                              <div class="" formArrayName="medicalConditions"
                                  *ngFor="let obj of passwordsForm?.get('medicalConditions')?.controls;let i=index">

                                  <div class="row children-row" [formGroupName]="i">
                                      <div class="col-4">
                                          <div class="form-group" style="width: 100%;">
                                              <label>Medical</label>
                                              <input class="form-control fidelity-form-input"
                                                  formControlName="medicalCondition" type="text"
                                                  style="width: 100%;" />
                                          </div>
                                      </div>
                                      <div class="col-2 d-flex align-items-center">
                                          <button matTooltip="Delete" class="circle-minus-btn" type="button"
                                              *ngIf="i>0" (click)="deleteMedical(i)" style="top: 10px;">
                                              <i aria-hidden="true" class="icon icon-delete"></i>
                                          </button>
                                      </div>
                                  </div>
                              </div>

                              <!-- <div class="row children-row">
                                      <div class="col-4">
                                          <div class="form-group" style="width: 100%;">
                                              <label>Medical</label>
                                              <input class="form-control fidelity-form-input" type="text" style="width: 100%;" />
                                          </div>
                                      </div>
                                      <div class="col-2 d-flex align-items-center">
                                          <button matTooltip="Delete" class="circle-minus-btn">
                                              <i aria-hidden="true" class="icon icon-delete"></i>
                                          </button>
                                      </div>
                                  </div> -->


                          </div>
                      </fieldset>
                    </p-scrollPanel>
              </div>
          </div>
          <div class="text-center mt-3" >
            <button type="submit"
            class="btn btn-md-fidelity fidelity-btn-brown mr-3">Save</button>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-primary"  *ngIf="isShowNextButton" (click)="onArrowClick('next')">Next</button>
        </div>
      </form>
  </div>
</div>
