<mat-form-field floatLabel="never" class="custom-mat-form-field"
  [attr.class]="extraMatSelectClassNames?matSelectClassNames+' '+extraMatSelectClassNames:matSelectClassNames"
  [ngClass]="{'mat-autocomplete-error':!selectedOption&&ngControl?.control.touched}">
  <input onPaste="return false"
    [attr.class]="extraInputClassNames?inputClassNames+' '+extraInputClassNames:inputClassNames"
    [id]="convertCamelCasesToSpaces(ngControl?.name)" [name]="name ? name : convertCamelCasesToSpaces(ngControl?.name)"
    [formControl]="ngControl?.control?ngControl.control:tempNgControl" matInput [matAutocomplete]="auto"
    class="form-control fidelity-form-input">
    <!-- <mat-placeholder *ngIf="shouldShowPlaceHolder" class="mat-placeholder">{{placeholder ? placeholder : name ?
      'Enter '+name: 'Enter '+convertCamelCasesToSpaces(ngControl?.name)}}</mat-placeholder> -->
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngIf="isLoading" class="is-loading">
      <mat-spinner diameter="20"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let loopableObj of loopableArray" [value]="loopableObj[matOptionValueProperty]"
        [disabled]="loopableObj?.resultNotFound"
        (onSelectionChange)="onSelectedItemOption($event.source.selected, loopableObj);">
        <span>{{ loopableObj[matOptionViewProperty] }}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
<div class="input-group-append" [ngStyle]="customInputGroupStyle" *ngIf="shouldShowSearchBtn">
  <button class="autocomplete-btn-search-symbol" [ngStyle]="customButtonHeightStyle" type="button"><i aria-hidden="true"
      class="icon icon-search"></i></button>
</div>