<div class="page-heading">
    <h1 class="page-title no-border">View Item Brand Model</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"><a routerLink="/configuration/item-configuration" [queryParams]="{tab:3}"
                skipLocationChange>Item
                Brand Model List</a></li>
        <li class="breadcrumb-item">View Item Brand Model</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a title="Edit" (click)="Edit()"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
            id="pricinf_edit_btn">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg">
                <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                    <div class="ibox-body brown-border p-5 mb-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div><label id="key_brand">Brand</label></div>
                                            </div>
                                            <div class="col">
                                                <div> <label
                                                        id="value_brand"><b>{{itemBrandModel?.itemBrandName}}</b></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div><label id="key_model">Model</label></div>
                                            </div>
                                            <div class="col">
                                                <div> <label id="value_model"><b>{{itemBrandModel?.model}}</b></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div><label id="key_description">Description</label></div>
                                            </div>
                                            <div class="col">
                                                <div> <label
                                                        id="value_description"><b>{{itemBrandModel?.description}}</b></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>