<div class="page-heading ">
    <h1 class="page-title no-border">{{itemBrandModelId ? 'Update' : 'Add'}} Item Brand Model</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"><a routerLink="/configuration/item-configuration" [queryParams]="{tab:3}"> Item
                Brand Model List</a>
        </li>
        <li class="breadcrumb-item" *ngIf="itemBrandModelId"><a
                routerLink='/configuration/item-configuration/item-brand-model-view'
                [queryParams]="{id:itemBrandModelId}" skipLocationChange>View Item Brand Model</a></li>
        <li class="breadcrumb-item">{{itemBrandModelId ? 'Update' : 'Add'}} Item Brand Model</li>
    </ol>
</div>

<div class="page-content fade-in-up">
    <form customForm [formGroup]="itemBrandModelForm" (ngSubmit)="submit()">
        <div class="ibox white-bg">
            <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                <div class="ibox-body">
                    <div>
                        <!-- Headings Only -->
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Brand <span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Model <span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Description</label>
                                </div>
                            </div>

                        </div>
                        <div class="" formArrayName="itemBrandModel"
                            *ngFor="let itemBrandModelObj of itemBrandModelForm?.get('itemBrandModel')?.controls;let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <mat-form-field floatLabel="never">
                                            <input class="fidelity-form-input" [id]="'value_itemgrid1'+i" 
                                                formControlName="itemBrandName" #itemBrandName type="text" matInput
                                                [matAutocomplete]="auto" class="fidelity-form-input"
                                                (input)="onInputItemBrandChange(i)" name="Brand" placeholder="Brand">
                                            <mat-autocomplete #auto="matAutocomplete"
                                                (optionSelected)="onItemBrandSelected($event.option.value,i)">
                                                <mat-option *ngIf="isLoading" class="is-loading">
                                                    <mat-spinner diameter="20"></mat-spinner>
                                                </mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let item of itemBrandList" [value]="item.id"
                                                        (onSelectionChange)="onSelectedOption($event.source.selected, item, i)">
                                                        <span>{{ item.displayName }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <span class="text-danger" *ngIf="itemBrandModelObj?.get('itemBrandName')?.touched && itemBrandModelObj?.get('itemBrandName')?.errors?.required">
                                                Brand is required
                                            </span>
                                        </mat-form-field>
                                        <div class="float-left error-notification" *ngIf="validItemBrand[i]===false">
                                            <span>
                                                Invalid Brand
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input"
                                            [ngClass]="{'is-invalid': (itemBrandModelForm?.get('itemBrandModel')?.controls[i].get('model')?.touched ||
                                        itemBrandModelForm?.get('itemBrandModel')?.controls[i].get('model')?.dirty) && itemBrandModelForm?.get('itemBrandModel')?.controls[i].get('model').errors}"
                                            id="model" type="text" (change)="onChange()" formControlName="model" placeholder="Model"
                                            maxlength="100" />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <input class="form-control fidelity-form-input" id="description" type="text"
                                            formControlName="description" maxlength="100" placeholder="Description" />
                                    </div>
                                </div>
                                <div *ngIf="!itemBrandModelId" class="col-1">
                                    <div class="float-left">
                                        <div class="float-left"></div>
                                        <button *ngIf="(itemBrandModelForm?.get('itemBrandModel')?.controls.length-1===i)"
                                            type="button"
                                            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                            (click)="addItemBrandModel()" title="Add" matTooltip="Add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i></button>
                                    </div>
                                    <div class="float-left">
                                        <a *ngIf="itemBrandModelForm?.get('itemBrandModel')?.controls.length>0"
                                            matTooltip="Delete" id="delete_record" class="delete-row "
                                            (click)="removeItemBrandModel(i)"><i aria-hidden="true"
                                                class="icon icon-delete"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>

        <div class="text-center mt-3">
            <button [disabled]="isButtondisabled" type="submit"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{itemBrandModelId ? 'Update' : 'Save'}}</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink="/configuration/item-configuration" [queryParams]="{tab:3}"
                skipLocationChange>Cancel</button>
        </div>
    </form>
</div>