<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0">
</app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="incentiveCalculationForm">
        <div class="ibox view-box" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body">
                    <app-view-page [col]="2" [viewDetail]="incentiveCalculationDetail" [template]="4" [viewPageForm]="incentiveCalculationForm"
                        [marginClass]="'p-0'" (onLinkClicked)="onLinkClick($event)"></app-view-page>
                    <!-- <div class="row pl-3 mt-1">
                        <div class="col-lg-6 p-0">
                            <div class="d-flex">
                                <span id="" class="key">Leave Days</span>
                                <span id="" class="value" *ngIf="techIncentiveDetails?.isDailyRateEditable == true">
                                    <input class="form-control fidelity-form-input" type="text" mask="separator.1"
                                        maxlength="4"  [validation]="true"
                                        placeholder="Enter Leave Days" formControlName="LeaveDays" />
                                </span>
                                <span id="" class="value" *ngIf="techIncentiveDetails?.isDailyRateEditable == null">
                                    <span
                                        class="d-inline-block">{{techIncentiveDetails?.leaveDays?(techIncentiveDetails?.leaveDays|wholeNumberToDecimal):'-'}}</span>

                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="d-flex">
                                <span id="" class="key">Daily Rate</span>
                                <span id="" class="value" *ngIf="techIncentiveDetails?.isDailyRateEditable == true">
                                    <input class="form-control fidelity-form-input" type="text"
                                        placeholder="Enter Daily Rate" formControlName="DailyRate" />
                                </span>
                                <span id="" class="value" *ngIf="techIncentiveDetails?.isDailyRateEditable == null">
                                    <span
                                        class="d-inline-block">{{techIncentiveDetails?.dailyRate?(techIncentiveDetails?.dailyRate|wholeNumberToDecimal):'-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row pl-3 mt-1">
                        <div class="col-lg-6 p-0">
                            <div class="d-flex">
                                <span id="" class="key">Leave Pay</span>
                                <span id="" class="value">
                                    <span style="color: #4AC942"
                                        class="d-inline-block">{{techIncentiveDetails?.leavePay?(techIncentiveDetails?.leavePay):'-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row pl-3">
                        <div class="col-12 page-sub-title p-0 mt-2 mb-2">FINAL INCENTIVE & ALLOWANCE</div>
                    </div>
                    <div class="row pl-3 mt-1">
                        <div class="col-lg-6 p-0">
                            <div class="d-flex">
                                <span id="" class="key">Incentive</span>
                                <span id="" class="value">
                                    <a class="d-inline-block" style="color: #00b7df;"
                                        (click)="RevenueListClick('IsFinal')"><b>{{techIncentiveDetails?.finalIncentive?(techIncentiveDetails?.finalIncentive|wholeNumberToDecimal):'-'}}</b></a>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="d-flex">
                                <span id="" class="key">Allowance</span>
                                <span id="" class="value">
                                    <span
                                        class="d-inline-block">{{techIncentiveDetails?.finalAllowance?(techIncentiveDetails?.finalAllowance|wholeNumberToDecimal):'-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row pl-3 sm-inputs">
                        <div class="col-6 p-0">
                            <div class="form-group">
                                <label>Status<span class="mandatory-field">*</span></label>
                                <p-radioButton class="fidelity-radio-btn mr-3" name="TechIncentiveStatusId" [value]="item.techIncentiveStatusId" [disabled]="getApproveOneDisabled()"
                                *ngFor="let item of approvalStatusList" formControlName="TechIncentiveStatusId" [label]="item.techIncentiveStatusName"></p-radioButton>
                            </div>
                            <span class="text-danger" *ngIf="incentiveCalculationForm?.get('TechIncentiveStatusId')?.touched && incentiveCalculationForm?.get('TechIncentiveStatusId')?.errors?.required">
                                Status is required
                            </span>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-group">
                                <label>Comments<span class="mandatory-field" *ngIf="isStatus">*</span></label>
                                <textarea name="" class="form-control fidelity-form-input" rows="4"
                                    formControlName="Comments"></textarea>
                                <span class="text-danger" *ngIf="incentiveCalculationForm?.get('Comments')?.touched && incentiveCalculationForm?.get('Comments')?.errors?.required">
                                    Comment is required
                                </span>
                            </div>
                        </div>
                    </div> -->
                    <div class="row pl-3" *ngIf="techIncentiveDetails?.approvals?.length > 0">
                        <div class="col-12 page-sub-title mt-2 mb-2">APPROVALS</div>
                    </div>
                    <div class="row pl-3" *ngIf="techIncentiveDetails?.approvals?.length > 0">
                        <div class="col-12 p-0">
                            <div class="col-12" style="background: #e5e5e5;">
                                <div class="row">
                                    <div class="col-3">
                                       <strong> Role Name</strong>
                                    </div>
                                    <div class="col-2">
                                        <strong> Approver Name</strong>
                                     </div>
                                     <!-- <div class="col-2">
                                         <strong> Approved By</strong>
                                      </div> -->
                                    <!-- <div class="col-2">
                                        <strong> Amount </strong>
                                     </div> -->
                                    <div class="col-3">
                                        <strong>   Status</strong>
                                    </div>
                                    <div class="col-4">
                                        <strong>   Comments</strong>
                                    </div>
                                </div>
                                <p-scrollPanel [style]="{height: '20vh'}" styleClass="custom">
                                    <div class="row" *ngFor="let item of techIncentiveDetails?.approvals">
                                        <div class="col-3">
                                            {{item?.roleName ? item?.roleName : '--'}}
                                        </div>
                                        <div class="col-2">
                                            {{item?.approverName ? item?.approverName : '--'}}
                                        </div>
                                        <!-- <div class="col-2">
                                            {{item?.approvedByName ? item?.approvedByName : '--'}}
                                        </div> -->
                                        <!-- <div class="col-2">
                                            {{item?.approvedAmount ? item?.approvedAmount : '--'}}
                                        </div> -->
                                        <div class="col-3">
                                            {{item?.techIncentiveStatusName ? item?.techIncentiveStatusName : '--'}}
                                        </div>
                                        <div class="col-4">
                                            {{item?.approvalComments ? item?.approvalComments : '--'}}
                                        </div>
                                    </div>
                                </p-scrollPanel>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown" (click)="submit()"
                [disabled]="getApproveOneDisabled()">Submit</button>
                <!--[disabled]="techIncentiveDetails?.isDailyRateEditable == null"-->
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
