<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative">
    {{config.header}}    
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
  </div>  
  <div class="fdt-dialog-body">
        <!-- DOA APPROVE -->
        <div class="ibox-body brown-border view-box" *ngIf="screen=='doa' && actionFlag=='approve'" style="    height: 277px;">
          <form [formGroup]="transactionProcessApproveForm" >
            <div class="row">
                <div class="col-12">
                  <label>Comments</label>
                      <textarea  formControlName="comments" class="form-control fidelity-form-input" style="height: 90px;" rows="2" name="comment" placeholder="Enter Comments" ></textarea>
                </div>
            </div> 
            <div class="row">
                <div class="col-12">               
                  <div class="form-group p-relative">                   
                    <label  class="labels">Attachment</label>
                    <div class="form-group" style="width: 100%;">
                        <label for="file" class="sr-only">File</label>
                        <div class="file-input-container">
                            <input class="file-input-ctrl" #fileInput1 type="file" name="file"  placeholder="Attachment"
                                (change)="onFileSelected($event.target.files,'required-doc')"
                                />
                        </div>
                        <div style="width: 100%; z-index: 1000;">
                            <div class="input-group" style="height: 40px;">
                                <input type="text" name="fileName" [(ngModel)]="fileName"
                                    [ngModelOptions]="{standalone: true}"
                                    class="form-control file-input-text" placeholder="No file selected"
                                    readonly>
                                <span class="input-group-btn">
                                    <div class="btn custom-file-uploader file-input-btn">
                                        Browse
                                    </div>
                                </span>
                            </div><br>
                        </div>

                    </div>
                  </div>
                </div>
            </div>
            <div class="text-center mt-3" >
              <button type="submit"  (click)="onSubmit()" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Approve</button>
              <button  class="btn btn-md-fidelity btn-default" (click)="btnCloseClick()">Cancel</button>
            </div> 
          </form>          
        </div> 
        <!-- DOA Decline -->
        <div class="ibox-body brown-border view-box" *ngIf="screen=='doa' && actionFlag=='decline'">
          <form *ngIf="transactionProcessDeclineForm" [formGroup]="transactionProcessDeclineForm" >
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Decline Reason</label>
                    <select name="district"  class="form-control fidelity-form-input"  formControlName="declineReasonId" >
                    <option value="" disabled>Select Decline Reason</option>
                    <option *ngFor="let reason of reasonList" [value]="reason.id">
                        {{reason.displayName}}
                    </option>
                </select>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-12">
                  <label>Decline notes</label>
                      <textarea  formControlName="comments"   style="height: 90px;" class="form-control fidelity-form-input" rows="2" name="comment" placeholder="Enter Comments" ></textarea>
                </div>       
            </div> 
            <div class="row">
                <div class="col-12">               
                  <div class="form-group p-relative">                   
                    <label  class="labels">Attachment</label>
                    <div class="form-group" style="width: 100%;">
                        <label for="file" class="sr-only">File</label>
                        <div class="file-input-container">
                            <input class="file-input-ctrl" #fileInput1 type="file" name="file"  placeholder="Attachment"
                                (change)="onFileSelected($event.target.files,'required-doc')"
                                />
                        </div>
                        <div style="width: 100%; z-index: 1000;">
                            <div class="input-group" style="height: 40px;">
                                <input type="text" name="fileName" [(ngModel)]="fileName"
                                    [ngModelOptions]="{standalone: true}"
                                    class="form-control file-input-text" placeholder="No file selected"
                                    readonly>
                                <span class="input-group-btn">
                                    <div class="btn custom-file-uploader file-input-btn">
                                        Browse
                                    </div>
                                </span>
                            </div><br>
                        </div>

                    </div>
                  </div>
                </div>
            </div>
            <div class="text-center mt-3" >
              <button type="submit" (click)="onSubmit()" class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Decline DOA Transaction</button>
              <button  class="btn btn-md-fidelity btn-default" (click)="btnCloseClick()">Cancel Decline</button>
            </div> 
          </form>          
        </div>         
        <!-- Request DOA Approval -->
        <div class="ibox-body brown-border view-box" *ngIf="screen=='admin' && this.isSuccess">
          <div style="width: 100%;" *ngIf="this.isSuccess">
            <p class="approval-content">Request has been submitted for DOA Approval</p>
            <div class="text-center mt-3">
                <button id="cancel_order_btn" (click)="btnCloseClick()" class="btn btn-md-fidelity btn-default">Ok</button>
            </div> 
          </div>    
        </div> 
        <!-- Confimation Request DOA Approval -->
        <div class="ibox-body brown-border view-box" *ngIf="screen=='admin' && !this.isSuccess">
          <div style="width: 100%;" *ngIf="!this.isSuccess">
              <p class="approval-content">Are you sure want to submit this request for DOA Approval ?</p>
              <div class="text-center mt-3">
                <button id="initiate_order_btn" type="button" (click)="onSubmit()"  class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Yes</button>
                <button id="cancel_order_btn" (click)="btnCloseClick()" class="btn btn-md-fidelity btn-default">No</button>
            </div> 
          </div>    
        </div> 
        
  </div>