  .file-input-container {
    width: 100%;
    height: 40px;
    z-index: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .file-input-ctrl {
    margin-top: 33px;
    height: 40px;
    width: 100%;
  }
  
  .file-input-text {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .file-input-btn {
    height: 40px;
    padding: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .file-remove-btn {
    width: 82px;
    margin-left: -8px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .file-download-container {
    height: 40px !important;
    font-size: 18px;
  }
  ::ng-deep app-page-list-table#stock-table tr:last-child {
    font-weight: bold !important;
   }
   ::ng-deep app-page-list-table#stock-table tr:last-child td:last-child {
    display: none;
   }
  .approval-content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 68px;
    /* font-weight: 600; */
    font-size: 20px;
    text-align: center;
  }
  .info-key-customise {
    padding: 10px; width: 100%;
  }
  .width-100 {
    width: 100%;
  }
  .width-zindex {
    width: 100%; z-index: 1000;
  }
  .height-cus {
    height: 40px;
  }