<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Return For Repair </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Inventory Management</a>
        </li>
        <li class="breadcrumb-item">
            <a>Return For Repair Verification</a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Return For Repair List </a>
        </li>
        <li class="breadcrumb-item"> 
            <a (click)="navigateToViewPage()"> 
                Return For Repair View 
            </a> 
        </li>
        <li class="breadcrumb-item"> Return For Repair Update </li>
    </ol>
</div>
<div class="page-content fade-in-up" *ngIf="selectedTabIndex == 0">
    <div class="ibox view-box">        
        <div class="ibox-body">
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> RFR Request No </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.rtrRequestNumber ? returnForRepairGetDetails?.rtrRequestNumber : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Receiving ID </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.receivingId ? returnForRepairGetDetails?.receivingId : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Receiving Barcode </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.receivingBarCode ? returnForRepairGetDetails?.receivingBarCode : '-'}}
                                <button type="button" class="print-btn circle-plus-btn" (click)="print(returnForRepairGetDetails?.receivingBarCode, 'single')" 
                                    style="right: -5px;top: 1px;" matTooltip="Print">
                                    <i class="icon icon-print"></i>
                                </button>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> QR Barcode </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.qrCode ? returnForRepairGetDetails?.qrCode : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Created By </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.createdBy ? returnForRepairGetDetails?.createdBy : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Created Date & Time </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.createdDate ? (returnForRepairGetDetails?.createdDate | date) : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Tech Stock Location Name </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.technicianStockLocation ? returnForRepairGetDetails?.technicianStockLocation : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Receiving Type </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.orderTypeName ? returnForRepairGetDetails?.orderTypeName : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Service Call Number </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.serviceCallNumber ? returnForRepairGetDetails?.serviceCallNumber : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key"> Warehouse </span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                {{returnForRepairGetDetails?.warehouseName ? returnForRepairGetDetails?.warehouseName : '-'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">                
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Status</span>
                        <span id="" class="">
                            <span class="d-inline-block">                                    
                                <span class="status-label" [ngClass]="returnForRepairGetDetails?.status != null ? returnForRepairGetDetails?.cssClass : '' ">
                                    {{returnForRepairGetDetails?.status ? returnForRepairGetDetails?.status : '-'}}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-body mt-2 custom-scroll1" style="max-height: 52vh;overflow: auto;">
            <div class="container-fluid">                    
                <div class="row full-list-header-row" style="font-size: 13px;white-space: nowrap;">
                    <div class="col-2"> Stock Code </div>
                    <div class="col-3"> Stock Description </div>
                    <div class="col-2"> Unit Of Measure </div>
                    <div class="col-1"> Return Qty </div>
                    <div class="col-1"> Received Qty </div>
                    <div class="col-2"> Variance Qty </div>
                    <div class="col-1" style="white-space: break-spaces;"> Not Serialized/Barcode </div>                    
                </div>
                <div class="row" *ngFor="let items of returnForRepairGetDetails?.rfrInventoryItems">
                    <div class="col-2">
                        <div class="form-group" style="cursor: pointer;"
                            (click)="openSerialNumberPage(items)">
                            <input type="text" class="fidelity-form-input form-control model-color" [value]="items['stockCode']" style="font-size: 13px;">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control disabled" [value]="items['stockName']">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control disabled" [value]="items['unitOfMeasure']">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control disabled" [value]="items['returnedQuantity']">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control disabled" [value]="items['receivedQty']">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control disabled" [value]="items['receivedQty']">
                        </div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" disabled [checked]="items?.isSerialized"></mat-checkbox>
                    </div>                    
                </div>
                <div *ngIf="returnForRepairGetDetails?.rfrInventoryItems?.length <= 0" class="col-12 mt-2">
                    <div class="text-center text-muted no-records-found-con">
                        <span><b>No Records Found</b></span>
                    </div>
                </div>
            </div>  
        </div>
        <div class="text-center mt-3">
            <button type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="navigateToList()"> Back </button>
            <!-- <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button> -->
        </div>
    </div>
</div>

<div class="page-content fade-in-up" *ngIf="selectedTabIndex == 1">
    <div class="ibox view-box"> 
        <form class="fidelity-popup-form" customForm [formGroup]="returnForRepairRequestScanForm">
            <div class="ibox-body">
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Stock Code </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{stockGetDetails?.stockCode ? stockGetDetails?.stockCode : '-'}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Stock Description </span>
                            <span id="" class="value">
                                <span class="d-inline-block">
                                    {{stockGetDetails?.stockName ? stockGetDetails?.stockName : '-'}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="ibox-body mt-3">
                <div class="col-2">
                    <div class="form-group">
                        <label class="d-block"> Is Serialized </label>
                        <mat-radio-group disabled>
                            <mat-radio-button class="fidelity-radio-btn mr-3" [checked]="stockGetDetails?.isSerialized ? 'true' : 'false'" value="true"> Yes </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn mr-3" [checked]="!stockGetDetails?.isSerialized ? 'true' : 'false'" value="false"> No </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="print-btn circle-plus-btn" (click)="openBarcodeModal()" 
                        style="right: -5px;top: 1px;" matTooltip="Print">
                        <i class="icon icon-print"></i>
                    </button>
                </div>
                <div class="custom-scroll1" style="overflow-x: auto;height: 35vh">
                    <div class="custom-scroll1" style="overflow-x: auto;">
                        <div class="row header-row" style="flex-wrap: nowrap;">
                            <div class="col-1 d-flex justify-content-center mt-1">
                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" 
                                [(ngModel)]="allSerialChecked" [ngModelOptions]="{standalone: true}" 
                                (change)="selectAll($event.checked)">
                                </mat-checkbox>
                            </div>
                            <div class="col-2">Serial Number</div>
                            <div class="col-2">Temp Stock Code</div>
                            <div class="col-2">Warranty Status</div>
                            <div class="col-2">Item Status</div>
                            <div class="col-2">Return to Customer</div>
                            <div class="col-2">Supplier</div>
                            <div class="col-2">Supplier Address</div>
                        </div>
                        <div class="" formArrayName="orderReceiptItemDetails"
                            *ngFor="let obj of returnForRepairRequestScanForm?.get('orderReceiptItemDetails')?.controls;let i=index">
                            <div class="row children-row mb-1" [formGroupName]="i" style="flex-wrap: nowrap;">
                                <div class="col-1 d-flex justify-content-center mt-1">
                                    <mat-checkbox class="fidelity-checkbox" formControlName="scannedSerialNumber"></mat-checkbox>
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="serialNumber" />
                                </div>
                                <div class="col-2">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="tempStockCode"/>
                                </div>
                                <div class="col-2">
                                    <select class="form-control fidelity-form-input" name="warrentyStatus" formControlName="warrentyStatusId"
                                        (change)="selectWarrantyStatus($event, i)">
                                        <option value="" disabled>Select Warranty</option>
                                        <option *ngFor="let status of warrantyStatusDropDown" [value]="status.id">
                                            {{status.displayName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <select class="form-control fidelity-form-input" name="requestItem" formControlName="rtrRequestItemStatusId"
                                        (change)="selectItemStatus(i, $event)" disabled>
                                        <option value="" disabled>Select item</option>
                                        <option *ngFor="let req of itemStatusDropdown" [value]="req.id">
                                            {{req.displayName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <select class="form-control fidelity-form-input" name="isReturnToCustomer" formControlName="isReturnToCustomer" disabled>
                                        <option value="" disabled>Select status</option>
                                        <option *ngFor="let cus of returnCustomers" [value]="cus.value">
                                            {{cus.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <div class="col-12" style="padding-left: 0;">
                                            <p-autoComplete [style]="{'width':'100%'}" formControlName="supplierName"  [ngClass]="{'supplierName': obj.get('supplierName').disabled }" 
                                                [suggestions]="filteredSuppliers" field="displayName" dataKey="id" name="supplierName"
                                                placeholder="Supplier name" (completeMethod)="inputChangeSupplierFilter($event)" 
                                                (onSelect)="onSupplierAddressSelected($event, i)">
                                            </p-autoComplete>                                                         
                                            <span class="text-danger" *ngIf="!obj?.get('supplierName')?.value.id && obj.get('supplierName').disabled==false">
                                                Supplier name is required
                                            </span>            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <select class="form-control fidelity-form-input" name="supplierAddressId" formControlName="supplierAddressId">
                                        <option value="null" disabled>Select address</option>
                                        <option *ngFor="let item of obj?.get('addressDropdown').value" [value]="item.supplierAddressId">
                                            {{item.description}}
                                        </option>
                                    </select>
                                    <span class="text-danger" *ngIf="!obj?.get('supplierAddressId')?.value && obj.get('supplierAddressId').disabled==false">
                                        Supplier address is required
                                    </span>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="onSave()"> Save </button>
                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToEditPage()"> Cancel </button>
            </div>
        </form>
    </div>
</div>


<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="confirmationPopup" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '600px'}">
  <p-header>{{popupHeader}}</p-header>
    <form class="fidelity-popup-form" customForm [formGroup]="returnForRepairStockInfoForm">
        <div class="row mt-1">
            <div class="col-lg-12" style="font-size: 16px; text-align: center;" *ngIf="confirmationIcons"> 
                Scanned serial number is In Full Warranty and <br>
                should be collected on the original stock code.<br>
                Do you want to proceed?
            </div>
            <div class="col-12" *ngIf="stockInfoIcons">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label class="d-block"> Stock Code </label>
                            <mat-select-autocomplete ngDefaultControl
                                class="input-width-medium" [id]="'stockCode'"
                                [formControl]="returnForRepairStockInfoForm?.controls['stockCode']"
                                [placeholder]="'Select Single/Multiple'" [options]="stockCodeDropdown"
                                [multiple]='false' [value]="'value'" [display]="'display'"
                                (selectionChange)="selectStockDescription('stockCode')">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label> Stock Description </label>   
                            <mat-select-autocomplete ngDefaultControl
                                class="input-width-medium" [id]="'stockDescription'"
                                [formControl]="returnForRepairStockInfoForm?.controls['stockDescription']"
                                [placeholder]="'Select Single/Multiple'" [options]="stockCodeDropdown"
                                [multiple]='false' [value]="'value'" [display]="'displayName'"
                                (selectionChange)="selectStockDescription('stockDescription')">
                            </mat-select-autocomplete>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix mt-3">
                <div class="text-center" *ngIf="stockInfoIcons">
                    <button type="button" (click)="saveStockCode()"
                        class="btn btn-md-fidelity fidelity-btn-brown"> Save 
                    </button>
                    <button type="button" (click)="onClose()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default"> Cancel 
                    </button>
                </div>        
                <div class="text-center" *ngIf="confirmationIcons">
                    <button type="button" (click)="openSerialInfo()"
                        class="btn btn-md-fidelity fidelity-btn-brown"> Yes 
                    </button>
                    <button type="button" (click)="confirmationPopup = false"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default"> No 
                    </button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>