<div class="page-heading ">
  <h1 class="page-title no-border">Camera Profile</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item">Customer Management</li>
    <li class="breadcrumb-item"><a routerLink='/customer/non-customer-profile'> Non Customers</a>
    </li>
    <li class="breadcrumb-item"> Create Camera Profile</li>
  </ol>
</div>
<form customForm *ngIf="cameraProfileForm" [formGroup]="cameraProfileForm" (ngSubmit)="onSubmit()">
  <div class="p-absolute" style="right: 47px!important;z-index: 2;display: inline-flex !important;">
    <div
        class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
        <!-- <button type="button" disabled >
            <i class="icon icon-backward"></i>
        </button>
        <span class="d-flex stage-no mr-2 ml-2">1</span>
        <button type="button" title="Debtor Information" (click)="navigateToDebtorInformation()">
            <i class="icon icon-forward"></i>
        </button> -->
    </div>
</div>
<div class="page-content fade-in-up">
  <div class="ibox white-bg" style="height: auto;">
    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
      <div class="ibox-body sm-form-grp">
        <app-shared-customer-information (emitData)="emitCustomerInformation($event)"
          (emitCustomerType)="emitCustomerType($event)"></app-shared-customer-information>
      </div>
      <div class="ibox-body sm-form-grp">
        <app-shared-profile-information [tabs]="tabs" (emitData)="emitCustomerInformation($event)"
          (emitCustomerType)="emitCustomerType($event)" (removeList)="emitRemoveElementByIndex($event)"></app-shared-profile-information>
      </div>
      <div class="ibox-body sm-form-grp">
        <div class="row">
          <div class="col-12"><label class="page-sub-title">Camera Information</label></div>
        </div>
        <div class="row">
          <div class="col-4"> <label>Camera Name <span class="mandatory-field">*</span></label></div>
          <div class="col-4"> <label>Location <span class="mandatory-field">*</span></label></div>
          <div class="col-3"> <label>Coordinates <span class="mandatory-field">*</span></label></div>
          <div class="col-1"></div>
        </div>

          <div formArrayName="cameraInformationDTO" >
            <div class="row" *ngFor="let camera of getCameraInformationArray.controls; let i=index" [formGroupName]="i">
              <div class="col-4">
              <div class="form-group">

                <div class="form-group">
                  <input #input type="text" name="Camera Name" formControlName="cameraProfileName"
                    class="form-control fidelity-form-input">
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">

                <div class="form-group">
                  <input #input type="text" name="location" formControlName="location" class="form-control fidelity-form-input">
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">

                <div class="form-group">
                  <input  #input type="text" name="Coordinates" formControlName="latLong" class="form-control fidelity-form-input">
                </div>
              </div>
            </div>
            <div class="col-1 profile-manager-add">
              <div class="form-group">
                <a *ngIf="i ==0"
                  class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute btn-action action-button-margin"
                  (click)="addCamera()" title="add"><i aria-hidden="true" class="icon" data-icon="b"></i></a>
                <a *ngIf="i !=0"
                  class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute action-button-margin action-button-margin"
                  (click)="removeCamera(i)" title="Delete"><i aria-hidden="true" class="icon icon-delete" data-icon="b"></i></a>
              </div>

            </div>
            </div>
          </div>



      </div>

    </p-scrollPanel>
  </div>
</div>
<div class="text-center mt-4">
  <button type="submit" [disabled]="cameraProfileForm.invalid"
      class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
  <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-md-fidelity btn-grey mr-3" (click)="goBack()">Cancel</button>
</div>
</form>
