<div class="page-heading">
    <h1 class="page-title d-inline-block">{{action}} Technician Cut Off Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i class="fa fa-home" aria-hidden="true"></i> </a></li>
        <li class="breadcrumb-item">Technical Management</li>
        <li class="breadcrumb-item">Scheduling timing</li>
        <li class="breadcrumb-item"><a (click)="navigateToList()">Technician Cut Off Configuration List</a></li>
        <li class="breadcrumb-item" *ngIf="action == 'Update'"><a (click)="navigateToView()"> Technician Cutoff
                Configuration View</a> </li>
        <li class="breadcrumb-item">{{action}} Technician Cut Off Configuration</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box">
        <form customForm [formGroup]="technicianCutOffConfigForm" (ngSubmit)="createTechCutOffConfig()">
            <!---->
            <div class="ibox-body mb-3">

                <div class="row sm-inputs">
                    <div class="col-3">
                        <div class="form-group" style="width: 100%;">
                            <label>Division <span class="mandatory-field">*</span></label>
                            <select name="Division" class="form-control fidelity-form-input"
                                formControlName="divisionId">
                                <!--formControlName="divisionId"-->
                                <option value="null" selected disabled>Select Division</option>
                                <option *ngFor="let stockIds of divisionDropDown" [value]="stockIds.id">
                                    {{stockIds.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group" style="width: 100%;">
                            <label>Cut Off Time<span class="mandatory-field">*</span></label>
                            <p-calendar formControlName="cutoffTime" [readonlyInput]="true" [timeOnly]="true" styleClass="w-100"></p-calendar>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" style="width: 100%;">
                            <label>System Auto Posting (Hours after Scheduling Cut Off Time)</label>
                            <div class="row">
                                <div class="col-6">
                                    <input class="form-control fidelity-form-input" placeholder="Hours" maxlength="4"
                                        [validateInput]="isNumberOnly" formControlName="systemAutoPostingHours">
                                </div>
                                <div class="col-6">
                                    <input class="form-control fidelity-form-input" placeholder="Minutes" maxlength="3"
                                        [validateInput]="isNumberOnly" formControlName="systemAutoPostingMin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-4 d-flex align-items-center">Hours from temp done Date/Time</div> -->
                </div>


            </div>
            <div class="text-center mt-3">
                <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2">
                    {{action}}
                </button>
                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    (click)="cancelClick()">Cancel
                </button>
            </div>
        </form>
    </div>
</div>
