<div class="fidelity-popup-heading container-fluid p-relative">{{doaLevelConfigId?'Update':'Create'}} DOA Role And Level
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="doaRoleAndLevelAddEditForm" customForm (ngSubmit)="onSubmit()"
    [formGroup]="doaRoleAndLevelAddEditForm">
    <mat-dialog-content>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label">Level<span class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <select name="Level" class="form-control fidelity-form-input" formControlName="level">
                    <option value="" disabled>Select Level</option>
                    <option *ngFor="let level of levelList" [value]="level">
                        {{level}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label">Role<span class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <select name="role" class="form-control fidelity-form-input" formControlName="roleId">
                    <option value="" disabled>Select Role</option>
                    <option *ngFor="let role of roleList" [value]="role.id">
                        {{role.displayName}}
                    </option>
                </select>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Save</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
            [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>