<div class="fidelity-popup-heading container-fluid p-relative">{{lssTypeId?'Update':'Create'}} Scheme Type
    <button mat-icon-button class="close-button p-absolute " [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="lssAddEditForm" customForm (ngSubmit)="onSubmit()" [formGroup]="lssAddEditForm">
    <mat-dialog-content>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label">Lss Scheme<span
                class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input class="form-control fidelity-form-input"
                name="Lss Scheme" type="text" [maxlength]="formConfigs.maxLengthTwenty" placeholder="Lss Scheme" formControlName="lssTypeName"
                />
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="submit">Save</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button" [mat-dialog-close]="true" >Cancel</button>
    </mat-dialog-actions>
</form>