<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex">
</app-page-header>


<div class="page-content fade-in-up">
  <div class="ibox white-bg" style="height: auto;">
    <form customForm [formGroup]="paymentSplitForm">
      <p-scrollPanel [style]="{ height: '70vh'}">
        <div class="ibox-body brown-border">
          <div class=" page-sub-title">CUSTOMER INFO</div>
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Customer ID</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.customerRegNo}}
                </span>
              </div>
              <div class="d-flex mb-2 ">
                <span class="cust-info-key ">Customer Type</span>
                <span class="cust-info-value p-relative">
                  {{splitPaymentDebtorDetail?.customerType}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Contact Number </span>
                <span class="cust-info-value p-relative">
                  {{splitPaymentDebtorDetail?.contactNumber}}
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Customer Name</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.customerName}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Contact Address</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.siteAddress}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Email Address</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.emailAddress}}
                </span>
              </div>
            </div>

          </div>
          <div class=" page-sub-title">DEBTOR INFO</div>
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Debtor Name</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.debtorName}}
                </span>
              </div>
              <div class="d-flex mb-2 ">
                <span class="cust-info-key ">BDI Number</span>
                <span class="cust-info-value p-relative">
                  {{splitPaymentDebtorDetail?.debtorBDINumber}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Email Address </span>
                <span class="cust-info-value p-relative">
                  {{splitPaymentDebtorDetail?.debtorEmail}}
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Debtor Code</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.debtorCode}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Contact Number</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.debtorContact}}
                </span>
              </div>
            </div>
          </div>
          <div class=" page-sub-title">OUTSTANDING BALANCE</div>
          <div class="row mt-1 mb-2" style="font-size: 0.9rem;">
            <div class="col-2">
              <label for="">Balance</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.totalInvoiceOutStandingAmount">
            </div>
            <div class="col-2">
              <label for="">Current</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.current">
            </div>
            <div class="col-2">
              <label for="">30 Days</label>
              <input type="text" class="form-control fidelity-form-input disabled" [value]="outstandingBalance?.days30">
            </div>
            <div class="col-1">
              <label for="">60 Days</label>
              <input type="text" class="form-control fidelity-form-input disabled" [value]="outstandingBalance?.days60">
            </div>
            <div class="col-1">
              <label for="">90 Days</label>
              <input type="text" class="form-control fidelity-form-input disabled" [value]="outstandingBalance?.days90">
            </div>
            <div class="col-1">
              <label for="">120 Days</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.days120">
            </div>
            <div class="col-1">
              <label for="">150 Days</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.days150">
            </div>
            <div class="col-1">
              <label for="">190 Days</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.days180">
            </div>
          </div>
          <div class="row mb-2">
            <div class=" col-12 page-sub-title mb-2">PAYMENT SPLIT</div>
            <div class="col-6 ">
              <p-radioButton class="fidelity-radio-btn mr-3" [disabled]="true" name="isComplaint" [value]="true"
                formControlName="isSingle" binary="true" label="Single"></p-radioButton>
              <p-radioButton class="fidelity-radio-btn mr-3" [disabled]="true" name="isComplaint" [value]="false"
                formControlName="isSingle" binary="true" label="Multiple">
              </p-radioButton>

              <!-- <p-radioButton name="isSingle"  formControlName="isSingle"   [value]=true label="Single"></p-radioButton>
            <p-radioButton name="isSingle" class="ml-4" formControlName="isSingle"  [value]=false  label="Multiple"></p-radioButton> -->
            </div>
          </div>
          <div class="row">
            <div class="col-4"><label>Document Date</label>
              <div class="form-group">
                <input type="text" class="form-control fidelity-form-input disabled"
                  [value]="splitPaymentDebtorDetail.documentDate" placeholder="Documemt Date">
              </div>
            </div>
            <div class="col-4"><label>Transaction Type</label>
              <div class="form-group">
                <input type="text" class="form-control fidelity-form-input disabled"
                  [value]="splitPaymentDebtorDetail.transactionType" placeholder="Transaction Type">
              </div>
            </div>
            <div class="col-4"><label>Transaction Type Description</label>
              <div class="form-group">
                <input type="text" class="form-control fidelity-form-input disabled"
                  [value]="splitPaymentDebtorDetail.transactionTypeDescription"
                  placeholder="Transaction Type Description">
              </div>
            </div>
            <div class="col-4"><label>Description Types</label>
              <div class="form-group">
                <select class="form-control fidelity-form-input disabled" formControlName="invoiceTransactionDescriptionId">
                  <option disabled value="">Select Description Type</option>
                  <option *ngFor="let description of transactionDescriptionDropdown" [value]="description.id">
                    {{description.displayName}}</option>
                </select>

              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class=" col-12 page-sub-title mb-2">PAYMENT SPLIT FROM</div>
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Debtor Code</span>
                <span class="cust-info-value">
                  {{splitPaymentFrom?.debtorCode?splitPaymentFrom?.debtorCode:'-'}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Transaction No</span>
                <span class="cust-info-value">
                  {{splitPaymentFrom?.transactionRefNo?splitPaymentFrom?.transactionRefNo:'-'}}
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Original Amount</span>
                <span class="cust-info-value">
                  {{splitPaymentFrom?.originalAmount?splitPaymentFrom?.originalAmount:'-'}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Remaining Balance</span>
                <span class="cust-info-value">
                  {{splitPaymentFrom?.remainingAmount?splitPaymentFrom?.remainingAmount:'-'}}
                </span>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12 mt-2">
              <div class="custom-table">
                <p-table class="custom-scroll" [columns]="columns" [value]="debtorsList" dataKey="debtorCode" class="kit-table"
                  [paginator]="(totalRecords == 0) ? false : true"
                  [responsive]="true">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th style="width: 3em" [ngStyle]="{'background':'none',color:'#fff'}"></th>
                      <th *ngFor="let col of columns;let i=index"
                        [ngStyle]="{'width': col.width,background:'none',color:'#fff'}">
                        {{col.header}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-ri1="rowIndex" let-expanded="expanded"
                    let-columns="columns">
                    <tr [pSelectableRow]="rowData" [pReorderableRow]="ri1">
                      <td>

                      </td>
                      <td class="col-2" *ngFor="let col of columns;let i=index" [ngStyle]="{'width': col.width}">
                        <span> {{rowData[col.field]}}</span>
                        <!-- <span *ngIf="col.field == 'splitAmount'"> <input type="text" [(ngModel)]="rowData[col.field]"  [ngModelOptions]="{standalone: true}" class="form-control fidelity-form-input"></span> -->
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </div>
            </div>

            <div class="col-8">
              <div class="form-group">
                <label>Transaction Notes</label>
                <textarea type="text" disabled formControlName="notes" class="form-control fidelity-form-input" rows="2"
                  placeholder="Notes"></textarea>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class=" col-12 page-sub-title mb-2">REQUIRED DOCUMENTS</div>
          </div>
          <div *ngFor="let document of splitPaymentDocuments;let i=index">
            <div class="row mb-2">

              <div class="col-4">
                <div class="form-group">
                  <label>Additional Attachment</label>
                  <input type="text"  disabled class="form-control fidelity-form-input"
                    placeholder="Transaction Type Description" [value]="document.documentName">
                </div>
              </div>
              <div class="col-2"></div>

              <div class="col-4">
                <div class="form-group box-text mt-4 ">
                  <a  [href]="document.documentPath"  target="_blank" download>Attachment {{i+1}}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class=" col-12 page-sub-title mb-2">OPTIONAL DOCUMENTS</div>
          </div>
          <div *ngFor="let document of splitPaymentDocuments1;let i=index">
            <div class="row mb-2" *ngIf="!document.isRequired">

              <div class="col-4">
                <div class="form-group">
                  <label>Additional Attachment</label>
                  <input type="text" disabled  class="form-control fidelity-form-input"
                    placeholder="Transaction Type Description" [value]="document.documentName">
                </div>
              </div>
              <div class="col-2"></div>

              <div class="col-4">
                <div class="form-group box-text mt-4" >
                  <a [href]="document.documentPath"  target="_blank" download>Attachment {{i+1}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
      <div class="text-center mt-2">
        <button type="button" (click)="openApproveDialog()" class="btn btn-md-fidelity fidelity-btn-brown">Approve</button>
        <button type="button" class="btn btn-md-fidelity fidelity-btn-grey mr-3" (click)="openDeclineDialog()">Decline</button>
      </div>
    </form>
  </div>
</div>




<p-dialog styleClass="acknowledgeDialog"  [(visible)]="approveDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '450px'}">
  <p-header>
    Approve Transaction
  </p-header>
  <form [formGroup]="approveForm" customForm>
    <div class="form-group">
      <label>Comment</label>
      <textarea class="form-control fidelity-form-input" placeholder="..." formControlName="comments"
        rows="3"></textarea>
    </div>
    <div class="form-group p-relative">
      <label>Attachment</label>
      <div class="input-group fidelity-file-upload">
        <input class="input-box form-control " type="text" name="Upload Document" placeholder="Attach a file"
          maxlength="102" formControlName="fileName" readonly>
        <span class="input-group-btn">
          <div class="btn custom-file-uploader" id="documentName">
            <input #fileInput type="file" name="file"
              [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
              (change)="uploadFiles($event,'approve')" />Browse
          </div>
        </span>
      </div>

    </div>
    <div class="mt-5 text-center">
      <button id="" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" type="submit"
        (click)="submitAction('approve')">Approve</button>
      <button (click)="closeApproveDialog()" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>

    </div>
  </form>
</p-dialog>


<p-dialog styleClass="acknowledgeDialog" [(visible)]="declineDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '450px'}">
  <p-header>
    Decline Transaction
  </p-header>
  <form [formGroup]="declineForm" customForm>
    <div class="form-group">
      <label class="form-label">Decline Reason <span class="mandatory-field">*</span></label>
      <select name="declineReason" class="form-control fidelity-form-input" formControlName="declineReasonId">
        <option value="" disabled>Select Decline Reason</option>
        <option *ngFor="let reason of reasonList" [value]="reason.id">
          {{reason.displayName}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Decline Notes <span class="mandatory-field">*</span> </label>
      <textarea class="form-control fidelity-form-input" name="Decline Notes" placeholder="..." formControlName="comments"
        rows="3"></textarea>
    </div>
    <div class="form-group p-relative">
      <label>Attachment</label>
      <div class="input-group fidelity-file-upload">
        <input class="input-box form-control " type="text" name="Upload Document" placeholder="Attach a file"
          maxlength="102" formControlName="fileName" readonly>
        <span class="input-group-btn">
          <div class="btn custom-file-uploader" id="documentName">
            <input #fileInput type="file" name="file"
              [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
              (change)="uploadFiles($event,'decline')" />Browse
          </div>
        </span>
      </div>

    </div>
    <div class="mt-5 text-center">
      <button id="" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" type="submit"
        (click)="submitAction('decline')">Decline DOA Transaction</button>
      <button (click)="closeDeclineDialog()" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel Decline</button>

    </div>
  </form>

</p-dialog>
