<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="emailNotificationForm" (ngSubmit)="onSubmit()"
    style="width: 652px;">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>To<span class="mandatory-field">*</span></label>
                <input class="form-control fidelity-form-input fidelity_email" name="To Email" formControlName="notificationTo"
                    placeholder="Enter Email">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>CC</label>
                <input autocomplete="off" class="form-control fidelity-form-input" name="CC" formControlName="notificationCC"
                    placeholder="Ex. vicky@fidelity.com,rocky@fidelity.com">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Subject <span class="mandatory-field">*</span></label>
                <input class="form-control fidelity-form-input" name="Subject" maxlength="100"
                    formControlName="notificationSubject" type="text" placeholder="Subject (Required)" value="">
            </div>
        </div>
        <div class="col-6">
            <file-upload-custom-control [isASingleFileUpload]="false" [label]="'Attach File (.Pdf,.Docs,.Jpeg,.Png,.xlsx)'"
             (emitUploadedFiles)="emitUploadedFiles($event)">
            </file-upload-custom-control>
        </div>
        <div class="col-12">
            <div class="form-group" style="width: 600px !important">
                <label>Body <span class="mandatory-field">*</span></label>
                <angular-editor id="angularEditorAddEdit" maxlength="500" [placeholder]="'Enter text here...'"
                    name="Body" formControlName="notificationText">
                </angular-editor>
            </div>
        </div>
    </div>
    <hr>
    <mat-dialog-actions align="end">
        <button id="Feature_create_btn"
            class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit" cdkFocusInitial>Send</button>
        <button type="button" id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
            (click)="onClose()">Cancel</button>
    </mat-dialog-actions>
</form>