<form class="fidelity-popup-form" customForm [formGroup]="smsNotificationForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <app-popup-loader></app-popup-loader>
        <div class="row">
            <div class="col-6">
                <div class="form-group" style="width: 298px !important">
                    <label>To<span class="mandatory-field">*</span></label>
                    <div class="input-group mt-1 mb-1 p-relative">
                        <div class="input-group-prepend">
                            <select class="form-control fidelity-form-input disabled"
                                formControlName="notificationToCountryCode"
                                style="width: 105%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;">
                                <option value="+27">+27</option>
                                <option value="+91">+91</option>
                                <option value="+45">+45</option>
                            </select>
                        </div>
                        <input [title]="smsNotificationForm?.get('notificationToCountryCode')?.value"
                            class="form-control fidelity-form-input" type="text" placeholder="To" name="Mobile Number"
                            appPhoneMask formControlName="notificationTo">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group" style="width: 298px !important">
                    <label>Text <span class="mandatory-field">*</span></label>
                    <textarea name="" class="form-control fidelity-form-input" rows="3" name="Text"
                        formControlName="notificationText" maxlength="500"></textarea>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="end">
        <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
            cdkFocusInitial>Send</button>
        <button id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
            [mat-dialog-close]="true" (click)="onClose()">Cancel</button>
    </mat-dialog-actions>
</form>