<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>Email Sending
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form customForm [formGroup]="approvalFormGroup" class="fidelity-popup-form">
    <mat-dialog-content>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control fidelity-form-input fidelity_email" type="text"
                                        placeholder="Enter Email" formControlName="email" />
                </div>
            </div>

        </div>
    </mat-dialog-content>
    <div class="text-center mt-4 mb-2">
        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit" (click)="submit()">Submit</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </div>
</form>
