<div class="fidelity-popup-heading container-fluid p-relative">{{popupData['header']}}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>

<form [formGroup]="emojiConfigEditForm" (ngSubmit)="submitEmojiConfig()">
        <mat-dialog-content>
            <div class="container-fluid">
                <div class="row header-row mt-3" style="flex-wrap: nowrap;font-size: 0.9rem;">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="d-block">Rating</label>
                            <input class="form-control fidelity-form-input disabled" type="text" formControlName="rating"
                                placeholder="Enter Rating" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="d-block">Emoji Name</label>
                            <input class="form-control fidelity-form-input" type="text" formControlName="emojiName"
                                placeholder="Enter Emoji Name" />
                        </div>
                    </div>
                    <!-- <div class="col-3">
                        <div class="form-group">
                            <label class="d-block">Emoji Name</label>
                            <input class="form-control fidelity-form-input" type="text" formControlName="docName"
                                placeholder="Enter Emoji Name" />
                        </div>
                    </div> -->
                    <div class="col-4">
                        <label class="d-block">Emoji</label>
                        <div class="input-group fidelity-file-upload">
                            <input type="text" name="emojiFile" class="input-box form-control col-8" formControlName="docName" readonly>
                            <span class="input-group-btn col-4 px-0" style="cursor: pointer;" (click)="emojimupload.click()">
                                <div class="btn custom-file-uploader p-relative">
                                    <i class="fa fa-camera p-absolute" aria-hidden="true"
                                        style="color: 00b7df;left: -24px;"></i>
                                    <input type="file" name="file" style="visibility: hidden;" #emojimupload
                                        [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                                        (change)="uploadFiles($event)" />
                                    Browse
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
    <div class="text-center mt-4 mb-2">
        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit"
            [disabled]="inspectionEscalationForm?.get('customerInspectionEscalationId')?.value">Submit</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>