<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
    cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.data?.divisionId?'Update':'Create'}} BDI Code
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="dialogClose()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form p-2" *ngIf="bdiCodeAddEditForm" customForm (ngSubmit)="onSubmit()"
  [formGroup]="bdiCodeAddEditForm">
  <mat-dialog-content>
    <div class="form-group row mb-2 ">
      <label class="col-md-12 col-form-label" for="regionId">Division Code<span class="mandatory-field">*</span></label>
      <div class="col-md-12">
        <select name="Division Code" class="form-control fidelity-form-input" formControlName="divisionCode"
          (click)="getDivisonDetails()">
          <option value="" disabled>-- Select Division Code --</option>
          <option *ngFor="let division of divisionList" [value]="division.id">
            {{division.displayName}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row mb-2">
      <label class="col-md-12 col-form-label" for="bdiCodeName">Division Name
        <span class="mandatory-field">*</span></label>
      <div class="col-md-12">
        <input name="Division name" class="form-control fidelity-form-input" formControlName="divisionName" readonly>
      </div>
    </div>
    <div class="form-group row mb-2">
      <label class="col-md-12 col-form-label" for="bdiCodeCode">BDI Code<span class="mandatory-field">*</span></label>
      <div class="col-md-12">
        <input validateInput class="form-control fidelity-form-input" id="divisionRefNo" name="BDI Code" type="text"
          placeholder="BDI Code" formControlName="divisionRefNo" />
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"
      type="submit">{{config.data?.bdiCodeId?'Update':'Save'}}</button>
    <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
    (click)="dialogClose()" >Cancel</button>
  </mat-dialog-actions>
</form>
