<div class="">
    <form>
        <div class="ibox white-bg call-workflow-box">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border">
                    <div class="container-fluid">
                        <div class="view-box">
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">From</span>
                                        <span id="" class="value">
                                            <span
                                                class="d-inline-block">{{holidayInstructionDetails?.holidayInstructionFromDate
                                                ?
                                                (holidayInstructionDetails?.holidayInstructionFromDate |
                                                date) : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">To</span>
                                        <span id="" class="value">
                                            <span
                                                class="d-inline-block">{{holidayInstructionDetails?.holidayInstructionToDate
                                                ?
                                                (holidayInstructionDetails?.holidayInstructionToDate | date) :
                                                '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Contact Person</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{holidayInstructionDetails?.contactPersonName
                                                ?
                                                holidayInstructionDetails?.contactPersonName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Contact Number</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{holidayInstructionDetails?.contactNumber ?
                                                holidayInstructionDetails?.contactNumber : '-'}}
                                                <img *ngIf="holidayInstructionDetails?.contactNumber" style="cursor: pointer;
                                                    width: 27px;
    margin-left: 10px;
    margin-top: 0px;
" src="/assets/img/call-green.png">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Emergency Person</span>
                                        <span id="" class="value">
                                            <span
                                                class="d-inline-block">{{holidayInstructionDetails?.emergencyContactPersonName
                                                ?
                                                holidayInstructionDetails?.emergencyContactPersonName : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Emergency Number</span>
                                        <span id="" class="value">
                                            <span
                                                class="d-inline-block">{{holidayInstructionDetails?.emergencyContactNumber
                                                ?
                                                holidayInstructionDetails?.emergencyContactNumber : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <span id="" class="key">Type</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">{{holidayInstructionDetails?.type ?
                                                holidayInstructionDetails?.type : '-'}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h1 class="page-sub-title ext-padd mt-3">MESSAGE INFO </h1>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea class="form-control fidelity-form-input" rows="6" disabled>{{holidayInstructionDetails?.comments ?
                                            holidayInstructionDetails?.comments : '-'}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                (click)="onSubmitAcknowledgement()">Acknowledgement</button>
        </div>
    </form>
</div>