<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedIndex"
  (buttonClicked)="onCRUDRequested($event)">
</app-page-header>
<app-page-tab [selectedIndex]="selectedIndex" [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
  [template]="1" (tabClicked)="tabClick($event)"></app-page-tab>
<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-body mb-4">
      <form customForm autocomplete="off" [formGroup]="subContractorInvoicingAddEditForm">
        <div class="custom-scroll1" style="overflow-x: auto;height: 50vh">
          <h1 class="page-sub-title ext-padd">Radio Value</h1>
          <div class="radio_value">
            <div class="row">
              <div class="col-3">
                <label>Start Count<span class="mandatory-field">*</span></label>
              </div>
              <div class="col-3">
                <label>End Count<span class="mandatory-field">*</span></label>
              </div>
              <div class="col-3">
                <label>Value Per Radio <b>(R)</b><span class="mandatory-field">*</span></label>
              </div>
              <div class="col-1">

              </div>
            </div>
            <div>
              <div class="row mb-4">
                <div class="col-3">
                  <input type="text" value="" [validateInput]='isNumberOnly' name="startCount"
                    formControlName="startCount" class="fidelity-form-input form-control"
                    [ngClass]="{'sub-form-err' : isRadioSubmit && !this.subContractorInvoicingAddEditForm.value.startCount}"
                    placeholder="Enter Start Count" maxlength="25">
                  <span style="position: absolute; width: 100%;bottom: -2px!important; z-index: 10!important;">
                    <span class="duplicate"
                      *ngIf="isRadioSubmit && !this.subContractorInvoicingAddEditForm.value.startCount">
                      Start Count is required
                    </span>
                  </span>
                </div>
                <div class="col-3">
                  <input type="text" value="" [validateInput]='isNumberOnly' name="endCount" formControlName="endCount"
                    class="fidelity-form-input form-control"
                    [ngClass]="{'sub-form-err' : isRadioSubmit && !this.subContractorInvoicingAddEditForm.value.endCount}"
                    placeholder="Enter End Count" maxlength="25">
                  <span style="position: absolute; width: 100%;bottom: -2px!important; z-index: 10!important;">
                    <span class="duplicate"
                      *ngIf="isRadioSubmit && !this.subContractorInvoicingAddEditForm.value.endCount">
                      End Count is required
                    </span>
                  </span>
                </div>
                <div class="col-3">
                  <input type="text" value="" [validateInput]='isNumberOnly' name="value" formControlName="value"
                    class="fidelity-form-input form-control"
                    [ngClass]="{'sub-form-err' : isRadioSubmit && !this.subContractorInvoicingAddEditForm.value.value}"
                    placeholder="Enter Value Per Radio" maxlength="25">
                  <span style="position: absolute; width: 100%;bottom: -2px!important; z-index: 10!important;">
                    <span class="duplicate"
                      *ngIf="isRadioSubmit && !this.subContractorInvoicingAddEditForm.value.value">
                      Value Per Radio is required
                    </span>
                  </span>
                </div>
                <div class="col-1">
                  <div class="col-1">
                    <button type="button" (click)="addSubContractor('radio')" class="circle-plus-btn" matTooltip="Add"
                      style="top: 0px !important;">
                      <i aria-hidden="true" class="icon" data-icon="b"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div formArrayName="subContractorInvoicingAddEditCodeList">
              <!-- define formArray here-->
              <ng-container *ngFor="let control of subContractorInvoicingAddEditCodesFormArray?.controls; let i = index"
                [formGroupName]="i">
                <div class="row mb-4" *ngIf="control.get('isRadio').value">
                  <!--Add *ngFor here-->
                  <div class="col-3">
                    <input type="text" value="" name="Start Count" [validateInput]='isNumberOnly'
                      formControlName="startCount" class="fidelity-form-input form-control" placeholder="Enter Start Count" maxlength="25">
                  </div>
                  <div class="col-3">
                    <input type="text" value="" name="End Count" [validateInput]='isNumberOnly'
                      formControlName="endCount" class="fidelity-form-input form-control" placeholder="Enter End Count" maxlength="25">
                  </div>
                  <div class="col-3">
                    <input type="text" value=""  name="Value per Radio" [validateInput]='isNumberOnly' formControlName="value" maxlength="25"
                      class="fidelity-form-input form-control" placeholder="Enter Value per Radio">
                  </div>
                  <div class="col-1">
                    <button type="button" matTooltip="Edit" class="circle-edit-btn"
                      (click)="subContractorInvoicingEdit(i,'radio')">
                      <i aria-hidden="true" class="icon icon-edit"></i>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <h1 class="page-sub-title ext-padd">System Value</h1>
          <div class="system_value">
            <div class="row">
              <div class="col-3">
                <label>Start Count<span class="mandatory-field">*</span></label>
              </div>
              <div class="col-3">
                <label>End Count<span class="mandatory-field">*</span></label>
              </div>
              <div class="col-3">
                <label>Value Per System<b>(R)</b><span class="mandatory-field">*</span></label>
              </div>
              <div class="col-1">

              </div>
            </div>
            <div>
              <div class="row mb-4">
                <div class="col-3">
                  <input type="text" value="" [validateInput]='isNumberOnly' name="Start Count"
                    formControlName="sysStartCount" class="fidelity-form-input form-control"
                    [ngClass]="{'sub-form-err' : isSystemSubmit && !this.subContractorInvoicingAddEditForm.value.sysStartCount}"
                    placeholder="Enter Start Count" maxlength="25">
                  <span style="position: absolute; width: 100%;bottom: -2px!important; z-index: 10!important;">
                    <span class="duplicate"
                      *ngIf="isSystemSubmit && !this.subContractorInvoicingAddEditForm.value.sysStartCount">
                      Start Count is required
                    </span>
                  </span>
                </div>
                <div class="col-3">
                  <input type="text" value="" [validateInput]='isNumberOnly' name="End Count"
                    formControlName="sysEndCount" class="fidelity-form-input form-control" placeholder="Enter End Count" maxlength="25"
                    [ngClass]="{'sub-form-err' : isSystemSubmit && !this.subContractorInvoicingAddEditForm.value.sysEndCount}">
                  <span style="position: absolute; width: 100%;bottom: -2px!important; z-index: 10!important;">
                    <span class="duplicate"
                      *ngIf="isSystemSubmit && !this.subContractorInvoicingAddEditForm.value.sysEndCount">
                      End Count is required
                    </span>
                  </span>
                </div>
                <div class="col-3">
                  <input type="text" value="" [validateInput]='isNumberOnly' name="Value per System" formControlName="sysValue"
                    class="fidelity-form-input form-control" placeholder="Enter Value per System" maxlength="25"
                    [ngClass]="{'sub-form-err' : isSystemSubmit && !this.subContractorInvoicingAddEditForm.value.sysValue}">
                  <span style="position: absolute; width: 100%;bottom: -2px!important; z-index: 10!important;">
                    <span class="duplicate"
                      *ngIf="isSystemSubmit && !this.subContractorInvoicingAddEditForm.value.sysValue">
                      Value Per System is required
                    </span>
                  </span>
                </div>
                <div class="col-1">
                  <div class="col-1">
                    <button type="button" (click)="addSubContractor('system')" class="circle-plus-btn" matTooltip="Add"
                      style="top: 0px !important;">
                      <i aria-hidden="true" class="icon" data-icon="b"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div formArrayName="subContractorInvoicingAddEditCodeList">
              <!-- define formArray here-->
              <ng-container *ngFor="let control of subContractorInvoicingAddEditCodesFormArray?.controls; let i = index"
                [formGroupName]="i">
                <div class="row mb-4" *ngIf="control.get('isSystem').value">
                  <div class="col-3">
                    <input type="text" value="" name="Start Count" [validateInput]='isNumberOnly'
                      formControlName="sysStartCount" class="fidelity-form-input form-control" placeholder="Enter Start Count" maxlength="25">
                  </div>
                  <div class="col-3">
                    <input type="text" value="" name="End Count" [validateInput]='isNumberOnly'
                      formControlName="sysEndCount" class="fidelity-form-input form-control" placeholder="Enter End Count" maxlength="25">
                  </div>
                  <div class="col-3">
                    <input type="text" value="" name="Value per System" [validateInput]='isNumberOnly'
                      formControlName="sysValue" class="fidelity-form-input form-control" placeholder="Enter Value per System" maxlength="25">
                  </div>
                  <div class="col-1">
                    <button type="button" matTooltip="Edit" class="circle-edit-btn"
                      (click)="subContractorInvoicingEdit(i,'system')">
                      <i aria-hidden="true" class="icon icon-edit"></i>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="text-center mt-3">
            <button type="button" class="btn btn-md-fidelity fidelity-btn-brown" (click)="onSubmit()">Save </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
