<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body"
cdkDragHandle >
{{config?.data?.actiontype}} {{config?.header}}
<button mat-icon-button class="close-button p-absolute" type="button" (click)="dialogClose()">
  <mat-icon class="close-icon" color="#fff">close</mat-icon>
</button>
</div>
<app-popup-loader></app-popup-loader>

<button type="button" id="stock_edit"
class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3 editicons"
*ngIf="showEditIcon" matTooltip="Edit" (click)="onEditButtonClick()">
<i aria-hidden="true" class="icon icon-edit"></i></button>

<form class="fidelity-popup-form"  customForm [formGroup]="vehicleConfigAddEditForm" (ngSubmit)="onSubmit()">
    <p-scrollPanel [style]="{height: '40vh'}" styleClass="custom">
        <mat-dialog-content>
            <div class="form-group row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label" for="vehicleMakeName">Vehicle Make <span
                        class="mandatory-field">*</span></label>
                    <p-dropdown  [style]="{'width':'100%'}" [options]="makeList"
                    formControlName="vehicleMakeName" placeholder="Vehicle Make" filter="true"
                    editable="true" (onChange)="onElementChange($event,'vehicleMakeName')"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="col-form-label" for="vehicleModelName">Vehicle Model<span
                        class="mandatory-field">*</span></label>
                    <p-dropdown  [style]="{'width':'100%'}" [options]="modalList"
                    formControlName="vehicleModelName" placeholder="Vehicle Model" filter="true"
                    editable="true" (onChange)="onElementChange($event,'vehicleModelName')"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="col-form-label" for="vehicleShapeName">Vehicle Shape<span
                        class="mandatory-field">*</span></label>
                        <p-dropdown  [style]="{'width':'100%'}" [options]="shapeList"
                        formControlName="vehicleShapeName" placeholder="Vehicle Shape" filter="true"
                        editable="true" (onChange)="onElementChange($event,'vehicleShapeName')"></p-dropdown>
                </div>
                </div>
            <div class="form-group row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label" for="vehicleColorName">Vehicle Color<span
                        class="mandatory-field">*</span></label>
                    <p-multiSelect [defaultLabel]="'Vehicle Color'"
                    autoWidth="false" [style]="{'width':'100%'}" [options]="colorList"
                    formControlName="vehicleColorName" name="Vehicle Color">
                </p-multiSelect>
                </div>
                <div class="col-4 mt-2">
                        <label class="d-block">Status<span class="mandatory-field">*</span></label>
                        <label class="switch add-stack-status">
                            <input type="checkbox" formControlName="isActive">
                            <span class="slider round active"></span>
                        </label>
                </div>
            </div>

        </mat-dialog-content>
    </p-scrollPanel>

        <mat-dialog-actions align="end">
            <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit" *ngIf="!showEditIcon">Save</button>
            <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" (click)="dialogClose()">Cancel</button>
        </mat-dialog-actions>
</form>

