<div class="page-heading">
    <h1 class="page-title d-inline-block"> Transfer Request </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a><i class="fa fa-home" aria-hidden="true"></i> </a>
      </li>
      <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']">Inventory Management</a> </li>
      <li class="breadcrumb-item"><a (click)="navigateToList()">Receiving List</a></li>
      <li class="breadcrumb-item" *ngIf="transferRequestId">
        <a (click)="navigateToViewPage()"> Transfer Request View</a>
      </li>
      <li class="breadcrumb-item"> Transfer Request </li>
    </ol>
</div>
    
<div class="page-content fade-in-up ">
    <div class="ibox white-bg">
        <div style="height: 65vh; overflow-x: auto;" class="custom-scroll1 container-fluid">
            <form customForm [formGroup]="receiptingTransferAddEditForm">
                <div class="ibox-body brown-border mt-3">
                    <div class="row mb-2 sm-inputs">                
                        <div class="col-4">
                            <label> Transfer Request Number <span class="mandatory-field">*</span> </label>
                            <div class="col-12" style="padding-left: 0;font-size: 13px;">
                                <p-autoComplete [style]="{'width':'100%'}" formControlName="requestNumber"
                                [suggestions]="filteredPONumbers" field="displayName" dataKey="id"
                                (completeMethod)="inputChangePoNumberFilter($event)" 
                                (onSelect)="getReceiptingNewOrderItems($event, 'poNumber')" >
                                </p-autoComplete>   
                                <span class="text-danger" *ngIf="showPONumberError">
                                PO Number records is empty
                                </span>             
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group p-relative picking-serial">
                                <label> Transfer Barcode <span class="mandatory-field">*</span> </label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input tabindex="-1" class="form-control fidelity-form-input" autofocus maxlength="50"
                                        placeholder="Scan/Enter" formControlName="transferBarcode">
                                    <div class="input-group-append">
                                        <button class="text-white" type="submit" (click)="getReceiptingNewOrderItems(null, 'poBarcode')">
                                            <i aria-hidden="true" class="icon icon-scan"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="showItemCodeError"> PO Barcode is required </span>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="showReceptingItems">
                            <div class="form-group">
                            <label> Issuing Warehouse </label>
                            <input class="form-control fidelity-form-input" type="text"
                                formControlName="issuingWarehouse" readonly/>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="showReceptingItems">
                            <div class="form-group">
                            <label> Issuing Location </label>
                            <input class="form-control fidelity-form-input" type="text"
                                formControlName="issuingLocation" readonly/>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="showReceptingItems">
                            <div class="form-group">
                            <label> Receiving Warehouse </label>
                            <input class="form-control fidelity-form-input" type="text"
                                formControlName="receivingWarehouse" readonly/>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="showReceptingItems">
                            <div class="form-group">
                            <label> Receiving Location </label>
                            <input class="form-control fidelity-form-input" type="text"
                                formControlName="receivingLocation" readonly/>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="showReceptingItems">
                            <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" formControlName="isDirectCollection">
                            </mat-checkbox> Direct Collection 
                        </div>
                        <div class="col-4" *ngIf="showReceptingItems">
                            <div class="form-group">
                            <label> Courier Name </label>
                            <input class="form-control fidelity-form-input" type="text"
                                formControlName="courierName" readonly/>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="showReceptingItems">
                            <div class="form-group">
                            <label> Actioned By </label>
                            <input class="form-control fidelity-form-input" type="text"
                                formControlName="actionedByName" readonly/>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="showReceptingItems">
                            <div class="form-group">
                            <label> Actioned Date </label>
                            <input class="form-control fidelity-form-input" type="text"
                                formControlName="actionedDate" readonly/>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showReceptingItems">
                        <div class="row row-header mb-2" style="font-size: 1rem;">
                            <div class="col-2" style="margin-left: 15px;"> Stock Code </div>
                            <div class="col-3"> Stock Description </div>
                            <div class="col-1"> Qty </div>
                            <div class="col-1"> Received Qty </div>
                            <div class="col-2"> Outstanding Qty </div>
                            <div class="col-2"> Not Serialized/Barcode </div>
                        </div>
                        <div class="row sm-inputs child-row mb-2" *ngFor="let data of receptingItemsDetails; let i = index">
                            <div class="col-2">
                                <div class="form-group" style="display: flex;" >
                                    <input  class="form-control fidelity-form-input model-color" type="text" (click)="stockDetail(data, i)"
                                    [value]=data?.itemCode readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <input-custom-control [extraClassNames]="'disabled'" value={{data?.itemName}}></input-custom-control>
                            </div>
                            <div class="col-1">
                                <input-custom-control [extraClassNames]="'disabled'" value={{data?.qty}}></input-custom-control>
                            </div>
                            <div class="col-1">
                                <input-custom-control [extraClassNames]="'disabled'" value={{data?.receivedQuantity}}></input-custom-control>
                            </div>
                            <div class="col-2">
                                <input-custom-control [extraClassNames]="'disabled'" value={{data?.outStandingQuantity}}></input-custom-control>                  
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" 
                                [checked]="data?.isNotSerialized" disabled></mat-checkbox>
                              </div>
                        </div>
                        <div class="col-12">
                            <div class="no-records-found" *ngIf="receptingItemsDetails?.length === 0">
                                <h4>No Records Found</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="saveAsDraft()" 
                        [disabled]="receiptingGetDetails?.isVerified == true || receiptingGetDetails?.orderReceiptBatchId == null">
                        Save as Draft
                    </button>
                    <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2" id="item_verify_btn" cdkFocusInitial 
                        (click)="navigateToVerifyPage()" [disabled]="receiptingGetDetails?.isVerified == true || receiptingGetDetails?.orderReceiptBatchId == null" >
                        Verify
                    </button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="delete()"
                        [disabled]="receiptingGetDetails?.isVerified == true || receiptingGetDetails?.orderReceiptBatchId == null">
                        Delete
                    </button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="stockDetailListDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
  <p-header> Serial Info </p-header>
    <form class="fidelity-popup-form" customForm [formGroup]="goodsReturnStockInfoForm">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Stock Code </label>
                        </div>
                    </div>
                    <div class="col-8">
                        <b>{{stockDetails?.itemCode ? stockDetails?.itemCode : '-'}}</b>
                    </div>
                </div>
            </div>            
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Stock Description </label>
                        </div>
                    </div>
                    <div class="col-8">
                        <b>{{stockDetails?.itemName ? stockDetails?.itemName : '-'}} </b>
                    </div>
                </div>
            </div>
            <div *ngIf="stockDetails?.isNotSerialized">
                <div class="col-12">
                    <div class="form-group">
                        <label> Received Quantity </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control fidelity-form-input" type="text" formControlName="notReceivedQty" 
                        (keyup)="onChangeFaultyQty()"/>
                    </div> 
                    <label> Total: {{scannedBarcodesCount}}/{{getallBarcodesCount}} </label>
                </div>
            </div>
            <div *ngIf="!stockDetails?.isNotSerialized">
                <div class="col-12">
                    <div class="form-group">
                        <label> Serial Number/Barcode </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group p-relative picking-serial">
                        <div class="input-group fidelity-input-addon mb-3">
                            <input tabindex="-1" class="form-control fidelity-form-input" autofocus maxlength="50"
                                placeholder="Scan/Enter" formControlName="scanSerialNumberInput">
                            <div class="input-group-append">
                                <button class="text-white" type="submit" (click)="scanSerialNumber()">
                                    <i aria-hidden="true" class="icon icon-scan"></i>
                                </button>
                            </div>
                        </div>
                        <span class="text-danger" *ngIf="showBarcodeError"> Barcode is required </span>
                    </div>
                </div>
                <div class="col-12"> 
                    Total: {{scannedBarcodesCount}}/{{getallBarcodesCount}} 
                    <a class="p-absolute delete-row delete-row-heading" 
                        (click)="removeScanedBarcode(null, 'all')" style="right: -40px !important;top: -4px !important;">
                        <i aria-hidden="true" class="icon icon-delete"></i>
                    </a> 
                    <button class="p-absolute print-btn circle-plus-btn" 
                        (click)="print()" matTooltip="Print" style="right: -70px !important;top: -4px !important;">
                        <i class="icon icon-print"></i>
                    </button>
                </div>
                <div class="col-12">
                    <div class="custom-scroll1" style="overflow-x: auto;height: 25vh"styleClass="custom">
                        <div class="" formArrayName="receiptingNewItemsarray"
                        *ngFor="let groupObj of goodsReturnStockInfoForm?.get('receiptingNewItemsarray')?.controls;let i=index">
                            <div class="row" [formGroupName]="i" *ngIf="!groupObj?.get('isDeleted')?.value">
                                <div class="col-2">
                                    <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" formControlName="serialNumberChecked">
                                    </mat-checkbox>
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <input type="text" class="fidelity-form-input form-control" formControlName="serialNumber"
                                        matTooltip="{{items?.serialNumber}}" readonly>
                                    </div>
                                </div>
                                <div class="col-2" style="left: 10px;">
                                    <a class="p-absolute delete-row" 
                                        (click)="removeScanedBarcode(i, 'new')"> <i aria-hidden="true" class="icon icon-delete"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">       
                <div class="text-center">
                    <button type="button" (click)="saveSerialInfo()" 
                        class="btn btn-md-fidelity fidelity-btn-brown"> Submit 
                    </button>
                    <button type="button" (click)="stockDetailListDialog = false"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default"> Cancel 
                    </button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<p-dialog [maximizable]="true" [(visible)]="deleteConfirm" (onHide)="onClose()" [responsive]="true" showEffect="fade"
[resizable]="false" [modal]="true" [style]="{width: '400px'}">
    <p-header>
        Confirmation
    </p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p> Are you sure you want to delete this Receiving Batch? </p>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="ui-g ui-fluid" style="margin-bottom: 5px;text-align: center;">
                <div class="ui-g-6">
                    <button type="button" pButton class="btn fidelity-btn-brown btn-brown" (click)="deleteReceptingOrder()"
                    label="Ok"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton class="btn btn-default" (click)="deleteConfirm=false"
                    label="Cancel"></button>
                </div>
            </div>
        </div>
    </p-footer>
</p-dialog>
    
    
    