@import "../../../../../../../variables.scss";


::ng-deep .date-fields {
  mat-form-field.mat-form-field.Date-field .mat-form-field-suffix {
    top: -13px !important;
    right: 42px !important;
  }
}

::ng-deep .division-field {
  .mat-form-field-infix .mat-select {
    padding: 8.2px 8px!important;
  }
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
}
.input-group-btn {
  cursor: pointer;
}

.ibox .delete-row {
  width: 30px !important;
  height: 30px !important;
  font-size: 0.9rem;
  color: #cccccc !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ibox .delete-row:hover {
  background-color: #ed4a4a;
  border-radius: 50% !important;
  color: #ffffff;
}

.form-group {
  width: 80%;
}



.ibox {
  height: calc(100vh - 35vh) !important;
  .d-flex {
    margin: 10px 0;
  }

  .item-view-key {
    width: 40%;
    color: $fidelity-grey1;
    font-size: 1.2rem;
    word-break: break-all;
    display: inline-block;
  }
  .item-view-value {
    color: #000;
    font-size: 1.2rem;
    width: 60%;
    display: inline-block;
    word-break: break-all;
  }
}

.no-data-container {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

::ng-deep .page-heading .fidelity-btn-circle + .fidelity-btn-circle {
  top: 0px;
}

.ibox .no-services-msg-con {
  height: 100px;
  width: 98%;
  background-color: #dddddd3b;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #80807f99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Calibri_Bold", sans-serif !important;
}


.ibox {
  ::ng-deep mat-select-autocomplete .mat-form-field {
    border: none !important;
  }

  ::ng-deep .mat-form-field-hint-wrapper {
    margin-top: 20px;
  }
}

::ng-deep .page-heading .breadcrumb li:nth-child(2) > a {
  color: #868e96 !important;
  cursor: text;
}


.rowStyle {
  bottom: -10px;
}




::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 8px 5px !important;
}

.border-class {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-left: unset;
}

.file-input-container {
  width: 100%;
  height: 40px;
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
}


.row-number-col {
  width: 4.499999995%;
  flex: 0 0 4.499%;
  max-width: 4.499%;
}


ng-component.ng-star-inserted {
  white-space: nowrap !important;
}

span.help.is-danger {
  white-space: nowrap !important;
}

mat-select-autocomplete.input-width-medium > .mat-form-field {
  min-width: 100% !important;
  width: 100% !important;
}

.error-notification{
  color: #dc3545;
    font-size: 0.8em;
}

.fidelity-address-con {
  padding: 2px!important;
}

::ng-deep mat-form-field.mat-form-field.Date-field {
  border: none!important;
  

  .mat-form-field-infix input {
    padding: 11px 5px!important;
    border-radius: 7px!important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
  }

  .mat-form-field-infix input.is-invalid {
    border:  1px solid $status-label-red!important;
  }
}
