<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)">
</app-page-header>
<div class="page-content fade-in-up ">
    <div class="ibox" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body brown-border white-bg">
                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <app-view-page [col]="2" [viewDetail]="debtorConfigDetail"></app-view-page>
                        <div class="row mb-3">
                        <div class="col-lg-6 ">
                          <div class="d-flex ml-3" >
                            <span id="" class="key">Billing Address :&nbsp;</span>
                            <span id="" class="value">
                              <span class="d-inline-block"><b>{{debtorSelectedDetail?.siteAddress  ?
                                debtorSelectedDetail?.siteAddress  :
                                  '-'}}</b></span>
                            </span>
                          </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="d-flex">
                            <span id="" class="">
                              <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown" type="button" (click)="viewAll()">View All Transactions </button>
                            </span>
                          </div>
                        </div>
                        </div>
                        <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"  [isShowNoRecord]="isShowNoRecords"
                            class="dealer-commission-config-table" [loading]="loading" [dataList]="dataList" [status]="status"
                            [pageLimit]="pageLimit" [first]="first" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
                            (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
                        </app-page-list-table>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>
