<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
  (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
  <div class="ibox white-bg" style="height: unset !important;">
    <div class="ibox-body brown-border view-box" style="height: 23vh;">
      <app-view-page [col]="2" [viewDetail]="viewData"></app-view-page>
    </div>
  </div>
  <div class="text-center mt-3">
    <button id="cancel_new_leads_btn" type="button" (click)="navigate()"
      class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Back</button>
  </div>
</div>
