<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
  cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
  {{config.header}}
  <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
    <mat-icon class="close-icon" color="#fff">close</mat-icon>
  </button>
</div>
<div class="fdt-dialog-body">
  <app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [loading]="loading"
    [dataList]="dataList" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
    (onActionSubmited)="onActionSubmited($event)"></app-page-list-table>
</div>
