<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Update Variance Escalation </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a> Inventory Management </a>
        </li>
        <li class="breadcrumb-item">
            <a> Variance Escalation </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Variance Escalation List </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToViewPage()"> Variance Escalation View </a>
        </li>
        <li class="breadcrumb-item">
            Update Variance Escalation
        </li>
    </ol>
    <div class="clearfix"></div>
</div>

<div class="page-content fade-in-up">
    <div class="ibox view-box white-bg-customise" >
        <div class="custom-scroll1" >
            <form class="fidelity-popup-form" customForm [formGroup]="varianceEscalationUpdateForm">
                <div class="ibox-body">
                    <div class="row mt-1" *ngIf="varianceDetailsData?.varianceType=='Short Picked'">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key"> Scan/Enter Serial Number </span>
                                <span id="" class="">
                                    <div class="form-group p-relative picking-serial">
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input class="form-control fidelity-form-input" autofocus maxlength="50"
                                                placeholder="Scan/Enter" formControlName="scanSerialNumberInput">
                                            <div class="input-group-append">
                                                <button type="button" class="text-white" (click)="checkScanItem()">
                                                    <i aria-hidden="true" class="icon icon-scan"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="text-danger" *ngIf="showDuplicateError">
                                            {{duplicateError}}
                                        </span>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Variance Escalation Number</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.varianceEscalationNumber ? varianceDetailsData?.varianceEscalationNumber : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Reference Variance Escalation No</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.referenceVarianceEscalationNumber ? varianceDetailsData?.referenceVarianceEscalationNumber : '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Variance Type</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.varianceType ? varianceDetailsData?.varianceType : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Location Serial Linked To</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.location ? varianceDetailsData?.location : '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stock Order Type</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.stockOrderType ? varianceDetailsData?.stockOrderType : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stock Order Number Associated With Serial</span>
                                <span id="" class="value">
                                    <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.stockOrderNumberAssociatedWithSerial">
                                    <i *ngIf="referenceNumber" class="p-absolute icon icon-flag icon-flag-cus" ></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stock Order Number</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.stockOrderNumber ? varianceDetailsData?.stockOrderNumber : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Picking Batch Barcode Associated with Serial</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.pickingBatchBarcodeAssociatedWithSerial ? varianceDetailsData?.pickingBatchBarcodeAssociatedWithSerial : '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Picking Batch Barcode</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.pickingBatchBarcode ? varianceDetailsData?.pickingBatchBarcode : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Status</span>
                                <span id="" class="value">
                                    <span class="status-label" [ngClass]="varianceDetailsData?.varianceInvestigationStatusName != null ? varianceDetailsData?.cssClass : '' ">
                                        {{varianceDetailsData?.varianceInvestigationStatusName ? varianceDetailsData?.varianceInvestigationStatusName : '-'}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Created By</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.createdBy ? varianceDetailsData?.createdBy : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6" *ngIf="varianceDetailsData?.cycleCountNumber != ''">
                            <div class="d-flex">
                                <span id="" class="key"> IM Investigate </span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.invManager ? varianceDetailsData?.invManager : '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key"> Created Date & Time</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.createdDate ? (varianceDetailsData?.createdDate | date) : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6" *ngIf="varianceDetailsData?.cycleCountNumber != ''">
                            <div class="d-flex">
                                <span id="" class="key"> Stock Write Up Number </span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.stockWriteUpNumber ? varianceDetailsData?.stockWriteUpNumber : '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Issuing Warehouse</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.issuingWarehouse ? varianceDetailsData?.issuingWarehouse : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6" *ngIf="varianceDetailsData?.cycleCountNumber != ''">
                            <div class="d-flex">
                                <span id="" class="key"> Cycle Count ID </span>
                                <span id="" class="value">
                                    <span *ngIf="varianceDetailsData?.urlCyclecount" class="d-inline-block bluecolor" >
                                       <a target="_blank"  [href]="varianceDetailsData?.urlCyclecount">{{varianceDetailsData?.cycleCountNumber ? varianceDetailsData?.cycleCountNumber : '-'}}</a> 
                                    </span>
                                    <span *ngIf="!varianceDetailsData?.urlCyclecount" class="d-inline-block" >
                                             {{varianceDetailsData?.cycleCountNumber ? varianceDetailsData?.cycleCountNumber : '-'}}
                                     </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key"> Goods Return Number </span>
                                <span id="" class="value">
                                    <span *ngIf="varianceDetailsData?.urlGRV" class="d-inline-block bluecolor" >
                                       <a target="_blank"  [href]="varianceDetailsData?.urlGRV">{{varianceDetailsData?.goodsReturnNumber ? varianceDetailsData?.goodsReturnNumber : '-'}}</a> 
                                    </span>
                                    <span *ngIf="!varianceDetailsData?.urlGRV" class="d-inline-block" >
                                             {{varianceDetailsData?.goodsReturnNumber ? varianceDetailsData?.goodsReturnNumber : '-'}}
                                     </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">QR Code</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{varianceDetailsData?.qrCode ? varianceDetailsData?.qrCode : '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="container-fluid">
                            <div class="header-row row">
                                <div class="col-2">Stock Code</div>
                                <div class="col-2">Stock Description</div>
                                <div class="col-2">Serial Number</div>
                                <div class="col-2">Variance Quantity</div>
                                <div class="col-2">Dispute Transfer Number</div>
                                <div class="col-2">Reason <span class="mandatory-field">*</span></div>
                            </div>
                        </div>
                        <br>
                        <div class="container-fluid mt-3">
                            <div class="children-row row mb-2">
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.stockCode">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.stockName">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.serialNumber">
                                </div>
                                <div class="col-2 p-relative">
                                    <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.quantity">
                                    <!-- <i *ngIf="varianceDetailsData?.quantity >= 10" class="p-absolute icon icon-flag" style="right: 25px; top: 7px; color: #f35665;"></i> -->
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.disputeTransferNumber">
                                </div>
                                <div class="col-2">
                                    <select name="reason" [attr.disabled]="isCycleEnable?false:null" class="form-control fidelity-form-input" formControlName="varianceReasonId">
                                        <option value="" selected disabled>Select</option>
                                        <option [value]="item.id" *ngFor="let item of reasonDropDown; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5" >
                        <!-- *ngIf="varianceType == 'Excessive' && !isCycleEnable" -->
                        <div class="col-12 page-sub-title"> COMMENTS <span *ngIf="isCommentReq" class="mandatory-field">*</span> </div>
                        <div class="col-6 mt-1">
                            <div class="form-group mb-0 comment" >
                                <textarea rows="2" class="fidelity-form-input form-control"
                                    formControlName="comments"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- this.varianceDetailsData.cycleCountNumber != null -->
                <div class="ibox-body mt-3" *ngIf="varianceDetailsData?.cycleCountNumber != null && varianceType == 'Short Picked'">
                    <div class="col-12 page-sub-title"> SUPPORTING DOCUMENTS </div>
                    <div class="row mt-1">
                        <div class="col-4">
                            <div class="form-group">
                                <label> Faulty Party </label>
                                <select name="Faulty Party" class="form-control fidelity-form-input" formControlName="faultyPartyId">
                                    <option value="" selected disabled>Select</option>
                                    <option [value]="item.id" *ngFor="let item of faultyPartyDropDown; let i=index">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="technicianShow">
                            <div class="form-group p-relative stock-code-con">
                                <label> Assign </label>
                                <select name="assign" class="form-control fidelity-form-input"
                                    (change)= "selectTechnician()" formControlName="assignCode">
                                    <option value="" selected disabled>Select</option>
                                    <option [value]="item.id" *ngFor="let item of technicianDropDown; let i=index">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group p-relative">
                                <label>Attachments</label>
                                <div class="input-group fidelity-file-upload upload-cus">
                                    <input type="text" name="filename" class="input-box form-control filename-cus" readonly >
                                    <span class="input-group-btn">
                                        <div class="btn custom-file-uploader" >
                                            <input type="file" name="file"  [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                                            (change)="uploadFiles($event)" multiple/>
                                            Browse
                                        </div>
                                    </span>
                                </div>
                                <div *ngFor="let selected of documentsDetails; let i = index">
                                    <div class="p-relative d-inline" >
                                        <a class="doc-name mr-2 pt-0">{{selected.docName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-4">
                            <div class="form-group mb-0 comment" >
                                <label> Comments <span class="mandatory-field">*</span> </label>
                                <textarea rows="2" class="fidelity-form-input form-control"
                                    formControlName="tamComment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-center mt-3" >
                        <button type="submit" *ngIf="varianceDetailsData?.isStockWriteup"
                         class="fidelity-btn-brown btn btn-md-fidelity btn-default mr-3" (click)="onSubmit('Stock Write Up')"> Stock Write Up
                       </button>
                       <button type="submit" *ngIf="varianceDetailsData?.isCyclecount"
                        class="fidelity-btn-brown btn btn-md-fidelity btn-default mr-3" (click)="onSubmit('Cycle Count')"> Complete Cycle Count
                       </button>
                       <button type="submit"  *ngIf="varianceDetailsData?.isGRV"
                       class="fidelity-btn-brown btn btn-md-fidelity btn-default btn-default mr-3" (click)="onSubmit('GRV')">Complete GRV
                       </button>
                       <button type="submit" *ngIf="varianceDetailsData?.isResolve"
                       class="fidelity-btn-brown btn btn-md-fidelity btn-default btn-default mr-3" (click)="onSubmit('Resolve')"> Resolve
                       </button>
                       <!-- *ngIf="activeButtonClass == 'Save'" -->
                      <div class="text-center mt-3">
                           <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-3" (click)="onSubmit('Save')"> Save </button>
                           <button type="button" class="btn btn-md-fidelity fidelity-btn-brown mr-3" *ngIf="roleName == 'Technical Area Manager'" (click)="onSubmit('Update')"> Update </button>
                           <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button>
                       </div>
                    </div>
                </div>
                <!-- <div *ngIf="activeButtonClass != 'Save'">
                    <div class="text-center mt-3" *ngIf="varianceType == 'Excessive'">
                        <button type="submit"
                            [ngClass]="{'fidelity-btn-brown': activeButtonClass == 'Stock Write Up',
                            'disabled' : activeButtonClass != 'Stock Write Up'}"
                            class="btn btn-md-fidelity btn-default mr-3" (click)="onSubmit('Stock Write Up')"> Stock Write Up
                        </button>
                        <button type="submit"
                            [ngClass]="{'fidelity-btn-brown': activeButtonClass == 'Cycle Count',
                            'disabled' : activeButtonClass != 'Cycle Count'}"
                            class="btn btn-md-fidelity btn-default mr-3" (click)="onSubmit('Cycle Count')"> Complete Cycle Count
                        </button>
                        <button type="submit"
                            [ngClass]="{'fidelity-btn-brown': activeButtonClass == 'Resolve',
                            'disabled' : activeButtonClass != 'Resolve'}"
                            class="btn btn-md-fidelity btn-default btn-default mr-3" (click)="onSubmit('Resolve')"> Resolve
                        </button>
                    </div>

                    <div class="text-center mt-3" *ngIf="varianceType == 'Short Picked'">
                        <button type="submit"
                            [ngClass]="{'fidelity-btn-brown': activeButtonClass == 'Cycle Count',
                            'disabled' : activeButtonClass != 'Cycle Count'}"
                            class="btn btn-md-fidelity btn-default mr-3" (click)="onSubmit('Cycle Count')"> Complete Cycle Count
                        </button>
                        <button type="submit"
                            [ngClass]="{'fidelity-btn-brown': activeButtonClass == 'Resolve',
                            'disabled' : activeButtonClass != 'Resolve'}"
                            class="btn btn-md-fidelity btn-default btn-default mr-3" (click)="onSubmit('Resolve')"> Resolve
                        </button>
                    </div>
                </div>

                <div class="text-center mt-3" *ngIf="activeButtonClass == 'Save'">
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-brown mr-3" (click)="onSubmit('Save')"> Save </button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-brown mr-3" *ngIf="roleName == 'Technical Area Manager'" (click)="onSubmit('Update')"> Update </button>
                    <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()"> Cancel </button>
                </div> -->
            </form>
        </div>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" appendTo="body" [maximizable]="true" [(visible)]="isConfirmSubmit"
[responsive]="true" [resizable]="false" [autoZIndex]="true" [modal]="true" [closable]="false"
[style]="{width: '550px'}">
<p-header>Confirmation</p-header>
   <div class="row mt-4">
        <div class="col align-items-center justify-content-center flex-column text-center">
            <p class="mid-container">Are you sure you want to {{this.confirmContent}} ?</p>
        </div>
    </div>
    <div class="text-center mt-2">
        <button class="btn btn-md-fidelity fidelity-btn-brown" type="button" (click)="finalSubmit(confirmContent)">Ok</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="finalCancel()">Cancel</button>
    </div>
</p-dialog>