<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Variance Escalation</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a> Inventory Management </a>
        </li>
        <li class="breadcrumb-item">
            <a> Variance Escalation </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Variance Escalation List </a>
        </li>
        <li class="breadcrumb-item">
            View Variance Escalation
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2" *ngIf="varianceDetailsData?.isEditable && varianceDetailsData?.varianceInvestigationStatusName != 'Closed'">
        <a  class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEditPage()">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a> 
    </div>
    <div class="grid-icons-con  customer-info-btns float-right mt-2" 
        *ngIf="varianceType == 'Short Picked' && varianceDetailsData?.stockOrderNumberAssociatedWithSerial && varianceDetailsData?.referenceVarianceEscalationNumber">
        <a  class="fidelity-btn-circle fidelity-white-btn" (click)="pickingJobPopupOpen()">
            <i aria-hidden="true" class="fa fa-thumbs-up" matTooltip="Picking Job"></i>
        </a> 
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box white-bg-customise" >
        <div class="custom-scroll1" >
            <div class="ibox-body">
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Variance Escalation Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.varianceEscalationNumber ? varianceDetailsData?.varianceEscalationNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Reference Variance Escalation No</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.referenceVarianceEscalationNumber ? varianceDetailsData?.referenceVarianceEscalationNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Variance Type</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.varianceType ? varianceDetailsData?.varianceType : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Location Serial Linked To</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.location ? varianceDetailsData?.location : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Stock Order Type</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.stockOrderType ? varianceDetailsData?.stockOrderType : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Stock Order Number Associated With Serial</span>
                            <span id="" class="value">
                                <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.stockOrderNumberAssociatedWithSerial">
                                <i *ngIf="varianceDetailsData?.referenceVarianceEscalationNumber" class="p-absolute icon icon-flag icon-flag-cus" ></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Stock Order Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.stockOrderNumber ? varianceDetailsData?.stockOrderNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Picking Batch Barcode Associated with Serial</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.pickingBatchBarcodeAssociatedWithSerial ? varianceDetailsData?.pickingBatchBarcodeAssociatedWithSerial : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Picking Batch Barcode</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.pickingBatchBarcode ? varianceDetailsData?.pickingBatchBarcode : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Status</span>
                            <span id="" class="value">
                                <span class="status-label" [ngClass]="varianceDetailsData?.varianceInvestigationStatusName != null ? varianceDetailsData?.cssClass : '' ">
                                    {{varianceDetailsData?.varianceInvestigationStatusName ? varianceDetailsData?.varianceInvestigationStatusName : '-'}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Created By</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.createdBy ? varianceDetailsData?.createdBy : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> IM Investigate </span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.invManager ? varianceDetailsData?.invManager : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Created Date & Time</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.createdDate ? (varianceDetailsData?.createdDate | date) : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Stock Writeup Number </span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.stockWriteUpNumber ? varianceDetailsData?.stockWriteUpNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Issuing Warehouse</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.issuingWarehouse ? varianceDetailsData?.issuingWarehouse : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Cycle Count ID </span>
                            <span id="" class="value">
                                <span *ngIf="varianceDetailsData?.urlCyclecount" class="d-inline-block bluecolor" >
                                   <a target="_blank"  [href]="varianceDetailsData?.urlCyclecount">{{varianceDetailsData?.cycleCountNumber ? varianceDetailsData?.cycleCountNumber : '-'}}</a> 
                                </span>
                                <span *ngIf="!varianceDetailsData?.urlCyclecount" class="d-inline-block" >
                                         {{varianceDetailsData?.cycleCountNumber ? varianceDetailsData?.cycleCountNumber : '-'}}
                                 </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">QR Code</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.qrCode ? varianceDetailsData?.qrCode : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key"> Goods Return Number </span>
                            <span id="" class="value">
                                <span *ngIf="varianceDetailsData?.urlGRV" class="d-inline-block bluecolor" >
                                   <a target="_blank"  [href]="varianceDetailsData?.urlGRV">{{varianceDetailsData?.goodsReturnNumber ? varianceDetailsData?.goodsReturnNumber : '-'}}</a> 
                                </span>
                                <span *ngIf="!varianceDetailsData?.urlGRV" class="d-inline-block" >
                                         {{varianceDetailsData?.goodsReturnNumber ? varianceDetailsData?.goodsReturnNumber : '-'}}
                                 </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="container-fluid">
                        <div class="header-row row">
                            <div class="col-2">Stock Code</div>
                            <div class="col-2">Stock Description</div>
                            <div class="col-2">Serial Number</div>
                            <div class="col-2">Variance Quantity</div>
                            <div class="col-2">Dispute Transfer Number</div>
                            <div class="col-2">Reason</div>
                        </div>
                    </div>
                    <br>
                    <div class="container-fluid mt-3">
                        <div class="children-row row mb-2">
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.stockCode">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.stockName">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.serialNumber">
                            </div>                                    
                            <div class="col-2 p-relative">
                                <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.quantity">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.disputeTransferNumber">
                            </div> 
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled" [value]="varianceDetailsData?.reason">
                            </div> 
                        </div>
                    </div>
                </div>               
            </div>
            <div class="ibox-body mt-3"  *ngIf="varianceType == 'Excessive'">
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Comments</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.comments ? varianceDetailsData?.comments : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="ibox-body mt-3" *ngIf="varianceType == 'Short Picked'">
                <div class="row mt-1">                    
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Faulty Party</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.faultyPartyName ? varianceDetailsData?.faultyPartyName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Attachments</span>
                            <span id="" class="value">
                                <span class="d-inline-block bluecolor" 
                                *ngFor="let selected of varianceDetailsData?.documentRepositories; let i = index">
                                    {{selected.docName}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">                    
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Comments</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{varianceDetailsData?.comments ? varianceDetailsData?.comments : '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
