.form-group {
    width: 80%;
}
::ng-deep .add-stack-status {
    .slider.round:after {
        content: "Disable";
    }
    
    input:checked + .slider:after {
        content: "Enable";
    }
}

::ng-deep .slider.round.req_ack:after {
    content: "No";
    font-size: 0.9rem!important;
    right: 25px !important;
        top: 4px !important;
}

::ng-deep input:checked + .slider.req_ack:after {
    content: "Yes";
    right: 18px !important;
}