<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="decoderAccountConfigForm" (ngSubmit)="onSubmit()" id="decoderAccountConfigForm">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border sm-inputs">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Decoder<span class="mandatory-field">*
                                    </span></label>
                                <select id="divsion" class="form-control fidelity-form-input" name="Division"
                                    placeholder="Select Division" formControlName="decoderId">
                                    <option value="" disabled>Select Decoder</option>
                                    <option *ngFor="let division of decoderList" [value]="division.id">
                                        {{division.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="col-4">
                            <div class="form-group">
                                <label>SetName<span class="mandatory-field">*
                                    </span></label>
                                <p-multiSelect appendTo="body" [defaultLabel]="'Select SetName'" dataKey="id"
                                    optionLabel="displayName" optionValue="id" autoWidth="false"
                                    [style]="{'width':'100%','height': '35px !important'}" [options]="setNameList"
                                    formControlName="setNamesList">
                                </p-multiSelect>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Comms Type<span class="mandatory-field">*
                                    </span></label>
                                <p-dropdown appendTo="body" dataKey="id" [options]="commsTypeList" filter="true"
                                    optionLabel="displayName" formControlName="commsTypeName" editable="true"
                                    placeholder="Select/Add Comms Type"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">BOM Mandatory</label>
                                <div class="form-group">
                                    <mat-radio-group formControlName="isBOMMandatory">
                                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                                        </mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Account Code Generation<span class="mandatory-field">*</span></label>
                            <div class="form-group">
                                <mat-radio-group formControlName="isManualAccountCodeGeneration">
                                    <mat-radio-button class="fidelity-radio-btn mr-3" [value]="false">Automated
                                    </mat-radio-button>
                                    <mat-radio-button class="fidelity-radio-btn" [value]="true">Manual
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="!decoderAccountConfigForm.get('isManualAccountCodeGeneration').value">
                            <div class="form-group">
                                <label>Length<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text" formControlName="length"
                                    [validateInput]='isANumberOnly' min="1" max="50" placeholder="Enter Length">
                            </div>
                        </div>
                        <div class="col-4" *ngIf="!decoderAccountConfigForm.get('isManualAccountCodeGeneration').value">
                            <div class="form-group">
                                <label class="d-block">Hexadecimal</label>

                                <div class="form-group">
                                    <mat-radio-group formControlName="isHexadecimal">
                                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                                        </mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="!decoderAccountConfigForm.get('isManualAccountCodeGeneration').value">
                            <div class="form-group">
                                <label class="d-block">Partition Considered</label>

                                <div class="form-group">
                                    <mat-radio-group formControlName="isPartitionConsidered">
                                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                                        </mat-radio-button>
                                        <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{decoderAccountConfigId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/event-configuration' [queryParams]="{tab:26}">Cancel</button>
        </div>
    </form>
</div>