<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg view-box">
        <div class="ibox-body brown-border">
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Decoder</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{eventTypeDetails?.decoderName ? eventTypeDetails?.decoderName
                                : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">SetName</span>
                        <div id="" class="value">
                            <span class="d-inline-block">{{eventTypeDetails?.setNames ? eventTypeDetails?.setNames :
                                '-'}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Comms Type</span>
                        <div id="" class="value">
                            <span class="d-inline-block">{{eventTypeDetails?.commsTypeName ?
                                eventTypeDetails?.commsTypeName : '-'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Account Code Generation</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                <span>
                                    {{eventTypeDetails?.isManualAccountCodeGeneration ? 'Manual' : 'Automated'}}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6" *ngIf="!eventTypeDetails?.isManualAccountCodeGeneration">
                    <div class="d-flex">
                        <span id="" class="key">Length</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                <span>
                                    {{eventTypeDetails?.length ? eventTypeDetails?.length : '--'}}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6" *ngIf="!eventTypeDetails?.isManualAccountCodeGeneration">
                    <div class="d-flex">
                        <span id="" class="key">Hexadecimal</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                <span>
                                    {{eventTypeDetails?.isHexadecimal ? 'Yes' : 'No'}}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6" *ngIf="!eventTypeDetails?.isManualAccountCodeGeneration">
                    <div class="d-flex">
                        <span id="" class="key">Partition Considered</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                <span>
                                    {{eventTypeDetails?.isPartitionConsidered ? 'Yes' : 'No'}} </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6" >
                    <div class="d-flex">
                        <span id="" class="key">BOM Mandatory</span>
                        <span id="" class="value">
                            <span class="d-inline-block">
                                <span>
                                    {{eventTypeDetails?.isBOMMandatory ? 'Yes' : 'No'}} </span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Created On</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{eventTypeDetails?.createdDate ?
                                (eventTypeDetails?.createdDate | date) : '-'}}</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Modified On</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{eventTypeDetails?.modifiedDate ?
                                (eventTypeDetails?.modifiedDate | date) : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Created By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{eventTypeDetails?.createdUserName ?
                                eventTypeDetails?.createdUserName : '-'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row  mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Modified By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{eventTypeDetails?.modifiedUserName ?
                                eventTypeDetails?.modifiedUserName : '-'}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelEventTypeViewBtn"
            routerLink='/event-management/event-configuration' [queryParams]="{tab:26}">Back</button>
    </div>
</div>
