@import '../../../../../../../variables.scss';

.ibox-body {
    .cust-info-key {
        display: inline-block;
        width: 40%;
        color: $fidelity-grey1;
    }

    .cust-info-value {
        color: #000;
        font-size: 1.2rem;
    }

    

    .mat-tab-header {
        border-bottom: none;
    }

    .add-address-btn-con {
        right: 10px;
        z-index: 10;

        .add-address-text {
            font-size: 1rem;
            text-decoration: underline;
        }
    }

    .fidelity-btn-circle {
        width: 30px !important;
        height: 30px !important;
        font-size: 1rem;

        &:hover:after {
            height: 30px;
            width: 30px;
        }
    }

    .border-row {
        border-bottom: 1px solid #ddd;
    }

}

.btn-md-fidelity {
    padding: 0 30px;
}
.cdk-global-overlay-wrapper{
    pointer-events: none;
    top: 85px;
    margin-left: 500px;
    height: 100%;
    width: 800px;
}
.mat-dialog-container{
    width:800px;
}

.wrapper{
    width:200px;
    padding:20px;
    height: 150px;
    }