<div class="page-heading">
    <h1 class="page-title d-inline-block">Technical Discounting Codes for Automated Processes</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Technical Management</a></li>
        <li class="breadcrumb-item">Technical Discounting Codes for Automated Processes</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body mb-3">
            <div class="row mt-2">
                <div class="col-3">
                    <label>Process</label>
                </div>
                <div class="col-3">
                    <label>Stock Code</label>
                </div>
                <div class="col-4">
                    <label>Stock Description</label>
                </div>
                <div class="col-1">
                </div>
                <div class="col-1">
                </div>
            </div>
            <div>
                <form [formGroup]="CreateTechnicalDiscountingCodeForm">
                    <div class="row mb-3" >
                        <div class="col-3">
                            <select class="form-control fidelity-form-input" name="process" formControlName="techDiscountingProcessId">
                                <option value="" disabled>Select Process</option>
                                <option *ngFor="let item of processList" [value]="item.id">{{item.displayName}}</option>
                            </select>
                            <span class="text-danger"
                                *ngIf="CreateTechnicalDiscountingCodeForm?.get('techDiscountingProcessId')?.touched && CreateTechnicalDiscountingCodeForm?.get('techDiscountingProcessId')?.errors?.required">
                                Process is required
                            </span>
                        </div>
                        <div class="col-3">
                            <select class="form-control fidelity-form-input" name="stockCode" formControlName="itemId">
                                <option value="" disabled>Select Stock Code</option>
                                <option *ngFor="let item of stockCodeList" [value]="item.id">{{item.stockCode}}</option>
                            </select>
                            <span class="text-danger"
                                *ngIf="CreateTechnicalDiscountingCodeForm?.get('itemId')?.touched && CreateTechnicalDiscountingCodeForm?.get('itemId')?.errors?.required">
                                Stock Code is required
                            </span>
                        </div>
                        <div class="col-4">
                            <input type="text" name="stockDescription" class="fidelity-form-input form-control" placeholder="Stock Description" formControlName="itemName"><!--formControlName="systemTypeName" -->
                            <span class="text-danger"
                                *ngIf="CreateTechnicalDiscountingCodeForm?.get('itemName')?.touched && CreateTechnicalDiscountingCodeForm?.get('itemName')?.errors?.required">
                                Stock Description is required
                            </span>
                        </div>
                        <div class="col-2">
                            <button class="circle-plus-btn" matTooltip="Add" (click)="addTechDiscountCode()">
                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                            </button>
                        </div>
                    </div>
                    <div formArrayName="technicalDiscountCodeList">
                        <p-scrollPanel [style]="{height: '40vh'}" styleClass="custom">
                            <div class="row mb-3 mt-2" *ngFor="let control of technicalDiscountingCodesFormArray?.controls; let i = index" [formGroupName]="i"><!---->
                                <div class="col-3">
                                    <span class="col-12 p-0" matTooltip="{{getProcessName(control?.get('techDiscountingProcessId')?.value)}}">
                                        <select class="form-control fidelity-form-input" name="" formControlName="techDiscountingProcessId">
                                            <option value="" disabled>Select Process</option>
                                            <option *ngFor="let item of processList" [value]="item.id">{{item.displayName}}</option>
                                        </select>
                                        <span class="text-danger"
                                            *ngIf="control?.get('techDiscountingProcessId')?.touched && control?.get('techDiscountingProcessId')?.errors?.required">
                                            Process is required
                                        </span>
                                    </span>
                                </div>
                                <div class="col-3">
                                    <select class="form-control fidelity-form-input" name="" formControlName="itemId">
                                        <option value="" disabled>Select Stock Code</option>
                                        <option *ngFor="let item of stockCodeList" [value]="item.id">{{item.stockCode}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="control?.get('itemId')?.touched && control?.get('itemId')?.errors?.required">
                                        Stock Code is required
                                    </span>
                                </div>
                                <div class="col-4">
                                    <span class="col-12 p-0" matTooltip="{{control?.get('itemName')?.value}}">
                                        <input type="text" class="fidelity-form-input form-control"  formControlName="itemName"><!----> 
                                        <span class="text-danger"
                                            *ngIf="control?.get('itemName')?.touched && control?.get('itemName')?.errors?.required">
                                            Stock Description is required
                                        </span>
                                    </span>
                                </div>
                                <div class="col-2">
                                    <button type="button" matTooltip="Edit" class="circle-edit-btn" (click)="editTechDiscCodes(i)" style="top: 4px;">
                                        <i aria-hidden="true" class="icon icon-edit"></i>
                                    </button>
                                    <button type="button" matTooltip="Delete" class="circle-minus-btn" (click)="deleteTechDiscCodes(i)">
                                        <i aria-hidden="true" class="icon icon-delete"></i>
                                    </button>
                                </div>
                            </div>
                        </p-scrollPanel>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center mt-3">
            <span class="float-left mt-2">Total Records - <strong>{{technicalDiscountingCodesFormArray?.controls?.length ? 
                technicalDiscountingCodesFormArray?.controls?.length : 0}}</strong></span>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-brown" [disabled]="!technicalDiscountingCodesFormArray?.valid || !technicalDiscountingCodesFormArray?.controls?.length || isSubmitted" (click)="saveTechDescCodes()">Save </button>
        </div>
    </div>
</div>