<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{ defaultConsumableConfigurationId ? 'Update' : 'Create' }} Default Consumable Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a> Technical Management </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()">Configuration Consumable</a>
        </li>
        <li class="breadcrumb-item" *ngIf="defaultConsumableConfigurationId">
            <a (click)="navigateToView()">View Default Consumable Configuration</a>
        </li>
        <li class="breadcrumb-item">{{ defaultConsumableConfigurationId ? 'Update' : 'Create' }} Default Consumable Configuration</li>
    </ol>
</div>
<div class="page-content fade-in-up">
        <div class="ibox view-box">
            <div class="ibox-body mb-3">
                <form customForm [formGroup]="consumableConfigurationForm" (ngSubmit)="createConsumableConfiguration()">
                    <div class="row sm-inputs">
                            <div class="col-4">
                                <div class="form-group fidelity-multiselect-dropdown-con">
                                    <label>Division
                                        <span class="mandatory-field">*</span>
                                    </label>
                                    <mat-select-autocomplete ngDefaultControl
                                        [id]="'divisionId'"
                                        [disabled]="defaultConsumableConfigurationId"
                                        [formControl]="consumableConfigurationForm?.controls['divisionIds']"
                                        [placeholder]="'Select Division Id'"
                                        [options]="divisionList"
                                        [multiple]='true'
                                        [value]="'value'" [display]="'display'"
                                        [selectedOptions]="selectedOptions"
                                        (selectionChange)="getSelectedDivisionId($event)">
                                        <!-- [value]="'id'" [display]="'displayName'" -->
                                    </mat-select-autocomplete>
                                    <span class="text-danger" *ngIf="(consumableConfigurationForm?.controls['divisionIds']?.touched && consumableConfigurationForm?.controls['divisionIds']?.invalid)">
                                        Division is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Technician Type
                                        <span class="mandatory-field">*</span>
                                    </label>
                                    <select class="form-control fidelity-form-input" formControlName="technicianTypeId">
                                        <option value="">--Select Technician Type--</option>
                                        <option *ngFor="let technicianType of technicianTypeList" [value]="technicianType?.id">
                                            {{technicianType?.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Percentage(%)<span class="mandatory-field">*</span></label>
                                <input [validateInput]="isADecimalOnly" class="form-control fidelity-form-input" type="text" formControlName="percentage" maxlength="5"/>
                            </div>
                        </div>                        
                    </div>
                    <div class="text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2">
                                {{ defaultConsumableConfigurationId ? 'Update' : 'Create' }}
                            </button>
                            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                            (click)="navigateToList()">Cancel
                            </button>
                        </div>
                </form>
            </div>
        </div>
</div>