<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [captionFontSize]="primengTableConfigProperties.captionFontSize"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="hide-quick-action-menu quick-action-sidebar" *ngIf="openQuickAction"
    style="position: absolute;right: 60px;top: 51px;">
    <div class="quick-action-sidebar-header d-flex justify-content-between align-items-center">
        <span>Quick Action</span>
        <span class="icon icon-close-icon" (click)="toggleQuickAction()"></span>
    </div>
    <div class="quick-action-sidebar-body">
        <ul class="quick-action-menu-con">
            <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;" (click)="openStockSwapAction()">
                <a> Stock Swap </a>
            </li>
            <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;" (click)="openGoodsReturnAction()">
                <a> Goods Return </a>
            </li>
            <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;" (click)="openCreditNoteAction()">
                <a> Credit Note </a>
            </li>
            <li class="quick-action-menu mb-1 p-relative" style="cursor: pointer;" (click)="openCreateInvoiceAction()">
                <a> Create Invoice </a>
            </li>
        </ul>
    </div>
</div>

<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <form class="fidelity-popup-form" customForm [formGroup]="techStockTakeInvestgationForm"
                (ngSubmit)="onSubmit()">
                <div class="ibox-body">
                    <app-view-page [col]="2" [viewDetail]="stockTakeTAMInvestigationDetail" [template]="2"
                        [viewPageForm]="techStockTakeInvestgationForm" [marginClass]="'m-0 px-0 pb-2'"></app-view-page>
                </div>
                <div class="ibox-body mt-2" *ngIf="techStockTakeTamType == 'Stock Take Escalation'">
                    <div class="row header-row pt-4">
                        <div class="col-2"> Stock Code </div>
                        <div class="col-3"> Stock Description </div>
                        <div class="col-2"> Serial Number </div>
                        <div class="col-1"> Qty </div>
                        <div class="col-2"> Reserved / Invoice </div>
                        <div class="col-2"> Reference Number </div>
                    </div>
                    <div class="row children-row pb-4">
                        <div class="col-2">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                value="{{stockTakeTAMDetailsData?.itemCode}}"
                                matTooltip="{{stockTakeTAMDetailsData?.itemCode}}">
                        </div>
                        <div class="col-3">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                value="{{stockTakeTAMDetailsData?.itemName}}"
                                matTooltip="{{stockTakeTAMDetailsData?.itemName}}">
                        </div>
                        <div class="col-2">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                value="{{stockTakeTAMDetailsData?.serialNumber}}"
                                matTooltip="{{stockTakeTAMDetailsData?.serialNumber}}">
                        </div>
                        <div class="col-1">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                value="{{stockTakeTAMDetailsData?.quantity}}"
                                matTooltip="{{stockTakeTAMDetailsData?.quantity}}">
                        </div>
                        <div class="col-2">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                value="{{stockTakeTAMDetailsData?.itemState}}"
                                matTooltip="{{stockTakeTAMDetailsData?.itemState}}">
                        </div>
                        <div class="col-2">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                value="{{stockTakeTAMDetailsData?.referenceNumber}}"
                                matTooltip="{{stockTakeTAMDetailsData?.referenceNumber}}">
                        </div>
                    </div>
                </div>
                <div class="ibox-body mt-2" *ngIf="techStockTakeTamType == 'Payroll Number'">
                    <div class="row header-row pt-4">
                        <div class="col-3"> Stock Code </div>
                        <div class="col-5"> Stock Description </div>
                        <div class="col-2"> Serial Number </div>
                        <div class="col-2"> Qty </div>
                    </div>
                    <div class="row children-row pb-4" *ngFor="let data of stockTakeTAMDetailsData?.items">
                        <div class="col-3">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                value="{{data?.itemCode}}" matTooltip="{{data?.itemCode}}">
                        </div>
                        <div class="col-5">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                value="{{data?.itemName}}" matTooltip="{{data?.itemName}}">
                        </div>
                        <div class="col-2">
                            <input type="text" class="fidelity-form-input form-control disabled"
                                value="{{data?.serialNumber}}" matTooltip="{{data?.serialNumber}}">
                        </div>
                        <div class="col-2">
                            <input type="text" class="fidelity-form-input form-control disabled" value="{{data?.qty}}"
                                matTooltip="{{data?.qty}}">
                        </div>
                    </div>
                </div>
                <div class="text-center mt-2 btns-con">
                    <button type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown">Update</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        (click)="navigateToList()"> Cancel </button>
                </div>
            </form>
        </p-scrollPanel>
    </div>
</div>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isStockSwapModalDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header> Stock Swap </p-header>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Code </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{stockTakeTAMDetailsData?.itemCode ? stockTakeTAMDetailsData?.itemCode : '-'}}</b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Description </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{stockTakeTAMDetailsData?.itemName ? stockTakeTAMDetailsData?.itemName : '-'}} </b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label> B.O.M Serial Number </label>
                        <input class="form-control fidelity-form-input disabled"
                            value="{{stockTakeTAMDetailsData?.serialNumber}}" readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label> Swap Serial Number <span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input input-width-medium" id="swapSerialNumber"
                            [(ngModel)]="swapSerialNumber">
                            <option value=""> Select </option>
                            <option *ngFor="let data of stockSwapSerialNumbers" value="{{data.displayName}}">
                                {{data.displayName}}
                            </option>
                        </select>
                        <span class="text-danger" *ngIf="showSerialNumberError">
                            Serial number is required
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <div class="text-center">
                        <button type="button" (click)="saveStockSwapModal()"
                            class="btn btn-md-fidelity fidelity-btn-brown"> Save
                        </button>
                        <button type="button" (click)="isStockSwapModalDialog = false"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"> Cancel
                        </button>
                    </div>
                </div>
            </p-footer>
        </div>
    </div>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isGoodsReturnSuccessDialog"
    [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header> Confirmation </p-header>
    <div class="row mt-1">
        <div class="col-lg-12" style="font-size: 18px; text-align: center;">
            Goods Return Request {{grvNumber}} <br>
            Created Successfully
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" (click)="isGoodsReturnSuccessDialog = false"
                    class="btn btn-md-fidelity fidelity-btn-brown"> Ok
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>