<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" ></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body brown-border view-box">
            <app-view-page [col]="2" [viewDetail]="CucleCountCompletedviewDetail" [template]="1"></app-view-page>                     
        </div>
        <div class="brown-border mt-3">
            <mat-tab-group [selectedIndex]="selectedTabIndex" class="fidelity-tab-group cycle-view-tab mat-tab-body-padding-0">
                <mat-tab label="COMPLETED" class="bg-gray">
                    <div>
                        <div class="custom-scroll1" style="overflow-x: auto;height: 45vh">
                            <div class="custom-scroll1" style="overflow-x: auto;">
                                <div class="container-fluid">
                                    <div class="header-row row d-flex mb-3 pr-2" style="flex-wrap: nowrap;">
                                        <div class="col-2">Stock Code</div>
                                        <div class="stock-name col-4">Stock Description</div>
                                        <div class="col-1">On Hand Qty</div>
                                        <div class="col-1">Count 1</div>
                                        <div class="col-1">Counted By 1</div>
                                        <div class="col-1">Count 2</div>
                                        <div class="col-1">Counted By 2</div>
                                        <div class="col-1">Count 3</div>
                                        <div class="col-1">Counted By 3</div>
                                        <div class="col-1">Count 4</div>
                                        <div class="col-1">Counted By 4</div>
                                        <div class="col-1">Final Qty</div>
                                        <div class="col-1">Variance Qty</div>
                                    </div>    
                                </div>                                
                                <div class="completed-con">
                                    <ng-container *ngFor="let completedItem of cycleCountManagerDetails?.cycleCountCompletedList">
                                        <div class="container-fluid">
                                            <div class="children-row row d-flex mb-2 pr-2" style="flex-wrap: nowrap;"> 
                                                <div class="input-con col-2">
                                                    <input  class="form-control fidelity-form-input" style="color: #459CE8 !important; text-decoration: underline; cursor: pointer;"
                                                     [value]="completedItem.itemCode" matTooltip="{{completedItem.itemCode}}" (click)="onModalSerialPopupOpen(completedItem.itemId)">
                                                </div>
                                                <div class="input-con stock-name col-4">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.itemName" matTooltip="{{completedItem.itemName}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.onHandQTY" matTooltip="{{completedItem.onHandQTY}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.count1" matTooltip="{{completedItem.count1}}"></input-custom-control>
                                                    <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{completedItem.count1}}">{{completedItem?.count1}}</span> -->
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.countedBy1" matTooltip="{{completedItem.countedBy1}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.count2" matTooltip="{{completedItem.count2}}"></input-custom-control>
                                                    <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{completedItem.count2}}">{{completedItem?.count2}}</span> -->
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.countedBy2" matTooltip="{{completedItem.countedBy2}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.count3" matTooltip="{{completedItem.count3}}"></input-custom-control>
                                                    <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{completedItem.count3}}">{{completedItem?.count3}}</span> -->
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.countedBy3" matTooltip="{{completedItem.countedBy3}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.count4" matTooltip="{{completedItem.count4}}"></input-custom-control>
                                                    <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{completedItem.count4}}">{{completedItem?.count4}}</span> -->
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.countedBy4" matTooltip="{{completedItem.countedBy4}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.finalCount" matTooltip="{{completedItem.finalCount}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="completedItem.varianceQty" matTooltip="{{completedItem.varianceQty}}"></input-custom-control>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </ng-container>
                                    
                                    <div class="container-fluid">
                                        <div class="total-count-con row d-flex text-right mt-3" style="flex-wrap: nowrap;">
                                            <div class="col-2">Total Count</div>
                                            <div class="stock-name col-4"></div>
                                            <div class="col-1 pl-2 text-left">{{cycleCountManagerDetails?.completedListOnHandQTY}}</div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1 pl-1 text-left">{{cycleCountManagerDetails?.completedListFinalCount}}</div>
                                            <div class="col-1 pl-1 text-left">{{cycleCountManagerDetails?.completedListVarianceQty}}</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="VARIANCE" class="bg-gray">
                    <div>
                        <div class="custom-scroll1" style="overflow-x: auto;height: 45vh">
                            <div class="custom-scroll1" style="overflow-x: auto;">
                                <div class="container-fluid">
                                    <div class="header-row row d-flex mb-3 pr-2" style="flex-wrap: nowrap;">
                                        <div class="col-2">Stock Code</div>
                                        <div class="stock-name col-4">Stock Description</div>
                                        <div class="col-1">On Hand Qty</div>
                                        <div class="col-1">Count 1</div>
                                        <div class="col-1">Counted By 1</div>
                                        <div class="col-1">Count 2</div>
                                        <div class="col-1">Counted By 2</div>
                                        <div class="col-1">Count 3</div>
                                        <div class="col-1">Counted By 3</div>
                                        <div class="col-1">Count 4</div>
                                        <div class="col-1">Counted By 4</div>
                                        <div class="col-1">Final Qty</div>
                                        <div class="col-1">Variance Qty</div>
                                    </div>
                                </div>
                                
                                <div class="variance-con">
                                    <ng-container *ngFor="let varianceItem of cycleCountManagerDetails?.cycleCountItemVarianceList">
                                        <div class="container-fluid">
                                            <div class="children-row row d-flex mb-2 pr-2" style="flex-wrap: nowrap;">
                                                <div class="input-con col-2">
                                                    <input class="form-control fidelity-form-input" style="color: #459CE8 !important; text-decoration: underline; cursor: pointer;" [value]="varianceItem.itemCode" matTooltip="{{varianceItem.itemCode}}"
                                                    (click)="onModalSerialPopupOpen(varianceItem.itemId)">
                                                </div>
                                                <div class="input-con stock-name col-4">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.itemName" matTooltip="{{varianceItem.itemName}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.onHandQTY" matTooltip="{{varianceItem.onHandQTY}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{varianceItem.count1}}">{{varianceItem?.count1 == 0 ? '-' : varianceItem?.count1}}</span> -->
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.count1" matTooltip="{{varianceItem.count1}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.countedBy1" matTooltip="{{varianceItem.countedBy1}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.count2" matTooltip="{{varianceItem.count2}}"></input-custom-control>
                                                    <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{varianceItem.count2}}">{{varianceItem?.count2 == 0 ? '-' : varianceItem?.count2}}</span> -->
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.countedBy2" matTooltip="{{varianceItem.countedBy2}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.count3" matTooltip="{{varianceItem.count3}}"></input-custom-control>
                                                    <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{varianceItem.count3}}">{{varianceItem?.count3 == 0 ? '-' : varianceItem?.count3}}</span> -->
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.countedBy3" matTooltip="{{varianceItem.countedBy3}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.count4" matTooltip="{{varianceItem.count4}}"></input-custom-control>
                                                    <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{varianceItem.count4}}">{{varianceItem?.count4 == 0 ? '-' : varianceItem?.count4}}</span> -->
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.countedBy4" matTooltip="{{varianceItem.countedBy4}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.finalCount" matTooltip="{{varianceItem.finalCount}}"></input-custom-control>
                                                </div>
                                                <div class="input-con col-1">
                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="varianceItem.varianceQty" matTooltip="{{varianceItem.varianceQty}}"></input-custom-control>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </ng-container>
                                    
                                    <div class="container-fluid">
                                        <div class="total-count-con row d-flex text-right mt-3" style="flex-wrap: nowrap;">
                                            <div class="col-2">Total Count</div>
                                            <div class="stock-name col-4"></div>
                                            <div class="col-1 pl-2 text-left">{{cycleCountManagerDetails?.varianceListOnHandQTY}}</div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1"></div>
                                            <div class="col-1 pl-1 text-left">{{cycleCountManagerDetails?.varianceListFinalCount}}</div>
                                            <div class="col-1 pl-1 text-left">{{cycleCountManagerDetails?.varianceListVarianceQty}}</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </mat-tab>
                <mat-tab label="VERIFIED" class="bg-gray">
                    <div class="header-row d-flex mb-3">
                        <div class="col">Stock Code</div>
                        <div class="stock-name col">Stock Description</div>
                        <div class="col">On Hand Qty</div>
                        <div class="col">Count 1</div>
                        <div class="col">Counted By 1</div>
                        <div class="col">Count 2</div>
                        <div class="col">Counted By 2</div>
                        <div class="col">Count 3</div>
                        <div class="col">Counted By 3</div>
                        <div class="col">Count 4</div>
                        <div class="col">Counted By 4</div>
                        <div class="col">Final Qty</div>
                        <div class="col">Variance Qty</div>
                    </div>
                    <div>
                        <div class="custom-scroll1" style="overflow-x: auto;height: 45vh">
                            <div class="verified-con">
                                <ng-container *ngFor="let verifiedItem of cycleCountManagerDetails?.cycleCountItemVerifiedList">
                                    <div class="children-row d-flex mb-2">
                                        <div class="input-con col">
                                            <input  class="form-control fidelity-form-input" style="color: #459CE8 !important; text-decoration: underline; cursor: pointer;" 
                                            [value]="verifiedItem.itemCode" matTooltip="{{verifiedItem.itemCode}}" (click)="onModalSerialPopupOpen(verifiedItem.itemId)">
                                        </div>
                                        <div class="input-con stock-name col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.itemName" matTooltip="{{verifiedItem.itemName}}"></input-custom-control>
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.onHandQTY" matTooltip="{{verifiedItem.onHandQTY}}"></input-custom-control>
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.count1" matTooltip="{{verifiedItem.count1}}"></input-custom-control>
                                            <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{verifiedItem.count1}}">{{verifiedItem?.count1 == 0 ? '-' : verifiedItem?.count1}}</span> -->
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.countedBy1" matTooltip="{{verifiedItem.countedBy1}}"></input-custom-control>
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.count2" matTooltip="{{verifiedItem.count2}}"></input-custom-control>
                                            <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{verifiedItem.count2}}">{{verifiedItem?.count2 == 0 ? '-' : verifiedItem?.count2}}</span> -->
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.countedBy2" matTooltip="{{verifiedItem.countedBy2}}"></input-custom-control>
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.count3" matTooltip="{{verifiedItem.count3}}"></input-custom-control>
                                            <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{verifiedItem.count3}}">{{verifiedItem?.count3 == 0 ? '-' : verifiedItem?.count3}}</span> -->
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.countedBy3" matTooltip="{{verifiedItem.countedBy3}}"></input-custom-control>
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.count4" matTooltip="{{verifiedItem.count4}}"></input-custom-control>
                                            <!-- <span class="form-control fidelity-form-input disabled" matTooltip="{{verifiedItem.count4}}">{{verifiedItem?.count4 == 0 ? '-' : verifiedItem?.count4}}</span> -->
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.countedBy4" matTooltip="{{verifiedItem.countedBy4}}"></input-custom-control>
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.finalCount" matTooltip="{{verifiedItem.finalCount}}"></input-custom-control>
                                        </div>
                                        <div class="input-con col">
                                            <input-custom-control [extraClassNames]="'disabled'" [value]="verifiedItem.varianceQty" matTooltip="{{verifiedItem.varianceQty}}"></input-custom-control>
                                        </div>
                                    </div>
                                </ng-container>

                                <div class="total-count-con d-flex text-right mt-3">
                                    <div class="col">Total Count</div>
                                    <div class="stock-name col"></div>
                                    <div class="col">{{cycleCountManagerDetails?.verifiedListOnHandQTY}}</div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col">{{cycleCountManagerDetails?.verifiedListFinalCount}}</div>
                                    <div class="col">{{cycleCountManagerDetails?.verifiedListVarianceQty}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<p-dialog class="rebook-dialog" styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isStockCodeSerialNumbersDialog" [responsive]="true"
  showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '450px'}">
    <p-header>{{popupHeader}}</p-header>
    <app-popup-loader></app-popup-loader>
    <div class="rebook-dialog-body">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Stock Code </label>
                        </div>
                    </div>
                    <div class="col-8">
                        <b>{{modalDetails?.stockCode ? modalDetails?.stockCode : '-'}}</b>
                    </div>
                </div>
            </div>            
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Stock Description </label>
                        </div>
                    </div>
                    <div class="col-8">
                        <b>{{modalDetails?.stockDescription ? modalDetails?.stockDescription : '-'}} </b>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Serial Number</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <b>{{modalDetails?.serialNumbers ? modalDetails?.serialNumbers.length : '0'}}</b>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12" *ngFor="let items of modalDetails?.serialNumbers; let i = index">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control disabled" [value]="items"
                            matTooltip="{{items.serialNumber}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>