<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [captionFontSize]="primengTableConfigProperties.captionFontSize" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body">
                <app-view-page [col]="2" [viewDetail]="stockTakeAODDetail" [marginClass]="'m-0 pl-0'" (onLinkClicked)="onLinkClick($event)">
                </app-view-page>
            </div>
            <div class="ibox-body mt-2">
                <div class="row header-row pt-4">
                    <div class="col-2"> Stock Code </div>
                    <div class="col-3"> Stock Description </div>
                    <div class="col-2"> Serial Number </div>
                    <div class="col-1"> Qty </div>
                    <div class="col-2"> Unit Price(Inc.Vat) </div>
                    <div class="col-2"> Total(Inc.Vat) </div>
                </div>
                <div class="row children-row pb-4" *ngFor="let items of stockTakeAODDetailsData?.items">
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled" value="{{items?.itemCode}}" matTooltip="{{items?.itemCode}}">
                    </div>
                    <div class="col-3">
                        <input type="text" class="fidelity-form-input form-control disabled" value="{{items?.itemName}}" matTooltip="{{items?.itemName}}">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled" value="{{items?.serialNumber}}" matTooltip="{{items?.serialNumber}}">
                    </div>
                    <div class="col-1">
                        <input type="text" class="fidelity-form-input form-control disabled" value="{{items?.qty}}" matTooltip="{{items?.qty}}">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled" value="{{items?.unitPriceIncludeVAT}}" matTooltip="{{items?.unitPriceIncludeVAT}}">
                    </div>
                    <div class="col-2">
                        <input type="text" class="fidelity-form-input form-control disabled" value="{{items?.totalPrice}}" matTooltip="{{items?.totalPrice}}">
                    </div>
                </div>
                <div class="row header-row pb-4">
                    <div class="col-2"> <b> Grant Total </b> </div>
                    <div class="col-3"></div>
                    <div class="col-2"></div>
                    <div class="col-1"> <b> 2 </b> </div>
                    <div class="col-2"></div>
                    <div class="col-2"> <b> 280 </b> </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>
