@import "./../../../../../../variables.scss";

.key {
    display: inline-block;
    width: 38%;
    color: #8a8a8a;
    word-wrap: break-word;
}

.value {
    width: 62%;
    word-wrap: break-word;

    span {
        width: 100%;
        border: none;
        font-family: $fidelity-font-bold;
        font-size: 1.3rem;
    }
}



 .ibox-body p-calendar .ui-inputtext {
    width: 100% !important;
}
