@import "../../../../../../../../variables.scss";

::ng-deep .ibox-body {
  height: auto;
  .cust-info-key {
    display: inline-block;
    width: 38%;
    color: $fidelity-grey1;
  }

  .cust-info-value {
    width: 62%;

    input {
      width: 100%;
    }
  }
  .fidelity-popup-form {
    padding: 24px 35px !important;
  }

  .cust-info-value {
    color: #000;
    font-size: 1rem;
    display: inline-block;
    word-break: break-all;
  }

  .cust-info-key {
    font-size: 1rem;
  }

  .add-address-btn {
    margin-right: 4px;
  }

  .add-info-btn {
    @extend .add-address-btn;
  }

  

  .mat-tab-header {
    border-bottom: none;
  }

  .add-address-btn-con {
    right: 10px;
    z-index: 10;

    .add-address-text {
      font-size: 1rem;
      text-decoration: underline;
    }
  }

  .fidelity-btn-circle {
    width: 30px !important;
    height: 30px !important;
    font-size: 1rem;

    &:hover:after {
      height: 30px;
      width: 30px;
    }
  }

  .border-row {
    border-bottom: 1px solid #ddd;
  }
}

.address-label {
  width: 13% !important;
  margin-top: 10px;
}
.address-value {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 3px;
  width: 100%;
  padding-left: 10px;
}

.link {
  color: #166dff !important;
}

.text-right-view-more {
  margin-right: 20px;
  cursor: pointer;
}
