<div class="page-heading">
    <h2 class="page-title">{{primengTableConfigProperties.tableCaption | titlecase }}</h2>
    <ol class="breadcrumb"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
        <li class="breadcrumb-item">
            <a>
                <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item"
            *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
            <a *ngIf='breadCrumbItem.relativeRouterUrl&&!breadCrumbItem.queryParams'
                >{{breadCrumbItem.displayName | titlecase }}</a>
            <a *ngIf='breadCrumbItem.relativeRouterUrl&&breadCrumbItem.queryParams'
              >{{breadCrumbItem.displayName | titlecase }}</a>
            <a *ngIf='!breadCrumbItem.relativeRouterUrl'>{{breadCrumbItem.displayName | titlecase }}</a>
        </li>
    </ol>
</div>
<div class="primeng-table-wrapper">
    <mat-tab-group [selectedIndex]="selectedMainTabIndex" (selectedTabChange)="onMainTabChange($event)">
        <mat-tab label="Holiday/Temp Instructions" class="bg-gray">
        </mat-tab>
        <mat-tab label="Response Instructions" class="bg-gray">
            <div class="" *ngIf="selectedMainTabIndex == 1">
                <app-response-instructions-view-details [occurrenceBookId]="occurrenceBookId"
                    [customerAddressId]="customerAddressId" [customerId]="customerId">
                </app-response-instructions-view-details>
            </div>
        </mat-tab>
        <mat-tab label="Phone">
        </mat-tab>
        <mat-tab label="Dispatch">
        </mat-tab>
        <mat-tab label="Feedback">
        </mat-tab>
        <mat-tab label="Finish" disabled>
        </mat-tab>
    </mat-tab-group>
</div>