
.key {
    display: inline-block;
    width: 38%;
    color: #8A8A8A;
    word-wrap: break-word;
}

.value {
    width: 62%;
    word-wrap: break-word;

    span {
        width: 100%;
        border:none;
        font-family: 'Calibri_Bold', sans-serif!important;
        font-size: 1.3rem;
    }
}

.approver-info-con {
    .form-group {
        width: 80%;
    }
}

::ng-deep .delete-row.wd-row-del {
    right: 4vw;
}
