<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm class="fidelity-popup-form signal-decoder-upload" [formGroup]="signalDecoderForm"
                (ngSubmit)="onSubmit()">
                <div class="ibox">
                    <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg">
                            <div class="row">
                                <div class="col col-md-4">
                                    <label>Add File</label>
                                    <div class="form-group" style="width: 100%;">
                                        <label for="file" class="sr-only">File</label>
                                        <div class="file-input-container">
                                            <input class="file-input-ctrl" #fileInput type="file" name="file"
                                                accept=".xlsx" (change)="onFileSelected($event.target.files)"
                                                [disabled]="isFileSelected" />
                                        </div>
                                        <div style="width: 100%; z-index: 1000;">
                                            <div class="input-group" style="height: 40px;">
                                                <input type="text" name="filename" [(ngModel)]="fileName"
                                                    [ngModelOptions]="{standalone: true}"
                                                    class="form-control file-input-text" placeholder="No file selected"
                                                    readonly>
                                                <span class="input-group-btn">
                                                    <div class="btn custom-file-uploader file-input-btn">
                                                        Browse
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col col-md-1">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <label for="file" class="sr-only">File</label>
                                        <div class="input-group" style="height: 40px;">
                                            <span class="input-group-btn">
                                                <input type="button" value="Clear"
                                                    class="btn custom-file-uploader file-remove-btn"
                                                    (click)="removeUploadedFile()">
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-md-3 ml-0 pl-0">
                                    <div class="sample-file download" style="margin-top: 30px;">
                                        <div class="no-services-msg-con mt-2 file-download-container">
                                            <small>
                                                <a class="text-primary"
                                                    href="../../../../../assets/files/decoders_upload.xlsx"
                                                    target="_blank"><i class="fa fa-download"
                                                        style="font-size: 13pt;"></i>&nbsp;
                                                    Download sample file</a></small></div>
                                    </div>
                                </div>

                                <div class="col col-md-4 ml-0 pl-0">
                                    <div class="sample-file download" style="margin-top: 30px;">
                                        <div class="no-services-msg-con mt-2 file-upload-status-container"
                                            *ngIf="getSignalDecoderArrays.length>0">
                                            <small style="margin-top: 6px;">
                                                <div
                                                    *ngIf="(duplicatingNameCount >0) || (signalDecoderSuccessCount==0 && signalDecoderFailureCount==0)">
                                                    <div class="float-left">
                                                        <label class="text-success"
                                                            style="margin-left: 10px; font-size: 13pt;">
                                                            Total Records:
                                                            {{getSignalDecoderAllDataArrays.length}}</label>
                                                    </div>
                                                    <div class="float-left">
                                                        <label class="text-danger"
                                                            style="margin-left: 10px; font-size: 13pt;">
                                                            Duplicate </label>
                                                    </div>
                                                    <div class="float-left">
                                                        <label class="text-danger"
                                                            style="margin-left: 8px; font-size: 13pt;" *ngIf="duplicatingNameCount!==null">
                                                            Names:
                                                            {{duplicatingNameCount}}</label>
                                                            <label class="text-danger"
                                                            style="margin-left: 8px; font-size: 13pt;" *ngIf="duplicatingNameCount===null">
                                                            Names:
                                                            0</label>
                                                    </div>
                                                </div>

                                                <div
                                                    *ngIf="(duplicatingNameCount > 0) || (signalDecoderSuccessCount>0 || signalDecoderFailureCount>0)">
                                                    <div class="float-left">
                                                        <label class="text-success"
                                                            style="margin-left: 10px; font-size: 13pt;">Imported
                                                            Success:
                                                            {{signalDecoderSuccessCount}}</label>
                                                    </div>
                                                    <div class="float-left">
                                                        <label class="text-danger"
                                                            style="margin-left: 10px; font-size: 13pt;">Failure:
                                                            {{signalDecoderFailureCount}}</label>
                                                    </div>
                                                    <div class="float-left" style="max-width: 185px; min-width: 185px;">
                                                        <a class="text-primary" (click)="showHideFailedImportList()"
                                                            *ngIf="signalDecoderFailureCount>0"
                                                            style="margin-left: 10px; font-size: 13pt;">
                                                            {{showFailedImport? "Hide":"Show"}} failed imports
                                                        </a></div>
                                                </div>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="!showFailedImport">
                                <div style="height: 23rem; overflow: scroll;" infiniteScroll
                                    [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10"
                                    (scrolled)="onScrollDownSignalDecoderArray()" [scrollWindow]="false">

                                    <div class="ibox-body brown-border white-bg">
                                        <div *ngIf="getSignalDecoderArrays.length>0;else NoDataContainer">
                                            <div class="row mt-3 mb-2">
                                                <div class="col-2 row-number-col"><span>S.No.</span></div>
                                                <div class="col-3">Name <span class="mandatory-field">*</span></div>
                                                <div class="col-3">Description</div>
                                                <div class="col-3 p-0">Duplicate Time Window <span class="mandatory-field">*</span></div>                                                
                                                <div class="col-1 remove-col"></div>
                                            </div>

                                            <div formArrayName="signalDecoderArray"
                                                *ngFor="let signalDecoderObj of signalDecoderForm?.get('signalDecoderArray')?.controls;let i=index">
                                                <div class="row  mt-3 mb-2" [formGroupName]="i">
                                                    <div class="col-2 row-number-col">
                                                        <input type="text" [id]="'rowNumber'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="rowNumber" matTooltip="Search More Menu"
                                                            disabled>
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="text" class="form-control fidelity-form-input"
                                                            [id]="'name'+i"
                                                            [minlength]="formConfigs.one"
                                                            [maxlength]="formConfigs.fifty" type="text" formControlName="name"
                                                            (change)="ValidateIfOnlySpecialCharacters($event.target.value,'name',i)"
                                                            matTooltip="{{signalDecoderObj.value.name}}" required>
                                                    </div>
                                                    <div class="col-3"><input type="text"
                                                        class="form-control fidelity-form-input" [id]="'description'+i"
                                                        maxlength="150" formControlName="description"
                                                        matTooltip="{{signalDecoderObj.value.description}}">
                                                    </div>
                                                    <div class="col-3"><input type="text"
                                                            class="form-control fidelity-form-input" [id]="'duplicateTimeWindow'+i"
                                                            [maxlength]="formConfigs.five" formControlName="duplicateTimeWindow"
                                                            (change)="ValidateIfOnlyNumeric($event.target.value,'duplicateTimeWindow',i)"
                                                            matTooltip="{{signalDecoderObj.value.duplicateTimeWindow}}">
                                                    </div>
                                                    <div class="col-1 remove-col">
                                                        <a [id]="'delete_record'+i"
                                                            class="delete-row raw-lead-delete-btn ml-1"
                                                            (click)="removeSignalDecoderItem(i)"><i aria-hidden="true"
                                                                class="icon icon-delete"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #NoDataContainer>
                                        <div class="no-data-msg mt-2"
                                            style="width: 100%; border-color: transparent;">
                                            <span>No Data To Be Displayed</span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>

                            <div *ngIf="false">
                                <div formArrayName="signalDecoderAllDataArray"
                                    *ngFor="let signalDecoderObj of signalDecoderForm?.get('signalDecoderAllDataArray')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col row-number-col">
                                            <input type="text" [id]="'rowNumber'+i" formControlName="rowNumber">
                                        </div>
                                        <div class="col">
                                            <input type="text" [id]="'name'+i" formControlName="name">
                                        </div>
                                        <div class="col">
                                            <input type="text" [id]="'description'+i" formControlName="description">
                                        </div>
                                        <div class="col">
                                            <input type="number" [id]="'duplicateTimeWindow'+i" formControlName="duplicateTimeWindow">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="showFailedImport">
                                <div style="height: 23rem; overflow: scroll;" infiniteScroll
                                    [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10"
                                    (scrolled)="onScrollDownSignalDecoderFailureArray()" [scrollWindow]="false">
                                    <div class="ibox-body brown-border white-bg">
                                        <div *ngIf="getSignalDecoderFailedArrays.length>0;else NoDataFailedContainer">
                                            <div class="row mt-3 mb-2">
                                                <div class="col row-number-col"><span>S.No.</span></div>
                                                <div class="col">Name</div>
                                                <div class="col">Description</div>
                                                <div class="col">Duplicate Time Window</div>
                                                <div class="col reason-col">Reason</div>
                                            </div>

                                            <div formArrayName="signalDecoderFailedArray"
                                                *ngFor="let signalDecoderObj of signalDecoderForm?.get('signalDecoderFailedArray')?.controls;let i=index">
                                                <div class="row" [formGroupName]="i">
                                                    <div class="col row-number-col">
                                                        <input type="text" [id]="'rowNumber'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="rowNumber" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" [id]="'name'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="name" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" [id]="'description'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="description" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="number" [id]="'duplicateTimeWindow'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="duplicateTimeWindow" disabled>
                                                    </div>
                                                     <div class="col reason-col">
                                                        <input type="text" [id]="'reason'+i"
                                                            class="form-control fidelity-form-input input-no-decorate"
                                                            formControlName="reason" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #NoDataFailedContainer>
                                            <div class="no-data-msg mt-2"
                                                style="width: 100%; border-color: transparent;">
                                                <span>No Data To Be Displayed4</span>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3" *ngIf="!showFailedImport && getSignalDecoderArrays.length>0">
                    <button id="create_new_decoder_btn" type="submit" [disabled]="isBtnDisabled"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                    <button id="cancel_new_decoder_btn" type="button" routerLink="/signal-translator/configuration/" [queryParams]="{tab:1}"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
                <div class="text-center mt-3" *ngIf="showFailedImport">
                    <button id="cancel_new_leads_btn" type="button" (click)="showHideFailedImportList()"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Back</button>
                </div>
                <div class="text-center mt-3" *ngIf="fileName===''">
                    <button id="cancel_new_leads_btn" type="button" routerLink="/signal-translator/configuration/" [queryParams]="{tab:1}"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>