<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="decoderAddEditForm" (ngSubmit)="onSubmit()">

        <div class="ibox">
                <div class="ibox-body">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Decoder Name <span class="mandatory-field">*</span></label>
                                    <input class="form-control fidelity-form-input" type="text" formControlName="name"
                                        [validateInput]='isHypenOnly' [maxLength]="formConfigs.maxLengthTwenty"
                                        placeholder="Enter Decoder Name" (change)="ValidateIfOnlySpecialCharacters($event.target.value)">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Duplicate Time Window<span class="mandatory-field">*</span></label>
                                    <input class="form-control fidelity-form-input" type="number"
                                        formControlName="duplicateTimeWindow" (change)="ValidateIfOnlyNumeric($event.target.value, 'duplicateTimeWindow')"
                                        [maxLength]="formConfigs.generalLengthFive" placeholder="Duplicate Time Window">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input class="form-control fidelity-form-input" type="text"
                                        formControlName="description"
                                        [maxLength]="formConfigs.generalNameLengthTwoFifty"
                                        placeholder="Enter Description">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{decoderId ? 'Update': 'Save'}}</button>
            <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/signal-translator/configuration' [queryParams]="{tab:1}">Cancel</button>
        </div>
    </form>
</div>