<div class="fidelity-popup-heading container-fluid p-relative" mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle> Serial Info
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<mat-dialog-content>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Code </label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.stockCode ? modalDetails?.stockCode : '-'}}</b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Stock Description</label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.stockDescription ? modalDetails?.stockDescription : '-'}} </b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Serial Number</label>
                    </div>
                </div>
                <div class="col-8">
                    <b>{{modalDetails?.serialNumbers ? modalDetails?.serialNumbers.length : '0'}}</b>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12" *ngFor="let items of modalDetails?.serialNumbers; let i = index">
                    <div class="form-group">
                        <input type="text" class="fidelity-form-input form-control" readonly [value]="items"
                            matTooltip="{{items}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
