<div class="page-heading ">
    <h1 class="page-title no-border">View Info</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration </li>        
        <li class="breadcrumb-item"><a routerLink='/user/leave-user/list'>Leave Management Request List</a></li>
        <li class="breadcrumb-item">View</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a id="stock_edit" class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3" (click)="editLeavePermission()"
        *ngIf="leavePermissionDetailModel.status == 'Declined' || leavePermissionDetailModel.requestTypeName =='Out Of Office'" matTooltip="Edit">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" *ngIf="leavePermissionDetailModel!==undefined">
        <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
            <div class="ibox-body">
                <div class="basic-info-con">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span class="item-view-key d-inline-block" id="key_Request_Type">Request Type</span>
                                <span class="item-view-value" id="value_Request_Type">{{leavePermissionDetailModel.requestTypeName}}</span>
                            </div>
                            <div class="d-flex">
                                <span class="item-view-key d-inline-block" id="key_Period">Period</span>
                                <span class="item-view-value" id="value_Period">{{leavePermissionDetailModel.period}}</span>
                            </div>
                            <div class="d-flex">
                                <span class="item-view-key d-inline-block" id="key_Nominated">Nominated To</span>
                                <span class="item-view-value" id="value_Nominated">{{leavePermissionDetailModel.nominatedTo}}</span>
                            </div>
                            <div class="d-flex">
                                <span class="item-view-key d-inline-block" id="key_status">Status</span>
                                <span class="status-label-yellow status-label" id="value_status" *ngIf="leavePermissionDetailModel?.status === 'Declined'">Declined</span>
                                <span class="status-label-blue status-label" id="value_status" *ngIf="leavePermissionDetailModel?.status === '' || leavePermissionDetailModel.status === null || leavePermissionDetailModel.status === 'Pending'">Pending</span>
                                <span class="status-label-green status-label" id="value_status" *ngIf="leavePermissionDetailModel?.status === 'Approved'">Approved</span>
                            </div>
                            <div class="d-flex">
                                <span class="item-view-key d-inline-block" id="key_doa">DOA Comment</span>
                                <span class="item-view-value" id="value_doa">{{leavePermissionDetailModel.doaComment}}</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex" *ngIf="leavePermissionDetailModel?.requestTypeName ==='Out Of Office'">
                                <span class="item-view-key d-inline-block" id="key_Apply_Type">Apply Type</span>
                                <span class="item-view-value d-inline-block" id="value_Apply_Type">{{leavePermissionDetailModel.applyType}}</span>
                            </div>
                            <div class="d-flex" *ngIf="leavePermissionDetailModel?.requestTypeName ==='Leave'">
                                <span class="item-view-key d-inline-block" id="key_Apply_Type">Leave Type</span>
                                <span class="item-view-value d-inline-block" id="value_Apply_Type">{{leavePermissionDetailModel.leaveType}}</span>
                            </div>
                            <div class="d-flex">
                                <span class="item-view-key d-inline-block" id="key_Created_On">Created On</span>
                                <span class="item-view-value" id="value_Created_On">{{leavePermissionDetailModel.createdDate |date}}</span>
                            </div>
                            <div class="d-flex">
                                <span class="item-view-key d-inline-block" id="key_Approved_By">Approved By</span>
                                <span class="item-view-value" id="value_Approved_By">{{leavePermissionDetailModel.approverName}}</span>
                            </div>
                            <div class="d-flex">
                                <span class="item-view-key d-inline-block" id="key_Reason">Reason</span>
                                <span class="item-view-value" id="value_Reason">{{leavePermissionDetailModel.reason}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
    </p-scrollPanel>
    </div>
</div>
