<div class="fidelity-popup-heading  p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.data?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="cctvPointForm" (ngSubmit)="getValidateDecoders()">
    <div style="padding: 16px;">
        <div>
            <p-scrollPanel [style]="{ height: '60vh'}">
            <div class="view-box">
                <div class="row">
                    <div class="col-6" *ngIf="config?.data?.isShowPartition">
                        <div class="form-group">
                            <label>Partition<span class="mandatory-field">*</span></label>
                            <select id="zone" class="form-control fidelity-form-input" name="Partition"
                                placeholder="Select Partition" formControlName="partitionId">
                                <option value="" disabled>Select Partition</option>
                                <option *ngFor="let partition of partitionsDropDown" [value]="partition.id">
                                    {{partition?.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Decoders<span class="mandatory-field">*</span></label>
                            <!-- <input type="text" name="Camera ID" class="form-control fidelity-form-input" formControlName="cameraId"> -->
                            <select class="form-control fidelity-form-input" name="Decoders"
                                formControlName="decoderId">
                                <option value="">Select </option>
                                <option [value]="item.id" *ngFor="let item of decodersList; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Set Name<span class="mandatory-field">*</span></label>
                            <select class="form-control fidelity-form-input" name="Set Name"
                                formControlName="setNameId">
                                <option value="">Select </option>
                                <option [value]="item.id" *ngFor="let item of setNamesList; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Test Delay<span class="mandatory-field">*</span></label>
                            <input type="text" class="form-control fidelity-form-input" [validateInput]="isANumberOnly" formControlName="testDelay">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Service Call<span *ngIf="isServiceCallMandatory" class="mandatory-field">*</span></label>
                            <select class="form-control fidelity-form-input" name="serviceCallId"
                                formControlName="serviceCallId">
                                <option value="">Select </option>
                                <option [value]="item.id" *ngFor="let item of serviceCallDetails; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                        <span class="text-danger"
                            *ngIf="cctvPointForm?.get('serviceCallId').invalid && cctvPointForm?.get('serviceCallId').touched">
                            serviceCallId is required
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Account Code<span class="mandatory-field">*</span></label>
                            <input type="text" class="form-control fidelity-form-input" name="Account Code"
                                [readonly]="isManualAccountCodeGeneration ? null : true" placeholder="Account Code"  formControlName="accountCode">
                        </div>
                    </div>
                    <div class="col-6" style="margin: 30px 0;">
                        <button type="button" (click)="generateCode()" pButton class="ui-button-success mr-4"
                            [disabled]="isManualAccountCodeGeneration ? true : null"
                            style="display: inline-block;background: #007ad9!important;"
                            label="Generate Account Code"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label> Serial Number <span class="mandatory-field" *ngIf="isBOMMandatory">*</span> </label>
                            <input type="text" placeholder="Serial Number" class="form-control fidelity-form-input" formControlName="serialNo">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="ui-g-12">Radio<span class="mandatory-field">*</span></label>
                            <div style="padding-top: 0;" class="ui-g-6">
                                <p-radioButton name="radio" label="Addition" value="true"
                                    formControlName="isAddNewRadio"></p-radioButton>
                            </div>
                            <div style="padding-top: 0;" class="ui-g-6">
                                <p-radioButton name="radio" label="Replacement" value="false"
                                    formControlName="isAddNewRadio"></p-radioButton>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="cctvPointForm.get('isAddNewRadio').value == 'true'">
                        <div class="form-group">
                            <label>Radio Area</label>
                            <input type="text" class="form-control fidelity-form-input" formControlName="radioArea"
                                name="Radio Area">
                        </div>
                    </div>
                    <div class="col-6" *ngIf="cctvPointForm.get('isAddNewRadio').value == 'false'">
                        <div class="form-group">
                            <label>Old Decoders<span class="mandatory-field">*</span></label>
                            <select class="form-control fidelity-form-input" name="Old Decoders"
                                formControlName="oldDecoderId">
                                <option value="">Select </option>
                                <option [value]="item.id" *ngFor="let item of oldDecodersList; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="cctvPointForm.get('isAddNewRadio').value == 'false'">
                        <div class="form-group">
                            <label>Old Transmitter Number<span class="mandatory-field">*</span></label>
                            <select class="form-control fidelity-form-input" name="Old Transmitter Number"
                                formControlName="oldCustomerAccountId">
                                <option value="">Select </option>
                                <option [value]="item.id" *ngFor="let item of oldTransmitterList; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="cctvPointForm.get('isAddNewRadio').value == 'false'">
                        <div class="form-group">
                            <label>Status<span class="mandatory-field">*</span></label>
                            <select class="form-control fidelity-form-input" name="State" formControlName="oldDecoderConfigStatusId">
                                <option value="">Select </option>
                                <option [value]="item.id" *ngFor="let item of stateList; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Description<span class="mandatory-field">*</span></label>
                            <textarea class="form-control fidelity-form-input" type="text" formControlName="description" rows='2'
                                minlength="3" placeholder="Enter description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="cctvPointForm.get('isAddNewRadio').value == 'true'">


                </div>
                <div class="row" *ngIf="cctvPointForm.get('isAddNewRadio').value == 'false'">

                </div>
                <div class="row" *ngIf="cctvPointForm.get('isAddNewRadio').value == 'false'">

                </div>
            </div>
            </p-scrollPanel>
        </div>
    </div>

    <div style="margin-bottom: 5px;text-align: center;">
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class=" text-center">
                <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button
                        type="submit">Submit</button>
                        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" (click)="btnCloseClick()">Cancel</button>
            </div>
        </div>
    </div>
</form>
