<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="delayDispatchForm" (ngSubmit)="onSubmit()">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox white-bg sm-inputs">
                <div class="slim-scroll1">
                    <div class="ibox-body brown-border">
                        <div>
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label>Delay Dispatch Name<span class="mandatory-field">*</span></label>
                                        <input class="form-control fidelity-form-input" type="text"
                                            formControlName="delayDispatchName" [validateInput]='isAnAlphaNumericOnly'
                                            minlength="3" maxlength="25" placeholder="Enter Delay Dispatch Name">
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label>Description<span class="mandatory-field">*</span></label>
                                        <textarea class="form-control fidelity-form-input" type="text"
                                            name="Description" formControlName="delayDispatchDescription"
                                            [validateInput]='isAnAlphaNumericOnly' minlength="10" maxlength="150"
                                            placeholder="Enter Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label>Division<span class="mandatory-field">*</span></label>
                                        <select id="divsion" class="form-control fidelity-form-input" name="Division"
                                            placeholder="Select Division" formControlName="divisionId"
                                            (change)="onChangeDivition($event.target.value)">
                                            <option value="" disabled>Select Division</option>
                                            <option *ngFor="let division of divisionDropDown" [value]="division.id">
                                                {{division.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label>Main Area<span class="mandatory-field">*</span></label>
                                        <p-multiSelect formControlName="delayDispatchMainAreaList" dataKey="id"
                                            appendTo="body" [defaultLabel]="'Select Main Area'" autoWidth="false"
                                            optionLabel="displayName" optionValue="id"
                                            [style]="{'width':'100%','height': '38px'}" [options]="mainAreaDropdown">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                        <label class="switch add-stack-status">
                                            <input type="checkbox" formControlName="isActive">
                                            <span class="slider round active"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="" formArrayName="delayDispatchTimingList"
                                *ngFor="let obj of delayDispatchForm?.get('delayDispatchTimingList')?.controls;let i=index">
                                <div class="row" [formGroupName]="i">
                                    <div class="col-3">
                                        <div class="form-group" style="width: 100%;">
                                            <label class="col-form-label">Delay By</label>
                                            <div class="status-checkbox-con">
                                                <mat-radio-group formControlName="isSiteAverage" id="Customer_Type">
                                                    <mat-radio-button class="fidelity-radio-btn  ml-5" [value]="true"
                                                        style="margin-left:16px">Site Average
                                                    </mat-radio-button>
                                                    <mat-radio-button class="fidelity-radio-btn ml-5" [value]="false">
                                                        Fixed
                                                        Time
                                                        Delay
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3" *ngIf="!obj.get('isSiteAverage').value">
                                        <div class="form-group">
                                            <label>Delay Time<span class="mandatory-field">*</span></label>
                                            <input class="form-control fidelity-form-input" type="text"
                                                formControlName="delayTime" [validateInput]='isANumberOnly'
                                                placeholder="Enter Seconds">
                                        </div>
                                    </div>

                                    <div class="col-5">
                                        <div class="form-group">
                                            <label class="col-12" >Time Range<span class="mandatory-field">*</span></label>
                                            <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con" style="float: left;    padding-left: 3;">
                                                <div class="form-group" style="width: 100%;">
                                                    <p-calendar [timeOnly]="true" class="custom-class-for-p-calendar" formControlName="timeRangeFrom" [style]="{'width':'100%'}"
                                                         hourFormat="24"  [readonlyInput]="true"
                                                        appendTo="body">
                                                    </p-calendar>
                                                </div>
                                            </div>
                                            <div class="col-6 fidelity-date-picker-con p-relative cust-banner-date-con" style="float: left;    padding-left: 3;">
                                                <div class="form-group" style="width: 100%;">
                                                    <p-calendar [timeOnly]="true" class="custom-class-for-p-calendar" formControlName="timeRangeTo"
                                                         hourFormat="24"  [disabled]="!obj.get('timeRangeFrom')?.value" (onSelect)="ifEmpty($event)"  [readonlyInput]="true"
                                                        appendTo="body">
                                                    </p-calendar>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1" style="margin-top: 23px;">
                                        <button type="button" *ngIf="i==0" class="circle-plus-btn"
                                            (click)="addCmcSmsGroupEmployee()" title="add" type="button">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </button>
                                        <button type="button"
                                            *ngIf="getpropertydelayDispatchTimingListArray?.length > 1"
                                            class="circle-minus-btn" type="button" (click)="removeCmcSmsEmployee(i)"
                                            title="Delete"><i aria-hidden="true" class="icon icon-delete"></i>
                                        </button>
                                    </div>
                                </div><!-- Ending -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
        <div class="text-center mt-5">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{delayDispatchId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/event-configuration' [queryParams]="{tab:11}">Cancel</button>
        </div>

    </form>
</div>

<style>
    .circle-minus-btn {
        top: 10px;
    }
    ::ng-deep body .ui-datepicker {
        min-width: 12em;
    }
</style>
