<div class="page-heading">
    <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>

    <ol class="breadcrumb"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
        <li class="breadcrumb-item">
            <a> <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item"><a> Inventory Management </a></li>
        <li class="breadcrumb-item"
            *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
            <a *ngIf='breadCrumbItem.relativeRouterUrl&&!breadCrumbItem.queryParams'>{{breadCrumbItem.displayName}}</a>
            <a *ngIf='breadCrumbItem.relativeRouterUrl&&breadCrumbItem.queryParams'>{{breadCrumbItem.displayName}}</a>
            <a *ngIf='!breadCrumbItem.relativeRouterUrl'(click)="navigateToJobSelection()">{{breadCrumbItem.displayName}}</a>
        </li>
    </ol>

    <div class="grid-icons-con float-right pr-0">
        <div class="d-flex fidelity-search-input-con">
            <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                (click)="onCRUDRequested('delete')" matTooltip="Delete"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableMultiDeleteActionBtn">
                <i aria-hidden="true" class="icon icon-delete"></i></a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" (click)="onCRUDRequested('filter')" matTooltip="Apply Filter"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.shouldShowFilterActionBtn">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </a>
            <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" (click)="onCRUDRequested('create')"
                *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.ebableAddActionBtn">
                <i aria-hidden="true" data-icon="b" class="icon" matTooltip="Create New"></i>
            </a>
        </div>
    </div>

</div>

<app-page-list-table class="cycle-count-list" [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [first]="first"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [reset]="reset"
    [searchFirst]="true" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
    [customScroll]="false" (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>
