<div class="page-heading ">
    <h1 class="page-title d-inline-block">Cycle Count</h1>
    <ol class="breadcrumb" *ngIf="type == 'staff'">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a> Inventory Management </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Job Selection </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToCycleCountList()"> Cycle Count List </a>
        </li>
        <li class="breadcrumb-item">
            Cycle Count Scan 
        </li>
    </ol>
    <ol class="breadcrumb" *ngIf="type == 'manager'">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item" >
            <a> Inventory Management </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToCycleCountList()"> Cycle Count Progress List </a>
        </li>
        <li class="breadcrumb-item">
            Cycle Count
        </li>
    </ol>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <div class="ibox-body">
                <form class="fidelity-popup-form" customForm [formGroup]="jobSelectionCycleCountScanForm">
                    <div class="row mt-1">
                        <div class="col-lg-4">
                            <div class="d-flex">
                                <span id="" class="key"> Cycle Count ID </span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{cycleCountDetails?.cycleCountNumber ? cycleCountDetails?.cycleCountNumber : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex">
                                <span id="" class="key"> Scheduled Date </span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{cycleCountDetails?.cycleCountDate ? (cycleCountDetails?.cycleCountDate | date) : '-'}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex">
                                <span id="" class="key"> Count </span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{cycleCountDetails?.iterationCount ? cycleCountDetails?.iterationCount : '-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-4">
                            <div class="form-group p-relative stock-code-con">
                                <label> Available Row </label>
                                <select [attr.disabled]="cycleCountShow ? true : null" class="form-control fidelity-form-input"
                                    name="availableRows" formControlName="availableRows" (change)='getDetailsItemById($event)'>
                                    <option value="" selected disabled>Select</option>
                                    <option [value]="item.id" *ngFor="let item of availableRowDropDown; let i=index">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="col-lg-4">
                            <div class="d-flex">
                                <span id="" class="key"> Initiated Date & Time </span>
                                <span id="" class="value">
                                    <span class="d-inline-block"> {{cycleCountDetails?.cycleCountInitatedDate ? (cycleCountDetails?.cycleCountInitatedDate | date) : '-'}} </span>
                                </span>
                            </div>
                        </div> -->
                        <div class="col-lg-4">
                            <div class="form-group p-relative picking-serial">
                                <label> Scan/Enter Serial No </label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input tabindex="-1" class="form-control fidelity-form-input" autofocus maxlength="50"
                                        placeholder="Scan/Enter" formControlName="scanSerialNumberInput">
                                    <div class="input-group-append">
                                        <button class="text-white" type="submit" (click)="onSubmit()">
                                            <i aria-hidden="true" class="icon icon-scan"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="showDuplicateError">
                                    {{duplicateError}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <app-job-selection-cycle-count-bin-list [cycleCountId]="cycleCountId"
                                [iterationId]="iterationId" [storageLocationIds]="storageLocationId" [isMainLocations]="mainLocationWarehouse">
                            </app-job-selection-cycle-count-bin-list>
                        </div>
                    </div>
                    <div *ngIf="cycleCountShow">
                        <div class="row header-row pt-4">
                            <div class="col-2"> <label>Row-Shelf-Bin Location </label></div>
                            <div class="col-2"> <label>Stock Code</label> </div>
                            <div class="col-6"> <label>Stock Description</label> </div>
                            <div class="col-2"> <label>Counted Qty</label>  </div>
                        </div>
                        <div class="row children-row pb-2">
                            <div class="col-2">
                                <input type="text" class="form-control fidelity-form-input disabled" formControlName="bincode">
                            </div>
                            <div class="col-2">
                                <!-- style="color: #459CE8 !important; text-decoration: underline;" -->
                                <input type="text" class="form-control fidelity-form-input disabled" formControlName="itemCode">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control fidelity-form-input disabled" formControlName="itemDescription">
                            </div>
                            <div class="col-2 p-relative">
                                <!-- <input type="text" class="form-control fidelity-form-input"
                                [ngClass]="{'disabled':'!cycleCountStockItemsDetails?.isNotSerialized'}" formControlName="cycleCountIterationCount">
                                <div class="d-flex p-absolute btns-con" style="font-size: 9px;right: 2vw;top: 8px;">
                                    <button type="button" class="d-flex justify-content-center align-items-center" style="width:25px;height:25px;border-radius:50%;border:1px solid #ccc;cursor: pointer;"
                                    [disabled]="!cycleCountStockItemsDetails?.isNotSerialized" (click)="onSubmit()"><span class="icon icon-add"></span>
                                    </button>
                                </div> -->
                                <input type="text" class="form-control fidelity-form-input"
                                [attr.disabled]="cycleCountStockItemsDetails?.isNotSerialized == true ? null : true" formControlName="cycleCountIterationCount">
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="lockUnlockScanItems()"> Next </button>
                        <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToCycleCountList()"> Cancel </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
