<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
    </app-page-header>
    <form *ngIf="showFilterForm" [formGroup]="taskListFilterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;left: 20px;right: 68px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Request number</label>
                            <p-autoComplete formControlName="requestId" [style]="{'width':'100%'}" class="col-11 p-0"
                                [suggestions]="filterRequestNumberList" field="displayName" optionLabel="displayName"
                                dataKey="id" (completeMethod)="onSearchRequestNumber($event)" appendTo="body"
                                [minLength]="1">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Customer ID</label>
                            <p-autoComplete formControlName="customerId" [style]="{'width':'100%'}" class="col-11 p-0"
                                [suggestions]="filterCustomerList" field="displayName" optionLabel="displayName"
                                dataKey="id" (completeMethod)="onSearchCustomerId($event)" appendTo="body"
                                [minLength]="1">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Request Type</label>
                            <p-multiSelect [formControl]="taskListFilterForm?.controls['taskListRequestTypeIds']"
                                [virtualScroll]="true" [itemSize]="25" [options]="filterRequestTypeList"
                                defaultLabel="Select Request Type" styleClass="w-100" [baseZIndex]="100"
                                emptyFilterMessage="No Request Type Exists" maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Created By</label>
                            <p-autoComplete formControlName="createdUserId" [style]="{'width':'100%'}"
                                class="col-11 p-0" [suggestions]="filterCreatedByList" field="displayName"
                                optionLabel="displayName" dataKey="id" (completeMethod)="onSearchCreatedBy($event)"
                                appendTo="body" [minLength]="1">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fidelity-multiselect-dropdown-con">
                            <label>Status</label>
                            <p-multiSelect [formControl]="taskListFilterForm?.controls['taskListStatusIds']"
                                [options]="filterStatusList" defaultLabel="Select Status" styleClass="w-100"
                                [baseZIndex]="100" emptyFilterMessage="No Status Exists"
                                maxSelectedLabels="2"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" class="call-status-table"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [first]="first" [reset]="reset"
    [searchFirst]="true" (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>