::ng-deep .find-signal-table-con p-table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body {
    max-height: 32vh !important;
}

::ng-deep .mat-autocomplete-panel .mat-option .mat-option-text {
  font-size: 0.9rem!important;
}
::ng-deep .search-input .mat-form-field {
  border-radius:8px!important
}

::ng-deep .search-input  {
mat-form-field.mat-form-field.global-search-field {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;

  .global-search-field .mat-form-field-infix input {
    padding: 0!important;
    border-radius: 0!important;
    border: none!important;
  }

  .mat-form-field-suffix {
    top: 6px !important;
    right: -35px !important;
  }

}
}
