<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)">
</app-page-header>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="ibox-body brown-border white-bg">
                        <div class="tab-content">
                            <div class="tab-pane fade show active">
                                <app-view-page [col]="2" *ngIf="viewable">
                                </app-view-page>
                                <form customForm class="fidelity-popup-form" [formGroup]="dealerEmployeeAddEditForm" autocomplete="false"
                                    (ngSubmit)="onSubmit()">
                                    <div class=" sm-inputs">
                                        <h1 class="page-sub-title ext-padd">BASIC INFO</h1>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Role<span class="mandatory-field">*</span></label>
                                                    <select name="roleId" class="form-control fidelity-form-input"
                                                        formControlName="roleId" name="role">
                                                        <option [value]="null" disabled>Select Role</option>
                                                        <option *ngFor="let branch of roleList" [value]="branch.id">
                                                            {{branch.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4" >
                                                <div class="form-group">
                                                    <label>Dealer Branch<span class="mandatory-field">*</span></label>
                                                    <p-multiSelect formControlName="dealerBranchId" appendTo="body"
                                                        [defaultLabel]="'Select Dealer Branch'" autoWidth="false"
                                                        optionLabel="displayName" optionValue="id"
                                                        [style]="{'width':'100%'}" [options]="dealerBranchList">
                                                    </p-multiSelect>
                                                </div>
                                            </div>
                                            <!-- <div class="col-4">
                                                <div class="form-group">

                                                </div>
                                            </div> -->
                                            <div class="col-4" *ngIf="this.mandatoryFields.Name" >
                                                <div class="form-group">
                                                    <label>Name<span class="mandatory-field">*</span></label>
                                                    <input class="form-control fidelity-form-input"
                                                        placeholder="Enter Name"  formControlName="firstName"
                                                        name='Name' />
                                                </div>
                                            </div>
                                            <div class="col-4"  *ngIf="this.mandatoryFields.Surname">
                                                <div class="form-group">
                                                    <label>Surname<span class="mandatory-field">*</span></label>
                                                    <input class="form-control fidelity-form-input"
                                                         placeholder="Enter Surname" autocomplete="off"
                                                        formControlName="surname" name='surname' />
                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="this.mandatoryFields.SAID" >
                                                <div class="form-group">
                                                    <label>SAID<span class="mandatory-field">*</span></label>
                                                    <div class="col-12 p-relative p-0">
                                                        <input class="form-control fidelity-form-input"  autocomplete="new-password" minlength="13" maxlength="13"
                                                        formControlName="said" placeholder="Enter SAID"  [type]="hideSaid ? 'password' : 'text'"
                                                        name='SAID' />
                                                        <i (click)="showSaid()" [class]="hideSaid ? 'fa fa-eye-slash p-absolute' : 'fa fa-eye p-absolute'" aria-hidden="true" 
                                                        style="margin-top: 10px; margin-left: 8px;font-size: 18px;top: 0;right: 10px;background: white;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4"  *ngIf="this.mandatoryFields.ContactNumber" >
                                                <label>Contact Number<span class="mandatory-field">*</span></label>
                                                <div class="row fidelity-ph-no-field">
                                                    <div class="col-3 pr-0">
                                                        <div class="form-group" style="width:100%!important;">
                                                            <select class="form-control fidelity-form-input"
                                                                style="width: -1%!important;"
                                                                formControlName="contactNumberCountryCode">
                                                                <option *ngFor="let countryCode of countryCodes"
                                                                    [value]="countryCode.displayName">
                                                                    {{countryCode.displayName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-8 pl-0">
                                                        <div class="form-group" style="width: 85% !important;">
                                                            <input autocomplete="off" appPhoneMask
                                                                [title]="dealerBranchAddEditForm?.get('contactNumberCountryCode')?.value"
                                                                class="form-control fidelity-form-input"
                                                                formControlName="contactNumber" name="contact Number"
                                                                placeholder="Enter Phone Number">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="this.mandatoryFields.PSIRARegistrationNumber" >
                                                <div class="form-group">
                                                    <label>PSIRA Registration Number<span class="mandatory-field">*</span></label>
                                                    <input class="form-control fidelity-form-input"
                                                        formControlName="psiraRegistrationNumber"
                                                        placeholder="Enter PSIRA Registration Number" type="text"
                                                        name='psira Registration Number' />
                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="this.mandatoryFields.PSIRAExpiryDate">
                                                <div
                                                    class="form-group fidelity-date-picker-con p-relative custom-date-con">
                                                    <label>PSIRA Expiry Date<span class="mandatory-field">*</span></label>
                                                    <p-calendar [minDate]="startTodayDate"
                                                        formControlName="psiraExpiryDate" 
                                                        [style]="{'width':'100%'}">
                                                    </p-calendar>

                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="this.mandatoryFields.DeviceUUID">
                                                <div
                                                    class="form-group fidelity-date-picker-con p-relative custom-date-con">
                                                    <label>Device UUID<span class="mandatory-field">*</span></label>
                                                    <input class="form-control fidelity-form-input"
                                                        placeholder="Enter Device UUID" type="text"
                                                        formControlName="deviceUUID" name='device UUID' />
                                                </div>
                                            </div>
                                            <div class="col-4"   *ngIf="this.mandatoryFields.TechTestingMobileNumber">
                                                <label>Tech Testing Mobile Number<span class="mandatory-field">*</span></label>
                                                <div class="row fidelity-ph-no-field">
                                                    <div class="col-3 pr-0">
                                                        <div class="form-group" style="width:100%!important;">
                                                            <select class="form-control fidelity-form-input"
                                                                style="width: -1%!important;" name="Tech Testing Mobile Number"
                                                                formControlName="techTestingMobileNumberCountryCode">
                                                                <option *ngFor="let countryCode of countryCodes"
                                                                    [value]="countryCode.displayName">
                                                                    {{countryCode.displayName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-8 pl-0">
                                                        <div class="form-group" style="width: 85% !important;">
                                                            <input autocomplete="off" appPhoneMask
                                                                [title]="dealerBranchAddEditForm?.get('techTestingMobileNumberCountryCode')?.value"
                                                                class="form-control fidelity-form-input"
                                                                formControlName="techTestingMobileNumber" name="tech Testing Mobile Number"
                                                                placeholder="Enter Phone Number">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4"  *ngIf="this.mandatoryFields.TechTestingPassword">
                                                <div
                                                    class="form-group fidelity-date-picker-con p-relative custom-date-con">
                                                    <label>Tech Testing Password<span class="mandatory-field">*</span></label>
                                                    <div class="col-12 p-relative p-0">
                                                        <input class="form-control fidelity-form-input" placeholder="Enter Company Name" type="password"
                                                        formControlName="techTestingPassword"  [type]="hideTecPwd ? 'password' : 'text'"
                                                        name='tech Testing Password' />
                                                        <i (click)="showTecPwd()" [class]="hideTecPwd ? 'fa fa-eye-slash p-absolute' : 'fa fa-eye p-absolute'" aria-hidden="true"
                                                         style="margin-top: 10px; margin-left: 8px;font-size: 18px;top: 0;right: 10px;background: white;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="this.mandatoryFields.EmployedDate">
                                                <div
                                                    class="form-group fidelity-date-picker-con p-relative custom-date-con">
                                                    <label>Employee Date<span class="mandatory-field">*</span></label>
                                                    <p-calendar [minDate]="startTodayDate" 
                                                        formControlName="employedDate" 
                                                        [style]="{'width':'100%'}">
                                                    </p-calendar>

                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Username/Email Address<span class="mandatory-field">*</span></label>
                                                    <input class="form-control fidelity-form-input fidelity_email" autocomplete="new-emailAddress"
                                                        formControlName="emailAddress" placeholder="Enter emailAddress" name="Username/Email Address"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="this.mandatoryFields.PSIRAGrade" >
                                                <div
                                                    class="form-group fidelity-date-picker-con p-relative custom-date-con">
                                                    <label>PSIRA Grade<span class="mandatory-field">*</span></label>
                                                    <input class="form-control fidelity-form-input"
                                                        formControlName="psiraGradeNo" placeholder="Enter PSIRA Grade"
                                                        type="text" name='psiraGradeNo' />

                                                </div>
                                            </div>
                                        </div>
                                        <h1 class="page-sub-title ext-padd"   *ngIf="this.mandatoryFields.OtherDocument || this.mandatoryFields.CodeofConduct || this.mandatoryFields.PSIRARegistrationDocument  || this.mandatoryFields.ProfilePicture" >SUPPORTING DOCUMENTS</h1>
                                        <div class="row">
                                            <div class="col-4" *ngIf="this.mandatoryFields.CodeofConduct" >
                                                <div class="form-group">
                                                    <label class="labels">Code Of Conduct<span class="mandatory-field">*</span></label>
                                                    <div style="width: 100%;">
                                                        <label for="file" class="sr-only">File</label>
                                                        <div class="file-input-container">
                                                            <input class="file-input-ctrl" #fileInput type="file"
                                                                name="file" placeholder="Credit VettingDocName"
                                                                (change)="onFileSelected($event.target.files,0)" />
                                                        </div>
                                                        <div style="width: 100%; z-index: 1000;">
                                                            <div class="input-group" style="height: 40px;">
                                                                <input type="text" name="codeofConductFileName"
                                                                    [(ngModel)]="codeofConductFileName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    class="form-control file-input-text"
                                                                    placeholder="No file selected" readonly>
                                                                <span class="input-group-btn">
                                                                    <div
                                                                        class="btn custom-file-uploader file-input-btn">
                                                                        Browse
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <span *ngIf="isSubmit && !codeofConductObjTemp?.name" class="help is-danger" style="color: #dc3545;font-size: 0.8em;" >Code of Conduct File is required</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="this.mandatoryFields.PSIRARegistrationDocument"  >
                                                <div class="form-group">
                                                    <label class="labels">Psira Registration Document<span class="mandatory-field">*</span></label>
                                                    <div class="form-group" style="width: 100%;">
                                                        <label for="file" class="sr-only">File</label>
                                                        <div class="file-input-container">
                                                            <input class="file-input-ctrl" #fileInput type="file"
                                                                name="file" placeholder="Credit VettingDocName"
                                                                (change)="onFileSelected($event.target.files,1)" />
                                                        </div>
                                                        <div style="width: 100%; z-index: 1000;">
                                                            <div class="input-group" style="height: 40px;">
                                                                <input type="text"
                                                                    name="PSIRARegisterationDocumentFileName"
                                                                    [(ngModel)]="psiraRegisterationDocumentFileName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    class="form-control file-input-text"
                                                                    placeholder="No file selected" readonly>
                                                                <span class="input-group-btn">
                                                                    <div
                                                                        class="btn custom-file-uploader file-input-btn">
                                                                        Browse
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <span *ngIf="isSubmit && !psiraDocumentObjTemp?.name" class="help is-danger" style="color: #dc3545;font-size: 0.8em;" >PSIRA Registration Document File is required</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="this.mandatoryFields.ProfilePicture"  >
                                                <div class="form-group">
                                                    <label class="labels">Profile Picture<span class="mandatory-field">*</span></label>
                                                    <div class="form-group" style="width: 100%;">
                                                        <label for="file" class="sr-only">File</label>
                                                        <div class="file-input-container">
                                                            <input class="file-input-ctrl" #fileInput type="file"
                                                                name="file" placeholder="Credit VettingDocName"
                                                                (change)="onFileSelected($event.target.files,2)" />
                                                        </div>
                                                        <div style="width: 100%; z-index: 1000;">
                                                            <div class="input-group" style="height: 40px;">
                                                                <input type="text" name="profilePictureFileName"
                                                                    [(ngModel)]="profilePictureFileName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    class="form-control file-input-text"
                                                                    placeholder="No file selected" readonly>
                                                                <span class="input-group-btn">
                                                                    <div
                                                                        class="btn custom-file-uploader file-input-btn">
                                                                        Browse
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <span *ngIf="isSubmit && !profilePictureObjTemp?.name" class="help is-danger" style="color: #dc3545;font-size: 0.8em;" >Profile Picture File is required</span>
                                                        </div>
                                                        <span
                                                            style="position: absolute; width: 100%;bottom: 28px!important;; z-index: 10!important;">
                                                            <span class="duplicate" *ngIf="!isProfileImg">
                                                                Please select only image format.
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4"  *ngIf="this.mandatoryFields.OtherDocument" >
                                                <div class="form-group p-relative">
                                                    <label class="labels">Other Document<span class="mandatory-field">*</span></label>
                                                    <div class="form-group" style="width: 100%;">
                                                        <label for="file" class="sr-only">File</label>
                                                        <div class="file-input-container">
                                                            <input class="file-input-ctrl" #fileInput type="file"
                                                                name="file" placeholder="Credit VettingDocName"
                                                                (change)="onFileSelected($event.target.files,3)" />
                                                        </div>
                                                        <div style="width: 100%; z-index: 1000;">
                                                            <div class="input-group" style="height: 40px;">
                                                                <input type="text" name="otherDocumentFileName"
                                                                    [(ngModel)]="otherDocumentFileName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    class="form-control file-input-text"
                                                                    placeholder="No file selected" readonly>
                                                                <span class="input-group-btn">
                                                                    <div
                                                                        class="btn custom-file-uploader file-input-btn">
                                                                        Browse
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <span *ngIf="isSubmit && !OtherDocumentObjTemp?.name" class="help is-danger" style="color: #dc3545;font-size: 0.8em;" >Other Document File is required</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3" *ngIf="!viewable">
                                        <button id="initiate_order_btn" type="submit"
                                            class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Submit</button>
                                        <button id="create_new_leads_btn" type="button" (click)="resendVerficationLink()" *ngIf="employeeId"
                                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Resend Verfication Link</button>
                                        <button id="cancel_order_btn" class="btn btn-md-fidelity btn-default"
                                            routerLink="/dealer/employee-management">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>

        </div>
    </div>
</div>
