<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <div class="ibox-body brown-border view-box">
            <app-view-page [col]="2" [viewDetail]="clusterConfigViewDetails" [template]="1"></app-view-page>
            <h1 class="page-sub-title ext-padd mt-3">Sub Area List</h1>
            <br>
            <div class="container-fluid">
                <div class="header-row row">
                    <div class="col-4">Cluster Config Sub Area</div>
                    <div class="col-4">Vehicle Category</div>
                    <div class="col-4">Dispatch Mode</div>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <div class="children-row row mb-2"
                    *ngFor="let subarea of clusterConfigDetails">
                    <div class="col-4">
                        <input type="text" value={{subarea.subArea}} class="form-control fidelity-form-input disabled">
                    </div>
                    <div class="col-4">
                        <input type="text" value={{subarea.vehicleCategoryName}}
                            class="form-control fidelity-form-input disabled">
                    </div>
                    <div class="col-4">
                        <input type="text" value={{subarea.dispatchModeName}}
                            class="form-control fidelity-form-input disabled">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelClusterConfigBtn"
            routerLink='/event-management/event-configuration' [queryParams]="{tab:15}">Back</button>
    </div>
</div>