<div class="page-heading ">
    <!-- <h1 class="page-title d-inline-block">Stock Maintenance</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Inventory Management </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/inventory/stock-maintenance"> Stock Maintenance List </a>
        </li>
        <li class="breadcrumb-item">
            Stock Maintenance View : {{breadCrumbTitle | titlecase }}
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
        <a  class="fidelity-btn-circle fidelity-white-btn" (click)="navigateToEdit()">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a>
    </div>
    <div class="clearfix"></div> -->
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)" >
    </app-page-header>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">

        <div class="ibox-body brown-border">
            <div class="row">
                <div class="col-10 view-box">
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stock Code</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{stockMaintenancesDetail?.stockCode}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stock Description</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{stockMaintenancesDetail?.stockDescription}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key"> Stock Code Barcode </span>
                                <span id="" class="" *ngIf="stockMaintainanceHeaderImage?.stockCodeBarcode">
                                    <span class="">
                                        <div class="col-12 barCodePrint">
                                            <div class="row">
                                                <div class="col-6">
                                                    <i class="fa fa-barcode barCodePrintLabel" aria-hidden="true"></i>
                                                    <span style="font: size 16px;"> <b>{{stockMaintainanceHeaderImage?.stockCodeBarcode}}</b> </span>
                                                </div>
                                                <div class="col-6">
                                                    <button class="print-btn circle-plus-btn" printSectionId="print-section" matTooltip="Print" ngxPrint>
                                                        <i class="icon icon-print"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Creation Date</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">{{stockMaintenancesDetail?.createdDate | date }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">CP - Last Updated</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{stockMaintenancesDetail?.cpLastUpdated | date }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="img-con" style="width: 80px; height: 80px;">
                        <img class="img-circle" style="width: 100%;height: 100%;"
                        [src]="stockMaintainanceHeaderImage?.imagePath ? stockMaintainanceHeaderImage?.imagePath : './assets/img/upload.png'" />
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-body brown-border mt-3 pb-0">
            <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabClicked($event)" class="fidelity-tab-group stock-main-view-tab mat-tab-body-padding-0 stock-maintenance-group">
                <!-- Recent Activities -->
                <mat-tab label="Product- Maintenance" class="bg-gray">
                    <div>
                        <div class="custom-scroll1" style="overflow-x: auto;height: 30vh">
                            <div class="container-fluid example-large-box p-relative maintenance-con view-box" style="font-size: 1rem;">
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Material Type</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.materialType:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Valuation Class</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.valuationClass:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Unit of Measure</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.unitOfMeasure:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Contract Expiry Date</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?(stockMaintenancesDetail?.productMaintenance?.contractExpiryDate| date) :"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Contract Cost (R)</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.contractCost:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Max Average Cost (R)</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.maxAverageCost:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Cost Price (R)</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block"> 
                                                    {{ stockMaintenancesDetail?.productMaintenance ? stockMaintenancesDetail?.productMaintenance?.costPrice : "-" }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Cost Source</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block"> 
                                                    {{stockMaintenancesDetail?.productMaintenance ? stockMaintenancesDetail?.productMaintenance?.costSource : "-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Warranty Period</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.warrentyPeriod:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Ownership</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.ownership:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">System Type</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.systemType:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Component Group</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.componentGroup:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Component</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.component:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Brand</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.brand:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Labour Component</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.labourComponent:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Condition</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.condition:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">New Stock Code</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.newStockCode:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                        <span id="" class="key">Document Type</span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">
                                                {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.documentType :"-"}}
                                            </span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6" *ngIf="this.isShowRepairCode != true && this.condition !='Non-Stock' && this.condition !='Repair Code' ">
                                        <div class="d-flex">
                                        <span id="" class="key"> Stock Code </span>
                                        <span id="" class="value">
                                            <span class="d-inline-block">
                                                {{stockMaintenancesDetail?.productMaintenance ? stockMaintenancesDetail?.productMaintenance?.isNotSerialized == false ? "Serialized" : "Not serialized" :"-"}}
                                            </span>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Full Stock Description</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.fullStockDescription:"-"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Supporting Documents</span>
                                            <div >
                                               <p  *ngFor="let item of documents; let i=index">
                                                <a [href]="item.docPath" download>{{item.docName}}</a>
                                               </p> 
                                                <!-- <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.fullStockDescription:"-"}}
                                                </span> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Obsolete</span>
                                            <span id="" class="value">
                                                <span class="d-inline-block">
                                                    {{stockMaintenancesDetail?.productMaintenance?.isobsolete ? 'Yes' : "No"}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <!--===============================ADDRESS INFO TAB===============================-->
                <mat-tab label="Product- Warehouse" class="bg-gray" [disabled]="isSaveMaintenance || isShowRepairCode">
                    <div>
                        <div class="custom-scroll1" style="overflow-x: auto;height: 33vh">
                            <div class="container-fluid p-relative warehouse-con" *ngIf="productWarehouseDetails?.length > 0">
                                <mat-accordion>
                                    <div *ngFor="let controls of productWarehouseDetails; let i=index">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <div class="page-sub-title"> {{ controls?.districtName ? controls?.districtName : '-' }}  </div>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <label class="d-block"> Sellable </label>
                                                            <mat-radio-group disabled>
                                                                <mat-radio-button class="fidelity-radio-btn mr-3" [checked]="controls?.isSellable ? 'true' : 'false'" value="true"> Yes </mat-radio-button>
                                                                <mat-radio-button class="fidelity-radio-btn mr-3" [checked]="!controls?.isSellable ? 'true' : 'false'" value="false"> No </mat-radio-button>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <label class="d-block"> Sellable From </label>
                                                            <input type="text" class="fidelity-form-input form-control disabled" [value]="controls?.sellableFrom ? (controls?.sellableFrom | date) : '-'">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="controls?.productDetails?.length > 0">
                                                <div class="container-fluid">
                                                    <div class="row product-header-row mb-2" style="font-size: 1rem;color: #000;flex-wrap: nowrap;">
                                                        <div class="col-3"> Warehouse </div>
                                                        <div class="col-1"> Procurable </div>
                                                        <div class="col-2"> Temporary/Permanent </div>
                                                        <div class="col-2"> Procurable To </div>
                                                        <div class="col-2"> Last Movement Date </div>
                                                        <div class="col-1"> Ageing Days </div>
                                                        <!-- <div class="col-1"> Obsolete </div> -->
                                                    </div>
                                                </div>
                                                <div class="container-fluid" *ngFor="let obj of controls?.productDetails; let j=index">
                                                    <div class="row children-row" style="color: #000;font-size: 1rem;
                                                        flex-wrap: nowrap;">
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <input-custom-control [extraClassNames]="'disabled'" [value]="obj?.warehouseName"></input-custom-control>
                                                            </div>
                                                        </div>
                                                        <div class="col-1 d-flex justify-content-center align-items-start">
                                                            <div class="form-group">
                                                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" disabled [checked]="obj?.procurable ? true : false"></mat-checkbox>
                                                            </div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="form-group">
                                                                <input-custom-control [extraClassNames]="'disabled'" [value]="obj?.itemSellableTypeName"></input-custom-control>
                                                            </div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="form-group">
                                                                <input-custom-control [extraClassNames]="'disabled'" [value]="obj?.procurableTo"></input-custom-control>
                                                            </div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="form-group">
                                                                <input-custom-control [extraClassNames]="'disabled'" [value]="obj?.lastMovementDate ? (obj?.lastMovementDate | date) : '-'"></input-custom-control>
                                                            </div>
                                                        </div>
                                                        <div class="col-1">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control fidelity-form-input disabled" name="ageingDays" [value]="obj?.ageingDays">
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-1 d-flex justify-content-center align-items-start">
                                                            <div class="form-group">
                                                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" disabled [checked]="obj?.obsolete ? true : false"></mat-checkbox>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row children-row" *ngIf="controls?.productDetails?.length == 0">
                                                <div class="col">
                                                    <b>No Record Found</b>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </div>
                                </mat-accordion>
                            </div>
                            <div class="row children-row" *ngIf="productWarehouseDetails?.length == 0">
                                <div class="col">
                                    <b>No Record Found</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Product- Threshold" class="bg-gray"  [disabled]="isSaveMaintenance || isShowRepairCode">
                    <div>
                        <div class="custom-scroll1" style="overflow-x: auto;height: 44vh">
                            <form action="">
                                <div class="container-fluid example-large-box p-relative threshold-con" style="padding: 0 30px;">
                                    <div class="row mb-2" style="font-size: 1rem;">
                                        <div class="col-6">Warehouse</div>
                                        <div class="col-2">Min Threshold</div>
                                        <div class="col-2">Max Threshold</div>
                                        <div class="col-2 p-0">Threshold - Last Updated</div>
                                    </div>
                                    <div class="row children-row" *ngFor="let thresholdItems of stockMaintenancesDetail?.productThreshold">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <input-custom-control [extraClassNames]="'disabled'" [value]="thresholdItems.warehouseName"></input-custom-control>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <input-custom-control [extraClassNames]="'disabled'" [value]="thresholdItems.minimumThreshold"></input-custom-control>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <input-custom-control [extraClassNames]="'disabled'" [value]="thresholdItems.maximumThreshold"></input-custom-control>
                                            </div>
                                        </div>
                                        <div class="col-2 p-0">
                                            <div class="form-group">
                                                <input-custom-control [extraClassNames]="'disabled'" [value]="thresholdItems.thresholdLastUpdated | date"></input-custom-control>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row children-row" *ngIf="stockMaintenancesDetail?.productThreshold?.length == 0">
                                        <div class="col">
                                            <b>No Record Found</b>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Product- Skill Mapping" class="bg-gray"  [disabled]="isSaveMaintenance || isShowRepairCode">
                           <form>
                            <div class="container-fluid example-large-box p-relative maintenance-con view-box">
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">System Type</span>
                                            <span id="" class="value">
                                                    <span class="d-inline-block">
                                                        {{stockMaintenancesDetail?.productSkillMapping?stockMaintenancesDetail?.productSkillMapping?.systemType:"-"}}
                                                    </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">System Type Sub Category</span>
                                            <span id="" class="value pl-5">
                                                    <span class="d-inline-block">
                                                        {{stockMaintenancesDetail?.productSkillMapping?stockMaintenancesDetail?.productSkillMapping?.systemTypeSubCategory:"-"}}
                                                    </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Job Type</span>
                                            <span id="" class="value">
                                                    <span class="d-inline-block">
                                                        {{stockMaintenancesDetail?.productSkillMapping?stockMaintenancesDetail?.productSkillMapping?.jobType:"-"}}

                                                    </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <span id="" class="key">Technical Skill Levels</span>
                                            <span id="" class="value p-relative" style="right: -6%;">                                          
                                                    <span class="d-inline-block">
                                                      <span *ngIf="productSkillArray?.length">
                                                        <span style="width: auto;font-size: 1rem;" *ngFor="let skill of productSkillArray">
                                                          <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" [checked]="true" [disabled]="true">
                                                          </mat-checkbox> <span class="pr-1 p-relative" style="top: 3px;">{{skill}}</span>
                                                        </span>
                                                      </span>
                                                    </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </form>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>


<div *ngIf="barcodes.length > 0" style="visibility:hidden">
    <app-barcode-printer [printcodes]="barcodes"> </app-barcode-printer>
</div>
