<div class="page-heading ">
    <h1 class="page-title d-inline-block">Stock Maintenance</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Inventory Management </a>
        </li>
        <li class="breadcrumb-item" >
            <a routerLink="/inventory/stock-maintenance"> Stock Maintenance List </a>
        </li>
        <li class="breadcrumb-item" (click)="navigateToView()">
            <a> Stock Maintenance View </a>
        </li>
        <li class="breadcrumb-item">
            Stock Maintenance Update: {{breadCrumbTitle | titlecase }}
        </li>
    </ol>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg space-saving-con">
        <div class="ibox-body brown-border ibox-body-custom">
            <div class="row">
                <div class="col-10 view-box">
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stock Code</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{stockMaintenancesDetail?.stockCode ? stockMaintenancesDetail?.stockCode : ''}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Stock Description</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{stockMaintenancesDetail?.stockDescription}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key"> Stock Code Barcode </span>
                                <span id="" class="" *ngIf="stockMaintenancesDetail?.stockCodeBarcode">
                                    <span class="">
                                        <div class="col-12 barCodePrint">
                                            <div class="row">
                                                <div class="col-6">
                                                    <i class="fa fa-barcode barCodePrintLabel" aria-hidden="true"></i>
                                                    <span style="font: size 16px;"> <b>{{ productMaintenanceForm?.get('stockCodeBarcode')?.value }}</b> </span>
                                                </div>
                                                <div class="col-6">
                                                    <button class="print-btn circle-plus-btn" printSectionId="print-section" matTooltip="Print" ngxPrint>
                                                        <i class="icon icon-print"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Creation Date</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{stockMaintenancesDetail?.createdDate | date}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">CP - Last Updated</span>
                                <span id="" class="value">
                                    <span class="d-inline-block">
                                        {{stockMaintenancesDetail?.cpLastUpdated | date }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <span class="d-inline-flex justify-content-center align-items-center p-relative" style="width: 80px;height: 80px;border-radius: 50%; border: 1px solid #aeaeae;cursor: pointer;">
                        <img class="img-circle" style="width: 100%;height: 100%;max-width: 100%;"
                        [src]="stockMaintainanceHeaderImage ? stockMaintainanceHeaderImage : './assets/img/upload.png'" />
                        <input #fileInput multiple type="file" name="file"  [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                        style="width: 80px;position: absolute;left: 0px;top: -1px;height: 80px;opacity: 0;cursor: pointer;" (change)="uploadFiles($event)" />
                        <button class="p-absolute circle-plus-btn upload-hover-btn"  style="left: 0;">
                            <input #fileInput multiple type="file" name="file" [src]="stockMaintainanceHeaderImage ? stockMaintainanceHeaderImage : './assets/img/upload.png'"  [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                            style="width: 80px;position: absolute;left: 0px;top: -1px;height: 80px;opacity: 0;cursor: pointer;" (change)="uploadFiles($event)" />
                            <i class="icon icon-upload"></i>
                        </button>
                        <button class="p-absolute circle-minus-btn upload-hover-btn" (click)="removeItem($event)"style="background-color: #ed4a4a;right: 0;">
                            <i class="icon icon-delete"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>
        <div class="brown-border mt-3 pb-0">
            <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabClicked($event)" class="fidelity-tab-group stock-main-add-edit-tab mat-tab-body-padding-0 stock-maintenance-group">

                <mat-tab label="Product- Maintenance" [disabled]="!editPermissions['Product Maintenance']?.view" class="bg-gray">
                    <form customForm [formGroup]="productMaintenanceForm">
                        <div class="custom-scroll1" style="overflow-x: auto;height: 35vh">
                            <div class="container-fluid example-large-box p-relative maintenance-con">
                                <div class="row sm-inputs">
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Material Type <span class="mandatory-field">*</span></label>
                                        <!-- formControlName="material_type" -->
                                        <!-- {{stockMaintenancesDetail?.productMaintenance?stockMaintenancesDetail?.productMaintenance?.materialType:"-"}} -->
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="stockMaintenancesDetail?.materialType?stockMaintenancesDetail?.materialType : '-'"></input-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Valuation Class <span class="mandatory-field">*</span></label>
                                        <!-- formControlName="valuation_class" -->
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="stockMaintenancesDetail?.valuationClass?stockMaintenancesDetail?.valuationClass:'-'"></input-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Unit of Measure<span class="mandatory-field">*</span></label>
                                        <!-- formControlName="unit_measure" -->
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="stockMaintenancesDetail?.unitOfMeasure?stockMaintenancesDetail?.unitOfMeasure: '-'"></input-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Contract Expiry Date<span class="mandatory-field">*</span></label>
                                        <!-- formControlName="contract_expiry_date" -->

                                        <input-custom-control [extraClassNames]="'disabled'" [value]="stockMaintenancesDetail?.contractExpiryDate?(stockMaintenancesDetail?.contractExpiryDate  | date) :'-'"></input-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Contract Cost (R)<span class="mandatory-field">*</span></label>
                                        <!-- formControlName="contract_cost" -->
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="stockMaintenancesDetail?.contractCost ? stockMaintenancesDetail?.contractCost : '-'"></input-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Max Average Cost (R)<span class="mandatory-field">*</span></label>
                                        <!-- formControlName="max_average" -->
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="stockMaintenancesDetail?.maxAverageCost ?stockMaintenancesDetail?.maxAverageCost : '-'"></input-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Document Type</label>
                                        <!-- formControlName="max_average" -->
                                        <input-custom-control [extraClassNames]="'disabled'" [value]="stockMaintenancesDetail?.documentType ?stockMaintenancesDetail?.documentType : '-'"></input-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Cost Price (R)<span class="mandatory-field">*</span></label>
                                        <input type="text" class="form-control fidelity-form-input"
                                        [attr.disabled]="stockMaintenancesDetail?.contractCost > 0 ? true : null" formControlName="costPrice">
                                        <!-- <input-custom-control formControlName="costPrice" [attr.disabled]="true"></input-custom-control> -->
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Cost Source<span  class="mandatory-field">*</span></label>
                                        <!--  -->
                                        <select-custom-control [extraClassNames]="'disabled'" [loopableArray]='costCourseList' formControlName="costSourceId">
                                        </select-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Warranty Period<span *ngIf="isMandetory" class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='warrantyPeriodsList' formControlName="warrentyPeriodId">
                                        </select-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Ownership<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='ownershipList' formControlName="ownershipId">
                                        </select-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>System Type<span class="mandatory-field">*</span></label>
                                        <!--  -->
                                        <select-custom-control [loopableArray]='systemTypeList' formControlName="systemTypeId">
                                        </select-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Component Group<span class="mandatory-field">*</span></label>
                                        <!--  -->
                                        <select-custom-control [loopableArray]='componentGroupList' formControlName="componentGroupId">
                                        </select-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Component<span class="mandatory-field">*</span></label>
                                        <!--  -->
                                        <select-custom-control [loopableArray]='componentList' formControlName="componentId">
                                        </select-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Brand<span class="mandatory-field">*</span></label>
                                        <!-- formControlName="brand" -->
                                        <select-custom-control [loopableArray]='brandList' formControlName="brandId">
                                        </select-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Labour Component<span class="mandatory-field">*</span></label>
                                        <input-custom-control formControlName="labourComponent"></input-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group">
                                        <label>Condition<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='conditionList'
                                        (change)="onChangeCondition(productMaintenanceForm.get('conditionId').value,$event.target.value)" formControlName="conditionId">
                                        </select-custom-control>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label>New Stock Code<span class="mandatory-field">*</span></label>
                                        <!-- [selectDisabled]="conditionId != 'Refurbished'" -->
                                        <!-- <select-custom-control [loopableArray]='stockCodesList' formControlName="newStockCode">
                                        </select-custom-control> -->

                                        <div class="display-flex">
                                            <p-dropdown placeholder="Select Stock Code"  optionLabel="displayName" optionValue="id"
                                            [options]="stockList"  dataKey="id" [style]="{'width':'100%'}"
                                            formControlName="newStockCode" [disabled]="true"
                                            [filter]="true" [showClear]="true"
                                            [resetFilterOnHide]="true"
                                            class="reference-select" >
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-4" *ngIf="isShowRepairCode!=true && this.condition !='Non-Stock' && this.condition !='Repair Code'">
                                    <div class="form-group">
                                        <label>Stock Code</label>
                                        <div>
                                            <mat-radio-group formControlName="isNotSerialized" name="Type Of Fee" [disabled]="showRepairCodeChecked || isShowRepairCode" (change)="changeStockCodes()">
                                                <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                    Serialized
                                                </mat-radio-button>
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                    Not Serialized
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        <!-- <radio-group-custom-control [loopableArray]="['Yes','No']" formControlName="isNotSerialized"></radio-group-custom-control> -->
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group">
                                        <label>Full Stock Description<span class="mandatory-field">*</span></label>
                                        <textarea name="" id="" class="form-control fidelity-form-input" rows="2" formControlName="fullStockDescription" ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Obsolete</label>
                                            <div>
                                                <mat-radio-group formControlName="isobsolete" name="obsolete">
                                                    <mat-radio-button class="fidelity-radio-btn" [value]="true">
                                                        Yes
                                                    </mat-radio-button>
                                                    <mat-radio-button class="fidelity-radio-btn mr-3" [value]="false">
                                                        No
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4" *ngIf="stockId">
                                        <div class="form-group">
                                            <label>Supporting Documents<span class="mandatory-field">*</span></label>
                                            <div class="input-group fidelity-input-addon mb-3">
                                                <input type="text" name="supportingDocuments" id="supportingDocuments"
                                                    class="form-control fidelity-form-input" formControlName="supportingDocuments">
                                                <div class="input-group-append">
                                                    <button class="text-white" type="button" (click)="openManalRepository()"><i aria-hidden="true"
                                                    class="fa fa-paperclip"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label> Stock Code Barcode </label>
                                            <input-custom-control name="stockBarcode" formControlName="stockCodeBarcode"></input-custom-control>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-3" (click)="saveProductMaintenance()">Save</button>
                                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" routerLink="/inventory/stock-maintenance">Cancel</button>
                            </div>
                        </div>

                    </form>
                </mat-tab>

                <mat-tab label="Product- Warehouse" class="bg-gray" [disabled]="!editPermissions['Product - Warehouse']?.view || isSaveMaintenance || isShowRepairCode" >
                    <form customForm [formGroup]="productWarehouseFrom" (ngSubmit)="productWarehouseSubmit()">
                        <div class="stockmaintenance-warehouse-height">
                            <div class="custom-scroll1" style="overflow-x: auto;height: 39vh;">
                                <div class="container-fluid p-relative warehouse-con">
                                    <div class="row">
                                        <div class="col-4 fidelity-multiselect-dropdown-con">
                                            <div class="form-group district">
                                                <label class="d-block"> District  </label>
                                                <!-- <mat-select-autocomplete ngDefaultControl
                                                    [id]="'productWarehouse'"
                                                    [formControl]="productWarehouseFrom?.controls['districtId']"
                                                    [placeholder]="'Select District'"
                                                    [options]="districtDropdown"  [selectedOptions]="selectedOptions"
                                                    (selectionChange)="getDistrictSelectedValue($event)"
                                                    [multiple]='true' [value]="'value'" [display]="'display'">
                                                </mat-select-autocomplete> -->
                                                <p-multiSelect appendTo="body" [defaultLabel]="'Select Warehouse'" autoWidth="false"
                                                [style]="{'width':'100%'}" optionLabel="display" optionValue="value" dataKey="value"
                                                [options]="districtDropdown" formControlName="districtId"
                                                (onChange)="getDistrictSelectedValue($event)">
                                               </p-multiSelect>
                                            </div>
                                        </div>
                                        <div class="col-4 fidelity-multiselect-dropdown-con">
                                            <div class="form-group district">
                                                <label class="d-block"> Sellable All </label>
                                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" (change)="onChangeSellable($event)"> </mat-checkbox>

                                            </div>
                                        </div>
                                        <div class="col-4 fidelity-multiselect-dropdown-con">
                                            <div class="form-group district">
                                                <label class="d-block"> Procurable All </label>
                                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" [disabled]="stockMaintenancesDetail?.isobsolete" (change)="onChangeProcurable($event)"> </mat-checkbox>
                                            </div>
                                        </div>
                                        <div *ngIf="!buttonDisabled" style="width:100%">
                                            <mat-accordion>
                                                <div *ngIf="productWarehouseFrom?.get('stockProductWarehouseFormArray')?.controls?.length > 0">
                                                    <div formArrayName="stockProductWarehouseFormArray" class="pt-1"
                                                        *ngFor="let controls of productWarehouseFrom?.get('stockProductWarehouseFormArray')?.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title>
                                                                        <div class="page-sub-title"> {{controls?.get('districtName').value}}  </div>
                                                                    </mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <div *ngIf="controls?.get('productDetailsArray')?.value?.length > 0">
                                                                    <div class="container-fluid mt-2">
                                                                        <div class="row">
                                                                            <div class="col-2">
                                                                                <div class="form-group">
                                                                                    <label class="d-block"> Sellable <span class="mandatory-field"> * </span> </label>
                                                                                    <mat-radio-group   (change)="enableChange()" formControlName="isSellable" >
                                                                                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                                                            Yes
                                                                                        </mat-radio-button>
                                                                                        <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                                                            No
                                                                                        </mat-radio-button>
                                                                                    </mat-radio-group>
                                                                                    <!-- <radio-group-custom-control (click)="enableChange()" [loopableArray]="['Yes','No']" name="isSellable" formControlName="isSellable"></radio-group-custom-control> -->
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-2 fidelity-date-picker-con p-relative standby-roaster-date-con">
                                                                                <div class="form-group">
                                                                                    <label class="d-block" for=""> Sellable From <span class="mandatory-field">*</span> </label>
                                                                                    <p-calendar (ngModelChange)="enableChange()"  yearRange="1970:2080" styleClass="w-100"
                                                                                        [readonlyInput]="true"  [minDate]="minDate"[disabledDates]="invalidDates" formControlName="sellableFrom"
                                                                                        [disabled]="controls?.get('isSellable').value ? false : true">
                                                                                    </p-calendar>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="container-fluid mt-3">
                                                                        <div class="row product-header-row mb-2" style="font-size: 1rem;color: #000;flex-wrap: nowrap;">
                                                                            <div class="col-3"> Warehouse <span class="mandatory-field">*</span></div>
                                                                            <!-- formControlName="isAllProcurable" -->
                                                                            <div class="col-1">
                                                                                <mat-checkbox style="margin-left: -9px !important;" class="fidelity-checkbox fidelity-checkbox-header" formControlName="isAllProcurable"
                                                                                (change)="checkAllProcurableEvent($event.checked, controls?.get('productDetailsArray').controls, i)"
                                                                                [disabled]="stockMaintenancesDetail?.condition == 'Refurbished' || stockMaintenancesDetail?.isobsolete ? true : null">
                                                                                </mat-checkbox> Procurable
                                                                            </div>
                                                                            <div class="col-2"> Temporary/Permanent <span class="mandatory-field">*</span> </div>
                                                                            <div class="col-2"> Procurable To <span class="mandatory-field">*</span> </div>
                                                                            <div class="col-2"> Last Movement Date <span class="mandatory-field">*</span> </div>
                                                                            <div class="col-1"> Ageing Days <span class="mandatory-field">*</span> </div>
                                                                            <!-- <div class="col-1">
                                                                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"
                                                                                (change)="checkAllObsoleteEvent($event.checked, controls?.get('productDetailsArray').controls, i)"
                                                                                [disabled]="stockMaintenancesDetail?.condition == 'Refurbished' ? true : null">
                                                                                </mat-checkbox> Obsolete
                                                                            </div> -->
                                                                            <!-- <div class="col-1"> Obsolete <span class="mandatory-field">*</span></div> -->
                                                                        </div>
                                                                    </div>
                                                                    <div class="container-fluid" formArrayName="productDetailsArray"
                                                                        *ngFor="let obj of getProductDetailsArray(i)?.controls; let j=index">
                                                                        <div class="row children-row" style="color: #000;font-size: 1rem;
                                                                            flex-wrap: nowrap;" [formGroupName]="j">
                                                                            <div class="col-3">
                                                                                <div class="form-group">
                                                                                    <input-custom-control  formControlName="warehouseName" maxlength="80" [extraClassNames]="'disabled'">
                                                                                    </input-custom-control>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-1 d-flex justify-content-center align-items-start">
                                                                                <div class="form-group">
                                                                                    <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"  (change)="enableChange()"
                                                                                    [disabled]="stockMaintenancesDetail?.condition == 'Refurbished' || stockMaintenancesDetail?.isobsolete  ? true : null" formControlName="procurable">
                                                                                    </mat-checkbox>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <select class="form-control fidelity-form-input" name="itemSellableTypeId" (change)="enableChange();procurableTypeChange(i,j,$event.target.value)"
                                                                                    formControlName="itemSellableTypeId" [attr.disabled]="obj?.get('procurable').value ? null : true">
                                                                                    <option value="" selected disabled>Select types</option>
                                                                                    <option [value]="item.id" *ngFor="let item of itemSellableTypes; let i=index">
                                                                                        {{item.displayName}}
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-2 fidelity-date-picker-con p-relative standby-roaster-date-con">
                                                                                <div class="form-group">
                                                                                    <p-calendar formControlName="procurableTo" [monthNavigator]="true" [yearNavigator]="true"
                                                                                    styleClass="w-100"  yearRange="1970:2080" [readonlyInput]="true"  [minDate]="minDate"[disabledDates]="invalidDates" (ngModelChange)="enableChange()"
                                                                                        [disabled]="obj?.get('itemSellableTypeId').value == 1 || !obj?.get('procurable').value ? true : false">
                                                                                    </p-calendar>
                                                                                </div>
                                                                                <span style="position: absolute;top: 31px;" *ngIf="isSubmit && getProductDetailsArray(i)?.controls[j]?.get('itemSellableTypeId').value==2 && !getProductDetailsArray(i)?.controls[j]?.get('procurableTo').value " class="text-danger ng-star-inserted"> Procurable To is required </span>
                                                                            </div>
                                                                            <!-- <div class="col-2 fidelity-date-picker-con p-relative">
                                                                                <mat-form-field>
                                                                                    <input matInput [matDatepicker]="procurableTo" [min]="minDate" formControlName="procurableTo" disabled>
                                                                                    <mat-datepicker startView="year" #procurableTo
                                                                                    [disabled]="obj?.get('itemSellableTypeId').value == 1 || !obj?.get('procurable').value ? true : false"></mat-datepicker>
                                                                                </mat-form-field>
                                                                            </div> -->
                                                                            <div class="col-2">
                                                                                <div class="form-group">
                                                                                    <input-custom-control [extraClassNames]="'disabled'" formControlName="lastMovementDate" ></input-custom-control>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-1">
                                                                                <div class="form-group">
                                                                                    <input type="text" disabled name="ageingDays" formControlName="ageingDays" class="form-control fidelity-form-input">
                                                                                </div>
                                                                            </div>
                                                                            <!-- <div class="col-1 d-flex justify-content-center align-items-start">
                                                                                <div class="form-group">
                                                                                    <mat-checkbox (change)="enableChange()"  class="fidelity-checkbox fidelity-checkbox-header" formControlName="obsolete" >
                                                                                    </mat-checkbox>
                                                                                </div>
                                                                            </div> -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row children-row" *ngIf="controls?.get('productDetailsArray')?.value?.length == 0">
                                                                    <div class="col">
                                                                        <b>No Record Found</b>
                                                                    </div>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-accordion>
                                        </div>
                                        <!-- productWarehouseFrom?.get('stockProductWarehouseFormArray')?.controls?.length == 0 -->
                                        <div class="row children-row" *ngIf="buttonDisabled">
                                            <div class="col">
                                                <b>No Record Found</b>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="text-center" style="margin-top: 12px;">
                                        <button type="submit" class="btn btn-sm-fidelity fidelity-btn-brown mr-3"
                                        [attr.disabled]="buttonDisabled || isChange ? true : null"> Save </button>
                                        <button class="btn btn-sm-fidelity fidelity-btn-grey btn-default" routerLink="/inventory/stock-maintenance">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </form>
                </mat-tab>

                <!-- [disabled]="isSaveMaintenance" -->
                <mat-tab label="Product- Threshold" class="bg-gray" [disabled]="!editPermissions['Product - Threshold']?.view || isSaveMaintenance || isShowRepairCode" >
                    <form customForm [formGroup]="productThresholdDetailForm" >
                        <div>
                            <div class="custom-scroll1" style="overflow-x: auto;height: 24vh">
                                <div class="container-fluid example-large-box p-relative threshold-con" style="padding: 0 30px;">
                                    <div class="row">
                                        <div class="col-4 fidelity-multiselect-dropdown-con">
                                            <div class="form-group">
                                                <label class="d-block">Warehouse </label>
                                                <!-- <mat-select-autocomplete ngDefaultControl [id]="'tresholdWarehouse'" class="input-width-medium" name="tresholdWarehouse"
                                                [placeholder]="'Select Warehouse'" [options]="locationList"
                                                [display]="'display'" [multiple]='true' [value]="'value'" (selectionChange)="getSelectedNotifications($event)"
                                                [formControl]="productThresholdDetailForm?.controls['productThresholdWarehouseId']"
                                                > -->
                                                <!--  ignore this line in mat [selectedOptions]="selectedThresholdLocations"
                                                (selectionChange)="getSelectedNotifications($event)"-->
                                                <!-- </mat-select-autocomplete> -->

                                                <p-multiSelect appendTo="body" [defaultLabel]="'Select Warehouse'" autoWidth="false"
                                                [style]="{'width':'100%'}" optionLabel="display" optionValue="value" dataKey="value"
                                                [options]="locationList" formControlName="productThresholdWarehouseId"
                                                (onChange)="getSelectedNotifications($event)">
                                               </p-multiSelect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2 threshold-header-con" style="font-size: 11px;">
                                        <div class="col-6">Warehouse<span class="mandatory-field">*</span></div>
                                        <div class="col-2">Min Threshold<span class="mandatory-field">*</span></div>
                                        <div class="col-2">Max Threshold<span class="mandatory-field">*</span></div>
                                        <div class="col-2 p-0">Threshold - Last Updated<span class="mandatory-field">*</span></div>
                                    </div>
                                    <div formArrayName="productThresholdDetails">
                                        <div class="row mt-1" *ngFor="let control of productThresholdFormArray?.controls; let i = index" [formGroupName]="i">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <!-- formControlName="warehouseName"  -->
                                                    <input-custom-control [value]="productThresholdFormArray?.controls[i]?.get('warehouseName')?.value "
                                                    [extraClassNames]="'disabled'" ></input-custom-control>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <input maxlength="9" class="form-control fidelity-form-input" formControlName="minimumThreshold"
                                                    (change)="valueChange($event.target.value,i,'minimumThreshold')" [attr.disabled]="isCondition">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <!-- formControlName="max_threshold1" -->
                                                    <input maxlength="9" class="form-control fidelity-form-input" formControlName="maximumThreshold"
                                                     (change)="valueChange($event.target.value,i,'maximumThreshold')"  [attr.disabled]="isCondition">
                                                </div>
                                            </div>
                                            <div class="col-2 p-0">
                                                <div class="form-group">
                                                    <!-- formControlName="thresholdLastUpdated" -->
                                                    <input-custom-control readonly [value]="productThresholdFormArray?.controls[i]?.get('thresholdLastUpdated')?.value | date "
                                                    [extraClassNames]="'disabled'"></input-custom-control>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row " *ngIf="productThresholdFormArray?.controls.length ==0">
                                            <div class="col">
                                                <b>No Record Found</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <!-- <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-3" [disabled]="isThresholdFlag" >Save</button> -->
                            <button type="submit" (click)="saveProductThreshold()" class="btn btn-md-fidelity fidelity-btn-brown mr-3"  >Save</button>
                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" routerLink="/inventory/stock-maintenance">Cancel</button>
                        </div>
                    </form>
                </mat-tab>
                <!-- [disabled]="isSaveMaintenance" -->
                <mat-tab label="Product- Skill Mapping" class="bg-gray" [disabled]="!editPermissions['Product - Skill Mapping']?.view || isSaveMaintenance || isSkillMapping || isShowRepairCode">
                    <div>
                        <form customForm [formGroup]="productSkillMappingForm">
                            <div class="container-fluid sm-inputs">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="">System Type<span class="mandatory-field">*</span></label>
                                            <input-custom-control [extraClassNames]="'disabled'" formControlName="systemTypeName"></input-custom-control>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="">System Type Sub Category<span  *ngIf="isDisctountSkillMapping" class="mandatory-field">*</span></label>
                                            <select-custom-control  [loopableArray]='getSubCategoryDropdown' formControlName="SystemTypeSubCategory"
                                            (change)="selectSubcategory($event.target.value)">
                                            </select-custom-control>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="">Job Type<span class="mandatory-field">*</span></label>
                                            <input-custom-control [extraClassNames]="'disabled'" [maxlength]="40" formControlName="jobTypeName"></input-custom-control>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="d-block">Technical Skill Levels <span *ngIf="isDisctountSkillMapping"  class="mandatory-field">*</span> </label>
                                            <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" formControlName="TechnicalSkillLevel1" (change)="setAll($event.checked,1)"
                                                [disabled]="showTechnicalSkillLevel || productSkillMappingForm?.value?.TechnicalSkillLevel4">
                                                <span>TSL1</span>
                                            </mat-checkbox>
                                            <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header ml-3"  formControlName="TechnicalSkillLevel2" (change)="setAll($event.checked,2)"
                                                [disabled]="showTechnicalSkillLevel || productSkillMappingForm?.value?.TechnicalSkillLevel4">
                                                <span>TSL2</span>
                                            </mat-checkbox>
                                            <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header ml-3"  formControlName="TechnicalSkillLevel3" (change)="setAll($event.checked,3)"
                                                [disabled]="showTechnicalSkillLevel || productSkillMappingForm?.value?.TechnicalSkillLevel4">
                                                <span>TSL3</span>
                                            </mat-checkbox>
                                            <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header ml-3"  formControlName="TechnicalSkillLevel4" (change)="setAll($event.checked,4)"
                                                [disabled]="showTechnicalSkillLevel">
                                                <span>TSL4</span>
                                            </mat-checkbox>
                                            <span class="text-danger" *ngIf="updateTechnicalSkillLevel===false">
                                               Please select atleast one checkbox
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button [disabled]="isButtondisabled" type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-3" (click)="saveProductMapping()">Save</button>
                                <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" routerLink="/inventory/stock-maintenance">Cancel</button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="showConditionPopup" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '530px'}">
    <p-header>
        Change Condition
    </p-header>
    <div class="confirm-msg">
        <div>
            <p *ngIf="isShowConditionModal"> Are you sure you want to change the condition of the stock code? </p>
            <p *ngIf="!isShowConditionModal"> Are you sure you want to change the serialized flag for the stock code? </p>
        </div>
        <div class="text-center mt-3" *ngIf="isShowConditionModal">
            <button type="submit" (click)="approvePopup()"
            class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Yes</button>
            <button class="btn btn-md-fidelity btn-default" (click)="cancelPopup()">No</button>
        </div>

        <div class="text-center mt-3" *ngIf="!isShowConditionModal">
            <button type="submit" (click)="approveStockCodePopup()"
            class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4">Yes</button>
            <button class="btn btn-md-fidelity btn-default" (click)="cancelStockCodePopup()">No</button>
        </div>

    </div>
</p-dialog>

<div *ngIf="barcodes.length > 0" style="visibility:hidden">
    <app-barcode-printer [printcodes]="barcodes"> </app-barcode-printer>
</div>
