<div class="ibox custom-scroll1 overflow-auto p-0 m-0" [formGroup]="requestFormGroup">
    <div class="ibox-body p-0 m-0 mb-3">
        <div class="row flex-nowrap">
            <div class="col-md-1 d-flex align-items-center justify-content-center"
                *ngIf="!viewable && getRequestFormArray?.value?.length !== 0">
                <mat-checkbox class="fidelity-checkbox" formControlName="checkAll" (change)="checkAll($event)"
                    #selectAll></mat-checkbox>
            </div>
            <div class="col-md-2" [ngClass]="{'pl-0': !viewable && getRequestFormArray?.value?.length !== 0}">Stock Code
            </div>
            <div class="col-md-5 pl-0">Stock Description</div>
            <div class="col-md-5 p-0">
                <div class="col-md-3 pl-0 float-left">Qty<span class="mandatory-field"
                        *ngIf="!viewable && selectedIndex == 1">*</span></div>
                <div class="col-md-5 pl-0 float-left">Moving Average Price (R)</div>
                <div class="col-md-4 pl-0 float-left">Write Off Value (R)</div>
                <div class="col-md-1 float-left" *ngIf="viewable && !viewable"></div>
            </div>
            <div class="col-md-2" *ngIf="viewable">Level 1 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 1 Reason</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 2 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 2 Reason</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 3 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 3 Reason</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 4 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 4 Reason</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 5 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 5 Reason</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 6 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 6 Reason</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 7 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 7 Reason</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 8 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 8 Reason</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 9 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 9 Reason</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 10 Action</div>
            <div class="col-md-2 pl-0" *ngIf="viewable">Level 10 Reason</div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="getRequestFormArray?.value?.length == 0 && !isLoading">No data
            available</div>
    </div>
    <div class="ibox-body p-0 m-0">
        <div formArrayName="requestDetailsArray"
            *ngFor="let item of getRequestFormArray?.controls;let i=index;let last = last;">
            <div class="row flex-nowrap" [formGroupName]="i">
                <div class="col-md-1 d-flex align-items-center justify-content-center" *ngIf="!viewable">
                    <!-- <mat-checkbox class="fidelity-checkbox" formControlName="checkAll" (change)="checkAll($event)" *ngIf="i == 0" #selectAll></mat-checkbox> -->
                    <mat-checkbox class="fidelity-checkbox" name="selectedFlag1" id="selectedFlag1{{i}}"
                        formControlName="selectedFlag" (change)="isAllSelected(i)"></mat-checkbox>
                </div>
                <div class="col-md-2" [ngClass]="{'pl-0': !viewable}">
                    <div class="form-group">
                        <mat-form-field class="form-control fidelity-form-input cursor-pointer"
                            (click)="onOpenStockInfo(i)">
                            <input matInput type="text" name="stockCode" id="stockCode{{i}}" class="fidelity-form-input"
                                [ngClass]="{'fidelity-form-input-highlight': selectedIndex == 0 && !viewable}"
                                formControlName="stockCode">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-5 pl-0">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="stockDescription" id="stockDescription{{i}}"
                                class="fidelity-form-input" formControlName="stockDescription">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-5 p-0">
                    <div class="col-md-3 pl-0 float-left">
                        <div class="form-group auto-adjust">
                            <mat-form-field class="form-control fidelity-form-input p-relative">
                                <span class="p-absolute currencyinput">-</span><input matInput type="text"
                                    name="quantity" id="quantity{{i}}" (keyup)="ValidateReqQty($event.target.value, i)"
                                    class="fidelity-form-input" formControlName="quantity"
                                    (keypress)="numericOnly($event)" required>
                            </mat-form-field>
                            <span class="text-danger" *ngIf="item?.get('quantity')?.touched && item?.get('quantity')?.invalid">
                                Quantity is required
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5 pl-0 float-left">
                        <div class="form-group auto-adjust">
                            <mat-form-field class="fidelity-form-input">
                                <input matInput type="text" name="movingAveragePrice" id="movingAveragePrice{{i}}"
                                    class="fidelity-form-input" formControlName="movingAveragePrice">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 pl-0 float-left">
                        <div class="form-group auto-adjust">
                            <mat-form-field class="form-control fidelity-form-input">
                                <input matInput type="text" name="writeOffValue" id="writeOffValue{{i}}"
                                    class="fidelity-form-input" formControlName="writeOffValue">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-1 pl-0 float-left" [ngClass]="{'d-flex align-items-center': i==0}"
                        *ngIf="viewable && !viewable">
                        <a *ngIf="(getRequestFormArray?.controls.length !== 0 && showAction) && !viewable"
                            id="delete_record" class="delete-row" (click)="removeKitItem(i)" matTooltip="Delete"><i
                                aria-hidden="true" class="icon icon-delete"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level1Action" id="level1Action{{i}}"
                                class="fidelity-form-input" formControlName="level1Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level1Reason" id="level1Reason{{i}}"
                                class="fidelity-form-input" formControlName="level1Reason">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level2Action" id="level2Action{{i}}"
                                class="fidelity-form-input" formControlName="level2Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level2Reason" id="level2Reason{{i}}"
                                class="fidelity-form-input" formControlName="level2Reason">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level3Action" id="level3Action{{i}}"
                                class="fidelity-form-input" formControlName="level3Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level3Reason" id="level3Reason{{i}}"
                                class="fidelity-form-input" formControlName="level3Reason">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level4Action" id="level4Action{{i}}"
                                class="fidelity-form-input" formControlName="level4Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level4Reason" id="level4Reason{{i}}"
                                class="fidelity-form-input" formControlName="level4Reason">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level5Action" id="level5Action{{i}}"
                                class="fidelity-form-input" formControlName="level5Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level5Reason" id="level5Reason{{i}}"
                                class="fidelity-form-input" formControlName="level5Reason">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level6Action" id="level6Action{{i}}"
                                class="fidelity-form-input" formControlName="level6Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level6Reason" id="level6Reason{{i}}"
                                class="fidelity-form-input" formControlName="level6Reason">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level7Action" id="level7Action{{i}}"
                                class="fidelity-form-input" formControlName="level7Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level7Reason" id="level7Reason{{i}}"
                                class="fidelity-form-input" formControlName="level7Reason">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level8Action" id="level8Action{{i}}"
                                class="fidelity-form-input" formControlName="level8Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level8Reason" id="level8Reason{{i}}"
                                class="fidelity-form-input" formControlName="level8Reason">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level9Action" id="level9Action{{i}}"
                                class="fidelity-form-input" formControlName="level9Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level9Reason" id="level9Reason{{i}}"
                                class="fidelity-form-input" formControlName="level9Reason">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level10Action" id="level10Action{{i}}"
                                class="fidelity-form-input" formControlName="level10Action">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 pl-0" *ngIf="viewable">
                    <div class="form-group auto-adjust">
                        <mat-form-field class="form-control fidelity-form-input">
                            <input matInput type="text" name="level10Reason" id="level10Reason{{i}}"
                                class="fidelity-form-input" formControlName="level10Reason">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-body p-0 m-0 mb-3" *ngIf="getRequestFormArray?.value?.length !== 0 && !isLoading">
        <div class="row flex-nowrap">
            <div class="col-md-1" *ngIf="!viewable"></div>
            <div class="col-md-12">
                <div class="col-md-12 text-right">
                    Total Write Off Value -<span class="font-weight-bold">{{totalWriteValue}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
