<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{ referToSalesFlagTypeConfigurationId ? 'Update' : 'Create' }} Refer To Sales - Flag Type</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a> Technical Management </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()">Refer To Sales - Flag Type</a>
        </li>
        <li class="breadcrumb-item" *ngIf="referToSalesFlagTypeConfigurationId">
            <a (click)="navigateToView()">View Refer To Sales - Flag Type</a>
        </li>
        <li class="breadcrumb-item">{{ referToSalesFlagTypeConfigurationId ? 'Update' : 'Create' }} Refer To Sales - Flag Type</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body sm-form-grp">
                <form  customForm [formGroup]="referToSalesFlagTypeConfigurationForm" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Refer To Sales - Flag Type Name<span class="mandatory-field">*</span></label>
                                <div class="form-group" *ngIf="!referToSalesFlagTypeConfigurationId">
                                    <input   #input  [validateInput]="isAnAlphaNumericOnly" class="form-control fidelity-form-input"
                                         type="text"  [minlength]="formConfigs.maxLengthThree" [maxlength]="formConfigs.maxLengthFifty" formControlName="referToSalesFlagTypeName"
                                         placeholder="Refer To Sales - Flag Type Name"/>
                                </div>
                           </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Status</label>
                                <div class="form-group" *ngIf="!referToSalesFlagTypeConfigurationId">
                                    <select name="status" class="form-control fidelity-form-input"
                                        formControlName="isActive">
                                        <option value="" disabled>Select Status</option>
                                        <option *ngFor="let status of statusList" [value]="status.value">
                                            {{status.displayName}}
                                        </option>
                                    </select>
                                </div>
                           </div>
                        </div>
                        <div class="col-2">
                            <label>Is Lead Enabled</label>
                            <div style="display: flex;" *ngIf="!referToSalesFlagTypeConfigurationId">
                                <div  class="">
                                    <p-radioButton name="isLeadEnabled" label="Yes"
                                       [value]="true"  formControlName="isLeadEnabled" inputId="isLeadEnabled">
                                    </p-radioButton>
                                </div>
                                <div  class="" style="margin-left: 19px;">
                                    <p-radioButton name="isLeadEnabled" label="No"
                                        [value]="false"  formControlName="isLeadEnabled" inputId="isLeadEnabled">
                                    </p-radioButton>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex align-items-center" *ngIf="!referToSalesFlagTypeConfigurationId">
                            <button type="button" class="circle-plus-btn mr-2 add-icon" [disabled]="isSubmitted"
                                (click)="addSalesFlagType()" title="Add" matTooltip="Add" style="right: -5px;top: 3px;">
                                <i aria-hidden="true" class="icon" data-icon="b"></i></button>
                        </div>
                    </div>

                    <div class="" formArrayName="referToSalesFlagTypeArray"  *ngFor="let product of getreferToSalesFlagType?.controls;let i=index">
                        <div class="row p-relative" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <input   #input  [validateInput]="isAnAlphaNumericOnly" class="form-control fidelity-form-input"
                                         type="text"  [minlength]="formConfigs.maxLengthThree" [maxlength]="formConfigs.maxLengthFifty" formControlName="refertoSalesFlagTypeName"
                                         placeholder="Refer To Sales - Flag Type Name"/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <select name="status" class="form-control fidelity-form-input"
                                        formControlName="isActive">
                                        <option value="" disabled>Select Status</option>
                                        <option *ngFor="let status of statusList" [value]="status.value">
                                            {{status.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div style="display: flex;">
                                    <div  class="">
                                        <p-radioButton name="isLeadEnabled" label="Yes"
                                           [value]="true"  formControlName="isLeadEnabled" inputId="isLeadEnabled">
                                        </p-radioButton>
                                    </div>
                                    <div  class="" style="margin-left: 19px;">
                                        <p-radioButton name="isLeadEnabled" label="No"
                                            [value]="false"  formControlName="isLeadEnabled" inputId="isLeadEnabled">
                                        </p-radioButton>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!referToSalesFlagTypeConfigurationId" class="col-2">
                                <div class="float-left">
                                    <button type="button" [disabled]="isSubmitted"
                                        matTooltip="Delete" id="delete_record" class="circle-minus-btn"
                                        (click)="removeSalesFlagType(i)"><i aria-hidden="true"
                                            class="icon icon-delete"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button id="createCommProductBtn" type="submit" [disabled]="isSubmitted || !getreferToSalesFlagType?.value?.length"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="add_skill_save_btn">{{referToSalesFlagTypeConfigurationId ? 'Update' : 'Save'}}</button>
                        <button id="cancel_new_leads_btn" type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default" id="add_skill_cancel"  routerLink="/technical-management/refer-to-sales-configuration" [queryParams]="{tab:0}"
                            >Cancel</button>
                    </div>
                </form>

            </div>
        </p-scrollPanel>
    </div>
</div>
