<div class="p-relative">
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
        [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
    </app-page-header>
    <form *ngIf="showFilterForm" [formGroup]="TamIncentiveFilterForm" (ngSubmit)="submitFilter()" class="p-absolute"
        style="top: 50px;right: 68px; z-index: 10;">
        <div class="page-heading p-relative">
            <div class="filter-dropdwon-con">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Tech Area</label>
                            <div class="form-group leads-category-con">
                                <!-- (selectionChange)="applyFilterTechArea($event)" -->
                                <mat-select-autocomplete ngDefaultControl [id]="'techAreaId'"
                                    [formControl]="TamIncentiveFilterForm?.controls['techArea']"
                                    [placeholder]="'Select Single/Multiple'" [options]="techareaList" [multiple]='true'
                                    [value]="'value'" [display]="'display'">
                                </mat-select-autocomplete>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Incentive Type</label>
                            <div class="form-group leads-category-con">
                                <!-- (selectionChange)="applyFilterIncentiveType($event)" -->
                                <mat-select-autocomplete ngDefaultControl [id]="'incentiveTypeId'"
                                    [formControl]="TamIncentiveFilterForm?.controls['incentiveType']"
                                    [placeholder]="'Select Single/Multiple'" [options]="incentiveTypeList"
                                    [multiple]='true' [value]="'value'" [display]="'display'">
                                </mat-select-autocomplete>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group leads-category-con">
                            <label class="d-block">Technician Name</label>
                            <div class="form-group leads-category-con">
                                <!-- (selectionChange)="applyFilterTechnicianName($event)" -->
                                <mat-select-autocomplete ngDefaultControl [id]="'technicianNameId'"
                                    [formControl]="TamIncentiveFilterForm?.controls['technicianName']"
                                    [placeholder]="'Select Single/Multiple'" [options]="technicianNameList"
                                    [multiple]='true' [value]="'value'" [display]="'display'">
                                </mat-select-autocomplete>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group fdt-date-con">
                            <label for="">Date Range (From To) </label>
                            <div class="row">
                                <div class="col-6 p-relative">
                                    <p-calendar formControlName="fromDate" [style]="{'width':'100%'}"></p-calendar>
                                </div>
                                <div class="col-6 p-relative">
                                    <p-calendar formControlName="toDate" [style]="{'width':'100%'}"
                                        [minDate]="TamIncentiveFilterForm?.get('fromDate')?.value">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                        <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                            (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" class="call-status-table"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit" [first]="first"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [reset]="reset" [searchFirst]="true"
    (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
</app-page-list-table>