<div class="page-heading ">
    <h1 class="page-title no-border">{{billingIntervalId ? 'Update' : 'Add'}} Payment Frequency Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration </li>
        <li class="breadcrumb-item">Billing </li>
        <li class="breadcrumb-item"><a routerLink="/configuration/billing-configuration" [queryParams]="{tab:5}"
                skipLocationChange>Payment Frequency Configuration List</a></li>
        <li class="breadcrumb-item" *ngIf="billingIntervalId"><a
                routerLink='/configuration/billing-configuration/billing-interval-configuration-view'
                [queryParams]="{id:billingIntervalId}" skipLocationChange>View Payment Frequency Configuration</a></li>
        <li class="breadcrumb-item"><a>{{billingIntervalId ? 'Update' : 'Add'}} Payment Frequency Configuration</a></li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="billingIntervalConfigForm" (ngSubmit)="submit()">
        <div class="ibox white-bg">
            <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">

                <div class="ibox-body">
                    <div>
                        <!-- Headings Only -->
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Payment Frequency<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Months<span class="mandatory-field">*</span></label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Description</label>
                                </div>
                            </div>
                        </div>
                        <div class="" formArrayName="billingIntervalConfig"
                            *ngFor="let billingIntervalConfigObj of billingIntervalConfigForm?.get('billingIntervalConfig')?.controls;let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-3">
                                    <div class="form-group">
                                        <input [validateInput]="stringConfig" id="billingIntervalName"
                                            formControlName="billingIntervalName" type="text" name="Frequency"
                                            class="form-control fidelity-form-input" maxlength="50"
                                            placeholder="Enter Frequency"
                                            (change)="validateZeroes(i,$event,'billingIntervalName')">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <input mask=0* [validateInput]="isANumberOnly" id="billingIntervalValue"
                                            type="text" formControlName="billingIntervalValue"
                                            class="form-control fidelity-form-input" name="Month" maxlength="2"
                                            placeholder="Enter Months"
                                            (change)="validateZeroes(i,$event,'billingIntervalValue')">
                                        <!-- <span class="duplicate" *ngIf="inValid">
                                            Month must be less or equal to 36
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <input [validateInput]="stringConfig" formControlName="description" type="text"
                                            name="Description" class="form-control fidelity-form-input" maxlength="50"
                                            placeholder="Enter Description">
                                    </div>
                                </div>

                                <!-- <div class="col-2">
                                    <button
                                        *ngIf="(billingIntervalConfigForm?.get('billingIntervalConfig')?.controls.length-1===i) && isUpdate"
                                        type="submit"
                                        class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                        (click)="addBillingIntervals()" title="Add" matTooltip="Add">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i></button>

                                    <a *ngIf="billingIntervalConfigForm?.get('billingIntervalConfig')?.controls.length>0"
                                        matTooltip="Delete" id="delete_record" class="delete-row "
                                        (click)="removeBillingIntervals(i)"><i aria-hidden="true"
                                            class="icon icon-delete"></i>
                                    </a>

                                </div> -->

                                <div class="col-1">
                                    <button *ngIf="i==0 && !billingIntervalId" type="submit"
                                        class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                        (click)="addBillingIntervals()" title="Add" matTooltip="Add">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                    <button *ngIf="i!==0 && !billingIntervalId" type="button" class="circle-minus-btn"
                                        matTooltip="Delete" id="delete_record" (click)="removeBillingIntervals(i)">
                                        <i aria-hidden="true" class="icon icon-delete"></i>
                                    </button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button (click)="submit()" [disabled]="isButtondisabled"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{billingIntervalId ?
                'Update' : 'Save'}}</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink="/configuration/billing-configuration" [queryParams]="{tab:5}"
                skipLocationChange>Cancel</button>
        </div>
    </form>
</div>

<style>
    ::ng-deep button.circle-plus-btn {
        width: 30px !important;
        height: 30px !important;
        font-size: 1rem;
        position: relative;
        right: 0px;
        top: 4px;
    }
</style>