<div class="fidelity-popup-heading  p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.data?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
  </div>
  <app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="cctvPointForm" (ngSubmit)="onSubmit()">
    <div style="padding: 16px;">
        <div>
            <div class="view-box">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Camera ID<span class="mandatory-field">*</span></label>
                            <input type="text" name="Camera ID" class="form-control fidelity-form-input "
                                formControlName="cameraId" minlength="2" maxlength="20">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Camera Name<span class="mandatory-field">*</span></label>
                            <input type="text" class="form-control fidelity-form-input " formControlName="cameraName"
                            minlength="2" maxlength="25">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Camera Type<span class="mandatory-field">*</span></label>

                            <p-autoComplete formControlName="cameraType" [style]="{'width':'100%'}"
                                [suggestions]="cameraTypeList" (completeMethod)="filterSingle($event)"
                                field="cameraType" optionLabel="cameraType" [size]="30" placeholder="Camera Type"
                                [minLength]="1" maxlength="10"></p-autoComplete>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group p-relative fix-error-msg" style="width: 100%!important;">
                            <label>Latitude(Y Cord)<span class="mandatory-field">*</span></label>

                            <div class="input-group fidelity-input-addon mb-3">
                                <!-- <input [style]="{'width':'100%'}" class="form-control fidelity-form-input " type="text"
                                    name="Latitude" placeholder="Enter Latitude" maxlength="102"
                                    formControlName="latitude">
                                <div class="input-group-append">
                                    <button class="text-white" type="button"><i aria-hidden="true"
                                            class="icon icon-location"></i></button>
                                </div> -->
                                <input class="form-control fidelity-form-input" type="text" formControlName="latitude"
                                    placeholder="Latitude" name="Latitude" readonly>
                                <div class="input-group-append">
                                    <button class="text-white" (click)="openMap()" style="cursor: pointer;"
                                        type="button"><i aria-hidden="true" class="icon icon-location"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-6">
                        <div class="form-group p-relative fix-error-msg" style="width: 100%!important;">
                            <label>Longitude(X Cord)<span class="mandatory-field">*</span></label>

                            <div class="input-group fidelity-input-addon mb-3">
                                <input class="form-control fidelity-form-input" type="text" formControlName="longitude"
                                    placeholder="Longitude" readonly>
                                <div class="input-group-append">
                                    <button class="text-white" (click)="openMap()" style="cursor: pointer;"
                                        type="button"><i aria-hidden="true" class="icon icon-location"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div style="margin-bottom: 5px;text-align: center;">
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class=" text-center">
                <button type="submit" pButton class="ui-button-success mr-4"
                    style="display: inline-block;background: #115943!important;" label="Submit"></button>
                <button type="button" pButton class="ui-button-secondary mr-4" style="display: inline-block;;"
                    label="Cancel" (click)="close()"></button>
            </div>
        </div>
    </div>
</form>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="openMapDialog" [responsive]="true"
    [resizable]="false" [modal]="true" [style]="{width: '750px'}" appendTo="body">

    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <!-- <p-gmap [options]="options"  [overlays]="overlays" [style]="{'width':'100%','height':'520px'}" ></p-gmap> -->

            <p-gmap #gmap (onMapReady)="setMap($event)" [options]="options" [overlays]="overlays"
                (onMapClick)="handleMapClick($event)" [style]="{ width: '100%', height: '520px' }"></p-gmap>

        </div>
    </div>
</p-dialog>
