<div class="page-heading ">
    <h1 class="page-title no-border"> Add Refuse To Pay </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>
                Customer Management
            </a>
        </li>
        <li class="breadcrumb-item"> Call Wrap up codes</li>
        <li class="breadcrumb-item"> Add Refuse To Pay</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="container-fluid mt-1">
        <div class="ibox" style="height: auto;">
            <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
                <div class="ibox-body brown-border white-bg">
                    <form [formGroup]="addRefuseToPayForm" customForm>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="d-block">Outcome</label>
                                    <select class="form-control fidelity-form-input " formControlName="callOutcomeId">
                                        <option value="null"> Select </option>
                                        <option *ngFor="let callOutCome of callOutcomeList" [value]="callOutCome?.id">
                                            {{callOutCome?.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="d-block"> Call Wrap Up Code</label>
                                    <select class="form-control fidelity-form-input " formControlName="callWrapupId">
                                        <option value="null"> Select </option>
                                        <option *ngFor="let region of Outcomenotes" [value]="region?.callWrapupId">
                                            {{region?.callWrapupName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="d-block"> Outstanding Balance</label>
                                    <input class="form-control fidelity-form-input" type="text"
                                        formControlName="outstandingBalance" placeholder="Enter Outstanding Balance"
                                        [validateInput]='isANumberOnly' />
                                </div>
                            </div>
                            <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                                <div class="form-group">
                                    <label>Call Date</label>
                                    <p-calendar formControlName="callDate" name="callDate"
                                    [minDate]="startTodayDate1" [style]="{'width':'100%'}"></p-calendar>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="d-block">Refuse To Pay Reasons</label>
                                    <select class="form-control fidelity-form-input "
                                        formControlName="refuseToPayReasonId">
                                        <option value="null"> Select </option>
                                        <option *ngFor="let region of refuseToReasonDrop" [value]="region?.id">
                                            {{region?.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="d-block">Refuse To Pay Sub Reasons</label>
                                    <select class="form-control fidelity-form-input "
                                        formControlName="refuseToPaySubReasonId">
                                        <option value="null"> Select </option>
                                        <option *ngFor="let region of refuseToSubReasonDrop" [value]="region?.id">
                                            {{region?.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="refuseToPayId"
                            style="display: flex;justify-content: center;padding-top: 12px; margin-left: 750px; margin-bottom: 50px;">
                            <button type="button" class="btn  btn-sm-fidelity fidelity-btn-primary btn-primary p-2"
                                (click)="offerDiscount()">Offer Discount</button>
                            <button type="button" class="btn  btn-sm-fidelity fidelity-btn-primary btn-primary p-2"
                                (click)="onaddnotesInfo()">Log A Ticket</button>
                        </div>

                        <div class="text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                (click)="onSubmit()"> Save</button>

                            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                                routerLink='/collection/call-wrap-up-codes/refuse-to-pay'> Cancel </button>
                        </div>
                    </form>
                </div>
            </p-scrollPanel>
        </div>
    </div>
</div>

<!-- pop Dialog -->

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="saveofferDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true">
    <app-popup-loader></app-popup-loader>
    <p-header>
        Approval Request
    </p-header>
    <div class="confirm-msg p-2">
        <div><i class="fa fa-exclamation-triangle"></i></div>
        <p class="center-content">Discount or Save Offer Accept
            by Customer? </p>
    </div>

    <p-footer>
            <div class="text-center">
                <button type="button" (click)="getSaveOfferDiscount(true)" class="btn btn-md-fidelity fidelity-btn-brown mr-4">Yes</button>
                <button (click)="getSaveOfferDiscount1(false)" type="button"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">No</button>
            </div>
    </p-footer>
</p-dialog>
