  ::ng-deep  .mat-radio-container {
    margin-left: 10px !important;
  }
  .container-doa{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .no-data-found{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15%;
  }
  input{
    font-weight: bold;
  }
  .labels{
    width: 891px;
  }
  
  
  .input-group {
    position: relative;
    display: flex;
    width: 100%;
  }
  .input-group-btn {
    cursor: pointer;
  }
  
  .form-group {
    width: 100%;
  }
  
  .border-class {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-left: unset;
  }
  
  .file-input-container {
    width: 100%;
    height: 40px;
    z-index: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .file-input-ctrl {
    margin-top: 33px;
    height: 40px;
    width: 100%;
  }
  
  .file-input-text {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .file-input-btn {
    height: 40px;
    padding: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .file-remove-btn {
    width: 82px;
    margin-left: -8px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .file-download-container {
    height: 40px !important;
    font-size: 18px;
  }
  
  .file-upload-status-container {
    height: 40px !important;
    font-size: 18px;
    width: 100% !important;
  }
  .notification-container{
    margin-top: 21px;
  }
  
  
  ng-component.ng-star-inserted {
    white-space: nowrap !important;
  }
  
  span.help.is-danger {
    white-space: nowrap !important;
  }
  
  
  .error-notification{
    color: #dc3545;
      font-size: 0.8em;
  }
  
  
  .add-notes-description-con {
    ::ng-deep .add-notes-description-btn {
        right: 15px;
        top: 0;
        cursor: pointer;
    }
  }
  
  
  span[class^="status-label"] {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 14px;
  }
  .statusClass{
    padding: 5px;
    border-radius: 11px;
  }
  
  
  .row-number-col {
    width: 4.499999995%;
    flex: 0 0 8.499%!important;
    max-width: 8.499%;
  }
  