<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex">
</app-page-header>


<div class="page-content fade-in-up">
  <div class="ibox white-bg" style="height: auto;">
    <form customForm [formGroup]="paymentSplitForm" (ngSubmit)="onSubmit()">
      <p-scrollPanel [style]="{ height: '70vh'}">
        <div class="ibox-body brown-border">
          <div class=" page-sub-title">CUSTOMER INFO</div>
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Customer ID</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.customerRegNo}}
                </span>
              </div>
              <div class="d-flex mb-2 ">
                <span class="cust-info-key ">Customer Type</span>
                <span class="cust-info-value p-relative">
                  {{splitPaymentDebtorDetail?.customerType}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Contact Number </span>
                <span class="cust-info-value p-relative">
                  {{splitPaymentDebtorDetail?.contactNumber}}
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Customer Name</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.customerName}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Contact Address</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.siteAddress}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Email Address</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.emailAddress}}
                </span>
              </div>
            </div>

          </div>
          <div class=" page-sub-title">DEBTOR INFO</div>
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Debtor Name</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.debtorName}}
                </span>
              </div>
              <div class="d-flex mb-2 ">
                <span class="cust-info-key ">BDI Number</span>
                <span class="cust-info-value p-relative">
                  {{splitPaymentDebtorDetail?.debtorBDINumber}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Email Address </span>
                <span class="cust-info-value p-relative">
                  {{splitPaymentDebtorDetail?.debtorEmail}}
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Debtor Code</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.debtorCode}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Contact Number</span>
                <span class="cust-info-value">
                  {{splitPaymentDebtorDetail?.debtorContact}}
                </span>
              </div>
            </div>
          </div>
          <div class=" page-sub-title">OUTSTANDING BALANCE</div>
          <div class="row mt-1 mb-2" style="font-size: 0.9rem;" >
            <div class="outstanding-balance-col-width">
              <label for="">D180</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.days180?outstandingBalance?.days180:''">
            </div>
            <div class="outstanding-balance-col-width">
              <label for="">D150</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.days150?outstandingBalance?.days150:''">
            </div>
            <div class="outstanding-balance-col-width">
              <label for="">D120</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.days120?outstandingBalance?.days120:''">
            </div>

            <div class="outstanding-balance-col-width">
              <label for="">D90</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.days90?outstandingBalance?.days90:''">
            </div>
            <div class="outstanding-balance-col-width">
              <label for="">D60</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.days60?outstandingBalance?.days60:''">
            </div>
            <div class="outstanding-balance-col-width">
              <label for="">D30</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.days30?outstandingBalance?.days30:''">
            </div>
            <div class="outstanding-balance-col-width">
              <label for="">Current</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.current?outstandingBalance?.current:''">
            </div>

            <div class="outstanding-balance-col-width">
              <label for="">Balance</label>
              <input type="text" class="form-control fidelity-form-input disabled"
                [value]="outstandingBalance?.totalInvoiceOutStandingAmount?outstandingBalance?.totalInvoiceOutStandingAmount:''">
            </div>
          </div>
          <div class="row mb-2">
            <div class=" col-12 page-sub-title mb-2">PAYMENT SPLIT</div>
            <div class="col-6 ">
              <p-radioButton class="fidelity-radio-btn mr-3" name="isComplaint" [value]="true"
                formControlName="isSingle" binary="true" label="Single"></p-radioButton>
              <p-radioButton class="fidelity-radio-btn mr-3" name="isComplaint" [value]="false"
                formControlName="isSingle" binary="true" label="Multiple">
              </p-radioButton>

              <!-- <p-radioButton name="isSingle"  formControlName="isSingle"   [value]=true label="Single"></p-radioButton>
            <p-radioButton name="isSingle" class="ml-4" formControlName="isSingle"  [value]=false  label="Multiple"></p-radioButton> -->
            </div>
          </div>
          <div class="row">
            <div class="col-4"><label>Document Date</label>
              <div class="form-group">
                <input type="text" class="form-control fidelity-form-input disabled" [value]="splitPaymentDebtorDetail?.documentDate?splitPaymentDebtorDetail?.documentDate:''"  placeholder="Documemt Date">
              </div>
            </div>
            <div class="col-4"><label>Transaction Type</label>
              <div class="form-group">
                <input type="text" class="form-control fidelity-form-input disabled"  [value]="splitPaymentDebtorDetail?.transactionType?splitPaymentDebtorDetail?.transactionType:''" placeholder="Transaction Type">
              </div>
            </div>
            <div class="col-4"><label>Transaction Type Description</label>
              <div class="form-group">
                <input type="text" class="form-control fidelity-form-input disabled" [value]="splitPaymentDebtorDetail?.transactionTypeDescription?splitPaymentDebtorDetail?.transactionTypeDescription:''" placeholder="Transaction Type Description">
              </div>
            </div>
            <div class="col-4"><label>Description Types</label>
              <div class="form-group">
                <select class="form-control fidelity-form-input" formControlName="invoiceTransactionDescriptionId" (change)="onChangeInvoiceDescription()">
                  <option disabled value="">Select Description Type</option>
                  <option *ngFor="let description of transactionDescriptionDropdown" [value]="description?.id">
                    {{description.displayName}}</option>
                </select>

              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class=" col-12 page-sub-title mb-2">PAYMENT SPLIT FROM</div>
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Debtor Code</span>
                <span class="cust-info-value">
                  {{splitPaymentFrom?.debtorCode?splitPaymentFrom?.debtorCode:'-'}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Transaction No</span>
                <span class="cust-info-value">
                  {{splitPaymentFrom?.transactionRefNo?splitPaymentFrom?.transactionRefNo:'-'}}
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex mb-2">
                <span class="cust-info-key">Original Amount</span>
                <span class="cust-info-value">
                   {{splitPaymentFrom?.originalAmount?splitPaymentFrom?.originalAmount:'-'}}
                </span>
              </div>
              <div class="d-flex mb-2">
                <span class="cust-info-key">Remaining Balance</span>
                <span class="cust-info-value">
                   {{splitPaymentFrom?.remainingAmount?(splitPaymentFrom?.remainingAmount):'00' | wholeNumberToDecimal}}
                </span>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class=" col-12 page-sub-title mb-2">PAYMENT SPLIT TO</div>
            <div class="col-4">
              <div class="input-group fidelity-file-upload">
                <input class="input-box form-control" type="text" placeholder="Debtor Code" disabled>
                <span class="input-group-btn" (click)="openDoaSearchModel($event)">
                  <div class="btn custom-file-uploader" id="documentName">
                    Search
                  </div>
                </span>
              </div>
            </div>
            <div class="col-4" *ngIf="!paymentSplitForm.get('isSingle').value">
              <button type="button" class="btn btn-md-fidelity btn-primary" (click)="openDoaSearchModel()">Add</button>
            </div>

            <div class="col-12 mt-2">
              <div class="custom-table">
                <p-table class="custom-scroll" [columns]="columns" [value]="debtorsList" dataKey="debtorId" class="kit-table"
                  [totalRecords]="totalRecords"
                  [paginator]="(totalRecords == 0) ? false : true" [rows]="10"
                  [responsive]="true">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th style="width: 3em" [ngStyle]="{'background':'none',color:'#fff'}"></th>
                      <th *ngFor="let col of columns;let i=index"
                        [ngStyle]="{'width': col.width,background:'none',color:'#fff'}">
                        {{col.header}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-ri1="rowIndex" let-expanded="expanded"
                    let-columns="columns">
                    <tr [pSelectableRow]="rowData" [pReorderableRow]="ri1">
                      <td>
                        <a href="#" [pRowToggler]="rowData">
                          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                      </td>
                      <td class="col-2" *ngFor="let col of columns;let i=index" [ngStyle]="{'width': col.width}">
                       <span *ngIf="col.field != 'splitAmount'"> {{rowData[col.field]}}</span>
                       <span *ngIf="col.field == 'splitAmount'"> <input type="text" [(ngModel)]="rowData[col.field]" (change)="calculatRemainingAmount()"  [ngModelOptions]="{standalone: true}" class="form-control fidelity-form-input"></span>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="rowexpansion" let-rowData let-ri="rowIndex" let-columns="columns">
                    <tr>
                      <td [attr.colspan]="columns.length + 1">
                        <div class="ibox" style="height: auto;">
                          <div class="ibox-body mt-3">
                            <p-scrollPanel [style]="{height: '27vh'}" styleClass="custom">
                              <table class="child-table">
                                <thead
                                  style="background-color: #fff !important; color:#000 !important;border:none !important">
                                  <!-- <th>Debtor ID</th> -->
                                  <th>Days Outstanding</th>
                                  <th>Current</th>
                                  <th>30 Days</th>
                                  <th>60 Days </th>
                                  <th>90 Days</th>
                                  <th>120 Days</th>
                                  <th>150 Days</th>
                                  <th>180 Days</th>
                                  <th>Total Outstanding Balance</th>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let child of rowData['balanceInfo']">
                                    <!-- <td><div class="border-td-child">{{child.debtorRefNo?child.debtorRefNo:'-'}}</div></td> -->
                                    <td>
                                      <div class="border-td-child">{{child.outstanding?child.outstanding:'-'}}</div>
                                    </td>
                                    <td>
                                      <div class="border-td-child">{{child.current?child.current:'-'}}</div>
                                    </td>
                                    <td>
                                      <div class="border-td-child">{{child.days30?child.days30:'-'}}</div>
                                    </td>
                                    <td>
                                      <div class="border-td-child">{{child.days60?child.days60:'-'}}</div>
                                    </td>
                                    <td>
                                      <div class="border-td-child">{{child.days90?child.days90:'-'}}</div>
                                    </td>
                                    <td>
                                      <div class="border-td-child">{{child.days120?child.days120:'-'}}</div>
                                    </td>
                                    <td>
                                      <div class="border-td-child">{{child.days150?child.days150:'-'}}</div>
                                    </td>
                                    <td>
                                      <div class="border-td-child">{{child.days180?child.days180:'-'}}</div>
                                    </td>
                                    <td>
                                      <div class="border-td-child">{{child.totalInvoiceOutStandingAmount?child.totalInvoiceOutStandingAmount:'-'}}</div>
                                    </td>
                                  </tr>

                                </tbody>
                              </table>
                            </p-scrollPanel>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="col-8">
              <div class="form-group">
                <label>Transaction Notes</label>
                <textarea type="text" formControlName="notes" class="form-control fidelity-form-input" rows="2"
                  placeholder="Notes"></textarea>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class=" col-12 page-sub-title mb-2">REQUIRED DOCUMENTS</div>
          </div>
          <div formArrayName="splitPaymentDocumentsPostDTO_1">
            <div class="row mb-2" *ngFor="let feeConfig of getsplitPaymentDocumentsFormArray_1.controls; let i=index"
              [formGroupName]="i">
              <div class="col-4">
                <div class="form-group">
                  <label>Required Documentation</label>
                  <input type="text" formControlName="documentName" class="text-outline-none form-control fidelity-form-input"
                    placeholder="Transaction Type Description">
                </div>
              </div>
              <div class="col-2"></div>

              <div class="col-4">
                <div class="form-group p-relative">
                  <label>Attachment</label>
                  <div class="input-group fidelity-file-upload">
                    <div style="width: 100%;">
                      <input class="input-box form-control" style="padding: 10px;" formControlName="fileName"
                        type="text" name="Upload Document" placeholder="Attach a file" maxlength="102" readonly>
                    </div>
                    <span class="input-group-btn">
                      <div class="btn custom-file-uploader" id="documentName">
                        <input #fileInput type="file" name="file"
                          [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                          (change)="uploadFiles($event,'required', i)" />Browse
                      </div>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-2"> <button type="button" (click)="addFiles('required')"
                  class="mt-btn fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                  style="top: 3px;right: 6px;">
                  <i aria-hidden="true" data-icon="b" matTooltip="Create New"></i></button>

              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class=" col-12 page-sub-title mb-2">OPTIONAL DOCUMENTS</div>
          </div>
          <div formArrayName="splitPaymentDocumentsPostDTO_2">
            <div class="row mb-2" *ngFor="let feeConfig of getsplitPaymentDocumentsFormArray_2.controls; let i=index"
              [formGroupName]="i">

              <!-- <div class="col-4">
                <div class="form-group">
                  <label>Additional Attachment</label>
                  <input type="text" formControlName="documentName" class="form-control fidelity-form-input"
                    placeholder="Transaction Type Description">
                </div>
              </div> -->
              <!-- <div class="col-2"></div> -->

              <div class="col-4">
                <div class="form-group p-relative">
                  <label>Attachment</label>
                  <div class="input-group fidelity-file-upload">
                    <div style="width: 100%;">
                      <input class="input-box form-control" style="padding: 10px;" formControlName="fileName"
                        type="text" name="Upload Document" placeholder="Attach a file" maxlength="102" readonly>
                    </div>
                    <span class="input-group-btn">
                      <div class="btn custom-file-uploader" id="documentName">
                        <input #fileInput type="file" name="file"
                          [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']"
                          (change)="uploadFiles($event,'notrequired', i)" />Browse
                      </div>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-2"> <button type="button" (click)="addFiles('notrequired')"
                  class="mt-btn fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
                  style="top: 3px;right: 6px;">
                  <i aria-hidden="true" data-icon="b" matTooltip="Create New"></i></button>

              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
      <div class="text-center mt-2">
        <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Submit</button>
        <button type="button" class="btn btn-md-fidelity fidelity-btn-brown mr-3" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
</div>
