.col-md-auto-width {
  width: calc(100%/5);
  text-align: center;
}
.custom-table .child-table{
  width: 100%;
  overflow: scroll;
  th{
  font-size: 11px;
  }
}
.custom-table {
  width: 100%;
  overflow: scroll;
  thead {
    background-color: #115943 !important;
    border-top: none;
    color: #fff;
  }
  td,
  th {
    border-top: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
  }
}

::ng-deep .custom-table {
  p-table {
    thead {
      background-color: #115943 !important;
      border-top: none;
      color: #fff;
    }
  }
}

.border-td-child {
  width: 98% !important;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
  font-weight: bold;
  display: flex;
  background-color: #ececec !important;
  pointer-events: none;
}

.child-table {
  th {
    padding: 5px !important;
  }
  td,
  th {

    border-top: none !important;
    border-bottom: none !important;
  }
}


.child-table-scroll{
  min-height: 10vh !important;
  max-height: 27vh !important;
}

.bg-white{
  background: #fff !important;
}
