<div class="modal-header fidelity-popup-heading">
    <h4 class="modal-title text-center">Assign To</h4>
    <button type="button" class="close p-0" style="color: #fff;" [mat-dialog-close]="true">&times;</button>
  </div>
<app-popup-loader></app-popup-loader>
<form customForm class="fidelity-popup-form" [formGroup]="assignToForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <div class="form-group mat-select-autocomplete-single-selection">
                    <label>User Group <span class="mandatory-field">*</span></label>
                    <mat-select-autocomplete class="mat-select-ticket-add-edit" [placeholder]="'Select User Group'"
                        ngDefaultControl formControlName="groupId" id="User Group" name="User Group"
                        [options]="userGroups" [value]="'value'" [display]="'display'" [multiple]='false'
                        (selectionChange)="onUserGroupChange($event)">
                    </mat-select-autocomplete>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Assign To<span class="mandatory-field">*</span></label>
                    <select class="form-control fidelity-form-input" name="Assign To" formControlName="assignedTo">
                        <option disabled selected value="">Select Assign To</option>
                        <option *ngFor="let assignTo of assignedToList" [value]="assignTo.id">
                            {{assignTo.displayName}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <hr>
    <div class="text-center">
        <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
            cdkFocusInitial>Save</button>
        <button id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
            (click)="cancel()">Cancel</button>
    </div>
</form>