<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body"
    cdkDragHandle>{{caption}}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form customForm class="fidelity-popup-form" [formGroup]="bookAppointmentForm" (ngSubmit)="onSubmit()">
    <fieldset [disabled]="shouldDisableAllFields">
        <mat-dialog-content>
            <p-scrollPanel [style]="{ height: '40vh'}">
                <div class="row">
                    <div class="col-6">
                        <div>
                            <div class="pb-3">
                                <label>{{shouldDisableAllFields?'Selected Appointment Date':'Select Appointment Date'}}
                                    <span *ngIf="!shouldDisableAllFields" class="mandatory-field">*</span></label>
                                <p-calendar [yearRange]="yearRange" [minDate]="todayDate"
                                    (onSelect)="onFormControlValueChanges('appointmentDate')"
                                    formControlName='appointmentDate' placeholder="Select Appointment Date">
                                </p-calendar>
                            </div>
                        </div>
                        <div *ngIf="!bookAppointmentForm.get('isAlternateSeller').value&&
                        bookAppointmentForm.get('appointmentDate').value">
                            <label>{{shouldDisableAllFields?'Selected Time Slot':'Available Time Slots'}} <span
                                    *ngIf="!bookAppointmentForm.get('isAlternateSeller').value&&!shouldDisableAllFields"
                                    class="mandatory-field">*</span></label>
                            <div class="row">
                                <table class="fidelity-table mt-2 service-table"
                                    *ngIf="timeslots?.length>0&&!bookAppointmentForm.get('isAlternateSeller').value">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Day</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let timeslot of timeslots | slice:0:3 ; let i=index">
                                            <td>
                                                <mat-radio-group aria-label="Select an option"
                                                    (change)="changeTimeSlot(i,timeslot)">
                                                    <mat-radio-button [value]="timeslot.isChecked"
                                                        [checked]="timeslot.isChecked == true" style="margin-left:20px">
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td>{{timeslot.availableDate | date}}</td>
                                            <td>{{timeslot.availableTime}}</td>
                                            <td>{{timeslot.day}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12 d-flex pl-0">
                            <div>
                                <div class="form-group"
                                    [ngStyle]="!bookAppointmentForm.get('appointmentDate').value&&{'pointer-events':'none'}">
                                    <mat-checkbox [disabled]="shouldDisableAllFields"
                                        (change)="onFormControlValueChanges('isAlternateSeller')"
                                        [disabled]="!bookAppointmentForm.get('appointmentDate').value"
                                        formControlName="isAlternateSeller"
                                        class="fidelity-checkbox fidelity-checkbox-header" id="Seller">
                                        <span>Alternate Seller</span>
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="col-10" *ngIf="bookAppointmentForm.get('isAlternateSeller').value">
                                <label class="d-block" for="">{{shouldDisableAllFields?'Selected Appointment
                                    Time':'Select
                                    Appointment Time'}}</label>
                                <div class="form-group">
                                    <p-calendar (onOverlayHide)="onFormControlValueChanges('alternateSellerTime')"
                                        [timeOnly]="true" formControlName="alternateSellerTime" styleClass="w-75">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="fidelity-date-picker-con p-relative"
                            *ngIf="bookAppointmentForm.get('isAlternateSeller').value">
                            <ng-container *ngIf="bookAppointmentForm.get('isAlternateSeller').value">
                                <select class="form-control fidelity-form-input" name="Seller Name"
                                    formControlName="sellerSlotId" (change)="OnChangeSeller($event.target.value)">
                                    <option value="null" disabled>Select Seller </option>
                                    <option *ngFor="let alternateSeller of alternateSellers"
                                        [value]="alternateSeller.sellerSlotId">
                                        {{alternateSeller.sellerName}}
                                    </option>
                                </select>
                            </ng-container>
                        </div>
                        <div class="col-12"
                            *ngIf="bookAppointmentForm.get('isAlternateSeller').value&&bookAppointmentForm.get('sellerSlotId').value">
                            <div class="form-group">
                                <label>Available Time</label>
                                <input readOnly type="text" class="form-control fidelity-form-input"
                                    [value]="resultedTimeSlotDetail?.availableTime">
                            </div>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="bookAppointmentForm.get('sellerSlotId').value">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Estimated Time (hh:mm)</label>
                                <input readOnly type="text" class="form-control fidelity-form-input"
                                    formControlName="appointmentDuration">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Seller Name</label>
                                <input readOnly type="text" class="form-control fidelity-form-input"
                                    formControlName="fullName" name="Seller Name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Contact Number</label>
                                <div class="row fidelity-ph-no-field">
                                    <div class="col-3 pr-0">
                                        <div class="form-group" style="width:100%!important;">
                                            <select class="form-control fidelity-form-input" disabled
                                                style="width: -1%!important;"
                                                formControlName="contactNumberCountryCode">
                                                <option *ngFor="let countryCode of countryCodes"
                                                    [value]="countryCode.displayName">
                                                    {{countryCode.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-8 pl-0">
                                        <div class="form-group">
                                            <input readOnly appPhoneMask type="text"
                                                class="form-control fidelity-form-input"
                                                formControlName="contactNoDuplicate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Seller Email</label>
                                <input readOnly type="text" class="form-control fidelity-form-input fidelity_email"
                                    formControlName="email" name="Seller Email">
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </mat-dialog-content>
        <hr>
        <mat-dialog-actions align="end">
            <button id="Feature_create_btn" *ngIf="bookAppointmentForm.get('isAlternateSeller').value&&bookAppointmentForm.get('appointmentDate').valid&&((timeslots?.length==0&&alternateSellers?.length==0)||
                (timeslots?.length>0&&alternateSellers?.length>0&&!isAtleastOneSellerAvailableTimeEqualsUserTime))"
                (click)="escalate()" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="button"
                cdkFocusInitial>Escalate</button>
            <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
                cdkFocusInitial>Save</button>
            <button id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
                [mat-dialog-close]="true">Cancel</button>
        </mat-dialog-actions>
    </fieldset>
</form>
