<div class="fidelity-popup-heading container-fluid p-relative"> Call Info
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div *ngIf="customerData?.Customers.length != 0">
    <form class="fidelity-popup-form">
        <mat-dialog-content>
            <div class="row">
                <div class="col-6 mt-4">
                    <div class="row">
                        <div class="col-5">
                            <label>Customer ID</label>
                        </div>
                        <div class="col-7">
                            <ng-container *ngFor="let customer of customerData?.Customers;let i=index">
                                <mat-radio-group aria-label="Select an option" (change)="selectCustomer(i,customer)">
                                    <mat-radio-button [value]="customer.isChecked"
                                        [checked]="customer.isChecked == true">
                                        <span (click)="redirectToCustomerDetailPage(customer)"><a
                                                style="color: #166dff;">{{customer.CustomerRefNo}}</a></span>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-4">
                    <div class="row">
                        <div class="col-6">
                            <label>Customer Name: </label>
                        </div>
                        <div class="col-6">
                            <label> <b>{{selectedCustomer?.FullName}}</b> </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Email Address: </label>
                        </div>
                        <div class="col-6">
                            <label> <b>{{selectedCustomer?.Email}}</b> </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Premise Number : </label>
                        </div>
                        <div class="col-6">
                            <label> <b>{{selectedCustomer?.PremisesNoCountryCode}} {{selectedCustomer?.PremisesNo}}</b>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Status : </label>
                        </div>
                        <div class="col-6">
                            <label> <b>{{selectedCustomer?.CustomerStatusName}}</b> </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="customer-table-con">
                        <p-scrollPanel [style]="{ height: '30vh'}">
                            <table class="fidelity-table">
                                <thead>
                                    <th></th>
                                    <th>Site Type</th>
                                    <th>OB Number</th>
                                    <th>Site Address Details</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of selectedCustomer?.address;let i=index">
                                        <td>
                                            <mat-radio-group aria-label="Select an option"
                                                (change)="selectAddress(i,customer)">
                                                <mat-radio-button [value]="customer.isChecked"
                                                    [checked]="customer.isChecked == true">
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </td>
                                        <td>{{customer.SiteTypeName?
                                            customer.SiteTypeName:'-'}}</td>
                                        <td>
                                            <a style="color: #166dff;"
                                                (click)="customer.OccurrenceBookId&&redirectToStack(customer)">{{customer.OccurrenceBookNumber?
                                                customer.OccurrenceBookNumber:'-'}}</a>
                                        </td>
                                        <td>{{customer.FullAddress?
                                            customer.FullAddress:'-'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </p-scrollPanel>
                    </div>
                    <div class="text-center mt-3">
                        <button type="button" (click)="redirectToCustomerPage()"
                            class="btn btn-md-fidelity fidelity-btn-grey">Yes</button>
                        <button type="button" (click)="redirectToSearch()"
                            class="btn btn-md-fidelity fidelity-btn-brown">Navigate to search</button>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
    </form>
</div>
<div *ngIf="customerData?.Customers.length == 0">
    No profiles matched !
</div>