<div class="fidelity-popup-heading container-fluid p-relative">Incoming Call Customer
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form">
    <mat-dialog-content>
        <div class="row mt-4" *ngIf="customerData?.Customers.length != 0">
            <div class="col-6">
                <div class="customer-table-con" style="height: 50vh;">
                    <p-scrollPanel [style]="{ height: '30vh'}">
                        <table class="fidelity-table">
                            <thead>
                                <th>Customer Name</th>
                                <th>Customer ID</th>
                                <th>Link Call</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customerData?.Customers">
                                    <td>{{customer.FullName}}</td>
                                    <td (click)="redirectToCustomerPage(customer)"><a>{{customer.CustomerRefNo}}</a>
                                    </td>
                                    <td>
                                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true"
                                            (change)="customerDetails(customer)"></mat-radio-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </p-scrollPanel>
                </div>
            </div>
            <div class="col-6">
                <div class="page-sub-title text-center">
                    {{selectedCustomerAddressDetails?.FullName}}-{{selectedCustomerAddressDetails?.CustomerRefNo}}</div>
                <div class="row mb-2" *ngFor="let address of customerAddressList; let i = index">
                    <div class="col-4">
                        Address {{i+1}}
                    </div>
                    <div class="col-8">
                        {{address.CustomerRefNo}}({{address.FullAddress}})
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="customerData?.Customers.length == 0">
            No profiles matched !
        </div>
    </mat-dialog-content>
</form>