<div *ngIf="popUpClose">
  <div class="fidelity-popup-heading container-fluid p-relative">Update Customer Details
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
  </div>
  <app-popup-loader></app-popup-loader>
  <div class="fdt-dialog-body">
    <form class="fidelity-popup-form" customForm [formGroup]="customerContactForm" (ngSubmit)="onSubmit()">
      <div>
        <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom">
          <div class="row p-relative">
            <div class="p-absolute" style="right: 0px;top: 0px; z-index: 2;">
              <button type="button"
                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3"
                matTooltip="Edit" (click)="onEdit()">
                <i aria-hidden="true" class="icon icon-edit"></i></button>
            </div>
            <div class="col-6">
              <label>First Name <span class="mandatory-field">*</span> </label>
              <div class="row">
                <div class="col-4 pr-0">
                  <div class="form-group" style="width: 100%!important;">
                    <select-custom-control [loopableArray]='titles' [defaultOptionValue]="null"
                      formControlName="titleId"></select-custom-control>
                  </div>
                </div>
                <div class="col-8 pl-0">
                  <div class="form-group" style="width: 82%!important;">
                    <input-custom-control formControlName="firstName">
                    </input-custom-control>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group p-relative">
                <label class="d-block mt-2">Last Name<span class="mandatory-field">*</span></label>
                <input-custom-control formControlName="lastName">
                </input-custom-control>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class=" d-block mt-2">Email Address<span class="mandatory-field">*</span></label>
                <input autocomplete="off" type="text" formControlName="email"
                  class="form-control fidelity-form-input fidelity_email" id="Customer_Name">
              </div>
              <ng-container *ngIf="customerSiteType?.id==1">
                <div class="col-12">
                  <label class="ext-padd d-block mt-2">ID Type</label>
                  <mat-radio-group formControlName="isPassport" aria-label="Select an option">
                    <mat-radio-button id="available" class="fidelity-radio-btn" [value]="false">SA ID
                      Number
                    </mat-radio-button>
                    <mat-radio-button id="custom" class="fidelity-radio-btn" [value]="true" ml-4
                      style="margin-left:50px">
                      Passport
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-12" *ngIf="customerContactForm?.get('isPassport').value==false">
                  <div class="form-group">
                    <label>SA ID</label>
                    <input-custom-control [type]="hideSaid ? 'password' : 'text'" [placeholder]="'Enter SA ID'"
                      [name]="'SA ID'" formControlName="saId" [ngClass]="{'disabled': !isEditSaId}">
                    </input-custom-control>
                    <i (click)="showSaid()"
                      [class]="hideSaid ? 'fa fa-eye-slash p-absolute password-eye-1' : 'fa fa-eye p-absolute password-eye-1'"
                      aria-hidden="true"></i>
                  </div>
                </div>
                <ng-container *ngIf="customerContactForm?.get('isPassport').value==true">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Passport Number</label>
                      <input-custom-control formControlName="passportNo" [type]="hidePassport ? 'password' : 'text'"
                        [ngClass]="{'disabled': !isEditPassport}">
                      </input-custom-control>
                      <i (click)="showPassport()"
                        [class]="hidePassport ? 'fa fa-eye-slash p-absolute password-eye-1 ' : 'fa fa-eye p-absolute password-eye-1'"
                        aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-11">
                        <label>Expiry Year</label>
                        <select-custom-control [loopableArray]='years' [defaultOptionValue]="null"
                          [ngClass]="{'disabled': !isEditPassport}"
                          formControlName="passportExpiryYear"></select-custom-control>
                      </div>
                      <div class="col-11"
                        [ngStyle]="{'pointer-events':customerContactForm?.get('passportExpiryYear').value?'all':'none'}">
                        <label>Expiry Month</label>
                        <select-custom-control [loopableArray]='months' [defaultOptionValue]="null"
                          [ngClass]="{'disabled': !isEditPassport}"
                          formControlName="passportExpiryMonth"></select-custom-control>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="col-6">
              <div class="row">
                <ng-container formGroupName="contactInfo">
                  <div class="col-12">
                    <label>Mobile1 <span class="mandatory-field">*</span> </label>
                    <div class="row">
                      <div class="col-3 pr-0">
                        <div class="form-group" style="width: 100%!important;">
                          <select class="form-control fidelity-form-input pad-right"
                            style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                            formControlName="mobile1CountryCode">
                            <option *ngFor="let countryCode of countryCodeList" [value]="countryCode.displayName">
                              {{countryCode.displayName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-8 pl-0">
                        <div class="form-group" style="width: 97%!important;">
                          <input id="mobileNumber1"
                            style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                            [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                            [maxlength]="formConfigs.southAfricanContactNumberMaxLength" appPhoneMask
                            [title]="contactInfoFormGroupControls?.get('mobile1CountryCode')?.value"
                            formControlName="mobile1" class="form-control fidelity-form-input" name="Mobile Number 1"
                            placeholder="Mobile Number1" [ngClass]="{'is-mobile-invalid': contactInfoFormGroupControls?.get('mobile1')?.value|findDuplicate:contactInfoFormGroupControls:
                                            'mobile1'}" />
                          <span class="duplicate"
                            *ngIf="contactInfoFormGroupControls.get('mobile1')?.value|findDuplicate:contactInfoFormGroupControls:'mobile1'">
                            Mobile Number1 should be different
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="copyOfContactInfoFormGroupControls?.mobile2">
                    <label>Mobile2<span *ngIf="(!contactInfoFormGroupControls.get('mobile2')?.value && !contactInfoFormGroupControls.get('officeNo')?.value &&
                                    !contactInfoFormGroupControls.get('premisesNo')?.value)&&isFormSubmitted"
                        class="mandatory-field">*</span> </label>
                    <div class="row">
                      <div class="col-3 pr-0">
                        <div class="form-group" style="width: 100%!important;">
                          <select class="form-control fidelity-form-input pad-right"
                            style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                            formControlName="mobile2CountryCode">
                            <option *ngFor="let countryCode of countryCodeList" [value]="countryCode.displayName">
                              {{countryCode.displayName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-8 pl-0">
                        <div class="form-group" style="width: 97%!important;">
                          <input id="mobileNumber2" #input
                            style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                            appPhoneMask [title]="contactInfoFormGroupControls?.get('mobile2CountryCode')?.value"
                            formControlName="mobile2"
                            [ngClass]="{'is-mobile-invalid': contactInfoFormGroupControls?.get('mobile2')?.value|findDuplicate:contactInfoFormGroupControls:
                                                'mobile2': contactInfoFormGroupControls?.get('mobile2CountryCode')?.value}"
                            class="form-control fidelity-form-input" name="Mobile Number 2"
                            placeholder="Mobile Number2" />
                          <span class="duplicate"
                            *ngIf="contactInfoFormGroupControls.get('mobile2')?.value|findDuplicate:contactInfoFormGroupControls:
                                                'mobile2':contactInfoFormGroupControls.get('mobile2CountryCode')?.value">
                            Mobile Number2 should be different
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="copyOfContactInfoFormGroupControls?.officeNo">
                    <label>Office<span *ngIf="(!contactInfoFormGroupControls.get('mobile2')?.value && !contactInfoFormGroupControls.get('officeNo')?.value &&
                                    !contactInfoFormGroupControls.get('premisesNo')?.value)&&isFormSubmitted"
                        class="mandatory-field">*</span> </label>
                    <div class="row">
                      <div class="col-3 pr-0">
                        <div class="form-group" style="width: 100%!important;">
                          <select class="form-control fidelity-form-input pad-right"
                            style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                            formControlName="officeNoCountryCode">
                            <option *ngFor="let countryCode of countryCodeList" [value]="countryCode.displayName">
                              {{countryCode.displayName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-8 pl-0">
                        <div class="form-group" style="width: 97%!important;">
                          <input id="officeNumber"
                            style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                            [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                            [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                            [title]="contactInfoFormGroupControls?.get('officeNoCountryCode')?.value" appPhoneMask
                            formControlName="officeNo" [ngClass]="{'is-mobile-invalid': contactInfoFormGroupControls?.get('officeNo')?.value|findDuplicate:contactInfoFormGroupControls:
                                                'officeNo'}" class="form-control fidelity-form-input"
                            name="Office Number" placeholder="Office Number" />
                          <span class="duplicate"
                            *ngIf="contactInfoFormGroupControls.get('officeNo')?.value|findDuplicate:contactInfoFormGroupControls:'officeNo'">
                            Office number should be different
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="copyOfContactInfoFormGroupControls?.premisesNo">
                    <label>Premises<span *ngIf="(!contactInfoFormGroupControls.get('mobile2')?.value && !contactInfoFormGroupControls.get('officeNo')?.value &&
                                    !contactInfoFormGroupControls.get('premisesNo')?.value)&&isFormSubmitted"
                        class="mandatory-field">*</span> </label>
                    <div class="row">
                      <div class="col-3 pr-0">
                        <div class="form-group" style="width: 100%!important;">
                          <select class="form-control fidelity-form-input pad-right"
                            style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                            formControlName="premisesNoCountryCode">
                            <option *ngFor="let countryCode of countryCodeList" [value]="countryCode.displayName">
                              {{countryCode.displayName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-8 pl-0">
                        <div class="form-group" style="width: 97%!important;">
                          <input id="premises"
                            style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                            [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                            [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                            [title]="contactInfoFormGroupControls?.get('premisesNoCountryCode')?.value" appPhoneMask
                            [ngClass]="{'is-mobile-invalid': contactInfoFormGroupControls?.get('premisesNo')?.value|findDuplicate:contactInfoFormGroupControls:
                                                'premisesNo'}" formControlName="premisesNo"
                            class="form-control fidelity-form-input" name="Premises Number"
                            placeholder="Premises Number" />
                          <span class="duplicate"
                            *ngIf="contactInfoFormGroupControls.get('premisesNo')?.value|findDuplicate:contactInfoFormGroupControls:'premisesNo'">
                            Premises number should be different
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-6" *ngIf="copyOfContactInfoFormGroupControls?.isCPAExemptRequired">
              <div class="form-group">
                <label class="col-12">CPA Exempt</label>
                <mat-radio-group name="CPA Exempt" formControlName="isCPAExempt">
                  <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                    Yes
                  </mat-radio-button>
                  <mat-radio-button class="fidelity-radio-btn" [value]="false">
                    No
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <ng-container *ngIf="customerSiteType?.id==2">
              <div class="col-6">
                <div class="form-group">
                  <label>Register Number</label>
                  <input-custom-control formControlName="companyRegNo">
                  </input-custom-control>
                </div>
              </div>
            </ng-container>
          </div>
        </p-scrollPanel>
      </div>
      <hr>
      <div class="text-center pt-3">
        <button id="Feature_create_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button
          type="submit">Submit</button>
        <button id="Feature_cancel_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
          [mat-dialog-close]="true">Cancel</button>
      </div>
    </form>
  </div>
</div>