<div class="fidelity-popup-heading container-fluid p-relative">Schedule Callback View
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form *ngIf="scheduleCallbackData" class="fidelity-popup-form view-box">
    <mat-dialog-content>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Callback ID :&nbsp;</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{ scheduleCallbackData?.leadCallbackRefNo?
                                scheduleCallbackData?.leadCallbackRefNo:scheduleCallbackData?.customerCallbackRefNo
                                }}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Callback Timing :&nbsp;</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{ scheduleCallbackData?.callbackDateTime | date}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Assign Type :&nbsp;</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{ scheduleCallbackData?.assignType }}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">QueueName :&nbsp;</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{ scheduleCallbackData?.callbackQueueName?
                                scheduleCallbackData?.callbackQueueName:'-' }}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Customer ID :&nbsp;</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{ scheduleCallbackData?.customerRefNo?
                                scheduleCallbackData.customerRefNo:'-' }}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Lead ID :&nbsp;</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{
                                scheduleCallbackData?.leadRefNo?scheduleCallbackData.leadRefNo:'-' }}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key" style="width: 40%;">Contact Number :&nbsp;</span>
                        <span id="" class="value">
                            <span class="d-inline-block" *ngIf="scheduleCallbackData?.contactNumber">
                                {{scheduleCallbackData?.contactNumberCountryCode}}{{(scheduleCallbackData?.contactNumber | phoneMask)}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Comments :&nbsp;</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{
                                scheduleCallbackData?.comments?scheduleCallbackData.comments:'-' }}</span>
                        </span>
                    </div>
                </div>
            </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="end" style="padding-top: 20px;" *ngIf="scheduleCallbackData?.type=='Schedule Callback'">
        <button id="Feature_cancel_btn1" class="btn btn-md-fidelity fidelity-btn-grey" mat-button type="submit"
            [mat-dialog-close]="true" (click)="onSubmit('snooze')">Snooze 5 mins</button>
        <button id="Feature_create_btn2" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="submit"
            cdkFocusInitial [disabled]="!scheduleCallbackData" (click)="onSubmit('accept')">Accept
            Callback</button>
        <button id="Feature_cancel_btn3" class="btn btn-md-fidelity fidelity-btn-grey" mat-button type="button"
            [mat-dialog-close]="true" (click)="onSubmit('cancel')" [disabled]="!scheduleCallbackData">Cancel Callback
        </button>
    </mat-dialog-actions>
</form>
