<div class="page-heading ">
    <h1 class="page-title d-inline-block">Inspection No: {{ customerInspectionId ?
        inspectionCallDetails?.customerInspectionNumber : ''}} </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item" *ngIf="isNew=='inspectionlist'">
            <a> Technical Management </a>
        </li>
        <li class="breadcrumb-item" *ngIf="isNew=='inspectionlist'">
            Inspection List
        </li>
        <li class="breadcrumb-item" *ngIf="isNew=='customerlist'">
            <a (click)="navigateToList()">Customer List</a>
        </li>
        <li class="breadcrumb-item" *ngIf="!isDealer && isNew=='inspectionlist'">
            <a (click)="navigateToList()"> Inhouse </a>
        </li>
        <li class="breadcrumb-item" *ngIf="isDealer && isNew=='inspectionlist'">
            <a (click)="navigateToList()"> Dealers </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToTechnicalTab()">{{isNew=='customerlist' ? 'View Customer: Inspection' : 'Inspection'}}
            </a>
        </li>
        <li class="breadcrumb-item">{{ !customerInspectionId ? 'Create' : 'Update' }}
            Inspection Call</li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a class="fidelity-btn-circle fidelity-white-btn inspection-quick-action-btn">
            <i aria-hidden="true" class="icon icon-manual-add" matTooltip="Edit"></i>
            <div id="quickaction_sidebar" class="quick-action-sidebar p-absolute quick-action-top-con"
                style="bottom: 0;z-index: 10;top: 5vh !important;bottom: unset !important;">
                <div class="quick-action-sidebar-body p-relative">
                    <ul class="quick-action-menu-con">
                        <li class="quick-action-menu mb-1"
                            [ngClass]="{'disabled-menu': !inspectionCallDetails?.customerInspectionId}">
                            <a (click)="openVoidInfoDialog()">Void</a>
                        </li>
                        <li class="quick-action-menu mb-1"
                            [ngClass]="{'disabled-menu': !inspectionCallDetails?.customerInspectionId}"
                            (click)="openEscalationDialog()">
                            <a>Escalation</a>
                        </li>
                        <li class="quick-action-menu mb-1"
                            [ngClass]="{'disabled-menu': !inspectionCallDetails?.customerInspectionId}"
                            (click)="openInspectionCallBackDialog()">
                            <a>Callback</a>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix"></div>

</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="inspectionCallForm" customForm (ngSubmit)="onSubmitInspectionCall()" #insForm>
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '70vh'}" styleClass="custom">
                        <div class="ibox-body space-saving-con mb-3" style="    position: relative;">
                            <div class="row sm-inputs">
                                <div class="col-12 page-sub-title">BASIC INFO</div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Customer</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="customerName" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Customer ID</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="customerRefNo" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Division ID</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="division" />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <span matTooltip="{{inspectionCallForm?.get('address')?.value}}">
                                            <input class="form-control fidelity-form-input disabled" type="text"
                                                formControlName="address" /></span>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-start align-items-center">
                                    <div class="form-group pb-2 addr-verification-checkbox p-relative">
                                        <mat-checkbox class="fidelity-checkbox" formControlName="isAddressVerified"
                                            name="Address Verified" (change)="isAddressChecked($event)"></mat-checkbox>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Tech Area</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="techArea" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Origin</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="origin" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Ownership</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="ownership" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Reference No</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="referenceNo" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="form-group">
                                                <label>Contact<span class="mandatory-field">*</span></label>
                                                <select class="form-control fidelity-form-input" name="contact"
                                                    formControlName="contact">
                                                    <option value="" disabled>Select Contact</option>
                                                    <option *ngFor="let contactData of contactList"
                                                        [value]="contactData.customerName">
                                                        {{contactData.customerName}}
                                                    </option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-2" style="    margin-top: 24px;
                                        ">
                                            <button type="button" pButton icon="fa fa-plus mini-plus-btn"
                                                [disabled]="isVoid() || isCompleted()"
                                                (click)="openAddContact(true)"></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Contact No<span class="mandatory-field">*</span></label>

                                        <select class="form-control fidelity-form-input" name="contact No"
                                            formControlName="contactNumber">
                                            <option value="" disabled>Select</option>
                                            <option [value]="item?.id"
                                                *ngFor="let item of contactNumberList; let i=index"> {{item?.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Dealer</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            style="color: #00b7df;cursor: pointer;" formControlName="dealer" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="form-group">
                                                <label>Alternative Contact</label>
                                                <select class="form-control fidelity-form-input" name="alternateContact"
                                                    formControlName="alternateContact">
                                                    <option value="" disabled>Select Contact</option>
                                                    <option *ngFor="let contactData of alternativContactList"
                                                        [value]="contactData.customerName">
                                                        {{contactData.customerName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2" style="    margin-top: 24px;
                                        ">
                                            <button type="button" pButton icon="fa fa-plus mini-plus-btn"
                                                [disabled]="isVoid() || isCompleted()"
                                                (click)="openAddContact(false)"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Alternative Contact No</label>
                                        <select class="form-control fidelity-form-input" name="Alternative Contact No"
                                            formControlName="alternateContactNumber">
                                            <option value="" disabled>Select </option>
                                            <option [value]="item?.id"
                                                *ngFor="let item of altContactNumberList; let i=index">
                                                {{item?.value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Panel Type</label>
                                        <select class="form-control fidelity-form-input" name="panelType"
                                            formControlName="panelTypeConfigId">
                                            <option value="" disabled>Select Panel Type</option>
                                            <option *ngFor="let panelData of panelTypeList" [value]="panelData.id">
                                                {{panelData.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Status</label>
                                    <div class="form-group">
                                        <div>
                                            <mat-checkbox class="fidelity-checkbox mr-2" formControlName="isNew"
                                                [disabled]="true">New</mat-checkbox>
                                            <mat-checkbox class="fidelity-checkbox mr-2" formControlName="isScheduled"
                                                [disabled]="true">Scheduled</mat-checkbox>
                                            <mat-checkbox class="fidelity-checkbox mr-2" formControlName="isTempDone"
                                                [disabled]="true">Temp Done</mat-checkbox>
                                        </div>
                                        <div>
                                            <mat-checkbox class="fidelity-checkbox mr-2" formControlName="isVoid"
                                                [disabled]="true">Void</mat-checkbox>
                                            <mat-checkbox class="fidelity-checkbox mr-2" formControlName="isCompleted"
                                                [disabled]="true">Completed</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex align-items-center">
                                    <button class="btn btn-md-fidelity fidelity-btn-brown" type="button"
                                        [disabled]="isVoid() || isCompleted()" (click)="openCallCreationTemp()">
                                        Call Creation Template</button>
                                </div>
                            </div>
                            <div class="row sm-inputs">
                                <div class="col-12 page-sub-title">SERVICE CALL INFO</div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Call Details<span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input" name="callType"
                                            formControlName="customerInspectionCallTypeId">
                                            <option value="" disabled>Select Call Details</option>
                                            <option *ngFor="let callTypeData of callDetailsList"
                                                [value]="callTypeData.id">
                                                {{callTypeData.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Job Type<span class="mandatory-field">*</span></label>
                                        <select class="form-control fidelity-form-input" name="jobType"
                                            formControlName="jobTypeId">
                                            <option value="" disabled>Select Job Type</option>
                                            <option *ngFor="let jobTypeData of jobTypeList" [value]="jobTypeData.id">
                                                {{jobTypeData.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row sm-inputs" formGroupName="appointmentInfo">
                                <div class="col-12 page-sub-title">APPOINMENT INFO</div>
                                <div class="col-4 p-relative">
                                    <label class="d-block"> Next Available Appointment</label>
                                    <div class="form-group fdt-date-con d-flex justify-content-between">
                                        <p-calendar formControlName="NextAvailableAppointmentDate" showTime="true"
                                            placeholder="" class="col-8 pl-0" [disabled]="true"
                                            [style]="{'width':'100%'}">
                                        </p-calendar>
                                        <div class="col-4 text-center">
                                            <mat-checkbox class="fidelity-checkbox"
                                                formControlName="IsNextAvailableAppointment"
                                                (change)="onChangeNextAvailableCheck($event)"
                                                [disabled]="(this.inspectionCallDetails?.appointmentInfo?.scheduledStartDate || !this.inspectionCallForm.get('appointmentInfo.NextAvailableAppointmentDate').value || !this.inspectionCallForm.get('appointmentInfo.estimatedTime').value) ? true : false">
                                            </mat-checkbox>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group fdt-date-con p-relative" style="width: 100%;">
                                                <label>Scheduled Start Date</label>
                                                <p-calendar formControlName="scheduledStartDate"
                                                    [style]="{'width':'100%','pointer-events':'none'}" showTime="true"
                                                    placeholder="" (click)="navigateToTechAllocation()"
                                                    [disabled]="'true'"></p-calendar>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group fdt-date-con" style="width: 100%;">
                                                <label>Scheduled End Date</label>
                                                <p-calendar formControlName="scheduledEndDate" showTime="true"
                                                    [disabled]="true" placeholder="" [showIcon]="true"
                                                    [style]="{'width':'100%'}" [icon]="'fa fa-calendar'"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Preferred Time</label>
                                        <select class="form-control fidelity-form-input disabled" disabled
                                            [value]="(inspectionCallDetails?.appointmentInfo?.prefferedTime)?(inspectionCallDetails?.appointmentInfo?.prefferedTime): ''">
                                            <option value="">Select Preferred Time</option>
                                            <option [value]="item.id" *ngFor="let item of timeDropdown;">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Estimated Time</label>
                                                <input class="form-control fidelity-form-input" placeholder="hh:mm"
                                                    type="text" kzMask="99:99"
                                                    (retornoKzMask)="guardaValorCEPFormatado($event)"
                                                    formControlName="estimatedTime"
                                                    [readOnly]="inspectionCallDetails?.appointmentInfo?.scheduledStartDate ? true : (isVoid() || isCompleted())">

                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Actual Time</label>
                                                <input class="form-control fidelity-form-input" type="text"
                                                    [value]="inspectionCallDetails?.appointmentInfo?.actualTime"
                                                    readonly (click)="openActualTimeDialog()"
                                                    style="position: relative;" />
                                                <i class="pi pi-clock" style="position: absolute;
                                                    top: 22px; right: 50px; color: #80bdec; font-size: 30px;
                                                    cursor: pointer;" (click)="openActualTimeDialog()"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-6 d-flex align-items-center">
                                            <div class="form-group mt-3">
                                                <mat-checkbox class="fidelity-checkbox"
                                                    formControlName="isAppointmentChangable">
                                                    Appointment Changeable
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Tech Area</label>
                                                <input class="form-control fidelity-form-input disabled" type="text"
                                                    [value]="inspectionCallDetails?.appointmentInfo?.techArea ? inspectionCallDetails?.appointmentInfo?.techArea :'-'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Inspector</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            [value]="inspectionCallDetails?.appointmentInfo?.inspector" />
                                    </div>
                                </div>
                            </div>
                            <div class="row sm-inputs">
                                <div class="col-4 d-flex align-items-center">
                                    <button class="btn btn-md-fidelity fidelity-btn-brown" type="button"
                                        (click)="navigateToInspectionFormCreation()">Inspection
                                        Form</button>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Results</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="results" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Severity Rating</label>
                                        <input class="form-control fidelity-form-input disabled" type="text"
                                            formControlName="severityRating" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Diagnosis</label>
                                        <select class="form-control fidelity-form-input" name="diagnosis"
                                            formControlName="diagnosisId">
                                            <option value="" disabled>Select Diagnosis</option>
                                            <option *ngFor="let diagnosisData of diagnosisList"
                                                [value]="diagnosisData.id">
                                                {{diagnosisData.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row sm-inputs">
                                <div class="col-12 page-sub-title">FEEDBACK</div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <select class="form-control fidelity-form-input" name="feedback"
                                            formControlName="inspectionFeedbackConfigId">
                                            <option value="" disabled>Select Feedback</option>
                                            <option *ngFor="let feedbackData of feedbackList" [value]="feedbackData.id">
                                                {{feedbackData.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <mat-tab-group [selectedIndex]="selectedIndex"
                                    class="fidelity-tab-group fidelity-vertical-tab mat-tab-body-padding-0">
                                    <mat-tab label="SERVICE CALL NOTES" class="bg-gray">
                                        <ul class=" custom-scroll"
                                            *ngIf="inspectionCallDetails?.inspectionNotes?.length > 0" style="float: left; width: 100%; margin: 0; padding: 0;
                                        margin-bottom: 10px;max-height: 20vh;overflow: auto;">
                                            <li
                                                *ngFor="let item of inspectionCallDetails?.inspectionNotes; let i=index">
                                                <b style="float: left; width: 100%;">{{item?.notes}}</b>
                                                <span style="font-size: 12px; color: #aaa; float: left; width: 100%;">
                                                    {{item?.createdDate ? (item?.createdDate | date): ''}} |
                                                    <span style="color: #888;">{{item?.createdBy}}</span> </span>
                                            </li>
                                        </ul>
                                        <textarea name="notes" formControlName="notes"
                                            class="form-control fidelity-form-input" id="" rows="7">
                                        </textarea>
                                    </mat-tab>
                                    <mat-tab label="INSPECTOR SPECIAL INSTRUCTION" class="bg-gray">

                                        <ul class=" custom-scroll"
                                            *ngIf="inspectionCallDetails?.inspectorInstructions?.length > 0"
                                            style="float: left; width: 100%; margin: 0; padding: 0; margin-bottom: 10px;max-height: 20vh;overflow: auto;">
                                            <li
                                                *ngFor="let item of inspectionCallDetails?.inspectorInstructions; let i=index">
                                                <b style=" float: left; width: 100%;">{{item?.instruction}}</b>
                                                <span style="font-size: 12px;  color: #aaa; float: left; width: 100%;">
                                                    {{item?.createdDate ? (item?.createdDate | date) : ''}} |
                                                    <span style="color: #888;">{{item?.createdBy}}</span> </span>
                                            </li>
                                        </ul>
                                        <textarea name="techInstruction" formControlName="techInstruction"
                                            class="form-control fidelity-form-input" id=""
                                            rows="7"> {{inspectionCallDetails?.techInstruction ? inspectionCallDetails?.techInstruction : '--'}}</textarea>
                                    </mat-tab>
                                </mat-tab-group>

                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-md-fidelity fidelity-btn-brown autoSave"
                        [disabled]="isVoid() || isCompleted()">Save</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        (click)="navigateToTechnicalTab()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Call creation template pop up -->
<p-dialog class="custom-pdialog" styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="callCreationDialog"
    [responsive]="false" showEffect="fade" [resizable]="false" [modal]="true" [contentStyle]="{'overflow-y':'auto'}"
    [style]="{width: '800px'}" [baseZIndex]="1000" [focusOnShow]="false">
    <p-header>Call Creation Template</p-header>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;" customForm
        [formGroup]="callCreationTemplateForm" (ngSubmit)="onSubmitCallCreationTemplate()">
        <div>
            <div>
                <div class="view-box">
                    <div class="" formArrayName="callCreationQuestionTemplate"
                        *ngFor="let control of callCreationTemplateItemsFormArray?.controls;let i=index">
                        <div class="row mt-2" [formGroupName]="i" *ngIf="!control?.get('isDeleted').value">
                            <div class="col-6">
                                <div class="col-12 mb-2 p-0 font-16"> {{ control?.get('questionName')?.value }}
                                </div>
                            </div>
                            <div class="col-2" *ngIf="control?.get('isYesNo')?.value">
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="valueYesNo">
                                    <span class="slider round active yes_no"></span>
                                    <!--slider round active req_ack-->
                                </label>
                            </div>
                            <div class="col-2" *ngIf="!control?.get('isYesNo')?.value">

                            </div>
                            <div class="col-4" *ngIf="control?.get('isTextBox')?.value">
                                <div class="form-group">
                                    <textarea class="form-control fidelity-form-input" placeholder="Enter"
                                        formControlName="value"></textarea>
                                </div>
                            </div>
                            <div class="col-4" *ngIf="control?.get('isDropdown')?.value">
                                <select class="form-control fidelity-form-input" name="" formControlName="value"
                                    *ngIf="control?.get('questionName')?.value.toLowerCase() == 'preferred timing' || control?.get('questionName')?.value.toLowerCase() == 'preferred time'">
                                    <option value="">Select </option>
                                    <option [value]="item.id" *ngFor="let item of timeDropdown; let i=index">
                                        {{item.displayName}}</option>
                                </select>
                                <select class="form-control fidelity-form-input" name="" formControlName="value"
                                    *ngIf="control?.get('questionName')?.value.toLowerCase() == 'preferred payment method'">
                                    <option value="">Select </option>
                                    <option [value]="item.id" *ngFor="let item of paymentDropdown; let i=index">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix" style="margin-top: 20px;">
                <div class="text-center">
                    <button [disabled]="!(callCreationTemplateItemsFormArray?.controls?.length > 0)"
                        class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
                    <button (click)="callCreationDialog = false" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="actualTimeDialog" [responsive]="false" [baseZIndex]="1000"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '1250px'}">
    <p-header>Actual Timing</p-header>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;" customForm [formGroup]="actualTimingForm"
        (ngSubmit)="onSubmitActualTiming()" autocomplete="off">
        <div>
            <div>
                <div class="view-box">
                    <div class="container-fluid">
                        <div class="header-row row" style="font-size: 1rem;white-space: nowrap;flex-wrap: nowrap;">
                            <div class="col-2">Date</div>
                            <div class="col-2">GPS Co-Ordinates Logged</div>
                            <div class="col-2">On Route Time</div>
                            <div class="col-2"> Start Time</div>
                            <div class="col-2">End Time</div>
                            <div class="col-1"> Actual Time</div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                    <div class="" formArrayName="actualTimingList"
                        *ngFor="let obj of actualTimingForm?.get('actualTimingList')?.controls;let i=index">
                        <div class="row mt-2">
                            <div class="container-fluid">
                                <div class="children-row row mb-2" style="flex-wrap: nowrap;" [formGroupName]="i">
                                    <div class="col-2">
                                        <input type="text" value="{{obj.get('onRouteDate')?.value | date}}"
                                            class="form-control fidelity-form-input " name="Date" disabled>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control fidelity-form-input"
                                            value="{{obj.get('coordinates')?.value}}" disabled>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group fdt-date-con">
                                            <p-calendar [timeOnly]="true"
                                                formControlName="onRouteTime" styleClass="w-100"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group fdt-date-con">
                                            <p-calendar [timeOnly]="true" [minTime]="obj.get('onRouteTime').value"
                                                formControlName="startTime" styleClass="w-100"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group fdt-date-con">
                                            <p-calendar [timeOnly]="true" formControlName="endTime" [minTime]="obj.get('startTime').value"
                                                styleClass="w-100"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="form-group p-relative">
                                            <input type="text" class="form-control fidelity-form-input "
                                                style="font-size: 13px;" formControlName="actualTime" disabled>
                                        </div>
                                    </div>
                                    <div class="col-1 d-flex">
                                        <button type="button" *ngIf="i==0" id="add_cmc-sms-group_btn"
                                            class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn "
                                            (click)="addActualTiming()" title="add">
                                            <i aria-hidden="true" class="icon" data-icon="b"></i>
                                        </button>
                                        <button type="button" id="delete_record" *ngIf="i!==0"
                                            class="delete-row circle-minus-btn ml-1" (click)="removeActualTiming(i)"
                                            title="Delete"><i aria-hidden="true" class="icon icon-delete"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix" style="margin-top: 20px;">
                <div class="text-center">
                    <button type="submit" pButton class="ui-button-success mr-4"
                        style="display: inline-block;background: #115943!important;" label="Submit"></button>
                    <button (click)="actualTimeDialog = false"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<!-- Void Info pop up -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="voidInfoDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header>
        Feedback
    </p-header>
    <div>
        <form class="fidelity-popup-form" [formGroup]="voidInfoForm" customForm style="font-size: 0.9rem!important;">
            <div>
                <div class="view-box">
                    <div class="row">
                        <!-- popup content -->
                        <!-- srt vat -->
                        <div class="col-12 mb-2 font-20">
                            <!-- Unable to Void as Service call has been invoiced.  -->
                            <div class="form-group">
                                <label>Reason<span class="mandatory-field">*</span></label>
                                <textarea class="form-control fidelity-form-input" type="text" rows="2"
                                    formControlName="VoidReason"></textarea>

                            </div>
                        </div>
                        <!-- end vat -->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" pButton class="ui-button-success mr-4"
                    [disabled]="inspectionCallDetails?.isVoid || inspectionCallDetails?.isCompleted"
                    style="display: inline-block;background: #115943!important;" (click)="applyVoidInfo()"
                    label="Apply"></button>
                <button (click)="voidInfoDialog = false"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<!-- Warning Notification pop up -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="isWarningNotificationDialog"
    [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header>
        {{warningNotificationMessage?.isGRV ? 'Warning' : 'Notification'}}
    </p-header>
    <div>
        <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
            <div>
                <div class="view-box">
                    <div class="row">
                        <!-- popup content -->
                        <!-- srt vat -->
                        <div class="col-12 mb-2 text-center font-20">{{warningNotificationMessage?.validateMessage ?
                            warningNotificationMessage?.validateMessage : '--'}}
                        </div>
                        <!-- end vat -->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="button" pButton class="ui-button-success mr-4"
                    style="display: inline-block;background: #115943!important;"
                    (click)="isWarningNotificationDialog = false" label="Ok"></button>
                <button *ngIf="warningNotificationMessage?.isGRV" (click)="isWarningNotificationDialog = false"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Create GRV Request</button>
            </div>
        </div>
    </p-footer>
</p-dialog>


<!-- add new contact pop up -->
<p-dialog styleClass="acknowledgeDialog" [maximizable]="true" [(visible)]="openAddContactDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '700px'}">

    <p-header>
        Add New {{addNewContactForm?.get('isPrimary')?.value ? 'Contact' : 'Alternate Contact'}}
    </p-header>
    <form class="fidelity-popup-form" style="font-size: 0.9rem!important;" [formGroup]="addNewContactForm"
        (ngSubmit)="addContactSubmit()">
        <div>

            <div>
                <div class="view-box">
                    <div class="row mt-1">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Contact Name
                                    <span class="mandatory-field">*</span>
                                </label>
                                <input formControlName="contactName" class="form-control fidelity-form-input"
                                    name="Contact Name" placeholder="Enter Contact Name">
                                <span class="text-danger"
                                    *ngIf="addNewContactForm?.get('contactName')?.touched && addNewContactForm?.get('contactName')?.errors?.required">
                                    Contact Name is required
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <label>Contact Number <span class="mandatory-field">*</span>
                            </label>
                            <div class="row">
                                <div class="col-3 pr-0">
                                    <div class="form-group" style="width: 100%!important;">
                                        <select class="form-control fidelity-form-input pad-right"
                                            style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                                            formControlName="contactNoCountryCode">
                                            <option *ngFor="let countryCode of countryCodes"
                                                [value]="countryCode.displayName">
                                                {{countryCode.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-8 pl-0">
                                    <div class="form-group" style="width: 84%!important;">
                                        <input id="mobileNumber2" #input
                                            style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                                            appPhoneMask formControlName="contactNo"
                                            class="form-control fidelity-form-input" name="Contact Number"
                                            placeholder="Contact Number" />
                                        <span class="text-danger"
                                            *ngIf="addNewContactForm?.get('contactNo')?.touched && addNewContactForm?.get('contactNo')?.errors?.required">
                                            Contact Number is required
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="addNewContactForm?.get('contactNo')?.touched && addNewContactForm?.get('contactNo')?.errors?.maxlength">
                                            Contact Number must not be longer than 11 digits
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="addNewContactForm?.get('contactNo')?.touched && addNewContactForm?.get('contactNo')?.errors?.minlength">
                                            Contact Number should be 9 to 10 digits
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="text-center">
                    <button type="submit" pButton class="ui-button-success mr-4"
                        style="display: inline-block;background: #115943!important;" label="Add"></button>
                    <button (click)="openAddContactDialog = false"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>