<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
    (buttonClicked)="onCRUDRequested($event)"

    ></app-page-header>
<div class="page-content fade-in-up">
  <div>
    <p-scrollPanel [style]="{height: '68vh'}" styleClass="custom">
      <div class="row">
        <div class="col-md-12">
          <div class="ibox" style="height: auto;">
            <div class="ibox-body brown-border">
              <app-view-page [col]="2" [viewDetail]="viewData" [template]='3'></app-view-page>
            </div>
          </div>
        </div>
      </div>
    </p-scrollPanel>
  </div>
  <div class="text-center mt-3">
    <button id="cancel_new_leads_btn" type="button"
      class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelCmcSmsGroupBtn"
      (click)="goBack()">Back</button>
  </div>
</div>
