<div class="page-heading">
  <h1 class="page-title d-inline-block">New Receiving {{isDraft ? 'Edit' : ''}}</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a><i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
    <li class="breadcrumb-item"><a [routerLink]="['/inventory/dashboard']">Inventory Management</a> </li>
    <li class="breadcrumb-item"><a [routerLink]="['/inventory/order-receipts/receipting']" [queryParams]="{tab:0}">Receiving List</a></li>
    <li class="breadcrumb-item" *ngIf="isDraft == true"><a (click)="receiptingViewNew()">New Receiving View</a></li>
    <li class="breadcrumb-item"><a (click)="receiptingNew()">New Receiving {{isDraft ? 'Update' : ''}}</a></li>
    <li class="breadcrumb-item">Scan Items</li>
  </ol>
</div>
<div class="page-content fade-in-up ">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox" style="height: auto;">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
          <form class="fidelity-popup-form">
            <div class="ibox-body brown-border white-bg">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="d-flex mb-2">
                      <span id="" class="key">Stock Code</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{purchaseOrder.itemCode}}</span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex mb-2">
                      <span id="" class="key">Stock Description</span>
                      <span id="" class="value">
                        <span class="d-inline-block">{{purchaseOrder.itemName}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ibox-body brown-border white-bg">
              <div class="row">
                <div class="col-4">
                  <div>
                    <label class="scan-label">Stock count</label>
                    <div class="input-group fidelity-input-addon mb-3" style="height: 40px;">
                      <input type="text" class="form-control scan-input" mask="0*" name="stockCount" [(ngModel)]="stockCount">
                    </div>
                    <label>Total {{stockCount}} / {{totalPurchaseOrderItemCount}}</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center mt-3">
        <button class="btn  btn-md-fidelity fidelity-btn-brown btn-brown mr-4" (click)="save()" [disabled]="orderReceipt?.isVerified == true">Save</button>
        <button class="btn btn-md-fidelity btn-default" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
