<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Courtesy Call Config</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/technical-management/'>Technical Management</a>
        </li>
        <li class="breadcrumb-item">Courtesy Call Config</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="mb-3">
            <mat-tab-group [selectedIndex]="selectedTabIndex" class="fidelity-tab-group mat-tab-body-padding-0"
                (selectedTabChange)="onTabChange($event)">

                <!-- Customer Satisfaction Starts -->
                <mat-tab label="Customer Satisfaction" class="bg-gray" [disabled]="!getTabByName(0)">
                    
                    <form [formGroup]="customerSatisfactionForm" (ngSubmit)="submitCustomerSatisfactionData()" customForm>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label>Heading Row<span class="mandatory-field">*</span></label>
                                        <!-- <input class="form-control fidelity-form-input" type="text" 
                                            placeholder="Enter Heading" formControlName="customerSatisfactionName" /> -->
                                        <span matTooltipClass="my-custom-tooltip" matTooltip="{{customerSatisfactionForm.get('customerSatisfactionName').value}}">
                                            <textarea class="form-control fidelity-form-input" type="text" rows="2"
                                                formControlName="customerSatisfactionName" name="headingRow"></textarea>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-1 grid-icons-con customer-info-btns" *ngIf="customerSatisfactionName">
                                    <a matTooltip="Edit" class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn mr-3" style="top:22px;" (click)="enableCount()">
                                        <i aria-hidden="true" class="icon icon-edit"></i>
                                    </a>
                                </div>
                            </div>    
                        </div>
                        
                        <div class="text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">
                                {{customerSatisfactionName ? 'Update' : 'Save'}}</button>
                        </div>
                    </form>
                </mat-tab>
                <!-- Customer Satisfaction Endss -->

                <!-- Rating Items Starts -->
                <mat-tab label="Rating Items" class="bg-gray" [disabled]="!getTabByName(1)">
                    <form [formGroup]="ratingDescriptionForm">
                        <div class="container-fluid">
                            <div class="row header-row" style="flex-wrap: nowrap;font-size: 0.9rem;">
                                <div class="col-3">
                                    <div class="form-group fidelity-multiselect-dropdown-con rating-item-con">
                                        <label class="d-block">Job Category</label>
                                        <p-multiSelect [formControl]="ratingDescriptionForm?.controls['technicianCalltypeId']"
                                            [options]="jobCategoryList" defaultLabel="Select Job  Category" styleClass="w-100"
                                            [baseZIndex]="100"
                                            emptyFilterMessage="No Job  Category Exists" maxSelectedLabels="2"></p-multiSelect>
                                        <span class="text-danger mb-3"
                                            *ngIf="ratingDescriptionForm?.controls['technicianCalltypeId']?.touched && ratingDescriptionForm?.controls['technicianCalltypeId']?.invalid && ratingDescriptionForm?.controls['technicianCalltypeId']?.errors?.required">
                                            Job Category is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="d-block">Service Rating Items</label>
                                        <input class="form-control fidelity-form-input" type="text" formControlName="serviceRatingItems"
                                            placeholder="Enter Service Rating Items"
                                            [ngClass]="{'is-invalid': ratingDescriptionForm?.controls['serviceRatingItems']?.touched && ratingDescriptionForm?.controls['serviceRatingItems']?.invalid }" />
                                        <span class="text-danger mb-3"
                                            *ngIf="ratingDescriptionForm?.controls['serviceRatingItems']?.touched && ratingDescriptionForm?.controls['serviceRatingItems']?.invalid && ratingDescriptionForm?.controls['serviceRatingItems']?.errors?.required">
                                            Service Rating Item is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="d-block">Rating Type</label>
                                        <select class="form-control fidelity-form-input" formControlName="ratingTypeId"
                                            [ngClass]="{'is-invalid': ratingDescriptionForm?.controls['ratingTypeId']?.touched && ratingDescriptionForm?.controls['ratingTypeId']?.invalid }">
                                            <option value="">--Select Rating--</option>
                                            <option *ngFor="let ratingTypeData of ratingTypeList" [value]="ratingTypeData?.id">
                                                {{ratingTypeData?.displayName}}
                                            </option>
                                        </select>
                                        <span class="text-danger mb-3"
                                            *ngIf="ratingDescriptionForm?.controls['ratingTypeId']?.touched && ratingDescriptionForm?.controls['ratingTypeId']?.invalid && ratingDescriptionForm?.controls['ratingTypeId']?.errors?.required">
                                            Service Rating Item is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <label class="d-block">Status</label>
                                        <div class="form-group mt-3">
                                            <p-inputSwitch class="fidelity-toggle-btn enable-disable-toggle" formControlName="isActive">
                                            </p-inputSwitch>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <label class="d-block" style="white-space: nowrap;">Sort Order</label>
                                        <div class="form-group">
                                            <input class="form-control fidelity-form-input" type="text"
                                            formControlName="ratingSortOrder" [validateInput]="isANumberOnly"
                                            [maxlength]="2"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 p-relative">
                                    <button type="button" class="circle-plus-btn" matTooltip="Add" style="top: 31px;right: 12px;"
                                        (click)="addRatingDescriptionsToTable()">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                
                    <form [formGroup]="ratingItemForm" (ngSubmit)="submitRatingItemsData()" customForm>
                        <div>
                            <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                                <div class="children-row container-fluid my-2" formArrayName="ratingItemConfigs">
                                    <div class="children-row row mb-1" style="flex-wrap: nowrap;font-size: 0.9rem;"
                                        *ngFor="let control of getRatingItemsFormArray?.controls; let i = index" [formGroupName]="i">
                                        <div class="col-3">
                                            <select class="form-control fidelity-form-input" formControlName="technicianCalltypeId"
                                                [ngClass]="{'disabled': control?.get('isDisabled')?.value}">
                                                <option value="">--Job Category--</option>
                                                <option *ngFor="let jobCategoryData of jobCategoryList" [value]="jobCategoryData?.value">
                                                    {{jobCategoryData?.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <input class="form-control fidelity-form-input" type="text" formControlName="serviceRatingItems" [ngClass]="{'disabled': control?.get('isDisabled')?.value}" />
                                        </div>
                                        <div class="col-2">
                                            <select class="form-control fidelity-form-input" formControlName="ratingTypeId" [ngClass]="{'disabled': control?.get('isDisabled')?.value}">
                                                <option value="">--Select Rating--</option>
                                                <option *ngFor="let ratingTypeData of ratingTypeList" [value]="ratingTypeData?.id">
                                                    {{ratingTypeData?.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-1">
                                            <div class="form-group mt-2 rating-items-status-switch">
                                                <p-inputSwitch class="fidelity-toggle-btn enable-disable-toggle" formControlName="isActive"
                                                    [ngClass]="{'disabled': control?.get('isDisabled')?.value}"></p-inputSwitch>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <input class="form-control fidelity-form-input" type="text" formControlName="sortOrder" [validateInput]="isANumberOnly" [ngClass]="{'disabled': control?.get('isDisabled')?.value}" [maxlength]="2"/>
                                        </div>
                                        <div class="col-1 p-relative">
                                            <button type="button" class="circle-edit-btn" matTooltip="Edit" style="top: 8px;right: 11px;" (click)="enableRatingItemcontrols(i)">
                                                <i aria-hidden="true" class="icon icon-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                        </div>
                    </form>
                </mat-tab>
                <!-- Rating Items Ends -->

                <!-- Contacts Drop Down List Starts -->
                <mat-tab label="Contacts Drop Down List" class="bg-gray" [disabled]="!getTabByName(2)">
                    <form [formGroup]="contactsDropDownDescriptionForm">
                        <div class="container-fluid">
                            <div class="row header-row" style="flex-wrap: nowrap;font-size: 0.9rem;">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="d-block">Call Status</label>
                                        <input class="form-control fidelity-form-input" type="text"         
                                            formControlName="callStatus"
                                            placeholder="Enter Call Status"
                                            [ngClass]="{'is-invalid': contactsDropDownDescriptionForm?.controls['callStatus']?.touched && contactsDropDownDescriptionForm?.controls['callStatus']?.invalid }" />
                                        <span class="text-danger mb-3"
                                            *ngIf="contactsDropDownDescriptionForm?.controls['callStatus']?.touched && contactsDropDownDescriptionForm?.controls['callStatus']?.invalid && contactsDropDownDescriptionForm?.controls['callStatus']?.errors?.required">
                                            Call Status is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label class="d-block">Call Status Description</label>
                                        <input class="form-control fidelity-form-input" type="text" 
                                            formControlName="description"
                                            placeholder="Enter Call Status Description"
                                            [ngClass]="{'is-invalid': contactsDropDownDescriptionForm?.controls['description']?.touched && contactsDropDownDescriptionForm?.controls['description']?.invalid }" />
                                        <span class="text-danger mb-3"
                                            *ngIf="contactsDropDownDescriptionForm?.controls['description']?.touched && contactsDropDownDescriptionForm?.controls['description']?.invalid && contactsDropDownDescriptionForm?.controls['description']?.errors?.required">
                                            Call Status Description is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <label class="d-block">Status</label>
                                        <div class="form-group mb-3 mt-3">
                                            <p-inputSwitch class="fidelity-toggle-btn enable-disable-toggle" formControlName="isActive">
                                            </p-inputSwitch>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 p-relative">
                                    <button type="button" class="circle-plus-btn" matTooltip="Add"
                                    style="top: 31px;right: 0px;" (click)="addContactsDescriptionsToTable()">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                
                    <form [formGroup]="contactsDropDownForm" (ngSubmit)="submitContactsDropdownData()" customForm>
                        <div>
                            <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                                <div class="children-row container-fluid my-2" formArrayName="contactsDropdownConfigs">
                                    <div class="children-row row mb-1" style="flex-wrap: nowrap;font-size: 0.9rem;"
                                        *ngFor="let control of getContactDropdownFormArray?.controls; let i = index" [formGroupName]="i">
                                        <div class="col-3">
                                            <input class="form-control fidelity-form-input" type="text" formControlName="callStatus" [ngClass]="{'disabled': control?.get('isDisabled')?.value}" />
                                        </div>
                                        <div class="col-5">
                                            <input class="form-control fidelity-form-input" type="text" formControlName="description" [ngClass]="{'disabled': control?.get('isDisabled')?.value}" />
                                        </div>
                                        <div class="col-1">
                                            <div class="form-group rating-items-status-switch mt-2">
                                                <p-inputSwitch class="fidelity-toggle-btn enable-disable-toggle" formControlName="isActive" [ngClass]="{'disabled': control?.get('isDisabled')?.value}"></p-inputSwitch>
                                            </div>
                                        </div>
                                        <div class="col-1 p-relative">
                                            <button type="button" class="circle-edit-btn" matTooltip="Edit" style="top: 4px;right: 0px;" (click)="enableContactDropdowncontrols(i)">
                                                <i aria-hidden="true" class="icon icon-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                        </div>
                    </form>
                </mat-tab>
                <!-- Contacts Drop Down Config List -->

                <!-- Calls To Include For Courtesy Call Starts -->
                <mat-tab label="Calls To Include For Courtesy Call" class="bg-gray" [disabled]="!getTabByName(3)">
                    <form [formGroup]="callsToIncludeDescriptionForm">
                        <div class="container-fluid">
                            <div class="row header-row" style="flex-wrap: nowrap;font-size: 0.9rem;">
                                <div class="col-3">
                                    <div class="form-group fdt-pdropdown-con">
                                        <label class="d-block">Job Category</label>
                                        <p-dropdown name="jobTypeId2" id="jobTypeId2"
                                            [formControl]="callsToIncludeDescriptionForm?.controls['jobTypeId']"
                                            [options]="callsToIncludeJobCategoryList" placeholder="Select Job Category" styleClass="w-100"
                                            [baseZIndex]="100" emptyFilterMessage="No Job Category Exists" appendTo="body"
                                            [showClear]="false"></p-dropdown>
                                        <span class="text-danger mb-3"
                                            *ngIf="callsToIncludeDescriptionForm?.controls['jobTypeId']?.touched && callsToIncludeDescriptionForm?.controls['jobTypeId']?.invalid && callsToIncludeDescriptionForm?.controls['jobTypeId']?.errors?.required">
                                            Job Category is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group fidelity-multiselect-dropdown-con rating-item-con">
                                        <label class="d-block">Call Status</label>
                                    <p-multiSelect [formControl]="callsToIncludeDescriptionForm?.controls['callStatusTypeId']"
                                        [options]="callsToIncludeCallStatusTypeList" defaultLabel="Select Call Status" styleClass="w-100"
                                        [baseZIndex]="100"
                                        emptyFilterMessage="No Call Status Exists" maxSelectedLabels="2"></p-multiSelect>
                                    <span class="text-danger mb-3"
                                        *ngIf="callsToIncludeDescriptionForm?.controls['callStatusTypeId']?.touched && callsToIncludeDescriptionForm?.controls['callStatusTypeId']?.invalid && callsToIncludeDescriptionForm?.controls['callStatusTypeId']?.errors?.required">
                                        Call Status is Required
                                    </span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group fidelity-multiselect-dropdown-con rating-item-con">
                                        <label class="d-block">Diagnosis to be excluded</label>
                                        <p-multiSelect [formControl]="callsToIncludeDescriptionForm?.controls['diagnosisId']"
                                            [options]="callsToIncludeDiagnosisTypeList" defaultLabel="Select Diagnosis to be excluded" styleClass="w-100"
                                            [baseZIndex]="100"
                                            emptyFilterMessage="No Diagnosis to be excluded Exists" maxSelectedLabels="2"></p-multiSelect>
                                        <span class="text-danger mb-3"
                                            *ngIf="callsToIncludeDescriptionForm?.controls['diagnosisId']?.touched && callsToIncludeDescriptionForm?.controls['diagnosisId']?.invalid && callsToIncludeDescriptionForm?.controls['diagnosisId']?.errors?.required">
                                            Diagnosis to be excluded is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <label class="d-block">Status</label>
                                        <div class="form-group mt-3">
                                            <p-inputSwitch class="fidelity-toggle-btn enable-disable-toggle" formControlName="isActive">
                                            </p-inputSwitch>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 p-relative">
                                    <button type="button" class="circle-plus-btn" matTooltip="Add"
                                    style="top: 31px;right: 0px;" (click)="addCallsToIncludeDescriptionsToTable()">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                
                    <form [formGroup]="callsToIncludeForm" (ngSubmit)="submitCallsToIncludeData()" customForm>
                        <div>
                            <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                                <div class="children-row container-fluid my-2" formArrayName="courtesyCallConfigs">
                                    <div class="children-row row mb-1" style="flex-wrap: nowrap;font-size: 0.9rem;"
                                        *ngFor="let control of getCallsToIncludeFormArray?.controls; let i = index" [formGroupName]="i">
                                        <div class="col-3">
                                            <select class="form-control fidelity-form-input"formControlName="jobTypeId"
                                                [ngClass]="{'disabled': control?.get('isDisabled')?.value}" (change)="getCallStatusArrayList(i, $event.target.value)">
                                                <option value="">--Select Job Category--</option>
                                                <option *ngFor="let callsToIncludeJobCategoryData of callsToIncludeJobCategoryList"
                                                    [value]="callsToIncludeJobCategoryData?.value">
                                                    {{callsToIncludeJobCategoryData?.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <select class="form-control fidelity-form-input"formControlName="callStatusTypeId"
                                                [ngClass]="{'disabled': control?.get('isDisabled')?.value}">
                                                <option value="" disabled>--Select Call Status--</option>
                                                <option *ngFor="let callsToIncludeStatusData of callStatusOptions[i]"
                                                    [value]="callsToIncludeStatusData?.value">
                                                    {{callsToIncludeStatusData?.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="form-control fidelity-form-input" formControlName="diagnosisId"
                                                [ngClass]="{'disabled': control?.get('isDisabled')?.value}">
                                                <option value="">--Select Diagnosis to be excluded--</option>
                                                <option *ngFor="let callsToIncludeDiagnosisData of callsToIncludeDiagnosisTypeList"
                                                    [value]="callsToIncludeDiagnosisData?.value">
                                                    {{callsToIncludeDiagnosisData?.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-1">
                                            <div class="form-group mt-2 rating-items-status-switch">
                                                <p-inputSwitch class="fidelity-toggle-btn enable-disable-toggle" formControlName="isActive"
                                                    [ngClass]="{'disabled': control?.get('isDisabled')?.value}"></p-inputSwitch>
                                            </div>
                                        </div>
                                        <!-- <div class="col-1 grid-icons-con customer-info-btns mr-3">
                                            <a matTooltip="Edit"
                                                class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
                                                (click)="enableCallsToIncludeControls(i)">
                                                <i aria-hidden="true" class="icon icon-edit"></i>
                                            </a>
                                        </div> -->
                                        <div class="col-1 p-relative">
                                            <button type="button" class="circle-edit-btn" matTooltip="Edit" style="top: 4px;right: -1px;" (click)="enableCallsToIncludeControls(i)">
                                                <i aria-hidden="true" class="icon icon-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                        </div>
                    </form>
                </mat-tab>
                <!-- Calls To Include For Courtesy Call Ends -->

                <!-- Calls To Include For Customer App/Technical App Rating Starts -->
                <mat-tab label="Calls To Include For Customer App/Technical App Rating" class="bg-gray" [disabled]="!getTabByName(4)">
                    <form [formGroup]="callsToIncludeCustomerAppDescriptionForm">
                        <div class="container-fluid">
                            <div class="row header-row" style="flex-wrap: nowrap;font-size: 0.9rem;">
                                <div class="col-3">
                                    <div class="form-group fdt-pdropdown-con">
                                        <label class="d-block">Job Category</label>
                                        <p-dropdown name="jobTypeId2" id="jobTypeId2"
                                            [formControl]="callsToIncludeCustomerAppDescriptionForm?.controls['jobTypeId']"
                                            [options]="callsToIncludeJobCategoryList" placeholder="Select Job Category" styleClass="w-100"
                                            [baseZIndex]="100" emptyFilterMessage="No Job Category Exists" appendTo="body"
                                            [showClear]="false"></p-dropdown>
                                        <span class="text-danger mb-3"
                                            *ngIf="callsToIncludeCustomerAppDescriptionForm?.controls['jobTypeId']?.touched && callsToIncludeCustomerAppDescriptionForm?.controls['jobTypeId']?.invalid && callsToIncludeCustomerAppDescriptionForm?.controls['jobTypeId']?.errors?.required">
                                            Job Category is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group fidelity-multiselect-dropdown-con rating-item-con">
                                        <label class="d-block">Call Status</label>
                                        <p-multiSelect [formControl]="callsToIncludeCustomerAppDescriptionForm?.controls['callStatusTypeId']"
                                            [options]="callsToIncludeCallStatusTypeList" defaultLabel="Select Call Status" styleClass="w-100"
                                            [baseZIndex]="100"
                                            emptyFilterMessage="No Call Status Exists" maxSelectedLabels="2"></p-multiSelect>
                                        <span class="text-danger mb-3"
                                            *ngIf="callsToIncludeCustomerAppDescriptionForm?.controls['callStatusTypeId']?.touched && callsToIncludeCustomerAppDescriptionForm?.controls['callStatusTypeId']?.invalid && callsToIncludeCustomerAppDescriptionForm?.controls['callStatusTypeId']?.errors?.required">
                                            Call Status is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group fidelity-multiselect-dropdown-con rating-item-con">
                                        <label class="d-block">Diagnosis to be excluded</label>
                                        <p-multiSelect [formControl]="callsToIncludeCustomerAppDescriptionForm?.controls['diagnosisId']"
                                            [options]="callsToIncludeDiagnosisTypeList" defaultLabel="Select Diagnosis to be excluded" styleClass="w-100"
                                            [baseZIndex]="100"
                                            emptyFilterMessage="No Diagnosis to be excluded Exists" maxSelectedLabels="2"></p-multiSelect>
                                        <span class="text-danger mb-3"
                                            *ngIf="callsToIncludeCustomerAppDescriptionForm?.controls['diagnosisId']?.touched && callsToIncludeCustomerAppDescriptionForm?.controls['diagnosisId']?.invalid && callsToIncludeCustomerAppDescriptionForm?.controls['diagnosisId']?.errors?.required">
                                            Diagnosis to be excluded is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <label class="d-block">Status</label>
                                        <div class="form-group mt-3">
                                            <p-inputSwitch class="fidelity-toggle-btn enable-disable-toggle" formControlName="isActive">
                                            </p-inputSwitch>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 p-relative">
                                    <button type="button" class="circle-plus-btn" matTooltip="Add"
                                    style="top: 31px;right: 0px;"
                                    (click)="addCallsToIncludeCustomerAppDescriptionsToTable()">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                
                    <form [formGroup]="callsToIncludeCustomerAppForm" (ngSubmit)="submitCallsToIncludeCustomerAppData()" customForm>
                        <div>
                            <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                                <div class="children-row container-fluid my-2" formArrayName="courtesyCallConfigsCustomerApp">
                                    <div class="children-row row mb-1" style="flex-wrap: nowrap;font-size: 0.9rem;"
                                        *ngFor="let control of getCallsToIncludeCustomerAppFormArray?.controls; let i = index" [formGroupName]="i">
                                        <div class="col-3">
                                            <select class="form-control fidelity-form-input" formControlName="jobTypeId"
                                                [ngClass]="{'disabled': control?.get('isDisabled')?.value}" (change)="getCallStatusArrayList(i, $event.target.value)">
                                                <option value="">--Select Job Category--</option>
                                                <option *ngFor="let callsToIncludeJobCategoryData of callsToIncludeJobCategoryList"
                                                    [value]="callsToIncludeJobCategoryData?.value">
                                                    {{callsToIncludeJobCategoryData?.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <select class="form-control fidelity-form-input" formControlName="callStatusTypeId"
                                                [ngClass]="{'disabled': control?.get('isDisabled')?.value}">
                                                <option value="" disabled>--Select Call Status--</option>
                                                <option *ngFor="let callsToIncludeStatusData of callStatusOptions[i]"
                                                    [value]="callsToIncludeStatusData?.value">
                                                    {{callsToIncludeStatusData?.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="form-control fidelity-form-input" formControlName="diagnosisId"
                                                [ngClass]="{'disabled': control?.get('isDisabled')?.value}">
                                                <option value="">--Select Diagnosis to be excluded--</option>
                                                <option *ngFor="let callsToIncludeDiagnosisData of callsToIncludeDiagnosisTypeList"
                                                    [value]="callsToIncludeDiagnosisData?.value">
                                                    {{callsToIncludeDiagnosisData?.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-1">
                                            <div class="form-group mt-2 rating-items-status-switch">
                                                <p-inputSwitch class="fidelity-toggle-btn enable-disable-toggle" formControlName="isActive"
                                                    [ngClass]="{'disabled': control?.get('isDisabled')?.value}"></p-inputSwitch>
                                            </div>
                                        </div>
                                        <div class="col-1 p-relative">
                                            <button type="button" class="circle-edit-btn" matTooltip="Edit" style="top: 4px;right: -1px;" (click)="enableCallsToIncludeCustomerAppControls(i)">
                                                <i aria-hidden="true" class="icon icon-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                        </div>
                    </form>
                </mat-tab>
                <!-- Calls To Include For Customer App/Technical App Rating Ends -->

                <!-- EMOJI Config Starts -->
                <mat-tab label="Emoji Config" class="bg-gray" [disabled]="!getTabByName(5)">
                    <form [formGroup]="emojiConfigDescriptionForm">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="d-block">Rating Item Type</label>
                                        <select class="form-control fidelity-form-input" formControlName="ratingTypeId"
                                        [ngClass]="{'is-invalid': emojiConfigDescriptionForm?.controls['ratingTypeId']?.touched && emojiConfigDescriptionForm?.controls['ratingTypeId']?.invalid }">
                                            <option value="" disabled>Select Rating Type</option>
                                            <option *ngFor="let ratingTypeData of emojiConfigRatingTypeList"
                                            [value]="ratingTypeData.id">{{ratingTypeData.displayName}}
                                            </option>
                                        </select>
                                        <span class="text-danger mb-3"
                                            *ngIf="emojiConfigDescriptionForm?.controls['ratingTypeId']?.touched && emojiConfigDescriptionForm?.controls['ratingTypeId']?.invalid && emojiConfigDescriptionForm?.controls['ratingTypeId']?.errors?.required">
                                            Rating type is Required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row header-row" style="flex-wrap: nowrap;font-size: 0.9rem;">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="d-block">Rating</label>
                                        <input class="form-control fidelity-form-input" type="text"         
                                            formControlName="rating"
                                            placeholder="Enter Rating"
                                            [ngClass]="{'is-invalid': emojiConfigDescriptionForm?.controls['rating']?.touched && emojiConfigDescriptionForm?.controls['rating']?.invalid }" />
                                        <span class="text-danger mb-3"
                                            *ngIf="emojiConfigDescriptionForm?.controls['rating']?.touched && emojiConfigDescriptionForm?.controls['rating']?.invalid && emojiConfigDescriptionForm?.controls['rating']?.errors?.required">
                                            Rating is Required
                                        </span>
                                        <span class="text-danger mb-3" *ngIf="emojiConfigDescriptionForm?.controls['rating']?.errors?.duplicate">
                                            Rating can not be duplicated
                                        </span>
                                        <span class="text-danger mb-3" *ngIf="emojiConfigDescriptionForm?.controls['rating']?.errors?.max">
                                            Rating can not exceed {{emojiConfigsLength}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="d-block">Emoji Name</label>
                                        <input class="form-control fidelity-form-input" type="text" 
                                            formControlName="emojiName"
                                            placeholder="Enter Emoji Name"
                                            [ngClass]="{'is-invalid': emojiConfigDescriptionForm?.controls['emojiName']?.touched && emojiConfigDescriptionForm?.controls['emojiName']?.invalid }" />
                                        <span class="text-danger mb-3"
                                            *ngIf="emojiConfigDescriptionForm?.controls['emojiName']?.touched && emojiConfigDescriptionForm?.controls['emojiName']?.invalid && emojiConfigDescriptionForm?.controls['emojiName']?.errors?.required">
                                            Emoji Name is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <!-- <div class="form-group">
                                        <label class="d-block">Emoji</label>
                                        <input type="text" name="commentFile" class="input-box form-control" formControlName="commentFiles" readonly>
                                        <span class="input-group-btn">
                                            <div class="btn custom-file-uploader p-relative">
                                                <i class="fa fa-camera p-absolute" aria-hidden="true" style="color: 00b7df;left: -24px;"></i>
                                                <input type="file" name="file" [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']" multiple
                                                    (change)="uploadFiles($event, control)" />
                                                Browse
                                            </div>
                                        </span>
                                    </div> -->
                                    <label class="d-block">Emoji</label>
                                    <div class="input-group fidelity-file-upload p-relative">
                                        <input type="text" name="emojiFile" class="input-box form-control col-8"
                                        readonly formControlName="uploadFile" [ngClass]="{'is-invalid': emojiShowFileError }">
                                        <!-- [ngClass]="{'is-invalid': emojiConfigDescriptionForm?.controls['uploadFile']?.touched && emojiConfigDescriptionForm?.controls['uploadFile']?.invalid }" -->
                                        <span class="input-group-btn col-4 px-0" (click)="emojjFile.click()" style="cursor: pointer">
                                            <div class="btn custom-file-uploader p-relative">
                                                <!-- <i class="fa fa-camera p-absolute" aria-hidden="true" style="color: 00b7df;left: -24px;"></i> -->
                                                <input type="file" name="file"  [accept]="['.doc','.docx','.jpg','.jpeg','.pdf','.png','.xls','.xlsx']" #emojjFile (change)="uploadFiles($event)" style="visibility: hidden;"/>
                                                Browse
                                            </div>
                                        </span>
                                        <!-- <span class="text-danger mb-3"
                                            *ngIf="emojiConfigDescriptionForm?.controls['uploadFile']?.touched && emojiConfigDescriptionForm?.controls['uploadFile']?.invalid && emojiConfigDescriptionForm?.controls['uploadFile']?.errors?.required">
                                            Emoji file is Required
                                        </span> -->
                                        <span class="text-danger p-absolute mb-3" style="bottom: -32px; left: 0px;" *ngIf="emojiShowFileError">
                                            Emoji file is Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-1 p-relative">
                                    <button type="button" class="circle-plus-btn" matTooltip="Add"
                                    style="top: 31px;right: 0px;" (click)="addEmojiDescriptionToTable()">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                
                    <form [formGroup]="emojiConfigForm" (ngSubmit)="submitEmojiConfigData()" customForm>
                        <div>
                            <p-scrollPanel [style]="{height: '40vh'}" styleClass="custom">
                                <div class="children-row container-fluid my-2" formArrayName="emojiConfigs">
                                    <div class="children-row row mb-1" style="flex-wrap: nowrap;font-size: 0.9rem;"
                                        *ngFor="let control of getEmojiConfigFormArray?.controls; let i = index" [formGroupName]="i">
                                        <div class="col-2">
                                            <input class="form-control fidelity-form-input" type="text" formControlName="rating" [ngClass]="{'disabled': control?.get('isDisabled')?.value}" />
                                        </div>
                                        <div class="col-3">
                                            <input class="form-control fidelity-form-input" type="text" formControlName="emojiName" [ngClass]="{'disabled': control?.get('isDisabled')?.value}" />
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group rating-items-status-switch mt-2">
                                                <input class="form-control fidelity-form-input" type="text" formControlName="docName" [ngClass]="{'disabled': control?.get('isDisabled')?.value}" />
                                            </div>
                                        </div>
                                        <div class="col-1 p-relative"><!-- grid-icons-con customer-info-btns mr-3 -->
                                            <button type="button" class="circle-edit-btn" matTooltip="Edit" style="top: 11px;right: 0px;" (click)="openEmojiPopUp(control)">
                                                <!-- (click)="openEmojiPopUp(control?.get('ratingEmojiConfigId')?.value)" -->
                                                <i aria-hidden="true" class="icon icon-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                            [disabled]="getEmojiConfigFormArray?.controls?.length==0">Save</button>
                        </div>
                    </form>
                </mat-tab>
                <!-- EMOJI Config List -->

            </mat-tab-group>
        </div>
    </div>
</div>
