::ng-deep .rating-items-status-switch {
    .fidelity-toggle-btn.disabled {
        background-color: unset!important;

        .ui-inputswitch-slider {
            background-color: #ccc!important;

            &::before {
                background-color: #ccc!important;
            }
        }
    }   
}

::ng-deep .rating-item-con.fidelity-multiselect-dropdown-con {
    mat-select-autocomplete.is-invalid {
        box-shadow: none!important;
    }
    .mat-form-field-infix .mat-select {
        padding: 11.2px 8px!important;
    }
}
