<div class="page-heading">
    <h1 class="page-title d-inline-block">{{doaConfigId ? 'Edit' : 'New'}} DOA Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"><a routerLink='/configuration/doa-configuration'>DOA Configuration</a></li>
        <!-- <li class="breadcrumb-item" *ngIf="rawLeadId"><a routerLink='/sales/raw-lead/view'
                [queryParams]="{id:rawLeadId,status:status}" skipLocationChange>View Raw Lead Info</a></li> -->
        <li class="breadcrumb-item">{{doaConfigId ? 'Update' : 'Add'}} DOA Configuration</li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm class="fidelity-popup-form" [formGroup]="doaConfigForm" (ngSubmit)="onSubmit()">
                <div class="ibox space-saving-con">
                    <div class="custom-scroll1" style="overflow-x: auto;height: 55vh">
                    <!-- <p-scrollPanel [style]="{height: '55vh'}" styleClass="custom"> -->
                        <div class="ibox-body brown-border white-bg">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Department<span class="mandatory-field">*</span></label>
                                        <select id="sel_title" class="form-control fidelity-form-input"
                                            formControlName="departmentId">
                                            <option value="" disabled>Select Department</option>
                                            <option *ngFor="let department of departmentList" [value]="department.id">
                                                {{department.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Process Type<span class="mandatory-field">*</span></label>
                                        <select id="sel_title" class="form-control fidelity-form-input"
                                        (change)="onProcessTypeChange($event)" formControlName="processTypeId">
                                            <option value="" disabled>Select Process</option>
                                            <option *ngFor="let processType of processTypeList" [value]="processType.processTypeId">
                                                {{processType.processTypeName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Process Description<span class="mandatory-field">*</span></label>
                                            <textarea class="form-control fidelity-form-input" type="text"
                                            placeholder="Enter Process Description" formControlName="processDescription"></textarea>
                                    </div>
                                </div>
                                <div class="col-4" *ngIf="isEnableTransactionType">
                                    <div class="form-group">
                                        <label>Transaction Type</label>
                                        <select id="sel_title" class="form-control fidelity-form-input"
                                            formControlName="transactionTypeId">
                                            <option value="null" disabled>Select Transaction Type</option>
                                            <option *ngFor="let transactionType of transactionTypeList" [value]="transactionType.id">
                                                {{transactionType.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Excessive DOA Period( In Days)<span class="mandatory-field">*</span></label>
                                        <input [validateInput]='isANumberOnly' id="f_name" class="form-control fidelity-form-input" type="text"
                                            name="Excessive DOA Period" placeholder="Enter Excessive DOA Period" formControlName="excessiveDOAPeriod" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Excessive DOA Role<span class="mandatory-field">*</span></label>
                                        <select name= "Excessive DOA Role" id="sel_title" class="form-control fidelity-form-input"
                                            formControlName="excessiveDOARoleId">
                                            <option value="" disabled>Select DOA Role</option>
                                            <option *ngFor="let excessiveDoa of excessiveDoaList" [value]="excessiveDoa.id">
                                                {{excessiveDoa.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Status<span class="mandatory-field">*</span></label>
                                       <div>
                                        <mat-radio-group  formControlName="isActive">
                                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Active
                                            </mat-radio-button>
                                            <mat-radio-button class="fidelity-radio-btn" [value]="false">Inactive
                                            </mat-radio-button>
                                        </mat-radio-group>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Escalation Type</label>
                                       <div>
                                        <mat-radio-group  formControlName="isPercentage">
                                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Percentage
                                            </mat-radio-button>
                                            <mat-radio-button class="fidelity-radio-btn" [value]="false">Value
                                            </mat-radio-button>
                                        </mat-radio-group>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-2" *ngIf="isEnableStockType">
                                    <div class="form-group">
                                        <label>Stock Type<span class="mandatory-field">*</span></label>
                                        <p-multiSelect [options]="stockTypeList" [defaultLabel]="'Select Stock Type'" [disabled]="adminFeeId" formControlName="stockTypes" styleClass="w-100"></p-multiSelect>
                                    </div>
                                </div>
                            </div>

                        </div>
                    <!-- </p-scrollPanel> -->
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button id="create_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                    <button id="cancel_new_leads_btn" type="button" routerLink="/configuration/doa-configuration"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
