<div class="page-heading">
    <h1 class="page-title d-inline-block"> Received Batches - Other Locations </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">
            <a> Inventory Management </a>
        </li>
        <li class="breadcrumb-item"><a (click)="navigateToList()"> Job selection - Packing </a></li>
        <li class="breadcrumb-item"><a> Received Batches - Other Locations </a></li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2" *ngIf="showManager && !receivingBarcodeItem">
        <a  class="fidelity-btn-circle fidelity-white-btn manager-override-btn" (click)="managerOverridePopup('Packing')">
            <i class="fa fa-user" aria-hidden="true" matTooltip="Manager Override"></i>
        </a> 
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox picker-job-box view-box scanner-box-height" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                    <form class="fidelity-popup-form" customForm [formGroup]="pickingStockOrderScanForm">
                        <div class="ibox-body" *ngIf="receivingBarcodeItem">
                            <div class="row">
                                <div class="col-12 col-sm-4  red-pad">
                                    <div class="form-group p-relative picking-serial">
                                        <label> Scan/Enter Receiving Barcode </label>
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input class="form-control fidelity-form-input" autofocus maxlength="50" 
                                                placeholder="Scan/Enter" formControlName="scanReceivingBarcodeInput">
                                            <div class="input-group-append">
                                                <button class="text-white" type="button" (click)="receivingBarcodeScanItem()">
                                                    <i aria-hidden="true" class="icon icon-scan"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="text-danger" *ngIf="showDuplicateBarcodeError">
                                            {{duplicateBarcodeError}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-body" *ngIf="!receivingBarcodeItem">                             
                            <div class="row">
                                <div class="col-12 col-sm-6 red-pad p-relative mb-2">
                                    <div class="d-flex">
                                        <label class="mr-4 key"> <b> Warehouse </b> </label>
                                        <label class="value"> {{ pickerJobDetails?.warehouseName ? pickerJobDetails?.warehouseName : '-' }} </label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 red-pad p-relative mb-2">
                                    <div class="d-flex">
                                        <label class="mr-4 key"> <b> Receiving ID </b> </label>
                                        <label class="value">{{ pickerJobDetails?.receivingId ? pickerJobDetails?.receivingId : '-' }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 red-pad p-relative mb-2">
                                    <div class="d-flex">
                                        <label class="mr-4 key"> <b> Receiving Barcode </b> </label>
                                        <label class="value"> {{ pickerJobDetails?.receivingBarcode ? pickerJobDetails?.receivingBarcode : '-' }} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-4 red-pad">
                                    <div class="form-group p-relative picking-serial">
                                        <label>Scan/Enter Bin Location</label>
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input class="form-control fidelity-form-input" autofocus maxlength="50" 
                                                placeholder="Scan/Enter" formControlName="scanBinLocationInput">
                                            <div class="input-group-append">
                                                <button class="text-white" type="button" (click)="checkScanItem()">
                                                    <i aria-hidden="true" class="icon icon-scan"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="text-danger" *ngIf="showDuplicateBinError">
                                            {{duplicateBinError}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 red-pad">
                                    <div class="form-group p-relative picking-serial">
                                        <label> Scan/Enter Serial Number </label>
                                        <div class="input-group fidelity-input-addon mb-3">
                                            <input class="form-control fidelity-form-input" autofocus maxlength="50" placeholder="Scan/Enter" 
                                                [attr.disabled]="!packerJobScanItemDetails?.pickerJobScanItem?.isNotSerialized ? null : false" 
                                                tabindex="-1" formControlName="scanSerialNumberInput">
                                            <div class="input-group-append">
                                                <button class="text-white" type="button" (click)="checkSerialScanItem()"
                                                    [attr.disabled]="!packerJobScanItemDetails?.pickerJobScanItem?.isNotSerialized ? null : false">
                                                    <i aria-hidden="true" class="icon icon-scan"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row header-row mt-3">
                                <div class="col-12 col-sm-4">
                                    <label class="d-block"> <b> Stock Code </b> </label>
                                    <input type="text" class="form-control fidelity-form-input disabled"  formControlName="itemCode">
                                </div>
                                <div class="col-12 col-sm-4 p-relative">
                                    <label class="d-block"> <b> Bin Location </b> </label>
                                    <input type="text" class="form-control fidelity-form-input disabled" formControlName="bincode"> 
                                    <div class="d-flex p-absolute btns-con input-action-btns-con" style="font-size: 9px;right: 2vw;top: 35px;">
                                        <button class="mr-2 d-flex justify-content-center align-items-center" style="width:25px;height:25px;border-radius:50%;border:1px solid #ccc;cursor: pointer;" (click)="switchBinsGetMethod()"><span class="fa fa-step-forward"></span></button>
                                        <button class="d-flex justify-content-center align-items-center" style="width:25px;height:25px;border-radius:50%;border:1px solid #ccc;cursor: pointer;" (click)="managerOverridePopup('Bins')"><span class="icon icon-add"></span></button>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2">
                                    <label class="d-block"> <b> Qty </b> </label>
                                    <input type="text" class="form-control fidelity-form-input disabled" formControlName="totalQty">
                                </div>
                                <div class="col-12 col-sm-2 p-relative">
                                    <label class="d-block"> <b> Packed Qty </b> </label>
                                    <input type="text" class="form-control fidelity-form-input" formControlName="pickedQty"
                                    [readonly]="!packerJobScanItemDetails?.pickerJobScanItem?.isNotSerialized" maxlength="5"> 
                                    <div class="d-flex p-absolute btns-con input-action-btns-con" style="font-size: 9px;right: 2vw;top: 35px;">
                                        <button class="d-flex justify-content-center align-items-center" type="button"
                                            style="width:25px;height:25px;border-radius:50%;border:1px solid #ccc;cursor: pointer;"
                                            [disabled]="!packerJobScanItemDetails?.pickerJobScanItem?.isNotSerialized" (click)="checkSerialScanItem()">
                                            <span class="icon icon-add" matTooltip="Add"></span>
                                        </button>
                                        <span *ngIf="showManager"> 
                                            <i class="p-absolute icon icon-flag" (click)="variancePopupModal()"
                                            style="right: 30px;top: 0px;color: #007bff;font-size: 16px;bottom: 0px; cursor: pointer;"></i>
                                        </span>
                                    </div>
                                    <!-- <span class="text-danger" *ngIf="showDuplicatePickerError">
                                        {{duplicatePickerError}}
                                    </span> -->
                                </div>                                
                            </div>
                        </div>
                        <div class="text-center mt-3 btns-con">
                            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown" type="button" (click)="navigateToList()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>