<div class="fidelity-popup-heading container-fluid p-relative" mat-dialog-title cdkDrag
cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body"
cdkDragHandle> {{data.header}}
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="'close'">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm [formGroup]="managerOverrideUpdateForm">
    <mat-dialog-content>
        <div class="row" *ngIf="data.type == 'Picking' || data.type == 'Packing' || data.type == 'Transfer-request'">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Discrepancy Qty </label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <input type="text" class="fidelity-form-input form-control disabled" formControlName="VarianceQuantity">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Override Reason <span class="mandatory-field">*</span> </label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <select class="form-control fidelity-form-input" name="overrideReason"
                                formControlName="overrideReasonId" (change)="onChange($event.target.value)">
                                <option value="" selected disabled> Select </option>
                                <option [value]="item.id" *ngFor="let item of overrideReasonDropDown; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="showAlternatePickers">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Alternate Picker <span class="mandatory-field">*</span> </label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <select class="form-control fidelity-form-input" name="alternatePicker"
                                formControlName="alternatePickerId">
                                <option value="" selected disabled> Select </option>
                                <option [value]="item.id" *ngFor="let item of pickersList; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> User Name <span class="mandatory-field">*</span></label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <input type="text" autocomplete="new-UserName" name="UserName" class="fidelity-form-input form-control fidelity_email" formControlName="UserName"
                            [ngClass]="{'is-invalid': (managerOverrideUpdateForm?.get('UserName')?.touched || managerOverrideUpdateForm?.get('UserName')?.dirty) && (!managerOverrideUpdateForm?.get('UserName')?.valid) }">
                            <!-- <span class="invalid-feedback">
                                <span *ngIf="managerOverrideUpdateForm?.get('UserName').errors?.required">
                                    Please enter user name.
                                </span>
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Password <span class="mandatory-field">*</span></label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <input type="password"  class="form-control fidelity-form-input fidelity_password" placeholder="Password" formControlName="password"
                            autocomplete="off">
                            <!-- <input  type="password" autocorrect="off" autocapitalize="none" autocomplete="new-Password" name="Password" class="fidelity-form-input form-control" formControlName="Password"> -->
                            <!-- <span class="invalid-feedback">
                                <span *ngIf="managerOverrideUpdateForm?.get('Password').errors?.required">
                                    Please enter password.
                                </span>
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label> Comments <span class="mandatory-field">*</span></label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <textarea required type="text" class="fidelity-form-input form-control" formControlName="Comments"
                            [ngClass]="{'is-invalid': (managerOverrideUpdateForm?.get('Comments')?.touched || managerOverrideUpdateForm?.get('Comments')?.dirty) && (!managerOverrideUpdateForm?.get('Comments')?.valid) }"></textarea>
                            <!-- <span class="invalid-feedback">
                                <span *ngIf="managerOverrideUpdateForm?.get('Comments').errors?.required">
                                    Please enter comments.
                                </span>
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="data.type == 'Bins'">
            <div class="col-12">
                <div *ngIf="availableBinList.length>0" class="row">
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label> Available Bins <span class="mandatory-field">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="form-group">
                            <select name="locationBin" class="form-control fidelity-form-input" formControlName="locationBinIds"
                            [ngClass]="{'is-invalid': (managerOverrideUpdateForm?.get('locationBinIds')?.touched || managerOverrideUpdateForm?.get('UserName')?.dirty) && (!managerOverrideUpdateForm?.get('locationBinIds')?.valid) }">
                                <option value="" selected disabled>Select</option>
                                <option [value]="item.id" *ngFor="let item of availableBinList; let i=index">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="availableBinList.length==0 && isAvailableBin" style="display: flex;justify-content: center;align-items: center; font-size: 18px;font-weight: bold;">
                    <div class="" style="display: flex;">No available bin locations. Create one in warehouse management.</div>
                </div>
                <div *ngIf="availableBinList.length==0 && !isAvailableBin" style="display: flex;justify-content: center;align-items: center; font-size: 18px;font-weight: bold;">
                    <div class="" style="display: flex;">Loading...</div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <div class="text-center mt-4 mb-2" >
        <button [disabled]="data.type == 'Bins' && availableBinList.length==0" class="btn btn-md-fidelity fidelity-btn-brown" type="button" (click)="onSubmit()"> {{ data.type == 'Bins' ? 'Link' : 'Save'}}</button>
        <button *ngIf="data.type == 'Bins'" class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>
