::ng-deep .picking-serial {

    ng-component{
        position: absolute !important;
        bottom: -25px;
        z-index: 10;
    }
}
.custom-overflow{
    flex-wrap: nowrap;
    overflow-x: auto;
}
.flex-nowrap{
  flex-wrap: nowrap;
}
@media only screen and (min-width: 600px) and (max-width: 1180px) {
    .custom-packing-overflow{
        overflow: auto;
    } 
    .custom-packing-nowrap{
        flex-wrap: nowrap;
    }
}   