<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <div>
        <p-scrollPanel [style]="{height: '68vh'}" styleClass="custom">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox" style="height: auto;">
                        <div class="ibox-body brown-border">
                            <app-view-page [col]="2" [viewDetail]="viewDetailedData"></app-view-page>
                        </div>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
        <div class="text-center">
            <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2"
                (click)="navigateToList()">Back</button>
        </div>
    </div>
</div>