<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [captionFontSize]="primengTableConfigProperties.captionFontSize"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="col-12">
  <div class="page-content fade-in-up" style="height: 20vh;">
    <div class="ibox fidelity-grid-box custom-ibox">
      <div class="ibox-body">
        <app-view-page [col]="3" [viewDetail]="dueDiligenceDetail" [template]="3" [marginClass]="'m-0'"></app-view-page>
      </div>
    </div>
  </div>
</div>

<div class="page-content fade-in-up">
  <div class="ibox view-box">
    <div class="col-12">
      <form *ngIf="dueDiligenceForm" [formGroup]="dueDiligenceForm" (ngSubmit)="onSubmit()">
        <div class="ibox service-agreement-con space-saving-con installation-site-hazard-con"
          style="height: auto!important;">
          <div class="ibox-body mt-3 p-relative">
            <p-scrollPanel [style]="{height: '41vh'}" styleClass="custom">
              <fieldset>
                <div class="container-fluid due-diligence-container">
                  <div class="row align-items-center mb-2">
                    <div class="col-10 page-sub-title">
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-9 d-flex">
                      <label for="">HELLO. I am calling from ADT Security Customer Care Department,My name
                        is
                        {{customerVerificationData?.callMadeBy?customerVerificationData.callMadeBy:'-'}}, The reason
                        for my call is to
                        confirm
                        the information that we have on our own system for your security, and also to answer any
                        question you may have. It will only take a few minutes, may i proceed ?&nbsp;<span
                          class="mandatory-field">*</span></label>
                    </div>
                    <div class="col-3">
                      <div class="form-group mb-0">
                        <mat-radio-group class="d-flex" formControlName="isAnswerToConfirmtheSecurityInfo">
                          <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                          </mat-radio-button>
                          <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <span class="text-danger"
                        *ngIf="dueDiligenceForm.get('isAnswerToConfirmtheSecurityInfo')?.touched && dueDiligenceForm.get('isAnswerToConfirmtheSecurityInfo')?.errors?.required">
                        Please select any option
                      </span>
                    </div>
                  </div>

                  <ng-container *ngIf="dueDiligenceForm.get('isAnswerToConfirmtheSecurityInfo').value">
                    <div class="row">
                      <div style="font-size: 1.2rem !important;" class="col-10 page-sub-title">
                        I need to ask you a few security questions
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <label class="d-block">Please Provide us with your ID number ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-4">
                        <span (click)="onClickCustomerRefNo()">
                          <input autocomplete='off' formControlName="customerRefNo"
                            [ngClass]="{'incentive-link cursor-pointer': dueDiligenceForm?.get('customerRefNo')?.value}"
                            class="form-control fidelity-form-input" [validateInput]="isANumberOnly"
                            placeholder="Customer Ref No" type="text" minlength="13" maxlength="13" /></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <label class="d-block">Could you confirm the contact details we have on file for you
                          ?&nbsp;<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-4">
                        <div class="input-group mt-1 mb-1 p-relative fidelity-ph-no-field">
                          <div class="input-group-prepend">
                            <select disabled class="form-control fidelity-form-input" style="width: -1%;"
                              formControlName="contactNumberCountryCode">
                              <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                                {{countryCode.displayName}}
                              </option>
                            </select>
                          </div>
                          <input autocomplete="new-password" appPhoneMask style="width: 80%;"
                            [title]="dueDiligenceForm.get('contactNumberCountryCode')?.value"
                            [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                            [maxlength]="formConfigs.southAfricanContactNumberMaxLength"
                            class="form-control fidelity-form-input" name="Contact Number"
                            formControlName="contactNumber" placeholder="Enter Contact Number">
                          <span class="text-danger"
                            *ngIf="dueDiligenceForm.get('contactNumber')?.touched && dueDiligenceForm.get('contactNumber')?.errors?.required">
                            Contact Number is required
                          </span>
                          <span class="text-danger"
                            *ngIf="dueDiligenceForm.get('contactNumber')?.touched && dueDiligenceForm.get('contactNumber')?.errors?.minlength">
                            Contact Number is must be maximum
                            {{dueDiligenceForm?.get('contactNumber')?.errors?.maxlength?.requiredLength}} digits length
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <label class="d-block">Could you confirm the system where the system is installed ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-4">
                        <textarea maxlength="formConfigs.thousands" class="form-control fidelity-form-input"
                          formControlName="siteAddress" placeholder="Enter Site Address"></textarea>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('siteAddress')?.touched && dueDiligenceForm.get('siteAddress')?.errors?.required">
                          Site Address is required
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div style="font-size: 1.2rem !important;" class="col-10 page-sub-title">
                        The Alarm System ?
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Were you present at the time of the installation ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isPresentTimeOfInstallation">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isPresentTimeOfInstallation')?.touched && dueDiligenceForm.get('isPresentTimeOfInstallation')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Did the technician test all the security devices installed ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isTestAllSecurityDevicesInstalled">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isTestAllSecurityDevicesInstalled')?.touched && dueDiligenceForm.get('isTestAllSecurityDevicesInstalled')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Did he/she explain how to use the system ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isExplainHowtoUseSystem">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isExplainHowtoUseSystem')?.touched && dueDiligenceForm.get('isExplainHowtoUseSystem')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Did you sign the Commissioning Certificate on completion of the installation
                          ?&nbsp;<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isSignCommissioningCertificate">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isSignCommissioningCertificate')?.touched && dueDiligenceForm.get('isSignCommissioningCertificate')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Are you satisfied with the installation of the system ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isSatisfiedtheInstallation">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isSatisfiedtheInstallation')?.touched && dueDiligenceForm.get('isSatisfiedtheInstallation')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Are you confident that you will be able to use the alarm system on a daily basis
                          ?&nbsp;<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isAlarmSystemUsedonDailyBasis">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isAlarmSystemUsedonDailyBasis')?.touched && dueDiligenceForm.get('isAlarmSystemUsedonDailyBasis')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Comments made by Customer :<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <textarea maxlength="formConfigs.thousands" class="form-control fidelity-form-input"
                            formControlName="customerComments" placeholder="Enter Customer Comments "></textarea>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('customerComments')?.touched && dueDiligenceForm.get('customerComments')?.errors?.required">
                          Comments is required
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div style="font-size: 1.2rem !important;" class="col-10 page-sub-title">
                        Security Matters
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Are you aware that your {{customerVerificationData?.paymentFrequency}} fee owed to
                          ADT is {{customerVerificationData?.contractFee}} ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isAwareMonthlyFee">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isAwareMonthlyFee')?.touched && dueDiligenceForm.get('isAwareMonthlyFee')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center"
                      *ngIf="customerVerificationData?.paymentMethod?.toLowerCase() == 'debit order'">
                      <div class="col-9 d-flex">
                        <label for="">I see you would like your {{customerVerificationData?.paymentMethod}} to run on
                          the
                          <span [innerHtml]="getPaymentDateSup()"></span> day of the month, is this
                          correct
                          ?&nbsp;<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event,'systemType')"
                            formControlName="isDebitOrderFirstdayofMonth">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isDebitOrderFirstdayofMonth')?.touched && dueDiligenceForm.get('isDebitOrderFirstdayofMonth')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center"
                      *ngIf="customerVerificationData?.paymentMethod?.toLowerCase() == 'debit order'">
                      <div class="col-9 d-flex">
                        <label for="">May I confirm which bank you would like the
                          {{customerVerificationData?.paymentMethod}} to go off from
                          {{customerVerificationData?.bankName}}
                          ?&nbsp;<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isConfirmDebitOrderBank">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isConfirmDebitOrderBank')?.touched && dueDiligenceForm.get('isConfirmDebitOrderBank')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Do you know how to test the alarm system ? Please phone the Control Room on 086
                          12
                          12..&nbsp;<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isHowToTestAlarmSystem">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isHowToTestAlarmSystem')?.touched && dueDiligenceForm.get('isHowToTestAlarmSystem')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Do you know that you must test the alarm system at least once a month
                          ?&nbsp;<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isTestAlarmSystemMonthlyOnce">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isTestAlarmSystemMonthlyOnce')?.touched && dueDiligenceForm.get('isTestAlarmSystemMonthlyOnce')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Please provide us with a Password ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div id="password-eye" class="col-3">
                        <div class="form-group">
                          <input autocomplete="new-password" class="form-control fidelity-form-input"
                            [type]="dueDiligenceForm.get('isPasswordShow').value?'text':'password'"
                            [minlength]="formConfigs.four" [maxlength]="formConfigs.sixteen"
                            formControlName="alarmSystemPassword" />
                          <div *ngIf="dueDiligenceForm.get('alarmSystemPassword').value"
                            (mouseout)="dueDiligenceForm.get('isPasswordShow').setValue(false)">
                            <a
                              (click)="dueDiligenceForm.get('isPasswordShow').setValue(!dueDiligenceForm.get('isPasswordShow').value)">
                              <i [ngClass]="!dueDiligenceForm.get('isPasswordShow').value?'fa fa-eye-slash':'fa fa-eye'"
                                class="fa fa-eye" aria-hidden="true"></i></a>
                          </div>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('alarmSystemPassword')?.touched && dueDiligenceForm.get('alarmSystemPassword')?.errors?.required">
                          Password is required
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Have we erected 2 signboards outside your premises ? Are they quite visible
                          ?&nbsp;<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isOutsitePermises">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isOutsitePermises')?.touched && dueDiligenceForm.get('isOutsitePermises')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Comments made by Customer :<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <textarea maxlength="formConfigs.thousands" class="form-control fidelity-form-input"
                            formControlName="outsitePermisesComments"
                            placeholder="Outsite Permises Comments "></textarea>
                          <span class="text-danger"
                            *ngIf="dueDiligenceForm.get('outsitePermisesComments')?.touched && dueDiligenceForm.get('outsitePermisesComments')?.errors?.required">
                            Comments is required
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div style="font-size: 1.2rem !important;" class="col-10 page-sub-title">
                        Contractual Matters
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Did the Authorized Dealer discuss the Terms and Conditions of the Contract with
                          you ?&nbsp;<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isDiscussedTermsAndConditions">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isDiscussedTermsAndConditions')?.touched && dueDiligenceForm.get('isDiscussedTermsAndConditions')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Are you aware that you have signed a {{customerVerificationData?.contractPeriod}}
                          service agreement with ADT and it
                          is
                          binding for {{customerVerificationData?.contractPeriod}} ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isSigned24MonthsServiceAgreement">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isSigned24MonthsServiceAgreement')?.touched && dueDiligenceForm.get('isSigned24MonthsServiceAgreement')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">I see you have chosen the option of the {{customerVerificationData?.ownerShip}}
                          System with {{getMaintenance()}} Maintenance<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isRentedSystemFreeMainteance">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isRentedSystemFreeMainteance')?.touched && dueDiligenceForm.get('isRentedSystemFreeMainteance')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Do you know that the System remains the property of ADT and that you will have
                          the
                          free use of the system for the duration of the
                          Contract, and for as long as you retain the service ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" (change)="onRadioButtonChange($event)"
                            formControlName="isRetainService">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isRetainService')?.touched && dueDiligenceForm.get('isRetainService')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-9 d-flex">
                        <label for="">Comments made by Customer :<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-3">
                        <div class="form-group mb-0">
                          <textarea maxlength="formConfigs.thousands" class="form-control fidelity-form-input"
                            formControlName="contractualCustomerComments"
                            placeholder="Enter Contractual Customer Comments "></textarea>
                          <span class="text-danger"
                            *ngIf="dueDiligenceForm.get('contractualCustomerComments')?.touched && dueDiligenceForm.get('contractualCustomerComments')?.errors?.required">
                            Comments is required
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <strong>THANK YOU FOR YOUR TIME !</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div style="font-size: 1.2rem !important;" class="col-10 page-sub-title">
                        Sub Contracted Armed Response ( Applicable To Secupro Areas )
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        Please note that FADT are only providing a monitoring service to your premises. The Armed
                        Service Response will be provided by SECUPRO.
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="dueDiligenceForm.get('isAnswerToConfirmtheSecurityInfo').value==false">
                    <div class="row align-items-center">
                      <div class="col-8 d-flex">
                        <label for="">When is a convenient time for me to call you back ?&nbsp;<span
                            class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                        <div class="form-group p-relative">
                          <label class="d-block mt-2">Date/Time<span class="mandatory-field">*</span></label>
                          <p-calendar [minDate]="todayDate" formControlName="customerConvenientTime"
                            [style]="{'width':'80%'}">
                          </p-calendar>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('customerConvenientTime')?.touched && dueDiligenceForm.get('customerConvenientTime')?.errors?.required">
                          Date/Time is required
                        </span>
                      </div>
                    </div>
                  </ng-container>
                  <div class="row align-items-center">
                    <div class="col-6 d-flex">
                      <div class="col-6 d-flex">
                        <label for="">Can this Customer be signed off ?<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-6">
                        <div class="form-group mb-0">
                          <mat-radio-group class="d-flex" formControlName="isCustomerSignedOff">
                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <span class="text-danger"
                          *ngIf="dueDiligenceForm.get('isCustomerSignedOff')?.touched && dueDiligenceForm.get('isCustomerSignedOff')?.errors?.required">
                          Please select any option
                        </span>
                      </div>
                    </div>
                    <div class="col-6 d-flex">
                      <div class="col-3 d-flex align-items-center">
                        <label for="">Reason<span class="mandatory-field">*</span></label>
                      </div>
                      <div class="col-9">
                        <div class="form-group mb-0">
                          <textarea maxlength="formConfigs.thousands" class="form-control fidelity-form-input"
                            formControlName="reason" placeholder="Enter Reason"></textarea>
                          <span class="text-danger"
                            *ngIf="dueDiligenceForm.get('reason')?.touched && dueDiligenceForm.get('reason')?.errors?.required">
                            Reason is required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-6 d-flex">
                      <div class="col-6 d-flex">
                        <label for="">Call Made by</label>
                      </div>
                      <div class="col-6">
                        <div class="form-group mb-0">
                          <input disabled
                            [value]="customerVerificationData?.callMadeBy?customerVerificationData.callMadeBy:'-'"
                            class="form-control fidelity-form-input" />
                        </div>
                      </div>
                    </div>
                    <div class="col-6 d-flex">
                      <div class="col-3 d-flex">
                        <label for="">Department</label>
                      </div>
                      <div class="col-9">
                        <div class="form-group mb-0">
                          <input disabled
                            [value]="customerVerificationData?.departmentName?customerVerificationData.departmentName:'-'"
                            class="form-control fidelity-form-input" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-6 d-flex">
                      <div class="col-6 d-flex">
                        <label for="">Signature</label>
                      </div>
                      <div class="col-6">
                        <div class="form-group mb-0">
                          <input disabled [value]="'-'" class="form-control fidelity-form-input" />
                        </div>
                      </div>
                    </div>
                    <div class="col-6 d-flex">
                      <div class="col-3 d-flex">
                        <label for="">Date/Time</label>
                      </div>
                      <div class="col-9">
                        <div class="form-group mb-0">
                          <input disabled [value]="customerVerificationData?.createdDate?
                            (customerVerificationData.createdDate | date ):'-'"
                            class="form-control fidelity-form-input" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </p-scrollPanel>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown">Save</button>
              <button type="button" (click)="onRedriectToTechnicalManagerWorkList()"
                class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
