<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
  ></app-page-header>
<form [formGroup]="certificateOfBalanceForm" customForm (ngSubmit)="onSubmit()"  *ngIf="certificateOfBalanceForm">
  <p-scrollPanel [style]="{height: '70vh'}">
    <div class="ibox" style="height: auto;">
      <div class="ibox-body brown-border mt-1">
          <div class="row">
            <div class="col-4">
              <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                <label>Letter Date</label>
                <p-calendar Name="startDate" formControlName="letterDate" styleClass="w-100"></p-calendar>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Manager Name</label>
                <input type="text" formControlName="managerName"  placeholder="Manager Name" class="form-control fidelity-form-input" validateInput>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Manager Position</label>
                <input type="text" formControlName="designationName"  placeholder="Manager Position" class="form-control fidelity-form-input"
                  validateInput>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Company Name</label>
                <input type="text"  formControlName="companyName"  placeholder="Company Name" class="form-control fidelity-form-input" validateInput>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Company Limited</label>
                <input type="text" formControlName="companyLimited"  placeholder="Company Limited" class="form-control fidelity-form-input">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Company Type</label>
                <input type="text" formControlName="companyType"  placeholder="Company Type" class="form-control fidelity-form-input" validateInput>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Company Reg Number</label>
                <input type="text" formControlName="companyRegNumber"  placeholder="Register Number" class="form-control fidelity-form-input" validateInput>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Company Address 1</label>
                <input type="text" formControlName="companyAddress1"  placeholder="Company Address" class="form-control fidelity-form-input" validateInput>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Company Address 2</label>
                <input type="text" formControlName="companyAddress2"  placeholder="Company Address" class="form-control fidelity-form-input" validateInput>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Company Address 3</label>
                <input type="text" formControlName="companyAddress3"  placeholder="Company Address" class="form-control fidelity-form-input" validateInput>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Company Address 4</label>
                <input type="text" formControlName="companyAddress4"  placeholder="Company Address" class="form-control fidelity-form-input" validateInput>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Company Address 5</label>
                <input type="text" formControlName="companyAddress5"  placeholder="Company Address" class="form-control fidelity-form-input" validateInput>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Letter Content</label>
                <textarea placeholder="Letter Content.." formControlName="letterContent"  class="form-control fidelity-form-input" rows="5"
                  validateInput></textarea>
              </div>
            </div>
          </div>
      </div>
    </div>
  </p-scrollPanel>
  <div class="text-center mt-2">
    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">{{certificateId?'Update':'Save'}}</button>
    <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="goBack()">Cancel</button>
  </div>
</form>
