<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{ referToSalesFeedbackConfigurationId ? 'Update' : 'Create' }} Refer To Sales
        - Feedback</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a> Technical Management </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()">Refer To Sales - Feedback</a>
        </li>
        <li class="breadcrumb-item" *ngIf="referToSalesFeedbackConfigurationId">
            <a (click)="navigateToView()">View Refer To Sales - Feedback</a>
        </li>
        <li class="breadcrumb-item">{{ referToSalesFeedbackConfigurationId ? 'Update' : 'Create' }} Refer To Sales -
            Feedback</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body sm-form-grp">
                <form customForm [formGroup]="referToSalesFeedbackConfigurationForm" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <label>Refer To Sales - Feedback Name<span class="mandatory-field">*</span></label>
                                <input #input [validateInput]="isAnAlphaNumericOnly" class="form-control fidelity-form-input"
                                    *ngIf="!referToSalesFeedbackConfigurationId" type="text"
                                    [minlength]="formConfigs.maxLengthThree" [maxlength]="formConfigs.maxLengthFifty"
                                    formControlName="referToSalesFeedbackName"
                                    placeholder="Refer To Sales - Feedback Name" />
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label>Status<span class="mandatory-field">*</span></label>
                                <select name="status" class="form-control fidelity-form-input"
                                    formControlName="isActive" *ngIf="!referToSalesFeedbackConfigurationId">
                                    <option value="" disabled>Select Status</option>
                                    <option *ngFor="let status of statusList" [value]="status.value">
                                        {{status.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2 d-flex align-items-center" *ngIf="!referToSalesFeedbackConfigurationId">
                            <button type="button"
                                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                (click)="addSalesFeedback()" title="Add" matTooltip="Add">
                                <i aria-hidden="true" class="icon" data-icon="b"></i></button>
                        </div>
                    </div>
                    <div class="" formArrayName="referToSalesFeedbackArray"
                        *ngFor="let product of getreferToSalesFeedback?.controls;let i=index">
                        <div class="row p-relative" [formGroupName]="i">
                            <div class="col-5">
                                <div class="form-group">
                                    <input #input [validateInput]="isAnAlphaNumericOnly"
                                        class="form-control fidelity-form-input" type="text"
                                        [minlength]="formConfigs.maxLengthThree"
                                        [maxlength]="formConfigs.maxLengthFifty"
                                        formControlName="refertoSalesFeedbackName"
                                        placeholder="Refer To Sales - Feedback Name" />
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <select name="status" class="form-control fidelity-form-input"
                                        formControlName="isActive">
                                        <option value="" disabled>Select Status</option>
                                        <option *ngFor="let status of statusList" [value]="status.value">
                                            {{status.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="!referToSalesFeedbackConfigurationId" class="col-2">
                                <div class="float-left">
                                    <a type="button" matTooltip="Delete" id="delete_record" class="delete-row "
                                        (click)="removeSalesFeedback(i)"><i aria-hidden="true"
                                            class="icon icon-delete"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="createCommProductBtn" type="submit"
                            [disabled]="isSubmitted || !getreferToSalesFeedback?.value?.length"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                            id="add_skill_save_btn">{{referToSalesFeedbackConfigurationId ? 'Update' : 'Save'}}</button>
                        <button id="cancel_new_leads_btn" type="button"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default" id="add_skill_cancel"
                            routerLink="/technical-management/refer-to-sales-configuration"
                            [queryParams]="{tab:1}">Cancel</button>
                    </div>
                </form>
            </div>
        </p-scrollPanel>
    </div>
</div>