<div class="container-fluid shelf-and-bin-tab space-saving-con stock-in-bin-con">
    <form [formGroup]="warehouseManagemenetStockInBinForm"> <!--customForm-->
        <div class="d-flex align-items-center justify-content-start" *ngIf="stockInBinShelfData?.length !=0  && stockInBinShelfData?.shelfDetails?.length != 0"> <!-- *ngIf="binExist"  -->
            <div class="fidelity-autocomplete-dropdown-con" style="width: 30vw;">
                <div class="form-group">
                    <label for="">Stock Code<span class="mandatory-field">*</span></label>
                    <mat-form-field class="fidelity-form-input">
                        <input matInput type="text" id="find_address_autocomplete"
                            class="fidelity-form-input" [matAutocomplete]="auto1"
                            formControlName="stockId">
                    </mat-form-field>            
                    <mat-autocomplete #auto1="matAutocomplete"
                        (optionSelected)="onStatucCodeSelected($event.option.value)">
                        <mat-option *ngIf="" class="is-loading">
                            <mat-spinner diameter="50"></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let filtStockCode of filteredStockCodes"
                            [value]="filtStockCode.displayName">
                                <span>{{ filtStockCode.displayName }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                    <!-- <span class="text-danger" *ngIf="showStockCodeError">
                        {{stockCodeErrorMessage}}
                    </span> -->
                    <span class="text-danger mb-2"
                        *ngIf="stockCodeFlag && warehouseManagemenetStockInBinForm?.get('stockId')?.touched 
                        && warehouseManagemenetStockInBinForm?.get('stockId')?.invalid 
                        && warehouseManagemenetStockInBinForm?.get('stockId')?.errors?.required">
                        Stock code is required
                    </span>
                </div>
            </div>
            <div class="" style="margin-left: 3vw;">
                <div class="custom-scroll1" style="overflow-x: auto;width: 40vw">
                    <div class="d-flex bin-in-shelf-row no-boot-boxes">
                        <span class="label-to-merge d-inline-block p-1 mr-2"
                        *ngFor="let stockCodeBinData of searchedStockCodeInBinList" (click)="navigateToBin(stockCodeBinData)">
                            {{ stockCodeBinData?.displayName }}
                        </span>
                    </div>
                </div>
                <!-- <span class="label-to-merge d-inline-block merged-label p-2 mr-3">Ad-L02-B004</span> -->
            </div>                                                            
        </div>
        <div class="row bin-in-shelf-row">
            <!-- <div class="" style="width: 100vw;"> -->
              <!-- <div class="custom-scroll1" style="overflow-x: auto;width: 75vw;height: 27vh"> -->
                <div class="custom-scroll1" style="width: 100vw;overflow-x: auto;">
                    <mat-tab-group [selectedIndex]="stockInBinSelectedIndex" class="fidelity-tab-group mat-tab-body-padding-0 reduce-tab-btn"
                    (selectedTabChange)="stockInBinTabClicked($event)">
                        <mat-tab [label]="rowData['rowName']" class="bg-gray"
                        *ngFor="let rowData of tabDataModel?.resources; let rowIndex = index" [disabled]="!rowData.isActive"> <!-- [disabled]="!rowData.isActive-->
                            <div class=" mt-1">
                                <!-- <div class="custom-scroll1" style="overflow-x: auto;width: 75vw;height: 31vh"> -->
                                    <div class="shelf-and-bin-tab-custom" style="height: 21vh;overflow-y: auto;">
                                        <ng-container *ngIf="stockInBinShelfData?.shelfDetails?.length != 0">
                                            <div class="d-flex bin-in-shelf-row no-boot-boxes" style="flex-wrap: nowrap;"
                                            *ngFor="let shelfData of stockInBinShelfData?.shelfDetails; let shelfIndex = index"
                                            [ngClass]="{'shelf-con-border justify-content-center' :shelfData?.binDetails?.length==0}">
                                                <div class="col d-dlex align-items-start"
                                                *ngFor="let binData of shelfData?.binDetails;
                                                let binIndex = index" (click)="validateBin(binData, rowIndex, shelfIndex, binIndex)"
                                                [ngClass]=" binData['isMerge'] == true ? 'merged-bin': binData['itemCode'] != null ? 'stock-green' : ''"
                                                id="{{'stockInBin-'+rowIndex+shelfIndex+binIndex}}">
                                                {{ binData['binDisplayName'] }} <br> 
                                                {{ binData['itemCode'] }}
                                                </div>
                                                <ng-container *ngIf="shelfData?.binDetails?.length == 0">
                                                    No data to be displayed                                           
                                                    <!-- {{ shelfData['shelfCode'] }} - No Bins Added -->
                                                </ng-container>

                                                <!-- [ngClass]="stock-green"-->
                                                <!-- [ngClass]="{'stock-green': binData['itemCode'] != null}" -->
                                                <!-- <div class="col d-dlex align-items-start link-bin-blue">AO-S01-B001</div> -->
                                            </div>
                                            <span class="text-danger" *ngIf="showBinError">
                                                {{binErrorMsg}}
                                            </span>
                                        
                                        </ng-container>
                                        <ng-container *ngIf="stockInBinShelfData?.shelfDetails?.length == 0">
                                            <div class="text-center">
                                                <span><b>No data to be displayed</b></span>
                                                <!-- No Shelf Found -->
                                            </div>
                                        </ng-container>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <div class="text-center mt-2 p-relative">
                                <fieldset [disabled]="!binExist">
                                    <button class="btn btn-primary btn-sm-fidelity"
                                    type="button" (click)="linkStockToBin()">Link</button>
                                    <button class="btn btn-sm-fidelity fidelity-btn-grey btn-default"
                                    type="button" (click)="unlinkStock()">Unlink</button>
                                    <button class="btn btn-sm-fidelity fidelity-btn-grey btn-default"
                                    type="button" (click)="transferStockToBin()">Transfer</button>
                                </fieldset>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    <ng-container *ngIf="tabDataModel?.resources?.length == 0">
                        <div class="text-center">
                            <span><b>No data to be displayed</b></span>
                            <!-- No Rows Found -->
                        </div>
                    </ng-container>
             <!-- </div> -->
                </div>
            <!-- </div> -->
        </div>
    </form>
</div>