<div class="page-heading">
  <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>
  <app-reusable-header-breadcrumb-container [shouldShowOnlyBreadCrumbs]='true' [breadCrumb]="breadCrumb">
  </app-reusable-header-breadcrumb-container>
</div>
<div class="list-page-table-con"
  *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">
  <form>
    <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false"
    [scrollable]="true" scrollHeight="500px" [autoLayout]="true"
      [resizableColumns]="tables?.resizableColumns" 
     [loading]="loading" [value]="agents" [dataKey]="tables.dataKey" [responsive]="true" columnResizeMode="expand" [reorderableColumns]="tables?.reorderableColumns">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
          <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
          <col [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr class="first-row">
          <th [pSortableColumnDisabled]="true" *ngFor="let col of columns"
            [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns" let-expanded="expanded">
        <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
          <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
            <ng-container *ngIf="col.header == 'Action'">
              <button class="btn btn-md-fidelity btn-primary" type="button" (click)="onForceLogout(rowData)">Force Logout</button>
            </ng-container>
            <ng-container *ngIf="col.header !== 'Action'">
              <span pTooltip="{{rowData[col.field]}}" tooltipPosition="top"> {{rowData[col.field] ?
                rowData[col.field] : '--'}}
              </span>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p *ngIf="agents.length == 0" class="no-data-msg mt-2">No Data found</p>
      </ng-template>
    </p-table>
  </form>
</div>