::ng-deep .toolTipBackgroundWhiteWithDisplayColor{
    background-color: #fff;
    font-weight: 900;
    margin-left: 28px;
    margin-top: 9px;
    color:'red';
    animation-duration: 500ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
::ng-deep .toolTipBackgroundWhiteWithoutDisplayColor{
    background-color: #fff;
    font-weight: 900;
    margin-left: 28px;
    margin-top: 9px;
    color:#000;
}

@keyframes blink {
    from {
        color:red;
    }
    to {
        color:white;
    }
}
@-webkit-keyframes blink {
    from {
        color:red;
    }
    to {
        color:white;
    }
}