<div class="row">
  <div class="col-12"><label class="page-sub-title">Profile Information</label></div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="profile-type" *ngIf="tabs">
      <div class="profile-box active" *ngFor="let tab of tabs" [ngClass]="{'active' : tab ==selectedTab }"
        (click)="selectTab(tab)">{{tab}}</div>
    </div>
  </div>
  <div class="col-md-8">
    <div *ngIf="selectedTab == 'Community Name' || selectedTab=='Hub Name' ||  selectedTab=='WhatsApp Group'">
      <form customForm *ngIf="profileInformationForm" [formGroup]="profileInformationForm">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>{{selectedTab=='WhatsApp Group' ? 'Group Name' : selectedTab }} <span
                  class="mandatory-field">*</span> </label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <input type="text" [name]="selectedTab" formControlName="communityName"
                  class="form-control fidelity-form-input" placeholder="Enter Name">

              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Division <span class="mandatory-field">*</span> </label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <select name="region" formControlName="divisionId" (change)="onChangeDivision($event.target.value)"
                  class="form-control fidelity-form-input">
                  <option disabled value="">Select Division</option>
                  <option *ngFor="let region of divisionList" [value]="region.id">{{region.displayName}}</option>
                </select>

              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Main Area<span class="mandatory-field">*</span> </label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <ng-container *ngIf="getHubProfile()">
                  <p-multiSelect formControlName="mainAreaId" [options]="mainAreaList" defaultLabel="Select Main Area"
                    styleClass="w-100" [baseZIndex]="100" emptyFilterMessage="No Main Area Exists"
                    maxSelectedLabels="2"></p-multiSelect>
                </ng-container>
                <ng-container *ngIf="!getHubProfile()">
                  <select name="Main Area" formControlName="mainAreaId" class="form-control fidelity-form-input"
                    (change)="onChangeMainArea()">
                    <option disabled value="">Select Main Area</option>
                    <option *ngFor="let mainArea of mainAreaList" [value]="mainArea.id">{{mainArea.displayName}}
                    </option>
                  </select>
                </ng-container>
              </div>
            </div>
          </div>
          <ng-container *ngIf="!getHubProfile()">
            <div class="col-6">
              <div class="form-group">
                <label>Sub Area <span class="mandatory-field">*</span> </label>
                <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                  <select name="Sub Area" formControlName="subAreaId" class="form-control fidelity-form-input">
                    <option disabled value="">Select Sub Area</option>
                    <option *ngFor="let subArea of subAreaList" [value]="subArea.id">{{subArea.displayName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="col-6">
            <div class="form-group">
              <label>Street Name <span class="mandatory-field">*</span></label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <input type="text" name="Street Name" formControlName="streetName"
                  class="form-control fidelity-form-input" placeholder="Enter Street Name">

              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Province <span class="mandatory-field">*</span></label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <p-dropdown [options]="provinceList" (onChange)="getCityList($event)" placeholder="Select Province"
                  appendTo="body" formControlName="provinceId" [filter]="true" [virtualScroll]="true"
                  [itemSize]="25"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>City <span class="mandatory-field">*</span></label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <p-dropdown [options]="cityList" (onChange)="getSuburbList($event)" placeholder="Select City"
                  appendTo="body" formControlName="cityId" [filter]="true" [virtualScroll]="true"
                  [itemSize]="25"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Suburb <span class="mandatory-field">*</span></label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <p-dropdown [options]="suburbsList" placeholder="Select Suburb" optionValue="id"
                  optionLabel="displayName" appendTo="body" formControlName="suburbId" [filter]="true"
                  [virtualScroll]="true" [itemSize]="25"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="selectedTab == 'Contact Person' ">
      <form customForm *ngIf="contactPersonForm" [formGroup]="contactPersonForm">
        <div class="row">
          <div class="col-5">
            <div class="form-group">
              <label>Contact Person <span class="mandatory-field">*</span></label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <input type="text" name="Contact Person" formControlName="contactPersion"
                  class="form-control fidelity-form-input" placeholder="Enter Contact Person">
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="row">
              <div class="col-12">
                <label>Contact Number <span class="mandatory-field">*</span></label>
              </div>
              <div class="col-4 pr-0">
                <div class="form-group" style="width: 100%!important;">
                  <select class="form-control fidelity-form-input pad-right"
                    style="width: 100%;border-top-right-radius: unset;border-bottom-right-radius: unset;border-right: none;"
                    formControlName="contactNumberCountryCode">
                    <option *ngFor="let countryCode of countryCodes" [value]="countryCode.displayName">
                      {{countryCode.displayName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-8 pl-0">
                <div class="form-group" style="width: 84%!important;">

                  <input id="mobileNumber1"
                    style="border-top-left-radius: unset;border-left:none;border-bottom-left-radius: unset;"
                    [minlength]="formConfigs.southAfricanContactNumberMaxLength"
                    [maxlength]="formConfigs.southAfricanContactNumberMaxLength" appPhoneMask
                    [title]="contactPersonForm?.get('contactNumber')?.value" formControlName="contactNumber"
                    class="form-control fidelity-form-input" name="Contact Number" placeholder="Contact Number" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-1 profile-manager-add">
            <div class="form-group">
              <button type="button"
                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute btn-action add-icon-margin"
                (click)="addContact()" title="add"><i aria-hidden="true" class="icon" data-icon="b"></i></button>
            </div>

          </div>

          <!-- <div class="col-1">
            <div class="form-group">
              <button
              type="button"
                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute btn-action add-icon-margin"
                (click)="addContact()" title="add"><i aria-hidden="true" class="icon" data-icon="b"></i></button>
            </div>
          </div> -->
        </div>
      </form>
      <div class="row custom-table">
        <p-table class="custom-scroll" [value]="contactList" [scrollable]="true" scrollHeight="100px"
          [resizableColumns]="true">
          <ng-template pTemplate="header">
            <tr class="first-row">
              <th>Contact Name</th>
              <th>Contact Number</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-contact let-rowIndex="rowIndex">
            <tr>
              <td>{{contact.contactPersion}}</td>
              <td>{{contact.contactNumberCountryCode}}{{contact.contactNumber}}</td>
              <td> <a class="fidelity-btn-circle fidelity-white-btn btn-delete-icon" (click)="removeContact(rowIndex)">
                  <i aria-hidden="true" class="icon icon-delete" matTooltip="Delete"></i>
                </a></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-shift>
            <tr>
              <td [attr.colspan]="3" style="text-align: center;">
                No Contact Persons added
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
    <div *ngIf="selectedTab == 'Profile Managers' ">
      <form customForm *ngIf="profileManagerForm" [formGroup]="profileManagerForm">
        <div class="row">
          <div class="col-5">
            <div class="form-group">
              <label>Role <span class="mandatory-field">*</span></label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <p-dropdown [options]="rolesList" optionValue="id" placeholder="Select Role" optionLabel="displayName"
                  appendTo="body" formControlName="roleId" [filter]="true"
                  (onChange)="onChangeRole($event,'pm')"></p-dropdown>
                <!-- <select name="Role" formControlName="roleId" class="form-control fidelity-form-input">
                  <option value="" disabled>Select Role</option>
                  <option *ngFor="let role of rolesList" [value]="role.id">{{role.displayName}}</option>
                </select> -->
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <label>Agent <span class="mandatory-field">*</span></label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <p-dropdown [options]="profileManagerEmployees" optionValue="id" placeholder="Select Agent"
                  optionLabel="displayName" appendTo="body" formControlName="employeeId" [filter]="true"></p-dropdown>
                <!-- <select name="Agent" formControlName="employeeId" class="form-control fidelity-form-input">
                  <option value="" disabled>Select Agent</option>
                  <option *ngFor="let employee of employeeList" [value]="employee.id">{{employee.displayName}}</option>
                </select> -->
              </div>
            </div>
          </div>
          <div class="col-1 profile-manager-add">
            <div class="form-group">
              <button type="button"
                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute btn-action add-icon-margin"
                (click)="addProfileManager()" title="add"><i aria-hidden="true" class="icon" data-icon="b"></i></button>
            </div>

          </div>
        </div>
        <div class="row custom-table">
          <p-table class="custom-scroll" [value]="profileManagerList" [scrollable]="true" scrollHeight="100px"
            [resizableColumns]="true">
            <ng-template pTemplate="header">
              <tr class="first-row">
                <th>Role</th>
                <th>Manager Name</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-profile let-rowIndex="rowIndex">
              <tr>
                <td>{{profile.roleName}}</td>
                <td>{{profile.employeeName}}</td>
                <td> <a class="fidelity-btn-circle fidelity-white-btn btn-delete-icon"
                    (click)="removeProfileManager(rowIndex,profile)">
                    <i aria-hidden="true" class="icon icon-delete" matTooltip="Delete"></i>
                  </a></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-shift>
              <tr>
                <td [attr.colspan]="3" style="text-align: center;">
                  No Profile Managers added
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </form>
    </div>
    <div *ngIf="selectedTab == 'CDM' ">
      <form customForm *ngIf="cdmForm" [formGroup]="cdmForm">
        <div class="row">
          <div class="col-5">
            <div class="form-group">
              <label>Role <span class="mandatory-field">*</span></label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <p-dropdown [options]="rolesList" optionValue="id" placeholder="Select Role" optionLabel="displayName"
                  appendTo="body" formControlName="roleId" [filter]="true"
                  (onChange)="onChangeRole($event,'cdm')"></p-dropdown>
                <!-- <select name="Role" formControlName="roleId" class="form-control fidelity-form-input">
                  <option value="" disabled>Select Role</option>
                  <option *ngFor="let role of rolesList" [value]="role.id">{{role.displayName}}</option>
                </select> -->
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <label>Agent <span class="mandatory-field">*</span></label>
              <div class="form-group form-group fidelity-multiselect-dropdown-con primgNgSelect">
                <p-dropdown [options]="cdmEmployees" optionValue="id" placeholder="Select Agent"
                  optionLabel="displayName" appendTo="body" formControlName="employeeId" [filter]="true"></p-dropdown>
                <!-- <select name="Agent" formControlName="employeeId" class="form-control fidelity-form-input">
                  <option value="" disabled>Select Agent</option>
                  <option *ngFor="let employee of employeeList" [value]="employee.id">{{employee.displayName}}</option>
                </select> -->
              </div>
            </div>
          </div>
          <div class="col-1 profile-manager-add">
            <div class="form-group">
              <button type="button"
                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute btn-action add-icon-margin"
                (click)="addCDM()" title="add"><i aria-hidden="true" class="icon" data-icon="b"></i></button>
            </div>

          </div>
        </div>
        <div class="row custom-table">
          <p-table class="custom-scroll" [value]="cdmList" [scrollable]="true" scrollHeight="100px"
            [resizableColumns]="true">
            <ng-template pTemplate="header">
              <tr class="first-row">
                <th>Role</th>
                <th>CDM Name</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-profile let-rowIndex="rowIndex">
              <tr>
                <td>{{profile.roleName}}</td>
                <td>{{profile.employeeName}}</td>
                <td> <a class="fidelity-btn-circle fidelity-white-btn btn-delete-icon"
                    (click)="removeCDM(rowIndex,profile)">
                    <i aria-hidden="true" class="icon icon-delete" matTooltip="Delete"></i>
                  </a></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-shift>
              <tr>
                <td [attr.colspan]="3" style="text-align: center;">
                  No CDM added
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </form>
    </div>
  </div>
</div>