<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Group Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>IT Management</a>
        </li>
        <li class="breadcrumb-item">
            <a>Custom Category </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/user/custom-category-config-dashboard' [queryParams]="{tab:0}"> Group Configuration</a>
        </li>
        <li>
            View {{groupConfigDetails?.customCategoryGroupName ? groupConfigDetails?.customCategoryGroupName : '--'}}
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">
        <a class="fidelity-btn-circle fidelity-white-btn" (click)="edit()" matTooltip="Edit">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
            <div class="ibox-body view-box">
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Group Name</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{groupConfigDetails?.customCategoryGroupName ?
                                    groupConfigDetails?.customCategoryGroupName: '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Description</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{groupConfigDetails?.description ?
                                    groupConfigDetails?.description: '-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Created By</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{groupConfigDetails?.createdUserName ?
                                    groupConfigDetails?.createdUserName : '--'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Created On</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{groupConfigDetails?.createdDate ?
                                    (groupConfigDetails?.createdDate | date) : '--'}}</span>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Modified By</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{groupConfigDetails?.modifiedUserName ?
                                    (groupConfigDetails?.modifiedUserName) : '--'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Modified on</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{groupConfigDetails?.modifiedDate ?
                                    (groupConfigDetails?.modifiedDate | date) : '--'}}</span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Status</span>
                            <span id="" class="">
                                <span class="d-inline-block">
                                    <span class="status-label"
                                        [ngClass]="groupConfigDetails?.isActive == true ? 'status-label-green' : 'status-label-pink'">
                                        {{groupConfigDetails?.isActive == true ? 'Active': 'Inactive'}}
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
            routerLink='/user/custom-category-config-dashboard' [queryParams]="{tab:0}">Back</button>
    </div>
</div>