<div class="fidelity-popup-heading container-fluid p-relative">Full Map View
    <button mat-icon-button class="close-button p-absolute">
        <mat-icon (click)="getGisBoundaryDetailsByBoundaryId('reset and close')" class="close-icon" color="#fff">close
        </mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form full-map-view-con">
    <mat-dialog-content class="p-0" style="max-height: 81vh;height: 81vh;">
        <div>
            <ng-container *ngIf="showElement">
                <app-shared-leaf-let (onSelection)="onSelection($event)"
                    [boundaryRequestDetails]="boundaryRequestDetails" [isDisabledFullView]="true" [latLong]="latLong"
                    [shouldShowLegend]="shouldShowLegend" [id]="'leaf_let_full_map_view'" [isDisabled]="isDisabled"
                    [isUploaded]="isUploaded" [shouldShowFullViewIcon]="false" [isFileUploaded]="isFileUploaded"
                    [caption]="fromUrl" [subCaption]="data?.subCaption" [polygonArray]="polygonArray" class="d-block"
                    style="width: 100%;">
                </app-shared-leaf-let>
            </ng-container>
        </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions class="p-0" align="end" *ngIf="!isAReadOnlyFullMapView">
        <div style="display: flex;
                                            text-align: center;margin-top: 8px;margin-left: 13px" *ngIf="fromUrl=='GISDashboard'&&
                                            (boundaryRequestDetails.boundaryStatusId==boundaryStatus.CREATED||
                                            boundaryRequestDetails.boundaryStatusId==boundaryStatus.DOWNLOADED||
                                            boundaryRequestDetails.boundaryStatusId==boundaryStatus.UPLOADED)">
            <button style="margin-top: 8px !important;" [disabled]="isDownloadBtnDisabled" id="download" type="button"
                (click)="onDownload()"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Download</button>
            <button style="margin-top: 8px !important;" [disabled]="isResetBtnDisabled" id="create_new_leads_btn"
                type="submit" (click)="getGisBoundaryDetailsByBoundaryId('reset')"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Reset</button>
            <div *ngIf="isBoundaryRequestDownloadedSuccessful" class="btn custom-file-uploader" id="fileName" style="
                                                            padding: 12px;
                                                            border-radius: 8px;
                                                            margin-top: 8px;
                                                            background-color: #00644A;">
                <input #fileInput type="file" name="file" [accept]="['.zip']" (change)="onUpload($event)"
                    style="width: 86px;" />
                Upload file
            </div>
        </div>
        <div class="text-center mt-3" style="display: flex;margin-left: 16px;margin-top: 0px !important;">
            <div [ngStyle]="isDisabled&&{'pointer-events':'none'}">
                <ng-container *ngIf="fromUrl=='MyRequestDashboard' || fromUrl==''">
                    <button
                        *ngIf="(boundaryRequestDetails?.boundaryStatusId==boundaryStatus.INITIATED ||
                                                            boundaryRequestDetails?.boundaryStatusId==boundaryStatus.REJECTED)"
                        [disabled]="isResetBtnDisabled" id="create_new_leads_btn" type="submit"
                        (click)="getGisBoundaryDetailsByBoundaryId('reset')"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Reset</button>
                    <button
                        *ngIf="boundaryRequestDetails?.boundaryStatusId==boundaryStatus.INITIATED ||
                                                        boundaryRequestDetails?.boundaryStatusId==boundaryStatus.REJECTED"
                        [disabled]="!areMapCoordinatesDrawn" id="create_new_leads_btn" type="submit"
                        (click)="onSubmit(boundaryStatus.CREATED)"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Create</button>

                    <!-- <button id="create_new_leads_btn" (click)="onSubmit(boundaryStatus.DRAFT_SAVED)"
                                                    type="submit" [disabled]="isSaveAsDraftDisabled"
                                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save
                                                    as Draft</button>
                                                <button id="create_new_leads_btn" type="submit"
                                                    (click)="onSubmit(boundaryStatus.ROLL_BACK)" [disabled]="isRollBackDisabled"
                                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Roll
                                                    Back</button> -->
                </ng-container>
                <ng-container
                    *ngIf="(fromUrl=='sales' || fromUrl=='technical' || fromUrl=='operations')&&
                                                        (boundaryRequestDetails?.boundaryStatusId==boundaryStatus.INITIATED ||
                                                        boundaryRequestDetails?.boundaryStatusId==boundaryStatus.APPROVED ||
                                                        boundaryRequestDetails?.boundaryStatusId==boundaryStatus.LIVE ||
                                                            boundaryRequestDetails?.boundaryStatusId==boundaryStatus.REJECTED)">
                    <button [disabled]="isResetBtnDisabled" id="create_new_leads_btn" type="submit"
                        (click)="getGisBoundaryDetailsByBoundaryId('reset')"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Reset</button>
                    <button id="create_new_leads_btn" type="submit"
                        *ngIf="(boundaryRequestDetails?.boundaryStatusId==boundaryStatus.INITIATED ||
                                                        boundaryRequestDetails?.boundaryStatusId==boundaryStatus.APPROVED ||
                                                        boundaryRequestDetails?.boundaryStatusId==boundaryStatus.LIVE ||
                                                        boundaryRequestDetails?.boundaryStatusId==boundaryStatus.REJECTED)"
                        (click)="onSubmit(boundaryStatus.CREATED)" [disabled]="!areMapCoordinatesDrawn"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Create</button>
                </ng-container>
            </div>
            <ng-container
                *ngIf="fromUrl=='DOAApprovalDashboard'&&
                                                    (boundaryRequestDetails?.approverStatusId==boundaryApprovalStatus.OPEN ||
                                                    boundaryRequestDetails?.approverStatusId==boundaryApprovalStatus.INPROGRESS)">
                <button id="create_new_leads_btn" type="submit" (click)="onSubmit(boundaryApprovalStatus.APPROVED)"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Approve</button>
                <button id="create_new_leads_btn" (click)="onSubmit(boundaryApprovalStatus.DECLINED)" type="submit"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Decline</button>
            </ng-container>
            <ng-container *ngIf="fromUrl=='MyRequestDashboard'&&
            boundaryRequestDetails.approverStatusId==boundaryApprovalStatus.APPROVED">
                <button *ngIf="boundaryRequestDetails?.boundaryStatusId==boundaryStatus.UPLOADED"
                    id="create_new_leads_btn" type="submit" (click)="onSubmit(boundaryStatus.APPROVED)"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Approve</button>
                <button *ngIf="(boundaryRequestDetails?.boundaryStatusId==boundaryStatus.UPLOADED)"
                    id="create_new_leads_btn" (click)="onSubmit(boundaryStatus.REJECTED)" type="submit"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Decline</button>
                <button *ngIf="boundaryRequestDetails?.isBoundaryGoLive" type="submit" (click)="redirectToGoLiveDate()"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Go
                    Live Date</button>
            </ng-container>
            <ng-container *ngIf="fromUrl=='LSS Boundary'">
                <div class="text-center mt-3">
                    <button *ngIf="shouldResetBtnShow" [disabled]="isResetBtnDisabled" id="create_new_leads_btn"
                        type="submit" (click)="getGisBoundaryDetailsByBoundaryId('reset')"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Reset</button>
                    <button *ngIf="boundaryRequestDetails?.boundaryStatusId==boundaryStatus?.UPLOADED"
                        id="create_new_leads_btn" type="submit" (click)="onSubmit(boundaryStatus?.APPROVED)"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Approve</button>
                    <button *ngIf="(boundaryRequestDetails?.boundaryStatusId==boundaryStatus?.UPLOADED)"
                        id="create_new_leads_btn" (click)="onSubmit(boundaryStatus?.REJECTED)" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Decline</button>
                    <button *ngIf="(!boundaryRequestDetails?.boundaryStatusId ||
                    boundaryRequestDetails?.boundaryStatusId==boundaryStatus.REJECTED)" id="create_new_leads_btn"
                        type="submit" (click)="onSubmit(boundaryStatus.CREATED)" [disabled]="!areMapCoordinatesDrawn"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save
                        Boundary</button>
                </div>
            </ng-container>
            <ng-container
                *ngIf="fromUrl=='Two Table Architecture Exact Address'||fromUrl=='Two Table Architecture Custom Address'">
                <button [disabled]='!latLong' id="create_new_leads_btn" type="submit" (click)="onSaveLatLong()"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
            </ng-container>
        </div>
    </mat-dialog-actions>
</form>

<!--decline reason modal for other than LSS-->
<div class="modal" #decline_reason id="decline_reason" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Decline : {{boundaryRequestRefNo}}</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <p style="text-align: center;
                        font-weight: 800;
                        margin-bottom: 0px;" [innerHTML]="message"></p>
                    <div class="col-12">
                        <div class="form-group" style="width: 100%;">
                            <label>Notes<span class="mandatory-field">*</span></label>
                            <textarea name="Notes" rows="5" [(ngModel)]="declineReason"
                                [ngModelOptions]="{standalone: true}"
                                class="form-control fidelity-form-input"></textarea>
                        </div>
                    </div>
                </mat-dialog-content>
            </div>
            <div class="modal-footer text-center" style="justify-content: center">
                <button [disabled]="declineReason==''" (click)="onFormSubmit('boundary-approvals',{
                    boundaryRequestId:boundaryRequestId,
        employeeId: loggedInUserData.employeeId,
        comments: declineReason,
        boundaryApprovalStatusId: boundaryApprovalStatus.DECLINED,
        createdUserId: loggedInUserData.userId
                })" data-dismiss="modal" type="button" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Yes
                </button>
                <button type="button" class="btn btn-md-fidelity btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!--decline reason modal for LSS-->
<div class="modal" #decline_reason_for_lss id="decline_reason_for_lss" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fidelity-popup-heading">
                <h4 class="modal-title">Decline : {{boundaryRequestDetails?.boundaryReqRefNo}}</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body existing-cust-con">
                <mat-dialog-content>
                    <p style="text-align: center;
                        font-weight: 800;
                        margin-bottom: 0px;" [innerHTML]="message"></p>
                    <div class="col-12">
                        <div class="form-group" style="width: 100%;">
                            <label>Notes<span class="mandatory-field">*</span></label>
                            <textarea name="Notes" rows="5" [(ngModel)]="declineReason"
                                [ngModelOptions]="{standalone: true}"
                                class="form-control fidelity-form-input"></textarea>
                        </div>
                    </div>
                </mat-dialog-content>
            </div>
            <div class="modal-footer text-center" style="justify-content: center">
                <button [disabled]="declineReason==''" (click)="onRejectRequest()" data-dismiss="modal" type="button"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                    Yes
                </button>
                <button type="button" class="btn btn-md-fidelity btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>