  ::ng-deep .leaflet-right .info.legend.leaflet-control {
    font-size: 1rem;
    background-color: #fff !important;
    padding: 10px;
    border: 2px solid gray;
  }

  ::ng-deep .full-map-view-con {
    #leaf_let_full_map_view {
      height: 77vh!important;
    }
  }

  .ibox.approval-config-con {
    height: calc(90vh - 35vh)!important;
    .d-flex {
        margin: 10px 0;
    }
  }
