<div class="page-heading">
  <h1 class="page-sub-title ext-padd mt-3">Add Service
    <span class="grid-icons-con float-right pr-0 custom-icon-service" style="float:right">
      <span class="d-flex fidelity-search-input-con">
        <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
          (click)="openCancelServiceDialog()" matTooltip="Unsubscribe Service" style="top: -12px;">
          <i aria-hidden="true" class="icon icon-cancel"></i></a>
        <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" (click)="onCRUDRequested('create')"
          style="top: -12px;"><i aria-hidden="true" data-icon="b" class="icon" matTooltip="Add New"></i></a>
      </span>
    </span>
  </h1>
</div>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"  [searchFirst]="true"  [customScroll]="false"
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>



