<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form [formGroup]="execuCallDialogForm" customForm class="fidelity-popup-form" (ngSubmit)="onSubmitDialog()"
        style="font-size: 0.9rem!important;">
        <div>
                <div class="view-box pr-3">
                    <div class="col-md-12 mt-3 mb-2">
                        <h2 class="msg-txt text-center">{{config?.data?.response?.message ?
                            config?.data?.response?.message : '-'}}</h2>
                    </div>
                    <div class="d-flex" *ngIf="config?.data?.response?.isApprovalAlert">
                        <label class="col-md-4">Status<span class="mandatory-field">*</span></label>
                        <div class="col-md-8">
                            <!-- <select class="form-control fidelity-form-input" formControlName="ExecuGuardServiceCallStatusId">
                                <option value="">--Select Status--</option>
                                <option *ngFor="let item of config?.data?.response?.status" [value]="item?.id">
                                    {{item?.displayName}}
                                </option>
                            </select> -->
                            <p-radioButton class="fidelity-radio-btn mr-3" name="ExecuGuardServiceCallStatusId" [value]="item.id"
                                *ngFor="let item of config?.data?.response?.status" formControlName="ExecuGuardServiceCallStatusId" [label]="item.displayName"></p-radioButton>
                        </div>
                    </div>
                    <div class="col-lg-12" *ngIf="config?.data?.response?.isApprovalAlert">
                        <div class="form-group">
                            <label>Comments<span class="mandatory-field">*</span></label>
                            <textarea class="form-control fidelity-form-input" type="text" rows="2"
                                formControlName="Comment"></textarea>
                        </div>
                    </div>
                </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix pt-3">
            <div class="text-center">
                <button type="submit" pButton class="ui-button-success btn-fdt-submit mr-3"
                    [disabled]="(!execuCallDialogForm?.valid) || isExecuCallSubmit"
                    [label]="config?.data?.response?.isApprovalAlert ? 'Submit' : 'Yes'"></button>
                <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default mr-3"
                    type="button">{{config?.data?.response?.isApprovalAlert ? 'Close' : 'No'}}</button>
            </div>
        </div>
    </form>
</div>
