<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="stackConfigForm" (ngSubmit)="onSubmit()">

        <div class="ibox white-bg">
                <div class="ibox-body brown-border sm-inputs">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Stack Name<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" type="text" formControlName="stackName"
                                    [validateInput]='isAnAlphaNumericOnly' minlength="3" maxlength="25"
                                    placeholder="Enter Stack Name">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group fidelity-multiselect-dropdown-con">
                                <label>Division<span class="mandatory-field">*</span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="stackConfigDivisions" multiple placeholder="Select Division">
                                    <mat-option value="" #allSelectedDivision *ngIf="divisionDropDown?.length > 0"
                                        (click)="toggleAllDivisions()" selected>All Divisions</mat-option>
                                    <mat-option *ngFor="let item of divisionDropDown" [value]="item.id"
                                        (click)="toggleDivisionOne()">{{item.displayName}} 
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Named Stack</label>
                                <select class="form-control fidelity-form-input" formControlName="namedStackConfigId">
                                    <option value="" selected>Select</option>
                                    <option [value]="item.id" *ngFor="let item of nameStackDropDown; let i=index">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group fidelity-multiselect-dropdown-con">
                                <label>Customer Profile Type<span class="mandatory-field">*</span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="stackConfigCustomerProfileTypes" multiple
                                    placeholder="Select Customer Type">
                                    <mat-option value="" #allSelectedCustomer *ngIf="customerTypeDropDown.length > 0"
                                        (click)="toggleAllCustomers()" selected>All Customer Types</mat-option>
                                    <mat-option *ngFor="let item of customerTypeDropDown" [value]="item.id"
                                        (click)="toggleCustomeOne()">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group fidelity-multiselect-dropdown-con">
                                <label>Alarm Group<span class="mandatory-field">*</span></label>
                                <mat-select class="form-control fidelity-form-input"
                                    formControlName="stackConfigAlarmGroups" multiple placeholder="Select Alarm Group">
                                    <mat-option value="" #allSelectedAlarmGroup *ngIf="alarmGroupDropDown.length > 0"
                                        (click)="toggleAllAlarmGroups()" selected>All Alarm Groups</mat-option>
                                    <mat-option *ngFor="let item of alarmGroupDropDown" [value]="item.id"
                                        (click)="toggleAlarmOne()">{{item.displayName}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round active"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{stackConfigId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/event-configuration' [queryParams]="{tab:0}">Cancel</button>
        </div>

    </form>
</div>