<div class="page-heading">
    <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>
    <!-- Breadcrumb -->
    <ol class="breadcrumb"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
        <li class="breadcrumb-item">
            <a> <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item"
            *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
            <a (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="custom-scroll1" style="overflow-x: auto;height: 70vh">
        <div class="ibox white-bg" style="height: unset !important;">
            <div class="ibox-body brown-border view-box" style="height: 30vh;">
                <form customForm *ngIf="radioSystemCheckerForm" [formGroup]="radioSystemCheckerForm">
                    <div class="row mt-2">
                        <div class="col-4">
                            <label>Stock Code</label>
                            <div class="form-group">
                                <mat-form-field class="fidelity-form-input" style="height: 39px;width: 100%!important;">
                                    <input matInput type="text" id="find_address_autocomplete" #autoStockCode
                                        (input)="onChangeCode($event.target.value,'stock-code')"
                                        [matAutocomplete]="autoStockCode" formControlName="stockCode"
                                        style="height: 35px;">
                                </mat-form-field>
                                <mat-autocomplete #autoStockCode="matAutocomplete"
                                    (optionSelected)="onStatucCodeSelected($event.option.value, 'stock-code')">
                                    <mat-option *ngIf="isLoading" class="is-loading">
                                        <mat-spinner diameter="50"></mat-spinner>
                                    </mat-option>
                                    <ng-container>
                                        <mat-option *ngFor="let filtStockCode of filteredStockCodes"
                                            [value]="filtStockCode.stockCode">
                                            <span>{{ filtStockCode.stockCode }}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Stock Descriptions</label>
                            <div class="form-group">
                                <mat-form-field class="fidelity-form-input" style="height: 39px;width: 100%!important;">
                                    <input matInput type="text" id="find_address_autocomplete" #autoStockCodes
                                        (input)="onChangeCode($event.target.value,'stock-description')"
                                        [matAutocomplete]="autoStockCodes" formControlName="stockDescription"
                                        style="height: 35px;">
                                </mat-form-field>
                                <mat-autocomplete #autoStockCodes="matAutocomplete"
                                    (optionSelected)="onStatucCodeSelected($event.option.value, 'stock-description')">
                                    <mat-option *ngIf="isLoading" class="is-loading">
                                        <mat-spinner diameter="50"></mat-spinner>
                                    </mat-option>
                                    <ng-container>
                                        <mat-option *ngFor="let filtStockCode of filteredStockCodes"
                                            [value]="filtStockCode.stockDescription">
                                            <span>{{ filtStockCode.stockDescription }}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group p-relative picking-serial">
                                <label> Scan / Enter Serial No </label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input class="form-control fidelity-form-input"
                                        placeholder="Scan/Enter Serial Number" formControlName="search">
                                    <div class="input-group-append">
                                        <button class="text-white" type="button" (click)="scanSerialNumber()">
                                            <i aria-hidden="true" class="icon icon-scan"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- <span class="text-danger" *ngIf="showItemCodeError">
                                    Serial number is required
                                </span> -->
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center mt-3" style="height: 60px;">
                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown"
                        (click)="search()">Search</button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="ibox white-bg" style="height: unset !important; margin-top: 21px;">
            <div class="ibox-body brown-border view-box" style="height: 55vh;">
                <div class="inner-container">
                    <h1 class="page-sub-title ext-padd">SEARCH RESULTS</h1>
                    <p>{{label}}</p>
                    <div class="row" *ngFor="let item of serialNumberList">
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text"
                                    [value]="item.isNotSerialized ? item?.radioSystemCheckerWorklistNumber : item?.serialNumber"
                                    (click)="onChangeSearchResult(item)"
                                    class="manual-input fidelity-form-input form-control ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>