<div class="page-heading">
    <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>
    <!-- Breadcrumb -->
    <ol class="breadcrumb"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
        <li class="breadcrumb-item">
            <a> <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item"
            *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
            <a (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="custom-scroll1" style="overflow-x: auto;height: 70vh">
        <div class="ibox white-bg" style="height: unset !important;">
            <div class="ibox-body brown-border view-box" style="height: 30vh;">
                <div class="row mt-2">
                    <div class="col-lg-6 custom-col">
                        <div class="d-flex">
                            <span id="" class="key">WorkList ID</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{rsDetails ? rsDetails?.radioSystemCheckerWorklistNumber :
                                    '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 custom-col">
                        <div class="d-flex">
                            <span id="" class="key">Receiving ID</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{rsDetails ? rsDetails?.batchNumber :'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 custom-col">
                        <div class="d-flex">
                            <span id="" class="key">Receiving Bardcode</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{rsDetails ? rsDetails?.barcodeNumber : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 custom-col">
                        <div class="d-flex">
                            <span id="" class="key">Reference Number</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{rsDetails ? rsDetails?.orderNumber :'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 custom-col">
                        <div class="d-flex">
                            <span id="" class="key">Receiving Clerk</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{rsDetails ? rsDetails?.displayName :'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 custom-col">
                        <div class="d-flex">
                            <span id="" class="key">Received Date</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{(rsDetails && rsDetails.orderReceiptDate) ?
                                    (rsDetails.orderReceiptDate | date) :'-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 custom-col">
                        <div class="d-flex">
                            <span id="" class="key">Warehouse</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{rsDetails ? rsDetails?.warehouseName : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 custom-col">
                        <div class="d-flex">
                            <span id="" class="key">Tested By</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{rsDetails ? rsDetails?.testedby : '-'}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 custom-col">
                        <div class="d-flex">
                            <span id="" class="key">Tested Date</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{ (rsDetails && rsDetails.testedDate ) ?
                                    (rsDetails.testedDate | date) :'-'}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox white-bg" style="height: unset !important;margin-top: 21px;">
            <div class="ibox-body brown-border view-box" style="height: 50vh;">
                <!-- <div class="inner-container"> -->
                <form customForm *ngIf="radioSystemCheckerForm" [formGroup]="radioSystemCheckerForm">
                    <div *ngIf="isSerialized">
                        <div class="custom-scroll1" style="overflow-x: auto;height: 50vh">
                            <div class="row" style="flex-wrap: nowrap;">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Stock Code</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Stock Description</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Serial Number</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Action<span class="mandatory-field">*</span></label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Item Status</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Comments</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="radioSystemCheckerDTO"
                                *ngFor="let obj of radioSystemCheckerForm?.get('radioSystemCheckerDTO')?.controls;let i=index">
                                <div class="row" style="flex-wrap: nowrap;" [formGroupName]="i">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <input type="text" formControlName="itemCode" disabled
                                                class="fidelity-form-input form-control ">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" formControlName="displayName" disabled
                                                class="fidelity-form-input form-control ">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" formControlName="serialNumber" disabled
                                                class="fidelity-form-input form-control ">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <select class="form-control fidelity-form-input"
                                                formControlName="radioSystemCheckerWorklistActionId"
                                                (change)="onActionChange($event.target.value,i)">
                                                <option value="" disabled>Select Action</option>
                                                <option *ngFor="let action of actionList" [value]="action.id">
                                                    {{action.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text"
                                                formControlName="radioSystemCheckerWorklistItemStatusName" disabled
                                                class="fidelity-form-input form-control ">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" formControlName="comments"
                                                class="fidelity-form-input form-control ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!isSerialized" style="width: 150% !important;">
                        <div class="custom-scroll1" style="overflow-x: auto;height: 50vh">
                            <div style="width: 67%;">
                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <!-- <div > -->
                                                <span id="" class="key" style="font-size: 13px;margin-top: 16px;"> Stock
                                                    Code :
                                                </span>
                                                <span id="" class="value"
                                                    style="font-size: 13px;margin-top: 16px;"><span
                                                        class="d-inline-block">343245</span></span>
                                                <span id="" class="key" style="font-size: 13px;margin-top: 16px;">Stock
                                                    Description
                                                </span>
                                                <span id="" class="value"
                                                    style="font-size: 13px;margin-top: 16px;"><span
                                                        class="d-inline-block">Test</span></span>
                                                <span id="" class="key"
                                                    style="font-size: 13px;margin-top: 16px;">Received Qty :
                                                </span>
                                                <span id="" class="value" style="font-size: 13px;margin-top: 16px;">
                                                    <span class="d-inline-block">{{rsDetails && rsDetails?.items.length
                                                        >0 ? rsDetails.items[0].receivedQuantity:'-'}}</span></span>
                                                <!-- </div> -->
                                            </mat-panel-title>
                                            <mat-panel-description>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="row" style="flex-wrap: nowrap;" *ngIf="isUpdate">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label>Quantity</label>
                                                    <input type="text" formControlName="quantity"
                                                        class="fidelity-form-input form-control ">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label>Action<span class="mandatory-field">*</span></label>
                                                    <select class="form-control fidelity-form-input"
                                                        formControlName="radioSystemCheckerWorklistActionId"
                                                        (change)="onActionChange($event.target.value,null)">
                                                        <option value="" disabled>Select Action</option>
                                                        <option *ngFor="let action of actionList" [value]="action.id">
                                                            {{action.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label>Item Status</label>
                                                    <input type="text"
                                                        formControlName="radioSystemCheckerWorklistItemStatusName"
                                                        disabled class="fidelity-form-input form-control ">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label>Comments</label>
                                                    <input type="text" formControlName="comments"
                                                        class="fidelity-form-input form-control ">
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button class="circle-plus-btn" type="button" (click)="addSingleItem()"
                                                    matTooltip="Add" style="margin-top: 22px;margin-left:4px;">
                                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: nowrap;" *ngIf="!isUpdate">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label>Quantity</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label>Action<span class="mandatory-field">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label>Item Status</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label>Comments</label>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                            </div>
                                        </div>
                                        <div formArrayName="radioSystemCheckerDTO"
                                            *ngFor="let obj of radioSystemCheckerForm?.get('radioSystemCheckerDTO')?.controls;let i=index">
                                            <div class="row" style="flex-wrap: nowrap;" [formGroupName]="i">
                                                <div class="col-2">
                                                    <div class="form-group">
                                                        <input type="text" formControlName="quantity"
                                                            class="fidelity-form-input form-control ">
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <select class="form-control fidelity-form-input"
                                                            formControlName="radioSystemCheckerWorklistActionId"
                                                            (change)="onActionChange($event.target.value,i)">
                                                            <option value="" disabled>Select Action</option>
                                                            <option *ngFor="let action of actionList"
                                                                [value]="action.id">
                                                                {{action.displayName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="text"
                                                            formControlName="radioSystemCheckerWorklistItemStatusName"
                                                            disabled class="fidelity-form-input form-control ">
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="text" formControlName="comments"
                                                            class="fidelity-form-input form-control ">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="cancel_order_btn" *ngIf="isUpdate" type="submit" (click)="onSubmit(true)"
                            class="btn btn-md-fidelity btn-default">
                            Save as Darft </button>
                        <button id="cancel_new_leads_btn" *ngIf="isUpdate" type="submit" (click)="onSubmit(false)"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">
                            Update </button>
                        <button id="cancel_order_btn" class="btn btn-md-fidelity btn-default"
                            routerLink="/inventory/radio-system-checker" [queryParams]='{ id:id }'>Cancel</button>
                    </div>
                </form>
                <!-- </div>               -->
            </div>
        </div>
    </div>
</div>