
<div class="fidelity-popup-heading fdt-popup-heading container-fluid p-relative" cdkDrag
cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>
Execute
<button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
  <mat-icon class="close-icon" color="#fff">close</mat-icon>
</button>
</div>
<div class="fdt-dialog-body">
<form customForm [formGroup]="executeForm">
  <div class="mb-3">
    <div class="row mt-2">
      <div class="col fidelity-date-picker-con p-relative cust-banner-date-con">
        <div class="form-group">
          <label>Execution Datess</label>
              <p-calendar [minDate]="startTodayDate" formControlName="executionDate" [showTime]="true"  [readonlyInput]="true"  styleClass="w-100"></p-calendar>
        </div>
      </div>
    </div>
  </div>
<div class="ui-dialog-buttonpane ui-helper-clearfix">
    <div class="text-center mb-3">
      <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit" (click)="onSubmit()">Execute</button>
      <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </div>
</div>
</form>
</div>
