<div class="page-heading">
    <h1 class="page-title d-inline-block">{{caption}} Main Area</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">IT Management
        </li>
        <li class="breadcrumb-item">Boundary Management</li>
        <li class="breadcrumb-item">Operations</li>
        <li class="breadcrumb-item">
            <a routerLink="/user/boundary-management/operational-boundary" [queryParams]="{tab:0}">Main Area</a>
        </li>
        <li class="breadcrumb-item">{{caption}} Main Area </li>
    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="mainAreaForm" customForm (ngSubmit)="onSubmit()">
                <div class="ibox" style="height: auto;">
                    <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                        <div class="ibox-body brown-border white-bg sm-inputs">
                            <h1 class="page-sub-title ext-padd mt-3">{{caption}} Operations Main Area</h1>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Region<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='regions' (change)="changeRegion()"
                                            formControlName="regionId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Division<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='divisions' (change)="changeDivision()"
                                            formControlName="divisionId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>OPS Management<span class="mandatory-field">*</span></label>
                                        <p-dropdown [placeholder]="'--Select OPS--'"
                                        class="custom-local-single-search-container"
                                            formControlName="opsManagementTypeId" [options]="opsList" filter="true" >
                                        </p-dropdown>
                                        <span class="text-danger"
                                        *ngIf="((isFormSubmitted&&mainAreaForm?.get('opsManagementTypeId')?.invalid)
                                    ||((mainAreaForm?.get('opsManagementTypeId')?.touched)&&mainAreaForm?.get('opsManagementTypeId')?.invalid))">
                                        OPS Management is required
                                    </span>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Main Area Id<span class="mandatory-field">*</span></label>
                                        <input-custom-control [validateInputConfig]="isAnAlphaNumericOnly"
                                            formControlName="mainAreaCode">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Main Area<span class="mandatory-field">*</span></label>
                                        <input-custom-control [validateInputConfig]="isAnAlphaNumericOnly"
                                            formControlName="mainAreaName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group fidelity-multiselect-dropdown-con">
                                        <label>Province<span class="mandatory-field">*</span></label>
                                        <div>
                                        <p-multiSelect
                                            class="custom-local-multiple-search-container w-100"
                                            [style]="{'width':'100%'}"
                                            [defaultLabel]="'--Select Categories--'" [options]="provinces"
                                            formControlName="provinceId">
                                        </p-multiSelect>
                                      </div>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Business Area<span class="mandatory-field">*</span></label>
                                        <input-custom-control formControlName="businessArea">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>District<span class="mandatory-field">*</span></label>
                                        <select-custom-control (change)="changeDistrict()" [loopableArray]='districts'
                                            formControlName="districtId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4" *ngIf="!mainAreaForm?.value?.isClassificationDistrictLevel">
                                    <div class="form-group">
                                        <label>Branch<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='branches' (change)="changeBranch()"
                                            formControlName="branchId">
                                        </select-custom-control>
                                    </div>
                                </div>
                                <div class="col-4" *ngIf="!mainAreaForm?.value?.isClassificationDistrictLevel">
                                    <div class="form-group">
                                        <label>Sub Branch<span class="mandatory-field">*</span></label>
                                        <select-custom-control [loopableArray]='subBranches'
                                            formControlName="subBranchId">
                                        </select-custom-control>
                                    </div>
                                </div>
                            </div>
                            <h1 class="page-sub-title ext-padd mt-3">Initiator Information</h1>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group p-relative">
                                        <label>Search<span class="mandatory-field">*</span></label>
                                        <mat-select-autocomplete-custom-control [name]="'Initiator'"
                                            [matOptionValueProperty]="'employeeId'" [matOptionViewProperty]="'fullName'"
                                            [formGroup]="mainAreaForm" formControlName="assignToName"
                                            [customInputGroupStyle]="{'margin-top':'27px'}"
                                            (clearDependentFormControlValues)="clearInitiatorFormControlValues()"
                                            [getLoopableObjectRequestObservable]="getLoopableObjectRequestObservable"
                                            (emitSelectedOption)="onSelectedItemOption($event)">
                                        </mat-select-autocomplete-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="firstName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Surname</label>
                                        <input-custom-control [extraClassNames]="'disabled'" formControlName="lastName">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Employee ID</label>
                                        <input-custom-control [extraClassNames]="'disabled'"
                                            formControlName="employeeNo">
                                        </input-custom-control>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input-custom-control [extraClassNames]="'disabled fidelity_email'"
                                            formControlName="officialEmail">
                                        </input-custom-control>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div class="text-center mt-3">
                    <button id="cancel_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Save</button>
                    <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
