<!-- <p *ngIf="isAuthorized;else isNotAuthorized">Welcome To The Dashboard</p>

<ng-template #isNotAuthorized>
    <p>You do not have permission. Contact Administrator</p>
</ng-template> -->
<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>Zone
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form">
    <mat-dialog-content>
        <div class="row">
            <!-- popup content -->
            <div class="col-sm">
                <div class="form-group">
                    <label class="font-16">Zone<span class="mandatory-field">*</span></label>
                    <select class="form-control fidelity-form-input" name="">
                        <option value="">--Select Zone--</option>
                        <option *ngFor="let zoneData of zoneList" [value]="zoneData?.id">
                            {{zoneData?.displayName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="col-12 mb-2 font-16 p-0">Description</div>
                <div class="col-12 p-0">
                    <div class="form-group">
                        <input type="text" class="form-control fidelity-form-input" placeholder="Enter">
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-sm">
                <div class="form-group">
                    <label class="font-16">Equipment<span class="mandatory-field">*</span></label>
                    <select class="form-control fidelity-form-input" name="">
                        <option value="">--Select Equipment--</option>
                        <option *ngFor="let equipData of equipmentList" [value]="equipData?.id">
                            {{equipData?.displayName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="col-12 mb-2 font-16 p-0">Serial Number</div>
                <div class="col-12 p-0">
                    <div class="form-group">
                        <input type="text" class="form-control fidelity-form-input" placeholder="Enter">
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <!-- thrid set of input -->
            <div class="col-sm">
                <div class="col-12 mb-2 font-16 p-0">Stock Desc</div>
                <div class="col-12 p-0">
                    <div class="form-group">
                        <input type="text" class="form-control fidelity-form-input" placeholder="Enter">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label class="font-16">Install Date</label>
                    <input class="form-control fidelity-form-input" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
                    <owl-date-time #dt1></owl-date-time>
                </div>
            </div>
            <div class="w-100"></div>
            <!-- end third set -->
            <!-- srt fourth set -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="font-16">Ownership<span class="mandatory-field">*</span></label>
                    <select class="form-control fidelity-form-input" name="">
                        <option value="">--Select Ownership--</option>
                        <option *ngFor="let ownerData of ownershipList" [value]="ownerData?.id">
                            {{ownerData?.displayName}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- end fourth set -->
        </div>
    </mat-dialog-content>
    <div class="text-center mt-4 mb-2">
        <button class="btn btn-md-fidelity fidelity-btn-brown" type="button" [mat-dialog-close]="true">Submit</button>
        <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
    </div>
</form>
