<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0" (buttonClicked)="onCRUDRequested($event)"> </app-page-header>
<div class="page-content fade-in-up">
    <form [formGroup]="longStandoffConfigForm" customForm (ngSubmit)="onSubmit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body brown-border sm-inputs">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Division<span class="mandatory-field">*</span></label>
                                <select id="divsion" class="form-control fidelity-form-input" name="Division"
                                    (change)="onSelectDivision()" placeholder="Select Division"
                                    formControlName="divisionId">
                                    <option value="" disabled>Select Division</option>
                                    <option *ngFor="let division of divisionDropDown" [value]="division.id">
                                        {{division.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Description<span class="mandatory-field">*
                                    </span></label>
                                <textarea class="form-control fidelity-form-input" type="text"
                                    [validateInput]='isAStringOnly' minlength="10" maxlength="100"
                                    placeholder="Enter Description" formControlName="description">
                                 </textarea>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block">Status<span class="mandatory-field">*</span></label>
                                <label class="switch add-stack-status">
                                    <input type="checkbox" formControlName="isActive">
                                    <span class="slider round active"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <h1 class="page-sub-title ext-padd mt-3">SITE INFORMATION</h1>
                    <br>
                    <div class="row mt-3 mb-2">
                        <div class="col-md-4">Main Area<span class="mandatory-field">*</span></div>
                        <div class="col-md-4">Standoff Escalation Minutes<span class="mandatory-field">*</span></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="" formArrayName="longStandOffMainAreaList"
                        *ngFor="let obj of longStandoffConfigForm?.get('longStandOffMainAreaList')?.controls;let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <select #input class="form-control fidelity-form-input"
                                        placeholder="Select Main Area" (change)="OnChange(i)"
                                        formControlName="mainAreaId">
                                        <option value="" selected>Select Main Area</option>
                                        <option [value]="item.id" *ngFor="let item of mainAreaDropDown; let i=index">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <input #input name="standoff escalation minutes"
                                        placeholder="Enter Standoff Escalation (Mins)" [validateInput]='isANumberOnly'
                                        class="form-control fidelity-form-input" type="text"
                                        formControlName="standOffEscalation">
                                </div>
                            </div>
                            <div class="col-2">
                                <button type="button" *ngIf="i==0" class="circle-plus-btn" style="top: 3px;"
                                    (click)="addClusterCongifSubArea()" title="add">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i>
                                </button>
                                <button type="button" *ngIf="getLongStandOffMainAreaListArray.length>1" class="circle-minus-btn" 
                                    (click)="removeConfigSubArea(i)" title="Delete"><i aria-hidden="true"
                                        class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{longStandOffId ?
                'Update' : 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                routerLink='/event-management/ro-configuration' [queryParams]="{tab:16}">Cancel</button>
        </div>
    </form>
</div>