<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body"
    cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="close()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form customForm [formGroup]="cancellationForm" (ngSubmit)="onSubmit()">

        <div class="ibox-body mb-3">
            <app-view-page [col]="3" [viewDetail]="signalMgmtInterventionRequestDetail" [marginClass]="'m-0'"></app-view-page>
            <div class="row mt-2">
                <div class="col-6">
                    <app-signal-management-action-arrival [customerId]="config?.data?.rowData?.customerId"
                        [customerAddressId]="config?.data?.rowData?.addressId">
                    </app-signal-management-action-arrival>
                </div>
                <div class="col-6">
                    <app-signal-management-technician-feedback [customerId]="config?.data?.rowData?.customerId"
                        [customerAddressId]="config?.data?.rowData?.addressId">
                    </app-signal-management-technician-feedback>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>Comments<span class="mandatory-field">*</span></label>
                    <textarea class="form-control fidelity-form-input" name="Comments"
                        formControlName="districtManagerComments" rows="3"></textarea>
                </div>
            </div>


        </div>

        <div class="row popup-footer-row">

            <div class="col-6 text-right" style="text-align: right;">
                <button type="submit" pButton class="ui-button-success " label="Submit"></button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="close()"
                    label="Resend Reminder SMS">Cancel</button>
            </div>
        </div>
    </form>
</div>
