<div class="page-heading">
    <h2 class="page-title">{{primengTableConfigProperties.tableCaption}}</h2>

    <ol class="breadcrumb"
      *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableBreadCrumb">
      <li class="breadcrumb-item">
        <a>
          <i class="fa fa-home" aria-hidden="true"></i></a>
      </li>
      <li class="breadcrumb-item"
        *ngFor='let breadCrumbItem of (primengTableConfigProperties.breadCrumbItems);index as i;'>
        <a *ngIf='breadCrumbItem.relativeRouterUrl&&!breadCrumbItem.queryParams'
          (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>

        <a *ngIf='breadCrumbItem.relativeRouterUrl&&breadCrumbItem.queryParams'
          (click)="onBreadCrumbClick(breadCrumbItem)">{{breadCrumbItem.displayName}}</a>
        <a *ngIf='!breadCrumbItem.relativeRouterUrl'>{{breadCrumbItem.displayName}}</a>
      </li>
    </ol>

    <div class="grid-icons-con float-right pr-0">
      <div class="d-flex fidelity-search-input-con">

        <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
          (click)="onCRUDRequested('delete')" matTooltip="Delete"
          *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.shouldShowDeleteActionBtn">
          <i aria-hidden="true" class="icon icon-delete"></i></a>
        <a class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn"
        *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.shouldShowCreateActionBtn"
         (click)="onCRUDRequested('create')"><i
            aria-hidden="true" data-icon="b" class="icon" matTooltip="Create New"></i></a>


      </div>
    </div>



  </div>


  <ng-container *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList.length > 1; else elseTemplateTable">
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel [header]="tables.caption"
        *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index"
        [selected]="i == selectedTabIndex">

        <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true" [lazyLoadOnInit]="false" [(selection)]="selectedRows"
          (onLazyLoad)="loadPaginationLazy($event)" [loading]="loading" [value]="dataList" [dataKey]="tables.dataKey"
          [paginator]="(totalRecords == 0) ? false : true" [rows]="10" [rowsPerPageOptions]="pageLimit" [responsive]="true"
          [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand"   [totalRecords]="totalRecords"  [scrollable]="true" scrollHeight="420px"
          [reorderableColumns]="tables?.reorderableColumns">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left">

              <div class="row">
                <div class="col-md-5">
                  <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"
                    style="margin-right: 0.5em;" *ngIf="tables?.enableExportCSV"></button>
                  <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                    (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"
                    *ngIf="tables?.enableExportExcel"></button>
                  <!-- <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button> -->
                  <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only"
                    (click)="dt.exportCSV({selectionOnly:true})" style="margin-right: 0.5em;" class="ui-button-warning"
                    *ngIf="tables?.enableExportCSVSelected"></button>
                  <button type="button" pButton icon="pi pi-file" iconPos="left" label="Reset" (click)="dt.reset()"
                    style="margin-right: 0.5em;" class="ui-button-secondary" *ngIf="tables?.enableReset"></button>

                </div>
                <div class="col-md-7">
                  <form>

                    <div style="text-align: right; float: right; margin-bottom: 10px;"
                      *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="30" placeholder="Global Filter" formControlName="searchKeyword"
                        style="width:auto">
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr class="first-row">
              <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
              </th>
              <th [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                Action
              </th>
            </tr>
            <tr *ngIf="tables?.enableFieldsSearch">
              <th *ngIf="tables?.checkBox"></th>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <!-- <input *ngSwitchCase="'stackConfigId'" pInputText type="text"  [value]="dt.filters[col.field]?.value" (input)="dt.filter($event.target.value, col.field, 'contains')"> -->
                <input *ngIf="col.field != 'isActive' && col.field != 'createdDate'" pInputText type="text"
                  [value]="dt.filters[col.field]?.value" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <p-calendar *ngIf="col.field == 'createdDate'" selectionMode="range" [touchUI]="true" showButtonBar="true"
                  [readonlyInput]="true" (input)="dt.filter($event.target.value, col.field, 'contains')"></p-calendar>
                <p-dropdown *ngIf="col.field == 'isActive'" [options]="status" appendTo="body" placeholder="Select Status"
                  [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')" [showClear]="true">
                </p-dropdown>
              </th>
              <th *ngIf="tables?.enableRowDelete"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData l let-ri="rowIndex" let-columns="columns" let-expanded="expanded">
            <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
              <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
                <a href="#" [pRowToggler]="rowData" *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                  <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>


                <ng-container *ngIf="col.header == 'Status' || col.header == 'Created Date'; then thenTemplateStatus; else elseTemplateStatus">
                </ng-container>
                <ng-template #thenTemplateStatus>ss
                    <ng-container *ngIf="col.header == 'Status'">
                        <p-dropdown [options]="status" [(ngModel)]="rowData[col.field]" placeholder="Select Status"
                          [style]="{'width':'100%'}" (onChange)="onChangeStatus(rowData,ri)">
                        </p-dropdown>
                      </ng-container>
                      <ng-container *ngIf="col.header == 'Created Date'">
                        {{rowData[col.field] ? (rowData[col.field] | date) : '--'}}
                      </ng-container>
                </ng-template>
                <ng-template #elseTemplateStatus>
                  <ng-container
                    *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex; then thenTemplateHyperLink; else elseTemplateHyperLink">
                  </ng-container>
                  <ng-template #thenTemplateHyperLink>
                    <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                      (click)="onCRUDRequested('edit',rowData)"
                      *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                      {{rowData[col.field] ? rowData[col.field] : '--'}}
                    </a>
                  </ng-template>
                  <ng-template #elseTemplateHyperLink>
                    <!-- {{rowData[col.field] ? rowData[col.field] : '--'}} -->
                    <ng-container
                    *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex; then thenTemplateSecondHyperLink; else elseTemplateSecondHyperLink">
                  </ng-container>
                  <ng-template #thenTemplateSecondHyperLink>
                    <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                      (click)="onCRUDRequested('edit',rowData)"
                      *ngIf="tables?.enableSecondHyperLink && i == tables?.cursorSecondLinkIndex">
                      {{rowData[col.field] ? rowData[col.field] : '--'}}
                    </a>
                  </ng-template>
                  <ng-template #elseTemplateSecondHyperLink>
                    {{rowData[col.field] ? rowData[col.field] : '--'}}
                  </ng-template>
                  </ng-template>
                </ng-template>
              </td>
              <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
                <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                  class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
              <td [attr.colspan]="columns.length + 1">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px;background: #fff;">
                  <div class="ui-g-12 ui-md-9">
                    <div class="ui-g">

                      <div class="ui-g-12">
                        <b>Area Name:</b> {{rowData?.areaName ? rowData?.areaName : '--'}}
                      </div>
                      <div class="ui-g-12">
                        <b>Division Name:</b>
                        {{rowData?.stackAreaConfigDivisions ? rowData?.stackAreaConfigDivisions : '--'}}
                      </div>
                      <div class="ui-g-12" style="    text-align: right;">

                        <button style="margin: 0 10px;" pButton type="button" icon="pi pi-pencil" class="ui-button-info"
                          (click)="onCRUDRequested('edit')"></button>
                        <!-- <button  pButton type="button"  icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button> -->
                        <button style="margin: 0 10px;" pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                          (click)="onCRUDRequested('delete')"></button>

                      </div>

                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <p *ngIf="totalRecords == 0">No Data found</p>
          </ng-template>

          <ng-template pTemplate="paginatorleft" let-state>
            <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
              {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows * (state.page + 1) : totalRecords}} of
              <strong>{{totalRecords ? totalRecords : pageSize}}</strong> entries
            </p>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </ng-container>
  <ng-template #elseTemplateTable>
    <div *ngFor="let tables of primengTableConfigProperties.tableComponentConfigs.tabsList; let i=index">

      <p-table class="custom-scroll" #dt [columns]="tables.columns" [lazy]="true"  [lazyLoadOnInit]="false" [(selection)]="selectedRows"
        (onLazyLoad)="loadPaginationLazy($event)" [loading]="loading" [value]="dataList"
        [dataKey]="tables.dataKey" [paginator]="(totalRecords == 0) ? false : true" [rows]="10" [rowsPerPageOptions]="pageLimit" [responsive]="true"
        [resizableColumns]="tables?.resizableColumns" columnResizeMode="expand" [scrollable]="true" scrollHeight="420px"  [totalRecords]="totalRecords"
        [reorderableColumns]="tables?.reorderableColumns">
        <ng-template pTemplate="caption">
          <div class="ui-helper-clearfix" style="text-align: left">

            <div class="row">
              <div class="col-md-5">
                <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"
                  style="margin-right: 0.5em;" *ngIf="tables?.enableExportCSV"></button>
                <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()"
                  style="margin-right: 0.5em;" class="ui-button-success" *ngIf="tables?.enableExportExcel"></button>
                <!-- <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button> -->
                <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only"
                  (click)="dt.exportCSV({selectionOnly:true})" class="ui-button-warning"
                  *ngIf="tables?.enableExportCSVSelected"></button>
                <button type="button" pButton icon="pi pi-file" iconPos="left" label="Reset" (click)="dt.reset()"
                  style="margin-right: 0.5em;" class="ui-button-secondary" *ngIf="tables?.enableReset"></button>

              </div>
              <div class="col-md-7">
                <form>

                  <div style="text-align: right; float: right; margin-bottom: 10px;"
                    *ngIf="primengTableConfigProperties.tableComponentConfigs.tabsList[selectedTabIndex]?.enableGlobalSearch">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="30" placeholder="Global Filter" formControlName="searchKeyword"
                      style="width:auto">
                  </div>
                </form>

              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="first-row">
            <th [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">Action</th>

          </tr>
          <tr *ngIf="tables?.enableFieldsSearch">
            <th *ngIf="tables?.checkBox"></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <!-- <input *ngSwitchCase="'stackConfigId'" pInputText type="text"  [value]="dt.filters[col.field]?.value" (input)="dt.filter($event.target.value, col.field, 'contains')"> -->
              <input *ngIf="col.field != 'isActive' && col.field != 'createdDate'" pInputText type="text"
                [value]="dt.filters[col.field]?.value" (input)="dt.filter($event.target.value, col.field, 'contains')">
              <p-calendar *ngIf="col.field == 'createdDate'" selectionMode="range" [touchUI]="true" showButtonBar="true"
                [readonlyInput]="true" (input)="dt.filter($event.target.value, col.field, 'contains')"></p-calendar>
              <p-dropdown *ngIf="col.field == 'isActive'" [options]="status" appendTo="body" placeholder="Select Status"
                [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')" [showClear]="true">
              </p-dropdown>
            </th>
            <th *ngIf="tables?.enableRowDelete"></th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData l let-ri="rowIndex" let-columns="columns" let-expanded="expanded">
          <tr [pSelectableRow]="rowData" [pReorderableRow]="ri">
            <td [ngClass]="{'checkboxActive': tables?.checkBox}" *ngIf="tables?.checkBox">
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns;index as i" class="ui-resizable-column" pReorderableRowHandle>
              <a href="#" [pRowToggler]="rowData" *ngIf="tables?.rowExpantable && i == tables?.rowExpantableIndex">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
              </a>

              <ng-container *ngIf="col.header == 'Status'|| col.header == 'Created Date'; then thenTemplateStatus; else elseTemplateStatus">
              </ng-container>
              <ng-template #thenTemplateStatus>
                <ng-container *ngIf="col.header == 'Status'">
                    <p-dropdown [options]="status" [(ngModel)]="rowData[col.field]" placeholder="Select Status"
                      [style]="{'width':'100%'}" (onChange)="onChangeStatus(rowData,ri)">
                    </p-dropdown>
                  </ng-container>
                  <ng-container *ngIf="col.header == 'Created Date'">
                    {{rowData[col.field] ? (rowData[col.field] | date) : '--'}}
                  </ng-container>
              </ng-template>
              <ng-template #elseTemplateStatus>
                <ng-container
                  *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex; then thenTemplateHyperLinke; else elseTemplateHyperLinke">
                </ng-container>
                <ng-template #thenTemplateHyperLinke>
                  <a style="color: #00644A;" pTooltip="{{rowData[col.field]}}" tooltipPosition="top"
                    (click)="onCRUDRequested('edit',rowData)"
                    *ngIf="tables?.enableHyperLink && i == tables?.cursorLinkIndex">
                    {{rowData[col.field] ? rowData[col.field] : '--'}}
                  </a>
                </ng-template>
                <ng-template #elseTemplateHyperLinke>
                  {{rowData[col.field] ? rowData[col.field] : '--'}}
                </ng-template>
              </ng-template>
            </td>
            <td [ngClass]="{'enableRowDeleteActive': tables?.checkBox}" *ngIf="tables?.enableRowDelete">
              <button style="margin: 0 10px;cursor: pointer;" pButton type="button" icon="pi pi-trash"
                class="ui-button-danger" (click)="onCRUDRequested('delete',rowData)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
          <tr>
            <td [attr.colspan]="columns.length + 1">
              <div class="ui-g ui-fluid" style="font-size:16px;padding:20px;background: #fff;">
                <div class="ui-g-12 ui-md-9">
                  <div class="ui-g">

                    <div class="ui-g-12">
                      <b>Area Name:</b> {{rowData?.areaName ? rowData?.areaName : '--'}}
                    </div>
                    <div class="ui-g-12">
                      <b>Division Name:</b>
                      {{rowData?.stackAreaConfigDivisions ? rowData?.stackAreaConfigDivisions : '--'}}
                    </div>
                    <div class="ui-g-12" style="    text-align: right;">

                      <button style="margin: 0 10px;" pButton type="button" icon="pi pi-pencil" class="ui-button-info"
                        (click)="onCRUDRequested('edit')"></button>
                      <!-- <button  pButton type="button"  icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button> -->
                      <button style="margin: 0 10px;" pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                        (click)="onCRUDRequested('delete')"></button>

                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <p *ngIf="totalRecords == 0">No Data found</p>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          <p style="margin-left: 0px;">Showing {{(state.page * state.rows) + 1}} to
            {{(!totalRecords ? pageSize : (state.rows * (state.page + 1)) < totalRecords) ? state.rows * (state.page + 1) : totalRecords}} of
            <strong>{{totalRecords ? totalRecords : pageSize}}</strong> entries
          </p>
        </ng-template>
      </p-table>
    </div>

  </ng-template>








