.ibox .delete-row {
    width: 30px !important;
    height: 30px !important;
    font-size: 0.9rem;
    color: #cccccc !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ibox .delete-row:hover {
    background-color: #ed4a4a;
    border-radius: 50% !important;
    color: #ffffff;
  }
