<div class="page-heading ">
  <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
    (buttonClicked)="onCRUDRequested($event)">
  </app-page-header>
</div>
<div class="page-content fade-in-up">
  <form customForm [formGroup]="stockBrandAddEditForm" (ngSubmit)="addNewBrand()">
    <div class="ibox white-bg" style="height: auto;">
      <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
        <!-- <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom"> -->
        <div class="ibox-body">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Brand <span class="mandatory-field">*</span></label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Description<span class="mandatory-field">*</span></label>
              </div>
            </div>
            <div class="col-2" *ngIf="itemBrandId">
              <div class="form-group">
                <label>Status</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <input name="Brand Name" formControlName="itemBrandName" class="form-control fidelity-form-input"
                  maxlength="50" placeholder="Enter Brand Name" />
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <textarea maxlength="240" formControlName="description" rows="1" [validateInput]='stringConfig'
                  name="description" class="form-control fidelity-form-input" id="description" type="text">
                </textarea>
              </div>
            </div>
            <div class="col-2" *ngIf="itemBrandId">
              <div class="form-group">
                <select class="form-control fidelity-form-input" name="status" formControlName="isActive">
                  <option value="">--Select Status--</option>
                  <option *ngFor="let status of statusList" [value]="status?.value">
                    {{status?.displayName}}
                  </option>
                </select>
                <!-- <span *ngIf="isSubmit && (stockBrandAddEditForm.get('isActive').errors.required)" class="help is-danger" style="color: #dc3545;font-size: 0.8em;" >Status is required</span> -->
              </div>
            </div>
            <div class="col-2">
              <button type="submit" class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                title="Add" matTooltip="Add">
                <i aria-hidden="true" class="icon" data-icon="b"></i></button>
            </div>
          </div>
          <div class="" formArrayName="stockBrandDetails"
            *ngFor="let control of stockBrandAddEditForm?.get('stockBrandDetails')?.controls;let i=index">
            <div class="row p-relative" [formGroupName]="i">
              <div class="col-4">
                <div class="form-group">
                  <input name="Brand Name"  class="form-control fidelity-form-input" type="text"
                    maxlength="50" formControlName="itemBrandName" (change)="onChange()"
                    placeholder="Enter Brand Name" />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <textarea maxlength="240" rows="1" [validateInput]='stringConfig' name="description"
                    class="form-control fidelity-form-input" id="description" type="text"
                    formControlName="description"></textarea>
                </div>
              </div>
              <div class="col-2" *ngIf="itemBrandId">
                <div class="form-group">
                  <select class="form-control fidelity-form-input" name="status" formControlName="isActive">
                    <option value="">--Select Status--</option>
                    <option *ngFor="let status of statusList" [value]="status?.value">
                      {{status?.displayName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <!-- <button *ngIf="i==0 && !itemBrandId" type="submit"
                  class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon" (click)="addNewBrand()"
                  title="Add" matTooltip="Add">
                  <i aria-hidden="true" class="icon" data-icon="b"></i></button> -->
                <button class="circle-minus-btn" type="button" matTooltip="Delete" id="delete_record"
                  (click)="removeBrand(i)">
                  <i aria-hidden="true" class="icon icon-delete"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
        <div class="text-center mt-3">
          <button [disabled]="stockBrandAddEditForm?.get('stockBrandDetails')?.value.length <=0 " type="button"
            (click)="submit()"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{itemBrandId ? 'Update' :
            'Save'}}</button>
          <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
            (click)="navigateToList()">Cancel</button>
        </div>

        <!-- </p-scrollPanel> -->
      </div>
    </div>
  </form>
</div>