<div class="page-heading">
    <h1 class="page-title d-inline-block">{{licenseBillModeId ? 'Update': 'Add'}} License Bill Mode</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a [routerLink]="['/configuration/license-bill-mode']">License Bill Mode</a></li>
        <li class="breadcrumb-item"><a (click)="viewPage()">View License Bill Mode</a></li>
        <li class="breadcrumb-item">{{licenseBillModeId ? 'Update': 'Add'}} License Bill Mode</li>

    </ol>
</div>
<div class="page-content fade-in-up ">
    <div class="row">
        <div class="col-md-12">
            <form customForm [formGroup]="licenseBillModeForm" (ngSubmit)="onSubmit()">
                <div class="ibox" style="height: auto;">
                <div class="ibox-body" >
                    <p-scrollPanel [style]="{height: '62vh'}" styleClass="custom">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Division<span class="mandatory-field">*</span></label>
                                    <p-multiSelect [options]="divisionList" [defaultLabel]="'Select Division'" [disabled]="licenseBillModeId" formControlName="divisionIds" styleClass="w-100"></p-multiSelect>
                                </div>

                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>License Type<span class="mandatory-field">*</span></label>
                                    <select formControlName="licenseTypeId" [ngClass]="{'disabled': licenseBillModeId}" class="form-control fidelity-form-input" name="">
                                        <option value=''>Select License Type</option>
                                        <option *ngFor="let licenseType of licenseTypeList" [value]="licenseType.id">
                                            {{licenseType.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 d-flex justify-content-start align-items-end">
                                <div class="form-group d-flex justify-content-start align-items-center">
                                    <mat-checkbox formControlName="isBilled" class="fidelity-checkbox" (change)="onChangeCheckBox('isBilled')">Is Billed</mat-checkbox>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Price Excl VAT<span class="mandatory-field">*</span></label>
                                    <input [validateInput]="isADecimalOnly" formControlName="exclVAT" class="form-control fidelity-form-input" placeholder="Price Excl VAT"
                                    type="text" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Financial Period<span class="mandatory-field">*</span></label>
                                    <select formControlName="licenseBillRunMonthId" class="form-control fidelity-form-input" name="">
                                        <option value=''>Select Financial Period</option>
                                        <option *ngFor="let financialYear of financialYearList" [value]="financialYear.id">
                                            {{financialYear.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 d-flex justify-content-start align-items-end">
                                <div class="form-group d-flex justify-content-start align-items-center">
                                    <mat-checkbox formControlName="isBillInAdvance" class="fidelity-checkbox"  (change)="onChangeCheckBox('isBillInAdvance')">Bill In Advance</mat-checkbox>
                                </div>
                            </div>
                            <div class="col-4 form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                                <label class="d-block" for="">Effective Date<span class="mandatory-field">*</span></label>
                                <p-calendar formControlName="effectiveDate" styleClass="w-100" [minDate]="todayDate"></p-calendar>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Billing Description<span class="mandatory-field">*</span></label>
                                            <textarea  class="form-control fidelity-form-input" rows="3" formControlName="billingDescription">
                                            </textarea>
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>
                </div>
                <div class="text-center mt-4">
                    <!-- <button id="cancel_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">Save</button> -->
                    <button id="create_new_leads_btn" type="submit"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
                    <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default" [routerLink]="['/configuration/license-bill-mode']">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
