@media only screen and (min-width: 600px) and (max-width: 800px) {
    ::ng-deep .custom-tech-stock-take .ui-table-responsive .ui-table-thead>tr>th, .ui-table-responsive .ui-table-tfoot>tr>td {
        display: block !important;
    }
    ::ng-deep .custom-tech-stock-take  tr {
        display: flex !important;
    }
    ::ng-deep  body .ui-widget {
        font-size: 12px  !important;
    }
    ::ng-deep .custom-tech-stock-take  tr.neverPrint {
        display: flex !important;
    }
    ::ng-deep .custom-tech-stock-take  tr.first-row {
        display: flex !important;
    }
    ::ng-deep  p-table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body {
        max-height: 57vh !important;
    }
}   