<div class="page-heading ">
    <h1 class="page-title d-inline-block p-relative">
        <span class="d-inline-block mt-2">Return for Repair Request</span>    
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a routerLink='/inventory/dashboard'>Inventory Management</a></li>
        <li class="breadcrumb-item"><a routerLink='/inventory/warehouse-assistant/'>Warehouse Assistant Worklist</a></li>
        <li class="breadcrumb-item" *ngIf="faultyViewType == 'view'">
            <a (click)="navigateViewPage()">Return for Repair Request View</a>
        </li>
        <li class="breadcrumb-item"> Return for Repair Request </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh"> 
                    <div class="ibox-body mb-3">
                        <div class="row mt-1 view-box">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Worklists ID</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.faultyWorklistNumber?faultyProcessDetails?.faultyWorklistNumber:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Receiving ID</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.receivingId?faultyProcessDetails?.receivingId:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1 view-box">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Receving Barcode</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.receivingBarCode?faultyProcessDetails?.receivingBarCode:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">RFR Request Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.rfrRequest?faultyProcessDetails?.rfrRequest:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1 view-box">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Service Call Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.serviceCallNumber?faultyProcessDetails?.serviceCallNumber:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Receiving Clerk</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.receivingClerk?faultyProcessDetails?.receivingClerk:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1 view-box">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Received Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.receivedDate?faultyProcessDetails?.receivedDate:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Warehouse</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.warehouseName?faultyProcessDetails?.warehouseName:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1 view-box">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Tested By</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.testedBy?faultyProcessDetails?.testedBy:'-'}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Tested Date</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{faultyProcessDetails?.testedDate?(faultyProcessDetails?.testedDate | date ):'-'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1 view-box">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Status</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            <span class="status-label status-label-blue" style="width: auto;">{{faultyProcessDetails?.status?faultyProcessDetails?.status:'-'}}</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-body mb-3">
                        <div class="row header-row mt-3">
                            <div class="col">Stock Code</div>
                            <div class="col">Temp Stock Code</div>
                            <div class="col">Stock Description</div>                            
                            <div class="col">Serial Number</div>
                            <div class="col">Warrenty Status</div>
                            <div class="col">Qty</div>
                            <div class="col">Action</div>
                            <div class="col">Comments</div>
                            <div class="col">Item Status</div>
                        </div>
                        <form [formGroup]="faultyProcessForm">
                            <div class="row children-row mb-1">
                                <div class="col">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="stockCode"/>
                                </div>
                                <div class="col">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="tempStockCode" />
                                </div>
                                <div class="col">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="stockDescription" />
                                </div>
                                <div class="col">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="serialNumber" />
                                </div>
                                <div class="col">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="warrentyStatus" />
                                </div>
                                <div class="col">
                                    <input class="form-control fidelity-form-input " type="text" formControlName="qty" />
                                </div>
                                <div class="col">
                                    <select class="form-control fidelity-form-input" formControlName="faultyWorklistActionStatusId"
                                    (change)="onActionChange($event.target.value)">
                                        <option *ngFor="let item of actionList" [value]="item.id">{{item.displayName}}</option>
                                    </select>
                                    <!-- <input class="form-control fidelity-form-input " type="text" formControlName="action" /> -->
                                </div>
                                <div class="col">
                                    <input class="form-control fidelity-form-input " type="text" formControlName="comments" />
                                </div>
                                <div class="col">
                                    <input class="form-control fidelity-form-input disabled" type="text" formControlName="itemStatus" />
                                </div>
                            
                            </div>
                        </form>
                    </div>
                </div>
            </div>  
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="onSubmit('draft')"> Save as Draft </button>
                <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="onSubmit('submit')"> Submit </button>
                <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToListPage()"> Cancel </button>
            </div> 
        </div>
    </div>
</div>