<div class="fidelity-popup-heading container-fluid p-relative">No Sales
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" customForm (ngSubmit)="onSubmit()" [formGroup]="noSalesQuotationForm"
    *ngIf="noSalesQuotationForm">
    <mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <label>Customer accepted competitor offer<span class="mandatory-field">*</span></label>
                <div class="form-group">
                    <mat-radio-group aria-label="Select an option" (change)="radioChange($event)"
                        [formControl]="noSalesQuotationForm?.controls['isCustomerAcceptCompetitorOffer']">
                        <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button class="fidelity-radio-btn" [value]="false">no
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-6" *ngIf="isCometetorShow">
                <div class="form-group">
                    <label>Competitor Name<span class="mandatory-field">*</span></label>
                    <input-custom-control formControlName="competitorName"></input-custom-control>
                </div>
            </div>
            <div class="col-6" *ngIf="isCometetorShow">
                <div class="form-group">
                    <label>Motivation for accepting competitor offer<span class="mandatory-field">*</span></label>
                    <select-custom-control [loopableArray]='motivations' formControlName="outcomeReasonId">
                    </select-custom-control>
                </div>
            </div>
            <div class="col-6">
                <label class='d-block'>Price objection?</label>
                <div class="form-group d-flex justify-content-start align-items-center">
                    <mat-checkbox class="fidelity-checkbox mr-2" formControlName="isInstallation">Installation
                    </mat-checkbox>
                    <mat-checkbox class="fidelity-checkbox" formControlName="isService">Service Fees</mat-checkbox>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group d-flex justify-content-start align-items-center">
                    <mat-checkbox class="fidelity-checkbox" (change)="showOptions($event)">Marketing and promotion offer
                    </mat-checkbox>
                </div>
                <div class="form-group" *ngIf="promotionOfferShow">
                    <select-custom-control [placeholder]="'Select Marketing and promotion offer'"
                        [loopableArray]='newsLetterTypes' formControlName="promotionalOfferNewsLetterTypeId">
                    </select-custom-control>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group d-flex justify-content-start align-items-center">
                    <mat-checkbox class="fidelity-checkbox" (change)="showNewsOptions($event)">News lettter and crime
                        updates</mat-checkbox>
                </div>
                <div class="form-group" *ngIf="newsLetterShow">
                    <select-custom-control [placeholder]="'Select News lettter and crime updates'"
                        [loopableArray]='newsLetterTypes' formControlName="newsLetterTypeId">
                    </select-custom-control>
                 </div>
                </div>
                <div class="col-10">
                    <div class="form-group" style="width: 90%;">
                        <label>Notes</label>
                        <text-area-custom-control formControlName="comments" placeholder="Notes" [name]="'Notes'">
                        </text-area-custom-control>
                    </div>
                </div>
            </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Close Lead</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button"
            [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>