<div class="page-heading ">
    <h1 class="page-title no-border">{{branchId ? 'Update' : 'Add'}} Branch Name </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"> Billing </li><li class="breadcrumb-item"> Bank Configuration </li>
        <li class="breadcrumb-item"><a (click)="navigateToList()"> Maintaining Bank / Branch </a></li>
        <li class="breadcrumb-item" *ngIf="branchId"><a (click)="navigateToView()"> View Branch Name </a></li>
        <li class="breadcrumb-item">{{branchId ? 'Update' : 'Add'}} Branch Name </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="maintainingBranchAddEditForm" (ngSubmit)="submit()">
        <div class="ibox white-bg" style="height: auto;">
            <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label> Bank Name <span class="mandatory-field">*</span></label>
                                <input name="bankName" readonly [validateInput]='stringConfig' class="form-control fidelity-form-input"
                                    type="text" maxlength="50" formControlName="bankName" placeholder="Enter bank name"/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Branch <span class="mandatory-field">*</span></label>
                                <input name="branch" [validateInput]='stringConfig' class="form-control fidelity-form-input"
                                    type="text" maxlength="50" formControlName="Branch" placeholder="Enter branch"/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Branch Code <span class="mandatory-field">*</span></label>
                                <input name="branchCode" class="form-control fidelity-form-input"
                                    type="text" maxlength="50" formControlName="BankBranchCode"
                                    placeholder="Enter branch code"/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Address <span class="mandatory-field">*</span></label>
                                <input name="address" class="form-control fidelity-form-input"
                                    type="text" maxlength="100" formControlName="Address" placeholder="Enter address"/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Phone  <span class="mandatory-field">*</span></label>
                                <input placeholder="Enter number" appPhoneMask  [minlength]="formConfigs.contactnumberMinLength"
                                [maxlength]="formConfigs.contactnumberMaxLength" name="phone" class="form-control fidelity-form-input" type="text" formControlName="Phone">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Fax </label>
                                <input placeholder="Enter number" appPhoneMask  [minlength]="formConfigs.contactnumberMinLength"
                                [maxlength]="formConfigs.contactnumberMaxLength" name="fax" class="form-control fidelity-form-input" type="text" formControlName="Fax">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label> Status <span class="mandatory-field">*</span> </label>
                                <select class="form-control fidelity-form-input" formControlName="isActive">
                                    <option value="">--Select Status--</option>
                                    <option *ngFor="let status of statusList" [value]="status?.value">
                                        {{status?.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button id="btn-item-price-param" type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity  btn-brown mr-3">{{branchId ? 'Update' : 'Save'}}</button>
                    <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()">Cancel</button>
                </div>
            </p-scrollPanel>
        </div>
    </form>
</div>
