<div class="page-heading ">
    <!-- <h1 class="page-title no-border">{{systemTypeSubCategoryId ? 'Update' : 'Add'}} System Type Sub Category</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Configuration:Stock Maintenance</li>
        <li class="breadcrumb-item" routerLink="/configuration/stock-management" [queryParams]="{tab:4}" skipLocationChange><a>System type sub category list</a></li>
        <li class="breadcrumb-item" *ngIf="systemTypeSubCategoryId"><a
                routerLink='/configuration/stock-management/system-type-sub-category-view'
                [queryParams]="{systemTypeSubCategoryId:systemTypeSubCategoryId}" skipLocationChange> View System type sub category </a></li>
        <li class="breadcrumb-item">{{systemTypeSubCategoryId ? 'Update' : 'Add'}} System type sub category </li>
    </ol> -->
    <app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
        [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
        [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
        (buttonClicked)="onCRUDRequested($event)">
    </app-page-header>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="systemTypeAddEditForm" id="systemTypeAddEditForm">
        <div class="ibox white-bg" style="height: auto;">
            <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                <!-- <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom"> -->
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label> System Type Sub Category <span class="mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Description</label>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="systemTypeSubCategoryId">
                            <div class="form-group">
                                <label>Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <input name="System type sub category name" class="form-control fidelity-form-input"
                                    type="text" maxlength="50" [validateInput]='stringConfig'
                                    formControlName="systemTypeSubCategoryName"
                                    placeholder="Enter System type sub category name" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <textarea maxlength="240" rows="1" name="description"
                                    class="form-control fidelity-form-input" id="description" type="text"
                                    [validateInput]='stringConfig' formControlName="description"></textarea>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="systemTypeSubCategoryId">
                            <div class="form-group">
                                <select class="form-control fidelity-form-input" name="status"
                                    formControlName="isActive">
                                    <option value="">--Select Status--</option>
                                    <option *ngFor="let status of statusList" [value]="status?.value">
                                        {{status?.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="submit"
                                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                (click)="addstructureType()" title="Add" matTooltip="Add">
                                <i aria-hidden="true" class="icon" data-icon="b"></i>
                            </button>
                        </div>
                    </div>
                    <div class="" formArrayName="systemTypeSubCategory"
                        *ngFor="let systemTypeObj of systemTypeAddEditForm?.get('systemTypeSubCategory')?.controls;let i=index">
                        <div class="row p-relative" [formGroupName]="i">
                            <div class="col-4">
                                <div class="form-group">
                                    <input name="System type sub category name" class="form-control fidelity-form-input"
                                        type="text" maxlength="50" [validateInput]='stringConfig'
                                        formControlName="systemTypeSubCategoryName" (change)="onChange()"
                                        placeholder="Enter System type sub category name" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <textarea maxlength="240" rows="1" name="description"
                                        class="form-control fidelity-form-input" id="description" type="text"
                                        [validateInput]='stringConfig' formControlName="description"></textarea>
                                </div>
                            </div>
                            <div class="col-2" *ngIf="systemTypeSubCategoryId">
                                <div class="form-group">
                                    <select class="form-control fidelity-form-input" name="status"
                                        formControlName="isActive">
                                        <option value="">--Select Status--</option>
                                        <option *ngFor="let status of statusList" [value]="status?.value">
                                            {{status?.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <a matTooltip="Delete" id="delete_record" class="delete-row "
                                    (click)="removestructureType(i)"><i aria-hidden="true" class="icon icon-delete"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button [disabled]="getsystemType?.length==0 || !getsystemType" type="submit" (click)="submit()"
                        class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">{{systemTypeSubCategoryId
                        ? 'Update' : 'Save'}}</button>
                    <button id="cancel_new_leads_btn" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                        routerLink="/configuration/stock-management" [queryParams]="{tab:4}"
                        skipLocationChange>Cancel</button>
                </div>
                <!-- </p-scrollPanel> -->
            </div>
        </div>
    </form>
</div>