<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [captionFontSize]="primengTableConfigProperties.captionFontSize" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"></app-page-header>
<div class="row">
    <div class="col-12">
        <div class="page-content fade-in-up">
            <div class="ibox white-bg view-box">
                <div class="ibox-body brown-border">
                    <app-view-page [col]="2" [viewDetail]="geoLocationDetail">
                    </app-view-page>
                    <div class="container-fluid">
                        <!-- <h1 class="page-sub-title ext-padd mt-3">CUSTOMER DETAILS</h1> -->
                        <form class="row" customForm [formGroup]="dueDiligenceForm" (ngSubmit)="onSubmit()">


                            <div class="col-12">
                                <div class="form-group">
                                    <label>Technician Inventigation Feedback<span
                                            class="mandatory-field">*</span></label>

                                    <textarea maxlength="formConfigs.thousands" class="form-control fidelity-form-input"
                                        formControlName="comments" minlength="2" maxlength='250'
                                        placeholder="Comments "></textarea>
                                </div>
                            </div>


                            <div class="col-12 text-center mt-3">
                                <button type="button"
                                    class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="onResolved()">Resolved</button>
                                <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown"
                                    *ngIf="!customerVerificationData?.isFinalLevel">Refer
                                    to {{customerVerificationData?.nextApprovalRoleName}}</button>
                                <!-- <button type="button" (click)="onRedriectToTechnicalManagerWorkList()"
                                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>