<div class="page-heading ">
    <h1 class="page-title no-border">{{SalesChannelId ? 'Update' : 'Add'}} Sales Channel</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item">Sales</li>
        <li class="breadcrumb-item" ><a routerLink='/configuration/sales/leads' [queryParams]="{tab:2}"
            skipLocationChange>Leads</a></li>
            <li class="breadcrumb-item" ><a routerLink='/configuration/sales/leads' [queryParams]="{tab:2}"
                skipLocationChange>Sales Channel</a></li>
        <li class="breadcrumb-item">{{SalesChannelId ? 'Update' : 'Add'}} Sales Channel
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg">
        <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
            <div class="ibox-body sm-form-grp">
                <form  customForm [formGroup]="salesChannelForm" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <label>Sales Channel <span class="mandatory-field">*</span></label>
                           </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <label>Description</label>
                            </div>
                        </div>
                    </div>

                    <div class="" formArrayName="salesChannelArray"  *ngFor="let product of salesChannelForm?.get('salesChannelArray')?.controls;let i=index">
                        <div class="row p-relative" [formGroupName]="i">
                            <div class="col-5">
                                <div class="form-group">
                                    <input name="Sales Channel"  #input  [validateInput]="stringConfig" class="form-control fidelity-form-input" (change)="onChange()"
                                         type="text"  [minlength]="formConfigs.maxLengthThree" [maxlength]="formConfigs.maxLengthFifty" formControlName="salesChannelName" 
                                         placeholder="Enter Sales Channel"/>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <input maxlength="100" name="description" class="form-control fidelity-form-input"
                                    placeholder="Add Description"  id="commDescription" type="text" formControlName="description"  />
                                </div>
                            </div>
                            <div *ngIf="!SalesChannelId" class="col-2">
                                <div class="float-left">
                                    <div class="float-left"></div>
                                    <button *ngIf="(i===0)"
                                        type="button"
                                        class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                        (click)="addSalesChannel()" title="Add" matTooltip="Add">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i></button>
                                </div>
                                <div class="float-left">
                                    <a *ngIf="i!==0 || salesChannelArray.length>1"
                                        matTooltip="Delete" id="delete_record" class="delete-row "
                                        (click)="removeSalesChannel(i)"><i aria-hidden="true"
                                            class="icon icon-delete"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button id="createCommProductBtn" type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="add_skill_save_btn">Save</button>
                        <button id="cancel_new_leads_btn" type="button" 
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default" id="add_skill_cancel"  routerLink="/configuration/sales/leads" [queryParams]="{tab:2}"
                            >Cancel</button>
                    </div>
                </form>

            </div>
        </p-scrollPanel>
    </div>
</div>