
<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
  [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
  [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="0"
  ></app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: auto;">
        <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
            <div class="ibox-body sm-form-grp">
                <form [formGroup]="sameDayTestRunForm" customForm (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="d-block"> Division <span class="mandatory-field">*</span></label>
                                <div class="form-group fidelity-multiselect-dropdown-con">
                                  <p-multiSelect [options]="divisionList" name="Division" [defaultLabel]="'Select Division'" formControlName="divisionIds"
                                  styleClass="w-100"></p-multiSelect>
                            </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group fidelity-date-picker-con d-flex flex-column cust-banner-date-con" id="">
                                <label>Run Date & Time <span class="mandatory-field">*</span></label>
                                <p-calendar formControlName="runTime" [minDate]="todayDate" [showIcon]="true" styleClass="w-100"></p-calendar>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group fidelity-date-picker-con p-relative dealer-maintenance-date-con">
                                <label>Run Code</label>
                                    <p-multiSelect    formControlName="debitOrderRunCodeIds"  appendTo="body" [defaultLabel]="'Select Run Code'" autoWidth="false" optionLabel="displayName" optionValue="id"
                                    [style]="{'width':'100%'}" [options]="runCodeList">
                                </p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-4">
                            <div class="form-group">
                                <label>Include ERB</label>
                                     <p-checkbox  binary="true" class="pcheckbox" name="includeERB" formControlName="includeERB" ></p-checkbox>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Final Test Run</label>
                                    <p-checkbox  binary="true" class="pcheckbox" name="isFinalSubmit"  formControlName="isFinalSubmit"  ></p-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="create_new_leads_btn" type="submit"
                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                            id="add_lead_type_btn">{{monthlyTestRunId ? 'Update' : 'Add'}}</button>
                        <button id="cancel_new_leads_btn" type="button"
                            routerLink="/billing/same-day-run-report"
                            class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                            id="cancel_lead_type_btn">Cancel</button>
                    </div>

                </form>

            </div>
        </p-scrollPanel>
    </div>
</div>
