<form *ngIf="showTimeAllocationsFilterForm" [formGroup]="stockTakeTimeAllocationsFilterForm" (ngSubmit)="submitFilter()"
    class="p-absolute" style="top: 50px;right: 3vw; z-index: 10;background-color: #fff;">
    <div class="page-heading p-relative">
        <div class="filter-dropdwon-con picking-dashboard" style="width: 79vw;">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label> Region </label>
                        <select name="region" class="form-control fidelity-form-input" (change)="changeRegion($event)"
                            formControlName="regionId">
                            <option value="null" disabled>Select region</option>
                            <option [value]="item.id" *ngFor="let item of regionDropdown; let i=index">
                                {{item.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label> Division </label>
                        <select name="division" class="form-control fidelity-form-input"
                            (change)="changeDivision($event)" formControlName="divisionId">
                            <option value="null" disabled>Select division</option>
                            <option [value]="item.id" *ngFor="let item of divisionDropdown; let i=index">
                                {{item.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label> District </label>
                        <select name="district" class="form-control fidelity-form-input"
                            (change)="changeDistrict($event)" formControlName="districtId">
                            <option value="null" disabled>Select district</option>
                            <option [value]="item.id" *ngFor="let item of districtDropdown; let i=index">
                                {{item.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label> Branch </label>
                        <select name="branch" class="form-control fidelity-form-input" (change)="changeBranch($event)"
                            formControlName="branchId">
                            <option value="null" disabled>Select branch</option>
                            <option [value]="item.id" *ngFor="let item of branchDropdown; let i=index">
                                {{item.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label> Tech Area </label>
                        <select name="techArea" class="form-control fidelity-form-input" formControlName="techAreaId">
                            <option value="null" disabled>Select tech area</option>
                            <option [value]="item.id" *ngFor="let item of techAreaDropdown; let i=index">
                                {{item.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group fdt-date-con">
                        <div class="row">
                            <div class="col-6 p-relative">
                                <label for=""> Scheduled Time(From) </label>
                                <p-calendar formControlName="fromDate" [style]="{'width':'100%'}" [minDate]="minDate"
                                    [maxDate]="maxDate"></p-calendar>
                            </div>
                            <div class="col-6 p-relative">
                                <label for=""> Scheduled Time(To) </label>
                                <p-calendar formControlName="toDate" [style]="{'width':'100%'}"
                                    [minDate]="stockTakeTimeAllocationsFilterForm?.get('fromDate')?.value"
                                    [maxDate]="maxDate"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="d-block"> Status </label>
                        <select name="status" class="form-control fidelity-form-input" formControlName="statusId">
                            <option value="null" disabled>Select status</option>
                            <option [value]="item.id" *ngFor="let item of statusDropdown; let i=index">
                                {{item.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit">Filter</button>
                    <button type="button" class="btn btn-md-fidelity btn-primary mr-4"
                        (click)="resetForm()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption"
    [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
    [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex"
    (buttonClicked)="onCRUDRequested($event)"></app-page-header>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" [first]="first"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [status]="status" [reset]="reset"
    [searchFirst]="true" [pageLimit]="pageLimit" [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
    (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>