<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{isUpsell ? 'Upsell Quote' : 'Counter Sales'}}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i>Customer Management</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/customer/counter-sales'>{{isUpsell ? 'Upsell Quote' : 'Counter Sales'}}</a>

        </li>
        <li class="breadcrumb-item"><span>{{id ? 'Update ' : 'Create '}}{{isUpsell ? 'Upsell Quote' : 'Counter Sales'}}</span>
        </li>
    </ol>
    <div class="grid-icons-con float-right" *ngIf="isUpsell && !details?.directSaleQuotationVersionId">
        <button id="add_cmc-sms-group_btn" (click)="addUpsellQuote()"
            class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn" title="add">
            <i aria-hidden="true" class="icon" data-icon="b"></i>
        </button>
    </div>
</div>
<form customForm (ngSubmit)="submit()">
    <div class="page-content fade-in-up" style="overflow-y: auto">
        <div class="ibox view-box create-lead-stage3-con" style="height: auto!important;">

            <div class="p-relative">
                <div class="ibox-body" *ngIf="!isUpsell">
                    <p-scrollPanel [style]="{ height: '26vh'}" class="custom">
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Direct Sale Ref No</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block"><a style="color: #007ad9">
                                                {{details?.directSaleRefNo}}</a></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Customer ID</span>
                                    <span id="" class="value d-flex justify-content-start">
                                        <span class="d-inline-block" style="width: auto;">
                                            {{details?.customerRefNo}}</span>

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Quote Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{details?.directSaleQuotationNumber ? details?.directSaleQuotationNumber:'--'}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Stock Order Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">--</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Customer Name</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{details?.fullName}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Email</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{details?.email}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Created Date</span>
                                    <span id="" class="value">
                                        <span
                                            class="d-inline-block">{{details?.createdDate | date}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Created By</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{details?.createdBy}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Mobile Number</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{details?.mobile1No }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Status</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{details?.isActive ? 'Active' :'Inactive'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Full Address</span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{details?.fullAddress }}</span>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </p-scrollPanel>

                </div>

            </div>
            <div class="p-relative">
                <div class="ibox-body">
                    <div class="row ">
                        <div class="col-4">

                        </div>
                        <div class="col-3">

                        </div>
                        <div class="col-2 d-flex align-items-center mt-4">

                        </div>
                        <div class="col-3 text-right">
                            <div style="pointer-events: all;"
                                class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator">
                                <ng-container>
                                    <button type="button" (click)="onArrowClick('backward')">
                                        <i class="icon icon-backward"></i>
                                    </button>
                                </ng-container>
                                <span class="d-flex stage-no mr-2 ml-2">2</span>
                                <button type="button"
                                    [disabled]="(itemData ? false : true) || (systemTypesData.length == 0 ? true : false )"
                                    (click)="onArrowClick('forward')">
                                    <i class="icon icon-forward"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-8">

                        </div>
                        <div class="col-2" *ngIf="systemTypes.length > 0">
                            <div class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator"
                                style="top: -10px;right: 12px;position: relative;">
                                <button class="status-label status-label-green mr-4" type="button" (click)="addOption()"
                                    style="cursor: pointer;border: none;">Add Option
                                    <span class="fa fa-plus-circle mr-1" style="margin-left: 7px;"></span>
                                </button>
                            </div>

                        </div>
                        <div class="col-2">


                        </div>
                    </div>
                    <p-scrollPanel [style]="{ height: '20vh'}">
                        <ng-container *ngIf="systemTypesData.length > 0">

                            <div class="row mt-1" *ngFor="let dt of systemTypesData; let i=index">
                                <ng-container>

                                    <div class="col-6">
                                        <label>Option {{systemTypesData.length - i}}</label>

                                        <div class="form-group">
                                            <select id="cust_keyholder_contact_type"
                                                [disabled]="dt.directSaleQuotationItems.length > 0"
                                                [(ngModel)]="dt.systemTypeId" [ngModelOptions]="{standalone: true}"
                                                class="form-control fidelity-form-input">
                                                <option value="null" disabled>-- Select System Type --</option>

                                                <option *ngFor="let st of dt.systemTypes" [value]="st.id">
                                                    {{st.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mt-4 ml-5">
                                        <button class="btn btn-primary" type="button" (click)="openUpdateStock(dt,i)"
                                            style="cursor: pointer;border: none;">Update Stock
                                        </button>
                                    </div>


                                    <div class="mt-4 ml-4">
                                        <button class="circle-minus-btn" type="button"
                                            matTooltip="Remove Option {{systemTypesData.length - i}}"
                                            tooltipPosition="top" style="margin-top: 10px;" (click)="onDelete(i,dt)">
                                            <i aria-hidden="true" class="icon icon-delete"></i></button>
                                    </div>



                                    <ng-container *ngIf="dt.directSaleQuotationItems.length > 0">

                                        <table style="width: 100%;
                                    margin-left: 15px;" class="fidelity-table mt-2 service-table">
                                            <thead>
                                                <th>Stock Code</th>
                                                <th>Description</th>
                                                <th class="text-left">Unit Price</th>
                                                <th class="text-left">Quantity</th>
                                                <th class="text-left">Sub Total</th>
                                                <th class="text-left">VAT</th>
                                                <th class="text-left">Total</th>
                                                <th class="text-left" *ngIf="isUpsell">Comments</th>

                                                <th></th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of dt.directSaleQuotationItems;index as i">
                                                    <ng-container>
                                                        <td>{{product.stockCode}}</td>
                                                        <td>{{product.stockDescription}}</td>
                                                        <td class="text-left"
                                                            *ngIf="!product.techDiscountingProcessName">{{product.unitPrice |
                                                        wholeNumberToDecimal}}</td>
                                                        <td class="text-left"
                                                            *ngIf="product.techDiscountingProcessName">
                                                            <select style="width: 50%;" id="cust_keyholder_contact_type"
                                                                (change)="changeDropdown(product)"
                                                                [(ngModel)]="product.isFixed"
                                                                [ngModelOptions]="{standalone: true}"
                                                                class="form-control fidelity-form-input">
                                                                <option value="" disabled>Select</option>

                                                                <option value="false">
                                                                    Fixed
                                                                </option>
                                                                <option value="true">
                                                                    Percentage
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td class="text-left">
                                                            <ng-container *ngIf="!product.techDiscountingProcessName">
                                                                <button type="button"
                                                                    (click)="onQuantityChange('minus', product)">
                                                                    -</button>{{product.qty}}
                                                                <button type="button"
                                                                    (click)="onQuantityChange('plus', product)">
                                                                    +
                                                                </button>
                                                            </ng-container>
                                                        </td>
                                                        <td class="text-left"
                                                            *ngIf="!product.techDiscountingProcessName">
                                                            {{product.subTotal |
                                                            wholeNumberToDecimal}}
                                                        </td>
                                                        <td class="text-left"
                                                            *ngIf="product.techDiscountingProcessName">
                                                            <input (input)="onChange(product)" style="width: 42%;"
                                                                [(ngModel)]="product.subTotal"
                                                                [ngModelOptions]="{standalone: true}"
                                                                class="form-control fidelity-form-input"
                                                                name="companyName">
                                                        </td>
                                                        <td class="text-left">{{product.vat | wholeNumberToDecimal
                                                            }}</td>
                                                        <td class="text-left">{{product.total |
                                                            wholeNumberToDecimal}}</td>
                                                        <td class="text-left" *ngIf="isUpsell">
                                                            <input style="width: 42%;" [(ngModel)]="product.comments"
                                                                [ngModelOptions]="{standalone: true}"
                                                                class="form-control fidelity-form-input"
                                                                name="comments">
                                                        </td>
                                                        <td>
                                                            <button class="circle-minus-btn" type="button"
                                                                matTooltip="Remove Stock Item" tooltipPosition="top"
                                                                (click)="onDeleteItem(dt,product)" style="top: 0px;">
                                                                <i aria-hidden="true"
                                                                    class="icon icon-delete"></i></button>
                                                        </td>
                                                    </ng-container>
                                                </tr>
                                            </tbody>
                                            <tfoot *ngIf="dt.directSaleQuotationItems.length != 0"
                                                style="background: #dacece;">
                                                <tr>
                                                    <ng-container>
                                                        <td><b>Sub Total</b></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>

                                                        </td>

                                                        <td class="text-left">
                                                            <b>{{dt.totalAmount.subTotal
                                                                | wholeNumberToDecimal}}</b>
                                                        </td>
                                                        <td class="text-left">
                                                            <b>{{dt.totalAmount.vat
                                                                | wholeNumberToDecimal}}</b>


                                                        </td>
                                                        <td class="text-left">
                                                            <b> {{dt.totalAmount.totalPrice
                                                                | wholeNumberToDecimal}}</b>


                                                        </td>
                                                    </ng-container>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>

                    </p-scrollPanel>
                </div>
            </div>
            <div class="text-center mt-5" *ngIf="systemTypesData.length > 0">
                <button  id="create_new_leads_btn" type="submit"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                    id="add_lead_type_btn">Save</button>
                <button id="cancel_new_leads_btn" type="button" (click)="onCancelClick()"
                    class="btn btn-md-fidelity fidelity-btn-grey btn-default  mr-3" id="cancel_lead_type_btn">Cancel</button>
                <button [disabled]="isEnableQuoteGenerateButton" id="create_new_leads_btn" type="button"
                    (click)="generateQuote()"
                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                    id="add_lead_type_btn">Generate Quote </button>

            </div>

        </div>
    </div>
</form>

<p-dialog styleClass="invoiceInfo" [maximizable]="true" [(visible)]="isAddUpsell" [responsive]="true" showEffect="fade"
    [resizable]="false" [modal]="true" [style]="{width: '500px'}">
    <p-header>
        Alert
    </p-header>
    <div>
        <form class="fidelity-popup-form" style="font-size: 0.9rem!important;">
            <div>
                <p-scrollPanel [style]="{ height: '15vh'}">
                    <div class="view-box">

                        <label>
                            Additional Partitionning Required ?
                        </label>


                    </div>
                </p-scrollPanel>
            </div>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">

                <button type="submit" pButton class="ui-button-success mr-4"
                    style="display: inline-block;background: #115943!important;" (click)="openUpgrade()"
                    label="Yes"></button>
                <button (click)="cancelUpgrade()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    style="padding:7px">No</button>
            </div>
        </div>
    </p-footer>
</p-dialog>
