.invoice-acceptance-con {
    margin: 5% 10%;
  
    .img-con {
      width: 100%;
      img {
        width: 100%;
      }
    }
    
    #master-input {
      background-color:#FBFCFC;
      padding:10px;
      border:1px solid #00b7df1f;
      border-radius:5px;
      width:93%;
      outline:none;
      background-color: #00b7df1f;
      width: 33%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .bold-no {
        font-family: 'Calibri_Bold', sans-serif!important;
      }
    }
  
    .pdf-file-con {
      left: 35%;
      top: 23px;
      color: #00b7df;
    }
  
  }