<div class="fidelity-popup" id="ticketModal">
  <div class="">
    <div class="modal-content">
      <div class="modal-header fidelity-popup-heading" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body"
        cdkDragHandle>
        <h4 class="modal-title">Ticketing</h4>
        <mat-icon class="close-icon mat-icon notranslate mat-#fff material-icons mat-icon-no-color" color="#fff"
          role="img" aria-hidden="true" ng- (click)="onClose()">
          close</mat-icon>
      </div>
      <app-popup-loader></app-popup-loader>
      <div class="fidelity-modal-body" id="ticket_add_edit_div">
        <form class="fidelity-popup-form" customForm [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
          <div>
            <p-scrollPanel [style]="{ height: '60vh'}" styleClass="custom">
              <div class="row">
                <div class="col-6 action-type">
                  <div class="form-group mat-form fidelity-single-select-dropdown-con">
                    <label>Action Type<span class="mandatory-field">*</span></label>
                    <select class="form-control fidelity-form-input" formControlName="ticketTypeId" name="Action Type"
                      (change)="OnActionTypeChange($event)">
                      <option value="null" disabled selected>Select Action Type</option>
                      <optgroup *ngFor="let tictype of ticketTypeList" [label]="tictype.displayName">
                        <option *ngFor="let tic of tictype.ticketTypes" value="{{tic.id}}">
                          {{tic.displayName}}</option>
                      </optgroup>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group" id="subscription_Id_Div" style="width: 80%;">
                    <label>Subscription ID <span class="mandatory-field">*</span></label>
                    <p-multiSelect [options]="subscriptionList" appendTo="body" [baseZIndex]="6000"
                      [defaultLabel]="'Not Applicable'" maxSelectedLabels='1' filter="true"
                      formControlName="subscriptionIds" styleClass="w-100"></p-multiSelect>
                  </div>
                </div>
                <div class="col-6" *ngIf="isCancelForReq">
                  <div class="form-group">
                    <label>Cancellation Reason<span class="mandatory-field">*</span></label>
                    <select class="form-control fidelity-form-input" id="ticketCancellationReasonId"
                      formControlName="ticketCancellationReasonId">
                      <option value="null" disabled>Select Cancellation Reason</option>
                      <option *ngFor="let group of ticketCancelReasonList" value="{{group.id}}">
                        {{group.displayName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-6" *ngIf="isCancelForReq">
                  <div class="form-group">
                    <label>Sub Reason<span class="mandatory-field">*</span></label>
                    <select class="form-control fidelity-form-input" id="ticketCancellationSubReasonId"
                      formControlName="ticketCancellationSubReasonId">
                      <option value="null" disabled>Select Sub Reason</option>
                      <option *ngFor="let group of ticketCancelSubReasonList" value="{{group.id}}">
                        {{group.displayName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-6" *ngIf="isCancelForReq">
                  <label>Cancellation Notice <span class="mandatory-field">*</span></label>
                  <div class="form-group">
                    <mat-radio-group formControlName="isCancellationLetterReceived" name="isCancellationLetterReceived">
                      <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                        Received
                      </mat-radio-button>
                      <mat-radio-button class="fidelity-radio-btn" [value]="false">
                        Not Received
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col-6" *ngIf="ticketForm?.get('isCancellationLetterReceived')?.value && isCancelForReq">
                  <label>Request Type<span class="mandatory-field">*</span></label>
                  <div class="form-group">
                    <mat-radio-group formControlName="isRequestTypeWritten" name="isRequestTypeWritten">
                      <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                        Written
                      </mat-radio-button>
                      <mat-radio-button class="fidelity-radio-btn" [value]="false">
                        Telephone
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group" style="width: 80%;" id="user_Group_Div">
                    <label>User Group <span class="mandatory-field">*</span></label>
                    <p-dropdown [options]="ticketGroupList" appendTo="body" filter="true" formControlName="userGroupId"
                      (onChange)="OnUserGroupChange($event)" placeholder="User Group" [baseZIndex]="'6000'"
                      [style]="{'width':'100%'}"></p-dropdown>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group" style="width: 80%;">
                    <file-upload-custom-control [isASingleFileUpload]="false" formControlName="fileName" name="Attach File"
                      [formGroup]="ticketForm" [label]="'Attach File (.Pdf,.Docs,.Jpeg,.Png,.xlsx)'"
                      (emitUploadedFiles)="emitUploadedFiles($event)">
                    </file-upload-custom-control>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group" style="width: 80%;" id="assign_To_Div">
                    <label>Assign To</label>
                    <p-dropdown [options]="assigntoList" appendTo="body" filter="true" formControlName="assignedTo"
                      [baseZIndex]="'6000'" placeholder="Assign To" [style]="{'width':'100%'}"></p-dropdown>
                    <span class="text-danger"
                      *ngIf="ticketForm?.get('assignedTo')?.touched && ticketForm?.get('assignedTo')?.invalid">
                      Assign To is required
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Status<span class="mandatory-field">*</span></label>
                    <select id="Status" class="form-control fidelity-form-input" formControlName="ticketStatusId">
                      <option value="null" disabled>Select Status
                        (required)</option>
                      <option *ngFor="let ticstatus of ticketStatusList" value="{{ticstatus.id}}">
                        {{ticstatus.displayName}}
                      </option>
                    </select>
                  </div>
                </div>
                <ng-container *ngIf="selectedActionType=='Cancellations'">
                  <div class="col-6 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                    <label class="d-block" for="">Cancel Date<span class="mandatory-field">*</span></label>
                    <p-calendar formControlName="cancellationDate" [baseZIndex]="6000" [minDate]="today">
                    </p-calendar>
                    <span class="text-danger" *ngIf="(ticketForm.get('cancellationDate').touched &&
                  ticketForm.get('cancellationDate').invalid)&&!isFormSubmitted">
                      Cancellation Date is required
                    </span>
                  </div>
                </ng-container>
                <ng-container *ngIf="selectedActionType=='Suspension request'">
                  <div class="col-6 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                    <label class="d-block" for="">Suspension From Date<span class="mandatory-field">*</span></label>
                    <p-calendar formControlName="suspensionFromDate" [baseZIndex]="6000" [minDate]="today" styleClass="w-100">
                    </p-calendar>
                    <span class="text-danger" *ngIf="(ticketForm.get('suspensionFromDate').touched &&
                  ticketForm.get('suspensionFromDate').invalid)&&!isFormSubmitted">
                      Suspension From Date is required
                    </span>
                  </div>
                  <div [ngStyle]="{'pointer-events': ticketForm.get('suspensionFromDate').valid?'all':'none'}"
                    class="col-6 fidelity-date-picker-con d-flex flex-column cust-banner-date-con">
                    <label class="d-block" for="">Suspension To Date<span class="mandatory-field">*</span></label>
                    <p-calendar formControlName="suspensionToDate" [baseZIndex]="6000"
                      [minDate]="ticketForm.get('suspensionFromDate')?.value" styleClass="w-100">
                    </p-calendar>
                    <span class="text-danger" *ngIf="(ticketForm.get('suspensionToDate').touched &&
                ticketForm.get('suspensionToDate').invalid)&&!isFormSubmitted">
                      Suspension To Date is required
                    </span>
                  </div>
                </ng-container>
                <div class="col-6" *ngIf="selectedActionType=='Save Offer'">
                  <div class="form-group">
                    <label>Pre Approved Save Offer %</label>
                    <input mask="0*" type="text" formControlName="saveOfferPercentage"
                      class="form-control fidelity-form-input">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Reason<span class="mandatory-field">*</span></label>
                    <textarea maxlength="500" name="Reason" formControlName="description"
                      class="form-control fidelity-form-input" id="" rows="3" style="width: 91%;"></textarea>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="(data?.isSuspendTicket == 'true' || data?.isSuspendTicket == true)">
                  <label>Equipment<span class="mandatory-field">*</span></label>
                  <div class="form-group">
                    <p-checkbox class="mr-3" formControlName="isRadio" name="isRadio" label="Radio" binary="true">
                    </p-checkbox>
                    <p-checkbox class="mr-3" formControlName="isSystem" name="isSystem" label="System" binary="true">
                    </p-checkbox>
                  </div>
                </div>
                <div class="col-6" *ngIf="isOutcome">
                  <div class="form-group">
                    <label>Outcome<span class="mandatory-field">*</span></label>
                    <select class="form-control fidelity-form-input" id="ticketOutcomeId"
                      formControlName="ticketOutcomeId">
                      <option value="null" disabled selected>Select Outcome</option>
                      <option *ngFor="let tic of ticketOutcomeList" value="{{tic.id}}">
                        {{tic.displayName}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </p-scrollPanel>
          </div>
          <div>
            <div class="modal-footer justify-content-center no-border">
              <button type="submit" id="ticketing_submit" class="btn btn-md-fidelity fidelity-btn-brown btn-brown mr-2">
                Submit
              </button>
              <button id="cancel_submit" class="btn btn-md-fidelity btn-default" (click)="onClose()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  ::ng-deep .ui-datepicker {
    z-index: 10000000 !important;
  }

  ::ng-deep .ui-dropdown-label-container {
    padding: 5px !important;
  }
</style>
