<ng-container *ngIf="caption != customerLeadsAddress">
    <div class="pb-3">
        <app-page-header [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
            [tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs"
            [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)">
        </app-page-header>
    </div>
</ng-container>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList" class="call-status-table"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords" [first]="first" [reset]="reset"
    [searchFirst]="true" (onActionSubmited)="onActionSubmited($event)">
</app-page-list-table>