<app-page-header [tableCaption]="primengTableConfigProperties.tableCaption" [breadCrumbItems]="primengTableConfigProperties.breadCrumbItems"
[tableComponentConfigs]="primengTableConfigProperties.tableComponentConfigs" [selectedTabIndex]="selectedTabIndex" (buttonClicked)="onCRUDRequested($event)" >
</app-page-header>
<div class="page-content fade-in-up">
    <div class="ibox white-bg space-saving-con">
        <div class="ibox-body brown-border view-box">
            <div class="row">
                <div class="col-12">
                    <app-view-page [col]="2" [viewDetail]="IMAuditCycleCountviewDetail" [template]="1"></app-view-page>                     
                </div>
            </div>
        </div>
        <div class="ibox-body brown-border mt-3 ">
            <div>
                    <mat-tab-group [selectedIndex]="selectedTabIndex"  class="fidelity-tab-group mat-tab-body-padding-0 stock-maintenance-group custom">
                        <!-- Recent Activities -->
                        <!--===============================ADDRESS INFO TAB===============================-->
                        <mat-tab label="RANDOM USER SELECTED STOCK CODES" class="bg-gray">
                            <div>
                                <div >
                                    <div class="container-fluid example-large-box p-relative">
                                  
                                        <div class="mt-2 custom-scroll1" style="max-width: 100%;overflow-x: auto;font-size: 1rem;color: #000;">
                                            <div class="row product-header-row mb-2" style="font-size: 1rem;flex-wrap: nowrap;">
                                                <div class="col-3">Stock Code</div>
                                                <div class="col-6">Stock Description</div>
                                                <div class="col-2">Consumables</div>
                                            </div>
                                            <div class="row children-row mt-1" *ngFor="let item of auditCycleCountDetail?.items"  style="font-size: 1rem;flex-wrap: nowrap;"> <!---->
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.stockCode" ></input-custom-control>
                                                    </div>
                                                </div>
                                                <div class="col-6 ">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.stockName" ></input-custom-control>
                                                    </div>
                                                </div>
                                                <div class="col-2 ">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'" [value]="item.consumables" ></input-custom-control>
        
                                                    </div>
                                                </div>                                        
                                            </div>
                                            <div class="row children-row" *ngIf="auditCycleCountDetail?.items?.length == 0">
                                                <div class="col">
                                                    <b>No Record Found</b>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
        
                        <mat-tab label="HIGH RISK ITEMS" class="bg-gray">
                            <div>
                                <div class="custom-scroll1">
                                    <form action="">
                                        <div class="container-fluid example-large-box p-relative threshold-con" style="padding: 0 30px;">
                                            <div class="row mb-2" style="font-size: 1rem;">
                                                <div class="col-3">Stock Code</div>
                                                <div class="col-6">Stock Description</div>
                                                <div class="col-2">Consumables</div>
                                            </div>
                                            <div class="row children-row mt-1" *ngFor="let highRiskitem of auditCycleCountDetail?.HighRiskItem"> <!---->
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'" [value]="highRiskitem?.stockCode"></input-custom-control>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'" [value]="highRiskitem?.stockName"></input-custom-control>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="form-group">
                                                        <input-custom-control [extraClassNames]="'disabled'" [value]="highRiskitem?.consumables"></input-custom-control>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </mat-tab>
                        <div></div>
                    </mat-tab-group>
            </div>
        </div>
        <!-- <div class="ibox-body brown-border mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <span id="" class="key">Reason</span>
                                <span id="" class="value">
                                        <span class="d-inline-block">{{auditCycleCountDetail?.comment?auditCycleCountDetail?.comment:'-'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>