<div>
    <app-popup-loader></app-popup-loader>
    <form class="fidelity-popup-form">
        <mat-dialog-content class="p-0">
            <div class="allPop">
                <button style="background: transparent;" mat-icon-button class="close-button p-absolute"
                    [mat-dialog-close]="true">
                    <mat-icon class="close-icon" color="#fff">close</mat-icon>
                </button>
                <div class="text-center">
                    <img
                        [src]="personalInfo?.image?personalInfo.image:'../../../../../../../assets/img/admin-avatar.png'">
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active tabsStyle" id="personal-tab" data-toggle="tab" href="#personal"
                            role="tab" aria-controls="personal" aria-selected="true">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tabsStyle" id="medical-tab" data-toggle="tab" href="#medical" role="tab"
                            aria-controls="medical" aria-selected="false">Medical</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tabsStyle" id="vehicle-tab" data-toggle="tab" href="#vehicle" role="tab"
                            aria-controls="contact" aria-selected="false">Vechicle</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                        <p class="leftS">First Name</p>
                        <p class="rightS">{{personalInfo?.firstName?personalInfo.firstName:'-'}}</p>
                        <p class="leftS">Last Name</p>
                        <p class="rightS">{{personalInfo?.lastName?personalInfo.lastName:'-'}}</p>
                        <p class="leftS">Email Address</p>
                        <p class="rightS">{{personalInfo?.email?personalInfo.email:'-'}}</p>
                        <p class="leftS">Mobile Number</p>
                        <p class="rightS">{{personalInfo?.mobileNo?((personalInfo?.mobileNoCountryCode + " " +
                            personalInfo?.mobileNo)|phoneMask):'-'}}</p>
                        <p class="leftS">Date of birth</p>
                        <p class="rightS">{{personalInfo?.dob?(personalInfo.dob | date):'-'}}</p>
                        <p class="leftS">Gender</p>
                        <p class="rightS">{{personalInfo?.gender?personalInfo.gender:'-'}}</p>
                        <p class="leftS">Nationality</p>
                        <p class="rightS">{{personalInfo?.nationality?personalInfo.nationality:'-'}}</p>
                        <p class="leftS">Address</p>
                        <p class="rightS">{{personalInfo?.physicalAddress?personalInfo.physicalAddress:'-'}}</p>
                        <p class="leftS">Town</p>
                        <p class="rightS">{{personalInfo?.town?personalInfo.town:'-'}}</p>
                        <p class="leftS">Height</p>
                        <p class="rightS">{{personalInfo?.height?personalInfo.height:'-'}}</p>
                        <p class="leftS">Build</p>
                        <p class="rightS">{{personalInfo?.build?personalInfo.build:'-'}}</p>
                        <p class="leftS">Hair Color</p>
                        <p class="rightS">{{personalInfo?.hairColor?personalInfo.hairColor:'-'}}</p>
                        <p class="leftS">Eye Color</p>
                        <p class="rightS">{{personalInfo?.eyeColor?personalInfo.eyeColor:'-'}}</p>
                        <p class="leftS">Ethnicity</p>
                        <p class="rightS">{{personalInfo?.ethnicity?personalInfo.ethnicity:'-'}}</p>
                        <p class="leftS">Language</p>
                        <p class="rightS">{{personalInfo?.language?personalInfo.language:'-'}}</p>
                    </div>
                    <div class="tab-pane fade" id="medical" role="tabpanel" aria-labelledby="medical-tab">
                        <p class="leftS">Medical Aid Provider</p>
                        <p class="rightS">{{personalInfo?.medicalAidProvider?personalInfo.medicalAidProvider:'-'}}</p>
                        <p class="leftS">Medical Plan</p>
                        <p class="rightS">{{personalInfo?.medicalPlan?personalInfo.medicalPlan:'-'}}</p>
                        <p class="leftS">Medical Aid Number</p>
                        <p class="rightS">{{personalInfo?.medicalAidNumber?personalInfo.medicalAidNumber:'-'}}</p>
                        <p class="leftS">Chronic Illness/Medication</p>
                        <p class="rightS">{{personalInfo?.medication?personalInfo.medication:'-'}}</p>
                        <p class="leftS">Allergies</p>
                        <p class="rightS">{{personalInfo?.allergies?personalInfo.allergies:'-'}}</p>
                    </div>
                    <div class="tab-pane fade" id="vehicle" role="tabpanel" aria-labelledby="vehicle-tab">
                        <p class="leftS">Vehicle License Number</p>
                        <p class="rightS">
                            {{personalInfo?.vechicleRegistrationNo?personalInfo.vechicleRegistrationNo:'-'}}</p>
                        <p class="leftS">Vehicle Type</p>
                        <p class="rightS">{{personalInfo?.vechicleBodyType?personalInfo.vechicleBodyType:'-'}}</p>
                        <p class="leftS">Vehicle Model</p>
                        <p class="rightS">{{personalInfo?.vehicleModel?personalInfo.vehicleModel:'-'}}</p>
                        <p class="leftS">Vehicle Color</p>
                        <p class="rightS">{{personalInfo?.vechicleColour?personalInfo.vechicleColour:'-'}}</p>
                        <p class="leftS">Branding</p>
                        <p class="rightS">{{personalInfo?.brandingExplain?personalInfo.brandingExplain:'-'}}</p>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
    </form>
</div>