.login-bg-con {
    background-image: url("../../../../../../../assets/img/new-login-bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-bg-con .form-signin {
    max-width: 350px;
    padding: 15px 35px 30px;
    margin: 0 6% 0 auto;
    background-color: #ffffffeb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    top: 30vh;
    left: -3vw;
    border-radius: 5px;
}

.login-bg-con .form-signin .form-signin-heading,
.login-bg-con .form-signin .checkbox {
    margin: 10px 0px;
    font-size: 1rem;
    color: #8A8A8A;
}

.login-bg-con .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.login-bg-con #sign_in_btn[_ngcontent-rhj-c10]:hover {
    background-color: #00644A !important;
}

.login-bg-con #sign_in_btn {
    padding: 5px 0px;
    border-radius: 8px;
    background-color: #00644A;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.fidelity-form-input,
.space-saving-con p-calendar input.ui-inputtext {
    --webkit-transition: all 0.3s ease-in-out;
    --moz-transition: all 0.3s ease-in-out;
    --ms-transition: all 0.3s ease-in-out;
    --o-transition: all 0.3s ease-in-out;
    outline: none;
    padding: 9px 10.5px;
    border-radius: 7px;
    line-height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 1.25rem;
    font-family: "Calibri_Bold", sans-serif !important;
}

.login-bg-con .form-signin .form-signin-heading img {
    max-width: 75%;
}

p.error {
    margin: 0px;
    color: #f00;
    padding: 3px;
}

@media only screen and (max-width: 500px) {
    .login-bg-con .form-signin {
        top: 10vh;
    }
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:
        rgba(0, 0, 0, 0.3) no-repeat 0 0;
}

// panic user personal info popup styles 

.allPop {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 15px;
    border-radius: 10px;
    position: relative;

    button.close-button {
        position: absolute !important;
        right: 0px;
        width: auto;
        top: 0px;
        color: red !important;
        border: none;
        padding: 0px;
    }
}

p.rightS,
p.leftS {
    display: inline-block;
    margin: 0px;
    padding: 8px;
}

p.leftS {
    width: 45%;
}

p.rightS {
    width: 55%;
    font-weight: 600;
}

#myTab li.nav-item {
    width: 32%;
    margin: auto;
}

.tabsStyle {
    text-align: center;
    background: #e7e7e7;
    color: #333;
    border: 1px solid #3333 !important;
    border-radius: 5px;
}

.tabsStyle.active {
    text-align: center;
    background: #e7e7e7;
}

.tabsStyle.active {
    text-align: center;
    background: #1d6c47 !important;
    color: #fff !important;
}

.allPop .text-center img {
    width: 90px;
    margin-bottom: 10px;
}

h4.titleTop {
    font-size: 18px;
    padding: 6px 10px 0px;
}

.tapSelect {
    border: 1px solid #3333;
    width: 100%;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
}

p.rightS input {
    border: 1px solid #3333;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

.text-center.btn.tapInput {
    width: 100%;
}

button {
    width: 200px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid;
    background: #1d6c47;
    color: #fff !important;
}

@media screen and (max-width: 350px) {
    .custom-text-area {
        width: 100% !important;
    }
}


// end of panic user personal info popup styles