<div class="page-heading">
    <h1 class="page-title d-inline-block">{{doaConfigId ? 'Edit' : 'New'}} DOA Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Configuration</li>
        <li class="breadcrumb-item"><a routerLink='/configuration/doa-configuration'>DOA Configuration</a></li>
        <li class="breadcrumb-item">{{doaConfigId ? 'Update' : 'Add'}} DOA Configuration</li>

    </ol>
</div>
<div class="page-content fade-in-up ">
            <div class="ibox space-saving-con">
                <div class="custom-scroll1" style="overflow-x: auto;height: 80vh">
                <!-- <p-scrollPanel [style]="{height: '80vh'}" styleClass="custom"> -->
                    <fieldset [disabled]="true">
                        <form customForm class="fidelity-popup-form" [formGroup]="doaConfigForm">
                                    <div class="ibox-body brown-border white-bg">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Department<span class="mandatory-field">*</span></label>
                                                    <select id="departmentId" class="form-control fidelity-form-input"
                                                        formControlName="departmentId">
                                                        <option value="" disabled>Select Department</option>
                                                        <option *ngFor="let department of departmentList"
                                                            [value]="department.id">
                                                            {{department.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Process Type<span class="mandatory-field">*</span></label>
                                                    <select id="processTypeId" class="form-control fidelity-form-input"
                                                        formControlName="processTypeId">
                                                        <option value="" disabled>Select Process</option>
                                                        <option *ngFor="let processType of processTypeList"
                                                            [value]="processType.processTypeId">
                                                            {{processType.processTypeName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Process Description<span class="mandatory-field">*</span></label>
                                                    <input [validateInput]='stringConfig' id="processDescription"
                                                        class="form-control fidelity-form-input" type="text"
                                                        name="Process Description" placeholder="Enter Process Description"
                                                        formControlName="processDescription" />
                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="isEnableTransactionType">
                                                <div class="form-group">
                                                    <label>Transaction Type<span class="mandatory-field">*</span></label>
                                                    <select id="transactionTypeId" class="form-control fidelity-form-input"
                                                        formControlName="transactionTypeId">
                                                        <option value="" disabled>Select Transaction Type</option>
                                                        <option *ngFor="let transactionType of transactionTypeList"
                                                            [value]="transactionType.id">
                                                            {{transactionType.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Excessive DOA Period( In Days)<span
                                                            class="mandatory-field">*</span></label>
                                                    <input [validateInput]='isANumberOnly' id="excessiveDOAPeriod"
                                                        class="form-control fidelity-form-input" type="text"
                                                        name="Excessive DOA Period" placeholder="Enter Excessive DOA Period"
                                                        formControlName="excessiveDOAPeriod" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Excessive DOA Role<span class="mandatory-field">*</span></label>
                                                    <select id="excessiveDOARoleId" class="form-control fidelity-form-input"
                                                        formControlName="excessiveDOARoleId">
                                                        <option value="" disabled>Select DOA Role</option>
                                                        <option *ngFor="let excessiveDoa of excessiveDoaList"
                                                            [value]="excessiveDoa.id">
                                                            {{excessiveDoa.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Status<span class="mandatory-field">*</span></label>
                                                    <div>
                                                        <mat-radio-group formControlName="isActive">
                                                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                                Active
                                                            </mat-radio-button>
                                                            <mat-radio-button class="fidelity-radio-btn" [value]="false">
                                                                Inactive
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Escalation Type</label>
                                                    <div>
                                                        <mat-radio-group formControlName="isPercentage">
                                                            <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">
                                                                Percentage
                                                            </mat-radio-button>
                                                            <mat-radio-button class="fidelity-radio-btn" [value]="false">Value
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4" *ngIf="isEnableStockType">
                                                <div class="form-group">
                                                    <label>Stock Type</label>
                                                    <p-multiSelect [options]="stockTypeList" [defaultLabel]="'Select Stock Type'" formControlName="stockTypes" styleClass="w-100"></p-multiSelect>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </form>
                    </fieldset>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-10"></div>
                            <div class="col-2 text-right">
                                <div style="pointer-events: all;" class="d-flex justify-content-around align-items-center lead-stage-navigator lead-stage3-navigator"
                                    style="position: unset;">
                                    <button class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                        (click)="addLevels('add')" title="Add" matTooltip="Add" style="margin-top:-12px;position:absolute">
                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form customForm class="fidelity-popup-form"  [formGroup]="doaConfigLevelsForm">
                                <div class="ibox-body brown-border white-bg" >
                                    <div formArrayName="doaConfigLevels" >
                                        <mat-accordion>
                                            <mat-expansion-panel *ngFor="let level of doaConfigLevelsArray?.controls; let i = index" [formGroupName]="i">
                                                <mat-expansion-panel-header style="position:relative; text-decoration: underline;color: #166DFF;">
                                                    <span  (click)="addLevels('add',level)">Level: {{getDoaConfigLevelsFormArrayBasedFormGroup(this.doaConfigLevelsArray.controls[i]).get('level').value}}</span>
                                                    <span (click)="addLevels('add',level)">({{getDoaConfigLevelsFormArrayBasedFormGroup(this.doaConfigLevelsArray.controls[i])?.get('fromRange')?.value}}-{{getDoaConfigLevelsFormArrayBasedFormGroup(this.doaConfigLevelsArray.controls[i])?.get('toRange')?.value}})</span>
                                                    <label class="switch add-stack-status p-absolute doa-level-input-switch">
                                                        <input type="checkbox" formControlName="isActive" (change)="isLevelEnableDisable($event, level)">
                                                        <span class="slider round active"></span>
                                                    </label>
                                                </mat-expansion-panel-header>
                                                <div class="page-content fade-in-up">
                                                    <div class="ibox white-bg" style="height:auto !important">
                                                        <div class="custom-scroll1" style="overflow-x: auto;height: 35vh">
                                                        <!-- <p-scrollPanel [style]="{height: '35vh'}" styleClass="custom"> -->
                                                            <div class="ibox-body sm-form-grp">
                                                                    <div class="row">
                                                                        <div class="col-3">
                                                                            <div class="form-group">
                                                                                <label>Sub Level<span
                                                                                        class="mandatory-field">*</span></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                            <div class="form-group">
                                                                                <label>Escalation Role<span
                                                                                        class="mandatory-field">*</span></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                            <div class="form-group">
                                                                                <label>Escalation Time (Hours & Mins)
                                                                                  <!-- <span class="mandatory-field">*</span> -->
                                                                                      </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="" formArrayName="subLevels">
                                                                        <div class="row p-relative"  *ngFor="let detailControl of level?.get('subLevels')['controls']; let j = index"
                                                                        [formGroupName]="j">
                                                                            <div class="col-3" >
                                                                                <div class="form-group">
                                                                                    <input name="Sub level" #input
                                                                                        [validateInput]="isANumberOnly"
                                                                                        class="form-control fidelity-form-input"
                                                                                        type="text"
                                                                                        [maxlength]="formConfigs.maxLengthFifty"
                                                                                        formControlName="subLevel" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3" *ngIf="!detailControl.get('doaConfigEscalationSubLevelId')?.value">
                                                                                <div class="form-group">
                                                                                    <p-multiSelect appendTo="body" [defaultLabel]="'Select Role'" autoWidth="false"
                                                                                        [style]="{'width':'100%'}" [options]="roleList"
                                                                                        formControlName="escalationRoleId">
                                                                                    </p-multiSelect>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3" *ngIf="detailControl.get('doaConfigEscalationSubLevelId')?.value && detailControl.get('subLevel')?.enabled">
                                                                                <div class="form-group">
                                                                                    <p-dropdown formControlName="escalationRoleId" id="escalationRoleId"
                                                                                        name="escalationRoleId" appendTo="body" [options]="roleUpdateList"
                                                                                        emptyFilterMessage="No Role Exists" [filter]="true"
                                                                                        placeholder="Select Role" [style]="{'width':'100%'}"
                                                                                        [showClear]="false">
                                                                                    </p-dropdown>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3" *ngIf="detailControl.get('doaConfigEscalationSubLevelId')?.value && detailControl.get('subLevel')?.disabled">
                                                                                <div class="form-group">
                                                                                    <input name="roleName{{j}}" #input
                                                                                        class="form-control fidelity-form-input"
                                                                                        type="text" formControlName="roleName"/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="form-group">
                                                                                    <input name="Escalation Time" formControlName="escalationTimehoursMinutes" class="form-control fidelity-form-input"
                                                                                        type="text" [validateInput]='isANumberWithColon'  maxLength="6"
                                                                                        placeholder="(e.x 3:30 )"/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-1 pl-0" *ngIf="detailControl.get('doaConfigEscalationSubLevelId')?.value">
                                                                                <label class="switch add-stack-status p-absolute doa-sub-level-input-switch">
                                                                                    <input type="checkbox" formControlName="isActive" (change)="isSubLevelEnableDisable($event, detailControl)">
                                                                                    <span class="slider round active"></span>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-2 p-0">
                                                                                <div class="float-left">
                                                                                    <a  matTooltip="Delete" id="delete_record"
                                                                                        class="delete-row ml-3 mr-5" (click)="removeSubLevel(i,j)">
                                                                                        <i aria-hidden="true" class="icon icon-delete"></i>
                                                                                    </a>
                                                                                    <a class="circle-edit-btn mr-5" matTooltip="Edit"
                                                                                        *ngIf="j>0 || detailControl.get('doaConfigEscalationSubLevelId')?.value"
                                                                                        (click)="editSubLevel(i,j)">
                                                                                        <i aria-hidden="true" class="icon icon-edit"></i>
                                                                                    </a>
                                                                                    <button *ngIf="j==0" type="button" style="top: 0px;left: -5px;"
                                                                                        class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon mr-2"
                                                                                        (click)="addNewDOAConfigSubLevelItem(i, j)" title="Add" matTooltip="Add">
                                                                                        <i aria-hidden="true" class="icon" data-icon="b"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="text-center mt-3">
                                                                        <button id="createCommProductBtn" type="submit" (click)="onSubLevelSubmit(level)"
                                                                            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                                                            id="add_skill_save_btn{{i}}">Save</button>
                                                                        <button type="button"
                                                                            class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="onCancelSubmit()">Cancel</button>
                                                                    </div>
                                                                <!-- </form> -->

                                                            </div>
                                                        <!-- </p-scrollPanel> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                    <div class="no-data-msg mt-2" *ngIf="doaConfigLevelsArray?.value?.length == 0">
                                        No data available
                                    </div>
                                </div>
                    </form>
                <!-- </p-scrollPanel> -->
                </div>
            </div>
</div>
<p-dialog styleClass="acknowledgeDialog" [maximizable]="false" [(visible)]="isOpenDialog" [responsive]="true"
    showEffect="fade" [resizable]="false" [modal]="true" [style]="{width: '950px'}">
    <p-header>
        Escalation {{doaConfigForm?.get('isPercentage').value ? 'Percentage' : 'Value'}}
    </p-header>
    <form class="fidelity-popup-form" [formGroup]="doaConfigLevelForm" (ngSubmit)="onSubmit()"
        style="font-size: 0.9rem!important;">
        <div>
            <!-- <div class="ibox"> -->
                <div class="custom-scroll1" style="overflow-x: hidden;overflow-y: auto;height: 12vh">
                <!-- <p-scrollPanel [style]="{height: '20vh'}" styleClass="custom"> -->
                    <div class="ibox-body brown-border white-bg">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>From<span class="mandatory-field">*</span></label>
                                    <input [validateInput]='isADecimalWithConfig' id="from_name" class="form-control fidelity-form-input"
                                        type="text" name="From" [maxlength]='5'
                                        *ngIf="doaConfigForm.get('isPercentage')?.value" placeholder="From" formControlName="fromRange" />
                                    <input [validateInput]='isADecimalOnly' id="from_name" *ngIf="!doaConfigForm.get('isPercentage')?.value"
                                        class="form-control fidelity-form-input" type="text" name="From" [maxlength]='10'
                                        placeholder="From" formControlName="fromRange" />
                                        <span class="text-danger"
                                        *ngIf="doaConfigLevelForm?.get('fromRange')?.touched && doaConfigLevelForm?.get('fromRange')?.errors?.required">
                                        The From value may not be zero or empty
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="doaConfigLevelForm?.get('fromRange')?.touched && doaConfigLevelForm?.get('fromRange')?.errors?.max && !doaConfigLevelForm?.get('fromRange')?.errors?.lesserGreaterThan">
                                        The From value may contains only 6 dights integer values and two digit decimal value
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="doaConfigLevelForm?.get('fromRange')?.touched && doaConfigLevelForm?.get('fromRange')?.errors?.percentage && !doaConfigLevelForm?.get('fromRange')?.errors?.lesserGreaterThan">
                                        From is invalid
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="doaConfigLevelForm?.get('fromRange')?.touched && doaConfigLevelForm?.get('fromRange')?.errors?.lesserGreaterThan">
                                        <!-- From should be lesser than toRange -->
                                        The From value should be lesser than the To value
                                    </span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>To<span class="mandatory-field">*</span></label>
                                    <input [validateInput]='isADecimalWithConfig' id="to_name" class="form-control fidelity-form-input"
                                        type="text" name="To" placeholder="To" [maxlength]='5'
                                        *ngIf="doaConfigForm.get('isPercentage')?.value" formControlName="toRange" />
                                    <input [validateInput]='isADecimalOnly' id="to_name" *ngIf="!doaConfigForm.get('isPercentage')?.value"
                                        class="form-control fidelity-form-input" type="text" name="To" placeholder="To" [maxlength]='26'
                                        formControlName="toRange"/>
                                    <span class="text-danger"
                                        *ngIf="doaConfigLevelForm?.get('toRange')?.touched && doaConfigLevelForm?.get('toRange')?.errors?.required">
                                        The To value may not be zero or empty
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="doaConfigLevelForm?.get('toRange')?.touched && doaConfigLevelForm?.get('toRange')?.errors?.max && !doaConfigLevelForm?.get('toRange')?.errors?.lesserGreaterThan">
                                        The From value may contains only 23 dights integer values and two digit decimal value
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="doaConfigLevelForm?.get('toRange')?.touched && doaConfigLevelForm?.get('toRange')?.errors?.percentage && !doaConfigLevelForm?.get('toRange')?.errors?.lesserGreaterThan">
                                        To is invalid
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="doaConfigLevelForm?.get('toRange')?.touched && doaConfigLevelForm?.get('toRange')?.errors?.lesserGreaterThan">
                                        The To value should be higher than the From value
                                    </span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Level<span class="mandatory-field">*</span></label>
                                    <input id="level" class="form-control fidelity-form-input" type="text" name="Level"
                                        placeholder="Level" formControlName="level" [validateInput]="isANumberOnly"/>
                                    <span class="text-danger"
                                        *ngIf="doaConfigLevelForm?.get('level')?.touched && doaConfigLevelForm?.get('level')?.errors?.required">
                                        Level is required
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                <!-- </p-scrollPanel> -->
                </div>
            <!-- </div> -->
        </div>
        <div class="text-center mt-3">
            <button id="create_new_leads_btn" type="submit"
                class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3">Save</button>
            <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                (click)="addLevels('cancel')">Cancel</button>
        </div>
    </form>
</p-dialog>
