<div class="page-heading ">
    <h1 class="page-title d-inline-block">View ERB Bill Run Date Configuration</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Configuration </li>
        <li class="breadcrumb-item">Billing </li>
        <li class="breadcrumb-item"><a routerLink="/configuration/billing-configuration/" [queryParams]="{tab:9}"
            skipLocationChange> ERB Bill Run Date Configuration List</a></li>
        <li class="breadcrumb-item"><a>View ERB Bill Run Date Configuration</a></li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a  class="fidelity-btn-circle fidelity-white-btn">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit" (click)="NavigateToUpdate()"></i>
        </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="page-content fade-in-up">
    <div class="ibox view-box vbox-fw" >
        <p-scrollPanel [style]="{height: '60vh'}" styleClass="custom">
            <div class="">
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Financial Year</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{ErbBillRunDateDetails?.financialYear}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span id="" class="key">Division</span>
                            <span id="" class="value">
                                <span class="d-inline-block">{{ErbBillRunDateDetails?.divisionName}}</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row flex-nowrap children-row mb-1 mt-2" style="font-size: 1rem!important;">
                  <div class="col-2">Period No</div>
                  <div class="col-3">Financial Period</div>
                  <div class="col-2">ERB Occurance Month</div>
                  <div class="col-2">ERB Notification Date</div>
                  <div class="col-2">ERB Bill Run Date</div>
                  <div class="col-2">Document Date</div>
                  <div class="col-2">Post Date</div>
                  <div class="col-2">Initiate ERB Bill Run</div>
                </div>

                <div class="row flex-nowrap children-row mb-1" *ngFor="let item of ErbBillRunDateDetails.details" style="font-size: 1rem!important;">
                  <div class="col-2">
                    <div class="form-group">
                        <input-custom-control  [extraClassNames]="'disabled'"  [value]="item.periodNumber" ></input-custom-control>
                    </div>
                    <!-- <input type="text"  value="1" disabled /> -->
                </div>
                  <div class="col-3">
                    <div class="form-group">
                        <input-custom-control  [extraClassNames]="'disabled'" [value]="item.financialPeriod" ></input-custom-control>
                    </div>
                </div>
                    <!-- <input type="text"  value="1 Apr 2020 30 Apr 2020" disabled /></div> -->
                  <div class="col-2">
                    <div class="form-group">
                        <input-custom-control  [extraClassNames]="'disabled'"  [value]="item.erbOccurenceMonth" ></input-custom-control>
                    </div>
                </div>
                    <!-- <input type="text"  value="Apr 2020" disabled /></div> -->
                  <div class="col-2">
                    <div class="form-group">
                        <input-custom-control  [extraClassNames]="'disabled'"  [value]="item.notificationDate" ></input-custom-control>
                    </div>
                </div>
                    <!-- <input type="text"  value="1 Apr 2020" disabled /></div> -->
                  <div class="col-2">
                    <div class="form-group">
                        <input-custom-control  [extraClassNames]="'disabled'"  [value]="item.billRunDate" ></input-custom-control>
                    </div>
                </div>
                    <!-- <input type="text"  value="1 Apr 2020" disabled /></div> -->
                  <div class="col-2">
                    <div class="form-group">
                        <input-custom-control  [extraClassNames]="'disabled'"  [value]="item.documentDate" ></input-custom-control>
                    </div>
                    <!-- <input type="text"  value="1 Apr 2020" disabled /> -->
                    </div>
                  <div class="col-2">
                    <div class="form-group">
                        <input-custom-control  [extraClassNames]="'disabled'"  [value]="item.postDate" ></input-custom-control>
                    </div>
                </div>
                    <!-- <input type="text"  value="1 Apr 2020" disabled /></div> -->
                  <div class="col-2">
                    <span id="" class="value">
                        <span class="d-inline-block">{{item.automatic}}</span>
                    </span></div>
                </div>
                <!-- <div class="row mt-1" style="font-size: 1rem!important;">
                  <div class="col-1"><input type="text"  value="1" disabled /></div>
                  <div class="col-2"><input type="text"  value="1 Apr 2020 30 Apr 2020" disabled /></div>
                  <div class="col-2 p-0"><input type="text"  value="Apr 2020" disabled /></div>
                  <div class="col-2 p-0"><input type="text"  value="1 Apr 2020" disabled /></div>
                  <div class="col-2 p-0"><input type="text"  value="1 Apr 2020" disabled /></div>
                  <div class="col-1 pl-0"><input type="text"  value="1 Apr 2020" disabled /></div>
                  <div class="col-1 pr-0"><input type="text"  value="1 Apr 2020" disabled /></div>
                  <div class="col-1">Automatic</div>
                </div> -->
            </div>
        </p-scrollPanel>
    </div>
  </div>
