::ng-deep .leads-category-con {
    mat-form-field.mat-form-field {
        border: none!important;
    }

    .mat-form-field-infix .mat-select {
        padding: 8.2px 8px;
    }
}

::ng-deep .date-picker {
    mat-form-field.mat-form-field {
        border-radius: 7px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 9px 0!important;
    }
}