<div class="page-heading ">
    <h1 class="page-title no-border">Work flow Config</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <!-- <li class="breadcrumb-item">C</li> -->
        <li class="breadcrumb-item"><a (click)="navigateToList()"> Work flow config list </a></li>
        <li class="breadcrumb-item" *ngIf="workFlowConfigId"><a (click)="navigateToView()"> View Work flow config </a></li>
        <li class="breadcrumb-item"><a> {{ workFlowConfigId ? 'Update' : 'New'}} Workflow Config</a></li>
        <!-- <li class="breadcrumb-item"> System type </li>         -->
    </ol>
</div>
<div class="page-content fade-in-up">
    <form customForm [formGroup]="workFlowAddEditForm" (ngSubmit)="submit()">
        <div class="ibox space-saving-con white-bg" style="height: auto!important;">
            <div class="ibox-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Departments <span class="mandatory-field">*</span></label>
                            <select name="Departments" formControlName="departmentId"
                            class="form-control fidelity-form-input"
                            >
                            <option value="" disabled>Select Departments</option>
                            <option *ngFor="let ad of departmentList" [value]="ad.id">
                                {{ad.displayName}}
                            </option>
                        </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Workflow Name <span class="mandatory-field">*</span></label>
                            <select name="Workflow Name" formControlName="processTypeId"
                            class="form-control fidelity-form-input"
                            >
                            <option value="" disabled>Select Process Types</option>
                            <option *ngFor="let ad of processTypes" [value]="ad.processTypeId">
                                {{ad.processTypeName}}
                            </option>
                        </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Workflow Description <span class="mandatory-field">*</span></label>
                            <!-- <input name="Workflow Description" formControlName="processDescription" [validateInput]='stringConfig' class="form-control fidelity-form-input"
                            type="text" maxlength="255"
                            placeholder="Enter Process Description"/> -->
                            <textarea name="workflow Description" class="form-control fidelity-form-input" type="text" rows="2" [validateInput]='stringConfig' maxlength="255"
                              formControlName="processDescription"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Flow From </label>
                            <textarea class="form-control fidelity-form-input" type="text" rows="2" [validateInput]='stringConfig' maxlength="350"
                              formControlName="flowFrom"></textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Reminder Prior to Escalation</label>
                    <input name="Reminder Prior to Escalation" placeholder="(e.x 3:30 )" (input)="change()" maxLength="5"  formControlName="reminderPriorHoursMinutes" [validateInput]='isANumberWithColon' class="form-control fidelity-form-input"
                            type="text"
                            />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Fixed time for Action </label>
                                <p-calendar
                                formControlName="fixedTimeHoursMinutes"
                                [readonlyInput]="true"
                                [showTime]="true"
                                [timeOnly]="true"
                                styleClass="w-100"
                              ></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <label class="col-3">Status</label>
                            <div class="col-9 form-group">
                                <mat-radio-group formControlName="isActive" name="Active" class="form-control no-border">
                                    <mat-radio-button class="fidelity-radio-btn mr-3" [value]="true">Active</mat-radio-button>
                                    <mat-radio-button class="fidelity-radio-btn" [value]="false">Inactive</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-body">
                <div class="custom-scroll1" style="overflow-x: hidden;overflow-y: auto;height: 25vh">
                <!-- <p-scrollPanel [style]="{height: '25vh'}" styleClass="custom"> -->
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label>Level <span class="mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Escalation Role <span class="mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Escalation Time(Hours)<span class="mandatory-field">*</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="" formArrayName="escalationWorkflowConfigLevel"
                        *ngFor="let systemObj of workFlowAddEditForm?.get('escalationWorkflowConfigLevel')?.controls;let i=index">
                        <div class="row p-relative" [formGroupName]="i">
                            <div class="col-2">
                                <div class="form-group">
                                    <input name="Level" [validateInput]='numericConfig' (input)="onChange()" class="form-control fidelity-form-input"
                                    type="text" maxlength="2" formControlName="level"
                                    placeholder="Enter level"/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                <p-multiSelect appendTo="body" [defaultLabel]="'Select Roles'" autoWidth="true"
                                [style]="{'width':'100%'}" [options]="roles"
                                formControlName="escalationRoleIds">
                            </p-multiSelect>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                            <!-- <input [format]="24" [ngxTimepicker]="picker3" formControlName="escalationTimeHoursMinutes"
                            class="form-control fidelity-form-input time" placeholder="Select Time"
                            name="Start time">
                        <ngx-material-timepicker #picker3 >
                        </ngx-material-timepicker>   -->


                        <input name="Escalation Time" formControlName="escalationTimeHoursMinutes" class="form-control fidelity-form-input"
                                    type="text" [validateInput]='isANumberWithColon'  maxLength="5"
                                    placeholder="(e.x 3:30 )"/>
                                </div>
                            </div>
                            <div class="col-2">
                                <button *ngIf="i==0" type="submit" style="top: 0;right: 0;"
                                    class="circle-plus-btn fidelity-brown-ripple-btn fidelity-brown-btn add-icon"
                                    (click)="addSystemType()" title="Add" matTooltip="Add">
                                    <i aria-hidden="true" class="icon" data-icon="b"></i></button>
                                <button *ngIf="i!==0" type="button" class="circle-minus-btn"  matTooltip="Delete" id="delete_record" (click)="removeSystemType(i)">
                                    <i aria-hidden="true" class="icon icon-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                <!-- </p-scrollPanel> -->
                </div>
            </div>
            <div class="text-center mt-3">
                <button id="btn-item-price-param" type="submit" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity  btn-brown mr-3">{{workFlowConfigId ? 'Update' : 'Save'}}</button>
                <button id="cancel_new_leads_btn" type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-default" (click)="navigateToList()">Cancel</button>
            </div>
        </div>
    </form>
</div>
