<div class="page-heading ">
    <h1 class="page-title d-inline-block"> Stock Lookup </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a> Inventory Management </a>
        </li>
        <li class="breadcrumb-item">
            <a (click)="navigateToList()"> Job Selection </a>
        </li>
        <li class="breadcrumb-item">
            Stock Lookup
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2" *ngIf="selectedIndex == 4">

        <!-- <a  class="fidelity-btn-circle fidelity-white-btn" printSectionId="print-section" matTooltip="Print"
            ngxPrint (click)="stockLookupPrintAction()">
            <i class="icon icon-print" aria-hidden="true"></i>
        </a>  -->

        <button class="print-btn circle-plus-btn" style="top: 2px;" matTooltip="Print" (click)="printClick('second',refernce)"   (click)="stockLookupPrintAction('unchecked')">
            <i class="icon icon-print" aria-hidden="true"></i>
        </button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox view-box" style="height: auto;">
        <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
            <form class="fidelity-popup-form" customForm [formGroup]="jobSelectionStockLookUpForm">
                <div class="ibox-body">
                    <div class="row mt-1" *ngIf="selectedIndex == 0">
                        <div class="col-lg-4">
                            <div class="form-group p-relative picking-serial">
                                <label> Scan / Enter Stock Code </label>
                                <div class="input-group fidelity-input-addon mb-3">
                                    <input tabindex="-1" class="form-control fidelity-form-input" autofocus maxlength="50"
                                        placeholder="Scan/Enter" formControlName="itemcode">
                                    <div class="input-group-append">
                                        <button class="text-white" type="submit" (click)="getStockLookupDetails(selectedIndex)">
                                            <i aria-hidden="true" class="icon icon-scan"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="showItemCodeError">
                                    Stock code is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1" *ngIf="selectedIndex == 1">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center">
                                <button class="btn p-1 d-flex justify-content-center align-items-center" (click)="navigateToPreviousPage(1)">
                                    <i class="icon icon-angle-left"> </i>
                                </button>
                                <div class="page-sub-title ml-2"> Warehouse </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-4">
                                <div class="form-group fidelity-multiselect-dropdown-con">
                                    <mat-select-autocomplete ngDefaultControl
                                        [id]="'warehouseId'"
                                        [formControl]="jobSelectionStockLookUpForm?.controls['warehouseId']"
                                        [placeholder]="'Select Single/Multiple'"
                                        [options]="warehouseDropdown"
                                        [multiple]='true' [value]="'value'" [display]="'display'">
                                    </mat-select-autocomplete>
                                    <span class="text-danger"
                                        *ngIf="(jobSelectionStockLookUpForm?.get('warehouseId').touched && jobSelectionStockLookUpForm?.get('warehouseId').invalid)">
                                        Warehouse is required
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1" *ngIf="selectedIndex == 2">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center">
                                <button class="btn p-1 d-flex justify-content-center align-items-center" (click)="navigateToPreviousPage(2)">
                                    <i class="icon icon-angle-left"> </i>
                                </button>
                                <div class="page-sub-title ml-2"> Storage Location </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-4">
                                <div class="form-group fidelity-multiselect-dropdown-con">
                                    <mat-select-autocomplete ngDefaultControl
                                        [id]="'storageLocationId'"
                                        [formControl]="jobSelectionStockLookUpForm?.controls['storageLocationId']"
                                        [placeholder]="'Select Single/Multiple'"
                                        [options]="storageLocationList"
                                        [multiple]='true' [value]="'value'" [display]="'display'">
                                    </mat-select-autocomplete>
                                    <span class="text-danger"
                                        *ngIf="(jobSelectionStockLookUpForm?.get('storageLocationId').touched && jobSelectionStockLookUpForm?.get('storageLocationId').invalid)">
                                        Storage Location is required
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1" *ngIf="selectedIndex == 3">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center">
                                <button class="btn p-1 d-flex justify-content-center align-items-center" (click)="navigateToPreviousPage(3)">
                                    <i class="icon icon-angle-left"> </i>
                                </button>
                                <div class="page-sub-title ml-2"> Bin Location </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-4">
                                <div class="form-group fidelity-multiselect-dropdown-con">
                                    <mat-select-autocomplete ngDefaultControl
                                        [id]="'stockId'"
                                        [formControl]="jobSelectionStockLookUpForm?.controls['stockId']"
                                        [placeholder]="'Select Single/Multiple'"
                                        [options]="binLocationList"
                                        [multiple]='true' [value]="'value'" [display]="'display'">
                                    </mat-select-autocomplete>
                                    <span class="text-danger"
                                        *ngIf="(jobSelectionStockLookUpForm?.get('stockId').touched && jobSelectionStockLookUpForm?.get('stockId').invalid)">
                                        Bin Location is required
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1" *ngIf="selectedIndex == 4">
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key"> Stock Code </span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{ stockCodeValidateDetails?.stockCode ? stockCodeValidateDetails?.stockCode : '-'}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key"> Stock Description </span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">{{ stockCodeValidateDetails?.stockDescription ? stockCodeValidateDetails?.stockDescription : '-'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key"> Stock BarCode </span>
                                    <span id="" class="value">
                                        <span class="d-inline-block">
                                            {{stockBarCode ? stockBarCode : '-' }}
                                            <!-- {{ getallStockbinsDetails[0]?.storageLocationList[0]?.binList[0]?.serialNumber ?
                                            getallStockbinsDetails[0]?.storageLocationList[0]?.binList[0]?.serialNumber : '-'}} -->
                                            <!-- <button type="button" class="print-btn circle-plus-btn" (click)="openBarcodeModal(getallStockbinsDetails[0]?.storageLocationList[0]?.binList[0]?.serialNumber)"
                                                style="right: -5px;top: 1px;" matTooltip="Print">
                                                <i class="icon icon-print"></i>
                                            </button> -->
                                            <button class="print-btn circle-plus-btn" style="top: 2px;"  #divClick  id="printSectionID" printSectionId="print-section" hidden   matTooltip="Print" ngxPrint>
                                                <i class="icon icon-print" aria-hidden="true"></i>
                                            </button>
                                            <button class="print-btn circle-plus-btn" style="top: 2px;margin-left: 19px;" (click)="printClick('first',refernce)"   matTooltip="Print" >
                                                <i class="icon icon-print" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="no-records-found" *ngIf="getallStockbinsDetails?.length === 0">
                                    <h4>No Records Found</h4>
                                </div>
                                <mat-accordion *ngIf="getallStockbinsDetails?.length > 0">
                                    <mat-expansion-panel *ngFor="let were of getallStockbinsDetails; let i=index"
                                    (opened)="panelOpenState = true;" (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                          <mat-panel-title class="col-12">
                                            <div class="col-10 page-sub-title"> {{were?.warehouse}} </div>
                                            <div class="col-2 page-sub-title"> {{were?.quantity}} </div>
                                        </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="mt-1">
                                            <mat-accordion *ngIf="were?.storageLocationList?.length > 0">
                                                <mat-expansion-panel *ngFor="let storage of were?.storageLocationList; let j=index"
                                                (opened)="panelOpenState = true;" (closed)="panelOpenState = false">
                                                    <mat-expansion-panel-header>
                                                      <mat-panel-title class="col-12">
                                                        <div class="col-10 page-sub-title"> {{storage?.storageLocation}} </div>
                                                        <div class="col-2 page-sub-title"> {{storage?.quantity}}  </div>
                                                      </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <div class="container-fluid p-relative warehouse-con">
                                                        <div class="row product-header-row mb-2">
                                                            <div class="col-1" *ngIf="!binLocationHide">
                                                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"
                                                                [(ngModel)]="storage['allBinChecked']" [ngModelOptions]="{standalone: true}"
                                                                (change)="checkAllCheckboxEvent($event.checked, i, j, 'bins')">
                                                                </mat-checkbox>
                                                            </div>
                                                            <div class="col-2" *ngIf="!binLocationHide"> Bin Location </div>
                                                            <div class="col-1" *ngIf="stockCodeValidateDetails?.isNotSerialized"> Qty </div>
                                                            <div class="col-1" *ngIf="!stockCodeValidateDetails?.isNotSerialized">
                                                                <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header"
                                                                [(ngModel)]="storage['allSerialChecked']" [ngModelOptions]="{standalone: true}"
                                                                (change)="checkAllCheckboxEvent($event.checked, i, j, 'serialNumber')">
                                                                </mat-checkbox>
                                                            </div>
                                                            <div class="col-2" *ngIf="!stockCodeValidateDetails?.isNotSerialized"> Serial Number </div>
                                                            <div class="col-2" *ngIf="!stockCodeValidateDetails?.isNotSerialized"> Expiry Date </div>
                                                        </div>
                                                        <div class="row children-row" *ngFor="let data of storage?.binList; let k=index">
                                                            <div class="col-1 d-flex justify-content-center align-items-start" *ngIf="!binLocationHide">
                                                                <div class="form-group">
                                                                    <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" (change)="stockLookupPrintAction('')"
                                                                    [(ngModel)]="data['binChecked']" [ngModelOptions]="{standalone: true}">
                                                                    </mat-checkbox>
                                                                </div>
                                                            </div>
                                                            <div class="col-2" *ngIf="!binLocationHide">
                                                                <div class="form-group">
                                                                    <input-custom-control [extraClassNames]="'disabled'" [value]="data.bincode" matTooltip="{{data.bincode}}"></input-custom-control>
                                                                </div>
                                                            </div>
                                                            <div class="col-1" *ngIf="stockCodeValidateDetails?.isNotSerialized">
                                                                <div class="form-group">
                                                                    <input-custom-control  [extraClassNames]="'disabled'" [value]="data.quantity" matTooltip="{{data.quantity}}"></input-custom-control>
                                                                </div>
                                                            </div>
                                                            <div class="col-1 d-flex justify-content-center align-items-start"
                                                                *ngIf="!stockCodeValidateDetails?.isNotSerialized">
                                                                <div class="form-group">
                                                                    <mat-checkbox class="fidelity-checkbox fidelity-checkbox-header" (change)="stockLookupPrintAction('')"
                                                                    [(ngModel)]="data['serialChecked']" [ngModelOptions]="{standalone: true}">
                                                                    </mat-checkbox>
                                                                </div>
                                                            </div>
                                                            <div class="col-2" *ngIf="!stockCodeValidateDetails?.isNotSerialized">
                                                                <div class="form-group">
                                                                    <input-custom-control  [extraClassNames]="'disabled'" [value]="data.serialNumber" matTooltip="{{data.serialNumber}}"></input-custom-control>
                                                                </div>
                                                            </div>
                                                            <div class="col-2" *ngIf="!stockCodeValidateDetails?.isNotSerialized">
                                                                <div class="form-group">
                                                                    <input class="fidelity-form-input form-control" type="text"  readonly
                                                                    [value]="data.expiryDate | date" matTooltip="{{data.expiryDate}}"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <button type="button" *ngIf="selectedIndex != 0" class="btn btn-md-fidelity fidelity-btn-brown mr-2" (click)="navigateToPreviousPage(selectedIndex)"> Previous </button>
                    <button type="submit" *ngIf="selectedIndex != 4" class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-2" (click)="getStockLookupDetails(selectedIndex)"> Next </button>
                    <button type="button" class="btn btn-md-fidelity fidelity-btn-grey mr-2" (click)="navigateToList()"> Cancel </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- single check -->
<!-- <div *ngIf="printStockCode.length > 0" [ngStyle]="{'visibility':'hidden' }">
    <app-barcode-printer [printcodes]="printStockCode" > </app-barcode-printer>
</div> -->

<!-- all check -->
<div *ngIf="commonCode?.length > 0" [ngStyle]="{'visibility':'hidden'}">
    <app-barcode-printer [printcodes]="commonCode"> </app-barcode-printer>
</div>
