
::ng-deep .date-field-custom p-calendar{
    span{
        width: 98% !important;
    }
}

.custom-checkbox-patrol{
    margin-left: 18px !important;  
}
.ml-18{
    margin-left: 18px;
}
mat-form-field.mat-form-field.run-time-field {
    border: none!important;
    padding-left: 0;
    
    ::ng-deep .mat-form-field-infix {
        padding-top: 0!important;
    }

    .mat-form-field-infix input {
      padding: 11px 5px!important;
      border-radius: 7px!important;
      border: 1px solid rgba(0, 0, 0, 0.15) !important;
    }
  
    .mat-form-field-infix input.is-invalid {
      border:  1px solid red !important;
    }
  
    ::ng-deep .mat-form-field-suffix  {
        top: 0px !important;
        right: 40px!important;
    }
  }
  .mat-select.ng-invalid.ng-touched{
    border: 1px solid #dc3545 !important;
}