.lss-registration-box {
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  height: 38px;
  line-height: 38px;
}

::ng-deep .fidelity-date-picker-con .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px 0 !important;

  .is-invalid {
    box-shadow: none!important;
  }
}
}
