<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body"
    cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form [formGroup]="processPaymentDialogForm" class="fidelity-popup-form" (ngSubmit)="onSubmitDialog()"
        style="font-size: 0.9rem!important;">
        <div>
            <div>
                <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                    <div class="view-box pr-3">
                        <div class="row mt-1">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Outstanding Balance</label>
                                    <input class="form-control fidelity-form-input" formControlName="balanceAmount" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Payment Method</label>
                                    <input class="form-control fidelity-form-input"
                                        formControlName="paymentMethodName" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Debtor Name and ID</label>
                                    <input class="form-control fidelity-form-input" formControlName="debtorName" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Payment Option<span class="mandatory-field">*</span> </label>
                                    <select class="form-control fidelity-form-input" formControlName="paymentOptionId">
                                        <option value="" disabled>Select Option </option>
                                        <option [value]="pay.paymentOptionId"
                                            *ngFor="let pay of config?.data?.static_result?.paymentOptions">
                                            {{pay.paymentOptionName}} </option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="processPaymentDialogForm?.get('paymentOptionId')?.touched && processPaymentDialogForm?.get('paymentOptionId')?.errors?.required">
                                        Please select Payment Option
                                    </span>
                                </div>
                            </div>
                            <div class="col-4">
                                <label>BDI reference number</label>
                                <input class="form-control fidelity-form-input" placeholder="BDI reference number"
                                    formControlName="bdiNumber" />
                            </div>
                            <div class="col-4">
                                <label>Account Holder Name</label>
                                <input class="form-control fidelity-form-input"
                                    placeholder="Account holder name/ Name on card"
                                    formControlName="accountHolderName" />
                            </div>
                        </div>
                        <app-page-form-array [pageForm]="processPaymentDialogForm" [isShowNoData]="false"
                            [tabsList]="primengTableConfigProperties?.tableComponentConfigs?.tabsList"
                            [selectedIndex]="selectedTabIndex" [isLoading]="isLoading" [isSubmitted]="isSubmitted">
                        </app-page-form-array>
                        <div class="row mt-1">
                            <div class="col-4">
                                <label>Account Number</label>
                                <input class="form-control fidelity-form-input" placeholder="Account Number"
                                    formControlName="accountNo" />
                            </div>
                            <div class="col-4">
                                <label>Bank Name</label>
                                <input class="form-control fidelity-form-input" formControlName="bankName"
                                    placeholder="Select Bank" />
                            </div>
                            <div class="col-4">
                                <label>Bank Branch</label>
                                <input class="form-control fidelity-form-input" formControlName="bankBranchCode"
                                    placeholder="Select Branch code" />
                            </div>
                            <div class="col-4 d-flex justify-content-start align-items-end mt-2">
                                <div class="form-group d-flex justify-content-start align-items-center">
                                    <mat-checkbox class="fidelity-checkbox" formControlName="isPurchaseOrderExist">
                                        Purchase order
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="col-4 d-flex justify-content-start align-items-start mt-2 flex-column"
                                *ngIf="processPaymentDialogForm?.get('isPurchaseOrderExist')?.value">
                                <label class="d-block">PO Number<span class="mandatory-field">*</span></label>
                                <input class="form-control fidelity-form-input" placeholder="PO number"
                                    formControlName="purchaseOrderNo" />
                            </div>
                            <div [ngStyle]="{'pointer-events':processPaymentDialogForm?.get('isPurchaseOrderExist')?.value==true?'all':'none'}"
                                *ngIf="processPaymentDialogForm?.get('isPurchaseOrderExist')?.value"
                                class="col-4 fidelity-date-picker-con d-flex flex-column cust-banner-date-con mt-2">
                                <label class="d-block" for="">PO Date<span class="mandatory-field">*</span></label>
                                <p-calendar class="custom-class-for-p-calendar" [maxDate]="todayDate"
                                    formControlName="purchaseOrderDate" [style]="{'width':'80%'}">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-md-fidelity fidelity-btn-brown" type="submit"
                [disabled]="!processPaymentDialogForm?.valid || isSubmitted">Save</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey btn-default" type="button"
                (click)="btnCloseClick()">Cancel</button>
        </div>
    </form>
</div>
