<div class="page-heading ">
    <h1 class="page-title d-inline-block">{{alarmSystemModelCostTypeId ? 'Update': 'Create'}} Type of Sell</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a>Configuration</a>
        </li>
        <li class="breadcrumb-item">
            <a>Billing Configuration</a>
        </li>
        <li class="breadcrumb-item">
            <a>Purchase Of Alarm System</a>
        </li>
        <li class="breadcrumb-item" (click)="navigateToList()">
            <a>Type of Sell</a>
        </li>
        <li class="breadcrumb-item" (click)="navigateToView()" *ngIf="alarmSystemModelCostTypeId">
            <a>View Type of Sell</a>
        </li>
        <li class="breadcrumb-item">
            {{alarmSystemModelCostTypeId ? 'Update': 'Create'}} Type of Sell
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox white-bg" style="height: auto;">
                <p-scrollPanel [style]="{height: '65vh'}" styleClass="custom">
                    <div class="ibox-body">
                        <form customForm class="fidelity-popup-form" [formGroup]="alarmSystemModelCostForm"
                            (ngSubmit)="onSubmit()">

                            <div *ngIf="alarmSystemModelCostForm?.get('costToModelArray')?.controls?.length>0;">
                                <div class="row">
                                    <div class="col-2">
                                        <label>Region<span class="mandatory-field">*</span></label>
                                    </div>
                                    <div class="col-3">
                                        <label>Model<span class="mandatory-field">*</span></label>
                                    </div>
                                    <div class="col-3">
                                        <label>Type Of Cost<span class="mandatory-field">*</span></label>
                                    </div>
                                    <div class="col-2">
                                        <label>Amount<span class="mandatory-field">*</span></label>
                                    </div>
                                </div>

                                <div formArrayName="costToModelArray"
                                    *ngFor="let costToModel of alarmSystemModelCostForm?.get('costToModelArray')?.controls;let i=index">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col-2">
                                            <div class="form-group">
                                                <select class="form-control fidelity-form-input" name="Region"
                                                    formControlName="regionId">
                                                    <option value="" disabled>--Select Region--</option>
                                                    <option *ngFor="let region of costToModel.get('regions').value"
                                                        [value]="region.id">
                                                        {{region.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <select class="form-control fidelity-form-input" name="Model"
                                                    formControlName="alarmSystemModelTypeId">
                                                    <option value="null" disabled>--Select Model--</option>
                                                    <option *ngFor="let model of costToModel.get('models').value"
                                                        [value]="model.id">
                                                        {{model.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <select class="form-control fidelity-form-input" name="TypeOfCosts"
                                                    formControlName="alarmSystemCostTypeId">
                                                    <option value="null" disabled>--Select Type Of Cost--</option>
                                                    <option
                                                        *ngFor="let typeOfCost of costToModel.get('typeOfCosts').value"
                                                        [value]="typeOfCost.id">
                                                        {{typeOfCost.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <input class="form-control fidelity-form-input"
                                                    [validateInput]='isANumberWithHypen' type="text"
                                                    formControlName="amount" name="Amount" [minlength]="formConfigs.one"
                                                    [maxlength]="formConfigs.ten" />
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex">
                                            <button *ngIf="i===0" type="submit"
                                                class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn mr-2 add-icon"
                                                (click)="addCostToModel()" title="Add" matTooltip="Add">
                                                <i aria-hidden="true" class="icon" data-icon="b"></i></button>
                                            <a id="delete_record" *ngIf="i!==0 || costToModelArray.length>1"
                                                class="delete-row ml-1" (click)="removeCostToModel(i)" title="Delete"><i
                                                    aria-hidden="true" class="icon icon-delete"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="alarmSystemModelCostTypeId">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label>Region<span class="mandatory-field">*</span></label>
                                            <select class="form-control fidelity-form-input" name="Region"
                                                formControlName="regionId">
                                                <option value="" disabled>--Select Region--</option>
                                                <option *ngFor="let region of regions" [value]="region.id">
                                                    {{region.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Model<span class="mandatory-field">*</span></label>
                                            <select class="form-control fidelity-form-input" name="Model"
                                                formControlName="alarmSystemModelTypeId">
                                                <option value="null" disabled>--Select Model--</option>
                                                <option *ngFor="let model of models" [value]="model.id">
                                                    {{model.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Type Of Cost<span class="mandatory-field">*</span></label>
                                            <select class="form-control fidelity-form-input" name="TypeOfCosts"
                                                formControlName="alarmSystemCostTypeId">
                                                <option value="null" disabled>--Select Type Of Cost--</option>
                                                <option *ngFor="let typeOfCost of typeOfCosts" [value]="typeOfCost.id">
                                                    {{typeOfCost.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label>Amount<span class="mandatory-field">*</span></label>
                                            <input class="form-control fidelity-form-input" type="text"
                                                formControlName="amount" name="Amount" [minlength]="formConfigs.one"
                                                [maxlength]="formConfigs.ten" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button id="add_pricing_btn" type="submit"
                                    class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3"
                                    cdkFocusInitial>{{alarmSystemModelCostTypeId ? 'Update':'Save'}}</button>
                                <button id="cancel_pricing_btn" type="button" (click)="navigateToList()"
                                    class="btn btn-md-fidelity fidelity-btn-grey btn-default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</div>
