@import './../../../../../../variables.scss';

.key {
  display: inline-block;
  width: 38%;
  color: #8A8A8A;
  word-wrap: break-word;
}

.value {
  width: 62%;
  word-wrap: break-word;

  ::ng-deep .status-label-yellow.status-label {
    width: 32%;
    font-size: 0.8rem;
  }

  .doc-name {
    color: $fidelity-blue;
    background-color: $fidelity-grey2;
    border-radius: 7px;
    padding: 5px;
    display: inline;
    font-size: 1rem;
  }

  ::ng-deep button.circle-plus-btn.circle-edit-btn {
    border: 1px solid $fidelity-grey2;
    right: -4px;
    top: 0px;
    background-color: #fff !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 0.7rem;
    color: $fidelity-grey2;

    i {
      color: grey;
    }
  }

  .uploaded-file-con {

    ::ng-deep button.circle-minus-btn {
      right: 8px;
      top: 0px;
      background-color: #ed4a4a;
      width: 15px !important;
      height: 15px !important;
      font-size: 0.5rem;
    }
  }

  .custom-file-uploader {
    position: relative;
    background: #00644A;
    color: #fff;

    input[type='file'] {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  span {
    width: 100%;
    border: none;
    font-family: $fidelity-font-bold;
    font-size: 1.3rem;
  }
}

::ng-deep button.print-btn.circle-plus-btn {
  background-color: $fidelity-blue;
  width: 25px;
  height: 25px;
  color: #fff;
}

::ng-deep .mat-expansion-panel .mat-expansion-panel-header,
::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]) {
  background: rgba(0,0,0,.04);
}

.receipting-batches-con {
  .product-header-row {
    .col-1 {
      white-space: nowrap;
    }
  }
}

::ng-deep .date-picker {
  mat-form-field.mat-form-field {
    border-radius: 7px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 9px 0 !important;
  }
}

.sm-inputs {
  .form-group {
    width: 80%;
  }
}

.mat-form-field {
  border: none !important;
  padding: 0px 0;

  .mat-form-field-wrapper {
    padding: 0px !important;
    height: 100%;
  }

  .fidelity-form-input {
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    outline: none !important;
    padding: 9px 10.5px !important;
    border-radius: 7px !important;
    line-height: 20px !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    font-size: 1.25rem !important;
    font-family: "Calibri_Bold", sans-serif !important;
  }
}

mat-form-field.mat-form-field-invalid .fidelity-form-input {
  border-color: #dc3545 !important;
  box-shadow: 0 0 2px #dc3545 !important;
}

.model-color {
  color: dodgerblue;
  cursor: pointer;
}
