<div class="page-heading">
    <h1 class="page-title d-inline-block">View Row</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item"><a>Inventory Management: Warehouse Management</a></li>
        
        <li class="breadcrumb-item">  
            <a routerLink="/inventory/warehouse" [queryParams]="{tab:2}"> Shelf and Bin List  </a>
        </li>

        <li class="breadcrumb-item"> View Shelf and Bin </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right mt-2">
        <a routerLink="/inventory/warehouse/bin-management/shelf-bin/add-edit"
        [queryParams]="{locationRowId:locationRowId}"  class="fidelity-btn-circle fidelity-white-btn">
            <i aria-hidden="true" class="icon icon-edit" matTooltip="Edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">

            <div class="ibox white-bg" style="height: auto;">
                <div class="custom-scroll1" style="overflow-x: auto;height: 65vh">
                    <div class="ibox-body">
                        <div class="row mt-2">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Warehouse</span>
                                    <span id="" class="value">
                                            <span class="d-inline-block">{{shelfAndBinViewModel.warehouse}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Sub Location</span>
                                    <span id="" class="value">
                                            <span class="d-inline-block">{{shelfAndBinViewModel.subLocation}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Row Name</span>
                                    <span id="" class="value">
                                            <span class="d-inline-block">{{shelfAndBinViewModel.rowName}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <span id="" class="key">Row Code</span>
                                    <span id="" class="value">
                                            <span class="d-inline-block">{{shelfAndBinViewModel.rowCode}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 mt-2" *ngFor="let shelfObj of shelfAndBinViewModel?.shelfDetails;index as i;">
                                <label>{{shelfObj.shelfCode}}</label>
                                <div  class="bin-count-con d-flex bins-{{shelfObj?.binDetails?.length}}">
                                    <ng-container *ngIf="shelfObj?.binDetails?.length>0;else lengthZero">
                                        <div class="bin bin{{j+1}}" *ngFor="let binObj of shelfObj?.binDetails;index as j;">{{binObj.binCode}}</div>
                                    </ng-container>
                                    <ng-template #lengthZero>
                                        <div class="bin bin0"></div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>