<div class="page-heading ">
    <h1 class="page-title d-inline-block">View Manager's Approval</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            Configuration
        </li>
        <li class="breadcrumb-item">Out Of Office
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/out-of-office/request-approval'>Manager's Approval List</a>
        </li>
        <li class="breadcrumb-item">
            View {{outOfOfficeDetails?.requestNumber ? outOfOfficeDetails?.requestNumber : '--'}}
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right"
        *ngIf="outOfOfficeDetails?.status == 'Pending Approval' || outOfOfficeDetails?.status == 'Rejected'">
        <a class="fidelity-btn-circle fidelity-white-btn" matTooltip="Edit" (click)="edit()">
            <i aria-hidden="true" class="icon icon-edit"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox white-bg" style="height: 68vh !important">
      <p-scrollPanel [style]="{height: '68vh' }">
        <div class="ibox-body brown-border view-box">
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Requestor ID</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{outOfOfficeDetails?.requestNumber ?
                                outOfOfficeDetails?.requestNumber : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Employee ID </span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{outOfOfficeDetails?.employeeId ?
                                outOfOfficeDetails?.employeeId : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">

                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Employee Name </span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{outOfOfficeDetails?.employeeName ?
                                outOfOfficeDetails?.employeeName : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Request Period</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{outOfOfficeDetails?.fromDate ? (outOfOfficeDetails?.fromDate
                                | date) : '--'}}
                                to
                                {{outOfOfficeDetails?.toDate ? (outOfOfficeDetails?.toDate | date) :
                                '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">

                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Reason</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{outOfOfficeDetails?.reason ? outOfOfficeDetails?.reason :
                                '--'}}</span>
                        </span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Actioned By</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{outOfOfficeDetails?.actionedBy ?
                                outOfOfficeDetails?.actionedBy : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row mt-2">


                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Action Date</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{outOfOfficeDetails?.actionDate ?
                                (outOfOfficeDetails?.actionDate | date) : '--'}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Created On</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{outOfOfficeDetails?.createdDate ?
                                (outOfOfficeDetails?.createdDate | date) : '--'}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">




            </div>
            <div class="row mt-2">

                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Modified On</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{outOfOfficeDetails?.modifiedDate ?
                                (outOfOfficeDetails?.modifiedDate | date) : '--'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex">
                        <span id="" class="key">Status</span>
                        <span id="" class="">
                            <span class="d-inline-block">
                                <span class="status-label {{outOfOfficeDetails?.cssClass}}">
                                    {{outOfOfficeDetails?.status ? outOfOfficeDetails?.status : '--'}} </span>
                            </span>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="d-flex">
                        <span id="" class="key" style="    width: 18%;">Comments</span>
                        <span id="" class="value mb-3" style="    width: 81%;">
                            <p-scrollPanel [style]="{height: outOfOfficeDetails?.comments ? '40px' : '20px'}"
                                styleClass="custom">
                                <span class="d-inline-block">{{outOfOfficeDetails?.comments ?
                                    outOfOfficeDetails?.comments : '--'}}
                                </span>
                            </p-scrollPanel>
                        </span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex">
                        <span id="" class="key" style="    width: 18%;">Notes</span>
                        <span id="" class="value" style="    width: 81%;">
                            <p-scrollPanel [style]="{height: outOfOfficeDetails?.notes ? '40px' : '20px'}"
                                styleClass="custom">
                                <span class="d-inline-block">{{outOfOfficeDetails?.notes ? outOfOfficeDetails?.notes :
                                    '--'}}
                                </span>
                            </p-scrollPanel>

                        </span>
                    </div>
                </div>
            </div>



            <div class="" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-md-6">
                        <h5 style="color: #dc752d;">ROLES AND PERMISSIONS</h5>
                    </div>
                    <div class="col-md-6">
                        <h5 style="color: #dc752d;">NOMINEE</h5>
                    </div>
                </div>
                <div class="mat-elevation-z8" style="height: auto;">
                    <p-scrollPanel [style]="{height: '20vh'}" styleClass="custom">

                        <mat-tree [dataSource]="parsedData" [treeControl]="tc">
                            <mat-tree-node *matTreeNodeDef="let node;" matTreeNodeToggle>
                                <!-- <pre>{{ node | json }}</pre> -->
                                <li class="row" style="width: 100%;">
                                    <div class="col-12 tree-node">
                                        <div class="col-5" style="float: left;">
                                            <button id="single-{{node.displayName}}" mat-icon-button disabled>
                                                <mat-icon>
                                                </mat-icon>
                                            </button>
                                            {{node.displayName}}
                                        </div>
                                        <div class="col-5" style="float: left;">
                                            <div class="form-group">
                                                <input type="text" value="{{node.nomineeName}}"
                                                    placeholder="Select Nominee" style="position: relative;"
                                                    class="form-control fidelity-form-input" readonly>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </mat-tree-node>

                            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">

                                <li class="row" style="width: 100%;">
                                    <div class="col-12 tree-node">
                                        <div class="col-5" style="float: left;">
                                            <button id="nested-{{node.displayName}}" mat-icon-button matTreeNodeToggle>
                                                <span class="font-icon"
                                                    [className]="tc.isExpanded(node)?'fa fa-caret-down' : 'fa fa-caret-right' "></span>
                                            </button> {{node.displayName}}
                                        </div>
                                        <div class="col-5" style="float: left;">
                                            <div class="form-group">

                                                <input type="text" value="{{node.nomineeName}}"
                                                    placeholder="Select Nominee" style="position: relative;"
                                                    class="form-control fidelity-form-input" readonly>

                                            </div>
                                        </div>


                                    </div>
                                    <ul [hidden]="!tc.isExpanded(node)">
                                        <ng-container matTreeNodeOutlet></ng-container>
                                    </ul>
                                </li>
                            </mat-nested-tree-node>
                        </mat-tree>
                        <div class="no-records-found" *ngIf="parsedData.length === 0">
                            <h4 class="text-muted"><i>No Records Found</i></h4>
                        </div>
                    </p-scrollPanel>

                </div>
            </div>
        </div>
      </p-scrollPanel>
    </div>
    <div class="text-center mt-3">
        <button id="cancel_new_leads_btn" type="button"
            class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" id="cancelSignalDecoderBtn"
            routerLink='/out-of-office/request-approval' [queryParams]="{tab:0}">Back</button>
    </div>
</div>
