<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body"
    cdkDragHandle>
    {{config?.header}}
    <button mat-icon-button class="close-button p-absolute" type="button" (click)="btnCloseClick()">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<div class="fdt-dialog-body">
    <form [formGroup]="dialogForm" customForm class="fidelity-popup-form" (ngSubmit)="onSubmitIncentiveDialog()"
        style="font-size: 0.9rem!important;">
        <div>
            <div [ngStyle]="{height: config?.data?.height}">
                <p-scrollPanel [style]="{height: '97%'}" styleClass="custom">
                    <div class="view-box pr-3">
                        <div class="row mt-1">
                            <ng-container *ngFor="let col of config?.data?.columns; let i=index">
                                <div [class]="col?.className" *ngIf="col.type == 'input_text'">
                                    <label class="d-block">{{col.displayName}}<span class="mandatory-field"
                                            *ngIf="col?.required">*</span></label>
                                    <span matTooltipClass="my-custom-tooltip"
                                        matTooltip="{{dialogForm.get(col.field).value}}"
                                        [matTooltipDisabled]="!col?.isTooltip">
                                        <input type="text" [name]="col.displayName" [id]="col.field"
                                            class="form-control fidelity-form-input" [formControlName]="col.field">
                                    </span>
                                </div>
                                <div [class]="col?.className" *ngIf="col.type == 'input_text_area'">
                                    <label class="d-block">{{col.displayName}}<span class="mandatory-field"
                                            *ngIf="col?.required">*</span></label>
                                    <textarea class="form-control fidelity-form-input" type="text" rows="4"
                                        [formControlName]="col.field" [name]="col.displayName" [id]="col.field"
                                        [maxlength]="col?.maxlength"></textarea>
                                </div>
                                <div [class]="col?.className" *ngIf="col.type == 'input_switch'">
                                    <label class="d-block mb-3">{{col.displayName}}<span class="mandatory-field"
                                            *ngIf="col?.required">*</span></label>
                                    <div class="form-group">
                                        <p-inputSwitch class="fidelity-toggle-btn" [formControlName]="col.field">
                                        </p-inputSwitch>
                                    </div>
                                </div>
                                <div [class]="col?.className" *ngIf="col.type == 'input_select'">
                                    <label class="d-block mb-3">{{col.displayName}}<span class="mandatory-field"
                                            *ngIf="col?.required">*</span></label>
                                    <div class="form-group">
                                        <select class="form-control fidelity-form-input" [formControlName]="col.field" [name]="col?.displayName">
                                            <option value="" disabled selected *ngIf="col?.isDefaultOpt">
                                                {{col?.defaultText}}</option>
                                            <option *ngFor="let item of col?.options;" [value]="item[col?.assignValue]">
                                                {{item[col?.displayValue]}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div [class]="col?.className" *ngIf="col.type == 'input_number'">
                                    <label class="d-block">{{col.displayName}}<span class="mandatory-field"
                                            *ngIf="col?.required">*</span></label>
                                    <input type="text" [name]="col.displayName" [id]="col.field"
                                        class="form-control fidelity-form-input" [validateInput]="col?.validateInput"
                                        [minlength]="col?.minlength ? col?.minlength : 1" [maxlength]="col?.maxlength"
                                        [formControlName]="col.field">
                                </div>
                                <div [class]="col?.className" *ngIf="col.type == 'input_date'">
                                    <label class="d-block">{{col.displayName}}<span class="mandatory-field"
                                            *ngIf="col?.required">*</span></label>
                                    <p-calendar [formControlName]="col.field" [style]="{'width':'100%'}"></p-calendar>
                                    <span class="text-danger"
                                        *ngIf="dialogForm?.get(col.field)?.touched && dialogForm?.get(col.field)?.errors?.required">
                                        Please select the {{col.displayName}}
                                    </span>
                                </div>
                                <div [class]="col?.className" *ngIf="col?.type == 'input_radio'">
                                    <div class="col-12 mb-2 p-0 font-16">{{col?.displayName}}<span
                                            class="mandatory-field" *ngIf="col?.required">*</span></div>
                                    <div class="col-12 p-0">
                                        <div class="form-group">
                                            <mat-radio-group [formControlName]="col?.field" [name]="col?.displayName"
                                                (change)="changeRadioButton($event, col)">
                                                <mat-radio-button class="fidelity-radio-btn mr-3" [value]="opt?.value"
                                                    *ngFor="let opt of col?.options">
                                                    {{opt?.displayName}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <span class="text-danger"
                                                *ngIf="dialogForm?.get(col.field)?.touched && dialogForm?.get(col.field)?.errors?.required">
                                                Please select the {{col.displayName}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="text-center">
                <button type="submit" pButton class="ui-button-success btn-fdt-submit mr-4"
                    [disabled]="!dialogForm?.valid || dialogSubmit"
                    [label]="buttonName? buttonName : 'Submit'"></button>
                <button (click)="btnCloseClick()" class="btn btn-md-fidelity fidelity-btn-grey btn-default"
                    type="button">Cancel</button>
            </div>
        </div>
    </form>
</div>
