    <div class="ui-g ui-fluid">
        <div  class="ui-g-12" style="padding: 16px;">
            <div class="img-con" style="text-align: center;">
                <img src="assets/img/icons/vehicle_dispatch.svg" />
            </div>
            <p style="margin-top: 10px;">The vehicle {{config?.data?.vehicleRegistrationNumber}} has already been dispached to:</p>
          
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <label for="">Address</label>
                </div>
            <div class="ui-g-6">
                <strong> {{config?.data?.subArea}}  </strong>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <label for="">Client</label>
            </div>
            <div class="ui-g-6">
                <strong> {{config?.data?.subArea}} </strong>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <label for="">OB Number</label>
            </div>
            <div class="ui-g-6">
                <strong> {{config?.data?.clusterConfigId}} </strong>
            </div>
        </div>

        </div>
    </div>
