<div class="page-content fade-in-up mt-3">
  <div class="ibox white-bg" style="height: auto !important; padding-bottom:10px ;">
    <div class="ibox-body brown-border p-relative" [style.height]="isViewMore ? '23vh' : '17vh'">
      <app-customer-header-info (emitViewMore)="emitViewMore($event)"></app-customer-header-info>
    </div>
  </div>
</div>
<div class="page-heading ">
  <h1 class="page-title no-border">Upgrade - Adjust Costing
  </h1>
</div>
<form action="" customForm [formGroup]="priceAdjustmentForm" class="space-saving-con" (ngSubmit)="submit()">
<p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
  <div class="page-content fade-in-up">
    <div class="ibox view-box">

      <div class="ibox service-agreement-con">
        <div class="ibox-body mt-3 p-relative" style="box-shadow: none!important;">

          <div class="row page-sub-title mt-2 mb-2">
            <div class="col-12">Services Discounts</div>
        </div>
          <div class="cost-custom-table">
            <table>
              <thead>
                <tr>
                  <th style="width:26%">Service Category</th>
                  <th class="text-center"style="width:7%">Fixed</th>
                  <th class="text-center" style="width:7%">%</th>
                  <th style="width:10%">Value</th>
                  <th style="width:10%">Sub Total</th>
                  <th style="width:10%">Disc Value</th>
                  <th style="width:10%">Adjusted Total</th>
                  <th style="width:10%">Vat</th>
                  <th style="width:10%">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr formArrayName="upgradeServiceAdjustCostingPostDTOs"
                *ngFor="let obj of priceAdjustmentForm?.get('upgradeServiceAdjustCostingPostDTOs')?.controls;let i=index">
                <ng-container  [formGroupName]="i">
                <td><span class="cost-td-values" style="font-size:12px">
                    {{obj.value.serviceCategoryName}} </span></td>
                <td class="text-center">
                  <p-radioButton [name]="i"  [value]="true"   formControlName="isDiscountAmount" (onClick)="changeServiceAmount(i)"  ></p-radioButton>
                </td>
                <td class="text-center">
                  <p-radioButton [name]="i" formControlName="isDiscountPercentage"
                  (onClick)="changeServicePercentage(i)" [value]="true"></p-radioButton>
                </td>
                <td>
                  <input
                  [disabled]="(obj.value.isDiscountAmount==false && obj.value.isDiscountPercentage ==false)"
                  class="form-control fidelity-form-input" style="padding:9px !important;width: 100%;border-radius: unset !important;" #input
                  [validateInput]='isADecimalOnly' (focusout)="getDoaConfig()"
                  (input)="onPercentageChanges(i,'service')"
                  formControlName="amount" type="text" />

                </td>
                <td><span class="cost-td-values">R {{obj.value.subTotal }}</span></td>
                <td><span class="cost-td-values"> R {{obj.value.discountAmount }}</span></td>
                <td><span class="cost-td-values">R {{obj.value.adjustedTotal}}</span></td>
                <td><span class="cost-td-values">R {{obj.value.vat}}</span></td>
                <td><span class="cost-td-values"> R {{obj.value.totalAmount }}</span></td>
              </ng-container>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- Discount Summary -->
          <div class="mt-4">
            <div class="page-heading">
              <h5 class="page-title no-border"> DISCOUNT SUMMARY</h5>
            </div>

            <div class="border-discount">
              <div class="row">
                <div class="col-9">Services </div>
                <div class="col-3 text-right">{{summaryData.amount}} </div>
                <div class="col-9">Percentage</div>
                <div class="col-3 text-right">{{summaryData.percentage}}</div>
              </div>
            </div>
          </div>

            <div class="mt-4">
              <div class="row">
                <div class="col-6"></div>
                <div class="col-6 text-right">DOA Approve Level &nbsp; &nbsp; <span class="btn btn-info btn-md-fidelity">{{doaDetails?.doaLevel?doaDetails?.doaLevel:'-'}}</span></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</p-scrollPanel>
<div class="text-center mt-2">
  <button type="submit" [disabled]="!isAppliedDiscount || canEdit ==false"
     class="btn btn-md-fidelity fidelity-btn-brown ">Process Discount</button>
  <button type="button" class="btn btn-md-fidelity fidelity-btn-grey" (click)="goBack()">Back</button>
</div>
</form>
