<div class="fidelity-popup-heading container-fluid p-relative">{{outcomeReasonId?'Update':'Create'}} Decline Reason
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form" *ngIf="declinedReasonAddEditForm" customForm (ngSubmit)="onSubmit()" [formGroup]="declinedReasonAddEditForm">
    <mat-dialog-content>

        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label" >Decline Reason<span
                    class="mandatory-field">*</span></label>
            <div class="col-md-12">
                <input class="form-control fidelity-form-input"
                        name="Decline Reason" type="text" placeholder="Decline Reason"
                             [minlength]="formConfigs.minLengthTwo" 
                             [maxlength]="100" 
                             formControlName="outcomeReasonName"
                            />
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-12 col-form-label">Description</label>
            <div class="col-md-12">
                <textarea name="" class="form-control fidelity-form-input" rows="3" name="Note"
                formControlName="description" maxlength="500"></textarea>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-md-fidelity fidelity-btn-brown"  type="submit">Save</button>
        <button mat-button class="btn btn-md-fidelity fidelity-btn-grey" type="button" [mat-dialog-close]="true" >Cancel</button>
    </mat-dialog-actions>
</form>