<div class="page-heading ">
  <div class="page-heading ">
    <h1 class="page-title d-inline-block">Staff Registration</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a><i class="fa fa-home" aria-hidden="true"></i> </a>
      </li>
      <li class="breadcrumb-item">
        <a> Configuration</a>
      </li>
      <li class="breadcrumb-item">
        <a (click)="goBack()"> IT Management </a>
      </li>
      <li class="breadcrumb-item">
        {{roleMenuId?'Update':'Add'}} Staff Registration Module
      </li>
    </ol>
    <div class="clearfix"></div>
  </div>
  <div class="page-content fade-in-up">
    <div class="ibox view-box">
      <div class="ibox-body brown-border white-bg">

      <form customForm *ngIf="!roleMenuId" [formGroup]="moduleMappingForm">
        <div class="row p-relative" >
          <div class="col-3">
            <div class="form-group">
              <label>Role<span class="mandatory-field">*</span></label>
              <select [disabled]="roleMenuId" class="form-control fidelity-form-input" name="Role"
                formControlName="roleId">
                <option value="" disabled>Select Role</option>
                <option *ngFor="let role of rolesDropdown" [value]="role.roleID">
                  {{role.roleName}}</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group fidelity-multiselect-dropdown-con">
              <label class="col-form-label">Staff Registration Module<span
                  class="mandatory-field">*</span></label>
              <p-multiSelect appendTo="body" [filter]="true" [style]="{'width':'100%'}" [options]="modulesList" name="Staff Registration Module"
                [defaultLabel]="'Select Modules'" formControlName="menuId"></p-multiSelect>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>Description</label>
              <textarea rows="3" maxlength="500" class="form-control fidelity-form-input"
                formControlName="description" type="text" name="Description"></textarea>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label class="col-form-label">Status<span class="mandatory-field">*</span></label>
              <select class="form-control fidelity-form-input" name="Role" formControlName="isActive">
                <option value="">Select Status</option>
                <option *ngFor="let st of status" [value]="st.value">{{st.label}}</option>
              </select>
            </div>
          </div>
          <div class="col-1" >
            <!-- <button type="button" style="margin-top: 30px;"
              class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute mt-0" id="newLead_tbn"
              matTooltip="Add New" (click)="addItem()">
              <i aria-hidden="true" data-icon="b" class="icon"></i>
            </button> -->
            <a *ngIf="!roleMenuId"
            class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn p-absolute" style="margin-top:4.5vh !important"
            (click)="addItem()" title="add"><i aria-hidden="true" class="icon" data-icon="b"></i></a>
          </div>

        </div>
      </form>
      <form customForm [formGroup]="moduleMappingAddEditForm" (ngSubmit)="onSubmit()">
          <div class="tab-content">
            <div class="tab-pane fade show active">
              <p-scrollPanel [style]="{height: '50vh'}" styleClass="custom">
                <div formArrayName="rolesModuleMappings"
                  *ngFor="let rolesModuleMapping of moduleMappingAddEditForm?.get('rolesModuleMappings')?.controls;let i=index">
                  <div class="row p-relative" [formGroupName]="i">
                    <div class="col-3">
                      <div class="form-group">
                        <label>Role<span class="mandatory-field">*</span></label>
                        <select [disabled]="roleMenuId" class="form-control fidelity-form-input" name="Role"
                          formControlName="roleId">
                          <option value="" disabled>Select Role</option>
                          <option *ngFor="let role of rolesModuleMapping.get('roles').value" [value]="role.roleID">
                            {{role.roleName}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group fidelity-multiselect-dropdown-con">
                        <label class="col-form-label">Staff Registration Module<span
                            class="mandatory-field">*</span></label>
                        <p-multiSelect appendTo="body" [filter]="true" [style]="{'width':'100%'}" [options]="modulesList" name="Staff Registration Module"
                          [defaultLabel]="'Select Modules'" formControlName="menuId"></p-multiSelect>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label>Description</label>
                        <textarea rows="3" maxlength="500" class="form-control fidelity-form-input"
                          formControlName="description" type="text" name="Description"></textarea>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label class="col-form-label">Status<span class="mandatory-field">*</span></label>
                        <select class="form-control fidelity-form-input" name="Role" formControlName="isActive">
                          <option value="">Select Status</option>
                          <option *ngFor="let st of status" [value]="st.value">{{st.label}}</option>
                        </select>
                      </div>
                    </div>
                    <!-- <div class="col-1" *ngIf="!roleMenuId&&i==0">
                      <button type="submit" style="margin-top: 30px;"
                        class="fidelity-btn-circle fidelity-brown-ripple-btn fidelity-brown-btn" id="newLead_tbn"
                        matTooltip="Add New" (click)="addItem()">
                        <i aria-hidden="true" data-icon="b" class="icon"></i>
                      </button>
                    </div> -->
                    <div class="col-1" *ngIf="!roleMenuId">
                      <a style="margin-top: 30px" [ngStyle]="{'margin-left':i==0?'-40px':'0px'}"
                        class="fidelity-btn-circle delete-row" matTooltip="Delete" (click)="removeItem(i)">
                        <i aria-hidden="true" class="icon icon-delete"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </p-scrollPanel>
            </div>
          </div>
        <div class="text-center mt-4">
          <button class="btn btn-md-fidelity fidelity-btn-brown" [disabled]="getRolesModuleMappings.length ==0" >Save</button>
          <button class="btn btn-md-fidelity fidelity-btn-grey" type="button" (click)="goBack()">Cancel</button>
        </div>
      </form>
      </div>
    </div>
  </div>
