
.add-icon-margin{
  margin-top: 30%;
}
.delete-icon-margin{
  display: flex;
  margin-top:4px;
}

::ng-deep p-multiselect {
  .ui-multiselect{
  width: 100% !important;
    margin-top: 0px !important;
    padding: 3px !important;
    border: 1px solid #c8c8c8 !important;
    border-radius: 5px !important;
}
}
::ng-deep mat-select-autocomplete .mat-form-field {
  border: none!important;
}
::ng-deep mat-select-autocomplete .mat-form-field {
  mat-select{
  padding: 7px!important;
  background: #fff;
    border-radius: 10px;
  }
}
