<div class="fidelity-popup-heading container-fluid p-relative" cdkDrag cdkDragRootElement=".ui-dialog.ui-dynamicdialog" cdkDragBoundary=".fidelity-app-body" cdkDragHandle>History Stack
    <button mat-icon-button class="close-button p-absolute" type="button" (click)='cancelDialog()' >
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>

<!-- <mat-dialog-content> -->
        <form *ngIf='stackWinelandsModalForm' class="fidelity-popup-form p-5 m-5" customForm
            [formGroup]="stackWinelandsModalForm" (ngSubmit)="onSubmit()" style="width: 942px;">
            <div class="row">
                <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                    <div class="form-group">
                        <label>From Date and Time<span class="mandatory-field">*</span></label>
                        <p-calendar [showTime]="true"  [minDate]="todayDate"  class="custom-class-for-p-calendar"
                            name="todayDate" [readonlyInput]="false" [showIcon]="true"
                            dataType="string" [style]="{'width':'100%'}"
                            formControlName="fromDate" (onSelect)="onFromDateChange($event)">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-4 fidelity-date-picker-con p-relative cust-banner-date-con">
                    <div class="form-group">
                        <label>Till Date and Time<span class="mandatory-field">*</span></label>
                        <p-calendar [showTime]="true"    class="custom-class-for-p-calendar"
                            name="toDate" [minDate]="minDateTODate1" [readonlyInput]="false" [showIcon]="true"
                            dataType="string" [style]="{'width':'100%'}"
                            formControlName="toDate">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Stack<span class="mandatory-field">*</span></label>
                        <select id="divsion" class="form-control fidelity-form-input" name="Stack"
                            placeholder="Select Stack" formControlName="stackConfigId">
                            <option value="" disabled>Select Stack</option>
                            <option *ngFor="let stack of stackDropDown" [value]="stack.id">
                                {{stack.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Area<span class="mandatory-field">*</span></label>
                        <select id="divsion1" class="form-control fidelity-form-input" name="Stack"
                            placeholder="Select Stack" formControlName="stackAreaConfigId">
                            <option value="" disabled>Select Stack</option>
                            <option *ngFor="let stack of areaDropDown" [value]="stack.id">
                                {{stack.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4" style="margin-top: 40px;">
                    <div class="form-group">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button class="fidelity-radio-btn" [value]="true">
                                Operator
                            </mat-radio-button>
                            <mat-radio-button class="fidelity-radio-btn" [value]="false" ml-4 style="margin-left:50px">
                                Dispatcher
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Site ID</label>
                        <select id="siteid" class="form-control fidelity-form-input" name="Site ID"
                            placeholder="Select Site ID">
                            <option value="" disabled>Select Site ID</option>
                            <option *ngFor="let stack of siteIdDropDown" [value]="stack.id">
                                {{stack.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>OB Number</label>
                        <input class="form-control fidelity-form-input" type="text" placeholder="Enter OB Number">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Source</label>
                        <select id="source" class="form-control fidelity-form-input" name="Source"
                            placeholder="Select Source">
                            <option value="" disabled>Select Source</option>
                            <option *ngFor="let stack of sourceDropDown" [value]="stack.id">
                                {{stack.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <br>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="text-center">
                    <button type="submit" class="btn btn-md-fidelity fidelity-btn-brown mr-4">Filter</button>
                    <button (click)="cancelDialog()" type="button"
                        class="btn btn-md-fidelity fidelity-btn-grey btn-default">No</button>
                </div>
            </div>
        </form>

<!-- </mat-dialog-content> -->
