<app-popup-loader></app-popup-loader>
<form  class="fidelity-popup-form" customForm *ngIf="cameraInfoForm" [formGroup]="cameraInfoForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12">
    <div class="form-group">

      <label>Camera Name<span class="mandatory-field">*</span></label>
        <input type="text" name="Camera Name" formControlName="cameraProfileName"
          class="form-control fidelity-form-input">

    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label>Location<span class="mandatory-field">*</span></label>
        <input type="text" name="location" formControlName="location" class="form-control fidelity-form-input">
    </div>
  </div>
  <div class="col-12">

    <label>Coordinates<span class="mandatory-field">*</span></label>
      <div class="form-group">
        <input type="text" name="Coordinates" formControlName="latLong" class="form-control fidelity-form-input">
    </div>
  </div>

  </div>
  <div class="text-center">
    <div class="text-center mt-4">
      <button type="button"
          class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" (click)="enableForm()" *ngIf="isDisable">Edit</button>
      <button type="submit"
          class="btn btn-md-fidelity fidelity-btn-brown btn-md-fidelity btn-brown mr-3" *ngIf="!isDisable">Save</button>
      <button type="button" class="btn btn-md-fidelity fidelity-btn-grey btn-md-fidelity btn-grey mr-3" (click)="dialogClose()">Cancel</button>
      <button type="button" class="btn btn-md-fidelity fidelity-btn-danger  btn-danger mr-3" *ngIf="cameraProfileId" (click)="deleteData()"> Delete</button>
    </div>
  </div>
</form>
