<div class="fidelity-popup-heading container-fluid p-relative">Capture Partitions
    <button mat-icon-button class="close-button p-absolute" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="#fff">close</mat-icon>
    </button>
</div>
<app-popup-loader></app-popup-loader>
<form class="fidelity-popup-form lead-services-form"
    *ngIf="partitionCreationForm&&partitionCreationForm?.get('partitions')?.controls.length>0" customForm
    [formGroup]="partitionCreationForm" (ngSubmit)="onSubmit()">
    <p-scrollPanel [style]="{height: '40vh'}" styleClass="custom">
        <div class="row header-row mb-2">
            <div class="col-2">Pay for</div>
            <div class="col-3">Partition Code</div>
            <div class="col-2">Serial Number</div>
            <div class="col-4">Partition Name</div>
            <div class="col-1"></div>
        </div>
        <div formArrayName="partitions"
            *ngFor="let partition of partitionCreationForm?.get('partitions')?.controls;let i=index">
            <div class="row children-row mb-1" [formGroupName]="i">
                <div class="col-2">
                    <mat-checkbox (change)="onChange()" formControlName="isChecked"
                        class="fidelity-checkbox fidelity-checkbox-header mr-3"></mat-checkbox>
                </div>
                <div class="col-3">
                    <input-custom-control formControlName="partitionCode">
                    </input-custom-control>
                </div>
                <div class="col-2">
                    <input disabled formControlName="serialNumber" class="form-control fidelity-form-input">
                </div>
                <div class="col-4">
                    <input type="text" [maxlength]="formConfigs.fifty"
                        (keyup)="onFormControlChanges('partitionName',partitionsArray,'partitions',i)"
                        (blur)="onBlur('partitionName',partitionsArray,$event,i)" #input
                        [validateInput]="alphaNumericConfig" formControlName="partitionName"
                        class="form-control fidelity-form-input">
                </div>
                <div *ngIf="i>1" class="col-1">
                    <button class="circle-minus-btn" type="button" (click)="removePartition(i)">
                        <i class="icon icon-delete"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="text-center mt-4 mb-2">
            <button class="btn btn-md-fidelity fidelity-btn-brown" [disabled]="allValidAndDisabledArrayValuesLength==0"
                type="submit">{{partitionData.primaryLeadId ? 'Update': 'Save'}}</button>
            <button class="btn btn-md-fidelity fidelity-btn-grey" [mat-dialog-close]="true">Cancel</button>
        </div>
    </p-scrollPanel>    
</form>

<style>
    .cdk-overlay-pane ng-component {
        position: absolute !important;
        bottom: 0px !important;
    }
    ::ng-deep .cdk-overlay-pane{
        width: 750px !important;
    }
</style>