<div class="page-heading">
    <h1 class="page-title">Trouble Shoot Alarm</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Self Help Portal</li>
        <li class="breadcrumb-item"><a routerLink='/customer/manage-customers/trouble-shoot-system' [queryParams]="getQueryParams()">Trouble Shoot System</a></li>
        <li class="breadcrumb-item"><a>Trouble Shoot Alarm</a></li>
    </ol>
    <div class="clearfix"></div>
</div>
<div class="page-content fade-in-up">
    <div class="ibox fidelity-grid-box" style="height: auto;">
        <p-scrollPanel [style]="{ height: '65vh'}">
            <div class="ibox-body">
                <div class="container-fluid">
                    <div class="col-12 mt-3">
                        <ng-container>
                           
                                <table style="width: 50%" class="fidelity-table mt-2 service-table">
                                    <thead>
                                        <th>Select Fault Description</th>
                                        <th>Estimated Time of Completion</th>
                                    </thead>
                                    <tbody>
                                       
                                        <ng-container *ngFor="let alarm of troubleShootAlarmList;index as i">
                                            <tr>
                                               
                                                <a (click)="redirectToQuetionAnswer(alarm)"
                                                   >
                                                   <td>{{alarm.faultDescriptionName}}</td>
                                                </a>
                                                <td>{{alarm.estimatedTimeMin}}</td>
                                                

                                            </tr>
                                        </ng-container> 
                                    </tbody>
                                </table>
                
                        </ng-container>
                    </div>

                    </div>                      
            </div>
            <app-trouble-shoot-footer [customerId]="customerId" [customerAddressId]="customerAddressId" [initiationId]="initiationId" [callType]="callType"></app-trouble-shoot-footer>
        </p-scrollPanel>
    </div>
</div>