<div class="page-heading">
    <h1 class="page-title">Trouble Shoot Alarm</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i aria-hidden="true" class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item">Self Help Portal</li>
        <li class="breadcrumb-item"><a routerLink='/customer/manage-customers/trouble-shoot-system' [queryParams]="getQueryParams()">Trouble Shoot System</a></li>
        <!-- <li class="breadcrumb-item"><a (click)="redirectToFaultDesc()">Trouble Shoot Alarm</a></li> -->
        <li class="breadcrumb-item"><a>Trouble Shoot Alarm</a></li>
    </ol>
    <div class="clearfix"></div>
</div>
<h1 class="page-sub-title ext-padd mt-3">Estimated time for completion: {{levelContent?.estimatedTimeMin}} mins</h1>
<div class="page-content fade-in-up">
    <div class="ibox fidelity-grid-box" style="height: auto;">
        <p-scrollPanel [style]="{ height: '65vh'}">
            <div class="ibox-body">
                <div class="container-fluid">
                    <div class="col-12 mt-3">
                        <ng-container *ngIf="isLevelContent">
                            <table style="width: 50%" class="fidelity-table mt-2 service-table">
                                <thead>
                                    <th>{{levelContent?.question}}</th>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let content of levelContent?.content;index as i">
                                        <tr>
                                            <a (click)="levelContentClick(content)">
                                                <td>{{content.questionOptions}}</td>
                                            </a>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                        </ng-container>
                    <ng-container *ngIf="isAnswer">
                        <p>Try the following solution</p>
                        <h1 class="page-sub-title ext-padd mt-3">{{solutionContent?.solution}}</h1>
                        <table style="width: 50%" class="fidelity-table mt-2 service-table">
                            <thead>
                               <th>{{defaultQuetion}}</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <a (click)="answerClick('Yes', solutionObj)">
                                        <td>Yes</td>
                                    </a>
                                </tr>
                                <tr>
                                    <a (click)="answerClick('No', solutionObj)">
                                        <td>No</td>
                                    </a>
                                </tr>

                            </tbody>
                        </table>
                    </ng-container>
                    <ng-container *ngIf="isDefaultQuestion2">
                        <table style="width: 50%" class="fidelity-table mt-2 service-table">
                            <thead>
                               <th>{{defaultQuestion2}}</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <a (click)="defaultQuestion2Click(defaultQuestion2yesContent)">
                                        <td>Yes</td>
                                    </a>
                                </tr>
                                <tr>
                                    <a (click)="defaultQuestion2Click(defaultQuestion2noContent)">
                                        <td>No</td>
                                    </a>
                                </tr>

                            </tbody>
                        </table>
                </ng-container>
                    </div>
                </div>
            </div>
            <h1 class="page-sub-title ext-padd mt-3">Time left for completion: {{levelContent?.estimatedTimeMin - diffMins}} mins</h1>
            <h1 class="page-sub-title ext-padd mt-3">Completion Time: {{diffMins}} mins</h1>
            <app-trouble-shoot-footer [customerId]="customerId" [customerAddressId]="customerAddressId" [initiationId]="initiationId" [callType]="callType"></app-trouble-shoot-footer>
        </p-scrollPanel>
    </div>
</div>