<div class="page-heading ">
    <h1 class="page-title d-inline-block">User Ranking </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink='/event-management/supervisor-dashboard'>Supervisor Dashboard

            </a>
        </li>
        <li class="breadcrumb-item">
            <a  (click)='navigateHourly()'> Hourly
                Stats </a>
        </li>
        <li class="breadcrumb-item">
            User Ranking
        </li>
    </ol>
    <div class="grid-icons-con  customer-info-btns float-right">

        <a (click)="getLongPhoneBackTimes();"
            class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
            matTooltip="Refresh">
            <i aria-hidden="true" class="icon icon-refresh-2"></i>
        </a>


        <a class="fidelity-btn-circle fidelity-white-btn fidelity-delete-btn fidelity-white-ripple-btn"
            matTooltip="Logged In" (click)='exportExcel()'>
            <i aria-hidden="true" class="icon icon-logaway"></i>
        </a>

    </div>
    <div class="clearfix"></div>
</div>
<div class="col-12 mt-2">
    <h1 class="page-sub-title ext-padd mt-3">Hourly Stats</h1>

</div>
<div class="page-content fade-in-up">
    <div class=" white-bg" style="padding: 12px;">
        <div class="ibox-body brown-border">
            <div class="row mt-2">
                <div class="col-lg-4">
                    <div class="d-flex">
                        <span id="" class="key">Division</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{filterData?.divisionName ? filterData?.divisionName :
                                '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex">
                        <span id="" class="key">From</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{filterData?.fromDate ? (filterData?.fromDate |
                                date) : '-'}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex">
                        <span id="" class="key">To</span>
                        <span id="" class="value">
                            <span class="d-inline-block">{{filterData?.toDate ? (filterData?.toDate | date) : '-'}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 mt-2">
</div>
<hr>
<app-page-list-table [tabsList]="primengTableConfigProperties.tableComponentConfigs.tabsList"
    [selectedRows]="selectedRows" [loading]="loading" [dataList]="dataList" [pageLimit]="pageLimit"
    [selectedTabIndex]="selectedTabIndex" [totalRecords]="totalRecords"
    (onActionSubmited)="onActionSubmited($event)" (onSelectedRows)="onChangeSelecedRows($event)">
</app-page-list-table>
