
<div class="mat-dialog-container ng-tns-c5-4 ng-trigger ng-trigger-dialogContainer ng-star-inserted">
    <div class="fidelity-popup-heading container-fluid" style="cursor: all-scroll;">Address
        Basic Info</div>
    <!-- Add basic info dialog -->
    <app-popup-loader [isLoading]="isDialogLoaderLoading || isADependentDropdownSelectionChanged">
    </app-popup-loader>

    <form customForm [formGroup]="customerAddressAddEditForm" (ngSubmit)="SaveCustomerAddress()" class="fidelity-popup-form">
        <mat-dialog-content>
            <div class="p-4">
                    <div class="form-group row mb-2">
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="addressTypeId">Address Type <span
                                    class="mandatory-field">*</span></label>
                            <div class="col-md-12">
                                <select class="form-control fidelity-form-input" formControlName="addressTypeId">
                                    <option value="">-- Select AddressType --</option>
                                    <option *ngFor="let addressType of addressTypeList" [value]="addressType.id">
                                        {{addressType.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="addressTypeId">Set Default</label>
                            <div class="col-md-12">
                                <mat-checkbox id="addr_info_setDefault"
                                    class="fidelity-checkbox fidelity-checkbox-header" formControlName="isDefault">
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="buildingNumber">Building No</label>
                            <div class="col-md-12">
                                <input [validateInput]="isNmberOnly" id="addr_info_building_no"
                                    class="form-control fidelity-form-input"
                                    type="text" placeholder="Building No"
                                    [minlength]="formConfigs.one" [maxlength]="formConfigs.maxLengthTwenty" formControlName="buildingNumber"  />
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="buildingName">Building Name</label>
                            <div class="col-md-12">
                                <input validateInput id="addr_info_building_name"
                                    class="form-control fidelity-form-input" type="text"
                                    placeholder="Enter Building Name" [maxlength]="formConfigs.maxLengthHundred" formControlName="buildingName"
                                    />
                            </div>
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="streetNumber">Street No <span
                                    class="mandatory-field">*</span></label>
                            <div class="col-md-12">
                                <input [validateInput]="alphanumericConfig" id="addr_info_street_no"
                                    class="form-control fidelity-form-input" type="text" placeholder="Street No"
                                    [maxlength]="formConfigs.maxLengthTwenty" formControlName="streetNumber" />
                            </div>


                        </div>

                        <div class="col-6">
                                <label>Street Type<span class="mandatory-field">*</span></label>
                                <div class="col-md-12">
                                    <select name="Street Type" class="form-control fidelity-form-input"
                                        formControlName="streetTypeId">
                                        <option value="">-- Select Street Type --</option>
                                        <option *ngFor="let streetType of streetTypeList" [value]="streetType.id">
                                            {{streetType.displayName}}
                                        </option>
                                    </select>

                                </div>
                            </div>
                        
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="countryId">Country
                                <span class="mandatory-field">*</span>
                            </label>
                            <div class="col-md-12">
                                <select id="addr_info_country" class="form-control fidelity-form-input"
                                    formControlName="countryId" (change)="loadRegionsbyCountries(country.value);" #country >
                                    <option value="">-- Select Country --</option>
                                    <option *ngFor="let country of countryList"  [value]="country.id">
                                        {{country.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="provinceId">Province
                                <span class="mandatory-field">*</span>
                            </label>
                            <div class="col-md-12">
                                <select id="addr_info_province" class="form-control fidelity-form-input"
                                    formControlName="provinceId"
                                    (change)="loadCitiesbyProvinces(selectProvince.value);" #selectProvince>
                                    <option value="">-- Select Province --</option>
                                    <option *ngFor="let province of provinceList"  [value]="province.id">
                                        {{province.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="cityId">City <span
                                    class="mandatory-field">*</span></label>
                            <div class="col-md-12">
                                <select id="addr_info_city" class="form-control fidelity-form-input" data-val="true"
                                    formControlName="cityId" (change)="loadSuburbsbyCities(selectCity.value);" #selectCity>
                                    <option value="">-- Select City --</option>
                                    <option *ngFor="let city of cityList" [value]="city.id">
                                        {{city.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="suburbId">Suburb <span
                                    class="mandatory-field">*</span></label>
                            <div class="col-md-12">
                                <select id="addr_info_suburb" class="form-control fidelity-form-input"
                                    formControlName="suburbId">
                                    <option value="">-- Select Suburb --</option>
                                    <option *ngFor="let suburb of suburbList"  [value]="suburb.id">
                                        {{suburb.displayName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <label class="col-md-12 col-form-label" for="postalCode">Zipcode</label>
                            <div class="col-md-12">
                                <input id="addr_info_zipcode" validateInput class="form-control fidelity-form-input"
                                    type="text" placeholder="Enter Zipcode" formControlName="postalCode"
                                    (keypress)="numericOnly($event)"  [maxlength]="formConfigs.four" />
                            </div>
                        </div>

                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-6">

                        </div>
                        <div class="col-6">

                        </div>

                    </div>
                </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button id="create_addr_info_btn" class="btn btn-md-fidelity fidelity-btn-brown" mat-button type="button"
                type="submit">{{btnName}}</button>
            <button id="cancel_addr_info_btn" class="btn btn-md-fidelity fidelity-btn-grey" mat-button
                [mat-dialog-close]="true">Cancel</button>
        </mat-dialog-actions>
    </form>
</div>